/* forms */
input[type="checkbox"] {box-shadow: 1px 1px #005697;}
.main .table-checkbox table {display: inline;}
.main .table-checkbox table .instr {line-height: 0;}

/* typography */
h1 {color: unset;}
.main {font-size: 9px; color: #5f6f67;}
.main small {font-size: 8px;}
.main h1 {font-size: 18px;}
.main h4 {font-size: 12px;}
.main h5 {font-size: 10px; font-weight: normal;}
.main .label-11 {font-size: 11px;}
.main .sans, .main h1, h2, h3, h4 {font-family: times, sans-serif;}
.text-blue {color: #005697;}
.text-maize {color: #e58f1a; font-size: 12px; font-weight: bold;}

/* containers */
.form-stub {background: #005697; color: #fff; font-family: times, sans-serif; padding: 0 15px; font-size: 22px; color: #fff; margin-bottom: 0.5em;}
.vspace {margin-bottom: 0.5em;}
header {margin-bottom: 1em;}
.section-bar {border-bottom: 1em solid #005697; padding-bottom: 1em;}
.section-middle {padding: 0 10px 1em; font-size: 10px;}
.section-inner {border-bottom: 1px solid #005697; padding-bottom: 1em;}
.section-inner-dotted {border-bottom: 1px dotted #005697; padding-bottom: 1em;}
