/* typography */
.main h1 {font-size: 1.5em;}

/* container */
.vspace {margin-bottom: 1em;}
.wrapper-inner {padding: 5px 10px;}
.box {border: 2px solid #333;}

/* forms */
.main input[type="text"] {height: 1.5em;}

/* tables */
.table-checkbox > table {display: inline;}

/* lists */
ul > li {list-style-type: disc;}
