.main .box {border: 1px solid #333;}
.main .border-bottom {border-bottom: 1px solid #333;}
.main .border-top {border-top: 1px solid #333;}
.main .border-left {border-left: 1px solid #333;}
.main .border-right {border-right: 1px solid #333;}
.main .vertical-line {background: #333; width: 1px; float: left; height: 100%;}
.main section {margin: 2em;}
.main .notarization-block {border-top: 3px solid #333;}
.main .vspace {margin-bottom: 2em;}
.main .col-5, .main .col-10, .main .col-15, .main .col-20, .main .col-25, .main .col-30, .main .col-35, .main .col-40, .main .col-45 {display: inline-block; vertical-align: middle;}
.main .col-5 {width: 4%;}
.main .col-10 {width: 9%;}
.main .col-15 {width: 14%;}
.main .col-20 {width: 19%;}
.main .col-25 {width: 24%;}
.main .col-30 {width: 29%;}
.main .col-35 {width: 34%;}
.main .col-40 {width: 39%;}
.main .col-45 {width: 44%;}
.main .address-block {max-width: 230px; width: 100%;}
.main .lifesuite__text-input.hasDatepicker {width: 75% !important;}
input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox; margin-right: 5px;}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main .col-5, .main .col-10, .main .col-15, .main .col-20, .main .col-25, .main .col-30, .main .col-35, .main .col-40, .main .col-45 {width: 50%;}
}
@media screen and (max-width: 767px) {
    .main .form-title {font-size: 12px;}
    .main .border-left, .main .border-right, .main .border-bottom {border: none;}
    .main .col-5, .main .col-10, .main .col-15, .main .col-20, .main .col-25, .main .col-30, .main .col-35, .main .col-40, .main .col-45 {width: 100%;}
}
