.main h1, .main h2, .main h3, .main h4, .main p, .main small, .main {color: #333;}
.main section, .main p, .table {margin-bottom: 1em;}

/* tables */
.table thead tr th {padding: 5px;}
.table > tbody > tr > td {padding: 3px;}
.table > tbody > tr > td:first-child {width: 50%;}

/* global */
.vspace {margin-bottom: 2em;}

/* buttons */
.btn {padding: 8px 15px; appearance: none; box-shadow: none; border-radius: 0; border: none; color: #333; background:}
.btn:focus {outline: none;}
