main .vspace {margin-bottom: 1em;}
main .vspace-2 {margin-bottom: 2em;}
main .img-container {padding: 10px;}
main .box {border: 1px #333 solid;}
main .box-inner {border: 1px #333 solid; margin: 2px;}
main .border-bottom {border-bottom: 1px #333 solid;}
main .border-top {border-top: 1px #333 solid;}
main .border-right {border-right: 1px #333 solid;}
main .border-left {border-left: 1px #333 solid;}
main .indent-1 {text-indent: 1em;}
main .indent-2 {text-indent: 2em;}
main .radio-checkbox input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox;}
main .label-normal .instr label {font-weight: normal;}
main .vtop {vertical-align: top;}
main textarea, main input[type="text"] {width: 97%;}
main .inline-block {display: inline-block;}
main table, main table .instr {display: inline-block; vertical-align: middle;}
main table .instr input {margin-right: 4px;}
