main {font-size: 1.2em; color: #333;}
main .form-group label.control-label {margin-top: 5px; font-weight: bolder;}
main ul {list-style-type: disc; margin-left: 3em;}
main .list-aligned {margin-left: 1.5em;}
main .vspace {margin-bottom: 2em;}
main .vspace-1 {margin-bottom: 1em;}
main .form-group label.control-label.normal {font-weight: normal;}
main .inline-block {display: inline-block;}
main .instr input, main .instr label {margin-left: 2px; margin-right: 2px;}
main .vertical-top {vertical-align: top;}
main .vertical-middle {vertical-align: middle;}
main .vertical-bottom {vertical-align: bottom;}
main .help-block {color: #333;}
