main, main a:link {font-size: 11pt;}
main p {margin-bottom: 1.5em;}
main ol, main ul {margin-left: 2.5em;}
main ul li {list-style-type: disc; margin-bottom: 1em;}
main .text-indent {text-indent: 2em;}
main .mb-sm {margin-bottom: 1.5em;}
main .mb-md {margin-bottom: 2.5em;}
main .mb-lg {margin-bottom: 3.5em;}
main .mb-xl {margin-bottom: 4.5em;}
main .ml-md {margin-left: 2.5em;}
main .box {border: 1px solid #333;}
main .border-bottom {border-bottom: 1px solid #333;}
main .border-top {border-top: 1px solid #333;}
main .border-left {border-left: 1px solid #333;}
main .border-right {border-right: 1px solid #333;}
main .inner-padding {padding: 0.5em;}
