/* resets */
#tablePopup{width: 990px; margin: 0 auto;}
main {font-size: 10pt; color: #333;}
main a:link {font-size: 10pt;}
main table.table {padding: 0.5em;}
main .table .instr {border: none;}
main .table .instr label {margin: 0 0.3em;}

/* typography */
main p {margin-bottom: 10px;}
main .text-indent {text-indent: 2em;}

/* borders */
main table.table-bordered {border-collapse: collapse;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-40 {margin-bottom: 40px;}
