main, main p {font-size: 14px;}
main ul, main ol {margin-left: 1em;}
main li {margin-bottom: 5px;}
main .box {border: 1px #333 solid;}
main .b-left {border-left: 1px #333 solid;}
main .b-right {border-right: 1px #333 solid;}
main .b-top {border-top: 1px #333 solid;}
main .b-bottom {border-bottom: 1px #333 solid;}
main .bg-black, main .bg-black small {background: #333; color: #fff;}
main .bg-black h3 {margin: 0;}
main .mb-10 {margin-bottom: 10px;}
