main, main p {font-size: 14px;}
main ul, main ol {margin-left: 1em;}
main li {margin-bottom: 5px;}
main .list-indented {margin-left: 1.8em;}
main .box {border: 1px #333 solid;}
main .b-left {border-left: 1px #333 solid;}
main .b-right {border-right: 1px #333 solid;}
main .b-top {border-top: 1px #333 solid;}
main .b-bottom {border-bottom: 1px #333 solid;}
main .bg-black, main .bg-black small {background: #333; color: #fff;}
main .bg-grey {background: #dedede;}
main .bg-black h3 {margin: 0;}
main .mb-10 {margin-bottom: 10px;}
main .mb-30 {margin-bottom: 30px;}
main .mh-50 {min-height: 50px;}
main .mh-70 {min-height: 70px;}
main .mh-85 {min-height: 85px;}
main .mh-150 {min-height: 150px;}
main .textarea-across {position: relative;}
main .textarea-across textarea {position: absolute; top: 0; left: 0;}

@media only screen and (max-width: 767px) {
	main h3 {font-size: 90%;}
	main .mh-50, main .mh-70, main .mh-85, main .mh-150 {min-height: auto;}
	main .b-left, main .b-right {border-right: none; border-left: none;}
	main .mh-100-sm {min-height: 100px;}
}
