main {font-size: 11pt;}
main p {margin-bottom: 1.5em;}
main .mb-md {margin-bottom: 2em;}
main .mb-xl {margin-bottom: 3em;}
main .ml-xl {margin-left: 3em;}
main .vertical-middle {vertical-align: middle;}
main .col-50 {max-width: 50px; width: 100%;}
