main {font-size: 1.2em;}
main .vspace {margin-bottom: 1.3em;}
main .img-wrapper {max-width: 200px; width: 100%;}
main ol {margin-left: 1em;}
main ol.alpha-list {
    counter-reset: list;
}
main .vertical-top {vertical-align: top;}
main .vertical-bottom {vertical-align: bottom;}
main .vertical-middle {vertical-align: middle;}
main .inline-block {display: inline-block;}
main .col-5 {width: 5%;}
main .col-95 {width: 95%;}

@media only screen and (max-width: 767px) {
  main .col-5 {width: 10%;}
  main .col-95 {width: 90%;}
}
