/* resets */
.lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px; width: 100%; margin-left: auto; margin-right: auto;}
main {font-size: 14px; color: #444; font-family: "Open Sans", Arial, "Helvetica", "Helvetica Neue", sans-serif;}

/* borders */
main .box {border: 1px solid #333;}
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}

/* spacings */
main .padded {padding: 4px;}
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-40 {margin-bottom: 40px;}

@media only screen and (min-width: 768px) {
    main .b-left {border-left: 1px solid #333;}
    main .b-right {border-right: 1px solid #333;}
}

@media (min-width:568px) and (max-width:768px){
/* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media only screen and (max-width: 767px) {
    main .b-left, main .b-right {border: none;}
}

@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; /*margin: 25% 5% !important; */}
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}
