.apple_custom_theme main {font-size: 1em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
main h5 {margin-bottom: 0; line-height: 1.4em;}
main .inner-wrapper {width: 90%;}
main .my {margin-bottom: 2em;}
main .my-sm {margin-bottom: 1em;}
main .my-md {margin-bottom: 4em;}
main .my-lg {margin-bottom: 8em;}
.apple_custom_theme main h1 {font-size: 2.5em; line-height: 1em;}

.border-bottom {border-bottom: 1px #333 solid;}
.border-bottom-thick {border-bottom: 3px #333 solid;}

@media only screen and (max-width: 767px) {
    .apple_custom_theme main h1 {font-size: 2em;}
}
