.apple_custom_theme main {font-size: 1em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
main h5 {margin-bottom: 0; line-height: 1.4em;}
main .inner-wrapper {width: 90%;}
main .my {margin-bottom: 2em;}
main .my-sm {margin-bottom: 1em;}
main .my-md {margin-bottom: 4em;}
main .my-lg {margin-bottom: 8em;}
.apple_custom_theme main h1 {font-size: 2.5em; line-height: 1em;}
.apple_custom_theme input.lifesuite__text-input {width: 100%; max-width: auto;}

/*.border-bottom {border-bottom: 1px #333 solid;} temporarily disabled in case the client requests to add it back*/
.border-bottom-thick {border-bottom: 3px #333 solid;}
button, input, select, textarea{line-height:normal !important; }
select{background-color: #FFF; font-family: inherit; border: 1px solid #CCC; border-radius: 3px; color: #212121; display: inline-block; font-size: 12px; padding: 6px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width:100%; }
.lifesuite__input--block{line-height: 1.2em;}

@media only screen and (max-width: 767px) {
    .apple_custom_theme main h1 {font-size: 2em;}
    .modal {max-width: 90%;}
}
