main a, main a:link, main a:hover {font-size: 1em;}
main .vspace {margin-bottom: 1em;}
main .vspace-lg {margin-bottom: 3em;}
main ul {margin-left: 2em;}
main ul li {list-style-type: disc;}
main .box {border: 1px solid #333; padding: 0.8em;}
main .text-blue {color: #00529b;}
main .text-grey {color: #73737e;}
