main .box {border: 3px solid #333; padding: 3px;}
main .form-group label.control-label {padding-top: 7px; font-weight: bolder; text-align: left;}
main .inner-wrapper {padding: 1em;}
main .vspace {margin-bottom: 2em;}
main footer .footer-inner {padding: 0.5em 2em 1em;}
