main {font-size: 1.1em;}
main .box {border: 1px solid #333;}
main .vspace {margin-bottom: 0.75em;}
main .border-top {border-top: 1px solid #333;}
main .border-bottom {border-bottom: 1px solid #333;}
main .border-left {border-left: 1px solid #333;}
main .border-right {border-right: 1px solid #333;}
main .heading-rect {min-height: 107px;}
main .col-sm-inline {width: 8%;}
main .col-lg-inline {width: 92%;}
main .vertical-top {vertical-align: top;}
main section {padding: 1em 1.5em;}
main h4 small {color: #333;}
main table .instr input {margin: 0 0.75em;}
main .text-blue {color: #1673bc;}
main .bg-green {background: #c8ffcf;}

@media only screen and (max-width: 767px) {
  main .border-left, main .border-right {border: none;}
}
