main p {margin-bottom: 1.5em;}
main a, main a:link {font-size: 14px;}
main .mb-sm {margin-bottom: 1em;}
main .mb-md {margin-bottom: 3em;}
main .mb-lg {margin-bottom: 5em;}
main .ml-md {margin-left: 3em;}
main .ml-lg {margin-left: 5em;}
main .border-bottom {border-bottom: 1px solid #333;}
main ol {margin-left: 2em;}
main ol li > * {font-weight: normal;}
main ul li {list-style-type: square;}
main footer {border-top: 3px #632523 solid; padding: 1px 0;}
main footer .footer-inner {border-top: 1px #632523 solid;}
