/* SERVICES-38904 | SilkRoad - New eForm - Confidentiality Non-compete Non-Solicitation 2019 - Project Golden */
/* resets */
main h5, main p {margin-bottom: 15px;}
main ol {margin-left: 1em;}
main .instr label {margin: 0 0.4em;}

/* alignments */
main .i-block {display: inline-block;}
main .img-wrapper {max-width: 250px; width: 100%;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-40 {margin-bottom: 40px;}

/* lists */
main ol {counter-reset: item;}
main ol li > ol {margin-top: 15px; margin-left: 2em;}
main li {display: block; margin-bottom: 15px;}
main li:before { content: counters(item, ".") "."; counter-increment: item; padding-right: 10px; font-weight: bolder;}
main li li:before {content: counters(item, ".") " ";font-weight: normal;}

/* borders */
main .hr-line-inner {border-bottom: 3px #622423 solid; margin-bottom: 2px;}
main .hr-line-outer {border-bottom: 1px #622423 solid;}

/* components */
main .lifesuite__text-input.paragraph-name {min-width: 300px;}
main .lifesuite__textarea-input {width: 100%;}
main .form-horizontal .control-label, .form-horizontal .control-label {text-align: left;}
main .form-horizontal div.form-group, .form-horizontal div.form-group, main div.form-group {margin-bottom: 10px;}

@media only screen and (min-width: 768px) {
    main .form-horizontal label.control-label, .form-horizontal label.control-label {text-align: left;}
}

@media only screen and (min-width:568px) and (max-width:768px){
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media only screen and (max-width:767px){
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media only screen and (max-width:567px) {
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; margin: 25% 5% !important; }
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}
