main {font-size: 1.3em;}
main, main h3 {font-family: 'Calibri', Arial, Helvetica, sans-serif;}
main p, main .vspace {margin-bottom: 2em;}
main .border-bottom {border-bottom: 1px solid #333; margin-bottom: 3px;}
main .border-bottom-thick {border-bottom: 3px solid #333;}
