/* resets */
main {font-size: 14px; color: #444;}
main ol {margin-left: 1.5em;}
main .lifesuite__text-input:disabled, main .lifesuite__textarea-input:disabled {opacity: 1;}
main p.smaller {font-size: 11px;}

/* containers */
main .img-wrapper {max-width: 120px; width: 100%;}
main .inner-wrapper {max-width: 600px; width: 100%;}

/* text spacings */
main header.row, main ol li, main ul.list-indented li, main p {margin-bottom: 20px;}
main .list-indented {margin-left: 3em;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-40 {margin-bottom: 40px;}

/* forms components */
main.form-horizontal .form-group {margin-bottom: 10px;}
main .font-red {color: #fd4919;}
main .form-horizontal .control-label, main .control-label {font-weight: normal;}
main .instr {padding-bottom: 10px;}
main .instr input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox; margin: 0 0.7em 0 1.5em;}
main .instr > * {display: inline;}

/* footers */
main .paypal-footer .footer-img-wrapper {max-width: 120px; width: 100%;}
main .paypal-footer p {font-size: 12px;}
main .paypal-footer p small {font-size: 10px;}

/* Paypal requested styles; candidate to be merged to global file and applied to all forms. */
.label-error {display: none; max-width: 335px; font-size: 12px; line-height: 1.4rem; color: #FF4D4D; margin-bottom: 15px; }
.input-error, .input-error:focus {outline: none; border: 1px solid rgb(255, 77, 77); border-radius: none !important; box-shadow: none !important;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {margin: 3px !important; }
.cal_and_button {position: relative; float: none; width: 100%;}
.cal_and_button span {position: absolute;}
.cal_and_button input.dateField {left: 0; width: 100% !important; min-width: initial; z-index: 1;}
.cal_and_button input.dateField, .cal_and_button input.dateField.input-error:focus {border-right: none !important;}
.cal_and_button .calendar-btn-container {background: #00a99d; color: #fff; padding: 1.04em; margin-left: -3px; right: 0; z-index: 8;}
.calendar_button {position: absolute; z-index: 20; height: 95% !important; width: 100% !important; opacity: 0; top: 0; right: 0; left: 0;}

@media only screen and (min-width: 991px) {
    main .control-label {text-align: right; display: block;}
}

@media only screen and (min-width: 920px) {
    main label.control-label {text-align: right;}
}

@media (max-width: 768px){
    main .img-wrapper {margin-left: auto; margin-right: auto;}
}
@media (min-width:568px) and (max-width:768px){
/* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}
@media only screen and (min-width: 667px) and (max-width: 767px) {
    main .inner-wrapper {width: 66.66666667%;}
}
@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; margin: 25% 5% !important; }
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}
