.main {font-family: serif, sans-serif, Helvetica, Arial;}
.main .gray-stripe {background: #afb3b5; padding: 5px; color: #fff;}
.main .addresses small {color: #808080;}
.main a , .main p {color: #333;}
.main p {font-size: 1.2em;}
.main footer {margin-top: 4em;}
.main .grid-80 {width: 80%; display: inline-block;}
.main .pre-signature-section {margin-bottom: 4em;}
