.main .lifesuite__text-input {min-width: auto; width: 100%; margin: 0 !important;}
.main .dateField {width: 90px !important;}
.main .locations table label {margin: 0 5px 0 10px;}
.main .grid-50, .main .grid-90, .main .grid-60, .main .grid-70 {display: inline-block;}
.main .grid-50 {width: 50%;}
.main .grid-60 {width: 60%;}
.main .grid-70 {width: 70%;}
.main .grid-90 {width: 90%;}
.main .gray-bg {background: #cccccc;}
.main .other > table {display: inline-block; vertical-align: middle;}
.main table thead th {vertical-align: middle;}
.main table.table-bordered,
.main table.table-bordered th,
.main table.table-bordered td {border-color: #333333;}
.main .table-main {max-width: 900px; width: 100%; margin-bottom: 2em;}
.main .table-second {max-width: 900px; width: 100%;}
.main ul.bullet-list li {list-style-type: disc; margin-left: 1em;}

@media screen and (max-width: 768px) {
    .main .grid-50, .main .grid-60, .main .grid-70 {width: 100%;}
    .main .table-second, .main .table-main {max-width: 660px;}
}
@media screen and (max-width: 690px) {
    .main .table-second, .main .table-main {max-width: 550px;}
}
@media screen and (max-width: 420px) {
    .main .table-second, .main .table-main {max-width: 300px;}
}
