main {font-size: 1.2em;}
main .box {border: 1px solid #333; padding: 10px;}
main .box.thick {border-width: 2px; padding: 3px;}
main .vspace {margin-bottom: 1em;}
main .inner-wrapper {max-width: 800px; width: 100%;}
main .border-bottom {border-bottom: 2px #333 solid;}
main .vertical-top {vertical-align: top;}
main .col-5 {width: 4.5%;}
main .col-95 {width: 94.5%;}
main .text-indent {margin-left: 1em;}
main .imaginary-line {width: 920px;}
main .instr input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox;}
main .instr label {margin: 0 0.5em; font-weight: normal; display: inline;}

@media only screen and (max-width: 767px) {
    main h2 {font-size: 1.4em;}
    main .inline-sm {display: inline;}
}
