.main, .main a {font-size: 16px; font-family: "Times New Roman", Arial, Helvetica, sans-serif;}
.main .signature-block {max-width: 650px; width: 100%; margin-bottom: 3em;}
.main .input-full {width: 100%;}
.main .input-80 {width: 80%;}
.main ul {list-style-type: disc;}
.main .list-indent {margin-left: 2em;}

@media screen and (max-width: 690px) {
    .main .input-80 {width: 100%;}
}
