/* texts */
.main, h1, h2, h3, h4, p, div, span, small {font-size: 12px; font-family: "Times New Roman", Arial, Helvetica, sans-serif; color: #333;}
h1, h2 {font-size: 16px;}
h3 {font-size: 13px;}
small {font-size: 10px;}
.text-blue {color: #0000ff;}
.highlight {background: #ffff00;}
p {margin: 10px 0;}

/* container */
.border-bottom {border-bottom: 1px #000 solid;}
.crossed-out {position: relative; padding: 5px 5px 10px;}
.wrapper-inner {margin: 10px 5px;}
.signature-area {margin: 3em 0;}

/* artifacts */
.bar-x, .bar-y, .bar-x-2, .bar-y-2 {width: 100%; position: absolute; height: 2px; background: #000;}
.bar-x {transform: rotate(33deg); -moz-transform: rotate(33deg); -ms-transform: rotate(33deg); -webkit-transform: rotate(33deg); top: 50%;}
.bar-y {transform: rotate(-33deg); -moz-transform: rotate(-33deg); -ms-transform: rotate(-33deg); -webkit-transform: rotate(-33deg); top: 50%;}
.bar-x-2 {transform: rotate(11deg); -moz-transform: rotate(11deg); -ms-transform: rotate(11deg); -webkit-transform: rotate(11deg); top: 50%;}
.bar-y-2 {transform: rotate(-11deg); -moz-transform: rotate(-11deg); -ms-transform: rotate(-11deg); -webkit-transform: rotate(-11deg); top: 50%;}

/* lists */
.list-bullet li {list-style-type: disc; margin-bottom: 1em;}

/* tables */
.table-radio-checkbox .instr {border: none; min-width: 40px;}
.table-radio-checkbox .instr input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox; float: right; margin-top: 2px;}
