/* reset */
.lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px; margin-left: auto; margin-right: auto;}
main {font-size: 12pt; font-family: 'Calibri Light', Arial, Helvetica, sans-serif; color: #444;}
main .instr input {margin: 0 0.4em;}
main .instr label {margin: 0;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-40 {margin-bottom: 40px;}

/* alignments */
main .v-middle {vertical-align: middle;}

/* typography */
main .big-ebay {font-size: 110pt; font-family: 'Calibri', Arial, Helvetica, sans-serif; line-height: 0.5em;}
main .text-blue {color: rgb(0, 100, 210);}
main .text-red {color: rgb(229, 50, 56);}
main .text-yellow {color: rgb(245, 175, 2);}
main .text-green {color: rgb(134, 184, 23);}

/* spacings */
main .pt-1 {padding-top: 1em;}
main .pt-2 {padding-top: 2em;}

/* alignments */
main .iblock {display: inline-block;}

@media only screen and (max-width: 767px) {
    /* visibility */
    main .inline-xs {display: inline-block !important; vertical-align: top;}
    /* font */
    main .big-ebay {font-size: 80pt;}
}

@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; /*margin: 25% 5% !important; */}
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}

@media only screen and (min-width: 140px) and (max-width: 424px) { 
    .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, 
    .lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, 
    .lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required { 
         width:100% !important; 
     } 
}
