/* pre-sets and resets */
main {font-size: 11pt; color: #444;}
main header, main footer {font-family: Candara, Arial, Helvetica, sans-serif;}
main footer small {font-weight: 700;}
main header h3 {margin: 0;}
main .heading-wrapper {max-width: 350px; width: 100%; padding-top: 2em;}
.lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px; margin-left: auto; margin-right: auto;}
main .instr label {margin: 0 0.4em;}
main .instr > * {display: inline;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-40 {margin-bottom: 40px;}

/* borders */
main .box {border: 1px solid #333;}
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}
main .b-left {border-left: 1px solid #333;}
main .b-right {border-right: 1px solid #333;}
main .b-thick {border-width: 3px;}

/* paddings */
main .padded-section {padding: 1em 0.5em;}

/* alignments */
main .i-block {display: inline-block;}

/* forms */
main .instr input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox;}

/* tables and pseudo tables*/
main thead, main .box-heading {background: #548dd4;}
main .table>tbody>tr>th, main .table>thead>tr>th, main .box-heading {padding: 0 0.4em;}
main .table>tbody>tr>td {padding: 0.3em;}
main .table-bordered > tbody > tr > td, main .table-bordered > tbody > tr > th, main .table-bordered > tfoot > tr > td, main .table-bordered > tfoot > tr > th, main .table-bordered > thead > tr > td, main .table-bordered > thead > tr > th {border-color: #333;}

@media (min-width:568px) and (max-width:768px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; /*margin: 25% 5% !important; */}
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}

@media only screen and (min-width: 140px) and (max-width: 424px) { 
    .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, 
    .lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, 
    .lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required { 
         width:100% !important; 
     } 
} 