main .vspace {margin-bottom: 1em;}
main .vspace-lg {margin-bottom: 3em;}
main .col-50 {width: 50%;}
main .col-80 {width: 80%;}
main .lifesuite__select-input, main .lifesuite__select-input--small, main .lifesuite__select-input--large {width: 100%;}
main .instr label {margin: 0 0.4em; line-height: 3em;}
main .align-middle {vertical-align: middle;}
main .short.dateField {width: 115px !important;}
