main {font-family: "Times New Roman", Arial, Helvetica, sans-serif}
main .vspace {margin-bottom: 1em;}
main header h4 {margin: 0;}
main .box {border: 3px #333 solid;}
main .border-bottom {border-bottom: 1px #333 solid;}
main .border-top {border-top: 1px #333 solid;}
main .border-right {border-right: 1px #333 solid;}
main .border-left {border-left: 1px #333 solid;}
main .col-lg-half {width: 5%; float: left;}
main .mailing-wrapper {position: relative;}
main .mailing-checkbox {position: absolute; top: -3px; left: 50%; margin-left: -10px;}
main .hr-wide {width: 900px;}

@media only screen and (min-width: 768px) {
    main .col-11-half {width: 95%; float: left;}
}

@media only screen and (max-width: 767px) {
    main .col-lg-half {width: 15%;}
    main .border-right, main .border-left {border: none;}
    main .border-right-sm {border-right: 1px #333 solid;}
    main .border-left-sm {border-left: 1px #333 solid;}
}
