main {font-size: 1em; font-family: Arial, Helvetica, sans-serif;}
main .cover-page {position: relative; padding: 8em 0;}
main .cover-page .brand-side {position: absolute; top: 0; right: 0; padding: 2em 1em; background: #7fa0b5; height: 100%; max-width: 180px; border-radius: 20px;}
main .cover-wrapper {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url('<$link;/main/RedCarpet/FormTemplates/Employment_Application/img/anixter-bg.png>') no-repeat; margin: 8em 0 0 8em; background-size: cover;}
main .cover-page .cover-heading {border-radius: 20px 0 0 20px; border: 2px solid #7fa0b5; border-right: none; padding-left: 2em;}
main .cover-page .cover-heading h1 {font-size: 4em; background: #eee;}
main h4, main h5 {margin: 0; font-weight: bolder;}
main h5 small {font-weight: normal; color: #333;}
main .wrapper-outer {border-radius: 0 40px 0 0; border-top: 2px solid #333333; border-right: solid 2px #333333; padding: 4em 1em 0;}
main .vspace {margin-bottom: 1em;}
main .vspace-md {margin-bottom: 2em;}
main .vspace-lg {margin-bottom: 3em;}
main .vspace-xl {margin-bottom: 5em;}
main .text-heading {color: #7fa0b5;}
main .border-top {border-top: 1px solid #333333; padding-top: 0.3em;}
main .border-right {border-right: 1px solid #333333;}
main .border-bottom {border-bottom: 1px solid #333333; padding-bottom: 0.3em;}
main .control-label {font-weight: normal; margin-top: 0.7em;}
main .align-middle {vertical-align: middle;}
main .instr label {margin: 0 0.3em;}

main ul {margin-left: 1em;}
main ul li {list-style-type: disc; margin-bottom: 1em;}

@media only screen and (min-width: 920px) {
    main .cover-page {min-height: 900px;}
}

@media only screen and (min-width: 768px) {
    main .text-indent {text-indent: 2em;}
}

@media only screen and (max-width: 767px) {
    main .border-right {border-right: none;}
    main .cover-wrapper {background: none; margin: 0;}
    main .cover-page .cover-heading h1 {font-size: 2em;}
}
