/* texts */
.main {font-size: 11px;}
.main h1, h2, h3, h4, h5, p, small, figcaption {color: #333;}
.main h1 {font-size: 14px;}

/* tables */
.table {margin-bottom: 10px;}
.table td {padding: 0 5px 3px;}
.table td {text-align: unset;}
.table-inline table tr {display: inline-block; padding-bottom: 2px;}
.table-inline, .table-inline table td {border: none;}
.table-inline .instr input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox; margin-right: 4px;}
table.cal_and_button .calendar_button {vertical-align: middle;}

/* containers */
.signature-container {margin: 5em 0;}
.signature-container p {margin-bottom: 2em;}
