.main .label-grid {line-height: 2.5em;}
.main .grey-bar {background: #d9d9d9; padding: 5px;}
.main .container-slim {max-width: 800px; width: 100%;}
.main .indent-1 {margin-left: 1em;}
.main .vspace {margin-bottom: 1em;}
.main footer {padding: 10px 2em;}

@media screen and (max-width: 1024px) {
    .main .container-slim {max-width: auto;}
}

@media screen and (max-width: 767px) {
    .main .indent-1 {margin-left: 0;}
}
