main {font-size: 1.2em;}
main .vspace {margin-bottom: 1.3em;}
main .vspace-md {margin-bottom: 2.5em;}
main .vspace-lg {margin-bottom: 4em;}
main .text-indent {text-indent: 2.75em;}
main p {margin-bottom: 1em;}
main .hspace {margin-left: 4em;}
main .hspace-sm {margin-left: 2em;}
main .box {border: 1px #333 solid;}
main .border-bottom {border-bottom: 1px #333 solid;}
main .border-right {border-right: 1px #333 solid; vertical-align: top; min-height: 5em;}
main ul li {list-style-type: disc; margin-bottom: 1em;}
