/* resets */
body.lifesuite__eform-builder--body.fb-render .middle, body .middle, .middle {max-width: 1050px; margin-left: auto; margin-right: auto;}
main, main label.lifesuite__input-label {font-size: 8pt; color: #444; font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;}
main h1, h2, h3, h4, h5 {margin: 0;}
main ol {margin-left: 1em;}
main p {margin-bottom: 5px;}
main label.control-label {font-weight: normal;}
main .table {margin: 0;}
main .dateField {width: 115px !important;}

/* forms */
main .instr > * {display: inline;}
main .instr label {margin: 0 0.4em; font-weight: normal; font-size: 8pt;}
main .instr input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox;}

/* typo */
main .text-outlined {color: #eee; text-shadow: 1px 0px 0 #333, -1px 0px 0 #333, 0px 1px 0 #333, 0px -1px 0 #333;}
main .text-indented {text-indent: 2em;}
main .text-mega {font-size: 4.2em;}

/* borders */
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}
main table.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {border: 1px solid #333;}

/* spacings */
main .py-5 {padding: 0 5px;}
main .py-10 {padding: 0 10px;}
main .py-20, main .table>tbody>tr>td.py-20, .table .td.py-20 {padding: 0 20px;}
main .px-5 {padding: 5px 0;}
main .px-10 {padding: 10px 0;}
main .mb-5 {margin-bottom: 5px;}
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .ml-5 {margin-left: 5px;}
main .ml-10 {margin-left: 10px;}
main .ml-20 {margin-left: 20px;}

/* lists */
main ul {list-style-type: disc;}
main .parenthelist {counter-reset: list;}
main .parenthelist > li {list-style: none; margin-bottom: 5px;}
main .parenthelist > li:before {content: "(" counter(list, lower-alpha) ") "; counter-increment: list; font-weight: bolder;}

/* alignments */
main .i-block {display: inline-block;}
main .i-block.v-middle {vertical-align: middle;}

/* columns */
main .col-5 {width: 5%;}
main .col-10 {width: 8.5%;}
main .col-20 {width: 18.5%;}
main .col-50 {width: 48.5%;}
main .col-60 {width: 58.5%;}
main .col-70 {width: 68.5%;}
main .col-80 {width: 78.5%;}
main .col-90 {width: 88.5%;}

/* keyboard sign styles */
.lifesuite__text-input.ng-pristine.ng-untouched.ng-isolate-scope.hasDatepicker.ng-invalid.ng-invalid-required, 
.lifesuite__text-input.ng-pristine.ng-isolate-scope.hasDatepicker.ng-invalid.ng-invalid-required.ng-touched, 
.lifesuite__text-input.ng-isolate-scope.hasDatepicker.ng-touched.ng-dirty.ng-valid-date.ng-valid-parse.ng-valid.ng-valid-required, 
.lifesuite__text-input.ng-isolate-scope.hasDatepicker.ng-touched.ng-dirty.ng-valid-date.ng-valid-parse.ng-invalid.ng-invalid-required, 
.lifesuite__text-input.ng-isolate-scope.hasDatepicker.ng-touched.ng-dirty.ng-valid-date.ng-invalid.ng-invalid-required, 
.lifesuite__text-input.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.hasDatepicker.ng-valid-required, 
.lifesuite__text-input.ng-untouched.ng-isolate-scope.hasDatepicker.ng-dirty.ng-valid-date.ng-valid-parse.ng-valid.ng-valid-required, 
.lifesuite__text-input.ng-pristine.ng-valid.ng-isolate-scope.hasDatepicker.ng-valid-required.ng-touched, 
.lifesuite__text-input.ng-untouched.ng-isolate-scope.hasDatepicker.ng-dirty.ng-valid-date.ng-invalid.ng-invalid-required { width: 80%!important; min-width: 0%!important;} 
.lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, 
.lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, 
.lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required { width: 100% !important; } 
canvas{ max-width: 100%!important; } 
.fb-prompt{ display: none !important; } 
main .ng-scope .dateField, main .ng-scope .hasDatepicker {min-width: auto; margin-right: 10px !important;} 
main li[id^=mainnav] input[id^=Sig_Typed_Date] { max-width: calc(100% - 23px) !important; min-width: calc(100% - 24px) !important; } 
main li[id^=mainnav] input[placeholder^="Sign Here"] { max-width: calc(100% - 36px) !important; min-width: calc(100% - 36px) !important; } 

@media only screen and (min-width: 800px) {
    main .b-left {border-left: 1px solid #333;}
    main .b-right {border-right: 1px solid #333;}
}

@media (min-width:568px) and (max-width:768px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; /*margin: 25% 5% !important; */}
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}

@media only screen and (min-width: 140px) and (max-width: 424px) { 
    .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, 
    .lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, 
    .lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required { 
         width:100% !important; 
     } 
} 