.box {border: 1px solid #333; line-height: 2em;}
.bottomline {border-bottom: 1px solid #333;}
.bg-light {background: #f2f2f2;}
.bg-dark {background: #c1c1c1;}
.bg-green {background: #ccffcc; padding: 3px 5px;}
.bg-yellow {background: #ffff00;}
.form-row {width: 100%;}
aside {width: 30%; display: block; padding: 10px;}
.remarks-wrapper {padding: 5px;}
table.cal_and_button .calendar_button {line-height: 1.4em;}
