/* resets */
.lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px; margin-left: auto; margin-right: auto;}
main .row {margin-left: 0px; margin-right: 0px;}
main .instr label {margin: 0 0.3em; font-weight: 500;}
main .hasDatepicker {max-width: 120px;}

/* containers */
main .box {border: 1px solid #333;}
main .b-thick {border-width: 2px;}
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}
main .b-left {border-left: 1px solid #333;}
main .b-right {border-right: 1px solid #333;}
main .i-block {display: inline-block;}

/* alignments */
main .v-top {vertical-align: top;}
main .v-middle {vertical-align: middle;}
main .v-bottom {vertical-align: bottom;}

/* table */
main .t-container {display: table; width: 100%;}
main .t-row {display: table-row; width: 100%;}
main .t-h-group {display: table-header-group;}
main .t-group {display: table-row-group;}
main .t-cap {display: table-caption;}
main .t-col-group {display: table-column-group;}
main .t-col {display: table-column;}
main .t-cell {display: table-cell; vertical-align: middle;}

/* container */
main .p-sm {padding: 0.4em;}
main .p-x {padding-left: 0.4em; padding-right: 0.4em;}
main .p-y {padding-top: 0.4em; padding-bottom: 0.4em;}
main .w-30 {width: 30%;}
main .w-65 {width: 65%;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-40 {margin-bottom: 40px;}

/* backgrounds */
main .bg-black {background: #333333; color: #eee;}
main .bg-grey {background: #ccc;}

@media only screen and (max-width: 769px) {
    main .t-container, main .t-h-group, main .t-group, main .t-row, main .t-cell {display: block; width: 100^;}
    main .b-left, main .b-right {border: none;}
}

@media (min-width:568px) and (max-width:768px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media only screen and (max-width: 767px) {
    main .center-xs {text-align: center;}
    main .w-30, main .w-65 {width: 100%;}
}

@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; /*margin: 25% 5% !important; */}
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}

@media only screen and (min-width: 140px) and (max-width: 424px) { 
    .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, 
    .lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, 
    .lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required { 
         width:100% !important; 
     } 
}
