/* resets */
#tablePopup {max-width: 1024px !important; width: 100%;}
main p, main p.lead {font-size: 12px;}
main ul {list-style-type: disc; margin-left: 1em;}
main table, main table.table, main .table .table {margin: 0; background: transparent;}
main .lifesuite__select-input, main .lifesuite__select-input--small, main .lifesuite__select-input--large {width: 100%;}
main .lifesuite__select-input, main .lifesuite__select-input--small, main .lifesuite__select-input--large {margin: 0 !important;}
main table.table td {padding: 0;}
main table.table.b-top {border-top: #333 1px solid !important;}
main .instr label {margin: 0 0.5em; font-weight: normal;}
main .cal_no_btn .dateField {width: 100% !important;}
main .cal_no_btn .calendar_button {display: none;}
main select {-moz-appearance: none; -webkit-appearance: none; -ms-appearance: none;}

/* backgrounds and colors */
main .bg-black {background: #333; color: #eee; padding: 5px;}
main .rounded {border-radius: 50%; padding: 0 2px 2px 5px;}

/* layout helpers */
main .box {border: 1px #333 solid;}
main .mb-0 {margin-bottom: 0px;}
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-40 {margin-bottom: 40px;}
main .ml-10 {margin-left: 10px;}
main .ml-20 {margin-left: 20px;}
main .ml-30 {margin-left: 30px;}
main .ml-40 {margin-left: 40px;}
main .ml-4 {margin-left: 4em;}
main .i-block {display: inline-block;}
main .v-middle {vertical-align: middle;}

/* components */
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}
main .b-left {border-left: 1px solid #333;}
main .b-right {border-right: 1px solid #333;}

@media (min-width:568px) and (max-width:768px){
/* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; /*margin: 25% 5% !important; */}
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}
