label{
margin-right: 10px!important;
}
input.dateField[required] {box-shadow: none;}

table[cellpadding="0"][cellspacing="0"], select{ 
margin: 0 10px 10px 0 !important; 
} 
.margin-bottom{
margin-bottom: 40px !important;
}
.margin-bottom-2{
margin-bottom: 80px !important;
}
.margin-top{
margin-top: 80px !important;
}
.padding-top{
padding-top: 5px;
}
p{
font-size: 14px;
}
h5{
font-weight: bold!important;
}
@media (max-width: 992px){
.text-right{
text-align: left!important;
}
}
@media (max-width: 768px){
.imgr>img, .imgr>p{
margin: 0 auto;
text-align: center;
}
}
h3{
margin-left: 0px!important;
}

.AlignMergeStringText{
margin-top: 5px;
text-align: left;

}
.form-heading {background: url('<$link;/main/RedCarpet/FormTemplates/Global_New_Hire_form/img/bg_line.jpg>') repeat-x center;}
.form-heading span {background: #eee; padding-right: 0.5em;}
table .instr input {margin: 0;}
table .instr input, table .instr input {display: inline-block; vertical-align: middle;}
table .instr label {margin: 0 2em 0 0.5em !important;}

.modal-content

{ margin:50px auto !important; }
@media (max-width:567px){
/* Extra small devices: Phones */
.modal-content

{ max-width: calc(100% - 80px) !important; min-width:280px; margin: 25% 5% !important; }
.modal-content .row .lifesuite__clearfix

{ width: 100% !important; margin-right: 0px !important; }
.modal-content .row .lifesuite_clearfix .lifesuite_button

{ padding: 10px 12px !important; }
}

@media (min-width:568px) and (max-width:768px){
/* Extra small devices: Phones */
.modal-content

{ max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

input[type=radio]{
    vertical-align: bottom;
}

table.cal_and_button{
    float:left;
}
.font-red{
color:red;
}

.label-error {
    display: none;
    max-width: 335px;
    font-size: 12px;
    line-height: 1.4rem;
    color: #FF4D4D;
margin-bottom: 15px;
   
}
.input-error, .input-error:focus {
  outline: none;
border-radius: 3px;
border: 1px solid rgba(255, 77, 77, 0.6) !important;
box-shadow: 0 0 4px 0 rgba(255, 77, 77, 0.8) !important;
}

label {
font-weight:normal!important;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    margin: 3px !important;
}
