.main, .main h1, .main h2, .main h3, .main h4, .main p {color: #333;}
section, .main ul, .main h2, .main p {margin-bottom: 1em;}
.main ul li {margin-bottom: 0.3em;}
.main a {text-decoration: none; transition: color .4s; color: #2980b9; font-size: 14px;}
.main a:link, .main a:visited { color: #2980b9; }
.main a:hover { color: #3498db;} 
.main a:active {transition: color .3s; color: #3498db;}
.main .label-agree table, .main ul li table {display: inline;}
.main .label-agree table .instr, .main ul li table .instr {line-height: 0;}
.cal_and_button {width: 100%;}
