main .img-wrapper {max-width: 180px; width: 100%;}
main .inner-wrapper {max-width: 600px; width: 100%;}
main .mb-lg {margin-bottom: 40px;}
main .form-heading {background: #}

@media only screen and (max-width: 899px) {
    main .spacer {max-width: 900px; width: 100%;}
}
