main h4 {font-size: 1.25em;}
main ol li, main h4, main p {margin-bottom: 1.5em;}
main .text-indent {text-indent: 2em;}
main ol {margin-left: 2.5em;}
main .vspace {margin-bottom: 1em;}
main section {margin-bottom: 3em;}
main .col-padded {padding-right: 1em;}
