main, main h4, main h5, main p {font-family: "Times New Roman", Arial, Helvetica, sans-serif; color: #333;}
main header {border-bottom: 1px solid #333; padding: 0 1em 1em;}
main .vspace {margin-bottom: 1.5em;}
main .checklist-block {max-width: 450px; width: 100%;}
main .signature-block {max-width: 600px; width: 100%; margin-bottom: 3em;}
main footer {border-top: 1px solid #333; padding: 0.75em 0;}
