/* resets */
body div.middle, .lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px; width: 100%; margin-left: auto; margin-right: auto;}
main {font-size: 12pt; font-family: "Helvetica Nueue", Helvetica, Arial, sans-serif; color: #333;}
main .instr label {font-size: 12pt; margin: 0 0 0.5em 0.3em;}
main .instr input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-40 {margin-bottom: 40px;}

/* typography */
main header h4 {color: rgb(53, 83, 165);}

/* containers */
main .box {border: 2px solid #333; padding: 1.5em;}

@media only screen and (min-width:568px) and (max-width:768px){
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media only screen and (max-width:767px){
    main .table-responsive {max-width: 270px;}
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media only screen and (max-width:567px) {
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; margin: 25% 5% !important; }
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}

