.main {font-size: 1em;}
.main .box {border: 1px solid #333;}
.main .small-checkboxes label {font-weight: normal; font-size: 8.5px;}
.main .vspace {margin-bottom: 1em;}
.main .border-left {border-left: 1px solid #333;}
.main .border-right {border-right: 1px solid #333;}
.main .border-top {border-top: 1px solid #333;}
.main .border-bottom {border-bottom: 1px solid #333;}
.main .inline-block {display: inline-block;}
.main .col-padded {padding-bottom: 1em;}
.main .col-mid-padded {padding: 1em 0; min-height: 55px;}
.main .row-padded {padding: 3px;}
.main .indent-1 {margin-left: 1.3em;}
.main .dateField {width: 80% !important;}
#tablePopup {max-width: 1180px !important;}
.main .expandable-text {position: absolute; top: 23px; left: 5px; min-height: 50%;}
.main .inline-radio .instr {width: 87px; text-align: center;}
.main .inline-radio .instr input[type="radio"]{-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox;}
}

@media screen and (max-width: 767px) {
    .main .border-right, .main .border-top {border: none;}
}
