main {font-size: 12px;}
main h2 {font-size: 16px;}
main .border-top {border-top: 1px solid #333;}
main .vspace {margin-bottom: 1em;}
main .box {border: 1px solid #333;}
main .border-bottom {border-bottom: 1px solid #333;}
main .border-right {border-right: 1px solid #333;}
main .border-left {border-left: 1px solid #333;}
main .border-blue {border-color: #24457b;}
main .inline-block {display: inline-block;}
main table .instr label {margin-right: 3px; margin-left: 3px;}
main .hr-bar {width: 90%; background: #333; min-height: 4px;}
main .black-bg {background: #333; color: #fff; padding: 1px 4px;}
main .inner-wrapper {padding: 4px;}
