/* resets */
main {font-size: 14px; color: #444; font-family: "Open Sans", Arial, "Helvetica", "Helvetica Neue", sans-serif;}
main .form-horizontal .form-group, .form-horizontal .form-group {margin-bottom: 10px !important;}
main hr {border-top: 1px solid #ccc;}
main p {margin-bottom: 20px;}
main .lifesuite__textarea-input {resize: vertical;}
main .lifesuite__text-input, .lifesuite__textarea-input {width: 100%;}
main .dateField, .dateField {width: 100% !important;}
main .label-training {text-align: right;}

/* components */
main .close-objective-container button {border-radius: 50%; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
main .lifesuite__button.action-item-controller {margin: 0;}

/* wrappers and containers */
main .logo-wrapper {max-width: 250px; width: 100%;}
main .inner-wrapper {max-width: 600px; width: 100%;}
main .close-objective-container {position: absolute; right: -9px; top: -12px;}
#development-plan, .progress-note, .progress-notes-container, .subdevelopment-objective, #planned-training, #recommended-training, .completed-date-section, .lifesuite__button.remove-training, main .additional-action-item {display: none;}

/* Helper classes */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-40 {margin-bottom: 40px;}

/* borders */
main .b-bottom {border-bottom: 1px solid #333;}
main .b-left {border-left: 1px solid #333;}
main .b-right {border-right: 1px solid #333;}
