/* texts */
.main {color: #222; font-size: 12px;}
h3 {line-height: 2em;}
.wrapper-inner {margin: 10px 0;}
p {margin-bottom: 1em;}

/* containers */
header {margin-bottom: 3em;}
ol li {margin-bottom: 1em;}
ol li:before {padding-top: 10px;}
ol {margin: 0 0 4em 2em;}

/* forms */
input[type="text"] {border: none; border-bottom: 1px solid #333; background: #fbfde7; background: rgba(251, 253, 231, 0); transition: 0.3;}
input[type="text"]:hover,  
input[type="text"]:focus {background: #fefff3;}

/* tables */
.table-list table .instr {padding-bottom: 1em;}
.form-inline.table-checkbox .instr {width: 70px;}
table.cal_and_button {max-width: 200px; width: 100%;}
