main header.row {margin-bottom: 2em;}
main .section-heading {background: #b9cbe3; padding: 2px;}
main .section-heading.bordered {border-left: 2px solid #537dba; border-right: 2px solid #537dba;}
main .section-heading > * {margin: 0;}
main .section-heading.main {border-left: 2px solid #537dba; border-right: 2px solid #537dba; background: #537dba; color: #f2f2f2;}
main .box {border: 1px solid #24457b;}
main .box-thick {border-left: 2px solid #24457b; border-right: 2px solid #24457b; border-bottom: 2px solid #24457b;}
main .border-left {border-left: 1px solid #24457b;}
main .border-right {border-right: 1px solid #24457b;}
main .border-top {border-top: 1px solid #24457b;}
main .border-bottom {border-bottom: 1px solid #24457b;}
main .box-thick .border-left, main .box-thick .border-right, main .box-thick .border-top, main .box-thick .border-bottom {border-width: 2px; border-color: #537dba;}
main .inner {padding: 2px;}
main textarea {resize: vertical;}
main .instr > * {margin-left: 2px; margin-right: 2px;}

@media only screen and (max-width: 768px) {
    main .border-left, main .border-right, main .border-top, main .border-bottom {border: none}
}
