main {font-size: 1.2em;}
main .control-label {list-style: 1.5em;;}
main .org-signature {margin-bottom: 1.2em;}
main .instr input, main .instr label {margin-left: 2px; margin-right: 2px;}
main .vspace {margin-bottom: 1.5em;}
main .vspace-1 {margin-bottom: 1em;}
main .bg-gray {background: #a5a5a5; color: #ffffff; padding: 5px;}
