/************************************************************************/
 .border_bottom_thick{
     border-bottom: 3px solid #000000;
}
 .padding{
     padding:10px;
}
 .apple_custom_theme .container-fluid{
     width: 90%;
}
 .bold{
     font-weight: bold;
}
 .ui-datepicker-next-hover{
     float:none !important;
}
 .ui-datepicker-prev-hover{
     float:none !important;
}
 table td.instr label {
     font-weight: normal;
     margin-left: 10px;
     display: inline;
     width: auto;
     text-align: justify;
     vertical-align: top;
}
 .col-width-1{
     width: 9%;
}
 .col-width-2{
     width: 20%;
}
 .col-width-3{
     width: 30%;
}
 .col-width-4{
     width: 40%;
}
 .col-width-5{
     width: 50%;
}
 .col-width-6{
     width: 60%;
}
 .col-width-7{
     width: 70%;
}
 .col-width-8{
     width: 80%;
}
 .col-width-9{
     width: 90%;
}
 .col-width-10{
     width: 100%;
}
.lifesuite__eform-builder--body.fb-render .lifesuite__eform-builder, .lifesuite__eform-builder--body.fb-render div.middle, .middle {padding: 0 !important; margin: 0 !important;}
 #container .row.mb-50, .row.mb-50 {
     margin-bottom: 50px;
}
.lifesuite__float-left.lifesuite__clearfix{
     margin-right: 10px;
}
 .lifesuite__p{
     margin-bottom: 0px !important;
}
 @media only screen and (max-width: 768px) and (min-width: 320px){
     .apple_custom_theme .lifesuite__text-input{
         min-width: inherit;
    }
     .__paragraph .col-width-1{
         width: 20%;
    }
     .__paragraph .col-width-2{
         width: 30%;
    }
     .__paragraph .col-width-3{
         width: 40%;
    }
     .__paragraph .col-width-4{
         width: 50%;
    }
     .__paragraph .col-width-5{
         width: 60%;
    }
     .__paragraph .col-width-6{
         width: 70%;
    }
     .__paragraph .col-width-7{
         width: 80%;
    }
     .__paragraph .col-width-8{
         width: 90%;
    }
     .__paragraph .col-width-9{
         width: 95%;
    }
     .__paragraph .col-width-10{
         width: 100%;
    }
}
 @media (min-width:768px) and (max-width:991px){
    /* Small devices: Tablets */
     .apple_custom_theme .lifesuite__text-input{
         min-width: inherit;
    }
     .__paragraph .col-width-1{
         width: 13%;
    }
     .__paragraph .col-width-2{
         width: 30%;
    }
     .__paragraph .col-width-3{
         width: 40%;
    }
     .__paragraph .col-width-4{
         width: 50%;
    }
     .__paragraph .col-width-5{
         width: 60%;
    }
     .__paragraph .col-width-6{
         width: 70%;
    }
     .__paragraph .col-width-7{
         width: 80%;
    }
     .__paragraph .col-width-8{
         width: 90%;
    }
     .__paragraph .col-width-9{
         width: 95%;
    }
     .__paragraph .col-width-10{
         width: 100%;
    }
}
 @media only screen and (max-width: 736px) {
     .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, .lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, .lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required {
         width: 100%!important;
    }
}
 @media (min-width:992px) and (max-width:1199px){
    /* Medium devices: Desktops */
}
 @media (min-width:1200px){
    /* Large devices: Desktops */
}
 @media only screen and (max-width: 768px) and (min-width: 320px){
}
 @media (min-width:768px) and (max-width:991px){
    /* Small devices: Tablets */
     .number_list .col-md-1{
         width: 3% !important;
    }
}
 @media (min-width:992px) and (max-width:1199px){
    /* Medium devices: Desktops */
     .number_list .col-md-1{
         width: 3% !important;
    }
}
 @media (min-width:1200px){
    /* Large devices: Desktops */
     .number_list .col-md-1{
         width: 3% !important;
    }
}
 table.table.bordered, table.table.bordered td {
     border: 1px solid #000000 !important;
}
 @media (max-width: 796px) {
     input.input-sm.ng-invalid.lifesuite__text-input {
         width: 100% !important;
    }
     input.input-sm.lifesuite__text-input {
         width: 100% !important;
    }
}
/* cursor sign fixes */
 .lifesuite__text-input.ng-pristine.ng-untouched.ng-isolate-scope.hasDatepicker.ng-invalid.ng-invalid-required, .lifesuite__text-input.ng-pristine.ng-isolate-scope.hasDatepicker.ng-invalid.ng-invalid-required.ng-touched, .lifesuite__text-input.ng-isolate-scope.hasDatepicker.ng-touched.ng-dirty.ng-valid-date.ng-valid-parse.ng-valid.ng-valid-required, .lifesuite__text-input.ng-isolate-scope.hasDatepicker.ng-touched.ng-dirty.ng-valid-date.ng-valid-parse.ng-invalid.ng-invalid-required, .lifesuite__text-input.ng-isolate-scope.hasDatepicker.ng-touched.ng-dirty.ng-valid-date.ng-invalid.ng-invalid-required, .lifesuite__text-input.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.hasDatepicker.ng-valid-required, .lifesuite__text-input.ng-untouched.ng-isolate-scope.hasDatepicker.ng-dirty.ng-valid-date.ng-valid-parse.ng-valid.ng-valid-required, .lifesuite__text-input.ng-pristine.ng-valid.ng-isolate-scope.hasDatepicker.ng-valid-required.ng-touched, .lifesuite__text-input.ng-untouched.ng-isolate-scope.hasDatepicker.ng-dirty.ng-valid-date.ng-invalid.ng-invalid-required {
     width: 80%!important;
     min-width: 0%!important;
}
 .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, .lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, .lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required {
     width: 100% !important;
}
 canvas{
     max-width: 100%!important;
}
 .fb-prompt{
     display: none !important;
}
 @media only screen and (max-width: 736px) {
     .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, .lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, .lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required {
         width: 100%!important;
    }
}
 .lifesuite__float-left.lifesuite__clearfix{
     margin-right: 10px;
}
 #container .ng-scope .dateField, #container .ng-scope .hasDatepicker {
    min-width: auto;
     margin-right: 10px !important;
}
 .lifesuite__p{
     margin-bottom: 0px !important;
}

.img-wrapper {max-width: 60px; width: 100%;}
.apple_custom_theme #container {padding-top: 60px; margin: 0 !important;}
