/**
 * CHANGE LOGS
 * 05.31.2019 | jjucutan | created for reusable theme
 */
/* resets */
html, body, p, input {font-family: Arial, sans-serif;}
h1, h2, h3, h4, h5 {font-family: Georgia, Arial, sans-serif;}

/* typography */
.text-blue {color: #2354E8;}
.text-charcoal {color: #1C1C1C;}
.text-sterling {color: #E3E3E3;}
.text-jade {color: #1AC6BA;}
.text-midnight {color: #00205B;}
.text-ignite {color: #FF5C39;}
.text-velvet {color: #861F41;}
.text-zest {color: #CEDC00;}
.text-apex {color: #B9D9EB;}

/* backgrounds */
.bg-blue, .bg-charcoal, .bg-sterling, .bg-jade, .bg-midnight, .bg-ignite, .bg-velvet, .bg-zest, .bg-zest {transition: 0.3;}
.bg-blue {background: #2354E8;}
.bg-charcoal {background: #1C1C1C;}
.bg-sterling {background: #E3E3E3;}
.bg-jade {background: #1AC6BA;}
.bg-midnight {background: #00205B;}
.bg-ignite {background: #FF5C39;}
.bg-velvet {background: #861F41;}
.bg-zest {background: #CEDC00;}
.bg-zest {background: #B9D9EB;}

.lifesuite__button.bg-jade:hover {background: #17DACC;}
.lifesuite__button.bg-ignite:hover {background: #FF6C4C;}
