/* reset */
.lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px; margin-left: auto; margin-right: auto;}
main {font-size: 12pt; color: #444;}
main ol {margin-left: 3em;}
main .instr label {font-weight: 500; margin: 0 0.5em 0 0.3em;}
main .control-label {font-weight: 500; margin-top: 4px;}

/* typography and contents */
main .indented {text-indent: 2em;}

/* spacings */
main .ml-10 {margin-left: 10px;}
main .ml-20 {margin-left: 20px;}
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-40 {margin-bottom: 40px;}

@media (min-width:768px) and (max-width:991px){ 
/* Small devices: Tablets */     
     .modal-content{max-width: calc(100% - 100px) !important; margin: 10px calc(20% - 10px) !important;}
} 

@media (min-width:568px) and (max-width:768px){ 
/* Extra small devices: Phones */ 
     .modal-content{max-width: calc(100% - 100px) !important; margin: 10px calc(10% - 10px) !important;}
} 

@media (max-width:567px){ 
/* Extra small devices: Phones */ 
     .modal-content{max-width: calc(100% - 60px) !important; min-width:280px; margin: 10px calc(10% - 10px) !important; }
     .modal-content .row .lifesuite__clearfix{width: 100% !important; margin-right: 0px !important; }
     .modal-content .row .lifesuite__clearfix .lifesuite__button{padding: 10px 12px !important; }
} 
