/* globals */
#container {font-size: 14px; padding: 5px; font-family: Arial, Helvetica, sans-serif; width: 900px; color: #000;}
input, select {font-family: Arial,Helvetica,Sans-serif; color: #000; font-size:14px;}

/* containers */
.vspace {margin-bottom: 2em;}


/* texts */
.section {padding-bottom: 1em;}

/* lists */
ul li {list-style-type: disc;}


#box {width: 500px;}
@media print {
    input {border: none;}
    #tablePopup {margin:-50px 0 0 -40px; border: 0;}
    #tableContent {border: 0;}
    #imgLogo {display:none;}
    #offerprint {display:none;}
}
