/* resets */
main {font-size: 13px; color: #333;}
main ol, main ul {margin-left: 1em;}
main ul {list-style-type: disc;}
main ul ul ul {list-style-type: circle;}
main .instr label {margin: 0 0.3em;}

/* wrappers and containers */
main .inner-wrapper {max-width: 800px; width: 100%;}
main .wrapper-64 {max-width: 64px; width: 100%;}

/* lists */
main ol.alpharenthesis, main ol.romanthesis, main ol.numberentheses, main ol.numberenthesesright {counter-reset: list;}
main ol.alpharenthesis > li, main ol.romanthesis  > li, main ol.numberentheses > li, main ol.numberenthesesright > li {list-style: none; position: relative; margin-left: 1.4em;}
main ol.alpharenthesis > li:before {counter-increment: list; content: " (" counter(list, lower-alpha) ") "; position: absolute; left: -2.2em;}
main ol.romanthesis > li:before {counter-increment: list; content: " (" counter(list, lower-roman) ") "; position: absolute; left: -2.2em;}
main ol.numberentheses > li:before {counter-increment: list; content: " (" counter(list, decimal) ") "; position: absolute; left: -2.2em;}
main ol.numberenthesesright > li:before {counter-increment: list; content: counter(list, decimal) ") "; position: absolute; left: -2.2em;}

/* backgrounds */
main .bg-black {background: #333;}
main .bg-default {background: #eee;}
main .bg-grey {background: #808080;}

/* typo */
main .mattel-title {font-family: "Copperplate Gothic", Arial, sans-serif;}

/* components */
main .i-block {display: inline-block; vertical-align: middle;}
main .i-block.bottom {vertical-align: bottom;}
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}

/* borders */
main .b-box {border: 1px solid #333;}
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}
main .b-left {border-left: 1px solid #333;}
main .b-right {border-right: 1px solid #333;}
main .padded {padding: 20px;}

@media (min-width:568px) and (max-width:768px){
/* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media only screen and (max-width: 767px) {
    main .b-left, main .b-right {border: none;}
    main .credit-card-application-heading .circle.outer {width: 50px; height: 50px;}
    main .credit-card-application-heading .circle.inner {width: 40px; height: 40px;}
    main .credit-card-application-heading h3 {font-size: 12px;}
}

@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; /*margin: 25% 5% !important; */}
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}
