main, main p, main strong {font-size: 1.2rem; font-family: Arial, Helvetica, sans-serif;}
main .brand-container {width: 13%;}
main .form-wrapper {max-width: 600px; width: 100%;}
main .filler {width: 920px;}
main .vspace {margin-bottom: 1em;}
main .vspace-md {margin-bottom: 2em;}
main .vspace-lg {margin-bottom: 3em;}
main .form-horizontal .control-label, .form-horizontal .control-label {text-align: right; margin-top: 0.5em; font-weight: normal;}
main .instr label {margin: 0 0.25em;}
main .input-error, main .input-error:focus {outline: none; border-radius: 3px; border: 1px solid rgba(255, 77, 77, 0.6) !important; box-shadow: 0 0 4px 0 rgba(255, 77, 77, 0.8) !important }
main .help-block.text-danger {color: #a94442;}
main .text-danger {color: red;}

@media only screen and (min-width: 1024px) {
     main .form-horizontal .control-label, .form-horizontal .control-label {padding-top: 0.3rem !important;}
}

@media only screen and (max-width: 1023px) {
     main .form-horizontal .control-label, .form-horizontal .control-label {text-align: left !important; padding-bottom: 0.3em;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
     main .brand-container {margin-left: auto; margin-right: auto;}
}

@media only screen and (max-width: 767px){
     main .brand-container {width: 25%;}
}

/* Modal fixes from the other ticket */
.modal-content{
margin:50px auto !important;
}
 
@media (max-width:567px){
 /* Extra small devices: Phones */
     .modal-content{
          max-width: calc(100% - 80px) !important;
          min-width:280px;
          margin: 25% 5% !important;
     }
     .modal-content .row .lifesuite__clearfix{
          width: 100% !important;
          margin-right: 0px !important;
     }
     .modal-content .row .lifesuite__clearfix .lifesuite__button{
          padding: 10px 12px !important;
     }
}
 
@media (min-width:568px) and (max-width:768px){
 /* Extra small devices: Phones */
     .modal-content{
          max-width: calc(100% - 100px) !important;
          margin: 2% 5% !important;
     }
}
