.main h1, .main h2, .main h3 {color: #333;}
.main {font-size: 12px; color: #333;}
/* backgrounds */
.blue-bg {background: #2b4e77; color: #fff; font-weight: 600;}

/* tables */
.table thead th, .table td {padding: 5px;}
.vspaced {margin-bottom: 1em;}
.table-header-top {border-top: 1px solid #333;}
.table-header-top, .table-header {border-left: 1px solid #333; border-right: 1px solid #333; padding: 5px; font-weight: 600;}
.table tfoot td {padding: 5px;}
.table-checkbox-nolabel table {display: inline;}
.table-checkbox-nolabel table tbody {font-size: 0;}
.table-checkbox-nolabel table .instr {border: none;}

/* texts */
.text-blue {color: #0e0a3c;}
.text-note-indent {margin-left: 3.3em;}

/* forms */
.multiline-checkbox input[type="checkbox"] {margin-top: 0.3em;}
