.main {color: #333;}
.main .box-gray {border-top: 1px #c6c2bc solid; border-left: 1px #c6c2bc solid; border-right: 1px #c6c2bc solid;}
.main .box-black {border: 1px #333333 solid;}
.main .box-gap {margin-bottom: 2em;}
.main .no-bg {padding: 5px 5px 0;}
.main .blue-bg {background: #c8d9d7;}
.main .gray-bg {background: #e9e7e5;}
.main .gray-bg-dark {background: #c5c1bb;}
.main .blue-bg, .main .gray-bg, .main .gray-bg-dark {padding: 10px 5px 23px;}
.main .border-bottom {border-bottom: 1px #c6c2bc solid;}
.main .border-bottom-black {border-bottom: 1px #333 solid;}
.main .border-left {border-left: 1px #c6c2bc solid;}
.main .border-right {border-right: 1px #333 solid;}
.main .border-left-dark {border-left: 1px #333 solid;}
.main input[type="text"] {max-width: auto; width: 100%;}
.main select.lifesuite__text-input {max-width: auto; width: 100%; margin: 0 !important;}
.main #buttonCancel, .main #buttonPreviewDelete, .main #buttonPreviewSave, .main #buttonSave, .main #buttonSaveAndComplete, .main #buttonPrint {padding: 2px 8px 2px 5px !important;}
.main .text-area-label {min-height: 115px;}
.main textarea {resize: none;}
