main .vspace {margin-bottom: 1.2em;}
main .vspace-lg {margin-bottom: 5em;}
main .policy-wrapper {max-width: 350px; width: 100%;}
main h3 {font-size: 1.5em;}
main p, main a:link, main a {font-size: 1.1em;}
