.main {color: #333;}
.main .box {border: 1px solid #333; margin-bottom: 2em;}
.main .box h4 {margin: 0;}
.main .no-bg, .main .gray-bg {line-height: 3.5em;}
.main .no-bg-multiline {padding-top: 10px; padding-bottom: 10px;}
.main .gray-bg {background: #c4c1bb;}
.main .blue-bg {background: #dde4ff;}
.main .lifesuite__text-input {margin: 0 !important; max-width: auto; width: 100%;}
.main .border-bottom {border-bottom: 1px solid #333;}
.main .border-left {border-left: 1px solid #333;}
.main .text-red {color: #e00000;}
.main label {margin: 0 !important;}
.main .calendar_button {background: url('assets/img/calendar.gif');}
.main input[type="text"] {line-height: 1.15;}
.main .checkboxes table, .main table tr {display: inline-block;}
.main .instr label, .main table, .main table tr {margin-right: 5px;}

@media screen and (max-width: 690px) {
    .main .border-left {border: none;}
}
