/* resets */
#tablePopup {max-width: 1024px;}
main {font-size: 8pt; color: #555;}
main .dateField.resetted {width: 100% !important;}

/* borders */
main .box {border: 1px solid #444;}
main .b-bottom {border-bottom: 1px solid #444;}
main .b-top {border-top: 1px solid #444;}
main .b-left {border-left: 1px solid #444;}
main .b-right {border-right: 1px solid #444;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .ml-20 {margin-left: 20px;}

/* backgrounds */
main .header-bg {background: #d9e2f3;}

/* alignments */
main .i-block {display: inline-block;}

@media only screen and (min-width:568px) and (max-width:768px){
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media only screen and (max-width:767px){
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media only screen and (max-width:567px) {
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; margin: 25% 5% !important; }
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}
