main {font-size: 1.2em;}
main .bg-gray {background: #d0cece;}
main .img-wrapper {max-width: 280px; width: 100%;}
main .vspace {margin-bottom: 1.5em;}
main .border-top {border-top: 1px #333 solid;}
main .border-bottom {border-bottom: 1px #333 solid;}
main .subheading {padding: 0.5em 0;}
main .subheading h3,
main .subheading h4 {margin: 0;}
main .form-group label.control-label {padding-top: 7px; font-weight: bolder;}
main .inline-block {display: inline-block;}
main .input-date {max-width: 3em; width: 100%;}
main .input-month {max-width: 7em; width: 100%;}
main .input-paragraph {max-width: 20em; width: 100%;}
main .text-indent {text-indent: 2em;}
