/* reset */
.lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px; margin-left: auto; margin-right: auto;}
main {color: #444;}
input.dateField[required] {box-shadow: none;}
input.lifesuite__text-input, input.lifesuite__textarea-input {border-radius: 0;}
table[cellpadding="0"][cellspacing="0"], select{margin: 0 10px 10px 0 !important; }
p{font-size: 14px; }
h3{margin-left: 0px!important; }
h5{font-weight: bold!important; }
table .instr input {margin: 0;}
table .instr input, table .instr input {display: inline-block; vertical-align: middle;}
table .instr label {margin: 0 2em 24px 0.5em;font-weight:normal!important;}
input[type=radio]{vertical-align: bottom; }
main label.control-label {font-weight: normal; margin-top: 0.5em; width: 100%;}
input, select, textarea{outline: none !important;}
main select.lifesuite__select-input, main input.lifesuite__select-input--small, main input.lifesuite__select-input--large, main input.lifesuite__text-input, main input.lifesuite__textarea-input {margin: 0 !important; width: 100%; max-height: 40px; height: 100%;}
main select.lifesuite__select-input, main select.lifesuite__select-input--small, main select.lifesuite__select-input--large {padding: 0.8em; height: 145pt;}
main .lifesuite__text-input, main .lifesuite__textarea-input {padding: 0.959em;}
.AlignMergeStringText{margin-top: 5px; text-align: left; }
.form-heading {background: url('<$link;/main/RedCarpet/FormTemplates/Global_New_Hire_form/img/bg_line.jpg>') repeat-x center;}
.form-heading span {background: #eee; padding-right: 0.5em;}
.modal-content {margin:50px auto !important; } 
.font-red{color:red;}
.lifesuite__text-input:disabled, .lifesuite__textarea-input:disabled {opacity: 1 !important;}

/* container */
main .mid-wrapper {max-width: 600px; width: 100%;}

/* spacings */
main .mb-15 {margin-bottom: 15px;}
.margin-bottom{margin-bottom: 40px;}
.margin-bottom-2{margin-bottom: 80px;}
.margin-top{margin-top: 80px;}
.padding-top{padding-top: 5px;}

/* Paypal requested styles; candidate to be merged to global file and applied to all forms. */
.label-error {display: none; max-width: 335px; font-size: 12px; line-height: 1.4rem; color: #FF4D4D; margin-bottom: 15px; }
.input-error, .input-error:focus {outline: none; border: 1px solid rgb(255, 77, 77); border-radius: none !important; box-shadow: none !important;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {margin: 3px !important; }
.cal_and_button {position: relative; float: none; width: 100%;}
.cal_and_button span {position: absolute;}
.cal_and_button input.dateField {left: 0; width: 100% !important; min-width: initial; z-index: 1;}
.cal_and_button input.dateField, .cal_and_button input.dateField.input-error:focus {border-right: none !important;}
.cal_and_button .calendar-btn-container {background: #00a99d; color: #fff; padding: 1.04em; margin-left: -3px; right: 0; z-index: 8;}
.calendar_button {position: absolute; z-index: 20; height: 95% !important; width: 100% !important; opacity: 0; top: 0; right: 0; left: 0;}
main select.lifesuite__select-input::placeholder, main input.lifesuite__select-input--small::placeholder, main input.lifesuite__select-input--large::placeholder, main input.lifesuite__text-input::placeholder, main input.lifesuite__textarea-input::placeholder, .lifesuite__text-input::placeholder, .lifesuite__textarea-input::placeholder {color: #ccc;}
  input:-ms-input-placeholder {color: #ccc;}
  ::-ms-input-placeholder {color: #ccc;}

/* helper classes */
main .inline-block {display: inline-block; vertical-align: middle;}
main .text-indent {margin-left: 10px;}

@media only screen and (min-width: 920px) {
    main label.control-label {text-align: right;}
}

@media (max-width: 992px){
    .text-right{text-align: left!important; }
}
@media (max-width: 768px){
    .imgr>img, .imgr>p{margin: 0 auto; text-align: center; }
}
@media (min-width:568px) and (max-width:768px){
/* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}
@media only screen and (min-width: 667px) and (max-width: 767px) {
    main .inner-wrapper {width: 66.66666667%;}
}
@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; margin: 25% 5% !important; }
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}
