/* resets */
.lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px; width: 100%; margin-left: auto; margin-right: auto;}
main {font-size: 10pt; color: #53565A; line-height: 1.4em;}
main a:link {font-size: 10pt;}
main p {margin-bottom: 10px;}
main h4, main h5, main h6 {margin-top: 0;}
main .form-group {margin-bottom: 10px;}

/* components */
main hr {border-top: 1px solid #bbb;}
main hr.thick {border-width: 2px;}
main .lifesuite__text-input, main .lifesuite__textarea-input, input.lifesuite__text-input, textarea.lifesuite__textarea-input, .lifesuite__text-input, .lifesuite__textarea-input {margin: 0 !important; width: 100%; min-width: auto;}
main input.dateField {min-width: auto !important; width: 70% !important; max-width: 120px;}

/* lists */
main ul {margin-left: 1em;}
main ul li {list-style-type: disc;}

/* backgrounds */
main .bg-gray {background: #ccc;}

/* borders and boxes */
main .box {border: 1px solid #333;}
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}

/* containers */
main .row.flex-container, main .flex-container {display: flex;}

/* forms */
main.form-horizontal .control-label {text-align: left;}

/* tables */
main table.table-bordered, main table.table-bordered tr > th, main table.table-bordered tr > td {border: 1px solid #333; vertical-align: middle;}
main table.table-bordered > thead > tr > td {border: 1px solid #333;}
main #table-household thead tr th, main #table-previous-address thead tr th {font-weight: normal;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}

@media only screen and (min-width: 800px) {
    main .b-left {border-left: 1px solid #333;}
    main .b-right {border-right: 1px solid #333;}
}

@media only screen and (max-width: 767px) {
    main .row.flex-container:not(.hidden-xs), main .flex-container:not(.hidden-xs) {display: block;}
}

@media (min-width:568px) and (max-width:768px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; /*margin: 25% 5% !important; */}
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}

@media only screen and (min-width: 140px) and (max-width: 424px) { 
    .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, 
    .lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, 
    .lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required { 
         width:100% !important; 
     } 
} 
