main {font-family: "Helvetica Nueue", Helvetica, Arial, sans-serif; margin: 60px 20px;}
main .inner-wrapper {max-width: 90%;}
main .img-wrapper {max-width: 50px;}
.apple_custom_theme main h2, main h2 {font-size: 15pt;}
main .mb-1 {margin-bottom: 1.5em;}
main .mb-2 {margin-bottom: 2.5em;}
main .mb-3 {margin-bottom: 3.5em;}
main .text-indent {margin-left: 2em;}
body.apple_custom_theme {font-family: Helvetica, Arial, "sans-serif"; padding: 40px; color: #333333; font-size: 10pt; line-height: 15pt;}
.apple_custom_theme td#tdContentWrapper {border-radius: 0; padding: 0; box-shadow: none;}
.apple_custom_theme table {width: 100%;}
.apple_custom_theme #main-content {width: 100%; margin: auto; display: table; background: #FFF; border: 1px solid #acacac;}
.apple_custom_theme #tdContent {padding: 0;}
.apple_custom_theme #formButtons {float: left; width: 100%;}
.apple_custom_theme #formButtons input {background: #0070c9; border: 0; color: #FFF; padding: 12px 20px; font-family: inherit; letter-spacing: -0.021em; border: 2px solid #0070c9 !important; font-size: 14px; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -ms-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; transition: all 0.30s ease-in-out; outline: none; font-weight: 500; border-radius: 0 !important; box-shadow: none !important; margin-right: 10px;}
.apple_custom_theme #formButtons input:hover {background: #FFF !important; background-color: #FFF !important; color: #0070c9;}
.apple_custom_theme .srt_eform_row {max-width: 90%; margin: auto;}
.apple_custom_theme input.lifesuite__text-input {width: 100%; max-width: auto;}
.apple_custom_theme  #srt_form_btn_wrapper {background: #eee;}
.apple_custom_theme #over {position: fixed;}
.apple_custom_theme #tablePopup {padding: 0; border: 0; background-color: transparent; border-width: 0; left: 0px; top: 0px; max-width: 100%;}
.apple_custom_theme .calendar_button {background-size: cover;}
.apple_custom_theme .lifesuite__text-input {line-height: normal;}
.apple_custom_theme p {line-height: 1.5em;}
.cal_and_button td {position: relative;}

/* White border fixes */
.middle{background-color:#eee !important;border-radius: 0px !important; margin: 0px !Important;padding:0px !important;}
#mainContent{background-color: #eee; }
 .lifesuite__eform-builder--body.fb-render .lifesuite__eform-builder{ box-shadow: 0px 0px 0px  #cbcbcb!important;  -webkit-box-shadow: 0px 0px 0px #cbcbcb!important; padding:.1px 0px 0px 0px !important;}
body.apple_custom_theme {padding: 40px 40px 10px 40px; color: #333333;}

/* Cursor sign button style */
.calendar_button {border-size: 0px;border-style: none;background: inherit;font: inherit;color: blue; cursor: hand; cursor: pointer;width: 20px;background-image:url(<$link;/main/RedCarpet/FormTemplates/FormSupport/calendar.gif>);background-repeat: no-repeat;}

/* Cursor sign fixes */
.lifesuite__text-input.ng-pristine.ng-untouched.ng-isolate-scope.hasDatepicker.ng-invalid.ng-invalid-required,.lifesuite__text-input.ng-pristine.ng-isolate-scope.hasDatepicker.ng-invalid.ng-invalid-required.ng-touched,.lifesuite__text-input.ng-isolate-scope.hasDatepicker.ng-touched.ng-dirty.ng-valid-date.ng-valid-parse.ng-valid.ng-valid-required,.lifesuite__text-input.ng-isolate-scope.hasDatepicker.ng-touched.ng-dirty.ng-valid-date.ng-valid-parse.ng-invalid.ng-invalid-required,.lifesuite__text-input.ng-isolate-scope.hasDatepicker.ng-touched.ng-dirty.ng-valid-date.ng-invalid.ng-invalid-required,.lifesuite__text-input.ng-pristine.ng-untouched.ng-valid.ng-isolate-scope.hasDatepicker.ng-valid-required,.lifesuite__text-input.ng-untouched.ng-isolate-scope.hasDatepicker.ng-dirty.ng-valid-date.ng-valid-parse.ng-valid.ng-valid-required,.lifesuite__text-input.ng-pristine.ng-valid.ng-isolate-scope.hasDatepicker.ng-valid-required.ng-touched,.lifesuite__text-input.ng-untouched.ng-isolate-scope.hasDatepicker.ng-dirty.ng-valid-date.ng-invalid.ng-invalid-required {width:80%!important;min-width:0%!important;}
.apple_custom_theme .ng-scope .lifesuite__text-input, .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched,.lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required,.lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required{width:253.45px!important; min-width: 253.45px!important;}
.apple_custom_theme main .ng-scope .lifesuite__text-input {margin: 0 10px 10px 0 !important}
canvas{max-width:100%!important;}
.fb-prompt{display:none!important;}

@media only screen and (max-width: 767px) {
    .modal-content {max-width: initial !important; width: 80% !important;}
}

@media (min-width:768px) and (max-width:991px){ 
     .modal-content{max-width: calc(100% - 100px) !important; margin: 10px calc(20% - 10px) !important;}
} 

@media (min-width:568px) and (max-width:768px){ 
     .modal-content{max-width: calc(100% - 100px) !important; margin: 10px calc(10% - 10px) !important;}
} 

@media (max-width:567px){ 
     .modal-content{max-width: calc(100% - 60px) !important; min-width:280px; margin: 10px calc(10% - 10px) !important;}
     .modal-content .row .lifesuite__clearfix{width: 100% !important; margin-right: 0px !important;}
     .modal-content .row .lifesuite__clearfix .lifesuite__button{padding: 10px 12px !important;}
     #ButtonCancel, #ButtonPrint, #ButtonSave, #ButtonSaveAndComplete {font-size: 0.8em;}
     main .ng-scope input {margin: 0 !important;}
}

@media only screen and (min-width: 140px) and (max-width: 424px) { 
    .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, 
    .lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, 
    .lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required {  width:100% !important;  } 
}
