/* reset */
.lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px; margin-left: auto; margin-right: auto;}
main {font-size: 11pt; color: #444;}
main ul li {list-style-type: disc;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}

@media (min-width:568px) and (max-width:768px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; /*margin: 25% 5% !important; */}
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}

@media only screen and (min-width: 140px) and (max-width: 424px) { 
    .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, 
    .lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, 
    .lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required { 
         width:100% !important; 
     } 
}
