.grid-5, .grid-10, .grid-20, .grid-30, .grid-40, .grid-50 {display: inline-block;}
.grid-5 {width: 5%;}
.grid-10 {width: 10%;}
.grid-20 {width: 20%;}
.grid-30 {width: 30%;}
.grid-40 {width: 40%;}
.grid-50 {width: 50%;}
.main section {margin-bottom: 2em;}
.main .lifesuite__text-input {min-width: auto; width: 100%;}
.main .list-offset-3 {margin-left: 3em;}
.main .diagnostics-list {margin-bottom: 1em;}
.main .diagnostics-label {margin-top: 6px;}
.main .diagnostics-offset-1 {margin-left: 1.6em;}
.main .dotted-bottom {border-bottom: 1px dotted #333333; padding-bottom: 3em;}
.cal_and_button .hasDatepicker {width: 75% !important; margin: 0 !important;}
.cal_and_button .calendar_button {width: 20% !important;}
.main tr, .main table {display: inline-block; vertical-align: middle;}
.main .instr label {margin-right: 5px;}



@media only screen and (max-width: 690px) {
.grid-5, .grid-10 {width: 50%;}
.grid-20, .grid-30, .grid-40, .grid-50 {width: 100%;}
}
