main {color: #444;}
main .inner-wrapper {font-size: 14px;}
main p {line-height: 1.5; margin-bottom: 20px;}
input.dateField[required] {box-shadow: none;}
input.lifesuite__text-input, input.lifesuite__textarea-input {border-radius: 0;}
table[cellpadding="0"][cellspacing="0"], select{margin: 0 10px 10px 0 !important; }
.inner-wrapper ol, .inner-wrapper ul, p{font-size: 14px; }
h3 {margin-left: 0px!important; }
h5 {font-weight: bold!important; }
.outer-list > li, ol > li {margin-bottom: 20px;}
ul li {list-style-type: disc;}
.inner-wrapper ol, .inner-wrapper ul {margin-left: 1.1em; line-height: 1.5;}
.inner-wrapper .ie-list {margin-left: 1.4em;}

/* non newhire field marking */
#tablePopup mark {padding: 0; background: #ffdc00; color: #665800; line-height: normal;}
#tablePopup .marked {padding-left: 0.5em; border-left: 2px solid #0074d9; margin-top: 30px;}
#tablePopup .popover {box-shadow: none; -webkit-box-shadow: none; max-width: 100%; width: 100%; left: 3px !important; border-radius: 0; background: #0074d9; color: #b3dbff; margin-top: 0px;}
#tablePopup .popover-content {padding: 0 5px; font-weight: 700;}
#tablePopup .popover.top>.arrow {display: none;}
#tablePopup.deactivate-highlight mark {padding: 0; background-color: #eee; color: #444;}
#tablePopup.deactivate-highlight .marked {padding-left: 0; border-left: none; margin-top: 0;}

table .instr {padding-bottom: 20px; line-height: 1.5;}
table .instr input {margin: 0;}
table .instr input, table .instr label {display: inline;}
table .instr label {margin: 0 2em 24px 0.5em;font-weight:normal!important;}
input[type=radio]{vertical-align: bottom; }
main label.control-label {font-weight: normal; margin-top: 0.5em; width: 100%;}
input, select, textarea{outline: none !important;}
main select.lifesuite__select-input, main input.lifesuite__select-input--small, main input.lifesuite__select-input--large, main input.lifesuite__text-input, main input.lifesuite__textarea-input {margin: 0 !important; width: 100%; max-height: 40px; height: 100%;}
main select.lifesuite__select-input, main select.lifesuite__select-input--small, main select.lifesuite__select-input--large {padding: 0.8em; height: 145pt;}
main .lifesuite__text-input, main .lifesuite__textarea-input {padding: 0.959em;}
.margin-bottom{margin-bottom: 40px;}
.margin-bottom-2{margin-bottom: 80px;}
.margin-top{margin-top: 80px;}
.padding-top{padding-top: 5px;}
.AlignMergeStringText{margin-top: 5px; text-align: left; }
.form-heading {background: url('<$link;/main/RedCarpet/FormTemplates/Guatemala_Employment_Agreement/img/bg_line.jpg>') repeat-x center;}
.form-heading span {background: #eee; padding-right: 0.5em;}
.modal-content {margin:50px auto !important; } 
.font-red{color:red;}
.lifesuite__text-input:disabled, .lifesuite__textarea-input:disabled {opacity: 1 !important; background: #cccccc;}
.inner-wrapper {max-width: 600px; width:  100%;}
hr.HRblack{border-top: 1px solid #000;}
.border-bottom {border-bottom: 1px solid rgb(65,65,65);}
main .table-bordered, main .table-bordered > tbody > tr > td, main .table-bordered > tbody > tr > th, main .table-bordered > tfoot > tr > td, main .table-bordered > tfoot > tr > th, main .table-bordered > thead > tr > td, main .table-bordered > thead > tr > th {border: 1px solid #333;}

/* helper classes */
.signature-section-title {margin-left: 30px;}
.inner-wrapper ol.list-indented, .inner-wrapper ul.list-indented {margin-left: 4em;}
main .inline-block {display: inline-block; vertical-align: middle;}
main .text-indent {margin-left: 10px; margin-bottom: 20px;}
main .list-indent {margin-left: 4em;}
main .mb-0 {margin-bottom: 0;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-60 {margin-bottom: 60px;}
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}

@media only screen and (min-width: 992px) {
    main label.control-label {text-align: right;}
}

@media (max-width: 992px){
    .text-right{text-align: left!important; }
    main .inner-wrapper.wide-sm {max-width: 100%; width: 100%;}
    .signature-section-title {margin-left: 0;}
}
@media (max-width: 768px){
    .imgr>img, .imgr>p{margin: 0 auto; text-align: center; }
}
@media (min-width:568px) and (max-width:768px){
/* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}
@media only screen and (min-width: 667px) and (max-width: 767px) {
    main .inner-wrapper {width: 66.66666667%;}
}
@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; /*margin: 25% 5% !important; */}
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}
