main .vspace {margin-bottom: 1.5em;}
main header h2 {font-size: 2em; font-family: "Times New Roman", Arial, sans-serif;}
main header h3 {font-size: 1.60em; font-family: "Times New Roman", Arial, sans-serif;}
main header h4 {font-size: 1.5em; font-family: "Times New Roman", Arial, sans-serif;}
main .inline-block {display: inline-block;}
main .box {border: 1px solid #333;}
main .inner {margin-left: 1em;}

/* borders */
main .border-left {border-left: 1px solid #333;}
main .border-right {border-right: 1px solid #333;}
main .border-top {border-top: 1px solid #333;}
main .border-bottom {border-bottom: 1px solid #333;}
main .border-top-thick {border-top: 2px solid #333;}

/* paddings */
main .padded-left {padding-left: 0.4em;}

/* ordered list*/
main ol {margin: 0 0 1.5em; padding: 0; counter-reset: item;}
main ol > li {margin: 0; padding: 0 0 0 2em; text-indent: -2em; list-style-type: none; counter-increment: item;}
main ol > li:before {display: inline-block; width: 1em; padding-right: 0.5em; font-weight: bold; text-align: right; content: counter(item) ".";}

/* unordered list */
main ul {margin-left: 1.5em;}
main ul li {list-style-type: disc;}
