main {font-size: 1.1em;}
header .img-wrapper {max-width: 200px; width: 100%;}
main .vspace {margin-bottom: 2em;}
main .vspace-lg {margin-bottom: 5em;}
main .border-bottom {border-bottom: 2px solid #333;}
main .control-label {font-weight: normal;}
main .instr label {margin: 0 0.4em;}
main .dateField {width: 115px !important;}
main .instr input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox;}
