main {padding: 0 3em;}
main, main p {font-size: 1.2em;}
main header h1 {line-height: 1em; margin: 0;}
main .text-blue {color: #407ec9;}
main .text-gray {color: #808080;}
main .border-bottom {border-bottom: 1px solid #333;}
main .vspace {margin-bottom: 1em;}
main .vspace-md {margin-bottom: 2em;}
main .vspace-lg {margin-bottom: 3em;}
