main a:link {font-size: 1em;}
main .vspace {margin-bottom: 2em;}
main .vspace-sm {margin-bottom: 0.5em;}
main .vspace-md {margin-bottom: 1em;}
main .hspace {margin-left: 2em;}
main ul li {list-style-type: disc;}
main .border-bottom {border-bottom: 1px solid #333;}
