/* texts */
h3.title {line-height: 3em;}

/* containers */
.ficha-wrapper {max-width: 585px; width: 100%;}
.ficha-wrapper small{margin-right: 5px;}
p, ul {margin-bottom: 1em;}
.signature-container {margin-bottom: 10em;}

/* tables and boxes */
.box {padding: 10px;}
.box, table.table-bordered, .table-bordered-cell, table .table-bordered-cell td {border: 2px #999999 solid;}
.box, table.table-informacao {margin-bottom: 2em;}
table.table-informacao th, table.table-informacao td {vertical-align: middle; padding: 10px;}
table.table-informacao ul {margin-left: 2em;}
table.table-informacao ul li {list-style-type: square !important;}
.box, table.table-grey, .table-cell-grey {background: #f3f3f3;}
.table-cell-green {background: #009d58; color: #ffffff;}
.table-cell-nomo {width: 530px;}

/* forms */
.ficha-wrapper .instr label {margin: 0 5px;}
.form-field-wrapper {margin: 0.5em 0;}
.form-date-row {margin: 3em 0;}
.form-signature-row {margin: 7em 0;}
