/* global */
.main {font-size: 12px;}
.red-bg {background: #993300; padding: 1px; color: #ffffff;}

/* containers */
.title-bar {border-bottom: 2px #808080 solid;}
header > * {vertical-align: middle;}
.container-inner {margin: 0 1em;}
section {border: 2px solid #c0c0c0; margin-bottom: 5px; background: #f2f2f2;}
.wrapper-inner {padding: 5px 0;}

/* texts */
.brand-title {color: #696969; font-size: 2em; vertical-align: middle;}
.form-title {color: #333; font-size: 1.6em;}
.red-bg h3 {color: #ffffff;}
.main small.small {font-size: 70%; line-height: 0.5em;}
.signature-date {max-width: 170px; margin-bottom: 3em;}
.signature-actual {max-width: 190px;}
.signature-actual, .terms {color: #808080;}

/* form */
input[type="text"] {border: none; background: #fafafa; transition: 0.3s;}
input[type="text"]:hover {border: #606060; background: #fff;}
.form-retro-label-grey, .form-retro-label-end-light, .form-retro-label-middle, .form-retro-label-middle-dark, .form-retro-label-middle-light, .form-retro-input-dark, .form-retro-input-light, .form-retro-label-light, .form-retro-label-dark {min-height: 28px;}
.form-retro-input-dark {box-shadow: -2px -2px 0 0 #808080; min-height: 24px;}
.form-retro-input-light {border-bottom: 2px solid #fff;}
.form-retro-label-light {box-shadow: 0 -2px 0 0 #fff;}
.form-retro-label-dark {box-shadow: 0 2px 0 0 #808080;}
.form-retro-label-end-light {box-shadow: -2px -2px 0 0 #fff;}
.form-retro-label-middle {box-shadow: -2px -2px 0 0 #fff;}
.form-retro-label-middle-light, .form-retro-label-middle-dark {box-shadow: 0 2px 0 0 #c0c0c0;}
.form-retro-label-middle-dark {background: #dfdfdf;}
.form-retro-label-grey {box-shadow: -2px -2px 0 0 #c0c0c0;}
