/* reset */
#mainContent {padding: 25px 5%;}
.lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px; margin-left: auto; margin-right: auto;}
::selection {background: #2980b9; color: #bdc3c7;}
::-moz-selection {background: #2980b9; color: #bdc3c7;}
main, main p, main div {font-family: "Times New Roman", Arial, sans-serif; font-size: 12pt; color: #333;}
main .header-wrapper {max-width: 400px; width: 100%;}
main .instr label {margin: 0 0.4em;}
main .instr > * {display: inline;}
main button, main input.lifesuite__text-input, main input.lifesuite__textarea-input, main input {font-family: "Open Sans",Arial,"Helvetica","Helvetica Neue",sans-serif;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-40 {margin-bottom: 40px;}

/* borders */
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}
main .b-left {border-left: 1px solid #333;}
main .b-right {border-right: 1px solid #333;}
main .table, main .table-bordered > tbody > tr > td, main .table-bordered > tbody > tr > th, main .table-bordered > tfoot > tr > td, main .table-bordered > tfoot > tr > th, main .table-bordered > thead > tr > td, main .table-bordered > thead > tr > th{border-color: #333;}
main .table-responsive {border: none;}

/* paddings */
main .padded-section {padding: 1em 0.5em;}

/* alignments */
main .i-block {display: inline-block;}

/* backgrounds */
.lifesuite__eform-builder--body.fb-render.precise-style div.middle {background: url('<$link;/main/RedCarpet/FormTemplates/Primary_Offer_Letter/img/bg990.jpg>'); background-repeat: no-repeat ; background-size: auto 100%; border-radius: 0;}
.lifesuite__eform-builder--body.fb-render.precise-style .lifesuite__eform-builder {background: none; border-radius: 0; box-shadow: none; -webkit-box-shadow: none;}

/* components */
main .hr-short {max-width: 250px;}

/* lists */
main ol li, main ul li {margin-bottom: 10px;}
main ul.bullet-list {list-style-type: disc;}

/* forms */
main .instr input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox;}

@media (min-width:568px) and (max-width:768px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media only screen and (max-width:768px){
    main .table-responsive > .table-bordered {border: 1px solid #333;}
}

@media (max-width:567px){
    /* Extra small devices: Phones */
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; /*margin: 25% 5% !important; */}
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}

@media only screen and (min-width: 140px) and (max-width: 424px) { 
    .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, 
    .lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, 
    .lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required { 
         width:100% !important; 
     } 
}
