.main .box {border: 1px solid #333;}
.main .border-bottom {border-bottom: 1px solid #333;}
.main .border-top {border-top: 1px solid #333;}
.main .border-left {border-left: 1px solid #333;}
.main .border-right {border-right: 1px solid #333;}
.main .hr-wide {width: 990px;}
.main .vspace {margin-bottom: 2em;}
.main .inline-block {display: inline-block;}
.main .vertical-middle {vertical-align: middle;}
.main .padded {padding: 3px;}

@media only screen and (max-width: 768px) {
    .main .border-bottom, .main .border-top, .main .border-left, .main .border-right {display: inline-block;}
}
