main {font-size: 1.2em; font-family: Calibri, Arial, sans-serif;}
main h4 small {color: #333;}
main .vspace {margin-bottom: 1em;}
main .lead {font-size: 1.25em;}
main .text-blue {color: #1077b3;}
main .text-lg {font-size: 4em; margin: 0.2em 0 0 0.2em;}
main h1, main h2, main h3, main h4, main h5 {font-family: "Trebuchet MS", Arial, sans-serif;}
main .header-title-container {position: relative;}
main .header-title {position: absolute; top: -5em; width: 100%;}
main .indent-1 {margin-left: 1em;}
main .row-min-35 {min-height: 35px;}
main .row-min-75 {min-height: 75px;}
main .number-box {min-width: 30px; min-height: 30px; font-size: 1.25em;}
main .line-box {padding: 5px;}
main .box-wrapper {padding: 8px;}

/* backgrounds */
main .bg-gray {background: #d1d3d4;}
main .bg-blue {background: #e2f3fc; padding: 8px;}
main .bg-blue-light {background: #f3fafe;}
main .bg-default {background: #eeeeee;}

/* alignments */
main .inline-block {display: inline-block; float: none;}
main .valign-bottom {vertical-align: bottom;}
main .valign-middle {vertical-align: middle;}
main .valign-top {vertical-align: top;}

/* reset */
main ul {margin-left: 1em;}
main ul li {list-style-type: disc;}

/* borders */
main .border-top {border-top: 1px solid #333;}
main .border-bottom {border-bottom: 1px solid #333;}
main .border-left {border-left: 1px solid #333;}
main .border-right {border-right: 1px solid #333;}
main .border-blue {border-color: #1fc1f2;}
main .border-gray {border-color: #d1d3d4;}

@media only screen and (max-width: 767px) {
  main .header-title {position: relative; top: 0; width: 100%;}
  main .header-title h3 {font-size: 1.15em;}
  main .text-lg {font-size: 3em; margin: 20px 0;}
}
