a.link:link {
    font-size: 14px;
}

.bordered {
    border: 1px solid #000000;
}

.underlined {
    text-decoration: underline;
}

.normal {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.center {
    text-align:center;
}

.right {
    text-align:right;
}

.justify {
    text-align:justify;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.text {
   font-size: 14px !important;
}

.row .lifesuite__text-input {
    min-width: 95% !important;
    width: 95% !important;
}

.row .lifesuite__select-input {
    min-width: 95% !important;
    width: 95% !important;
    height: 33px !important;
    margin: 0 10px 10px 0 !important;
}

.row span .lifesuite__text-input {
    border: none;
    border-bottom: 1px solid #F14D62;
    background: transparent;
    border-radius: 0px;
    padding: 0px;
    margin: 0px !important;
    min-width: 100% !important;
    width: 100% !important;
}

.cal_and_button {
    width: 100% !important;
}

.cal_and_button .dateField {
    min-width: 0% !important;
    width: calc(100% - 48px) !important;
}

.section-header-container {
    text-align: center;
    margin-bottom: 20px;
}

.section-header {
	color: #FFFFFF;
	background-color: #000000;
	font-size: 18px !important;
    font-weight: bold;
    padding: 5px 30px;
}

.bordered-section {
	padding: 10px 20px;
    border: 2px solid #000000;
    font-size: 14px;
}

.bordered-section-title-red-container {
	text-align: center;
    margin-bottom: 20px;
}

.bordered-section-title-red {
	color: #FFFFFF;
	background-color: #FF0000;
    font-weight: bold;
    padding: 5px 15px;
}

.bordered-section-title-yellow-container {
	text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bordered-section-title-yellow {
	background-color: #FFFF00;
    font-weight: bold;
    padding: 5px 5px;
}

.image-container {
    float: left;
    width: 150px;
    margin-top: 20px;
}

.header-container {
	margin-bottom: 10px;
    font-size: 15px;
	line-height: 30px;
    text-align: right;
}

.header {
    font-weight: bold;
    font-size: 18px;
}

.img-responsive{
    margin: auto;
}

.form-group td.instr label {
    display: inline;
	padding-right: 10px;
    float: left;
}

.form-group td.instr input[type=radio] {
    margin-right: 20px;
}

.bottom-label {
	margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bold;
}

ul {
	list-style-type: disc !important;
    margin-left: 15px;
}

ul > li {
	line-height: 24px;
}

.version-wrapper {position: relative;}
.version-wrapper .version {position: absolute; right: -4.5em; bottom: 7em; transform: rotate(90deg);}

@media only screen and (max-width: 600px) {
    .image-container {
		float: none !important;
		display: block !important;
		margin: auto;
		margin-bottom: 10px;
    }

    .header-container{
		display: block !important;
        text-align: center;
    }
}

@media (max-width:768px){
 /* Extra small devices: Phones */
	.section-header {
		display: block;
	}
}

@media (min-width:768px) and (max-width:991px){
 /* Small devices: Tablets */
	.section-header {
		display: block;
	}
}

@media (min-width:992px) and (max-width:1199px){
 /* Medium devices: Desktops  */

}

@media (min-width:1200px){
 /* Large devices: Desktops  */

}
