main {font-family: 'Tahoma', Arial, Helvetica, sans-serif;}
main .box {border: #537dba 2px solid;}
main .blue-bg {background: #537dba; color: #f2f2f2;}
main .light-blue-bg {background: #b9cbe3;}
main .img-wrapper {max-width: 80px; width: 100%;}
main .vspace {margin-bottom: 0.75em;}
main .border-top {border-top: #537dba 2px solid;}
main .border-bottom {border-bottom: #537dba 2px solid;}
main .border-right {border-right: #537dba 2px solid;}
main .border-left {border-left: #537dba 2px solid;}
main h4, main h5 {margin: 0.1em 0;}
main h4 {font-family: 'Calibri', Arial, Helvetica, sans-serif;}

@media only screen and (max-width: 767px) {
    main .border-right, main .border-left {border: none;}
}
