.main {color: #333333; font-size: 1.3em;}
.main .medical-checklist, .main .indent-4 {margin-left: 4em;}
.main .medical-checklist li {margin-bottom: 1em;}
.main .col-40 {display: inline-block; width: 40%;}
.main .lifesuite__text-input {width: 100%; max-width: auto;}
.main table tr {display: inline-block;}
.main table .instr label {margin: 0 1em 0 0;}
.main li {clear: left;}

@media screen and (max-width: 690px) {
    .main .col-40 {width: 100%;}
    .main .medical-checklist, .main .indent-4 {margin-left: 1em;}
}
