main ul {list-style-type: disc;}
main, main p {font-size: 14px; color: #333;}
main .box {border: 1px solid #333;}
main .info-box {border-radius: 15px; padding: 8px 20px; background: #e5e5e5;}
main .thick-box {padding: 8px; border: 3px solid #333;}
main .b-left {border-left: 1px solid #333;}
main .b-right {border-right: 1px solid #333;}
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}
main .b-bottom-thick {border-bottom: 2px solid #333;}
main .control-label {margin-top: 0.5em;}
main .mb-5 {margin-bottom: 5px;}
main .mb-10 {margin-bottom: 10px;}
main .mb-15 {margin-bottom: 15px;}
main .mb-20 {margin-bottom: 20px;}
main ol, main ul {margin-left: 1.4em;}
main .indented-list {margin-left: 3em;}
main .col-5 {width: 4%;}
main .col-10 {width: 9%;}
main .col-90 {width: 89%;}
main .col-95 {width: 94%;}
main .v-top {vertical-align: top;}
main .v-middle {vertical-align: middle;}
main .inner-wrapper {padding-right: 20px;}
main .inline-block {display: inline-block;}

@media only screen and (max-width: 767px) {
	main .img-wrapper {max-width: 180px; margin-left: auto; margin-right: auto;}
	main .b-left, main .b-right {border: none;}
	main .invisible-xs {visibility: hidden;}
}
