/* resets */
main ul {list-style-type: disc;}
main ul, main ol {margin-left: 1.5em;}
main ol li {margin-bottom: 0.75em;}
main a:link, main a:focus, main a:visited {font-size: 12px;}
main .instr label.lifesuite__input-label {font-weight: normal; margin: 0 0.4em; font-size: 12px;}
main .lifesuite__text-input {min-width: auto; width: 100%; margin: 0 !important;}
main table .instr > * {display: inline;}

/* header */
main header h4 {margin-top: 1.8em;}

/* bars and associated elems */
main .bg-black {background: #333; color: #f2f2f2;}
main .bar-left {height: 98%; padding: 10px; position: absolute; max-width: 30px; width: 100%; top: 0; bottom: 0; left: 0;}
main .bar-left .bar-inner {position: absolute; top: 55%; bottom: 0; left: 0; right: 0;}
main .bar-left .bar-content {transform: rotate(-90deg);}
main .content-right {margin-left: 35px;}

/* borders */
main .box {border: 1px solid #333;}
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}
main .b-left {border-left: 1px solid #333;}
main .b-right {border-right: 1px solid #333;}

/* margins */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .ml-3p {margin-left: 3%;}

/* padding */
main .pt-10 {padding-top: 10px;}

/* wrappers */
.modal-img-wrapper {max-width: 250px; width: 100%;}

/* backgrounds */
.modal-content.terms-bg {background: #ffffff; background: linear-gradient(#ffffff, #71d6f8)}

/* modal */
#terms .modal-footer {text-align: center;}
#terms .modal-header, #terms .modal-footer {border: none;}
  
@media (min-width:768px) and (max-width:991px){ 
/* Small devices: Tablets */     
     .modal-content{max-width: calc(100% - 100px) !important; margin: 10px calc(20% - 10px) !important }
} 

@media (min-width:568px) and (max-width:768px){ 
/* Extra small devices: Phones */ 
     .modal-content{max-width: calc(100% - 100px) !important; margin: 10px calc(10% - 10px) !important }
} 

@media only screen and (max-width: 767px) {
    main .b-left, main .b-right {border: 0;}
}

@media (max-width:567px){ 
/* Extra small devices: Phones */ 
     .modal-content{max-width: calc(100% - 90px) !important; min-width:280px; margin: 10px calc(10% - 10px) !important;}
     .modal-content .row .lifesuite__clearfix{width: 100% !important; margin-right: 0px !important; }
     .modal-content .row .lifesuite__clearfix .lifesuite__button{padding: 10px 12px !important; }
} 
