main {font-size: 14px;}
main header h3 {margin-top: 0.3em;}

/* resets */
main ul li {list-style-type: disc;}
main .instr label {font-weight: normal; margin: 0 0.5em;}
main .lifesuite__text-input {min-width: initial; width: 100%;}

/* borders */
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}
main .b-right {border-right: 1px solid #333;}
main .b-left {border-left: 1px solid #333;}
main .box {border: 1px solid #333;}
main .b-none-bottom {border-bottom: transparent;}
main .b-green {border-color: #72937f;}
main .b-thick {border-width: 3px;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-60 {margin-bottom: 60px;}

/* lists */
main .list-indented {margin-left: 4em;}

/* backgrounds */
main .bg-cut {background: url('<$link;/main/RedCarpet/FormTemplates/State_Withholding_ID/img/idaho_cut_bg.jpg>') repeat-x;}
main .bg-padded {padding: 3px 12px; background: #eee;}

/* alignments */
main .inline-block {display: inline-block; vertical-align: middle;}

@media (min-width:768px) and (max-width:991px){ 
/* Small devices: Tablets */     
     .modal-content{max-width: calc(100% - 100px) !important; margin: 10px calc(20% - 10px) !important;}
} 

@media only screen and (max-width: 767px) {
    main .b-right, main .b-left {border: none;}
}

@media (min-width:568px) and (max-width:768px){ 
/* Extra small devices: Phones */ 
     .modal-content{max-width: calc(100% - 100px) !important; margin: 10px calc(10% - 10px) !important;}
} 

@media (max-width:567px){ 
/* Extra small devices: Phones */ 
     .modal-content{max-width: calc(100% - 60px) !important; min-width:280px; margin: 10px calc(10% - 10px) !important; }
     .modal-content .row .lifesuite__clearfix{width: 100% !important; margin-right: 0px !important; }
     .modal-content .row .lifesuite__clearfix .lifesuite__button{padding: 10px 12px !important; }
} 
