main .bg-teal {background: #ddf1ec; padding: 8px;}
main .vspace {margin-bottom: 0.5em;}
main .wrapper-thin {max-width: 50px; width: 100%;}
main .wrapper-short {max-width: 80px; width: 100%;}
main .indent-1 {margin-left: 2em;}
main .border-bottom-thick {border-bottom: 0.5em solid #333;}
main .dotted-line {border-bottom: 1px dotted #333;}
main .border-bottom {border-bottom: 1px solid #333;}
main .pre-footer {margin-bottom: 5em;}
main .lifesuite__select-input {max-width: 110px; width: initial;}
main .vertical-middle {vertical-align: middle;}

@media only screen and (max-width: 767px) {
  main .text-left-sm {text-align: left;}
  main .instr label {display: inline;}
}
