main {position: relative;}
main ol {margin-left: 3em;}
main .black-box-top-left, main .black-box-top-right, main .black-box-bottom-right {position: absolute; height: 15px; width: 15px; background: #333;}
main .black-box-top-left {top: 0; left: 0;}
main .black-box-top-right {top: 0; right: 0;}
main .black-box-bottom-right {bottom: 0; right: 0;}
main .barcode-wrapper {max-width: 300px; width: 100%;}
main .text-indent {margin-left: 1em;}
main header p {margin-right: 2.4em;line-height: 3.5em;}
main .box {border: 1px solid #333;}

main .border-left {border-left: 1px solid #333;}
main .border-right {border-right: 1px solid #333;}
main .border-top {border-top: 1px solid #333;}
main .border-bottom {border-bottom: 1px solid #333;}
main .input-wrapper-sm {max-width: 55px; width: 100%;}
main .list-label {line-height: 2em;}
main .vspace {margin-bottom: 1em;}
main .vertical-middle {vertical-align: middle;}
main .vertical-top {vertical-align: top;}
main .box.padded {padding: 0 10px;}
main .hr-thick {border-bottom: 2px #333 solid;}
main .col-8 {width: 7.5%;}
main .col-92 {width: 91.5%;}

@media only screen and (max-width: 767px) {
    main .border-left, main .border-right {border: none;}
}
