.lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px;}
#ButtonSaveAndComplete {margin-right: 0px;}
.middle .bg-grey {background: #e5e5e5;}
.middle .border-thick {border-width: 2px !important;}
.middle .lifesuite__eform-builder label.lifesuite__input-label {font-size: 14px;}
.middle .list-bulleted {list-style-type: disc;}
.lifesuite__module > * {width: 100%;}
.lifesuite__module .fa.fa-keyboard-o, .lifesuite__module .lifesuite__text-input {display: inline-block;}
.lifesuite__eform-builder--body.fb-render .middle .lifesuite__module .lifesuite__text-input {max-width: 250px; margin-right: 1rem !important;}
.lifesuite__eform-builder--body.fb-render .middle .lifesuite__module .lifesuite__text-input.hasDatepicker {width: 170px;}
.lifesuite__eform-builder--body.fb-render .lifesuite__text-input.hasDatepicker {max-width: 100px;}

/* cursor sign box */
.lifesuite__module > .lifesuite__float-left {max-width: 300px; display: inline-block; vertical-align: middle;}

@media only screen and (min-width: 992px) {
    .d-lg-flex .flex-even {flex: 1;}
}

@media only screen and (max-width: 767px) {
    .border-left-xs {border-left: 1px solid #333;}
    .border-right-xs {border-right: 1px solid #333;}
    .border-left.border-left-0-xs {border-left: none !important;}
    .border-right.border-right-0-xs {border-right: none !important;}
    .border-thick-xs {border-width: 2px !important;}
    .lifesuite__eform-builder--body.fb-render .middle .lifesuite__module .lifesuite__text-input {max-width: 210px;}
    .lifesuite__eform-builder--body.fb-render .middle .lifesuite__module .lifesuite__text-input.hasDatepicker {width: 120px;}
}
