/* resets */
main {font-size: 14px;}

/* containers */
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}
main .b-left {border-left: 1px solid #333;}
main .b-right {border-right: 1px solid #333;}
main .i-block {display: inline-block;}
main .inner-wrapper {max-width: 800px; width: 100%;}
main .b-thicc {border-width: 2px;}

/* alignments */
main .v-top {vertical-align: top;}
main .v-middle {vertical-align: middle;}
main .v-bottom {vertical-align: bottom;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-40 {margin-bottom: 40px;}
