main header h5 {margin-top: 0;}
main ol {margin-left: 2em;}
main .box {border: 1px solid #333;}
main .inner-wrapper {padding: 1em;}
main .border-top {border-top: 2px solid #333;}
main .border-bottom {border-bottom: 2px solid #333;}
main .border-left {border-left: 2px solid #333;}
main .border-right {border-right: 2px solid #333;}
main .vspace-lg {margin-bottom: 4em;}
main .col-5 {width: 4%;}
main .col-10 {width: 9%;}
main .col-90 {width: 89%;}
main .col-95 {width: 94%;}
main .vertical-top {vertical-align: top;}
main .vertical-middle {vertical-align: middle;}
main .vertical-bottom {vertical-align: bottom;}
main .text-indent {margin-left: 2em;}
main .lifesuite__select-input {width: 100%;}
main .instr input {margin-top: 0;}
main .instr label, main .instr input {display: inline-block; vertical-align: middle;}

@media only screen and (min-width: 768px) {
    main .text-indent-lg {margin-left: 2em;}
}
@media only screen and (max-width: 767px) {
    main .col-100-sm {width: 100%;}
    main .vertical-top-sm {vertical-align: top;}
    main .vertical-middle-sm {vertical-align: middle;}
    main .border-left, main .border-right {border: none;}
}
