main .vspace {margin-bottom: 1em;}
main .heading {background: #204260; border-radius: 5px; padding: 0.2em 1em; color: #f2f2f2;}
main .wrapper-inner {margin-right: 1em; margin-left: 1em;}
main ol, main ul {margin-left: 1em;}
main ul li {list-style-type: disc;}
main ol li {list-style-type: decimal;}
main figure {margin-left: 0;}
