main .inline-block {display: inline-block;}
main .vspace {margin-bottom: 1em;}
main .block-checkbox {max-width: 350px; width: 100%;}
main .horizontal-line {border-bottom: solid #333 0.25em;}
main a, a:active, a:hover, a:link, a:visited {font-size: 14px;}
main .instr input {margin: 0 0.5em;}
main .instr input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox;}
