main  {font-family: Arial, Helvetica, sans-serif; font-size: 1.2em;}
main a, main a:link {font-size: 1em;}
main .vspace {margin-bottom: 1em;}
main .vspace-sm {margin-bottom: 0.5em;}
main .vspace-lg {margin-bottom: 3em;}
main .text-blue {color: #1f0094;}
main .p-indent {text-indent: 2em;}

ul {margin-left: 2em;}
ul li {list-style-type: disc; margin-bottom: 1em;}
ul li ul li {list-style-type: circle;}
ul.list-compact li {margin-bottom: 0.1em;}

@media only screen and (min-width: 900px) {
    main .text-indent-lg {margin-left: 3em;}
    main .text-indent {margin-left: 2em;}
}
