.main {font-size: 12px; color: #333;}
.main h2, h3, h4 {line-height: 2em; margin: 0; color: #333;}
.main h4 {font-size: 11px;}
.main h3 {font-size: 14px;}

/* texts */
header {color: #fff; margin-bottom: 3em;}
header > div {padding: 5px;}
.text-purple {color: #7030a0;}
.main p {margin-bottom: 1em;}

/* containers and backgrounds */
.purple-bg {background: #7030a0;}
.pink-bg {background: #d60093;}
.grey-bg {background: #818181;}
.col-thin {width: 8px; display: inline-block;}
.container-inner {margin: 0 10% 6em;}
.wrapper-inner {margin: 2em 0;}
.checkbox-wrapper {margin: 1em 0;}
.checkbox-wrapper > div {margin-right: 2em;}
.branch-inner {margin: 1em 0;}

/* forms */
input[type="radio"] {-moz-appearance: checkbox; -webkit-appearance: checkbox; -ms-appearance: checkbox;}
.form-inline table .instr label {margin: 0 0 0 10px;}

/* table */
.table .cell-bordered {border: 1px solid #333;}
.table td {padding: 5px;}
.table table .instr {border: none;}
.table .form-inline table tr {width: 125px;}
.table-5-col table {width: 100%;}
.table-5-col .instr {width: 20%;}
.table-5-col .instr input {padding: 0 3px;}
