.modal-content p, main {font-size: 14px; font-family: "Open Sans", Arial, "Helvetica", "Helvetica Neue", sans-serif;}
main .vspace, ol li {margin-bottom: 1em;}
main .vspace-md {margin-bottom: 2em;}
main .vspace-lg {margin-bottom: 3em;}
main .vspace-xl {margin-bottom: 4em;}
main .img-wrapper {max-width: 120px; width: 100%;}
main ol {margin-left: 1em;}
main .control-label {font-weight: normal; width: 100%; margin-top: 0.5em;}
.modal-content {margin:50px auto !important; } 

@media only screen and (min-width: 768px) {
    main .control-label {text-align: right;}
}

@media only screen and (max-width: 767px) {
    main .img-wrapper {margin-left: auto; margin-right: auto;}
}

@media (min-width:568px) and (max-width:768px){
    .modal-content { max-width: calc(100% - 100px) !important; margin: 2% 5% !important; }
}

@media (max-width:567px){
    .modal-content { max-width: calc(100% - 80px) !important; min-width:280px; margin: 25% 5% !important; }
    .modal-content .row .lifesuite__clearfix { width: 100% !important; margin-right: 0px !important; }
    .modal-content .row .lifesuite_clearfix .lifesuite_button { padding: 10px 12px !important; } 
}
