.main {font-size: 14px;}
.main .text-blue {color: #004a75;}
.main .box {border: #333333 solid 1px;}
.main .blue-bg {background: #2e13a9; color: #f2f2f2;}
.main .bottom-border-white {border-bottom: #f2f2f2 1px solid;}
.main .bottom-space {margin-bottom: 2em;}
.main .inner-content {padding: 6px;}
.main .border-right {border-right: 1px #333333 solid;}
.main .border-bottom {border-bottom: 1px #333333 solid;}
