main {color: #333; font-size: 1.2em;}
main .box, .box {border: 1px solid #333;}
main .border-top {border-top: 1px solid #333;}
main .border-bottom {border-bottom: 1px solid #333;}
main .border-left {border-left: 1px solid #333;}
main .border-right {border-right: 1px solid #333;}
main .border-thick {border-width: 3px;}
main .border-gray {border-color: #a1a1a1; border-width: 2px;}
main .border-double {border-top-style: double;}
main .vspace {margin-bottom: 1em;}
main .inline-block {display: inline-block;}
main .dateField {width: 100% !important; max-width: 110px;}
main .valign-middle {vertical-align: middle;}
main .inner-wrapper {padding: 4px;}
main table .instr input, main table .instr label {margin: 0 2px; display: inline;}
main input[type="radio"] {-webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox;}
