.main p, .vspace {margin-bottom: 1em;}
.main p {padding: 0 30px;}
.inner-wrapper {padding: 10px 30px;}
.table-inline-checkbox > table {display: inline;}
.table-inline-checkbox > table .instr input[type="checkbox"] {margin-right: 5px;}
.table-inline-checkbox table .instr {height: 0; line-height: 0;}
.table-inline-radio > table tr, .table-inline-radio > table {display: inline-block; vertical-align: middle;}
.table-inline-radio .instr label, .table-inline-radio .instr input[type="radio"] {margin-right: 5px;}
