main h1, main h2, main h3, main h4, main h5 {color: #333;}
main .vspace-sm {margin-bottom: 0.5em;}
main .vspace {margin-bottom: 1.5em;}
main a, main a:link {font-size: 14px; text-decoration: none;}
main ol {margin-left: 2em;}
main .box {border: 1px #333 solid;}
main .inner-wrapper {padding: 0.5em;}
main li a.active {background: #b3d4fc; border-radius: 5px; padding: 2px;}
