main .heading {margin-bottom: 0.3em;}
main .vspace {margin-bottom: 1em;}
main .vspace-sm {margin-bottom: 0.5em;}
main .inline-block {display: inline-block;}
main .arrow-list li {list-style-image: url('../img/ws_arrow.png');}
