/* resets */
.lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px; margin-left: auto; margin-right: auto;}
main .row {margin-left: 0px; margin-right: 0px;}
main .instr label {margin: 0 0.3em;}
main .hasDatepicker {max-width: 120px;}
main table {display: initial;}

/* containers */
main .box {border: 1px solid #333;}
main .b-top {border-top: 1px solid #333;}
main .b-bottom {border-bottom: 1px solid #333;}
main .b-left {border-left: 1px solid #333;}
main .b-right {border-right: 1px solid #333;}
main .i-block {display: inline-block;}
main .inline {display: inline;}
main .inner-wrapper {max-width: 800px; width: 100%;}
main .header-img-wrapper {max-width: 220px; width: 100%;}
main .b-thicc {border-width: 2px;}
main .table-wrapper {display: table;}

/* alignments */
main .i-block {display: inline-block;}
main .v-top {vertical-align: top;}
main .v-middle {vertical-align: middle;}
main .v-bottom {vertical-align: bottom;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}
main .mb-40 {margin-bottom: 40px;}
main .p-sm {padding: 0.5em;}
main .px-md {padding: 0 1em;}

/* backgrounds */
main .bg-black {background: #333; color: #eee;}
main .bg-black small {color: #eee;}

div.container-fluid .lifesuite__clearfix{margin-right: 0px !important;}
.lifesuite__eform-builder--body.fb-render .middle{max-width: 990px !important; margin: 0px auto !important; }
.lifesuite__eform-builder--body.fb-render main .lifesuite__module .lifesuite__text-input, .lifesuite__eform-builder--body.fb-render .lifesuite__module .lifesuite__text-input {width: auto; margin: 0 0.5em !important;}

@media only screen and (max-width: 769px) {
    main .b-left, main .b-right {border: none;}
}

@media only screen and (min-width: 140px) and (max-width: 424px) { 
    .lifesuite__text-input.ng-pristine.ng-invalid.ng-invalid-required.ng-touched, 
    .lifesuite__text-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required, 
    .lifesuite__text-input.ng-dirty.ng-touched.ng-invalid.ng-invalid-required { 
         width:100% !important; 
     } 
}
