main .box {border: 1px solid #333;}
main .border-top {border-top: 1px solid #333;}
main .border-left {border-left: 1px solid #333;}
main .border-right {border-right: 1px solid #333;}
main .border-bottom {border-bottom: 1px solid #333;}
main .border-thick {border-width: 2px;}
main .bg-black {background: #333; color: #eee;}
main .bg-gray {background: #e5e5e5;}
main .padding-less {padding: 0; margin: 0;}
main .vmin {min-height: 42px;}
main .vmin-12 {min-height: 12em;}
main .vspace {margin-bottom: 1em;}
main .inline-block {display: inline-block;}
main .indent-1 {margin-left: 1em;}
main .form-group.bottom {position: absolute; left: 0; bottom: 0;}

@media only screen and (max-width: 767px) {
  main .border-top, main .border-left, main .border-right, main .border-bottom {border: none;}
}
