/* reset */
.lifesuite__eform-builder--body.fb-render div.middle {max-width: 990px; margin-left: auto; margin-right: auto;}
main {font-size: 11pt; color: #444;}

/* containers */
main .box {border: 1px solid #333; padding: 5px;}
main .narrow-wrapper {max-width: 800px;}

/* spacings */
main .mb-10 {margin-bottom: 10px;}
main .mb-20 {margin-bottom: 20px;}
main .mb-30 {margin-bottom: 30px;}

/* alignments */
main .control-label {font-weight: normal; margin-top: 0.4em;}
main .inline-block {display: inline-block;}
main .v-middle {vertical-align: middle;}

/* components */
main input.hasDatepicker {max-width: 120px;}

/* Keyboard Sign - Custom CSS for RC Tax Forms */ 
li[id^=mainnav] input[id^=Sig_Typed_Date] { max-width: calc(100% - 23px) !important; min-width: calc(100% - 24px) !important; margin-right: 10px !important; } 
li[id^=mainnav] input[placeholder^="Sign Here"] { max-width: calc(100% - 36px) !important; min-width: calc(100% - 36px) !important; } 
li[id^="mainnav"] input[id^="Sig_Typed_Date"] {max-width: calc(100% - 40px) !important;}
