{% extends "AppBundle:Dashboard:base.html.twig" %}

{% block dashboard_main_content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Tickets
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
        </section>
        <section class="content">
            {{ dump(ticket) }}
        </section>
    </div>
{% endblock %}
