<table class="tbl_main" align="center">
    <tr>
      <td>
        <table class="tbl_main_inner">
            <tr>
                <td colspan="2" class="td_centerTitle">ACCOUNT ACCESS AND IT EQUIPMENT REQUEST FORM</td>
            </tr>
        </table>
      </td>
  </tr>
    <tr>
      <td class="td_centerTitle">&nbsp;</td>
  </tr>
    <tr>
      <td>
        <table class="tbl_main_inner2" border="2" bordercolor="#000000">
            <tr>
                <td colspan="2" align="center"><strong>EMPLOYEE INFORMATION AND LOCATION</strong></td>
            </tr>
            <tr>
              <td width="50%">
                <table class="tbl_main_inner">
                    <tr>
                        <td width="21%">Full Name:</td>
                        <td width="79%"><$client.env.FormField.a01_FullName.HTML></td>
                    </tr>
                </table>
              </td>
              <td width="50%"><table class="tbl_main_inner">
                <tr>
                  <td width="25%">Hire/Action Date:</td>
                  <td width="75%"><$client.env.FormField.a02_HireActionDate.HTML></td>
              </tr>
            </table></td>
          </tr>
            <tr>
              <td><table class="tbl_main_inner">
                <tr>
                  <td width="21%">Action Type:</td>
                  <td width="79%"><$client.env.FormField.a03_ActionType.HTML></td>
              </tr>
            </table></td>
              <td><table class="tbl_main_inner">
                <tr>
                  <td width="39%">*Type of Change or Update:</td>
                  <td width="61%"><$client.env.FormField.a04_TypeOfChange.HTML></td>
              </tr>
            </table></td>
          </tr>
            <tr>
              <td><table class="tbl_main_inner">
                <tr>
                  <td width="21%">Title/Position:</td>
                  <td width="79%"><$client.env.FormField.a05_TitlePosition.HTML></td>
              </tr>
            </table></td>
              <td><table class="tbl_main_inner">
                <tr>
                  <td width="23%">Position Type:</td>
                  <td width="77%"><$client.env.FormField.a06_PositionType.HTML></td>
              </tr>
            </table></td>
          </tr>
            <tr>
              <td><table class="tbl_main_inner">
                <tr>
                  <td width="46%">Replacement of SVCC employee?</td>
                  <td width="54%"><$client.env.FormField.a07_ReplacementOfSvcc.HTML></td>
              </tr>
            </table></td>
              <td><table class="tbl_main_inner">
                <tr>
                  <td width="46%">If yes, name of person replacing:</td>
                  <td width="54%"><$client.env.FormField.a08_IfYesNameOfPerson.HTML></td>
              </tr>
            </table></td>
          </tr>
            <tr>
              <td><table class="tbl_main_inner">
                <tr>
                  <td width="23%">Main Campus:</td>
                  <td width="77%"><$client.env.FormField.a09_MainCampus.HTML></td>
              </tr>
            </table></td>
              <td><table class="tbl_main_inner">
                <tr>
                  <td width="28%">Physical Location:</td>
                  <td width="72%"><$client.env.FormField.a10_PhysicalLocation.HTML></td>
              </tr>
            </table></td>
          </tr>
            <tr>
              <td><table class="tbl_main_inner">
                <tr>
                  <td width="23%">Department:</td>
                  <td width="77%"><$client.env.FormField.a11_Department.HTML></td>
              </tr>
            </table></td>
              <td><table class="tbl_main_inner">
                <tr>
                  <td width="28%">Building/Room#:</td>
                  <td width="72%"><$client.env.FormField.a12_BuildingRoomNo.HTML></td>
              </tr>
            </table></td>
          </tr>
            <tr>
              <td colspan="2"><table class="tbl_main_inner">
                <tr>
                  <td width="13%">Supervisor Name:</td>
                  <td width="87%"><$client.env.FormField.a13_SupervisorName.HTML></td>
              </tr>
            </table></td>
          </tr>
        </table>
      </td>
  </tr>
    <tr>
      <td><table class="tbl_main_inner2" border="2" bordercolor="#000000">
        <tr>
          <td colspan="4" align="center"><strong>IT/ EQUIPMENT REQUEST</strong></td>
        </tr>
        <tr>
          <td width="30%">&nbsp;</td>
          <td width="25%" align="center">Supervisor Request:</td>
          <td width="25%" align="center">Action Completed:</td>
          <td width="20%" align="center">Action Complete Date:</td>
        </tr>
        <tr>
          <td width="30%"><table class="tbl_main_inner">
            <tr>
              <td width="77%">Phone:</td>
              <td width="23%">&nbsp;</td>
              </tr>
          </table></td>
          <td width="25%"><div align="center">
            <$client.env.FormField.b01_A_Dropdown.HTML>
          </div></td>
          <td width="25%"><div align="center">
            <$client.env.FormField.b03_A_Text.HTML>
          </div></td>
          <td width="20%"><div align="center">
            <$client.env.FormField.b04_A_CompletedDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="77%">Voicemail:</td>
              <td width="23%">&nbsp;</td>
              </tr>
          </table></td>
          <td><div align="center">
            <$client.env.FormField.b01_B_Dropdown.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b03_B_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b04_B_CompletedDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="77%">AD Login ID/Network Access:</td>
              <td width="23%">&nbsp;</td>
              </tr>
          </table></td>
          <td><div align="center">
            <$client.env.FormField.b01_C_Dropdown.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b03_C_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b04_C_CompletedDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="77%">User Email setup:</td>
              <td width="23%">&nbsp;</td>
              </tr>
          </table></td>
          <td><div align="center">
            <$client.env.FormField.b01_D_Dropdown.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b03_D_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b04_D_CompletedDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="77%">Computer setup:</td>
              <td width="23%">&nbsp;</td>
              </tr>
          </table></td>
          <td><div align="center">
            <$client.env.FormField.b01_E_Dropdown.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b03_E_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b04_E_CompletedDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="77%">Shared Drive Access:</td>
              <td width="23%">&nbsp;</td>
              </tr>
          </table></td>
          <td><div align="center">
            <$client.env.FormField.b02_F_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b03_F_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b04_F_CompletedDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="77%">Add to Email Distribution Lists:</td>
              <td width="23%">&nbsp;</td>
              </tr>
            <tr>
              <td colspan="2" style="font-size:10px;">(ex. faculty.all; Chr.staff; Dan.fac)</td>
              </tr>
          </table></td>
          <td><div align="center">
            <$client.env.FormField.b02_G_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b03_G_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b04_G_CompletedDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="77%">Notes to IT/Special IT Request:</td>
              <td width="23%"></td>
              </tr>
          </table></td>
          <td><div align="center">
            <$client.env.FormField.b02_H_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b03_H_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.b04_H_CompletedDate.HTML>
          </div></td>
        </tr>
      </table></td>
  </tr>
    <tr>
      <td align="center"><strong>Supervisors, please answer the following questions in order to properly assign security access to College systems.</strong></td>
  </tr>
    <tr>
      <td><table class="tbl_main_inner2" border="2" bordercolor="#000000">
        <tr>
          <td width="30%">Employee Setup for HRMS:</td>
          <td><$client.env.FormField.c01_EmployeeDrop.HTML></td>
        </tr>
        <tr>
          <td>Manager Setup for HRMS:</td>
          <td><$client.env.FormField.c02_ManagerDrop.HTML></td>
        </tr>
        <tr>
          <td>SIS Setup - General:</td>
          <td><$client.env.FormField.c03_SisDrop.HTML></td>
        </tr>
        <tr>
          <td>Instructor/Advisor Setup:</td>
          <td><$client.env.FormField.c04_InstructorDrop.HTML></td>
        </tr>
        <tr>
          <td>Admissions &amp; Records SIS Setup:</td>
          <td><$client.env.FormField.c05_AdmissionDrop.HTML></td>
        </tr>
        <tr>
          <td>Business Office SIS Setup:</td>
          <td><$client.env.FormField.c06_BusinessDrop.HTML></td>
        </tr>
        <tr>
          <td>Financial Aid Office SIS Setup:</td>
          <td><$client.env.FormField.c07_FinancialDrop.HTML></td>
        </tr>
        <tr>
          <td>Campus Community/Shared, SIS Setup:</td>
          <td><$client.env.FormField.c08_CampusDrop.HTML></td>
        </tr>
        <tr>
          <td>Class Schedule, SIS Setup:</td>
          <td><$client.env.FormField.c09_ClassDrop.HTML></td>
        </tr>
        <tr>
          <td>Process Adjunct Contracts:</td>
          <td><$client.env.FormField.c10_ProcessDrop.HTML></td>
        </tr>
        <tr>
          <td>HR Department Setup:</td>
          <td><$client.env.FormField.c11_HrDeptDrop.HTML></td>
        </tr>
        <tr>
          <td>Payroll Department Setup:</td>
          <td><$client.env.FormField.c12_PayrollDrop.HTML></td>
        </tr>
        <tr>
          <td>Absence Management Setup:</td>
          <td><$client.env.FormField.c13_AbsenceDrop.HTML></td>
        </tr>
        <tr>
          <td>SIS Setup – Tech Support:</td>
          <td><$client.env.FormField.c14_SisSetupDrop.HTML></td>
        </tr>
      </table></td>
  </tr>
    <tr>
      <td align="center"><strong>SIS/HRMS ACCOUNT ACCESS</strong></td>
  </tr>
    <tr>
      <td><table class="tbl_main_inner2" border="2" bordercolor="#000000">
        <tr>
          <td colspan="4" align="center"><strong>Per Permissions Requested by Supervisor:</strong></td>
        </tr>
        <tr>
          <td width="25%"><table class="tbl_main_inner">
            <tr>
              <td>SIS/HRMS Access:</td>
              </tr>
            <tr>
              <td>&nbsp;</td>
              </tr>
          </table></td>
          <td colspan="3"><table class="tbl_main_inner">
            <tr>
              <td>&nbsp;</td>
              </tr>
            <tr>
              <td><$client.env.FormField.d02_Signature.HTML></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td colspan="4" align="center"><strong>Peoplesoft Team Review:</strong></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td>SIS DataOwner SF Required:</td>
              </tr>
            <tr>
              <td>&nbsp;</td>
              </tr>
          </table></td>
          <td width="7%" valign="bottom"><div align="center">
            <$client.env.FormField.d03_A_Sf_Drop.HTML>
          </div></td>
          <td width="42%"><table class="tbl_main_inner">
            <tr>
              <td align="center">SIS DataOwner SF ESign:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.d04_A_Sf_Signature.HTML></td>
              </tr>
          </table></td>
          <td width="26%"><table class="tbl_main_inner">
            <tr>
              <td align="center">ESign Date:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.d05_A_Sf_Date.HTML></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td>SIS DataOwner AR Required:</td>
              </tr>
            <tr>
              <td>&nbsp;</td>
              </tr>
          </table></td>
          <td valign="bottom"><div align="center">
            <$client.env.FormField.d03_B_Ar_Drop.HTML>
          </div></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">SIS DataOwner AR ESign:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.d04_B_Ar_Signature.HTML></td>
              </tr>
          </table></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">ESign Date:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.d05_B_Ar_Date.HTML></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td>SIS DataOwner FA Required:</td>
              </tr>
            <tr>
              <td>&nbsp;</td>
              </tr>
          </table></td>
          <td valign="bottom"><div align="center">
            <$client.env.FormField.d03_C_Fa_Drop.HTML>
          </div></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">SIS DataOwner FA ESign:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.d04_C_Fa_Signature.HTML></td>
              </tr>
          </table></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">ESign Date:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.d05_C_Fa_Date.HTML></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td>HRMS/HR DataOwner Required:</td>
              </tr>
            <tr>
              <td>&nbsp;</td>
              </tr>
          </table></td>
          <td valign="bottom"><div align="center">
            <$client.env.FormField.d03_D_DataOwner_Drop.HTML>
          </div></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">HR DataOwner ESign:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.d04_D_DataOwner_Signature.HTML></td>
              </tr>
          </table></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">ESign Date:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.d05_D_DataOwner_Date.HTML></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td colspan="2"><table class="tbl_main_inner">
            <tr>
              <td>SIS/HRMS Account Setup completed:</td>
              </tr>
            <tr>
              <td>&nbsp;</td>
              </tr>
          </table></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">Peoplesoft Team Initials:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.d06_PsTeamInitials.HTML></td>
              </tr>
          </table></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">Setup Date:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.d07_SetupDate.HTML></td>
              </tr>
          </table></td>
        </tr>
      </table></td>
  </tr>
    <tr>
      <td align="center"><strong>AIS ACCOUNT ACCESS</strong></td>
  </tr>
    <tr>
      <td><table class="tbl_main_inner2" border="2" bordercolor="#000000">
        <tr>
          <td colspan="4" align="center"><strong>Supervisor Request:</strong></td>
        </tr>
        <tr>
          <td width="25%"><table class="tbl_main_inner">
            <tr>
              <td>AIS Access:</td>
              </tr>
            <tr>
              <td>&nbsp;</td>
              </tr>
            </table></td>
          <td width="7%" valign="bottom"><$client.env.FormField.e01_AccessDrop.HTML>
          <div align="center"></div></td>
          <td colspan="2"><table class="tbl_main_inner">
            <tr>
              <td>Level Requested:</td>
              </tr>
            <tr>
              <td><$client.env.FormField.e02_LevelRequestedDrop.HTML></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td colspan="4" align="center"><strong>Peoplesoft Team Review:</strong></td>
        </tr>
        <tr>
          <td colspan="3"><table class="tbl_main_inner">
            <tr>
              <td>AIS DataOwner ESign:</td>
              </tr>
            <tr>
              <td><$client.env.FormField.e03_Signature.HTML></td>
              </tr>
          </table></td>
          <td width="26%"><table class="tbl_main_inner">
            <tr>
              <td align="center">ESign Date:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.e04_Date.HTML></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td colspan="2"><table class="tbl_main_inner">
            <tr>
              <td>AIS Account Setup completed:</td>
              </tr>
            <tr>
              <td>&nbsp;</td>
              </tr>
          </table></td>
          <td width="42%"><table class="tbl_main_inner">
            <tr>
              <td align="center">Peoplesoft Team Initials:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.e05_PsTeamInitials.HTML></td>
              </tr>
          </table></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">Setup Date:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.e06_SetupDate.HTML></td>
              </tr>
          </table></td>
        </tr>
      </table></td>
  </tr>
    <tr>
      <td align="center"><strong>EVA ACCOUNT ACCESS</strong></td>
  </tr>
    <tr>
      <td><table class="tbl_main_inner2" border="2" bordercolor="#000000">
        <tr>
          <td colspan="4" align="center"><strong>Supervisor Request:</strong></td>
        </tr>
        <tr>
          <td width="25%"><table class="tbl_main_inner">
            <tr>
              <td>EVA Access:</td>
              </tr>
            <tr>
              <td>&nbsp;</td>
              </tr>
            </table></td>
          <td width="7%" valign="bottom"><$client.env.FormField.f01_AccessDrop.HTML>
          <div align="center"></div></td>
          <td colspan="2"><table class="tbl_main_inner">
            <tr>
              <td>&nbsp;</td>
              </tr>
            <tr>
              <td><$client.env.FormField.f02_LevelRequestedDrop.HTML></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td colspan="4" align="center"><strong>Peoplesoft Team Review:</strong></td>
        </tr>
        <tr>
          <td colspan="2"><table class="tbl_main_inner">
            <tr>
              <td>EVA DataOwner Required:</td>
              </tr>
            <tr>
              <td>&nbsp;</td>
              </tr>
          </table></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">EVA DataOwner ESign:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.f03_Signature.HTML></td>
              </tr>
          </table></td>
          <td width="26%"><table class="tbl_main_inner">
            <tr>
              <td align="center">ESign Date:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.f04_Date.HTML></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td colspan="2"><table class="tbl_main_inner">
            <tr>
              <td>EVA Account Setup completed:</td>
              </tr>
            <tr>
              <td>&nbsp;</td>
              </tr>
            </table></td>
          <td width="42%"><table class="tbl_main_inner">
            <tr>
              <td align="center">Peoplesoft Team Initials:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.f05_PsTeamInitials.HTML></td>
              </tr>
            </table></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">Setup Date:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.f06_SetupDate.HTML></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
    <tr>
      <td align="center"><strong>OTHER ACCOUNT ACCESS</strong></td>
  </tr>
    <tr>
      <td><table class="tbl_main_inner2" border="2" bordercolor="#000000">
        <tr>
          <td width="30%">&nbsp;</td>
          <td width="25%" align="center">Supervisor Request:</td>
          <td width="25%" align="center">Action Completed:</td>
          <td width="20%" align="center">Action Complete Date:</td>
        </tr>
        <tr>
          <td width="30%"><table class="tbl_main_inner">
            <tr>
              <td width="77%">QUINN Access:</td>
              <td width="23%">&nbsp;</td>
              </tr>
            </table></td>
          <td width="25%"><div align="center">
            <$client.env.FormField.g01_A_Drop.HTML>
          </div></td>
          <td width="25%"><div align="center">
            <$client.env.FormField.g03_A_Text.HTML>
          </div></td>
          <td width="20%"><div align="center">
            <$client.env.FormField.g04_A_CompletedDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="77%">Mainframe Apps Access:</td>
              <td width="23%">&nbsp;</td>
              </tr>
            </table></td>
          <td><div align="center">
            <$client.env.FormField.g01_B_Drop.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.g03_B_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.g04_B_CompletedDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="77%">Va Ed Wizard Access:</td>
              <td width="23%">&nbsp;</td>
              </tr>
            </table></td>
          <td><div align="center">
            <$client.env.FormField.g01_C_Drop.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.g03_C_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.g04_C_CompletedDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="77%">Issuetrak Access:</td>
              <td width="23%">&nbsp;</td>
              </tr>
            </table></td>
          <td><div align="center">
            <$client.env.FormField.g01_D_Drop.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.g03_D_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.g04_D_CompletedDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="77%">SAILS Access:</td>
              <td width="23%">&nbsp;</td>
              </tr>
            </table></td>
          <td><div align="center">
            <$client.env.FormField.g01_E_Drop.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.g03_E_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.g04_E_CompletedDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="77%">Notes to/special request </td>
              <td width="23%">&nbsp;</td>
              </tr>
            <tr>
              <td colspan="2">Peoplesoft Admin.:</td>
              </tr>
            </table></td>
          <td><div align="center">
            <$client.env.FormField.g02_F_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.g03_F_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.g04_F_CompletedDate.HTML>
          </div></td>
        </tr>
      </table></td>
  </tr>
    <tr>
      <td>&nbsp;</td>
  </tr>
    <tr>
      <td><table class="tbl_main_inner2" border="2" bordercolor="#000000">
        <tr>
          <td colspan="3" align="center"><strong>HR/BUSINESS OFFICE ACCESS ONLY</strong></td>
        </tr>
        <tr>
          <td width="32%">&nbsp;</td>
          <td width="42%" align="center">Request Submitted:</td>
          <td width="26%" align="center">Request Submit Date:</td>
        </tr>
        <tr>
          <td>Reportline Access:</td>
          <td><div align="center">
            <$client.env.FormField.h01_ReportlineAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.h02_ReportlineDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>CIPPS Access:</td>
          <td><div align="center">
            <$client.env.FormField.h03_CippsAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.h04_CippsDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td colspan="3" align="center"><strong>BUSINESS OFFICE ACCESS ONLY</strong></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td align="center">Request Submitted:</td>
          <td align="center">Request Submit Date:</td>
        </tr>
        <tr>
          <td>CARS Access:</td>
          <td><div align="center">
            <$client.env.FormField.i01_CarsAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.i02_CarsDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>G5 Access:</td>
          <td><div align="center">
            <$client.env.FormField.i03_g5Access.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.i04_g5Date.HTML>
          </div></td>
        </tr>
        <tr>
          <td>Works Access:</td>
          <td><div align="center">
            <$client.env.FormField.i05_WorkAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.i06_WorkDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>Ready VA Access:</td>
          <td><div align="center">
            <$client.env.FormField.i07_ReadyAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.i08_ReadyDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>Other Access needed:</td>
          <td><div align="center">
            <$client.env.FormField.i09_OtherAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.i10_OtherDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td colspan="3" align="center"><strong>HR/PAYROLL OFFICE ACCESS ONLY</strong></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td align="center">Request Submitted:</td>
          <td align="center">Request Submit Date:</td>
        </tr>
        <tr>
          <td>Red Carpet Access:</td>
          <td><div align="center">
            <$client.env.FormField.j01_RcAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.j02_RcDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>PMIS Access:</td>
          <td><div align="center">
            <$client.env.FormField.j03_PmisAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.j04_PmisDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>VRS Navigator Access:</td>
          <td><div align="center">
            <$client.env.FormField.j05_VrsAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.j06_VrsDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>HuRMan Access:</td>
          <td><div align="center">
            <$client.env.FormField.j07_HuRmanAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.j08_HuRmanDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>RMS Access:</td>
          <td><div align="center">
            <$client.env.FormField.j09_RmsAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.j10_RmsDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>Payline Access:</td>
          <td><div align="center">
            <$client.env.FormField.j11_PaylineAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.j12_PaylineDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>Payline Agency Contact for passwords:</td>
          <td><div align="center">
            <$client.env.FormField.j13_PayAgencyAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.j14_PayAgencyDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>EAR Reporting:</td>
          <td><div align="center">
            <$client.env.FormField.j15_EarAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.j16_EarDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>PAT Access:</td>
          <td><div align="center">
            <$client.env.FormField.j17_PatAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.j18_PatDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>Socialsecurity.gov Access:</td>
          <td><div align="center">
            <$client.env.FormField.j19_SocialAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.j20_SocialDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>VSDP Claim System Access:</td>
          <td><div align="center">
            <$client.env.FormField.j21_VsdpAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.j22_VsdpDate.HTML>
          </div></td>
        </tr>
        <tr>
          <td>VRS Approved Contact:</td>
          <td><div align="center">
            <$client.env.FormField.j23_VrsAccess.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.j24_VrsDate.HTML>
          </div></td>
        </tr>
      </table></td>
  </tr>
    <tr>
      <td>&nbsp;</td>
  </tr>
    <tr>
      <td><table class="tbl_main_inner2" border="2" bordercolor="#000000">
        <tr>
          <td colspan="2" align="center"><strong>ACCESS APPROVALS</strong></td>
        </tr>
        <tr>
          <td width="68%"><table class="tbl_main_inner">
            <tr>
              <td align="center">The level of IT access is appropriate for this employee. Hiring Supervisor eSignature:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.k01_Signature.HTML></td>
              </tr>
          </table></td>
          <td width="32%"><table class="tbl_main_inner">
            <tr>
              <td align="center">Date:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.k02_Date.HTML></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">Networks Services eSignature:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.k03_Signature.HTML></td>
              </tr>
          </table></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">Date:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.k04_Date.HTML></td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">Peoplesoft Admin. eSignature:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.k05_Signature.HTML></td>
              </tr>
          </table></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td align="center">Date:</td>
              </tr>
            <tr>
              <td align="center"><$client.env.FormField.k06_Date.HTML></td>
              </tr>
          </table></td>
        </tr>
      </table></td>
  </tr>
    <tr>
      <td>&nbsp;</td>
  </tr>
    <tr>
      <td><table class="tbl_main_inner2" border="2" bordercolor="#000000">
        <tr>
          <td colspan="3" align="center"><strong>SECURITY REVIEW</strong></td>
        </tr>
        <tr>
          <td width="40%">&nbsp;</td>
          <td width="30%" align="center">Action Completed:</td>
          <td width="30%" align="center">Action Complete Date:</td>
        </tr>
        <tr>
          <td>Security Awareness Account Setup:</td>
          <td><div align="center">
            <$client.env.FormField.l01_Text.HTML>
          </div></td>
          <td><div align="center">
            <$client.env.FormField.l02_Date.HTML>
          </div></td>
        </tr>
        <tr>
          <td colspan="2"><table class="tbl_main_inner">
            <tr>
              <td width="35%">Security Reviewed, ISO eSignature:</td>
              <td width="65%" align="center"><$client.env.FormField.l03_Signature.HTML></td>
              </tr>
          </table></td>
          <td><table class="tbl_main_inner">
            <tr>
              <td width="19%">Date:</td>
              <td width="81%" align="center"><$client.env.FormField.l04_Date.HTML></td>
              </tr>
          </table></td>
        </tr>
      </table></td>
  </tr>
</table>
