<div class="main">
    <header class="clearfix">
        <div class="col-45">
            <img src="assets/img/sfpuc_logo.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-25 pull-right">
            <address class="text-right">
                <small>525 Golden Gate Ave, 3rd Floor</small><br>
                <small>San Francisco, CA 94102</small><br>
                <small>T 415.554.1670</small><br>
                <small>TTY 415.554.1672</small>
            </address>
        </div>
    </header>

    <div class="vspace">
        <h1 class="text-center">
            <u>ACKNOWLEDGEMENT OF DOCUMENTS REVIEWED</u>
        </h1>
    </div>

    <div class="vspace">
        <div class="wrapper-inner clearfix">
            <div class="col-10">
                <strong>
                    Name:
                </strong>
            </div>
            <div class="col-90 pull-right">
                <$client.env.FormField.a01_name.HTML>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-15">
                <strong>
                    Class # &amp; Title:
                </strong>
            </div>
            <div class="col-85 pull-right">
                <$client.env.FormField.a02_class_title.HTML>
            </div>
        </div>
    </div>

    <div class="box vspace">
        <div class="wrapper-inner">
            <strong>
                Check box required for each section listed below:
            </strong>
        </div>
        <div class="wrapper-inner">
            <label class="table-checkbox">
                <$client.env.FormField.a03_City_and_County.HTML>
                <div class="col-95 vertical-top">
                    City and County of San Francisco Policies
                </div>
            </label>
            <div class="indent-3">
                <ul class="col-50">
                    <li>
                        Oath of Allegiance
                    </li>
                    <li>
                        Disaster Service Worker
                    </li>
                    <li>
                        Drug Free Workplace Notice
                    </li>
                    <li>
                        Prevention of Workplace Violence
                    </li>
                    <li>
                        Equal Employment Opportunity
                    </li>
                    <li>
                        Persons with Disabilities
                    </li>
                    <li>
                        Language Diversity
                    </li>
                </ul>
                <ul class="col-50">
                    <li>
                        Use of Slurs
                    </li>
                    <li>
                        Harassment Free Workplace
                    </li>
                    <li>
                        Sexual Harassment
                    </li>
                    <li>
                        Filing a Discrimination Complaint
                    </li>
                    <li>
                        Disciplinary Action against Striking
                    </li>
                    <li>
                        Lactation in the Workplace Policy
                    </li>
                    <li>
                        Policy on Family and Romantic Relationships at Work
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper-inner">
            <label class="table-checkbox">
                <$client.env.FormField.a04_Use_of_Computers_Email.HTML>
                <div class="col-95 vertical-top">
                    Use of Computers, E-mail, Internet, and Mobile Communication Services Policy
                </div>
            </label>
        </div>

        <div class="wrapper-inner">
            <label class="table-checkbox">
                <$client.env.FormField.a05_Incompatible_Activities_Policy.HTML>
                <div class="col-95 vertical-top">
                    Incompatible Activities Policy
                </div>
            </label>
            <div class="indent-3">
                <ul>
                    <li>
                        Summary of Restrictions on Incompatible Activities, Gifts &amp; Outside Employment
                    </li>
                    <li>
                        Statement of Incompatible Activities (including City resources and gifts)
                    </li>
                    <li>
                        Civil Service Policy on Additional Employment
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper-inner">
            <label class="table-checkbox">
                <$client.env.FormField.a06_Request_for_Approval.HTML>
                <div class="col-95 vertical-top">
                    Request for Approval of Additional Employment
                </div>
            </label>
        </div>

        <div class="wrapper-inner">
            <label class="table-checkbox">
                <$client.env.FormField.a07_Guide_to_Workers_Compensation.HTML>
                <div class="col-95 vertical-top">
                    Guide to Worker’s Compensation
                </div>
            </label>
        </div>

        <div class="wrapper-inner">
            <label class="table-checkbox">
                <$client.env.FormField.a09_Paid_Sick_Leave_Ordinance.HTML>
                <div class="col-95 vertical-top">
                    Paid Sick Leave Ordinance <em>(If applicable)</em>
                </div>
            </label>
        </div>

        <div class="wrapper-inner">
            <label class="table-checkbox">
                <$client.env.FormField.a10_Statement_of_Economic.HTML>
                <div class="col-95 vertical-top">
                    Statement of Economic Interest (Form 700) <em>(If applicable)</em>
                </div>
            </label>
        </div>

        <div class="wrapper-inner">
            <label class="table-checkbox">
                <$client.env.FormField.a11_Acceptable_Conduct.HTML>
                <div class="col-95 vertical-top">
                    Acceptable Conduct While Operating a City Vehicle
                </div>
            </label>
        </div>

        <div class="wrapper-inner">
            <strong>I acknowledge that I have accessed and read the documents listed above.</strong>
        </div>

    </div>

    <div class="vspace clearfix">
        <div class="col-40 pull-right">
            <div class="wrapper-inner">
                <$client.env.FormField.a12_signature.HTML>
                Signature
            </div>
            <div class="wrapper-inner">
                <$client.env.FormField.a13_Date.HTML>
                <div class="col-100">
                    Date
                </div>
            </div>
        </div>
    </div>
</div>
