<div class="container-fluid main">
    <h3 class="text-center form-title">
        <strong>
            ARKANSAS DEPARTMENT OF HUMAN SERVICES <br class="hidden-xs hidden-sm">
            AUTHORIZATION FOR ADULT MALTREATMENT CENTRAL REGISTRY
        </strong>
    </h3>
    <div class="row text-center">
        Print all information in ink
    </div>
    <div class="box">
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                Name
                <$client.env.FormField.a01_Name.HTML>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                Date of Birth
                <$client.env.FormField.a02_Date_of_Birth.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                Maiden and/or Any Names Formerly Used
                <$client.env.FormField.a03_Maiden_Names_Formerly_Used.HTML>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                Social Security Number
                <$client.env.FormField.a04_SSN.HTML>
            </div>
        </div>
        <div class="border-bottom">
            Current Address (Street, City, State, Zip)
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a05_Current_Street_Address.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a06_Current_City_Address.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a07_Current_State_Address.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a08_Current_ZIP_Address.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right hidden-xs">
                List all previous addresses for the past five years
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right hidden-xs">
                Dates (From/To)
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                List all previous addresses for the past five years
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a09_Previous_Street_Addresses_0.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a10_Previous_City_Addresses_0.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a11_Previous_State_Addresses_0.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a12_Previous_ZIP_Addresses_0.HTML>
                </div>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                Dates (From/To)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <$client.env.FormField.a12_Date_From.HTML>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <$client.env.FormField.a13_Date_To.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                List all previous addresses for the past five years
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a14_Previous_Street_Addresses_0.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a15_Previous_City_Addresses_0.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a16_Previous_State_Addresses_0.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a17_Previous_ZIP_Addresses_0.HTML>
                </div>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                Dates (From/To)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <$client.env.FormField.a18_Date_From.HTML>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <$client.env.FormField.a19_Date_To.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                List all previous addresses for the past five years
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a20_Previous_Street_Addresses_0.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a21_Previous_City_Addresses_0.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a22_Previous_State_Addresses_0.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a23_Previous_ZIP_Addresses_0.HTML>
                </div>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                Dates (From/To)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <$client.env.FormField.a24_Date_From.HTML>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <$client.env.FormField.a25_Date_To.HTML>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                List all previous addresses for the past five years
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a26_Previous_Street_Addresses_0.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a27_Previous_City_Addresses_0.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a28_Previous_State_Addresses_0.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <$client.env.FormField.a29_Previous_ZIP_Addresses_0.HTML>
                </div>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                Dates (From/To)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <$client.env.FormField.a30_Date_From.HTML>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <$client.env.FormField.a31_Date_To.HTML>
                </div>
            </div>
        </div>        
    </div>
    <section>
    <p>
        I authorize Department of Human Services/Adult Protective Services to release information from the Adult Maltreatment Central Registry in accordance with Arkansas Code [ACA 12-12-1717] to:
    </p>
    </section>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="text-center">
                Name
            </div>
            <$client.env.FormField.a32_Mailing_Address.HTML>
            <div class="text-center">
                Mailing Address (Street or PO Box,City, State, Zip)
            </div>
            <$client.env.FormField.a37_Mailing_Address.HTML>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="text-center">
                Agency type:
            </div>
            <$client.env.FormField.a33_Agency_Type_Volunteer.HTML>
            <$client.env.FormField.a34_Agency_Type_Non_Profit.HTML>
            <$client.env.FormField.a35_Agency_Type_State_Agent.HTML>
            <$client.env.FormField.a36_Agency_Type_Other.HTML>
        </div>
    </div>
    <p>
        I further certify that the information provided on this form is true and correct.
    </p>
    <div class="row vspace">
        <div class="col-lg-1 col-md-1 col-sm-6 col xs-12">
            Signature
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 col xs-12">
            <$client.env.FormField.a37_Signature.HTML>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col xs-12">
            Date
            <div class="inline-block">
                <$client.env.FormField.a38_Date.HTML>
            </div>
        </div>
    </div>
    <div class="notarization-block">
        Notarization Required
        <div class="row vspace">
            <div class="col-10">
                COUNTY OF
            </div>
            <div class="col-30">
                <$client.env.FormField.a39_Notarization_Required.HTML>
            </div>
            <div class="col-40">
                STATE OF ARKANSAS
            </div>
        </div>
        <div class="row vspace">
            <div class="col-20">
                Acknowledged before me this
            </div>
            <div class="col-10">
                <$client.env.FormField.a40_Acknowledged_Day.HTML>
            </div>
            <div class="col-5">
                day of
            </div>
            <div class="col-10">
                <$client.env.FormField.a41_Acknowledged_Month.HTML>
            </div>
            <div class="col-5">
                , 20
            </div>
            <div class="col-10">
                <$client.env.FormField.a42_Acknowledged_Year.HTML>
            </div>
        </div>
        <div class="row vspace">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <$client.env.FormField.a43_Notary_Public.HTML>
                (Notary Public)
            </div>
            <div class="col-lg-offset-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <$client.env.FormField.a44_My_Commission_Expires.HTML>
                (My Commission Expires)
            </div>
        </div>
        <div class="row">
            <div class="col-20">
                The above listed applicant was
            </div>
            <div class="col-15">
                <$client.env.FormField.a45_above_listed_applicant.HTML>
            </div>
            <div class="col-10">
                /was not
            </div>
            <div class="col-15">
                <$client.env.FormField.a46_Not_Found.HTML>
            </div>
            <div class="col-35">
                found in the Adult Maltreatment Central Registry.
            </div>
        </div>
        <div class="row">
            <div class="address-block center-block">
                Adult Protective Services – Slot W240 <br>
                Adult Maltreatment Central Registry <br>
                PO Box 1437 <br>
                Little Rock, AR 72203
            </div>
        </div>
    </div>
    <hr class="lifesuite__hr"> 
    <div class="row" id="formButtons" style="display: none;"> 
        <div class="lifesuite__clearfix lifesuite__float-right">                
            <$client.env.FormButtons> 
        </div>              
    </div> 
</div>
