<main class="container-fluid">
  <header>
    <h5 class="text-right">
      <strong>
        ATTACHMENT A
      </strong>
    </h5>
    <h5 class="text-center">
      <strong>
        COLORADO COMMUNITY COLLEGE SYSTEM <br>
        CRIMINAL RECORD DISCLOSURE <br>
        Please print on all forms
      </strong>
    </h5>
  </header>
  <p>
    In connection with your application for or current employment, we may procure a criminal record and, if applicable to the employment you are applying for, a credit check or driving history report on you as part of the process of considering your suitability for employment with the Colorado Community College System. In the event that either or both of these reports are utilized in whole or in part in making an adverse decision with regard to your potential or current employment, before making the adverse decision, we will provide you with a copy of the criminal record, credit check and/or driving history report as well as a description in writing of your rights under the law.
  </p>
  <p>
    The Colorado Community College System also reserves the right to conduct a background check on a current employee.
  </p>
  <p>
    The Fair Credit Reporting Act gives you specific rights in dealing with consumer reporting agencies. You will find these rights summarized on the attached document.
  </p>
  <p>
    By your signature below, you hereby authorize us to obtain a criminal record and, if applicable to current employment or the employment you are applying for, a credit check or driving history report on you in order to consider your employment with the Colorado Community College System.
  </p>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Applicant's Name (Print):
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a01_Applicants_Name_Print.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Applicant's Address:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a02_Applicants_Address.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          City, State &amp; Zip Code:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a03_City.HTML>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a04_State.HTML>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a05_Zip_Code.HTML>
      </div>
    </div>
  </div>
  <p>
    Adult criminal convictions, guilty or nolo contendere pleas, deferred adjudications or deferred judgments from the age of 18 must be reported on the reverse side of this form. If the verification results show that false statements, including omission(s), were made, then application for employment, as well as any actions based on it, will be voided and the person will not be eligible for future employment with the Colorado Community College System.
  </p>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Signature:
        </label>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a06_Signature.HTML>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group text-right">
        <label class="control-label">
          Date:
        </label>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a07_Date.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Phone #:
        </label>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a08_Phone_Number.HTML>
      </div>
    </div>
  </div>
  <h5 class="text-center">
    <strong>
      COLORADO COMMUNITY COLLEGE SYSTEM CONVICTION DETAIL
    </strong>
  </h5>
  <strong>Important Instructions:</strong>
  <ul>
    <li>
      You must list all adult criminal convictions, guilty or nolo contendere pleas, deferred adjudications or judgments.
    </li>
    <li>
      If the position you are applying for involves the operation of a state vehicle, you must list all adult driving offenses and convictions.
    </li>
    <li>
      Complete one section for each conviction, guilty or nolo contendere plea, deferred adjudication or judgment.
    </li>
    <li>
      Each reported record must be fully completed. Leave no blank spaces.
    </li>
    <li>
      Please attach a separate page if additional space is needed.
    </li>
    <li>
      You may not be able to modify this form later.
    </li>
  </ul>
  <div class="clearfix">
    <strong>
      <em>
        If you have no convictions, guilty or nolo contendere pleas, deferred judgments and/or deferred adjudications or applicable driving offenses to report, please check here and sign below.
      </em>
    </strong>
    <div class="inline-block vertical-middle">
      <$client.env.FormField.a10_Not_Guilty.HTML>
    </div>
  </div>
  <p>
    <strong>
      Convictions, Guilty or Nolo Contendere Pleas, and/or Deferred Judgments or Adjudications
    </strong>
  </p>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Date (MM/YYYY):
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a11_Date.HTML>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group text-right">
        <label class="control-label">
          Location (City/State):
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a12_Location_CityState.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Type of offense:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a13_Type_of_offense.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Name of court:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a14_Name_of_court.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Nature of offense:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a15_Nature_of_offense.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Date (MM/YYYY):
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a16_Date.HTML>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group text-right">
        <label class="control-label">
          Location (City/State):
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a17_Location_City_State.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Type of offense:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a18_Type_of_offense.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Name of court:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a19_Name_of_court.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Nature of offense:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a20_Nature_of_offense.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Date (MM/YYYY):
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a21_Date.HTML>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group text-right">
        <label class="control-label">
          Location (City/State):
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a22_Location_City_State.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Type of offense:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a23_Type_of_offense.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Name of court:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a24_Name_of_court.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Nature of offense:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a25_Nature_of_offense.HTML>
      </div>
    </div>
  </div>
  <p>
    <strong>
      I certify that the statements made by me in this section are true, complete and correct to the best of my knowledge and belief and are made in good faith. I understand that any false statements made herein, including omissions, will void my application and any actions based on it and I will not be eligible for future employment with the Colorado Community College System.
    </strong>
  </p>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Print Name:
        </label>
      </div>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a26_Print_Name.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Signature:
        </label>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a27_Signature.HTML>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group text-right">
        <label class="control-label">
          Date:
        </label>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a28_Date.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <h5 class="text-right">
      <strong>
        ATTACHMENT B
      </strong>
    </h5>
    <h5 class="text-center">
      <strong>
        COLORADO COMMUNITY COLLEGE SYSTEM RELEASE AUTHORIZATION
      </strong>
    </h5>
  </div>
  <ol class="text-justify list-aligned">
    <li>
      In connection with my employment or application for employment, I understand that Colorado Community College System may procure a criminal record and, if applicable to the employment I am applying for, a credit or driving history report on me as part of the process of considering my suitability for employment with the Colorado Community College System. In the event that any of these reports are utilized in whole or in part in making an adverse decision with regard to my employment or potential employment, before making the adverse decision, the Colorado Community College System will provide me with a copy of the criminal record, credit history and/or driving history report as well as a description in writing of my rights under the law.
    </li>
    <li>
      According to the Fair Credit Reporting Act, I am entitled to know if action is taken or employment is denied because of information obtained from a consumer reporting agency. If so, I will be notified and given the name and address of the agency or the source that provided the information.
    </li>
    <li>
      I acknowledge that a telephonic facsimile (FAX) or photographic copy shall be as valid as the original.
    </li>
    <li>
      I hereby authorize, without reservation, any law enforcement agency, governmental agency, institution, information service bureau, school, employer, reference or insurance company contacted by the Colorado Community College System, or its agent, to furnish the information described in Section 1.
    </li>
  </ol>
  <p class="text-justify">
    The following information is required by law enforcement agencies and other entities for positive identification purposes when checking public records. It is confidential and will not be used for any other purposes. I hereby release the employer and agents and all persons, agencies, and entities providing information or reports about me from any and all liability arising out of the request for or release of any of the above mentioned information or reports.
  </p>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-6">
      <div class="form-group">
        <label class="control-label normal">
          Full Name (Last, First, Middle):
        </label>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-xs-12 col-sm-6">
      <div class="form-group">
        <$client.env.FormField.a29_Full_Name_Attachment_B.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-6">
      <div class="form-group">
        <label class="control-label" normal>
          Also Known As:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-xs-12 col-sm-6">
      <div class="form-group">
        <$client.env.FormField.a30_Also_Known_As.HTML>
      </div>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-6">
      <div class="form-group">
        <label class="control-label normal">
          Social Security Number:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
      <div class="form-group">
        <$client.env.FormField.a31_Social_Security_Number.HTML>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-6">
      <div class="form-group text-right">
        <label class="control-label normal">
          Date of Birth:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
      <div class="form-group">
        <$client.env.FormField.a32_Date_of_Birth.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12">
      <div class="form-group">
        <label class="control-label normal">
          Gender:
        </label>
      </div>
    </div>
    <div class="col-lg-11 col-md-11 col-xs-12 col-sm-6">
      <$client.env.FormField.a33_Attachment_B_Gender.HTML>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12">
      <div class="form-group">
        <label class="control-label normal">
          Ethnicity:
        </label>
      </div>
    </div>
    <div class="col-lg-11 col-md-11 col-xs-12 col-sm-6">
      <$client.env.FormField.Attachment_B_Ethnicity_1.HTML>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-6">
      <div class="form-group">
        <label class="control-label normal">
          Driver's License Number:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
      <div class="form-group">
        <$client.env.FormField.a35_Drivers_License_Number.HTML>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-6">
      <div class="form-group text-right">
        <label class="control-label normal">
          Issuing State:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
      <div class="form-group">
        <$client.env.FormField.a36_Issuing_State.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
      <div class="form-group">
        <label class="control-label normal">
          Name as it appears on Driver's License:
        </label>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-6">
      <div class="form-group">
        <$client.env.FormField.a37_Name_as_it_appears_on_Drivers_License.HTML>
      </div>
    </div>
  </div>
  <p class="text-justify">
    Address information for the past 7 years must be reported on the reverse side of this form. If the verification results show that false statements, including omission(s), were made by the applicant, then his or her application for employment, as well as any actions based on it, will be voided and the person will not be eligible for future employment with the Colorado Community College System.
  </p>
  <div class="row vspace">
    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-6">
      <div class="form-group">
        <label class="control-label">
          Signature:
        </label>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
      <div class="form-group">
        <$client.env.FormField.a38_Signature.HTML>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-xs-12 col-sm-6">
      <div class="form-group text-right">
        <label class="control-label">
          Date:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
      <div class="form-group">
        <$client.env.FormField.a39_Date.HTML>
      </div>
    </div>
  </div>
  <h5 class="text-center">
    <strong>
      COLORADO COMMUNITY COLLEGE SYSTEM <br>
      ADDRESS INFORMATION
    </strong>
  </h5>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          Present Address:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a40_Present_Address.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          City, State &amp; Zip Code:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a41_City.HTML>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a41_State.HTML>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a41_Zip.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          County:
        </label>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a42_County.HTML>
      </div>
    </div>
  </div>
  <div class="row vspace-1">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          How long have you live at this address?
        </label>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a43_How_long_have_you_live_at_this_address.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        Have you lived outside of the state of Colorado in the last seven (7) years?
        <div class="inline-block">
          <$client.env.FormField.a44_Lived_Outside_Colorado.HTML>
        </div>
      </div>
    </div>
  </div>
  <p>
    If yes, please list all previous addresses outside of Colorado within the past seven (7) years and the amount of time spent at each address:
  </p>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          Previous Address:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a45_Previous_Address.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          City, State &amp; Zip Code:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a46_City.HTML>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a46_State.HTML>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a46_Zip.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          County:
        </label>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a47_County.HTML>
      </div>
    </div>
  </div>
  <div class="row vspace-1">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          How long have you live at this address?
        </label>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a48_How_long_did_you_live_at_this_address.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          Previous Address:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a48_Previous_Address.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          City, State &amp; Zip Code:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a49_City.HTML>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a49_State.HTML>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a49_Zip.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          County:
        </label>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a50_County.HTML>
      </div>
    </div>
  </div>
  <div class="row vspace-1">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          How long have you live at this address?
        </label>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a51_How_long_did_you_live_at_this_address.HTML>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          Previous Address:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a52_Previous_Address.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          City, State &amp; Zip Code:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a53_City.HTML>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a53_State.HTML>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a53_Zip.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          County:
        </label>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a54_County.HTML>
      </div>
    </div>
  </div>
  <div class="row vspace-1">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          How long have you live at this address?
        </label>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a55_How_long_did_you_live_at_this_address.HTML>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          Previous Address:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a56_Previous_Address.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          City, State &amp; Zip Code:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a57_City.HTML>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a57_State.HTML>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a57_Zip.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          County:
        </label>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a58_County.HTML>
      </div>
    </div>
  </div>
  <div class="row vspace-1">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          How long have you live at this address?
        </label>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a59_How_long_did_you_live_at_this_address.HTML>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          Previous Address:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a60_Previous_Address.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          City, State &amp; Zip Code:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a61_City.HTML>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a61_State.HTML>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a61_Zip.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          County:
        </label>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a62_County.HTML>
      </div>
    </div>
  </div>
  <div class="row vspace-1">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label normal">
          How long have you live at this address?
        </label>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a63_How_long_did_you_live_at_this_address.HTML>
      </div>
    </div>
  </div>
  <p>
    I certify that the statements made by me in this section are true, complete and correct to the best of my knowledge and belief and are made in good faith. I understand that any false statements made herein, including omissions, will void my application and any actions based on it and I will not be eligible for future employment with the Colorado Community College System.
  </p>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Print Name:
        </label>
      </div>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a64_Print_Name.HTML>
      </div>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Signature:
        </label>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a65_Signature.HTML>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group text-right">
        <label class="control-label">
          Date:
        </label>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a66_Date.HTML>
      </div>
    </div>
  </div>
  <h5 class="text-right">
    <strong>
      ATTACHMENT C
    </strong>
  </h5>
  <h5 class="text-center">
    <strong>
      COLORADO COMMUNITY COLLEGE SYSTEM <br>
      GENERAL RELEASE AND AUTHORIZATION
    </strong>
  </h5>
  <div class="help-block">
    I,
    <div class="inline-block">
      <$client.env.FormField.a67_I_Myself.HTML>
    </div>
    , for myself, my successors, agents and estate, hereby release the State of Colorado, the State Board for Community Colleges and Occupational Education (SBCCOE), Colorado Community College System, including the state community colleges and the central System office, and all current and former employees, agents and attorneys of the State of Colorado from any and all claims, causes of action, liabilities, expenses and for damages which I may assert against any of them as a result of my undergoing an employment or pre-employment background and reference check by the Colorado Community College System.
  </p>
  <p>
    Furthermore, I hereby authorize any former employer and/or agents of a former employer, to provide said information to any representative of the Colorado Community College System upon request.
  </p>
  <div class="help-block">
    Furthermore, I
    <div class="inline-block">
      <$client.env.FormField.a68_I_Myself.HTML>
    </div>
    , for myself, my successors, agents and estate, hereby release any former employer and/or any agents of a former employer from any and all claims, causes of action, liabilities, expenses and for damages which I may assert against any of them as a result of the information they provided to the Colorado Community College System as part of employment or pre-employment background and reference checking on me.
  </div>
  <p>
    Furthermore, I understand that this release shall be forever binding and no recision, modification or release therefrom may be made without the express written consent of the Colorado Community College System and SBCCOE.
  </p>
  <p>A photocopy of this release will be sufficient to authorize the release of the aforementioned information.</p>
  <div class="row vspace">
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Signature:
        </label>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a69_Signature.HTML>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group text-right">
        <label class="control-label">
          Date:
        </label>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a70_Date.HTML>
      </div>
    </div>
  </div>
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
     </div>
  </div>
</main>
