<main>
    <h2 class="text-center">
        The Spirit &amp; The Letter Acknowledgement
    </h2>
    <p>
        <strong>
            我承诺，
        </strong>
        我已经阅读并理解了 The Spirit &amp; The Letter<sup>1</sup>, 并且同意完全遵守其内容。
    </p>
    <p>
        <strong>
            我理解，
        </strong>
        Baker Hughes, a GE company (BHGE) 员工有义务恪守诚信，并及时汇报任何可能违反法律、BHGE 政策或 The Spirit &amp; The Letter 的可疑行为。
    </p>
    <p>
        <strong>
            我会联系
        </strong>
        BHGE 全球疑虑上报网络的相关人员，勇敢提出我的问题或疑虑：
    </p>
    <ul>
        <li>
            我的经理或其他经理
        </li>
        <li>
            合规、人力资源、法律、审计部门等其他渠道
        </li>
        <li>
            BHGE 诚信疑虑受理人
        </li>
    </ul>
    <p class="vspace-lg">
        <strong>
            我承诺，
        </strong>
        我知道 BHGE 严格禁止任何类型的打击报复行为；BHGE 员工应当能毫无顾虑地报告疑虑，并确知将有相关专家对疑虑开展客观的调查，并保证采取适当的补救措施。
    </p>
    <div class="vspace">
        <div class="col-50">
            <$client.env.FormField.empName.HTML>
            姓名
        </div>
    </div>
    <div class="vspace">
        <div class="col-50">
            <$client.env.FormField.location_country.HTML>
        </div>
        <div class="col-100">
            地点
        </div>
    </div>
    <div class="vspace">
        <div class="col-50">
            <$client.env.FormField.ssnNo.HTML>
            单点登录 (SSO)
        </div>
    </div>
    <div class="vspace">
        <div class="col-50">
            <$client.env.FormField.signature.HTML>
            签名
        </div>
    </div>
    <div class="vspace-lg">
        <div class="col-50">
            <$client.env.FormField.signDate.HTML>
        </div>
        <div class="col-100">
            日期
        </div>
    </div>
    <footer>
        <div class="col-40">
            <hr>
        </div>
        <div class="vspace">
            <small>
                  <sup>1</sup>The Spirit &amp; The Letter 可从 BHGE 外部网站下载 <a href="https://www.bhge.com/our-company/integrity-and-compliance" target="_blank">https://www.bhge.com/our-company/integrity-and-compliance</a> 也可从 BHGE 员工内部网下载 <a href="http://my.bhge.com/integrity" target="_blank">http://my.bhge.com/integrity</a>.
            </small>
        </div>
    </footer>
</main>
