<div class="container-fluid main">
    <header class="row text-center">
        <h5>
            <strong>Arkansas Department of Human Services</strong>
        </h5>
        <h5>
            <strong>Division of Children and Family Services</strong>
        </h5>
        <h5>
            <strong>REQUEST FOR CHILD MALTREATMENT CENTRAL REGISTRY CHECK</strong>
        </h5>
    </header>
    <div class="row box text-center vspace">
        <h5>
            <strong>
                THIS FORM WILL NOT BE PROCESSED UNTIL ALL INFORMATION IS COMPLETED.
            </strong>
        </h5>
    </div>
    <div class="inner-wrapper vspace">
        <p>
            TYPE OF APPLICANT:
        </p>
        <div class="row vmid">
            <div class="inline-block inline-checkboxes">
                <$client.env.FormField.a01_DHS_EmployeeApplicant_Division.HTML>
            </div>
            <div class="inline-block">
                DHS Employee/Applicant [Division:]
            </div>
            <div class="col-20">
                <$client.env.FormField.a02_Division.HTML>
            </div>
            <div class="inline-block">
                <$client.env.FormField.a03_Foster_Parent.HTML>
            </div>
            <div class="inline-block">
                Foster Parent
            </div>
            <div class="inline-block">
                <$client.env.FormField.a04_Legal_Custodian.HTML>
            </div>
            <div class="inline-block">
                Legal Custodian
            </div>
            <div class="inline-block">
                <$client.env.FormField.a05_Adoptive_Parent.HTML>
            </div>
            <div class="inline-block">
                Adoptive Parent
            </div>
        </div>
        <div class="row vmid vspace">
            <div class="inline-block">
                <$client.env.FormField.a06_Provisional_Foster_Parent.HTML>
            </div>
            <div class="inline-block">
                Provisional Foster Parent
            </div>
            <div class="inline-block">
                <$client.env.FormField.a07_Foster_Family_Support_System_FFSS.HTML>
            </div>
            <div class="inline-block">
                <u>Foster Family Support System (FFSS) for:</u>
            </div>
            <div class="col-45 inline-block">
                <$client.env.FormField.a08_Name_of_Foster_Family_whom_FFSS_will_support.HTML>
                <div class="text-center">
                    <u>
                        <small>Name of Foster Family whom FFSS will support</small>
                    </u>
                </div>
            </div>
        </div>
        <div class="row vspace inline-checkboxes">
            <$client.env.FormField.a09_Other.HTML>
            Other (This request will be processed for a fee of $10 made payable by check or money order to DHS. We do not accept cash. This fee may be waived for non-profits who provide proof of 501(c)(3) status. Allow 7-10 business days for processing.)
        </div>
        <div class="row vspace">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                This information should be addressed to:
                <$client.env.FormField.a10_NameTitle_print.HTML>
                Name/Title (print)
                <$client.env.FormField.a11_Address_physical.HTML>
                Address (physical)
                <$client.env.FormField.a12_Address_physical.HTML>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 vspace">
                <div class="vspace">
                    <br>
                    <$client.env.FormField.a13_Organization_Requesting_the_Report.HTML>
                    Organization Requesting the Report
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <$client.env.FormField.a14_Telephone.HTML>
                    Telephone #
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <$client.env.FormField.a15_Fax.HTML>
                    Fax #
                </div>
            </div>
        </div>
        <div class="box dbox">
            Address (provide mailing, if different than physical)
            <div class="row">
                <div class="inline-block">
                    <label>
                        Name of Applicant:
                    </label>
                </div>
                <div class="col-80">
                    <$client.env.FormField.a16_Name_of_Applicant.HTML>
                </div>
            </div>
            <div class="row">
                <div class="inline-block">
                    <label>
                        Maiden Name/Other Names Used:
                    </label>
                </div>
                <div class="col-70">
                    <$client.env.FormField.a17_Maiden_NameOther_Names_Used.HTML>
                </div>
            </div>
            <div class="row">
                <div class="inline-block">
                    <label>
                        Race:
                    </label>
                </div>
                <div class="col-15">
                    <$client.env.FormField.a18_Race.HTML>
                </div>
                <div class="inline-block">
                    <label>
                        Sex:
                    </label>
                </div>
                <div class="col-5">
                    <$client.env.FormField.a19_Sex.HTML>
                </div>
                <div class="inline-block">
                    <label>
                        Age/DOB:
                    </label>
                </div>
                <div class="col-5">
                    <$client.env.FormField.a20_AgeDOB_Age.HTML>
                </div>
                <div class="col-20">
                    <$client.env.FormField.a20_AgeDOB_Date.HTML>
                </div>
                <div class="inline-block">
                    <label>
                        SSN:
                    </label>
                </div>
                <div class="col-25">
                    <$client.env.FormField.a21_SSN.HTML>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="inline-block">
                Present Address: (since
            </div>
            <div class="col-20">
                <$client.env.FormField.a22_Present_Address_since.HTML>
            </div>
            <div class="inline-block">
                , )
            </div>
            <div class="col-50">
                <$client.env.FormField.a23_Previous_Addresses_from_the_last_six_years.HTML>
            </div>
        </div>
        <p>
            Previous Addresses (from the last six years):
        </p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vmid">
                <div class="vspace">
                    <div class="inline-block">
                        1)
                    </div>
                    <div class="col-80">
                        <$client.env.FormField.a24_Previous_Address_1.HTML>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a25_Previous_Address_1_From_Date.HTML>
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a26_Previous_Address_1_to_Date.HTML>
                        </div>
                    </div>
                </div>
                <div class="vspace">
                    <div class="inline-block">
                        3)
                    </div>
                    <div class="col-80">
                        <$client.env.FormField.a27_Previous_Address_2.HTML>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a28_Previous_Address_2_From_Date.HTML>
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a29_Previous_Address_2_to_Date.HTML>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="vspace">
                    <div class="inline-block">
                        2)
                    </div>
                    <div class="col-80">
                        <$client.env.FormField.a30_Previous_Address_3.HTML>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a31_Previous_Address_3_From_date.HTML>
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a32_Previous_Address_3_to_date.HTML>
                        </div>
                    </div>
                </div>
                <div class="vspace">
                    <div class="inline-block">
                        4)
                    </div>
                    <div class="col-80">
                            <$client.env.FormField.a33_Previous_Address_4.HTML>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a34_Previous_Address_4_from_Date.HTML>
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a35_Previous_Address_4_to_Date.HTML>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>
            Cities and States of Employment (outside of Arkansas) for last six years:
        </p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vmid">
                <div class="vspace">
                    <div class="inline-block">
                        1)
                    </div>
                    <div class="col-80">
                        <$client.env.FormField.a36_Previous_Address_5.HTML>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a37_Previous_Address_5_From_Date.HTML>
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a38_Previous_Address_5_to_Date.HTML>
                        </div>
                    </div>
                </div>
                <div class="vspace">
                    <div class="inline-block">
                        3)
                    </div>
                    <div class="col-80">
                        <$client.env.FormField.a39_Previous_Address_6.HTML>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a40_Previous_Address_6_from_Date.HTML>
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a41_Previous_Address_6_to.HTML>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="vspace">
                    <div class="inline-block">
                        2)
                    </div>
                    <div class="col-80">
                        <$client.env.FormField.a42_Previous_Address_7.HTML>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a43_Previous_Address_7_From.HTML>
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a44_Previous_Address_7_to.HTML>
                        </div>
                    </div>
                </div>
                <div class="vspace">
                    <div class="inline-block">
                        4)
                    </div>
                    <div class="col-80">
                        <$client.env.FormField.a45_Previous_Address_8.HTML>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a46_Previous_Address_8_From.HTML>
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-30">
                            <$client.env.FormField.a47_Previous_Address_8_to.HTML>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>
            Children (related or non-related) now residing or who have resided in the home at any time and all biological children, even if they have not resided in the home:
        </p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Full Name:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <$client.env.FormField.a48_Full_Name.HTML>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        DOB/Age:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right vmid">
                        <div class="inline-block">
                            <$client.env.FormField.a49_DOBAge_Date.HTML>
                        </div>
                        <div class="inline-block">
                            <$client.env.FormField.a49_DOBAge_Date_Age.HTML>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Relationship:
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <$client.env.FormField.a50_Relationship.HTML>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        SS# (if known):
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <$client.env.FormField.a51_SS_if_known.HTML>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Full Name:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <$client.env.FormField.a52_Full_Name.HTML>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        DOB/Age:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right vmid">
                        <div class="inline-block">
                            <$client.env.FormField.a53DOBAge_Date.HTML>
                        </div>
                        <div class="inline-block">
                            <$client.env.FormField.a53DOBAge_Date_Age.HTML>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Relationship:
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <$client.env.FormField.a54_Relationship.HTML>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        SS# (if known):
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <$client.env.FormField.a55_SS_if_known_2.HTML>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Full Name:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <$client.env.FormField.a56_Full_Name.HTML>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        DOB/Age:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right vmid">
                        <div class="inline-block">
                            <$client.env.FormField.a57_DOBAge_Date.HTML>
                        </div>
                        <div class="inline-block">
                            <$client.env.FormField.a57_DOBAge_Date_Age.HTML>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Relationship:
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <$client.env.FormField.a58_Relationship.HTML>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        SS# (if known):
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <$client.env.FormField.a59_SS_if_known.HTML>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Full Name:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <$client.env.FormField.a60_Full_Name.HTML>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        DOB/Age:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right vmid">
                        <div class="inline-block">
                            <$client.env.FormField.a61_DOBAge_Date.HTML>
                        </div>
                        <div class="inline-block">
                            <$client.env.FormField.a61_DOBAge_Date_Age.HTML>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Relationship:
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <$client.env.FormField.a62_Relationship.HTML>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        SS# (if known):
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <$client.env.FormField.a63_SS_if_known.HTML>
                    </div>
                </div>
            </div>
        </div>
        <div class="notary-block vspace">
            <div class="vspace">
                <h4 class="text-center">
                    THE FOLLOWING IS TO BE COMPLETED ONLY WITH A NOTARY
                </h4>
                I,
                <div class="inline-block">
                    <$client.env.FormField.a64_notary_name.HTML>
                </div>
                verify that the information above is true and complete. I authorize the Arkansas Child Maltreatment Central Registry to release any information their files may contain concerning me as an offender of a true report of child maltreatment. 
            </div>
            <div class="row vspace">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <$client.env.FormField.a65_Application_Signature.HTML>
                    Signature of Applicant
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <$client.env.FormField.a66_Signature_Date.HTML>
                    Date
                </div>
            </div>
            <div class="row">
                County of
                <div class="inline-block">
                    <$client.env.FormField.a67_County_of.HTML>
                </div>
                State of Arkansas
            </div>
            <div class="row vspace">
                Acknowledged before me, this
                <div class="inline-block">
                    <$client.env.FormField.a68_day.HTML>
                </div>
                day of
                <div class="inline-block">
                    <$client.env.FormField.a69_Month.HTML>
                </div>
                ,
                <div class="inline-block">
                    <$client.env.FormField.a70_Year.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    <$client.env.FormField.a71_Notary_Public.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    Notary Public
                </div>
                <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12 pull-right">
                    My commission expires:
                    <div class="col-50">
                        <$client.env.FormField.a72_commission_expires.HTML>
                    </div>
                </div>
            </div>
        </div>
        <div class="notary-block vspace">
            <h4 class="text-center">
                THE FOLLOWING IS TO BE COMPLETED BY CENTRAL REGISTRY
            </h4>
            <div class="vmid">
                <div class="inline-block">
                    <$client.env.FormField.a73_No_Report_of_Child_Maltreatment.HTML>
                </div>
                <div class="inline-block">
                    The Arkansas Child Maltreatment Central Registry contains no record under the referenced name in a true report of child maltreatment.
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 pull-right">
                    Examiner’s Initials and Date:
                    <div class="col-50">
                        <$client.env.FormField.a74_Examiners_Initials_and_Date.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="text-justify">
                Please note that whenever there is a determination of child maltreatment, the person identified as the offender has the right to a hearing to contest that determination. The person’s name may not be placed in the Central Registry until after the hearing decision. Therefore, the absence of a true report in the Child Maltreatment Central Registry does not imply that the person is or is not the subject of a completed child maltreatment investigation. Please check the Central Registry periodically as names can be added to the Central Registry based on new maltreatment reports and upon final administrative determination.
                </p>
            </div>
            <div class="row vmid">
                <div class="inline-block">
                    <$client.env.FormField.a75_Information_Found.HTML>
                </div>
                <div class="inline-block">
                    Information Found
                </div>
            </div>
            <div class="row">
                Examiner’s Signature and Date
                <div class="col-40">
                    <$client.env.FormField.a76_Signature.HTML>
                </div>
                <div class="col-30">
                    <$client.env.FormField.a77_Date.HTML>
                </div>
            </div>
            <div class="row text-center vspace">
                <strong>
                    Child Maltreatment Central Registry <br>
                    Slot S 566 <br>
                    P O Box 1437 <br>
                    Little Rock AR 72203
                </strong>
            </div>
        </div>
    </div>
    <strong>
        CFS-316 (08/2011)
    </strong>
    <hr class="lifesuite__hr"> 
    <div class="row" id="formButtons" style="display: none;"> 
        <div class="lifesuite__clearfix lifesuite__float-right">                
            <$client.env.FormButtons> 
        </div>              
    </div>
</div>
