<$client.env.FormCSS>
<$client.env.FormJavaScript>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/FormScript_Calendar.js>"></script>
<link href="<$link;/system/3.0ui/js/CalendarPopup.css>" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<$link;/system/3.0ui/js/CalendarPopup.js>"></script>
<link href="<$link;/main/RedCarpet/FormTemplates/FormSupport/FormStyles.css>" rel="stylesheet" type="text/css">
<script>
    var strLoginID = "<$client.account.loginID>";
    var strFormName = "<$client.env.index.Form_Type>";
    var strFormCompleted = "<$client.env.index.Form_Completed>";
    var strDateNow = "<$client.env.eval(Date.toString())><$client.env.eval(date.now('%z'))>";
</script>
<link href="<$link;/main/RedCarpet/FormTemplates/FormSupport/FormScript_Verify.css>" rel="stylesheet" type="text/css">
<script type="text/javascript">
    <$include;/main/RedCarpet/FormTemplates/FormSupport/FormScript_Verify.js>
</script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/FormScript_RadioCheck2.js>"></script>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- RESPONSIVE eFORM CSS and JS LINKS-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href="/LifeSuite/libs/<$global.rc_config.lifesuitelibsversion>/css/lifesuite.css" rel="stylesheet" type="text/css">
<link href="/LifeSuite/libs/<$global.rc_config.lifesuitelibsversion>/css/formbuilder.css" rel="stylesheet" type="text/css">
<link href="<$link;/main/RedCarpet/FormTemplates/Colsa_Beneficiary_Designation/assets/css/bootstrap.min.css>" rel="stylesheet" type="text/css">
<link href="<$link;/main/RedCarpet/FormTemplates/Colsa_Beneficiary_Designation/assets/css/responsive.css>" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<$config.path.jquery>jquery.min.js"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/Colsa_Beneficiary_Designation/assets/js/bootstrap.min.js>"></script>

<script type="text/javascript">
$(window).load(function() {
              $(".modal").hide();
})
</script>
