<div class="main container-fluid">
    <h4 class="text-center">DEPENDENT DATA QUESTIONNAIRE</h4>
    <h5 class="text-center">GLOBAL and AOA EMPLOYEES</h5>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <strong>Employee Name:</strong>
            <div class="grid-70">
                <$client.env.FormField.a01_Employee_Name.HTML>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <strong>Employee ID/Badge Number:</strong>
            <div class="grid-60">
                <$client.env.FormField.a02_Employee_ID_Badge_Number.HTML>
            </div>
        </div>
    </div>
    <div class="row locations">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <strong>
                Employee Work Location (Area)
            </strong>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <$client.env.FormField.a03_Dhahran.HTML>
                <$client.env.FormField.a04_Jeddah.HTML>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <$client.env.FormField.a05_Ras_Tanura.HTML>
                <$client.env.FormField.a06_Riyadh.HTML>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <$client.env.FormField.a07_Abqaiq.HTML>
                <$client.env.FormField.a08_Yanbu.HTML>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 other">
                <$client.env.FormField.a09_Udhailayah.HTML>
                <$client.env.FormField.a10_Other_Work_Location.HTML>
                <div class="grid-50">
                    <$client.env.FormField.a11_Other_Work_location.HTML>
                </div>
            </div>
        </div>
    </div>
    <div class="row table-main">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-bordered table-condensed">
                    <thead class="gray-bg">
                        <tr>
                            <th colspan="3" class="text-center" >
                                Dependent Personal Information <br>(Wives, Husbands, Sons and Daughters)
                            </th>
                            <th colspan="3" class="text-center" style="width: 250px;">
                                Date of Birth
                            </th>
                            <th rowspan="2" class="text-center" style="width: 30px;">
                                Sex <br>(F/M)
                            </th>
                            <th rowspan="2" class="text-center">
                                Nationality (Country of Passport)
                            </th>
                            <th rowspan="2" class="text-center">
                                Relationship (Use codes below) 1: Wife 2: Son 3: Daughter 6: Husband
                            </th>
                            <th rowspan="2" class="text-center" style="width: 30px;">
                                EAP* (Y/N)
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">
                                Last Name
                            </th>
                            <th class="text-center">
                                First Name
                            </th>
                            <th class="text-center">
                                Middle
                            </th>
                            <th class="text-center">MM</th>
                            <th class="text-center">DD</th>
                            <th class="text-center">YY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <$client.env.FormField.a12_Last_Name.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a13_First_Name.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a14_Middle_Name.HTML>
                            </td>
                            <td colspan="3">
                                <$client.env.FormField.a15_Birth_Date.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a16_Sex.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a17_Nationality.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a18_Relationship.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a19_EAP.HTML>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <$client.env.FormField.a20_Last_Name.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a21_First_Name.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a22_Middle_Name.HTML>
                            </td>
                            <td colspan="3">
                                <$client.env.FormField.a23_Birth_Date.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a24_Sex.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a25_Nationality.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a26_Relationship.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a27_EAP.HTML>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <$client.env.FormField.a28_Last_Name.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a29_First_Name.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a30_Middle_Name.HTML>
                            </td>
                            <td colspan="3">
                                <$client.env.FormField.a31_Birth_Date.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a32_Sex.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a33_Nationality.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a34_Relationship.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a35_EAP.HTML>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <$client.env.FormField.a36_Last_Name.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a37_First_Name.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a38_Middle_Name.HTML>
                            </td>
                            <td colspan="3">
                                <$client.env.FormField.a39_Birth_Date.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a40_Sex.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a41_Nationality.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a42_Relationship.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a43_EAP.HTML>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <$client.env.FormField.a44_Last_Name.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a45_First_Name.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a46_Middle_Name.HTML>
                            </td>
                            <td colspan="3">
                                <$client.env.FormField.a47_Birth_Date.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a48_Sex.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a49_Nationality.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a50_Relationship.HTML>
                            </td>
                            <td>
                                <$client.env.FormField.a51_EAP.HTML>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="col-md-offset-1">
            <strong>EAP*</strong> = Dependent child studying outside the Saudi Aramco Expatriate Schools system through the Educational Assistance Program (EAP)
        </p>
        <p>
            <strong>
                SAO Status: Please select one of the following:
            </strong>
        </p>
    </div>
    <div class="row table-second">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
            <table class="table table-condensed table-bordered">
                <tr>
                    <td class="text-center">
                        <strong>
                            Family* is here
                        </strong>
                    </td>
                    <td>
                        <ul class="bullet-list">
                            <li>
                                Dependent(s) have <strong>arrived with you</strong> &amp; will be permanent residents of Saudi Arabia (residence visa)
                            </li>
                        </ul>
                    </td>
                    <td>
                        <$client.env.FormField.a52_Family_is_here.HTML>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <strong>
                            Family* arrives in &ge; 90 days
                        </strong>
                    </td>
                    <td>
                        <ul class="bullet-list">
                            <li>
                                Employee will process family residence visa with intention that dependents will arrive within 90 days
                            </li>
                        </ul>
                    </td>
                    <td>
                        <$client.env.FormField.a53_Family_arrives_90_days.HTML>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <strong>
                            Bachelor
                        </strong>
                    </td>
                    <td>
                        <ul class="bullet-list">
                            <li>
                                You do not intend to mobilize your family for residence in Saudi Arabia at this time. If you elect to change tofamily status in the future, Saudi Aramco &amp; employee will process residence visa.
                            </li>
                        </ul>
                    </td>
                    <td>
                        <$client.env.FormField.a54_Bachelor.HTML>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <strong>
                            Single
                        </strong>
                    </td>
                    <td>
                        <ul class="bullet-list">
                            <li>
                                Unmarried male employee <strong>OR</strong>
                            </li>
                            <li>
                                Female employee <strong>OR</strong>
                            </li>
                            <li>
                                Special Work Schedule – 28/28 or 42/21
                            </li>
                        </ul>
                    </td>
                    <td>
                        <$client.env.FormField.a55_Single.HTML>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <strong>
            Notes:
        </strong>
        <ul class="col-md-offset-1">
            <li>
                *For family expatriate employees to maintain family benefits, wife must remain <strong>in-Kingdom</strong> for <em>at least 180 days per calendar year</em>.
            </li>
            <li>
                *Family status employees are only eligible for IK or OOK EAP and repatriation travel for up to <u>four</u> dependent children (total).
            </li>
        </ul>
    </div>
    <div class="clearfix">
        <div class="pull-right col-md-4 col-lg-4">
            <strong class="text-danger">
                X
            </strong>
            <div class="grid-90">
                <$client.env.FormField.a56_Signature.HTML>
            </div>
            <div>
                <span class="invisible">X</span>
                <div class="grid-90">
                    <small class="text-right">
                        Employee Signature and Date
                    </small>
                </div>
            </div>
        </div>
    </div>
    <h5 class="text-center">
        Saudi Aramco: Company General Use
    </h5>
    <br><hr class="lifesuite__hr"> 
    <div class="row" id="formButtons" style="display: none;"> 
      <div class="lifesuite__clearfix lifesuite__float-right">                
              <$client.env.FormButtons> 
       </div>              
    </div> 
</div>
