<div class="main">
    <header>
        <div class="col-thin pink-bg">&nbsp;</div>
        <div class="col-thin">&nbsp;</div>
        <div class="col-90 text-right purple-bg">
            <strong>NEW STARTER FORM/ PERSONAL DETAILS</strong>
        </div>
        <div class="col-thin">&nbsp;</div>
        <div class="col-thin grey-bg">&nbsp;</div>
    </header>
    <div class="container-inner">
        <h3 class="text-purple">
            Personal Details (Employee to complete)
        </h3>
        Please complete and return this form to Human Resources.
        <div class="wrapper-inner clearfix">
            <div class="col-5">
                Title:
            </div>
            <div class="col-15">
                <$client.env.FormField.a01_title.HTML>
            </div>
            <div class="col-10 text-center">
                Name:
            </div>
            <div class="col-70 pull-right">
                <$client.env.FormField.a02_name.HTML>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="pull-right col-70">
                <div class="col-40 vertical-middle text-right">
                    Date of Birth:
                </div>
                <div class="col-50 pull-right">
                    <$client.env.FormField.a03_dob.HTML>
                </div>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-10 vertical-top">
                Address:
            </div>
            <div class="col-90 pull-right">
                <$client.env.FormField.a04_address.HTML>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-30">
                Identification Number/ Social security Number:
            </div>
            <div class="col-70 pull-right">
                <$client.env.FormField.a05_ssn.HTML>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-15 vertical-middle">
                P45 Submitted
            </div>
            <div class="col-15 table-inline vertical-middle">
                <$client.env.FormField.a06_p45submitted.HTML>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-50">
                <div class="col-40 vertical-top">
                    Home Tel No:
                </div>
                <div class="col-60">
                    <$client.env.FormField.a07_home_tel_no.HTML>
                </div>
            </div>
            <div class="col-50 pull-right">
                <div class="col-40 vertical-middle">
                    Mobile Tel No:
                </div>
                <div class="col-60 pull-right">
                    <$client.env.FormField.a08_mobile_tel_no.HTML>
                </div>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-50">
                <div class="col-40 vertical-top">
                    Nationality:
                </div>
                <div class="col-60">
                    <$client.env.FormField.a09_nationality.HTML>
                </div>
            </div>
            <div class="col-50 pull-right">
                <div class="col-40 vertical-middle">
                    Passport No:
                </div>
                <div class="col-60 pull-right">
                    <$client.env.FormField.a10_passport_no.HTML>
                </div>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-50">
                <div class="col-40 vertical-top">
                    Date Issued:
                </div>
                <div class="col-60">
                    <$client.env.FormField.a11_date_issued.HTML>
                </div>
            </div>
            <div class="col-50 pull-right">
                <div class="col-40 vertical-middle">
                    Date Expired:
                </div>
                <div class="col-60 pull-right">
                    <$client.env.FormField.a12_date_expired.HTML>
                </div>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-50">
                <div class="col-40 vertical-top">
                    Work Permit # <br>(if applicable)
                </div>
                <div class="col-60">
                    <$client.env.FormField.a13_work_permit.HTML>
                </div>
            </div>
            <div class="col-50 pull-right">
                <div class="col-40 vertical-middle">
                    Expiry Date:
                </div>
                <div class="col-60 pull-right">
                    <$client.env.FormField.a14_expiry_date.HTML>
                </div>
            </div>
        </div>

        <h3>Data Protection Statement</h3>
        <p>
            Your data, collected from this and other forms and letters, will be held on Ellucian group databases for purposes associated with the administration of your contract, compliance with law, to establish a contact point in the case of emergency and any other necessary purposes in direct relation to your employment and will be accessed by approved employees only. As we are an international group, we may transfer your data on a global basis for the purposes indicated above or for processing purposes. We will not use or disclose your personal data other than for the above purposes or under legal requirements, without your express permission. Your signature and submission of this form confirms your acceptance of this statement.
        </p>
        <div class="wrapper-inner clearfix">
            <div class="col-60">
                <div class="col-20 vertical-top">
                    SIGNATURE:
                </div>
                <div class="col-80">
                    <$client.env.FormField.a15_signature.HTML>
                </div>
            </div>
            <div class="col-40 pull-right">
                <div class="col-30">
                    DATE:
                </div>
                <div class="col-70 pull-right">
                    <$client.env.FormField.a16_date.HTML>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div class="col-thin pink-bg">&nbsp;</div>
        <div class="col-thin">&nbsp;</div>
        <div class="col-90 text-right purple-bg">
            <strong>NEW STARTER FORM/ CONTACTS</strong>
        </div>
        <div class="col-thin">&nbsp;</div>
        <div class="col-thin grey-bg">&nbsp;</div>
    </header>
    <div class="container-inner">
       <h3 class="text-purple">
        Contacts
        </h3>
        At least 2 next of kin contacts should be provided in the event of an emergency.
        <div class="wrapper-inner clearfix">
            <div class="col-20">
                Contact Name:
            </div>
            <div class="col-80 pull-right">
                <$client.env.FormField.a17_contact_name.HTML>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-20">
                Address:
            </div>
            <div class="col-80 pull-right">
                <$client.env.FormField.a18_address.HTML>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-20">
                Daytime Tel No:
            </div>
            <div class="col-80 pull-right">
                <div class="col-40">
                    <$client.env.FormField.a19_daytime_tel_no.HTML>
                </div>
                <div class="col-60 pull-right">
                    <div class="col-40">
                        Home Tel No:
                    </div>
                    <div class="col-60 pull-right">
                        <$client.env.FormField.a20_home_tel_no_2.HTML>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-20">
                Relationship:
            </div>
            <div class="col-80 pull-right">
                <div class="col-40">
                    <$client.env.FormField.a21_relationship.HTML>
                </div>
                <div class="col-60 pull-right">
                    <div class="col-60">
                        Confirm aged 18 or over
                    </div>
                    <div class="col-40">
                        <$client.env.FormField.a22_confirm_age.HTML>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-20">
                Contact Name:
            </div>
            <div class="col-80 pull-right">
                <$client.env.FormField.a23_contact_name_2.HTML>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-20">
                Address:
            </div>
            <div class="col-80 pull-right">
                <$client.env.FormField.a24_address.HTML>
            </div>
        </div>
    </div>

    <header>
        <div class="col-thin pink-bg">&nbsp;</div>
        <div class="col-thin">&nbsp;</div>
        <div class="col-90 text-right purple-bg">
            <strong>NEW STARTER FORM/ BANK DETAILS</strong>
        </div>
        <div class="col-thin">&nbsp;</div>
        <div class="col-thin grey-bg">&nbsp;</div>
    </header>
    <div class="container-inner">
        <div class="wrapper-inner clearfix">
            <div class="col-50">
                <div class="col-40 vertical-top">
                    Daytime Tel No:
                </div>
                <div class="col-60">
                    <$client.env.FormField.a25_daytime_tel_no.HTML>
                </div>
            </div>
            <div class="col-50 pull-right">
                <div class="col-40">
                    Home Tel No:
                </div>
                <div class="col-60 pull-right">
                    <$client.env.FormField.a26_home_tel_no_3.HTML>
                </div>
            </div>
        </div>
        <div class="wrapper-inner clearfix">
            <div class="col-50">
                <div class="col-40 vertical-top">
                    Relationship
                </div>
                <div class="col-60">
                    <$client.env.FormField.a27_daytime_tel_no_2.HTML>
                </div>
            </div>
            <div class="col-50 pull-right">
                <div class="col-60">
                    Confirm aged 18 or over
                </div>
                <div class="col-40 pull-right">
                    <$client.env.FormField.a28_confirm_age.HTML>
                </div>
            </div>
        </div>
        <p>
            Bank details for salary payments
        </p>
        <p>
            Please complete and return this form to Human Resources.
        </p>
        <p>
            <em>(please note: Payments can only be made via an IBAN and SWIFT code)</em>
        </p>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Employee Name:
                    </td>
                    <td class="cell-bordered" style="width: 60%;">
                        <$client.env.FormField.a29_employee_name.HTML>
                    </td>
                </tr>
                <tr>
                    <td>
                        Employee No:<br>
                        <small>(if known)</small>
                    </td>
                    <td class="cell-bordered" style="width: 60%;">
                        <$client.env.FormField.a30_employee_no.HTML>
                    </td>
                </tr>
                <tr>
                    <td>
                        Name of Bank:
                    </td>
                    <td class="cell-bordered" style="width: 60%;">
                        <$client.env.FormField.a31_name_of_bank.HTML>
                    </td>
                </tr>
                <tr>
                    <td>
                        Branch Bank Name:
                    </td>
                    <td class="cell-bordered" style="width: 60%;">
                        <$client.env.FormField.a32_branch_bank_name.HTML>
                    </td>
                </tr>
                <tr>
                    <td>
                        Branch Address:
                    </td>
                    <td class="cell-bordered" style="width: 60%;">
                        <div class="branch-inner">
                            <$client.env.FormField.a33_branch_address.HTML>
                        </div>
                        <div class="clearfix branch-inner">
                            <div class="col-10">
                                IBAN:
                            </div>
                            <div class="col-90 pull-right">
                                <$client.env.FormField.a34_iban.HTML>
                            </div>
                        </div>
                        <div class="clearfix branch-inner">
                            <div class="col-50">
                                SWIFT if details is applicable:
                            </div>
                            <div class="col-50 pull-right">
                                <$client.env.FormField.a35_swift.HTML>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Bank Sort Code:
                    </td>
                    <td class="cell-bordered" style="width: 60%;">
                        <$client.env.FormField.a36_bank_sort_code.HTML>
                    </td>
                </tr>
                <tr>
                    <td>
                        Bank Account Number:
                    </td>
                    <td class="cell-bordered" style="width: 60%;">
                        <$client.env.FormField.a37_bank_account_number.HTML>
                    </td>
                </tr>
                <tr>
                    <td>
                        Bank Account Name:
                    </td>
                    <td class="cell-bordered" style="width: 60%;">
                        <$client.env.FormField.a38_bank_account_name.HTML>
                    </td>
                </tr>
                <tr>
                    <td>
                        Roll No:<br>
                        <small>(For Building Society Accounts only)</small>
                    </td>
                    <td class="cell-bordered" style="width: 60%;">
                        <$client.env.FormField.a40_signature.HTML>
                    </td>
                </tr>
                <tr>
                    <td>
                        Signature:
                    </td>
                    <td class="cell-bordered" style="width: 60%;">
                        <$client.env.FormField.a40_signature.HTML>
                    </td>
                </tr>
                <tr>
                    <td>
                        Date:
                    </td>
                    <td class="cell-bordered" style="width: 60%;">
                        <$client.env.FormField.a41_date.HTML>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <header>
        <div class="col-thin pink-bg">&nbsp;</div>
        <div class="col-thin">&nbsp;</div>
        <div class="col-90 text-right purple-bg">
            <strong>NEW STARTER FORM/ EQUAL OPPORUNITIES MONITORING</strong>
        </div>
        <div class="col-thin">&nbsp;</div>
        <div class="col-thin grey-bg">&nbsp;</div>
    </header>
    <div class="container-inner">
        <p class="indent-1">
            Ellucian is committed to developing its policies to promote equal opportunities in its employment. Completion of this form is optional and will only be held for monitoring.
        </p>

        <table class="table table-bordered wrapper-inner">
           <tbody>
                <tr>
                    <td>
                        <div class="col-30 vertical-top">
                            <strong>Gender</strong>
                        </div>
                        <div class="col-70 form-inline">
                            <$client.env.FormField.a42_gender.HTML>
                        </div>
                    </td>
                </tr>
            </tbody> 
        </table>

        <table class="table table-bordered wrapper-inner">
           <tbody>
                <tr>
                    <td>
                        <div class="col-25">
                            <strong>Age</strong>
                        </div>
                        <div class="col-75">
                            Please tick which age group you fall into:
                        </div>
                        <div class="col-100 table-5-col form-inline">
                            <$client.env.FormField.a43_age_range.HTML>
                        </div>
                    </td>
                </tr>
            </tbody> 
        </table>

        <table class="table table-bordered wrapper-inner">
           <tbody>
                <tr>
                    <td>
                        <div class="col-25">
                            <strong>Marital Status</strong>
                        </div>
                        <div class="col-75">
                            Please tick which group you fall into:
                        </div>
                        <div class="col-100 table-5-col form-inline">
                            <$client.env.FormField.a44_marital_status.HTML>
                        </div>
                    </td>
                </tr>
            </tbody> 
        </table>

        <table class="table table-bordered wrapper-inner">
           <tbody>
                <tr>
                    <td colspan="5">
                        <div class="col-25 vertical-top">
                            <strong>Disability</strong>
                        </div>
                        <div class="col-75">
                            Do you suffer from a recognised disability as outlined in the Disability Discrimination Act 1995: "a physical or mental impairment which has a substantial and long-term adverse effect on his ability to carry out normal day-to-day activities."
                        </div>
                    </td>
                </tr>
                <tr data-radio="true">
                    <td>
                        If yes, please state what that disability is:
                        <$client.env.FormField.a45_disability.HTML>
                    </td>
                    <td>Yes</td>
                    <td>
                        <$client.env.FormField.a46_disability_1.HTML>
                    </td>
                    <td>No</td>
                    <td>
                        <$client.env.FormField.a46_disability_2.HTML>
                    </td>
                </tr>
                <tr data-radio="true">
                    <td>
                        If yes, are you registered disabled?
                        <$client.env.FormField.a47_register_disabled.HTML>
                    </td>
                    <td>Yes</td>
                    <td>
                        <$client.env.FormField.a48_registered_disable_1.HTML>
                    </td>
                    <td>No</td>
                    <td>
                        <$client.env.FormField.a48_registered_disable_2.HTML>
                    </td>
                </tr>
            </tbody> 
        </table>

        <table class="table table-bordered wrapper-inner" data-radio="true">
           <tbody>
                <tr>
                    <td>
                        <div class="col-10">
                            <strong>Ethnicity</strong>
                        </div>
                        <div class="col-90">
                            Please indicate what your ethnic group is:
                        </div>
                        <div class="checkbox-wrapper">
                            <div class="col-30">
                                White, British:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_1.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Pakistani:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_2.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Black, Other:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_3.HTML>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox-wrapper">
                            <div class="col-30">
                                White, Irish:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_4.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Bangladeshi:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_5.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Mixed,White/Caribbean:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_6.HTML>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox-wrapper">
                            <div class="col-30">
                                White, Other:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_7.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Asian, Other:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_8.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Mixed, White/African:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_9.HTML>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox-wrapper" value="9">
                            <div class="col-30">
                                Chinese:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_10.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Black, Caribbean:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_11.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Mixed, White/Asian:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_12.HTML>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox-wrapper">
                            <div class="col-30">
                                Indian:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_13.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Black, African:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_14.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Mixed, Other:
                                <div class="pull-right">
                                    <$client.env.FormField.a49_ethnicity_15.HTML>
                                </div>
                            </div>
                        </div>
                        <div class="col-40">
                            Any other ethnic group (please state):
                        </div>
                        <div class="col-55">
                            <$client.env.FormField.a50_other_ethnic_group.HTML>
                        </div>
                    </td>
                </tr>
            </tbody> 
        </table>

        <table class="table table-bordered wrapper-inner" data-radio="true">
           <tbody>
                <tr>
                    <td>
                        <div class="col-10">
                            <strong>Religion</strong>
                        </div>
                        <div class="col-90">
                            Please indicate what your religion is:
                        </div>
                        <div class="checkbox-wrapper">
                            <div class="col-30">
                                Church of England:
                                <div class="pull-right">
                                    <$client.env.FormField.a50_religion_1.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Muslim:
                                <div class="pull-right">
                                    <$client.env.FormField.a50_religion_2.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                None:
                                <div class="pull-right">
                                    <$client.env.FormField.a50_religion_3.HTML>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox-wrapper">
                            <div class="col-30">
                                Hindu:
                                <div class="pull-right">
                                    <$client.env.FormField.a50_religion_4.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Roman Catholic:
                                <div class="pull-right">
                                    <$client.env.FormField.a50_religion_5.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Other:
                                <div class="pull-right">
                                    <$client.env.FormField.a50_religion_6.HTML>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox-wrapper">
                            <div class="col-30">
                                Jewish:
                                <div class="pull-right">
                                    <$client.env.FormField.a50_religion_7.HTML>
                                </div>
                            </div>
                            <div class="col-30">
                                Sikh:
                                <div class="pull-right">
                                    <$client.env.FormField.a50_religion_8.HTML>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody> 
        </table>

    </div>
</div>
