<table  class='tbl_outer' cellpadding="0" cellspacing="0" >
  <tr>
      <td width="147"><img src='logo.png' width=80/> </td>
        <td width="751" class='center' >
          <div style='margin: 10px 0px;' class='padding border  title valign_middle'>ACCORDO PER DIPENDENTI SU INNOVAZIONI E INFORMAZIONI PROPRIETARIE (l’“Accordo”)
</div>
        </td>
    </tr>
    <tr>
      <td colspan=2>
          <p>Con la presente riconosco, comprendo e accetto che:</p>
            <ol type="A" >
              <li><u class='bold'>Informazioni riservate:</u>
                  <ol type="i" class='roman'>
                      <li><p>Durante il mio impiego avrò accesso alle informazioni riservate e ai segreti commerciali riguardanti le attività, le operazioni, i processi e gli affari dell’entità GE mia datrice di lavoro e/o di altre aziende GE (collettivamente la “Società”), e i suoi fornitori, clienti, agenti e dipendenti, le quali sono di natura commercialmente sensibile e, se divulgate, potrebbero causare significativi danni alla Società (“Informazioni riservate”). </p></li>
                      <li><p>Non utilizzerò o divulgherò, direttamente o indirettamente (eccetto per quanto autorizzato o richiesto nel normale svolgimento delle mie mansioni o richiesto dalle leggi), né durante il mio impiego né in qualsiasi momento dopo la sua cessazione (qualsiasi ne sia la causa), a nessuna persona, azienda od altra organizzazione le Informazioni riservate (e mi adopererò al meglio delle mie capacità per prevenirne la pubblicazione o divulgazione), o le informazioni per le quali la Società (come definito nel mio contratto di impiego) sia vincolata a un obbligo di riservatezza nei confronti di terzi, delle quali potrei venire a conoscenza durante il mio impiego o altrimenti.</p></li>
                      <li><p>Tale restrizione non si applicherà a informazioni che sono già o diventano di pubblico dominio per vie diverse dalla mia divulgazione non autorizzata diretta o indiretta, esclusivamente o tramite terzi, e non limiterà il mio diritto di effettuare una divulgazione protetta (che dovrà essere effettuata secondo quando previsto alla sezione “Come sollevare una questione di integrità” della Politica sull'integrità della Società – Allegato 1). </p></li>
                      <li><p><strong>Comprendo che nulla nella presente mi impedisce di denunciare possibili violazioni di legge alle autorità competenti.</strong></p></li>
                    </ol>
                
                </li>
                <li><u class='bold'>Proprietà intellettuale</u>
                  <ol type="i" class='roman'>
                    <li><p>Tutti i diritti di proprietà intellettuale esistenti o relativi a qualsiasi cosa da me creata (anche in collaborazione con altre persone) nel corso del mio impiego presso la Società e/o nel corso di eventuali progetti o mansioni speciali  saranno detenuti da e attribuiti alla Società in via definitiva nella massima misura consentita dalla legge, e con la presente cedo alla Società ogni tale diritto di proprietà intellettuale, ad eccezione del diritto ad essere riconosciuto autore.</p></li>
                    <li><p>Mi impegno, a richiesta e a spese della Società, a firmare ogni ulteriore documento e compiere ogni ulteriore atto che possa essere necessario per attribuire ogni tale diritto di proprietà intellettuale alla Società stessa in via definitiva, e con la presente cedo e trasferisco alla Società, in forma di cessione presente di copyright futuri, tutti i copyright per ogni opera soggetta a copyright prodotta od originata da me nel corso del mio impiego, nella massima misura consentita dalla legge italiana.</p></li>
                    <li><p>Ai fini della presente Clausola B, per diritti di proprietà intellettuale si intendono tutti i diritti su brevetti e diritti su modelli di utilità, copyright, disegni e modelli, diritti su marchi commerciali e marchi di servizio, diritti su banche dati, diritti su topografie, nomi commerciali, nomi a dominio, segreti commerciali, know-how e qualsiasi altro diritto di proprietà intellettuale, e altri diritti o interessi in o relativi a qualsiasi dei diritti appena sopra elencati (inclusi, in particolare, i diritti di richiedere la protezione registrata di uno qualsiasi di tali diritti), siano essi registrati o meno, ovunque nel mondo essi derivino o esistano, per il periodo completo della loro esistenza, incluso ogni periodo di proroga o rinnovo, ed essi potranno essere esercitati dalla Società su ogni mezzo e in ogni formato ora noto o successivamente elaborato.</p></li>
                    <li><p>Ogni proprietà intellettuale verrà comunicata e divulgata da me alla Società in modo appropriato e tempestivo al momento della sua creazione. </p></li>
                    <li><p>Mi impegno, a spese della Società e su richiesta (durante il mio impiego o dopo la sua cessazione), a firmare ogni documento, presentare ogni domanda, dare ogni assistenza ed eseguire ogni atto e azione che possano essere necessari per consentire alla Società di godere del pieno beneficio della presente Clausola B. Ciò includerà fornire assistenza o consigli (incluso fornire prove se richiesto) in relazione a:</p>

                        <ol type="a" class='alpha_lower'>
                            <li>la presentazione di domande per la registrazione di; </li>
                            <li>i procedimenti avviati per prevenire la violazione di; e/o  </li>
                            <li>i procedimenti che riguardano o influenzano la validità di,</li>
                        </ol>
                        <p>qualsiasi diritto di proprietà intellettuale. </p>
                    </li>
                    <li><p>Immediatamente dopo la cessazione del mio impiego o in data precedente su richiesta della Società, conferirò alla Società ogni diritto di proprietà intellettuale e tutti i dati e/o documenti relativi in mio possesso, custodia o controllo sui quali la Società abbia diritto in virtù della presente Clausola B. </p></li>
                   
                </ol>   
              </li>
              <li><u class='bold'>Privacy - Protezione dei dati</u>
                   <div>Riconosco che le mie informazioni personali saranno trattate in conformità con gli Standard di protezione dei dati sull'impiego di GE  e con la presente confermo di avere letto, compreso ed espressamente approvato per iscritto gli Standard di protezione dei dati sull’impiego di GE e le modalità d’uso da parte della Società delle informazioni sui dipendenti previste in “Allegato 2” in data  <span style="display: inline-block;"><$client.env.FormField.date.HTML></span>,  in piena conformità con le disposizioni del Decreto Legislativo 196 del 30 giugno 2003, tramite espressa sottoscrizione del modulo INFORMAZIONI E RICHIESTA DI CONSENSO AI SENSI DELLA LEGGE SULLA PROTEZIONE DEI DATI PERSONALI, che è qui allegato come “Allegato 3”.</div>
              
              </li>
              <li><u class='bold'>Legge applicabile</u>
                   <p>Il presente Accordo, e i documenti ad esso allegati, saranno governati da e interpretati in conformità con le leggi della Repubblica Italiana e sono soggetti alla esclusiva giurisdizione dei tribunali italiani.
 
</p>
              
              </li>
              <li><u class='bold'>Clausola di scindibilità</u>
                  <p>Il presente Accordo sostituisce ogni altra eventuale disposizione divergente in qualsivoglia altro accordo che possa aver sottoscritto e che riguarda oppure regolamenta il mio impiego. Qualsiasi parte del presente Accordo che non può essere modificata o interpretata per evitarne l'invalidità non avrà alcuna efficacia. Tutte le altre parti di qualsivoglia altro accordo non in conflitto con la presente rimarranno valide e applicabili.</p>
                  <p>Per e a nome dell’entità GE datrice di lavoro</p>
                  <p>Con la presente riconosco e accetto i termini sopra indicati.</p>

               <p>&nbsp;</p>
               <p>&nbsp;</p>
               <p>&nbsp;</p>


            <table width=100% cellspacing="0" cellpadding="0">
              <tr>
                <td colspan=3><$client.env.FormField.date_birth.HTML></td>
              </tr>
              <tr><td colspan=3>Date of Birth </td></tr>
              <tr><td colspan=3>&nbsp;</td></tr>
              <tr>
                <td><$client.env.FormField.employee_signature.HTML>Firmato da</td>
                <td>&nbsp;</td>
                <td><$client.env.FormField.date_signature.HTML><br>In data</td>
              </tr>
            </table>
            <br><br><br>


              </li>
        </ol>
        </td>
    </tr>
    <tr>
      <td colspan=2>
            Italy 2016
        </td>
    </tr>
</table>
