<div class="main">
    <header>
        <h1 class="col-80">EMPLOYEE DIRECT DEPOSIT AUTHORIZATION FORM</h1>
        <div class="col-20">
            <img src="/assets/img/kellog_logo.jpg" alt="kellogs" class="img-responsive">
        </div>
    </header>
    <h3>EMPLOYEE IDENTIFICATION</h3>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td style="width: 630px;">
                 Name 
                 <$client.env.FormField.a01_name.HTML>
                </td>
                <td>
                    Primary Phone Number
                    <$client.env.FormField.a02_phone.HTML>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Email address where deposit notification can be sent (if email address is provided no other notification will be sent).
                    <$client.env.FormField.a03_email.HTML>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Mailing address where deposit notification can be mailed (if email address is provided no other notification will be mailed via USPS).
                    <$client.env.FormField.a04_mailing_address.HTML>
                </td>
            </tr>
        </tbody>
    </table>
    <strong>FINANCIAL INSTITUTION</strong>
    <img src="/assets/img/cheque.jpg" alt="kellogs" class="img-responsive">
    <p>
        Make sure to indicate what kind of account, along with amount to be deposited, if less than your total net paycheck.
    </p>
    <h3>Primary Account</h3>
    <table class="table table-bordered">
        <tr>
            <td>
                Financial Institution Name
                <$client.env.FormField.a05_financial_institution_name.HTML>
            </td>
            <td>
                City
                <$client.env.FormField.a06_city.HTML>
            </td>
            <td>
                State
                <$client.env.FormField.a07_state.HTML>
            </td>
            <td>
                Dollar Amount or Net Amount
                <$client.env.FormField.a08_dollar_net_amount.HTML>
            </td>
        </tr>
        <tr>
            <td>
                Routing / Transit Number (9 digits only)
                <$client.env.FormField.a09_routing.HTML>
            </td>
            <td colspan="2">
                Account Number
                <$client.env.FormField.a10_account_number.HTML>
            </td>
            <td>
                Type of Account
                <div class="col-100">
                    <div class="table-inline">
                        <$client.env.FormField.a11_account_type.HTML>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h3>Secondary Account</h3>
    <table class="table table-bordered">
        <tr>
            <td>
                Financial Institution Name
                <$client.env.FormField.a12_financial_institution_name.HTML>
            </td>
            <td>
                City
                <$client.env.FormField.a13_city.HTML>
            </td>
            <td>
                State
                <$client.env.FormField.a14_state.HTML>
            </td>
            <td>
                Dollar Amount or Net Amount
                <$client.env.FormField.a15_dollar_net_amount.HTML>
            </td>
        </tr>
        <tr>
            <td>
                Routing / Transit Number (9 digits only)
                <$client.env.FormField.a16_routing.HTML>
            </td>
            <td colspan="2">
                Account Number
                <$client.env.FormField.a17_account_number.HTML>
            </td>
            <td>
                Type of Account
                <div class="col-100 table-inline">
                    <$client.env.FormField.a18_account_type.HTML>
                </div>
            </td>
        </tr>
    </table>    
    <h3>Additional Account</h3>
    <table class="table table-bordered">
        <tr>
            <td>
                Financial Institution Name
                <$client.env.FormField.a19_financial_institution_name.HTML>
            </td>
            <td>
                City
                <$client.env.FormField.a20_city.HTML>
            </td>
            <td>
                State
                <$client.env.FormField.a21_state.HTML>
            </td>
            <td>
                Dollar Amount or Net Amount
                <$client.env.FormField.a22_dollar_net_amount.HTML>
            </td>
        </tr>
        <tr>
            <td>
                Routing / Transit Number (9 digits only)
                <$client.env.FormField.a23_routing.HTML>
            </td>
            <td colspan="2">
                Account Number
                <$client.env.FormField.a24_account_number.HTML>
            </td>
            <td>
                Type of Account
                <div class="col-100 table-inline">
                    <$client.env.FormField.a25_account_type.HTML>
                </div>
            </td>
        </tr>
    </table>    

    <table class="table table-bordered">
        <tr>
            <td>
                Financial Institution Name
                <$client.env.FormField.a26_financial_institution_name.HTML>
            </td>
            <td>
                City
                <$client.env.FormField.a27_city.HTML>
            </td>
            <td>
                State
                <$client.env.FormField.a28_state.HTML>
            </td>
            <td>
                Dollar Amount or Net Amount
                <$client.env.FormField.a29_dollar_net_amount.HTML>
            </td>
        </tr>
        <tr>
            <td>
                Routing / Transit Number (9 digits only)
                <$client.env.FormField.a30_routing.HTML>
            </td>
            <td colspan="2">
                Account Number
                <$client.env.FormField.a31_account_number.HTML>
            </td>
            <td>
                Type of Account
                <div class="col-100 table-inline">
                    <$client.env.FormField.a32_account_type.HTML>
                </div>
            </td>
        </tr>
    </table>    

    <table class="table table-bordered">
        <tr>
            <td>
                Financial Institution Name
                <$client.env.FormField.a33_financial_institution_name.HTML>
            </td>
            <td>
                City
                <$client.env.FormField.a34_city.HTML>
            </td>
            <td>
                State
                <$client.env.FormField.a35_state.HTML>
            </td>
            <td>
                Dollar Amount or Net Amount
                <$client.env.FormField.a36_dollar_net_amount.HTML>
            </td>
        </tr>
        <tr>
            <td>
                Routing / Transit Number (9 digits only)
                <$client.env.FormField.a37_routing.HTML>
            </td>
            <td colspan="2">
                Account Number
                <$client.env.FormField.a38_account_number.HTML>
            </td>
            <td>
                Type of Account
                <div class="col-100 table-inline">
                    <$client.env.FormField.a39_account_type.HTML>
                </div>
            </td>
        </tr>
    </table>

    <div class="signature-container">
        <strong>AUTHORIZATION</strong>
        <p class="indent-1">
            I authorize Kellogg Supply, Inc. and it's affiliates to deposit by electronic transfer payments owed to me and, if necessary, debit entries and adjustments for any amounts deposited electronically in error. Kellogg Supply, Inc. and it's affiliates shall deposit the payments in the financial institution and account designated above. I recognize that if I fail to provide complete and accurate information on this authorization form, the processing of the form may be delayed or that my payments may be erroneously transferred electronically.
        </p>
        <div class="col-50">
            <strong>
                Authorized Signature<br>
            </strong>
            <div class="col-80">
                <$client.env.FormField._signature.HTML>
            </div>
        </div>
        <div class="col-50">
            <strong>
                Date<br>
            </strong>
            <div class="col-60">
                <$client.env.FormField._date.HTML>
            </div>
        </div>
    </div>
    <$client.env.FormField.signatureverification.HTML>
</div>
