<main class="container-fluid">
    <header class="row">
        <div class="col-lg-1 col-md-2 col-sm-4 col-xs-3">
            <img src="assets/img/ecu_logo.jpg" alt="" class="img-responsive">
        </div>
    </header>
    <div class="row">
        <h4 class="text-center">
            <strong>
                <u>
                    Employee Emergency Contact
                </u>
            </strong>
        </h4>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Date:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <$client.env.FormField.Date.HTML>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Name:
                </label>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                <$client.env.FormField.Name.HTML>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Title:
                </label>
            </div>
            <div class="col-lg-11 col-md-10 col-sm-12 col-xs-12">
                <$client.env.FormField.Title.HTML>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Office Location:
                </label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <$client.env.FormField.Office_Location.HTML>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                In the event of an emergency, contact:
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Name:
                </label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <$client.env.FormField.Name_2.HTML>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Relationship:
                </label>
            </div>
            <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12">
                <$client.env.FormField.Relationship.HTML>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <label for="" class="control-label">
                    Address:
                </label>
                <$client.env.FormField.address1.HTML>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Home Phone #
                </label>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
                <$client.env.FormField.Home_Phone.HTML>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Cell Phone #
                </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <$client.env.FormField.Cell_Phone.HTML>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Business Phone #
                </label>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <$client.env.FormField.Business_Phone.HTML>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Name:
                </label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <$client.env.FormField.Name_3.HTML>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Relationship:
                </label>
            </div>
            <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12">
                <$client.env.FormField.Relationship_2.HTML>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <label for="" class="control-label">
                    Address:
                </label>
                <$client.env.FormField.address2.HTML>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Home Phone #
                </label>
            </div>
            <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
                <$client.env.FormField.Home_Phone_2.HTML>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Cell Phone #
                </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <$client.env.FormField.Cell_Phone_2.HTML>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <label for="" class="control-label">
                    Business Phone #
                </label>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <$client.env.FormField.Business_Phone_2.HTML>
            </div>
        </div>
    </div>
    <hr>
    <div class="filler hidden-sm hidden-xs">&nbsp;</div>
    <hr class="lifesuite__hr"> 
    <div class="row" id="formButtons" style="display: none;"> 
        <div class="lifesuite__clearfix lifesuite__float-right">                
            <$client.env.FormButtons> 
        </div>              
    </div>
</main>
