<main>
    <div class="box vspace">
        <div class="box-inner">
            <div class="box-inner">
                <div class="border-bottom">
                    <div class="col-45 text-center">
                        <div class="col-90">
                            <img src="assets/img/graebel_logo-legacy-bg.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-50 clearfix border-left" style="line-height: 4em;">
                        <h3 class="pull-right">
                            Page 1 of 3
                        </h3>
                        <h3>
                            Policy #: HR:021
                        </h3>
                    </div>
                </div>
                <div class="border-bottom">
                    <div class="col-45">
                        <h3>
                            <strong>
                                POLICIES AND PROCEDURES
                            </strong>
                        </h3>
                    </div>
                    <div class="col-50 border-left">
                        <h3>
                            Effective/Revision Date: October 1, 2015
                        </h3>
                    </div>
                </div>
                <div class="border-bottom">
                    <div class="col-45">
                        <h3>
                            Policy Owner/Dept: Human Resources
                        </h3>
                    </div>
                    <div class="col-50 border-left">
                        <h3>
                            Supersedes: Policy dated January 1, 2015
                        </h3>
                    </div>
                </div>
                <div class="border-bottom">
                    <div class="col-45">
                        <h3>
                            Policy Title: Conflict of Interest
                        </h3>
                    </div>
                    <div class="col-50 border-left">
                        <h3>
                            Approved: <u>Original Signed</u>  <br>
                            Title: William H. Graebel, President/CEO
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-45">
                        <h3>
                            Scope: All employees, officers, <br>
                            directors and other representatives
                        </h3>
                    </div>
                    <div class="col-50 border-left">
                        <h3>
                            Related Policies/Supporting Practices:  <br>
                            Code of Business Conduct and Ethics
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="vspace">
        <strong>
            <u>
              POLICY STATEMENT. 
            </u>
        </strong>
        This Conflict of Interest Policy sets forth Company standards regarding possible conflicts of interest. The policy is intended to identify situations which may be a conflict of interest, provide clear direction on reporting possible conflicts of interest and identify the required action necessary if a situation is determined by Graebel Companies, Inc. or its subsidiaries and affiliates (the “Company”) to be a conflict of interest. The Company recognizes that employees may take part in legitimate financial, business, charitable and other activities outside their jobs, but any potential conflict of interest raised by those activities must be disclosed promptly to management.
    </p>
    <p class="vspace">
        <strong>
            <u>
                CONFLICTS OF INTEREST.
            </u>
        </strong>
        Employees owe a duty of undivided business loyalty to the Company. This duty is breached when a employee engages in activities that cause a conflict of interest. Conflicts of interest may arise when considerations of gain or benefit to a employee or a employee’s immediate family member(s) conflict with or appear to conflict with the employee’s obligation to serve the Company’s best interest or the employee’s ability to perform Company work objectively and effectively. It is also expected that employee’s will not use their Company affiliation for private or personal advantage. Circumstances in which a conflict of interest may arise and should be reported, include but are not limited to the following:
    </p>
    <section class="vspace">
        <p class="indent-2">
            (a) having an ownership, consulting, or employment relationship with any Company competitor, supplier, contractor, subcontractor or customer;
        </p>
        <p class="indent-2">
            (b) holding a substantial equity, debt, or other financial interest in any competitor, supplier , contractor, subcontractor or customer;
        </p>
        <p class="indent-2">
            (c) having a personal financial interest in any transaction involving the purchase or sale by the Company of any products, materials, equipment, services, or property, other than through Company-sponsored programs;
        </p>
        <p class="indent-2">
            (d) buying, selling or leasing any Company property, facilities or equipment from or to the Company or to any Company, firm or individual that has a business relationship with the Company such as a supplier, contractor, subcontractor or customer; 
        </p>
        <p class="indent-2">
            (e) using employees, materials, equipment, or other assets of the Company for any unauthorized purpose;
        </p>
        <p class="indent-2">
            (f) providing services or performing contractual work for the Company outside of the normal bounds of the employee’s job duties in exchange for any payment (whether payment is in cash or via invoice) when a signed and approved contractual agreement between the Company and the employee does not exist;
        </p>
        <p class="indent-2">
            (g) the unauthorized engagement of any individual for services, including specifically friends, cohabitants, and relatives, whether as an employee, vendor, or independent contractor; examples include but are not limited to supervising or processing payments such as payroll, or approval of invoices
        </p>
        <p class="indent-2">
            (h) acceptance of cash, gifts, entertainment, or benefits that are more than nominal in value from any competitor, contractor, supplier, or customer. An employee’s acceptance of any benefit of more than nominal value from a competitor, contractor, supplier, or customer must be approved in advance;
        </p>
        <p class="indent-2">
            (i) acceptance of loans from any supplier, contractor, subcontractor or customer with which the Company does business other than loans from financial institutions at normal rates of interests;
        </p>
        <p class="indent-2">
            (j) using Company confidential or proprietary information for personal gain or advantage, or for the gain or advantage of another;
        </p>
        <p class="indent-2">
            (k) becoming involved in a romantic relationship with a co-worker where there is an immediate reporting relationship between the employees, or where the relationship could cause a disruption in Company operations.
        </p>
    </section>
    <p class="vspace">
        <strong>
            <u>
                REPORTING POTENTIAL CONFLICTS OF INTEREST.
            </u>
        </strong>
        Each employee is responsible for avoiding conflicts of interest as well as the appearance of such conflicts. Employees who are unsure whether they are involved in a conflict of interest or whether an action might create a conflict of interest should discuss the issue with their supervisor, Corporate Human Resources or the Corporate Ethics Officer. A conflict of interest or potential conflict of interest may sometimes be resolved or avoided if it is appropriately disclosed and approved. All employees are required to complete and submit a Conflict of Interest Policy Acknowledgement and Disclosure Form (page three (3) of this policy document), acknowledging whether they are or are not engaging in an activity that may be or may be perceived as a possible conflict of interest. If the employee is unsure of a possible conflict of interest, the employee is responsible for reporting the potential conflict.
    </p>
    <p class="vspace">
        If there is any change in circumstances which would make a previously executed Conflict of Interest statement incorrect, the employee must immediately report such change to the Corporate Human Resources Department. The Human Resources Department will work with the appropriate management to determine if a business conflict exits and the appropriate corrective action be taken.
    </p>
    <p class="vspace">
        <strong>
            <u>
                NON-COMPLIANCE.
            </u>
        </strong>
        Any employee having information or knowledge of non-compliance with this policy shall immediately report such information to the Corporate Human Resources Department. Any failure to comply with this policy, including failure to report violations, could result in disciplinary action; including demotion or termination of employment.
    </p>
    <p class="vspace">
        <strong>
            <u>
                REMEDIAL ACTION.
            </u>
        </strong>
        The Company’s determination as to whether or not a conflict of interest exists shall be conclusive. The Company reserves the right to remedy any perceived conflict of interest in the manner it so chooses in its sole discretion. In some instances, disclosure of the activity may be the only action that is necessary; however, in other instances, disclosure may not be sufficient and the Company may require that the conduct be stopped or that actions taken be reversed where possible.
    </p>
    <p class="vspace">
        This policy is intended to comply with all applicable laws. To the extent this policy conflicts with any local, state, or federal law, the applicable law will govern.
    </p>

    <div class="box vspace">
        <div class="box-inner">
            <div class="box-inner">
                <div class="border-bottom">
                    <div class="col-45 text-center">
                        <div class="col-90">
                            <img src="assets/img/graebel_logo-legacy-bg.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-50 border-left clearfix" style="line-height: 4em;">
                        <h3>
                            Policy #: HR:021
                        </h3>
                    </div>
                </div>
                <div class="border-bottom">
                    <div class="col-45">
                        <h3>
                            <strong>
                                POLICIES AND PROCEDURES
                            </strong>
                        </h3>
                    </div>
                    <div class="col-50 border-left">
                        <h3>
                            Effective/Revision Date: October 1, 2015
                        </h3>
                    </div>
                </div>
                <div class="border-bottom">
                    <div class="col-45">
                        <h3>
                            Policy Owner/Dept: Human Resources
                        </h3>
                    </div>
                    <div class="col-50 border-left">
                        <h3>
                            Supersedes: Policy dated January 1, 2015
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-100">
                        <h3>
                            Policy Title: Conflict of Interest Acknowledgement and Disclosure
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vspace radio-checkbox">
        <$client.env.formfield.Ack1.html>
    </div>
    <div class="vspace radio-checkbox">
        <$client.env.formfield.Activities.html>
        <$client.env.formfield.Conflicts.html>
    </div>
    <div class="vspace radio-checkbox">
        <$client.env.formfield.Understand1.html>
    </div>
    <div class="vspace radio-checkbox">
        <$client.env.formfield.Understand2.html>
    </div>
    <div class="vspace">
        <div class="col-60">
            <$client.env.formfield.Signature.HTML>
            Employee Signature
        </div>
        <div class="col-40">
            <div class="row">
                <$client.env.formfield.Date.HTML>
            </div>
            Date
        </div>
    </div>
    <div class="vspace">
        <div class="col-60">
            <$client.env.formfield.Name.HTML>
            Employee Name (printed)
        </div>
    </div>
</main>
