<div class="container-fluid main">
    <header class="row text-center">
        <div class="brand-logo center-block">
            <img src="assets/img/graebel_logo.jpg" alt="" class="img-responsive">
        </div>
        <div class="form-type inline-choices radio-checkbox">
            <$client.env.FormField.a01_Form_Application_Type.HTML>
        </div>
        <h4>
            <strong>
                Ireland
            </strong>
        </h4>
        <em>
            (Employee to complete first four sections)
        </em>
    </header>
    <div class="thick-box vspace">
        <div class="thick-box-inner">
            <div class="row border-bottom">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 border-right">
                    <div class="row">
                        <strong>
                            Employee Name
                        </strong>
                        (Legal)
                    </div>
                    First:
                    <div class="inline-block col-30">
                        <$client.env.FormField.a02_First_Name.HTML>
                    </div>
                    Middle:
                    <div class="inline-block col-25">
                        <$client.env.FormField.a03_Middle.HTML>
                    </div>
                    Last:
                    <div class="inline-block col-25">
                        <$client.env.FormField.a04_Surname.HTML>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <strong>
                        Employee ID
                    </strong>
                    <$client.env.FormField.a05_Employee_ID.HTML>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Street Address
                    </strong>
                    (Add mailing address if different from residence address)
                    <$client.env.FormField.a06_Street_Address.HTML>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 border-right">
                    <strong>
                        City
                    </strong>
                    <$client.env.FormField.a07_City.HTML>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <strong>
                        Town
                    </strong>
                    <$client.env.FormField.a08_Town.HTML>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Locality
                    </strong>
                    <$client.env.FormField.a09_Locality.HTML>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Country
                    </strong>
                    <$client.env.FormField.a10_Country.HTML>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Providence
                    </strong>
                    <$client.env.FormField.a11_Providence.HTML>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Postal Code
                    </strong>
                    <$client.env.FormField.a12_Postal_Code.HTML>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Phone Number Type
                    </strong>
                    <$client.env.FormField.a13_Phone_Number_Type.HTML>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <strong>
                        Phone Number
                    </strong>
                    <$client.env.FormField.a14_Phone_Number.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                    <strong>
                        Non EEA Citizen
                    </strong>
                    <div class="row">
                        <div class="inline-choices radio-checkbox">
                        <$client.env.FormField.a15_EEA_Citizen.HTML>
                        If “N”, provide copy of 
                        <strong>
                            GNIBN
                        </strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 border-right border-left">
                    &nbsp;
                    <$client.env.FormField.a16_GNIBN.HTML>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 border-left pull-right">
                    <strong>
                        Email Address
                    </strong>
                    <$client.env.FormField.a17_Email_Address.HTML>
                </div>
            </div>
        </div>
    </div>
    <div class="thick-box vspace">
        <div class="thick-box-inner">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Birth Date
                    </strong>
                    <div class="inline-block">
                        <$client.env.FormField.a18_Birth_Date.HTML>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <strong class="label-inline">
                        Gender
                    </strong>
                    <div class="inline-choices inline-block label-normal radio-checkbox">
                        <$client.env.FormField.a19_Gender.HTML>
                    </div>
                    <strong class="label-inline">
                        Citizenship
                    </strong>
                    <div class="inline-block col-25">
                        <$client.env.FormField.a20_Citizenship.HTML>
                    </div>
                    <strong class="label-inline">
                        PPS #
                    </strong>
                    <div class="inline-block col-25">
                        <$client.env.FormField.a20_PPS.HTML>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thick-box vspace">
        <div class="thick-box-inner">
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Bank Account Name
                    </strong>
                    <$client.env.FormField.a21_Bank_Account_Name.HTML>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <strong>
                        Bank Account Number
                    </strong>
                    <$client.env.FormField.a22_Bank_Account_Number.HTML>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Bank Address
                    </strong>
                    <$client.env.FormField.a23_Bank_Address.HTML>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        City
                    </strong>
                    <$client.env.FormField.a24_City.HTML>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <strong>
                        Town
                    </strong>
                    <$client.env.FormField.a25_Town.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Locality
                    </strong>
                    <$client.env.FormField.a26_Locality.HTML>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Country
                    </strong>
                    <$client.env.FormField.a27_Country.HTML>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Providence
                    </strong>
                    <$client.env.FormField.a28_Providence.HTML>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Postal Code
                    </strong>
                    <$client.env.FormField.a29_Postal_Code.HTML>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Bank Sort Code
                    </strong>
                    <$client.env.FormField.a30_Bank_Sort_Code.HTML>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <strong>
                        BIC Code
                    </strong>
                    <$client.env.FormField.a31_BIC_Code.HTML>
                </div>
            </div> 
        </div>
    </div>
    <div class="thick-box">
        <div class="thick-box-inner">
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <strong>
                        Emergency Contact Name
                    </strong>
                    <$client.env.FormField.a31_Emergency_Contact_Name.HTML>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-left">
                    <strong>
                        Emergency Contact Relationship:
                    </strong>
                    <div class="inline-choices inline-block radio-checkbox label-normal">
                        <$client.env.FormField.a32_Emergency_Contact_Relationship.HTML>
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <strong>
                    Emergency Contact Street Address
                </strong>
                <$client.env.FormField.a33_Emergency_Contact_Street_Address.HTML>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Emergency Contact City
                    </strong>
                    <$client.env.FormField.a34_Emergency_Contact_City.HTML>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Emergency Contact Country
                    </strong>
                    <$client.env.FormField.a35_Emergency_Contact_Country.HTML>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <strong>
                        Emergency Contact Zip
                    </strong>
                    <$client.env.FormField.a36_Emergency_Contact_Zip.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Emergency Contact Personal Phone
                    </strong>
                    <$client.env.FormField.a37_Emergency_Contact_Personal_Phone.HTML>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <strong>
                        Emergency Contact Work Phone
                    </strong>
                    <$client.env.FormField.a38_Emergency_Contact_Work_Phone.HTML>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center text-blue">
        TO BE COMPLETED BY HR CONTACT
    </div>
    <div class="thick-box vspace">
        <div class="thick-box-inner">
            <div class="row border-bottom">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-right">
                    <strong class="text-blue">
                        Branch Number Transfer From (if applicable)
                    </strong>
                    <$client.env.FormField.a39_Branch_Number_Transfer_From.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-right">
                    <strong class="text-blue">
                        Branch Number Transfer To (New Hire/Rehire Branch)
                    </strong>
                    <$client.env.FormField.a40_Branch_Number_Transfer_To.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-right">
                    <strong class="text-blue">
                        ADP Pay Group
                    </strong>
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <$client.env.FormField.a41_ADP_Pay_Group.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <strong class="text-blue">
                        Department Number
                    </strong>
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <$client.env.FormField.a42_Department_Number.HTML>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <strong class="text-blue">
                        General Ledger Cost #
                    </strong>
                    <$client.env.FormField.a42_General_Ledger_Job_Cost.HTML>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <strong class="text-blue">
                        Tier
                    </strong>
                    <$client.env.FormField.a43_Tier.HTML>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
                    <strong class="text-blue">
                        Job Title
                    </strong>
                    <$client.env.FormField.a44_Job_Title.HTML>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 border-right">
                    <strong class="text-blue">
                        Job Code
                    </strong>
                    <$client.env.FormField.a45_Job_Code.HTML>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 border-right">
                    <strong class="text-blue">
                        Job Grade
                    </strong>
                    <$client.env.FormField.a46_Job_Grade.HTML>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <strong class="text-blue">
                        Employee Type
                    </strong>
                    <div class="inline-choices label-normal radio-checkbox">
                        <$client.env.FormField.a47_Employee_Type.HTML>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 border-left border-right">
                    <strong class="text-blue">
                        Supervisor
                    </strong>
                    <$client.env.FormField.a47_Supervisor.HTML>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <strong class="text-blue">
                        Hire/Rehire Date
                    </strong>
                    <$client.env.FormField.a48_Hire_Rehire_Date.HTML>
                </div>
            </div>
            <div class="row border-bottom">
                <span class="text-blue">
                    <strong>
                        People Group
                    </strong>
                    (select one)
                </span>
                <div class="inline-choices label-normal radio-checkbox">
                    <$client.env.FormField.a49_People_Group.HTML>
                    <strong class="text-blue">
                        Citizenship
                    </strong>
                    <div class="inline-block col-40">
                        <$client.env.FormField.a50_Citizenship.HTML>
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <span class="text-blue">
                        <strong>
                            Rate of Pay
                        </strong>
                        (select one):
                    </span>
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <div class="inline-choices radio-checkbox label-normal">
                        <$client.env.FormField.a51_Rate_of_Pay.HTML>
                        <div class="inline-block col-25">
                            <$client.env.FormField.a51_Rate_Per_Hour.HTML>
                        </div>
                        per hour
                        <$client.env.FormField.a51_Rate_of_Pay_2.HTML>
                        <div class="inline-block col-25">
                            <$client.env.FormField.a51_Rate_Per_Year.HTML>
                        </div>
                        per year
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-left border-right">
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <strong class="text-blue">
                        Country Live In
                    </strong>
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <$client.env.FormField.a52_Country_Live_In.HTML>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <strong class="text-blue">
                        Place of Work
                    </strong>
                    <div class="inline-choices label-normal">
                        <$client.env.FormField.a53_Place_of_Work.HTML>
                        <div class="inline-block col-30">
                            <$client.env.FormField.a54_Graebel_Facility.HTML>
                        </div>
                    </div>
                    <div class="inline-choices label-normal">
                        <$client.env.FormField.a55_Place_of_Work.HTML>
                        <div class="inline-block col-40">
                            <$client.env.FormField.a56_Client_Site.HTML>
                        </div>
                    </div>
                    <div class="inline-choices label-normal">
                        <$client.env.FormField.a57_Place_of_Work.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <span class="text-blue">
                    <strong>
                        Employee Status
                    </strong>
                    (select one)
                </span>
                <div class="inline-choices label-normal radio-checkbox">
                    <$client.env.FormField.a58_Employee_Status.HTML>
                </div>
            </div>
        </div>
    </div>
    <div class="thick-box">
        <div class="thick-box-inner">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong class="text-red">
                        Notes:
                    </strong>
                    <div class="inline-block col-90">
                        <$client.env.FormField.a59_Notes.HTML>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            HR Contact Electronic Signature:
            <div class="inline-block col-60">
                <$client.env.FormField.a60_HR_Contact_Signature.HTML>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            Date:
            <div class="inline-block col-80">
                <$client.env.FormField.a61_HR_Contact_Sig_Date.HTML>
            </div>
        </div>
    </div>
    <footer class="text-right">
        Revised 10/3/2014 Corporate Human Resources
    </footer>
    <hr class="lifesuite__hr"> 
    <div class="row" id="formButtons" style="display: none;"> 
        <div class="lifesuite__clearfix lifesuite__float-right">                
            <$client.env.FormButtons> 
        </div>              
    </div> 
</div>
