<div class="container-fluid main">
    <div class="visible-md visible-lg" style="width: 900px;">&nbsp;</div>
    <h3>New Employee Set Up eform</h3>
    <div class="box-gray">
        <div class="col-lg-12 col-md-12 blue-bg">
            <strong>EMPLOYEE INFORMATION</strong>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Name:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <$client.env.FormField.a01_Name.HTML>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg border-left">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Preferred Name:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <$client.env.FormField.a02_Preferred_Name.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Start Date:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <$client.env.FormField.a03_Start_Date.HTML>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg border-left">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Position:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <$client.env.FormField.a04_Position.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Department:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <$client.env.FormField.a05_Department.HTML>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg border-left">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Manager:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <$client.env.FormField.a06_Manager.HTML>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Office Location:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <$client.env.FormField.a07_Office_Location.HTML>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg border-left">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Territory:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <$client.env.FormField.a08_Territory.HTML>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 gray-bg">
                <strong>EQUIPMENT REQUEST – Complete by Manager</strong>
            </div>
        </div>
    </div>
    <div class="box-black box-gap">
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>New Position</strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a09_New_Position.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Desktop
                    <em>(Dev and Finance only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a10_Desktop.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Laptop
                    <em>(Sales, Service and Managers only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a11_Laptop.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Docking Station
                    <em>(Managers only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a12_Docking_Station.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>Monitor</strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a13_Monitor.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Projector
                    <em>(Sales only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a14_Projector.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Mobile Phone
                    <em>(Sales and Managers only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a15_Mobile_Phone.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>Mobile Phone area code</strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a16_Mobile_Phone_area_code.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Desk Phone
                    <em>(Service only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a17_Desk_Phone.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Desk Phone Headset
                    <em>(Service only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a18_Desk_Phone_Headset.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Soft Phone – Jabber
                    <em>(Incl headset)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a19_Soft_Phone_Jabber.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>HUB Access</strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a20_HUB_Access.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    HUB Access Role
                    <em>(Provide name of current employee you would like new employee to have access similar to.)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a21_HUB_Access_Role.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    HUB Limit
                    <em>(Claims only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a22_HUB_Limit.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    CRM Access
                    <em>(Sales only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a23_CRM_Access.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    CRM Territory
                    <em>(Sales only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a24_CRM_Territory.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Dev Access Required
                    <em>(Dev Only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a25_Dev_Access_Required.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right text-area-label">
                <strong>
                    Specialized software request
                    <em>(Must be budgeted or special approval by IT Manager)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a26_Specialized_software_request.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Direct Reports
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a27_Direct_Reports.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Equipment shipping address
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a28_Equipment_shipping_address.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Shared Mailbox access
                    <em>(Provide list of additional mailboxes the user will need access to)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a29_Shared_Mailbox_access.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    File share access
                    <em>(Provide name of current employee you would like new employee to have access similar to.)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a30_File_share_access.HTML>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Additional Information/Requests
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a31_Additional_InformationRequests.HTML>
            </div>
        </div>
    </div>
    <div class="box-gray">
        <div class="row">
            <div class="col-lg-12 col-md-12 gray-bg">
                <strong>IT INFORMATION – Complete by IT</strong>
            </div>
        </div>
    </div>
    <div class="box-black">
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Active Directory Account
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a32_Active_Directory_Account.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Domain
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a33_Domain.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Copied Profile From
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a34_Copied_Profile_From.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Email Address
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a35_Email_Address.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Home Directory
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a36_Home_Directory.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Phone Type
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a37_Phone_Type.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Phone Headset
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a38_Phone_Headset.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Phone: Extension
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a39_Phone_Extension.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Phone: Direct Dial
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a40_Phone_Direct_Dial.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Mobile Number
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a41_Mobile_Number.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Additional Mailboxes
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a42_Additional_Mailboxes.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Distribution Lists
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a43_Distribution_Lists.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Computer
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a44_Computer.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    VPN Access
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a45_VPN_Access.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Specialized software
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a46_Specialized_software.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Monitor
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a46_Monitor.HTML>
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Projector
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a47_Projector.HTML>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Docking Station
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a48_Docking_Station.HTML>
            </div>
        </div>
    </div>
    <div class="box-gray">
        <div class="row">
            <div class="col-lg-12 col-md-12 gray-bg">
                <strong>HUB INFORMATION – Complete by Software Development</strong>
            </div>
        </div>
    </div>
    <div class="box-black">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Login Name
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <$client.env.FormField.a49_Login_Name.HTML>
            </div>
        </div>
    </div>
    <hr class="lifesuite__hr"> 
    <$client.env.FormButtons>
</div>
