<div class="main">
    <header class="vspaced">
        <div class="col-20">
            <img src="assets/img/stcl.jpg" class="img-responsive" alt="">
        </div>
    </header>
    <table class="table table-bordered vspaced">
        <tbody>
            <tr>
                <td>
                    <div class="col-45">
                        Last Name
                        <$client.env.FormField.a01_last_name.HTML>
                    </div>
                    <div class="col-45">
                        First Name
                        <$client.env.FormField.a02_first_name.HTML>
                    </div>
                    <div class="col-10">
                        MI
                        <$client.env.FormField.a03_MI.HTML>
                    </div>
                </td>
                <td>
                    Social Security Number
                    <$client.env.FormField.a04_social_security_number.HTML>
                </td>
                <td>
                    Date of Birth (MM/DD/YYYY)
                    <$client.env.FormField.a05_dob.HTML>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="col-40">
                        Home Address - No. and Street
                        <$client.env.FormField.a06_home_address.HTML>
                    </div>
                    <div class="col-20">
                        City
                        <$client.env.FormField.a07_city.HTML>
                    </div>
                    <div class="col-20">
                        State
                        <$client.env.FormField.a08_state.HTML>
                    </div>
                    <div class="col-20">
                        Zip
                        <$client.env.FormField.a09_zip.HTML>
                    </div>
                </td>
                <td>
                    Home Telephone #
                    <$client.env.FormField.a10_home_telephone.HTML>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table-bordered table vspaced">
        <thead>
           <tr class="blue-bg text-center">
                <th>
                    BCBSTX Medical Plan Coverage Level
                </th>
                <th>
                    Guardian Dental Plan Coverage Level
                </th>
                <th>
                    United Healthcare Vision Plan Coverage Level
                </th>
            </tr> 
        </thead>
        <tbody>
            <tr>
                <td>
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a11_ppo.HTML>
                        PPO
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a11_hdhp.HTML>
                        HDHP
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a11_waive_coverage.HTML>
                        Waive Coverage
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a12_ee_only.HTML>
                        EE Only
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a13_ee_sp_partner.HTML>
                        EE &amp; SP/Partner
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a14_ee_child.HTML>
                        EE &amp; Child(en)
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a15_ee_family.HTML
                        EE &amp; Family
                   </label> 
                </td>
                <td>
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a16_waive_coverage.HTML>
                        Waive Coverage
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a17_ee_only.HTML>
                        EE Only
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a18_ee_sp_partner.HTML>
                        EE &amp; SP/Partner
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a19_ee_child.HTML>
                        EE &amp; Child(en)
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a20_ee_family.HTML>
                        EE &amp; Family
                   </label> 
                </td>
                <td>
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a21_waive_coverage.HTML>
                        Waive Coverage
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a22_ee_only.HTML>
                        EE Only
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a23_ee_sp_partner.HTML>
                        EE &amp; SP/Partner
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a24_ee_child.HTML>
                        EE &amp; Child(en)
                   </label> 
                   <label class="indent-1 col-100 table-checkbox-nolabel">
                    <$client.env.FormField.a30_ee_family.HTML>
                        EE &amp; Family
                   </label> 
                </td>
            </tr>
        </tbody>
    </table>

    <!-- spouse domestic partner -->
    <div class="table-header-top blue-bg col-40 clearfix">
        <div class="col-100">
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a31_spouse_medical_a.HTML>
                Spouse/Domestic Partner
            </label>
        </div>
        <div class="pull-right">
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a31_spouse_medical.HTML>
                Medical
            </label>
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a32_spouse_dental.HTML>
                Dental
            </label>
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a33_spouse_vision.HTML>
                Vision
            </label>
        </div>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="col-45">
                        Last Name
                        <$client.env.FormField.a34_spouse_last_name.HTML>
                    </div>
                    <div class="col-45">
                        First
                        <$client.env.FormField.a35_spouse_first_name.HTML>
                    </div>
                    <div class="col-10">
                        MI
                        <$client.env.FormField.a36_spouse_mi.HTML>
                    </div>
                </td>
                <td>
                    Sex (M/F)
                    <$client.env.FormField.a37_spouse_gender.HTML>
                </td>
                <td>
                    Date of Birth (MM/DD/YYYY)
                    <$client.env.FormField.a38_spouse_dob.HTML>
                </td>
                <td>
                    Social Security Number
                    <$client.env.FormField.a39_ssn.HTML>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="col-50">
                        Home Address (if different from Employee)
                        <$client.env.FormField.a40_spouse_last_name.HTML>
                    </div>
                    <div class="col-15">
                        Apartment Number
                        <$client.env.FormField.a41_spouse_last_name.HTML>
                    </div>
                    <div class="col-15">
                        City
                        <$client.env.FormField.a42_spouse_last_name.HTML>
                    </div>
                    <div class="col-15">
                        State
                        <$client.env.FormField.a43_spouse_last_name.HTML>
                    </div>
                    <div class="col-10">
                        Zip
                        <$client.env.FormField.a44_spouse_last_name.HTML>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- child 1-->
    <div class="table-header blue-bg col-40 clearfix">
        <div class="col-100">
            Child:
        </div>
        <div class="pull-right">
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a45_child1_medical.HTML>
                Medical
            </label>
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a46_child1_dental.HTML>
                Dental
            </label>
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a47_child1_medical.HTML>
                Vision
            </label>
        </div>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="col-45">
                        Last Name
                        <$client.env.FormField.a48_last_name.HTML>
                    </div>
                    <div class="col-45">
                        First
                        <$client.env.FormField.a49_first_name.HTML>
                    </div>
                    <div class="col-10">
                        MI
                        <$client.env.FormField.a50_child1_mi.HTML>
                    </div>
                </td>
                <td>
                    Sex (M/F)
                    <$client.env.FormField.a51_child1_gender.HTML>
                </td>
                <td>
                    Date of Birth (MM/DD/YYYY)
                    <$client.env.FormField.a52_child1_dob.HTML>
                </td>
                <td>
                    Social Security Number
                    <$client.env.FormField.a53_child1_ssn.HTML>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="col-50">
                        Home Address (if different from Employee)
                        <$client.env.FormField.a54_child1_address_home.HTML>
                    </div>
                    <div class="col-15">
                        Apartment Number
                        <$client.env.FormField.a55_child1_address_apt.HTML>
                    </div>
                    <div class="col-15">
                        City
                        <$client.env.FormField.a56_child1_address_city.HTML>
                    </div>
                    <div class="col-15">
                        State
                        <$client.env.FormField.a57_child1_address_state.HTML>
                    </div>
                    <div class="col-10">
                        Zip
                        <$client.env.FormField.a58_child1_address_zip.HTML>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- child 2 -->
    <div class="table-header blue-bg col-40 clearfix">
        <div class="col-100">
            Child:
        </div>
        <div class="pull-right">
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a59_child2_medical.HTML>
                Medical
            </label>
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a60_child2_dental.HTML>
                Dental
            </label>
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a61_child2_vision.HTML>
                Vision
            </label>
        </div>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="col-45">
                        Last Name
                        <$client.env.FormField.a61_child2_lastname.HTML>
                    </div>
                    <div class="col-45">
                        First
                        <$client.env.FormField.a62_child2_firstname.HTML>
                    </div>
                    <div class="col-10">
                        MI
                        <$client.env.FormField.a63_child2_mi.HTML>
                    </div>
                </td>
                <td>
                    Sex (M/F)
                    <$client.env.FormField.a63_child2_gender.HTML>
                </td>
                <td>
                    Date of Birth (MM/DD/YYYY)
                    <$client.env.FormField.a64_child2_dob.HTML>
                </td>
                <td>
                    Social Security Number
                    <$client.env.FormField.a65_child2_ssn.HTML>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="col-50">
                        Home Address (if different from Employee)
                        <$client.env.FormField.a66_child2_address_home.HTML>
                    </div>
                    <div class="col-15">
                        Apartment Number
                        <$client.env.FormField.a67_child2_address_apt.HTML>
                    </div>
                    <div class="col-15">
                        City
                        <$client.env.FormField.a68_child2_address_city.HTML>
                    </div>
                    <div class="col-15">
                        State
                        <$client.env.FormField.a69_child2_address_state.HTML>
                    </div>
                    <div class="col-10">
                        Zip
                        <$client.env.FormField.a70_child2_address_zip.HTML>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- child 3 -->
    <div class="table-header blue-bg col-40 clearfix">
        <div class="col-100">
            Child:
        </div>
        <div class="pull-right">
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a71_child3_medical.HTML>
                Medical
            </label>
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a72_child3_dental.HTML>
                Dental
            </label>
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a73_child3_vision.HTML>
                Vision
            </label>
        </div>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="col-45">
                        Last Name
                        <$client.env.FormField.a74_child3_lastname.HTML>
                    </div>
                    <div class="col-45">
                        First
                        <$client.env.FormField.a75_child3_firstname.HTML>
                    </div>
                    <div class="col-10">
                        MI
                        <$client.env.FormField.a76_child3_firstname.HTML>
                    </div>
                </td>
                <td>
                    Sex (M/F)
                    <$client.env.FormField.a77_child3_gender.HTML>
                </td>
                <td>
                    Date of Birth (MM/DD/YYYY)
                    <$client.env.FormField.a78_child3_dob.HTML>
                </td>
                <td>
                    Social Security Number
                    <$client.env.FormField.a79_child3_ssn.HTML>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="col-50">
                        Home Address (if different from Employee)
                        <$client.env.FormField.a80_child3_address_home.HTML>
                    </div>
                    <div class="col-15">
                        Apartment Number
                        <$client.env.FormField.a81_child3_address_apt.HTML>
                    </div>
                    <div class="col-15">
                        City
                        <$client.env.FormField.a82_child3_address_city.HTML>
                    </div>
                    <div class="col-15">
                        State
                        <$client.env.FormField.a83_child3_address_state.HTML>
                    </div>
                    <div class="col-10">
                        Zip
                        <$client.env.FormField.a84_child3_address_zip.HTML>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <!-- child 4 -->
    <div class="table-header blue-bg col-40 clearfix">
        <div class="col-100">
            Child:
        </div>
        <div class="pull-right">
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a83_child4_medical.HTML>
                Medical
            </label>
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a84_child4_dental.HTML>
                Dental
            </label>
            <label class="indent-1 table-checkbox-nolabel">
                <$client.env.FormField.a85_child4_vision.HTML>
                Vision
            </label>
        </div>
    </div>

    <table class="table table-bordered vspaced">
        <tbody>
            <tr>
                <td>
                    <div class="col-45">
                        Last Name
                        <$client.env.FormField.a86_child4_lastname.HTML>
                    </div>
                    <div class="col-45">
                        First
                        <$client.env.FormField.a87_child4_firstname.HTML>
                    </div>
                    <div class="col-10">
                        MI
                        <$client.env.FormField.a88_child4_mi.HTML>
                    </div>
                </td>
                <td>
                    Sex (M/F)
                    <$client.env.FormField.a89_child4_gender.HTML>
                </td>
                <td>
                    Date of Birth (MM/DD/YYYY)
                    <$client.env.FormField.a90_child4_dob.HTML>
                </td>
                <td>
                    Social Security Number
                    <$client.env.FormField.a90_child4_ssn.HTML>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="col-50">
                        Home Address (if different from Employee)
                        <$client.env.FormField.a91_child4_address_home.HTML>
                    </div>
                    <div class="col-15">
                        Apartment Number
                        <$client.env.FormField.a92_child4_address_apt.HTML>
                    </div>
                    <div class="col-15">
                        City
                        <$client.env.FormField.a93_child4_address_city.HTML>
                    </div>
                    <div class="col-15">
                        State
                        <$client.env.FormField.a94_child4_address_state.HTML>
                    </div>
                    <div class="col-10">
                        Zip
                        <$client.env.FormField.a95_child4_address_zip.HTML>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Health care savings account -->
    <table class="table table-bordered vspaced">
        <thead>
            <tr>
                <th colspan="2" class="blue-bg">
                    Heath Savings Account (HSA): STCLH is contributing $900 towards the EE only deductible and &#36;1,800 towards the family deductible. 
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 50%;">
                    <label class="indent-1 multiline-checkbox table-checkbox-nolabel">
                        <$client.env.FormField.a96_health_savings.HTML>
                        <div class="col-50 vertical-top indent-1">
                            Health Savings Account Election
                            <em class="text-blue">(Must enroll in HDHP to be eligible)</em>
                        </div>
                    </label>
                </td>
                <td>
                    &#36; <div class="col-15"><$client.env.FormField.a97_per_pay_period.HTML></div>&nbsp;Per Pay Period election amount <em>(Please refer to Benefit Summary Guide for maximum contribution amounts)</em>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Flexible spending accounts -->
    <table class="table table-bordered vspaced">
        <thead>
            <tr>
                <th colspan="2" class="blue-bg">
                    Flexible Spending Accounts (FSA)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 50%;">
                    <div class="col-100">
                        <label class="indent-1 table-checkbox-nolabel">
                            <$client.env.FormField.a98_health_care_reimbursement.HTML>
                            Health Care Reimbursement election
                        </label>
                    </div>
                    <div class="col-100">
                        <label class="indent-1 table-checkbox-nolabel">
                            <$client.env.FormField.a99_health_care_reimbursement.HTML>
                            Decline participation
                        </label>
                    </div>
                </td>
                <td>
                    &#36; <div class="col-15"><$client.env.FormField.a100_plan_year_election.HTML></div>&nbsp;<u><strong>Plan Year</strong></u> election <em>(Please refer to Benefit Summary Guide for maximum contribution amounts)</em>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;">
                    <div class="col-100">
                        <label class="indent-1 table-checkbox-nolabel">
                            <$client.env.FormField.a101_health_care_reimbursement.HTML>
                            Dependent Care Reimbursement election
                        </label>
                    </div>
                    <div class="col-100">
                        <label class="indent-1 table-checkbox-nolabel">
                            <$client.env.FormField.a102_health_care_decline.HTML>
                            Decline participation
                        </label>
                    </div>
                </td>
                <td>
                    &#36; <div class="col-15"><$client.env.FormField.a103_plan_year_election.HTML></div>&nbsp;<u><strong>Plan Year</strong></u> election <em>(Please refer to Benefit Summary Guide for maximum contribution amounts)</em>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    Please read the Flexible Spending Account section before completing this section. The contribution amount deducted from each paycheck will be your annual election divided by 24 pay periods. If you are not eligible to participate until after the 1st pay period of the Plan year, your pay deduction will be pro-rated by dividing your annual election by the number of pay periods remaining in the Plan year. IRS regulations require that any FSA contributions not used to reimburse eligible expenses incurred during the Plan year must be forfeited. 
                </td>
            </tr>
        </tfoot>
    </table>

    <!-- employee optional life insurance -->
    <h3 class="indent-1">Refer to Rate Tables for Optional Life and AD&amp;D that are in the Benefit Summary Booklet</h3>
    <table class="table table-bordered vspaced">
        <thead>
            <tr>
                <th class="blue-bg text-left">
                    Employee Optional Life Insurance**
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="col-100">
                        <label class="indent-1 multiline-checkbox table-checkbox-nolabel">
                            <$client.env.FormField.a104_elect_optional.HTML>
                            <span class="indent-1"> I wish to elect the following amount of Optional Employee Life Insurance </span>
                        </label> 
                        (Increments of $10,000 up to $500,000). &#36;<div class="col-10"><$client.env.FormField.a105_elect_optional.HTML></div>
                        <div class="text-note-indent">
                        Note: For new hires, elected amounts greater than $100,000, will be subject to medical underwritting. Late enrollees are subject to medical underwritting for any additional amount. The maximum benefit amount is limited to the lesser of 5 times your salary or $500,000.
                        </div>
                        
                    </div>
                    <div class="col-100">
                        <label class="indent-1 table-checkbox-nolabel">
                            <$client.env.FormField.a106_elect_optional.HTML>
                            <div class="col-30 indent-1">
                                I wish to waive coverage.
                            </div>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Basic Dependent Life Benefit -->
    <table class="table table-bordered vspaced">
        <thead>
            <tr>
                <th class="blue-bg text-left">
                    Basic Dependent Life Benefit: $10,000 for spouse/partner and $5,000 for each child under age 19 or, if full-time student, age 25.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="col-100">
                        <label class="indent-1 table-checkbox-nolabel">
                            <$client.env.FormField.a107_elect_optional.HTML>
                            <div class="col-30 indent-1">
                                I wish to elect basic dependent life.
                            </div>
                        </label>
                    </div>
                    <div class="col-100">
                        <label class="indent-1 table-checkbox-nolabel">
                            <$client.env.FormField.a108_elect_optional.HTML>
                            <div class="col-30 indent-1">
                                I wish to waive coverage.
                            </div>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Spouse/Partner Optional Life Insurance -->
    <table class="table table-bordered vspaced">
        <thead>
            <tr>
                <th class="blue-bg text-left">
                    Spouse/Partner Optional Life Insurance** (Cannot exceed 100% of the Employee Optional Term Life amount)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="col-100">
                        <label class="indent-1 multiline-checkbox table-checkbox-nolabel">
                            <$client.env.FormField.a109_elect_spouse_life.HTML>
                            <span class="indent-1">I wish to elect the following amount of Optional Spouse Life Insurance</span>
                        </label> 
                        (Increments of $10,000 up to $250,000). &#36;<div class="col-10"><$client.env.FormField.a110_elect_spouse_life_amount.HTML></div>
                        <div class="text-note-indent">
                            Note: For new hires, elected amounts greater than $20,000, will be subject to medical underwritting. Late enrollees are subject to medical underwritting for <u>any</u> additional amount. <u>Spouse/Partner Optional Life Insurance cannot exceed 100% of the Employee Optional Life Amount.</u>
                        </div>
                    </div>
                    <div class="col-100">
                        <label class="indent-1 table-checkbox-nolabel">
                            <$client.env.FormField.a111_elect_spouse_life_waive.HTML>
                            <div class="col-30 indent-1">
                                I wish to waive coverage.
                            </div>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="indent-1 vspaced">
        <small>
            **If you elect over the optional life guarantedd issue (GI) amount of $100,000 for Employee and/or $20,000 for Spouse/partner, you will be mailed an Evidence of Insurability form to provide proof of good health to the carrier. Your coverage, and the applicable premium, will be at the GI amount until the carrier approves a greater amount. If you elect any amount of optional life after your new hire eligibilty date, you must complete an Evidence of Insurabiltiy form and qualify for additional coverage.
        </small>
    </div>

    <!-- Beneficiary Designation -->
    <table class="table table-bordered vspaced">
        <thead>
            <tr>
                <th class="blue-bg text-left">
                    Beneficiary Designation - Basic Term Life &amp; AD&amp;D, Employee Optional Life
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>Complete this section even if you declined optional life coverage(s).</strong> You are automatically enrolled in employer-paid Basic Term Life and AD&amp;D and should designate a beneficiary for these plans. If more than one primary beneficiary is designated, please attach a separate page specifying all beneficiary information. Settlement will be made in equal shares to the designated primary beneficiaries who are then still living, unless their shares are specified. You are the beneficiary for any dependent coverage. If there is no named beneficiary, or no beneficiary survives the insured, settlement will be made in accordance with the terms of the group contract.
                </td>
            </tr>
            <tr>
                <td class="blue-bg">
                    Primary Beneficiary Designation
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-20">
                        (1) <span class="indent-3">Last Name</span>
                        <$client.env.FormField.a112_primary_lastname.HTML>
                    </div>
                    <div class="col-20">
                        First Name
                        <$client.env.FormField.a113_primary_firstname.HTML>
                    </div>
                    <div class="col-10">
                        M.I.
                        <$client.env.FormField.a114_primary_firstname.HTML>
                    </div>
                    <div class="col-20">
                        Social Security Number
                        <$client.env.FormField.a115_primary_ssn.HTML>
                    </div>
                    <div class="col-20">
                        Relationship
                        <$client.env.FormField.a116_primary_relationship.HTML>
                    </div>
                    <div class="col-10">
                        Percentage
                        <$client.env.FormField.a117_primary_relationship.HTML>
                    </div>
                    <div class="col-95">
                        Address
                        <$client.env.FormField.a118_primary_relationship.HTML>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="blue-bg">
                    Contingent Beneficiary Designation
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-20">
                        (1) <span class="indent-3">Last Name</span>
                        <$client.env.FormField.a119_contingent_lastname.HTML>
                    </div>
                    <div class="col-20">
                        First Name
                        <$client.env.FormField.a120_contingent_lastname.HTML>
                    </div>
                    <div class="col-10">
                        M.I.
                        <$client.env.FormField.a121_contingent_mi.HTML>
                    </div>
                    <div class="col-20">
                        Social Security Number
                        <$client.env.FormField.a122_contingent_ssn.HTML>
                    </div>
                    <div class="col-20">
                        Relationship
                        <$client.env.FormField.a123_contingent_relationship.HTML>
                    </div>
                    <div class="col-10">
                        Percentage
                        <$client.env.FormField.a124_contingent_percentage.HTML>
                    </div>
                    <div class="col-95">
                        Address
                        <$client.env.FormField.a125_contingent_address.HTML>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-20">
                        (2) <span class="indent-3">Last Name</span>
                        <$client.env.FormField.a126_contingent2_lastname.HTML>
                    </div>
                    <div class="col-20">
                        First Name
                        <$client.env.FormField.a127_contingent2_firstname.HTML>
                    </div>
                    <div class="col-10">
                        M.I.
                        <$client.env.FormField.a128_contingent2_mi.HTML>
                    </div>
                    <div class="col-20">
                        Social Security Number
                        <$client.env.FormField.a129_contingent2_ssn.HTML>
                    </div>
                    <div class="col-20">
                        Relationship
                        <$client.env.FormField.a130_contingent2_relationship.HTML>
                    </div>
                    <div class="col-10">
                        Percentage
                        <$client.env.FormField.a131_contingent2_percentage.HTML>
                    </div>
                    <div class="col-95">
                        Address
                        <$client.env.FormField.a132_contingent2_address.HTML>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="indent-1 vspaced">
        I authorize South Texas College of Law Houston to deduct from my earnings the employee contributions listed above for coverage(s) that I have elected. I understand that medical, dental, vision and flexible spending account contributions are taken "before tax" which results in a tax advantage to me, thereby reducing my gross salary for FICA and possibly affecting my Social Security Retirement Benefit. These elections cannot be changed until the next open enrollment unless I have an IRS qualified change in status.
    </div>
    <div class="indent-1 vspaced">
        If I want to change my health care FSA election(s) due to qualified change in status, I must provide an enrollment change form to Human Resources within 30 days of the effective date of the status change.
    </div>
    <div class="signature-container">
        <div class="col-40 vertical-middle">
            Employee Name:
            <$client.env.FormField.a133_signature.HTML>
        </div>
        <div class="col-20 vertical-middle">
            Date:
            <$client.env.FormField.a134_signature.HTML>
        </div>
        <div class="col-40 vertical-middle">
            <div class="pull-right col-50">
                <img src="assets/img/stcl.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
