<div class="main">
    <h3 class="text-center">PLANO DE PENSÕES GE Global</h3>
    <h3 class="text-center">Ficha de Inclusão/ Alteração</h3>
    <div class="center-block form-inline ficha-wrapper clearfix">
        <$client.env.FormField.a01_ficha_de_inclusao_alteracao.HTML>
        <small class="pull-right">Assinale com um &#x2612; a quadrícula respectiva</small>
    </div>

    <h3 class="title">1.INFORMAÇÃO RESUMO DO PLANO</h3>
    <p>São elegíveis como Participantes do Plano de Pensões, os Colaboradores do quadro permanente da GE Global Services GmbH – Sucursal em Portugal (GE Global) que contribuam para o Plano. Cada empregado do quadro permanente da GE Global tem, no Fundo de Pensões, no âmbito da adesão coletiva, duas contas de valor acumulado. Uma Conta Empresa onde se depositam as contribuições feitas pela empresa a seu favor e uma Conta Colaborador onde se depositam as contribuições obrigatórias e voluntárias do próprio Participante.</p>

    <!-- section 1 -->
    <table class="table table-informacao">
        <thead class="text-center">
            <tr>
                <th>&nbsp;</th>
                <th class="table-bordered-cell table-cell-grey">Benefícios</th>
                <th class="table-bordered-cell table-cell-grey">Direitos Adquiridos</th>
                <th class="table-bordered-cell table-cell-grey">Portabilidade</th>
                <th class="table-bordered-cell table-cell-grey">Contribuições</th>
            </tr>
        </thead>
        <tbody class="table-bordered-cell">
            <tr class="text-center table-cell-green">
                <td>
                    Conta Empresa (Contribuições da empresa)
                </td>
                <td>
                    O Capital acumulado, será pago em caso de reforma por velhice ou Pré-reforma e conforme o estipulado no Plano de Pensões.
                </td>
                <td>
                    O Participante terá direito à totalidade das Unidades de Participação existentes na Conta Empresa se a cessação de contrato de trabalho antes da data de reforma ocorrer por motivos diferentes da Reforma por Invalidez ou Morte.
                </td>
                <td>
                    Em caso de cessação do vínculo Laboral, o Participante terá de transferir os valores existentes nesta conta, que revistam a natureza de direito adquirido, para um contrato de adesão individual a um Fundo de Pensões Aberto, devendo este respeitar os termos do Plano actual quanto às condições de recebimento dos benefícios.
                </td>
                <td>
                    A empresa fará contribuições mensais, para cada participante, com 3% do Salário Mensal*.<br>
                    * é o Salário base ilíquido+ Isenção de Horário Trabalho
                </td>
            </tr>
            <tr class="table-cell-grey">
                <td>
                    <h3>Conta Colaborador <span class="lead">(Contribuições do Participante)</span></h3>
                </td>
                <td>
                    <p>
                        O Capital acumulado será pago em caso de:
                    </p>
                    <ul class="text-left">
                        <li>
                            Reforma por Velhice;
                        </li>
                        <li>
                            Pr&egrave;-reforma;
                        </li>
                        <li>
                            Reforma por Invalidez;
                        </li>
                        <li>
                            Morte;
                        </li>
                        <li>
                            Incapacidade Permanente para o trabalho;
                        </li>
                        <li>
                            Desemprego de longa duração;
                        </li>
                        <li>
                            Doença grave
                        </li>
                    </ul>
                    <p>
                        Conforme o estipulado no Plano de Pensões.
                    </p>
                </td>
                <td>
                    O Participante terá direito à totalidade das Unidades de Participação existentes na Conta Colaborador, no respectivo Fundo.
                </td>
                <td>
                    Em caso de cessação do vínculo Laboral, o Participante terá de transferir os valores existentes nesta conta, para um contrato de adesão individual a um Fundo de Pensões Aberto.
                </td>
                <td>
                    O participante contribuirá obrigatoriamente para este Plano de Pensões também com 3% do Salário Mensal*.<br>
                    *é o Salário base ilíquido+Isenção de Horário de Trabalho
                </td>
            </tr>
        </tbody>
    </table>
    <!-- section 1 end  -->

    <!-- section 2 -->
    <div class="box">
        <h3>2.IDENTIFICAÇÃO DO PARTICIPANTE</h3>
        <div class="form-field-wrapper">
            <div class="col-15">
                Nome Completo
            </div>
            <div class="col-85">
                <$client.env.FormField.a02_Nome_Completo.HTML>
            </div>
        </div>
        <div class="form-field-wrapper">
            <div class="col-10">
                Morada
            </div>
            <div class="col-90">
                <$client.env.FormField.a03_Morada.HTML>
            </div>
        </div>
        <div class="form-field-wrapper">
            <div class="col-15">
                Código Postal
            </div>
            <div class="col-20">
                <$client.env.FormField.a04_codigo_postal.HTML>
            </div>
            <div class="col-15 text-right">
                Localidade
            </div>
            <div class="col-40">
                <$client.env.FormField.a05_Localidade.HTML>
            </div>
        </div>
        <div class="form-field-wrapper">
            <div class="col-5">
                NIF
            </div>
            <div class="col-10">
                <$client.env.FormField.a06_nif.HTML>
            </div>
            <div class="col-5 text-right">
                CC/BI
            </div>
            <div class="col-10">
                <$client.env.FormField.a07_cc_ni.HTML>
            </div>
            <div class="col-10 text-right">
                Emitido em
            </div>
            <div class="col-15">
                <$client.env.FormField.a08_emitido_em.HTML>
            </div>
            <div class="col-20 text-right">
                Data de Nascimento
            </div>
            <div class="col-30">
                <$client.env.FormField.a09_data_de_nascimenta.HTML>
            </div>
        </div>
        <div class="form-field-wrapper">
            <div class="col-10">
                Telefone
            </div>
            <div class="col-20">
                <$client.env.FormField.a10_telefone.HTML>
            </div>
            <div class="col-10 text-right">
                Telemóvel
            </div>
            <div class="col-20">
                <$client.env.FormField.a11_telemove.HTML>
            </div>
            <div class="col-10 text-right">
                E-mail
            </div>
            <div class="col-30">
                <$client.env.FormField.a12_email.HTML>
            </div>
        </div>
    </div>
    <!-- section 2 end  -->

    <!-- section 3 and 3.1 -->
    <h3 class="title">
        3.IDENTIFICAÇÃO DOS BENEFICIÁRIOS EM CASO DE MORTE
    </h3>
    <h3 class="indent-2 title">
        3.1 Conta Empresa
    </h3>
    <table class="table indent-1 table-bordered table-grey">
        <thead>
            <tr>
                <th class="text-center table-cell-nomo">
                    <h3>
                        Nome Completo
                    </h3>
                </th>
                <th class="text-center">
                    % de atribuição do valor acumulado*
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <$client.env.FormField.a13_nome_completo.HTML>
                </td>
                <td>
                    <$client.env.FormField.a14_de_atribuicao_do_valor_acumulado.HTML>
                </td>
            </tr>
            <tr>
                <td>
                    <$client.env.FormField.a15_nome_completo.HTML>
                </td>
                <td>
                    <$client.env.FormField.a16_de_atribuicao_do_valor_acumulado.HTML>
                </td>
            </tr>
            <tr>
                <td>
                    <$client.env.FormField.a17_nome_completo.HTML>
                </td>
                <td>
                    <$client.env.FormField.a18_de_atribuicao_do_valor_acumulado.HTML>
                </td>
            </tr>
            <tr>
                <td>
                    <$client.env.FormField.a19_nome_completo.HTML>
                </td>
                <td>
                    <$client.env.FormField.a20_de_atribuicao_do_valor_acumulado.HTML>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="indent-1">
        Nota: Os beneficiários deverão observar as regras estabelecidas para o regime geral da segurança social quando os titulares do direito à pensão de sobrevivência (cônjuge/filhos/ascendentes). Em caso de inexistência de benefícios elegíveis pelo regime geral de segurança social, o benefício será atribuído a outros herdeiros. * O somatório das percentagens deverá ser 100%.
    </p>
    <!-- section 3 end  -->
    
    <!-- section 3 and 3.2 -->
    <h3 class="title">
        3.IDENTIFICAÇÃO DOS BENEFICIÁRIOS EM CASO DE MORTE
    </h3>
    <h3 class="indent-2 title">
        3.2 Conta Colaborador
    </h3>
    <table class="table indent-1 table-bordered table-grey">
        <thead>
            <tr>
                <th class="text-center table-cell-nomo">
                    <h3>
                        Nome Completo
                    </h3>
                </th>
                <th class="text-center">
                    % de atribuição do valor acumulado*
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <$client.env.FormField.a21_nome_completo.HTML>
                </td>
                <td>
                    <$client.env.FormField.a22_de_atribuicao_do_valor_acumulado.HTML>
                </td>
            </tr>
            <tr>
                <td>
                    <$client.env.FormField.a23_nome_completo.HTML>
                </td>
                <td>
                    <$client.env.FormField.a24_de_atribuicao_do_valor_acumulado.HTML>
                </td>
            </tr>
            <tr>
                <td>
                    <$client.env.FormField.a25_nome_completo.HTML>
                </td>
                <td>
                    <$client.env.FormField.a26_de_atribuicao_do_valor_acumulado.HTML>
                </td>
            </tr>
            <tr>
                <td>
                    <$client.env.FormField.a27_nome_completo.HTML>
                </td>
                <td>
                    <$client.env.FormField.a28_de_atribuicao_do_valor_acumulado.HTML>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="indent-1">
        * O somatório das percentagens deverá ser 100%.
    </p>
    <!-- section 3 and 3.2 end  -->
    
    <!-- section signature -->
    <div class="signature-container">
        <p>
            O Participante abaixo-assinado declara conhecer o Regulamento de Gestão do Fundo de Pensões que financia o Plano de Pensões assim como o Contrato de Adesão Coletiva ao mesmo Fundo.
        </p>
        <div class="col-50 vertical-top">
            <div class="form-date-row">
                <div class="col-45">
                    Data de Início / Alteração
                </div>
                <div class="col-55">
                    <$client.env.FormField.a29_data_de_inicio.HTML>
                </div>
            </div>
        </div>
        <div class="col-50 vertical-top">
            <div class="form-signature-row">
                <$client.env.FormField.a30_assinatura.HTML>
                <p class="text-center">
                    Assinatura do Participante
                </p>
            </div>
            <div class="form-signature-row">
                <$client.env.FormField.a31_assinatura_associado.HTML>
                <p class="text-center">
                    Assinatura do Associado/ GE Global
                </p>
            </div>
        </div>
    </div>
    <!-- section signature end  -->
    
    <!-- section footer -->
    <footer>
        <p>
            <strong>
                A EMPRESA /ASSOCIADO DEVERÁ IMPRIMIR DUAS CÓPIAS (PARA A ENTIDADE GESTORA E PARTICIPANTE) E ENVIAR UMA DAS CÓPIAS ASSINADAS PELO PARTICIPANTE   PARA A ENTIDADE GESTORA JUNTAMENTE COM UMA CÓPIA DO CARTÃO DO CIDADÃO OU DO BI E NIF.
            </strong>
        </p>
    </footer>
    <!-- section footer end  -->
    
    
</div>
