html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,footer,header,nav,section{display:block}
h1{font-size:2em;margin:0.67em 0}
figcaption,figure,main{display:block}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:inherit}
b,strong{font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
dfn{font-style:italic}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}
sup{top:-0.5em}
audio,video{display:inline-block}
audio:not([controls]){display:none;height:0}
img{border-style:none}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
button,html[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{display:inline-block;vertical-align:baseline}
textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details,menu{display:block}
summary{display:list-item}
canvas{display:inline-block}
template{display:none}[hidden]{display:none}
html{color:#222;font-size:1em;line-height:1.4}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}.browserupgrade{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}.indent-1{margin-left:1em}.indent-2{margin-left:2em}.indent-3{margin-left:3em}.text-center{text-align:center}.text-left{text-align:left}.text-right{text-align:right}.text-justify{text-align:justify}.center-block{margin-left:auto;margin-right:auto;display:block}.hide{display:none;visibility:hidden}.pull-left{float:left}.pull-right{float:right}.lead{font-weight:normal}.img-responsive{width:100%;max-width:100%}.table{border-collapse:collapse;width:100%;max-width:100%}.table td{text-align:justify;padding:2px;line-height:1.5em;vertical-align:top}
table.table-bordered,table.table-bordered th,table.table-bordered td{border:1px solid #000}.vertical-top{vertical-align:top}.vertical-middle{vertical-align:middle}.vertical-bottom{vertical-align:bottom}
textarea,input[type="text"]{width:100%;line-height:2em}
textarea{height:4.5em}
input[type="text"]{height:2em}.form-inline>*:not(script),.form-inline table tr{display:inline-block}.table-checkbox table.instr{border:none!important}.main{font-size:14px;font-family:Arial,Helvetica,sans-serif;margin:25px 25px 50px 25px}
table.cal_and_button td{padding:0px!important;border:0px solid #333}
table.cal_and_button{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*display:inline;margin:0px 0px}
table.cal_and_button.hasDatepicker,table.cal_and_button.calendar_button{display:inline-block}
table.cal_and_button.hasDatepicker{width:87%}
table.cal_and_button.calendar_button{width:10%}
#tablePopup{width:990px;margin:0 auto}
#modal,#modal2,#modal3,#modal4,#modal5{margin-left:243px!important}.col-5,.col-10,.col-15,.col-20,.col-25,.col-30,.col-35,.col-40,.col-45,.col-50,.col-55,.col-60,.col-65,.col-70,.col-75,.col-80,.col-85,.col-90,.col-95,.col-100{display:inline-block}.col-5{width:4.5%}.col-10{width:8.5%}.col-15{width:13.5%}.col-20{width:18.5%}.col-25{width:23.5%}.col-30{width:28.5%}.col-35{width:33.5%}.col-40{width:38.5%}.col-45{width:43.5%}.col-50{width:48.5%}.col-55{width:53.5%}.col-60{width:58.5%}.col-65{width:63.5%}.col-70{width:68.5%}.col-75{width:73.5%}.col-80{width:78.5%}.col-85{width:83.5%}.col-90{width:88.5%}.col-95{width:93.5%}.col-100{width:100%}.hidden{display:none!important}.visuallyhidden{border:0;clip:rect(0 0 0 0);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;-webkit-clip-path:none;clip-path:none;height:auto;margin:0;overflow:visible;position:static;width:auto;white-space:inherit}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}
@media only screen and(min-width:35em){}
@media print,(-webkit-min-device-pixel-ratio:1.25),(min-resolution:1.25dppx),(min-resolution:120dpi){}
@media print{*,*:before,*:after,p:first-letter,div:first-letter,blockquote:first-letter,li:first-letter,p:first-line,div:first-line,blockquote:first-line,li:first-line{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href)")"}
abbr[title]:after{content:" (" attr(title)")"}
a[href^="#"]:after,a[href^="javascript:"]:after{content:""}
pre{white-space:pre-wrap!important}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
tr,img{page-break-inside:avoid}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}}.main{font-size:12px}.red-bg{background:#993300;padding:1px;color:#ffffff}.title-bar{border-bottom:2px #808080 solid}
header>*{vertical-align:middle}.container-inner{margin:0 1em}
section{border:2px solid #c0c0c0;margin-bottom:5px;background:#f2f2f2}.wrapper-inner{padding:5px 0}.brand-title{color:#696969;font-size:2em;vertical-align:middle}.form-title{color:#333;font-size:1.6em}.red-bg h3{color:#ffffff}.main small.small{font-size:70%;line-height:0.5em}.signature-date{max-width:170px;margin-bottom:3em}.signature-actual{max-width:190px}.signature-actual,.terms{color:#808080}
input[type="text"]{border:none;background:#fafafa;transition:0.3s}
input[type="text"]:hover{border:#606060;background:#fff}.form-retro-label-grey,.form-retro-label-end-light,.form-retro-label-middle,.form-retro-label-middle-dark,.form-retro-label-middle-light,.form-retro-input-dark,.form-retro-input-light,.form-retro-label-light,.form-retro-label-dark{min-height:28px}.form-retro-input-dark{box-shadow:-2px-2px 0 0 #808080;min-height:24px}.form-retro-input-light{border-bottom:2px solid #fff}.form-retro-label-light{box-shadow:0-2px 0 0 #fff}.form-retro-label-dark{box-shadow:0 2px 0 0 #808080}.form-retro-label-end-light{box-shadow:-2px-2px 0 0 #fff}.form-retro-label-middle{box-shadow:-2px-2px 0 0 #fff}.form-retro-label-middle-light,.form-retro-label-middle-dark{box-shadow:0 2px 0 0 #c0c0c0}.form-retro-label-middle-dark{background:#dfdfdf}.form-retro-label-grey{box-shadow:-2px-2px 0 0 #c0c0c0}
