<div class="container-fluid main">
    <div class="hidden-xs hidden-sm" style="width: 900px;">&nbsp;</div>
    <header class="row">
        <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
            <img src="assets/img/energizer_holdings_logo.jpg" alt="" class="img-responsive">
        </div>
    </header>
    <h2 class="text-center">Medical Enrollment</h2>
    <ol class="medical-checklist">
        <li>
            Is
            <div class="col-40">
                <$client.env.FormField.a01_name.HTML>
            </div>
            entitled to join the Medical plan?
            <div class="col-md-12 col-lg-12" data-radio="medical-plan">
                <$client.env.FormField.a02_Entitled_to_Join_Energizers_Medical_Plan.HTML>
            </div>
        </li>
        <li id="medical-plan-join" class="hide">
            Do you want to join Energizer’s Medical Plan?
            <div class="col-md-12 col-lg-12" data-radio="medical-plan-join">
                <$client.env.FormField.a03_Want_to_Join_Medical_Plan.HTML>
            </div>
        </li>
        <li id="medical-plan-already" class="hide">
            Do you already have a medical plan?
            <div class="col-md-12 col-lg-12" data-radio="medical-plan-already">
                <$client.env.FormField.a04_Have_Medical_Plan.HTML>
            </div>
        </li>
        <li id="medical-proof" class="hide">
            Please upload proof of your current coverage here (link to employee upload page).
        </li>
        <li id="discovery-plan" class="hide">
            Is your current plan with Discovery?
            <div class="col-md-12 col-lg-12" data-radio="discovery-plan">
                <$client.env.FormField.a05_Current_Plan_width_Discovery.HTML>
            </div>
        </li>
    </ol>
    <p class="indent-4 hide" id="discovery-enrollment">
        Please print a copy of the Discovery Enrollment form and bring it with you on your first day of employment. Link to form. You will also need to provide a copy of your marriage certificate if you’re adding a spouse to coverage.
    </p>
    <p class="indent-4 hide" id="discovery-transfer">
        Please print a copy of the Discovery Transfer form and bring it with you on your first day of employment. Link to form
    </p>
    <br><hr class="lifesuite__hr"> 
  <div class="row" id="formButtons" style="display: none;"> 
      <div class="lifesuite__clearfix lifesuite__float-right">                
              <$client.env.FormButtons> 
       </div>              
  </div>
</div>
