<div class="main">
    <h2 class="text-center"><u>WILMERHALE FITNESS CENTER USAGE AGREEMENT</u></h2>
    <p>I hereby agree that in exchange for my access to and use of the WilmerHale Fitness Center located at 7 World Trade Center, 43rd floor, (“Fitness Center”), I will comply with the following terms:</p>
    <ol class="indent-2">
        <li>
            At all times when using the Fitness Center, I will be in good physical condition sufficient to use the Fitness Center and to participate in the exercise and fitness activities available therein without endangering myself or others. I understand that my right to use the Fitness Center does not include any personal training or group fitness classes. I agree not to use the Fitness Center if I am not in sufficient physical condition. I agree to learn how to use the installed equipment safely. and to discontinue use of the Fitness Center until I have consulted my physician should I experience any pain, dizziness, or other adverse conditions during my use of the Fitness Center.
        </li>
        <li>
            I will not invite or encourage the use of the Fitness Center by any person other than another WilmerHale employee or person who has been authorized to use the Fitness Center by WilmerHale management.
        </li>
        <li>
            I acknowledge that it is my own responsibility to decide when and how to use the Fitness Center, to exercise caution and my own judgment when I am using the Fitness Center, and to forego using the Fitness Center in appropriate circumstances.
        </li>
        <li>
            I understand that I use the Fitness Center at my own risk and that there is a possibility of physical injury or death arising out of the use of the Fitness Center and the equipment therein. I, for myself, my heirs and representatives, hereby release, discharge and hold harmless Wilmer Cutler Pickering Hale and Dorr LLP and their agents and their respective successors, assigns and heirs from any and all liability, damage, expense, cause of action, suit, claim, judgment and cost of defense (including reasonable attorneys’ fees) arising from any injury or illness or other harm to me, theft of my property and any other loss or damage occurring in the Fitness Center or locker rooms or resulting from the use thereof.
        </li>
        <li>
            I will observe and follow the rules and regulations governing the use of the Fitness Center attached hereto and incorporated herein by reference, including all warning signs and equipment instructions posted in the Fitness Center.
        </li>
    </ol>
    
    <section>
        <div class="col-40 vertical-middle">
            <$client.env.FormField.a01_name.HTML>
            <strong>Print Name</strong>
        </div>
        <div class="col-40 vertical-middle">
            <$client.env.FormField.a02_signature.HTML>
           <strong>Signature</strong> 
        </div>
        <div class="col-20 vertical-middle">
            <div class="col-100">
                <$client.env.FormField.a03_date.HTML>
            </div>
           <strong>Date</strong> 
        </div>
    </section>

    <section>
        Emergency Contact Information:
        <div class="indent-2">
            Name 
            <div class="col-40 vertical-middle">
                <$client.env.FormField.a04_emergency_Name.HTML>
            </div>
            <div class="col-20 text-right vertical-middle">
                Phone Number
            </div>
            <div class="col-30 vertical-middle">
                <$client.env.FormField.a05_PhoneNumber.HTML>
            </div>
        </div>
    </section>

    <section class="text-center return-section">
        <h3>
            <u>Please return completed form to the Facilities Department on the 42<sup>nd</sup> Floor</u>
        </h3>
    </section>

    <h2 class="text-center"><u>WilmerHale Fitness Center Rules and Regulations</u></h2>

    <ol class="indent-2">
        <li>
            The WilmerHale Fitness Center is for WilmerHale personnel and authorized persons. Users must sign a Usage Agreement before using the Fitness Center.
        </li>
        <li>
            Contracted Flik and Merrill employees may use the Fitness Center upon signing a Usage Agreement.
        </li>
        <li>
            Please be courteous to the others using the Fitness Center. Note: There are Attorneys and Staff sitting directly outside of the Fitness Center, so noise should be kept to a minimum. Management may suspend participation at any time deemed appropriate.
        </li>
        <li>
            The Fitness Center is open 24 hours a day, seven days a week. This Fitness Center is not staffed. For safety purposes, follow the instructions and warnings on each piece of equipment prior to use. Do not attempt to use a piece of equipment until you know how to use it. Contact Facilities at x6350 for instructional assistance.
        </li>
        <li>
            Except for bottled water or other beverages in sealed containers, no food or drink is allowed in the Fitness Center. Please wear appropriate work-out attire, including athletic shoes, at all times while in the Fitness Center. Please be considerate of others waiting to use equipment in the Fitness Center and limit time on cardio equipment to 30 minutes during peak hours.
        </li>
        <li>
            Please return dumbbells and weights to their respective storage racks when not in use and keep them in order by weight. Return all other equipment, including stretching mats, group fitness equipment, medicine or stretching balls, towels, and other equipment to their proper storage areas.
        </li>
        <li>
            Please wipe down equipment after use.
        </li>
        <li>
            Lockers may not be reserved or used for overnight storage of gym bags or other personal belongings. Lockers are only to be used while using the Fitness Center, and must be emptied upon departure of the Fitness Center.
        </li>
        <li>
            Please keep the locker rooms neat and tidy at all times. Do not leave towels or articles of clothing hanging in the shower room. Firm provided towels should be placed in the laundry baskets after use. All personal items should be stored in a locker when using the Fitness Center. Do not remove towels from Fitness Center.
        </li>
        <li>
            Report all machine malfunctions to Facilities Department x6350.
        </li>
        <li>
            Report all accidents to Human Resources x6465.
        </li>
    </ol>

    <p>
        These rules and regulations are subject to change at the discretion of WilmerHale Management.
    </p>
    <h3 class="text-center">
        <u>Please return completed form to the Facilities Department on the 42<sup>nd</sup> Floor</u>
    </h3>
</div>
