<div class="main">
    <header class="clearfix">
        <div class="col-50">
            <div class="col-20 vertical-top">
                <img src="/assets/img/principal_logo.jpg" alt="principal" class="img-responsive" />
            </div>
            <div class="col-60 indent-1">
                <h4 class="text-blue sans">
                    Principal Life Insurance Company
                </h4>
                <h5 class="text-blue sans">
                    Des Moines, IA 50306-9394
                </h5>
            </div>
        </div>
        <div class="col-50 pull-right text-right">
            <div class="pull-right">
                <div class="form-stub">
                    <strong>
                        Beneficiary Form
                    </strong>
                </div>
                <strong class="text-blue">
                    Retirement Plan Beneficiary Designation
                </strong>
            </div>
        </div>
    </header>
    <section class="clearfix section-bar">
        <div class="col-35">
            <p>
                <small class="text-blue">
                    You may designate your beneficiary either online at principal.com or by completing the below form. Follow these steps to name your beneficiary(ies): 1) Complete the Personal Information section. 2) Select one of the beneficiary choices (Choice A, Choice B or Choice C). See Page 3 for more detailed instructions and examples. 3) Name your beneficiary(ies) on Page 2. 4) Sign the form at the bottom of Page 2. 5) Return the benefi ciary form to the Principal Financial Group by fax: 1.866.704.3481, or by mail: Principal Financial Group, P.O. Box 9394, Des Moines, IA 50306-9394.
                </small>
            </p>
        </div>
        <div class="col-30 pull-right vertical-top">
            <div class="pull-right">
                <div class="vspace">
                    <div class="col-60 vertical-middle text-blue">
                        <label class="label-11">
                            Contract/Plan ID Number
                        </label>
                    </div>
                    <div class="col-40">
                        <input type="text">
                    </div>
                </div>
                <div class="vspace">
                    <div class="col-40 vertical-middle label-11 text-blue">
                        <label class="labe-11">
                            Location Number
                        </label>
                    </div>
                    <div class="col-60">
                        <input type="text">
                    </div>
                    <div class="text-right">
                        <small class="text-blue">
                            CTD01304
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bar section-middle">
        <h1 class="sans">
            <span class="text-blue"> Personal Information </span>
            <small> (please print with black ink) </small>
        </h1>
        <div class="vspace clearfix">
            <div class="col-30">
                Name <em>(Last)</em>
                <input type="text">
            </div>
            <div class="col-30">
                <em>(First)</em>
                <input type="text">
            </div>
            <div class="col-10">
                <em>(MI)</em>
                <input type="text">
            </div>
            <div class="col-30 pull-right">
                Phone Number
                <input type="text">
            </div>
        </div>
        <div class="vspace clearfix">
            <div class="col-70">
                Address
                <input type="text">
            </div>
            <div class="col-30 pull-right">
                Email Address
                <input type="text">
            </div>
        </div>
        <div class="vspace clearfix">
            <div class="col-30">
                City
                <input type="text">
            </div>
            <div class="col-30">
                State
                <input type="text">
            </div>
            <div class="col-10">
                ZIP
                <input type="text">
            </div>
            <div class="col-30 pull-right">
                Social Security Number
                <input type="text">
            </div>
        </div>
    </section>

    <section class="section-middle">
        <h1 class="sans text-blue">
            My Beneﬁciary Choices <small><em>(pick one)</em></small>
        </h1>
        <div class="vspace table-checkbox">
            <label>
                <table>
                    <tbody>
                        <tr>
                            <td class="instr"><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
                <span class="text-maize">
                    Choice A: Single Participant
                </span>
                <em class="text-blue">(includes widowed, divorced or legally separated)</em>
            </label><br>
            I am not married and designate the individual(s) named on Page 2 of this form to receive death benefits from the plan. I understand if I marry, this designation is void one year after my marriage (some plans specify a shorter period.) 
        </div>
        <div class="vspace table-checkbox">
            <label>
                <table>
                    <tbody>
                        <tr>
                            <td class="instr"><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
                <span class="text-maize">
                    Choice B: Married with Spouse as Sole Beneficiary
                </span>
                <em class="text-blue">(spouse’s signature is not required)</em>
            </label><br>
             I am married and designate my spouse named on Page 2 of this form to receive all death benefits from the plan/contract.
        </div>
        <div class="vspace table-checkbox">
            <label>
                <table>
                    <tbody>
                        <tr>
                            <td class="instr"><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
                <span class="text-maize">
                    Choice C: Married with Spouse Not as Sole Primary Beneficiary
                </span>
                <em class="text-blue">[Spouse’s signature REQUIRED — review the Qualiﬁ ed Preretirement Survivor Annuity (QPSA) consent at the end of this form.]</em>
            </label><br>
            <p>
                I am married and designate the individual(s) named on Page 2 of this form to receive death benefits in accordance with the plan provisions. Note: If you are married and do not name your spouse as the sole primary beneficiary, your spouse must sign the consent below. The signature must be witnessed by a plan representative or notary public. If you are younger than age 35, your spouse must again consent to this in writing at the start of the plan year in which you reach age 35 for this designation to remain effect.
            </p>
            <p>
                Notice to spouse: In signing, you are also verifying that you have read the QPSA notice and consent on the last page of this form.
            </p>
        </div>
        <div class="vspace table-checkbox">
            <label>
                <table>
                    <tbody>
                        <tr>
                            <td class="instr"><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
                By checking this box, I agree only to the beneficiary designation on this form. My spouse cannot change the beneficiary without my consent.
            </label>
        </div>
        <div class="vspace clearfix">
            <div class="col-80">
                <strong class="col-100">
                    <em>Spouse’s Signature (must be witnessed by a plan representative or notary public)</em>
                </strong>
                <span class="text-maize">
                    X
                </span>
                <div class="col-95">
                    <input type="text">
                </div>
            </div>
            <div class="col-20">
                Date
                <input type="text">
            </div>
        </div>
        <div class="vspace">
            <div class="col-80 vertical-bottom">
                <div class="col-50">
                    <div class="col-90">    
                        <strong><em>The spouse appeared before me and signed the consent on:</em></strong>
                        <input type="text">
                    </div>
                </div>
                <div class="col-50 clearfix">
                    <div class="col-90">
                    <strong> <em> Plan Representative or Notary Public Signature </em>
                    </strong><br>
                    <span class="text-maize">X</span>
                    <div class="col-95">
                       <input type="text"> 
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-20">
                <strong><em>Date</em></strong> 
                <input type="text">
            </div>
        </div>
        <div class="vspace table-checkbox">
            <label>
                <table>
                    <tbody>
                        <tr>
                            <td class="instr"><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
                (Check if applicable)
            </label>
            I certify that my spouse cannot be located to sign this consent. I will notify the plan sponsor if my spouse is located. <strong>Note: If your spouse cannot be located, check this box and have it witnessed by the plan representative. It must be established to the satisfaction of the plan representative that your spouse cannot be located.</strong>
        </div>
        <div class="vspace">
            <div class="col-70">
                I certify that spousal consent cannot be obtained because the spouse cannot be located.
                <div class="col-100">
                    <strong><em>Plan Representative Signature</em></strong>
                    <input type="text">
                </div>
            </div>
            <div class="col-30">
                <strong><em>Date</em></strong>
                <div class="col-100">
                    <input type="text">
                </div>
            </div>
        </div>
    </section>

    <span class="form-stub">
        <strong>
            Beneficiary Form
        </strong>
    </span>
    <section class="section-middle vspace section-bar">
        <div class="col-30 pull-right">
            <div class="col-60 label-11 text-blue">
                Contract/Plan ID Number
            </div>
            <div class="col-40">
                <input type="text">
            </div>
        </div>
        <div class="section-inner">
            <h1 class="text-blue sans">
                Naming My Beneficiary(ies)
            </h1>
            <p class="vspace">
                Before completing, please read the instructions, examples and Qualified Preretirement Survivor Annuity notice on this form. You may name one or more primary and/or contingent beneficiaries. If you need more space to name beneficiaries or name a Trust, Testamentary Trust, or minor children (custodian for minors), please attach a separate list that you have signed and dated. Note: Unless otherwise provided, if two or more beneficiaries are named, the proceeds shall be paid to the named beneficiaries, or to the survivor or survivors, in equal shares.
            </p>
            <div class="vspace">
                <div class="col-25">
                    <strong>Name</strong>
                    <em>[primary beneficiary(ies)]</em>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>Date of Birth</strong>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>Relationship</strong>
                    <input type="text">
                </div>
                <div class="col-25">
                    <strong>Social Security Number</strong>
                    <input type="text">
                </div>
                <div class="col-10">
                    <strong>Percent</strong>
                    <input type="text">
                </div>
            </div>
            <div class="vspace section-inner-dotted">
                <div class="col-50">
                    <strong>Address</strong>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>City</strong>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>State</strong>
                    <input type="text">
                </div>
                <div class="col-10">
                    <strong>ZIP</strong>
                    <input type="text">
                </div>
            </div>
            <div class="vspace">
                <div class="col-25">
                    <strong>Name</strong>
                    <em>[primary beneficiary(ies)]</em>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>Date of Birth</strong>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>Relationship</strong>
                    <input type="text">
                </div>
                <div class="col-25">
                    <strong>Social Security Number</strong>
                    <input type="text">
                </div>
                <div class="col-10">
                    <strong>Percent</strong>
                    <input type="text">
                </div>
            </div>
            <div class="vspace">
                <div class="col-50">
                    <strong>Address</strong>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>City</strong>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>State</strong>
                    <input type="text">
                </div>
                <div class="col-10">
                    <strong>ZIP</strong>
                    <input type="text">
                </div>
            </div>
        </div>
        <h4 class="text-maize">
            If primary beneficiary(ies) is not living, pay death benefits to:
        </h4>
        <p class="vspace">
            In most circumstances, your contingent beneficiary(ies) will only receive a death benefit if the primary beneficiary predeceases you and the death benefit has not been paid in full.
        </p>
        <div class="vspace">
            <div class="vspace">
                <div class="col-25">
                    <strong>Name</strong>
                    <em>[contingent beneficiary(ies)]</em>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>Date of Birth</strong>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>Relationship</strong>
                    <input type="text">
                </div>
                <div class="col-25">
                    <strong>Social Security Number</strong>
                    <input type="text">
                </div>
                <div class="col-10">
                    <strong>Percent</strong>
                    <input type="text">
                </div>
            </div>
            <div class="vspace section-inner-dotted">
                <div class="col-50">
                    <strong>Address</strong>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>City</strong>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>State</strong>
                    <input type="text">
                </div>
                <div class="col-10">
                    <strong>ZIP</strong>
                    <input type="text">
                </div>
            </div>
            <div class="vspace">
                <div class="col-25">
                    <strong>Name</strong>
                    <em>[contingent beneficiary(ies)]</em>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>Date of Birth</strong>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>Relationship</strong>
                    <input type="text">
                </div>
                <div class="col-25">
                    <strong>Social Security Number</strong>
                    <input type="text">
                </div>
                <div class="col-10">
                    <strong>Percent</strong>
                    <input type="text">
                </div>
            </div>
            <div class="vspace">
                <div class="col-50">
                    <strong>Address</strong>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>City</strong>
                    <input type="text">
                </div>
                <div class="col-20">
                    <strong>State</strong>
                    <input type="text">
                </div>
                <div class="col-10">
                    <strong>ZIP</strong>
                    <input type="text">
                </div>
            </div>
        </div>
    </section>
    <section class="section-middle section-bar">
        <h1 class="text-blue sans">
            Name Change
        </h1>
        <div class="vspace">
            <div class="col-40">
                Change my name from:
                <input type="text">
            </div>
            <div class="col-40">
                Change my name to:
                <input type="text">
            </div>
            <div class="col-20">
                Date
                <div class="col-100">
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="vspace">
            <div class="col-20">
                Reason:
                <span class="text-right table-checkbox">
                    <table>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                            </tr>
                        </tbody>
                    </table>
                    Married
                </span>
            </div>
            <div class="col-20">
                <span class="text-right table-checkbox">
                    <table>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                            </tr>
                        </tbody>
                    </table>
                    Divorce - must attach divorce decree
                </span>
            </div>
            <div class="col-20"></div>
            <div class="col-20"></div>
            <div class="col-20"></div>
        </div>
    </section>
</div>
