<table class="tablemain" width="100%">
    <tr>
        <td>
            <table class="tableinner" width="100%">
                <tr>
                    <td colspan="2" align="center" class="td_title">
                  <strong>ACH CREDIT AUTHORIZATION FORM</strong></td>
              </tr>
                <tr>
                  <td colspan="2" class="td_title">&nbsp;</td>
              </tr>
                <tr>
                  <td colspan="2" class="td1" style="text-align:justify">I/We hereby authorize <u><strong>Origin Bank</strong></u> to initiate <strong>credit</strong> entries to my/our checking/savings account at the Financial Institution indicated below, and initiate adjustments (if necessary) for any transactions credited in error. I/We acknowledge that the origination of ACH transactions to my/our account must comply with the provisions of U. S. law. This authorization is to remain in full force and effect until <u><strong>Origin Bank</strong></u> has received written notification of its termination in such time and in such manner as to afford <u><strong>Origin Bank</strong></u> a reasonable opportunity to act on it.</td>
              </tr>
                <tr>
                  <td colspan="2" class="td1" style="text-align:justify">&nbsp;</td>
              </tr>
                <tr>
                  <td colspan="2" align="center" class="td1"><strong>***Attach a voided check for verification of all financial institution information***</strong></td>
              </tr>
                <tr>
                  <td colspan="2" class="td1">&nbsp;</td>
              </tr>
                <tr>
                  <td width="30%" class="td1" style="padding-left:80px;">Financial Institution Name</td>
                  <td width="70%" class="td1"><$client.env.FormField.a1_FinancialInstitutionName.HTML></td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">&nbsp;</td>
                  <td class="td1">&nbsp;</td>
              </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="tableinner" width="100%">
                <tr>
                  <td colspan="3" class="td1" style="padding-left:80px;">Location of Financial Institution</td>
              </tr>
                <tr>
                  <td width="50%" class="td1" style="padding-left:80px;">&nbsp;</td>
                  <td colspan="2" class="td1" style="padding-left:80px;">&nbsp;</td>
              </tr>
                <tr>
                  <td align="center" class="td1" style="padding-left:80px;"><$client.env.FormField.a2_City.HTML></td>
                  <td width="20%" align="center" class="td1"><$client.env.FormField.a3_State.HTML></td>
                  <td width="30%" class="td1">&nbsp;</td>
              </tr>
                <tr>
                  <td align="center" class="td1" style="padding-left:80px;">City</td>
                  <td align="center" class="td1">State</td>
                  <td class="td1">&nbsp;</td>
              </tr>
                <tr>
                  <td align="center" class="td1" style="padding-left:80px;">&nbsp;</td>
                  <td align="center" class="td1">&nbsp;</td>
                  <td class="td1">&nbsp;</td>
              </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="tableinner" width="100%">
                <tr>
                  <td width="35%" class="td1" style="padding-left:80px;">Routing Number (Bank Number)</td>
                  <td width="65%" class="td1"><$client.env.FormField.a4_RoutingNumber.HTML></td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">&nbsp;</td>
                  <td class="td1">&nbsp;</td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">Checking Account Number </td>
                  <td class="td1"><$client.env.FormField.a5_CheckingAccountNumber.HTML></td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;"><span class="td1" style="padding-left:20px;">OR</span></td>
                  <td class="td1">&nbsp;</td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">&nbsp;</td>
                  <td class="td1">&nbsp;</td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">Savings Account Number</td>
                  <td class="td1"><$client.env.FormField.a6_SavingsAccountNumber.HTML></td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">&nbsp;</td>
                  <td class="td1">&nbsp;</td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">&nbsp;</td>
                  <td class="td1">&nbsp;</td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">Customer(s) Name(s)</td>
                  <td class="td1"><$client.env.FormField.b1_OwnersName.HTML></td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">&nbsp;</td>
                  <td class="td1">&nbsp;</td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">&nbsp;</td>
                  <td class="td1"><$client.env.FormField.b2_OwnersName.HTML></td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">&nbsp;</td>
                  <td class="td1">&nbsp;</td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">Date</td>
                  <td class="td1"><$client.env.FormField.b3_Date.HTML></td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">&nbsp;</td>
                  <td class="td1">&nbsp;</td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">Signature(s)</td>
                  <td class="td1"><$client.env.FormField.b4_Signature.HTML></td>
              </tr>
                <tr>
                  <td class="td1" style="padding-left:80px;">&nbsp;</td>
                  <td class="td1"><$client.env.FormField.b5_Signature.HTML></td>
              </tr>
            </table>
        </td>
    </tr>
</table>
