<main>
    <h2 class="text-center">
       <u>ADMISSION OF RESPONSIBILITIES BY TERMINATING EMPLOYEE</u> 
    </h2>
    <section>
        <div class="col-20 vertical-top">
            Name of Employee
        </div>
        <div class="col-35 vertical-top">
            <input type="text">
            <div class="text-center">
                (Print)
            </div>
        </div>
        <div class="col-20 text-right vertical-top">
            Termination Date
        </div>
        <div class="col-20 vertical-top">
            <input type="text">
        </div>
    </section>
    <section>
        I have been reminded of the following obligations:
        <ol class="indent-2">
            <li>
                My obligation, which continues after termination of employment, not to publish, disclose, use or authorize anyone to publish, disclose or use without written authorization by CDI any private, confidential, or proprietary information that I may have in any way acquired, learned, developed, or created by reason of my employment.
            </li>
            <li>
                My obligation upon termination of employment to return all CDI property and all CDI documents.
            </li>
            <li>
                My obligation after termination of employment not to use or disclose without authorization any computer or network access code or password belonging to CDI or made available to me by virtue of my employment, and not to access any computer, network, or data base in the possession or control of CDI.
            </li>
        </ol>
    </section>

    <section>
        “Private, confidential, or proprietary information” means information which is owned or controlled by CDI and has not been publicly released or has not otherwise become common knowledge. This includes information of third parties in the possession of CDI that CDI is obligated to maintain in confidence. Examples of such information include:
        <ol class="indent-2">
            <li>
                Discoveries, inventions, and developments, including knowledge of unsuccessful approaches;
            </li>
            <li>
                Scientific/engineering information, e.g., materials, processes, designs of apparatus and equipment, engineering aids, installation manuals, and computer software, and architecture. “Software” means any nontrivial, executable computer program routine, whether in source or object code;
            </li>
            <li>
                Technical management information, e.g., proposals;
            </li>
            <li>
                Financial information, e.g., service cost data, revenue, and profit margins;
            </li>
            <li>
                Business and marketing information relating to legal and regulatory matters, e.g., proposals, financial data, upcoming new ventures or acquisitions, customer information, including billing information;
            </li>
            <li>
                Personnel information, e.g., salaries, job assignments, and skills.
            </li>
        </ol>
        As per my Employment Relationship Agreement, for a period of 3 months following separation from CDI:
        <ol class="indent-2">
            <li>
                Any individual, business or entity that became a customer of ours as a result of your efforts individually or jointly; and
            </li>
            <li>
                Any individual, business or entity whom you serviced while you were employee by us; or
            </li>
            <li>
                Any individual, business or entity whom you solicited, or participated in soliciting, during the last twelve months that you were employed with us.
            </li>
        </ol>
        I’ve included a copy of our signed Employment Relationship Agreement for your review. <br>
        CDI takes post compliance with post-employment obligations very seriously. <br>
        Such information does not include the employee’s general knowledge, skill, and experience.
    </section>

    <section>
        Proprietary information may be in intangible form such as unrecorded knowledge, ideas, or concepts, or may be embodied in tangible form such as a document. The term “Document” includes written memoranda, drawings, training materials, specifications, notebook entries, photographs, graphic representation, firmware, computer information or software, or models.
    </section>

    <section>
        <div class="col-25">
            SIGNATURE OF EMPLOYEE
        </div>
        <div class="col-40">
            <input type="text"> 
        </div>
        <div class="col-10 text-right">
            DATE
        </div>
        <div class="col-25">
            <input type="text">
        </div>
    </section>

</main>
