<div class="container-fluid main">
    <h3 class="text-center form-title">
        <strong>
            ARKANSAS DEPARTMENT OF HUMAN SERVICES <br class="hidden-xs hidden-sm">
            AUTHORIZATION FOR ADULT MALTREATMENT CENTRAL REGISTRY
        </strong>
    </h3>
    <div class="row text-center">
        Print all information in ink
    </div>
    <div class="box">
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                Name
                <input type="text" class="lifesuite__text-input ng-invalid">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                Date of Birth
                <input type="text" class="lifesuite__text-input ng-invalid">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                Maiden and/or Any Names Formerly Used
                <input type="text" class="lifesuite__text-input ng-invalid">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                Social Security Number
                <input type="text" class="lifesuite__text-input ng-invalid">
            </div>
        </div>
        <div class="border-bottom">
            Current Address (Street, City, State, Zip)
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right hidden-xs">
                List all previous addresses for the past five years
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right hidden-xs">
                Dates (From/To)
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                List all previous addresses for the past five years
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                Dates (From/To)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                List all previous addresses for the past five years
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                Dates (From/To)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                List all previous addresses for the past five years
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                Dates (From/To)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                List all previous addresses for the past five years
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm border-bottom border-top">
                Dates (From/To)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>        
    </div>
    <section>
    <p>
        I authorize Department of Human Services/Adult Protective Services to release information from the Adult Maltreatment Central Registry in accordance with Arkansas Code [ACA 12-12-1717] to:
    </p>
    </section>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="text-center">
                Name
            </div>
            <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
            <div class="text-center">
                Mailing Address (Street or PO Box,City, State, Zip)
            </div>
            <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="text-center">
                Agency type:
            </div>
            <input type="radio">
            <label for="">Volunteer (no charge)</label>
        </div>
    </div>
    <p>
        I further certify that the information provided on this form is true and correct.
    </p>
    <div class="row vspace">
        <div class="col-lg-1 col-md-1 col-sm-6 col xs-12">
            Signature
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 col xs-12">
            <input type="text" class="lifesuite__text-input">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-6 col xs-12">
            Date
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col xs-12">
            <input type="text" class="lifesuite__text-input">
        </div>
    </div>
    <div class="notarization-block">
        Notarization Required
        <div class="row vspace">
            <div class="col-10">
                COUNTY OF
            </div>
            <div class="col-30">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-40">
                STATE OF ARKANSAS
            </div>
        </div>
        <div class="row vspace">
            <div class="col-20">
                Acknowledged before me this
            </div>
            <div class="col-10">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-5">
                day of
            </div>
            <div class="col-10">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-5">
                , 20
            </div>
            <div class="col-10">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row vspace">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <input type="text" class="lifesuite__text-input">
                (Notary Public)
            </div>
            <div class="col-lg-offset-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <input type="text" class="lifesuite__text-input">
                (My Commission Expires)
            </div>
        </div>
        <div class="row">
            <div class="col-20">
                The above listed applicant was
            </div>
            <div class="col-15">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-10">
                /was not
            </div>
            <div class="col-15">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-35">
                found in the Adult Maltreatment Central Registry.
            </div>
        </div>
        <div class="row">
            <div class="address-block center-block">
                Adult Protective Services – Slot W240 <br>
                Adult Maltreatment Central Registry <br>
                PO Box 1437 <br>
                Little Rock, AR 72203
            </div>
        </div>
    </div>
</div>
