<div class="main">
    <div class="vspace text-center">
        <div class="box col-50">
            PLEASE RETURN THE COMPLETED APPLICATION TO MICHELLE LEONARD (4075E) OR TRICIA BARNES (4090.6E) FOR ONLINE PROCESSING
        </div>
    </div>
    <div class="clearfix vspace">
        <div class="col-10 pull-right">
            <img src="/assets/img/amex_logo.gif" alt="American Express" class="img-responsive" />
        </div>
        GLOBAL<br>
        <strong>CORPORATE PAYMENTS</strong>
    </div>
    <div class="center-block grad-bg text-center vspace">
        <strong>
            AMERICAN EXPRESS<sup>&reg;</sup> CORPORATE CARD APPLICATION
        </strong>
    </div>
    <div class="vspace">
        <div class="col-20 vertical-top">
            <div class="sidebar">
                <p class="vspace-2">
                    <u>Employee:</u><br>
                    *Required fields must be completed or application cannot be processed.
                </p>
                <p class="vspace-2">
                    Please completeand send to Program Administrator listed on application.
                </p>
                <p class="vspace-2">
                    <u>Program Administrator:</u><br> 
                    'Required fields must be completed or application cannot be processed. All applications require a signature (name &amp; title of an authorized Company Representative or Program Administrator
                </p>
                <p class="vspace-2">
                    Please completeand send to:<br>
                    American Express P.O. Box 53800
                </p>
                <p class="vspace-2">
                    Phoenix, AZ 85072- 3800 Or Fax to: 623-492-3884
                </p>
            </div>
        </div>
        <div class="col-80 vertical-top">
            <span class="black-bg vspace">
                Application Information - Application cannot be processed without required information
            </span>
            <div class="vspace">
                <strong>
                    Name 
                </strong>
                as you would like it to appear on the Corporate Card 
                <em>
                    (20 characters maximum, including spaces - *Required)
                </em>
                <input type="text">
            </div>
            <div class="vspace">
                <u>
                    Billing Street Address
                </u>
                <em>
                    *Required (20 characters maximum, including spaces)
                </em>
                <input type="text">
            </div>
            <div class="vspace">
                <div class="col-60">
                    <u>
                        City
                    </u>
                    <em>
                        (17 characters maximum, including spaces)
                    </em>
                    <input type="text">
                </div>
                <div class="col-20">
                    <u>
                        State
                    </u>
                    <input type="text">
                </div>
                <div class="col-20">
                    <u>
                        Zip Code
                    </u>
                    <input type="text">
                </div>
            </div>
            <div class="vspace">
                <strong>
                    <u>
                        Home Street Address       
                    </u>
                </strong>
                <em>
                     *Required (if different than billing address)
                </em>
                <input type="text">
            </div>
            <div class="vspace">
                <div class="col-60">
                    <u>
                        City
                    </u>
                    <em>
                        (17 characters maximum, including spaces)
                    </em>
                    <input type="text">
                </div>
                <div class="col-20">
                    <u>
                        State
                    </u>
                    <input type="text">
                </div>
                <div class="col-20">
                    <u>
                        Zip Code
                    </u>
                    <input type="text">
                </div>
            </div>
            <div class="vspace">
                <div class="col-60">
                    <strong>
                        <u>E-mail Address</u>
                    </strong>
                    <em>(**Required)</em>
                    <input type="text">
                </div>
                <div class="col-40">
                    <strong>
                        <u>
                            Social Security Number
                        </u>
                    </strong>
                    <em>( *Required)</em>
                    <input type="text">
                </div>
            </div>
            <div class="vspace">
                <div class="col-60">
                    <strong>
                        <u>Business Phone Number</u>
                    </strong>
                    <em>(*Required)</em>
                    <input type="text">
                </div>
                <div class="col-40">
                    <strong>
                        <u>
                            Home/Personal Phone Number
                        </u>
                    </strong>
                    <em>( *Required)</em>
                    <input type="text">
                </div>
            </div>
            <div class="vspace">
                <div class="col-60">
                    <strong>
                        <u>Employee ID Number</u>
                    </strong>
                    <em>(10 characters maximum)</em>
                    <input type="text">
                </div>
                <div class="col-40">
                    <strong>
                        <u>
                            Cost Center Number
                        </u>
                    </strong>
                    <em>(10 characters max.)</em>
                    <input type="text">
                </div>
            </div>
            <div class="vspace">
                <div class="col-60">
                    <strong>
                        <u>Universal Number</u>
                    </strong>
                    <em>(25 characters maximum)</em>
                    <input type="text">
                </div>
                <div class="col-40">
                    <strong>
                        <u>
                            Date of Birth
                        </u>
                    </strong>
                    <em>(*Required ddlmm!yyyy)</em>
                    <input type="text">
                </div>
            </div>
            <div class="vspace">
                <strong>
                    <em>
                        Employee's Signature
                    </em>
                </strong>
                <em>
                    Please read the Agreement before signing. (*Required)
                </em><br>
                By signing above I indicate my acceptance of the terms and conditions of the Agreement.<br>
                <strong>X</strong>
                <div class="col-75">
                    <input type="text">
                </div>
                Date
                <div class="col-20">
                    <input type="text">
                </div>
            </div>
            <span class="black-bg vspace">
                Program Administrator - Application cannot be processed without required information
            </span>
            <div class="vspace">
                <strong>
                    <u>Basic Control Number</u>
                </strong>
                <em>(*Required - please fill out or application cannot be processed)</em>
                <input type="text">
            </div>
            <div class="vspace">
                <strong>
                    <u>Company Name</u>
                </strong>
                <em>(20 characters only, including spaces)</em>
                <input type="text">
            </div>
            <div class="vspace">
                <strong>
                    <u>Authorizing Signature</u>*
                </strong>
                <em>Please read the Agreement before signing.</em><br>
                I am authorized to complete this enrollment authorization on behalf of the company<br>
                <strong>X</strong>
                <div class="col-75">
                    <input type="text">
                </div>
                Date
                <div class="col-20">
                    <input type="text">
                </div>
            </div>
            <div class="vspace">
                <strong>
                    PRINT Authorizer's Name
                </strong>
                <input type="text">
            </div>
            <div class="vspace">
                <strong>
                    <u>Phone Number</u>
                </strong>
                <input type="text">
            </div>
            <div class="vspace">
                <div class="col-60">
                    <strong>
                        <u>PRINT Program Administrator Name</u>
                    </strong>
                    *May be previously filled out by PA
                    <input type="text">
                </div>
                <div class="col-40">
                    <strong>
                        <u>
                            PA Phone Number
                        </u>
                    </strong>
                    <input type="text">
                </div>
            </div>
            <p class="vspace">
                <strong>AGREEMENT:</strong>
                Company and the Applicant (a) request that a Corporate Card be issued to the Applicant on the Company’s account, (b) authorize the receipt and exchange of credit information on the Company and the Applicant. (c) agree to be bound by the Agreement sent with the Card and by the agreements covering Corporate Card related programs in which the Applicant is enrolled, and (d) agree that the Corporate Card will be used for business or commercial purposes only. The Applicant (a) authorizes American Express to notify the Company if this application is declined or if spending restrictions are applied to the Corporate Card, and (b) agrees to be liable for payment to American Express of all amounts charged to the Corporate Card. ** We may notify you about important account updates and services that may be suited to your needs. We will never share your email address. For information about how we protect our privacy, please visit americanexpress.com/privacy
            </p>
            <p class="vspace">
                <strong>IMPORTANT INFORMATION ABOUT OPENING A NEW AMERICAN EXPRESS CORPORATE CARD ACCOUNT:</strong>
                To help the United States Government fight terrorism and money laundering, Federal law requires us to obtain, verify, and record information that identifies each person that opens an account. What this means for you: when you open an account, we will ask for your name, a street address, date of birth, and an identification number, such as a Social Security number, that Federal law requires us to obtain. We may also ask to see your driver's license or other identifying documents that will allow us to identify you. We appreciate your cooperation.
            </p>
        </div>
    </div>

    <footer class="text-center">
        <div class="col-95">
            <img src="/assets/img/amex_footer.jpg" alt="" class="img-responsive">
        </div>
    </footer>
</div>
