<div id="task_summary_outer">
    <div id="bg-image">.</div>
    <div id="EditProfile_container">
        <div id="EditProfile_wrapper">
            <div id="EditProfile">
                <h2>Launch Onboarding Event</h2>
                <h4>This page simplifies the process of launching an onboarding event.</h4>
                <div class="heading">
                    <span class="heading-inner">
                        POSITION INFORMATION
                    </span>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="Business Card Title" data-fieldgroup-validation="required">
                    <span class="floating-label">Business Card Title</span>
                    <$client.env.inputBusiness_Title>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="System Title" data-fieldgroup-validation="required">
                    <span class="floating-label">System Title</span>
                    <$client.env.inputSystemTitle>
                </div>
                <div class="merge">
                    <div class="input_wrapper" data-fieldgroup-title="Salary Grade" data-fieldgroup-validation="required">
                        <span class="floating-label">Salary Grade</span>
                        <$client.env.inputSalaryGradeLvl>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="Employee Type" data-fieldgroup-validation="required">
                        <span class="floating-label">Employee Type</span>
                        <$client.env.inputEmployee_Group_CD>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper" data-fieldgroup-title="Exempt Status" data-fieldgroup-validation="required">
                        <span class="floating-label">Exempt Status</span>
                        <$client.env.inputExempt>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="Part or Full-Time" data-fieldgroup-validation="required">
                        <span class="floating-label">Part or Full-Time</span>
                        <$client.env.inputJobType>
                    </div>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="Entity Name" data-fieldgroup-validation="required">
                    <span class="floating-label">Entity Name</span>
                    <$client.env.inputEnityName>
                </div>
                <div class="input_wrapper mb-18" data-fieldgroup-title="Entity Address (Office Location)" data-fieldgroup-validation="required">
                    <span class="floating-label">Entity Address (Office Location)</span>
                    <$client.env.inputEntityAddress>
                </div>
                <div class="input_wrapper mb-30" data-fieldgroup-title="<$client.env.promptManager>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Manager_label">
                    <label id="Manager_label">
                        <strong>Is this employee in a position of trust (Manager or Supervisor)?</strong>
                    </label>
                    <$client.env.inputManager>
                </div>

                <div class="heading">
                    <span class="heading-inner">
                        COMPENSATION
                    </span>
                </div>
                <div class="merge">
                    <div class="input_wrapper" data-fieldgroup-title="Currency Code" data-fieldgroup-validation="required">
                        <span class="floating-label">Currency Code</span>
                        <$client.env.inputCurrency_Code_new>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="Annual Salary" data-fieldgroup-validation="required,regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                        <span class="floating-label">Annual Salary</span>
                        <$client.env.inputSalary_Amount>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper mb-0 hidden-xs"></div>
                    <div class="input_wrapper" data-fieldgroup-title="Monthly Pay Rate Amount" data-fieldgroup-validation="required,regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                        <span class="floating-label">Monthly Pay Rate Amount</span>
                        <$client.env.inputSalaryOffered>
                    </div>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="Annual Incentive Plan Percentage (AIP)" data-fieldgroup-maxlength="3" data-fieldgroup-validation="regex"  data-fieldgroup-regex="^[0-9]+$" data-fieldgroup-message="consisting of numbers only">
                    <span class="floating-label">Annual Incentive Plan Percentage (AIP)</span>
                    <$client.env.inputeIP_Target_Pct>
                </div>
                <div class="input_wrapper mb-30" data-fieldgroup-title="Restricted Stock Units (USD $ Amount)" data-fieldgroup-validation="regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                    <span class="floating-label">Restricted Stock Units (USD $ Amount)</span>
                    <$client.env.inputNEW_HIRE_REST_STOCK_UNITS>
                </div>

                <div class="heading">
                    <span class="heading-inner">
                        BONUS
                    </span>
                </div>
                <div class="input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptHire_on_Bonus_Eligible>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Hire_on_Bonus_Eligible_label">
                    <label id="Hire_on_Bonus_Eligible_label">
                        <strong>Is this employee eligible for a sign-on/hire-on bonus?</strong>
                    </label>
                    <$client.env.inputHire_on_Bonus_Eligible>
                </div>
                <div class="merge bonus-section">
                    <div class="input_wrapper" data-fieldgroup-title="Currency Code" data-fieldgroup-validation="required">
                        <span class="floating-label">Currency Code</span>
                        <select name="HIRE_ON_BONUS_CRNCY_CD_pseudo" id="HIRE_ON_BONUS_CRNCY_CD_pseudo">
                        </select>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="Bonus Amount" data-fieldgroup-validation="required,regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                        <span class="floating-label">Bonus Amount</span>
                        <$client.env.inputHIRE_ON_BONUS_AMOUNT>
                    </div>
                </div>
                <div class="merge mb-30 bonus-section">
                    <div class="input_wrapper mb-0 hidden-xs"></div>
                    <div class="input_wrapper" data-fieldgroup-title="Installment Amount" data-fieldgroup-validation="required,regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                        <span class="floating-label">Installment Amount</span>
                        <$client.env.inputInstallment_Amount>
                    </div>
                </div>
                <div class="input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptVariable_Bonus>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Variable_Bonus_label">
                    <label id="Variable_Bonus_label">
                        <strong>Is this employee eligible for a variable or incentive bonus?</strong>
                    </label>
                    <$client.env.inputVariable_Bonus>
                </div>
                <div class="variable-bonus-section merge">
                    <div class="input_wrapper" data-fieldgroup-title="Currency Code" data-fieldgroup-validation="required">
                        <span class="floating-label">Currency Code</span>
                        <select name="Comp_Currency_pseudo" id="Comp_Currency_pseudo"></select>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="Target Amount" data-fieldgroup-validation="required,regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                        <span class="floating-label">Target Amount</span>
                        <$client.env.inputComp_Target_Amount>
                    </div>
                </div>
                <div class="variable-bonus-section merge mb-30">
                    <div class="input_wrapper mb-0 hidden-xs"></div>
                    <div class="input_wrapper" data-fieldgroup-title="Target Percentage" data-fieldgroup-validation="required,regex"  data-fieldgroup-regex="^^\d(\d)?(\d)?$$" data-fieldgroup-message="valid 3 digit number.">
                        <span class="floating-label">Target Percentage</span>
                        <$client.env.inputCompensation_Target_Percentage>
                    </div>
                </div>

                <div class="heading">
                    <span class="heading-inner">
                        PROBATION
                    </span>
                </div>
                <div class="input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptProbationPeriodRequired>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#ProbationPeriodRequired_label">
                    <label id="ProbationPeriodRequired_label">
                        <strong>Is a probation period required for this employee?</strong>
                    </label>
                    <$client.env.inputProbationPeriodRequired>
                </div>
                <div id="probation-timeframe" class="hide">
                    <label id="ProbationPeriodTime_label">
                        <strong>If yes, select the probation period timeframe (in months).</strong>
                    </label>
                    <div class="input_wrapper mb-30" data-fieldgroup-title="Probation Period (Months)" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#ProbationPeriodTime_label">
                        <span class="floating-label">Probation Period (Months)</span>
                        <$client.env.inputProbationPeriodTime>
                    </div>
                </div>

                <div class="heading">
                    <span class="heading-inner">
                        RELOCATION
                    </span>
                </div>
                <div class="input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptRelocation>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Relocation_label">
                    <label id="Relocation_label">
                        <strong>Is this employee relocating for this role?</strong>
                    </label>
                    <$client.env.inputRelocation>
                </div>
                <div class="relocation-section merge equal">
                    <div class="input_wrapper" data-fieldgroup-title="From City (or State)" data-fieldgroup-validation="required">
                        <span class="floating-label">From City (or State)</span>
                        <input type="text" name="from-city-state" id="from-city-state">
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="From State (or Country)" data-fieldgroup-validation="required">
                        <span class="floating-label">From State (or Country)</span>
                        <$client.env.inputRelocationFromStateOrCountry>
                        <input type="text" name="from-state-country" id="from-state-country">
                    </div>
                </div>
                <div class="relocation-section merge equal mb-18">
                    <div class="input_wrapper" data-fieldgroup-title="To City (or State)" data-fieldgroup-validation="required">
                        <span class="floating-label">To City (or State)</span>
                        <input type="text" name="to-city-state" id="to-city-state">
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="To State (or Country)" data-fieldgroup-validation="required">
                        <span class="floating-label">To State (or Country)</span>
                        <input type="text" name="to-state-country" id="to-state-country">
                    </div>
                </div>
                <div class="relocation-section input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptRelo_Bonus>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Relo_Bonus_label">
                    <label id="Relo_Bonus_label">
                        <strong>Will this be a relocation bonus only? (one-time miscellaneous lump sum)</strong>
                    </label>
                    <$client.env.inputRelo_Bonus>
                </div>
                <div class="relocation-bonus-section merge">
                    <div class="input_wrapper" data-fieldgroup-title="Currency Code" data-fieldgroup-validation="required,regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                        <span class="floating-label">Currency Code</span>
                        <select name="ESTIMATED_RELO_COST_CRNCY_CD_pseudo" id="ESTIMATED_RELO_COST_CRNCY_CD_pseudo"></select>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="Relocation Bonus Amount" data-fieldgroup-validation="required,regex" data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                        <span class="floating-label">Relocation Bonus Amount</span>
                        <$client.env.inputESTIMATED_RELO_COST>
                    </div>
                </div>
                <div class="relocation-bonus-section merge">
                    <div class="input_wrapper mb-0"></div>
                    <div class="input_wrapper mb-30" data-fieldgroup-title="Additional Cash Bonus" data-fieldgroup-validation="required,regex" data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                        <span class="floating-label">Additional Cash Bonus</span>
                        <$client.env.inputCashBonus>
                    </div>
                </div>

                <div class="heading" data-location-group="CHN">
                    <span class="heading-inner">
                        CHINA-SPECIFIC SECTION
                    </span>
                </div>
                <div class="input_wrapper mb-13" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptAnnualOneMonthBonus>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#AnnualOneMonthBonus_label">
                    <label id="AnnualOneMonthBonus_label">
                        <strong>Is this employee eligible for an annual bonus (equals one-month salary)?</strong>
                    </label>
                    <$client.env.inputAnnualOneMonthBonus>
                </div>
                <div class="input_wrapper mb-13" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptLanguage_Allowance>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Language_Allowance_label">
                    <label id="Language_Allowance_label">
                        <strong>Does this employee qualify for a language allowance?</strong>
                    </label>
                    <$client.env.inputLanguage_Allowance>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptLanguage_Allowance_Amount>" data-fieldgroup-validation="regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                    <span class="floating-label"><$client.env.promptLanguage_Allowance_Amount></span>
                    <$client.env.inputLanguage_Allowance_Amount>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptNationality>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptNationality></span>
                    <$client.env.inputNationality>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_ID_Card_Number>">
                    <span class="floating-label"><$client.env.promptChina_ID_Card_Number></span>
                    <$client.env.inputChina_ID_Card_Number>
                </div>
                <div class="input_wrapper mb-30" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptPassport_Number_Foreigner>">
                    <span class="floating-label"><$client.env.promptPassport_Number_Foreigner></span>
                    <$client.env.inputPassport_Number_Foreigner>
                </div>

                <div class="heading" data-location-group="CHN">
                    <span class="heading-inner">
                        TRANSLATE TO CHINESE
                    </span>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Entity_Name>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Entity_Name></span>
                    <$client.env.inputChina_Entity_Name>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Entity_Address>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Entity_Address></span>
                    <$client.env.inputChina_Entity_Address>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Event_Location>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Event_Location></span>
                    <$client.env.inputChina_Event_Location>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Nationality>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Nationality></span>
                    <$client.env.inputChina_Nationality>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Business_Card_Title>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Business_Card_Title></span>
                    <$client.env.inputChina_Business_Card_Title>
                </div>
                <div class="input_wrapper mb-18" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Job_Type>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Job_Type></span>
                    <$client.env.inputChina_Job_Type>
                </div>

                <div class="heading" data-location-group="PHL">
                    <span class="heading-inner">
                        PHILIPPINES-SPECIFIC SECTION
                    </span>
                </div>
                <div class="input_wrapper" data-location-group="PHL" data-fieldgroup-title="Nationality (Country of Birth)" data-fieldgroup-validation="required">
                    <span class="floating-label">Nationality (Country of Birth)</span>
                    <select name="Nationality_pseudo" id="Nationality_pseudo"></select>
                </div>
                <div class="input_wrapper" data-location-group="PHL" data-fieldgroup-title="Hiring Manager's Name" data-fieldgroup-validation="required">
                    <span class="floating-label">Hiring Manager's Name</span>
                    <$client.env.inputHiring_Manager>
                </div>
                <div class="input_wrapper" data-location-group="PHL" data-fieldgroup-title="Hiring Manager's Business Title" data-fieldgroup-validation="required">
                    <span class="floating-label">Hiring Manager's Business Title</span>
                    <$client.env.inputMngrBsnssTitle>
                </div>
                <div class="input_wrapper" data-location-group="PHL" data-fieldgroup-title="Working Hours (9AM - 5PM PST)" data-fieldgroup-validation="required">
                    <span class="floating-label">Working Hours (9AM - 5PM PST)</span>
                    <$client.env.inputPH_Working_Hours>
                </div>
                <div class="input_wrapper" data-location-group="PHL" data-fieldgroup-title="Employee's Job Description" data-fieldgroup-validation="required">
                    <span class="floating-label">Employee's Job Description</span>
                    <$client.env.inputJob_Description>
                </div>
                
                <div class="button_group">
                    <div id="save"></div>
                    <div id="saveandcomplete"></div>
                    <div id="cancel"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    <$client.env.inputSALARY_CURRENCY>
    <$client.env.inputHIRE_ON_BONUS_CRNCY_CD>
    <$client.env.inputPayAreaCity>
    <$client.env.inputRelocationFrom>
    <$client.env.inputCountry>
    <$client.env.inputESTIMATED_RELO_COST_CRNCY_CD>
    <$client.env.inputComp_Currency>
</div>

<input type="hidden" id="Site_Name" name="Site_Name" value="<$client.env.index.site_name>" />
<input type="hidden" id="Evt_Location_Code" name="Evt_Location_Code" value="<$client.tEventCategories_Category_11.Code>" />
<input type="hidden" id="Evt_Location" name="Evt_Location" value="<$client.tEventCategories_Category_11.Value>" />
<input type="hidden" id="Evt_Category" name="Evt_Category" value="<$client.tEventCategories_40.Value>" />

<link href="<$link;/main/RedCarpet/FormTemplates/FormSupport/css/front_validator.css>" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<$link;/main/SiteGen/DynamicContent/Snippets/Paypal_EditProfile/js>/country.js"></script>
<script type="text/javascript" src="<$link;/main/SiteGen/DynamicContent/Snippets/Paypal_EditProfile/js>/custom-paypal.js"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/moment-with-locales.min.js>"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/front_validator.js>" defer></script>

<script type="text/javascript">
    /**
     * SERVICES-36314 | jjucutan | PayPal - Create APAC Provider Page
     * Define here functions that can be reused
     */
    var focusInputLabel = function(el, isFocused) {
        var label = el.closest('.input_wrapper')
            .find('span.floating-label')
            .removeClass('label-focus')
            .css({"color": "#666666"});
        if (el.val().trim().length > 0 || isFocused) {
            label.addClass('label-focus');
        }
        if (isFocused === true) {
            label.css({"color": "#0070BA"});
        }
    }
    var updateTargetOnChange = function(origin, target) {
        origin.on('change', function() {
            target.val(origin.val());
            if (origin.is(':checked')) {
                target.val(origin.val());
            }
            if (origin.hasClass('hasDatepicker')) {
                target.val(moment().diff(origin.val(), 'years'));
            }
        });
    }
    var fieldHasVal = function(el) {
        var hasVal = false;
        $.each(el, function(k, v) {
            if ($(v).val().length) {
                hasVal = true;
            }
        });
        return hasVal;
    }
    var isCheckboxChecked = function(el) {
        var hasChecked = false;
        $.each(el, function(k,v){
            if ($(v).is(':checked')) {
                hasChecked = true;
            }
        });
        return hasChecked;
    }
    var setDefaultValue = function(el, defaultValue) {
        if (el.is('input[type="checkbox"]') || el.is('input[type="radio"]')) {
            if (isCheckboxChecked(el) === false) {
                $.each(el, function(k,v) {
                    if ($(v).val() === defaultValue) {
                        $(v).prop('checked', 'checked');
                    }
                });
            }
        }
        if (el.is('select') && el.val().length < 1 && el.find('option[value="' + defaultValue + '"]').length > 0) {
            el.val(defaultValue);
        }
        if (el.is('select') && el.val().length < 1 && el.find('option:contains(' + defaultValue + ')').length > 0) {
            el.val(el.find('option:contains(' + defaultValue + ')').prop('value'));
        }
        if (el.is('input[type="text"]') && el.val().trim().length < 1) {
            el.val(defaultValue);
        }
    }
    var toggleDisplayTarget = function(el, target, requiredVal, callback) {
        target.hide();
        if (!isCheckboxChecked(el)) {
            return false;
        }
        $.each(el, function() {
            if ($(this).is(':checked') && $(this).val() === requiredVal) {
                target.show();
                if (typeof callback === "function") {
                    callback();
                }
            }
        })
    }
    var checkNationalID = function() {return null;}; // deactivate useless functions from portal
    $(window).on('load', function() {
        var months = ["January","February","March","April","May","June","July", "August","September","October","November","December"];
        var isProfileCompleted = sTaskComplete;
        $('.floating-label span').css('color', 'rgb(102, 102, 102)');
        $('.cal_and_button').prop('cellpadding', 0).prop('cellspacing', 0);
        // replace default submit button with paypal styled
        $('#TaskSummary_ButtonCancel').appendTo('#cancel').show();
        if (!isProfileCompleted) {
            $('#TaskSummary_ButtonSave').appendTo('#saveandcomplete').prop('onclick', null).show().text('Continue');
            $('#EUPDefaultSaveButton').appendTo('#save').show();
        }

        // fill pseudo selects with real options
        $('#HIRE_ON_BONUS_CRNCY_CD_pseudo').append($('[name$="Currency_Code_new"]').find('option').clone()).val("");
        $('#Comp_Currency_pseudo').append($('[name$="Currency_Code_new"]').find('option').clone()).val("");
        $('#ESTIMATED_RELO_COST_CRNCY_CD_pseudo').append($('[name$="Currency_Code_new"]').find('option').clone()).val("");
        $('#RepNationality_pseudo').append($('[name$=".Country"]').find('option').clone()).val("");
        $('#Nationality_pseudo').append($('[name$=".Nationality"]').find('option').clone());

        // load form when all set
        $('#EditProfile_wrapper').fadeIn();

        // set default values
        if ($('select[name$="HIRE_ON_BONUS_CRNCY_CD_pseudo"] option[value="' + $('input[name$="HIRE_ON_BONUS_CRNCY_CD"]').val() + '"]').length > 0) {
            $('select[name$="HIRE_ON_BONUS_CRNCY_CD_pseudo"]').val($('input[name$="HIRE_ON_BONUS_CRNCY_CD"]').val());
        }
        setDefaultValue($('[name$="Relo_Bonus"]'), "No");
        setDefaultValue($('#RepNationality_pseudo'), $('[name$="RepNationality"]').val());
        setDefaultValue($('#Nationality_pseudo'), $('[name$="Nationality"]').val());
        setDefaultValue($('[name$="ProbationPeriodRequired"]'), "no");
        setDefaultValue($('[name$="HIRE_ON_BONUS_CRNCY_CD_pseudo"]'), $('[name$="HIRE_ON_BONUS_CRNCY_CD"]').val());
        setDefaultValue($('[name$="Comp_Currency_pseudo"]'), $('[name$="Comp_Currency"]').val());
        setDefaultValue($('[name$="ESTIMATED_RELO_COST_CRNCY_CD_pseudo"]'), $('[name$="ESTIMATED_RELO_COST_CRNCY_CD"]').val());
        setDefaultValue($('[name$="Manager"]'), "No");
        setDefaultValue($('[name$=".Relocation"]'), "N");
        setDefaultValue($('[name$="Variable_Bonus"]'), "No");
        setDefaultValue($('[name$="China_Entity_Name"]'), "<$client.tForWhomUserInfo.EnityName>");
        setDefaultValue($('[name$="China_Entity_Address"]'), "<$client.tForWhomUserInfo.EntityAddress>");
        setDefaultValue($('[name$="China_Event_Location"]'), "<$client.tEventCategories_Category_11.Value>");
        setDefaultValue($('[name$="China_Business_Card_Title"]'), "<$client.tForWhomUserInfo.Business_Title>");
        setDefaultValue($('[name$="China_Job_Type"]'), "<$client.tForWhomUserInfo.JobType>");
        if ($('[name$=".RelocationFrom"]').val().length > 0) {
            var relocationFromArr = $('[name$=".RelocationFrom"]').val().replace(/\s*,\s*/g, ",").split(',');
            $('#from-city-state').val(relocationFromArr[0]);
            (typeof relocationFromArr[1] !== 'undefined') && $('#from-state-country').val(relocationFromArr[1]);
        }
        if ($('[name$=".PayAreaCity"]').val().length > 0) {
            var relocationToArr = $('[name$=".PayAreaCity"]').val().replace(/\s*,\s*/g, ",").split(',');
            $('#to-city-state').val(relocationToArr[0]);
            (typeof relocationToArr[1] !== 'undefined') && $('#to-state-country').val(relocationToArr[1]);
        }

        // update fields with dependets
        updateTargetOnChange($('select[name$="Currency_Code_new"]'), $('input[name$="SALARY_CURRENCY"]'));
        updateTargetOnChange($('select[name$="HIRE_ON_BONUS_CRNCY_CD_pseudo"]'), $('input[name$="HIRE_ON_BONUS_CRNCY_CD"]'));
        updateTargetOnChange($('#Nationality_pseudo'), $('[name$="Nationality"]'));
        updateTargetOnChange($('[name$="ESTIMATED_RELO_COST_CRNCY_CD_pseudo"]'), $('[name$="ESTIMATED_RELO_COST_CRNCY_CD"]'));
        updateTargetOnChange($('[name$="Comp_Currency_pseudo"]'), $('[name$="Comp_Currency"]'));
        $('form').on('keyup change paste', '#from-city-state, #from-state-country', function() {
            $('[name$=".RelocationFrom"]').val($('#from-city-state').val() + ', ' + $('#from-state-country').val());
        });
        $('form').on('keyup change paste', '#to-city-state, #to-state-country', function() {
            $('[name$=".PayAreaCity"]').val($('#to-city-state').val() + ', ' + $('#to-state-country').val());
        });
        
        // focus style text and select fields
        $('form').on('focus', 'input[type="text"], select, textarea', function() {
            focusInputLabel($(this), true);
        }).on('blur', 'input[type="text"], select, textarea', function() {
            focusInputLabel($(this));
        });
        // focus style date fields
        $('form').on('focus change', 'input.hasDatepicker', function() {
            focusInputLabel($(this), true);
        }).on('blur change', 'input.hasDatepicker', function() {
            focusInputLabel($(this));
        });
        $('form').on('focus change', '.datepicker_button', function() {
            focusInputLabel($(this).closest('.cal_and_button').find('input[type="text"]'), true);
        }).on('blur change', '.datepicker_button', function() {
            focusInputLabel($(this).closest('.cal_and_button').find('input[type="text"]'));
            $(this).parent().find('.hasDatepicker').trigger('change'); 
        });

        // pass validation data to each fields
        $.each($('[data-fieldgroup-validation]'), function(k,v) {
            $(v).find('input, select, textarea').data('validation', $(v).data('fieldgroup-validation'));
        });
        // pass regex data to each fields
        $.each($('[data-fieldgroup-regex]'), function(k,v) {
            $(v).find('input').data('regex', $(v).data('fieldgroup-regex'));
        });
        // pass regex message to each fields
        $.each($('[data-fieldgroup-message]'), function(k,v) {
            $(v).find('input').data('message', $(v).data('fieldgroup-message'));
        });
        // pass validation data length to each fields
        $.each($('[data-fieldgroup-minlength]'), function(k,v) {
            $(v).find('input').data('minlength', $(v).data('fieldgroup-minlength'));
        });
        $.each($('[data-fieldgroup-maxlength]'), function(k,v) {
            $(v).find('input').data('maxlength', $(v).data('fieldgroup-maxlength'));
        });
        // pass target label to each radio or checkbox fields
        $.each($('[data-fieldgroup-targetlabel]'), function(k,v) {
            $(v).find('input[type="checkbox"], input[type="radio"]').data('label', $(v).data('fieldgroup-targetlabel'));
        });
        // pass title data to each fields
        $.each($('[data-fieldgroup-title]'), function(k,v) {
            $(v).find('input, select, textarea').data('title', $(v).data('fieldgroup-title'));
        });

        // focus field labels
        $.each($('form input[type="text"], form select, textarea'),function(k,v) {
            focusInputLabel($(v));
        });

        // hide sections not on event location
        $.each($('[data-location-group]'), function(k,v) {
            var hideSection = false;
            if($(v).data('location-group') !== $('#Evt_Location_Code').val().substring(0,3)) {
                hideSection = true;
            }
            // show china if event category is yes
            if($(v).data('location-group') === "CHN" && $('#Evt_Location_Code').val().substring(0,3) === "CHN" && $('#Evt_Category').val() !== "Yes") {
                hideSection = true;
            }
            if (hideSection) {
                $(v).hide().find('input[type="text"]').val("");
            }
        });

        // hide sections based on dependent value
        // hire on bonus eligible
        $('form').on('change', '[name$="Hire_on_Bonus_Eligible"]', function() {
            $('.bonus-section').hide();
            if ($('[name$="Hire_on_Bonus_Eligible"]:checked').val() === 'Yes'){
                $('.bonus-section').show();
            }
        });
        $('[name$="Hire_on_Bonus_Eligible"]').trigger('change');
        // variable bonus
        $('form').on('change', '[name$="Variable_Bonus"]', function() {
            $('.variable-bonus-section').hide();
            if ($('[name$="Variable_Bonus"]:checked').val() === 'Yes'){
                $('.variable-bonus-section').show();
            }
        });
        $('[name$="Variable_Bonus"]').trigger('change');
        // relocation bonus
        $('form').on('change', '[name$="Relo_Bonus"]', function() {
            $('.relocation-bonus-section').hide();
            if ($('[name$="Relo_Bonus"]:visible') && $('[name$="Relo_Bonus"]:checked').val() === 'Yes'){
                $('.relocation-bonus-section').show();
            }
        });
        $('[name$="Relo_Bonus"]').trigger('change');
        // relocation
        $('form').on('change', '[name$="Relocation"]', function() {
            $('.relocation-bonus-section, .relocation-section').hide();
            if ($('[name$="Relocation"]:checked').val() === 'Y'){
                $('.relocation-bonus-section, .relocation-section').show();
                $('[name$="Relo_Bonus"]').trigger('change');
            }
        });
        $('[name$="Relocation"]').trigger('change');
        // probations required
        $('form').on('change', '[name$="ProbationPeriodRequired"]', function() {
            $('#probation-timeframe').hide();
            if ($('[name$="ProbationPeriodRequired"]:checked').val() === 'yes'){
                $('#probation-timeframe').show();
            }
        });
        $('[name$="ProbationPeriodRequired"]').trigger('change');

        // validate each field
        $('form').on('blur click', 'input[type="text"]:not(":hidden"), select, textarea', function() {
            if(!validateField($(this))) {
                $(this).parent().find('.text-error').css({'display': 'inline-block', 'margin-bottom': '-2px'}); // style hack since IE is such a reliable browser ;-) // changed block to inline-block
            }
        });

        // validate each date fields and radio
        $('form').on('change', 'input[name$="_display"]:visible, input[type="radio"]:visible, input.hasDatepicker', function() {
            validateField($(this)); 
        });

        // submit the form if no errors
        $('form').on('click', '#TaskSummary_ButtonSave', function(e) {
            e.preventDefault();
            var formIsValid = true;
            $.each($('form input:not(".datepicker_button"):visible, form select:visible, textarea:visible'), function(k,v) {
                if(!validateField($(v))) {
                    formIsValid = false;
                }
            });
            if (formIsValid) {
                doSave_Custom('refer-Complete');
            }
            else {
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
        });

    });
</script>
