<div id='container'>
    <div class="container-fluid">
        <div class="form-group">
           

         <div class='row '>
                <div class='col-md-10'>&nbsp; </div>
                <div class="col-md-2"><img src="<$link;/local/SystemPages/LoginImages/logo_black.png>" width="60px" /></div>
            </div>
            <div class='row'>
                <h3 class='bold'>Pay Notice for Non-Exempt California Employees</h3>
                <h4>Under Section 2810.5 of the California Labor Code</h4>
            </div>
            <div class='padding'></div>
            <div class='border_bottom_thick row'>
                <h4 class='bold'>Employee Information</h4>
            </div>




            <div class='padding'></div>
            <div class='row'>
                <div class='col-lg-2 col-md-3 col-sm-3'>Employee Name:</div>
                <div class='col-lg-10 col-md-9'>
                    <$client.env.FormField.employee_name.HTML>
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-2  col-md-3 col-sm-12'>Hire Date:</div>
                <div class='col-lg-3 col-md-2 col-sm-6 col-xs-9'>
                    <$client.env.FormField.hire_date.HTML>
                </div>
            </div>
            <div class='padding'></div>
            <div class='border_bottom_thick row'>
                <h4 class='bold'>Employer Information</h4>
            </div>
            <div class='padding'></div>
            <div class='row'>
                <div class='col-md-12'>
                    <p>
                        Employer Name: Apple Inc.
                        <br/> Doing Business As (DBA Names): None in California
                        <br/> Physical and Mailing Address: 1 Infinite Loop, Cupertino, CA 95014
                        <br/> Telephone Number: (408) 996-1010
                    </p>
                    <p>
                        Workers Compensation Insurance Carrier: Safety National Casualty Corp.
                        <br/> Policy Number: LDM4042770
                        <br/> Physical and Mailing Address: 1832 Schuetz Road, St. Louis, MO 63146
                        <br/> Telephone Number: (888) 995-5300
                    </p>
                    <p>
                        Is Employer a staffing agency/business? No
                    </p>
                </div>
            </div>


           <div class='padding'></div>
            <div class='border_bottom_thick row'>
                <h4 class='bold'>Wage Information</h4>
            </div>
            <div class='padding'></div>
            <div class='col-md-12'>
                <p>Basis of Pay:
                    <$client.env.FormField.basisPay.HTML>
                </p>
                <p class='__paragraph'>Rate of Pay: $
                    <$client.env.FormField.rate_pay.HTML> per hour</p>
                <p class='__paragraph'>Overtime Rate: Your overtime rate for all hours worked <em>in excess (8) hours, 
                              up to and including 12 hours in any workday,</em> and for the first eight (8) hours worked on the seventh consecutive day of work in a workweek will be $
                    <$client.env.FormField.overtime_rate15x.HTML> per hour; your overtime rate for all hours worked <em>in excess of 12 hours in any workday,</em> and for all hours worked in excess of eight (8) on the seventh consecutive day of work in a workweek will be $
                        <$client.env.FormField.overtime_rate2x.HTML> per hour.</p>
                <p>Shift Differential:</p>
                <$client.env.FormField.storeEligible.HTML>
                    <p>Allowances, if any, claimed as part of minimum wage (including meal or lodging allowances): None</p>
                    <p>Designated Payday: Wages will be paid every other week on Fridays in accordance with Apple's standard payroll procedures. A copy of the payroll schedule may be four at
                        <a target="_blank" href="https://financeweb.apple.com/us-payroll-basics">https://financeweb.apple.com/us-payroll-basics</a>.</p>
                    <p>Additional written agreements and representations regarding your pay may be found in your offer letter, payroll forms including your wage statements, Apple policies and plans, and other Apple documents. Your compensation is subject to changes, and nothing in this notice shall constitute a contract for a specific term of employment.
                    </p>
            </div>
            <div class='padding'></div>
            <div class='border_bottom_thick row'>
                <h4 class='bold'>Paid Sick leave</h4>
            </div>
            <div class='padding'></div>
            <div class='row'>
                <div class='col-md-12'>
                    <p>You are entitled to minimum requirements for paid sick leave under California law which provides that an employee:</p>
                    <ol type='a'>
                        <li>May, beginning July 1, 2015, accrue paid sick leave and may request and use up to 3 days or 24 hours of accrued paid sick leave per year;</li>
                        <li>May not be terminated or retaliated against for using or requesting the use of accrued paid sick leave; and</li>
                        <li>Has the right to file a complaint against an employer who retaliates or discriminates against an employee for: (1) requesting or using accrued sick days; (2) attempting to exercise the right to use accrued paid sick days; (3) filing a complaint or alleging a violation of Article 1.5 section 245 et seq. of the California Labor Code; (4) cooperating in an investigation or prosecution of an alleged violation of this Article or opposing any policy or practice or act that is prohibited by Article 1.5 section 245 et seq. of the California Labor Code.</li>
                    </ol>
                    <p>Beginning on July 1, 2015, you will accrue paid sick leave pursuant to Apple’s policy which satisfies or exceeds the accrual, carryover, and use requirements of Labor Code §246.</p>
                </div>
            </div>
            <div class='padding'></div>
            <div class='border_bottom_thick row'>
                <h4 class='bold'>Acknowledgement</h4>
            </div>
            <div class='padding'></div>
            <div class='row'>
                <div class='col-md-12'>
                    My signature below indicates I have received a fully completed copy of this form.
                </div>
            </div>
            <div class='padding'></div>
            <div class='row'>
                <div class='col-md-5  col-sm-12  col-xs-12'>
                    <$client.env.FormField.employee_signature.HTML>
                        Employee Signature
                </div>
                <div class='col-md-2 col-sm-2'>&nbsp;</div>
                <div class='col-md-3 col-sm-12 col-xs-12'>
                    <$client.env.FormField.date.HTML>
                        Date
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <p>Labor Code section 2810.5(b) requires that the employer notify you in writing of any changes to the information set forth in this Notice within seven calendar days after the time of the changes, unless one of the following applies: (a) all changes are reflected on a timely wage statement furnished in accordance with Labor Code section 226; (b) notice of all changes is provided in another writing required by law within seven days of the changes.</p>
                    <p><strong>Please sign both copies.  Keep one for your records and return the other with the rest of your New Hire Paperwork.</strong></p>
                </div>
            </div>





            <!--end form-group  -->
        </div>

        <!-- end container-fluid -->
    </div>
<!-- end container -->
</div>
