<div class="main">
    <h1 class="text-center">
        eForm Application
    </h1>
    <div id="stage1" data-stage="1">
        <table class="table table-bordered vspace">
            <tbody>
                <tr>
                    <td>
                        Applied to:
                        <input type="text" title="Title: Applied to" data-required="yes">
                    </td>
                    <td>
                        Job Offer Date:
                        <input type="text" title="Title: Job offer date" data-required="yes" data-validation="date">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    Location of Job:
                    <textarea name="" id="" rows="10" title="Title: Location of job" data-required="maybe"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div data-stage="2" class="hidden">
        <h2>Personal Information</h2>
        <table class="table table-bordered vspace">
            <tbody>
                <tr>
                    <td>
                        Prefix
                        <input type="text" data-required="yes">
                    </td>
                    <td>
                        First Name
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Middle Name
                        <input type="text">
                    </td>
                    <td>
                        Last Name
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Suffix
                        <input type="text">
                    </td>
                    <td>
                        Country of Residence
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Address
                        <input type="text">
                    </td>
                    <td>
                        City
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        State/Location
                        <input type="text">
                    </td>
                    <td>
                        Postal Code
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Primary Phone
                        <input type="text">
                    </td>
                    <td>
                        Secondary Phone
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                    Email
                    <input type="text">
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="stage3" data-stage="3" class="hidden">
        <h2>EDUCATIONAL BACKGROUND</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-left" colspan="2">High School</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        School Name
                        <input type="text" data-required="yes">
                    </td>
                    <td>
                        Did you graduate?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered hidden">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        College/University
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        School Name
                        <input type="text" data-required="maybe">
                    </td>
                    <td>
                        School City
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        School Country
                        <input type="text">
                    </td>
                    <td>
                        School State / Region
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Did you graduate?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                    <td>
                        Diploma/Degree or Equivalent
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                       Described any specialized training, apprenticeships, etc. (maximum of 500 characters) 
                       <textarea name="" id="" rows="10"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered vspace hidden">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                       Graduate/Professional 
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        School Name
                        <input type="text">
                    </td>
                    <td>
                        School City
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        School Country
                        <input type="text">
                    </td>
                    <td>
                        School State / Region
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Did you graduate?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                    <td>
                        Diploma/Degree or Equivalent
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                       Described any specialized training, apprenticeships, etc. (maximum of 500 characters) 
                       <textarea name="" id="" rows="10"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <section class="clearfix">
            <button data-addsection="education" class="btn pull-right">Add School</button>
        </section>
    </div>

    <div id="stage4" data-stage="4" class="hidden">
        <h2>EMPLOYMENT HISTORY</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Employer 1
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Employer Name
                        <input type="text">
                    </td>
                    <td>
                        Phone Number
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        May we contact this employer?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                    <td>
                        Job Title
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Starting Date (mm/dd/yyyy)
                        <input type="text">
                    </td>
                    <td>
                        Ending Date (mm/dd/yyyy) If currently employed, enter today’s date.
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Are you currently employed with this organization?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                    <td>
                        Ending Pay
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Supervisor’s Name
                        <input type="text">
                    </td>
                    <td>
                        Supervisor’s Title
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Reason for leaving or seeking other employment? (maximum of 500 characters)
                        <textarea name="" id="" rows="10"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Brief description of job duties and responsibilities (maximum of 500 characters)
                        <textarea name="" id="" rows="10"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered hidden">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Employer 2
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Employer Name
                        <input type="text">
                    </td>
                    <td>
                        Phone Number
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        May we contact this employer?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                    <td>
                        Job Title
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Starting Date (mm/dd/yyyy)
                        <input type="text">
                    </td>
                    <td>
                        Ending Date (mm/dd/yyyy) If currently employed, enter today’s date.
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Are you currently employed with this organization?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                    <td>
                        Ending Pay
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Supervisor’s Name
                        <input type="text">
                    </td>
                    <td>
                        Supervisor’s Title
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Reason for leaving or seeking other employment? (maximum of 500 characters)
                        <textarea name="" id="" rows="10"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Brief description of job duties and responsibilities (maximum of 500 characters)
                        <textarea name="" id="" rows="10"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered hidden">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Employer 3
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Employer Name
                        <input type="text">
                    </td>
                    <td>
                        Phone Number
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        May we contact this employer?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                    <td>
                        Job Title
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Starting Date (mm/dd/yyyy)
                        <input type="text">
                    </td>
                    <td>
                        Ending Date (mm/dd/yyyy) If currently employed, enter today’s date.
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Are you currently employed with this organization?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                    <td>
                        Ending Pay
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Supervisor’s Name
                        <input type="text">
                    </td>
                    <td>
                        Supervisor’s Title
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Reason for leaving or seeking other employment? (maximum of 500 characters)
                        <textarea name="" id="" rows="10"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Brief description of job duties and responsibilities (maximum of 500 characters)
                        <textarea name="" id="" rows="10"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered hidden">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Employer 4
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Employer Name
                        <input type="text">
                    </td>
                    <td>
                        Phone Number
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        May we contact this employer?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                    <td>
                        Job Title
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Starting Date (mm/dd/yyyy)
                        <input type="text">
                    </td>
                    <td>
                        Ending Date (mm/dd/yyyy) If currently employed, enter today’s date.
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Are you currently employed with this organization?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                    <td>
                        Ending Pay
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Supervisor’s Name
                        <input type="text">
                    </td>
                    <td>
                        Supervisor’s Title
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Reason for leaving or seeking other employment? (maximum of 500 characters)
                        <textarea name="" id="" rows="10"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Brief description of job duties and responsibilities (maximum of 500 characters)
                        <textarea name="" id="" rows="10"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered vspace hidden">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Employer 5
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Employer Name
                        <input type="text">
                    </td>
                    <td>
                        Phone Number
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        May we contact this employer?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                    <td>
                        Job Title
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Starting Date (mm/dd/yyyy)
                        <input type="text">
                    </td>
                    <td>
                        Ending Date (mm/dd/yyyy) If currently employed, enter today’s date.
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Are you currently employed with this organization?
                        <select name="" id="">
                            <option value="">Yes</option>
                            <option value="">No</option>
                        </select>
                    </td>
                    <td>
                        Ending Pay
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Supervisor’s Name
                        <input type="text">
                    </td>
                    <td>
                        Supervisor’s Title
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Reason for leaving or seeking other employment? (maximum of 500 characters)
                        <textarea name="" id="" rows="10"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Brief description of job duties and responsibilities (maximum of 500 characters)
                        <textarea name="" id="" rows="10"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <section class="clearfix">
            <button data-addsection="employer" class="btn pull-right">Add Employer</button>
        </section>
    </div>

    <div data-stage="5" class="hidden">
        <h2>REFERENCES</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Reference 1
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Name
                        <input type="text">
                    </td>
                    <td>
                        Company Name
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Job Title
                        <input type="text">
                    </td>
                    <td>
                        Relationship
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Email Address
                        <input type="text">
                    </td>
                    <td>
                        Phone Number
                        <input type="text">
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered hidden">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Reference 2
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Name
                        <input type="text">
                    </td>
                    <td>
                        Company Name
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Job Title
                        <input type="text">
                    </td>
                    <td>
                        Relationship
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Email Address
                        <input type="text">
                    </td>
                    <td>
                        Phone Number
                        <input type="text">
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered vspace hidden">
            <thead>
                <tr>
                    <th colspan="2" class="text-left">
                        Reference 3
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Name
                        <input type="text">
                    </td>
                    <td>
                        Company Name
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Job Title
                        <input type="text">
                    </td>
                    <td>
                        Relationship
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        Email Address
                        <input type="text">
                    </td>
                    <td>
                        Phone Number
                        <input type="text">
                    </td>
                </tr>
            </tbody>
        </table>
        <section class="clearfix">
            <button data-addsection="reference" class="btn pull-right">Add Reference</button>
        </section>
    </div>

    <div id="stage6" data-stage="6" class="hidden">
        <h2>CONDITIONS OF APPLICATION AND EMPLOYMENT</h2>
        <h3>ACKNOWLEDGMENT &amp; AUTHORIZATION</h3>
        <p>
            <span class="indent-1">
                I certify that all statements made by me throughout this application process are true, accurate and complete. I understand that the falsification, misrepresentation or omission of any information in this process or any other accompanying or required documents may result in denial of employment, rescission of an offer of employment, or termination of employment if I am hired, regardless of when or how the falsification, misrepresentation or omission is discovered. I am aware of and understand the physical requirements of the job and certify that I can and will perform these requirements in a safe manner with or without accommodation.
            </span>
        </p>
        <p><span class="indent-1">
            I understand that depending upon the position I am applying for, I may be required to complete pre-employment screening, including but not limited to a criminal background check, motor vehicle check, drug screen, credit check, education and employment verification, or fingerprint check and that my employment will be contingent upon acceptable results. Upon offer of employment, I will be advised of all required pre-employment screening and will be provided the necessary authorizations. I understand that refusal or failure to do so may result in Lifetouch rescinding any offer of employment. Lifetouch complies with all applicable legal requirements in its hiring process and related screenings. I hereby agree to hold Lifetouch or other persons/entities who may provide information harmless and free from any and all liability in connection with any pre-employment screening.
        </span></p>
        <p>
            <span class="indent-1">
                I understand that this application does not create a contract of employment and, if I am employed, my employment will be at-will. At-will employment may only be modified by written agreement signed by an Officer of Lifetouch.
            </span>
        </p>
        <section class="col-100">
            <label for="">
                <input type="checkbox">
                I agree to the statements of the Acknowledgement &amp; Authorization above. *
            </label>
        </section>
        <section class="col-100">
            <label for="">
                <input type="checkbox">
                I hereby acknowledge and authorize that by typing my full name and clicking “I agree” that I am electronically signing this document using a unique User Name and Password assigned to me. I acknowledge and understand that this constitutes an electronic signature and carries the same legal effect and enforceability as my handwritten signature. *
            </label>
        </section>
        <section>
            <div class="col-50">
                Signature (enter full legal name)
                <input type="text">
            </div>
            <div class="col-50">
                Date (mm/dd/yyyy)
                <input type="text">
            </div>
        </section>
    </div>
    <section class="clearfix">
        <button id="previous1" class="btn">Previous</button>
        <button id="continue2" class="pull-right btn">Continue</button>
    </section>
</div>
