<!-- Modal 1 E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="fontweight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature','eSignature1','fullName','modal','over','sv');xbObj('eSignature1').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';">
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal2" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="fontweight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignature2" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature2','eSignature2','fullName2','modal2','over','sv2');xbObj('eSignature2').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature2').value='';showHide('modal2');showHide('over');xbObj('eSignature2').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal2');showHide('over');xbObj('eSignature2').value='';">
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal3" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="fontweight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignature3" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature3','eSignature3','fullName3','modal3','over','sv3');xbObj('eSignature3').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature3').value='';showHide('modal3');showHide('over');xbObj('eSignature3').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal3');showHide('over');xbObj('eSignature3').value='';">
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal4" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="fontweight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignature4" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature4','eSignature4','fullName4','modal4','over','sv4');xbObj('eSignature4').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature4').value='';showHide('modal4');showHide('over');xbObj('eSignature4').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal4');showHide('over');xbObj('eSignature4').value='';">
      </div>
    </div>
  </div>
</div>

<!-- Modal 5 E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal5" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="fontweight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignature5" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature5','eSignature5','fullName5','modal5','over','sv5');xbObj('eSignature5').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature5').value='';showHide('modal5');showHide('over');xbObj('eSignature5').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal5');showHide('over');xbObj('eSignature5').value='';">
      </div>
    </div>
  </div>
</div>

<div id="over" style="display:none;"></div>
<!-- RESPONSIVE eFORM PAGE LOADER-->
<div class="modal" style="display:block; background: #002E6D;">
  <div class="fb-spinner">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<form name="frmForm" action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);" role="form" class="form-horizontal">
    <div style="display:none;">
		<$client.env.FormField.Form_Name.prompt>
		<$client.env.FormField.Form_Name.HTML>
		<$client.env.FormField.Form_Type.prompt>
		<$client.env.FormField.Form_Type.HTML>
		<$client.env.FormField.Form_Owner.prompt>
		<$client.env.FormField.Form_Owner.HTML>
		<$client.env.FormField.Form_CreateDate.prompt>
		<$client.env.FormField.Form_CreateDate.HTML>
		<$client.env.FormField.Form_Completed.prompt>
		<$client.env.FormField.Form_Completed.HTML>
		<$client.env.FormField.Form_Delivered.prompt>
		<$client.env.FormField.Form_Delivered.HTML>
		<$client.env.FormField.Form_TaskId.prompt>
		<$client.env.FormField.Form_TaskId.HTML>
		<$client.env.FormField.display_version.HTML>
		<!-- Replace With eForm Specific Data Field Prompts From Formalizer-->
		<$client.env.FormField.SignatureVerification.prompt>
		<$client.env.FormField.SignatureVerification2.prompt>
		<$client.env.FormField.SignatureVerification3.prompt>
		<$client.env.FormField.SignatureVerification4.prompt>
		<$client.env.FormField.SignatureVerification5.prompt>
		<$client.env.FormField.a01_Effective_Date.prompt>
		<$client.env.FormField.a02_New_or_Rehire.prompt>
		<$client.env.FormField.a03_Employee_Number.prompt>
		<$client.env.FormField.a04_Company.prompt>
		<$client.env.FormField.a05_Facility.prompt>
		<$client.env.FormField.a06_Department.prompt>
		<$client.env.FormField.a07_Position_Code.prompt>
		<$client.env.FormField.a08_Position_Title.prompt>
		<$client.env.FormField.a09_Supervisor.prompt>
		<$client.env.FormField.a10_Fulltime_Part_time.prompt>
		<$client.env.FormField.a11_Pay_Rate.prompt>
		<$client.env.FormField.a12_Bi_Weekly_Work_Hours.prompt>
		<$client.env.FormField.a13_First_Name.prompt>
		<$client.env.FormField.a14_Last_Name.prompt>
		<$client.env.FormField.a15_Suffix.prompt>
		<$client.env.FormField.a16_Address1.prompt>
		<$client.env.FormField.a17_Address2.prompt>
		<$client.env.FormField.a18_City.prompt>
		<$client.env.FormField.a19_State.prompt>
		<$client.env.FormField.a20_Zip.prompt>
		<$client.env.FormField.a21_HR_Manager.prompt>
		<$client.env.FormField.a22_HR_Signature.prompt>
		<$client.env.FormField.a23_HR_Date.prompt>
		<$client.env.FormField.a24_Approver1.prompt>
		<$client.env.FormField.a25_Approver_Title.prompt>
		<$client.env.FormField.a26_Approver_Signature.prompt>
		<$client.env.FormField.a27_Approver_Date.prompt>
		<$client.env.FormField.a28_Approver2.prompt>
		<$client.env.FormField.a29_Approver2_Title.prompt>
		<$client.env.FormField.a30_Approver2_Signature.prompt>
		<$client.env.FormField.a31_Approver2_Date.prompt>
		<$client.env.FormField.a32_Approver3.prompt>
		<$client.env.FormField.a33_Approver3_Title.prompt>
		<$client.env.FormField.a34_Approver3_Signature.prompt>
		<$client.env.FormField.a35_Approver3_Date.prompt>

    </div>
    <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">
<main class="container-fluid">
	<header class="row">
		<div class="col-lg-8 col-sm-8 col-xs-8">
			<h3>
				<strong>EMPLOYEE HIRE OR REHIRE FORM</strong>
			</h3>
		</div>
		<div class="col-lg-4 col-sm-4 col-xs-4">
			<img src="<$link;/main/RedCarpet/FormTemplates/Approval_for_Employee_Hire_or_Rehire/img/geo_group_logo.jpg>" alt="The GEO Group Logo" class="img-responsive">
		</div>
	</header>
	<div class="row mb-20">
		<div class="col-lg-2 col-sm-12 col-xs-12">
			<label class="control-label">
				<strong>Effective Date</strong>
			</label>
		</div>
		<div class="col-lg-3 col-sm-12 col-xs-12">
			<div class="form-group">
				<$client.env.FormField.a01_Effective_Date.HTML>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-sm-12 col-xs-12">
			<label class="control-label">
				New Hire or Rehire:
			</label>
		</div>
		<div class="col-lg-3 col-sm-12 col-xs-12">
			<div class="form-group">
				<$client.env.FormField.a02_New_or_Rehire.HTML>
			</div>
		</div>
		<div class="col-lg-3 col-sm-12 col-xs-12">
			<label class="control-label">
				GEO Employee Number for Rehire:
			</label>
		</div>
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="form-group">
				<$client.env.FormField.a03_Employee_Number.HTML>
			</div>
		</div>
	</div>
	<div class="row mb-10">
		<div class="col-lg-12 bg-light">
			<h5 class="text-center">
				<strong>WORK INFORMATION</strong>
			</h5>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="i-block">
				Company
			</div>
			<div class="i-block">
				<$client.env.FormField.a04_Company.HTML>
			</div>
		</div>
		<div class="col-lg-8 col-sm-12 col-xs-12">
			<div class="i-block">
				Facility
			</div>
			<div class="i-block col-80">
				<$client.env.FormField.a05_Facility.HTML>
			</div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="i-block">
				Department
			</div>
			<div class="i-block">
				<$client.env.FormField.a06_Department.HTML>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="i-block">
				Position Code
			</div>
			<div class="i-block">
				<$client.env.FormField.a07_Position_Code.HTML>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="i-block">
				Position Title
			</div>
			<div class="i-block">
				<$client.env.FormField.a08_Position_Title.HTML>
			</div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-6 col-sm-12 col-xs-12">
			<div class="i-block">
				Supervisor
			</div>
			<div class="i-block">
				<$client.env.FormField.a09_Supervisor.HTML>
			</div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-5 col-sm-12 col-xs-12">
			<div class="i-block">
				Fulltime or Part-Time:
			</div>
			<div class="i-block">
				<$client.env.FormField.a10_Fulltime_Part_time.HTML>
			</div>
		</div>
		<div class="col-lg-5 col-sm-12 col-xs-12">
			<div class="i-block">
				Pay Rate (Hourly or Annual): $
			</div>
			<div class="i-block">
				<$client.env.FormField.a11_Pay_Rate.HTML>
			</div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-5 col-sm-12 col-xs-12">
			<div class="i-block">
				Bi-weekly Work Hours:
			</div>
			<div class="i-block">
				<$client.env.FormField.a12_Bi_Weekly_Work_Hours.HTML>
			</div>
		</div>
	</div>

	<div class="row mb-10">
		<div class="col-lg-12 bg-light">
			<h5 class="text-center">
				<strong>EMPLOYEE INFORMATION</strong>
			</h5>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="i-block">
				First Name
			</div>
			<div class="i-block">
				<$client.env.FormField.a13_First_Name.HTML>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="i-block">
				Last Name
			</div>
			<div class="i-block">
				<$client.env.FormField.a14_Last_Name.HTML>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="i-block">
				Suffix
			</div>
			<div class="i-block">
				<$client.env.FormField.a15_Suffix.HTML>
			</div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-2 col-sm-12 col-xs-12">
			<label class="control-label">
				Street Address 1
			</label>
		</div>
		<div class="col-lg-100 col-sm-12 col-xs-12">
			<$client.env.FormField.a16_Address1.HTML>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-2 col-sm-12 col-xs-12">
			<label class="control-label">
				Street Address 2
			</label>
		</div>
		<div class="col-lg-100 col-sm-12 col-xs-12">
			<$client.env.FormField.a17_Address2.HTML>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="i-block">
				City
			</div>
			<div class="i-block">
				<$client.env.FormField.a18_City.HTML>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="i-block">
				State
			</div>
			<div class="i-block">
				<$client.env.FormField.a19_State.HTML>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 col-xs-12">
			<div class="i-block">
				Zip Code
			</div>
			<div class="i-block">
				<$client.env.FormField.a20_Zip.HTML>
			</div>
		</div>
	</div>

	<div class="row mb-10">
		<div class="col-lg-12 bg-light">
			<h5 class="text-center">
				<strong>APPROVAL SIGNATURES</strong>
			</h5>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-2 col-sm-12 col-xs-12">
			<label class="control-label">
				HR Manager Name
			</label>
		</div>
		<div class="col-lg-100 col-sm-12 col-xs-12">
			<$client.env.FormField.a21_HR_Manager.HTML>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-1 col-sm-12 col-xs-12">
			<label class="control-label">
				Signature
			</label>
		</div>
		<div class="col-lg-7 col-sm-12 col-xs-12">
			<$client.env.FormField.a22_HR_Signature.HTML>
		</div>
		<div class="col-lg-1 col-sm-12 col-xs-12">
			<label class="control-label">
				Date
			</label>
		</div>
		<div class="col-lg-3 col-sm-12 col-xs-12">
			<$client.env.FormField.a23_HR_Date.HTML>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-2 col-sm-12 col-xs-12">
			<label class="control-label">
				Approver #1 Name
			</label>
		</div>
		<div class="col-lg-6 col-sm-12 col-xs-12">
			<$client.env.FormField.a24_Approver1.HTML>
		</div>
		<div class="col-lg-1 col-sm-12 col-xs-12">
			<label class="control-label">
				Title
			</label>
		</div>
		<div class="col-lg-3 col-sm-12 col-xs-12">
			<$client.env.FormField.a25_Approver_Title.HTML>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-1 col-sm-12 col-xs-12">
			<label class="control-label">
				Signature
			</label>
		</div>
		<div class="col-lg-7 col-sm-12 col-xs-12">
			<$client.env.FormField.a26_Approver_Signature.HTML>
		</div>
		<div class="col-lg-1 col-sm-12 col-xs-12">
			<label class="control-label">
				Date
			</label>
		</div>
		<div class="col-lg-3 col-sm-12 col-xs-12">
			<$client.env.FormField.a27_Approver_Date.HTML>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-2 col-sm-12 col-xs-12">
			<label class="control-label">
				Approver #2 Name
			</label>
		</div>
		<div class="col-lg-6 col-sm-12 col-xs-12">
			<$client.env.FormField.a28_Approver2.HTML>
		</div>
		<div class="col-lg-1 col-sm-12 col-xs-12">
			<label class="control-label">
				Title
			</label>
		</div>
		<div class="col-lg-3 col-sm-12 col-xs-12">
			<$client.env.FormField.a29_Approver2_Title.HTML>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-1 col-sm-12 col-xs-12">
			<label class="control-label">
				Signature
			</label>
		</div>
		<div class="col-lg-7 col-sm-12 col-xs-12">
			<$client.env.FormField.a30_Approver2_Signature.HTML>
		</div>
		<div class="col-lg-1 col-sm-12 col-xs-12">
			<label class="control-label">
				Date
			</label>
		</div>
		<div class="col-lg-3 col-sm-12 col-xs-12">
			<$client.env.FormField.a31_Approver2_Date.HTML>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-2 col-sm-12 col-xs-12">
			<label class="control-label">
				Approver #3 Name
			</label>
		</div>
		<div class="col-lg-6 col-sm-12 col-xs-12">
			<$client.env.FormField.a32_Approver3.HTML>
		</div>
		<div class="col-lg-1 col-sm-12 col-xs-12">
			<label class="control-label">
				Title
			</label>
		</div>
		<div class="col-lg-3 col-sm-12 col-xs-12">
			<$client.env.FormField.a33_Approver3_Title.HTML>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-1 col-sm-12 col-xs-12">
			<label class="control-label">
				Signature
			</label>
		</div>
		<div class="col-lg-7 col-sm-12 col-xs-12">
			<$client.env.FormField.a34_Approver3_Signature.HTML>
		</div>
		<div class="col-lg-1 col-sm-12 col-xs-12">
			<label class="control-label">
				Date
			</label>
		</div>
		<div class="col-lg-3 col-sm-12 col-xs-12">
			<$client.env.FormField.a35_Approver3_Date.HTML>
		</div>
	</div>
	<p class="invisible">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta eius nam quas reiciendis dolorem quia architecto vitae praesentium consequatur eaque. Velit sunt ipsam, harum at ab vero quo odit tempore.
	</p>
    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="lifesuite__clearfix lifesuite__float-right">
            <$client.env.FormButtons>
        </div>
    </div>
</main>

<div style="display:none;">
	<$client.env.FormField.SignatureVerification.HTML>
	<$client.env.FormField.SignatureVerification2.HTML>
	<$client.env.FormField.SignatureVerification3.HTML>
	<$client.env.FormField.SignatureVerification4.HTML>
	<$client.env.FormField.SignatureVerification5.HTML>
</div>

</form>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/bootstrap.min.js>"></script>
<script type="text/javascript">
showScreen('over');
ChangeCalendarIcons(); //for popup calendar
/* RESPONSIVE eFORM BUTTONS STYLE */
$(window).on('load', function() {
    "use strict";
    $("#buttonCancel").removeClass().addClass("lifesuite__button").prop('id','ButtonCancel');
    $("#buttonSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSave');
    $("#buttonSaveAndComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSaveAndComplete');
    $("#buttonPrint").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPrint');
    $("#buttonPreviewDelete").removeClass().addClass("lifesuite__button").prop('id','ButtonPreviewDelete');
    $("#buttonPreviewSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPreviewSave');
    $("#buttonComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonComplete');
    $('#formButtons').show();
    $("input[type=text]").addClass('lifesuite__text-input');
    $("input[type=text].hasDatepicker").addClass('dateField');
    $("select").addClass('lifesuite__select-input');
    $("input[type=radio]").addClass('lifesuite__radio');
    $("input[type=checkbox]").addClass('lifesuite__checkbox');
    $("textarea").addClass('lifesuite__textarea-input');
    $('label').addClass('lifesuite__input-label lifesuite__input—block');
});

function disableCalButton(el) {
    "use strict";
    el.parent().find('input').prop('disabled', 'disabled');
}

$(document).on('ready', function() {
    "use strict";
    $(".modal").hide();
    disableCalButton($('[name$=".a01_Effective_Date_display"], .date-disabled'));
});
</script>
