    <div class="container-fluid"> 
        <div class="form-group">
            <div style="min-height: 20px; height: 20px;"></div>
            <div class="row">
                <div class="header">
                    <span class="bold underlined">BINDING ARBITRATION AGREEMENT</span>
                </div>
            </div>
            <div style="min-height: 20px; height: 20px;"></div>
            <div class="row">
                <div class="col-md-12 lifesuite__clearfix text-justify">
                    <ol>
                        <li>
                            <span class="underlined">Agreement to Arbitrate Disputes</span>. I (“Employee”) agree and acknowledge that Experis US, Inc. (“Experis”) and I will utilize binding arbitration to resolve any and all covered disputes that may arise between us, as set forth more fully in the sections below. Any reference to Experis also includes the entity or entities that actually employs or has employed you, or that you have applied for employment with, including, but not limited to any parent companies, subsidiaries, and affiliated entities. I understand and agree to this binding Arbitration Agreement and that I and Experis give up our respective rights to trial by judge or jury of any covered claim that I may have against Experis or that Experis may have against me.
                            <ol>
                                <li>
                                    Experis and I mutually agree that any covered claim, dispute, and/or controversy, past, present, or future, that Experis may have against you or that you may have against Experis, or its officers, directors, shareholders, members, owners, and employees (all of whom may enforce this Agreement as either a direct or third-party beneficiary) arising from, related to, or having any relationship or connection whatsoever with my seeking employment with, employment by, separation from employment, or any other association with Experis shall be submitted to, resolved, and determined exclusively by binding arbitration under the Federal Arbitration Act (9 U.S.C. §§ 1, et seq.) (“FAA”). Claims against any alleged joint employers or against any Experis client companies or any companies to whom Employee is assigned while working for or employed by Experis are specifically included within the scope of this Agreement, and such entities are third-party beneficiaries to this Agreement and may enforce this Agreement as third-party beneficiaries.
                                </li>
                                <li>
                                    Unless excluded below in Section 1.C, this Agreement applies, without limitation, to claims based upon or related to discrimination, harassment, retaliation, defamation (including post-employment defamation or retaliation), breach of a contract or covenant, fraud, negligence, breach of fiduciary duty, trade secrets, unfair competition, wages, minimum wage and overtime or other compensation or any monies claimed to be owed, meal breaks and rest periods, termination, tort claims, common law claims, equitable claims, and claims arising under the Defend Trade Secrets Act, Fair Credit Reporting Act, Civil Rights Act of 1964, Americans With Disabilities Act, Age Discrimination in Employment Act, Family Medical Leave Act, Fair Labor Standards Act, Employee Retirement Income Security Act (except for claims for employee benefits under any benefit plan sponsored by the Company and (a) covered by the Employee Retirement Income Security Act of 1974 or (b) funded by insurance; however, this Agreement does apply to any claims for breach of fiduciary duty, for penalties, or alleging any other violation of ERISA, even if such claim is combined with a claim for benefits), Affordable Care Act, Genetic Information Non-Discrimination Act, Uniformed Services Employment and Reemployment Rights Act, Worker Adjustment and Retraining Notification Act, Older Workers Benefits Protection Act of 1990, Occupational Safety and Health Act, Consolidated Omnibus Budget Reconciliation Act of 1985, False Claims Act, state statutes or regulations addressing the same or similar subject matters, and all other federal, state, or local legal claims arising out of or relating to my application for employment, employment or the termination of employment.
                                </li>
                                <li>
                                    <p>The following claims are excluded from arbitration: (a) administrative claims by me for workers' compensation or unemployment benefits; (b) claims for sexual harassment or hostile work environment based on gender and claims for sexual assault unless the parties jointly agree to arbitrate such claims after the claim(s) is asserted; (c) Private Attorneys General Act representative claims under California law; and (d) claims seeking relief according to federal statutes which expressly prohibit arbitration or for which this Agreement would be invalid as a matter of applicable federal law.</p>
                                    <p>Both Experis and Employee may apply to a court of competent jurisdiction for temporary or preliminary injunctive relief in connection with an arbitrable controversy. However, all determinations of final relief will be decided in arbitration, and the pursuit of temporary or preliminary injunctive relief shall not be deemed incompatible with or constitute a waiver of rights under this Agreement.</p>
                                    <p>Nothing in this Agreement prevents you from participating in any investigation by, making a report to or filing a claim or charge with a governmental agency, including without limitation, the Equal Employment Opportunity Commission, U.S. Department of Labor, Securities Exchange Commission, National Labor Relations Board, Occupational Safety and Health Administration, or law enforcement agencies. Nothing in this Agreement prevents or excuses a party from exhausting administrative remedies by filing any charges or complaints required by any governmental agency (including without limitation the Equal Employment Opportunity Commission and/or similar state or local agency) before bringing a claim in Arbitration.</p>
                                </li>
                                <li>
                                    <p>The parties shall select the neutral Arbitrator by mutual agreement. If the parties cannot mutually agree to an arbitrator, the arbitration will be administered by the American Arbitration Association (“AAA”), and except as provided in this Agreement, will be under the then current Employment Arbitration Rules of the AAA (“AAA Rules”) (the AAA Rules are available via the internet at www.adr.org/employment or by using a service such as www.google.com or www.Bing.com to search for “AAA Employment Arbitration Rules”.). Unless the parties jointly agree otherwise, the Arbitrator must be an attorney experienced in employment law and licensed to practice law in the state in which the arbitration is convened, or a retired judge from any jurisdiction. If the AAA will not administer the arbitration, either party may apply to a court of competent jurisdiction with authority over the location where the arbitration will be conducted to appoint a neutral Arbitrator. Unless the parties jointly agree otherwise, the arbitration will take place in or near the city where I am currently employed or was last employed by Experis.</p>
                                    <p>The arbitrator shall have the authority to consider and rule on dispositive motions such as motions to dismiss or motions for summary judgment in accordance with the standards and burdens generally applicable to such motion in federal district court, except that the arbitrator may establish appropriate and less formal standards and procedures for such motions at the arbitrator’s discretion consistent with the expedited nature of arbitration proceedings. The arbitrator may issue subpoenas to compel the attendance of witnesses at the arbitration hearing and to compel the production of documents during discovery and shall do so upon reasonable request of either party. The Arbitrator shall apply the substantive federal, state, or local law applicable to the claims asserted. Awards shall include the arbitrator's written reasoned opinion. The award issued by the Arbitrator may be entered in any court of competent jurisdiction.</p>
                                </li>
                                <li>
                                    <strong><u>Class Action Waiver.</u></strong> I understand and agree that all claims against Experis must be brought in my individual capacity and not as a plaintiff or class member in any purported class action, group action, collective action or representative action proceeding. Similarly, any claims by Experis against me may not be brought as a plaintiff or class member in any purported class action, collective action or representative action proceeding. I understand that there is no right or authority for any dispute to be heard or arbitrated on a collective action basis, class action basis, representative action basis or on behalf of other persons alleged to be similarly situated. I understand that there are no class actions, collective actions, or representative actions permitted under this Arbitration Agreement. The Arbitrator shall not consolidate claims of different employees into one proceeding, nor shall the Arbitrator have the power to hear arbitration as a class action, collective action, or representative action. The Class Action Waiver will be severable from this Agreement in any case in which there is a final judicial determination that the Class Action Waiver is invalid, unenforceable, unconscionable, void or voidable. In such case, the class and/or collective action and/or representative action must be litigated in a civil court of competent jurisdiction—not in arbitration, but any part of the Class Action Waiver that is enforceable will be enforced in arbitration. Regardless of anything else in this Agreement and/or the AAA Rules or other applicable rules, or any amendments and/or modifications to those rules, any claim that all or part of the Class Action Waiver, including, but not limited to any claim that all or part of the Class Action Waiver is invalid, unenforceable, unconscionable, void or voidable, may be determined only by a court of competent jurisdiction and not by an arbitrator.
                                </li>
                                <li>
                                    Experis will pay the Arbitrator’s and arbitration fees and costs, except for the filing fee as required by AAA. I will not be required to pay a filing fee that exceeds the filing fee for the claim(s) if such claim(s) were brought in a court of competent jurisdiction. If I am financially unable to pay a filing fee, I will be relieved of the obligation to pay the filing fee, and any disputes in this regard will be decided by the Arbitrator. Each party will pay for its own costs and attorneys' fees, if any, but if any party prevails on a claim which affords the prevailing party attorneys' fees, the Arbitrator may award reasonable fees to the prevailing party as provided by law. The Arbitrator will resolve any disputes regarding costs/fees associated with arbitration.
                                </li>
                                <li>
                                    <strong>I understand that I may opt-out and not be subject to arbitration</strong>. Arbitration is not a mandatory condition of Employee’s employment with Experis and the decision to opt-out or not opt-out is completely voluntary. To opt out, you must sign the “Arbitration Agreement Opt-Out” form on the next page. Alternatively, you may email <u>onboardingcompliance@experis.com</u> to request the “Arbitration Agreement Op-Out” form and then return the opt-out form to the same email address. To be effective, your written opt-out notice must be received by Experis within thirty (30) days after your first receipt of this Agreement. If you opt-out as provided in this paragraph, you will not be subject to any adverse employment action as a consequence of that decision and may pursue available legal remedies without regard to this Agreement.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <span class="underlined">Entire Agreement</span>. This is the entire agreement between Experis and me regarding dispute resolution, and this agreement supersedes any and all prior agreements regarding these issues. The mutual promises to arbitrate provide consideration for this Agreement. It is further agreed and understood that any agreement contrary to the foregoing must be entered into, in writing, by the Senior Vice President of Experis to be binding against Experis. No supervisor or representative of Experis, other than the Senior Vice President of Experis, has any authority to enter into any agreement contrary to the foregoing. <strong><u>Oral representations made before or after you are hired do not alter this Agreement.</u></strong> Any contractual disclaimers the Company has in any handbooks, other agreements, or policies do not apply to this Agreement.
                        </li>
                        <li>
                            <span class="underlined">Severance</span>. Subject to Section 1.E of this Agreement, if any term or provision, or portion of this Agreement is declared void or unenforceable it shall be severed, and the remainder of this Agreement shall be enforceable. Additionally, the parties agree that if a party brings an action that includes both claims subject to arbitration under this Agreement and claims that by law are not subject to arbitration, all claims that by law are not subject to arbitration shall be stayed until the claims subject to arbitration under this Agreement are fully arbitrated. The parties further agree that in such a situation, the arbitrator's decision on the claims subject to arbitration, including any determinations as to disputed factual or legal issues, shall be entitled to full force and effect in any separate lawsuit on claims that by law are not subject to arbitration.
                        </li>
                    </ol>
                    <div class="bold">
                        IF YOU HAVE ANY QUESTIONS REGARDING THIS AGREEMENT, PLEASE ASK AN EXPERIS REPRESENTATIVE BEFORE SIGNING. You may also want to consult your own private legal counsel. This is an important document that affects your legal rights.
                    </div>
                    <div style="min-height: 20px; height: 20px;"></div>
                    <div>
                        By signing below, and also by reporting to work and continuing your employment with Experis after the date that you are notified that this Agreement will be in effect, subject to your right to opt-out, you agree to be bound to this Binding Arbitration Agreement, as does Experis. You understand that, as more fully set forth above, you must arbitrate any and all covered disputes and legal claims against Experis and that you are waiving the right to a jury trial or to sue in court
                    </div>
                </div>
            </div>
            <div style="min-height: 100px; height: 100px;"></div>
            <div class="row">
                <div class="col-md-12 lifesuite__clearfix bold text">
                    DO NOT SIGN UNTIL YOU HAVE READ AND UNDERSTAND THIS AGREEMENT.
                </div>
            </div>
            <div style="min-height: 20px; height: 20px;"></div>
            <div class="row">
                <div class="col-md-6 lifesuite__clearfix text">
                    <$client.env.FormField.A001_Employee_Signature.HTML>
                    <div>Employee's Signature</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 lifesuite__clearfix text">
                    <$client.env.FormField.A002_Employee_Phone_Number.HTML>
                    <div>Employee’s Phone Number</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-3 lifesuite__clearfix text">
                    <$client.env.FormField.A003_Date.HTML>
                    <div>Date</div>
                </div>
            </div>
            <div style="min-height: 10px; height: 10px;"></div>
            <div class="row">
                <div class="col-md-6 lifesuite__clearfix text">
                    <div class="image-container">
                        <img class="img-responsive" src="images/signature.png"> 
                    </div>
                    _______________________________________________<br>
                    Perry Wedum<br>
                    Senior Vice President Experis North America
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-3 lifesuite__clearfix text">
                    <$client.env.FormField.B000_Date.HTML>
                    <div>Date</div>
                </div>
            </div>
            <hr class="lifesuite__hr">
            <div class="row" id="formButtons" style="display: none;">
                <div class="lifesuite__clearfix lifesuite__float-right">               
                    <$client.env.FormButtons>
                </div>             
            </div>
        </div>
    </div>
