<!-- Main QA Area --> 
 
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement --> 
<div class="modal" id="modal" style="display:none;"> 
              <div class="modal-content"> 
                             <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
                             </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
                                                         <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature','eSignature1','name','modal','over','sv','SignatureDate');xbObj('eSignature1').value='';document.getElementById('eSignature1').focus();">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','SignatureDate');}">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';">
                                           </div> 
                             </div> 
              </div> 
</div> 
<div class="modal" id="modal2" style="display:none;"> 
              <div class="modal-content"> 
                             <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature2" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
                             </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
                                                         <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature2','eSignature2','company-name','modal2','over','sv2','CompanySignatureDate');xbObj('eSignature2').value='';document.getElementById('eSignature2').focus();">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature2').value='';showHide('modal2');showHide('over');xbObj('eSignature2').value='';if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','CompanySignatureDate');}">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal2');showHide('over');xbObj('eSignature2').value='';"> 
                                           </div> 
                             </div> 
              </div> 
</div> 
<div id="over" style="display:none;"></div> 
<SCRIPT> 
    showScreen('over') 
</SCRIPT> 
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
  
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!-- RESPONSIVE eFORM PAGE LOADER--> 
  
<div class="modal" style="display:block; background: #002E6D;"> 
              <div class="fb-spinner"> 
                             <i class="fa fa-2x fa-spinner fa-pulse"></i> 
              </div> 
</div> 
  
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
 
<form id='australia-offer-letter' name='frmForm' action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);"> 

<div style="display:none;">
<$client.env.FormField.Form_Name.prompt>
<$client.env.FormField.Form_Name.HTML>
<$client.env.FormField.Form_Type.prompt>
<$client.env.FormField.Form_Type.HTML>
<$client.env.FormField.Form_Owner.prompt>
<$client.env.FormField.Form_Owner.HTML>
<$client.env.FormField.Form_CreateDate.prompt>
<$client.env.FormField.Form_CreateDate.HTML>
<$client.env.FormField.Form_Completed.prompt>
<$client.env.FormField.Form_Completed.HTML>
<$client.env.FormField.Form_Delivered.prompt>
<$client.env.FormField.Form_Delivered.HTML>
<$client.env.FormField.Form_TaskId.prompt>
<$client.env.FormField.Form_TaskId.HTML>
<$client.env.FormField.display_version.HTML>
<!-- Your Required/Validated Form Fields -->

<$client.env.formfield.CompanySignature.prompt>
<$client.env.formfield.CompanySignatureDate.prompt>
<$client.env.formfield.PrintedSignatoryName.prompt>
<$client.env.formfield.Signature.prompt>
<$client.env.formfield.SignatureDate.prompt>
<$client.env.formfield.PrintedEmployeeName.prompt>
</div>

<input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">

<!-- Begin HTML Content -->

<main id='container'  class="container-fluid">
     <div class="row" style="margin-bottom: 20px;">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 imgr">
               <img src="logo.png" class="img-responsive" style="max-width: 120px;">
          </div>
     </div >
     <div class="row" style="margin-bottom: 20px;">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
               <p style="font-size: 10px !important;">PayPal Australia Pty Limited<br>ABN 93 111 195 389<br>Level 23, 1 York Street<br>Sydney NSW 2000 Australia</p>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 inner-wrapper">
               <div id='incomplete'> 
                    <div id="markup"></div>
               </div>
               <div id='complete'></div>
          </div>
     </div >
     <div id='fields'>
          <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5><span class="signature-section-title">Company:</span></h5>
               </div>
          </div>
          <div class="row">
               <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <label class="control-label">Signature: <span class="font-red">*</span> </label> 
               </div>
               <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="form-group">
                         <$client.env.FormField.CompanySignature.html>
                    </div>
               </div>
               <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <label class="control-label">Date: </label>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" id="sign-date-container2">
                         <$client.env.FormField.CompanySignatureDate.html>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-sm-12">&nbsp;</div>
          </div>
          <div class="row">
               <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <label class="control-label">Name: </label>
               </div>
               <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <$client.env.FormField.CompanyName.html>
               </div>
          </div>
<br><br>
          <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5><span class="signature-section-title">Accepted:</span></h5>
               </div>
          </div>
          <div class="row">
               <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <label class="control-label">Signature: <span class="font-red">*</span> </label> 
               </div>
               <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="form-group">
                         <$client.env.FormField.Signature.html>
                    </div>
               </div>
               <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <label class="control-label">Date: </label>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" id="sign-date-container">
                         <$client.env.FormField.SignatureDate.html>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-sm-12">&nbsp;</div>
          </div>
          <div class="row">
               <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <label class="control-label">Name: </label>
               </div>
               <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <$client.env.FormField.Name.html>
               </div>
          </div>
     </div>
     <hr class="lifesuite__hr">
     <div class="row" id="formButtons" style="display: none;">
          <div class="lifesuite__clearfix lifesuite__float-right">                
               <$client.env.FormButtons> 
          </div>
     </div>
</main> 

<div style="display:none;">
<div id="markup2"></div>
<div id="markup3"></div>
<div id="markup4"></div>
<$client.env.formfield.headerpg1.html>
<$client.env.formfield.hidden_pg.html>
<$client.env.formfield.hidden_pg2.html>
<$client.env.formfield.hidden_pg3.html>
<$client.env.formfield.hidden_pg4.html>
<$client.env.formfield.Recruiter_Signature.html>
<$client.env.formfield.SignatureVerification.html>
<$client.env.formfield.SignatureVerification2.html>
<$client.env.formfield.State.html>
<$client.env.formfield.EmployeeStamp.html>
<$client.env.formfield.SignatoryStamp.html>
</div>

</form>

<script>

//Show populated form if already completed
var strCompletedForm = FORM_COMPLETED;
if (strCompletedForm != "")
{
//Gather the fields that need to be displayed
//For images we need to setup the image tag. 
var imgHeader = "<img src='<$client.env.formfield.headerpg1.value>' />";
var imgVPSignature = "<img src='<$client.env.formfield.vpsignature.value>' />";

//Create an array of info to pass to complete the offer letter
//0 for images sending an image tag, 1 for sections of text sneding the ID of the field that holds the HTML.
var arrParts = [
  [1,'hidden_pg']
];
//Send (ID of the div to hide,ID of the div to show,Parts to get the offer letter)
showCompletedOfferLetter('incomplete','complete',arrParts);
} else {
//If the offer letter is not complete set up the logos and link field values.
 
}
</script>// Australia Offer Letter
function fnView() {
    $("#markup").html("").append(
        // OfferClause 1
        $('<div class="offerClause"/>').append(
            $('<p/>').html('<mark>' + employee.Current_Date + '</mark>')
        ),
          $('<div class="offerClause">').append(
            $('<p/>').append(
                $('<mark/>').html(employee.Full_Legal_Name + '<br>'),
                $('<mark/>').html(employee.Address_Line_1 ? employee.Address_Line_1 + '<br>' : '&nbsp;<br>'),
                (employee.Address_Line_2) &&
                $('<mark/>').html(employee.Address_Line_2 ? employee.Address_Line_2 + '<br>' : ''),
                $('<mark/>').html(employee.City ? employee.City: ''),
                $('<span/>').html(employee.City ? ', ' : ', '),
                $('<mark/>').html(employee.State ? employee.State: ''),
                $('<span/>').html(employee.State ? ', ' : ', '),
                $('<span/>').html(employee.Postal_Code ? ' ' : ' '),
                $('<mark/>').html(employee.Postal_Code)
            )
        ),
        $('<div class="offerClause" style="line-height: 0px;"/>').append(
            $('<p/>').html('&nbsp;')
        ),
        $('<div class="offerClause"/>').append(
            $('<p/>').html('Dear ' + (employee.Preferred_First_Name ? '<mark>'+employee.Preferred_First_Name+'</mark>' : '<mark>'+employee.First_Name+'</mark>') + ',')
        ),
        // Paragraph 1
        $('<div class="offerClause"/>').append(
            $('<p/>').html(
                'We are delighted to offer you the position of ' + '<mark>'+ employee.Job_Title + '</mark>' + ' with PayPal Australia Pty Ltd (the "Company") following your recent meetings and discussions. Your start date will be ' + '<mark>'+ employee.Start_Date + '</mark>' + '. Your gross annual base salary will be ' + '<mark>' + employee.Salary_Amount + '</mark>' + ' ' + '<mark>' + employee.Salary_Currency + '</mark>' + ', ' + ((employee.Employee_Type == 'I' || employee.Employee_Type == 'T') ? 'prorated, ' : '') + ' paid monthly.'
            )
        ),
        (employee.AIP == 'Yes') &&
        $('<div class="offerClause marked" data-toggle="popover" data-placement="top" data-content="Qualifies for Annual Incentive Plan (AIP)"/>').append(
            $('<p/>').append(
                'You will be eligible to participate in a variable compensation plan with a target incentive of ',
                $('<mark/>').append(employee.eIP_Target_Pct, '%'),
                '. The payment of any incentive is at the Company’s sole and absolute discretion and subject to the terms and conditions of the plan. The Company reserves the right, in its sole discretion, to amend, change or cancel the plan at any time. Further information is contained in your employment contract. '
            )
        ),
        // Paragraph 2
        (employee.Eligible_Sales_Incentive == 'Yes') &&
        $('<div class="offerClause marked" data-toggle="popover" data-placement="top" data-content="Qualifies for Variable Compensation Plan"/>').append(
            $('<p/>').append(
                'You will be eligible to participate in a variable compensation plan with an annualised target incentive of ',
                $('<mark/>').append(employee.SalesTargetAmt),
                ' ',
                $('<mark/>').append(employee.SalesTargetCurrency),
                '. Details of the plan will be provided to you by your manager. The payment of any incentive is at the Company’s sole and absolute discretion and subject to the terms and conditions of the plan. The Company reserves the right, in its sole discretion, to amend, change or cancel the plan at any time. Further information is contained in your employment contract.'
            )
        ),
        // Paragraph 3
        (employee.Relocation == 'Y') &&
        $('<div class="offerClause marked" data-toggle="popover" data-placement="top" data-content="Employee is Relocating"/>').append(
            $('<p/>').append(
                'To help you relocate from ',
                $('<mark/>').append(employee.RelocationFrom),
                ' to ',
                $('<mark/>').append(employee.RelocationTo),
                ', you will be entitled to assistance  as outlined in your Relocation Agreement. Upon acceptance of this offer letter our relocation partner AIRES will contact you directly to initiate this process.'
            )
        ),
        // Paragraph 4
        (employee.Relocation_Bonus == 'Yes') &&
        $('<div class="offerClause marked" data-toggle="popover" data-placement="top" data-content="Qualifies for Relocation Bonus"/>').append(
            $('<p/>').html(
                'As part of the relocation assistance, you shall also receive a one-time relocation allowance of ' + '<mark>'+ employee.Relocation_Amount + '</mark>' + ' ' + '<mark>' + employee.Relocation_Currency + '</mark>' + ' payable during the first month of employment. This payment is subject to the applicable deductions and taxes. Should your employment with the Company terminate for reasons of cause or resignation within 12 full months of your Start Date, you must repay in full the relocation allowance and any associated expenses to the Company. No repayment is required for termination after twelve months of employment. To the extent permitted by law, the Company is authorised to withhold any monies due to you at the time of termination an amount necessary to satisfy this obligation.'
            )
        ),
        // Paragraph 5
        (employee.SignOn_Bonus == 'Yes') &&
        $('<div class="offerClause marked" data-toggle="popover" data-placement="top" data-content="Qualifies for One-time Sign On Bonus"/>').append(
            $('<p/>').append(
                'You shall receive a Hiring bonus of ',
                $('<mark/>').append(employee.Signing_Bonus_Amount),
                ' ',
                $('<mark/>').append(employee.Signing_Bonus_Currency),
                ', paid with your first salary. This payment is subject to the applicable deductions and taxes. In the event that your employment ceases for any reason prior to completion of the first year from the Start Date, the Company may require you to refund the net value of the Hiring bonus. The net value of the Hiring bonus shall be refundable to the Company on a pro-rated basis and your repayment obligation will be reduced by 1/12 for every full month of employment over the course of the year.'
            )
        ),
        // Paragraph 6
        $('<div class="offerClause"/>').append(
            $('<p/>').html(
                'You will be entitled to the statutory benefits in Australia and you will receive further details in your offer pack.'
            ),
            $('<p/>').html(
                'As a condition of your employment, you will be required to sign an employment contract containing the terms set forth in this offer letter, as well as additional terms outlined in the contract.'
            )
        ),
        // Paragraph 7
        $('<div class="offerClause"/>').append(
            $('<p/>').html(
                'This offer of employment is made subject to:'
            ),
            $('<ol/>').append(
                $('<li/>').html(
                    'Receipt, prior to your start date, of satisfactory references from your current employer or any other applicable references;'
                ),
                $('<li/>').html(
                    'Successful completion of international background checks;'
                ),
                $('<li/>').html(
                    'You meeting any applicable requirements as determined by APRA, AUSTRAC or ASIC from time to time; and'
                ),
                $('<li/>').html(
                    'Proof of your ability to work in Australia on a continuous basis.'
                )
            )
        ),
        // Paragraph 8
        $('<div class="offerClause"/>').append(
            $('<p/>').html(
                'This offer of employment will lapse if not signed and returned within 10 days of the date of issue.'
            )
        ),
        // Paragraph 9
        $('<div class="offerClause"/>').append(
            $('<p/>').html(
                'Please bring proof of your ability to work in Australia with you on your first day as we will need to see the original and take a copy for our files. If you are unable to bring this documentation to the office, we will require you to send certified copies to us prior to your start date. '
            )
        ),
        // Paragraph 10
        $('<div class="offerClause"/>').append(
            $('<p/>').html(
                'All of us at PayPal Australia Pty Ltd are very excited about you joining our team and look forward to a beneficial and fruitful working relationship.'
            )
        ),
        $('<div class="offerClause"/>').append(
            $('<p/>').html(
                'Yours sincerely,'
            )
        ),
        $('<div class="offerClause">').append(
            $('<p/>').append(
                $('<mark class="signDisplay2"/>').html(''),
                $('<span/>').html('On behalf of PayPal Australia Pty Ltd')
            )
        )
        // end append
    );

    $("#markup2").html("").append(
        // OfferClause 2
        $('<div class="offerClause2">').append(
            $('<p/>').html(
                '<strong>Company:</strong>'
            )
        )
        // end append
    );

    $("#markup3").html("").append(
        // OfferClause 3
        $('<div class="offerClause3">').append(
            $('<p/>').html(
                '<strong>Accepted:</strong>'
            )
        )
        // end append
    );

    $("#markup4").html("").append(
        // OfferClause 4
        $('<div class="offerClause4">').append(
            $('<p/>').html(
                'PayPal Australia Pty Limited<br>ABN 93 111 195 389<br>Level 23, 1 York Street<br>Sydney NSW 2000 Australia'
            )
        )
        // end append
    );
}

$(function() {
    $("#state").val(employee.State);
    employee.State = $("#state option:selected").text();
    employee.Recruiter_Name = $("#recruiter_signature").val();
    
    // render template
    fnView();

    // completed letter
    if (!$("input.calendar_button").length) {
        $("#ButtonSaveAndComplete").remove();
        $("input[type=text]").removeAttr('onfocus').attr("disabled", "disabled");

        var arrParts = [
            [1, 'hidden_pg']
        ];

        showCompletedOfferLetter('incomplete', 'complete', arrParts);
    }
});

<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/front_validator.js>"></script> 
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/bootstrap.min.js>"></script> 
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/Australia_Offer_Letter/script_Version_4.js>"></script>
<script type="text/javascript"> 

    ChangeCalendarIcons(); //for popup calendar  

$(window).ready(function() { 

        $("#buttonCancel").removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue"); 
        $("#buttonCancel").addClass("lifesuite__button"); 
        $('#buttonCancel').attr('id','ButtonCancel'); 
        $("#buttonSave").removeClass("appInputButton RCappInputButtonBlue"); 
        $("#buttonSave").addClass("lifesuite__button primary"); 
        $('#buttonSave').attr('id','ButtonSave'); 
        $("#buttonSaveAndComplete").removeClass("appInputButton RCappInputButtonBlue"); 
        $("#buttonSaveAndComplete").addClass("lifesuite__button primary"); 
        $('#buttonSaveAndComplete').attr('id','ButtonSaveAndComplete').removeAttr('onclick'); 
        $("#buttonPrint").removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue"); 
        $("#buttonPrint").addClass("lifesuite__button"); 
        $('#buttonPrint').attr('id','ButtonPrint').removeAttr('onclick');  
        $("#buttonPreviewDelete").removeClass("appInputButton RCappInputButtonRed"); 
        $("#buttonPreviewDelete").addClass("lifesuite__button"); 
        $('#buttonPreviewDelete').attr('id','ButtonPreviewDelete'); 
        $("#buttonPreviewSave").removeClass("appInputButton RCappInputButtonBlue"); 
        $("#buttonPreviewSave").addClass("lifesuite__button primary"); 
        $('#buttonPreviewSave').attr('id','ButtonPreviewSave'); 
        $("#buttonComplete").removeClass("appInputButton RCappInputButtonBlue"); 
        $("#buttonComplete").addClass("lifesuite__button primary"); 
        $('#buttonComplete').attr('id','ButtonComplete'); 
       $('#buttonPrint').removeAttr('onclick');
       $('#buttonSaveAndComplete').removeAttr('onclick');

       document.getElementById('formButtons').style.display = "block"; 

        $("input[type=text]").addClass('lifesuite__text-input'); 
        $("input[type=text].hasDatepicker").addClass('dateField'); 
        $("select").addClass('lifesuite__select-input'); 
        $("input[type=radio]").addClass('lifesuite__radio'); 
        $("input[type=checkbox]").addClass('lifesuite__checkbox'); 
        $("textarea").addClass('lifesuite__textarea-input'); 
        $('label').addClass('lifesuite__input-label lifesuite__input—block'); 



  $('#australia-offer-letter').on('click change', 'input:visible[type="radio"]', function() {
    validateField($(this));
  });

  $('#australia-offer-letter').on('change', 'input:visible:not(#signature):not(:button), select:visible', function() {
    validateField($(this));
  });

  $('#modal').on('click', 'input.lifesuite__button', function() {
    validateField($('#signature'));
    validateField($('#sign-date-container .cal_and_button input:not(:button)'), true);
  });

  $('#modal2').on('click', 'input.lifesuite__button', function() {
    validateField($('#signature2'));
    validateField($('#sign-date-container2 .cal_and_button input:not(:button)'), true);
  });

  $('#ButtonPrint, #buttonPrint, #ButtonSaveAndComplete, #buttonSaveAndComplete').on('click', function(e) {
    var formIsValid = true, btn = $(this);
    e.preventDefault();
    $.each($('#australia-offer-letter input:visible:not(:button), #australia-offer-letter select:visible'), function(k, v) {
      if(false == validateField($(v)) && $(v).is(':visible')) {
        formIsValid = false;
      }
    });
    if (formIsValid) {
      switch (btn.attr('id')) {
        case 'ButtonPrint':
          funcPrint();
        break;
        case 'ButtonSaveAndComplete':
          completeStamp("<$client.env.eval((client.role.rc_canada_company_signatory==1)?'SignatoryStamp':'')>");
          completeStamp("<$client.env.eval((url.forWhom==account.userguid)?'EmployeeStamp':'')>");
          funcSaveAndComplete();
        break;
      }
    }
  });
$( window ).resize(function() { 

document.getElementById('over').style.width=''; 

}); 
  var assignee = "<$client.account.username_first> <$client.account.username>";
  var recruiter_signature = document.getElementById('recruiter_signature');
  var rec_name =  document.getElementById('company-name');

  if(!$('#signature2').val().length) {
    rec_name.value = <$client.env.eval((client.role.rc_australia_company_signatory==1)?'assignee':'null')>;
  }
  var isSignatory = <$client.env.eval((client.role.rc_australia_company_signatory==1)?'true':'false')>;
  var isEmployee = <$client.env.eval((url.forWhom==account.userguid)?'true':'false')>;
  var isRecruiter= <$client.env.eval((client.tEventManagers_Person_8.UserGuid==account.userguid)?'true':'false')>;
  var emp_name = document.getElementById('name'); 

  if(!$('#signature').val().length) {
    emp_name.value = <$client.env.eval((url.forWhom==account.userguid)?'assignee':'null')>;
  } 

  var init = function() {
    if($('#SignatoryStamp').prop('readonly')) {
      $('#signature, #signature2, .startDate').prop('onfocus',null);
      return false;
    }
    if (isSignatory && parseInt($('#SignatoryStamp').val()) === 0) { /* Fix client issue (When the company signatory signs or employee signs, the company signatory completed signature information is not captured. ) - 2018-09-07*/
      $('#signature2').val('');
      $('#SignatoryStamp').val(1);
      setTimeout(function() {
        $('.signDate2, #sv2').val('');
      }, 400);
    }
    if (isSignatory || (isEmployee &&  parseInt($('#EmployeeStamp').val()) === 0)) {
      $('#signature, #name').val('');
      $('#EmployeeStamp').val(1);
      setTimeout(function() {
        $('.signDate, #sv').val('');
      }, 400);
    }
   if(!isEmployee && !isSignatory) {
      $('#signature2, #signature, #company-name, #name, #sv, #sv2').val('');
      setTimeout(function() {
        $('.signDate, .signDate2').val('');
      }, 400);
    }
  }
  setTimeout(init(),400);
  if (isEmployee || isSignatory || isRecruiter) {$('.startDate').parent().find('input').prop('disabled', true);}

 var sigholder = document.getElementsByClassName('signDisplay2');
  //sigholder[0].innerHTML = recruiter_signature.value;
   sigholder[0].innerHTML = rec_name.value + '<br>';
var myVar = setInterval(function(){ 
if(document.getElementById('modal2').style.display=='block') {
document.getElementById('ButtonPrint').focus()
document.getElementById('eSignature2').focus()
clearInterval(myVar) 
}}, 500);


var myVar2 = setInterval(function(){ 
if(document.getElementById('modal').style.display=='block') {
document.getElementById('ButtonSaveAndComplete').focus()
document.getElementById('eSignature1').focus()
clearInterval(myVar2) 
}}, 500);

});

$('.signDate, .signDate2').parent().find('input').prop('disabled', true);

$( window ).resize(function() {
  document.getElementById('over').style.width='';
});



$(window).ready(function() { 
  
 var isNewhire = $('#hidden_pg').prop('readonly') || <$client.env.eval((url.forWhom==account.userguid)?'true':'false')>; 

  

  if (isNewhire) {  

    $('#tablePopup').addClass('deactivate-highlight');  

  } 

$('mark').each(function(x){ 
      if($('mark').eq(x).html().length <= 0){ 
        $('mark').eq(x).html('&nbsp;'); 
      } 
});

 var loadFriendlyTexts = function() { 

    if (!isNewhire) { 

      setTimeout(function() { 

        $('.marked').popover({ 'trigger': 'manual' }).popover('show'); 

        $('.popover-content').addClass('text-uppercase') 

      }, 500);  

    } 

  } 

  

  loadFriendlyTexts(); 

  

  $(window).on('resize', function() { 

    loadFriendlyTexts(); 

  }); 

 

// we need to cleanup the friendly text to prevent being included in print 

$('#ButtonPrint').prop('onclick', null); 

  $('#Canada_Employment_Agreement').on('click', '#ButtonPrint', function() { 

    $('.marked').popover('hide'); 

    $('.popover').remove(); 

    void(funcPrint()); 

  }); 

});

</script>
