<main class="container-fluid">
  <header>
    <h5 class="text-center">
      <strong>
        COLORADO COMMUNITY COLLEGE SYSTEM <br>
        CRIMINAL RECORD DISCLOSURE <br>
        Please print on all forms
      </strong>
    </h5>
  </header>
  <p>
    In connection with your application for or current employment, we may procure a criminal record and, if applicable to the employment you are applying for, a credit check or driving history report on you as part of the process of considering your suitability for employment with the Colorado Community College System. In the event that either or both of these reports are utilized in whole or in part in making an adverse decision with regard to your potential or current employment, before making the adverse decision, we will provide you with a copy of the criminal record, credit check and/or driving history report as well as a description in writing of your rights under the law.
  </p>
  <p>
    The Colorado Community College System also reserves the right to conduct a background check on a current employee.
  </p>
  <p>
    The Fair Credit Reporting Act gives you specific rights in dealing with consumer reporting agencies. You will find these rights summarized on the attached document.
  </p>
  <p>
    By your signature below, you hereby authorize us to obtain a criminal record and, if applicable to current employment or the employment you are applying for, a credit check or driving history report on you in order to consider your employment with the Colorado Community College System.
  </p>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Applicant's Name (Print):
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Applicant's Address:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          City, State &amp; Zip Code:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <p>
    Adult criminal convictions, guilty or nolo contendere pleas, deferred adjudications or deferred judgments from the age of 18 must be reported on the reverse side of this form. If the verification results show that false statements, including omission(s), were made, then application for employment, as well as any actions based on it, will be voided and the person will not be eligible for future employment with the Colorado Community College System.
  </p>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Signature:
        </label>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Date:
        </label>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
      <div class="form-group">
        <label class="control-label">
          Phone #:
        </label>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <h5 class="text-center">
    <strong>
      COLORADO COMMUNITY COLLEGE SYSTEM CONVICTION DETAIL
    </strong>
  </h5>
  <strong>Important Instructions:</strong>
  <ul>
    <li>
      You must list all adult criminal convictions, guilty or nolo contendere pleas, deferred adjudications or judgments.
    </li>
    <li>
      If the position you are applying for involves the operation of a state vehicle, you must list all adult driving offenses and convictions.
    </li>
    <li>
      Complete one section for each conviction, guilty or nolo contendere plea, deferred adjudication or judgment.
    </li>
    <li>
      Each reported record must be fully completed. Leave no blank spaces.
    </li>
    <li>
      Please attach a separate page if additional space is needed.
    </li>
    <li>
      You may not be able to modify this form later.
    </li>
  </ul>
  <strong>
    If you have no convictions, guilty or nolo contendere pleas, deferred judgments and/or deferred adjudications or applicable driving offenses to report, please check here and sign below.
  </strong>
</main>
