<main>
    <header class="text-center">
        <h4>
            <u>ADDITIONAL DISCLOSURES</u>
        </h4>
    </header>
    <p class="text-justify">
        <strong>All applicants/employees: ManpowerGroup</strong> and/or its subsidiaries, affiliates, other related entities, successors, and/or assigns (the “Company”), may obtain an investigative consumer report on you to be used for employment purposes, including your application for employment. Under federal law, an investigative consumer report is a special type of consumer report in which information (which may include, but is not limited to, creditworthiness, credit standing, credit capacity, criminal background, driving background, character, general reputation, personal characteristics, and mode of living) about you may be obtained by personal (including telephonic) interviews with neighbors, friends, associates, acquaintances, or others. (In California, the term “investigative consumer report” has a slightly different meaning, as explained in the separate California State Law Disclosures (non-credit) (if applicable).) You have a right to request from Company disclosures of the nature and scope of an investigative consumer report and a summary of your rights under the federal Fair Credit Reporting Act. Your request should be made in writing to Company at Background Check Team 2050 E. ASU Circle, Ste 120, Tempe, AZ 85284 or backgroundanddrug@experis.com within a reasonable period of time after your receipt of this form. A copy of “A Summary of Your Rights under the Fair Credit Reporting Act” is included below.
    </p>
</main>
