<main class="container-fluid">
  <header>
    <h5 class="text-center">
      COLORADO COMMUNITY COLLEGE SYSTEM
    </h5>
    <h5 class="text-center">
      CRIMINAL RECORD DISCLOSURE
    </h5>
    <h5 class="text-center">
      Please print on all forms
    </h5>
  </header>
  <p>
    In connection with your application for or current employment, we may procure a criminal record and, if applicable to the employment you are applying for, a credit check or driving history report on you as part of the process of considering your suitability for employment with the Colorado Community College System. In the event that either or both of these reports are utilized in whole or in part in making an adverse decision with regard to your potential or current employment, before making the adverse decision, we will provide you with a copy of the criminal record, credit check and/or driving history report as well as a description in writing of your rights under the law.
  </p>
</main>
