<main>
    <header class="text-center mb-md">
        <h4>
            <strong><u>ADDITIONAL DISCLOSURES</u></strong>
        </h4>
    </header>
    <p class="text-justify">
        <strong>All applicants/employees: ManpowerGroup</strong> and/or its subsidiaries, affiliates, other related entities, successors, and/or assigns (the “Company”), may obtain an investigative consumer report on you to be used for employment purposes, including your application for employment. Under federal law, an investigative consumer report is a special type of consumer report in which information (which may include, but is not limited to, criminal background, driving background, character, general reputation, personal characteristics, and mode of living) about you may be obtained by personal (including telephonic) interviews with neighbors, friends, associates, acquaintances, or others. (In California, the term “investigative consumer report” has a slightly different meaning, as explained in the separate California State Law Disclosures (non-credit) (if applicable).) You have a right to request from Company disclosures of the nature and scope of an investigative consumer report and a summary of your rights under the federal Fair Credit Reporting Act. Your request should be made in writing to Company at Background Check Team 2050 E. ASU Circle, Ste 120 Tempe, AZ 85284 or backgroundanddrug@experis.com within a reasonable period of time after your receipt of this form. A copy of “A Summary of Your Rights under the Fair Credit Reporting Act” is included below.
    </p>
    <p class="text-center">
        <em>Para información en español, visite <a href="https://www.consumerfinance.gov/learnmore" target="_blank">www.consumerfinance.gov/learnmore</a> o escribe a la Consumer Financial Protection Bureau, 1700 G Street N.W., Washington, DC 20552.</em>
    </p>
    <h3 class="text-center mb-sm">
        <strong>A Summary of Your Rights Under the Fair Credit Reporting Act</strong>
    </h3>
    <p class="text-indent">
        The federal Fair Credit Reporting Act (FCRA) promotes the accuracy, fairness, and privacy of information in the files of consumer reporting agencies. There are many types of consumer reporting agencies, including credit bureaus and specialty agencies (such as agencies that sell information about check writing histories, medical records, and rental history records). Here is a summary of your major rights under FCRA. <strong>For more information, including information about additional rights, go to <a href="https://www.consumerfinance.gov/learnmore" target="_blank">www.consumerfinance.gov/learnmore</a> or write to: Consumer Financial Protection Bureau, 1700 G Street N.W., Washington, DC 20552</strong>.
    </p>
    <ul class="mb-md">
        <li>
            <strong>You must be told if information in your file has been used against you.</strong> Anyone whouses a credit report or another type of consumer report to deny your application for credit,insurance, or employment – or to take another adverse action against you – must tell you,and must give you the name, address, and phone number of the agency that provided theinformation.
        </li>
        <li>
            <strong>You have the right to know what is in your file</strong>. You may request and obtain all theinformation about you in the files of a consumer reporting agency (your “filedisclosure”). You will be required to provide proper identification, which may includeyour Social Security number. In many cases, the disclosure will be free. You are entitledto a free file disclosure if:
            <ul>
                <li>
                    a person has taken adverse action against you because of information in yourcredit report;
                </li>
                <li>
                    you are the victim of identity theft and place a fraud alert in your file;
                </li>
                <li>
                    your file contains inaccurate information as a result of fraud;
                </li>
                <li>
                    you are on public assistance;
                </li>
                <li>
                    you are unemployed but expect to apply for employment within 60 days.
                </li>
            </ul>
            <p>
                In addition, all consumers are entitled to one free disclosure every 12 months upon request from each nationwide credit bureau and from nationwide specialty consumer reporting agencies. See <a href="https://www.consumerfinance.gov/learnmore" target="_blank">www.consumerfinance.gov/learnmore</a> for additional information.
            </p>
        </li>
        <li>
            <strong>You have the right to ask for a credit score</strong>. Credit scores are numerical summaries of your credit-worthiness based on information from credit bureaus. You may request acredit score from consumer reporting agencies that create scores or distribute scores usedin residential real property loans, but you will have to pay for it. In some mortgagetransactions, you will receive credit score information for free from the mortgage lender.
        </li>
        <li>
            <strong>You have the right to dispute incomplete or inaccurate information</strong>. If you identify information in your file that is incomplete or inaccurate, and report it to the consumer reporting agency, the agency must investigate unless your dispute is frivolous. See <a href="https://www.consumerfinance.gov/learnmore" target="_blank">www.consumerfinance.gov/learnmore</a> for an explanation of dispute procedures.
        </li>
        <li>
            <strong>Consumer reporting agencies must correct or delete inaccurate, incomplete, orunverifiable information</strong>. Inaccurate, incomplete, or unverifiable information must beremoved or corrected, usually within 30 days. However, a consumer reporting agencymay continue to report information it has verified as accurate.
        </li>
        <li>
            <strong>Consumer reporting agencies may not report outdated negative information</strong>. In most cases, a consumer reporting agency may not report negative information that ismore than seven years old, or bankruptcies that are more than 10 years old.
        </li>
        <li>
            <strong>Access to your file is limited</strong>. A consumer reporting agency may provide information about you only to people with a valid need – usually to consider an application with acreditor, insurer, employer, landlord, or other business. The FCRA specifies those with avalid need for access.
        </li>
        <li>
            <strong>You must give your consent for reports to be provided to employers</strong>. A consumerreporting agency may not give out information about you to your employer, or a potentialemployer, without your written consent given to the employer. Written consent generallyis not required in the trucking industry. For more information, go to <a href="https://www.consumerfinance.gov/learnmore" target="_blank">www.consumerfinance.gov/learnmore</a>.
        </li>
        <li>
            <strong>You may limit “prescreened” offers of credit and insurance you get based oninformation in your credit report</strong>. Unsolicited “prescreened” offers for credit andinsurance must include a toll-free phone number you can call if you choose to removeyour name and address form the lists these offers are based on. You may opt out with thenationwide credit bureaus at 1-888-5-OPTOUT (1-888-567-8688).
        </li>
        <li>
            <p>
                The following FCRA right applies with respect to nationwide consumer reportingagencies:
            </p>
            <p>
                <strong>CONSUMERS HAVE THE RIGHT TO OBTAIN A SECURITY FREEZE</strong>
            </p>
            <p>
                <strong>You have a right to place a “security freeze” on your credit report, which will prohibit a consumer reporting agency from releasing information in your credit report without your express authorization</strong>. The security freeze is designed to prevent credit, loans, and services from being approved in your name without your consent. However, you should be aware that using a security freeze to take control over who gets access to the personal and financial information in your credit report may delay, interfere with, or prohibit the timely approval of any subsequent request or application you make regarding a new loan, credit, mortgage, or any other account involving the extension of credit.
            </p>
            <p>
                As an alternative to a security freeze, you have the right to place an initial or extended fraud alert on your credit file at no cost. An initial fraud alert is a 1-year alert that is placed on a consumer’s credit file. Upon seeing a fraud alert display on a consumer’s credit file, a business is required to take steps to verify the consumer’s identity before extending new credit. If you are a victim of identity theft, you are entitled to an extended fraud alert, which is a fraud alert lasting 7 years.
            </p>
            <p>
                A security freeze does not apply to a person or entity, or its affiliates, or collection agencies acting on behalf of the person or entity, with which you have an existing account that requests information in your credit report for the purposes of reviewing or collecting the account. Reviewing the account includes activities related to account maintenance, monitoring, credit line increases, and account upgrades and enhancements.
            </p>
        </li>
        <li>
            <strong>You may seek damages from violators</strong>. If a consumer reporting agency, or, in somecases, a user of consumer reports or a furnisher of information to a consumer reportingagency violates the FCRA, you may be able to sue in state or federal court.
        </li>
        <li>
            <strong>Identity theft victims and active duty military personnel have additional rights</strong>. Formore information, visit <a href="https://www.consumerfinance.gov/learnmore" target="_blank">www.consumerfinance.gov/learnmore</a>.
        </li>
    </ul>
    <p class="mb-lg">
        <strong>States may enforce the FCRA, and many states have their own consumer reporting laws. In some cases, you may have more rights under state law. For more information, contact your state or local consumer protection agency or your state Attorney General. For information about your federal rights, contact:</strong>
    </p>
    <div class="box mb-lg">
        <div class="border-bottom">
            <div class="col-50 vertical-top">
                <div class="inner-padding text-center">
                    <strong>TYPE OF BUSINESS:</strong>
                </div>
            </div>
            <div class="col-50 border-left vertical-top">
                <div class="inner-padding text-center">
                    <strong>CONTACT:</strong>
                </div>
            </div>
        </div>
        <div class="border-bottom">
            <div class="col-50 vertical-top">
                <p class="inner-padding">
                    1.a. Banks, savings associations, and credit unions with total assets of over $10 billion and their affiliates
                </p>
                <p class="inner-padding">
                    b.Such affiliates that are not banks, savings associations, orcredit unions also should list, in addition to the CFPB:
                </p>
            </div>
            <div class="col-50 border-left vertical-top">
                <p class="inner-padding">
                    a.Consumer Financial Protection Bureau 1700 G Street, N.W. Washington, DC 20552
                </p>
                <p class="inner-padding">
                    b.Federal Trade Commission Consumer Response Center 600 Pennsylvania Avenue, N.W. Washington, DC 20580 (877) 382-4357
                </p>
            </div>
        </div>
        <div class="border-bottom">
            <div class="col-50 vertical-top">
                <p class="inner-padding">
                    2.To the extent not included in item 1 above: <br>
                    a.National banks, federal savings associations, and federalbranches and federal agencies of foreign banks
                </p>
                <p class="inner-padding">
                    b.State member banks, branches and agencies of foreign banks(other than federal branches, federal agencies, and Insured State Branches of Foreign Banks), commercial lending companies owned or controlled by foreign banks, and organizations operating under section 25 or 25A of the Federal Reserve Act.
                </p>
                <p class="inner-padding">
                    c.Nonmember Insured Banks, Insured State Branches ofForeign Banks, and insured state savings associations
                </p>
                <p class="inner-padding">
                    d.Federal Credit Unions
                </p>
            </div>
            <div class="col-50 border-left vertical-top">
                <p class="inner-padding">
                    a.Office of the Comptroller of the Currency <br>
                    Customer Assistance Group <br>
                    1301 McKinney Street, Suite 3450 <br>
                    Houston, TX 77010-9050
                </p>
                <p class="inner-padding">
                    b.Federal Reserve Consumer Help Center <br>
                    P.O. Box 1200 <br>
                    Minneapolis, MN 55480
                </p>
                <p class="inner-padding">
                    c.FDIC Consumer Response Center <br>
                    1100 Walnut Street, Box #11 <br>
                    Kansas City, MO 64106
                </p>
                <p class="inner-padding">
                    d.National Credit Union Administration <br>
                    Office of Consumer Financial Protection (OCFP) <br>
                    Division of Consumer Compliance Policy and Outreach 1775 Duke Street <br>
                    Alexandria, VA 22314
                </p>
            </div>
        </div>
        <div class="border-bottom">
            <div class="col-50 vertical-top">
                <p class="inner-padding">
                    3.Air carriers
                </p>
            </div>
            <div class="col-50 border-left vertical-top">
                <p class="inner-padding">
                    Asst. General Counsel for Aviation Enforcement &amp; Proceedings Aviation Consumer Protection Division Department of Transportation 1200 New Jersey Avenue, S.E. Washington, DC 20590
                </p>
            </div>
        </div>
        <div class="border-bottom">
            <div class="col-50 vertical-top">
                <p class="inner-padding">
                    4.Creditors Subject to the Surface Transportation Board
                </p>
            </div>
            <div class="col-50 border-left vertical-top">
                <p class="inner-padding">
                    Office of Proceedings, Surface Transportation Board Department of Transportation 395 E Street, S.W. Washington, DC 20423
                </p>
            </div>
        </div>
        <div class="border-bottom">
            <div class="col-50 vertical-top">
                <p class="inner-padding">
                    5.Creditors Subject to the Packers and Stockyards Act, 1921
                </p>
            </div>
            <div class="col-50 border-left vertical-top">
                <p class="inner-padding">
                    Nearest Packers and Stockyards Administration area supervisor
                </p>
            </div>
        </div>
        <div class="border-bottom">
            <div class="col-50 vertical-top">
                <p class="inner-padding">
                    6.Small Business Investment Companies
                </p>
            </div>
            <div class="col-50 border-left vertical-top">
                <p class="inner-padding">
                    Associate Deputy Administrator for Capital Access United States Small Business Administration 409 Third Street, S.W., Suite 8200 Washington, DC 20416
                </p>
            </div>
        </div>
        <div class="border-bottom">
            <div class="col-50 vertical-top">
                <p class="inner-padding">
                    7.Brokers and Dealers
                </p>
            </div>
            <div class="col-50 border-left vertical-top">
                <p class="inner-padding">
                    Securities and Exchange Commission 100 F Street, N.E. Washington, DC 20549
                </p>
            </div>
        </div>
        <div class="border-bottom">
            <div class="col-50 vertical-top">
                <p class="inner-padding">
                    8.Federal Land Banks, Federal Land Bank Associations,Federal Intermediate Credit Banks, and Production Credit Associations
                </p>
            </div>
            <div class="col-50 border-left vertical-top">
                <p class="inner-padding">
                    Farm Credit Administration <br>
                    1501 Farm Credit Drive  <br>
                    McLean, VA 22102-5090
                </p>
            </div>
        </div>
        <div class="col-50 vertical-top">
            <p class="inner-padding">
                9.Retailers, Finance Companies, and All Other Creditors NotListed Above
            </p>
        </div>
        <div class="col-50 border-left vertical-top">
            <p class="inner-padding">
                Federal Trade Commission <br>
                Consumer Response Center <br>
                600 Pennsylvania Avenue, N.W. <br>
                Washington, DC 20580 <br>
                (877) 382-4357
            </p>
        </div>
    </div>
    <p class="text-justify">
        <strong><u>Massachusetts applicants/employees only</u></strong>: The precise nature and scope of any investigative consumer report (which commonly includes information regarding your character, general reputation, personal characteristics, and mode of living) will be the same types of information described above. You have a right to have a copy of any investigative consumer report upon request from
    </p>
    <div class="mb-md">
        <$client.env.FormField.A01_Massachusetts_applicants_employees_only.HTML>
    </div>
    <p class="text-justify">
        <strong><u>Minnesota applicants/employees only</u></strong>: You have the right to request a complete and accurate disclosure of the nature and scope of any consumer report from
    </p>
    <div class="mb-md">
        <$client.env.FormField.A01_Minnesota_applicants_employees_only.HTML>
    </div>
    <p class="text-justify">
        <strong><u>Montana applicants/employee only</u></strong>: You have a right to request from Company disclosures of the nature, scope, and substance of any investigative consumer report.
    </p>
    <p class="text-justify">
        <strong><u>New Jersey applicants/employees only</u></strong>: The precise nature and scope of any investigative consumer report (which commonly includes information regarding your character, general reputation, personal characteristics, and mode of living) will be the same types of information described above. You have a right to have a copy of any investigative consumer report upon request from
    </p>
    <div class="mb-md">
        <$client.env.FormField.A01_New_Jersey_applicants_employees_only.HTML>
    </div>
    <p class="text-justify mb-lg">
        <strong><u>New York applicants/employees only</u></strong>: Company may request or utilize subsequent consumer reports (other than investigative consumer reports) on you throughout your employment. Upon request, you will be informed whether or not a consumer report was requested, and if such report was requested, informed of the name and address of the CRA that furnished the report. Upon written request, you will be informed whether or not an investigative consumer report was requested, and if such report was requested, the name and address of the CRA to whom the request was made. Your written request should be made to Company at 2050 E. ASU Circle, STE 120, Tempe, AZ 85284- Attention: Background Check Team. You may also contact the company at 480-777-6600, Attention Background Check Team. Upon furnishing you with the name and address of the CRA, you will also be informed that you may inspect and receive a copy of such report by contacting that agency.
    </p>
    <h4 class="text-center">
        <strong>NEW YORK CORRECTION LAW<br>ARTICLE 23-A</strong>
    </h4>
    <h4 class="text-center mb-md">
        LICENSURE AND EMPLOYMENT OF PERSONS PREVIOUSLY CONVICTED OF ONE OR MORE CRIMINAL OFFENSES
    </h4>
    <p>
        &#167;750. Definitions.
    </p>
    <div class="ml-md">
        <p>
            For the purposes of this article, the following terms shall have the following meanings:
        </p>
        <ol class="mb-md">
            <li class="text-justify">
                "Public agency" means the state or any local subdivision thereof, or any state or local department, agency, board or commission.
            </li>
            <li class="text-justify">
                "Private employer" means any person, company, corporation, labor organization or association which employs ten or more persons.
            </li>
            <li class="text-justify">
                "Direct relationship" means that the nature of criminal conduct for which the person was convicted has a direct bearing on his fitness or ability to perform one or more of the duties or responsibilities necessarily related to the license, opportunity, or job in question.
            </li>
            <li class="text-justify">
                "Direct relationship" means that the nature of criminal conduct for which the person was convicted has a direct bearing on his fitness or ability to perform one or more of the duties or responsibilities necessarily related to the license, opportunity, or job in question.
            </li>
            <li class="text-justify">
                "Employment" means any occupation, vocation or employment, or any form of vocational or educational training. Provided, however, that "employment" shall not, for the purposes of this article, include membership in any law enforcement agency.
            </li>
        </ol>
    </div>
    <p>
        &#167;751. Applicability.
    </p>
    <p class="text-justify ml-md">
        The provisions of this article shall apply to any application by any person for a license or employment at any public or private employer, who has previously been convicted of one or more criminal offenses in this state or in any other jurisdiction, and to any license or employment held by any person whose conviction of one or more criminal offenses in this state or in any other jurisdiction preceded such employment or granting of a license, except where a mandatory forfeiture, disability or bar to employment is imposed by law, and has not been removed by an executive pardon, certificate of relief from disabilities or certificate of good conduct. Nothing in this article shall be construed to affect any right an employer may have with respect to an intentional misrepresentation in connection with an application for employment made by a prospective employee or previously made by a current employee.
    </p>
    <p>
        &#167;752. Unfair discrimination against persons previously convicted of one or more criminal offenses prohibited.
    </p>
    <div class="ml-md">
        <p class="text-justify">
            No application for any license or employment, and no employment or license held by an individual, to which the provisions of this article are applicable, shall be denied or acted upon adversely by reason of the individual's having been previously convicted of one or more criminal offenses, or by reason of a finding of lack of "good moral character" when such finding is based upon the fact that the individual has previously been convicted of one or more criminal offenses, unless:
        </p>
        <ol class="mb-md">
            <li>
                There is a direct relationship between one or more of the previous criminal offenses and the specific license or employment sought or held by the individual; or
            </li>
            <li>
                the issuance or continuation of the license or the granting or continuation of the employment would involve an unreasonable risk to property or to the safety or welfare of specific individuals or the general public.
            </li>
        </ol>
    </div>
    <p>
        &#167;753. Factors to be considered concerning a previous criminal conviction; presumption.
    </p>
    <div class="ml-md">
        <ol class="mb-md">
            <li class="mb-md">
                In making a determination pursuant to section seven hundred fifty-two of this chapter, the public agency or private employer shall consider the following factors:
                <ol type="a">
                    <li>
                        The public policy of this state, as expressed in this act, to encourage the licensure and employment of persons previously convicted of one or more criminal offenses.
                    </li>
                    <li>
                        The specific duties and responsibilities necessarily related to the license or employment sought or held by the person.
                    </li>
                    <li>
                        The bearing, if any, the criminal offense or offenses for which the person was previously convicted will have on his fitness or ability to perform one or more such duties or responsibilities.
                    </li>
                    <li>
                        The time which has elapsed since the occurrence of the criminal offense or offenses.
                    </li>
                    <li>
                        The age of the person at the time of occurrence of the criminal offense or offenses.
                    </li>
                    <li>
                        The seriousness of the offense or offenses.
                    </li>
                    <li>
                        Any information produced by the person, or produced on his behalf, in regard to his rehabilitation and good conduct.
                    </li>
                    <li>The legitimate interest of the public agency or private employer in protecting property, and the safety and welfare of specific individuals or the general public.</li>
                </ol>
            </li>
            <li class="text-justify">
                In making a determination pursuant to section seven hundred fifty-two of this chapter, the public agency or private employer shall also give consideration to a certificate of relief from disabilities or a certificate of good conduct issued to the applicant, which certificate shall create a presumption of rehabilitation in regard to the offense or offenses specified therein.
            </li>
        </ol>
    </div>
    <p>
        &#167;754. Written statement upon denial of license or employment.
    </p>
    <p class="text-justify ml-md">
        At the request of any person previously convicted of one or more criminal offenses who has been denied a license or employment, a public agency or private employer shall provide, within thirty days of a request, a written statement setting forth the reasons for such denial.
    </p>
    <p>
        &#167;755. Enforcement.
    </p>
    <ol>
        <li>
            <p class="text-justify">
                In relation to actions by public agencies, the provisions of this article shall be enforceable by a proceeding brought pursuant to article seventy-eight of the civil practice law and rules.
            </p>
        </li>
        <li>
            <p class="text-justify">
                In relation to actions by private employers, the provisions of this article shall be enforceable by the division of human rights pursuant to the powers and procedures set forth in article fifteen of the executive law, and, concurrently, by the New York city commission on human rights.
            </p>
        </li>
    </ol>
    <p class="text-center">
        <strong>
            [PLEASE SEE BELOW FOR ADDITIONAL DISCLOSURES THAT MAY APPLY TO YOU.]
        </strong>
    </p>
    <p class="text-justify">
        <strong><u>Washington State applicants/employees only</u></strong>: You have the right, upon written request made within a reasonable period of time after your receipt of this disclosure, to receive from the Company a complete and accurate disclosure of the nature and scope of any “investigative” consumer report we may have requested. You also have the right to request from the consumer reporting agency a written summary of your rights and remedies under the Washington Fair Credit Reporting Act. Any requests under this paragraph to the CRA should be made to
    </p>
    <div class="mb-md">
        <$client.env.FormField.A01_Washington_State_applicants_employees_only.HTML>
    </div>
    <p class="text-center mb-lg">
        <strong>
            [PLEASE SEE BELOW FOR ADDITIONAL DISCLOSURES THAT MAY APPLY TO YOU.]
        </strong>
    </p>
    <div class="mb-sm clearfix">
        <div class="col-10 pull-right">
            <img src="/assets/img/san_francisco_logo.jpg" alt="CITY AND COUNTY OF SAN FRANCISCO" class="img-responsive">
        </div>
    </div>
    <p class="text-center">
        <em>Post where readily accessible to job applicants and employees.</em> <br>
        <strong>CITY AND COUNTY OF SAN FRANCISCO</strong><br>
        EDWIN M. LEE, MAYOR <br>
        NOTICE TO JOB APPLICANTS AND EMPLOYEES <br>
        San Francisco Fair Chance Ordinance <br>
        Police Code, Article 49
    </p>
    <p>
        <strong>Starting August 13, 2014, the Fair Chance Ordinance (San Francisco Police Code, Article 49) requires employers to follow strict rules regarding the use of arrest and conviction records in hiring and employment decisions.</strong> The ordinance covers job applicants and employees who would be or are performing work in whole, or in substantial part, in San Francisco and applies to employers who have 20 or more employees (regardless of the employees’ locations).
    </p>
    <p>
        <strong>Certain matters are off-limits.</strong> An employer may never ask about, require disclosure of, or consider: an arrest not leading to a conviction (other than an unresolved arrest that is still undergoing criminal investigation or trial); participation in a diversion or deferral of judgment program; a conviction that has been expunged or made inoperative; any determination in the juvenile justice system; a conviction more than 7 years old; and a criminal offense other than a felony/misdemeanor. Matters that are off-limits cannot be used by the employer for any reason at any stage of the hiring process.
    </p>
    <p>
        <strong>An employer cannot ask about an individual’s conviction history or unresolved arrests at the start of the hiring process.</strong> This includes through a job application form, informal conversation, or otherwise.
    </p>
    <p>
        <strong>A mandatory interactive process for matters not off-limits.</strong> Only after a live interview has been conducted, or a conditional offer of employment made, is the employer allowed to ask about an individual’s conviction history (except as to matters that are off-limits) and unresolved arrests. Only those convictions and unresolved arrests that <em>directly relate</em> to the individual’s ability to do the job may be considered in making an employment decision.
    </p>
    <p>
        Before the employer may take an adverse action such as failing/refusing to hire, discharging, or not promoting an individual based on a conviction history or unresolved arrest, the employer must give the individual an opportunity to present evidence that the information is inaccurate, the individual has been rehabilitated, or other mitigating factors. The individual has seven days to respond, at which point the employer must delay any adverse action for a reasonable time and reconsider the adverse action. The employer must notify the individual of any final adverse action.
    </p>
    <p>
        <em>Evidence of rehabilitation</em> include satisfying parole/probation; receiving education/training; participating in alcohol/drug treatment programs; letters of recommendation; and age at which the individual was convicted. <em>Mitigating factors</em> include coercion, physical or emotional abuse, and untreated substance abuse/mental illness, that contributed to the conviction.
    </p>
    <p>
        <strong>Preemption.</strong> Where federal or state law imposes a criminal history requirement that conflicts with a requirement of the Fair Chance Ordinance, the federal or state law will apply.
    </p>
    <p>
        <strong>No Retaliation.</strong> An employer may not take an adverse action against an applicant or employee for exercising their rights under the ordinance or cooperating with the Office of Labor Standards Enforcement OLSE.
    </p>
    <p class="mb-lg">
        If you need more information, or wish to report an employer that you believe has violated this ordinance, please contact the OLSE at 415-554-5192 or email FCE@sfgov.org.
    </p>
    <p class="text-center mb-lg">
        <strong>
            OFFICE OF LABOR STANDARDS ENFORCEMENT <br>
            City Hall, Room 430 1 Dr. Carlton B. Goodlett Place San Francisco CA 94102-4685 Tel. (415) 554-6235 Fax (415) 554-4791
        </strong>
    </p>
    <p>
        <strong>Please click in the Signature box below, type your name, click on the "Sign" button, and provide the date where indicated to acknowledge you have read and understand the Background Check Additional Disclosures.</strong>
    </p>
    <div class="mb-lg">
        <div class="col-10 vertical-middle">
            Signature
        </div>
        <div class="col-50 vertical-middle">
            <$client.env.FormField.A01_Signature.HTML>
        </div>
        <div class="col-5 vertical-middle">
            Date
        </div>
        <div class="col-25 vertical-middle">
            <$client.env.FormField.A02_Date.HTML>
        </div>
    </div>
</main>
