<main class="container-fluid">
	<h3 class="text-center">
		<strong>EMPLOYEE ENROLLMENT/CHANGE FORM</strong>
	</h3>
	<p class="text-center">
		<strong>For enrollments and changes that are effective January 1, 2017 and later</strong>
	</p>
	<p class="text-center">
		<strong>Important:</strong> Changes made on this form will affect your medical, prescription drug, and supplemental benefits.
	</p>

	<div class="box">
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>SECTION 1: EMPLOYEE DATA</strong>
				</h3>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mh-70">
				Social Security #
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right b-left mh-70">
				Title
				<br>
				<label>
					<input type="checkbox"> Mr.
				</label>
				<label>
					<input type="checkbox"> Dr.
				</label>
				<br>
				<label>
					<input type="checkbox"> Mrs.
				</label>
				<label>
					<input type="checkbox"> Ms.
				</label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 b-right mh-70">
				Name (Last Plus Suffix, First, MI)
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mh-70">
				Employee #
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 b-right">
				Street Address
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				Local Municipality(if address change)
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 b-right">
				City/State/Zip
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				County Name
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 b-right">
				Mailing Address(if different than address listed above)
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				City/State/Zip
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right">
				Home Phone #
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right">
				Cell Phone #
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				Work Phone #
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right">
				Date of Birth (mm/dd/yyyy)
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
				Gender
				<input type="checkbox"> Male <br>
				<input type="checkbox"> Female
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				Relationship Status
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 b-left">
				Date of Marriage/Domestic Partnership (mm/dd/yyyy)
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				Answer both of the following questions:
				<div class="form-group">
					<div class="inline-block">
						Are you covered by another medical plan?
					</div>
					<div class="inline-block">
						<input type="checkbox"> Yes
						<input type="checkbox"> No
					</div>
					<div class="inline-block">
						Do you have Medicare?
					</div>
					<div class="inline-block">
						<input type="checkbox"> Yes
						<input type="checkbox"> No
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>SECTION 2: ENROLLMENT INFORMATION</strong>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<strong>a) Action Requested (select all that apply):</strong>
				<div class="form-group mb-10">
					<input type="checkbox"> New Enrollment
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 b-right">
				<strong>b) Event (select all that apply):</strong>
				<div class="form-group mb-10">
					<div class="inline-block">
						<input type="checkbox"> Marriage
						<input type="checkbox"> Other
					</div>
					<div class="inline-block">
						<input type="text">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				c) Date of Event: (if applicable) (mm/dd/yyyy)
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						SECTION 3: MEDICAL BENEFITS
						<small>
							<em>(Selectone)</em>
						</small>
					</strong>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p>
					<strong><em>Full-Time Employees: Additional costs may apply if selecting the CHOICE PPO.</em></strong><br>
					<strong><em>Part-Time Employees: Additional costs will apply for any plan selection.</em></strong>
				</p>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
				<div class="form-group">
					<input type="checkbox"> CHOICE PPO <br>
					<input type="checkbox"> Decline <br>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<div class="form-group">
					<div class="inline-block">Effective Date (mm/dd/yyyy):</div>
					<div class="inline-block">
						<input type="text">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				Medical Plan Name
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 b-left">
				<div class="row b-bottom">
					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 b-right">
						Health Care Center or Dr. Name (required for HMO)
						<div class="form-group">
							<input type="text">
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						Health Care Center/Dr. ID #
						<div class="form-group">
							<input type="text">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<div class="inline-block">
								Are you currently a patient of this practice?
							</div>
							<div class="inline-block">
								<input type="checkbox">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>SECTION 4: PRESCRIPTION DRUG BENEFITS</strong>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p>
					<em>If enrolling in prescription drug plan only, also complete the PEBTF-41 form</em><br>
					<strong>
						<em>Full-Time Employees: Additional costs will apply for the first six months of employment.</em><br>
					</strong>
					<strong>
						<em>Part-Time Employees: Additional costs will apply.</em>
					</strong>
				</p>
				<div class="form-group">
					<div class="inline-block">
						<input type="checkbox"> Decline
					</div>
					<div class="inline-block">
						<strong>Effective Date</strong> (mm/dd/yyyy):
					</div>
					<div class="inline-block">
						<input type="text">
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						SECTION 5: SUPPLEMENTAL BENEFITS
						<small>
							<em>(Includes dental, vision and hearing aid coverage)</em>
						</small>
					</strong>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p>
					<strong>
						<em>Supplemental Benefits will begin no earlier than your seventh month of employment.</em><br>
					</strong>
					<strong>
						<em>Part-Time Employees: Additional costs will apply.</em>
					</strong>
				</p>
				<div class="form-group">
					<div class="inline-block">
						<input type="checkbox"> Decline
					</div>
					<div class="inline-block">
						<strong>Effective Date</strong> (mm/dd/yyyy):
					</div>
					<div class="inline-block">
						<div class="form-group">
							<input type="text">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						<em>SECTION 6: SPOUSE / DOMESTIC PARTNER DATA</em>
					</strong>
				</h3>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-12">
				<p>
					<em>Complete this section if adding or removing a spouse or domestic partner. If adding a new spouse, you must present your original marriage certificate to your local HR office or your supervisor. If adding a new domestic partner, additional documentation supporting the domestic partnership has been in existence at least six months is required.</em>
				</p>
			</div>
		</div>
		<div class="row bg-grey hidden-sm hidden-xs">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				<div class="form-group">
					<strong>HR initial Eligibility Doc Verified by HR</strong>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right b-bottom">
				<br>
				<div class="form-group">
					<strong>Name (Last, First, MI)</strong>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right b-bottom">
				<br>
				<div class="form-group">
					<strong>Spouse/Domestic Partner SSN</strong>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 b-right b-bottom">
				<br>
				<div class="form-group">
					<strong>Gender</strong>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-bottom">
				<br>
				<div class="form-group">
					<strong>Date of Birth(mm/dd/yyyy)</strong>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>HR initial Eligibility Doc Verified by HR</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>Name (Last, First, MI)</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>Spouse/Domestic Partner SSN</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 b-right b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>Gender</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>Date of Birth(mm/dd/yyyy)</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-12">
				<p>
					List address and telephone number if different than the employee:
				</p>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-12">
				<ol class="list-indented" type="1">
					<li>
						Does your spouse/domestic partner have Medicare?
						<div class="form-group">
							<input type="checkbox"> Yes
							<input type="checkbox"> No
						</div>
					</li>
					<li>
						Is your spouse/domestic partner covered by another medical plan?
						<div class="form-group">
							<input type="checkbox"> Yes
							<input type="checkbox"> No
						</div>
					</li>
					<li>
						My spouse/domestic partner is currently (Select One):
						<div class="form-group">
							<input type="checkbox"> A Commonwealth of Pennsylvania employee or retiree
						</div>
					</li>
					<li>
						Is your spouse/domestic partner eligible for health coverage through his or her employer or former employer?
						<div class="form-group">
							<input type="checkbox"> A Commonwealth of Pennsylvania employee or retiree
						</div>
					</li>
					<li>
						Is your spouse/domestic partner enrolled in his/her employer’s health insurance or enrolled in a retiree health insurance plan?
						<div class="form-group">
							<input type="checkbox"> A Commonwealth of Pennsylvania employee or retiree
							<div class="list-indented">
								<div class="inline-block">
									a) Is the plan offered at a cost?
								</div>
								<div class="inline-block">
									<input type="checkbox"> Yes
								</div>
							</div>
							<div class="list-indented">
								<div class="inline-block">
									b) Is there a monetary incentive to decline coverage?
								</div>
								<div class="inline-block">
									<input type="checkbox"> Yes
								</div>
							</div>
							<input type="checkbox"> No
							<input type="checkbox"> Not Applicable
						</div>
					</li>
					<li>
						<div class="inline-block">
							Does your spouse/domestic partner have an HSA (Health Savings Account)?
						</div>
						<div class="inline-block">
							<input type="checkbox"> Yes
						</div>
						<p>
							(There may be tax implications if he or she enrolls in a PEBTF plan as secondary.)
						</p>
					</li>
				</ol>
			</div>
		</div>
		<div class="row b-bottom hidden-sm hidden-xs">
			<div class="col-lg-3 col-md-3 bg-grey b-right">&nbsp;</div>
			<div class="col-lg-1 col-md-1 text-center b-right">
				Add
			</div>
			<div class="col-lg-1 col-md-1 text-center b-right">
				Remove
			</div>
			<div class="col-lg-3 col-md-3 text-center b-right">
				Effective date (mm/dd/yyyy)
			</div>
			<div class="col-lg-4 col-md-4 bg-grey">&nbsp;</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-3 col-md-3 col-sm-8 b-right mh-150">
				<strong>Medical plan</strong>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right mh-150">
				<div class="visible-sm visible-xs">
					Add
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right mh-150">
				<div class="visible-sm visible-xs">
					Remove
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center b-right mh-150">
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mh-150">
				<p>
					Health Care Center/Doctor Name or ID # for HMO only
				</p>
				<div class="form-group">
					<input type="text">
				</div>
				Currently a patient of this practice?
				<div class="form-group">
					<input type="checkbox"> Yes
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-8 b-right b-bottom mh-85">
				<strong>Prescription drug plan</strong>
				<p>
					<em>If enrolling in prescription drug plan only, also complete the PEBTF-41 form</em>
				</p>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right b-bottom mh-85">
				<div class="visible-sm visible-xs">
					Add
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right b-bottom mh-85">
				<div class="visible-sm visible-xs">
					Remove
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center b-right b-bottom mh-85">
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mh-85 mh-100-sm">
				<p>
					Remarks:
				</p>
				<div class="form-group textarea-across">
					<textarea name="" id="" cols="4" rows="3"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-8 b-right b-bottom mh-50">
				<strong>Supplemental benefits</strong>
				<p>
					(dental/vision/hearing aid plans)
				</p>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right b-bottom mh-50">
				<div class="visible-sm visible-xs">
					Add
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right b-bottom mh-50">
				<div class="visible-sm visible-xs">
					Remove
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center b-right b-bottom mh-50">
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-5 col-md-5 col-sm-8 b-right mh-70">
				<strong>Personal data change/correction:</strong> identify in Remarks
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center b-right mh-70">
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						SECTION 7: DEPENDENT DATA
						<small>
							<em>(Complete second form if you have additional dependents)</em>
						</small>
					</strong>
				</h3>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-12">
				<p>
					<em>Complete this section if adding or removing dependents. If adding a new dependent, you must present additional documentation such as a birth certificate to your local HR office or your supervisor.</em>
				</p>
			</div>
		</div>
		<div class="row bg-grey hidden-sm hidden-xs">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				<div class="form-group">
					<strong>HR initial Eligibility Doc Verified by HR</strong>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right b-bottom">
				<br>
				<div class="form-group">
					<strong>Name (Last, First, MI)</strong>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right b-bottom">
				<br>
				<div class="form-group">
					<strong>Spouse/Domestic Partner SSN</strong>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 b-right b-bottom">
				<br>
				<div class="form-group">
					<strong>Gender</strong>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-bottom">
				<br>
				<div class="form-group">
					<strong>Date of Birth(mm/dd/yyyy)</strong>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>HR initial Eligibility Doc Verified by HR</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>Name (Last, First, MI)</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>Spouse/Domestic Partner SSN</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 b-right b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>Gender</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>Date of Birth(mm/dd/yyyy)</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-12">
				<div class="form-group">
					<input type="checkbox"> Son
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-12">
				<div class="form-group">
					<div class="inline-block">
						a) Does your dependent have Medicare?
					</div>
					<div class="inline-block">
						<input type="checkbox"> Yes
					</div>
				</div>
				<div class="form-group">
					<div class="inline-block">
						b) Is your dependent covered by another plan?
					</div>
					<div class="inline-block">
						<input type="checkbox"> Yes
					</div>
				</div>
			</div>
		</div>
		<div class="row b-bottom hidden-sm hidden-xs">
			<div class="col-lg-3 col-md-3 bg-grey b-right">&nbsp;</div>
			<div class="col-lg-1 col-md-1 text-center b-right">
				Add
			</div>
			<div class="col-lg-1 col-md-1 text-center b-right">
				Remove
			</div>
			<div class="col-lg-3 col-md-3 text-center b-right">
				Effective date (mm/dd/yyyy)
			</div>
			<div class="col-lg-4 col-md-4 bg-grey">&nbsp;</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-3 col-md-3 col-sm-8 b-right mh-150">
				<strong>Medical plan</strong>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right mh-150">
				<div class="visible-sm visible-xs">
					Add
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right mh-150">
				<div class="visible-sm visible-xs">
					Remove
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center b-right mh-150">
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mh-150">
				<p>
					Health Care Center/Doctor Name or ID # for HMO only
				</p>
				<div class="form-group">
					<input type="text">
				</div>
				Currently a patient of this practice?
				<div class="form-group">
					<input type="checkbox"> Yes
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-8 b-right b-bottom mh-85">
				<strong>Prescription drug plan</strong>
				<p>
					<em>If enrolling in prescription drug plan only, also complete the PEBTF-41 form</em>
				</p>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right b-bottom mh-85">
				<div class="visible-sm visible-xs">
					Add
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right b-bottom mh-85">
				<div class="visible-sm visible-xs">
					Remove
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center b-right b-bottom mh-85">
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mh-85 mh-100-sm">
				<p>
					Remarks:
				</p>
				<div class="form-group textarea-across">
					<textarea name="" id="" cols="4" rows="3"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-8 b-right b-bottom mh-50">
				<strong>Supplemental benefits</strong>
				<p>
					(dental/vision/hearing aid plans)
				</p>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right b-bottom mh-50">
				<div class="visible-sm visible-xs">
					Add
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right b-bottom mh-50">
				<div class="visible-sm visible-xs">
					Remove
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center b-right b-bottom mh-50">
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-5 col-md-5 col-sm-8 b-right mh-70">
				<strong>Personal data change/correction:</strong> identify in Remarks
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center b-right mh-70">
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row bg-grey hidden-sm hidden-xs">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				<div class="form-group">
					<strong>HR initial Eligibility Doc Verified by HR</strong>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right b-bottom">
				<br>
				<div class="form-group">
					<strong>Name (Last, First, MI)</strong>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right b-bottom">
				<br>
				<div class="form-group">
					<strong>Spouse/Domestic Partner SSN</strong>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 b-right b-bottom">
				<br>
				<div class="form-group">
					<strong>Gender</strong>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-bottom">
				<br>
				<div class="form-group">
					<strong>Date of Birth(mm/dd/yyyy)</strong>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>HR initial Eligibility Doc Verified by HR</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>Name (Last, First, MI)</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>Spouse/Domestic Partner SSN</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 b-right b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>Gender</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-bottom">
				<div class="bg-grey b-bottom visible-sm visible-xs">
					<strong>Date of Birth(mm/dd/yyyy)</strong>
				</div>
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-12">
				<div class="form-group">
					<input type="checkbox"> Son
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-12">
				<div class="form-group">
					<div class="inline-block">
						a) Does your dependent have Medicare?
					</div>
					<div class="inline-block">
						<input type="checkbox"> Yes
					</div>
				</div>
				<div class="form-group">
					<div class="inline-block">
						b) Is your dependent covered by another plan?
					</div>
					<div class="inline-block">
						<input type="checkbox"> Yes
					</div>
				</div>
			</div>
		</div>
		<div class="row b-bottom hidden-sm hidden-xs">
			<div class="col-lg-3 col-md-3 bg-grey b-right">&nbsp;</div>
			<div class="col-lg-1 col-md-1 text-center b-right">
				Add
			</div>
			<div class="col-lg-1 col-md-1 text-center b-right">
				Remove
			</div>
			<div class="col-lg-3 col-md-3 text-center b-right">
				Effective date (mm/dd/yyyy)
			</div>
			<div class="col-lg-4 col-md-4 bg-grey">&nbsp;</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-3 col-md-3 col-sm-8 b-right mh-150">
				<strong>Medical plan</strong>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right mh-150">
				<div class="visible-sm visible-xs">
					Add
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right mh-150">
				<div class="visible-sm visible-xs">
					Remove
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center b-right mh-150">
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mh-150">
				<p>
					Health Care Center/Doctor Name or ID # for HMO only
				</p>
				<div class="form-group">
					<input type="text">
				</div>
				Currently a patient of this practice?
				<div class="form-group">
					<input type="checkbox"> Yes
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-8 b-right b-bottom mh-85">
				<strong>Prescription drug plan</strong>
				<p>
					<em>If enrolling in prescription drug plan only, also complete the PEBTF-41 form</em>
				</p>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right b-bottom mh-85">
				<div class="visible-sm visible-xs">
					Add
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right b-bottom mh-85">
				<div class="visible-sm visible-xs">
					Remove
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center b-right b-bottom mh-85">
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mh-85 mh-100-sm">
				<p>
					Remarks:
				</p>
				<div class="form-group textarea-across">
					<textarea name="" id="" cols="4" rows="3"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-8 b-right b-bottom mh-50">
				<strong>Supplemental benefits</strong>
				<p>
					(dental/vision/hearing aid plans)
				</p>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right b-bottom mh-50">
				<div class="visible-sm visible-xs">
					Add
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-center b-right b-bottom mh-50">
				<div class="visible-sm visible-xs">
					Remove
				</div>
				<div class="inline-block">
					<input type="checkbox">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center b-right b-bottom mh-50">
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-8 b-right mh-70">
				<strong>Personal data change/correction:</strong> identify in Remarks
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center b-right mh-70">
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
	</div>

	<h3 class="text-center">
		<strong>TERMS AND CONDITIONS</strong>
	</h3>
	<ol class="list-indented" type="1">
		<li>
			I hereby apply to enroll (or change) medical and/or prescription drug, and/or supplemental benefits in the Pennsylvania Employees Benefit Trust Fund ("Plan")for me and/or my dependents (as defined in the Plan) and declare that the foregoing information is true and correct to the best of my knowledge and belief. I understand that eligibility for coverage and payment of benefits under the Plan in all instances is subject to the terms of the Plan and that any false or misleading information that I provide to the Plan regarding the status of any dependent and any other medical or supplemental coverage that may be applicable may result in the suspension or termination of coverage under the Plan and may require the repayment to the Plan of any benefits paid under the Plan, in addition to the imposition of criminal and civil penalties. I understand that I must in form the Plan of any changes in the employment status of any dependents which may affect their eligibility under the Plan and that my failure to do so may result in the loss of coverage, repayment of any amounts paid on their behalf, in addition to the imposition of criminal and civil penalties.
		</li>
		<li>
			I authorize any payroll deduction relating to my share of the cost of such coverage and understand that such deductions will be made on a pre−tax basis to the extent permitted by law.
		</li>
		<li>
			I further understand that the Plan has the right to subrogate,on my behalf and on behalf of any dependent, against any third parties or others obligated to pay any claims which the Plan has paid or may pay. I agree that I will direct any attorney that I may retain to satisfy such subrogation interest in full prior to receipt by me or my dependents of any recovery to which I and/or my dependents may be entitled and to otherwise fully cooperate with the Plan regarding all subrogation matters.
		</li>
		<li>
			I further understand that the Plan includes a coordination of benefits provision and agree to fully cooperate with the Plan regarding all coordination of benefit matters. I acknowledge that in the event the Plan concludes that I have provided any false or misleading information, or failed to appropriately cooperate with the Plan, regarding any subrogation or coordination of benefit matters, the Plan may suspend or terminate my coverage or my dependents' coverage under the Plan and take such other action as it deems appropriate.
		</li>
	</ol>

	<div class="box mb-10">
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						<em>SECTION 8: EMPLOYEE AGREEMENT AND SIGNATURE</em>
					</strong>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p class="mh-150">
					“I certify that the information entered on this form is true and complete and that I agree to all of the Terms and Conditions listed above and in the PEBTF Summary Plan Description and Plan Document.”
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<div class="form-group">
					<input type="text">
					<strong>Employee Name</strong>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<div class="form-group">
					<input type="text">
					<strong>Employee Signature</strong>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<div class="form-group">
					<input type="text">
					<strong>Date</strong>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p>
					<strong>Form must be signed in ink. Electronic signatures will not be accepted.</strong>
				</p>
			</div>
		</div>
	</div>

	<div class="box mb-10">
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						SECTION 9: COMMONWEALTH DATA
						<small>
							<em>(to be completed by HR Service Center or HR Office)</em>
						</small>
					</strong>
				</h3>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				Position #
				<div class="form-group"><input type="text"></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				PEBTF Group #
				<div class="form-group"><input type="text"></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				PEBTF Sub Group
				<div class="form-group"><input type="text"></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				Plan Code
				<div class="form-group"><input type="text"></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				County Code
				<div class="form-group"><input type="text"></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				&nbsp;
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				Current Service Date
				<div class="form-group"><input type="text"></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				Dept. Code
				<div class="form-group"><input type="text"></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				Barg. Unit
				<div class="form-group"><input type="text"></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				Org Code
				<div class="form-group"><input type="text"></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				SAP EEG
				<div class="form-group"><input type="text"></div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				SAP ESG
				<div class="form-group"><input type="text"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="inline-block">
					Is employee ACA eligible for the Bronze Plan (works average of 30 hours per week)?
				</div>
				<div class="inline-block">
					<div class="form-group">
						<input type="checkbox"> Yes
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="box mb-30">
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						SECTION 10: HR REMARKS
					</strong>
				</h3>
			</div>
		</div>
		<div class="row b-bottom mh-150"></div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 b-right">
				HR Service Center or HR Office Signature
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 b-right">
				Date Enrollment Form Received
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 b-right">
				Date Enrollment Form Processed
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
	</div>
</main>
<footer class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<p>
				PEBTF−2 (Rev09−2016; For enrollments effective 01−01-2017 or later)
			</p>
		</div>
	</div>
</footer>