<main class="container-fluid">
	<h3 class="text-center">
		<strong>EMPLOYEE ENROLLMENT/CHANGE FORM</strong>
	</h3>
	<p class="text-center">
		<strong>For enrollments and changes that are effective January 1, 2017 and later</strong>
	</p>
	<p class="text-center">
		<strong>Important:</strong> Changes made on this form will affect your medical, prescription drug, and supplemental benefits.
	</p>

	<div class="box">
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>SECTION 1: EMPLOYEE DATA</strong>
				</h3>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				Social Security #
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right b-left">
				Title
				<br>
				<label>
					<input type="checkbox"> Mr.
				</label>
				<label>
					<input type="checkbox"> Dr.
				</label>
				<br>
				<label>
					<input type="checkbox"> Mrs.
				</label>
				<label>
					<input type="checkbox"> Ms.
				</label>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 b-right">
				Name (Last Plus Suffix, First, MI)
				<div class="form-group">
					<input type="text">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				Employee #
				<div class="form-group">
					<input type="text">
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 b-right">
				Street Address
				<input type="text">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				Local Municipality(if address change)
				<input type="text">
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 b-right">
				City/State/Zip
				<input type="text">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				County Name
				<input type="text">
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 b-right">
				Mailing Address(if different than address listed above)
				<input type="text">
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				City/State/Zip
				<input type="text">
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right">
				Home Phone #
				<input type="text">
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right">
				Cell Phone #
				<input type="text">
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 b-right">
				Work Phone #
				<input type="text">
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right">
				Date of Birth (mm/dd/yyyy)
				<input type="text">
			</div>
			<div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
				Gender
				<input type="text">
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				Relationship Status
				<input type="text">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 b-left">
				Date of Marriage/Domestic Partnership (mm/dd/yyyy)
				<input type="text">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				Answer both of the following questions:
				<input type="text">
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>SECTION 2: ENROLLMENT INFORMATION</strong>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<strong>a) Action Requested (select all that apply):</strong>
				<input type="text">
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						SECTION3: MEDICAL BENEFITS
						<small>
							<em>(Selectone)</em>
						</small>
					</strong>
				</h3>
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>SECTION 4: PRESCRIPTION DRUG BENEFITS</strong>
				</h3>
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						SECTION5: SUPPLEMENTAL BENEFITS
						<small>
							<em>(Includes dental, vision and hearing aid coverage)</em>
						</small>
					</strong>
				</h3>
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						<em>SECTION 6: SPOUSE / DOMESTIC PARTNER DATA</em>
					</strong>
				</h3>
			</div>
		</div>
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						SECTION 7: DEPENDENT DATA
						<small>
							<em>(Complete second form if you have additional dependents)</em>
						</small>
					</strong>
				</h3>
			</div>
		</div>
	</div>

	<h3 class="text-center">
		<strong>TERMS AND CONDITIONS</strong>
	</h3>
	<ol type="1">
		<li>
			I hereby apply to enroll (or change) medical and/or prescription drug, and/or supplemental benefits in the Pennsylvania Employees Benefit Trust Fund ("Plan")for me and/or my dependents (as defined in the Plan) and declare that the foregoing information is true and correct to the best of my knowledge and belief. I understand that eligibility for coverage and payment of benefits under the Plan in all instances is subject to the terms of the Plan and that any false or misleading information that I provide to the Plan regarding the status of any dependent and any other medical or supplemental coverage that may be applicable may result in the suspension or termination of coverage under the Plan and may require the repayment to the Plan of any benefits paid under the Plan, in addition to the imposition of criminal and civil penalties. I understand that I must in form the Plan of any changes in the employment status of any dependents which may affect their eligibility under the Plan and that my failure to do so may result in the loss of coverage, repayment of any amounts paid on their behalf, in addition to the imposition of criminal and civil penalties.
		</li>
		<li>
			I authorize any payroll deduction relating to my share of the cost of such coverage and understand that such deductions will be made on a pre−tax basis to the extent permitted by law.
		</li>
		<li>
			I further understand that the Plan has the right to subrogate,on my behalf and on behalf of any dependent, against any third parties or others obligated to pay any claims which the Plan has paid or may pay. I agree that I will direct any attorney that I may retain to satisfy such subrogation interest in full prior to receipt by me or my dependents of any recovery to which I and/or my dependents may be entitled and to otherwise fully cooperate with the Plan regarding all subrogation matters.
		</li>
		<li>
			I further understand that the Plan includes a coordination of benefits provision and agree to fully cooperate with the Plan regarding all coordination of benefit matters. I acknowledge that in the event the Plan concludes that I have provided any false or misleading information, or failed to appropriately cooperate with the Plan, regarding any subrogation or coordination of benefit matters, the Plan may suspend or terminate my coverage or my dependents' coverage under the Plan and take such other action as it deems appropriate.
		</li>
	</ol>

	<div class="box mb-10">
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						<em>SECTION 8: EMPLOYEE AGREEMENT AND SIGNATURE</em>
					</strong>
				</h3>
			</div>
		</div>
	</div>
	<div class="box mb-10">
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						SECTION 9: COMMONWEALTH DATA
						<small>
							<em>(to be completed by HR Service Center or HR Office)</em>
						</small>
					</strong>
				</h3>
			</div>
		</div>
	</div>
	<div class="box mb-10">
		<div class="row bg-black">
			<div class="col-lg-12">
				<h3>
					<strong>
						SECTION 10: HR REMARKS
					</strong>
				</h3>
			</div>
		</div>
	</div>

</main>
<footer class="container">
	<p>
		PEBTF−2(Rev09−2016;Forenrollmentseffective01−01
	</p>
</footer>