<main class="container-fluid">
  <header class="row">
    <img src="/assets/img/nokia_logo.jpg" alt="nokia" class="center-block col-lg-3 col-xs-6">
  </header>
  <div class="row">
    <div class="col-lg-12">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto amet quos commodi fugit atque eos ea in quibusdam molestias facilis ipsum voluptate numquam ut, id tempore consequuntur voluptatum doloremque, reprehenderit?
      </p>
    </div>
  </div>
</main>
