<main class="container-fluid">
  <header class="row text-center vspace">
    <div class="img-wrapper center-block">
      <img src="/assets/img/nokia_logo.jpg" alt="nokia" class="img-responsive" />
    </div>
  </header>
  <div class="row vspace">
    <div class="col-lg-12 text-center">
      <strong>
        California Non-Exempt Meal and Rest Period Policy
      </strong>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12 text-center">
      <p class="text-justify vspace">
        All California nonexempt, non-represented employees receive meal and rest periods according to the policy set forth below. Employees are expected to take their meal and rest periods in a manner consistent with this policy. You must promptly notify your supervisor or Human Resources if you have any questions or concerns about compliance with this policy.
      </p>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12 text-center">
      <strong>Meal Periods</strong>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12">
      <ol>
        <li class="vspace text-justify">
          Employees who work more than five hours and up to 10 hours are provided one work-free meal period of 30 minutes. This meal period must start before the 5<sup>1</sup><sub>h</sub> hour of work ends.
        </li>
        <li class="vspace text-justify">
          Employees may voluntarily waive their meal period if they will not work more than six hours, with theirsupervisor's prior written consent. The waiver must be in writing. Written waivers are available fromHuman Resources or the employee's supervisor. Employees may revoke the waiver at any time byproviding a written request to their supervisor.
        </li>
        <li class="vspace text-justify">
          Employees who work more than 10 hours are provided a second work-free meal period of 30 minutes. The second meal period must start before the 1Oth hour of work.
        </li>
        <li class="vspace text-justify">
          Employees may voluntarily waive their second meal period if they will not work more than 12 hoursand have received their first meal period, with their supervisor's prior written consent. The waivermust be in writing. Written waivers are available from Human Resources or the employee'ssupervisor. Employees may revoke the waiver at any time by providing a written request to theirsupervisor. Employees who work more than 12 hours may not waive their second meal periods.
        </li>
        <li class="vspace text-justify">
          Employees must accurately record the time they start and end their meal periods. Employees whoare unable to record meal periods in the time reporting system must complete the <em>California NonExempt Employee Time Sheet</em> available from Human Resources or the employee's supervisor. Thesupervisor must approve the time sheet and retain the time sheet for a period of five years.
        </li>
        <li class="vspace text-justify">
          Meal periods must be at least 30 consecutive minutes each and are work-free. A work-free mealperiod means employees are relieved of all work duties and are free to leave the work site.Employees may use the time as they choose free from the direction and control of the Company. TheCompany must provide employees with a reasonable opportunity to take uninterrupted 30 minutemeal periods and may not impede or discourage employees from taking them. While the Companyencourages employees not to work during their meal periods, this is their personal time, and theCompany will not direct, control or monitor how it is used.
        </li>
        <li class="vspace text-justify">
          Meal periods are unpaid and do not count as hours worked.
        </li>
        <li class="vspace text-justify">
          <p>
            If due to work demands, the employee is not permitted to take one or more authorized meal periods,the employee must report this to their supervisor. The supervisor will make arrangements for theemployee to take their meal period or the employee must report the missed meal period by completingthe <em>California Non-Exempt Employee Time Sheet</em> per the instructions on the time sheet. Employeeswill be paid one additional hour of pay at the employee's regular rate of pay for each work day that ameal period is not provided. Supervisor approval is required. This additional hour is not countedas hours worked for purposes of overtime calculations.
          </p>
          <p>
            Examples
          </p>
          <span class="col-5 inline-block vertical-top">A)</span><!--
          --><span class="col-95 text-justify inline-block vertical-top vspace">
            An employee has a 30 minute meal period, but can only take 20 minutes because their supervisorneeds them to return from their meal period. The employee should be paid one additional hour attheir regular rate for not receiving a full, work-free 30 minute meal period. This additional hour <strong>does not count as hours worked. The employee will also be paid for the full 30 minute meal</strong> period. The employee must complete the <strong><em>California Non-Exempt Employee Time Sheet</em></strong>, secure supervisor approval and send the time sheet to the Human Resources Service Center for processing.
          </span>
          <span class="col-5 inline-block vertical-top">B)</span><!--
          --><span class="col-95 text-justify inline-block vertical-top">
            An employee is provided with a full, 30 minute meal period, but the meal period is provided late,more than 5 hours after their work period starts. The employee will be paid one additional hour attheir regular rate for the late meal period, which does not count as hours worked. The employee's 30 minute meal period is unpaid. The employee must complete the <em>California Non-ExemptEmployee Time Sheet</em>, secure supervisor approval and send the time sheet to the HumanResources ServiceCenter for processing.
          </span>
        </li>
      </ol>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12 text-center">
      <strong>Rest Periods</strong>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12">
      <ol>
        <li class="vspace text-justify">
          Employees who work 3 hours or less in a work period are not authorized or permitted to take restperiods.
        </li>
        <li class="vspace text-justify">
          Employees who work more than 3 1/2 hours up to six hours are authorized and permitted to takeone 10 minute rest period.
        </li>
        <li class="vspace text-justify">
            Employees who work more than six hours up to 10 hours are authorized and permitted to take two 10 minute rest periods.
        </li>
        <li class="vspace text-justify">
          Employees who work more than 10 hours are authorized and permitted to take three 10 minute restperiods. Employees who work more than 14 hours are authorized and permitted to take four 10 minute rest periods.
        </li>
        <li class="vspace text-justify">
            Rest periods should be in the middle of each four-hour work period as much as practicable. Restperiods may not be combined with other rest breaks or meal periods. Employees may not skip restperiods in order to leave earlier.
        </li>
        <li class="vspace text-justify">
          Rest periods must be at least a net 10 consecutive minutes. Rest periods are work-free, althoughemployees may not leave the work site during their rest periods. While the Company encouragesemployees to take rest periods, employeesmay voluntarily choose not to take them.
        </li>
        <li class="vspace text-justify">
            Rest periods count as hours worked and are paid.
        </li>
        <li class="vspace text-justify">
          If due to work demands, the employee is not permitted to take one or more authorized rest breaks, theemployee must report this to their supervisor. The supervisor will make arrangements for theemployee to take their rest period or the employee must report the missed rest period by completingthe <em>California Non-Exempt Employee Time Sheet</em> per the instructions on the time sheet. Employeeswill be paid one additional hour of pay at the employee's regular rate of pay for each workday that oneor more rest breaks is not provided.
        </li>
      </ol>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12">
      <strong>Acknowledgement</strong>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12">
      <p class="text-justify">
        I acknowledge that I have received a copy of the Company's California Non-Exempt Meal and Rest Period Policy. I have reviewed this policy and understand when I may take meal and rest periods. I agree to take my meal and rest periods in a manner that complies with this policy. I further agree to report any concerns I have about my meal or rest periods to my supervisor or Human Resources.
      </p>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <input type="text" class="lifesuite__text-input">
      Print Employee Name
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <input type="text" class="lifesuite__text-input">
      Print Signature
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <input type="text" class="lifesuite__text-input">
      Date
    </div>
  </div>
  <footer class="row">
    <div class="col-lg-12 text-center">
      <small>
        <em>Policy effective November 11, 2013</em>
      </small>
    </div>
  </footer>
</main>
