<div id="container">
    <div id="incomplete">
        <div class="srt_eform_row">
            <div class="srt_eform_module" id="inner-content">
                <div class="srt_eform_text_inner">
                    <div id="markup"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="complete" class="row"></div>
    <div id="complete2" class="row"></div>
    <div id="complete3" class="row"></div>

    <div id="incomplete2">
        <div class="srt_eform_row">
            <div class="srt_eform_module">
                <div class="srt_eform_text_inner">
                    <div class="row offerClause2"><h1 class="text-left"><strong>Absence and Sickness</strong></h1><p> If you are unable to attend work for any reason you must provide notice to Apple and otherwise follow Apple’s standard policies and procedures with respect to absences and sickness. </p><h1 class="text-left"><strong>Service to Apple</strong></h1><p> During your employment with Apple, you will in all respects conform to and comply with the directions and policies of Apple, including <a href="<$link;/eprise/main/SiteGen/Contract_English/Content/Uploads/Unplaced_Documents/Apple_Business_Conduct_Policy.pdf>" target="_blank">Apple’s Business Conduct Policy</a>, and any other standard Apple employment policies that are provided to or accessible by Apple employees, perform each of the duties assigned from time to time by Apple to the best of your skill and ability, faithfully and diligently serve Apple, use your best efforts to promote the interests and reputation of Apple, and devote your full working time, attention and energies to the business of Apple. </p><h1 class="text-left"><strong>Personal Information</strong></h1><p> Your personal information will be collected, processed, transferred and safeguarded by Apple in accordance with the terms of the Employee Privacy Notice signed by you. </p><h1 class="text-left"><strong>Disciplinary and Grievance Procedures</strong></h1><p> Apple Canada’s disciplinary and grievance procedures, as amended from time to time, are contained in Apple Canada’s standard employment policies and procedures. </p><h1 class="text-left"><strong>Termination of Employment</strong></h1><p> Upon successful completion of your probationary period referred to above, your employment may be terminated as follows: </p></div><div class="row offerClause2"><span class="col-lg-1 col-md-1 col-sm-2 col-xs-2 vspace">(a) </span><span class="col-lg-11 col-md-11 col-sm-10 col-xs-10 vspace"> by Apple Canada, for just cause, with no obligation to provide to you any notice or pay in lieu of notice or any indemnity or severance whatsoever; <br class="hide"></span></div>
                    <div class="row offerClause2"><span class="col-lg-1 col-md-1 col-sm-2 col-xs-2 vspace"> (b) </span><span class="col-lg-11 col-md-11 col-sm-10 col-xs-10 vspace"> by Apple Canada, without just cause, by providing you with the minimum statutory notice, or pay in lieu of such notice as may be required by the employment standards act of the Province in which you are employed, or any successor legislation, plus one additional week for each completed year of service with Apple Canada for which you intend to give a full and  satisfactory release in favour of Apple; <br class="hide"></span></div>
                    <div class="row offerClause2"><span class="col-lg-1 col-md-1 col-sm-2 col-xs-2 vspace"> (c) </span><span class="col-lg-11 col-md-11 col-sm-10 col-xs-10 vspace"> by you, upon giving Apple Canada two (2) weeks’ advance written notice of your intention to resign, in which event Apple Canada has a right to renounce in whole or in part, to such notice without having any further obligations. <br class="hide"></span></div>
                    <div class="row offerClause2"><div class="col-lg-12"><p> In the event of termination, you will be paid any unpaid base salary and any accrued vacation earned up to your last day of active employment with Apple Canada, and benefits will be continued to the extent required by applicable legislation. </p><p> You acknowledge and expressly agree that upon the termination of employment for any reason other than for cause, you will only be entitled to the above notice or pay in lieu of notice and benefits provisions, and that such termination is fair and reasonable and Apple Canada shall not, in any case, be responsible for any additional notice, pay in lieu of notice, minimum statutory notice, severance pay, termination pay, or other indemnity or damage arising from the termination of your employment. </p><h1 class="text-left"><strong>Notices</strong></h1><p> Any notice of termination of this Agreement or your employment shall be delivered personally, otherwise by hand delivery or by registered Canadian mail to you or to Apple at the addresses set out above. If the address for you or for Apple as set out above changes during the term of this Agreement, then you or Apple, as applicable, shall promptly provide the new address to the other party. </p><h1 class="text-left"><strong>Return of Property</strong></h1><p> Upon termination of your employment, or at Apple's request, you will promptly deliver to Apple all documents and materials (including without limitation all training materials, keys, Apple products, security passes, company credit cards and equipment, “Apple Property") of any kind pertaining to your work at Apple, and you agree that you will not take with you any Apple Property, documents, materials, or copies thereof, whether physical or electronic, containing any Proprietary Information. </p><p> You acknowledge that your failure to return any Apple Property at the end of your employment may result in Apple deducting the fair value of the Apple Property from your final pay. </p><h1 class="text-left"><strong>Confidential and Proprietary Information, Inventions and Other Income</strong></h1><p> You must sign and abide by the attached Intellectual Property Agreement and return the signed agreement with this Employment Agreement. Any exceptions or approvals required under the terms of the Intellectual Property Agreement must be approved by your division’s vice president and Apple’s Law Department prior to your beginning work. </p><h1 class="text-left"><strong>Binding Agreement</strong></h1><p> This is a legal contract that shall be binding on Apple and you. </p><h1 class="text-left"><strong>Survival</strong></h1><p> Notwithstanding the termination of your employment, your obligations and covenants under Confidential and Proprietary Information, Inventions and Other Income, will survive such termination and continue in full force for the benefit of Apple. </p><h1 class="text-left"><strong>Waiver</strong></h1><p> Any waiver by Apple of a breach of any provision of this Agreement by you will not operate or be interpreted as a waiver of any other or subsequent breach by you. </p><h1 class="text-left"><strong>Governing Law</strong></h1><p> Your contract of employment will be governed by and interpreted in accordance with the laws of the Province in which you are employed. </p><h1 class="text-left"><strong>Severability</strong></h1><p> Each provision of this Agreement is declared to be a separate and distinct promise and to be separable from all other such separate and distinct promises. If any promise, provision or part thereof is determined by a court of competent jurisdiction or other constituted legal authority to be void, unenforceable or unreasonable in whole or in part, it will not be deemed to affect or impair the enforceability or validity of any other promise or provision in this Agreement or any part thereof and the said court or other constituted legal authority will have the authority to limit such promise or provision as it deems proper. </p><h1 class="text-left"><strong>Assignment</strong></h1><p> This Agreement may be assigned by Apple. You may not assign, subcontract or delegate your duties under this Agreement without the prior written consent of Apple. </p><h1 class="text-left"><strong>Entire Agreement</strong></h1><p> This Agreement, including all its parts hereto, constitutes the entire agreement between you and Apple with respect to your employment by Apple and supersedes all prior or simultaneous representations, discussions, negotiations and agreements, whether written or oral, with respect thereto. This Agreement may be amended or modified only with the written consent of the parties. No oral waiver, amendment or modification will be effective under any circumstances. </p><h1 class="text-left"><strong>Independent Legal Advice</strong></h1><p> You confirm and agree that you have had an opportunity and been advised to seek independent legal advice prior to signing this Agreement.</p><h1>Counterparts</h1><p> This Agreement may be executed in any number of counterparts, each of which if so executed shall be deemed to be an original, and such counterparts will together constitute but one Agreement. </p><h1 class="text-left"><strong>Language</strong></h1><p> The parties hereto confirm that they have requested that this Agreement and all related documents be drafted in English. </p><p> Les parties ont exigé que le présent contrat et tous les documents connexes soient rédigés en anglais. </p></div></div>
                    <div class="row offerClause2"><div class="col-lg-12 vspace-lg"> Sincerely, </div></div>
                </div>
            </div>
        </div>
    </div>

    <div id="incomplete3">
        <div class="srt_eform_row">
            <div class="row">
                <div class="col-lg-4 vspace">
                    <img src="<$link;/main/RedCarpet/FormTemplates/CAC_Corp_Employment_Agreement/img/heidi_sig.jpg>" class="img-responsive"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 vspace offerClause3">
                    <p>Apple Worldwide Recuiting <br>On behalf of Apple Canada Inc.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vspace offerClause3">
                    <p>I understand and agree to these terms and conditions of employment.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="srt_eform_row">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 vspace-xl">
                <$client.env.FormField.Signer.HTML>
            </div>
        </div>
    </div>

    <div id="incomplete4">
        <div class="srt_eform_row">
            <footer class="row">
                <div class="col-lg-12 offerClause4">
                    <p><small>Apple Confidential <br>CAR EA, revised April 2015, v15.2</small></p>
                </div>
            </footer>
        </div>
    </div>
    <div id="complete4" class="row"></div>


    <div class="srt_eform_section clearfix">
            <div id="srt_form_btn_wrapper">
              <div class="srt_eform_row">
                <div class="col-lg-12 srt_eform_module">
                    <div class="srt_eform_text_inner">
                        <input class="appInputButton RCappInputButtonBlue" id="buttonSaveAndComplete" name="buttonSaveAndComplete" type="button" onclick="document.getElementById('FormButtonValidator').value=1;void(funcSaveAndComplete());" value="Accept Offer" style="display: inline;">
                        <input class="appInputButton RCappInputButtonBlue" id="buttonPrint" name="buttonPrint" type="button" onclick="document.getElementById('FormButtonValidator').value=0;void(funcPrint());" value="Download PDF">
                        <input class="appInputButton RCappInputButtonOrange" id="buttonCancel" name="buttonCancel" type="button" onclick="void(funcCancel());" value="Cancel">

                    </div>
                    <!-- end srt_eform_text_inner  -->
                </div>
                <!--end 12 -->
            </div>
            <!-- end srt_form_btn_wrapper  -->
        </div>
        <!--end row  -->
    </div>
    <!--end eform_section  -->

</div><!-- end container -->
