<div id="container">
    <div id="incomplete">
        <div class="srt_eform_row">
            <div class="srt_eform_module" id="inner-content">
                <div class="srt_eform_text_inner">
                    <div id="markup">
                        <div class="row vspace">
                            <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4 pull-right">
                                <img src="/assets/img/apple_logo.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="vspace-lg">
                                    Employment Agreement
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    THIS AGREEMENT is made as of the [datenow]
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-4 col-xs-12">
                                BETWEEN: 
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-8 col-xs-12">
                               <p>
                                   Apple Canada Inc. (“Apple” or “Company”), an Ontario company having offices at 120 Bremner Boulevard, Suite 1600, Toronto, Ontario, Canada M5J 0A8
                               </p> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-4 col-xs-12">
                                AND: 
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-8 col-xs-12">
                                [Full_Name] (“You” or “Employee”) <br>
                                [Addr1] <br>
                                [Addr2] <br>
                                [CityProvince]
                                <p>
                                    [zip]
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    This Agreement sets forth the terms upon which Apple agrees to employ the Employee and upon which Employee agrees to be employed by Apple. For good and valuable consideration, the receipt and sufficiency of which are hereby acknowledged, the parties agree as follows:
                                </p>
                                <h3 class="text-grey">
                                    <strong>Job Title and Job Duties</strong>
                                </h3>
                                <p>
                                    You are employed as [Insert if employee type = Full_Time] Full Time [End insert if employee type = Full_Time> [Insert if employee type = Part_Time] Part Time [End insert if employee type = Part_Time] [Insert if CAC_Contract_Type = FWE] Seasonal [End insert if CAC_Contract_Type = FWE] [Job_Title_Retail]. The duties of this position include sales and customer service and any other duties assigned to you from time to time by Apple.
                                </p>
                                <p>
                                    Apple may from time to time redefine the job title, description, functions and/or responsibilities of the position without changing any rights or obligations of the parties hereto.
                                </p>
                                [Insert if CAC_Contract_Type = Standard/Permanent]
                                <h3 class="text-grey">
                                    <strong>Commencement of Employment</strong>
                                </h3>
                                <p>
                                    Your employment will begin on [Start_Date] and shall continue until terminated pursuant to this Agreement.
                                </p>
                                [End Insert if CAC_Contract_Type = Standard/Permanent]

                                [Insert if CAC_Contract_Type = FWE]
                                <h3 class="text-grey">
                                    <strong>Term of Employment</strong>
                                </h3>
                                <p>
                                    Your employment will begin on [Start_Date] and end on [Termination_Date]. Unless Apple terminates your employment before the end of this term, or renews this Agreement for a further term, your employment will end on [Termination_Date], at which time Apple will have no obligation to give you any notice of termination, or compensatory indemnity in lieu of such notice, and will have no further obligation whatsoever to you. [End insert if CAC_Contract_Type = FWE]
                                </p>
                                [End Insert if CAC_Contract_Type = FWE]
                                <h3 class="text-grey">
                                    <strong>Probation Period</strong>
                                </h3>
                                <p>
                                    Your employment with Apple is subject to a ninety (90) day probationary period. At any time during your probationary period, either you or Apple may terminate your employment without notice or any other obligation to the other party, except the minimum notice or pay in lieu of notice and any other entitlements required by the applicable employment standards statute.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Conditional Offer of Employment</strong>
                                </h3>
                                <p>
                                    Your employment with Apple is conditional upon verification satisfactory to Apple of the information you provided to it during the job application process, the receipt of references satisfactory to Apple from those nominated by you, and the receipt of documentary evidence satisfactory to Apple of your continued right to work in Canada. It is your responsibility to maintain your legal right to work in Canada.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Place of Work</strong>
                                </h3>
                                <p>
                                    While your usual place of work is the [Place_of_Work] store, Apple may, at its sole discretion, require you to relocate to any other location within the Greater [Greater_City_Area] Area, either temporarily or permanently, without thereby breaching this Agreement or any terms of your employment.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Days and Hours of Work</strong>
                                </h3>
                                [Insert if CAC_Contract_Type does not = FWE and if employee type = Full_Time]
                                <p>
                                    You are employed on a full-time basis. Your usual weekly hours are forty (40) hours per week exclusive of breaks (your “Basic Hours”).
                                </p>
                                [End Insert if CAC_Contract_Type does not = FWE and if employee type = Full_Time]

                                [Insert if CAC_Contract_Type does not = FWE and employee type = Part_Time]
                                <p>
                                    You are employed on a part-time basis. Your usual weekly hours are twenty (20) hours per week exclusive of breaks (your “Basic Hours”).
                                </p>
                                [End Insert if CAC_Contract_Type does not = FWE and employee type = Part_Time]

                                [Insert if CAC_Contract_Type = FWE]
                                <p>
                                    You are employed on a seasonal basis. Your usual weekly hours are [Weekly_Hours_Canada] hours per week exclusive of breaks (your “Basic Hours”).
                                </p>
                                [End Insert if CAC_Contract_Type = FWE]

                                <p>
                                    Your actual working days and hours will be determined by your manager who will notify you in advance, at the beginning of each week, what your working schedule will be for that week.
                                </p>

                                <p>
                                    Apple reserves the right to have you work either a reasonable number of additional hours or fewer hours than your Basic Hours as its business requires. Apple may implement these changes to your hours without prior notice and without thereby breaching any term of this Agreement or your employment with Apple.
                                </p>

                                <h3 class="text-grey">
                                    <strong>Compensation</strong>
                                </h3>

                                <p>
                                    Your basic rate of pay is (CAD) $[Salary_Amount] per hour. You will be paid every two weeks, one week in arrears, less the applicable deductions.
                                </p>

                                [Insert if CAC_Contract_Type does not = FWE]
                                <p>
                                    Overtime is paid in accordance with the employment standards laws of the Province in which you are employed.
                                </p>
                                [End Insert if CAC_Contract_Type does not = FWE]

                                [Insert if CAC_Contract_Type = FWE]
                                <p>
                                    Overtime is paid for each complete period of 15 minutes, and as stipulated in the employment standards laws of the Province in which you work.
                                </p>
                                [End Insert if CAC_Contract_Type = FWE]

                                <h3 class="text-grey">
                                    <strong>Benefits Programs</strong>
                                </h3>
                                [Insert if CAC_Contract_Type does not = FWE and employee type = Part_Time]
                                <p>
                                    Apple offers various benefits plans to its part-time employees. You will be eligible to enroll once you have completed any applicable waiting period.
                                </p>
                                [End Insert if CAC_Contract_Type does not = FWE and employee type = Part_Time]

                                [Insert if CAC_Contract_Type does not = FWE and employee type = Full time]
                                <p>
                                    You may be eligible to participate in various benefit plans offered by Apple from time to time, including Retirement Savings Plan, and health, life and disability insurance plans offered by Apple to its employees. You acknowledge and agree that any benefit plan in effect from time to time is subject to availability and other requirements of Apple or the applicable insurer and the written terms and conditions contained in each plan and that Apple makes no promise about your eligibility for or entitlement to benefits and will have no liability or responsibility in the event you are denied coverage.
                                </p>
                                [End Insert if CAC_Contract_Type does not = FWE and employee type = Full time]

                                [Insert if CAC_Contract_Type = FWE]
                                <p>
                                    You may be eligible to participate in various benefit plans offered by Apple from time to time. You acknowledge and agree that any benefit plan in effect from time to time is subject to availability and other requirements of Apple or the applicable insurer and the written terms and conditions contained in each plan and that Apple makes no promise about your eligibility for or entitlement to benefits and will have no liability or responsibility in the event you are denied coverage.
                                </p>
                                [End Insert if CAC_Contract_Type = FWE]

                                <h3 class="text-grey">
                                    <strong>Vacation</strong>
                                </h3>
                                [Insert if employee type = Part_Time]
                                <p>
                                    Vacation pay will be added to each paycheque in accordance with the employment standards laws of the Province in which you are employed.
                                </p>
                                [End Insert if employee type = Part_Time]

                                [Insert if employee type = Full time]
                                <p>
                                    As an employee you are eligible to accrue vacation in accordance with the employment standard legislation in the Province in which you are employed.
                                </p>
                                [End Insert if employee type = Full time]

                                <p>
                                    Apple's vacation policy may be amended or modified from time to time by Apple in its sole discretion.
                                </p>

                                <h3 class="text-grey">
                                    <strong>Bonus</strong>
                                </h3>
                                <p>
                                    You may be eligible to participate in any of Apple’s bonus and incentive schemes in place from time to time, details of which will be provided by your manager.
                                </p>
                                <p>
                                    All bonus and incentive schemes in which you may be eligible to participate are discretionary and may be amended or withdrawn at any time without breaching a term of this Agreement or your employment with Apple.
                                </p>

                                <h3 class="text-grey">
                                    <strong>Sunday Work/Statutory Holiday/Shift Work</strong>
                                </h3>
                                <p>
                                    You understand that your position is with Apple’s Retail division and that because the Store is a retail operation, which is open on Sundays and statutory holidays, you may be scheduled to work on Sundays and statutory holidays. You agree that you will work on Sundays and statutory holidays if a Sunday or statutory holiday shift is assigned to you and you will not refuse to do so.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="complete"></div>
    </div>
</div>
