<div id="container">
    <div id="incomplete">
        <div class="srt_eform_row">
            <div class="srt_eform_module" id="inner-content">
                <div class="srt_eform_text_inner">
                    <div id="markup"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="complete"></div>

    <div id="incomplete2" class="srt_eform_row">
        <div class="row offerClause2">
            <h1 class="text-left"><strong>Notices</strong></h1><p>Any notice of termination of this Agreement or your employment shall be delivered personally, otherwise by hand delivery or by registered Canadian mail to you or to Apple at the addresses set out above. If the address for you or for Apple as set out above changes during the term of this Agreement, then you or Apple, as applicable, shall promptly provide the new address to the other party.</p><h1 class="text-left"><strong>Return of Property</strong></h1><p>Upon termination of your employment, or at Apple's request, you will promptly deliver to Apple all documents and materials (including without limitation all training materials, keys, Apple products, security passes, company credit cards and equipment, "Apple Property") of any kind pertaining to your work at Apple, and you agree that you will not take with you any Apple Property, documents, materials, or copies thereof, whether physical or electronic, containing any Proprietary Information. You acknowledge that your failure to return any Apple Property at the end of your employment may result in Apple deducting the fair value of the Apple Property from your final pay.</p><h1 class="text-left"><strong>Confidential and Proprietary Information, Inventions and Other Income</strong></h1><p>You must sign and abide by the attached Intellectual Property Agreement and return the signed agreement with this Employment Agreement. Any exceptions or approvals required under the terms of the Intellectual Property Agreement must be approved by your division’s vice president and Apple’s Law Department prior to your beginning work.</p><h1 class="text-left"><strong>Binding Agreement</strong></h1><p>This is a legal contract that shall be binding on Apple and you.</p><h1 class="text-left"><strong>Survival</strong></h1><p>Notwithstanding the termination of your employment, your obligations and covenants under section 19 (Confidential and Proprietary Information, Inventions and Other Income) will survive such termination and continue in full force for the benefit of Apple.</p><h1 class="text-left"><strong>Waiver</strong></h1><p>Any waiver by Apple of a breach of any provision of this Agreement by you will not operate or be interpreted as a waiver of any other or subsequent breach by you.</p><h1 class="text-left"><strong>Governing Law</strong></h1><p>Your contract of employment will be governed by and interpreted in accordance with the laws of the Province in which you are employed.</p><h1 class="text-left"><strong>Severability</strong></h1><p>Each provision of this Agreement is declared to be a separate and distinct promise and to be separable from all other such separate and distinct promises. If any promise, provision or part thereof is determined by a court of competent jurisdiction or other constituted legal authority to be void, unenforceable or unreasonable in whole or in part, it will not be deemed to affect or impair the enforceability or validity of any other promise or provision in this Agreement or any part thereof and the said court or other constituted legal authority will have the authority to limit such promise or provision as it deems proper.</p><h1 class="text-left"><strong>Assignment</strong></h1><p>This Agreement may be assigned by Apple. You may not assign, subcontract or delegate your duties under this Agreement without the prior written consent of Apple.</p><h1 class="text-left"><strong>Entire Agreement</strong></h1><p>This Agreement, including all parts hereto, constitutes the entire agreement between you and Apple with respect to your employment by Apple and supersedes all prior or simultaneous representations, discussions, negotiations and agreements, whether written or oral, with respect thereto. This Agreement may be amended or modified only with the written consent of the parties. No oral waiver, amendment or modification will be effective under any circumstances.</p><h1 class="text-left"><strong>Independent Legal Advice</strong></h1><p>You confirm and agree that you have had an opportunity and been advised to seek independent legal advice prior to signing this Agreement.</p><h1 class="text-left"><strong>Counterparts</strong></h1><p>This Agreement may be executed in any number of counterparts, each of which if so executed shall be deemed to be an original, and such counterparts will together constitute but one Agreement.</p><h1 class="text-left"><strong>Language</strong></h1><p class="vspace-lg">The parties hereto confirm that they have requested that this Agreement and all related documents be drafted in English. Les parties ont exigé que le présent contrat et tous les documents connexes soient rédigés en anglais.</p>
        </div>
        <div class="row">
            <div class="col-lg-12 vspace-lg offerClause2">
                    <p>Sincerely,</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 vspace-xl">
                <$client.env.FormField.InternalSigner.HTML>
                <p class="offerClause3">
                    <small>Signed by <$client.tEventManagers_Person_21.FormattedName><br>on behalf of Apple Canada Inc.</small>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vspace offerClause3">
               <p><small>I understand and agree to these terms and conditions of employment.</small></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 vspace-xl">
                <$client.env.FormField.Signer.HTML>
                <small>Signature of Employee</small>
            </div>
        </div>
        <footer class="row">
            <div class="col-lg-12">
                <p class="offerClause4"><small>Apple Confidential <br> CAR EA, revised April 2015, v15.2</small></p>
            </div>
        </footer>
    </div>

    <div class="srt_eform_section clearfix">
            <div id="srt_form_btn_wrapper">
              <div class="srt_eform_row">
                <div class="col-lg-12 srt_eform_module">
                    <div class="srt_eform_text_inner">
                        <input class="appInputButton RCappInputButtonBlue" id="buttonSaveAndComplete" name="buttonSaveAndComplete" type="button" onclick="document.getElementById('FormButtonValidator').value=1;void(funcSaveAndComplete());" value="Accept Offer" style="display: inline;">
                        <input class="appInputButton RCappInputButtonBlue" id="buttonPrint" name="buttonPrint" type="button" onclick="document.getElementById('FormButtonValidator').value=0;void(funcPrint());" value="Download PDF">
                        <input class="appInputButton RCappInputButtonOrange" id="buttonCancel" name="buttonCancel" type="button" onclick="void(funcCancel());" value="Cancel">

                    </div>
                    <!-- end srt_eform_text_inner  -->
                </div>
                <!--end 12 -->
            </div>
            <!-- end srt_form_btn_wrapper  -->
        </div>
        <!--end row  -->
    </div>
    <!--end eform_section  -->

</div><!-- end container -->
