<div id="container">
    <div id="incomplete">
        <div class="srt_eform_row">
            <div class="srt_eform_module" id="inner-content">
                <div class="srt_eform_text_inner">
                    <div id="markup">
                        <div class="row vspace">
                            <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4 pull-right">
                                <img src="/assets/img/apple_logo.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="vspace-lg">
                                    Employment Agreement
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    THIS AGREEMENT is made as of the [datenow]
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-4 col-xs-12">
                                BETWEEN: 
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-8 col-xs-12">
                               <p>
                                   Apple Canada Inc. ("Apple" or "Company"), an Ontario company having offices at 120 Bremner Boulevard, Suite 1600, Toronto, Ontario, Canada M5J 0A8
                               </p> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-4 col-xs-12">
                                AND: 
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-8 col-xs-12">
                                [Full_Name] ("You" or "Employee") <br>
                                [Addr1] <br>
                                [Addr2] <br>
                                [CityProvince]
                                <p>
                                    [zip]
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    This Agreement sets forth the terms upon which Apple agrees to employ the Employee and upon which Employee agrees to be employed by Apple. For good and valuable consideration, the receipt and sufficiency of which are hereby acknowledged, the parties agree as follows:
                                </p>
                                <h3 class="text-grey">
                                    <strong>Job Title and Job Duties</strong>
                                </h3>
                                <p>
                                    You are employed as [Insert if employee type = Full_Time] Full Time [End insert if employee type = Full_Time> [Insert if employee type = Part_Time] Part Time [End insert if employee type = Part_Time] [Insert if CAC_Contract_Type = FWE] Seasonal [End insert if CAC_Contract_Type = FWE] [Job_Title_Retail]. The duties of this position include sales and customer service and any other duties assigned to you from time to time by Apple.
                                </p>
                                <p>
                                    Apple may from time to time redefine the job title, description, functions and/or responsibilities of the position without changing any rights or obligations of the parties hereto.
                                </p>
                                [Insert if CAC_Contract_Type = Standard/Permanent]
                                <h3 class="text-grey">
                                    <strong>Commencement of Employment</strong>
                                </h3>
                                <p>
                                    Your employment will begin on [Start_Date] and shall continue until terminated pursuant to this Agreement.
                                </p>
                                [End Insert if CAC_Contract_Type = Standard/Permanent]

                                [Insert if CAC_Contract_Type = FWE]
                                <h3 class="text-grey">
                                    <strong>Term of Employment</strong>
                                </h3>
                                <p>
                                    Your employment will begin on [Start_Date] and end on [Termination_Date]. Unless Apple terminates your employment before the end of this term, or renews this Agreement for a further term, your employment will end on [Termination_Date], at which time Apple will have no obligation to give you any notice of termination, or compensatory indemnity in lieu of such notice, and will have no further obligation whatsoever to you. [End insert if CAC_Contract_Type = FWE]
                                </p>
                                [End Insert if CAC_Contract_Type = FWE]
                                <h3 class="text-grey">
                                    <strong>Probation Period</strong>
                                </h3>
                                <p>
                                    Your employment with Apple is subject to a ninety (90) day probationary period. At any time during your probationary period, either you or Apple may terminate your employment without notice or any other obligation to the other party, except the minimum notice or pay in lieu of notice and any other entitlements required by the applicable employment standards statute.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Conditional Offer of Employment</strong>
                                </h3>
                                <p>
                                    Your employment with Apple is conditional upon verification satisfactory to Apple of the information you provided to it during the job application process, the receipt of references satisfactory to Apple from those nominated by you, and the receipt of documentary evidence satisfactory to Apple of your continued right to work in Canada. It is your responsibility to maintain your legal right to work in Canada.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Place of Work</strong>
                                </h3>
                                <p>
                                    While your usual place of work is the [Place_of_Work] store, Apple may, at its sole discretion, require you to relocate to any other location within the Greater [Greater_City_Area] Area, either temporarily or permanently, without thereby breaching this Agreement or any terms of your employment.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Days and Hours of Work</strong>
                                </h3>
                                [Insert if CAC_Contract_Type does not = FWE and if employee type = Full_Time]
                                <p>
                                    You are employed on a full-time basis. Your usual weekly hours are forty (40) hours per week exclusive of breaks (your "Basic Hours").
                                </p>
                                [End Insert if CAC_Contract_Type does not = FWE and if employee type = Full_Time]

                                [Insert if CAC_Contract_Type does not = FWE and employee type = Part_Time]
                                <p>
                                    You are employed on a part-time basis. Your usual weekly hours are twenty (20) hours per week exclusive of breaks (your "Basic Hours").
                                </p>
                                [End Insert if CAC_Contract_Type does not = FWE and employee type = Part_Time]

                                [Insert if CAC_Contract_Type = FWE]
                                <p>
                                    You are employed on a seasonal basis. Your usual weekly hours are [Weekly_Hours_Canada] hours per week exclusive of breaks (your "Basic Hours").
                                </p>
                                [End Insert if CAC_Contract_Type = FWE]

                                <p>
                                    Your actual working days and hours will be determined by your manager who will notify you in advance, at the beginning of each week, what your working schedule will be for that week.
                                </p>

                                <p>
                                    Apple reserves the right to have you work either a reasonable number of additional hours or fewer hours than your Basic Hours as its business requires. Apple may implement these changes to your hours without prior notice and without thereby breaching any term of this Agreement or your employment with Apple.
                                </p>

                                <h3 class="text-grey">
                                    <strong>Compensation</strong>
                                </h3>

                                <p>
                                    Your basic rate of pay is (CAD) $[Salary_Amount] per hour. You will be paid every two weeks, one week in arrears, less the applicable deductions.
                                </p>

                                [Insert if CAC_Contract_Type does not = FWE]
                                <p>
                                    Overtime is paid in accordance with the employment standards laws of the Province in which you are employed.
                                </p>
                                [End Insert if CAC_Contract_Type does not = FWE]

                                [Insert if CAC_Contract_Type = FWE]
                                <p>
                                    Overtime is paid for each complete period of 15 minutes, and as stipulated in the employment standards laws of the Province in which you work.
                                </p>
                                [End Insert if CAC_Contract_Type = FWE]

                                <h3 class="text-grey">
                                    <strong>Benefits Programs</strong>
                                </h3>
                                [Insert if CAC_Contract_Type does not = FWE and employee type = Part_Time]
                                <p>
                                    Apple offers various benefits plans to its part-time employees. You will be eligible to enroll once you have completed any applicable waiting period.
                                </p>
                                [End Insert if CAC_Contract_Type does not = FWE and employee type = Part_Time]

                                [Insert if CAC_Contract_Type does not = FWE and employee type = Full time]
                                <p>
                                    You may be eligible to participate in various benefit plans offered by Apple from time to time, including Retirement Savings Plan, and health, life and disability insurance plans offered by Apple to its employees. You acknowledge and agree that any benefit plan in effect from time to time is subject to availability and other requirements of Apple or the applicable insurer and the written terms and conditions contained in each plan and that Apple makes no promise about your eligibility for or entitlement to benefits and will have no liability or responsibility in the event you are denied coverage.
                                </p>
                                [End Insert if CAC_Contract_Type does not = FWE and employee type = Full time]

                                [Insert if CAC_Contract_Type = FWE]
                                <p>
                                    You may be eligible to participate in various benefit plans offered by Apple from time to time. You acknowledge and agree that any benefit plan in effect from time to time is subject to availability and other requirements of Apple or the applicable insurer and the written terms and conditions contained in each plan and that Apple makes no promise about your eligibility for or entitlement to benefits and will have no liability or responsibility in the event you are denied coverage.
                                </p>
                                [End Insert if CAC_Contract_Type = FWE]

                                <h3 class="text-grey">
                                    <strong>Vacation</strong>
                                </h3>
                                [Insert if employee type = Part_Time]
                                <p>
                                    Vacation pay will be added to each paycheque in accordance with the employment standards laws of the Province in which you are employed.
                                </p>
                                [End Insert if employee type = Part_Time]

                                [Insert if employee type = Full time]
                                <p>
                                    As an employee you are eligible to accrue vacation in accordance with the employment standard legislation in the Province in which you are employed.
                                </p>
                                [End Insert if employee type = Full time]

                                <p>
                                    Apple's vacation policy may be amended or modified from time to time by Apple in its sole discretion.
                                </p>

                                <h3 class="text-grey">
                                    <strong>Bonus</strong>
                                </h3>
                                <p>
                                    You may be eligible to participate in any of Apple’s bonus and incentive schemes in place from time to time, details of which will be provided by your manager.
                                </p>
                                <p>
                                    All bonus and incentive schemes in which you may be eligible to participate are discretionary and may be amended or withdrawn at any time without breaching a term of this Agreement or your employment with Apple.
                                </p>

                                <h3 class="text-grey">
                                    <strong>Sunday Work/Statutory Holiday/Shift Work</strong>
                                </h3>
                                <p>
                                    You understand that your position is with Apple’s Retail division and that because the Store is a retail operation, which is open on Sundays and statutory holidays, you may be scheduled to work on Sundays and statutory holidays. You agree that you will work on Sundays and statutory holidays if a Sunday or statutory holiday shift is assigned to you and you will not refuse to do so.
                                </p>
                                <p>
                                    You also acknowledge that you may be scheduled to work on different shifts (eg. morning, afternoon or evening) and that your shift schedule may change from time to time.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Absence and Sickness</strong>
                                </h3>
                                <p>
                                    If you are unable to attend work for any reason you must provide notice and otherwise follow Apple’s standard policies and procedures with respect to absences and sickness.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Service to Apple</strong>
                                </h3>
                                <p>
                                    During your employment with Apple, you will in all respects conform to and comply with the directions and policies of Apple, including Apple’s Code of Business Conduct Policy, and any other standard Apple employment policies that are provided to or accessible by Apple employees, perform each of the duties assigned from time to time by Apple to the best of your skill and ability, faithfully and diligently serve Apple, use your best efforts to promote the interests and reputation of Apple, and devote your full working time, attention and energies to the business of Apple.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Personal Information</strong>
                                </h3>
                                <p>
                                    Your personal information will be collected, processed, transferred and safeguarded by Apple in accordance with the terms of the Employee Privacy Notice signed by you.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Disciplinary and Grievance Procedures</strong>
                                </h3>
                                <p>
                                    Apple’s disciplinary and grievance procedures, as amended from time to time, are contained in Apple’s standard employment policies and procedures.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Termination of Employment</strong>
                                </h3>

                                [Insert if CAC_Contract_Type does not = FWE]
                                <p>
                                    Upon successful completion of your probationary period referred to above, your employment may be terminated as follows:
                                </p>
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                        (a)
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                                        <p>
                                            by Apple Canada, for just cause, with no obligation to provide to you any notice or pay in lieu of notice or any indemnity or severance whatsoever;
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                        (b)
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                                        <p>
                                            by Apple Canada, without just cause, by providing you with the minimum statutory notice, or pay in lieu of such notice as may be required by the employment standards act of the Province in which you are employed, or any successor legislation, plus one additional week for each completed year of service with Apple Canada for which you intend to give a full and satisfactory release in favour of Apple;
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                        (c)
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                                        <p>
                                            by you, upon giving Apple Canada two (2) weeks’ advance written notice of your intention to resign, in which event Apple Canada has a right to renounce in whole or in part, to such notice without having any further obligations.
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    In the event of termination, you will be paid any unpaid base salary and any accrued vacation earned up to your last day of active employment with Apple Canada, and benefits will be continued to the extent required by applicable legislation. You acknowledge and expressly agree that upon the termination of employment for any reason other than for cause, you will only be entitled to the above notice or pay in lieu of notice and benefits provisions, and that such termination is fair and reasonable and Apple Canada shall not, in any case, be responsible for any additional notice, pay in lieu of notice, minimum statutory notice, severance pay, termination pay, or other indemnity or damage arising from the termination of your employment.
                                </p>
                                [End Insert if CAC_Contract_Type does not = FWE]

                                [Insert if CAC_Contract_Type = FWE]
                                <p>
                                    Your employment may be terminated prior to the term end date, or any renewal thereof, as follows:
                                </p>
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                        (d)
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                                        <p>
                                            by Apple, for just cause, immediately, with no obligation to provide to you any notice or pay in lieu of notice or severance pay;
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                        (e)
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                                        <p>
                                            by Apple, without just cause, by providing you with the notice, or pay in lieu of notice and severance pay, if any, as required by the employment standards act of the Province in which you are employed, or any successor legislation; or
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                        (f)
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                                        <p>
                                            by you, upon giving Apple two (2) weeks advance written notice.
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    In the event of termination, you will be paid any unpaid wages earned up to the date of termination, and benefits will be continued to the extent required by applicable legislation. You acknowledge and expressly agree that upon the termination of employment for any reason other than for cause you will only be entitled to the above notice, pay in lieu of notice, severance and benefits provisions which apply under then current legislation, and any claim for damages for failure to provide adequate notice of termination at law or to any other amount under employment statutes or at law will be limited to such amount or provisions.
                                </p>
                                [End Insert if CAC_Contract_Type = FWE]

                                <h3 class="text-grey">
                                    <strong>Notices</strong>
                                </h3>
                                <p>
                                    Any notice of termination of this Agreement or your employment shall be delivered personally, otherwise by hand delivery or by registered Canadian mail to you or to Apple at the addresses set out above. If the address for you or for Apple as set out above changes during the term of this Agreement, then you or Apple, as applicable, shall promptly provide the new address to the other party.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Return of Property</strong>
                                </h3>
                                <p>
                                    Upon termination of your employment, or at Apple's request, you will promptly deliver to Apple all documents and materials (including without limitation all training materials, keys, Apple products, security passes, company credit cards and equipment, "Apple Property") of any kind pertaining to your work at Apple, and you agree that you will not take with you any Apple Property, documents, materials, or copies thereof, whether physical or electronic, containing any Proprietary Information. You acknowledge that your failure to return any Apple Property at the end of your employment may result in Apple deducting the fair value of the Apple Property from your final pay.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Confidential and Proprietary Information, Inventions and Other Income</strong>
                                </h3>
                                <p>
                                    You must sign and abide by the attached Intellectual Property Agreement and return the signed agreement with this Employment Agreement. Any exceptions or approvals required under the terms of the Intellectual Property Agreement must be approved by your division’s vice president and Apple’s Law Department prior to your beginning work.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Binding Agreement</strong>
                                </h3>
                                <p>
                                    This is a legal contract that shall be binding on Apple and you.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Survival</strong>
                                </h3>
                                <p>
                                    Notwithstanding the termination of your employment, your obligations and covenants under section 19 (Confidential and Proprietary Information, Inventions and Other Income) will survive such termination and continue in full force for the benefit of Apple.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Waiver</strong>
                                </h3>
                                <p>
                                    Any waiver by Apple of a breach of any provision of this Agreement by you will not operate or be interpreted as a waiver of any other or subsequent breach by you.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Governing Law</strong>
                                </h3>
                                <p>
                                    Your contract of employment will be governed by and interpreted in accordance with the laws of the Province in which you are employed.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Severability</strong>
                                </h3>
                                <p>
                                    Each provision of this Agreement is declared to be a separate and distinct promise and to be separable from all other such separate and distinct promises. If any promise, provision or part thereof is determined by a court of competent jurisdiction or other constituted legal authority to be void, unenforceable or unreasonable in whole or in part, it will not be deemed to affect or impair the enforceability or validity of any other promise or provision in this Agreement or any part thereof and the said court or other constituted legal authority will have the authority to limit such promise or provision as it deems proper.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Assignment</strong>
                                </h3>
                                <p>
                                    This Agreement may be assigned by Apple. You may not assign, subcontract or delegate your duties under this Agreement without the prior written consent of Apple.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Entire Agreement</strong>
                                </h3>
                                <p>
                                    This Agreement, including all parts hereto, constitutes the entire agreement between you and Apple with respect to your employment by Apple and supersedes all prior or simultaneous representations, discussions, negotiations and agreements, whether written or oral, with respect thereto. This Agreement may be amended or modified only with the written consent of the parties. No oral waiver, amendment or modification will be effective under any circumstances.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Independent Legal Advice</strong>
                                </h3>
                                <p>
                                    You confirm and agree that you have had an opportunity and been advised to seek independent legal advice prior to signing this Agreement.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Counterparts</strong>
                                </h3>
                                <p>
                                    This Agreement may be executed in any number of counterparts, each of which if so executed shall be deemed to be an original, and such counterparts will together constitute but one Agreement.
                                </p>
                                <h3 class="text-grey">
                                    <strong>Language</strong>
                                </h3>
                                <p class="vspace-lg">
                                    The parties hereto confirm that they have requested that this Agreement and all related documents be drafted in English. Les parties ont exigé que le présent contrat et tous les documents connexes soient rédigés en anglais.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="complete"></div>
    </div>
    <div class="srt_eform_row">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
                <input type="text">
                <small>Signed by [Canada_Store_Leader]<br>on behalf of Apple Canada Inc.</small>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
                <input type="text">
                <small>Date</small>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vspace">
                <small>I understand and agree to these terms and conditions of employment.</small>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace-xl">
                <input type="text">
                <small>Signature of Employee</small>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace-xl">
                <input type="text">
                <small>Date</small>
            </div>
        </div>
        <footer class="row">
            <div class="col-lg-12">
                <small>Apple Confidential <br> CAR EA, revised April 2015, v15.2</small>
            </div>
        </footer>
    </div>
</div>
