<main class="container-fluid">
    <header class="row">
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
            <img src="/assets/img/stericycle_logo.jpg" alt="" class="img-responsive">
        </div>
    </header>
    <div class="row mb">
        <div class="col-lg-12">
            <h3 class="text-center"><strong>STERICYCLE CANADA</strong></h3>
            <h4 class="text-center"><strong>CONFIDENTIALITY AGREEMENT</strong></h4>
            <p class="text-justify">
                I, the under signed, acknowledge that in executing my duties at Stericycle Canada (the “Corporation”), I will have access to and may become aware of proprietary and confidential information of the Corporation and its clients or prospective clients and trade secrets of the Corporation. I hereby covenant and agree to keep any and all such proprietary, confidential or trade secret information secret and confidential. I will take all reasonable care to safeguard such proprietary, confidential, or trade secret
            </p>
            <p class="text-justify">
                I confirm that I am under no obligation to any former employer or any other person which is in any way inconsistent with this Agreement or which imposes any restriction on my activities on behalf of the Corporation. I understand that the Corporation does not want me to disclose to it any confidential information that I have obtained from a former employer, although I am free to use my general knowledge and past experience gained from any such former employer.
            </p>
            <p class="text-justify">
                Proprietary and confidential information and trade secrets of the Corporation shall be defined as all information of Stericycle relating to its products, services, techniques, processes, programs, methods, specifications, clients, customers, suppliers, research and development, corporate financing, financial condition, credit standing and the like disclosed by Stericycle either verbally, in writing or in any other manner of communication made in the normal and ordinary course of business. All working papers, notes and documentation connected with my duties at the Corporation, all work completed while I am engaged by the Corporation, are the property of the Corporation.
            </p>
            <p class="text-justify">
                At the end of my employment with the Corporation, I will promptly return to the Corporation all such documents and all confidential information and all copies thereof, in any form whatsoever, and agree to make no further use thereof.
            </p>
            <p class="text-justify">
                All rights, title and interests in innovations, discoveries or inventions made by myself while engaged by the Corporation are also the property of the Corporation and I will assist the Corporation at its expense in obtaining protection for its proprietary interests therein.
            </p>
        </div>
    </div>
    <div class="row mb">
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
            <div class="form-group">
                <$client.env.FormField.Name.HTML>
                Name (please print)
            </div>
        </div>
    </div>
    <div class="row mb">
        <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
            <div class="form-group">
                <$client.env.FormField.Signature.HTML>
                Signature
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
            <div class="form-group">
                <$client.env.FormField.Date.HTML>
                Date
            </div>
        </div>
    </div>
    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="lifesuite__clearfix lifesuite__float-right">
            <$client.env.FormButtons>
        </div>
    </div>
</main>
