<div id="container">
<div class="container-fluid">  
    <div class="form-group">  
        <div class="row y-space">
            <div class="col-md-12 text-right">
                <img src="logo_black.png" class="imglogo">
            </div>
            <div class="col-md-12 ">
                <h3 class="">Personal Information Notice</h3>
            </div>
        </div>
           
    <div class="row">
        <div class="col-md-12 ">
            <h5 class="border-bottom">Personal Information</h5>
        </div>
    </div><!--End of Row-->
    <div class="row">
   <div class="col-md-5">
     <$client.env.FormField.b01_Last_name.HTML>
     <label class="lifesuite__input-label lifesuite__input--block">Last name</label>
   </div>
           <div class="col-md-4">
             <$client.env.FormField.b02_Middle_initial.HTML>
             <label class="lifesuite__input-label lifesuite__input--block">Middle initial</label>
   </div>
           <div class="col-md-3">
             <$client.env.FormField.b03_First_name.HTML>
             <label class="lifesuite__input-label lifesuite__input--block">First name</label>
   </div>
           
            <div class="col-md-12">
              <$client.env.FormField.b04_Preferred_first_name.HTML>
              <label class="lifesuite__input-label lifesuite__input--block">Preferred first name (to appear in directory)</label>
           </div>
            
            <div class="col-md-5">
              <$client.env.FormField.b05_Date_of_birth.HTML>
              <label class="lifesuite__input-label lifesuite__input--block">Date of birth (mm/dd/yyyy)</label>
           </div>
            <div class="col-md-7">
              <$client.env.FormField.b06_Social_security_number.HTML>
              <label class="lifesuite__input-label lifesuite__input--block">Social security number</label>
           </div>
</div><!--End of Row-->
                <br>
                
                <div class="row">
   <div class="col-md-12">
     
     <h5 class="border-bottom">Residence address (U.S. Address only)</h5>
   </div>
</div><!--End of Row-->
<br>
                <div class="row">
   <div class="col-md-9">
     <$client.env.FormField.d01_Street_address.HTML>
     <label class="lifesuite__input-label lifesuite__input--block">Street address</label>
   </div>
                   <div class="col-md-3">
                     <$client.env.FormField.d02_Apartment_unit_number.HTML>
                     <label class="lifesuite__input-label lifesuite__input--block">Apartment/unit number</label>
   </div>
                  
                   <div class="col-md-6">
                     <$client.env.FormField.d03_City.HTML>
     <label class="lifesuite__input-label lifesuite__input--block">City</label>
   </div>
                   <div class="col-md-3">
                     <$client.env.FormField.d04_State.HTML>
                     <label class="lifesuite__input-label lifesuite__input--block">State</label>
   </div>
                  <div class="col-md-3">
                    <$client.env.FormField.d05_Zip_Code.HTML>
                     <label class="lifesuite__input-label lifesuite__input--block">Zip Code</label>
   </div>
<div class="col-sm-12 col-md-6 no-padding">
                  <div class="col-xs-7 no-padding">
                    <$client.env.FormField.d06_Home_phone.HTML>
<label class="lifesuite__input-label lifesuite__input--block">Primary Phone Number</label>
                    </div>
                 <div class="col-xs-5 no-padding"><$client.env.FormField.PhoneType_1.HTML>
<label class="lifesuite__input-label lifesuite__input--block">Primary Phone Type</label>
</div>

</div>

<div class="col-sm-12 col-md-6 no-padding">
                  <div class="col-xs-7 no-padding">
                    <$client.env.FormField.d07_Mobile_phone.HTML>
<label class="lifesuite__input-label lifesuite__input--block">Secondary Phone Number</label>
                   </div>
                    <div class="col-xs-5 no-padding"><$client.env.FormField.PhoneType_2.HTML>
 <label class="lifesuite__input-label lifesuite__input--block">Secondary Phone Type</label>
</div>

</div>
</div><!--End of Row-->
<br>

                
                
               <div class="row">
   <div class="col-md-12">
     <h5 class="border-bottom">Mailing address (if different from Residence address)</h5>
   </div>
</div><!--End of Row-->
                <br>
                <div class="row">
   <div class="col-md-9">
     <$client.env.FormField.e01_Street_Address.HTML>
     <label class="lifesuite__input-label lifesuite__input--block">Street address</label>
   </div>
                   <div class="col-md-3">
                     <$client.env.FormField.e02_Apartment_unit_number.HTML>
                     <label class="lifesuite__input-label lifesuite__input--block">Apartment/unit number</label>
   </div>
                  
                   <div class="col-md-6">
                     <$client.env.FormField.e03_City.HTML>
     <label class="lifesuite__input-label lifesuite__input--block">City</label>
   </div>
                   <div class="col-md-3">
                     <$client.env.FormField.e04_State.HTML>
                     <label class="lifesuite__input-label lifesuite__input--block">State</label>
   </div>
                  <div class="col-md-3">
                    <$client.env.FormField.e05_Zip_Code.HTML>
                     <label class="lifesuite__input-label lifesuite__input--block">Zip Code</label>
   </div>
                </div>
                <br>
                 <div class="row">
   <div class="col-md-12">
     <h5 class="border-bottom">Emergency contact</h5>
   </div>
</div><!--End of Row-->
                <br>
                 <div class="row">
   <div class="col-md-9">
     <$client.env.FormField.e06_Contact_name.HTML>
     <label class="lifesuite__input-label lifesuite__input--block">Contact name</label>
   </div>
                   <div class="col-md-3">
                     <$client.env.FormField.e07_Relationship.HTML>
                     <label class="lifesuite__input-label lifesuite__input--block">Relationship</label>
   </div>
                  <div class="col-sm-12 col-md-6 no-padding">
                
                   <div class="col-xs-7 no-padding">
                     <$client.env.FormField.e08_Home_phone.HTML>
<label class="lifesuite__input-label lifesuite__input--block">Primary Phone Number</label>
                   </div>
<div class="col-xs-5 no-padding">
<$client.env.FormField.PhoneType_3.HTML>
<label class="lifesuite__input-label lifesuite__input--block">Primary Phone Type</label>
</div>

</div>
<div class="col-sm-12 col-md-6 no-padding">
                   <div class="col-xs-7 no-padding">
                     <$client.env.FormField.e09_Mobile_phone.HTML>
<label class="lifesuite__input-label lifesuite__input--block">Secondary Phone Number</label>
</div>
<div class="col-xs-5 no-padding">
<$client.env.FormField.PhoneType_4.HTML>
<label class="lifesuite__input-label lifesuite__input--block">Secondary Phone Type</label>
</div>
                     
   </div>
                  
                </div>
                <br>
                 <div class="row">
   <div class="col-md-12">
     <h5 class="border-bottom">Qualification/education</h5>
   </div>
</div><!--End of Row-->
                <br>
                <div class="row qualification">
                  <div class="col-md-3">
                    <$client.env.FormField.f01_Type_of_degree_1.HTML>
                    <label class="lifesuite__input-label lifesuite__input--block">Type of degree</label></div>
                  <div class="col-md-3">
                    <$client.env.FormField.f02_Specialty_Major_1.HTML>
                    <label class="lifesuite__input-label lifesuite__input--block">Specialty/Major</label></div>
                  <div class="col-md-3">
                    <$client.env.FormField.f03_School_Institute_1.HTML>
                    <label class="lifesuite__input-label lifesuite__input--block">School/Institute</label></div>
                  <div class="col-md-3">
                    <$client.env.FormField.f04_Date_degree_awarded_1.HTML>
                    <label class="lifesuite__input-label lifesuite__input--block">Date degree awarded (month/year)</label></div>
                  </div>

<div class="row qualification">
                  <div class="col-md-3">
                    <$client.env.FormField.f05_Type_of_degree_2.HTML>
                    <label class="lifesuite__input-label lifesuite__input--block">Type of degree</label></div>
                  <div class="col-md-3">
                    <$client.env.FormField.f06_Specialty_Major_2.HTML>
                    <label class="lifesuite__input-label lifesuite__input--block">Specialty/Major</label></div>
                  <div class="col-md-3">
                    <$client.env.FormField.f07_School_Institute_2.HTML>
                    <label class="lifesuite__input-label lifesuite__input--block">School/Institute</label></div>
                  <div class="col-md-3">
                    <$client.env.FormField.f08_Date_degree_awarded_2.HTML>
                    <label class="lifesuite__input-label lifesuite__input--block">Date degree awarded (month/year)</label></div>
                  </div>

<div class="row qualification">                  
                    <div class="col-md-3">
                      <$client.env.FormField.f09_Type_of_degree_3.HTML>
                      <label class="lifesuite__input-label lifesuite__input--block">Type of degree</label></div>
                  <div class="col-md-3">
                    <$client.env.FormField.f10_Specialty_Major_3.HTML>
                    <label class="lifesuite__input-label lifesuite__input--block">Specialty/Major</label></div>
                  <div class="col-md-3">
                    <$client.env.FormField.f11_School_Institute_3.HTML>
                    <label class="lifesuite__input-label lifesuite__input--block">School/Institute</label></div>
                  <div class="col-md-3">
                    <$client.env.FormField.f12_Date_degree_awarded_3.HTML>
                    <label class="lifesuite__input-label lifesuite__input--block">Date degree awarded (month/year)</label></div><br>
                 
                </div>
              </div> 
</div> 
</div> 

<div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix">
        <div class="srt_eform_section">
            <div id="srt_form_btn_wrapper">
                <div class="srt_eform_row">
                    <div class="col-lg-12 srt_eform_module">
                        <$client.env.FormButtons>


                            <!--- BUTTONS BELOW ARE FOR OFFER LETTER ONLY --->
                        <!--
                        <div class="srt_eform_text_inner">
                            <input class="appInputButton RCappInputButtonBlue" id="buttonSaveAndComplete" name="buttonSaveAndComplete" type="button" onclick="void(funcSaveAndComplete());" value="Save and Complete" style="display: inline;">
                            <input class="appInputButton RCappInputButtonBlue" id="buttonPrint" name="buttonPrint" type="button" onclick="void(funcPrint());" value="Download PDF">
                            <input class="appInputButton RCappInputButtonOrange" id="buttonCancel" name="buttonCancel" type="button" onclick="void(funcCancel());" value="Cancel">
                        </div>
                        -->

                            <!-- end srt_eform_text_inner  -->
                    </div>
                    <!--end 12 -->
                </div>
                <!-- end srt_form_btn_wrapper  -->
            </div>
            <!--end row  -->
        </div>
        <!--end eform_section  -->
    </div>
</div>
