<main class="container">

    <div class="form-group">
        <div class="col-40">First Name *</div>
        <div class="col-60">
            <input class='requiredEUP' id="eupFirstName" type="text" name="First_Name" value="<$client.tForWhomUserInfo.First_Name>" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-40">Middle Name</div>
        <div class="col-60">
            <input type="text" name="Middle_Name" value="<$client.tForWhomUserInfo.Middle_Name>" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-40">Last Name *</div>
        <div class="col-60">
            <input class='requiredEUP' id="eupLastName" type="text" name="Last_Name" value="<$client.tForWhomUserInfo.Last_Name>" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='Full_Name_prompt'>
            <$client.env.promptFull_Name>*</div>
        <div class="col-60">
            <$client.env.inputFull_Name>
        </div>
    </div>

    <div class="form-group">
        <div class="col-40">Email Address </div>
        <div class="col-60">
            <input type="text" size="40" name="Email" value="<$client.tForWhomUserInfo.Email>" /> </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='SSNO_prompt'>
            <$client.env.promptSSNO>*</div>
        <div class="col-60">
            <$client.env.inputSSNO>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='DOB_prompt'>
            <$client.env.promptDOB>*</div>
        <div class="col-60">
            <$client.env.inputDOB>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='Marital_Status_prompt'>
            <$client.env.promptMarital_Status>*</div>
        <div class="col-60">
            <$client.env.inputMarital_Status>
        </div>
    </div>

    <div class="bar-heading text-navy">Contact Information</div>

    <div class="form-group">
        <div class="col-40" id='Address1_prompt'>
            <$client.env.promptAddress1>*</div>
        <div class="col-60">
            <$client.env.inputAddress1>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40">
            <$client.env.promptAddress2>
        </div>
        <div class="col-60">
            <$client.env.inputAddress2>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='City_prompt'>
            <$client.env.promptCity>*</div>
        <div class="col-60">
            <$client.env.inputCity>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='State_prompt'>
            <$client.env.promptState>*
        </div>
        <div class="col-20">
            <$client.env.inputState>
        </div>

        <div class="col-20 text-center" id='Zip_prompt'>
            <$client.env.promptZip>*</div>
        <div class="col-20">
            <$client.env.inputZip>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='Country_prompt'>
            <$client.env.promptCountry>*</div>
        <div class="col-60">
            <$client.env.inputCountry>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='Phone_prompt'>
            <$client.env.promptPhone>*</div>
        <div class="col-60">
            <$client.env.inputPhone>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40">
            <$client.env.promptSecondary_Phone>
        </div>
        <div class="col-60">
            <$client.env.inputSecondary_Phone>
        </div>
    </div>

    <div class="bar-heading text-navy">
    	EEO Information
    </div>

    <p class="text-required">      
    	The information requested below is used by the Company only to maintain records required of employers doing business with the federal government&#46; Information supplied by you will not affect your employment with the Company&#44; which is an equal employment opportunity employer&#46;
    </p>
    <div class="form-group">
        <div class="col-40" id='Ethnicity_prompt'>
            <$client.env.promptEthnicity>
        </div>
        <div class="col-60">
            <$client.env.inputEthnicity>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='Gender_prompt'>
            <$client.env.promptGender>
        </div>
        <div class="col-60">
            <$client.env.inputGender>
        </div>
    </div>

    <div class="bar-heading text-navy">Referral Source</div>

    <div class="form-group">
        <div class="col-40" id='How_were_you_referred_to_Carters'>
            <$client.env.promptHow_were_you_referred_to_Carters>*</div>
        <div class="col-60">
            <$client.env.inputHow_were_you_referred_to_Carters>
        </div>
    </div>
    <div class="bar-heading text-navy">Primary Emergency Contact Information</div>

    <div class="form-group">
        <div class="col-40" id='Primary_Contact_Name_prompt'>
            <$client.env.promptPrimary_Contact_Name>*</div>
        <div class="col-60">
            <$client.env.inputPrimary_Contact_Name>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='Primary_Contact_Relationship_prompt'>
            <$client.env.promptPrimary_Contact_Relationship>*</div>
        <div class="col-60">
            <$client.env.inputPrimary_Contact_Relationship>
        </div>
    </div>

    <div class="form-group">
        <div class="col-40" id='Primary_Contact_Phone_prompt'>
            <$client.env.promptPrimary_Contact_Phone>*</div>
        <div class="col-60">
            <$client.env.inputPrimary_Contact_Phone>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='Primary_Contact_Phone2_prompt'>
            <$client.env.promptPrimary_Contact_Phone2>
        </div>
        <div class="col-60">
            <$client.env.inputPrimary_Contact_Phone2>
        </div>
    </div>

    <div class="bar-heading text-navy">Secondary Emergency Contact Information</div>

    <div class="form-group">
        <div class="col-40" id='Secondary_Contact_Name_prompt'>
            <$client.env.promptSecondary_Contact_Name>
        </div>
        <div class="col-60">
            <$client.env.inputSecondary_Contact_Name>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='Secondary_Contact_Relationship_prompt'>
            <$client.env.promptSecondary_Contact_Relationship>
        </div>
        <div class="col-60">
            <$client.env.inputSecondary_Contact_Relationship>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='Secondary_Contact_Phone_prompt'>
            <$client.env.promptSecondary_Contact_Phone>
        </div>
        <div class="col-60">
            <$client.env.inputSecondary_Contact_Phone>
        </div>
    </div>
    <div class="form-group">
        <div class="col-40" id='Secondary_Contact_Phone2_prompt'>
            <$client.env.promptSecondary_Contact_Phone2>
        </div>
        <div class="col-60">
            <$client.env.inputSecondary_Contact_Phone2>
        </div>
    </div>
	<p class="text-required">* Identifies Required Fields</p>
	<p class="card-text">It's Time To Get Started!</p>
	<div class="form-group">
		<div id="form-control-buttons" class="i-block pull-right"></div>
	</div>
</main>

<div hidden>
	<$client.env.FormField.How_were_you_referred_to_Carters.prompt>
</div>

<script type="text/javascript">
    $(document).on('ready', function() {
    	"use strict";
        // SERVICES-38825 | change every first letter to uppercase
        $('[name$="First_Name"], [name$="Middle_Name"], [name$="Last_Name"], [name$=".Full_Name"]').on('blur', function() {
            if ($(this).val().length < 1) {
                return false;
            }
            let name = $(this).val().split(' ');
            let newName = [];
            for (let i = 0; i < name.length; i++) {
                newName.push(name[i].charAt(0).toUpperCase() + name[i].substring(1).toLowerCase());
            }
            if (newName.length === 1) {
                $(this).val(newName[0]);
                return;
            }
            $(this).val(newName.join(' '));
            return;
        }).trigger('blur');
        // SERVICES-38825 | allow only 9 length numbes
        $('[name$=".SSNO"]').on('keyup paste blur', function() {
            $(this).val($(this).val().replace(/\D/g, ''));
        }).trigger('blur');
        // SERVICES-38825 | change zip code label
        $('[name$=".Country"]').on('keyup blur paste', function() {
            let zipLabel = "";
            switch ($(this).val().toLowerCase()) {
                case "usa":
                    zipLabel = "Zip Code*";
                    break;
                case "canada":
                    zipLabel = "Postal Code*";
                    break;
                default:
                    zipLabel = "Zip Code*";
                    break;
            }
            $('#Zip_prompt').text(zipLabel);
        }).trigger('blur');
        $('#EUPDefaultSaveButton').text('Save and Complete Later');
        $('#TaskSummary_ButtonCancel, #EUPDefaultSaveButton, #TaskSummary_ButtonSave').appendTo('#form-control-buttons');
    });
</script>
