<div class="container-fluid main">
    <header class="row text-center">
        <h5>
            <strong>Arkansas Department of Human Services</strong>
        </h5>
        <h5>
            <strong>Division of Children and Family Services</strong>
        </h5>
        <h5>
            <strong>REQUEST FOR CHILD MALTREATMENT CENTRAL REGISTRY CHECK</strong>
        </h5>
    </header>
    <div class="row box text-center vspace">
        <h5>
            <strong>
                THIS FORM WILL NOT BE PROCESSED UNTIL ALL INFORMATION IS COMPLETED.
            </strong>
        </h5>
    </div>
    <div class="inner-wrapper vspace">
        <p>
            TYPE OF APPLICANT:
        </p>
        <div class="row vspace">
            <div class="inline-block">
                <input type="checkbox">
                DHS Employee/Applicant [Division:]
            </div>
            <div class="col-20">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="inline-block">
                <input type="checkbox">
                Foster Parent
            </div>
            <div class="inline-block">
                <input type="checkbox">
                Legal Custodian
            </div>
            <div class="inline-block">
                <input type="checkbox">
                Adoptive Parent
            </div>
            <div class="inline-block">
                <input type="checkbox">
                Provisional Foster Parent
            </div>
            <div class="inline-block">
                <input type="checkbox">
                <u>Foster Family Support System (FFSS) for:</u>
            </div>
            <div class="col-30">
                <input type="text" class="lifesuite__text-input">
                <u>
                    <small>Name of Foster Family whom FFSS will support</small>
                </u>
            </div>
        </div>
        <div class="row vspace">
            <input type="checkbox">
            Other (This request will be processed for a fee of $10 made payable by check or money order to DHS. We do not accept cash. This fee may be waived for non-profits who provide proof of 501(c)(3) status. Allow 7-10 business days for processing.)
        </div>
        <div class="row vspace">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                This information should be addressed to:
                <input type="text" class="lifesuite__text-input">
                Name/Title (print)
                <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
                Address (physical)
                <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 vspace">
                <div class="vspace">
                    <input type="text" class="lifesuite__text-input">
                    Organization Requesting the Report
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                    Telephone #
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                    Fax #
                </div>
            </div>
        </div>
        <div class="box dbox">
            Address (provide mailing, if different than physical)
            <div class="row">
                <div class="inline-block">
                    <label>
                        Name of Applicant:
                    </label>
                </div>
                <div class="col-80">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row">
                <div class="inline-block">
                    <label>
                        Maiden Name/Other Names Used:
                    </label>
                </div>
                <div class="col-70">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row">
                <div class="inline-block">
                    <label>
                        Race:
                    </label>
                </div>
                <div class="col-15">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        Sex:
                    </label>
                </div>
                <div class="col-5">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        Age/DOB:
                    </label>
                </div>
                <div class="col-20">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        SSN:
                    </label>
                </div>
                <div class="col-25">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="inline-block">
                Present Address: (since
            </div>
            <div class="col-20">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="inline-block">
                , )
            </div>
            <div class="col-50">
                <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
            </div>
        </div>
        <p>
            Previous Addresses (from the last six years):
        </p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vmid">
                <div class="vspace">
                    <div class="inline-block">
                        1)
                    </div>
                    <div class="col-80">
                        <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-30">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-30">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                    </div>
                </div>
                <div class="vspace">
                    <div class="inline-block">
                        2)
                    </div>
                    <div class="col-80">
                        <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-30">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-30">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="vspace">
                    <div class="inline-block">
                        3)
                    </div>
                    <div class="col-80">
                        <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-30">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-30">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                    </div>
                </div>
                <div class="vspace">
                    <div class="inline-block">
                        4)
                    </div>
                    <div class="col-80">
                        <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-30">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-30">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>
            Cities and States of Employment (outside of Arkansas) for last six years:
        </p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vmid">
                <div class="vspace">
                    <div class="inline-block">
                        1)
                    </div>
                    <div class="col-80">
                        <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-25">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-25">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                    </div>
                </div>
                <div class="vspace">
                    <div class="inline-block">
                        2)
                    </div>
                    <div class="col-80">
                        <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-25">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-25">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="vspace">
                    <div class="inline-block">
                        3)
                    </div>
                    <div class="col-80">
                        <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-25">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-25">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                    </div>
                </div>
                <div class="vspace">
                    <div class="inline-block">
                        4)
                    </div>
                    <div class="col-80">
                        <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
                        <div class="inline-block">
                            From
                        </div>
                        <div class="col-25">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                        <div class="inline-block">
                            to
                        </div>
                        <div class="col-25">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>
            Children (related or non-related) now residing or who have resided in the home at any time and all biological children, even if they have not resided in the home:
        </p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Full Name:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        DOB/Age:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Relationship:
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        SS# (if known):
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Full Name:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        DOB/Age:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Relationship:
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        SS# (if known):
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Full Name:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        DOB/Age:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Relationship:
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        SS# (if known):
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Full Name:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        DOB/Age:
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        Relationship:
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="clearfix">
                    <div class="pull-left vtext">
                        SS# (if known):
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="notary-block vspace">
            <div class="vspace">
                <h4 class="text-center">
                    THE FOLLOWING IS TO BE COMPLETED ONLY WITH A NOTARY
                </h4>
                I,
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                verify that the information above is true and complete. I authorize the Arkansas Child Maltreatment Central Registry to release any information their files may contain concerning me as an offender of a true report of child maltreatment. 
            </div>
            <div class="row vspace">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                    Signature of Applicant
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                    Date
                </div>
            </div>
            <div class="row">
                County of
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                State of Arkansas
            </div>
            <div class="row vspace">
                Acknowledged before me, this
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                day of
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                ,
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    Notary Public
                </div>
                <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12 pull-right">
                    My commission expires:
                    <div class="col-50">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="notary-block vspace">
            <h4 class="text-center">
                THE FOLLOWING IS TO BE COMPLETED BY CENTRAL REGISTRY
            </h4>
            <input type="checkbox">
            The Arkansas Child Maltreatment Central Registry contains no record under the referenced name in a true report of child maltreatment.
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 pull-right">
                    Examiner’s Initials and Date:
                    <div class="col-50">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="text-justify">
                Please note that whenever there is a determination of child maltreatment, the person identified as the offender has the right to a hearing to contest that determination. The person’s name may not be placed in the Central Registry until after the hearing decision. Therefore, the absence of a true report in the Child Maltreatment Central Registry does not imply that the person is or is not the subject of a completed child maltreatment investigation. Please check the Central Registry periodically as names can be added to the Central Registry based on new maltreatment reports and upon final administrative determination.
                </p>
            </div>
            <div class="row">
                <input type="checkbox">
                Information Found
            </div>
            <div class="row">
                Examiner’s Signature and Date
                <div class="col-40">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-30">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row text-center vspace">
                <strong>
                    Child Maltreatment Central Registry <br>
                    Slot S 566 <br>
                    P O Box 1437 <br>
                    Little Rock AR 72203
                </strong>
            </div>
        </div>
    </div>
    <strong>
        CFS-316 (08/2011)
    </strong>
</div>
