<main>
    <header class="vspace">
        <div class="col-30">
            <img src="<$link;/main/RedCarpet/FormTemplates/College_Board_Required_Documents/assets/img/experis-collegboard-logo.jpg>" alt="Experis CollegeBoard" class="img-responsive">
        </div>
    </header>
    <h2 class="vspace">
        <strong>Memo</strong>
    </h2>
    <div class="vspace">
        <div class="col-15">
            <strong>To:</strong>
        </div>
        <div class="col-85">
            College Board IT &amp; Ops Contractor
        </div>
    </div>
    <div class="vspace">
        <div class="col-15">
            <strong>From:</strong>
        </div>
        <div class="col-85">
            IT &amp; Ops Management
        </div>
    </div>
    <div class="vspace">
        <div class="col-15">
            <strong>Date:</strong>
        </div>
        <div class="col-85">
            [Date]
        </div>
    </div>
    <div class="vspace">
        <div class="col-15">
            <strong>Re:</strong>
        </div>
        <div class="col-85">
            IT &amp; Ops Contractor Information &amp; Contractor Guidelines
        </div>
    </div>
    <p class="vspace">
        Welcome to the College Board! Thank you in advance for helping us achieve our mission to connect students to college success and opportunity.
    </p>
    <p class="vspace">
        This packet includes important information about your assignment at the College Board. Please review the information enclosed and sign and return the Contractor Guidelines, to your vendor, before your first day at the College Board.
    </p>
    <p class="vspace">
        <strong>Getting Started:</strong>
    </p>
    <ul class="vspace">
        <li>
            Please arrive at the College Board at the time agreed upon between your vendor and your College Board (CB) manager. When you arrive at the building, check in with the receptionist at the front desk located on the 1st floor.
        </li>
        <li>
            The College Board is located at 11955 Democracy Drive, Reston, VA at the Reston Town Center (RTC).
        </li>
        <li>
            Effective January 1, 2017, RTC will initiate paid parking. For more information about RTC parking and to download the parking app, go to <a href="https://www.restontowncenter.com/parking/" target="_blank">https://www.restontowncenter.com/parking/</a>.
        </li>
        <li>
            Attend the IT &amp; Operations New Hire Orientation. You will receive a meeting invite in your College Board Outlook email. Sessions are generally held on the first Monday after your hire date.
        </li>
        <li>
            <p class="vspace">
                Set-up company-approved email signature in Outlook. E-mail signatures are required and should be consistent with College Board brand and must follow these guidelines. Simply cut and paste the content in the box below into your signature and update with your information.
            </p>
            <div class="box col-60 vspace">
                <p>
                    <strong class="text-blue">John Smith</strong> <em class="text-grey">Sr Project Analyst, Contractor</em>
                    <em class="text-grey">Information Technology &amp; Assessment Operations</em>
                </p>
                <p class="vspace text-grey">
                    <em>Information Technology &amp; Assessment Operations</em>
                </p>
                <p>
                    <strong class="text-blue">The College Board</strong>
                </p>
                <p class="text-grey">
                    11955 Democracy Drive, Reston, VA 20190
                </p>
                <p class="text-grey">
                    <strong class="text-blue">T</strong> 571.555.1212 <strong class="text-blue">M</strong> 703.555.1212
                </p>
                <p class="text-grey vspace">
                    jsmith@collegeboard.org
                </p>
                <p class="text-blue">
                    <strong>Challenging all students to own their future</strong>
                </p>
            </div>
        </li>
        <li>
            Additional information will be provided to you by your CB manager.
        </li>
    </ul>
    <p class="vspace">
        <strong>Welcome!</strong>
    </p>
    <h3 class="vspace">
        <strong>College Board Contractor Guidelines</strong>
    </h3>
    <p class="vspace">
        <em>The following Guidelines must be signed and returned to your vendor prior to starting work at the College Board.</em>
    </p>
    <p class="vspace">
        <strong>Our Mission:</strong>
    </p>
    <p class="vspace">
        The College Board’s mission is to connect students to college success and opportunity. We are a not-for-profit membership organization committed to excellence and equality in education. Information about the College Board’s products and services may be found on our website, <a href="www.collegeboard.org" target="_blank">www.collegeboard.org</a>.
    </p>
    <p class="vspace">
        <strong>Time Reporting:</strong>
    </p>
    <p class="vspace">
        Please support the College Board by providing accurate time reporting in our tracking system. The time you enter into the College Board’s System is considered your master time record, for work conducted under contract with The College Board, and should match the time you enter into your company’s time reporting system to avoid any delays in invoice processing. Fraudulent time reporting is taken very seriously and could lead to invoice non-payment and/or cause for dismissal.
    </p>
    <p class="vspace">
        Please refer to the Planview “Entering Time” tear sheet enclosed in this packet for instructions on how to enter your time and work with your CB manager for time entry questions.
    </p>
    <p class="vspace">
        <strong>Planned and Unplanned Leave:</strong>
    </p>
    <p class="vspace">
        Please do not charge time for personal activities that occur during the work day. You are expected to only charge your actual working time even if that is short of a 40 hour work week. The College Board has a standard 40 hour work week. Unpaid leave or attendance requests must be discussed in advance with your CB manager and the request submitted, in writing, for approval.
    </p>
    <p class="vspace">
        If you are unable to come into the office, you are required to let your CB manager know at the beginning of that day via phone or email.
    </p>
    <p class="vspace">
        <strong>Over Time:</strong>
    </p>
    <p class="vspace">
        At times, your project may require additional effort beyond 40 hours. In order for your CB manager to maintain an accurate budget we ask that you receive written permission in advance (estimated hours of OT) with your CB manager for any over time you need to work to complete your assignment.
    </p>
    <p class="vspace">
        <strong>Contract Terms:</strong>
    </p>
    <p class="vspace">
        The College Board would like as much notice as possible if you are not able to work through the terms of your contract. Please provide notice/resignation information to your vendor with as much advance notice as possible. Common professional business practice is to offer two full weeks notice to your employer prior to leaving the organization. Of course, we would appreciate additional notice if that is available.
    </p>
    <p class="vspace">
        At the end of your assignment please ensure your building access key and badge are returned to your CB manager, or to the main receptionist and make your manager aware of any College Board equipment that you may have been using.
    </p>
    <p class="vspace">
        <strong>Security Awareness Training:</strong>
    </p>
    <p class="vspace">
        Contractors are required to take College Board’s mandatory security awareness training. You will receive an email invitation shortly after your start date. If you do not receive this email, please contact <a href="mailto:securityawareness@collegeboard.org">securityawareness@collegeboard.org</a> to request this training.
    </p>
    <p class="vspace">
        <strong>Communications:</strong>
    </p>
    <p class="vspace">
        As our most frequent mode of communication, e-mail must be composed with the seriousness of any business correspondence.
    </p>
    <p class="vspace">
        E-mail signatures are required and should be consistent with College Board brand and must follow these guidelines. The font is 11 point Calibri, left-aligned, dark blue and gray, left aligned; the color RGB are 0/82/155 (blue) and 115/115/115 (gray).
    </p>
    <div class="box col-60 vspace">
        <p>
            <strong class="text-blue">John Smith</strong> <em class="text-grey">Sr Project Analyst, Contractor</em>
            <em class="text-grey">Information Technology &amp; Assessment Operations</em>
        </p>
        <p class="vspace text-grey">
            <em>Information Technology &amp; Assessment Operations</em>
        </p>
        <p>
            <strong class="text-blue">The College Board</strong>
        </p>
        <p class="text-grey">
            11955 Democracy Drive, Reston, VA 20190
        </p>
        <p class="text-grey">
            <strong class="text-blue">T</strong> 571.555.1212 <strong class="text-blue">M</strong> 703.555.1212
        </p>
        <p class="text-grey vspace">
            jsmith@collegeboard.org
        </p>
        <p class="text-blue">
            <strong>Challenging all students to own their future</strong>
        </p>
    </div>
    <p class="vspace">
        <strong>Business Usage of College Board Equipment and Resources:</strong>
    </p>
    <p class="vspace">
        Please use our corporate e-mail and internet strictly for College Board Business. Request permission from your CB manager or the Support Center prior to downloading any software to College Board equipment.
    </p>
    <p class="vspace">
        You may dial extension 3330 or email <a href="mailto:supportcenter@collegeboard.org">supportcenter@collegeboard.org</a> for any help desk needs.
    </p>
    <p class="vspace">
        Personal phone calls during the day should be kept to a minimum during working hours.
    </p>
    <p class="vspace">
        <strong>Facility Access Badges</strong>
    </p>
    <p class="vspace">
        All personnel that are permanently or conditionally employed by the College Board are required to possess an RFID access badge which provides admission in to all necessary portions of the facility. Contractors must display badge while within the College Board facility. If your badge is lost or misplaced, or your badge isn’t working, contact <a href="mailto:rofacilities@collegeboard.org">rofacilities@collegeboard.org</a>.
    </p>
    <p class="vspace">
        <strong>Requests / Assistance</strong>
    </p>
    <p class="vspace">
        If you have specific questions about your pay rate or terms, or you need to request additional equipment (e.g., additional monitor), please work with your vendor agency or TAPFIN (Forrester Cox, x3118). Please DO NOT contact the College Board’s HR department or Facilities
    </p>
    <p class="vspace">
        <strong>Representation:</strong>
    </p>
    <p class="vspace">
        Please document your assignment at the College Board on your resume with clear identification of your contractor role and the vendor that represented you. Please include accurate assignment dates with a valid end date and competency description. Please do not describe proprietary project information.
    </p>
    <p class="vspace">
        <strong>Career Opportunities:</strong>
    </p>
    <p class="vspace">
        Some contractor positions may be eligible for employment at the end of the contractual assignment, but are not guaranteed. Please discuss career opportunities with your manager. The College Board is committed to equity in education and to diversity in the workplace. We are an equal opportunity employer.
    </p>
    <p class="vspace">
        Please visit our website at <a href="www.collegeboard.org/about/careers" target="_blank">www.collegeboard.org/about/careers</a> if you are interested in learning more about career opportunities.
    </p>
    <p class="vspace">
        <strong>Contractual Obligation:</strong>
    </p>
    <p class="vspace">
        Please be aware if you have signed a non-compete agreement with your current employer. The College Board negotiates different terms with each of our vendors. Some contractors are ineligible to work for the College Board without permission, or financial recompense to their current employer.
    </p>
    <p class="vspace">
        <strong>Employment Status:</strong>
    </p>
    <p class="vspace">
        Please note that the College Board does not sponsor applicants for an H1B Visa. We hire applicants that are eligible to work for any employer with Employment Authorization Documents(s) (EAD) and Permanent Resident “Green Card” Holders. Your signature below acknowledges your agreement to abide by these guidelines during the course of your assignment with the College Board.
    </p>
    <p class="vspace">
        <strong>Acknowledgement:</strong>
    </p>
    <div class="vspace">
        <div class="col-25">
            Name of Contractor:
        </div>
        <div class="col-40">
            <$client.env.FormField.Name.HTML>
        </div>
    </div>
    <div class="vspace">
        <div class="col-25">
            Signature of Contractor:
        </div>
        <div class="col-40">
            <$client.env.FormField.Signature.HTML>
        </div>
    </div>
    <div class="vspace">
        <div class="col-10">
            Date:
        </div>
        <div class="col-55">
            <$client.env.FormField.Date.HTML>
        </div>
    </div>
    <p class="vspace-lg">
        Return completed form to: <a href="mailto:collegeboard@tapfin.com">collegeboard@tapfin.com</a> or 866-420-0607
    </p>
    <footer class="vspace">
        <div class="col-50 text-grey vertical-top">
            11955 Democracy Drive, Reston, VA 20190
        </div>
        <div class="col-50 text-grey vertical-top">
            <p class="text-right">
                collegeboard.org
            </p>
            <p class="text-right">
                Rev 7.1.15
            </p>
        </div>
    </footer>
</main>
