<main class="container-fluid">
  <div class="box">
    <h4 class="text-center">
      MASTER FILE INFORMATION
    </h4>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-horizontal inner-wrapper">
        <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">Social Security No.</label>
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">COLSA Rehire?</label>
          <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12">Full Name (As listed on Social Security Card):</label>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="checkbox"> Ms.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-3 col-md-3 col-sm-6 col-xs-12">Address</label>
          <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-6 col-xs-12">City</label>
          <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-6 col-xs-12">State, Zip</label>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="lifesuite__text-input">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-3 col-md-3 col-sm-6 col-xs-12">Home Phone</label>
          <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-6 col-xs-12">Cell Phone</label>
          <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-3 col-md-3 col-sm-6 col-xs-12">Marital Status</label>
          <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <input type="checkbox"> S
          </div>
        </div>
        <div class="vspace">
          <div class="form-group ">
            <label class="control-label col-lg-3 col-md-3 col-sm-6 col-xs-12">Date of Birth</label>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
          </div>
        </div>
        <div class="form-group">
          <strong>Emergency Contact Information:</strong>
        </div>
        <div class="form-group vspace">
          <label class="control-label col-lg-2 col-md-2 col-sm-6 col-xs-12">Name</label>
          <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group vspace">
          <label class="control-label col-lg-3 col-md-3 col-sm-6 col-xs-12">Relationship</label>
          <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group vspace">
          <label class="control-label col-lg-2 col-md-2 col-sm-6 col-xs-12">Phone #s</label>
          <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="box form-horizontal">
          <em>
            For Security Use Only:
          </em>
          <br>
          <strong>Initial Security Ed Briefing</strong>
          <div class="form-group">
            <label class="control-label col-lg-1 col-md-1 col-sm-6 col-xs-12">Date:</label>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
            <label class="control-label col-lg-2 col-md-2 col-sm-6 col-xs-12">Whom:</label>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-5 col-md-5 col-sm-6 col-xs-12">CHK Identity (Picture ID)</label>
              <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                <input type="text" class="lifesuite__text-input">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-1 col-md-1 col-sm-6 col-xs-12">Date:</label>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
            <label class="control-label col-lg-2 col-md-2 col-sm-6 col-xs-12">Whom:</label>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-5 col-md-5 col-sm-6 col-xs-12">Item Viewed: (BC or PP)</label>
              <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                <input type="text" class="lifesuite__text-input">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-12">Place of Birth: (City, State, County)</label>
          </div>
          <div class="vspace">
            <div class="form-group">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <input type="text" class="lifesuite__text-input">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <input type="text" class="lifesuite__text-input">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <input type="text" class="lifesuite__text-input">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-5 col-md-5 col-sm-6 col-xs-12">Military Service Dates:</label>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <div class="vspace">
                <input type="text" class="lifesuite__text-input">
                <div class="text-center">
                  <strong>to</strong>
                </div>
                <input type="text" class="lifesuite__text-input">
              </div>
              <div class="vspace">
                <input type="text" class="lifesuite__text-input">
                <div class="text-center">
                  <strong>to</strong>
                </div>
                <input type="text" class="lifesuite__text-input">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-3 col-md-3 col-sm-6 col-xs-12">Maiden Name:</label>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-5 col-md-5 col-sm-6 col-xs-12">Employer before COLSA:</label>
            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-5 col-md-5 col-sm-6 col-xs-12">Dates of Employment:</label>
              <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                <input type="text" class="lifesuite__text-input">
                <div class="text-center">
                  <strong>to</strong>
                </div>
                <input type="text" class="lifesuite__text-input">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 inner-wrapper">
        <div class="box clearfix form-horizontal">
          <h4>
            <strong>For HR Use Only</strong>
          </h4>
          <div class="form-group">
            <label class="control-label col-lg-3 col-md-3 col-sm-6 col-xs-12">Employee No.</label>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-3 col-md-3 col-sm-6 col-xs-12">Hire Date</label>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-3 col-md-3 col-sm-6 col-xs-12">Job Title</label>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-3 col-md-3 col-sm-6 col-xs-12">Labor Grade</label>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">Wage Determination</label>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
              <input type="checkbox"> Yes
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-6 col-xs-12">Department Name</label>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-3 col-md-3 col-sm-6 col-xs-12">Department No</label>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-2 col-md-2 col-sm-6 col-xs-12">Supervisor</label>
            <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
              <input type="text" class="lifesuite__text-input">
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-3 col-md-3 col-sm-6 col-xs-12">Hourly Rate</label>
              <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                <input type="text" class="lifesuite__text-input">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12">Status</label>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
              <div class="inline-choices">
                <input type="checkbox"> 40/Full Time
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-1 col-md-1 col-sm-6 col-xs-6">AWS</label>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
              <input type="checkbox"> 1
            </div>
            <label class="control-label col-lg-1 col-md-1 col-sm-6 col-xs-6">Shift</label>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
              <input type="checkbox"> 1
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">FLSA:</label>
              <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
                <div class="inline-choices">
                  <input type="checkbox"> Exempt
                </div>
              </div>
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <div class="col-lg-12">
                <strong>Labor Location</strong>
                <p>
                  <em>
                  If employee has a COLSA Corp &amp; a customer site office Labor Location must be the corporate site.
                  </em>
                </p>
              </div>
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4 col-sm-12 col-xs-12">AL - Hunstville</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="inline-choices">
                  <input type="checkbox"> ARC
                </div>
              </div>
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4 col-sm-12 col-xs-12">CA - San Diego - Palmdale</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="inline-choices">
                  <input type="checkbox"> Mission Valley
                </div>
              </div>
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4 col-sm-12 col-xs-12">CO - CoSp</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="inline-choices">
                  <input type="checkbox"> Corporate
                </div>
              </div>
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4 col-sm-12 col-xs-12">FL - Orlando &amp; Tampa</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="inline-choices">
                  <input type="checkbox"> Corporate
                </div>
              </div>
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4 col-sm-12 col-xs-12">GA-WarnRobins</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="inline-choices">
                  <input type="checkbox"> Corporate
                </div>
              </div>
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4 col-sm-12 col-xs-12">OH- Dayton</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="inline-choices">
                  <input type="checkbox"> Corporate
                </div>
              </div>
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4 col-sm-12 col-xs-12">OK- Tinker</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="inline-choices">
                  <input type="checkbox"> Corporate
                </div>
              </div>
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4 col-sm-12 col-xs-12">VA</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="inline-choices">
                  <input type="checkbox"> Corporate
                </div>
              </div>
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <label class="control-label col-lg-4 col-md-4 col-sm-12 col-xs-12">TMAS</label>
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="inline-choices">
                  <input type="checkbox"> FL (Eglin/Patrick/Hurlburt)
                </div>
              </div>
              <div class="col-lg-12">
                <input type="checkbox"> AL
              </div>
            </div>
          </div>
          <div class="vspace">
            <div class="form-group">
              <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <input type="checkbox">
              </div>
              <label class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12">VA</label>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="inline-choices">
                  <input type="text" class="lifesuite__text-input">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-offset-1">
            HR-FM.0001 <br>
            Rev. 08/2016
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
