<main class="container-fluid">
  <div class="box">
    <h4 class="text-center">
      MASTER FILE INFORMATION
    </h4>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-horizontal inner-wrapper">
        <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-6 col-sm-12">Social Security No.</label>
          <div class="col-lg-8 col-md-8 col-sm-6 col-sm-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-6 col-sm-12">COLSA Rehire?</label>
          <div class="col-lg-8 col-md-8 col-sm-6 col-sm-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-12 col-md-12 col-sm-12 col-sm-12">Full Name (As listed on Social Security Card):</label>
          <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
            <input type="checkbox"> Ms.
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-3 col-md-3 col-sm-6 col-sm-12">Address</label>
          <div class="col-lg-9 col-md-9 col-sm-6 col-sm-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-6 col-sm-12">City</label>
          <div class="col-lg-10 col-md-10 col-sm-6 col-sm-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-6 col-sm-12">State, Zip</label>
          <div class="col-lg-6 col-md-6 col-sm-6 col-sm-12">
            <input type="text" class="lifesuite__text-input">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-3 col-md-3 col-sm-6 col-sm-12">Home Phone</label>
          <div class="col-lg-9 col-md-9 col-sm-6 col-sm-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-2 col-md-2 col-sm-6 col-sm-12">Cell Phone</label>
          <div class="col-lg-10 col-md-10 col-sm-6 col-sm-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-3 col-md-3 col-sm-6 col-sm-12">Marital Status</label>
          <div class="col-lg-9 col-md-9 col-sm-6 col-sm-12">
            <input type="checkbox"> S
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-lg-3 col-md-3 col-sm-6 col-sm-12">Date of Birth</label>
          <div class="col-lg-9 col-md-9 col-sm-6 col-sm-12">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 box"></div>
      <div class="row">
        <div class="col-lg-12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis sit deleniti praesentium itaque expedita aspernatur voluptate maiores quo voluptates et, ut voluptatem accusantium labore consequuntur, tempora perferendis saepe doloribus. Cumque!
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
