<main class="container-fluid">
  <div class="row vspace box">
    <div class="col-lg-1 col-md-1 col-sm-4 col-sm-12 border-right">
      <img src="/assets/img/colsa_logo.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis iure, porro aut doloribus tempore ipsum perferendis quibusdam ducimus dignissimos, doloremque blanditiis magni, a eaque soluta modi possimus laborum neque est!
  </p>
</main>
