<main class="container-fluid">
  <header class="row box bg-gray vspace">
    <div class="col-lg-12 text-center">
      <h4>
        <strong>
          COLSA CORPORATION 401(k) PROFIT SHARING PLAN <br>
          BENEFICIARY DESIGNATION
        </strong>
      </h4>
    </div>
  </header>
  <div class="row">
    <div class="col-lg-12">
      <p class="vspace">
        Please complete all sections and PRINT clearly.
      </p>
    </div>
  </div>
  <div class="row box">
    <div class="col-lg-12 bg-gray border-bottom">
      <div class="col-lg-1">
        <h4><strong>Part 1</strong></h4>
      </div>
      <div class="col-lg-offset-2">
        <h4><strong>PARTICIPANT INFORMATION</strong></h4>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 border-bottom border-right">
      Participant Name
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-bottom">
      Participant Name
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 border-bottom border-right">
      Street Address
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-bottom">
      Date Of Employment
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 border-bottom border-right">
      City
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 border-bottom border-right">
      State
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 border-bottom border-right">
      Zip Code
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-bottom">
      Date of Birth
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-bottom border-right">
      Daytime Phone Number
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-bottom border-right">
      Email Address
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-bottom">
      Company Division of Location
      <input type="text" class="lifesuite__text-input">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <strong>Current Marital Status:</strong>
    </div>
    <div class="col-lg-12">
      <div class="inline-block col-5 text-right vertical-top">
        <div class="inline-block">
          <input type="checkbox">
          &nbsp;
        </div>
      </div><!--
      --><div class="inline-block col-95 vertical-top">
      <strong>I am MARRIED.</strong>
      If my spouse is not the only Primary Beneficiary, I understand my spouse must sign the consent in Part 4 below. If my spouse does not sign the consent, I understand any death benefits under the Plan will automatically be payable in full to my surviving spouse.
      </div>
    </div>
    <div class="col-lg-12">
      <div class="inline-block col-5 text-right vertical-top">
        <div class="inline-block">
          <input type="checkbox">
          &nbsp;
        </div>
      </div><!--
      --><div class="inline-block col-95 vertical-top">
      <strong>I am NOT MARRIED.</strong>
      I understand that if I become married in the future this form automatically ceases to apply and I should file a new beneficiary designation.
      </div>
    </div>
  </div>
  <div class="row box vspace">
    <div class="col-lg-12 bg-gray border-bottom">
      <div class="col-lg-1">
        <h4><strong>Part 2</strong></h4>
      </div>
      <div class="col-lg-offset-2">
        <h4><strong>BENEFICIARY DESIGNATION</strong></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="vspace">
        As a participant in the
        <strong>COLSA Corporation 401(k) profit Sharing Plan</strong>
         (the “Plan”) you may designate a beneficiary or beneficiaries who will receive a distribution of your benefits upon your death. Please complete this Part 2 if you wish to change your current beneficiary designation. If you are married, <em>and wish to name someone other than your spouse as beneficiary</em>, your spouse must complete Part 4 below and the consent must be witnessed by a Plan representative or Notary Public. If you wish to designate multiple beneficiaries, please attach a sheet containing the information below for each beneficiary and the designated percentage to each.
      </p>
    </div>
  </div>
  <div class="row box thick vspace">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right border-bottom">
      Beneficiary Name: Please PRINT
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom">
      Social Security Number (Required)
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom border-right">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        Select one:
        <div class="text-center">
          <div class="inline-block">
            Primary Beneficiary <input type="checkbox">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-left">
        Relationship
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom">
      Date of Birth (Required)
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom thick">
      Street Address
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-bottom thick">
      City
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-bottom thick">
      State
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-bottom thick">
      Zip Code
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-bottom border-left bg-gray bottom-thick">
      Required
      <div class="inline-block col-90">
        <input type="text" class="lifesuite__text-input">
      </div>%
    </div>


    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right border-bottom">
      Beneficiary Name: Please PRINT
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom">
      Social Security Number (Required)
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom border-right">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        Select one:
        <div class="text-center">
          <div class="inline-block">
            Primary Beneficiary <input type="checkbox">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-left">
        Relationship
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom">
      Date of Birth (Required)
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom thick">
      Street Address
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-bottom thick">
      City
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-bottom thick">
      State
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-bottom thick">
      Zip Code
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-bottom border-left bg-gray bottom-thick">
      Required
      <div class="inline-block col-90">
        <input type="text" class="lifesuite__text-input">
      </div>%
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right border-bottom">
      Beneficiary Name: Please PRINT
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom">
      Social Security Number (Required)
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom border-right">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        Select one:
        <div class="text-center">
          <div class="inline-block">
            Primary Beneficiary <input type="checkbox">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-left">
        Relationship
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom">
      Date of Birth (Required)
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom">
      Street Address
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-bottom">
      City
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-bottom">
      State
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-bottom">
      Zip Code
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-bottom border-left bg-gray">
      Required
      <div class="inline-block col-90">
        <input type="text" class="lifesuite__text-input">
      </div>%
    </div>

  </div>

  <div class="row box bg-gray vspace">
    <div class="col-lg-12 bg-gray border-bottom">
      <div class="col-lg-1">
        <h4><strong>Part 3</strong></h4>
      </div>
      <div class="col-lg-offset-2">
        <h4><strong>PARTICIPANT AUTHORIZATION</strong></h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p class="vspace">
        I have read and understand all instructions contained on this form. The above designation shall supersede any and all prior beneficiary designations. Subject to spousal consent, I reserve the power to change this designation at any time by submitting a new properly executed Beneficiary Designation Form to the Plan Administrator. If my primary beneficiary predeceases me, distribute my Plan benefit to my contingent beneficiary(ies). If none of the named beneficiaries survive me, distribute according to the Plan document.
      </p>
    </div>
  </div>

  <div class="row box vspace">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
      Participant’s Signature
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      Date
      <input type="text" class="lifesuite__text-input">
    </div>
  </div>

  <div class="row box bg-gray vspace">
    <div class="col-lg-12 bg-gray border-bottom">
      <div class="col-lg-1">
        <h4><strong>Part 4</strong></h4>
      </div>
      <div class="col-lg-offset-2">
        <h4><strong>SPOUSAL CONSENT TO BENEFICIARY DESIGNATION</strong></h4>
      </div>
    </div>
  </div>

  <div class="row vspace">
    <div class="col-lg-12">
      <strong>(TO BE COMPLETED BY PARTICIPANT’S SPOUSE, IF APPLICABLE)</strong>
    </div>
    <div class="col-lg-12">
      I hereby consent to the designation made by my spouse to have Plan death benefits paid to the above-named beneficiary(ies) specified in Part 2. The Plan’s death benefit provisions have been explained to me and I hereby acknowledge that I understand:
    </div>
    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
      (1) that the effect of the designation is to cause my spouse's benefit to be paid to a beneficiary other than me; <br>
      (2) that each beneficiary designation is not valid without my consent; and <br>
      (3) that my consent is irrevocable unless my spouse (the participant) revokes the beneficiary designation to which I have consented in this Part 4.
    </div>
  </div>

  <div class="row box">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right border-bottom">
      Participant’s Spouse
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom">
      Date
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
      Plan Representative, or Notary Public
      <input type="text" class="lifesuite__text-input">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      Date
      <input type="text" class="lifesuite__text-input">
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 border-left border-bottom border-right notary-seal">
      <em>Notary Seal</em>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 text-center">
      Submit your completed designation to your designated Employer contact for processing at the following address:
      <h4>
        <strong>
          COLSA Corporation - Attn: Benefits Department - 6728 Odyssey Drive - Huntsville, AL 35806 or Fax: (256) 964-5399
        </strong>
      </h4>
      Please retain a copy of this form for your records
    </div>
  </div>

</main>
