<main class="container-fluid">
  <header class="row vspace">
    <div class="col-lg-12">
      <div class="img-wrapper center-block">
        <img src="/assets/img/aleut_logo.jpg" alt="" class="img-responsive">
      </div>
    </div>
  </header>
  <div class="row border-top border-bottom bg-gray vspace subheading">
    <div class="col-lg-12 text-center">
      <h3><strong>Confidentiality and Non-Solicitation Agreement</strong></h3>
      <h4><strong>AMS HR FORM 106</strong></h4>
    </div>
  </div>
  <div class="row vspace form-horizontal">
    <div class="form-group">
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <label class="control-label">Employee Name:</label>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <p class="vspace">
    <u>Aleut Management Services, LLC</u> (The Company Hereafter) wishes to disclose to you certain confidential information that is proprietary. The term (The Company Hereafter) for the purposes of this Confidentiality and Non-Solicitation Agreement ("Agreement"). This Agreement is undertaken with the understanding that it creates no obligation on the part of The Company with respect to its developing, releasing, or marketing any product.
  </p>
  <p class="vspace">
    In consideration of my employment, the compensation received by me from The Company from time to time, and other goods and valuable consideration, my signature below hereby acknowledges the receipt and sufficiency of which, I hereby agree as follows:
  </p>
  <p class="vspace">
    The term ‘Confidential Information’, as used in this Agreement, shall mean any information or material, which is proprietary to (The Company Hereafter), or designated as Confidential Information by The Company, whether or not owned or developed by The Company, which is not generally known by people other than The Company.
  </p>
  <p class="vspace">
    Without limiting the generality of the foregoing, Confidential Information includes, but is not limited to, the following types of information, and other information of a similar nature (whether or not reduced to writing or still in development), whether or not any of the following has been published: process, procedures, “know-how”, marketing techniques and materials, marketing timetables, bid and proposal lists, customer names and other information related to customers, pricing policies, and financial information.
  </p>
  <p class="vspace">
    Confidential information shall not include information that is now generally known or is later published or generally disclosed to the public by The Company.
  </p>
  <p class="vspace">
    You understand and acknowledge that such Confidential Information has been developed or obtained by The Company by the investment of significant time, effort and expense, and that such confidential information provides The Company with a significant competitive advantage in its business.
  </p>
  <p class="vspace">
    Accordingly, you agree to hold in confidence and not to disclose or reveal to any person or entity the Confidential Information disclosed hereunder without the clear and express prior written consent of The Company. You also agree not to use or disclose any of the Confidential Information for any purpose at any time, other than for the limited purpose(s) of this confidence.
  </p>
  <p class="vspace">
    Without limiting the generality of any of the provisions of this Agreement, you specifically agree that any reports concerning Confidential Information which are not made or authorized by The Company, and which appear in any publication prior to The Company disclosure of such Confidential Information, shall not release you from your obligations hereunder with respect to such confidential information. You agree that you shall not publish any review, notice or other report concerning any Confidential Information.
  </p>
  <div class="subheading vspace border-bottom">
    <h3><strong>Corp Confidentiality and Non-Disclosure Agreement</strong></h3>
  </div>
  <p class="vspace">
    It is understood that The Company may furnish to you certain materials, either in writing or otherwise fixed in tangible form for the purpose(s) specified above. You agree that any and all of these materials shall be furnished to you in confidence and all of the terms and conditions of this Agreement shall apply to the disclosure or furnishing of these materials. You will not copy, alter, modify, disassemble, reverse engineer or decompile any of these materials without the prior written consent of The Company. You agree to return to The Company any and all materials, together with any copies that may have been made, promptly after the purpose(s) for which they were furnished have been accomplished, or it requested in writing by The Company.
  </p>
  <p class="vspace">
    You represent that you have not provided or communicated any of the Confidential Information to any third party, and will not do so in the future without the prior written permission of The Company.
  </p>
  <p class="vspace">
    It is not The Company desire to receive proprietary information from you. The Company will not agree to keep confidential, secret or proprietary any ideas, concepts, know-how or techniques or any other information, unless agreed by The Company under a separate written agreement. You release The Company from any and all liability for any disclosure by The Company of information received from you.
  </p>
  <p class="vspace">
    You understand and agree that, because of the unique nature of the Confidential Information, The Company will suffer immediate, irreparable harm in the event you fail to comply with any of your obligations under this Agreement and that monetary damages will probably be inadequate to compensate The Company for such breach. Accordingly, you agree that The Company will be entitled, in addition to any other remedies available to it at law or in equity, to injunctive relief to enforce the terms of this Agreement.
  </p>
  <p class="vspace">
    I further agree that during the term of my employment and for a period of one (1) year thereafter, that I will not directly or indirectly solicit or induce, or aid any other entity or person in soliciting or inducing, or knowingly permit any entity directly or indirectly controlled by me to solicit or induce, any person who is an employee of The Company to leave the employment or association with The Company to become employed or retained by any other entity or to participate in the establishment of any other business.
  </p>
  <p class="vspace">
    This Agreement sets forth the entire understanding and an agreement of the parties with respect to the subject matter hereof and supersedes all other oral or written representations and understandings. The law of the State of Colorado, excluding its conflict of law rules shall govern the formation, interpretation and performance of the contract. This Agreement may only be amended or modified in writing signed in advance by you and any one of The Company.
  </p>
  <p class="vspace">
    You acknowledge that you have carefully read and understand this Agreement, and acknowledge receipt of a copy thereof.
  </p>
  <p class="vspace">
    If the foregoing meets with your complete approval, please indicate your acceptance and agreement by signing in the space provided below.
  </p>
  <div class="row form-horizontal">
    <div class="form-group">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label class="control-label">Signature:</label>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <input type="text" class="lifesuite__text-input">
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
        <label class="control-label">Date:</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row form-horizontal vspace">
    <div class="form-group vspace">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label class="control-label">Printed Name:</label>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <input type="text" class="lifesuite__text-input">
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
        <label class="control-label">Title:</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <footer class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      HR-FORM 106
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
      10/18/17 <br>
      Previous editions are obsolete
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right">
      Human Resources
    </div>
  </footer>
</main>
