<main>
    <header class="text-center mb-md">
        <h2>
            DUANE MORRIS LLP
        </h2>
        <h3>
            COMPUTER USE AND SECURITY POLICY
        </h3>
        <h4>
            August 23, 2018
        </h4>
    </header>
    <p class="text-justify">
        The Firm’s Computer Use and Security Policy is applicable to all users of the Firm’s computer system and to all use of the Internet by means of the Firm’s computer system.
    </p>
    <ol type="A" style="font-weight: bold;" class="mb-md border-bottom">
        <li class="mb-md">
            <p class="text-justify">
                <u><strong>Introduction</strong></u>
            </p>
            <ol style="font-weight: bold;">
                <li>
                    <p class="text-justify">
                        <strong>Purpose</strong>
                    </p>
                    <p class="text-justify">
                        This policy describes the terms, conditions, and requirements which govern (1) use of the Firm’s computing and communications hardware and software (components of which, including the Firm’s network, are referred to in this policy individually and collectively as the “Firm System”) and; (2) use of computing devices to enable authorized creation, access, retrieval, transmission or storage of information to, from, or on the Firm System for the purpose of conducting Firm-related business; and (3) management of Firm and client electronically stored information.
                    </p>
                    <p class="text-justify">
                        Improper or unauthorized use of the Firm System, or the information it contains, could subject the Firm or its clients to legal liability, financial loss and reputational harm. This policy has been established in order to: (1) protect the confidentiality, integrity, and availability of Firm and client information; (2) protect Duane Morris’s attorneys, staff, and clients from the risks associated with the improper use of the Firm System and; (3) help insure that the Firm System operates in a reliable, responsive, and efficient manner.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        <strong>Scope</strong>
                    </p>
                    <p class="text-justify">
                        This policy applies to all Duane Morris attorneys, employees, contractors, consultants, or other third parties working for or behalf of Duane Morris (“User” or “Users”). The Firm System is comprised of, and this policy covers, all computing and communications hardware and software owned or leased by Duane Morris.
                    </p>
                    <p class="text-justify">
                        In addition, this policy applies to all computing devices, such as smartphones, tablets, laptops, or desktops, used to access, directly or remotely, any information on the Firm System or software or other elements of the Firm System, and to any Sensitive Information (as defined herein) stored outside of the Firm System.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        <strong>Compliance</strong>
                    </p>
                    <p class="text-justify">
                        By, in any manner, directly using the Firm System, or by using a personally-owned or Firm- owned device to access remotely information on, or software or other elements of, the Firm System, the User acknowledges that they understand, accept and will comply with all of the terms, conditions and requirements of this policy. Failure to comply with this policy may result in the temporary or permanent restriction or denial of a User’s access to the Firm System, and the remote deletion of Firm and client information from User-owned, or Firm-owned remote access computing devices. In addition, the Firm in its discretion may undertake disciplinary action, including possible termination and pursuit of civil or criminal legal action.
                    </p>
                </li>
                <li>
                    <p class="text-justify">
                        <strong>Additional Requirements of Clients or Applicable Law.</strong>
                    </p>
                    <p class="text-justify">
                        This policy sets forth the Firm’s minimum standards for Users regarding security of the Firm System. A client or applicable law may require the Firm and Users to apply different or additional standards or impose different or additional requirements regarding the client’s information and data, and (if that is the case) the Users shall comply with those standards and requirements that exceed the Firm’s minimum standards. The client relationship partner will be responsible for discussing these different or additional standards and requirements with the Firm’s Chief Information Officer and working with the Firm’s Information Services (IS) Department to implement them.
                    </p>
                </li>
            </ol>
        </li>
        <li class="mb-md">
            <p class="text-justify">
                <strong>Use of the Firm System</strong>
            </p>
            <ol style="font-weight: bold;">
                <li>
                    <p class="text-justify">
                        <strong>User Responsibilities and Expectations</strong>
                    </p>
                    <ol type="a">
                        <li>
                            <p class="text-justify">
                                <u>Personal Use</u>
                            </p>
                            <p class="text-justify">
                                The Firm System is provided to assist Users in the performance of Firm business. Users should exercise good judgment regarding any limited use of the Firm System for personal non-business related purposes. Occasional, limited, personal use of the Firm System is permitted if such use does not (1) interfere with the User’s or any other person’s job performance; (2) have an adverse effect on the performance of the Firm System; or (3) violate any guidelines, standards or policies of the Firm. Personal use of the Firm System is a privilege that may be revoked at any time.
                            </p>
                        </li>
                        <li>
                            <p class="text-justify">
                                <u>Burdensome Use</u>
                            </p>
                            <p class="text-justify">
                                Users should not perform actions that could excessively burden the resources of the Firm System like its data storage capacity or network transmission bandwidth. These actions include, but are not limited to: sending mass mailings or chain letters, spending excessive amounts of time on the Internet for non-business purposes, playing games, uploading or downloading unusually large files, frequent or continuous accessing of streaming audio and/or video files, for non-business related purposes.
                            </p>
                            <p class="text-justify">
                                If, in the course of the use of the Firm System for business purposes, it becomes necessary to download or transmit very large files, or access streaming audio and/or video, the User should first advise the Help Desk staff and inquire as to alternative means to perform the same task to avoid undue burden on the Firm System.
                            </p>
                        </li>
                        <li>
                            <p class="text-justify">
                                <u>Unauthorized or Unapproved Software and Devices</u>
                            </p>
                            <p>
                                Hardware or software which has been obtained from sources outside of the Firm, such as disk drives, “thumb drives” and other portable storage media brought from home or received from clients, may contain computer malware that could damage or impair the performance of the Firm System. Users should never connect outside devices to, or load outside software onto, the Firm System without prior authorization from the IS Department. If you suspect that a virus has been introduced into the Firm System, you should notify the IS Department immediately.
                            </p>
                            <p class="text-justify">
                                Users should always exercise extreme care and employ heightened vigilance prior to opening email attachments, or when clicking on embedded links in email received from unknown or suspicious senders.
                            </p>
                        </li>
                        <li>
                            <p class="text-justify">
                                <u>Privacy and System Monitoring</u>
                            </p>
                            <p>
                                Users are provided access to the Firm System to assist them in the performance of their duties and responsibilities. Users should have no expectation of personal privacy from the Firm in anything they create, store, send, receive, use, or access, on the Firm System. Users should assume that any information on or, communications transiting through the Firm System is monitored by Firm personnel or designees.
                            </p>
                            <p>
                                The Firm reserves the right, without notice to any User, to monitor, audit and log any and all aspects of the Firm System and the User’s use thereof, including, but not limited to, Internet sites visited by Users, remote access of the system, file uploads and downloads, and communications sent and received by Users. The Firm may continue to monitor such communications on the Firm System (such as e-mails received via the computer network) following the termination of a User’s employment.
                            </p>
                            <p>
                                The Firm utilizes software that makes it possible to identify and block access to internet sites containing material deemed by the Firm to be inappropriate in the workplace and to monitor computer network and internet usage. Users must never attempt to defeat or circumvent such monitoring or filtering software. If requested, the IS Department may authorize a User access to an otherwise blocked site on a case by case basis.
                            </p>
                        </li>
                        <li>
                            <p class="text-justify">
                                <u>Reporting Instances of Possible Security Issues</u>
                            </p>
                            <p class="text-justify">
                                Users are required to contact the Help Desk <u>immediately</u> upon learning of any of the following potential security issues: (1) loss or theft of any device containing firm or client information or used to access the Firm System; (2) possible intrusion into the Firm System; or (3) any suspicious activity that might lead to a security incident on the Firm System. Users are required to cooperate with and to follow instructions of the IS Department or office of the General Counsel of the Firm in response to any such report.
                            </p>
                        </li>
                        <li>
                            <p class="text-justify">
                                <u>Compliance with Privacy and Data Control Laws</u>
                            </p>
                            <p class="text-justify">
                                Users will comply with all applicable privacy and data control laws, rules and regulations. Such laws, rules, and regulations include, without limitation, the US Health Insurance Portability and Accountability Act (“HIPAA”) and the European Union’s (“EU”) General Data Protection Regulation (“GDPR”). See, the Firm’s HIPAA Policy at <a href="iwl:dms=DM&&lib=DM1&&num=4191124&&ver=1&&latest=1" target="_blank">DM1:4191124</a>. For additional information regarding GDPR, as it relates to the Firm marketing, <em>see</em> <a href="iwl:dms=DM&&lib=DMAdmin&&num=4062561&&ver=1&&latest=1" target="_blank">DMADMIN:4062561.</a>.
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>Prohibited Activities</strong>
                    </p>
                    <p class="text-justify">
                        Users are never, under any circumstances, to perform the following activities on or from the Firm System, or from any device remotely connected to the Firm System:
                    </p>
                    <ol type="a">
                        <li>
                            <p>
                                <u>Objectionable Content or Code</u>
                            </p>
                            <p class="text-justify">
                                Without prior written permission from the IS Department, the Firm System may not be used to create, view, store, or transmit: (1) content that violates any of the Firm’s policies, such as those regarding racist, sexist, pornographic, or other materials that may violate the Firm’s <em>Equal Employment Opportunity and Harassment Prevention Policy</em> <a href="iwl:dms=DM&&lib=DM2&&num=8926327&&ver=2&&latest=1">DM2:8926327</a>; or (2) any form of computer malware.
                            </p>
                        </li>
                        <li>
                            <p>
                                <u>Copyrighted, Trade Secret and Confidential Information</u>
                            </p>
                            <p class="text-justify">
                                Users are responsible for complying with copyright, trade secret and other applicable law and applicable licenses or restrictions that may apply to software, files, graphics, documents, messages, information, and other material accessed or transmitted via the Firm System. Users may not agree to a license, download, and install onto the Firm System any material for which a registration, license or other fee is required without first obtaining the express written permission of the Firm.
                            </p>
                            <p class="text-justify">
                                Unless expressly authorized to do so in furtherance of the business of the Firm, Users are prohibited from accessing, sending, or otherwise distributing proprietary information, trade secrets or other confidential information that is not the property of the User. Unauthorized access to or dissemination of such information may result in the Firm taking severe disciplinary action, including termination, as well as substantial civil and criminal penalties under applicable law.
                            </p>
                        </li>
                        <li>
                            <p>
                                <u>Harmful or Criminal Use</u>
                            </p>
                            <p class="text-justify">
                                No User may execute any computer program or command with intent to commit or aid the commission of any criminal offense. Unless expressly authorized by the IS Department, a User may not execute any computer program or command with the intent to:
                            </p>
                            <ol>
                                <li>
                                    <p>Interfere with or prevent any other Users access to the Firm System, or any other computer.</p>
                                </li>
                                <li>
                                    <p>Breach, circumvent, or disable the security of the Firm System or any other computer.</p>
                                </li>
                                <li>
                                    <p>Disrupt the operation of the Firm System or any other computer.</p>
                                </li>
                                <li>
                                    <p>Damage the Firm System or any other computer.</p>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
        <li class="mb-md">
            <p>
                <u><strong>Access to The Firm System and Information</strong></u>
            </p>
            <ol style="font-weight: bold;">
                <li>
                    <p>
                        <strong>General Access Management</strong>
                    </p>
                    <p class="text-justify">
                        It is the policy of the Firm to provide Users access to the Firm System and the information it contains in a manner that fully enables Users to carry out their duties and responsibilities, and which is also consistent with the Firm’s responsibility to safeguard the information entrusted to it.
                    </p>
                    <p class="text-justify">
                        Use of the Firm System is restricted to Users as defined in this Policy. Unsupervised use of the Firm System by persons who are not Users as defined by this Policy is prohibited without the advance and express authorization of the IS Department.
                    </p>
                    <p class="text-justify">
                        The Duane Morris IS Department manages the means, manner, and conditions under which a User may employ a computing device on, or to access remotely, the Firm System and its information.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Remote Access Management</strong>
                    </p>
                    <p class="text-justify">
                        Users remotely accessing the Firm System for the purpose of creating, viewing, storing, or transmitting Sensitive Information (defined below) must do so in full compliance with the provisions of this Policy. The use of computing devices to access remotely the Firm System and its information is a privilege which may be suspended or revoked by the Firm without prior notification.
                    </p>
                    <p class="text-justify">
                        Only computing devices which are either: (1) owned or provided by the IS Department; or (2) personally owned by a User but equipped with software specified by the IS Department; or (3) preauthorized in writing by the IS Department will be permitted remote access to Sensitive Information on the Firm System.
                    </p>
                    <p class="text-justify">
                        Laptop, notebook, and desktop computers, whether personally or Firm owned, may remotely access Sensitive Information only via Firm-provided software (i.e., Citrix XenDesktop, VMware VDI) or through the guest network within the Firm’s offices. Smart phones and tablet computers (“Mobile Computing Devices” or “Computing Devices”), whether personally or Firm owned, may remotely access Sensitive Information only via (1) Firm specified software (i.e., Citrix XenDesktop, VMware VDI) or through (2) the Firm’s Microsoft Exchange server. Mobile Computing Devices remotely accessing Sensitive Information must comply with Sections C5, D1 and D2 of this Policy.
                    </p>
                    <p class="text-justify">
                        By using a personally owned computing device to access and or store Sensitive Information, a User agrees to: (1) take reasonable measures to preserve in full all such Firm or client related information when requested by, and in accordance with specific instructions of, the Firm; (2) cooperate with the Firm to implement a reasonable protocol to effectuate the Firm’s identification, collection, and production of such Firm or client related information to a third-party when the Firm is specifically required to do pursuant to a valid civil, criminal or administrative request or lawful order or (regarding client related information) by requirement of a client.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Access to Sensitive Information</strong>
                    </p>
                    <p class="text-justify">
                        For purposes of this policy, the Firm recognizes three general classes of accessible Firm Information: (1) email and other digitally based communications; (2) client-matter related digital information, and (3) Firm business related digital information. In addition, the Firm recognizes (and defines below) “Sensitive Information” within each of these classes. Information not encompassed within the definition is not considered Sensitive Information for the purposes of this policy.
                    </p>
                    <p>
                        Sensitive Information:
                    </p>
                    <ol type="a">
                        <li>
                            <p class="text-justify">
                                Information required by law, statute, or regulation to be kept confidential, and not to be disclosed to persons other than the owner or holder of the information except by operation of law. [e.g. attorney-client communications; client information subject to a legal privilege; personally identifiable or medical Information as defined by law; personnel information]
                            </p>
                        </li>
                        <li>
                            <p class="text-justify">
                                Confidential information, the disclosure of which could result in adverse or detrimental consequences for the owner or holder of the information [e.g. attorney work product; some client-matter related information; some Firm operational or economic information]; or, information which is required by express contractual agreement to be kept confidential.
                            </p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>
                        <strong>Passwords</strong>
                    </p>
                    <p class="text-justify">
                        Any desktop, laptop, or mobile computing device owned by or under the exclusive control of a User and which is used to access Sensitive Information on or from the Firm System must be password protected, and also employ a timed log-out feature which, after the initiation of a specified action or the lapse of a selected period of time, automatically restricting access to the computer or device until the User again enters the correct password. Users must never attempt to disengage or circumvent these security protections.
                    </p>
                    <p class="ml-md">
                        System Entry Password
                    </p>
                    <p class="ml-md text-justify">
                        Access to and use of the Firm System requires an authorized User to enter a password into the computing device being used to obtain authorized access to the Firm System. This password must be a complex passcode (i.e., using a combination of letters, numbers, symbols etc.) containing at least 8 characters.
                    </p>
                    <p class="ml-md">
                        Remote Device Storage Password
                    </p>
                    <p class="ml-md text-justify">
                        Sensitive Information, stored for any period of time on an authorized computing device outside of the Firm System, requires that access to the device be controlled by a complex passcode containing at least 8 characters.
                    </p>
                    <p class="text-justify">
                        Users must maintain the confidentiality and security of all passwords, keys, or codes used with any computing device accessing the Firm System, or its Sensitive Information. This obligation includes: (1) not selecting easily guessable passwords (such as nicknames, phone numbers, and passwords wholly consisting of publicly available information about the User); (2) disclosing passwords to other persons only on a strict need to know basis; and (3) never displaying usernames or passwords in a conspicuous place or manner.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Transmission or Transfer of Sensitive Information</strong>
                    </p>
                    <p class="text-justify">
                        Sensitive Information may be transmitted or transferred between the Firm System and a computing device, owned or primarily controlled by a Duane Morris User, which has authorized access to the Firm System, only if the Sensitive Information transmitted or transferred is itself encrypted (i) using a method employing encryption keys of at least 256 bits in length, or (ii) by another method of equal or greater security which has been provided by or pre-approved by the IS Department.
                    </p>
                    <p class="text-justify">
                        Alternatively, unencrypted Sensitive Information may be transmitted or transferred between the Firm System and a computing device, owned or primarily controlled by a Duane Morris User, which has authorized access to the Firm System only through the use of an encrypted communications channel, which uses a method of encryption meeting the specifications of this section. Currently, the IS Department provides Citrix (XenDesktop) and VMware (VDI) software for compliance with this requirement.
                    </p>
                    <p class="text-justify">
                        Users who (a) are transmitting or transferring any Sensitive Information from either (i) the Firm System, or (ii) a computing device owned or primarily controlled by a Duane Morris User to a computing device which is not owned or primarily controlled by the Firm and (b) determine that encryption is either warranted or required for the transmission or transfer of such Sensitive Information, should use a tool provided by the Firm’s IS Department to encrypt such Sensitive Information before it is transmitted or transferred from either (i) the Firm System or, (ii) a computing device owned or primarily controlled by a Duane Morris User to a computing device which is not owned or primarily controlled by the Firm or a Duane Morris User. Currently those tools include Biscom Secure File Transfer software and Proofpoint encryption software.
                    </p>
                    <p class="text-justify">
                        For reasons of Firm System security, access to remote or cloud – based storage sites such as Dropbox, Box, or Google Drive are, as a matter of policy blocked from access on the Firm System. If an exception to this policy is essential to the performance of specific client or Firm business, the IS Department may, in its discretion, permit such access by prior written approval.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Storage of Sensitive Information</strong>
                    </p>
                    <p class="text-justify">
                        Duane Morris Users may store Sensitive Information on a digital computing or storage device outside of the Firm System if the device is owned or controlled primarily by a Duane Morris User and the information stored is protected on the device by means of (i) automatic hardware level encryption, or (ii) file level software encryption. Either means of encryption must be implemented through the use of a password meeting the requirements of the password provisions of this policy, or through a method of equal or greater protection which has been provided by or pre-approved by the IS Department.
                    </p>
                    <p class="text-justify">
                        Without either the prior written approval of the IS Department or the prior written authorization of the information’s owner, a Duane Morris User may never store Sensitive Information on any desktop, laptop, portable, mobile, or “cloud” based storage device or service which is not owned or primarily controlled by the Firm or a Duane Morris User. In exceptional circumstances where an exception to this prohibition is essential for a Duane Morris User to carry out specific client or Firm business, Sensitive Information may be stored on such a device or service if the information is first encrypted (i) using a method employing encryption keys of at least 256 bits in length, or (ii) by another method of equal or greater security which has been provided by or pre-approved by the IS Department. Any such device must offer remote wipe capability and be maintained to include up-to-date anti-virus and security patches.
                    </p>
                    <p class="text-justify">
                        Sensitive Information stored on a computing device which does not comply with the provisions of the section of the policy must be promptly transferred in full to a compliant device or deleted in full.
                    </p>
                </li>
            </ol>
        </li>
        <li class="mb-md">
            <p>
                <strong><u>Mobile Computing Devices</u></strong>
            </p>
            <p class="text-justify">
                Users remotely accessing the Firm System with mobile computing devices must comply with the following requirements:
            </p>
            <ol style="font-weight: bold;">
                <li>
                    <p>
                        <strong>MDM Software</strong>
                    </p>
                    <p class="text-justify">
                        Users must install Firm specified and approved Mobile Device Management (MDM) software on any approved mobile computing device which is used to access remotely the Firm System. The MDM software currently used by the Firm is Airwatch. The Airwatch software used by the Firm is configured solely to enable the following functions on a User’s personally owned device:
                    </p>
                    <ul class="ml-lg">
                        <li>
                            <p>Monitoring of device system information concerning such as installed applications, MDM profile, jailbroken status, and password status.</p>
                        </li>
                        <li>    
                            <p>Device password-access control</p>
                        </li>
                        <li>
                            <p> Remote device locking </p>
                        </li>
                        <li>
                            <p>Remote wiping of Firm and client information</p>
                        </li>
                    </ul>
                    <p>
                        The Airwatch software installed on a User’s personally owned device is not configured to allow the Firm to:
                    </p>
                    <ul class="ml-lg">
                        <li>
                            <p>Access or view User information on the device</p>
                        </li>
                        <li>
                            <p>Wipe or remove User information on the device</p>
                        </li>
                        <li>
                            <p>Access or control the devices’ cameras, microphones, radios, or location services</p>
                        </li>
                    </ul>
                    <p class="text-justify">
                        “User Information” is that information (including any communication) which neither (a) transits through the Firm System, nor (b) relates to either a client matter or the business of the Firm.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Device Security</strong>
                    </p>
                    <p class="text-justify">
                        Because a mobile computing device may be used to access the Firm System and to store Sensitive Information, Users agree to take reasonable measures to maintain the security of these devices and the information they contain. These measures include:
                    </p>
                    <ul class="ml-lg">
                        <li>
                            <p>Making no effort to circumvent, disable, or defeat operation of the MDM, or other Firm approved and required software installed on the device.</p>
                        </li>
                        <li>
                            <p>Taking no action to “jailbreak”, “root”, or otherwise modify the normal operations of the device’s operating system or of its integrated hardware except solely through and in conformance with means specifically provided by the manufacturer of the device for this purpose.</p>
                        </li>
                        <li>
                            <p>Installing and utilizing the most current device manufacturer supplied system software and firmware.</p>
                        </li>
                        <li>
                            <p><u>Not</u> allowing unsupervised access to or use of the device by other individuals.</p>
                        </li>
                        <li>
                            <p><u>Immediately</u> (within one hour or as soon as practical after noticing that the device is missing) reporting a lost or stolen device to the Help Desk. Devices which are reported as lost or stolen will be remotely wiped of Firm and/or client information and locked. If a lost or stolen device is subsequently recovered, the IS Department will provide the User with the necessary information needed to unlock it.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <strong>Device Support</strong>
                    </p>
                    <p class="text-justify">
                        IS Department technical support for personally owned mobile devices is strictly limited to assisting the User in installing and configuring MDM and/or any other Firm selected and required software.
                    </p>
                    <p class="text-justify">
                        Users are personally responsible for all installation, maintenance, servicing, updating, and data backup for their personally owned device, its hardware components, and all software not provided by the Firm. Users are responsible for all costs and charges incurred by, or associated with, the use and maintenance of the device, whether or not such costs and charges are related to work or personal use. Such charges and costs include, but are not limited to charges resulting from texts, calls, application costs, and telephone carrier fees. Users are responsible for resolving any service or billing disputes with the device carrier.
                    </p>
                    <p class="text-justify">
                        The Firm provides complete technical support for Firm approved and supplied mobile devices. Users may not make modifications of any kind to the hardware or software of Firm supplied devices.
                    </p>
                </li>
            </ol>
        </li>
    </ol>
    <div class="mb-lg border-bottom">
        <h3 class="text-center">DUANE MORRIS LLP</h3>
        <h3 class="text-center">CONFIRMATION REGARDING</h3>
        <h3 class="text-center">COMPUTER USE AND SECURITY POLICY</h3>
        <p>
            <strong>Acknowledgement of Understanding </strong>
        </p>
        <p class="text-justify">
            The undersigned hereby confirms that by using or accessing the Firm System in any way, each user is acknowledging that the user understands, accepts and is bound to comply with all of the terms, conditions and requirements of the Duane Morris LLP Computer Use and Security Policy dated July 1, 2015, and understands that violation of this policy may result in disciplinary action, including possible terminations, and civil and criminal penalties. 
        </p>
    </div>
    <div class="mb-md">
        <div class="col-60">
            <div class="border-bottom">
                <input type="text">
            </div>
            Electronic Signature
        </div>

    </div>
    <div class="mb-lg">
        <div class="col-60 mb-lg">
            <div class="border-bottom">
                <input type="text">
            </div>
            Print Name
        </div>
        <div class="col-40 mb-lg">
            <div class="border-bottom">
                <input type="text">
            </div>
            Date
        </div>
    </div>
    <footer>
        <div class="footer-inner">
            <p>
                Duane Morris LLP, Computer Use and Security Policy (v2.0) – August 23, 2018
            </p>
        </div>
    </footer>
</main>
