<main class="container-fluid">
    <header class="row border-bottom-thick vspace">
        <div class="col-lg-12 border-bottom">
            <h3 class="text-center">
                <strong>CONFIDENTIALITY AND NON-SOLICITATION AGREEMENT</strong>
            </h3>
        </div>
    </header>
    <div class="row vspace">
        <div class="col-lg-12">
            <p class="text-justify">
                This Confidentiality and Non-Solicitation Agreement (“Agreement”) is made as of the
                <span class="inline-block">
                    <$client.env.FormField.a01_Day.HTML>
                </span>
                day of
                <span class="inline-block">
                    <$client.env.FormField.a02_Month.HTML>
                </span>
                , 20
                <span class="inline-block">
                    <$client.env.FormField.a03_Year.HTML>
                </span>
                , by and between Dixon Hughes Goodman LLP (“DHG”) and
                <span class="inline-block">
                    <$client.env.FormField.a04_Employee.HTML>
                </span>
                (“Employee”).
            </p>
            <p class="text-justify">
                DHG desires to have this Confidentiality and Non-Solicitation Agreement with Employee.  Therefore, in consideration of Employee’s employment with DHG and Employee’s access to DHG’s clients and Confidential Information (as defined below), the parties hereby agree as follows:
            </p>
            <p>
                <strong>1. Nature and Scope of DHG's Business</strong>
            </p>
            <p class="text-justify">
                DHG is a labor-intensive enterprise providing a broad range of professional services and support to organizations within the public and private sector, which improves the quality, productivity and efficiency of a client’s operation. These services include, but are not limited to, assurance services; income tax services; corporate governance services; internal audit services; sales and property tax services; transaction advisory services; forensic, litigation and valuation services; IT risk services and consulting and advisory services.
            </p>
            <p>
                <strong>2. Application to Other Entities</strong>
            </p>
            <p class="text-justify">
                This Agreement applies to all employment positions Employee may hold with DHG, any of its subsidiaries, or any successor or assign of DHG or any of its subsidiaries, now or in the future, regardless of title, location or compensation.  Consequently, all references herein to “DHG” apply equally to DHG’s subsidiaries, and to any successors and assigns of DHG or any of its subsidiaries.
            </p>
            <p>
                <strong>3. Non-Disclosure of Confidential Information</strong>
            </p>
            <p class="text-justify text-indent">
                (a) Employee agrees to hold in strict confidence and safeguard any information relating to DHG and/or any of its clients, developed or obtained by Employee in any manner or from any source during and as a result of Employee's employment.  Employee shall not, without the prior written consent of DHG, misappropriate, disclose, use or make available to anyone for use outside DHG, at any time, either during Employee's employment or subsequent to the last date of Employee's employment, any information, data, trade secrets and/or proprietary information, in whatever form, whether oral, written or electronic, about DHG, its clients or  suppliers, whether or not such information was developed by Employee, except as required in the performance of Employee's duties for DHG.
            </p>
            <p class="text-justify text-indent">
                (b) Employee understands and agrees that any information, data and/or trade secrets about DHG or any of its clients or suppliers, pricing techniques, and strategies is the property of DHG and is essential to the protection of its goodwill and to the maintenance of DHG's competitive position and accordingly should be kept secret.  Such information, data, trade secrets and/or proprietary information (hereinafter collectively “Confidential Information”) shall include, but not be limited to, any information obtained from an actual or prospective client or supplier, and any information containing or concerning DHG and its products, production methods and processes, designs, services, sales, sales volume, sales methods, sales proposals, promotional plans and strategies, pricing strategies, purchasing, accounting and financial information, marketing, customers and prospective customers, suppliers, pricing information, inventions, research, development, computer programs, hardware, software, (including all objects and source codes and all subcontractors and algorithms) computer programs, system documentation, manuals or any other records or information belonging to DHG or relating to its respective business.  Employee further understands that, as a general rule, any unpublished information is secret and confidential.  In any case where doubt arises, Employee shall obtain written permission from DHG before using or divulging the information in question.  
            </p>
            <p>
                <strong>4. Disclosure of Materials and Inventions</strong>
            </p>
            <p class="text-justify text-indent">
                (a) Employee shall disclose fully and promptly to DHG (or any persons designated in writing by it) any and all conceptions and ideas for inventions, improvements, designs, valuable discoveries, and/or manufacturing methods or processes, whether or not patentable or registerable under copyright or similar statutes that are conceived and/or made by Employee, in whole or in part, solely or jointly with another, during the period of employment and that are directly related to the business or activities of DHG and/or resulting from the use of the premises or property of DHG (all such discoveries, developments, designs, improvements, inventions, formulae, processes, techniques, programs, strategies, know-how, and data are hereinafter referred to as "Inventions") regardless of whether or not such ideas, inventions, or improvements qualify as "works for hire."  Employee hereby assigns and agrees to assign all Employee's interests therein to DHG or its nominee.  Employee further agrees to take no legal action that might inhibit, hinder or delay DHG's ability to obtain patents and/or copyrights, with respect to, and otherwise protect its rights in or realize the benefits of, any and all Intellectual property and/or Confidential Information of DHG and shall, whenever requested to do so by DHG (but without out-of-pocket expense to Employee), execute any and all applications, assignments, or other instruments that DHG shall deem necessary to apply for and obtain copyrights and/or patents in the United States or any foreign country or to otherwise protect DHG's interest therein.
            </p>
            <p class="text-justify text-indent">
                (b) The foregoing rights requiring Employee to assign Employee's rights in any Invention to DHG shall not apply to an Invention for which no equipment, supplies, facility, or trade secret information of DHG was used and which was developed entirely on Employee's own time and which does not relate either to the business of DHG or to DHG's actual or anticipated research or development or which does not result from any work performed by Employee for DHG.  Employee understands, however, that Employee bears the full burden of proving to DHG that an Invention is not required to be assigned to it and is exempted under the foregoing provisions of this paragraph, and that unless Employee has fully disclosed such Invention to DHG in a timely manner and made claim to it immediately after discovery, it shall be conclusively presumed that the Invention belongs to DHG.
            </p>
            <p>
                <strong>5. Outside Employment</strong>
            </p>
            <p class="text-justify">
                During Employee’s employment, Employee shall not be interested directly or indirectly, in any manner, as partner, officer, director, investor, stockholder, member advisor, employee, or in any other capacity, in any other business similar to DHG.  Any other employment is prohibited, unless specifically consented to in writing by the Executive Committee.  During the term of employment hereunder, the Employee agrees to obtain DHG’s written consent prior to entering into any other occupation, even if dissimilar to that of DHG.  Such consent may be granted or withheld, in the Company’s absolute discretion.  Subject to DHG’s General Conflict of Interest and Firm Ethics Policy and its Independence, Integrity and Objectivity Policy, nothing herein contained shall be deemed to create additional limitations on the right of Employee to invest in up to two percent (2%) of the capital stock or other securities of any corporation whose stock or securities are regularly traded on any public exchange, nor shall anything herein contained be deemed to prevent Employee from investing in real estate for Employee’s own benefit (so long as such investment (a) is not related to or in support of any entity engaged in a business similar to that of the Company or (b) does not detract from Employee’s performance of Employee’s duties and obligations hereunder).  Notwithstanding the foregoing, Employee is not prohibited from providing uncompensated assistance to members of Employee’s immediate family or for close personal friends provided that prior to doing so Employee provides DHG with written notice that such work will be performed.  Except as provided above, during Employee’s employment with DHG, Employee agrees to use diligent efforts to bring to DHG any work that may come to Employee’s attention or control.  DHG shall have the right to accept or reject any such work within its sole discretion.
            </p>
            <p>
                <strong>6. Return of Materials</strong>
            </p>
            <p class="text-justify">
                On or before the last day of Employee's employment with DHG, and at any other time when requested to do so by DHG, Employee shall promptly deliver to DHG all DHG and client property, including without limitation records, materials, documents, and all copies of documents, whether in hard copy or electronic form, that Employee obtained during and as a result of  employment by DHG, regardless of whether such items are or contain “Confidential Information”) (hereinafter collectively "DHG Materials") which Employee has in Employee's possession or under Employee's control. Employee further agrees not to take, extract or use any portion of DHG Materials in written, computer, electronic or any other reproducible form without the prior written consent of the Managing Partner of DHG.
            </p>
            <p>
                <strong>7. Non-Solicitation of Clients; Restrictions on Post-Separation Employment</strong>
            </p>
            <p class="text-justify">
                Following the last day of Employee’s employment by DHG, Employee will observe the following restrictions:  
            </p>
            <p class="text-justify text-indent">
                (a) For a period of eighteen months following the last day of Employee’s employment with DHG, Employee will not directly or indirectly provide accounting, tax, consulting or other services offered by DHG (“DHG Services”) to any DHG Client (as defined below) to whom Employee provided, participated in providing, or assisted in providing DHG Services within the twelve month period preceding the last day of Employee’s employment.  For purposes of this Agreement, “DHG Client” shall mean any person or entity to whom or which DHG, through the office at which or from which Employee provided services during the 12-month period preceding Employee’s last day of employment.  For purposes of this Agreement, if a DHG Client is an entity that operates nationwide or through multiple divisions the restrictions of this Paragraph 6 shall be limited to the locations and/or divisions receiving DHG Services.  If the DHG Client is a public or government entity or agency, the restrictions of this Paragraph 6 shall be limited to the department, division, location, unit, command, or office that has received DHG services.
            </p>
            <p class="text-justify text-indent">
                (b) If any provision of this Paragraph 6 relating to the time period or scope of the restrictive covenants shall be declared by a court of competent jurisdiction to exceed the maximum time period or scope, as applicable, that such court deems reasonable and enforceable, said time period or scope shall be deemed to be, and thereafter shall become, the maximum time period or greatest scope that such court deems reasonable and enforceable and this Agreement shall automatically be considered to have been amended and revised to reflect such determination.
            </p>
            <p class="text-justify text-indent">
                (c) Employee agrees that Employee will not, either on or prior to the last day of Employee’s employment with DHG, notify any DHG Client or prospective DHG Client of such separation prior to its effective date, unless DHG has expressly authorized, in writing, such notification.  In the event that Employee determines, in Employee’s professional judgment, that a delay in notifying a DHG Client of Employee’s departure would prove detrimental to such DHG Client’s interests, Employee shall notify DHG, in writing, of this determination, and such DHG Client will then be promptly notified by DHG in writing.
            </p>
            <p class="text-justify text-indent">
                (d) DHG and Employee have examined in detail this restrictive covenant and agree that the restraint imposed upon Employee is reasonable in light of the legitimate interests of DHG, and it is not unduly harsh upon Employee’s ability to earn a livelihood.
            </p>
            <p>
                <strong>8. Non-Solicitation of Employees</strong>
            </p>
            <p class="text-justify">
                Employee agrees that during Employee’s employment with DHG and for a period of two years following the last day of Employee’s employment, Employee shall not solicit or induce, or attempt to solicit or induce, any employee of DHG to leave DHG for any reason whatsoever or hire or assist in hiring any individual who was an employee of DHG during the 6-month period preceding Employee’s last day of employment.
            </p>
            <p>
                <strong>9. Injunctive Relief</strong>
            </p>
            <p class="text-justify">
                Employee acknowledges that DHG will sustain irreparable harm if there is a breach by Employee of any of the covenants set forth herein.  Thus, Employee agrees that in addition to damages or any other rights that DHG may have, or to which it may be entitled under this Agreement or at law or in equity, DHG shall be entitled to injunctive relief in order to prevent any breach or threatened breach of any provision of this Agreement.  Employee further agrees that the non-disclosure and non-solicitation obligations contained herein shall be extended by the length of time during which Employee may have been in breach of any of said provisions.  In the event of any breach by Employee, the time periods included in the restrictive covenants contained herein shall begin on the date a court of competent jurisdiction enters an order enjoining Employee from violating such provisions, unless good cause can be shown as to why the periods described should not begin at that time.
            </p>
            <p>
                <strong>10. No Waiver of Remedies</strong>
            </p>
            <p class="text-justify">
                No waiver of any prior breach of any provision of this Agreement shall be deemed a waiver of any subsequent breach of any provision hereof, nor shall any waiver or failure to enforce this Agreement or any similar agreement, with respect to any other employee of DHG, in any way limit the right of DHG to enforce this Agreement.
            </p>
            <p class="text-justify">
                All rights, duties and obligations of the parties are in addition to, and not in substitution of, all rights duties and obligations provided by applicable law.  No remedy provided in the Agreement, or otherwise conferred upon or available to the parties, will be considered exclusive of any other remedy but will be cumulative and in addition to every other remedy provided in this Agreement, or presently or hereafter existing.  No delay or omission to exercise any rights or remedy will impair the same or be construed as a waiver.
            </p>
            <p>
                <strong>11. Severability</strong>
            </p>
            <p class="text-justify">
                It is the intention of the parties that the provisions of the restrictive covenants herein shall be enforceable to the fullest extent permissible under the applicable law.  If any clause or provision of this Agreement is held to be illegal, invalid or unenforceable under present or future laws effective during the term hereof, then the remainder of this Agreement shall not be affected thereby, and in lieu of each clause or provision of this Agreement which is illegal, invalid or unenforceable, there shall be added, as part of this  Agreement, a clause or provision as similar in terms to such illegal, invalid or unenforceable clause or provision as may be possible and as may be legal, valid and enforceable.
            </p>
            <p>
                <strong>12. Agreement is Assignable</strong>
            </p>
            <p class="text-justify">
                The obligations of Employee under Paragraphs 2, 3, 5, 6, and 7 of this Agreement shall continue after the last day of Employee's employment and shall be binding on Employee's heirs, executors, legal representatives and assigns.  Such obligations shall inure to the benefit of any successors or assigns of DHG.  Employee specifically acknowledges that in the event of a sale of all or substantially all of the assets of DHG, or any other event or transaction resulting in a change of ownership or control of DHG's business, the rights and obligations of the parties hereunder shall inure to the benefit of any transferee, purchaser, or future owner of DHG's business.  This Agreement may be assigned only by DHG.
            </p>
            <p>
                <strong>13. Notices</strong>
            </p>
            <p class="text-justify">
                Employee agrees to provide any future employer a copy of this Agreement before employee begins working for that employer.  Employee consents to DHG showing this Agreement to any future employer of Employee, and to insisting on compliance with its terms.  Employee agrees that, for the two year period following the last day of Employee’s employment with DHG, Employee will give DHG at least two weeks’ notice of any change of Employee’s address and of any planned change in Employee’s employment, including the name and address of any planned new employer and the Employee’s title at such new employer.
            </p>
            <p>
                <strong>14. Covenant of the Essence of Agreement </strong>
            </p>
            <p class="text-justify">
                Employee agrees that the restrictive covenants upon the Employee set forth herein are of the essence of this Agreement.  They shall be construed as independent of any other provision in this Agreement, and the existence of any claim or cause of action Employee may have against DHG, whether based on this Agreement or not, shall not constitute a defense to the enforcement by DHG of the non-disclosure and non-solicitation covenants contained herein.
            </p>
            <p>
                <strong>15. Governing Law, Jurisdiction and Venue</strong>
            </p>
            <p class="text-justify">
                Only the laws of the State of North Carolina shall apply to any legal questions that arise concerning the interpretation and governance of this Agreement.  Any suit or proceeding relating to this Agreement shall be brought only in the state courts of North Carolina sitting in Mecklenburg County or Guilford County, North Carolina, the Circuit Court for the City of Norfolk Virginia or the federal district courts of North Carolina or Virginia having jurisdiction over those locations, provided, however, DHG may seek any equitable remedies it may have and file any action based in equity in any court of competent jurisdiction.  All parties to this Agreement acknowledge that this Agreement has been made, entered into and signed in the State of North Carolina. 
            </p>
            <p>
                <strong>16. Employment at Will</strong>
            </p>
            <p class="text-justify">
                Employee acknowledges that Employee’s employment with DHG is for no specific term.  Thus, the employment relationship is subject to termination at any time by Employee or DHG, with or without cause, and with or without notice or liability for doing so. 
            </p>
            <p>
                <strong>17. Entire Agreement</strong>
            </p>
            <p class="text-justify">
                Employee hereby acknowledges receipt of a copy of this Agreement and agrees to be bound by the terms hereof. All prior negotiations and all prior and contemporaneous oral agreements are already reflected herein.  Employee further acknowledges that this Agreement constitutes Employee’s entire agreement with DHG regarding the subjects with which it deals, and that there shall be no modification of the terms hereof unless such modification is in writing and signed by the Director of Human Resources. 
            </p>
            <p>
                <strong>18. Attorneys' Fees</strong>
            </p>
            <p class="text-justify vspace-lg">
                Employee shall pay, indemnify and hold DHG harmless against all costs and expenses (including reasonable attorneys' fees) incurred by DHG with respect to enforcement of its rights under this Agreement.
            </p>
            <p>
                Dixon Hughes Goodman LLP Representative:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-8 border-bottom">
            <img src="/assets/img/dixon_sig.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <div class="row vspace-md">
        <div class="col-lg-12">
            <p>
                Samantha Reeves, Talent Acquisition Director 
            </p>
        </div>
    </div>
    <div class="row vspace-lg">
        <div class="col-lg-12">
            <div class="inline-block vertical-middle">
                Date:
            </div>
            <div class="inline-block">
                <$client.env.FormField.a05_Date.HTML>
            </div>
        </div>
    </div>
    <div class="row vspace-md">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            Employee Signature:
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <$client.env.FormField.a06_Signature.HTML>
        </div>
    </div>
    <div class="row vspace-md">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            Employee Printed Name and Title:
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <$client.env.FormField.a07_Printed_Name.HTML>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <$client.env.FormField.a08_Title.HTML>
        </div>
    </div>
    <div class="row vspace-lg">
        <div class="col-lg-12">
            <div class="inline-block vertical-middle">
                Date:
            </div>
            <div class="inline-block vertical-middle">
                <$client.env.FormField.Initials.HTML>
            </div>
        </div>
    </div>
    <div class="row vspace-lg">
        <div class="col-lg-12">
            <p>4846-2029-4665, v. 24846-2029-4665, v.2</p>
        </div>
    </div>
    <footer class="row vspace">
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <p>681289</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right">
            <div class="inline-block vertical-middle">
                Initials
            </div>
            <div class="inline-block vertical-middle">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>
    </footer>
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>

<script type="text/javascript">
$(function() {
    var d = new Date();
    $('#signature-sign').on('click', function() {
        if (validateSignature('signature','eSignature1','fullName','modal','over','sv')) {
            $('.dateField').datepicker("setDate", d);
            $('#a01_Day').val(d.getDate());
            $('#a02_Month').val(function() {
                var m = ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                return m[d.getMonth()];
            });
        }
        $('#a03_Year').val(d.getFullYear().toString().substr(-2));
        xbObj('eSignature1').value='';
    });
    $('#signature-clear').on('click', function() {
        xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';
        $('.dateField').datepicker("setDate", null);
        $('#a01_Day, #a02_Month, #a03_Year').val('');
    });
});
</script>
