<div class="main container-fluid">
    <strong>
        Direct Deposit
    </strong>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                EMPLOYEE NAME
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                EMPLOYEE NUMBER
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="center-block img-center-wrapper">
            <img src="/assets/img/cheque_sample.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                BANK NAME
            </div>
            <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                ROUTING NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                ACCOUNT NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                BANK PHONE NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                TYPE OF ACCOUNT
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="checkbox"> CHECKING
                <input type="checkbox"> SAVINGS
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <div class="inline-block">
                    <strong>
                        To be deposited in this bank
                    </strong>
                </div>
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        % OR $
                    </label>
                </div>
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        OR remainder
                    </label>
                </div>
                <div class="inline-block">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                BANK NAME
            </div>
            <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                ROUTING NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                ACCOUNT NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                BANK PHONE NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                TYPE OF ACCOUNT
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="checkbox"> CHECKING
                <input type="checkbox"> SAVINGS
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <div class="inline-block">
                    <strong>
                        To be deposited in this bank
                    </strong>
                </div>
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        % OR $
                    </label>
                </div>
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        OR remainder
                    </label>
                </div>
                <div class="inline-block">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                BANK NAME
            </div>
            <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                ROUTING NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                ACCOUNT NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                BANK PHONE NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                TYPE OF ACCOUNT
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="checkbox"> CHECKING
                <input type="checkbox"> SAVINGS
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <div class="inline-block">
                    <strong>
                        To be deposited in this bank
                    </strong>
                </div>
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        % OR $
                    </label>
                </div>
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        OR remainder
                    </label>
                </div>
                <div class="inline-block">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                BANK NAME
            </div>
            <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                ROUTING NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                ACCOUNT NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                BANK PHONE NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                TYPE OF ACCOUNT
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="checkbox"> CHECKING
                <input type="checkbox"> SAVINGS
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <div class="inline-block">
                    <strong>
                        To be deposited in this bank
                    </strong>
                </div>
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        % OR $
                    </label>
                </div>
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        OR remainder
                    </label>
                </div>
                <div class="inline-block">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                BANK NAME
            </div>
            <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                ROUTING NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                ACCOUNT NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                BANK PHONE NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                TYPE OF ACCOUNT
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="checkbox"> CHECKING
                <input type="checkbox"> SAVINGS
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <div class="inline-block">
                    <strong>
                        To be deposited in this bank
                    </strong>
                </div>
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        % OR $
                    </label>
                </div>
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        OR remainder
                    </label>
                </div>
                <div class="inline-block">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center vspace">
        <em>
            <input type="checkbox">
            I elect to have my earnings deposited directly as indicated above. I understand that disclosure of the above information is necessary for the implementation of direct deposit and I do so willingly.
        </em>
    </div>
    <strong>
        Direct Deposit for Travel
    </strong>
    <div class="row">
        <div class="center-block img-center-wrapper">
            <img src="/assets/img/cheque_sample.jpg" alt="" class="img-responsive" />
        </div>
    </div>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                BANK NAME
            </div>
            <div class="col-lg-10 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                ROUTING NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                ACCOUNT NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                BANK PHONE NUMBER
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                TYPE OF ACCOUNT
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 border-left">
                <input type="checkbox"> CHECKING
                <input type="checkbox"> SAVINGS
            </div>
        </div>
        <div class="row">
            <div class="text-center">
                <div class="inline-block">
                    <strong>
                        To be deposited in this bank
                    </strong>
                </div>
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        % OR $
                    </label>
                </div>
                <div class="inline-block">
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="inline-block">
                    <label>
                        OR remainder
                    </label>
                </div>
                <div class="inline-block">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center vspace">
        <em>
            <input type="checkbox">
            I elect to have my <strong>travel expense reimbursement</strong> deposited directly as indicated above. I understand that disclosure of the above information is necessary for the implementation of direct deposit and I do so willingly.
        </em>
    </div>
    <strong>
        Flower Fund Contribution
    </strong>
    <p>
        AFMC has a fund available to provide flowers to employees and immediate family members who are affected by hospitalization, death or other occasion deemed appropriate. Your <strong>participation is not required.</strong>
    </p>
    <div class="row vpsace">
        <div class="col-lg-offset-1 vspace">
            <input type="checkbox">
            Yes, I authorize my employer to withhold $1.00 per pay period from my wages to be deposited in the Flower Fund account to be used in accordance with the AFMC Flower Fund Policy, which is contained in the Employee Handbook.
        </div>
        <div class="col-lg-offset-1 vspace">
            <input type="checkbox">
            No, I am <u>not</u> interested in participating at this time.
        </div>
    </div>
    <div class="row vspace">
        <strong>
            Contributions to 401(k) Accounts for Bonus Payments
        </strong>
    </div>
    <div class="row vspace">
        <p>
            Per Federal regulations, we must have on file the following <strong>annual</strong> election form for each employee. In the event of a bonus, if you would like to exclude <strong>your</strong> normal 401(k) <strong>VOLUNTARY deduction</strong>, we can do so, thus leaving the net of your check at the bonus amount stated. However, this election must be made in writing, for audit compliance purposes. <strong>Employer CONTRIBUTIONS will remain the same for bonus and regular pay.</strong>
        </p>
        <p>
            Please return this election form to payroll as soon as possible for our files. We will be repeating this election annually. Due to our annual 401(k) independent audit, you must indicate your preference, in advance, in order to maintain compliance regarding 401(k) deferrals. However, if we do not receive your election form, we must reduce any potential bonus by your pre-elected 401(k) deduction.
        </p>
    </div>
    <div class="row">
        <p>
            Please select one:
        </p>
    </div>
    <div class="row vspace">
        <div class="inline-block valign-bottom">
            <input type="checkbox">
            <strong>I WOULD LIKE THE FULL CHECK.</strong>
        </div>
        I would like for any bonus checks I may receive <strong>this year</strong> to <strong>exclude MY normal contribution</strong> to my 401(k) account and for my net check to be the amount of the bonus.
    </div>
    <div class="row vspace">
        <div class="inline-block valign-bottom">
            <input type="checkbox">
            <strong>
                I WOULD LIKE 401(k) DEDUCTIONS TO BE MADE. 
            </strong>
        </div>
        I would like for any bonus checks I may receive <strong>this year</strong> to include my normal deferment to my 401(k) amount. In the event that I have selected a fixed amount, the deduction will be converted to a percentage and applied accordingly and my net check will be reduced by the amount deposited into my 401(k) account.
    </div>
    <div class="box">
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                EMPLOYEE SIGNATURE
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                EMPLOYEE NUMBER
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                DATE
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
    </div>
</div>
