<div class="container-fluid main">
    <header class="row">
        <h2>Direct Deposit Form</h2>
        <span class="pull-right">
            [arabic]
        </span>
    </header>
    <p>
        Saudi Aramco 6319 (01/11)
    </p>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <strong>Options</strong>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <input type="checkbox">
            New Application
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <input type="checkbox">
            Change
        </div>
    </div>
    <div class="row box">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
            Name
            <input type="text" class="lifesuite__text-input">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-right">
            Badge
            <input type="text" class="lifesuite__text-input">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-right">
            Tel.
            <input type="text" class="lifesuite__text-input">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            Effective date
            <input type="text" class="lifesuite__text-input">
        </div>
    </div>
    <p>
        <strong>
            Local Bank
        </strong>
    </p>
    <div class="row">
        <div class="col-md-offset-1 col-lg-offset-1">
            <div class="col-lg-12">
                <input type="checkbox">
                100% Direct Deposit (Saudi Riyals)
            </div>
            <div class="col-lg-4">
                <input type="checkbox">
                Fixed Amount or percentage (Saudi Riyals)
            </div>
            <div class="col-lg-4">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-4">(Remaining in Payroll Currency)</div>
            <div class="col-lg-12">
                <input type="checkbox">
                Stop local allotment
            </div>
        </div>
    </div>
    <div class="box">
       <div class="row border-bottom">
           <div class="col-lg-3 col-md-3 col sm-3 col xs-12">
               Bank Account Holder Name
           </div> 
           <div class="col-lg-6 col-md-6 col sm-6 col xs-12 border-left border-right">
               <input type="text" class="lifesuite__text-input">
           </div> 
           <div class="col-lg-3 col-md-3 col sm-3 col xs-12 text-right">
               [arabic]
           </div> 
       </div>
       <div class="row border-bottom">
           <div class="col-lg-3 col-md-3 col sm-3 col xs-12">
                Bank Name
           </div> 
           <div class="col-lg-6 col-md-6 col sm-6 col xs-12 border-left border-right">
               <input type="text" class="lifesuite__text-input">
           </div> 
           <div class="col-lg-3 col-md-3 col sm-3 col xs-12 text-right">
               [arabic]
           </div> 
       </div>
       <div class="row border-bottom">
           <div class="col-lg-3 col-md-3 col sm-3 col xs-12">
                Bank Branch Code
           </div> 
           <div class="col-lg-6 col-md-6 col sm-6 col xs-12 border-left border-right">
               <input type="text" class="lifesuite__text-input">
           </div> 
           <div class="col-lg-3 col-md-3 col sm-3 col xs-12 text-right">
               [arabic]
           </div> 
       </div>
       <div class="row border-bottom">
           <div class="col-lg-3 col-md-3 col sm-3 col xs-12">
                Account Number
           </div> 
           <div class="col-lg-6 col-md-6 col sm-6 col xs-12 border-left border-right">
               <input type="text" class="lifesuite__text-input">
           </div> 
           <div class="col-lg-3 col-md-3 col sm-3 col xs-12 text-right">
               [arabic]
           </div> 
       </div>
       <div class="row">
           <div class="col-lg-3 col-md-3 col sm-3 col xs-12">
                IBAN
           </div> 
           <div class="col-lg-6 col-md-6 col sm-6 col xs-12 border-left border-right">
               <input type="text" class="lifesuite__text-input">
           </div> 
           <div class="col-lg-3 col-md-3 col sm-3 col xs-12 text-right">
               [arabic]
           </div> 
       </div>
    </div>
    <p>
        <strong>
            Out of Kingdom Bank
        </strong>
    </p>
    <div class="row">
        <div class="col-md-offset-1 col-lg-offset-1">
            <div class="col-lg-12">
                <input type="checkbox">
                100% Direct Deposit in (Payroll Currency)
            </div>
            <div class="col-lg-4">
                <input type="checkbox">
                Fixed Amount or percentage (Payroll Currency)
            </div>
            <div class="col-lg-4">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-4">(Remaining in Saudi Riyal)</div>
            <div class="col-lg-12">
                <input type="checkbox">
                Stop out of kingdom allotment
            </div>
        </div>
    </div>
    <div class="box">
        <div class="row border-bottom">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                Bank Account Holder Name
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                Bank Name
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                SWIFT code
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                Bank Account Number
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                Sort Code or Transit Number (UK, US, Canda)
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                IBAN
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                Bank Address
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                Account Type C, S (US, Canada)
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
    </div>
    <p>
        <strong>
        Note:
        </strong>
    </p>
    <p>
        Please attach a copy of Saudi Aramco ID card and a void check or document from bank to confirm information
    </p>
    <p class="text-right">
       [arabic] 
    </p>
    <div class="row box">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-right">
            Employee Signature
            <input type="text" class="lifesuite__text-input">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 border-right">
            Date
            <input type="text" class="lifesuite__text-input">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-right">
            Payroll Representative
            <input type="text" class="lifesuite__text-input">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            Date
            <input type="text" class="lifesuite__text-input">
        </div>
    </div>
</div>
