<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="sh" id="modal" style="display:none;"">
    <div id="box">
        <b>Electronic Signature</b>
        <p style="font-weight:normal;padding:0px"><$client.env.eval(client.env.param.verbiage.length()==0?'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten signature.':client.env.param.verbiage)></p>
        <br>
        <b>Type your Name:</b> 
        <input type=text id="eSignature1"> 
        <input type="button" class="appInputButton RCappInputButtonBlue" value="Sign" onClick="validateSignature('signature','eSignature1','full_name','over','modal','sv');xbObj('eSignature1').value='';"> 
        <input type="button" class="appInputButton RCappInputButtonOrange" value="Clear" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';"> 
        <input type="button" class="appInputButton RCappInputButtonOrange" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';">        
    </div>
</div>
<div id="over" style="display:none;"></div>
<SCRIPT>
    showScreen('over')
</SCRIPT>
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->





<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="sh" id="modal2" style="display:none;"">
    <div id="box">
        <b>Electronic Signature</b>
        <p style="font-weight:normal;padding:0px"><$client.env.eval(client.env.param.verbiage.length()==0?'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the 
information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten signature.':client.env.param.verbiage)></p>
        <br>
        <b>Type your Name:</b> 
        <input type=text id="eSignature2"> 
        <input type="button" class="appInputButton RCappInputButtonBlue" value="Sign" 

onClick="validateSignature('signature2','eSignature2','full_name','over','modal2','sv2');xbObj('eSignature2').value='';"> 
        <input type="button" class="appInputButton RCappInputButtonOrange" value="Clear" onClick="xbObj('signature2').value='';showHide('modal2');showHide('over');xbObj('eSignature2').value='';"> 
        <input type="button" class="appInputButton RCappInputButtonOrange" value="Cancel" 
onClick="showHide('modal2');showHide('over');xbObj('eSignature2').value='';">        
    </div>
</div>
<div id="over" style="display:none;"></div>
<SCRIPT>
    showScreen('over')
</SCRIPT>
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="sh" id="modal3" style="display:none;"">
    <div id="box">
        <b>Electronic Signature</b>
        <p style="font-weight:normal;padding:0px"><$client.env.eval(client.env.param.verbiage.length()==0?'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the 
information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten signature.':client.env.param.verbiage)></p>
        <br>
        <b>Type your Name:</b> 
        <input type=text id="eSignature3"> 
        <input type="button" class="appInputButton RCappInputButtonBlue" value="Sign" 

onClick="validateSignature('signature3','eSignature3','full_name','over','modal3','sv3');xbObj('eSignature3').value='';"> 
        <input type="button" class="appInputButton RCappInputButtonOrange" value="Clear" onClick="xbObj('signature3').value='';showHide('modal3');showHide('over');xbObj('eSignature3').value='';"> 
        <input type="button" class="appInputButton RCappInputButtonOrange" value="Cancel" 
onClick="showHide('modal3');showHide('over');xbObj('eSignature3').value='';">        
    </div>
</div>
<div id="over" style="display:none;"></div>
<SCRIPT>
    showScreen('over')
</SCRIPT>
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->




<form name='frmForm'
action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave
?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);">
<div style="display:none;">
<$client.env.FormField.Form_Name.prompt>
<$client.env.FormField.Form_Name.HTML>
<$client.env.FormField.Form_Type.prompt>
<$client.env.FormField.Form_Type.HTML>
<$client.env.FormField.Form_Owner.prompt>
<$client.env.FormField.Form_Owner.HTML>
<$client.env.FormField.Form_CreateDate.prompt>
<$client.env.FormField.Form_CreateDate.HTML>
<$client.env.FormField.Form_Completed.prompt>
<$client.env.FormField.Form_Completed.HTML>
<$client.env.FormField.Form_Delivered.prompt>
<$client.env.FormField.Form_Delivered.HTML>
<$client.env.FormField.Form_TaskId.prompt>
<$client.env.FormField.Form_TaskId.HTML>
<$client.env.FormField.display_version.HTML>
<$client.env.FormField.display_version.prompt>


<$client.env.FormField.AdditionalInventions.prompt>
<$client.env.FormField.A_Effective_Date.prompt>
<$client.env.FormField.A_Name_Of_Employee.prompt>
<$client.env.FormField.B_Date.prompt>
<$client.env.FormField.B_Identifying.prompt>
<$client.env.FormField.B_Title.prompt>
<$client.env.FormField.C_Date.prompt>
<$client.env.FormField.C_Identifying.prompt>
<$client.env.FormField.C_Title.prompt>
<$client.env.FormField.D_Date.prompt>
<$client.env.FormField.D_Identifying.prompt>
<$client.env.FormField.D_Title.prompt>
<$client.env.FormField.E_Date.prompt>
<$client.env.FormField.E_Identifying.prompt>
<$client.env.FormField.E_Title.prompt>
<$client.env.FormField.F_Date.prompt>
<$client.env.FormField.F_Identifying.prompt>
<$client.env.FormField.F_Title.prompt>
<$client.env.FormField.G_Date.prompt>
<$client.env.FormField.G_Identifying.prompt>
<$client.env.FormField.G_Title.prompt>
<$client.env.FormField.H_Date.prompt>
<$client.env.FormField.H_Identifying.prompt>
<$client.env.FormField.H_Title.prompt>
<$client.env.FormField.I_Date.prompt>
<$client.env.FormField.I_Identifying.prompt>
<$client.env.FormField.I_Title.prompt>
<$client.env.FormField.J_Date.prompt>
<$client.env.FormField.J_Identifying.prompt>
<$client.env.FormField.J_Title.prompt>
<$client.env.FormField.K_Date.prompt>
<$client.env.FormField.K_Identifying.prompt>
<$client.env.FormField.K_Title.prompt>
<$client.env.FormField.L_No_Prior.prompt>
<$client.env.FormField.M_Date.prompt>
<$client.env.FormField.M_Print_Name_Of_Employee.prompt>
<$client.env.FormField.N_Date.prompt>
<$client.env.FormField.N_Emp_Name.prompt>
<$client.env.FormField.signature.prompt>
<$client.env.FormField.signature2.prompt>
<$client.env.FormField.signature3.prompt>






</div>
<input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">

<table class="tbl_outer">
<tr>
<td>
<table width="100%" border="0"  cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td width="647" height="7" align="left" valign="top" bgcolor="#CCCCCC"></td>
        <td width="183" height="7" align="left" valign="top" bgcolor="#006699"></td>
        <td width="120" height="7" align="left" valign="top" bgcolor="#CCCCCC"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td width="647" align="left" valign="top">&nbsp;</td>
        <td width="183"  valign="top"><img src="<$link;/main/RedCarpet/FormTemplates/Dolby_CIIAA_Effective/Dolby.JPG>" width="157" height="33" border="0" /></td>
        <td width="120" align="left" valign="top">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td  valign="top" class="mainhead3">.Dolby Confidential Agreement</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify">As a condition of my employment with Dolby Laboratories, Inc., its subsidiaries,
        affiliates, successors or assigns (together the <strong class="mainhead2">&ldquo;Company&rdquo;</strong>), and in consideration of my 
      employment with the Company and my receipt of the compensation now and hereafter paid to 
      me by Company, I agree to the following terms and conditions set forth herein this Confidential 
    Information and Invention Assignment Agreement (<strong class="mainhead2">&ldquo;Agreement&rdquo;</strong>):</div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify"><span class="submainhead">1. At-Will Employment.</span> I UNDERSTAND AND ACKNOWLEDGE THAT MY EMPLOYMENT 
        WITH THE COMPANY IS FOR AN UNSPECIFIED DURATION AND CONSTITUTES &ldquo;AT-WILL&rdquo; 
      EMPLOYMENT. I ALSO UNDERSTAND THAT ANY REPRESENTATION TO THE CONTRARY IS 
      UNAUTHORIZED AND NOT VALID UNLESS OBTAINED IN WRITING AND SIGNED BY THE 
      PRESIDENT OF THE COMPANY. I ACKNOWLEDGE THAT THIS EMPLOYMENT RELATIONSHIP MAY 
      BE TERMINATED AT ANY TIME, WITH OR WITHOUT GOOD CAUSE OR FOR ANY OR NO CAUSE, 
    AT THE OPTION EITHER OF THE COMPANY OR MYSELF, WITH OR WITHOUT NOTICE.</div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="submainhead">2. Confidential Information.</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="31" align="left" valign="top">&nbsp;</td>
        <td width="919" align="left" valign="top"><div align="justify">A. <span class="text1">Company Information.</span> I agree at all times during the term of my employment 
          and thereafter, to hold in strictest confidence, and not to use, except for the benefit of the 
          Company, or to disclose to any person, firm or corporation, any Confidential Information of the 
          Company, except under a non-disclosure agreement duly authorized and executed by the 
          Company. I understand that &ldquo;<span class="mainhead2">Confidential Information</span>&rdquo; means any non-public information 
          that relates to the actual or anticipated business or research and development of the Company,
          technical data, trade secrets or know-how, including, but not limited to, research, product plans 
          or other information regarding Company&rsquo;s products or services and markets therefor, customer 
          lists and customers (including, but not limited to, customers of the Company on whom I called 
          or with whom I became acquainted during the term of my employment), software,
          developments, inventions, processes, formulas, technology, designs, drawings, engineering,
          hardware configuration information, marketing, finances or other business information. I further 
          understand that Confidential Information does not include any of the foregoing items which 
          have become publicly known and made generally available through no wrongful act of mine or 
          of others who were under confidentiality obligations as to the item or items involved.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">B. <span class="text1">Former Employer Information</span>. I agree that I will not, during my employment 
          with the Company, use or disclose any proprietary information or trade secrets of any former or 
          concurrent employer or other person or entity, and that I will not bring onto the premises of the 
          Company any unpublished document or proprietary information belonging to any such 
          employer, person or entity unless consented to in writing by such employer, person or entity 
          and the Company.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">C. <span class="text1">Third Party Information</span>. I recognize that the Company has received and in 
          the future will receive confidential or proprietary information from third parties which is subject 
          to a duty on the Company&rsquo;s part to maintain the confidentiality of such information and to use 
          it only for certain limited purposes. I agree to hold all such confidential or proprietary 
          information in the strictest confidence and not to disclose it to any person, firm orcorporation 
          or to use it except as necessary in carrying out my work for the Company consistent with the 
          Company&rsquo;s agreement with such third party.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td height="4" colspan="2" align="left" valign="top" bgcolor="#000000"></td>
        </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">D. <span class="text1">Public Statements.</span> I agree not to make, communicate or otherwise provide 
          (or cause or facilitate the making, communication or provision of) any oral or written statement 
          to any party outside of the Company, including any representative of the press, television, radio 
          or other media, concerning the Company or suppliers, customers, contractors, directors,
          officers, employees of the Company and its related companies, without the prior authorization 
          of the Company.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">E. <span class="text1">Technical Resources.</span> The Company's telephone, voice mail, computer, and email 
          systems and the data stored thereon are and remain at all times the property of Company.
          All information, including e-mail messages and files, that are created, sent, or retrieved over 
          the Company's technical resources are the property of Company. Any electronically stored 
          information which I create, send, or receive from others may be retrieved and reviewed when 
          doing so serves the legitimate business interests and obligations of the Company. The 
          Company reserves the right to monitor my use of its technical resources at any time, and I 
          hereby acknowledge and agree to this right of the Company.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="top" class="submainhead">3. Inventions.</td>
        </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">A. <span class="text1">Inventions Retained and Licensed</span>. I have attached hereto, as <span class="text">Exhibit A</span>, a list 
          describing all inventions, original works of authorship, developments, improvements, and trade 
          secrets which were made by me prior to my employment with the Company (collectively 
          referred to as &ldquo;<span class="mainhead2">Prior Inventions</span>&rdquo;) which belong to me, which relate to the Company&rsquo;s 
          proposed business, products or research and development, and which are not assigned to the 
          Company hereunder; or, if no such list is attached, I represent that there are no such Prior 
          Inventions. If in the course of my employment with the Company, I incorporate into a Company 
          product, process or service a Prior Invention owned by me or in which I have an interest (which 
          I understand I may do so only upon prior written approval by the Company), I hereby grant to 
          the Company a nonexclusive, royalty-free, fully paid-up, transferable, irrevocable, perpetual,
          worldwide license to make, use, offer to sell, import, sell, reproduce, prepare derivative works 
          of, publicly perform and publicly display together with the right to license and sublicense these 
          rights to any and all persons, firms and corporations.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">B. <span class="text1">Assignment of Inventions.</span> I agree to and hereby irrevocably assign to Dolby 
          Laboratories Licensing Corporation and its designees, all my right, title, and interest in and to 
          any and all inventions, original works of authorship, developments, concepts, improvements,
          designs, discoveries, ideas, trademarks and trade secrets, whether or not patentable or 
          registerable, which I may solely or jointly conceive or develop or reduce to practice, or cause to 
          be conceived or developed or reduced to practice, during the period of time I am in the employ 
          of the Company (collectively referred to as &ldquo;<span class="mainhead2">Inventions</span>&rdquo;), except as provided in <span class="mainhead2">Section 3.F</span> 
          below. For purposes hereof, all copyrightable Inventions shall be deemed works made for hire.
          Consistent with the foregoing, I hereby agree to promptly and fully disclose to the Company 
          any and all Inventions which I may solely or jointly conceive, make, reduce to practice, fix or 
          learn during my employment with the Company. I understand and agree that the decision 
          whether or not to commercialize or market any Invention developed by me solely or jointly with 
          others is within the Company&rsquo;s sole discretion and for the Company&rsquo;s sole benefit and that no 
          royalty will be due to me as a result of the Company&rsquo;s efforts to commercialize or market any 
          such Invention.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">C. <span class="text1">Inventions Assigned to the United States. </span>I agree to and hereby irrevocably 
          assign to the United States government all my right, title, and interest in and to any and all 
          Inventions whenever the Company shall deem it necessary for such full title to be in the United 
          States pursuant to a contract between the Company and the United States or any of its 
          agencies.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td height="4" colspan="2" align="left" valign="top" bgcolor="#000000"></td>
        </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">D. <span class="text1">Maintenance of Records</span>. I agree to keep and maintain adequate and current 
          written records of all Inventions made by me (solely or jointly with others) during the term of 
          my employment with the Company (<span class="mainhead2">&ldquo;Records&rdquo;</span>). The Records will be in the form of notes,
          sketches, drawings, and any other format that may be specified by the Company. The Records 
          will be available to and remain the sole property of the Company at all times and shall be 
          deemed Confidential Information of the Company.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">E. <span class="text1">Patent and Copyright Registrations.</span> I agree to assist the Company, its 
          successors, assigns and designees, at the Company&rsquo;s expense, in every proper way to secure 
          the Company&rsquo;s rights in the Inventions and any and all intellectual property rights relating 
          thereto in any and all countries, including the disclosure to the Company of all pertinent 
          information and data with respect thereto, the execution of all applications, continuations,
          continuations in part, renewals, re-issues, specifications, oaths, assignments and all other 
          instruments which the Company shall deem necessary in order to apply for, maintain and 
          exploit such rights and in order to assign and convey to the Company or its designees the sole 
          and exclusive rights, title and interest in and to such Inventions, together with any and all 
          intellectual property rights relating thereto (collectively referred to as <span class="mainhead2">&ldquo;Instruments&rdquo;</span>). I 
          further agree that my obligation to execute or cause to be executed, when it is in my power to 
          do so, any such Instruments shall continue after the termination of this Agreement in 
          perpetuity. If the Company is unable because of my mental or physical incapacity or for any 
          other reason to secure my signature in connection with any such Instrument, then I hereby 
          irrevocably designate and appoint the Company and its duly authorized officers and agents as 
          my agent and attorney in fact, to act for and in my behalf and stead to execute and file any 
          such Instrument and to do all other lawfully permitted acts to vest in the Company the rights in 
          the Inventions assigned herein with the same legal force and effect as if executed by me.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">F. <span class="text1">Exception to Assignments.</span> I understand that the provisions of this Agreement 
          requiring assignment of Inventions to the Company do not apply to any Invention which 
          qualifies fully under the provisions of California Labor Code Section 2870 (attached hereto as 
          Exhibit B). I will advise the Company promptly in writing of any Inventions that I believe meet 
          the criteria in California Labor Code Section 2870 and are not otherwise disclosed on <span class="text">Exhibit A.</span></div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">G. <span class="text1">Sufficient Remuneration and Waiver</span>. I acknowledge that the salary and other 
          compensation received from the Company constitutes reasonable and sufficient reward and 
          remuneration for my involvement in the creation and development of any Invention (including 
          copyrightable subject matter) vested in, assigned to or licensed to the Company under this 
          Agreement or by the operation of law. I further acknowledge and agree that it is just that I 
          should not be awarded any further compensation by the Company in respect thereof, and that I 
          have no claim whatsoever against the Company or its licensees, including any claim for any 
          additional reward or remuneration in respect of such involvement and the Company&rsquo;s use,
          reproduction and exploitation of such Inventions.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">H. <span class="text1">Waiver.</span> I hereby waive any and all claims, of any nature whatsoever, against 
          the Company and its assigns and licensees that I now or may hereafter have for 
          (i) infringement of any patents or copyrights; or (ii) additional compensation in relation to the 
          Inventions; (iii) I hereby waive and will not exercise any statutory right of first refusal in 
          respect of any proposed assignment by the Company of any Inventions to any third party; or 
          (iv) any other claims resulting from any such application for patents or copyright registrations 
          vesting in, assigned to or licensed to the Company as provide in this Agreement.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="top"><div align="justify"><span class="submainhead">4. Conflicting Employment.</span> I agree that, during the term of my employment with 
          the Company, I will not directly or indirectly engage in any other employment, occupation or 
          consulting directly related to the business in which the Company is now involved or becomes involved during the term of my employment, nor will I engage in any other activities that 
          conflict with my obligations to the Company.</div></td>
        </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      
      
      
      
      
      
      
      
      
      
    </table></td>
  </tr>
  <tr>
    <td height="4" align="left" valign="top" bgcolor="#000000"></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify"><span class="submainhead">5. Returning Company Documents.</span> I agree that, at the time of leaving the employ 
        of the Company, I will: (a) sign and deliver the &ldquo;Termination Certification&rdquo; attached hereto as 
        <span class="text">Exhibit C</span>; and (b) deliver to the Company (and not keep in my possession, recreate or deliver 
      to anyone else) any and all devices, data, notes, reports, proposals, lists, correspondence,
      specifications, drawings, blueprints, sketches, materials, equipment, other documents or 
      property, or reproductions of any aforementioned items developed by me pursuant to my 
      employment with the Company or otherwise belonging to the Company, its successors or 
    assigns, including, without limitation, those Records maintained pursuant to Section 3.D.</div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify"><span class="submainhead">6. Notification of New Employer.</span> In the event that I leave the employ of the 
      Company, I acknowledge and confirm that the Company shall have the right to contact my new 
      employers and inform my new employers about my rights and obligations under this 
    Agreement.</div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify"><span class="submainhead">7. Solicitation of Employees</span>. I agree that for a period of twelve (12) months 
      immediately following the termination of my relationship with the Company for any reason,
      whether with or without cause, I shall not either directly or indirectly solicit, induce, recruit or 
      encourage any of the Company&rsquo;s employees to leave their employment, or take away such 
      employees, or attempt to solicit, induce, recruit, encourage or take away employees of the 
    Company, either for myself or for any other person or entity.</div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify"><span class="submainhead">8. Representations.</span> I agree to execute any proper oath or verify any proper 
      document required to carry out the terms of this Agreement. I represent that my performance 
      of all the terms of this Agreement will not breach any agreement to keep in confidence 
      proprietary information acquired by me in confidence or in trust prior to my employment by the 
      Company. I hereby represent and warrant that I have not entered into, and I will not enter 
    into, any oral or written agreement in conflict herewith with this Agreement.</div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="submainhead">9. General Provisions.</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td width="33" align="left" valign="top">&nbsp;</td>
        <td width="917" align="left" valign="top"><div align="justify">A. <span class="text">Governing Law; Consent to Personal Jurisdiction</span>. This Agreement will be 
          governed by the laws of the State of California without regard to its conflict of laws provisions. I 
          hereby expressly consent to the personal jurisdiction of the State and Federal Courts located in 
          San Francisco, California in connection with any dispute arising from or relating to this 
          Agreement.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">B. <span class="text">Entire Agreement</span>. This Agreement sets forth the entire agreement and 
          understanding between the Company and me relating to the subject matter herein and 
          supersedes all prior discussions or representations between us whether written or oral. No 
          modification of or amendment to this Agreement, nor any waiver of any rights under this 
          Agreement, will be effective unless in writing signed by the Company and me. Any subsequent 
          change or changes in my duties, salary or compensation will not affect the validity or scope of 
          this Agreement.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">C. <span class="text">Severability.</span> I agree that if one or more provisions of this Agreement are held 
          to be unenforceable under applicable California law, such unenforceable portion(s) shall be 
          limited or excluded from this Agreement to the minimum extent required so that this 
          Agreement shall otherwise remain in full force and effect and enforceable in accordance with its 
          terms.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td height="4" colspan="2" align="left" valign="top" bgcolor="#000000"></td>
        </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">D. <span class="text">Successors and Assigns.</span> This Agreement will be binding upon my heirs,
          executors, administrators and other legal representatives and will be for the benefit of the 
          Company, its successors, and its assigns. Consistent with the foregoing, I acknowledge that 
          this Agreement is fully assignable and transferable by the Company, but any purported 
          assignment or transfer by me shall be void.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">E.<span class="text"> Injunctive Remedies.</span> I understand and agree that any breach of this 
          Agreement will cause irreparable harm to the Company for which damages would not be an 
          adequate remedy, and therefore, the Company shall be entitled to injunctive relief with respect 
          thereto in addition to any other remedies and without any requirement to post bond.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><div align="justify">F. <span class="text">Survival.</span> I agree that my obligations under Sections 2, 3, 5, 7 and 9 of this 
          Agreement shall continue in effect after termination of my employment, regardless of the 
          reason or reasons for termination, and whether such termination is voluntary or involuntary on 
          my part. My obligations under Sections 2, 3, 5, 7 and 9 shall also be binding on my heirs,
          executors, assigns and administrators and shall inure to the benefit of the Company, its 
          affiliates, successors and assigns.</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      
      
      
      
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify"><strong>I HAVE READ THIS AGREEMENT CAREFULLY, AND I UNDERSTAND AND ACCEPT THE 
      OBLIGATIONS WHICH IT IMPOSES UPON ME WITHOUT RESERVATION. NO PROMISES 
    OR REPRESENTATIONS HAVE BEEN MADE TO ME TO INDUCE ME TO SIGN THIS AGREEMENT. I HEREBY ACKNOWLEDGE THAT I AM SIGNING THIS AGREEMENT VOLUNTARILY AND FREELY.</strong></div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td width="98" align="left" valign="top">Effective Date:</td>
        <td width="278" align="left" valign="top"><$client.env.FormField.A_Effective_Date.HTML></td>
        <td width="574" align="left" valign="top"><$client.env.FormField.signature.HTML></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">Signature</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><$client.env.FormField.A_Name_Of_Employee.HTML></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">Name of Employee (typed or printed)</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td height="4" align="left" valign="top" bgcolor="#000000"></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td width="647" height="7" align="left" valign="top" bgcolor="#CCCCCC"></td>
        <td width="183" height="7" align="left" valign="top" bgcolor="#006699"></td>
        <td width="120" height="7" align="left" valign="top" bgcolor="#CCCCCC"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td width="647" align="left" valign="top">&nbsp;</td>
        <td width="183"  valign="top"><img src="<$link;/main/RedCarpet/FormTemplates/Dolby_CIIAA_Effective/Dolby.JPG>" width="157" height="33" border="0" /></td>
        <td width="120" align="left" valign="top">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="mainheadunderline">Exhibit A</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="mainhead2">LIST OF PRIOR INVENTIONS<br />
    AND ORIGINAL WORKS OF AUTHORSHIP</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td width="22" align="left" valign="top">&nbsp;</td>
        <td width="363" align="left" valign="top">Title</td>
        <td width="174" align="left" valign="top">Date</td>
        <td width="391" align="left" valign="top">Identifying Number or Brief Description</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">1.</td>
        <td align="left" valign="top"><$client.env.FormField.B_Title.HTML></td>
        <td align="left" valign="top"><$client.env.FormField.B_Date.HTML></td>
        <td align="left" valign="top"><$client.env.FormField.B_Identifying.HTML></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">2.</td>
        <td align="left" valign="top"><$client.env.FormField.C_Title.HTML></td>
        <td align="left" valign="top"><$client.env.FormField.C_Date.HTML></td>
        <td align="left" valign="top"><$client.env.FormField.C_Identifying.HTML></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">3.</td>
        <td align="left" valign="top"><$client.env.FormField.D_Title.HTML></td>
        <td align="left" valign="top"><$client.env.FormField.D_Date.HTML></td>
        <td align="left" valign="top"><$client.env.FormField.D_Identifying.HTML></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">4.</td>
        <td align="left" valign="top"><$client.env.FormField.E_Title.HTML></td>
        <td align="left" valign="top"><$client.env.FormField.E_Date.HTML></td>
        <td align="left" valign="top"><$client.env.FormField.E_Identifying.HTML></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">5.</td>
        <td align="left" valign="top"><$client.env.FormField.F_Title.HTML></td>
        <td align="left" valign="top"><$client.env.FormField.F_Date.HTML></td>
        <td align="left" valign="top"><$client.env.FormField.F_Identifying.HTML></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
        </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>

  <tr>
    <td align="left" valign="top"><$client.env.formfield.AdditionalInventions.HTML></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><$client.env.FormField.L_No_Prior.HTML></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" align="left" valign="top">Signature of Employee:</td>
        <td width="793" align="left" valign="top"><$client.env.FormField.signature2.HTML></td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="top">Print Name of Employee:</td>
        <td align="left" valign="top"><$client.env.FormField.M_Print_Name_Of_Employee.HTML></td>
      </tr>
      
      
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" align="left" valign="middle">Date:</td>
        <td width="907" align="left" valign="top"><$client.env.FormField.M_Date.HTML></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td height="4" align="left" valign="top" bgcolor="#000000"></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td width="647" height="7" align="left" valign="top" bgcolor="#CCCCCC"></td>
        <td width="183" height="7" align="left" valign="top" bgcolor="#006699"></td>
        <td width="120" height="7" align="left" valign="top" bgcolor="#CCCCCC"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td width="647" align="left" valign="top">&nbsp;</td>
        <td width="183"  valign="top"><img src="<$link;/main/RedCarpet/FormTemplates/Dolby_CIIAA_Effective/Dolby.JPG>" width="157" height="33" border="0" /></td>
        <td width="120" align="left" valign="top">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td  valign="top" class="mainheadunderline">Exhibit B</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td  valign="top" class="submainhead">CALIFORNIA LABOR CODE SECTION 2870<br />
    INVENTION ON OWN TIME-EXEMPTION FROM AGREEMENT</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify">&ldquo;(a) Any provision in an employment agreement which provides that an employee 
      shall assign, or offer to assign, any of his or her rights in an invention to his or her employer 
      shall not apply to an invention that the employee developed entirely on his or her own time 
      without using the employer&rsquo;s equipment, supplies, facilities, or trade secret information except 
    for those inventions that either:</div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td width="43" align="left" valign="top">&nbsp;</td>
        <td width="907" align="left" valign="top"><div align="justify">(1) Relate at the time of conception or reduction to practice of the invention 
          to the employer&rsquo;s business, or actual or demonstrably anticipated research or development of 
          the employer; or</div></td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">(2) Result from any work performed by the employee for the employer.</td>
      </tr>
      
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify">(b) To the extent a provision in an employment agreement purports to require an 
      employee to assign an invention otherwise excluded from being required to be assigned under 
    subdivision (a), the provision is against the public policy of this state and is unenforceable.&rdquo;</div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td height="4" align="left" valign="top" bgcolor="#000000"></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td width="647" height="7" align="left" valign="top" bgcolor="#CCCCCC"></td>
        <td width="183" height="7" align="left" valign="top" bgcolor="#006699"></td>
        <td width="120" height="7" align="left" valign="top" bgcolor="#CCCCCC"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td width="647" align="left" valign="top">&nbsp;</td>
        <td width="183"  valign="top">
        <img src="<$link;/main/RedCarpet/FormTemplates/Dolby_CIIAA_Effective/Dolby.JPG>" width="157" height="33" border="0" /></td>
        <td width="120" align="left" valign="top">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td  valign="top" class="mainheadunderline">Exhibit C</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td  valign="top" class="submainhead">TERMINATION CERTIFICATION</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td  valign="top" class="submainhead">TO THE DOLBY LABORATORIES, INC. CONFIDENTIAL INFORMATION AND INVENTION<br />
    ASSIGNMENT AGREEMENT</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify">This is to certify that I do not have in my possession, nor have I failed to return, any 
      devices, records, data, notes, proposals, lists, correspondence, specifications, drawings,
      blueprints, sketches, materials, equipment, Reports (as defined in the Dolby Laboratories Inc. 
      Confidential Information and Invention Assignment Agreement, the &ldquo;<span class="mainhead2">Agreement</span>&rdquo;) other 
      documents or property, or reproductions of any aforementioned items in whole or in part,
      whether developed by me (in whole or in part) pursuant to my employment with the Company 
    (as defined in the Agreement) or otherwise belonging to the Company.</div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify">I further certify that I have complied with all the terms of the Agreement signed by me,
      including the reporting of any Inventions and original works of authorship (as defined in the 
      Agreement), conceived or made by me (solely or jointly with others) covered by the 
    Agreement.</div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify">I further agree that, in compliance with the Agreement, I have not and will not use or disclose any Confidential Information acquired by me during my employment (as defined in the Agreement) for any purpose whatsoever without express written approval from the Company.</div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><div align="justify">I further agree that for twelve (12) months from this date, I will not directly or indirectly 
        solicit, induce, recruit or encourage any of the Company&rsquo;s employees to leave their employment 
    or breach the terms of their respective employment agreements with the Company.</div></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0"  cellpadding="0" cellspacing="0">
      <tr>
        <td width="48" align="left" valign="middle">Date:</td>
        <td width="328" align="left" valign="top">&nbsp;<$client.env.FormField.N_Date.HTML></td>
        <td width="574" align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><$client.env.FormField.signature3.HTML>&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">(Employee&rsquo;s Signature)</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top"><$client.env.FormField.N_Emp_Name.HTML>&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">&nbsp;</td>
        <td align="left" valign="top">(Type/Print Employee&rsquo;s Name)</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
</table>
</td>
</tr>
</table>


<div style="display:none;">
<$client.env.FormField.signatureverification.HTML>
<$client.env.FormField.signature2verification.HTML>
<$client.env.FormField.signature3verification.HTML>
</div>

<br><br>

<$client.env.FormButtons>
</form>
<SCRIPT>
ChangeCalendarIcons(); //for popup calendar
</SCRIPT>
