<div class="container-fluid main">
    <header class="text-center">
        <h3>
            <strong>Drug and Nicotine Test Consent Form</strong>
        </h3>
    </header>
    <div class="row">
        <p class="text-center">
            CONSENT FOR PRE-EMPLOYMENT, POST-ACCIDENT, OR REASONABLE SUSPICION DRUG TEST SCREEN; AND PRE-EMPLOYMENT AND REASONABLE SUSPICION NICOTINE TEST SCREEN; AND RELEASE COVENANT NOT TO SUE AND INDEMNITY AGREEMENT
        </p>
    </div>
    <p class="text-justify">
        I hereby CONSENT to allow MedDirect/First Choice Drug Testing to take a specimen of my urine or blood and submit it for a pre-employment, post-accident, or reasonable suspicion drug test screen; and pre-employment and reasonable suspicion nicotine test screen. I FURTHER CONSENT to allow the laboratory testing service to make the results of such screen available to the prospective or current employer, Arkansas Foundation for Medical Care.
    </p>
    <p class="text-justify">
        In consideration for such services being rendered on my behalf, I hereby RELEASE the laboratory testing service, its officers, agents, and employees, from any and all claims which I might otherwise have due to such results being made so available. I hereby CONSENT NOT TO FILE ANY ACTION at law or in equity against Arkansas Foundation for Medical Care, the laboratory testing service, their respective officers, agents or employees in connection with the results of such screen being made so available, and I hereby agree to INDEMNIFY and SAVE HARMLESS Arkansas Foundation for Medical Care, the laboratory testing service, their respective officers, agents, and employees from all damages, expenses, reasonable attorney's fees, and costs of court which they or any of them may suffer or incur, jointly or severally, due to the results of such screen being made so available.
    </p>
    <div class="row">
        <div class="signature-block center-block text-center">
            <div class="form-inline">
                <div class="form-group">
                    <label>
                        SIGNED this
                    </label>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="form-group">
                    <label>
                        day of
                    </label>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="form-group">
                    <label>, 20 </label>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-80">
                <div class="col-md-12 col-xs-12">
                    <label>(SIGNATURE)</label>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-80">
                <div class="col-md-12 col-xs-12">
                    <label>(NAME PRINTED)</label>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-80">
                <div class="col-md-12 col-xs-12">
                    <label>(SOCIAL SECURITY NUMBER)</label>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-80">
                <div class="col-md-12 col-xs-12">
                    <label>(DATE OF BIRTH)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class="text-center">
            <strong>
                DISCLOSURE AND AUTHORIZATION TO RELEASE INFORMATION
            </strong>
        </h4>
    </div>
    <div class="row">
        <p>
            In connection with my application for employment (including contract for services or volunteer services) or tenancy with (_<u>Arkansas Foundation for Medical Care</u>_ ), I authorize the use of requested Consumer Reports. These consumer reports (investigative consumer reports in California) may include the following types of information: names and dates of previous employers, salary, work experience, education, accidents, licensure, credit (except California), etc. I further understand that such reports may contain public record information such as, but not limited to: my driving record, workers’ compensation claims, judgments, bankruptcy proceedings, criminal records, etc., from federal, state and other agencies which maintain such records.
        </p>
        <p>
            In addition, investigative consumer reports as defined by the federal Fair Credit Reporting Act, gathered from personal interviews with former employers and other past or current associates of mine to gather information regarding my work performance, character, general reputation and personal characteristics may be obtained.
        </p>
        <h4>
            <strong>
                I AUTHORIZE, WITHOUT RESERVATION, ANY PARTY OR AGENCY CONTACTED BY THE CONSUMER REPORTING AGENCY TO FURNISH THE ABOVE-MENTIONED INFORMATION.
            </strong>
        </h4>
        <p>
            I have the right to make a request to the consumer reporting agency: CourtHouse Concepts, 16 W. Center St., Fayetteville, AR 72701; telephone (479) 582-3660. CourtHouse Concepts, upon proper identification, to request the nature and substance of all information in its files on me at the time of my request, including the sources of information and the agency, on our behalf, will provide a complete and accurate disclosure of the nature and scope of the investigation covered by the investigative consumer report(s); and the recipients of any reports on me which the agency has previously furnished within the two year period for employment requests, and one year for other purposes preceding my request (California three years). I hereby consent to your obtaining the above information from the agency. You may view their privacy policy at their website: www.courthouseconcepts.com.
        </p>
        <p>
            I hereby authorize procurement of consumer report(s) and investigative consumer report(s). If hired (or contracted), this authorization shall remain on file and shall serve as ongoing authorization for you to procure consumer reports at any time during my employment (or contract) period .I acknowledge that I have been provided a copy of consumer’s rights under the Fair Credit Reporting Act.
        </p>
        <div class="form-group">
            <input type="text" class="lifesuite__text-input input-full">
            <label>
                Applicant Full Name (please print)
            </label>
        </div>
        <div class="form-group">
            <input type="text" class="lifesuite__text-input input-full">
            <label>
                Please print other names you have used
            </label>
        </div>
        <div class="form-group">
            <label>
                Drivers License #/State Issued:
            </label>
            <input type="text" class="lifesuite__text-input">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-80">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>
                        Social Security Number
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                <input type="text" class="lifesuite__text-input">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>
                        Date of Birth
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-80">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>
                        (Signature)
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-full">
                <label>
                Current Address
                </label>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-full">
                <label for="">
                    City/State
                </label>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-full">
                <label for="">
                    Zip Code
                </label>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-full">
                <label for="">
                    County
                </label>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-full">
                <label for="">
                    Length at Address
                </label>
            </div>
        </div>
    </div>
    <h4>
        <strong>Highest Level of Education Completed</strong>
    </h4>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-full">
                <label>
                    Institution Name
                </label>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-full">
                <label>
                    Major/Degree
                </label>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-full">
                <label>
                    Graduation Date
                </label>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
                <input type="text" class="lifesuite__text-input input-full">
                <label>
                    Last Name (If different)
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <em>
            <strong>
                Para información en español, visite <a href="www.consumerfinance.gov/learnmore">www.consumerfinance.gov/learnmore</a> o escribe a la Consumer Financial Protection Bureau, 1700 G Street N.W., Washington, DC 20552.
            </strong>
        </em>
        <h5 class="text-center">
            <strong>
                A Summary of Your Rights Under the Fair Credit Reporting Act
            </strong>
        </h5>
        <p>
            The federal Fair Credit Reporting Act (FCRA) promotes the accuracy, fairness, and privacy of information in the files of consumer reporting agencies. There are many types of consumer reporting agencies, including credit bureaus and specialty agencies (such as agencies that sell information about check writing histories, medical records, and rental history records). Here is a summary of your major rights under the FCRA. <strong>For more information, including information about additional rights, go to <a href="www.consumerfinance.gov/learnmore">www.consumerfinance.gov/learnmore</a> or write to: Consumer Financial Protection Bureau, 1700 G Street N.W., Washington, DC 20552.</strong>
        </p>
        <p>
            <strong>&#x2022; You must be told if information in your file has been used against you.</strong> Anyone who uses a credit report or another type of consumer report to deny your application for credit, insurance, or employment – or to take another adverse action against you – must tell you, and must give you the name, address, and phone number of the agency that provided the information.
        </p>
        <p>
            <strong>&#x2022; You have the right to know what is in your file.</strong> You may request and obtain all the information about you in the files of a consumer reporting agency (your “file disclosure”). You will be required to provide proper identification, which may include your Social Security number. In many cases, the disclosure will be free. You are entitled to a free file disclosure if:
        </p>
        <ul class="list-indent">
            <li>
                a person has taken adverse action against you because of information in your credit report;
            </li>
            <li>
                you are the victim of identify theft and place a fraud alert in your file;
            </li>
            <li>
                your file contains inaccurate information as a result of fraud;
            </li>
            <li>
                you are on public assistance;
            </li>
            <li>
                you are unemployed but expect to apply for employment within 60 days.
            </li>
        </ul>
        <p>
            In addition, all consumers are entitled to one free disclosure every 12 months upon request from each nationwide credit bureau and from nationwide specialty consumer reporting agencies. See <a href="www.consumerfinance.gov/learnmore">www.consumerfinance.gov/learnmore</a> for additional information.
        </p>
        <p>
            <strong>&#x2022; You have the right to ask for a credit score.</strong> Credit scores are numerical summaries of your credit-worthiness based on information from credit bureaus. You may request a credit score from consumer reporting agencies that create scores or distribute scores used in residential real property loans, but you will have to pay for it. In some mortgage transactions, you will receive credit score information for free from the mortgage lender.
        </p>
        <p>
            <strong>&#x2022; You have the right to dispute incomplete or inaccurate information.</strong> If you identify information in your file that is incomplete or inaccurate, and report it to the consumer reporting agency, the agency must investigate unless your dispute is frivolous. See www.consumerfinance.gov/learnmore for an explanation of dispute procedures.
        </p>
        <p>
            <strong>&#x2022; Consumer reporting agencies must correct or delete inaccurate, incomplete, or unverifiable information.</strong> Inaccurate, incomplete or unverifiable information must be removed or corrected, usually within 30 days. However, a consumer reporting agency may continue to report information it has verified as accurate.
        </p>
        <p>
            <strong>&#x2022; Consumer reporting agencies may not report outdated negative information.</strong> In most cases, a consumer reporting agency may not report negative information that is more than seven years old, or bankruptcies that are more than 10 years old.
        </p>
        <p>
            <strong>&#x2022; Access to your file is limited.</strong> A consumer reporting agency may provide information about you only to people with a valid need – usually to consider an application with a creditor, insurer, employer, landlord, or other business. The FCRA specifies those with a valid need for access.
        </p>
        <p>
            <strong>&#x2022; You must give your consent for reports to be provided to employers</strong>. A consumer reporting agency may not give out information about you to your employer, or a potential employer, without your written consent given to the employer. Written consent generally is not required in the trucking industry. For more information, go to <a href="www.consumerfinance.gov/learnmore">www.consumerfinance.gov/learnmore</a>.
        </p>
        <p>
            <strong>&#x2022; You may limit “prescreened” offers of credit and insurance you get based on information in your credit report.</strong> Unsolicited “prescreened” offers for credit and insurance must include a toll-free phone number you can call if you choose to remove your name and address from the lists these offers are based on. You may opt-out with the nationwide credit bureaus at 1-888-567- 8688.
        </p>
        <p>
            <strong>&#x2022; You may seek damages from violators.</strong> If a consumer reporting agency, or, in some cases, a user of consumer reports or a furnisher of information to a consumer reporting agency violates the FCRA, you may be able to sue in state or federal court.
        </p>
        <p>
            <strong>&#x2022; Identity theft victims and active duty military personnel have additional rights.</strong> For more information, visit <a href="www.consumerfinance.gov/learnmore">www.consumerfinance.gov/learnmore</a>.
        </p>
        <p>
            <strong>
                States may enforce the FCRA, and many states have their own consumer reporting laws. In some cases, you may have more rights under state law. For more information, contact your state or local consumer protection agency or your state Attorney General. For information about your federal rights, contact:
            </strong>
        </p>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5>
                <strong>
                    TYPE OF BUSINESS:
                </strong>
            </h5>
            <p>
                <small>
                    1.a. Banks, savings associations, and credit unions with total assets of over $10 billion and their affiliates.
                </small>
            </p>
            <p>
                <small>
                    b. Such affiliates that are not banks, savings associations, or credit unions also should list, in addition to the CFPB:
                </small>
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5>
                <strong>
                    CONTACT:
                </strong>
            </h5>
            <p>
                <small>
                    a. Consumer Financial Protection Bureau 1700 G Street NW Washington, DC 20552
                </small>
            </p>
            <p>
                <small>
                    b. Federal Trade Commission: Consumer Response Center – FCRA Washington, DC 20580 (877) 382-4357
                </small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p>
                <small>
                    2. To the extent not included in item 1 above:
                </small>
            </p>
            <p>
                <small>
                    a. National banks, federal savings associations, and federal branches and federal agencies of foreign banks
                </small>
            </p>
            <p>
                <small>
                    b. State member banks, branches and agencies of foreign banks (other than federal branches, federal agencies, and Insured State Branches of Foreign Banks), commercial lending companies owned or controlled by foreign banks, and organizations operating under section 25 or 25A of the Federal Reserve Act
                </small>
            </p>
            <p>
                <small>
                    c. Nonmember Insured Banks, Insured State Branches of Foreign Banks, and insured state savings associations
                </small>
            </p>
            <p>
                <small>
                    d. Federal Credit Unions
                </small>
            </p>
            <p>
                <small>
                    3. Air carriers
                </small>
            </p>
            <p>
                <small>
                    4. Creditors Subject to Surface Transportation Board
                </small>
            </p>
            <p>
                <small>
                    5. Creditors Subject to Packers and Stockyards Act, 1921
                </small>
            </p>
            <p>
                <small>
                    6. Small Business Investment Companies
                </small>
            </p>
            <p>
                <small>
                    7. Brokers and Dealers
                </small>
            </p>
            <p>
                <small>
                    8. Federal Land Banks, Federal Land Bank Associations, Federal Intermediate Credit Banks, and Production Credit Associations
                </small>
            </p>
            <p>
                <small>
                    9. Retailers, Finance Companies, and All Other Creditors Not Listed Above
                </small>
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p>
                <small>
                    a. Office of the Comptroller of the Currency Customer Assistance Group 1301 McKinney Street, Suite 3450 Houston, TX 77010-9050
                </small>
            </p>
            <p>
                <small>
                    b. Federal Reserve Consumer Help Center P.O. Box 1200 Minneapolis, MN 55480
                </small>
            </p>
            <p>
                <small>
                    c. FDIC Consumer Response Center 1100 Walnut Street, Box #11 Kansas City, MO 64106
                </small>
            </p>
            <p>
                <small>
                    d. National Credit Union Administration Office of Consumer Protection (OCP) Division of Consumer Compliance and Outreach (DCCO) 1775 Duke Street Alexandria, VA 22314 <br>
                </small>
                <small>
                    Asst. General Counsel for Aviation Enforcement &amp; Proceedings Aviation Consumer Protection Division Department of Transportation 1200 New Jersey Avenue, SE Washington, DC 20590 <br>
                </small>
                <small>
                    Office of Proceedings, Surface Transportation Board Department of Transportation 395 E Street S.W. Washington, DC 20423
                </small>
            </p>
            <p>
                <small>
                    Nearest Packers and Stockyards Administration area supervisor
                </small>
            </p>
            <p>
                <small>
                    Associate Deputy Administrator for Capital Access United States Small Business Administration 409 Third Street, SW, 8th Floor Washington, DC 20416 <br>
                </small>
                <small>
                    Securities and Exchange Commission 100 F St NE Washington, DC 20549 <br>
                </small>
                <small>
                    Farm Credit Administration 1501 Farm Credit Drive McLean, VA 22102-5090 <br>
                </small>
                <small> 
                    FTC Regional Office for region in which the creditor operates or Federal Trade Commission: Consumer Response Center – FCRA Washington, DC 20580 (877) 382-4357
                </small>
            </p>
        </div>
    </div>
</div>
