<table border="0">
  <tr>
    <td>Your first and last name must match the name shown on your government-issued ID.</td>
  </tr>
  <tr>
    <td>&nbsp</td>
  </tr>
</table>
<table border="0">
  <tr>
    <td id="First_Name_prompt">Legal First Name</td>
    <td colspan="3"><input type="text" name="First_Name" value="<$client.tForWhomUserInfo.First_Name>" /></td>
  </tr>
  <tr>
    <td id="Middle_Name_prompt">Middle Name</td>
    <td colspan="3"><input type="text" name="Middle_Name" value="<$client.tForWhomUserInfo.Middle_Name>" /></td>
  </tr>
  <tr>
    <td id="Last_Name_prompt">Legal Last Name</td>
    <td colspan="3"><input type="text" name="Last_Name" value="<$client.tForWhomUserInfo.Last_Name>" /></td>
  </tr>
  <tr>
    <td id="Preferred_Name_prompt">Preferred Given Name</td>
    <td colspan="3"><$client.env.inputPreferred_Name></td>
  </tr>
  <tr>
    <td id="Preferred_Last_Name_prompt">Preferred Last Name</td>
    <td colspan="3"><$client.env.inputPreferred_Last_Name></td>
  </tr>
  <tr>
    <td id="Phone_Device_prompt"><$client.env.promptPhone_Device></td>
    <td colspan="3"><$client.env.inputPhone_Device></td>
  </tr>
  <tr>
    <td id="Phone_Country_Code_prompt"><$client.env.promptPhone_Country_Code></td>
    <td colspan="3"><$client.env.inputPhone_Country_Code></td>
  </tr>
  <tr>
    <td id="Phone_prompt"><$client.env.promptPhone></td>
    <td colspan="3"><$client.env.inputPhone></td>
  </tr>
  <tr>
    <td  id="Email_prompt">Email Address</td>
    <td colspan="3"><input type="text" name="Email" value="<$client.tForWhomUserInfo.Email>"  size="40"/>   </td>
  </tr>
  <tr>
    <td id="Address1_prompt">
      Address 1
    </td>
    <td colspan="3"><$client.env.inputAddress1> </td>
  </tr>
  <tr>
    <td><$client.env.promptAddress2></td>
    <td colspan="3"><$client.env.inputAddress2> </td>
  </tr>
  <tr>
    <td><$client.env.promptAddress3></td>
    <td colspan="3"><$client.env.inputAddress3> </td>
  </tr>
  <tr>
    <td id="City_prompt">
      City<!--<$client.env.promptCity>-->
    </td>
    <td colspan="3"><$client.env.inputCity>  </td>
  </tr>
  <tr>
    <td id="Zip_prompt">Postal Code</td>
    <td><$client.env.inputZip></td>
  </tr>
  <tr>
    <td id="Country_prompt">
      Country<!--<$client.env.promptCountry>-->
    </td>
    <td colspan="3"><$client.env.inputCountry></td>
  </tr>
</table>

<!-- Format Dates on load -->
<script type="text/javascript">
if(self.LoadCallback) {
  LoadCallback(document.forms['frmExtendedUserProfile']);
}
</script>
