<div id="task_summary_outer">
    <div id="bg-image">.</div>
    <div id="EditProfile_container">
        <div id="EditProfile_wrapper">
            <div id="EditProfile">
                <h2>Launch Onboarding Event</h2>
                <h4>This page simplifies the process of launching an onboarding event.</h4>
                <div class="heading">
                    <span class="heading-inner">
                        POSITION INFORMATION
                    </span>
                </div>
                <div class="input_wrapper">
                    <span class="floating-label">Business Card Title</span>
                    <$client.env.inputBusiness_Title>
                </div>
                <div class="input_wrapper">
                    <span class="floating-label">System Title</span>
                    <$client.env.inputSystemTitle>
                </div>
                <div class="merge">
                    <div class="input_wrapper">
                        <span class="floating-label">Salary Grade</span>
                        <$client.env.inputSalaryGradeLvl>
                    </div>
                    <div class="input_wrapper">
                        <span class="floating-label">Employee Type</span>
                        <$client.env.inputEmployee_Group_CD>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper">
                        <span class="floating-label">Exempt Status</span>
                        <$client.env.inputExempt>
                    </div>
                    <div class="input_wrapper">
                        <span class="floating-label">Part or Full-Time</span>
                        <$client.env.inputJobType>
                    </div>
                </div>
                <div class="input_wrapper">
                    <span class="floating-label">Entity Name</span>
                    <$client.env.inputEnityName>
                </div>
                <div class="input_wrapper">
                    <span class="floating-label">Entity Address</span>
                    <$client.env.inputEntityAddress>
                </div>
                <div class="merge">
                    <div class="input_wrapper">
                        <span class="floating-label">Contract End Date</span>
                        <$client.env.inputContractEndDate>
                    </div>
                </div>
                <div class="input_wrapper mb-18">
                    <span class="floating-label">Building Address (Work Location)</span>
                    <$client.env.inputBuildingAddress>
                </div>

                <div class="heading">
                    <span class="heading-inner">
                        COMPENSATION
                    </span>
                </div>
                <div class="merge">
                    <div class="input_wrapper">
                        <span class="floating-label">Currency Code</span>
                        <$client.env.inputCurrency_Code_new>
                    </div>
                    <div class="input_wrapper">
                        <span class="floating-label">Annual Salary</span>
                        <$client.env.inputSalary_Amount>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper mb-0 hidden-xs"></div>
                    <div class="input_wrapper">
                        <span class="floating-label">Monthly Pay Rate Amount</span>
                        <$client.env.inputSalaryOffered>
                    </div>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Annual Incentive Plan Percentage (AIP)</span>
                    <$client.env.inputeIP_Target_Pct>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Sales Incentive Plan Amount (SIP)</span>
                    <$client.env.inputSIP_Amount>
                </div>

                <div class="input_wrapper mb-30">
                    <span class="floating-label">Restricted Stock Units (USD $ Amount)</span>
                    <$client.env.inputNEW_HIRE_REST_STOCK_UNITS>
                </div>

                <div class="heading">
                    <span class="heading-inner">
                        BONUS
                    </span>
                </div>
                <div class="input_wrapper mb-13 china-options">
                    <label id="Hire_on_Bonus_Eligible_label">
                        <strong>Is this employee eligible for a sign-on/hire-on bonus?</strong>
                    </label>
                    <$client.env.inputHire_on_Bonus_Eligible>
                </div>
                <div class="merge bonus-section china-options">
                    <div class="input_wrapper">
                        <span class="floating-label">Currency Code</span>
                        <select name="HIRE_ON_BONUS_CRNCY_CD_pseudo" id="HIRE_ON_BONUS_CRNCY_CD_pseudo"></select>
                    </div>
                    <div class="input_wrapper">
                        <span class="floating-label">Bonus Amount</span>
                        <$client.env.inputHIRE_ON_BONUS_AMOUNT>
                    </div>
                </div>
                <div class="merge bonus-section china-options">
                    <div class="input_wrapper mb-0 hidden-xs"></div>
                    <div class="input_wrapper">
                        <span class="floating-label">Installment Amount</span>
                        <$client.env.inputInstallment_Amount>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper mb-0 hidden-xs"></div>
                    <div class="input_wrapper">
                        <span class="floating-label">Installment Amount 1</span>
                        <$client.env.inputInstallment_Amount_1>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper mb-0 hidden-xs"></div>
                    <div class="input_wrapper">
                        <span class="floating-label">Installment Amount 2 (RCG Only)</span>
                        <$client.env.inputInstallment_Amount_2>
                    </div>
                </div>
                <div class="merge mb-30">
                    <div class="input_wrapper mb-0 hidden-xs"></div>
                    <div class="input_wrapper">
                        <span class="floating-label">Installment Amount 3 (RCG Only)</span>
                        <$client.env.inputInstallment_Amount_3>
                    </div>
                </div>
                <div class="input_wrapper mb-13">
                    <label id="Variable_Bonus_label">
                        <strong>Is this employee eligible for a variable or incentive bonus?</strong>
                    </label>
                    <$client.env.inputVariable_Bonus>
                </div>
                <div class="variable-bonus-section merge" data-section-group="bonus">
                    <div class="input_wrapper">
                        <span class="floating-label">Currency Code</span>
                        <select name="Comp_Currency_pseudo" id="Comp_Currency_pseudo"></select>
                    </div>
                    <div class="input_wrapper">
                        <span class="floating-label">Target Amount</span>
                        <$client.env.inputComp_Target_Amount>
                    </div>
                </div>

                <div class="variable-bonus-section merge" data-section-group="bonus">
                    <div class="input_wrapper mb-0 hidden-xs"></div>
                    <div class="input_wrapper">
                        <span class="floating-label">Target Percentage</span>
                        <$client.env.inputCompensation_Target_Percentage>
                    </div>
                </div>
                
                <div class="input_wrapper mb-13">
                    <label id="Repayment_Agreement_Eligible_label">
                        <strong>Is this employee eligible for a Repayment Agreement?</strong>
                    </label>
                    <$client.env.inputRepayment_Agreement_Eligible>
                </div>

                <div class="input_wrapper mb-13">
                    <label id="Introductory_RampUp_Period_Eligible_label">
                        <strong>Is this employee eligible for a Ramp up Period Guarantee Amount?</strong>
                    </label>
                    <$client.env.inputIntroductory_RampUp_Period_Eligible>
                </div>

                <div class="input_wrapper mb-13">
                    <label id="Eligible_Sales_Incentive_label">
                        <strong>Is this employee eligible for a Sales Incentive Plan (SIP)?</strong>
                    </label>
                    <$client.env.inputEligible_Sales_Incentive>
                </div>
                <div class="mb-30"></div>

                <section id="probation-section" data-location-exclude="THA,KOR">
                    <div class="heading" data-section-group="probation">
                        <span class="heading-inner">
                            PROBATION
                        </span>
                    </div>
                    <div class="input_wrapper mb-13" data-fieldgroup- data-fieldgroup- data-section-group="probation">
                        <label id="ProbationPeriodRequired_label">
                            <strong>Is a probation period required for this employee?</strong>
                        </label>
                        <$client.env.inputProbationPeriodRequired>
                    </div>
                    <div id="probation-timeframe" class="merge hide" data-section-group="probation">
                        <div class="input_wrapper" data-fieldgroup-title="Probation Period" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#ProbationPeriodTime_label">
                            <span class="floating-label">Probation Period</span>
                            <$client.env.inputProbationPeriodTime>
                        </div>
                        <div class="input_wrapper">
                            <label class="v-middle">
                                Month(s)
                            </label>
                        </div>
                    </div>
                    <div class="mb-30"></div>
                </section>

                <div class="heading" data-section-group="relocation">
                    <span class="heading-inner">
                        RELOCATION
                    </span>
                </div>
                <div class="input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptRelocation>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Relocation_label" data-section-group="relocation">
                    <label id="Relocation_label">
                        <strong>Is this employee relocating for this role?</strong>
                    </label>
                    <$client.env.inputRelocation>
                </div>
                <div class="relocation-section merge equal" data-section-group="relocation">
                    <div class="input_wrapper" data-fieldgroup-title="From City (or State)" data-fieldgroup-validation="required">
                        <span class="floating-label">From City (or State)</span>
                        <input type="text" name="from-city-state" id="from-city-state">
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="From State (or Country)" data-fieldgroup-validation="required">
                        <span class="floating-label">From State (or Country)</span>
                        <$client.env.inputRelocationFromStateOrCountry>
                        <input type="text" name="from-state-country" id="from-state-country">
                    </div>
                </div>
                <div class="relocation-section merge equal mb-18" data-section-group="relocation">
                    <div class="input_wrapper" data-fieldgroup-title="To City (or State)" data-fieldgroup-validation="required">
                        <span class="floating-label">To City (or State)</span>
                        <input type="text" name="to-city-state" id="to-city-state">
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="To State (or Country)" data-fieldgroup-validation="required">
                        <span class="floating-label">To State (or Country)</span>
                        <input type="text" name="to-state-country" id="to-state-country">
                    </div>
                </div>
                <div class="relocation-section input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptRelo_Bonus>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Relo_Bonus_label" data-section-group="relocation">
                    <label id="Relo_Bonus_label">
                        <strong>Will this be a relocation bonus only? (one-time miscellaneous lump sum)</strong>
                    </label>
                    <$client.env.inputRelo_Bonus>
                </div>
                <div class="relocation-bonus-section merge" data-section-group="relocation">
                    <div class="input_wrapper" data-fieldgroup-title="Currency Code" data-fieldgroup-validation="required,regex-optional"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                        <span class="floating-label">Currency Code</span>
                        <select name="ESTIMATED_RELO_COST_CRNCY_CD_pseudo" id="ESTIMATED_RELO_COST_CRNCY_CD_pseudo"></select>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="Relocation Bonus Amount" data-fieldgroup-validation="required,regex-optional" data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                        <span class="floating-label">Relocation Bonus Amount</span>
                        <$client.env.inputESTIMATED_RELO_COST>
                    </div>
                </div>
                <div class="relocation-bonus-section merge" data-section-group="relocation">
                    <div class="input_wrapper mb-0"></div>
                    <div class="input_wrapper mb-30" data-fieldgroup-title="Additional Cash Bonus" data-fieldgroup-validation="required,regex-optional" data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                        <span class="floating-label">Additional Cash Bonus</span>
                        <$client.env.inputCashBonus>
                    </div>
                </div>

                <div class="heading" data-location-group="CHN_disabled">
                    <span class="heading-inner">
                        CHINA: CITIZENSHIP
                    </span>
                </div>
                <div class="input_wrapper mb-13" data-location-group="CHN_disabled" data-fieldgroup-title="Citizenship_Status" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Citizenship_Status_label">
                    <label id="Citizenship_Status_label">
                        <strong>Is this employee a citizen of China?</strong>
                    </label>
                    <$client.env.inputCitizenship_Status>
                </div>
                <div class="input_wrapper" data-location-group="CHN_disabled" data-fieldgroup-title="<$client.env.promptNationality>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptNationality></span>
                    <$client.env.inputNationality>
                </div>
                <div class="input_wrapper" data-location-group="CHN_disabled" data-fieldgroup-title="Passport Number" data-fieldgroup-validation="required">
                    <span class="floating-label">Passport Number</span>
                    <$client.env.inputPassportNo>
                </div>
                <div class="input_wrapper" data-location-group="CHN_disabled" data-fieldgroup-title="<$client.env.promptChina_ID_Card_Number>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_ID_Card_Number></span>
                    <$client.env.inputChina_ID_Card_Number>
                </div>
                <div class="input_wrapper mb-18" data-location-group="CHN_disabled"></div>

                <div data-location-group="CHN_disabled">
                    <span class="heading-inner">
                        Please translate the following fields to Chinese:
                    </span>
                </div>
                <div class="input_wrapper" data-location-group="CHN_disabled" data-fieldgroup-title="<$client.env.promptChina_Entity_Name>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Entity_Name></span>
                    <$client.env.inputChina_Entity_Name>
                </div>
                <div class="input_wrapper" data-location-group="CHN_disabled" data-fieldgroup-title="<$client.env.promptChina_Entity_Address>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Entity_Address></span>
                    <$client.env.inputChina_Entity_Address>
                </div>
                <div class="input_wrapper" data-location-group="CHN_disabled" data-fieldgroup-title="<$client.env.promptChina_Event_Location>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Event_Location></span>
                    <$client.env.inputChina_Event_Location>
                </div>
                <div class="input_wrapper" data-location-group="CHN_disabled" data-fieldgroup-title="<$client.env.promptChina_Nationality>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Nationality></span>
                    <$client.env.inputChina_Nationality>
                </div>
                <div class="input_wrapper" data-location-group="CHN_disabled" data-fieldgroup-title="<$client.env.promptChina_Business_Card_Title>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Business_Card_Title></span>
                    <$client.env.inputChina_Business_Card_Title>
                </div>
                <div class="input_wrapper" data-location-group="CHN_disabled" data-fieldgroup-title="<$client.env.promptChina_Job_Type>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Job_Type></span>
                    <$client.env.inputChina_Job_Type>
                </div>
                <div class="input_wrapper" data-location-group="CHN_disabled" data-fieldgroup-title="Current Date (d mmmm yyyy)" data-fieldgroup-validation="required">
                    <span class="floating-label">Current Date (d mmmm yyyy)</span>
                    <$client.env.inputChina_Current_Date>
                </div>
                <div class="input_wrapper" data-location-group="CHN_disabled" data-fieldgroup-title="Start Date (d mmmm yyyy)" data-fieldgroup-validation="required">
                    <span class="floating-label">Start Date (d mmmm yyyy)</span>
                    <$client.env.inputChina_Start_Date>
                </div>
                <div class="input_wrapper" data-location-group="CHN_disabled" data-fieldgroup-title="Start Date + 3 Years (d mmmm yyyy)" data-fieldgroup-validation="required">
                    <span class="floating-label">Start Date + 3 Years (d mmmm yyyy)</span>
                    <$client.env.inputChina_Start_Date_Plus>
                </div>
                <div class="input_wrapper mb-18" data-location-group="CHN_disabled" data-fieldgroup-title="Probation End Date (d mmmm yyyy)" data-fieldgroup-validation="required">
                    <span class="floating-label">Probation End Date (d mmmm yyyy)</span>
                    <$client.env.inputChina_Probation_End_Date>
                </div>

                <div class="heading" data-location-group="CHN">
                    <span class="heading-inner">
                        CHINA: BONUS
                    </span>
                </div>
                <div class="input_wrapper mb-13" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptLanguage_Allowance>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Language_Allowance_label">
                    <label id="Language_Allowance_label">
                        <strong>Does this employee qualify for a language allowance?</strong>
                    </label>
                    <$client.env.inputLanguage_Allowance>
                </div>
                <div class="input_wrapper mb-13" data-location-group="CHN" data-fieldgroup-title="PayPal_Ops_Incentive_Plan" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#PayPal_Ops_Incentive_Plan_label">
                    <label id="PayPal_Ops_Incentive_Plan_label">
                        <strong>Does this employee qualify for a PayPal Ops Incentive Plan (TIP)?</strong>
                    </label>
                    <div class="horizontal_radio_group">
                        <div class="horizontal_radio_item">
                            <input type="radio" name="PayPal_Ops_Incentive_Plan" value="Yes" id="PayPal_Ops_Incentive_Plan.0">
                            <label for="PayPal_Ops_Incentive_Plan.0">
                                Yes
                            </label>
                        </div>
                        <div class="horizontal_radio_item">
                            <input type="radio" name="PayPal_Ops_Incentive_Plan" value="No" id="PayPal_Ops_Incentive_Plan.1">
                            <label for="PayPal_Ops_Incentive_Plan.1" class="horizontal_radio_item">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div id="yearly-target-percentage" class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="Yearly Target Percentage" data-fieldgroup-validation="required,regex-optional" data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                    <span class="floating-label">Yearly Target Percentage</span>
                    <$client.env.inputCSIncentivePlan>
                </div>
                <!--
                <div id="china-bonuses-section" class="mb-30" data-location-group="CHN">
                    <div class="merge">
                        <div class="input_wrapper bonus-section"></div>
                        <div class="input_wrapper bonus-section" data-location-group="CHN" data-fieldgroup-title="Installment Amount 2 (Optional)" data-fieldgroup-validation="regex-optional" data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                            <span class="floating-label">Installment Amount 2 (Optional)</span>
                            <$client.env.inputInstallment_Amount_1>
                        </div>
                    </div>
                </div>
                -->
                <div class="heading" data-location-group="KOR">
                    <span class="heading-inner">
                        SOUTH KOREA-SPECIFIC SECTION
                    </span>
                </div>

                <div class="heading" data-location-group="THA">
                    <span class="heading-inner">
                        THAILAND-SPECIFIC SECTION
                    </span>
                </div>

                <div class="input_wrapper" data-location-group="THA" data-fieldgroup-title="Salary in Words (English)" data-fieldgroup-validation="required">
                    <span class="floating-label">Salary in Words (English)</span>
                    <$client.env.inputSalary_Words_English>
                </div>

                <div class="input_wrapper mb-13" data-location-group="THA" data-fieldgroup-title="Should this employee have a non-compete clause?" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Non_Compete_Clause_Required_label">
                    <label id="Non_Compete_Clause_Required_label">
                        <strong>Should this employee have a non-compete clause?</strong>
                    </label>
                    <$client.env.inputNon_Compete_Clause_Required>
                </div>


                <div class="heading" data-location-group="PHL">
                    <span class="heading-inner">
                        PHILIPPINES-SPECIFIC SECTION
                    </span>
                </div>
                <div class="input_wrapper" data-location-group="PHL" data-fieldgroup-title="Nationality (Country of Birth)" data-fieldgroup-validation="required">
                    <span class="floating-label">Nationality (Country of Birth)</span>
                    <select name="Nationality_pseudo" id="Nationality_pseudo"></select>
                </div>
                <div class="input_wrapper" data-location-group="PHL" data-fieldgroup-title="Hiring Manager's Name" data-fieldgroup-validation="required">
                    <span class="floating-label">Hiring Manager's Name</span>
                    <$client.env.inputHiring_Manager>
                </div>
                <div class="input_wrapper" data-location-group="PHL" data-fieldgroup-title="Hiring Manager's Business Title" data-fieldgroup-validation="required">
                    <span class="floating-label">Hiring Manager's Business Title</span>
                    <$client.env.inputMngrBsnssTitle>
                </div>
                <div class="input_wrapper" data-location-group="PHL" data-fieldgroup-title="Working Hours (9AM - 5PM PST)" data-fieldgroup-validation="required">
                    <span class="floating-label">Working Hours (9AM - 5PM PST)</span>
                    <$client.env.inputPH_Working_Hours>
                </div>
                <div class="input_wrapper" data-location-group-2="PHL-KOR" data-fieldgroup-title="Job Description (bullet points)" data-fieldgroup-validation="required">
                    <span class="floating-label">Job Description (bullet points)</span>
                    <$client.env.inputJob_Description>
                </div>

                <div class="heading" data-location-group="SGP">
                    <span class="heading-inner">
                        SINGAPORE: RELOCATION
                    </span>
                </div>
                <div class="input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptRelocation>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#SGPRelocation_label" data-location-group="SGP">
                    <label id="SGPRelocation_label">
                        <strong>Is this employee relocating for this role?</strong>
                    </label>
                    <div id="sgp-relocation"></div>
                </div>
                <div class="sgp-relocation-section merge equal mb-13" data-location-group="SGP">
                    <div class="input_wrapper" data-fieldgroup-title="From" data-fieldgroup-validation="required">
                        <span class="floating-label">From</span>
                        <div id="sgp-relocation-from"></div>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="To" data-fieldgroup-validation="required">
                        <span class="floating-label">To</span>
                        <div id="sgp-relocation-to"></div>
                    </div>
                </div>
                <div class="sgp-relocation-section input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptRelo_Bonus>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Relo_Bonus_label" data-location-group="SGP">
                    <label id="Relo_Bonus_label">
                        <strong>Does this employee qualify for a monthly housing allowance?</strong>
                    </label>
                    <div id="sgp-relocation-bonus"></div>
                </div>
                <div class="sgp-relocation-bonus-section merge mb-13" data-location-group="SGP">
                    <div class="input_wrapper" data-fieldgroup-title="Currency Code" data-fieldgroup-validation="required,regex-optional"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                        <span class="floating-label">Currency Code</span>
                        <div id="sgp-currency-code"></div>
                    </div>
                    <div class="input_wrapper" id="sgp-relocation-cost" data-fieldgroup-title="Monthly Amount" data-fieldgroup-validation="required,regex-optional" data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods."></div>
                </div>
                <div class="sgp-relocation-section input_wrapper" data-fieldgroup-title="Is this Employee receiving a lump sum cash allowance?" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Relo_Lump_Sum_Eligible_label">
                    <label id="Relo_Lump_Sum_Eligible_label">
                        <strong>Is this Employee receiving a lump sum cash allowance?</strong>
                    </label>
                    <$client.env.inputRelo_Lump_Sum_Eligible>
                </div>
                <div class="input_wrapper mb-13 sgp-relocation-section" data-location-group="SGP" data-fieldgroup-title="Cash Allowance Amount" data-fieldgroup-validation="required,regex-optional"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="valid currency consisting of numbers, commas and/or periods.">
                    <span class="floating-label">Cash Allowance Amount</span>
                    <$client.env.inputCashAllowance>
                </div>

                <div class="heading" data-location-group="SGP">
                    <span class="heading-inner">
                        SINGAPORE: BONUS
                    </span>
                </div>
                <div class="input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptRelocation>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#good_payment_eligible_label" data-location-group="SGP">
                    <label id="good_payment_eligible_label">
                        <strong>Is this employee eligible for a Make Good Payment?</strong>
                    </label>
                    <div class="horizontal_radio_group">
                        <div class="horizontal_radio_item">
                            <input id="good_payment_eligible.0" name="good_payment_eligible" type="radio" value="Yes">
                            <label for="good_payment_eligible.0">
                                Yes
                            </label>
                        </div>
                        <div class="horizontal_radio_item">
                            <input id="good_payment_eligible.1" name="good_payment_eligible" type="radio" value="No">
                            <label for="good_payment_eligible.1">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="input_wrapper mb-13 sgp-good-payment" data-location-group="SGP" data-fieldgroup-title="Make Good Payment Amount" data-fieldgroup-validation="required">
                    <span class="floating-label">Make Good Payment Amount</span>
                    <$client.env.inputpaymentAmount1>
                </div>

                <div class="button_group">
                    <div id="save"></div>
                    <div id="saveandcomplete"></div>
                    <div id="cancel"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div hidden>
    <$client.env.inputSALARY_CURRENCY>
    <$client.env.inputHIRE_ON_BONUS_CRNCY_CD>
    <$client.env.inputPayAreaCity>
    <$client.env.inputRelocationFrom>
    <$client.env.inputCountry>
    <$client.env.inputESTIMATED_RELO_COST_CRNCY_CD>
    <$client.env.inputComp_Currency>
    <$client.env.inputSalesTargetCurrency>
    <input type="text" id="Site_Name" name="Site_Name" value="<$client.env.index.site_name>" />
    <input type="text" id="Evt_Location_Code" name="Evt_Location_Code" value="<$client.tEventCategories_Category_11.Code>" />
    <input type="text" id="Evt_Location" name="Evt_Location" value="<$client.tEventCategories_Category_11.Value>" />
    <input type="text" id="Evt_Category" name="Evt_Category" value="<$client.tEventCategories_40.Value>" />
    <input type="text" id="employee-group-x" name="employee-group" value="<$client.tEventCategories_Category_13.Code>" />
    
</div>

<link href="<$link;/main/RedCarpet/FormTemplates/FormSupport/css/front_validator.css>" rel="stylesheet" type="text/css">
<script src="<$link;/main/SiteGen/DynamicContent/Snippets/Paypal_EditProfile/js>/country.js"></script>
<script src="<$link;/main/SiteGen/DynamicContent/Snippets/Paypal_EditProfile/js>/custom-paypal.js"></script>
<script src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/moment-with-locales.min.js>"></script>
<script src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/front_validator_V2.js>"></script>
<script src="<$link;/APAC_Onboarding/UnplacedPages/EditProfileProvider_APAC/js/script.js>" defer></script>
<script>
const SIP = '<$client.tEventCategories_Category_51.Code>';
const EVENT_LOCATION = '<$client.env.eval(client.tEventCategories_Category_11.Code.subString(0,2))>';
const EnityName = '<$client.tForWhomUserInfo.EnityName>';
const EntityAddress = '<$client.tForWhomUserInfo.EntityAddress>';
const Business_Title = '<$client.tForWhomUserInfo.Business_Title>';
const JobType = '<$client.tForWhomUserInfo.JobType>';
const EVENT_START = '<$client.tEventDates_Date_2.Value>';
const EMPLOYEE_GROUP = '<$client.tEventCategories_Category_13.Code>';
const CONFIG_PATH = '<$link;/APAC_Onboarding/UnplacedPages/EditProfileProvider_APAC/js/config.json>';
</script>
