<table border="0">
		<tr>
<td colspan="4" style="background-color:gray; color:white; font-weight:bold;">Employee Information</td>
</tr>				
<tr>
			<td id='Employee_HRISID_prompt'>Employee Number</td>
			<td colspan="3"><input type="text" name="Employee_HRISID" value="<$client.tForWhomUserInfo.Employee_HRISID>" /></td>
		</tr>
		  <tr>
			<td id='SSNO_prompt'><$client.env.promptSSNO></td>
			<td colspan="3"><$client.env.inputSSNO></td>
		  </tr>  
		<tr>
			<td id='First_Name_prompt'>First Name </td>
			<td colspan="3"><input type="text" name="First_Name" value="<$client.tForWhomUserInfo.First_Name>" /></td>
		</tr>
		<tr>
			<td id='Middle_Name_prompt'>Middle Name</td>
			<td colspan="3"><input type="text" name="Middle_Name" value="<$client.tForWhomUserInfo.Middle_Name>" /></td>
		</tr>
		<tr>
			<td id='Last_Name_prompt'>Last Name</td>
			<td colspan="3"><input type="text" name="Last_Name" value="<$client.tForWhomUserInfo.Last_Name>" /></td>
		  </tr>
		<tr>
			<td id='Suffix_prompt'><$client.env.promptSuffix></td>
			<td colspan="3"><$client.env.inputSuffix></td>
		</tr>
		<tr>
			<td id='Preferred_Name_prompt'><$client.env.promptPreferred_Name></td>
			<td colspan="3"><$client.env.inputPreferred_Name></td>
		</tr>
		<tr>
			<td id='Preferred_Last_Name_prompt'><$client.env.promptPreferred_Last_Name></td>
			<td colspan="3"><$client.env.inputPreferred_Last_Name></td>
		</tr>
		<tr>
			<td id='Address1_prompt'><$client.env.promptAddress1></td>
			<td colspan="3"><$client.env.inputAddress1></td>
		  </tr>
		  <tr>
			<td id='Address2_prompt'><$client.env.promptAddress2></td>
			<td colspan="3"><$client.env.inputAddress2></td>
		  </tr>
		  <tr>
			<td id='City_prompt'><$client.env.promptCity></td>
		<td colspan="3"><$client.env.inputCity></td>
		</tr>
		<tr>
			<td id='State_prompt'><$client.env.promptState></td>
		<td><$client.env.inputState></td>
   		<tr>
			<td id='Zip_prompt'><$client.env.promptZip></td>
		<td><$client.env.inputZip></td>
		  </tr>
		   <tr>
			<td id='Personal_Email_prompt'><$client.env.promptPersonal_Email></td>
			<td colspan="3"><$client.env.inputPersonal_Email></td>
		  </tr>  
		  <tr>
			<td id='Phone_prompt'><$client.env.promptPhone></td>
			<td colspan="3"><$client.env.inputPhone></td>
		</tr>
		<tr>
			<td id='Secondary_Phone_prompt'><$client.env.promptSecondary_Phone></td>
			<td colspan="3"><$client.env.inputSecondary_Phone></td>
		</tr>
		<tr>
			<td id='WorkPhone1_prompt'><$client.env.promptWorkPhone1></td>
			<td colspan="3"><$client.env.inputWorkPhone1></td>
		</tr>
<tr>
			<td id='WorkPhone2_prompt'><$client.env.promptWorkPhone2></td>
			<td colspan="3"><$client.env.inputWorkPhone2></td>
		</tr>
<tr>
<td colspan="4" style="background-color:gray; color:white; font-weight:bold;">Organization & Job</td>
</tr>
		<tr>
			<td id='Country_prompt'><$client.env.promptCountry></td>
			<td colspan="3"><$client.env.inputCountry></td>
		  </tr>
		  <tr>
			<td id='Company_prompt'><$client.env.promptCompany></td>
			<td colspan="3"><$client.env.inputCompany></td>
		  </tr>
		<tr>
			<td id='Location_prompt'><$client.env.promptLocation></td>
			<td colspan="3"><$client.env.inputLocation></td>
		  </tr>
		   	  <tr>
			<td id='Job_Family_prompt'><$client.env.promptJob_Family></td>
			<td colspan="3"><$client.env.inputJob_Family></td>
		  </tr>
<tr>
<td id='Job_Code_prompt'><$client.env.promptJob_Code><font size = 2> (please start typing the name of the selection you need and the the list will change to show suggestions getting you closer to what you want.)</font></td>
			<td colspan="3"><$client.env.inputJob_Code></td>
		  </tr>
		  <tr>
			<td id='Job_Title_prompt'><$client.env.promptJob_Title></td>
		<td colspan="3"><$client.env.inputJob_Title></td>
		</tr>
		<tr>
			<td id='Formal_Job_Title_prompt'><$client.env.promptFormal_Job_Title></td>
		<td colspan="3"><$client.env.inputFormal_Job_Title></td>
		</tr>
<tr>
			<td id='Hiring_Manager_prompt'><$client.env.promptHiring_Manager></td>
		<td colspan="3"><$client.env.inputHiring_Manager></td>
		</tr>
<tr>
			<td id='Employee_Type_prompt'><$client.env.promptEmployee_Type></td>
		<td colspan="3"><$client.env.inputEmployee_Type></td>
		</tr>
<tr>
			<td id='Function_prompt'><$client.env.promptFunction></td>
		<td colspan="3"><$client.env.inputFunction></td>
		</tr>
<tr>
			<td id='Area_prompt'><$client.env.promptArea></td>
		<td colspan="3"><$client.env.inputArea></td>
		</tr>
<tr>
			<td id='Group_prompt'><$client.env.promptGroup></td>
		<td colspan="3"><$client.env.inputGroup></td>
		</tr>
<tr>
			<td id='Hiring_Source_prompt'><$client.env.promptHiring_Source></td>
		<td colspan="3"><$client.env.inputHiring_Source></td>
		</tr>
<tr>
<td colspan="4" style="background-color:gray; color:white; font-weight:bold;">Key Dates & Experience</td>
</tr>
		  <tr>
			<td id='Start_Date_prompt'><$client.env.promptStart_Date></td>
			<td colspan="3"><$client.env.inputStart_Date></td>
		  </tr>
		  <tr>
			<td id='Seniority_Date_prompt'><$client.env.promptSeniority_Date></td>
			<td colspan="3"><$client.env.inputSeniority_Date></td>
		  </tr>
		  <tr>
		<td id='Benefits_Seniority_Date_prompt'><$client.env.promptBenefits_Seniority_Date></td>
			<td colspan="3"><$client.env.inputBenefits_Seniority_Date></td>
		  </tr>
<tr>
		<td id='Adjusted_Service_Date_prompt'><$client.env.promptAdjusted_Service_Date></td>
			<td colspan="3"><$client.env.inputAdjusted_Service_Date></td>
		  </tr>
<tr>
		<td id='Performance_Review_Date_prompt'><$client.env.promptPerformance_Review_Date></td>
			<td colspan="3"><$client.env.inputPerformance_Review_Date></td>
		  </tr>
<tr>
			<td id='Salary_Review_Date_prompt'><$client.env.promptSalary_Review_Date></td>
			<td colspan="3"><$client.env.inputSalary_Review_Date></td>
		  </tr>
<tr>
			<td id='Billable_Hour_prompt'><$client.env.promptBillable_Hour></td>
			<td colspan="3"><$client.env.inputBillable_Hour></td>
		  </tr>
<tr>
			<td id='Billable_Hour_Date_prompt'><$client.env.promptBillable_Hour_Date></td>
			<td colspan="3"><$client.env.inputBillable_Hour_Date></td>
		  </tr>
<tr>
			<td id='Hiring_Path_prompt'><$client.env.promptHiring_Path></td>
			<td colspan="3"><$client.env.inputHiring_Path></td>
		  </tr>
<tr>
			<td id='PQE_Year_prompt'><$client.env.promptPQE_Year></td>
			<td colspan="3"><$client.env.inputPQE_Year></td>
		  </tr>
<tr>
			<td id='Years_Experience_prompt'><$client.env.promptYears_Experience></td>
			<td colspan="3"><$client.env.inputYears_Experience></td>
		  </tr>
<tr>
		<td id='Exp_Years_Update_Date_prompt'><$client.env.promptExp_Years_Update_Date></td>
			<td colspan="3"><$client.env.inputExp_Years_Update_Date></td>
		  </tr>
<tr>
<td colspan="4" style="background-color:gray; color:white; font-weight:bold;">Salary Information</td>
</tr>
<tr>
			<td id='Pay_Group_prompt'><$client.env.promptPay_Group></td>
			<td colspan="3"><$client.env.inputPay_Group></td>
		  </tr>
<tr>
			<td id='Earnings_Group_prompt'><$client.env.promptEarnings_Group></td>
			<td colspan="3"><$client.env.inputEarnings_Group></td>
		  </tr>
<tr>
			<td id='Deduction_prompt'><$client.env.promptDeduction></td>
			<td colspan="3"><$client.env.inputDeduction></td>
		  </tr>
<tr>
			<td id='FT_PT_prompt'><$client.env.promptFT_PT></td>
			<td colspan="3"><$client.env.inputFT_PT></td>
		  </tr>
<tr>
			<td id='Hourly_Salary_prompt'><$client.env.promptHourly_Salary></td>
			<td colspan="3"><$client.env.inputHourly_Salary></td>
		  </tr>
<tr>
			<td id='Scheduled_Hours_prompt'><$client.env.promptScheduled_Hours></td>
			<td colspan="3"><$client.env.inputScheduled_Hours></td>
		  </tr>
<tr>
			<td id='Pay_Rate_Per_prompt'><$client.env.promptPay_Rate_Per></td>
			<td colspan="3"><$client.env.inputPay_Rate_Per></td>
		  </tr>
<tr>
			<td id='Hourly_Base_Rate_prompt'><$client.env.promptHourly_Base_Rate></td>
			<td colspan="3"><$client.env.inputHourly_Base_Rate></td>
		  </tr>
<tr>
			<td id='Salary_Type_prompt'><$client.env.promptSalary_Type></td>
			<td colspan="3"><$client.env.inputSalary_Type></td>
		  </tr>
<tr>
			<td id='Salary_Amount_prompt'><$client.env.promptSalary_Amount></td>
			<td colspan="3"><$client.env.inputSalary_Amount></td>
		  </tr>
<tr>
			<td id='Pay_Automatically_prompt'><$client.env.promptPay_Automatically></td>
			<td colspan="3"><$client.env.inputPay_Automatically></td>
		  </tr>
</table>

<!-- Format Dates on load -->
<script src="<$link;/Onboarding/UnplacedPages/ProviderPages/js/moment-with-locales.min.js>"></script>
<script src="<$link;/Onboarding/UnplacedPages/ProviderPages/js/USHR_EditProfile.js>" defer></script>
<script type="text/javascript">
if(self.LoadCallback) {
	LoadCallback(document.forms['frmExtendedUserProfile']);
}
const EVENT_START_DATE = '<$client.tEventDates_Date_2.Value>';
</script>
