<table id="apple_jp_ep_header" border="0">
  <tr>
    <td>Tên của bạn phải khớp với tên trên giấy tờ tùy thân do chính phủ cấp.<br>Your name must match the name shown on your government-issued ID.</td>
  </tr>
</table>
<table id="apple_jp_ep" border="0">
  <tr>
    <td>Ngày tháng năm sinh<br><span id="DOB_prompt">Date of Birth</span>: </td>
    <td colspan="3"><$client.env.inputDOB></td>
  </tr>
  <tr>
    <td>Giới tính:<br><span id="WD_Gender_VNM_prompt">Gender</span>:</td>
    <td colspan="3"><$client.env.inputWD_Gender_VNM></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="Marital_Status_VNM_prompt">Marital Status</span>:</td>
    <td colspan="3"><$client.env.inputMarital_Status_VNM></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="Citizenship_Status_prompt">Citizenship Status</span>:</td>
    <td colspan="3"><$client.env.inputCitizenship_status></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="Nationality_Primary_prompt">Nationality</span>:</td>
    <td colspan="3"><$client.env.inputNationality_Primary></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="National_ID_Country_prompt">National ID Country</span>:</td>
    <td colspan="3"><$client.env.inputNational_ID_Country></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="National_ID_Type_VNM_prompt">National ID Type</span>:</td>
    <td colspan="3"><$client.env.inputNational_ID_Type_VNM></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="National_ID_Number_prompt">National ID Number</span>:</td>
    <td colspan="3"><$client.env.inputNational_ID_Number></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="Passport_Country_prompt">Passport Country</span>:</td>
    <td colspan="3"><$client.env.inputPassport_Country></td>
  </tr>
  <tr>
    <td>Số hộ chiếu:<br><span id="Passport_ID_Number_prompt">Passport Number</span>:</td>
    <td colspan="3"><$client.env.inputPassport_ID_Number></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="Passport_Issued_Date_prompt">Passport Issued Date</span>:</td>
    <td colspan="3"><$client.env.inputPassport_Issued_Date></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="Passport_Expiration_Date_prompt">Passport Expiration Date</span>:</td>
    <td colspan="3"><$client.env.inputPassport_Expiration_Date></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="Visa_Country_prompt">Visa Country</span>:</td>
    <td colspan="3"><$client.env.inputVisa_Country></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="Visa_ID_Type_VNM_prompt">Visa ID Type</span>:</td>
    <td colspan="3"><$client.env.inputVisa_ID_Type_VNM></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="Visa_ID_Number_prompt">Visa ID Number</span>:</td>
    <td colspan="3"><$client.env.inputVisa_ID_Number></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="Visa_Issued_Date_prompt">Visa Issued Date</span>:</td>
    <td colspan="3"><$client.env.inputVisa_Issued_Date></td>
  </tr>
  <tr>
    <td>&lt;Placeholder for translation&gt;:<br><span id="Visa_Expiration_Date_prompt">Visa Expiration Date</span>:</td>
    <td colspan="3"><$client.env.inputVisa_Expiration_Date></td>
  </tr>

</table>

<script type="text/javascript">
  if(self.LoadCallback) {
     LoadCallback(document.forms['frmExtendedUserProfile']);
  }
</script>
