<div id="task_summary_outer">
    <div id="EditProfile_container">
        <div id="EditProfile_wrapper">
            <div id="EditProfile">
              <h2>Offer Letter Review</h2>   
                  
              <div class="input_wrapper" data-fieldgroup-title="Legal first name" data-fieldgroup-validation="required">
                <span class="floating-label">Legal first name</span>
                <input type="text" id="First_Name" name="First_Name" value="<$client.tForWhomUserInfo.First_Name>">
              </div>

              <div class="input_wrapper" data-fieldgroup-title="Legal last name" data-fieldgroup-validation="required">
                <span class="floating-label">Legal last name</span>
                <input type="text" id="Last_Name" name="Last_Name" value="<$client.tForWhomUserInfo.Last_Name>">
              </div>

              <div class="input_wrapper" data-fieldgroup-title="Address line 1" data-fieldgroup-validation="required">
                <span class="floating-label">Address line 1</span>
                 <$client.env.inputAddress1>
              </div>   

              <div class="input_wrapper" data-fieldgroup-title="Address line 2">
                <span class="floating-label">Address line 2</span>
                <$client.env.inputAddress2>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Country" data-fieldgroup-validation="required">
                <span class="floating-label">Country</span>
                 <$client.env.inputCountry>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="City" data-fieldgroup-validation="required">
                <span class="floating-label">City</span>
                 <$client.env.inputCity>
              </div>  

              <div class="input_wrapper" data-fieldgroup-title="State/County" data-fieldgroup-validation="required">
                <span class="floating-label">State/County</span>
                 <$client.env.inputState>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Postal Code" data-fieldgroup-validation="required,regex-optional" data-fieldgroup-regex="^[0-9]{5}$" data-fieldgroup-message="5 digits only.">
                <span class="floating-label">Postal Code</span>
                 <$client.env.inputZip>
              </div>  

              <div class="input_wrapper" data-fieldgroup-title="Position" data-fieldgroup-validation="required">
                <span class="floating-label">Position</span>
                <!--input type="text" id="Position" name="Position" value="<$client.tForWhomUserInfo.Position>"-->
                <$client.env.inputPosition>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Position Title" data-fieldgroup-validation="required">
                <span class="floating-label">Position Title</span>
                 <$client.env.inputPosition_Title>
              </div>

              <div class="input_wrapper" data-fieldgroup-title="Position Designation" data-fieldgroup-validation="required">
                <span class="floating-label">Position Designation</span>
                 <$client.env.inputPosition_designation>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Position Type" data-fieldgroup-validation="required">
                <span class="floating-label">Position Type</span>
                 <$client.env.inputPosition_Type_D>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Salary" data-fieldgroup-validation="required">
                <span class="floating-label">Salary</span>
                <!--input type="text" id="Salary" name="Salary" value="<$client.tForWhomUserInfo.Salary_Amount>"-->
                <$client.env.inputSalary_Amount>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Salary Type" data-fieldgroup-validation="required">
                <span class="floating-label">Salary Type</span>
                 <$client.env.inputSalary_Type>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Return Date" data-fieldgroup-validation="required">
                <span class="floating-label">Return Date</span>
                 <$client.env.inputReturn_Date>
              </div> 

               <div class="input_wrapper" data-fieldgroup-title="Career Consultant Name" data-fieldgroup-validation="required">
                <span class="floating-label">Career Consultant Name</span>
                 <$client.env.inputCareer_Consultant_Name>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Career Consultant Email" data-fieldgroup-validation="required">
                <span class="floating-label">Career Consultant Email</span>
                 <$client.env.inputCareer_Consultant_Email>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Career Consultant Phone" data-fieldgroup-validation="required,regex-optional" data-fieldgroup-regex="^[0-9]{10}$" data-fieldgroup-message="only 10 digits.">
                <span class="floating-label">Career Consultant Phone</span>
                 <$client.env.inputCareer_Consultant_Phone>
              </div>

              <div class="input_wrapper" data-fieldgroup-title="Production Percent - Primary" data-fieldgroup-validation="required">
                <span class="floating-label">Production Percent - Primary</span>
                 <$client.env.inputProduction_percent_primary>
              </div>

              <div class="input_wrapper" data-fieldgroup-title="Production Percent - Secondary" data-fieldgroup-validation="required">
                <span class="floating-label">Production Percent - Secondary</span>
                 <$client.env.inputProduction_percent_secondary>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Bonus Type">
                <span class="floating-label">Bonus Type</span>
                 <$client.env.inputBonus_Type>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Relocation Bonus Amount">
                <span class="floating-label">Relocation Bonus Amount</span>
                 <$client.env.inputRelocation_bonus_amount>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Signing Bonus Amount">
                <span class="floating-label">Signing Bonus Amount</span>
                 <$client.env.inputSign_bonus_amount>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Retention Bonus Amount">
                <span class="floating-label">Retention Bonus Amount</span>
                 <$client.env.inputRetention_bonus_amount>
              </div>

              <div class="input_wrapper" data-fieldgroup-title="Wage Adjustment Amount">
                <span class="floating-label">Wage Adjustment Amount</span>
                 <$client.env.inputWage_adj_amount>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Notice Time Frame" data-fieldgroup-validation="required">
                <span class="floating-label">Notice Time Frame</span>
                 <$client.env.inputNotice_time_frame>
              </div>

              <div class="input_wrapper" data-fieldgroup-title="Schedule" data-fieldgroup-validation="required">
                <span class="floating-label">Schedule</span>
                 <$client.env.inputSchedule>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Time Period" data-fieldgroup-validation="required">
                <span class="floating-label">Time Period</span>
                 <$client.env.inputTime_period>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="PTO" data-fieldgroup-validation="required">
                <span class="floating-label">PTO</span>
                 <$client.env.inputPTO>
              </div>

              <div class="input_wrapper" data-fieldgroup-title="Organization Name" data-fieldgroup-validation="required">
                <span class="floating-label">Organization Name</span>
                 <$client.env.inputOrganization_name>
              </div> 




              <div class="input_wrapper" data-fieldgroup-title="Work Location Designation" data-fieldgroup-validation="required">
                <span class="floating-label">Work Location Designation</span>
                 <$client.env.inputWork_location_designation>
              </div> 

              <div class="input_wrapper" data-fieldgroup-title="Country Issued Default" data-fieldgroup-validation="required">
                <span class="floating-label">Country Issued Default</span>
                 <$client.env.inputCountry_Issued_Default>
              </div> 

              <div class='row'>
                &nbsp;
              </div>

           
              <div style='display:none'>

              </div>            

              <div class="button_group">
                <div id="save" class="input_wrapper clearfix mb-15"></div>
                <div id="saveandcomplete" class="input_wrapper clearfix"></div>
                <div id="cancel" class="input_wrapper clearfix"></div>
              </div>
                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/moment-with-locales.min.js>"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/jquery.mask.min.js>"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/front_validator.js>" defer></script>
<script type="text/javascript">
    const providerContext = document.getElementById('EditProfile');
    const focusInputLabel = function(el, isFocused) {
        "use strict";
        let label = el.closest('.input_wrapper')
            .find('span.floating-label')
            .removeClass('label-focus')
            .css({"color": "#1C1C1C"});
        if (el.is('select') && el.val() === null) {
            return;
        }
        if (el.val().trim().length > 0 || isFocused) {
            label.addClass('label-focus');
        }
        if (isFocused === true) {
            label.css({"color": "#1C1C1C"});
        }
    }
    const fieldHasVal = function(el) {
        "use strict";
        let hasVal = false;
        $.each(el, function(k, v) {
            if ($(v).val().length) {
                hasVal = true;
            }
        });
        return hasVal;
    }
    const isCheckboxChecked = function(el) {
        "use strict";
        let hasChecked = false;
        $.each(el, function(k,v){
            if ($(v).is(':checked')) {
                hasChecked = true;
            }
        });
        return hasChecked;
    }

    // define callback validators
   /* const employeeIDValidator = function() {
        "use strict";
        const employeeField = $('#Employee_HRISID');
        let isValid = true;
        let message = '';
        if (employeeField.val().length > 0 && !/^00[0-9]*$/.test(employeeField.val())) {
            isValid = false;
            message = 'Employee ID must always start with 00';
        }
        return {
            "isValid": isValid,
            "message": message
        }
    }*/

    // email validator
    const EMAIL_REG = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
    const emailFormatValidator = function(field) {
      "use strict";
      let isValid = true;
      let message = '';
      if (!EMAIL_REG.test(field.val())) {
        isValid = false;
        message = 'Please enter a valid email address.';
      }
      return {
        "isValid": isValid,
        "message": message
      }
    }



    //vex.defaultOptions.className = 'vex-theme-top';

    $(window).on('load', function() {
        "use strict";
        $('.floating-label span').css('color', 'rgb(102, 102, 102)');
        $('.cal_and_button').prop({'cellpadding': 0, 'cellspacing': 0});
        let isProfileCompleted = sTaskComplete;
        // replace default submit button with paypal styled
        $('#TaskSummary_ButtonCancel').appendTo('#cancel').show();
        if (!isProfileCompleted) {
            $('#TaskSummary_ButtonSave').appendTo('#saveandcomplete').prop('onclick', null).show().text('Continue');
            $('#EUPDefaultSaveButton').prop('onclick', null).appendTo('#save').show();
        }
        $('textarea').addClass('lifesuite__textarea-input');

        // remove all empty radio
        // $('#EditProfile input[type="radio"][value=""]').closest('.horizontal_radio_item').remove();

        // load form when all set
        $('#EditProfile_wrapper').fadeIn();

        //<$include;/main/RedCarpet/FormTemplates/FormSupport/js/global_date_config.js>


        // Show Severance Eligible
        if ("<$client.tEventCategories_Category_33.Value>" != "GA - Calculation" && "<$client.tEventCategories_Category_33.Value>" != "GA - Lump Sum" && "<$client.tEventCategories_Category_33.Value>" != "Ind - Calculation"   && "<$client.tEventCategories_Category_33.Value>" != "Ind - Lump Sum") {
            $('[name$="Severance_Eligible"]').val('');
            $('[name$="Severance_Eligible"]').closest('.input_wrapper').hide();
        }

         // Show ADEA/OWBPA
        if ("<$client.tEventCategories_Category_33.Value>" != "GA - Calculation" && "<$client.tEventCategories_Category_33.Value>" != "GA - Lump Sum") {
            $('[name$="ADEA_Owbpa"]').val('');
            $('[name$="ADEA_Owbpa"]').closest('.input_wrapper').hide();
        }

           $('#Notification_Date, #Original_Hire_Date_pseudo, #Final_PayPeriod_pseudo, #Next_PayCycle_pseudo').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+100",
            onSelect: function(dateText, instance) {
              validateField($(this)); 
              focusInputLabel($(this));
            }
          });
        //set default value 
        $('#Notification_Date').datepicker('setDate', new Date('<$client.tEventDates_Date_11.Value>'));


        if ('<$client.tForWhomUserInfo.Original_Hire_Date>'.length) {
          $('#Original_Hire_Date_pseudo').datepicker('setDate', new Date('<$client.tForWhomUserInfo.Original_Hire_Date>'));
        }

        //set default value 
        $('#Separation_Date').val('<$client.env.eval(client.tEventDates_10.Value.subString(5,6))>/<$client.env.eval(client.tEventDates_10.Value.subString(8,9))>/<$client.env.eval(client.tEventDates_10.Value.subString(0,3))>');

        if('<$client.tForWhomUserInfo.Final_PayPeriod>'.length) {
            $('#Final_PayPeriod_pseudo').datepicker('setDate', new Date('<$client.tForWhomUserInfo.Final_PayPeriod>'));
        }

        $('#Final_PayPeriod_pseudo').datepicker("option", "onSelect", function(dateText, instance) {
          $('[name$=".Final_PayPeriod_display"]', providerContext).datepicker('setDate', $(this).datepicker('getDate'));
          validateField($(this)); 
          focusInputLabel($(this));
        });



        if ('<$client.tForWhomUserInfo.Next_PayCycle>'.length) {
            $('#Next_PayCycle_pseudo').datepicker('setDate', new Date('<$client.tForWhomUserInfo.Next_PayCycle>'));
        }

        $('#Next_PayCycle_pseudo').datepicker("option", "onSelect", function(dateText, instance) {
          $('[name$=".Next_PayCycle_display"]', providerContext).datepicker('setDate', $(this).datepicker('getDate'));
          validateField($(this)); 
          focusInputLabel($(this));
        });

       


        // Year_Service calculation
       $('#Original_Hire_Date_pseudo').datepicker("option", "onSelect", function(dateText, instance) {
        $('[name$=".Original_Hire_Date_display"]', providerContext).datepicker('setDate', $(this).datepicker('getDate'));
            validateField($(this)); 
            focusInputLabel($(this));
            var Original_Hire_Date_Year = $('#Original_Hire_Date_pseudo').val().toString().slice(6,10);
            var Today_Date_Year = "<$client.env.eval(date.now('%Y'))>";
            var Original_Hire_Date_Month = $('#Original_Hire_Date_pseudo').val().toString().slice(0,2);
            var Today_Date_Month = "<$client.env.eval(date.now('%m'))>";

            var getMonthsDifference = 12 - (parseInt(Original_Hire_Date_Month) - parseInt(Today_Date_Month));

            var getYearDifference = parseInt(Today_Date_Year) - parseInt(Original_Hire_Date_Year);

            if(getMonthsDifference == 12){
                getMonthsDifference = 0;
                getYearDifference + 1;
            }else if(getMonthsDifference > 12){
                getYearDifference + 1;
                getMonthsDifference = getMonthsDifference - 12;
            }else if(getMonthsDifference < 12){
                getYearDifference = getYearDifference - 1;
            }
        




            
            $('[name$=".Year_Service"]').val(getYearDifference + '.' + getMonthsDifference);
            console.log('running');
            focusInputLabel($('[name$=".Year_Service"]'));
        });

        $('#Original_Hire_Date_pseudo').on('change', function() {
            var Original_Hire_Date_Year = $('#Original_Hire_Date_pseudo').val().toString().slice(6,10);
          var Today_Date_Year = "<$client.env.eval(date.now('%Y'))>";
          var Original_Hire_Date_Month = $('#Original_Hire_Date_pseudo').val().toString().slice(0,2);
          var Today_Date_Month = "<$client.env.eval(date.now('%m'))>";

          var getMonthsDifference = 12 - (parseInt(Original_Hire_Date_Month) - parseInt(Today_Date_Month));

          var getYearDifference = parseInt(Today_Date_Year) - parseInt(Original_Hire_Date_Year);

          if(getMonthsDifference == 12){
            getMonthsDifference = 0;
            getYearDifference + 1;
          }else if(getMonthsDifference > 12){
            getYearDifference + 1;
            getMonthsDifference = getMonthsDifference - 12;
          }else if(getMonthsDifference < 12){
            getYearDifference = getYearDifference - 1;
          }
     
         
          $('[name$=".Year_Service"]').val(getYearDifference + '.' + getMonthsDifference);
          console.log('running');
          focusInputLabel($('[name$=".Year_Service"]'));
        });

        $('#Original_Hire_Date_pseudo').trigger('change');

 

        // save and complete laters
        $('#EUPDefaultSaveButton').on('click', function(e) {
            e.preventDefault();
            /*  1/12/2021 | SERVICES-42403 | ANATI | Undefined element causing an issue with Save button
            var original_Email = "<$client.tForWhomUserInfo.Email>";
            if ($('#Email').val().length < 1) {
                $('#Email').val(original_Email);
                focusInputLabel($('[name$=".Email"]'));
            }
            if (!EMAIL_REG.test($('#Email').val())) {
                $('#Email').val(original_Email);
                focusInputLabel($('[name$=".Email"]'));
            }*/
            DisableValidation();doSave_Custom('refer-Save');
        });

     
      
        // focus style text and select fields
        $('form').on('focus', 'input[type="text"], select, textarea', function() {
            focusInputLabel($(this), true);
        }).on('blur', 'input[type="text"], select, textarea', function() {
            focusInputLabel($(this));
        });
        // focus field labels
        $.each($('form input[type="text"], form select, textarea'),function(k,v) {
            focusInputLabel($(v));
        });

        // pass validation data to each fields
        $.each($('[data-fieldgroup-validation]'), function(k,v) {
            $(v).find('input, select, textarea').data('validation', $(v).data('fieldgroup-validation'));
        });
        // pass regex data to each fields
        $.each($('[data-fieldgroup-regex]'), function(k,v) {
            $(v).find('input, textarea').data('regex', $(v).data('fieldgroup-regex'));
        });
        // pass regex message to each fields
        $.each($('[data-fieldgroup-message]'), function(k,v) {
            $(v).find('input, textarea').data('message', $(v).data('fieldgroup-message'));
        });
        // pass validation data length to each fields
        $.each($('[data-fieldgroup-minlength]'), function(k,v) {
            $(v).find('input, textarea').data('minlength', $(v).data('fieldgroup-minlength'));
        });
        $.each($('[data-fieldgroup-maxlength]'), function(k,v) {
            $(v).find('input, textarea').data('maxlength', $(v).data('fieldgroup-maxlength'));
        });
        // pass target label to each radio or checkbox fields
        $.each($('[data-fieldgroup-targetlabel]'), function(k,v) {
            $(v).find('input[type="checkbox"], input[type="radio"]').data('label', $(v).data('fieldgroup-targetlabel'));
        });
        // pass title data to each fields
        $.each($('[data-fieldgroup-title]'), function(k,v) {
            $(v).find('input, select, textarea').data('title', $(v).data('fieldgroup-title'));
        });

        // validate each field by event and field type
        $('input:not(".datepicker_button"), select, textarea', providerContext).on('blur click', function() {
            if($(this).is(':visible') && !$(this).is(':disabled') && !validateField($(this))) {
                $(this).parent().find('.text-error').css({'display': 'inline-block', 'margin-bottom': '-2px'}); 
            }
            /*if ($(this).prop('id') == 'Employee_HRISID' && this.value.length > 0) {
            validateField($(this), false, employeeIDValidator);
            return;
          }*/

          if ($(this).prop('name').indexOf('Career_Consultant_Email') > 0 && this.value.length > 0) {
              let fi = $(this);
                validateField(fi, false, function() {
                  return emailFormatValidator(fi);
                });
                return;
            }
        });


        // submit the form if no errors
        $('#TaskSummary_ButtonSave', providerContext).on('click', function(e) {
            e.preventDefault();
            let formIsValid = true;
            errorMapping.clear();
            $.each($('input:not(".datepicker_button"), select, textarea', providerContext), function(k,v) {
                if($(v).is(':visible') && !$(v).is(':disabled') && !validateField($(v))) {
                    formIsValid = false;
                }

                const cField = $(v);
               if ($(v).prop('name').indexOf('Career_Consultant_Email') > 0 && !validateField($(v), false, function() {return emailFormatValidator(cField);})) {
                    formIsValid = false;
                }
            });
            if (formIsValid) {
                doSave_Custom('refer-Complete');
                return true;
            }
            $("html, body").animate({ scrollTop: 0 }, "slow");
            
        });
        if (isProfileCompleted) {
            $('[data-add-section], [data-remove-section]').removeClass('bg-jade bg-ignite').addClass('disabled').prop('disabled', 'disabled');
            $('input,select', providerContext).prop('disabled', 'disabled');
            $('textarea', providerContext).prop('readonly', true);
        }
    });
</script>
