<table border="0">
  <tr>
    <td>Your legal name must match the name shown on your government-issued ID.</td>
  </tr>
  <tr>
    <td>&nbsp</td>
  </tr>
</table>
<table border="0">
  <tr>
    <td id="First_Name_promptx">Given Name - Western Script</td>
    <td colspan="3"><input type="text" name="First_Name" value="<$client.tForWhomUserInfo.First_Name>" /></td>
  </tr>
  <!--tr>
    <td id="Middle_Name_promptx">Middle Name - Western Script</td>
    <td colspan="3"><input type="text" name="Middle_Name" value="<$client.tForWhomUserInfo.Middle_Name>" /></td>
  </tr -->
  <tr>
    <td id="Last_Name_promptx">Family Name - Western Script</td>
    <td colspan="3"><input type="text" name="Last_Name" value="<$client.tForWhomUserInfo.Last_Name>" /></td>
  </tr>
  <tr>
    <td id="Preferred_Name_promptx">Preferred Given name</td>
    <td colspan="3"><$client.env.inputPreferred_Name></td>
  </tr>
  <tr>
    <td id="Preferred_Last_Name_promptx">Preferred Family name</td>
    <td colspan="3"><$client.env.inputPreferred_Last_Name></td>
  </tr>
  <tr>
    <td id="Phone_Device_promptx">Phone Device Type</td>
    <td colspan="3"><$client.env.inputPhone_Device></td>
  </tr>
  <tr>
    <td id="Phone_Country_Code_promptx">Phone Country Code</td>
    <td colspan="3"><$client.env.inputPhone_Country_Code></td>
  </tr>
  <tr>
    <td id="Phone_promptx">Phone Number</td>
    <td colspan="3"><$client.env.inputPhone></td>
  </tr>
  <tr>
    <td  id="Email_promptx">Email Address</td>
    <td colspan="3"><input type="text" name="Email" value="<$client.tForWhomUserInfo.Email>"  size="40"/>   </td>
  </tr>
  <tr>
    <td id="Address1_promptx"><$client.env.promptAddress1></td>
    <td colspan="3"><$client.env.inputAddress1> </td>
  </tr>
  <tr>
    <td><$client.env.promptAddress2></td>
    <td colspan="3"><$client.env.inputAddress2> </td>
  </tr>
  <tr>
    <td id="City_promptx"><$client.env.promptCity></td>
    <td colspan="3"><$client.env.inputCity> </td>
  </tr>
  <!-- tr>
    <td>State/Province/Region</td>
    <td><$client.env.inputRegion></td>
  </tr -->
  <tr>
    <td id="Zip_promptx">Postal Code</td>
    <td><$client.env.inputZip></td>
  </tr>
  <tr>
    <td><$client.env.promptAddress_Country></td>
    <td colspan="3"><$client.env.inputAddress_Country></td>
  </tr>
</table>
<div id="label-container" hidden></div>

<script>
if(self.LoadCallback) {
  LoadCallback(document.forms['frmExtendedUserProfile']);
}
if (window.NodeList && !NodeList.prototype.forEach) {
  NodeList.prototype.forEach = function (callback, thisArg) {
    thisArg = thisArg || window
    for (var i = 0; i < this.length; i++) {
      callback.call(thisArg, this[i], i, this)
    }
  }
}
document.onreadystatechange = function() {
  document.querySelectorAll('[id$="_promptx"]').forEach(function(f) {
    const div = document.createElement('div')
    div.id = f.id.replace(/x$/, '')
    div.innerHTML = f.innerHTML.replace(/:/, '')
    document.getElementById('label-container').appendChild(div)
  })
}
</script>
