<div id="task_summary_outer">
    <div id="bg-image">.</div>
    <div id="EditProfile_container">
        <div id="EditProfile_wrapper">
            <div id="EditProfile">
                <h2>Launch Offboarding Event</h2>
                <h4>This page simplifies the process of launching an offboarding event.</h4>
                <div class="heading">
                    <span class="heading-inner">
                        EMPLOYEE INFORMATION
                    </span>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Employee ID</span>
                    <input type="text" id="Employee_HRISID" name="Employee_HRISID" value="<$client.tForWhomUserInfo.Employee_HRISID>" readonly>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Legal First Name</span>
                    <input type="text" id="First_Name" name="First_Name" value="<$client.tForWhomUserInfo.First_Name>" readonly>
                </div>
                <div class="input_wrapper">
                    <span class="floating-label">Legal Last Name</span>
                    <input type="text" id="Last_Name" name="Last_Name" value="<$client.tForWhomUserInfo.Last_Name>" readonly>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Grade Level</span>
                    <input type="text" name="SalaryGradeLvl_pseudo" id="SalaryGradeLvl_pseudo" value="<$client.tForWhomUserInfo.SalaryGradeLvl_Description>" readonly data-title="Grade Level" data-validation="required">
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Location</span>
                    <input type="text" id="Work_Location_pseudo" name="Work_Location_pseudo" value="<$client.tForWhomUserInfo.Work_Location_Description>" readonly>
                </div>

                <div class="heading">
                    <span class="heading-inner">
                      SEPARATION INFORMATION
                    </span>
                </div>

                <!-- <div class="input_wrapper mb-25" data-fieldgroup-title="<$client.env.promptGroup_Flag>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Group_Flag_label">
                    <label id="Group_Flag_label">
                        <strong>Collective Consultation Trigger</strong>
                    </label>
                    <$client.env.inputGroup_Flag>
                </div> -->

                <div class="input_wrapper">
                    <span class="floating-label">Announcement/Notification Date</span>
                    <input type="text" id="Notification_Date_pseudo" name="Notification_Date_pseudo" value="<$client.tEventDates_Date_11.Value>" data-title="Announcement/Notification Date" data-validation="required" data-date-enabled="false" readonly>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Confirmation Correspondence Date</span>
                    <input type="text" id="Confirmation_Correspondence_Date_pseudo" name="Confirmation_Correspondence_Date_pseudo" value="<$client.tForWhomUserInfo.Confirmation_Correspondence_Date>" data-title="Confirmation Correspondence Date" data-validation="required" data-date-enabled="false" readonly>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Last Day to Sign</span>
                    <input type="text" id="Last_Day_To_Sign_pseudo" name="Last_Day_To_Sign_pseudo" value="<$client.tForWhomUserInfo.Last_Day_To_Sign>" data-title="Last Day to Sign" data-validation="required" data-date-enabled="false" readonly>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Planned Last Day Worked</span>
                    <input type="text" id="Planned_Last_Day_Worked_pseudo" name="Planned_Last_Day_Worked_pseudo" value="<$client.tForWhomUserInfo.Planned_Last_Day_Worked>" data-title="Planned Last Day Worked" data-validation="required" data-date-enabled="false" readonly>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Final Separation Date</span>
                    <input type="text" id="Final_Separation_Date_pseudo" name="Final_Separation_Date_pseudo" value="<$client.tForWhomUserInfo.Final_Separation_Date>" data-title="Final Separation Date" data-validation="required" data-date-enabled="false" readonly>
                </div>

            

                <div class="input_wrapper mb-25" data-fieldgroup-title="<$client.env.promptNot_Profit_Flag>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Not_Profit_Flag_label">
                    <label id="Not_Profit_Flag_label">
                        <strong>Non-Profit Flag</strong>
                    </label>
                    <$client.env.inputNot_Profit_Flag>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Standard Severance Pay (€)</span>
                    <$client.env.inputStandard_Severance_Pay>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Enhanced Severance Pay (€)</span>
                    <$client.env.inputEnhanced_Severance_Pay>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">PILON Pay (€)</span>
                    <$client.env.inputPILON_Pay>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">NP Standard Severance Pay (€)</span>
                    <$client.env.inputNP_Standard_Severance_Pay>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">NP Enhanced Severance Pay (€)</span>
                    <$client.env.inputNP_Enhanced_Severance_Pay>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">NP PILON Pay (€)</span>
                    <$client.env.inputNP_PILON_Pay>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">NP VHI (Months)</span>
                    <$client.env.inputNP_VHI_Months>
                </div>

                <!--2021-04-29 | SERVICES-42774 | CDY | New fields added* -->
                <div class="input_wrapper">
                    <span class="floating-label">NP Separation Agreement Start Date</span>
                    <input type="text" id="NP_Separation_Agreement_Start_Date_pseudo" name="NP_Separation_Agreement_Start_Date_pseudo" value="<$client.tForWhomUserInfo.NP_Separation_Agreement_Start_Date>" data-title="NP Separation Agreement Start Date" data-validation="required" data-date-enabled="false" readonly>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">NP Separation Agreement Final Date</span>
                    <input type="text" id="NP_Separation_Agreement_Final_Date_pseudo" name="NP_Separation_Agreement_Final_Date_pseudo" value="<$client.tForWhomUserInfo.NP_Separation_Agreement_Final_Date>" data-title="NP Separation Agreement Final Date" data-validation="required" data-date-enabled="false" readonly>
                </div>


                <div class="input_wrapper mb-25" data-fieldgroup-title="<$client.env.promptEnhanced_Program_Eligible>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Enhanced_Program_Eligible_label">
                    <label id="Enhanced_Program_Eligible_label">
                        <strong>Enhanced Program Eligible?</strong>
                    </label>
                    <$client.env.inputEnhanced_Program_Eligible> 
                </div>

                <div class="input_wrapper" data-fieldgroup-title="Additional Severance Weeks" data-fieldgroup-validation="required">
                    <span class="floating-label">Additional Severance Weeks</span>
                    <input type="text" id="Special_Event_Override_Severance_Weeks_pseudo" name="Special_Event_Override_Severance_Weeks_pseudo" readonly value="<$client.tForWhomUserInfo.Special_Event_Override_Severance_Weeks_Description>">
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Additional Severance Pay (€)</span>
                    <$client.env.inputAdditional_Severance_Pay>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Total Severance Cost (€)</span>
                    <$client.env.inputTotal_Severance_Cost>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">VHI (Months)</span>
                    <$client.env.inputVHI_Months>
                </div>

                <div class="input_wrapper mb-25" data-fieldgroup-title="<$client.env.promptPayPal_Provided_Solicitor_Flag>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#PayPal_Provided_Solicitor_Flag_label">
                    <label id="PayPal_Provided_Solicitor_Flag_label">
                        <strong>PayPal Provided Solicitor Flag</strong>
                    </label>
                    <$client.env.inputPayPal_Provided_Solicitor_Flag>
                </div>

                <div class="input_wrapper" data-fieldgroup-title="Solicitor Name" data-fieldgroup-validation="required">
                    <span class="floating-label">Solicitor Name</span>
                    <$client.env.inputSolicitor_Name>
                </div>

                <div class="input_wrapper" data-fieldgroup-title="Solicitor Firm Name" data-fieldgroup-validation="required">
                    <span class="floating-label">Solicitor Firm Name</span>
                    <$client.env.inputSolicitor_Firm_Name>
                </div>

                <div class="input_wrapper" data-fieldgroup-title="Solicitor Firm Address" data-fieldgroup-validation="required">
                    <span class="floating-label">Solicitor Firm Address</span>
                    <$client.env.inputSolicitor_Firm_Address>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Legal Cost Pay (€)</span>
                    <$client.env.inputLegal_Cost_Pay>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Is this employee eligible for Retention?</span>
                    <select name="Retention_Eligible">
                        <option value="Retention Eligible - No" <$client.env.eval((client.tEventCategories_Category_46.Value=="Retention Eligible - No")?"Selected":"")>>Retention Eligible - No</option>
                        <option value="Retention Eligible - Yes" <$client.env.eval((client.tEventCategories_Category_46.Value=="Retention Eligible - Yes")?"Selected":"")>>Retention Eligible - Yes</option>
                    </select>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Retention</span>
                    <$client.env.inputRetention>
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Retention Date</span>
                    <input type="text" id="Special_Event_Retention_Date_pseudo" name="Special_Event_Retention_Date_pseudo" value="<$client.tForWhomUserInfo.Special_Event_Retention_Date>" data-date-enabled="false" readonly data-title="Retention Date">
                </div>

                <div class="input_wrapper">
                    <span class="floating-label">Customized Retention Bonus Amount (€)</span>
                    <$client.env.inputOffboarding_RetentionBonusAmt>
                </div>

                 <div class="input_wrapper" id="I_Separation_Policy_Ack_Docs">
                    <!--span class="floating-label">Separation Policy Documents to present to employee</span-->
                    <label id="I_Separation_Policy_Ack_Docs_label">Separation Policy Documents to present to employee</label>
                    <$client.env.inputI_Separation_Policy_Ack_Docs>
                </div>


                <div class="input_wrapper" id="IE_Enhanced_Separation_Policy_Ack_Documents">
                    <!--span class="floating-label">Separation Policy Documents to present to employee</span-->
                    <label id="IE_Enhanced_Separation_Policy_Ack_Documents_label">Enhanced Separation Policy Documents to present to employee</label>
                    <$client.env.inputIE_Enhanced_Separation_Policy_Ack_Documents>
                </div>
               
               
                <div class="mb-18"></div>

                <div class="button_group">
                    <div id="save"></div>
                    <div id="saveandcomplete"></div>
                    <div id="cancel"></div>
                </div>

                <div hidden>
                    <$client.env.inputHR_Business_Case>
                    <$client.env.inputEvent_Name>
                    <$client.env.inputEvt_Location_Code>
                    <$client.env.inputExempt>
                    <$client.env.inputOWBPA_Eligible>
                    <$client.env.inputOWBPA_Age>
                    <$client.env.inputAge_Over_40>
                    <$client.env.inputTenure_CED>
                    <$client.env.inputSalaryGradeLvl>
                    <$client.env.inputBusiness_Case_Approval_Date>
                    <$client.env.inputWork_Location>
                    <$client.env.inputSpecial_Event_Override_Severance_Weeks>
                    
                    <$client.env.inputSpecial_Event_Retention_Date>
                    <$client.env.inputBaseMonthly70>
                    <$client.env.inputConfirmation_Correspondence_Date>
                    <$client.env.inputLast_Day_To_Sign>
                    <$client.env.inputPlanned_Last_Day_Worked>
                    <$client.env.inputFinal_Separation_Date>
                    <$client.env.inputNP_Separation_Agreement_Start_Date>
                    <$client.env.inputNP_Separation_Agreement_Final_Date>
                    <$client.env.inputNotification_Date>
                    <input type="text" id="DOB" name="DOB" value="<$client.tForWhomUserInfo.DOB>" readonly>
                    <input type="text" id="Site_Name" name="Site_Name" value="<$client.env.index.site_name>" />
                    <input type="text" id="Separation_Date" name="Separation_Date" data-date-enabled="false" readonly>
                </div>
            </div>
        </div>
    </div>
</div>



<link href="<$link;/main/RedCarpet/FormTemplates/FormSupport/css/front_validator.css>" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<$link;/main/SiteGen/DynamicContent/Snippets/Paypal_EditProfile/js>/country.js"></script>
<script type="text/javascript" src="<$link;/main/SiteGen/DynamicContent/Snippets/Paypal_EditProfile/js>/custom-paypal.js"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/moment-with-locales.min.js>"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/date_formatter.js>" defer></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/jquery.mask.min.js>"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/front_validator_V2.js>" defer></script>

<script type="text/javascript">
    /**
     * SERVICES-40421 | jjucutan | PayPal - Offboarding Provider Page
     * Define here functions that can be reused
     */
    const providerContext = $('#EditProfile');
    const GLOBAL_STATES = new Map();
    const TENURE_CED = new Date('<$client.tForWhomUserInfo.Tenure_CED>T00:00:00');
    const BUSINESS_CASE_APPROVAL_DATE = new Date('<$client.tForWhomUserInfo.Business_Case_Approval_Date>T00:00:00');
    const EVENT_NAME = '<$client.url.event_name>';
    const SALARY_GRADE_LVL = Number('<$client.tForWhomUserInfo.SalaryGradeLvl>');
    const IS_RC_ADMIN = <$client.env.eval(client.role.RedCarpet_Portal>0?'true':'false')>;

    let fields_config = '';
    let fieldsPromise = $.getJSON("<$link;/Offboarding/UnplacedPages/js/Ireland_Offboarding_Provider_EditProfile_config.json>", function(data) {
      fields_config = data.fields;
    });
    const focusInputLabel = function(el, isFocused) {
        "use strict";
        try {
            let label = el.closest('.input_wrapper')
                .find('span.floating-label')
                .removeClass('label-focus')
                .css({"color": "#666666"});
            if (el[0].value.trim().length > 0 || isFocused) {
                label.addClass('label-focus');
            }
            if (isFocused === true) {
                label.css({"color": "#0070BA"});
            }
        }
        catch(err) {
            console.error(el)
            console.error(err);
        }
    }
    const fieldHasVal = function(el) {
        "use strict";
        let hasVal = false;
        $.each(el, function(k, v) {
            if ($(v).val().length) {
                hasVal = true;
            }
        });
        return hasVal;
    }
    const isCheckboxChecked = function(el) {
        "use strict";
        let hasChecked = false;
        $.each(el, function(k,v){
            if ($(v).is(':checked')) {
                hasChecked = true;
            }
        });
        return hasChecked;
    }
    const setDefaultValue = function(el, defaultValue) {
        "use strict";
        if (el.is('input[type="checkbox"]') || el.is('input[type="radio"]')) {
            if (isCheckboxChecked(el) === false) {
                $.each(el, function(k,v) {
                    if ($(v).val() === defaultValue) {
                        $(v).prop('checked', 'checked');
                    }
                });
            }
        }
        if (el.is('select') && el.val().length < 1 && el.find('option[value="' + defaultValue + '"]').length > 0) {
            el.val(defaultValue);
        }
        if (el.is('select') && el.val().length < 1 && el.find('option:contains(' + defaultValue + ')').length > 0) {
            el.val(el.find('option:contains(' + defaultValue + ')').prop('value'));
        }
        if (el.is('input[type="text"]') && el.val().trim().length < 1) {
            el.val(defaultValue);
        }

        if (el.is('textarea') && el.val().trim().length < 1) {
            el.val(defaultValue);
        }
    }
    // email validator
    const EMAIL_REG = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
    const emailFormatValidator = function() {
      "use strict";
      let isValid = true;
      let message = '';
      if (!EMAIL_REG.test($('#Email').val())) {
        isValid = false;
        message = 'Please enter a valid email address.';
      }
      return {
        "isValid": isValid,
        "message": message
      }
    }
    // define callback validators
    const employeeIDValidator = function() {
        "use strict";
        const employeeField = $('#Employee_HRISID');
        let isValid = true;
        let message = '';
        if (employeeField.val().length > 0 && !/^00[0-9]{6}$/.test(employeeField.val())) {
            isValid = false;
            message = 'Employee ID must start with 00 and then include 6 digits (00+6 digits)';
        }
        return {
            "isValid": isValid,
            "message": message
        }
    }
   
    const getRetentionAmount = function(specialEventRetentionDate) {
        "use strict";
        const offboarding_RetentionBonusAmtField = $('[name$=".Offboarding_RetentionBonusAmt"]');
        const YEAR_WEEKS = 52;
        const MIN_WEEKS = 4;
        let notificationDate = Date.parse($('#Notification_Date_pseudo').val());
        //let notificationDate = $('#Notification_Date_pseudo').datepicker('getDate');
        let termDate = $('[name$=".Special_Event_Retention_Date_display"]').datepicker('getDate');
        if (specialEventRetentionDate && specialEventRetentionDate.datepicker('getDate')) {
            termDate = specialEventRetentionDate.datepicker('getDate');
        }
        if (termDate == null || notificationDate == null) {
            offboarding_RetentionBonusAmtField.val('0.00')
            return;
        }
        let weeksDiff = moment(termDate).diff(notificationDate, 'weeks');
        console.log(weeksDiff);
        if (weeksDiff <= MIN_WEEKS) {
            offboarding_RetentionBonusAmtField.val('0.00')
            return;
        }
        let standardBonus = (Number($('[name$=".BaseMonthly70"]').val()) / YEAR_WEEKS) * ((weeksDiff - MIN_WEEKS) / 2);
        offboarding_RetentionBonusAmtField.val(standardBonus.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"))
    }    


    <$include;/main/RedCarpet/FormTemplates/FormSupport/js/global_date_config.js>
    $(window).on('load', function() {
        $('.floating-label span').css('color', 'rgb(102, 102, 102)');
        $('.cal_and_button').prop('cellpadding', 0).prop('cellspacing', 0);
        let isProfileCompleted = sTaskComplete;
        // replace default submit button with paypal styled
        $('#TaskSummary_ButtonCancel').detach().appendTo('#cancel').show();
        if (!isProfileCompleted) {
            $('#TaskSummary_ButtonSave').prop('onclick', null).unbind('click').detach().appendTo('#saveandcomplete').show().text('Continue');
            $('#EUPDefaultSaveButton').prop('onclick', null).unbind('click').detach().appendTo('#save').show();
        }

        // force warn eligible eup update
        $('[name$=".Warn_Eligible"][value="<$client.tForWhomUserInfo.Warn_Eligible>"]').prop('checked', true);

        // set default warn value if not set
        if (!$('[name$=".Warn_Eligible"][value="Y"]').is(':checked') && !$('[name$=".Warn_Eligible"][value="N"]').is(':checked')) {
            $('[name$=".Warn_Eligible"][value="N"]').prop('checked', true);
        }

        // set default Cobra Eligibility value
        setDefaultValue($('[name$=".Cobra_Eligibility_Special_Event_Override"]'), 12);

        // force default value for event name
        $('[name$=".Event_Name"]').val(EVENT_NAME);
        // force salary level value override persistnet field value due to caching
        $('[name$=".SalaryGradeLvl"]').val(SALARY_GRADE_LVL);

        // toggle warn eligible on work location change
        const toggleWarn = function(location) {
            if (location.indexOf('USA-CA') < 0) {
                $('[name$=".Warn_Eligible"]').closest('.input_wrapper').hide();
                return;
            }
            $('[name$=".Warn_Eligible"]').closest('.input_wrapper').show();
        }
        toggleWarn($('[name$=".Work_Location"]').val());
        $('[name$=".Work_Location"]').on('change', function() {
            toggleWarn(this.value);
            $('[name$=".Warn_Eligible"][value="N"]').prop('checked', true);
            validateField($('[name$=".Warn_Eligible"]'), true);
        });        

        const toggleNonProfitDeps = function() {
            if ($('[name$=".Not_Profit_Flag"]:checked').val() == 'Y') {
                $('#Notification_Date_pseudo').closest('.input_wrapper').hide();
                $('[name$=".NP_Standard_Severance_Pay"], [name$=".NP_Enhanced_Severance_Pay"], [name$=".NP_PILON_Pay"], [name$=".NP_VHI_Months"], #NP_Separation_Agreement_Start_Date_pseudo, #NP_Separation_Agreement_Final_Date_pseudo').closest('.input_wrapper').show();
                $('[name$=".Standard_Severance_Pay"], [name$=".Enhanced_Severance_Pay"], [name$=".PILON_Pay"], [name$=".VHI_Months"]').closest('.input_wrapper').hide();
                focusInputLabel($('[name$=".NP_VHI_Months"]'), false);
                return;
            }
            $('[name$=".Standard_Severance_Pay"], [name$=".Enhanced_Severance_Pay"], [name$=".PILON_Pay"], [name$=".VHI_Months"]').closest('.input_wrapper').show();
            $('[name$=".NP_Standard_Severance_Pay"], [name$=".NP_Enhanced_Severance_Pay"], [name$=".NP_PILON_Pay"], [name$=".NP_VHI_Months"], #NP_Separation_Agreement_Start_Date_pseudo, #NP_Separation_Agreement_Final_Date_pseudo').closest('.input_wrapper').hide();
        }
        toggleNonProfitDeps();
        $('[name$=".Not_Profit_Flag"]').on('change', function(e) {
            toggleNonProfitDeps();
        });
        
        $('[name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').on('change', function() {

            validateField($('[name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]'), false, enhancedSeparationPolicy);
            if($('[data-error-id$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').length){
                $('[data-error-id$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').css('display','none');
            }
        });

        $('[name$=".I_Separation_Policy_Ack_Docs"]').on('change', function() {
            validateField($('[name$=".I_Separation_Policy_Ack_Docs"]'), false, iSeparationPolicy);
            if($('[data-error-id$=".I_Separation_Policy_Ack_Docs"]').length){
                $('[data-error-id$=".I_Separation_Policy_Ack_Docs"]').css('display','none');
            }
        });

        const enhancedSeparationPolicy = function() { 
            "use strict";
            let isValid = true; 
            let message = ""; 
            let checkedBoxes = $('[name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').filter(":checked").length;

            if($('[name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').is(":visible")){
                if(checkedBoxes<1){                
                        isValid = false;
                        $('[id$="IE_Enhanced_Separation_Policy_Ack_Documents_label"]').attr('class','label-has-error');

                }
                else
                        $('[id$="IE_Enhanced_Separation_Policy_Ack_Documents_label"]').removeAttr('class');

            }
            return { 
                    "isValid": isValid,
                    "message": message
            } 
        }; 
            

        const iSeparationPolicy = function() { 
            "use strict";
            let isValid = true; 
            let message = ""; 
            let checkedBoxes = $('[name$=".I_Separation_Policy_Ack_Docs"]').filter(":checked").length;

            if($('[name$=".I_Separation_Policy_Ack_Docs"]').is(":visible")){
                if(checkedBoxes<1){                
                        isValid = false;
                        $('[id$="I_Separation_Policy_Ack_Docs_label"]').attr('class','label-has-error');

                }
                else
                        $('[id$="I_Separation_Policy_Ack_Docs_label"]').removeAttr('class');
            }
            return { 
                    "isValid": isValid,
                    "message": message
            } 
        }; 
        
        
        // options manipulation
        // keep state options
        $('[name$="State"] option').each(function(k, v) {
          if (k == 0) {
            GLOBAL_STATES.set("", "");
          }
          if (k == "N/A") {
            return;
          }
          GLOBAL_STATES.set(v.value, v.innerText);
        });
        
        // load form when all set
        $('#EditProfile_wrapper').fadeIn();

        // default values
        // hr business case field
        let employeeHRISIDVal = $('#Employee_HRISID').val();
        if (!/^00/.test(employeeHRISIDVal) && employeeHRISIDVal.length > 0) {
          $('#Employee_HRISID').val('00' + employeeHRISIDVal);
        }

        // filter state by country
        $('[name$=".Country"]').on('change', function() {
            let stateVal = $('[name$=".State"]').val();
            const state = $('[name$=".State"]').html('');
            countryVal = this.value;
            GLOBAL_STATES.forEach(function(v, k) {
                if (k == "" || k.substring(0,3) == countryVal) {
                    state.append(
                        $('<option/>').val(k).text(v)
                    );
                }
            });
            // add back the previous value
            state.val(stateVal);
            // if value being set does not exist set to blank
            if (state.val() == null) {
                state.val("");
            }
        });
        $('[name$=".Country"]').trigger('change');

        // datepickers
        $('#Separation_Date, #Business_Case_Approval_Date_pseudo, #Tenure_CED_pseudo, #Special_Event_Retention_Date_pseudo, #Confirmation_Correspondence_Date_pseudo, #Last_Day_To_Sign_pseudo, #Final_Separation_Date_pseudo, #Planned_Last_Day_Worked_pseudo, #NP_Separation_Agreement_Start_Date_pseudo, #NP_Separation_Agreement_Final_Date_pseudo')
          .formatDatePicker(dateConfig, "<$client.env.eval(client.tEventCategories_Category_11.Code.subString(0,2))>")
          .datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+100",
            onSelect: function(dateText, instance) {
                validateField($(this)); 
                focusInputLabel($(this));
            }
          });
        $('#Confirmation_Correspondence_Date_pseudo, #Final_Separation_Date_pseudo, #NP_Separation_Agreement_Start_Date_pseudo, #NP_Separation_Agreement_Final_Date_pseudo').datepicker('destroy');
        // datepickers default value
        $('#DOB_pseudo').datepicker('setDate', new Date('<$client.tForWhomUserInfo.DOB>'))
          .datepicker("option", "onSelect", function(dateText, instance) {
            $('[name$=".DOB_display"]', providerContext).datepicker('setDate', $(this).datepicker('getDate'));
            validateField($(this)); 
            focusInputLabel($(this));
          });
         
        $('#Notification_Date_pseudo').val(moment('<$client.tEventDates_Date_11.Value>').format('DD-MMM-YY'));
        $('[name$=".Notification_Date_display"]').datepicker('setDate', new Date('<$client.tEventDates_Date_11.Value>'))

         $('#Confirmation_Correspondence_Date_pseudo').datepicker('setDate', new Date('<$client.tForWhomUserInfo.Confirmation_Correspondence_Date>'))
              .datepicker("option", "onSelect", function(dateText, instance) {
                $('[name$=".Confirmation_Correspondence_Date_display"]', providerContext).datepicker('setDate', $(this).datepicker('getDate'));
                var ccd_date = moment($(this).datepicker('getDate')).format('DD-MMM-YY');
                if(Date.parse($(this).datepicker('getDate'))){
                    $('#Confirmation_Correspondence_Date_pseudo').val(ccd_date);
                }else{
                    $('#Confirmation_Correspondence_Date_pseudo').val('');
                }
                validateField($(this)); 
                focusInputLabel($(this));

              });

         var ccd_dateLoad = moment($('[name$=".Confirmation_Correspondence_Date_display"]').datepicker('getDate')).format('DD-MMM-YY');
                if(Date.parse($('[name$=".Confirmation_Correspondence_Date_display"]').datepicker('getDate'))){
                    $('#Confirmation_Correspondence_Date_pseudo').val(ccd_dateLoad);
                }else{
                    $('#Confirmation_Correspondence_Date_pseudo').val('');
                }


         $('#Last_Day_To_Sign_pseudo').datepicker('setDate', new Date('<$client.tForWhomUserInfo.Last_Day_To_Sign>'))
              .datepicker("option", "onSelect", function(dateText, instance) {
                $('[name$=".Last_Day_To_Sign_display"]', providerContext).datepicker('setDate', $(this).datepicker('getDate'));
                var ldts_date = moment($(this).datepicker('getDate')).format('DD-MMM-YY');

                if(Date.parse($(this).datepicker('getDate'))){
                    $('#Last_Day_To_Sign_pseudo').val(ldts_date);
                }else{
                    $('#Last_Day_To_Sign_pseudo').val('');
                }
                validateField($(this)); 
                focusInputLabel($(this));
              });

         var ldts_dateLoad = moment($('[name$=".Last_Day_To_Sign_display"]').datepicker('getDate')).format('DD-MMM-YY');
                if(Date.parse($('[name$=".Last_Day_To_Sign_display"]').datepicker('getDate'))){
                    $('#Last_Day_To_Sign_pseudo').val(ldts_dateLoad);
                }else{
                    $('#Last_Day_To_Sign_pseudo').val('');
                } 


          $('#Planned_Last_Day_Worked_pseudo').datepicker('setDate', new Date('<$client.tForWhomUserInfo.Planned_Last_Day_Worked>'))
              .datepicker("option", "onSelect", function(dateText, instance) {
                $('[name$=".Planned_Last_Day_Worked_display"]', providerContext).datepicker('setDate', $(this).datepicker('getDate'));
                var pldw_date = moment($(this).datepicker('getDate')).format('DD-MMM-YY');

                if(Date.parse($(this).datepicker('getDate'))){
                    $('#Planned_Last_Day_Worked_pseudo').val(pldw_date);
                }else{
                    $('#Planned_Last_Day_Worked_pseudo').val('');
                }
                validateField($(this)); 
                focusInputLabel($(this));
              });

         var pldw_dateLoad = moment($('[name$=".Planned_Last_Day_Worked_display"]').datepicker('getDate')).format('DD-MMM-YY');
                if(Date.parse($('[name$=".Planned_Last_Day_Worked_display"]').datepicker('getDate'))){
                    $('#Planned_Last_Day_Worked_pseudo').val(pldw_dateLoad);
                }else{
                    $('#Planned_Last_Day_Worked_pseudo').val('');
                }


          $('#Final_Separation_Date_pseudo').datepicker('setDate', new Date('<$client.tForWhomUserInfo.Final_Separation_Date>'))
              .datepicker("option", "onSelect", function(dateText, instance) {
                $('[name$=".Final_Separation_Date_display"]', providerContext).datepicker('setDate', $(this).datepicker('getDate'));
                var fs_date = moment($(this).datepicker('getDate')).format('DD-MMM-YY');

                if(Date.parse($(this).datepicker('getDate'))){
                    $('#Final_Separation_Date_pseudo').val(fs_date);
                }else{
                    $('#Final_Separation_Date_pseudo').val('');
                }
                validateField($(this)); 
                focusInputLabel($(this));
              });

         var fs_dateLoad = moment($('[name$=".Final_Separation_Date_display"]').datepicker('getDate')).format('DD-MMM-YY');
                if(Date.parse($('[name$=".Final_Separation_Date_display"]').datepicker('getDate'))){
                    $('#Final_Separation_Date_pseudo').val(fs_dateLoad);
                }else{
                    $('#Final_Separation_Date_pseudo').val('');
                }



                //2021-04-29 | SERVICES-42774 | CDY | New condition for new fields* -->


                $('#NP_Separation_Agreement_Start_Date_pseudo').datepicker('setDate', new Date('<$client.tForWhomUserInfo.NP_Separation_Agreement_Start_Date>'))
              .datepicker("option", "onSelect", function(dateText, instance) {
                $('[name$=".NP_Separation_Agreement_Start_Date_display"]', providerContext).datepicker('setDate', $(this).datepicker('getDate'));
                var nsasd_date = moment($(this).datepicker('getDate')).format('DD-MMM-YY');

                if(Date.parse($(this).datepicker('getDate'))){
                    $('#NP_Separation_Agreement_Start_Date_pseudo').val(nsasd_date);
                }else{
                    $('#NP_Separation_Agreement_Start_Date_pseudo').val('');
                }
                validateField($(this)); 
                focusInputLabel($(this));
              });

         var nsasd_dateLoad = moment($('[name$=".NP_Separation_Agreement_Start_Date_display"]').datepicker('getDate')).format('DD-MMM-YY');
                if(Date.parse($('[name$=".NP_Separation_Agreement_Start_Date_display"]').datepicker('getDate'))){
                    $('#NP_Separation_Agreement_Start_Date_pseudo').val(nsasd_dateLoad);
                }else{
                    $('#NP_Separation_Agreement_Start_Date_pseudo').val('');
                }


                $('#NP_Separation_Agreement_Final_Date_pseudo').datepicker('setDate', new Date('<$client.tForWhomUserInfo.NP_Separation_Agreement_Final_Date>'))
              .datepicker("option", "onSelect", function(dateText, instance) {
                $('[name$=".NP_Separation_Agreement_Final_Date_display"]', providerContext).datepicker('setDate', $(this).datepicker('getDate'));
                var nsafd_date = moment($(this).datepicker('getDate')).format('DD-MMM-YY');

                if(Date.parse($(this).datepicker('getDate'))){
                    $('#NP_Separation_Agreement_Final_Date_pseudo').val(nsafd_date);
                }else{
                    $('#NP_Separation_Agreement_Final_Date_pseudo').val('');
                }
                validateField($(this)); 
                focusInputLabel($(this));
              });

         var nsafd_dateLoad = moment($('[name$=".NP_Separation_Agreement_Final_Date_display"]').datepicker('getDate')).format('DD-MMM-YY');
                if(Date.parse($('[name$=".NP_Separation_Agreement_Final_Date_display"]').datepicker('getDate'))){
                    $('#NP_Separation_Agreement_Final_Date_pseudo').val(nsafd_dateLoad);
                }else{
                    $('#NP_Separation_Agreement_Final_Date_pseudo').val('');
                }




        
        $('[name$=".I_Separation_Policy_Ack_Docs"]').each(function() {
            if (this.value == 4 && (SALARY_GRADE_LVL < 28 || SALARY_GRADE_LVL > 29)) {
                $(this).prop('checked', false).closest('.checkbox_item').hide();
            }
            if (this.value == 5 && SALARY_GRADE_LVL > 27) {
                $(this).prop('checked', false).closest('.checkbox_item').hide();
            }
        });
        $('[name$="Retention_Eligible"]').on('change', function() {
            if ($('[name$="Retention_Eligible"] option:selected').text() == "Retention Eligible - Yes" && $('[name$=".Retention"]').val() == "Customized") {
                // event should trigger blank                
                $('[name$=".Offboarding_RetentionBonusAmt"]').closest('.input_wrapper').show();     
            }else{
                $('[name$=".Offboarding_RetentionBonusAmt"]').val('').closest('.input_wrapper').hide();
            }               
            
            if ($('[name$="Retention_Eligible"] option:selected').text() == "Retention Eligible - Yes")
                  $('[name$="Special_Event_Retention_Date_pseudo"]').data('validation','required');
            
            else{
                $('[name$="Special_Event_Retention_Date_pseudo"]').data('validation',null);
                $('[name$="Special_Event_Retention_Date_pseudo"]').removeClass('input-error');
                if($('[data-error-id$="Special_Event_Retention_Date_pseudo"]').length)
                    $('[data-error-id$="Special_Event_Retention_Date_pseudo"]').css('display','none');
            }
            
        });
        $('[name$="Retention_Eligible"]').trigger('change');



        $('[name$=".Enhanced_Program_Eligible"]').on('change', function() {
              if ($('[name$=".Enhanced_Program_Eligible"]:checked').val() == "Y") {
                // event should trigger blank

                
                $('#Special_Event_Override_Severance_Weeks_pseudo, [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"], [name$=".Additional_Severance_Pay"]').closest('.input_wrapper').show();
                $(' [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]:first').prop('checked', false);
                //2021-04-26 | SERVICES-42774 | CDY  | Added event condition, remove "first responder" and "Bright Horizons Care Solutions Support" checkbox.
                if(EVENT_NAME == 'Ireland Offboarding'){
                    $('#IE_Enhanced_Separation_Policy_Ack_Documents .checkbox_item').first().hide();
                    $(' [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]:last').prop('checked', false);
                    $('#IE_Enhanced_Separation_Policy_Ack_Documents .checkbox_item').last().hide();
                    
                }else{
                    $('#IE_Enhanced_Separation_Policy_Ack_Documents .checkbox_item').first().show();
                    $(' [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]:last').prop('checked', true);
                    $('#IE_Enhanced_Separation_Policy_Ack_Documents .checkbox_item').last().show();

                    
                }


            }else if($('[name$=".Enhanced_Program_Eligible"]:checked').val() == "N") {
                
                $(' [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').prop('checked', true).closest('.input_wrapper').hide();
                $('#Special_Event_Override_Severance_Weeks_pseudo, [name$=".Additional_Severance_Pay"]').closest('.input_wrapper').hide();

            }else{
                $('#Special_Event_Override_Severance_Weeks_pseudo, [name$=".Additional_Severance_Pay"]').closest('.input_wrapper').hide();

                //$(' [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').prop('checked', false).closest('.input_wrapper').hide();
                $(' [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').prop('checked', true).closest('.input_wrapper').hide();
                
            }

            //validateField($('[name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]'), false, enhancedSeparationPolicy);
            $('[name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').trigger('change');

        });

        //$('[name$=".Enhanced_Program_Eligible"]').trigger('change');
        //2021-04-26 | SERVICES-42774 | CDY  | Onload checkboxes - START
         if ($('[name$=".Enhanced_Program_Eligible"]:checked').val() == "Y") {
                // event should trigger blank

                
                $('#Special_Event_Override_Severance_Weeks_pseudo, [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"], [name$=".Additional_Severance_Pay"]').closest('.input_wrapper').show();
                $(' [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]:first').prop('checked', false);
                //2021-04-26 | SERVICES-42774 | CDY  | Added event condition, remove "first responder" and "Bright Horizons Care Solutions Support" checkbox.
                if(EVENT_NAME == 'Ireland Offboarding'){
                    $('#IE_Enhanced_Separation_Policy_Ack_Documents .checkbox_item').first().hide();
                    $(' [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]:last').prop('checked', false);
                    $('#IE_Enhanced_Separation_Policy_Ack_Documents .checkbox_item').last().hide();
                    
                }else{
                    $('#IE_Enhanced_Separation_Policy_Ack_Documents .checkbox_item').first().show();
                    $(' [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]:last').prop('checked', true);
                    $('#IE_Enhanced_Separation_Policy_Ack_Documents .checkbox_item').last().show();

                    
                }


            }else if($('[name$=".Enhanced_Program_Eligible"]:checked').val() == "N") {
                
                $(' [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').prop('checked', true).closest('.input_wrapper').hide();
                $('#Special_Event_Override_Severance_Weeks_pseudo, [name$=".Additional_Severance_Pay"]').closest('.input_wrapper').hide();

            }else{
                $('#Special_Event_Override_Severance_Weeks_pseudo, [name$=".Additional_Severance_Pay"]').closest('.input_wrapper').hide();

                //$(' [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').prop('checked', false).closest('.input_wrapper').hide();
                $(' [name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').prop('checked', true).closest('.input_wrapper').hide();
                
            }

            //2021-04-26 | SERVICES-42774 | CDY  | Onload checkboxes - END


        $('[name$=".PayPal_Provided_Solicitor_Flag"]').on('change', function() {
              if ($('[name$=".PayPal_Provided_Solicitor_Flag"]:checked').val() == "Y") {
                // event should trigger blank
                $('[name$=".Solicitor_Name"]').closest('.input_wrapper').show();
                $('[name$=".Solicitor_Firm_Name"]').closest('.input_wrapper').show();
                $('[name$=".Solicitor_Firm_Address"]').closest('.input_wrapper').show();
            }else{
                $('[name$=".Solicitor_Name"]').val('').closest('.input_wrapper').hide();
                $('[name$=".Solicitor_Firm_Name"]').val('').closest('.input_wrapper').hide();
                $('[name$=".Solicitor_Firm_Address"]').val('').closest('.input_wrapper').hide();
                validateField($('[name$=".Solicitor_Name"]'), true)
                validateField($('[name$=".Solicitor_Firm_Name"]'), true)
                validateField($('[name$=".Solicitor_Firm_Address"]'), true)
            }
        });

        $('[name$=".PayPal_Provided_Solicitor_Flag"]').trigger('change');



        $('#Tenure_CED_pseudo').datepicker('setDate', TENURE_CED).datepicker('disable');
        if ('<$client.tForWhomUserInfo.Business_Case_Approval_Date>'.length) {
          $('#Business_Case_Approval_Date_pseudo').datepicker('setDate', BUSINESS_CASE_APPROVAL_DATE)
        }
        $('#Business_Case_Approval_Date_pseudo').datepicker("option", "onSelect", function(dateText, instance) {
          $('[name$=".Business_Case_Approval_Date_display"]', providerContext).datepicker('setDate', $(this).datepicker('getDate'));
          validateField($(this)); 
          focusInputLabel($(this));
        });



        // concatenated date
        // removed offboarding business unit <$client.tEventCategories_Category_44.Value>_
        let businessCase = "USA_" + moment('<$client.tEventDates_Date_10.Value>').format('MM/DD/YYYY');
        $('#HR_Business_Case').val(businessCase);
        $('[name$=".HR_Business_Case"]').val(businessCase);

            $('#Special_Event_Retention_Date_pseudo').datepicker('setDate', new Date('<$client.tForWhomUserInfo.Special_Event_Retention_Date>'))
              .datepicker("option", "onSelect", function(dateText, instance) {
                $('[name$=".Special_Event_Retention_Date_display"]', providerContext).datepicker('setDate', $(this).datepicker('getDate'));
                var ret2_date = moment($(this).datepicker('getDate')).format('DD-MMM-YY');
                if(Date.parse($(this).datepicker('getDate'))){
                    $('#Special_Event_Retention_Date_pseudo').val(ret2_date);
                }
                validateField($(this)); 
                focusInputLabel($(this));
                toggleRetentionAmt();
              });

              

        // set default value to retention date
        if  ("<$client.tEventCategories_Category_46.Value>" == "Retention Eligible - Yes"){
            var ret_date = moment($('[name$=".Special_Event_Retention_Date_display"]').datepicker('getDate')).format('DD-MMM-YY');
                if(Date.parse($('[name$=".Special_Event_Retention_Date_display"]').datepicker('getDate'))){
                    $('#Special_Event_Retention_Date_pseudo').val(ret_date);
                }else{
                    $('#Special_Event_Retention_Date_pseudo').val('');
                }
            
            }

        //set readonly fields
        $('[name$=".Additional_Severance_Pay"], [name$=".Total_Severance_Cost"]').prop('readonly', 'readonly');


        //set data validation for legal_cost_pay field

        function addValidationForLCP(){

$('[name$=".Legal_Cost_Pay"]').data('validation','regex');
$('[name$=".Legal_Cost_Pay"]').data('title','Legal Cost Pay (€)');
$('[name$=".Legal_Cost_Pay"]').data('regex','^([1-9]|[1-9][0-9]|[1-9][0-9][0-9]|1500)$');
$('[name$=".Legal_Cost_Pay"]').data('message','between 0 and 1,500.00');

        }


        ("<$client.tEventCategories_Category_46.Value>" == "Retention Eligible - No") && $('[name$=".Special_Event_Retention_Date_display"], #Special_Event_Retention_Date_pseudo').datepicker('setDate', null);
        // retention bonus amount calculation
        $('[name$=".Retention"]').val() != 'Customized' && getRetentionAmount($('[name$=".Special_Event_Retention_Date_display"]'));
        // retention change 
        const toggleRetentionAmt = function(e) {
            if (e && $('[name$=".Retention"]').val() != "Standard") {
                // event should trigger blank
                $('[name$=".Offboarding_RetentionBonusAmt"]').val('');
            }
            if ($('[name$=".Retention"]').val() == "Customized" && $('[name$="Retention_Eligible"] option:selected').text() == "Retention Eligible - Yes") {
                $('[name$=".Offboarding_RetentionBonusAmt"]').closest('.input_wrapper').show();
                focusInputLabel($('[name$=".Offboarding_RetentionBonusAmt"]'));
                return;
            }
            if ($('[name$=".Retention"]').val() == "Standard") {
                getRetentionAmount($('[name$=".Special_Event_Retention_Date_display"]'));
            }
            $('[name$=".Offboarding_RetentionBonusAmt"]').closest('.input_wrapper').hide();
            validateField($('[name$=".Offboarding_RetentionBonusAmt"]'), true);
        }
        toggleRetentionAmt();
        $('[name$=".Retention"]').on('change', toggleRetentionAmt);

        // focus style text and select fields
        $('form').on('focus', 'input[type="text"]:visible, select:visible, textarea:visible', function() {
            focusInputLabel($(this), true);
        }).on('blur', 'input[type="text"], select, textarea', function() {
            focusInputLabel($(this));
        });
        // focus style date fields
        $('form').on('focus change', 'input.hasDatepicker', function() {
            focusInputLabel($(this), true);
        }).on('blur change', 'input.hasDatepicker', function() {
            focusInputLabel($(this));
        });
        $('form').on('focus change', '.datepicker_button', function() {
            focusInputLabel($(this).closest('.cal_and_button').find('input[type="text"]'), true);
        }).on('blur change', '.datepicker_button', function() {
            focusInputLabel($(this).closest('.cal_and_button').find('input[type="text"]'));
            $(this).parent().find('.hasDatepicker').trigger('change'); 
        });

        $.when(fieldsPromise).done(function() {
          fields_config.forEach(function(fieldConf) {
            const field = providerContext.find('[name$="' + fieldConf.name + '"]');
            if (field.length) {
              field.data({
                'validation': fieldConf.validation,
                'title': fieldConf.title
              });
              if (fieldConf.label) {
                field.data('label', fieldConf.label);
              }
              if (fieldConf.readonly) {
                field.prop('readonly', fieldConf.readonly);
              }
              if (fieldConf.regex) {
                field.data('regex', fieldConf.regex);
              }
              if (fieldConf.message) {
                field.data('message', fieldConf.message);
              }
            }
          });
        });

        // limit option of Individual_or_Group is not rc admin
        if (!IS_RC_ADMIN) {
            // disable bulk load option
            $('[name$=".Individual_or_Group"] option').each(function() {
                if (this.value == 'Bulk Load (Silkroad Only)') {
                    $(this).prop('disabled', 'disabled');
                }
            });
        }
        // dob calculation for age / individual group field update and update OWBPA
        $('[name$=".Individual_or_Group"]').on('change', function() {
            let ageYears = moment().diff($('#DOB').val(), 'years');
            if (ageYears >= 40) {
                $('[name$=".Age_Over_40"][value="Y"]').prop('checked', true);
                switch($(this).val()) {
                    case "Group":
                    $('[name$=".OWBPA_Eligible"][value="Y"]').prop('checked', true);
                    break;
                    case "Individual":
                    $('[name$=".OWBPA_Eligible"][value="N"]').prop('checked', true);
                    break;
                    case "Bulk Load (Silkroad Only)":
                    $('[name$=".OWBPA_Eligible"][value="L"]').prop('checked', true);
                    break;
                }
            }
            // less than 40 Y.O.
            if (ageYears <= 39) {
                $('[name$=".Age_Over_40"][value="N"]').prop('checked', true);
                $('[name$=".OWBPA_Eligible"][value="N"]').prop('checked', true);
            }
            if (!this.value.length || (ageYears <= 39 && this.value == 'Bulk Load (Silkroad Only)')) {
                $('[name$=".OWBPA_Eligible"]').prop('checked', false);
            }
            // populate age
            $('[name$="OWBPA_Age"]').val(ageYears);
            if ($(this).val() == 'Group') {
                $('[name$=".Decisional_Unit"]').closest('.input_wrapper').show();
                return;
            }
            $('[name$=".Decisional_Unit"]').val('').closest('.input_wrapper').hide();
        });
        $('[name$=".Individual_or_Group"]').trigger('change');

        // focus field labels
        $.each($('form input[type="text"], form select:visible, form textarea:visible'),function(k,v) {
            focusInputLabel($(v));
        });

        // pass validation data length to each fields
        $.each($('[data-fieldgroup-minlength]'), function(k,v) {
            $(v).find('input').data('minlength', $(v).data('fieldgroup-minlength'));
        });
        $.each($('[data-fieldgroup-maxlength]'), function(k,v) {
            $(v).find('input').data('maxlength', $(v).data('fieldgroup-maxlength'));
        });

        // validate each field
        providerContext.on('blur click paste keyup', 'input[type="text"]:not(".hasDatepicker"), select, textarea', function() {
          if ($(this).prop('id') == 'Employee_HRISID' && this.value.length > 0) {
            validateField($(this), false, employeeIDValidator);
            return;
          }
          if($(this).is(':visible') && !validateField($(this))) {
            $(this).parent().find('.text-error').css({'display': 'inline-block', 'margin-bottom': '-2px'}); 
          }
        });

        // validate each date fields
        providerContext.on('change blur paste', 'input[name$="_display"]:not(":hidden"), input.hasDatepicker:not(:hidden)', function() {
          validateField($(this)); 
        });

        providerContext.on('change blur paste', 'input[type="radio"]:not(":hidden")', function() {
          validateField($(this)); 
        });

        // save and complete later
        providerContext.on('click', '#EUPDefaultSaveButton', function(e) {
            e.preventDefault();
            DisableValidation();doSave_Custom('refer-Save');
        });

        // submit the form if no errors
        providerContext.on('click', '#TaskSummary_ButtonSave', function(e) {
            e.preventDefault();
            let formIsValid = true;
            $.each($('input:visible, select:visible, textarea:not(":hidden")', providerContext), function(k,v) {
              // all other fields
              if($(v).is(':visible') && !validateField($(v))) {
                formIsValid = false;
              }
              // employee id validation
              if ($(v).is(':visible') && $(v).prop('name') == 'Employee_HRISID' && !validateField($('#Employee_HRISID'), false, employeeIDValidator)) {
                formIsValid = false;
              }
              if(!validateField($('[name$=".IE_Enhanced_Separation_Policy_Ack_Documents"]'), false, enhancedSeparationPolicy)){
                if($('[data-error-id$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').length){
                    $('[data-error-id$=".IE_Enhanced_Separation_Policy_Ack_Documents"]').css('display','none');
                }
                formIsValid = false;
              }

              if(!validateField($('[name$=".I_Separation_Policy_Ack_Docs"]'), false, iSeparationPolicy)){
                if($('[data-error-id$=".I_Separation_Policy_Ack_Docs"]').length){
                    $('[data-error-id$=".I_Separation_Policy_Ack_Docs"]').css('display','none');
                }
                formIsValid = false;
              }
            })
            if (formIsValid) {
                doSave_Custom('refer-Complete');
            }
            else {
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
        });

        if (isProfileCompleted) {
          $('input, textarea, select', providerContext).prop('disabled', true);
        }

             // show retention
             if ("<$client.tEventCategories_Category_46.Value>" != "Retention Eligible - Yes") {
                 $('[name$="Retention"], [name$="Retention_Eligible"], #Special_Event_Retention_Date_pseudo').val('').closest('.input_wrapper').hide();
             }

            if ("<$client.tEventCategories_Category_52.Value>" == "Voluntary") {
                $('#Notification_Date_pseudo').closest('.input_wrapper').hide();
            }
             
             // show Planned Last Day Worked
             ("<$client.tEventCategories_Category_52.Value>" != "Voluntary") && $('[name$=".Planned_Last_Day_Worked_display"], #Planned_Last_Day_Worked_pseudo').datepicker('setDate', null);
             if ("<$client.tEventCategories_Category_52.Value>" != "Voluntary") {
                 $('#Planned_Last_Day_Worked_pseudo').closest('.input_wrapper').hide();
             }

    });
</script>
