<div id="task_summary_outer">
    <div id="bg-image">.</div>
    <div id="EditProfile_container">
        <div id="EditProfile_wrapper">
            <div id="EditProfile">
                <h2>Launch Onboarding Event</h2>
                <h4>This page simplifies the process of launching an onboarding event.</h4>
                <div class="heading">
                    <span class="heading-inner">
                        POSITION INFORMATION
                    </span>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptBusiness_Title>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptBusiness_Title></span>
                    <$client.env.inputBusiness_Title>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptSystemTitle>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptSystemTitle></span>
                    <$client.env.inputSystemTitle>
                </div>
                <div class="merge">
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptSalaryGradeLvl>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptSalaryGradeLvl></span>
                        <$client.env.inputSalaryGradeLvl>
                    </div>
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptEmployee_Group_CD>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptEmployee_Group_CD></span>
                        <$client.env.inputEmployee_Group_CD>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptExempt>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptExempt></span>
                        <$client.env.inputExempt>
                    </div>
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptJobType>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptJobType></span>
                        <$client.env.inputJobType>
                    </div>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptEnityName>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptEnityName></span>
                    <$client.env.inputEnityName>
                </div>
                <div class="input_wrapper mb-30" data-fieldgroup-title="<$client.env.promptEntityAddress>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptEntityAddress></span>
                    <$client.env.inputEntityAddress>
                </div>
                <div class="heading">
                    <span class="heading-inner">
                        COMPENSATION
                    </span>
                </div>
                <div class="merge">
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptSALARY_CURRENCY>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptSALARY_CURRENCY></span>
                        <$client.env.inputSALARY_CURRENCY>
                    </div>
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptSalary_Amount>" data-fieldgroup-validation="required,regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="consisting of number, comma, and/or period">
                        <span class="floating-label"><$client.env.promptSalary_Amount></span>
                        <$client.env.inputSalary_Amount>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper mb-0 hidden-xs"></div>
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptSalaryOffered>" data-fieldgroup-validation="required,regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="consisting of number, comma, and/or period">
                        <span class="floating-label"><$client.env.promptSalaryOffered></span>
                        <$client.env.inputSalaryOffered>
                    </div>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="<$client.env.prompteIP_Target_Pct>" data-fieldgroup-maxlength="3" data-fieldgroup-validation="regex"  data-fieldgroup-regex="^[0-9]+$" data-fieldgroup-message="consisting of numbers only">
                    <span class="floating-label"><$client.env.prompteIP_Target_Pct></span>
                    <$client.env.inputeIP_Target_Pct>
                </div>
                <div class="input_wrapper mb-30" data-fieldgroup-title="<$client.env.promptNEW_HIRE_REST_STOCK_UNITS>" data-fieldgroup-validation="regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="consisting of number, comma, and/or period">
                    <span class="floating-label"><$client.env.promptNEW_HIRE_REST_STOCK_UNITS></span>
                    <$client.env.inputNEW_HIRE_REST_STOCK_UNITS>
                </div>

                <div class="heading">
                    <span class="heading-inner">
                        BONUS
                    </span>
                </div>
                <div class="input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptHire_on_Bonus_Eligible>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Hire_on_Bonus_Eligible_label">
                    <label id="Hire_on_Bonus_Eligible_label">
                        <strong>Does this employee qualify for an annual bonus (equals one-month salary)?</strong>
                    </label>
                    <$client.env.inputHire_on_Bonus_Eligible>
                </div>
                <div class="merge equal">
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptHIRE_ON_BONUS_CRNCY_CD>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptHIRE_ON_BONUS_CRNCY_CD></span>
                        <$client.env.inputHIRE_ON_BONUS_CRNCY_CD>
                    </div>
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptHIRE_ON_BONUS_AMOUNT>" data-fieldgroup-validation="required,regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="consisting of number, comma, and/or period">
                        <span class="floating-label"><$client.env.promptHIRE_ON_BONUS_AMOUNT></span>
                        <$client.env.inputHIRE_ON_BONUS_AMOUNT>
                    </div>
                </div>
                <div class="merge mb-30 equal">
                    <div class="input_wrapper mb-0 hidden-xs"></div>
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptInstallment_Amount>" data-fieldgroup-validation="required,regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="consisting of number, comma, and/or period">
                        <span class="floating-label"><$client.env.promptInstallment_Amount></span>
                        <$client.env.inputInstallment_Amount>
                    </div>
                </div>

                <div class="heading" data-location-group="CHN">
                    <span class="heading-inner">
                        CHINA-SPECIFIC SECTION
                    </span>
                </div>
                <div class="input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptAnnualOneMonthBonus>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#AnnualOneMonthBonus_label">
                    <label id="AnnualOneMonthBonus_label">
                        <strong>Is this employee eligible for an annual bonus (equals one-month salary)?</strong>
                    </label>
                    <$client.env.inputAnnualOneMonthBonus>
                </div>
                <div class="input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptLanguage_Allowance>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Language_Allowance_label">
                    <label id="Language_Allowance_label">
                        <strong>Does this employee qualify for a language allowance?</strong>
                    </label>
                    <$client.env.inputLanguage_Allowance>
                </div>
                <div class="input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptProbationPeriodTime>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#ProbationPeriodTime_label">
                    <label id="Language_Allowance_label">
                        <strong>Select the probation period for this employee.</strong>
                    </label>
                    <$client.env.inputProbationPeriodTime>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptLanguage_Allowance_Amount>" data-fieldgroup-validation="regex"  data-fieldgroup-regex="(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$" data-fieldgroup-message="consisting of number, comma, and/or period">
                    <span class="floating-label"><$client.env.promptLanguage_Allowance_Amount></span>
                    <$client.env.inputLanguage_Allowance_Amount>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptNationality>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptNationality></span>
                    <$client.env.inputNationality>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_ID_Card_Number>">
                    <span class="floating-label"><$client.env.promptChina_ID_Card_Number></span>
                    <$client.env.inputChina_ID_Card_Number>
                </div>
                <div class="input_wrapper mb-30" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptPassport_Number_Foreigner>">
                    <span class="floating-label"><$client.env.promptPassport_Number_Foreigner></span>
                    <$client.env.inputPassport_Number_Foreigner>
                </div>

                <div class="heading" data-location-group="CHN">
                    <span class="heading-inner">
                        TRANSLATE TO CHINESE
                    </span>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Entity_Name>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Entity_Name></span>
                    <$client.env.inputChina_Entity_Name>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Entity_Address>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Entity_Address></span>
                    <$client.env.inputChina_Entity_Address>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Event_Location>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Event_Location></span>
                    <$client.env.inputChina_Event_Location>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Nationality>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Nationality></span>
                    <$client.env.inputChina_Nationality>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Business_Card_Title>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Business_Card_Title></span>
                    <$client.env.inputChina_Business_Card_Title>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Job_Type>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Job_Type></span>
                    <$client.env.inputChina_Job_Type>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Current_Date>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Current_Date></span>
                    <$client.env.inputChina_Current_Date>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Start_Date>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Start_Date></span>
                    <$client.env.inputChina_Start_Date>
                </div>
                <div class="input_wrapper" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Start_Date_Plus>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Start_Date_Plus></span>
                    <$client.env.inputChina_Start_Date_Plus>
                </div>
                <div class="input_wrapper mb-18" data-location-group="CHN" data-fieldgroup-title="<$client.env.promptChina_Probation_End_Date>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptChina_Probation_End_Date></span>
                    <$client.env.inputChina_Probation_End_Date>
                </div>
                
                <div class="button_group">
                    <div id="save"></div>
                    <div id="saveandcomplete"></div>
                    <div id="cancel"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<input type="hidden" id="Site_Name" name="Site_Name" value="<$client.env.index.site_name>" />
<input type="hidden" id="Evt_Location_Code" name="Evt_Location_Code" value="<$client.tEventCategories_Category_11.Code>" />
<input type="hidden" id="Evt_Location" name="Evt_Location" value="<$client.tEventCategories_Category_11.Value>" />

<link href="<$link;/main/RedCarpet/FormTemplates/FormSupport/css/front_validator.css>" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<$link;/main/SiteGen/DynamicContent/Snippets/Paypal_EditProfile/js>/country.js"></script>
<script type="text/javascript" src="<$link;/main/SiteGen/DynamicContent/Snippets/Paypal_EditProfile/js>/custom-paypal.js"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/moment-with-locales.min.js>"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/front_validator.js>" defer></script>

<script type="text/javascript">
    /**
     * SERVICES-36314 | jjucutan | PayPal - Create APAC Provider Page
     * Define here functions that can be reused
     */
    var focusInputLabel = function(el, isFocused) {
        var label = el.closest('.input_wrapper')
            .find('span.floating-label')
            .removeClass('label-focus')
            .css({"color": "#666666"});
        if (el.val().trim().length > 0 || isFocused) {
            label.addClass('label-focus');
        }
        if (isFocused === true) {
            label.css({"color": "#0070BA"});
        }
    }
    var updateTargetOnChange = function(origin, target) {
        origin.on('change', function() {
            target.val(origin.val());
            if (origin.is(':checked')) {
                target.val(origin.val());
            }
            if (origin.hasClass('hasDatepicker')) {
                target.val(moment().diff(origin.val(), 'years'));
            }
        });
    }
    var fieldHasVal = function(el) {
        var hasVal = false;
        $.each(el, function(k, v) {
            if ($(v).val().length) {
                hasVal = true;
            }
        });
        return hasVal;
    }
    var isCheckboxChecked = function(el) {
        var hasChecked = false;
        $.each(el, function(k,v){
            if ($(v).is(':checked')) {
                hasChecked = true;
            }
        });
        return hasChecked;
    }
    var setDefaultValue = function(el, defaultValue) {
        if (el.is('input[type="checkbox"]') || el.is('input[type="radio"]')) {
            if (!isCheckboxChecked(el)) {
                $.each(el, function(k,v) {
                    if ($(v).val() === defaultValue) {
                        $(v).prop('checked', 'checked');
                    }
                });
            }
            el.val([defaultValue]);
        }
        if (el.is('input[type="text"]') && el.val().trim().length < 1) {
            el.val(defaultValue);
        }
    }
    $(window).on('load', function() {
        var months = ["January","February","March","April","May","June","July", "August","September","October","November","December"];
        $('.floating-label span').css('color', 'rgb(102, 102, 102)');
        $('.cal_and_button').prop('cellpadding', 0).prop('cellspacing', 0);
        var isProfileCompleted = sTaskComplete;
        // replace default submit button with paypal styled
        $('#TaskSummary_ButtonCancel').appendTo('#cancel').show();
        if (!isProfileCompleted) {
            $('#TaskSummary_ButtonSave').appendTo('#saveandcomplete').prop('onclick', null).show().text('Continue');
            $('#EUPDefaultSaveButton').appendTo('#save').show();
        }

        // load form when all set
        $('#EditProfile_wrapper').fadeIn();
        

        // set datepickers
        $('[name$="China_Current_Date"],[name$="China_Start_Date"]').datepicker({
            dateFormat: 'd MM yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+100"
        });
        $('[name$="China_Current_Date"]').datepicker({
            'onSelect': function(dateText, instance) {
                if($(this).val().length) {
                    focusInputLabel($(this));
                }
            }
        });
        if (!isProfileCompleted && "<$client.env.eval(date.now('%B %d, %Y').toString())>".length) {
            $('[name$="China_Current_Date"]').datepicker('setDate', new Date("<$client.env.eval(date.now('%B %d, %Y').toString())>"));
        }
        $('[name$="China_Start_Date"]').datepicker({
            'onSelect': function(dateText, instance) {
                if($(this).val().length) {
                    focusInputLabel($(this));
                }
            }
        });
        $('[name$="China_Start_Date"]').on('change', function() {
            focusInputLabel($('[name$="China_Start_Date_Plus"]').val(''));
            if ($(this).val().length) {
                // set Start Date plus 3 years
                var startDatePlus = $(this).datepicker("getDate");
                startDatePlus.setFullYear(startDatePlus.getFullYear() + 3); 
                focusInputLabel($('[name$="China_Start_Date_Plus"]').val(startDatePlus.getDate() + ' ' + months[startDatePlus.getMonth()] + ' ' + startDatePlus.getFullYear()));

                // set Start Date plus probation
                if($('[name$="ProbationPeriodTime"]').is(':checked')) {
                    var probationEndDate = $(this).datepicker("getDate");
                    probationEndDate.setMonth(probationEndDate.getMonth() + parseInt($('[name$="ProbationPeriodTime"]:checked').val())); 
                    focusInputLabel($('[name$="China_Probation_End_Date"]').val(probationEndDate.getDate() + ' ' + months[probationEndDate.getMonth()] + ' ' + probationEndDate.getFullYear()));
                }
            }
            setTimeout(function() {
                validateField($('[name$="China_Start_Date_Plus"]'));
                validateField($('[name$="China_Probation_End_Date"]'));
            }, 200);
        });
        $('[name$="ProbationPeriodTime"]').on('change', function() {
            $('[name$="China_Start_Date"]').trigger('change');
        });
        if (!isProfileCompleted && (!$('[name$="China_Start_Date"]').val().length || "<$client.env.eval(Date.Format('<$client.env.eval(Date.parse(client.tEventDates_Date_2.Value))>','%B %d %Y'))>".length)) {
            $('[name$="China_Start_Date"]')
                .datepicker('setDate', new Date("<$client.env.eval(Date.Format('<$client.env.eval(Date.parse(client.tEventDates_Date_2.Value))>','%B %d %Y'))>"))
                .trigger('change');
        }

        // focus style text and select fields
        $('form').on('focus', 'input[type="text"], select', function() {
            focusInputLabel($(this), true);
        }).on('blur', 'input[type="text"], select', function() {
            focusInputLabel($(this));
        });
        // focus style date fields
        $('form').on('focus change', 'input.hasDatepicker', function() {
            focusInputLabel($(this), true);
        }).on('blur change', 'input.hasDatepicker', function() {
            focusInputLabel($(this));
        });
        $('form').on('focus change', '.datepicker_button', function() {
            focusInputLabel($(this).closest('.cal_and_button').find('input[type="text"]'), true);
        }).on('blur change', '.datepicker_button', function() {
            focusInputLabel($(this).closest('.cal_and_button').find('input[type="text"]'));
            $(this).parent().find('.hasDatepicker').trigger('change'); 
        });

        // hide sections not on event location
        $.each($('[data-location-group]'), function(k,v) {
            if($(v).data('location-group') !== $('#Evt_Location_Code').val().substring(0,3)) {
                $(v).hide().find('input[type="text"]').val("");
            }
        });

        // pass validation data to each fields
        $.each($('[data-fieldgroup-validation]'), function(k,v) {
            $(v).find('input:not(":hidden"), select:visible').data('validation', $(v).data('fieldgroup-validation'));
        });
        // pass regex data to each fields
        $.each($('[data-fieldgroup-regex]'), function(k,v) {
            $(v).find('input:not(":hidden")').data('regex', $(v).data('fieldgroup-regex'));
        });
        // pass regex message to each fields
        $.each($('[data-fieldgroup-message]'), function(k,v) {
            $(v).find('input:not(":hidden")').data('message', $(v).data('fieldgroup-message'));
        });

        // pass validation data length to each fields
        $.each($('[data-fieldgroup-minlength]'), function(k,v) {
            $(v).find('input:not(":hidden")').data('minlength', $(v).data('fieldgroup-minlength'));
        });
        $.each($('[data-fieldgroup-maxlength]'), function(k,v) {
            $(v).find('input:not(":hidden")').data('maxlength', $(v).data('fieldgroup-maxlength'));
        });
        
        // pass target label to each radio or checkbox fields
        $.each($('[data-fieldgroup-targetlabel]'), function(k,v) {
            $(v).find('input[type="checkbox"]:not(":hidden"), input[type="radio"]:not(":hidden")').data('label', $(v).data('fieldgroup-targetlabel'));
        });

        // pass title data to each fields
        $.each($('[data-fieldgroup-title]'), function(k,v) {
            $(v).find('input:not(":hidden"), select').data('title', $(v).data('fieldgroup-title'));
        });

        // focus field labels
        $.each($('form input[type="text"]:not(":hidden"), form select'),function(k,v) {
            focusInputLabel($(v));
        });

        // validate each field
        $('form').on('blur click', 'input[type="text"]:not(":hidden"), select', function() {
            if(!validateField($(this))) {
                $(this).parent().find('.text-error').css({'display': 'inline-block', 'margin-bottom': '-2px'}); // style hack since IE is such a reliable browser ;-) // changed block to inline-block
            }
        });

        // validate each date fields
        $('form').on('change', 'input[name$="_display"]:not(":hidden"), input.hasDatepicker', function() {
            validateField($(this)); 
        });

        // submit the form if no errors
        $('form').on('click', '#TaskSummary_ButtonSave', function(e) {
            e.preventDefault();
            var formIsValid = true;
            $.each($('form input:not(":hidden"):not(".datepicker_button"), form select'), function(k,v) {
                if(!validateField($(v))) {
                    formIsValid = false;
                }
            })
            if (formIsValid) {
                doSave_Custom('refer-Complete');
            }
            else {
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
        });

    });
</script>
