<main class="container-fluid">
    <header class="row vspace">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-right">
            <img src="<$link;/main/RedCarpet/FormTemplates/EL_CAMINO_COLLEGE_BOARD_ITEM_-_NEW_HIRE/img/ecc_logo.jpg>" alt="EL CAMINO COLLEGE LOGO" class="img-responsive">
        </div>
    </header>
    <div class="row vspace">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5 class="text-center">
                <strong>EL CAMINO COLLEGE BOARD ITEM – NEW HIRE</strong>
            </h5>
            <p>
                <strong><u>PART I.</u></strong>
            </p>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
                    <span class="hidden-md hidden-lg">
                        Legal Name (Last, First, Middle Initial)
                    </span>
                    <$client.env.FormField.a01_Legal_Name.HTML>
                    <span class="hidden-sm hidden-xs">
                        Legal Name (Last, First, Middle Initial)
                    </span>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 vspace">
                    <$client.env.FormField.a01_Legal_Name_First.HTML>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 vspace">
                    <$client.env.FormField.a01_Legal_Name_Initial.HTML>
                </div>
            </div>
        </div>
    </div>   
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.a03_Home_Address.HTML>
            Home Address
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.a04_Phone.HTML>
            Phone
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.a05_City.HTML>
            City
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.a06_State.HTML>
            State
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.a07_Zip.HTML>
            Zip
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vspace">
            <p>
                <strong><u>PART II.</u></strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.a08_Effective_Date.HTML>
            Effective Date
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.a09_End_Date.HTML>
            End Date
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.a10_Position_Title.HTML>
            Position Title:
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.Division.HTML>
            Division
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.Area.HTML>
            Area
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.Assign.HTML>
            Assignment
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.a14_Percen_of_Assignment.HTML>
            % of Assignment
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.a15_Class_Range.HTML>
            Class/Range
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.a16_Step.HTML>
            Step
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.Sal_Sched.HTML>
            Salary Schedule
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.New_Hire_Info.HTML>
            New Hire Information
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.Emp_Cat.HTML>
            Employment Category
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
            New Position
            <div class="inline-block align-middle">
                <$client.env.FormField.New_Pos.HTML>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
            <$client.env.FormField.a21_Replacement_For.HTML>
            Replacement For
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vspace">
            Work Schedule
            <div class="inline-block col-80 align-middle">
                <$client.env.FormField.a22_Work_Schedule.HTML>
                <div class="col-lg-offset-1">
                    **REQUIRED FOR CLASSIFIED/TEMPORARY CLASSIFIED POSITIONS
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vspace">
            Account Code
            <$client.env.FormField.a23_Account_Code.HTML>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                <strong><u>PART III.</u></strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vspace">
            (1) Approved by
            <$client.env.FormField.a24_Dean_Director_Manager.HTML>
            Dean/Director/Manager
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 vspace">
            Date
            <$client.env.FormField.a25_Date.HTML>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vspace">
            (2) Approved by
            <$client.env.FormField.a26_Fiscal_Services.HTML>
            Fiscal Services
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 vspace">
            Date
            <$client.env.FormField.a27_Date.HTML>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vspace">
            (3) Approved by
            <$client.env.FormField.a28_Area_Vice_President.HTML>
            Area Vice President
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 vspace">
            Date
            <$client.env.FormField.a29_Date.HTML>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vspace">
            (4) Approved by Board of Trustees on
            <$client.env.FormField.a30_Asst_to_VPHR.HTML>
            Asst. to VPHR
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 vspace">
            (5) Approved by
            <$client.env.FormField.a31_Vice_President_Human_Resources_or_Designee.HTML>
            Vice President, Human Resources or Designee
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 vspace">
            Date
            <$client.env.FormField.a32_Date.HTML>
        </div>
    </div>
    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="lifesuite__clearfix lifesuite__float-right">
            <$client.env.FormButtons>
        </div>
    </div>
</main>
