<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal" style="display:none;">
  <div class="modal-content" style="margin: 20% auto 0 !important; max-width: 480px !important;">
    <p class="h5">
        <strong>Electronic Signature</strong>
    </p>
    <p><$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)></p>
    <div class="row">
      <div class="col-lg-12">
        <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="sign-btn-group">
            <input type="button" class="lifesuite__button primary" value="Sign" onclick="validateSignature('signature','eSignature1','fullName','modal','over','sv', 'Date');xbObj('eSignature1').value='';document.getElementById('eSignature1').focus();">&nbsp;
            <input type="button" class="lifesuite__button" value="Clear" onclick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value=''; if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','Date');}">&nbsp;
            <input type="button" class="lifesuite__button" value="Cancel" onclick="showHide('modal');showHide('over');xbObj('eSignature1').value='';" style="margin-right: -8px;">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="over" style="display:none;"></div>
<!-- RESPONSIVE eFORM PAGE LOADER-->
<div class="modal" style="display:block; background: #002E6D;">
  <div class="fb-spinner">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<form name="frmForm" action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);" role="form">
    <div hidden>
        <$client.env.FormField.Form_Name.prompt>
        <$client.env.FormField.Form_Name.HTML>
        <$client.env.FormField.Form_Type.prompt>
        <$client.env.FormField.Form_Type.HTML>
        <$client.env.FormField.Form_Owner.prompt>
        <$client.env.FormField.Form_Owner.HTML>
        <$client.env.FormField.Form_CreateDate.prompt>
        <$client.env.FormField.Form_CreateDate.HTML>
        <$client.env.FormField.Form_Completed.prompt>
        <$client.env.FormField.Form_Completed.HTML>
        <$client.env.FormField.Form_Delivered.prompt>
        <$client.env.FormField.Form_Delivered.HTML>
        <$client.env.FormField.Form_TaskId.prompt>
        <$client.env.FormField.Form_TaskId.HTML>
        <$client.env.FormField.display_version.HTML>
        <!-- Replace With eForm Specific Data Field Prompts From Formalizer-->
        <$client.env.FormField.Address.prompt>
        <$client.env.FormField.City.prompt>
        <$client.env.FormField.College.prompt>
        <$client.env.FormField.County.prompt>
        <$client.env.FormField.Course.prompt>
        <$client.env.FormField.DOB.prompt>
        <$client.env.FormField.Date.prompt>
        <$client.env.FormField.Degree.prompt>
        <$client.env.FormField.DegreeDate.prompt>
        <$client.env.FormField.DegreeName.prompt>
        <$client.env.FormField.FirstName.prompt>
        <$client.env.FormField.HRCollegeName.prompt>
        <$client.env.FormField.HRConferred.prompt>
        <$client.env.FormField.HRDateConducted.prompt>
        <$client.env.FormField.HRDateVerified.prompt>
        <$client.env.FormField.HRDesignation.prompt>
        <$client.env.FormField.HRVerified.prompt>
        <$client.env.FormField.HRVerifyDegree.prompt>
        <$client.env.FormField.InstitutionCity.prompt>
        <$client.env.FormField.InstitutionState.prompt>
        <$client.env.FormField.LastName.prompt>
        <$client.env.FormField.RegistrarLastName.prompt>
        <$client.env.FormField.RegistrarFirstName.prompt>
        <$client.env.FormField.SchoolName.prompt>
        <$client.env.FormField.Middle.prompt>
        <$client.env.FormField.Phone.prompt>
        <$client.env.FormField.SSNO.prompt>
        <$client.env.FormField.Signature.prompt>
        <$client.env.FormField.State.prompt>
        <$client.env.FormField.rbGraduate.prompt>
    </div>
    <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">
<main class="container-fluid">

    <div class="row mb-2">
        <div class="col-sm-12">
            <div class="d-sm-flex bg-dark text-white align-items-center py-2">
                <div class="px-3">
                    <div style="max-width: 200px;">
                        <img src="<$link;/main/RedCarpet/FormTemplates/Employee_Disclosure_and_Release_For_Degree_Verification/img/pearson_logo_black.png>" alt="Pearson Logo" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                <strong>EMPLOYEE DISCLOSURE AND RELEASE <br> FOR DEGREE VERIFICATION</strong>
            </p>
            <p>In connection with my employment with NCS Pearson Inc. or its affiliates, I understand that a Pearson representative will verify that I have the educational credentials indicated on my application for employment. The verification may be performed directly through the institution I attended or via a third party such as National Student Clearinghouse, Degree Check or USIS. I authorize educational institutions to provide information about my educational background, including but not limited to academic records, degree attainment, and disciplinary record.  I agree to release the educational institutions and NCS Pearson’s agents from any liability for collecting that information.</p>
            <p>I agree that this Disclosure and Release will be valid, now or in the future, in original, faxed, copied or electronic form.</p>
            <p>I understand that my date of birth will be used solely for identification purposes.</p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-4">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">First Name</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.FirstName.HTML>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Full Middle</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.Middle.HTML>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Last</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.LastName.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Name listed on Degree First</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.RegistrarFirstName.HTML>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Middle</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.RegistrarMiddleName.HTML>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Last</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.RegistrarLastName.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-4">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Date of Birth</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.DOB.HTML>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Social Security Number #</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.SSNO.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Present Address</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.Address.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">City/State/Zip/County</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.City.HTML>
                </div>
                <div class="pe-2">
                    <$client.env.FormField.State.HTML>
                </div>
                <div class="pe-2">
                    <$client.env.FormField.Zip.HTML>
                </div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.County.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Telephone Number(s)</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.Phone.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">College/University</div>
                <div class="flex-grow-1 pe-2">
                    <select name="school-dropdown" id="school-dropdown"></select>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">City &amp; State of Institution</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.InstitutionCity.HTML>
                </div>
                <div class="pe-2">
                    <$client.env.FormField.InstitutionState.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Did you graduate?</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.rbGraduate.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Degree Attained</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.Degree.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Date Degree Conferred</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.DegreeDate.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Major Course of Study</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.Course.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>If you a re submitting this form electronically, type your name on the employee signature line and select today’s date. This is your electronic signature. By electronically signing this form, you agree to all the terms contained herein.</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-7">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Employee Signature</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.Signature.HTML>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="d-md-flex align-items-center">
                <div class="pe-1">Date</div>
                <div class="flex-grow-1 pe-2">
                    <$client.env.FormField.Date.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-2 border-bottom border-dark"></div>

    <div class="row">
        <div class="col-md-12">
            <p>HR Use Only – Applicant please DO NOT complete the section below.</p>
        </div>
    </div>

    <div class="border border-dark">
        <div class="row border-dark border-bottom">
            <div class="col-md-3 border-dark border-md-end">
                Name of College (If more than one listed):
            </div>
            <div class="col-md-3 border-dark border-md-end">
                <$client.env.FormField.HRCollegeName.HTML>
            </div>
            <div class="col-md-3 border-dark border-md-end">
                Degree Verified By:
            </div>
            <div class="col-md-3">
                <$client.env.FormField.HRVerifyDegree.HTML>
            </div>
        </div>
        <div class="row border-dark border-bottom">
            <div class="col-md-3 border-dark border-md-end">
                Degree Designation:
            </div>
            <div class="col-md-3 border-dark border-md-end">
                <$client.env.FormField.HRDesignation.HTML>
            </div>
            <div class="col-md-3 border-dark border-md-end">
                Date Verification Conducted:
            </div>
            <div class="col-md-3">
                <$client.env.FormField.HRDateConducted.HTML>
            </div>
        </div>
        <div class="row border-dark border-bottom">
            <div class="col-md-3 border-dark border-md-end">
                Date Degree Conferred:
            </div>
            <div class="col-md-3 border-dark border-md-end">
                <$client.env.FormField.HRConferred.HTML>
            </div>
            <div class="col-md-3 border-dark border-md-end">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 border-dark border-md-end">
                Verified by (HR Rep)
            </div>
            <div class="col-md-3 border-dark border-md-end">
                <$client.env.FormField.HRVerified.HTML>
            </div>
            <div class="col-md-3 border-dark border-md-end">
                Date Verified:
            </div>
            <div class="col-md-3">
                <$client.env.FormField.HRDateVerified.HTML>
            </div>
        </div>
    </div>

    <hr class="lifesuite__hr">

    <div class="row" id="formButtons" style="display: none;">
        <div class="sign-btn-group">
            <$client.env.FormButtons>
        </div>
    </div>
</main>

<div hidden>
    <$client.env.FormField.FullName.HTML>
    <$client.env.FormField.SchoolName.HTML>
    <$client.env.FormField.SchoolCode.HTML>
    <$client.env.FormField.SignatureVerification.HTML>
</div>

</form>
<script src="<$link;/main/RedCarpet/FormTemplates/Employee_Disclosure_and_Release_For_Degree_Verification/js/bootstrap.min.js>"></script>
<script src="<$link;/main/RedCarpet/FormTemplates/Employee_Disclosure_and_Release_For_Degree_Verification/js/script.js>" defer></script>
<script>
showScreen('over');
ChangeCalendarIcons(); //for popup calendar
/* RESPONSIVE eFORM BUTTONS STYLE */
$(document).on('ready', function() {
    $("#buttonCancel").removeClass().addClass("lifesuite__button").prop('id','ButtonCancel');
    $("#buttonSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSave');
    $("#buttonSaveAndComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSaveAndComplete');
    $("#buttonPrint").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPrint');
    $("#buttonPreviewDelete").removeClass().addClass("lifesuite__button").prop('id','ButtonPreviewDelete');
    $("#buttonPreviewSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPreviewSave');
    $("#buttonComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonComplete');
    $("input[type=text]").addClass('lifesuite__text-input');
    $("input[type=text].hasDatepicker").addClass('dateField');
    $("select").addClass('lifesuite__select-input');
    $("input[type=radio]").addClass('lifesuite__radio');
    $("input[type=checkbox]").addClass('lifesuite__checkbox');
    $("textarea").addClass('lifesuite__textarea-input');
    $('label').addClass('lifesuite__input-label lifesuite__input—block');
    $('#formButtons').show();
});
const UNIVERSITIES = '<$link;/main/RedCarpet/FormTemplates/Employee_Disclosure_and_Release_For_Degree_Verification/js/universities.json>';

const disableCalButton = function(el) {
    "use strict";
    el.parent().find('input').prop('disabled', 'disabled');
}

$(window).on('load', function() {
    $(".modal").hide();
});
angular.element(window).on('load', function() {
    setTimeout(function() {
        angular.element('#divLoader').hide();
    }, 800);
});
</script>
