<main class="container-fluid">
    <header class="row">
        <div class="col-lg-4 col-xs-12 vspace">
            <img src="/assets/img/superone_logo.jpg" alt="Miner's One" class="img-responsive">
        </div>
        <div class="col-lg-3 col-xs-12 pull-right vspace">
            <h4>
                FAX TO: 844-389-5768
            </h4>
            <h4>
                ATTN: PAYROLL
            </h4>
        </div>
        <div class="col-lg-12">
            <h4 class="text-center">
                <strong>EMPLOYEE STATUS REPORT</strong>
            </h4>
        </div>
    </header>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12 border-right">
                Employee ID
                <input type="text">
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                Last Name - Legal
                <input type="text">
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                First Name- Legal
                <input type="text">
            </div>
            <div class="col-lg-2 col-xs-12">
                MI
                <input type="text">
            </div>
        </div>
    </div>

    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-half text-center">
                <div class="inline-block">
                    <h3>
                        <input type="checkbox">
                    </h3>
                </div>
            </div>
            <div class="col-lg-5 col-xs-10 border-left border-right border-left-sm">
                <h4>
                    CHANGE <small>(check box next to changed info)</small>
                </h4>
                Effective Date
                <div class="inline-block">
                    <input type="text">
                </div>
            </div>
            <div class="col-lg-half text-center">
                <div class="inline-block">
                    <h3>
                        <input type="checkbox">
                    </h3>
                </div>
            </div>
            <div class="col-lg-5 col-xs-10 border-left border-left-sm">
                <h4>
                    NEW HIRE/ RE HIRE
                </h4>
                Date First Worked
                <div class="inline-block">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>

    <div class="box border-bottom">
        <div class="row border-bottom">
            <div class="col-lg-half hidden-xs">&nbsp;</div>
            <div class="col-11-half col-xs-12 border-left">
                <div class="row border-bottom">
                    <div class="col-lg-4 col-xs-12 border-right">
                        Status
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 border-right">
                        Store
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        Department
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xs-12 border-right">
                        Union/ Unit
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 border-right">
                        Rate of Pay
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        Position
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box border-top border-bottom">
        <div class="row border-bottom">
            <div class="col-lg-half hidden-xs">&nbsp;</div>
            <div class="col-11-half col-xs-12 border-left">
                <div class="row">
                    <div class="col-lg-9 col-xs-12 border-right">
                        <div class="row border-bottom">
                            <div class="col-lg-9 col-xs-12 border-right">
                                Marital Status
                                <div><input type="checkbox"></div>
                                <div><input type="checkbox"></div>
                                <div><input type="checkbox"></div>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                Social Security Number
                                <div class="vspace">
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-lg-9 col-xs-12 border-right">
                                Number of Withholding Allowances OR:
                                <div><input type="checkbox"></div>
                                <div class="inline-block">
                                    <h4>Federal:</h4>
                                </div>
                                <div class="inline-block vspace">
                                    <input type="text">
                                </div>
                                <div class="inline-block">
                                    <h4>State:</h4>
                                </div>
                                <div class="inline-block vspace">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                Sex
                                <div><input type="checkbox"></div>
                                <div><input type="checkbox"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-xs-12 border-right">
                                <div>
                                    Weekly Additional withholding Amount
                                </div>
                                <div class="inline-block">
                                    <h4>Federal: <strong>$</strong></h4>
                                </div>
                                <div class="inline-block vspace">
                                    <input type="text">
                                </div>
                                <div class="inline-block">
                                    <h4>State: <strong>$</strong></h4>
                                </div>
                                <div class="inline-block vspace">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                Date of Birth
                                <div class="vspace">
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12">
                        Race
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box border-top border-bottom">
        <div class="row border-bottom">
            <div class="col-lg-half hidden-xs">&nbsp;</div>
            <div class="col-11-half col-xs-12 border-left">
                <div class="row">
                    <div class="col-lg-4 col-xs-12 border-right border-bottom">
                        Phone Number
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-5 col-xs-12 border-right border-bottom">
                        Mailing Address
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-bottom maining-wrapper">
                        Physical Address
                        <div class="mailing-checkbox">
                            <input type="checkbox"> Same as Mailing
                        </div>
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xs-12">
                        Email Address
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-5 col-xs-12 border-left border-bottom">
                        City
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left border-bottom">
                        City
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                <div class="row">
                </div>
                    <div class="col-lg-4 col-xs-12">&nbsp;</div>
                    <div class="col-lg-5 col-xs-12 border-left">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12 border-right">
                                State
                                <div class="vspace">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                Zip Code
                                <div class="vspace">
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12 border-right">
                                State
                                <div class="vspace">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                Zip Code
                                <div class="vspace">
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box border-top border-bottom">
        <div class="row border-bottom">
            <div class="col-lg-half hidden-xs">&nbsp;</div>
            <div class="col-11-half col-xs-12 border-left">
                <div class="row border-bottom">
                    <div class="col-lg-2 col-xs-12">
                        Payment Option
                        <div><input type="checkbox"></div>
                    </div>
                    <div class="col-lg-8 col-xs-12 border-left border-right">
                        <div class="row">
                            <div class="col-lg-5 col-xs-12">
                                ADP Aline Card Number
                                <div class="vspace">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-1 col-xs-12">
                                <div class="vspace">or</div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                Proxy ID Number
                                <div class="vspace">
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12">
                        Amount
                        <input type="text">
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-lg-2 col-xs-12">
                        Payment Option
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        Name of Financial Institution
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 border-left">
                        Routing Number
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        Account Number
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 border-left">
                        Payment Option
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-lg-2 col-xs-12">
                        Payment Option
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        Name of Financial Institution
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 border-left">
                        Routing Number
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        Account Number
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 border-left">
                        Payment Option
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-xs-12">
                        Payment Option
                        <div><input type="checkbox"></div>
                        <div><input type="checkbox"></div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        Name of Financial Institution
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 border-left">
                        Routing Number
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        Account Number
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 border-left">
                        Payment Option
                        <div class="vspace">
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box border-top vspace">
        <div class="row">
            <div class="col-lg-4 border-right">
                Manager Name
                <div class="vspace">
                    <input type="text">
                </div>
            </div>
            <div class="col-lg-4 border-right">
                Signature
                <div class="vspace">
                    <input type="text">
                </div>
            </div>
            <div class="col-lg-2 border-right">
                Date
                <div class="vspace">
                    <input type="text">
                </div>
            </div>
            <div class="col-lg-2">
                Store Number
                <div class="vspace">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>

    <footer class="row">
        <div class="col-lg-12 text-right">
            <p>Last Revised: 4/4/18</p>
        </div>
    </footer>

    <div class="hr-wide hidden-xs hidden-sm">&nbsp;</div>

</main>
