<main class="container-fluid">
    <header class="row">
        <div class="col-lg-4 col-xs-12 vspace">
            <img src="assets/img/superone_logo.jpg" alt="Miner's One" class="img-responsive">
        </div>
        <div class="col-lg-3 col-xs-12 pull-right vspace">
            <h4>
                FAX TO: 844-389-5768
            </h4>
            <h4>
                ATTN: PAYROLL
            </h4>
        </div>
        <div class="col-lg-12">
            <h4 class="text-center">
                <strong>EMPLOYEE STATUS REPORT</strong>
            </h4>
        </div>
    </header>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12 border-right">
                Employee ID
                <$client.env.FormField.a01_Employee_ID.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                Last Name - Legal
                <$client.env.FormField.a02_Last_Name_Legal.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                First Name- Legal
                <$client.env.FormField.a03_First_Name_Legal.HTML>
            </div>
            <div class="col-lg-2 col-xs-12">
                MI
                <$client.env.FormField.a04_MI.HTML>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-12">
                <$client.env.FormField.a05_Name_Badge.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-left border-right">
                Former Name
                <div class="inline-block">
                    <$client.env.FormField.a06_Never_had_a_name_change.HTML>
                </div>
                <$client.env.FormField.a07_Former_Name.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                Badge Name
                <div class="inline-block">
                    <$client.env.FormField.a08_Same_as_Legal_First_Name.HTML>
                </div>
                <$client.env.FormField.a09_Badge_Name.HTML>
            </div>
            <div class="col-lg-2 col-xs-12">
                <$client.env.FormField.a10_No_MI.HTML>
            </div>
        </div>
    </div>

    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-half text-center">
                <div class="inline-block">
                    <h3>
                        <$client.env.FormField.a11_CHANGE.HTML>
                    </h3>
                </div>
            </div>
            <div class="col-lg-5 col-xs-10 border-left border-right border-left-sm">
                <h4>
                    CHANGE <small>(check box next to changed info)</small>
                </h4>
                Effective Date
                <div class="inline-block vertical-middle">
                    <$client.env.FormField.a12_Change_Effective_Date.HTML>
                </div>
            </div>
            <div class="col-lg-half text-center">
                <div class="inline-block">
                    <h3>
                        <$client.env.FormField.a13_NEW_HIRE_REHIRE.HTML>
                    </h3>
                </div>
            </div>
            <div class="col-lg-5 col-xs-10 border-left border-left-sm">
                <h4>
                    NEW HIRE/ RE HIRE
                </h4>
                Date First Worked
                <div class="inline-block vertical-middle">
                    <$client.env.FormField.a14_Date_First_Worked.HTML>
                </div>
            </div>
        </div>
    </div>

    <div class="box border-bottom">
        <div class="row border-bottom">
            <div class="col-lg-half hidden-xs">&nbsp;</div>
            <div class="col-11-half col-xs-12 border-left">
                <div class="row border-bottom">
                    <div class="col-lg-4 col-xs-12 border-right">
                        Status
                        <div class="vspace">
                            <$client.env.FormField.a15_Status.HTML>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 border-right">
                        Store
                        <div class="vspace">
                            <$client.env.FormField.a16_Store.HTML>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        Department
                        <div class="vspace">
                            <$client.env.FormField.a17_Department.HTML>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xs-12 border-right">
                        Union/ Unit
                        <div class="vspace">
                            <$client.env.FormField.a18_Union_Unit.HTML>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 border-right">
                        Rate of Pay
                        <div class="vspace">
                            <$client.env.FormField.a19_Rate_of_Pay.HTML>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        Position
                        <div class="vspace">
                            <$client.env.FormField.a20_Position.HTML>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box border-top border-bottom">
        <div class="row border-bottom">
            <div class="col-lg-half hidden-xs">&nbsp;</div>
            <div class="col-11-half col-xs-12 border-left">
                <div class="row">
                    <div class="col-lg-9 col-xs-12 border-right">
                        <div class="row border-bottom">
                            <div class="col-lg-9 col-xs-12 border-right">
                                <div class="vspace-sm">
                                  Marital Status
                                </div>
                                <div class="vspace">
                                  <$client.env.FormField.a21_Marital_Status.HTML>
                                  <$client.env.FormField.a22_Marital_Status.HTML>
                                  <$client.env.FormField.a23_Marital_Status.HTML>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                <div class="vspace-sm">
                                  Social Security Number
                                </div>
                                <div class="vspace">
                                    <$client.env.FormField.a24_Social_Security_Number.HTML>
                                </div>
                            </div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-lg-9 col-xs-12 border-right">
                                <div class="vspace-sm">
                                  Number of Withholding Allowances OR:
                                </div>
                                <$client.env.FormField.a25_CLAIM_EXEMPT_FROM_INCOME_TAX.HTML>
                                <div class="inline-block">
                                    <h4>Federal:</h4>
                                </div>
                                <div class="inline-block vspace">
                                    <$client.env.FormField.a26_Federal.HTML>
                                </div>
                                <br class="hidden-sm hidden-md hidden-lg">
                                <div class="inline-block">
                                    <h4>State:</h4>
                                </div>
                                <div class="inline-block vspace">
                                    <$client.env.FormField.a27_State.HTML>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                <div class="vspace-sm">
                                  Sex
                                </div>
                                <$client.env.FormField.a28_Sex.HTML>
                                <$client.env.FormField.a29_Sex.HTML>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-xs-12 border-right">
                                <div class="vspace-sm">
                                    Weekly Additional withholding Amount
                                </div>
                                <div class="vspace-lg">
                                  <div class="inline-block">
                                      <h4>Federal: <strong>$</strong></h4>
                                  </div>
                                  <div class="inline-block vspace">
                                      <$client.env.FormField.a30_Federal.HTML>
                                  </div>
                                  <div class="inline-block">
                                      <h4>State: <strong>$</strong></h4>
                                  </div>
                                  <div class="inline-block vspace">
                                      <$client.env.FormField.a31_State.HTML>
                                  </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                Date of Birth
                                <div class="vspace date-sm">
                                    <$client.env.FormField.a32_Date_of_Birth.HTML>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12">
                        Race
                        <$client.env.FormField.a33_Race.HTML>
                        <$client.env.FormField.a34_Race.HTML>
                        <$client.env.FormField.a35_Race.HTML>
                        <$client.env.FormField.a36_Race.HTML>
                        <$client.env.FormField.a37_Race.HTML>
                        <$client.env.FormField.a38_Race.HTML>
                        <$client.env.FormField.a39_Race.HTML>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box border-top border-bottom">
        <div class="row border-bottom">
            <div class="col-lg-half hidden-xs">&nbsp;</div>
            <div class="col-11-half col-xs-12 border-left">
                <div class="row">
                    <div class="col-lg-4 col-xs-12 border-right border-bottom">
                        Phone Number
                        <div class="vspace">
                            <$client.env.FormField.a40_Phone_Number.HTML>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xs-12 border-right border-bottom">
                        Mailing Address
                        <div class="vspace">
                            <$client.env.FormField.a41_Mailing_Address.HTML>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-bottom mailing-wrapper">
                        Physical Address
                        <div class="mailing-checkbox">
                            <$client.env.FormField.a42_Same_as_Mailing.HTML>
                        </div>
                        <div class="vspace">
                            <$client.env.FormField.a43_Physical_Address.HTML>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xs-12 mailing-wrapper">
                        Email Address
                        <div class="inline-block vertical-middle mailing-checkbox">
                            <$client.env.FormField.a44_No_Email.HTML>
                        </div>
                        <div class="vspace">
                            <$client.env.FormField.a45_Email_Address.HTML>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xs-12 border-left border-bottom">
                        City
                        <div class="vspace">
                            <$client.env.FormField.a46_City.HTML>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left border-bottom">
                        City
                        <div class="vspace">
                            <$client.env.FormField.a47_City.HTML>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xs-12">&nbsp;</div>
                    <div class="col-lg-5 col-xs-12 border-left">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12 border-right">
                                State
                                <div class="vspace">
                                    <$client.env.FormField.a48_State.HTML>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                Zip Code
                                <div class="vspace">
                                    <$client.env.FormField.a49_Zip_Code.HTML>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12 border-right">
                                State
                                <div class="vspace">
                                    <$client.env.FormField.a50_State.HTML>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                Zip Code
                                <div class="vspace">
                                    <$client.env.FormField.a51_Zip_Code.HTML>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box border-top border-bottom">
        <div class="row border-bottom">
            <div class="col-lg-half hidden-xs">&nbsp;</div>
            <div class="col-11-half col-xs-12 border-left">
                <div class="row border-bottom">
                    <div class="col-lg-2 col-xs-12">
                        Payment Option
                        <$client.env.FormField.a52_Payment_Option.HTML>
                    </div>
                    <div class="col-lg-8 col-xs-12 border-left border-right">
                        <div class="row">
                            <div class="col-lg-5 col-xs-12">
                                ADP Aline Card Number
                                <div class="vspace">
                                    <$client.env.FormField.a53_ADP_Aline_Card_Number.HTML>
                                </div>
                            </div>
                            <div class="col-lg-1 col-xs-12">
                                <div class="vspace">or</div>
                            </div>
                            <div class="col-lg-6 col-xs-12">
                                Proxy ID Number
                                <div class="vspace">
                                    <$client.env.FormField.a54_Proxy_ID_Number.HTML>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12">
                        Amount
                        <$client.env.FormField.a55_Amount.HTML>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-lg-2 col-xs-12">
                        Direct Deposit
                        <$client.env.FormField.a56_Direct_Deposit.HTML>
                        <$client.env.FormField.a57_Direct_Deposit.HTML>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        Name of Financial Institution
                        <div class="vspace">
                            <$client.env.FormField.a58_Name_of_Financial_Institution.HTML>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 border-left">
                        Routing Number
                        <div class="vspace">
                            <$client.env.FormField.a59_Routing_Number.HTML>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        Account Number
                        <div class="vspace">
                            <$client.env.FormField.a60_Account_Number.HTML>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 border-left">
                        Amount
                        <div class="vspace">
                            <$client.env.FormField.a61_Amount.HTML>
                        </div>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-lg-2 col-xs-12">
                        <$client.env.FormField.a62_Direct_Deposit.HTML>
                        <$client.env.FormField.a63_Direct_Deposit.HTML>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        <div class="vspace">
                            <$client.env.FormField.a64_Name_of_Financial_Institution.HTML>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 border-left">
                        <div class="vspace">
                            <$client.env.FormField.a65_Routing_Number.HTML>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        <div class="vspace">
                            <$client.env.FormField.a66_Account_Number.HTML>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 border-left">
                        <div class="vspace">
                            <$client.env.FormField.a67_Amount.HTML>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-xs-12">
                        <$client.env.FormField.a68_Direct_Deposit.HTML>
                        <$client.env.FormField.a69_Direct_Deposit.HTML>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        <div class="vspace">
                            <$client.env.FormField.a70_Name_of_Financial_Institution.HTML>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 border-left">
                        <div class="vspace">
                            <$client.env.FormField.a71_Routing_Number.HTML>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 border-left">
                        <div class="vspace">
                            <$client.env.FormField.a72_Account_Number.HTML>
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-12 border-left">
                        <div class="vspace">
                            <$client.env.FormField.a73_Amount.HTML>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box border-top vspace">
        <div class="row">
            <div class="col-lg-4 border-right">
                Manager Name
                <div class="vspace">
                    <$client.env.FormField.a74_Manager_Name.HTML>
                </div>
            </div>
            <div class="col-lg-4 border-right">
                Signature
                <div class="vspace">
                    <$client.env.FormField.a75_Signature.HTML>
                </div>
            </div>
            <div class="col-lg-2 border-right">
                Date
                <div class="vspace date-sm">
                    <$client.env.FormField.a76_Date.HTML>
                </div>
            </div>
            <div class="col-lg-2">
                Store Number
                <div class="vspace">
                    <$client.env.FormField.a77_Store_Number.HTML>
                </div>
            </div>
        </div>
    </div>

    <footer class="row">
        <div class="col-lg-12 text-right">
            <p>Last Revised: 4/4/18</p>
        </div>
    </footer>

    <div class="hr-wide hidden-xs hidden-sm">&nbsp;</div>

  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>

</main>
