<main class="container-fluid">
    <div class="cover-page vspace-md">
        <div class="brand-side hidden-sm hidden-xs">
            <img src="img/anixter_logo_contrast.jpg" alt="" class="img-responsive">
        </div>
        <div class="cover-wrapper hidden-sm hidden-xs"></div>
        <div class="cover-heading vspace-lg">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <h1 class="text-heading">
                        Application for Employment
                    </h1>
                </div>
            </div>
        </div>
        <div class="row vspace-lg">
            <div class="col-lg-6">
                <div class="col-lg-offset-2 col-md-offset-2">
                    <p class="vspace-lg lead">
                        We appreciate the opportunity to review your qualifications for employment with our company. So that we can thoroughly consider your special skills and abilities, please complete this application. We are an equal opportunity employer.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-outer">
        <header class="row vspace-lg">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 pull-right">
                <img src="img/anixter_logo.jpg" alt="" class="img-responsive">
            </div>
        </header>
        <div class="row vspace-md">
            <div class="col-lg-3 col-sm-12 border-bottom">
                <strong class="text-heading">
                    DATE:
                </strong>
                <div class="inline-block">
                    <$client.env.FormField.a_date.HTML>
                </div>
            </div>
        </div>
        <div class="row vspace border-bottom">
            <div class="col-lg-12">
                <h5 class="text-heading">
                    PERSONAL INFORMATION
                </h5>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label class="control-label">
                    1. Name (Last, First, Middle):
                </label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <$client.env.FormField.a_name.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label class="control-label">
                    2. Current Address (Street and Number):
                </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <$client.env.FormField.a_address.HTML>
            </div>
        </div>
         
        <div class="row border-bottom vspace">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    City
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.a_city.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    State
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.a_state.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    Zip
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.a_zip.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    3. Home Telephone:
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <$client.env.FormField.a_home_phone.HTML>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    Work Telephone:
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <$client.env.FormField.a_work_phone.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    4. Cell Phone:
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    eMail:
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                5. If hired, can you submit verification of your legal right to work in the United States?
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                6. Have you ever plead guilty to or been convicted of a felony or misdemeanor?
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
                <div class="inline-block vspace">
                    If your answer is yes please provide a detailed explanation
                </div>
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row vspace">
            <div class="col-lg-12">
                <p>
                    Applicants are not obligated to disclose a conviction that was judicially expunged, sealed or statutorily eradicated. Also, please note that a conviction will not necessarily be a bar to employment.
                </p>
                <p>
                    <strong>For California Applicants:</strong> If you are applying for employment in California, you need not disclose a conviction (a) for a marijuana-related misdemeanor offense over 2 years old; (b) if you completed a pre-or post-trial diversion program; or (c) for a misdemeanor for which probation was successfully completed (or discharged) and the case was judicially dismissed.
                </p>
                <p>
                    <strong>For Massachusetts Applicants:</strong> If you are applying for employment in Massachusetts and have a sealed record on file with the Commissioner of Probation, you may answer “no record” with respect to an inquiry relative to prior arrests, criminal court appearances or convictions. In addition, you may answer “no record” with respect to any inquiry relative to prior arrests, court appearances and adjudications in all cases of delinquency or as a child in need of services that did not result in a complaint transferred to the Superior Court for criminal prosecution. For misdemeanor offenses, do not include a prior first-conviction for drunkenness, simple assault, speeding, minor traffic violations, affray or disturbance of the peace, or a conviction for any misdemeanor where the conviction occurred or any prison sentence ended five or more years before the date of this application, unless you have been convicted of another offense within the last five years.
                </p>
            </div>
        </div>

        <div class="row vspace-md">
           <div class="col-lg-12 border-bottom">
                6b. Have you (or a family member) worked for a government entity in a role that involved engaging in business dealings with Anixter?
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
           </div> 
        </div>

        <div class="vspace row border-bottom">
            <div class="col-lg-12">
                <h5 class="text-heading">
                    JOB INTEREST
                </h5>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    7. Date Available:
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    8. Position Applied For:
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    9. Salary Desired:
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    10. Employment Desired:
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="inline-block">
                    11. How were you referred to Anixter?
                </div>
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
                <div class="inline-block">
                    Name:
                </div>
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="inline-block">
                    12. Do you have relatives employed at Anixter?
                </div>
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
                <div class="inline-block">
                    If yes, please list name(s):
                </div>
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="inline-block">
                    13. Have you previously applied for employment with Anixter?
                </div>
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
            </div>
        </div>

        <div class="row border-bottom vspace-md">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label class="control-label">
                    If yes, please list date(s) and location(s).
                </label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="vspace row border-bottom">
            <div class="col-lg-12">
                <h5 class="text-heading">
                    EDUCATION
                </h5>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label class="control-label">
                    14. Name of High School:
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label class="control-label">
                    Location of High School (City, State):
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace-md">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label class="control-label">
                    Number of Years Completed:
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label class="control-label">
                    Did you earn a degree or GED?
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="vspace row">
            <div class="col-lg-12">
                15. Education Beyond High School
            </div>
        </div>

        <div class="border-top row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                Name of School
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right hidden-xs">
                City and State
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right hidden-xs">
                Type of Degree/Total Hours Earned
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right hidden-xs">
                Major Course of Study
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right visible-xs">
                City and State
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right visible-xs">
                Type of Degree/Total Hours Earned
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right visible-xs">
                Major Course of Study
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right visible-xs">
                Name of School
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right visible-xs">
                City and State
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right visible-xs">
                Type of Degree/Total Hours Earned
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right visible-xs">
                Major Course of Study
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>
        <div class="row border-bottom vspace-md">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right visible-xs">
                Name of School
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right visible-xs">
                City and State
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right visible-xs">
                Type of Degree/Total Hours Earned
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right visible-xs">
                Major Course of Study
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row vspace">
            <div class="col-lg-12">
                <h5 class="text-heading">
                    <u>EMPLOYMENT HISTORY</u>
                    <small>(Begin with most recent position)</small>
                </h5>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                16a. Employer
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                Dates Employed
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                Annual Salary or Hourly Rate (Starting)
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                (Final)
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Address
                </label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    Telephone
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Position/Responsibilities
                </label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace-md">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Supervisor
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    Reason for Leaving
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                May We Contact?
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                16b. Employer
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                Dates Employed
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                Annual Salary or Hourly Rate (Starting)
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                (Final)
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Address
                </label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    Telephone
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Position/Responsibilities
                </label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace-md">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Supervisor
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    Reason for Leaving
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                May We Contact?
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                16c. Employer
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                Dates Employed
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                Annual Salary or Hourly Rate (Starting)
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                (Final)
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Address
                </label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    Telephone
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Position/Responsibilities
                </label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace-md">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Supervisor
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    Reason for Leaving
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                May We Contact?
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                16d. Employer
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                Dates Employed
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                Annual Salary or Hourly Rate (Starting)
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                (Final)
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Address
                </label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    Telephone
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Position/Responsibilities
                </label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace-md">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Supervisor
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    Reason for Leaving
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                May We Contact?
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
            </div>
        </div>

        <div class="row border-bottom vspace-md">
            <div class="col-lg-12">
                <h5>
                    <span class="text-heading">REFERENCES</span>
                    <small>(Please list three persons to whom you are not related who are familiar with your work)</small>
                </h5>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    17a. Name
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    Address
                </label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace-md">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Telephone
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    Occupation
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    Years Known
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    17b. Name
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    Address
                </label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace-md">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Telephone
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    Occupation
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    Years Known
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    17c. Name
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    Address
                </label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace-lg">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label text-indent">
                    Telephone
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    Occupation
                </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    Years Known
                </label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-12">
                <h5 class="text-heading">
                    ADDITIONAL DATA
                </h5>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="inline-block">
                    <label class="control-label">
                        18. Would you consider relocation?
                    </label>
                </div>
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    If yes, any limitations?
                </label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="inline-block">
                    <label class="control-label">
                        19. Would you travel if necessary?
                    </label>
                </div>
                <div class="inline-block">
                    <$client.env.FormField.testfield.HTML>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    If yes, any limitations?
                </label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row vspace-lg">
            <div class="col-lg-12">
                What other skills, abilities or experiences have you had which may be relevant to the position? (For example, relevant military experience, technical experience, software, typing speed, etc.)
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row border-bottom vspace">
            <div class="col-lg-12">
                <h5 class="text-heading">
                    CONDITIONS FOR EMPLOYMENT
                </h5>
            </div>
        </div>


        <div class="row vspace-lg">
            <div class="col-lg-12">
                <p class="vspace-md">
                    Please read the following statements carefully, as they constitute conditions for employment with Anixter.
                </p>
                <ul class="vspace-md">
                    <li>
                        I certify that the statements I have made on this application are true and correct. I understand that any misrepresentation or omission on my application, resume or during the interview or hiring process may result in the refusal of employment or discharge if I am employed, regardless of the time elapsed before discovery.
                    </li>
                    <li>
                        I understand that nothing contained in this application, or the granting of an interview, or during employment if I am hired, is intended to create a contract for continued employment with Anixter. I understand that if I am employed, my employment will be “at-will,” meaning that it is for no definite or specified period of time and my employment and compensation may be terminated at any time, with or without cause, and with or without prior notice, at the option of Anixter or me. I understand that no manager, supervisor, or employee of Anixter has any authority to enter into any agreement for employment for any specified period of time or to make any agreement contrary to at-will employment. I understand that with the exception of the policy of at-will employment, no written or oral statement made by Anixter is intended to create any legally enforceable obligations on the part of Anixter.
                    </li>
                    <li>
                        I understand that the use, possession, or being under the influence of illegal drugs or alcohol while on Anixter time is prohibited and will result in disciplinary action, up to and including discharge. I hereby agree to submit to any lawful pre- or post-employment drug or alcohol testing that may be required and understand that refusal to submit to such testing during the course of my employment may result in disciplinary action, up to and including discharge.
                    </li>
                    <li>
                        I authorize Anixter to thoroughly investigate my background to determine my suitability for employment and to use any information lawfully obtained for any employment related purpose permitted by law. This investigation may include checking with the schools and employers I have identified, reviewing criminal conviction and credit records, and verifying any other relevant information about me. I authorize the references I have listed to disclose to Anixter any and all letters, reports, and other information related to my work records, without giving me prior notice of such disclosure. I release and waive any claims I may have against and indemnify Anixter and any of the schools, former employers, and other persons or entities for any loss or injury I may sustain as a result of any investigation or disclosure made related to this application.
                    </li>
                    <li>
                        I certify that I have never signed a noncompete, non-solicitation or employment agreement with my current employer or any previous employer. I understand that it is Anixter’s policy to neither solicit nor accept the proprietary or confidential information of any party without the express written consent of the owner of such information. By signing this application, you acknowledge that you understand that policy and, if hired, will not bring to Anixter any proprietary or confidential information from another employer or owner of such information. Failure to abide by this policy may result in discipline, up to and including discharge.
                    </li>
                    <li>
                        I understand and agree that this application will be valid for a period of 90 days from the date of the application, and that following the expiration of the 90-day period, if I wish to be considered for employment, I must submit a new application.
                    </li>
                </ul>
                <p>
                    I have read, understand and agree to the above statements.
                </p>
            </div>
        </div>

        <div class="row border-bottom vspace-lg">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <label class="control-label">
                    Applicant's Signature
                </label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <label class="control-label">
                    Date
                </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <div class="row vspace-lg">
            <div class="col-lg-12">
                Thank you for taking the time to complete our employment application.
            </div>
        </div>

        <div class="row vspace-lg">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <label class="control-label">
                    Background Package Values:
                </label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <$client.env.FormField.testfield.HTML>
            </div>
        </div>

        <footer class="row">
            <div class="col-lg-12">
                <small>
                    7W0062X0 &copy; 2007 Anixter Inc. &bull; 09/07
                </small>
            </div>
        </footer>

    </div>
</main>
