<main>
    <h5 class="vspace-md text-center">
        EQUAL EMPLOYMENT OPPORTUNITY AND <br> HARASSMENT PREVENTION POLICY
    </h5>
    <p>
        <em>
            <strong><u>Introduction</u></strong>
        </em>
    </p>
    <p class="text-indent">
        Duane Morris is committed to practices and policies that are consistent with and promote equal employment opportunity. All employment and partnership decisions, policies and practices are in accordance with applicable federal, state, and local anti-discrimination laws.<sup>1</sup> <em>No person associated with the Firm, regardless of position, is above the law or this Policy and every person associated with the Firm is entitled to this Policy’s protection.</em>
    </p>
    <p class="text-indent">
        This Equal Employment Opportunity and Harassment Prevention Policy addresses:
    </p>
    <ol class="vspace hspace">
        <li>
            Non-discrimination
        </li>
        <li>
            Non-harassment
        </li>
        <li>
            Non-retaliation
        </li>
        <li>
            Reasonable accommodations
        </li>
        <li>
            Complaint procedure (and appeals)
        </li>
    </ol>
    <p>
        <em>
            <strong><u>Policy Prohibiting Discrimination</u></strong>
        </em>
    </p>
    <p class="text-indent">
        Our Firm will not engage in or tolerate unlawful discrimination (including any form of unlawful harassment or retaliation) based on a person’s sex/gender, pregnancy (including childbirth, breastfeeding and related medical conditions), age, race, color, religion, creed, sexual orientation, gender identity, gender expression, genetic information, marital status, familial status, civil union or domestic partner status, nationality or national origin, ancestry, citizenship, immigrant status, military status, veteran status, handicap, physical or mental disability, use of a trained service animal, medical condition, atypical hereditary cellular or blood trait, victim of domestic violence crime, sexual assault or stalking or membership in any “protected group” under federal, state or local law.<sup>2</sup>
    </p>
    
    <p class="text-indent">
        For example, and by way of illustration only, the Firm will not unlawfully consider an individual’s membership in any protected group under federal, state or local law, with regard to: job requirements, recruiting, interviewing, hiring, compensation, benefits, training, assignments, evaluations, coaching, promotions, discipline, and discharge.<sup>3</sup>
    </p>
    <p class="text-indent">
        The Firm’s policy on equal employment opportunity supports and is consistent with the Firm’s commitment to diversity and inclusiveness. We believe that we are much stronger as a Firm as a result of the richness of our diversity and strive to implement policies and practices which are respectful of diversity and promote inclusion.
    </p>
    <p class="text-indent">
        All current and prospective attorneys (partners, associates, of counsel, special counsel, contract lawyers, summer associates, interns and law clerks), staff (full-time, part-time and temporary), contractors and consultants are both protected and restricted by this entire Equal Employment Opportunity Policy. You are protected by the Policy in terms of your right to have a working environment free from unlawful discrimination, harassment, retaliation and unacceptable behavior. You are restricted by the Policy in terms of your being prohibited from engaging in unlawful discrimination, harassment, retaliation, and other unacceptable behavior.
    </p>
    <p class="text-indent">
        The Appendices to this Policy include specific examples of unacceptable behaviors prohibited by this Policy. Specific examples have been included in order to avoid confusion and provide guidance as to what types of behaviors are unacceptable. If any individual has any question as to whether or not any particular behavior may be unacceptable, he/she should be cautious and not engage in such behavior.
    </p>
    <p>
        <em>
            <strong><u>Policy Prohibiting Sexual Harassment</u></strong>
        </em>
    </p>
    <p class="text-indent">
        Sexual harassment is a form of gender discrimination. Consistent with the foregoing, the following behaviors are prohibited, whether by a man or a woman and whether directed at a man or a woman:
    </p>
    <ul class="hspace">
        <li>
            To threaten or insinuate, expressly or implicitly, that any person is required to submit to sexual advances or to provide sexual favors as a condition of employment, continued employment or any term, condition or benefit of employment, or that a person’s refusal to submit to sexual advances or to provide sexual favors will affect adversely the person’s employment, continued employment or any term, condition or benefit of employment.
        </li>
        <li>
            To make any employment decision or take any employment action based on a person’s submission to or refusal to submit to sexual advances.
        </li>
    </ul>
    
    <ul class="hspace">
        <li>
            To engage in unwelcome sexually-oriented or otherwise hostile conduct which has the purpose or effect of interfering unreasonably with another person’s work performance or of creating an intimidating, hostile, abusive or offensive working environment.
        </li>
    </ul>
    <p class="text-indent">
        See Appendix A for examples of sexually harassing types of behaviors, communications, etc. that are inappropriate and thus unacceptable, and as such, prohibited, regardless of whether any one of them is unlawful in and of itself. The Appendices are an important part of this Policy and provide important guidance regarding the Policy.
    </p>
    <p>
        <em>
            <strong><u>Policy Prohibiting Harassment Based On Any Protected Group</u></strong>
        </em>
    </p>
    <p class="text-indent">
        Harassment based on an individual’s membership in any protected group (for example, race, age, national origin, ancestry or disability) is equally <u>prohibited</u> and <u>will not be tolerated</u>.
    </p>
    <p class="text-indent">
        See Appendix B for examples of other discriminatory harassing types of behaviors, communications, etc. that are inappropriate and thus unacceptable, and as such, prohibited, regardless of whether any one of them is unlawful in and of itself. The Appendices are an important part of this Policy and provide important guidance regarding the Policy.
    </p>
    <p>
        <em>
            <strong><u>Scope of Prohibitions on Unacceptable Behavior and Non-Defenses to Unacceptable Behavior</u></strong>
        </em>
    </p>
    <p class="text-indent">
        The Firm’s policies prohibiting harassment are designed not only to comply with the law but also to ensure we have a respectful work environment where each person is valued for who they are.
    </p>
    <p class="text-indent">
        The prohibitions on unacceptable behavior apply not only in the workplace itself but also to all other work-related settings, such as offsite meetings, client work sites and courthouses, as well as business trips and business-related social functions, including Firm-sponsored celebrations. In some cases, conduct outside the workplace and unrelated to a work event may be cause for corrective action as set forth below.
    </p>
    <p class="text-indent">
        It is important to keep in mind that the prohibitions in this Policy as well as the Appendices apply not only to oral and written communications but also to e-mail, voice mail, Internet communications and web sites, and other technology-assisted communications, including Social Media.
    </p>
    <p class="text-indent">
        The prohibitions in this Policy as well as the Appendices also may extend to postings on personal blogs and other forms of social networking if they are shared with, contain messages about or are seen by Duane Morris attorneys, employees, clients, potential clients or business partners, or others with whom Duane Morris does business, or others with whom we work or may work or to whom we provide services or may provide services.
    </p>
    <p class="text-indent">
        It is not a defense to unacceptable behavior that the conduct may not be unlawful.
    </p>
    <p class="text-indent">
        It is not a defense to unacceptable behavior that there was no bad intent, that it was only a “joke” or that it was not directed at any particular person.
    </p>
    <p class="text-indent">
        It is also not a defense that the individual engaging in the unacceptable conduct is a stellar performer, revenue generator or high-level attorney or employee.
    </p>
    <p class="text-indent">
        It is not a defense to unacceptable conduct that the conduct is “welcome” or otherwise “okay” to the party or parties engaging in it.
    </p>
    <p class="text-indent">
        Use or consumption of alcohol, marijuana or any other controlled substance, and/or any form of medication (whether or not prescribed by a health care provider) is not a defense to unacceptable conduct.
    </p>
    <p>
        <em>
            <strong><u>Intimate Relationships</u></strong>
        </em>
    </p>
    <p class="text-indent">
        While personal relationships may develop in a professional setting, there are restrictions. In particular, no current or prospective attorney (partner, associate, special counsel, of counsel, contract lawyer, summer associate, intern, law clerk, etc.) or employee ever should have to feel any pressure to become romantically or sexually involved with any other current or prospective attorney (partner, associate, special counsel, of counsel, contract lawyer, summer associate, intern, law clerk, etc.), employee or non-employee, including a client or potential client.
    </p>
    <p class="text-indent">
        If any attorney or employee feels any unwelcome pressure to become romantically or sexually involved with any attorney, employee, client or other non-employee, such individual is urged to use the Complaint Procedure set forth below. If you let Duane Morris know that there is a problem, then we can help. In the absence of a complaint (utilizing the procedure below), Duane Morris will assume that any relationship is entirely consensual and welcome.
    </p>
    <p class="text-indent">
        If you ask an attorney, employee, client or other non-employee with whom you come into contact in the course of your employment or work for a date, and such other individual declines your request, you cannot ask him or her again. Moreover, you may not retaliate against such person in any way. If you ask again or retaliate in any way, you will be subject to severe disciplinary action, up to and including the termination of your employment.
    </p>
    <p class="text-indent">
        Certain professional activities, such as sharing a meal or engaging in mentoring, may have a personal component. Duane Morris does not wish to discourage those appropriate social interactions, which can be an important part of professional development. To the contrary, Duane Morris encourages such professional activities and related social interactions of an appropriate nature. However, even where there is a personal component, all are cautioned to remember the professional nature of the relationship and the applicability of this Policy.
    </p>
    <p class="text-indent">
        Important: In order to avoid harassment and actual or potential conflicts of interest, attorneys and staff members who supervise or otherwise have authority over another attorney, staff member, contractor, or other non-employee must adhere to the following:
    </p>
    <p class="text-indent">
        <u><em>For those in “direct” working relationships</em> (e.g., a partner working directly with an associate in the same practice group; a partner working with an associate on a transaction or litigation matter even if in different practice groups, and whether or not located in the same office; a managing clerk/paralegal supervisor overseeing the work of a junior paralegal; an office manager or attorney supervising the work of a legal assistant):</u> No attorney or staff member can supervise the work of any attorney, staff member, contractor, or other non-employee with whom he or she is having an intimate relationship (sexual and/or romantic). Therefore, attorneys and staff members are prohibited from dating, or even attempting to initiate an intimate relationship (sexual and/or romantic) with, an attorney, staff member, contractor, or other non-employee over whom he or she has supervisory authority.
    </p>
    <p class="text-indent">
        <u><em>For those not in direct working relationships but where a disparity in institutional power or authority exists</em> (e.g., even if not working together: a senior partner and a junior partner, any partner and associate or an office managing partner and a legal assistant):</u> An attorney or staff member cannot date, or even attempt to initiate an intimate relationship (sexual and/or romantic) with, an attorney, staff member, contractor or other non-employee over whom he or she has greater institutional power or authority without first disclosing his or her intent to the Chief Operating Officer. The Chief Operating Officer, in conjunction with the Chairman and the Executive Committee, will then address the situation.
    </p>
    <p class="text-indent">
        Violations of this policy, including failure by the attorney or staff member to make the required report to the Chief Operating Officer, will subject the attorney or staff member with the supervisory and/or institutional power or authority to disciplinary action, up to and including termination of employment/partnership.
    </p>
    <p class="text-indent">
        If you have any doubt whether you have supervisory or institutional authority over an attorney or employee, consult with the Chief Operating Officer.
    </p>
    <p>
        <em>
            <strong><u>Working with Inappropriate/Offensive Topics/Material</u></strong>
        </em>
    </p>
    <p class="text-indent">
        For some of the work which we do (e.g., advising clients, defending harassment claims or engaging in anti-harassment training, working on a litigation matter that involves obscene or pornographic materials), there may be times when it is necessary for there to be (a) sexually- oriented discussions or to review offensive materials of a sexual nature; or (b) discussions of offensive behaviors or communications of a racial, ethnic, religious, etc. nature or to review offensive materials of a racial, ethnic, religious, etc. nature.
    </p>
    <p class="text-indent">
        In these situations, all such discussions: (a) should be limited to the business purposes; (b) should be professional, without being excessive in terms of focus or explicitness; and (c) should not include profanity, offensive wording or insinuation, or suggestive, explicit, or unacceptable humor unless directly related to the business purposes. Similarly, in these situations, all such materials: (a) should be reviewed only for business purposes; and (b) should be concealed when they are not being used for business purposes, if they could offend others if taken out of context.
    </p>
    <p>
        <em>
            <strong><u>Policy on Reasonable Accommodations</u></strong>
        </em>
    </p>
    <p class="text-indent">
        When qualified individuals with physical or mental disabilities (including disabilities caused by, exacerbated by, or related to pregnancy) or handicaps notify Duane Morris of such disabilities or handicaps and request reasonable accommodations (such as a leave of absence) for such disabilities or handicaps, Duane Morris will make reasonable accommodations on behalf of such individuals if doing so does not create an undue hardship on the Firm.
    </p>
    <p class="text-indent">
        Similarly, when individuals notify Duane Morris of a request for a reasonable accommodation due to pregnancy, childbirth, or related medical conditions, including recovery from childbirth, Duane Morris will make reasonable accommodations on behalf of such individuals, regardless of whether they have a disability.
    </p>
    <p class="text-indent">
        In addition, when individuals notify Duane Morris of a request for reasonable accommodation due to their status as a victim of domestic violence, sex offenses, or stalking, Duane Morris will make reasonable accommodations on behalf of such individuals.
    </p>
    <p class="text-indent">
        Finally, when individuals notify Duane Morris of their religious observances, practices and beliefs and request reasonable accommodations relating to same, Duane Morris will make reasonable accommodations on behalf of such individuals.
    </p>
    <p class="text-indent">
        Under each set of circumstances, Duane Morris will make reasonable accommodations where it is aware of the need for such accommodations if doing so does not create an undue hardship for the Firm. An individual does not have to use the words “reasonable accommodation” or “disability,” for example, in order to make a request.
    </p>
    <p class="text-indent">
        In the above instances, upon receiving a request for a reasonable accommodation, Duane Morris will comply with its obligation to engage in an interactive process to make an individualized determination of whether an individual is entitled to a reasonable accommodation, and if so, the nature of that accommodation (e.g., leave of absence and/or time off) that can be provided. In any event, no accommodations need be made which would impose an undue hardship on the Firm.
    </p>
    <p class="text-indent">
        The Firm will treat a medical condition or complication that is caused or exacerbated by pregnancy no differently from other medical conditions for the purpose of determining whether an individual is disabled, engaging in the interactive process, and evaluating whether an individual is entitled to a reasonable accommodation (e.g., leave of absence and/or time off).
    </p>
    <p class="text-indent">
        If you believe you need an accommodation for any of the reasons set forth above, please contact any of the individuals on Appendix C. The Appendices are an important part of this Policy and provide important guidance regarding the Policy
    </p>
    <p class="text-indent">
        Any attorney or staff member with supervisory or managerial authority who is not listed on Appendix C and receives a request for an accommodation must immediately contact Charles O’Donnell or Mary Farrell Robinson or Joseph K. West for guidance. As with any other violations of this Policy, any partner or employee who fails to report as required will be subject to discipline.
    </p>
    <p class="text-indent">
        An individual who is not satisfied with any accommodation offered by the Firm, or with the Firm’s denial of his or her request for a reasonable accommodation, may appeal such decision by using the appeals procedure in the complaint procedure below.
    </p>
    <p>
        <em>
            <strong><u>Policy Prohibiting Retaliation</u></strong>
        </em>
    </p>
    <p class="text-indent">
        The Firm will neither engage in nor tolerate unlawful retaliation of any kind against any person who: makes a complaint of unlawful discrimination, harassment or retaliation, (ii) serves as a witness or otherwise participates in the investigatory process, (iii) is associated with any person who makes such a complaint, or (iv) requests or receives an accommodation as set forth above.
    </p>
    <p class="text-indent">
        Prohibited retaliation includes adverse tangible employment actions, such as denial of a raise or a promotion. It also may include, in some circumstances, other material changes in the terms and conditions of employment (such as less desirable work assignments) or harassing conduct (such as ostracizing an employee who has made a complaint). Prohibited retaliation also may include adverse actions independent of the workplace, such as trying to exclude an attorney or employee from membership in an outside organization because of a complaint he or she made at work.
    </p>
    <p class="text-indent">
        It is not a defense to unlawful retaliation by any lawyer (partner, associate, counsel, etc.) or staff member (manager, supervisor, etc.) that the complaint did not have legal merit. Generally speaking, so long as an individual acts in good faith, no adverse action can be taken against him or her.
    </p>
    <p class="text-indent">
        Prohibited retaliation will be handled under this policy in the same manner and individuals will be subject to disciplinary/corrective action to the same degree as any other violation of this Policy.
    </p>
    <p>
        <em>
            <strong><u>Discrimination, Harassment, Retaliation and Other Unacceptable Conduct by Non-Employees</u></strong>
        </em>
    </p>
    <p class="text-indent">
        The prohibitions against unlawful discrimination, harassment, retaliation and other unacceptable conduct set forth in this Policy also apply to non-employees with whom you come into contact in connection with your employment/work with us (for example, the Firm’s clients, contractors, consultants, suppliers and vendors). Consequently, if you feel discriminated or retaliated against or harassed (sexually or otherwise) or subject to unacceptable conduct prohibited by this Policy by a non-employee in connection with your employment/work, you should use the Complaint Procedure set forth below. Conversely, the prohibitions against unlawful discrimination, harassment, retaliation and other unacceptable conduct set forth in this Policy apply not only to your actions relative to attorneys and staff of our Firm but also to non-employees with whom you come into contact in the course of your employment/work with the Firm.
    </p>
    <p>
        <em>
            <strong><u>Complaint Procedure</u></strong>
        </em>
    </p>
    <p class="text-indent">
        <u><strong>Important</strong></u>: This complaint procedure is available to all current and prospective attorneys (partners, associates, special counsel, counsel, contract lawyers, summer associates, interns and law clerks), staff (full-time, part-time and temporary), contractors and consultants.
    </p>
    <p class="text-indent">
        If you believe that you or another person subject to this Policy may have been unlawfully discriminated against, harassed by or retaliated against in violation of this Policy, or subject to any unacceptable conduct prohibited by this Policy (see Appendices A and B for examples), by any person (partner, associate, special counsel, counsel, manager, supervisor, coworker or anyone else associated with the Firm or any client, contractor or other individual not associated with the Firm) with regard to any term, condition or benefit of partnership/employment/work (e.g., assignment, compensation, promotions, discipline), we strongly encourage you to report your concerns immediately to any of the individuals referenced in Appendix D. You also should consult with one of the individuals on Appendix D if you believe that a reasonable accommodation that you have requested was not made but should have been made. In all cases, please speak with whichever person you feel the most comfortable, whatever your reasons.
    </p>
    <p class="text-indent">
        You are strongly encouraged to report your concerns relating to the type of conduct described above regardless of whether you have (1) been the object/target of the conduct; (2) witnessed the conduct; or (3) otherwise become aware of the conduct.
    </p>
    <p class="text-indent">
        Similarly, if you have any question as to whether certain conduct is unlawful discrimination, retaliation, harassment or other unacceptable conduct prohibited by this Policy, or whether an accommodation may be needed or possible, you are encouraged to speak with any of the individuals listed on Appendix D. The Appendices are an important part of this Policy and provide important guidance regarding the Policy.
    </p>
    <p class="text-indent">
        All complaints will be investigated promptly, thoroughly and impartially, and the existence and nature of any complaint, as well as the identity of any complainant, witness or accused, will be disclosed by the Firm only to the extent necessary to make a prompt, impartial and thorough investigation or as may be necessary to take appropriate corrective measures.
    </p>
    <p class="text-indent">
        The Firm will neither engage in nor tolerate any form of unlawful retaliation as set forth above.
    </p>
    <p class="text-indent">
        If you are a partner, or an attorney or staff member with supervisory or managerial authority who is not listed on Appendix D, and anyone complains to you that he or she believes that he or she or anyone else may have been subject to unlawful discrimination, harassment or retaliation (or other unacceptable conduct of the nature described in this Policy, including the Appendices) or that he or she needs an accommodation or that an accommodation requested has not been made, you must report this immediately by contacting Joseph West, Charles O’Donnell or Mary Farrell Robinson.
    </p>
    <p class="text-indent">
        Any partner, or attorney or staff member with supervisory or managerial authority, must report immediately to any of the individuals listed in Appendix D potential violations of this Policy which they witness or of which they otherwise become aware, even in the absence of a complaint.
    </p>
    <p>
        <em>
            <strong><u>Appeal Procedure</u></strong>
        </em>
    </p>
    <p class="text-indent">
        If you are not entirely satisfied with how your complaint has been handled, for whatever reason, you may appeal your complaint to the General Counsel, the Chairman, or the Vice Chairman. Your “appeal” should be in writing to help ensure that it is clear that you wish to “appeal” the determination regarding your complaint. While we encourage you to be detailed, it is sufficient to say, “I wish to appeal the determination of my EEO complaint.”
    </p>
    <p>
        <em>
            <strong><u>Sanctions for Violations of Our Firm’s Equal Employment Opportunity Policy</u></strong>
        </em>
    </p>
    <p class="text-indent">
        Any person (partner, associate, special counsel, counsel, staff, non-employee, etc.) who, after appropriate investigation, has been found to have engaged in unlawful discrimination, harassment or retaliation and/or unacceptable behavior inconsistent with this Policy (even if not unlawful) will be subject to appropriate (immediate and proportionate) disciplinary and/or corrective action, up to and including termination of his or her employment or other relationship with our Firm.
    </p>
    <p class="text-indent">
        Any partner, or attorney or staff member with supervisory or managerial authority, who fails to make a report immediately as required by this Policy will be subject to appropriate (immediate and proportionate) disciplinary and/or corrective action, up to and including termination of his or her employment or other relationship with our Firm.
    </p>
    <p class="text-indent">
        Conduct does not need to violate the law to violate this Policy. On the other hand, not every behavior that may be considered offensive to someone necessarily violates this Policy.
    </p>
    <p class="text-center">
        <strong><u>APPENDIX A</u></strong>
    </p>
    <p class="text-center">
        <strong><u>SEXUALLY HARASSING CONDUCT</u></strong>
    </p>
    <div class="hspace-sm">
        <p class="text-indent">
            The following behaviors, communications, etc. are inappropriate and thus unacceptable, and as such, prohibited, regardless of whether any one of them is unlawful in and of itself. Please note that this list is intended only as an example and is not intended to be an exhaustive list.
        </p>
        <ul class="hspace-sm">
            <li>
                Sexually assaulting another individual (or attempting same);
            </li>
            <li>
                Denying an employee, partner, or non-employee any term, condition or benefit of employment, partnership or other work engagement because the employee/attorney/non-employee refused to submit to a sexual advance;
            </li>
            <li>
                Granting an employee, partner, or non-employee any term, condition or benefit of employment, partnership or other work engagement because he or she submits to a sexual advance.
            </li>
            <li>
                Demanding or requesting sex or sexual favors;
            </li>
            <li>
                Engaging in any form of sexual activity (including exposing oneself or simulating sexual activity).<sup>4</sup>
            </li>
            <li>
                Requesting a date from someone after the recipient of the request already has declined a prior request;
            </li>
            <li>
                Providing preferential treatment to someone with whom the attorney, employee or non-employee is having a sexual or romantic relationship;
            </li>
            <li>
                Engaging in unwelcome and/or unacceptable physical contact, such as patting, pinching, brushing or rubbing against another person’s body;
            </li>
            <li>
                Blocking and/or restricting someone’s freedom of movement;
            </li>
            <li>
                Engaging in unacceptable and/or unwelcome kissing or hugging;
            </li>
            <li>
                Engaging in sexual bantering or “teasing”;
            </li>
            <li>
                Engaging in sexual flirtations, or making sexual advances or propositions;
            </li>
            <li>
                Engaging in verbal or nonverbal innuendo of a sexual, suggestive or biased nature;
            </li>
            <li>
                Making sexual, suggestive or biased “jokes”;
            </li>
            <li>
                Making gender-biased or stereotypic comments or other communications;
            </li>
            <li>
                Engaging in verbal or written abuse of a sexual nature;
            </li>
            <li>
                Making commentaries about an individual’s body, sexuality, or sexual orientation;
            </li>
            <li>
                Making disparaging, stereotyping or other unacceptable comments about “pregnancy”;
            </li>
            <li>
                Using sexually-degrading words to describe another individual (verbally or otherwise);
            </li>
            <li>
                Engaging in discussions of, or questions and comments about, sexual desires, fantasies, experiences, frustrations or the like;
            </li>
            <li>
                Transmitting, showing or describing pornographic or obscene materials, or other similar communications of any kind;
            </li>
            <li>
                Transmitting, showing or describing sexually-explicit or sexually-suggestive objects, cartoons, software, photos, pictures, drawings or other communications;
            </li>
            <li>
                Engaging in business events at unacceptable venues such as strip clubs or other venues providing “adult entertainment”;
            </li>
            <li>
                Making sexually-oriented or degrading gestures;
            </li>
            <li>
                Engaging in other nonverbal communications of a sexual or suggestive nature, such as leering or gawking;
            </li>
            <li>
                Using so-called terms of endearment, such as “sweetheart” or “honey”;
            </li>
            <li>
                Referring to employees of either gender in degrading, demeaning or negative terms.
            </li>
            <li>
                Using obscene, off-color or otherwise hostile language of a sexual, suggestive or biased nature;
            </li>
            <li>
                Engaging in any other behavior of a hostile or abusive nature directed at one sex, even if not sexual in nature; and
            </li>
            <li>
                Engaging in any other unacceptable behavior of the kind, or similar to that, referred to here or elsewhere in this Policy.
            </li>
        </ul>
        <p class="text-center vspace-lg">
            If you have any questions about whether something is inappropriate, avoid it!
        </p>
    </div>
    <p class="text-center">
        <strong><u>APPENDIX B</u></strong>
    </p>
    <p class="text-center">
        <strong><u>OTHER HARASSING CONDUCT</u></strong>
    </p>
    <p class="text-indent">
        The following behaviors, communications, etc. are inappropriate and thus unacceptable, and as such, prohibited, regardless of whether any one of them is unlawful in and of itself. Please note that this list is intended only as an example and is not intended to be an exhaustive list.
    </p>
    <ul class="hspace">
        <li>
            Possessing or displaying in the workplace or connected with the work environment, cartoons, calendars, computer software, pictures etc. which are degrading to or reflect negatively upon any protected group;
        </li>
        <li>
            “Jokes,” comments or stories which have the purpose or effect of stereotyping, demeaning or making fun of any protected group, for example, racial “jokes,” gay “jokes,” or pregnancy “jokes;”
        </li>
        <li>
            Slurs or epithets to describe any protected group, for example, the “N” word or the “C” word;
        </li>
        <li>
            Nicknames relating to a person’s membership in any protected group, for example, referring to women with children as “the mommies”, referring to an older man as “Grandpa” or “Pops” or referring to someone who is Muslim and/or from the Middle East as “the terrorist”;
        </li>
        <li>
            Verbal or non-verbal innuendo which relates to or reflects negatively upon any protected group, for example, mimicking a disabled employee’s walk or an immigrant’s accent;
        </li>
        <li>
            Hate symbols or other symbols which suggest the inferiority of any group, for example, a noose or swastika;
        </li>
        <li>
            Racist, sexist or other hate-based graffiti;
        </li>
        <li>
            Unacceptable questions or comments about attire associated with an individual’s religion, nationality or ethnicity;
        </li>
        <li>
            Unacceptable questions or comments about an individual’s sexual orientation or gender identity;
        </li>
        <li>
            Referring to individuals of any protected group in degrading, demeaning or negative terms;
        </li>
        <li>
            Hostile, abusive or demeaning behavior, including threats, directed at an individual because of his or her membership in any protected group, even if not racial, ethnic, religious, etc. in nature;
        </li>
        <li>
            Stereotypic or biased comments or slurs about any protected group, for example, “They are…” (where “they” refers to a protected group, such as Asian Americans, individuals with disabilities or white men);
        </li>
        <li>
            Comments that suggest an employee does not conform to a particular stereotype, such as “You don’t act gay…” or “You don’t sound black” and/or
        </li>
        <li>
            Any other unacceptable behavior of the kind or similar to that referred to here or elsewhere in this Policy.
        </li>
    </ul>
    <p class="text-center vspace-lg">
        If you have any questions about whether something is inappropriate, avoid it!
    </p>
    <p class="text-center">
        <strong><u>APPENDIX C</u></strong>
    </p>
    <p class="text-center">
        <strong><u>REPORTING REQUESTS FOR ACCOMMODATIONS</u></strong>
    </p>
    <p>
        <strong>Reports can be made to any of the following persons:</strong>
    </p>
    <ul class="hspace">
        <li class="vspace">
            <strong>Local Office Managing Partner</strong>
        </li>
        <li class="vspace">
            <strong>Practice Group Head</strong>
        </li>
        <li class="vspace">
            <strong>Local Office Manager/Coordinator</strong>
        </li>
    </ul>
    <p>
        <strong>Please see DM Discovery for the identities of and contact information for the Local Office Managing Partners, Practice Group Heads and Local Office Managers/Coordinators.</strong>
    </p>
    <p>
        <strong>You also can make a report to:</strong>
    </p>
    <div class="box vspace-lg">
        <div class="border-bottom">
            <div class="border-right col-20 text-center">
                <strong>Name</strong>
            </div>
            <div class="border-right col-20 text-center">
                <strong>Position</strong>
            </div>
            <div class="border-right col-20 text-center">
                <strong>Office</strong>
            </div>
            <div class="border-right col-20 text-center">
                <strong>Phone Number</strong>
            </div>
            <div class="text-center col-20">
                <strong>Phone Number</strong>
            </div>
        </div>
        <div class="border-bottom">
            <div class="border-right col-20">
                <strong>Charles J. O’Donnell</strong>
            </div>
            <div class="border-right col-20">
                <strong>Chief Operating Officer</strong>
            </div>
            <div class="border-right col-20">
                <strong>Philadelphia</strong>
            </div>
            <div class="border-right col-20">
                <strong>215.979.1450</strong>
            </div>
            <div class="col-20">
                <strong>cjodonnell@duanemorris.com</strong>
            </div>
        </div>
        <div>
            <div class="border-right col-20">
                <strong>Mary Farrell Robinson</strong>
            </div>
            <div class="border-right col-20">
                <strong>Director of Human Resources</strong>
            </div>
            <div class="border-right col-20">
                <strong>Philadelphia</strong>
            </div>
            <div class="border-right col-20">
                <strong>215.979.1290</strong>
            </div>
            <div class="col-20">
                <strong>mfrobinson@duanemorris.com</strong>
            </div>
        </div>
    </div>
    <p class="text-center">
        <strong><u>APPENDIX D</u></strong>
    </p>
    <p class="text-center vspace-md">
        <p>
            <strong>REPORTING COMPLAINTS OF UNLAWFUL DISCRIMINATION, HARASSMENT, RETALIATION, DENIAL OF REASONABLE ACCOMMODATION OR OTHER UNACCEPTABLE CONDUCT INCONSISTENT WITH THIS POLICY</strong>
        </p>
    </p>
    <p>
        <strong>Reports can be made to any of the following:</strong>
    </p>
    <ul class="hspace">
        <li class="vspace-md">
            <strong>Local Office Managing Partner</strong>
        </li>
        <li class="vspace-md">
            <strong>Practice Group Head</strong>
        </li>
        <li class="vspace-md">
            <strong>Local Office Manager/Coordinator</strong>
        </li>
    </ul>
    <p>
        <strong>Please see DM Discovery for the identities of and contact information for the Local Office Managing Partners, Practice Group Heads and Local Office Managers/Coordinators.</strong>
    </p>
    <p>
        <strong>You also can report to any of the individuals listed below:</strong>
    </p>
    <div class="box vspace-lg">
        <div class="border-bottom">
            <div class="border-right col-20 text-center">
                <strong>Name</strong>
            </div>
            <div class="border-right col-20 text-center">
                <strong>Position</strong>
            </div>
            <div class="border-right col-20 text-center">
                <strong>Office</strong>
            </div>
            <div class="border-right col-20 text-center">
                <strong>Phone Number</strong>
            </div>
            <div class="text-center col-20">
                <strong>Phone Number</strong>
            </div>
        </div>
        <div class="border-bottom">
            <div class="border-right col-20">
                <strong>Charles J. O’Donnell</strong>
            </div>
            <div class="border-right col-20">
                <strong>Chief Operating Officer</strong>
            </div>
            <div class="border-right col-20">
                <strong>Philadelphia</strong>
            </div>
            <div class="border-right col-20">
                <strong>215.979.1450</strong>
            </div>
            <div class="col-20">
                <strong>cjodonnell@duanemorris.com</strong>
            </div>
        </div>
        <div class="border-bottom">
            <div class="border-right col-20">
                <strong>Mary Farrell Robinson</strong>
            </div>
            <div class="border-right col-20">
                <strong>Director of Human Resources</strong>
            </div>
            <div class="border-right col-20">
                <strong>Philadelphia</strong>
            </div>
            <div class="border-right col-20">
                <strong>215.979.1290</strong>
            </div>
            <div class="col-20">
                <strong>mfrobinson@duanemorris.com</strong>
            </div>
        </div>
        <div class="border-bottom">
            <div class="border-right col-20">
                <strong>Kathleen Wallen</strong>
            </div>
            <div class="border-right col-20">
                <strong>Human Resources Manager</strong>
            </div>
            <div class="border-right col-20">
                <strong>Philadelphia</strong>
            </div>
            <div class="border-right col-20">
                <strong>215.979.1292</strong>
            </div>
            <div class="col-20">
                <strong>kwallen@duanemorris.com</strong>
            </div>
        </div>
        <div>
            <div class="border-right col-20">
                <strong>Joseph K. West</strong>
            </div>
            <div class="border-right col-20">
                <strong>Partner and Chief Diversity and Inclusion Officer</strong>
            </div>
            <div class="border-right col-20">
                <strong>Washington, D.C.</strong>
            </div>
            <div class="border-right col-20">
                <strong>202.776.7806</strong>
            </div>
            <div class="col-20">
                <strong>jkwest@duanemorris.com</strong>
            </div>
        </div>
    </div>
    <p class="text-center">
        <strong><u>APPENDIX E</u></strong>
    </p>
    <p class="text-center">
        <strong><u>APPEALS</u></strong>
    </p>
    <p class="text-indent">
        Appeals of a determination of a complaint can be made to any of the following persons:
    </p>
    <ul class="hspace">
        <li>
            General Counsel; 
        </li>
        <li>
            Chairman, or
        </li>
        <li>
            Vice Chairman.
        </li>
    </ul>
    <p class="text-indent vspace-lg">
        An appeal should be in writing and need not say more than that an individual wishes to appeal the determination of his or her complaint. While we encourage you to be detailed, it is sufficient to say, “I wish to appeal the determination of my EEO complaint.”
    </p>

    <div class="col-30 border-bottom"></div>
    <p>
        <sup>1</sup> This Policy prohibits not only unlawful conduct, but also conduct which may be lawful, but which is inconsistent with the principles underlying this Policy and the Firm's commitment to creating a respectful, inclusive and safe working environment. Further, this Policy covers all partners, even though all partners may not be covered by all applicable laws. This Policy is not intended to diminish or expand a Partner’s legal rights, including under the Partnership Agreement or any applicable laws. The protections and prohibitions set forth in this policy also apply to independent contractors who provide services to the Firm. However, by extending the Policy’s protections and prohibitions to independent contractors, the Firm does not intend to diminish or expand independent contractors’ rights or suggest in any way that they are employees.
    </p>
    <p>
        <sup>2</sup> If covered by applicable law, an individual may be protected because he or she is perceived as being in a protected group or because of his or her association with someone in a protected group, even if he or she is not in the protected group.
    </p>
    <p>
        <sup>3</sup> This also includes, but is not limited to, decisions relating to an attorney’s admission to the Firm’s partnership.
    </p>
    <p class="vspace-lg">
        <sup>4</sup> Some of these examples would not apply to persons in a consensual romantic relationship that does not violate any other portion of this policy.
    </p>
    <div class="vspace-lg">
        <div class="col-50">
            <$client.env.FormField.Signature.HTML>
            Electronic Signature
        </div>
    </div>
    <div class="vspace-lg">
        <div class="col-50">
            <$client.env.FormField.EmpName.HTML>
            Print Name
        </div>
        <div class="col-50">
            <$client.env.FormField.Date.HTML>
            <br>Date
        </div>
    </div>
</main>
