<main class="container-fluid">
    <header class="row vspace">
        <div class="col-lg-12">
            <h4 class="text-center">
                <strong>L’OR&Eacute;AL NEW ZEALAND</strong>
            </h4>
            <h5 class="text-center">
                <strong>CONFIDENTIAL</strong>
            </h5>
            <h5 class="text-center">
                <strong>EXIT INTERVIEW FORM</strong>
            </h5>
        </div>
    </header>
    <div class="vspace box">
        <div class="box-inner">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <label class="control-label">
                        Full Name:
                    </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <$client.env.FormField.a01_full_name.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <label class="control-label">
                        Division:
                    </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <$client.env.FormField.a02_Division.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <label class="control-label">
                        Position:
                    </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <$client.env.FormField.a03_Position.HTML>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <label class="control-label">
                        Start Date:
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <$client.env.FormField.a04_Start_Date.HTML>
                    </div>
                </div>
            </div>
            <div class="row vspace-md">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <label class="control-label">
                        Location:
                    </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <$client.env.FormField.a05_Location.HTML>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <label class="control-label">
                        Leave Date:
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <$client.env.FormField.a06_Leave_Date.HTML>
                    </div>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    <span class="vertical-middle inline-block">
                        If you are located out of the Auckland office, please tick the box if you would like to have a telephone exit interview with the HR Manager.
                    </span>
                    <span class="vertical-middle inline-block">
                        <$client.env.FormField.a07_Auckland_Located.HTML>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <label class="control-label">
                        You contract no:
                    </label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <$client.env.FormField.a08_Contact_Number.HTML>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <label class="control-label">
                        Email address:
                    </label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <$client.env.FormField.a09_Email.HTML>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vspace box">
        <div class="box-inner">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        <strong>(Please print clearly)</strong>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    1. When did you start thinking about leaving?
                    <div class="form-group">
                        <$client.env.FormField.a10_When_did_you_start_thinking_about_leaving.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    2. What happened at that time?
                    <div class="form-group">
                        <$client.env.FormField.a11_What_happened_at_that_time.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    3. What did you most like about your role and why?
                    <div class="form-group">
                        <$client.env.FormField.a12_What_did_you_most_like_about_your_role_and_why.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    4. What did you like least about your role and why?
                    <div class="form-group">
                        <$client.env.FormField.a13_What_did_you_like_least_about_your_role_and_why.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    5. Was the position accurately described to you at interview and did the role meet your expectations?
                    <div class="form-group">
                        <$client.env.FormField.a14_Was_the_position_accurately_described_to_you_at_interview_and_did_the_role_meet_your_expectations.HTML>
                    </div>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    6. This part of the questionnaire deals with your primary reason for resigning. Simply tick the box beside the statement that best matches your answer and comment.
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left because of a work-related accident or illness.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a15_Left_because_of_a_work_related_accident_or_illness.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a15_Left_because_of_a_work_related_accident_or_illness_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left because unhappy with co-workers.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a16_Left_because_unhappy_with_co_workers.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a16_Left_because_unhappy_with_co_workers_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left to obtain easier commuting to work.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a17_Left_to_obtain_easier_commuting_to_work.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a17_Left_to_obtain_easier_commuting_to_work_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left because of difficult relationship with your supervisor.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a18_Left_because_of_difficult_relationship_with_your_supervisor.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a18_Left_because_of_difficult_relationship_with_your_supervisor_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left because the job was not what it was made out to be.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a19_Left_because_the_job_was_not_what_it_was_made_out_to_be.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a19_Left_because_the_job_was_not_what_it_was_made_out_to_be_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left because of excessive work demands, asked to do too much work.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a19.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a19_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left for promotion elsewhere.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a20.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a20_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left because it was an organisation that didn’t listen to its employees.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a21.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a21_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left to work with more up-to-date technology or work methods.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a22.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a22_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left for better pay elsewhere.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a23.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a23_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left for change of career.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a24.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a24_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left to obtain better balance between work demands and life outside work.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a25.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a25_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left for better training opportunities.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a26.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a26_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left because management didn’t recognize employee merit.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a27.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a27_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    Left for more interesting work elsewhere.
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <$client.env.FormField.a28.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-offset-1 col-lg-11 col-md-11 col-sm-11 col-xs-12">
                    <$client.env.FormField.a28_comment.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    7. Other (please detail)
                    <div class="form-group">
                        <$client.env.FormField.a29_Other.HTML>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box vspace">
        <div class="border-bottom row vspace">
            <div class="box-inner">
                <div class="col-lg-12">
                    <p>
                        This part of the questionnaire deals with your satisfaction with various aspects of your role and the organisation. Please indicate how satisfied or dissatisfied you feel with each of these aspects using the key below. Simply circle the number beside each aspect that matches your answer.
                    </p>
                </div>
            </div>
        </div>
        <div class="border-bottom row vspace">
            <div class="col-lg-12 text-center">
                <div class="vertical-middle inline-block col-20">
                    1 <br>
                    Very dissatisfied
                </div>
                <div class="vertical-middle inline-block col-20">
                    2 <br>
                    Very dissatisfied
                </div>
                <div class="vertical-middle inline-block col-20">
                    3 <br>
                    Very dissatisfied
                </div>
                <div class="vertical-middle inline-block col-20">
                    4 <br>
                    Very dissatisfied
                </div>
                <div class="vertical-middle inline-block col-20">
                    5 <br>
                    Very dissatisfied
                </div>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                i. The physical working conditions
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a30_Physical_working_conditions.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                ii. How would you rate your induction into the company?
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a31_How_would_you_rate_your_induction_into_the_company.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                iii. The freedom you have had to choose your own method of working.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a32_The_freedom_you_have_had_to_choose_your_own_method_of_working.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                iv. The recognition you get for good work.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a33_The_recognition_you_get_for_good_work.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                v. Your immediate manager/team leader – the level of communication, support and access you have had.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a34_Your_immediate_manager_team_leader.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                Comments:
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a35_Comments.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                vi. Your duties were clearly defined.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a36_Your_duties_were_clearly_defined.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                vii. You have had adequate training to perform your role.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a37_You_have_had_adequate_training_to_perform_your_role.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                viii. The amount of responsibility you have been given.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a38_The_amount_of_responsibility_you_have_been_given.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                ix. The rate of pay and benefits in relation to your role.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a39_The_rate_of_pay_and_benefits_in_relation_to_your_role.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                What do you believe it should be?
            </div>
            <$client.env.FormField.a40_What_do_you_believe_it_should_be.HTML>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                x. The supervision you have received.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a41_The_supervision_you_have_received.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                xi. The opportunities you have had to use your abilities.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a42_The_opportunities_you_have_had_to_use_your_abilities.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                xii. Opportunities available at L'Or&eacute;al for career development and advancement.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a43_Opportunities_available_for_career_development_and_advancement.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                xiii. The way the organisation is managed.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a44_The_way_the_organisation_is_managed.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                xiv. The attention paid to suggestions you have made.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a45_The_attention_paid_to_suggestions_you_have_made.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                xv. Your hours of work.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a46_Your_hours_of_work.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                xvi. The amount of variety in your job.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a47_The_amount_of_variety_in_your_job.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                xvii. Teamwork in your department.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a48_Teamwork_in_your_department.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                xviii. Information the organisation has given you about the wider L'Or&eacute;al group.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a49_Information_the_organisation_has_given_you.HTML>
            </div>
        </div>
        <div class="row box-inner">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                How could we improve this?
            </div>
            <$client.env.FormField.a50_How_could_we_improve_this.HTML>
        </div>
        <div class="row box-inner">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                xix. Your view of L'Or&eacute;al's commitment to health and safety best practices.
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <$client.env.FormField.a51_Your_view_of_LOreals_commitment_to_health_and_safety.HTML>
            </div>
        </div>
    </div>
    <div class="box vspace">
        <div class="box-inner">
            <div class="row vspace">
                <div class="col-lg-12">
                    8. How would you assess your workload:
                    <div class="table-inline">
                        <$client.env.FormField.a52_How_would_you_assess_your_workload.HTML>
                    </div>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    Please comment:
                    <$client.env.FormField.a53_Workload_comment.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    9. Can you suggest improvements to the position?
                    <$client.env.FormField.a54_Can_you_suggest_improvements_to_the_position.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    10. If you are taking up another position, what organisation are you going to?
                    <$client.env.FormField.a55_If_you_are_taking_up_another_position_what_organisation_are_you_going_to.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    11. What type of work will you be doing? What has attracted you to this role and the organisation?
                    <$client.env.FormField.a56_What_type_of_work_will_you_be_doing.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    12. What benefits package have you been offered as part of your new package?
                    <$client.env.FormField.a57_What_benefits_package_have_you_been_offered_as_part_of_your_new_package.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    13. Have you been diagnosed with a work-related injury or illness while working for L'Or&eacute;al New Zealand Limited?
                    <$client.env.FormField.a58_Have_you_been_diagnosed_with_a_work_related_injury.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    14. If yes, is this condition now resolved?
                    <$client.env.FormField.a59_Is_this_condition_now_resolved.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    If no, give details:
                    <$client.env.FormField.a60_Give_details.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    15. Have you deleted the crisis app from your smart phone?
                    <$client.env.FormField.a61_Have_you_deleted_the_crisis_app.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    16. Has the car inspection been completed by your Line Manager?
                    <$client.env.FormField.a62_Has_the_car_inspection_been_completed_by_your_Line_Manager.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    17. Have you contacted
                    <div class="col-lg-offset-1 col-md-offset-1 col-lg-11">
                        <div class="vertical-middle inline-block col-20">
                            Southern Cross
                        </div>
                        <div class="vertical-middle inline-block">
                            <$client.env.FormField.a63_Have_you_contacted_Southern_Cross.HTML>
                        </div>
                    </div>
                    <div class="col-lg-offset-1 col-md-offset-1 col-lg-11">
                        <div class="vertical-middle inline-block col-20">
                            Life Insurance
                        </div>
                        <div class="vertical-middle inline-block">
                            <$client.env.FormField.a64_Have_you_contacted_Life_Insurance.HTML>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    18. Would you recommend L’Oréal New Zealand as a workplace to your friends?
                    <div class="vertical-middle inline-block">
                        <$client.env.FormField.a65_Would_you_recommend_LOreal_New_Zealand.HTML>
                    </div>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    Please comment
                    <$client.env.FormField.a66_Please_Comment.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    20. Please provide a forwarding address for any future correspondence to you:
                    <$client.env.FormField.a67_Please_provide_a_forwarding_address_for_any_future_correspondence_to_you.HTML>
                </div>
            </div>
        </div>
    </div>
    <div class="box vspace">
        <div class="box-inner">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        <strong>ETHICS:</strong>
                    </p>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    1. Were you made aware of the L'Or&eacute;al Code of Ethics?
                    <div class="vertical-middle inline-block">
                        <$client.env.FormField.a68_Were_you_made_aware_of_the_LOreal_Code_of_Ethics.HTML>
                    </div>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    2. Were you sufficiently aware of the channels available to you to raise any Ethical concerns?
                    <div class="vertical-middle inline-block">
                        <$client.env.FormField.a69_Were_you_sufficiently_aware_of_the_channels_available.HTML>
                    </div>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    3. If you have raised any Ethical issues during your employment, do you feel your concerns were handled fairly and appropriately?
                    <div class="vertical-middle inline-block">
                        <$client.env.FormField.a70_Do_you_feel_your_concerns_were_handled_fairly_and_appropriately.HTML>
                    </div>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    Please comment:
                    <$client.env.FormField.a71_Please_comment.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    4. Do you have any Ethical issues or concerns you wish to raise before your departure?
                    <$client.env.FormField.a72_Do_you_have_any_Ethical_issues_or_concerns.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    Other comments:
                    <$client.env.FormField.a73_Other_comments.HTML>
                </div>
            </div>
            <div class="row vspace">
                <div class="col-lg-12">
                    <h4 class="text-center">
                        <strong><em>Thank you for your time, your feedback is much appreciated.</em></strong>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row vspace-md">
        <div class="col-lg-12">
            <h4>
                <strong>PRIVACY NOTICE FOR EXIT INTERVIEW FORM</strong>
            </h4>
            <p>
                <em>L'Or&eacute;al is collecting your personal information for the purpose of seeking feedback on your engagement with L’Oréal and for related reporting purposes. The information you provide using this form will usually be de-identified before it is used. Generally, we only disclose personal information to our related companies and to third parties which provide us with (or assist us to provide) products/services. This may involve transferring your personal information outside of NZ including to Australia, USA, Singapore, Canada, the EU and other parts of Asia. Our privacy policy (available at www.loreal.com.au) contains information about how individuals (except in some cases, current or former employees) can seek to access or correct the information L’Oreal holds about them, how to make a complaint about a privacy breach and how L'Or&eacute;al will deal with a privacy complaint. You can contact the L'Or&eacute;al Consumer Affairs Department at Building B, 600 Great South Road, Ellerslie, Auckland 1051, telephone 0800 655 444.</em>
            </p>
            <p>
                <em>The information collected with be used by L'Or&eacute;al New Zealand Limited for reporting purposes. Details from this form are collated in an aggregate form and individual information is not, identified unless otherwise agreed by you. The information collected will be retained as part of L’Oréal New Zealand Limited’s personnel records until the organisation has had the opportunity to utilise it in the appropriate manner. You will have the right to access and request correction of this information. The information will be sorted in accordance with the Privacy Act 1993.</em>
            </p>
        </div>
    </div>
    <div class="row vspace">
        <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <label class="control-label">
                    Employee Signature:
                </label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
                <$client.env.FormField.EmployeeSignature.HTML>
            </div>
        </div>
    </div>
    <div class="row vspace-md">
        <div class="form-group">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <label class="control-label">
                    Date:
                </label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <$client.env.FormField.EmployeeDate.HTML>
            </div>
        </div>
    </div>
    <section id="hr" class="hide">
        <div class="box vspace-md">
            <div class="row box-inner">
                <div class="col-lg-12">
                    INTERVIEWER'S COMMENTS/FEEDBACK SECTION:
                    <$client.env.FormField.a74_INTERVIEWERS_COMMENTS_FEEDBACK_SECTION.HTML>
                </div>
            </div>
        </div>
        <div class="row vspace">
            <div class="form-group">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <label class="control-label">
                        HR Signature:
                    </label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
                    <$client.env.FormField.HRSignature.HTML>
                </div>
            </div>
        </div>
        <div class="row vspace-md">
            <div class="form-group">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <label class="control-label">
                        Date:
                    </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <$client.env.FormField.HRDate.HTML>
                </div>
            </div>
        </div>
    </section>
    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="lifesuite__clearfix lifesuite__float-right">
            <$client.env.FormButtons>
        </div>
    </div>
</main>
