

<div class="container-fluid">
   <div class="row form-group">
      <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12"><img src="<$link;/main/RedCarpet/FormTemplates/Fair_Work_Information_Statement_Australia/logo.png>" style="max-width: 120px;"/></div>
   </div>
   <div class="form-group">
      <div class="row">
         <div class='col-lg-12 text-center'>
            <h4><strong>Fair Work Information Statement</strong></h4>
         </div>
      </div>
      <br>
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-12 col-xs-12">
            <p>By selecting the link below, I acknowledge that I have read and understand how this affects me and understand the requirements.</p>
         </div>
      </div>
      <br>
      <div class="row">
         <div class='col-lg-3'>
            &nbsp;
         </div>
         <div class='col-lg-6 fancyBox' onclick="getElementById('check1').style.display='block'; getElementById('Ack1').checked=true; window.open('<$link;/eprise/main/SiteGen/Onboarding/Content/Uploads/Unplaced_Documents/Fair-Work-Information-Statement.pdf >','_blank');" >
            <div class='col-xs-1 col-sm-1 col-md-1 col-lg-1'>
               <img id="check1" src="check-mark.png" style="display:none;">
               <div class="hide"><$client.env.FormField.ack1.HTML></div>
            </div>
            <div class='col-xs-11 col-sm-11 col-md-11 col-lg-11'>
               <span id="ack1-label" class="text-checklist">Fair Work Information Statement</span>
            </div>
         </div>
      </div>
      <div class='col-lg-3'>
         &nbsp;
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-12 col-xs-12">
         <p>I acknowledge that I have reviewed and been given a copy of the Fair Work Information Statement by my employer. By signing below, I acknowledge that all representations I have made in conjunction with the above policies and standards and in this acknowledgement are true and accurate to the best of my knowledge.</p>
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label class="control-label lifesuite__input-label lifesuite__input—block">
            Signature:
        </label>
    </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
         <div class="form-group"><$client.env.FormField.signature.html></div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
        <label class="control-label lifesuite__input-label lifesuite__input—block">Date:</label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
         <div class="form-group"><$client.env.FormField.Date.html></div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <label class="control-label lifesuite__input-label lifesuite__input—block">Name:</label>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><$client.env.FormField.Employee_Name.html></div>
   </div>
</div>
