<main>
    <div class="box">

        <div class="bg-light clearfix bottomline">
            <div class="pull-left indent-1">
                <h3>
                    USE FOR MAINTENANCE CHANGES ONLY
                </h3>
                <h3>
                    MUST PROVIDE EMP NAME, EMP ID &amp; EFFECTIVE DATE
                </h3>
            </div>
            <div class="pull-right col-40">
                <h3>
                    Last Updated April 18, 2017
                </h3>
            </div>
        </div>

        <div class="form-row">
            <div class="col-15 text-right bg-green">
                <strong>
                    Last Name:
                </strong>
            </div>
            <div class="col-20">
                <input type="text">
            </div>
            <div class="col-25 text-right bg-green">
                <strong>
                    First Name:
                </strong>
            </div>
            <div class="col-20">
                <input type="text">
            </div>
            <div class="col-15 text-right">
                <strong>
                    Middle Initial:
                </strong>
            </div>
            <div class="col-5">
                <input type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="col-15 text-right bg-green">
                <strong>
                    Effective Date:
                </strong>
            </div>
            <div class="col-20">
                <input type="text">
            </div>
            <div class="col-25 text-right bg-green">
                <strong>
                    Term Date:
                </strong>
            </div>
            <div class="col-20">
                <input type="text">
            </div>
        </div>
        <div class="form-row bottomline">
            <div class="col-15 text-right bg-green">
                <strong>
                    Employee ID:
                </strong>
            </div>
            <div class="col-20">
                <input type="text">
            </div>
            <div class="col-25 text-right bg-green">
                <strong>
                    Recommend for Rehire:
                </strong>
            </div>
            <div class="col-20">
                <input type="text">
            </div>
        </div>

        <div class="bg-dark bottomline clearfix">
            <strong class="indent-1">
                Action:
            </strong>
            <div class="pull-right col-80 bg-light">
                <strong class="indent-1">
                    Action Reason Code:
                </strong>
            </div>
        </div>

        <div class="form-row clearfix indent-1">
            Termination:
            <div class="pull-right col-80">
                <select name="" id="">
                    <option value="">AEC Accepted other employment with competitor company 76</option>
                </select>
            </div>
        </div>

        <div class="form-row bottomline">
            <div class="col-20 vertical-top text-right">
                Remarks:
            </div>
            <div class="col-80">
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
        </div>

        <div class="bg-dark bottomline">
            <div class="col-15">&nbsp;</div>
            <div class="bg-yellow col-55">
                <h3 class="indent-1">
                    APPROVALS
                </h3>
            </div>
            <div class="col-30">
                <strong>
                  Important Dates: 
                </strong>
            </div>
        </div>

        <div class="form-row clearfix">
            <div class="col-15 text-right vertical-top">
                <strong>
                    Approvals:
                </strong>
            </div>
            <div class="col-55 vertical-top">
                <div class="col-100">
                    <div class="col-20 text-right">
                        <strong>
                            <u>Manager:</u>
                        </strong>
                    </div>
                </div>
                <div class="col-20 text-right">
                    Signature:
                </div>
                <div class="col-45">
                    <input type="text">
                </div>
                <div class="col-10">
                    Date:
                </div>
                <div class="col-25">
                    <input type="text">
                </div>
                <div class="col-100">
                    <div class="col-20 text-right">
                        <strong>
                            <u>HR:</u>
                        </strong>
                    </div>
                </div>
                <div class="col-20 text-right">
                    Signature:
                </div>
                <div class="col-45">
                    <input type="text">
                </div>
                <div class="col-10">
                    Date:
                </div>
                <div class="col-25">
                    <input type="text">
                </div>
            </div>
            <aside class="pull-right bg-light">
                <div class="col-55">
                    <strong>
                        Seniority Date:
                    </strong>
                </div>
                <div class="col-45">
                    <input type="text">
                </div>
                <div class="col-55">
                    <strong>
                        Termination Date:
                    </strong>
                </div>
                <div class="col-45">
                    <input type="text">
                </div>
                <div class="col-55">
                    <strong>
                        LOA Return Date:
                    </strong>
                </div>
                <div class="col-45">
                    <input type="text">
                </div>
                <div class="col-55">
                    <strong>
                        Re-Hire Date:
                    </strong>
                </div>
                <div class="col-45">
                    <input type="text">
                </div>
                <div class="col-55">
                    <strong>
                        LOA Out Date:
                    </strong>
                </div>
                <div class="col-45">
                    <input type="text">
                </div>
                <div class="col-55">
                    <strong>
                        Est. End Date:
                    </strong>
                </div>
                <div class="col-45">
                    <input type="text">
                </div>
            </aside>
            <div class="col-100 clearfix">
                <div class="col-15 text-right vertical-top">
                    <strong>
                        Remarks:
                    </strong>
                </div>
                <div class="col-85 vertical-top pull-right bg-light remarks-wrapper">
                    <input type="text">
                    <input type="text">
                </div>
            </div>
        </div>

    </div>
</main>
