<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="font-weight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="sign-btn-group">
            <input type="button" class="lifesuite__button primary" value="Sign" onclick="validateSignature('signature','eSignature1','fullName','modal','over','sv', 'a39_Applicant_Signature_Date');xbObj('eSignature1').value='';document.getElementById('eSignature1').focus();">&nbsp;
            <input type="button" class="lifesuite__button" value="Clear" onclick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value=''; if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','a39_Applicant_Signature_Date');}">&nbsp;
            <input type="button" class="lifesuite__button" value="Cancel" onclick="showHide('modal');showHide('over');xbObj('eSignature1').value='';" style="margin-right: -8px;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal E-Signature box 2: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal2" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="font-weight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <b>Type your Name:</b> <input type=text id="eSignature2" class="lifesuite__text-input ng-invalid">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="sign-btn-group">
            <input type="button" class="lifesuite__button primary" value="Sign" onclick="validateSignature('signature2','eSignature2','','modal2','over','sv2', 'a46_HR_Signature_Date');xbObj('eSignature2').value='';document.getElementById('eSignature2').focus();">&nbsp;
            <input type="button" class="lifesuite__button" value="Clear" onclick="xbObj('signature2').value='';showHide('modal2');showHide('over');xbObj('eSignature2').value=''; if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature2','a46_HR_Signature_Date');}">&nbsp;
            <input type="button" class="lifesuite__button" value="Cancel" onclick="showHide('modal2');showHide('over');xbObj('eSignature2').value='';" style="margin-right: -8px;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal E-Signature box 3: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal3" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="font-weight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <b>Type your Name:</b> <input type=text id="eSignature3" class="lifesuite__text-input ng-invalid">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="sign-btn-group">
            <input type="button" class="lifesuite__button primary" value="Sign" onclick="validateSignature('signature3','eSignature3','','modal3','over','sv3', 'a48_Office_Managing_Director_Signature_Date');xbObj('eSignature3').value='';document.getElementById('eSignature3').focus();">&nbsp;
            <input type="button" class="lifesuite__button" value="Clear" onclick="xbObj('signature3').value='';showHide('modal3');showHide('over');xbObj('eSignature3').value=''; if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature3','a48_Office_Managing_Director_Signature_Date');}">&nbsp;
            <input type="button" class="lifesuite__button" value="Cancel" onclick="showHide('modal3');showHide('over');xbObj('eSignature3').value='';" style="margin-right: -8px;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal E-Signature box 4: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal4" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="font-weight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <b>Type your Name:</b> <input type=text id="eSignature4" class="lifesuite__text-input ng-invalid">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="sign-btn-group">
            <input type="button" class="lifesuite__button primary" value="Sign" onclick="validateSignature('signature4','eSignature4','','modal4','over','sv4', 'a49_NHRD_Signature_Date');xbObj('eSignature4').value='';document.getElementById('eSignature4').focus();">&nbsp;
            <input type="button" class="lifesuite__button" value="Clear" onclick="xbObj('signature4').value='';showHide('modal4');showHide('over');xbObj('eSignature4').value=''; if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','a49_NHRD_Signature_Date');}">&nbsp;
            <input type="button" class="lifesuite__button" value="Cancel" onclick="showHide('modal4');showHide('over');xbObj('eSignature4').value='';" style="margin-right: -8px;">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="over" style="display:none;"></div>
<!-- RESPONSIVE eFORM PAGE LOADER-->
<div class="modal" style="display:block; background: #002E6D;">
  <div class="fb-spinner">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<form name="frmForm" action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);" role="form">
    <div hidden>
        <$client.env.FormField.Form_Name.prompt>
        <$client.env.FormField.Form_Name.HTML>
        <$client.env.FormField.Form_Type.prompt>
        <$client.env.FormField.Form_Type.HTML>
        <$client.env.FormField.Form_Owner.prompt>
        <$client.env.FormField.Form_Owner.HTML>
        <$client.env.FormField.Form_CreateDate.prompt>
        <$client.env.FormField.Form_CreateDate.HTML>
        <$client.env.FormField.Form_Completed.prompt>
        <$client.env.FormField.Form_Completed.HTML>
        <$client.env.FormField.Form_Delivered.prompt>
        <$client.env.FormField.Form_Delivered.HTML>
        <$client.env.FormField.Form_TaskId.prompt>
        <$client.env.FormField.Form_TaskId.HTML>
        <$client.env.FormField.display_version.HTML>
        <!-- Replace With eForm Specific Data Field Prompts From Formalizer-->
        <$client.env.FormField.SignatureVerification.prompt>
        <$client.env.FormField.SignatureVerification2.prompt>
        <$client.env.FormField.SignatureVerification3.prompt>
        <$client.env.FormField.SignatureVerification4.prompt>
        <$client.env.FormField.a01_Name.prompt>
        <$client.env.FormField.a02_Request_Date.prompt>
        <$client.env.FormField.a03_Level.prompt>
        <$client.env.FormField.a04_Employment_Date.prompt>
        <$client.env.FormField.a05_Office_Location.prompt>
        <$client.env.FormField.a06_Approved_FWA.prompt>
        <$client.env.FormField.a07_Requested_FWA_Start_Date.prompt>
        <$client.env.FormField.a08_Requested_FWA_End_Date.prompt>
        <$client.env.FormField.a09_FWA_Type_Telecommuting.prompt>
        <$client.env.FormField.a09_FWA_Type_Reduced_Schedule.prompt>
        <$client.env.FormField.a10_Schedule_Percent.prompt>
        <$client.env.FormField.a11_Current_Schedule_Hours.prompt>
        <$client.env.FormField.a12_Current_Schedule_Hours.prompt>
        <$client.env.FormField.a12_Current_Schedule_Location.prompt>
        <$client.env.FormField.a13_Current_Schedule_Location.prompt>
        <$client.env.FormField.a14_Current_Schedule_Hours.prompt>
        <$client.env.FormField.a15_Current_Schedule_Location.prompt>
        <$client.env.FormField.a16_Current_Schedule_Hours.prompt>
        <$client.env.FormField.a17_Current_Schedule_Location.prompt>
        <$client.env.FormField.a18_Current_Schedule_Hours.prompt>
        <$client.env.FormField.a19_Current_Schedule_Location.prompt>
        <$client.env.FormField.a20_Current_Schedule_Total.prompt>
        <$client.env.FormField.a21_Proposed_Schedule_Hours.prompt>
        <$client.env.FormField.a22_Proposed_Schedule_Hours.prompt>
        <$client.env.FormField.a22_Proposed_Schedule_Location.prompt>
        <$client.env.FormField.a23_Proposed_Schedule_Location.prompt>
        <$client.env.FormField.a24_Proposed_Schedule_Hours.prompt>
        <$client.env.FormField.a25_Proposed_Schedule_Location.prompt>
        <$client.env.FormField.a26_Proposed_Schedule_Hours.prompt>
        <$client.env.FormField.a27_Proposed_Schedule_Location.prompt>
        <$client.env.FormField.a28_Proposed_Schedule_Hours.prompt>
        <$client.env.FormField.a29_Proposed_Schedule_Location.prompt>
        <$client.env.FormField.a30_Proposed_Schedule_Total.prompt>
        <$client.env.FormField.a31_Explain_FWA_Reason.prompt>
        <$client.env.FormField.a32_Initials.prompt>
        <$client.env.FormField.a33_Initials.prompt>
        <$client.env.FormField.a34_Initials.prompt>
        <$client.env.FormField.a35_Initials.prompt>
        <$client.env.FormField.a36_Explain_FWA_Enhance.prompt>
        <$client.env.FormField.a37_Additional_FWA_Information.prompt>
        <$client.env.FormField.a38_Signature.prompt>
        <$client.env.FormField.a39_Applicant_Signature_Date.prompt>
        <$client.env.FormField.a40_Individual_Statistics_Date.prompt>
        <$client.env.FormField.a41_Rating.prompt>
        <$client.env.FormField.a42_Net_Fees_Supervised.prompt>
        <$client.env.FormField.a43_Chargeability.prompt>
        <$client.env.FormField.a44_Hours_Supervised.prompt>
        <$client.env.FormField.a45_HR_Signature.prompt>
        <$client.env.FormField.a46_HR_Signature_Date.prompt>
        <$client.env.FormField.a47_Office_Managing_Director_Signature.prompt>
        <$client.env.FormField.a48_Office_Managing_Director_Signature_Date.prompt>
        <$client.env.FormField.a49_NHRD_Signature.prompt>
        <$client.env.FormField.a49_NHRD_Signature_Date.prompt>
    </div>
    
    <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">

<main class="container-fluid">
    <header class="row">
        <div class="col-lg-3 col-sm-3 col-xs-12">
            <img src="<$link;/main/RedCarpet/FormTemplates/Flexible_Work_Arrangement_Application_Form/img/andersenlogo.jpg>" alt="Andersen Logo" class="img-responsive">
        </div>
    </header>
    <div class="row mb-30">
        <div class="col-lg-12">
            <h3 class="heading text-center">
                <strong>FLEXIBLE WORK <br class="hidden-xs">ARRANGEMENT APPLICATION</strong>
            </h3>
        </div>
    </div>

    <div class="row mb-40">
        <div class="col-lg-12">
            <div class="box b-thick">
                <div class="bg-black p-sm">
                    <strong>
                        EMPLOYEE INFORMATION
                    </strong>
                </div>
                <div class="t-container">
                    <div class="t-group">
                        <div class="t-row">
                            <div class="t-cell b-bottom p-x">
                                Name:
                            </div>
                            <div class="t-cell b-left b-right b-bottom p-sm">
                                <$client.env.FormField.a01_Name.HTML>
                            </div>
                            <div class="t-cell b-bottom p-x">
                                Date of Request:
                            </div>
                            <div class="t-cell b-left b-bottom p-sm">
                                <$client.env.FormField.a02_Request_Date.HTML>
                            </div>
                        </div>
                        <div class="t-row">
                            <div class="t-cell b-bottom p-x">
                                Level:
                            </div>
                            <div class="t-cell b-bottom b-left b-right p-sm">
                                <$client.env.FormField.a03_Level.HTML>
                            </div>
                            <div class="t-cell b-bottom p-x">
                                Employment Date:
                            </div>
                            <div class="t-cell b-bottom b-left p-sm">
                                <$client.env.FormField.a04_Employment_Date.HTML>
                            </div>
                        </div>
                        <div class="t-row">
                            <div class="t-cell b-bottom p-x">
                                Office Location:
                            </div>
                            <div class="t-cell b-bottom b-left b-right p-sm">
                                <$client.env.FormField.a05_Office_Location.HTML>
                            </div>
                            <div class="t-cell b-bottom p-x">
                                Currently on an approved FWA?
                                <div>
                                    <$client.env.FormField.a06_Approved_FWA.HTML>
                                </div>
                            </div>
                            <div class="t-cell b-bottom">&nbsp;</div>
                        </div>
                        <div class="t-row">
                            <div class="t-cell b-bottom p-x">
                                Requested <br class="hidden-xs">
                                FWA Start Date
                            </div>
                            <div class="t-cell b-bottom b-left b-right p-sm">
                                <$client.env.FormField.a07_Requested_FWA_Start_Date.HTML>
                            </div>
                            <div class="t-cell b-bottom p-x">
                                Requested FWA <br class="hidden-xs">
                                End Date
                            </div>
                            <div class="t-cell b-bottom b-left p-sm">
                                <$client.env.FormField.a08_Requested_FWA_End_Date.HTML>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-black p-sm">
                    <strong>
                        FLEXIBLE WORK ARRANGEMENT INFORMATION
                    </strong>
                </div>
            
                <div class="p-sm b-bottom">
                    FWA Type:
                    <div class="mb-20">
                        <div class="i-block">
                            <$client.env.FormField.a09_FWA_Type_Telecommuting.HTML>
                        </div>
                        <br>
                        <div class="i-block">
                            <$client.env.FormField.a09_FWA_Type_Reduced_Schedule.HTML>
                        </div>
                        <div class="i-block">
                            <div class="i-block">
                                (
                            </div>
                            <div class="i-block">
                                <$client.env.FormField.a10_Schedule_Percent.HTML>
                            </div>
                            <div class="i-block">
                                % Schedule)
                            </div>
                        </div>
                    </div>

                    <div class="mb-10">
                        Indicate your current and proposed schedule with hours:
                    </div>
                    <div class="box t-container">
                        <div class="t-group">
                            <div class="t-row">
                                <div class="t-cell b-right">
                                    <div class="text-center bg-grey b-bottom">
                                        <strong>Current Schedule</strong>
                                    </div>
                                    <div class="t-container">
                                        <div class="t-group">
                                            <div class="t-row hidden-xs">
                                                <div class="t-cell b-bottom bg-grey b-right p-x">
                                                    <strong>Days</strong>
                                                </div>
                                                <div class="t-cell b-bottom text-center bg-grey b-right">
                                                    <strong>Hours</strong>
                                                </div>
                                                <div class="t-cell b-bottom text-center bg-grey">
                                                    <strong>Location</strong>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-bottom b-right center-xs p-x">
                                                    Monday
                                                </div>
                                                <div class="t-cell b-bottom b-right p-sm">
                                                    <div class="visible-xs">
                                                        Hours
                                                    </div>
                                                    <$client.env.FormField.a11_Current_Schedule_Hours.HTML>
                                                </div>
                                                <div class="t-cell b-bottom p-sm">
                                                    <div class="visible-xs">
                                                        Location
                                                    </div>
                                                    <$client.env.FormField.a12_Current_Schedule_Location.HTML>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-bottom b-right center-xs p-x">
                                                    Tuesday
                                                </div>
                                                <div class="t-cell b-bottom b-right p-sm">
                                                    <div class="visible-xs">
                                                        Hours
                                                    </div>
                                                    <$client.env.FormField.a12_Current_Schedule_Hours.HTML>
                                                </div>
                                                <div class="t-cell b-bottom p-sm">
                                                    <div class="visible-xs">
                                                        Location
                                                    </div>
                                                    <$client.env.FormField.a13_Current_Schedule_Location.HTML>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-bottom b-right center-xs p-x">
                                                    Wednesday
                                                </div>
                                                <div class="t-cell b-bottom b-right p-sm">
                                                    <div class="visible-xs">
                                                        Hours
                                                    </div>
                                                    <$client.env.FormField.a14_Current_Schedule_Hours.HTML>
                                                </div>
                                                <div class="t-cell b-bottom p-sm">
                                                    <div class="visible-xs">
                                                        Location
                                                    </div>
                                                    <$client.env.FormField.a15_Current_Schedule_Location.HTML>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-bottom b-right center-xs p-x">
                                                    Thursday
                                                </div>
                                                <div class="t-cell b-bottom b-right p-sm">
                                                    <div class="visible-xs">
                                                        Hours
                                                    </div>
                                                    <$client.env.FormField.a16_Current_Schedule_Hours.HTML>
                                                </div>
                                                <div class="t-cell b-bottom p-sm">
                                                    <div class="visible-xs">
                                                        Location
                                                    </div>
                                                    <$client.env.FormField.a17_Current_Schedule_Location.HTML>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-bottom b-right center-xs p-x">
                                                    Friday
                                                </div>
                                                <div class="t-cell b-bottom b-right p-sm">
                                                    <div class="visible-xs">
                                                        Hours
                                                    </div>
                                                    <$client.env.FormField.a18_Current_Schedule_Hours.HTML>
                                                </div>
                                                <div class="t-cell b-bottom p-sm">
                                                    <div class="visible-xs">
                                                        Location
                                                    </div>
                                                    <$client.env.FormField.a19_Current_Schedule_Location.HTML>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-right p-x">
                                                    <strong>Total Hours:</strong>
                                                </div>
                                                <div class="t-cell b-right p-sm">
                                                    <$client.env.FormField.a20_Current_Schedule_Total.HTML>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="t-cell">
                                    <div class="text-center bg-grey b-bottom">
                                        <strong>Proposed Schedule</strong>
                                    </div>
                                    <div class="t-container">
                                        <div class="t-group">
                                            <div class="t-row hidden-xs">
                                                <div class="t-cell b-bottom bg-grey b-right p-x">
                                                    <strong>Days</strong>
                                                </div>
                                                <div class="t-cell b-bottom text-center bg-grey b-right">
                                                    <strong>Hours</strong>
                                                </div>
                                                <div class="t-cell b-bottom text-center bg-grey">
                                                    <strong>Location</strong>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-bottom b-right center-xs p-x">
                                                    Monday
                                                </div>
                                                <div class="t-cell b-bottom b-right p-sm">
                                                    <div class="visible-xs">
                                                        Hours
                                                    </div>
                                                    <$client.env.FormField.a21_Proposed_Schedule_Hours.HTML>
                                                </div>
                                                <div class="t-cell b-bottom p-sm">
                                                    <div class="visible-xs">
                                                        Location
                                                    </div>
                                                    <$client.env.FormField.a22_Proposed_Schedule_Location.HTML>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-bottom b-right center-xs p-x">
                                                    Tuesday
                                                </div>
                                                <div class="t-cell b-bottom b-right p-sm">
                                                    <div class="visible-xs">
                                                        Hours
                                                    </div>
                                                    <$client.env.FormField.a22_Proposed_Schedule_Hours.HTML>
                                                </div>
                                                <div class="t-cell b-bottom p-sm">
                                                    <div class="visible-xs">
                                                        Location
                                                    </div>
                                                    <$client.env.FormField.a23_Proposed_Schedule_Location.HTML>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-bottom b-right center-xs p-x">
                                                    Wednesday
                                                </div>
                                                <div class="t-cell b-bottom b-right p-sm">
                                                    <div class="visible-xs">
                                                        Hours
                                                    </div>
                                                    <$client.env.FormField.a24_Proposed_Schedule_Hours.HTML>
                                                </div>
                                                <div class="t-cell b-bottom p-sm">
                                                    <div class="visible-xs">
                                                        Location
                                                    </div>
                                                    <$client.env.FormField.a25_Proposed_Schedule_Location.HTML>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-bottom b-right center-xs p-x">
                                                    Thursday
                                                </div>
                                                <div class="t-cell b-bottom b-right p-sm">
                                                    <div class="visible-xs">
                                                        Hours
                                                    </div>
                                                    <$client.env.FormField.a26_Proposed_Schedule_Hours.HTML>
                                                </div>
                                                <div class="t-cell b-bottom p-sm">
                                                    <div class="visible-xs">
                                                        Location
                                                    </div>
                                                    <$client.env.FormField.a27_Proposed_Schedule_Location.HTML>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-bottom b-right center-xs p-x">
                                                    Friday
                                                </div>
                                                <div class="t-cell b-bottom b-right p-sm">
                                                    <div class="visible-xs">
                                                        Hours
                                                    </div>
                                                    <$client.env.FormField.a28_Proposed_Schedule_Hours.HTML>
                                                </div>
                                                <div class="t-cell b-bottom p-sm">
                                                    <div class="visible-xs">
                                                        Location
                                                    </div>
                                                    <$client.env.FormField.a29_Proposed_Schedule_Location.HTML>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-right p-x">
                                                    <strong>Total Hours:</strong>
                                                </div>
                                                <div class="t-cell b-right p-sm">
                                                    <$client.env.FormField.a30_Proposed_Schedule_Total.HTML>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        <em>*Note: Employees scheduled for less than 20 hours per week are not eligible for benefits.</em>
                    </p>

                    <p>
                        Explain the primary reason for your flexible work arrangement request.
                    </p>

                    <$client.env.FormField.a31_Explain_FWA_Reason.HTML>

                    <div class="row mb-10">
                        <div class="col-lg-2 col-sm-2 col-xs-12">
                            <$client.env.FormField.a32_Initials.HTML>
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xs-12">
                            I understand that this is an accommodation request and, as such, it should not impair or impede my ability to fulfill my job responsibilities. I also understand that continuation of this flexible work arrangement is subject to continued, satisfactory performance on the job.
                        </div>
                    </div>

                    <div class="row mb-10">
                        <div class="col-lg-2 col-sm-2 col-xs-12">
                            <$client.env.FormField.a33_Initials.HTML>
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xs-12">
                            If telecommuting, I confirm that my alternate workplace is free of distractions (e.g., any children or elders have caregivers present during work hours, there is a dedicated work station with minimal extraneous noise, etc.).
                        </div>
                    </div>

                    <div class="row mb-10">
                        <div class="col-lg-2 col-sm-2 col-xs-12">
                            <$client.env.FormField.a34_Initials.HTML>
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xs-12">
                            I understand that I am still required to attend meetings inside or outside of the office consistent with my current job responsibilities.
                        </div>
                    </div>

                    <div class="row mb-20">
                        <div class="col-lg-2 col-sm-2 col-xs-12">
                            <$client.env.FormField.a35_Initials.HTML>
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xs-12">
                            I understand that I am expected to continue working overtime consistent with my current role (e.g., Client service personnel are generally expected to work an average of 15% of base hours as overtime each year, PMG professionals work seasonal overtime as needed, etc.).
                        </div>
                    </div>

                </div>
                <div class="p-sm">
                    <div class="row mb-10">
                        <div class="col-lg-12">
                            <p>
                                How will this proposed schedule sustain or enhance your ability to get the job done and how do you plan to address any barriers that may arise as a result of your flexible work arrangement?
                            </p>
                            <$client.env.FormField.a36_Explain_FWA_Enhance.HTML>
                        </div>
                    </div>
                    <div class="row mb-10">
                        <div class="col-lg-12">
                            <p>
                                Please provide any additional information to support your application.
                            </p>
                            <$client.env.FormField.a37_Additional_FWA_Information.HTML>
                        </div>
                    </div>

                </div>
                <div class="bg-black p-sm">
                    <strong>APPLICANT SIGNATURE</strong>
                </div>
                <div class="p-sm">
                    <p>
                        I have read and understand the flexible work arrangement policy and FAQs and agree to the terms and conditions set forth by this arrangement. I understand that my involvement in, and contributions to, client, firm, and office related matters should not be adversely impacted by this FWA arrangement. I understand that it is my responsibility to make my flexible work arrangement a success and that Andersen has the right to discontinue this arrangement at any time.
                    </p>
                    <div class="box">
                        <div class="t-container">
                            <div class="t-group">
                                <div class="t-row">
                                    <div class="t-cell b-bottom w-65 p-sm">
                                        <$client.env.FormField.a38_Signature.HTML>
                                        <div class="visible-xs">
                                            Applicant Signature
                                        </div>
                                    </div>
                                    <div class="t-cell b-bottom b-left b-right">&nbsp;</div>
                                    <div class="t-cell b-bottom w-30 p-sm">
                                        <$client.env.FormField.a39_Applicant_Signature_Date.HTML>
                                        <div class="visible-xs">
                                            Date
                                        </div>
                                    </div>
                                </div>
                                <div class="t-row hidden-xs">
                                    <div class="t-cell p-x">
                                        Applicant Signature
                                    </div>
                                    <div class="t-cell b-left b-right">&nbsp;</div>
                                    <div class="t-cell p-x">
                                        Date
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-black p-sm">
                    <strong>PERFORMANCE AND CHARGEABILITY STATISTICS (TO BE COMPLETED BY LOCAL HR/OPS REPRESENTATIVE)</strong>
                </div>

                <div class="p-sm">
                    <div class="box t-container">
                        <div class="t-group">
                            <div class="t-row">
                                <div class="t-cell b-right p-x">
                                    Individual Statistics as of:
                                    <$client.env.FormField.a40_Individual_Statistics_Date.HTML>
                                </div>
                                <div class="t-cell">
                                    <div class="t-container">
                                        <div class="t-group">
                                            <div class="t-row">
                                                <div class="t-cell b-bottom b-right p-x">
                                                    Rating:
                                                </div>
                                                <div class="t-cell b-bottom b-right p-sm">
                                                    <$client.env.FormField.a41_Rating.HTML>
                                                </div>
                                                <div class="t-cell b-bottom b-right p-x">
                                                    Net Fees Supervised:
                                                </div>
                                                <div class="t-cell b-bottom b-right p-sm">
                                                    <$client.env.FormField.a42_Net_Fees_Supervised.HTML>
                                                </div>
                                            </div>
                                            <div class="t-row">
                                                <div class="t-cell b-right p-x">
                                                    Chargeability:
                                                </div>
                                                <div class="t-cell b-right p-sm">
                                                    <$client.env.FormField.a43_Chargeability.HTML>
                                                </div>
                                                <div class="t-cell b-right p-x">
                                                    Hours Supervised:
                                                </div>
                                                <div class="t-cell b-right p-sm">
                                                    <$client.env.FormField.a44_Hours_Supervised.HTML>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-black p-sm">
                    <strong>AUTHORIZATION</strong>
                </div>

                <div class="p-sm">

                    <div class="box mb-20">
                        <div class="t-container">
                            <div class="t-group">
                                <div class="t-row">
                                    <div class="t-cell b-bottom w-65 p-sm">
                                        <$client.env.FormField.a45_HR_Signature.HTML>
                                        <div class="visible-xs">
                                            Local HR/Ops Representative
                                        </div>
                                    </div>
                                    <div class="t-cell b-bottom b-left b-right">&nbsp;</div>
                                    <div class="t-cell b-bottom w-30 p-sm">
                                        <$client.env.FormField.a46_HR_Signature_Date.HTML>
                                        <div class="visible-xs">
                                            Date
                                        </div>
                                    </div>
                                </div>
                                <div class="t-row hidden-xs">
                                    <div class="t-cell w-65 p-x">
                                        Local HR/Ops Representative
                                    </div>
                                    <div class="t-cell b-left b-right">&nbsp;</div>
                                    <div class="t-cell w-30 p-x">
                                        Date
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box mb-20">
                        <div class="t-container">
                            <div class="t-group">
                                <div class="t-row">
                                    <div class="t-cell b-bottom w-65 p-sm">
                                        <$client.env.FormField.a47_Office_Managing_Director_Signature.HTML>
                                        <div class="visible-xs">
                                            Office Managing Director
                                        </div>
                                    </div>
                                    <div class="t-cell b-bottom b-left b-right">&nbsp;</div>
                                    <div class="t-cell b-bottom w-30 p-sm">
                                        <$client.env.FormField.a48_Office_Managing_Director_Signature_Date.HTML>
                                        <div class="visible-xs">
                                            Date
                                        </div>
                                    </div>
                                </div>
                                <div class="t-row hidden-xs">
                                    <div class="t-cell p-x">
                                        Office Managing Director
                                    </div>
                                    <div class="t-cell b-left b-right">&nbsp;</div>
                                    <div class="t-cell p-x">
                                        Date
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box mb-20">
                        <div class="t-container">
                            <div class="t-group">
                                <div class="t-row">
                                    <div class="t-cell b-bottom w-65 p-sm">
                                        <$client.env.FormField.a49_NHRD_Signature.HTML>
                                        <div class="visible-xs">
                                            Director, National Human Resources
                                        </div>
                                    </div>
                                    <div class="t-cell b-bottom b-left b-right">&nbsp;</div>
                                    <div class="t-cell b-bottom w-30 p-sm">
                                        <$client.env.FormField.a49_NHRD_Signature_Date.HTML>
                                        <div class="visible-xs">
                                            Date
                                        </div>
                                    </div>
                                </div>
                                <div class="t-row hidden-xs">
                                    <div class="t-cell p-x">
                                        Director, National Human Resources
                                    </div>
                                    <div class="t-cell b-left b-right">&nbsp;</div>
                                    <div class="t-cell p-x">
                                        Date
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <footer class="row">
        <div class="col-lg-12">
            <p>Rev 9/2020</p>
        </div>
    </footer>

    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="sign-btn-group">
            <$client.env.FormButtons>
        </div>
    </div>
</main>


<div hidden>
    <$client.env.FormField.SignatureVerification.HTML>
    <$client.env.FormField.SignatureVerification2.HTML>
    <$client.env.FormField.SignatureVerification3.HTML>
    <$client.env.FormField.SignatureVerification4.HTML>
</div>

</form>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/Flexible_Work_Arrangement_Application_Form/js/bootstrap.min.js>"></script>
<script>
showScreen('over');
ChangeCalendarIcons(); //for popup calendar
const thisForm = document.querySelector('[name="frmForm"]');
/* RESPONSIVE eFORM BUTTONS STYLE */
$(document).on('ready', function() {
    $("#buttonCancel").removeClass().addClass("lifesuite__button").prop('id','ButtonCancel');
    $("#buttonSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSave');
    $("#buttonSaveAndComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSaveAndComplete');
    $("#buttonPrint").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPrint');
    $("#buttonPreviewDelete").removeClass().addClass("lifesuite__button").prop('id','ButtonPreviewDelete');
    $("#buttonPreviewSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPreviewSave');
    $("#buttonComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonComplete');
    $('#formButtons').show();
    $("input[type=text]").addClass('lifesuite__text-input');
    $("input[type=text].hasDatepicker").addClass('dateField');
    $("select").addClass('lifesuite__select-input');
    $("input[type=radio]").addClass('lifesuite__radio');
    $("input[type=checkbox]").addClass('lifesuite__checkbox');
    $("textarea").addClass('lifesuite__textarea-input');
    $('label').addClass('lifesuite__input-label lifesuite__inputblock');
});

(function(el) {
    el.parent().find('input').prop('disabled', 'disabled');
})($('.disable-date'));

if (window.NodeList && !NodeList.prototype.forEach) {
   NodeList.prototype.forEach = Array.prototype.forEach;
}
const toggleEnable = function(chkbx, target, requiredVal) {
    "use strict";
    let hasChecked  = false;
    let shouldEnable    = false;
    if (chkbx.checked) {
        hasChecked = true
        if (chkbx.value == requiredVal) {
            shouldEnable = true;
        }
    }
    if (shouldEnable) {
        target.disabled = false;
        target.focus();
        return;
    }
    target.value = '';
    target.disabled = true;
}
const checkboxSiblings = function(cb) {
    "use strict";
    let cbFamily = cb.getAttribute('name');
    let checked = cb.checked;
    thisForm.querySelectorAll('[name="' + cbFamily + '"]').forEach(function(c) {
        c.checked = false;
    });
    cb.checked = checked;
}
const schedulePercent = thisForm.querySelector('[name$=".a10_Schedule_Percent"]');
const fwaTypeRS = thisForm.querySelector('[name$=".a09_FWA_Type_Reduced_Schedule"]');
fwaTypeRS.addEventListener('change', function() {
    toggleEnable(this, schedulePercent, 'Reduced Schedule');
});
toggleEnable(fwaTypeRS, schedulePercent, 'Reduced Schedule');

thisForm.querySelectorAll('[name$=".a06_Approved_FWA"]').forEach(function(cb) {
    cb.addEventListener('change', function() {
        checkboxSiblings(this);
    });
});
const acceptOnlyNumeric = function(evt) {
    "use strict";  
    this.value = this.value.replace(/[^0-9]/g, '');
}
thisForm.querySelector('[name$=".a10_Schedule_Percent"]').addEventListener('keyup', acceptOnlyNumeric);
thisForm.querySelector('[name$=".a10_Schedule_Percent"]').addEventListener('blur', acceptOnlyNumeric);
thisForm.querySelector('[name$=".a10_Schedule_Percent"]').addEventListener('paste', acceptOnlyNumeric);

$(window).on('load', function() {
    $(".modal").hide();
});
</script>
