<!--[if lt IE 8]>

<![endif]-->

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal" style="display:none;"> 
              <div class="modal-content"> 
                             <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'Entiendo que al firmar electrónicamente este documento escribiendo mi nombre completo más adelante, que yo reconozco, estoy de acuerdo y doy fe de que la información proporcionada por mí es verdadera y correcta y que estoy libre intención de crear y adoptar como propia una firma electrónica legalmente vinculante que lleva el mismo efecto legal y la aplicabilidad como mi firma manuscrita.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                            <div class="lifesuite__clearfix"> 
                                                          <b>Escriba su nombre:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp; 
                                            </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;"> 

                                                         <input style="margin-top:10px" type="button" class="lifesuite__button primary" value="Firmar" onClick="validateSignature('signature','eSignature1','name','modal','over','sv','Date');xbObj('eSignature1').value='';">&nbsp; 

                                                          <input type="button" class="lifesuite__button" value="Claro" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','Date');}">&nbsp; 

                                                          <input type="button" class="lifesuite__button" value="Cancearl" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';"> 
                                           </div> 
                            </div> 
              </div> 
</div> 
<div id="over" style="display:none;"></div>
<SCRIPT>
    showScreen('over');
</SCRIPT>
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="modal" style="display:block; background: #002E6D;"> 
              <div class="fb-spinner"> 
                             <i class="fa fa-2x fa-spinner fa-pulse"></i> 
              </div> 
</div> 
<form name='frmForm'
action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave
?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);">
<div style="display:none;">
<$client.env.FormField.Form_Name.prompt>
<$client.env.FormField.Form_Name.HTML>
<$client.env.FormField.Form_Type.prompt>
<$client.env.FormField.Form_Type.HTML>
<$client.env.FormField.Form_Owner.prompt>
<$client.env.FormField.Form_Owner.HTML>
<$client.env.FormField.Form_CreateDate.prompt>
<$client.env.FormField.Form_CreateDate.HTML>
<$client.env.FormField.Form_Completed.prompt>
<$client.env.FormField.Form_Completed.HTML>
<$client.env.FormField.Form_Delivered.prompt>
<$client.env.FormField.Form_Delivered.HTML>
<$client.env.FormField.Form_TaskId.prompt>
<$client.env.FormField.Form_TaskId.HTML>
<$client.env.FormField.display_version.HTML>





</div>
<input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">


<div class="container-fluid">  

              <div class="form-group">  

<!--mainTable-->
<div class="row" style="background-color: black;color:white;padding:20px">
                <div id="this-header" class="this-header col-xs-12 col-md-12 center">
                  <h1 class="headerNoMargin"><b>Derecho a estar exento de desigualdad o discriminación</b></h1>
                  <h2 class="headerNoMargin"><b>de género con respecto al pago, la remuneración, los beneficios</b></h2>
                  <h3 class="headerNoMargin"><b>o cualquier otro término o condición de empleo</b></h3>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-md-12 center">
                 &nbsp;
                </div>
              </div>

              <div id="row-1" class="row-1 row">
                <div id="col-1" class="col-1 col-xs-12 col-md-12">
                 <p><i>Las leyes de New Jersey y federales prohíben a los empleadores discriminar contra cualquier persona con respecto a su pago, remuneración, beneficios o cualquier otro término, condición o privilegio de empleo debido a su género.</i></p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-md-12 center">
                 &nbsp;
                </div>
              </div>

              <div id="row-2" class="row-2 row">
                <div id="col-2" class="col-2 col-xs-12 col-md-12">
                 <h5><b>LEYES FEDERALES</b></h4>
                </div>
              </div>

              <div id="row-3" class="row-3 row">
                <div id="col-3" class="col-3 col-xs-12 col-md-12">
                 <p>El Título VII de la Ley de Derechos Civiles de 1964 prohíbe la discriminación laboral debido al género de la persona, entre
otras cosas. Las reclamaciones acordes al Título VII deben ser presentadas ante la Comisión de Igualdad de Oportunidades
en el Empleo de los Estados Unidos (EEOC, por sus siglas en inglés) antes de que puedan ser presentadas ante un tribunal.
Entre los recursos legales conforme al Título VII están: una orden que prohíba los actos ilícitos de discriminación, que se pague
remuneración con carácter retroactivo, y que se pague por daños compensatorios y punitivos.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-md-12 center">
                 &nbsp;
                </div>
              </div>

              <div id="row-4" class="row-4 row">
                <div id="col-4" class="col-4 col-xs-12 col-md-12">
                 <p>La Ley de Igualdad Salarial de 1963 (EPA, por sus siglas en inglés) prohíbe la discriminación con respecto a la remuneración
basado en el género de la persona. Las reclamaciones acordes a EPA se pueden presentar ya sea ante la EEOC o
directamente antes los tribunales. Entre los recursos legales conforme a EPA están: la retribución de las sumas de salarios o
sueldos que el empleador deba, además de una suma adicional equivalente por daños y perjuicios liquidados.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-md-12 center">
                 &nbsp;
                </div>
              </div>

              <div id="row-5" class="row-5 row">
                <div id="col-5" class="col-5 col-xs-12 col-md-12 ">
                 <p>Se le ruega tener en cuenta que para que una reclamación por desigualdad de remuneración basado en el género proceda
conforme a la EPA, tiene que ser por el mismo tipo de trabajo en empleos en los que su rendimiento exija las mismas
destrezas, el mismo esfuerzo y las mismas responsabilidades, las cuales se realizan en las mismas condiciones de trabajo.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-md-12 center">
                 &nbsp;
                </div>
              </div>

              <div id="row-6" class="row-6 row">
                <div id="col-6" class="col-6 col-xs-12 col-md-12">
                 <p>Existen estrictos límites en cuanto al plazo de tiempo del que se dispone para presentar reclamaciones por discriminación
laboral. Para mayor información, comuníquese con la EEOC, llamando al 800-669-4000 o en <a href="http://www.eeoc.gov"  target="_blank"> <u>www.eeoc.gov.</u></a></p>
                </div>
              </div>

              <div id="row-7" class="row-7 row">
                <div id="col-7" class="col-7 col-xs-12 col-md-12">
                 <h5><b>LEYES DE NEW JERSEY</b></h4>
                </div>
              </div>

              <div id="row-8" class="row-8 row">
                <div id="col-8" class="col-8 col-xs-12 col-md-12">
                 <p>La Ley contra la Discriminación en New Jersey (LAD, por sus siglas en inglés) prohíbe la discriminación laboral debido al
género de la persona, entre otras cosas. Las reclamaciones conforme a LAD se pueden presentar a la División de Derechos
Civiles de New Jersey (NJDCR, por sus siglas en inglés) o directamente ante los tribunales. Entre los recursos legales
conforme a LAD están: una orden que prohíba los actos ilícitos de discriminación, que se pague remuneración con carácter
retroactivo, y que se pague por daños compensatorios y punitivos.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-md-12 center">
                 &nbsp;
                </div>
              </div>

              <div id="row-9" class="row-9 row">
                <div id="col-9" class="col-9 col-xs-12 col-md-12">
                 <p>Otra ley estatal, <u>N.J.S.A.</u> 34:11-56.1 y siguientes, también prohíbe la discriminación respecto a la tasa salarial o el método
de pago de salarios al empleado debido a su género. Las reclamaciones conforme a esta ley contra la discriminación con
respecto a los salarios se pueden presentar ante el Departamento de Trabajo y Desarrollo de la Fuerza Laboral de New Jersey
(NJDLWD, por sus siglas en inglés) o directamente antes los tribunales. Entre los recursos legales conforme a esta ley están:
la retribución de las sumas de salarios o sueldos que le deben, además de una suma adicional equivalente por daños y
perjuicios liquidados.</p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-md-12 center">
                 &nbsp;
                </div>
              </div>

              <div id="row-10" class="row-10 row">
                <div id="col-10" class="col-10 col-xs-12 col-md-12">
                 <p>Se le ruega tenga en cuenta que conforme a la ley estatal contra la discriminación con respecto a los salarios, no se considera
discriminación el hecho de que exista un diferencial salarial entre los empleados basado en otros factores razonables que no
sean el género de la persona.</p>
                </div>
              </div>

              <div id="row-11" class="row-11 row">
                <div id="col-11" class="col-11 col-xs-12 col-md-12">
                 <p>Existen estrictos límites en cuanto al plazo de tiempo del que se dispone para presentar reclamaciones por discriminación
laboral. Para mayor información relacionada con las reclamaciones conforme a LAD, comuníquese con NJDCR, llamando
al 609-292-4605 o en <a href="http://www.njcivilrights.gov" target="_blank"> www.njcivilrights.gov.</a> Para obtener información acerca de N.J.S.A. 34:11-56.1 y siguientes,
comuníquese con la División de Cumplimiento de Horarios y Salarios (DWHC), del NJDLWD, llamando al 609-292-2305 o en
<a href="http://lwd.state.nj.us" target="_blank"> http:/lwd.state.nj.us.</a></p>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-md-12 center">
                 &nbsp;
                </div>
              </div>

              <div id="row-12" class="row-12 row center">
                <div id="col-12" class="col-12 col-xs-12 col-md-12 center">
                 <h3><i><b>Este aviso se debe exponer a la vista de todos.</i></b></h3>
                </div>
              </div>

              <div id="row-13" class="row-13 row center">
                <div id="col-13" class="col-13 col-xs-12 col-md-12 center">
                <img src="<$link;/main/RedCarpet/FormTemplates/Gender_Equity_Notice__New_Jersey_SP/img/lwdtrans.gif>">
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-md-12 center">
                 &nbsp;
                </div>
              </div>

              <div id="row-14" class="row-14 row"> 
                  <div class="col-xs-12 col-md-12 bordered bottomSectionPad">
                    <div class="row">
                      <div class="col-xs-12 col-md-12 center">
                        <h5><b>Acuse de recibo de la notificación de igualdad de género</b></h5>
                      </div>  
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-md-12">
                        &nbsp;
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-md-12">
                        <p>Recibí una copia de la notificación de igualdad de género en la fecha que aparece a continuación. Lo he leído y lo entiendo.</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-md-12">
                        &nbsp;
                      </div>
                    </div>

                    <div class="row" style="text-align: left !important;">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                            <$client.env.FormField.Signer.HTML>
                        </div>
    
                    </div>
    
                    <div class="row">
                      <div class="col-xs-12 col-md-12">
                        &nbsp;
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        <img src="<$link;/main/RedCarpet/FormTemplates/Gender_Equity_Notice__New_Jersey_SP/img/stamptrans.gif>">
                      </div>
                      <div class="col-xs-12 col-md-6 alignLeftLarge">
                        <img src="<$link;/main/RedCarpet/FormTemplates/Gender_Equity_Notice__New_Jersey_SP/img/lwdtrans.gif>">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    &nbsp;
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <span>AD-290 (1/14)</span>
                  </div>
                </div>


<!--mainTable-->
                <div class="col-xs-12 col-md-12">
                    <hr class="lifesuite__hr"> 
                </div>   
                    <$client.env.FormButtons> 
             
    </div>
</div>








<div style="display:none;">
<$client.env.FormField.LoginID.HTML>
<$client.env.FormField.AuthParam.HTML>
<$client.env.FormField.EmployeeID.HTML>
</div>

</form>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/Gender_Equity_Notice__New_Jersey_SP/js/bootstrap.min.js>"></script> 
<script>
ChangeCalendarIcons(); //for popup calendar
$(window).load(function() { 
  $("input[type=text]").addClass('lifesuite__text-input');  
/* $("input[type=text].hasDatepicker").addClass('dateField'); */
   $("select").addClass('lifesuite__select-input'); 
   $("input[type=radio]").addClass('lifesuite__radio'); 
        $("input[type=checkbox]").addClass('lifesuite__checkbox'); 
        $("textarea").addClass('lifesuite__textarea-input'); 
        $('label').addClass('lifesuite__input-label lifesuite__input—block'); 
});  


//Fixes to modal issue when viewing in mobile devices 

$( window ).resize(function() { 
document.getElementById('over').style.width=''; 
}); 
$(window).load(function() { 
              $(".modal").hide(); 
});
</script>
