<main id="container"  class="container-fluid">
     <div class="row" style="margin-bottom: 20px;">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 imgr">
               <img src="<$link;/RedCarpet/Onboarding/Uploads/Images/paypal_logo.jpg>" class="img-responsive" style="max-width: 120px;">
          </div>
     </div >
     <div class="row" style="margin-bottom: 20px;">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">&nbsp;</div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 inner-wrapper">
               <p class="mb-40">Global Brand Governance Policy <br>&amp; Employee Acknowledgement</p>

               <ol>
                    <li>
                         <strong>Introduction</strong>
                         <p>
                              This policy outlines principles, guidelines, and expectations for PayPal employees regarding growing and protecting the PayPal brand. This policy applies to all employees of PayPal’s global subsidiaries. Compliance with these principles, guidelines, and expectations is required, and failure to comply may lead to disciplinary actions, including termination.
                         </p>
                    </li>
                    <li>
                         <strong>Expectations of Employees</strong>
                         <p>
                              PayPal employees are expected to commit to protecting and growing the PayPal brand as a core responsibility. This includes adherence to the following principles, and familiarity with PayPal brand guidelines, tools and resources, all of which can be found on Brand Central <a href="https://www.paypal-brandcentral.com" target="_blank">https://www.paypal-brandcentral.com</a>.
                         </p>
                    </li>
                    <li>
                         <strong>PayPal Brand Governance Principles</strong>
                         <p>
                              Each employee is expected to adhere to the following principles:
                         </p>
                         The PayPal brand is a precious asset that adds value to the bottom line.
                         <ul class="mb-20 indent-2">
                              <li>With a strong brand, PayPal secures future growth, more easily enters new markets and introduces new products.</li>
                              <li>A strong brand attracts the most talented employees.</li>
                              <li>A strong brand is trusted. It drives interaction, loyalty and exchange.</li>
                              <li>A strong PayPal brand directly drives business success.</li>
                         </ul>
                         Every employee has an active role in growing and protecting the brand.
                         <ul class="mb-20 indent-2">
                              <li>Unified by the brand, PayPal delivers on customers’ expectations of trust.</li>
                              <li>When all employees understand what the brand stands for and why it matters, it naturally translates to how PayPal treats and interacts with customers and merchants.</li>
                         </ul>
                         Every action and communication must fit with the PayPal brand.
                         <ul class="mb-20 indent-2">
                              <li>Every exchange should be evaluated to be on br and or off brand - whether visual, verbal, or behavior.</li>
                              <li>Ensuring brand fit delivers on our ability to be trusted.</li>
                         </ul>
                         Employees are trusted and empowered to manage the brand
                         <ul class="mb-20 indent-2">
                              <li>Employees are provided resources, tools, and training to grow and protect the brand.</li>
                              <li>Guidelines are constantly evolving; employees are expected to be familiar with them as they progress.</li>
                         </ul>
                         The more PayPal is seen in the world consistently, the more it is trusted.
                         <ul class="mb-20 indent-2">
                              <li>There is one PayPal brand.</li>
                              <li>Creating extra logos, names, or lockups outside of the guidelines dilutes the brand and is not permitted.</li>
                         </ul>
                         <p>
                              By signing this document, you acknowledge and agree to adhere to PayPal’s Brand Governance Policy, as detailed in the principles, guidelines, and expectations described above.
                         </p>
                    </li>
               </ol>
          </div>
     </div >
     <!--Employee Signature -->
     <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
           <label class="control-label">Signature: <span class="font-red">*</span> </label> 
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
           <div class="form-group">
              <$client.env.FormField.signature.html>
           </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"><label class="control-label">Date: </label></div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
           <div class="form-group">
              <$client.env.FormField.Dated.html>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-sm-12">&nbsp;</div>
     </div>
     <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
           <label class="control-label">Name: </label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><$client.env.FormField.Printed_Name.html></div>
     </div>

     <hr class="lifesuite__hr">
     <div class="row" id="formButtons" style="display: none;">
          <div class="lifesuite__clearfix lifesuite__float-right">                
               <$client.env.FormButtons> 
          </div>
     </div>
</main> 