<style>
    .enormaltable,
    .eborderedtable {
        width: 550px;
        COLOR: black;
        FONT-FAMILY: Arial, Tahoma, Helvetica, Sans-Serif;
        FONT-SIZE: 12px;
    }
    
    .enormalfont {
        COLOR: black;
        FONT-FAMILY: Arial, Tahoma, Helvetica, Sans-Serif;
        FONT-SIZE: 12px;
    }
    
    .eborderedtable {
        border-collapse: collapse;
        border: 1px solid #000000;
    }
    
    .eborderedtable td {
        border: 1px solid #000000;
        padding: 2px;
    }
    
    .eheader {
        color: "Black";
        background-color: "White";
        FONT-FAMILY: Arial, Tahoma, Helvetica, Sans-Serif;
        font-weight: bold;
        font-size: 16px;
    }
    
    .eheader2 {
        color: "Black";
        background-color: "White";
        FONT-FAMILY: Arial, Tahoma, Helvetica, Sans-Serif;
        FONT-SIZE: 14px;
        font-weight: bold;
        text-align: left;
    }
    
    .eheader3 {
        color: "Black";
        background-color: "White";
        FONT-FAMILY: Arial, Tahoma, Helvetica, Sans-Serif;
        FONT-SIZE: 12px;
        font-weight: bold;
        text-align: left;
    }
    
    .esmalltext {
        FONT-FAMILY: FONT-FAMILY: Arial, Tahoma, Helvetica, Sans-Serif;
        FONT-SIZE: 10px;
        font-weight: normal;
    }
    
    .eboldtext {
        FONT-FAMILY: FONT-FAMILY: Arial, Tahoma, Helvetica, Sans-Serif;
        FONT-SIZE: 12px;
        font-weight: bold;
    }
    
    select.cssApplyFormSelect {
        width: 46%;
    }
    
    textarea {
        FONT-FAMILY: Arial, Tahoma, Helvetica, Sans-Serif;
        FONT-SIZE: 12px;
    }
</style>

<!-- Module: Personal Information -->
<div id="stage1" class="stage1">
    <span class="eheader">Personal Information</span>
    <BR>
    <span class="cssApplyHighlight">Required fields are marked with an asterisk (*).</span>
    <BR>
    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable">
        <TR>
            <TD>$displayCandidateFormInfo$</TD>
        </TR>
    </table>
</div>
<!-- End Module: Personal Information -->

<!-- Module: Background Information -->
<div id="stage2" class="stage2">
    <span class="eheader">Background Information</span>
    <BR>
    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable">
        <TR>
            <TD width="50%">Are your former employment references or education listed under a name other than that stated above?
                <span class="cssApplyHighlight">*</span></TD>
            <TD><strong>$alias_8265$</strong></TD>
        </TR>
        <TR>
            <TD>
                If yes, please indicate former name.</TD>
            <TD>
                <strong>$aliasname_8266$</strong></TD>
            </TD>
        </TR>
        <TR>
            <TD>Are you at least 18 years of age?<span class="cssApplyHighlight">*</span></TD>
            <TD><strong>$over18_8267$</strong></TD>
        </TR>
        <TR>
            <TD>Have you ever been in our employ?<span class="cssApplyHighlight">*</span></TD>
            <TD><strong>$employhere_8268$</strong></TD>
        </TR>
        <TR>
            <TD>If yes, in what capacity. </TD>
            <TD><strong>$jobhere_8269$</strong></TD>
        </TR>
        <TR>
            <TD>Do you know anyone who has been or is still in our employ?<span class="cssApplyHighlight">*</span></TD>
            <TD><strong>$knowemphere_8270$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2" align="right">Name <strong>$name1_8271$</strong> Relationship <strong>$relationship1_8272$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2" align="right">Name <strong>$name2_8273$</strong> Relationship <strong>$relationship2_8274$</strong></TD>
        </TR>
    </table>
</div>
<!-- End Module: Background Information -->

<!-- Module: Employment Preferences -->
<div id="stage3" class="stage3">
    <span class="eheader">Employment Preferences</span>
    <BR>
    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable">
        <TR>
            <TD width="50%">Position Desired <span class="cssApplyHighlight">*</span>
                <BR><strong>$positiond_8279$</strong></TD>
            <TD>Pay Desired (U.S. Dollar Amount) (ddddd.cc)<span class="cssApplyHighlight">*</span>
                <BR><strong>$paydesired_8280$</strong></TD>
        </TR>
        <TR>
            <TD>Pay Interval <span class="cssApplyHighlight">*</span>
                <BR><strong>$payinterval_8281$</strong></TD>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD>Are you applying to a full-time position? <span class="cssApplyHighlight">*</span>
                <BR><strong>$fulltime_8283$</strong></TD>
            <TD>If you are applying for Part-Time or Temporary Work indicate your availability below.</TD>
        </TR>
        <TR>
            <TD>Sunday</TD>
            <TD>
                <strong>$sundayM_8284$ $sundayN_8285$ $sundayP_8286$ $sundayO_8287$ $sundayNA_8288$</strong>
            </TD>
        </TR>
        <TR>
            <TD>Monday</TD>
            <TD>
                <strong>$mondayM_8289$ $mondayN_8290$ $mondayP_8291$ $mondayO_8292$ $mondayNA_8293$</strong>
            </TD>
        </TR>
        <TR>
            <TD>Tuesday</TD>
            <TD>
                <strong>$tuesdayM_8294$ $tuesdayN_8295$ $tuesdayP_8296$ $tuesdayO_8297$ $tuesdayNA_8298$</strong>
            </TD>
        </TR>
        <TR>
            <TD>Wednesday</TD>
            <TD>
                <strong>$wensdayM_8299$ $wensdayN_8300$ $wensdayP_8301$ $wensdayO_8302$ $wensdayNA_8303$</strong>
            </TD>
        </TR>
        <TR>
            <TD>Thursday</TD>
            <TD>
                <strong>$thursdayM_8304$ $thursdayN_8305$ $thursdayP_8306$ $thursdayO_8307$ $thursdayNA_8308$</strong>
            </TD>
        </TR>
        <TR>
            <TD>Friday</TD>
            <TD>
                <strong>$fridayM_8309$ $fridayN_8310$ $fridayP_8311$ $fridayO_8312$ $fridayNA_8313$</strong>
            </TD>
        </TR>
        <TR>
            <TD>Saturday</TD>
            <TD>
                <strong>$saturdayM_8314$ $saturdayN_8315$ $saturdayP_8316$ $saturdayO_8317$ $saturdayNA_8318$</strong>
            </TD>
        </TR>
        <TR>
            <TD>Are you willing to work weekends and holidays? <span class="cssApplyHighlight">*</span>
                <BR><strong>$workholiday_8319$</strong></TD>
            <TD>Are you willing to work overtime? <span class="cssApplyHighlight">*</span>
                <BR><strong>$overtime_8320$</strong>
            </TD>
        </TR>
        <TR>
            <TD>Are you willing to rotate shifts? <span class="cssApplyHighlight">*</span>
                <BR><strong>$rotateshifts_8321$</strong></TD>
            <TD>&nbsp;</TD>
        </TR>
    </table>
</div>
<!-- End Module: Employment Preferences -->

<!-- Module: Educational Background -->
<div id="stage4" class="stage4">
    <span class="eheader">Educational Background</span>
    <BR>
    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable">
        <TR>
            <TD colspan="2" class="eheader3">High School</TD>
        </TR>
        <TR>
            <TD>School Name <span class="cssApplyHighlight">*</span>
                <BR><strong>$HighSchoolName_8322$</strong></TD>
            <TD>School City <span class="cssApplyHighlight">*</span>
                <BR><strong>$HighSchoolMunicipality_8323$</strong></TD>
        </TR>
        <TR>
            <TD>School State <span class="cssApplyHighlight">*</span>
                <BR>
                <strong>$HighSchoolRegion_8324$</strong></TD>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD>Did you graduate? <span class="cssApplyHighlight">*</span>
                <BR><strong>$sch1grad_8327$</strong></TD>
            <TD>Graduation Date (mm/yyyy) <span class="cssApplyHighlight">*</span>
                <BR><strong>$HSGradDate_8328$</strong></TD>
        </TR>
        <TR>
            <TD>Diploma/Degree <span class="cssApplyHighlight">*</span>
                <BR> <strong>$HighSchoolDegreeName_8329$</strong></TD>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD colspan="2">Describe any specialized training, apprenticeships, etc <span class="cssApplyHighlight">*</span>
                <BR><strong>$sch1desc_8331$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2" class="eheader3">College/University</TD>
        </TR>
        <TR>
            <TD>School Name
                <BR><strong>$CollegeName_8332$</strong></TD>
            <TD>School City
                <BR><strong>$CollegeMunicipality_8333$</strong></TD>
        </TR>
        <TR>
            <TD>School State
                <BR>
                <strong>$CollegeRegion_8334$</strong></TD>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD>Did you graduate?
                <BR><strong>$sch2grad_8337$</strong></TD>
            <TD>Graduation Date (mm/yyyy)
                <BR><strong>$CollGradDate_8338$</strong></TD>
        </TR>
        <TR>
            <TD>Diploma/Degree
                <BR> <strong>$CollegeDegreeName_8339$</strong></TD>
            <TD>Course of study
                <BR><strong>$CollegeMajor_8340$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2">Describe any specialized training, apprenticeships, etc
                <BR><strong>$sch2desc_8341$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2" class="eheader3">Graduate/Professional</TD>
        </TR>
        <TR>
            <TD>School Name
                <BR><strong>$GraduateSchoolName_8342$</strong></TD>
            <TD>School City
                <BR><strong>$GraduateSchoolMunicipality_8343$</strong></TD>
        </TR>
        <TR>
            <TD>School State
                <BR>
                <strong>$GraduateSchoolRegion_8344$</strong></TD>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD>Did you graduate?
                <BR><strong>$sch3grad_8347$</strong></TD>
            <TD>Graduation Date (mm/yyyy)
                <BR><strong>$GradGradDate_8348$</strong></TD>
        </TR>
        <TR>
            <TD>Diploma/Degree
                <BR> <strong>$GraduateSchoolDegreeName_8349$</strong></TD>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD colspan="2">Describe any specialized training, apprenticeships, etc
                <BR><strong>$sch3desc_8351$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2" class="eheader3">Other Information</TD>
        </TR>
        <TR>
            <TD colspan="2">Languages Spoken
                <BR> <strong>$languagesspoke_8352$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2">Languages Written
                <BR> <strong>$languageswrite_8353$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2">Other Training or educational background information
                <BR> <strong>$othertraining_8354$</strong></TD>
        </TR>
    </table>
</div>
<!-- End Module: Educational Background -->
<BR>
<!-- Module: Employment History -->
<div id="stage5" class="stage5">
    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable">
        <TR>
            <TD>Is the position you are applying for your first job?
                <SPAN class="cssApplyHighlight">*</SPAN>
                <BR><strong>$posfirstjob_8511$</strong></TD>
        </TR>
    </table>
    <BR>
    <div class="emp-history">
        <span class="eheader">Employment History</span>
        <BR>
        <span class="eheader2">List your last four (4) employers, assignments or volunteer activities, 
    <br>starting with the most recent, including military experience. Explain any gaps 
    <br>in employment in comments section. A resume is not a substitute for a completed application.</span>
        <BR>
    </div>
    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable emp-history">
        <TR>
            <TD colspan="2" class="eheader3">Employer 1</TD>
        </TR>
        <TR>
            <TD width="50%">Employer Name <span class="cssApplyHighlight">*</span>
                <BR><strong>$EmployerOrgName1_8355$</strong></TD>
            <TD>Type of Business <span class="cssApplyHighlight">*</span>
                <BR><strong>$emp1bus_8356$</strong></TD>
        </TR>
        <TR>
            <TD>Employer's Address <span class="cssApplyHighlight">*</span>
                <BR><strong>$emp1address_8357$</strong></TD>
            <TD>City <span class="cssApplyHighlight">*</span>
                <BR><strong>$EmployerMunicipality1_8358$</strong></TD>
        </TR>
        <TR>
            <TD>State <span class="cssApplyHighlight">*</span>
                <BR>
                <strong>$EmployerRegion1_8359$</strong></TD>
            <TD>Zip Code <span class="cssApplyHighlight">*</span>
                <BR><strong>$EmployerPostalCode1_8360$</strong></TD>
        </TR>
        <TR>
            <TD>Phone Number <span class="cssApplyHighlight">*</span>
                <BR><strong>$EmployerTelephone1_8361$</strong></TD>
            <TD>May we contact this employer? <span class="cssApplyHighlight">*</span>
                <BR><strong>$emp1contact_8362$</strong></TD>
        </TR>
        <TR>
            <TD>Job Title <span class="cssApplyHighlight">*</span>
                <BR><strong>$Title1_8363$</strong></TD>
            <TD>I am currently employed with this employer <span class="cssApplyHighlight">*</span>
                <BR><strong>$emp1cemploy_8364$</strong></TD>
        </TR>
        <TR>
            <TD valign="bottom">Starting Date (mm/dd/yyyy) <span class="cssApplyHighlight">*</span>
                <BR><strong>$StartDate1_8365$</strong></TD>
            <TD>Ending Date (mm/dd/yyyy) <span class="cssApplyHighlight">*</span>
                <BR>If currently employed enter today's date.
                <BR> <strong>$EndDate1_8366$</strong></TD>
        </TR>
        <!--<TR>
            <TD>Starting Pay <span class="cssApplyHighlight">*</span>
                <BR>(in U.S. Dollars) (ddddd.cc)
                <BR><strong>$emp1spay_8367$</strong></TD>
            <TD valign="bottom">Starting Pay Interval <span class="cssApplyHighlight">*</span>
                <BR>
                <strong>$emp2startpayint_8368$</strong>
            </TD>
        </TR>
        <TR>
            <TD>Ending Pay <span class="cssApplyHighlight">*</span>
                <BR>(in U.S. Dollars) (ddddd.cc)
                <BR><strong>$Compensation1_8369$</strong></TD>
            <TD valign="bottom">Ending Pay Interval <span class="cssApplyHighlight">*</span>
                <BR>
                <strong>$CompensationInterval1_8370$</strong>
            </TD>
        </TR>-->
        <TR>
            <TD>Supervisor's Name <span class="cssApplyHighlight">*</span>
                <BR><strong>$emp1suprname_8371$</strong></TD>
            <TD>Supervisor's Title <span class="cssApplyHighlight">*</span>
                <BR><strong>$emp1suprtitle_8372$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2">
                Reason for leaving or seeking other employment? <span class="cssApplyHighlight">*</span>
                <BR>
                <strong>$emp1reas4leave_8373$</strong>
            </TD>
        </TR>
        <TR>
            <TD colspan="2">
                Brief description of job <span class="cssApplyHighlight">*</span>
                <BR>
                <strong>$emp1jobdesc_8374$</strong>
            </TD>
        </TR>
    </table>
    <div class="emp-history">
        <BR>
        <BR>
    </div>



    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable emp-history">
        <TR>
            <TD colspan="2">
                <SPAN class="eheader3">Employer 2</SPAN>
                <I>All fields required if an employer name is provided</I>
            </TD>
        </TR>
        <TR>
            <TD width="50%">Employer Name
                <BR><strong>$EmployerOrgName2_8375$</strong></TD>
            <TD>Type of Business
                <BR><strong>$emp2bus_8376$</strong></TD>
        </TR>
        <TR>
            <TD>Employer's Address
                <BR><strong>$emp2address_8377$</strong></TD>
            <TD>City
                <BR><strong>$EmployerMunicipality2_8378$</strong></TD>
        </TR>
        <TR>
            <TD>State
                <BR>
                <strong>$EmployerRegion2_8379$</strong></TD>
            <TD>Zip Code
                <BR><strong>$EmployerPostalCode2_8380$</strong></TD>
        </TR>
        <TR>
            <TD>Phone Number
                <BR><strong>$EmployerTelephone2_8381$</strong></TD>
            <TD>May we contact this employer?
                <BR><strong>$emp2contact_8382$</strong></TD>
        </TR>
        <TR>
            <TD>Job Title
                <BR><strong>$Title2_8383$</strong></TD>
            <TD>I am currently employed with this employer
                <BR><strong>$emp2cemploy_8384$</strong></TD>
        </TR>
        <TR>
            <TD valign="bottom">Starting Date (mm/dd/yyyy)
                <BR><strong>$StartDate2_8385$</strong></TD>
            <TD>Ending Date (mm/dd/yyyy)
                <BR>If currently employed enter today's date.
                <BR> <strong>$EndDate2_8386$</strong></TD>
        </TR>
        <!--<TR>
            <TD>Starting Pay
                <BR>(in U.S. Dollars) (ddddd.cc)
                <BR><strong>$emp2spay_8387$</strong></TD>
            <TD valign="bottom">Starting Pay Interval
                <BR>
                <strong>$emp2startpayint_8388$</strong>
            </TD>
        </TR>
        <TR>
            <TD>Ending Pay
                <BR>(in U.S. Dollars) (ddddd.cc)
                <BR><strong>$Compensation2_8389$</strong></TD>
            <TD valign="bottom">Ending Pay Interval
                <BR>
                <strong>$CompensationInterval2_8390$</strong>
            </TD>
        </TR>-->
        <TR>
            <TD>Supervisor's Name
                <BR><strong>$emp2suprname_8391$</strong></TD>
            <TD>Supervisor's Title
                <BR><strong>$emp2suprtitle_8392$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2">
                Reason for leaving or seeking other employment?
                <BR>
                <strong>$emp2reas4leave_8393$</strong>
            </TD>
        </TR>
        <TR>
            <TD colspan="2">
                Brief description of job
                <BR>
                <strong>$emp2jobdesc_8394$</strong>
            </TD>
        </TR>
    </table>
    <div class="emp-history">
    <BR>
    <BR>
    </div>


    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable emp-history">
        <TR>
            <TD colspan="2">
                <SPAN class="eheader3">Employer 3</SPAN>
                <I>All fields required if an employer name is provided</I>
            </TD>
        </TR>
        <TR>
            <TD width="50%">Employer Name
                <BR><strong>$EmployerOrgName3_8395$</strong></TD>
            <TD>Type of Business
                <BR><strong>$emp3bus_8396$</strong></TD>
        </TR>
        <TR>
            <TD>Employer's Address
                <BR><strong>$emp3address_8397$</strong></TD>
            <TD>City
                <BR><strong>$EmployerMunicipality3_8398$</strong></TD>
        </TR>
        <TR>
            <TD>State
                <BR>
                <strong>$EmployerRegion3_8399$</strong></TD>
            <TD>Zip Code
                <BR><strong>$EmployerPostalCode3_8400$</strong></TD>
        </TR>
        <TR>
            <TD>Phone Number
                <BR><strong>$EmployerTelephone3_8401$</strong></TD>
            <TD>May we contact this employer?
                <BR><strong>$emp3contact_8402$</strong></TD>
        </TR>
        <TR>
            <TD>Job Title
                <BR><strong>$Title3_8403$</strong></TD>
            <TD>I am currently employed with this employer
                <BR><strong>$emp3cemploy_8404$</strong></TD>
        </TR>
        <TR>
            <TD valign="bottom">Starting Date (mm/dd/yyyy)
                <BR><strong>$StartDate3_8405$</strong></TD>
            <TD>Ending Date (mm/dd/yyyy)
                <BR>If currently employed enter today's date.
                <BR> <strong>$EndDate3_8406$</strong></TD>
        </TR>
        <!--<TR>
            <TD>Starting Pay
                <BR>(in U.S. Dollars) (ddddd.cc)
                <BR><strong>$emp3spay_8407$</strong></TD>
            <TD valign="bottom">Starting Pay Interval
                <BR>
                <strong>$emp3startpayint_8408$</strong>
            </TD>
        </TR>
        <TR>
            <TD>Ending Pay
                <BR>(in U.S. Dollars) (ddddd.cc)
                <BR><strong>$Compensation3_8409$</strong></TD>
            <TD valign="bottom">Ending Pay Interval
                <BR>
                <strong>$CompensationInterval3_8410$</strong>
            </TD>
        </TR>-->
        <TR>
            <TD>Supervisor's Name
                <BR><strong>$emp3suprname_8411$</strong></TD>
            <TD>Supervisor's Title
                <BR><strong>$emp3suprtitle_8412$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2">
                Reason for leaving or seeking other employment?
                <BR>
                <strong>$emp3reas4leave_8413$</strong>
            </TD>
        </TR>
        <TR>
            <TD colspan="2">
                Brief description of job
                <BR>
                <strong>$emp3jobdesc_8414$</strong>
            </TD>
        </TR>
    </table>
    <div class="emp-history">
    <BR>
    <BR>
    </div>


    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable emp-history">
        <TR>
            <TD colspan="2">
                <SPAN class="eheader3">Employer 4</SPAN>
                <I>All fields required if an employer name is provided</I>
            </TD>
        </TR>
        <TR>
            <TD width="50%">Employer Name
                <BR><strong>$EmployerOrgName4_8415$</strong></TD>
            <TD>Type of Business
                <BR><strong>$emp4bus_8416$</strong></TD>
        </TR>
        <TR>
            <TD>Employer's Address
                <BR><strong>$emp4address_8417$</strong></TD>
            <TD>City
                <BR><strong>$EmployerMunicipality4_8418$</strong></TD>
        </TR>
        <TR>
            <TD>State
                <BR>
                <strong>$EmployerRegion4_8419$</strong></TD>
            <TD>Zip Code
                <BR><strong>$EmployerPostalCode4_8420$</strong></TD>
        </TR>
        <TR>
            <TD>Phone Number
                <BR><strong>$EmployerTelephone4_8421$</strong></TD>
            <TD>May we contact this employer?
                <BR><strong>$emp4contact_8422$</strong></TD>
        </TR>
        <TR>
            <TD>Job Title
                <BR><strong>$Title4_8423$</strong></TD>
            <TD>I am currently employed with this employer
                <BR><strong>$emp4cemploy_8424$</strong></TD>
        </TR>
        <TR>
            <TD valign="bottom">Starting Date (mm/dd/yyyy)
                <BR><strong>$StartDate4_8425$</strong></TD>
            <TD>Ending Date (mm/dd/yyyy)
                <BR>If currently employed enter today's date.
                <BR> <strong>$EndDate4_8426$</strong></TD>
        </TR>
        <!--<TR>
            <TD>Starting Pay
                <BR>(in U.S. Dollars) (ddddd.cc)
                <BR><strong>$emp4spay_8427$</strong></TD>
            <TD valign="bottom">Starting Pay Interval
                <BR>
                <strong>$emp4startpayint_8428$</strong>
            </TD>
        </TR>
        <TR>
            <TD>Ending Pay
                <BR>(in U.S. Dollars) (ddddd.cc)
                <BR><strong>$Compensation4_8429$</strong></TD>
            <TD valign="bottom">Ending Pay Interval
                <BR>
                <strong>$CompensationInterval4_8430$</strong>
            </TD>
        </TR>-->
        <TR>
            <TD>Supervisor's Name
                <BR><strong>$emp4suprname_8431$</strong></TD>
            <TD>Supervisor's Title
                <BR><strong>$emp4suprtitle_8432$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2">
                Reason for leaving or seeking other employment?
                <BR>
                <strong>$emp4reas4leave_8433$</strong>
            </TD>
        </TR>
        <TR>
            <TD colspan="2">
                Brief description of job
                <BR>
                <strong>$emp4jobdesc_8434$</strong>
            </TD>
        </TR>
    </table>
</div>
<!-- End Module: Employment History -->

<!-- Module: References -->
<div id="stage6" class="stage6">
    <span class="eheader">References</span>
    <BR>
    <span class="eheader2">All references should be people you've worked with or for,<BR> not personal acquaintances, friends, relatives, etc.  If this is your first job, references may be personal.</span>
    <BR>
    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable">
        <tr>
            <TD colspan="2" class="eheader3">Reference 1</TD>
        </tr>
        <TR>
            <TD width="50%">Name <span class="cssApplyHighlight">*</span>
                <BR><strong>$ReferenceName1_8455$</strong></TD>
            <TD>Company Name <span class="cssApplyHighlight">*</span>
                <BR><strong>$ref1cname_8456$</strong></TD>
        </TR>
        <TR>
            <TD>Job Title <span class="cssApplyHighlight">*</span>
                <BR><strong>$ref1jtitle_8457$</strong></TD>
            <TD>Relationship <span class="cssApplyHighlight">*</span>
                <BR><strong>$ref1relation_8458$</strong></TD>
        </TR>
        <TR>
            <TD>Email Address
                <BR><strong>$ReferenceEmail1_8459$</strong></TD>
            <TD>Phone Number (###-###-####) <span class="cssApplyHighlight">*</span>
                <BR><strong>$ReferencePhone1_8460$</strong></TD>
        </TR>
    </table>
    <BR>
    <BR>


    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable">
        <tr>
            <TD colspan="2" class="eheader3">Reference 2</TD>
        </tr>
        <TR>
            <TD width="50%">Name
                <BR><strong>$ReferenceName2_8461$</strong></TD>
            <TD>Company Name
                <BR><strong>$ref2cname_8462$</strong></TD>
        </TR>
        <TR>
            <TD>Job Title
                <BR><strong>$ref2jtitle_8463$</strong></TD>
            <TD>Relationship
                <BR><strong>$ref2relation_8464$</strong></TD>
        </TR>
        <TR>
            <TD>Email Address
                <BR><strong>$ReferenceEmail2_8465$</strong></TD>
            <TD>Phone Number (###-###-####)
                <BR><strong>$ReferencePhone2_8466$</strong></TD>
        </TR>
    </table>
    <BR>
    <BR>


    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable">
        <tr>
            <TD colspan="2" class="eheader3">Reference 3</TD>
        </tr>
        <TR>
            <TD width="50%">Name
                <BR><strong>$ReferenceName3_8467$</strong></TD>
            <TD>Company Name
                <BR><strong>$ref3cname_8468$</strong></TD>
        </TR>
        <TR>
            <TD>Job Title
                <BR><strong>$ref3jtitle_8469$</strong></TD>
            <TD>Relationship
                <BR><strong>$ref3relation_8470$</strong></TD>
        </TR>
        <TR>
            <TD>Email Address
                <BR><strong>$ReferenceEmail3_8471$</strong></TD>
            <TD>Phone Number (###-###-####)
                <BR><strong>$ReferencePhone3_8472$</strong></TD>
        </TR>
    </table>
    <BR>
    <BR>
</div>
<!-- End Module: References -->

<!-- Module: Additional Information -->
<div id="stage7" class="stage7">
    <span class="eheader">Additional Information</span>
    <BR>
    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable">
        <TR>
            <TD colspan="2">Summarize any special qualifications or any comments you feel are pertinent to you application
                <BR>
                <strong>$comments_8473$</strong>
            </TD>
        </TR>
    </table>
</div>
<!-- End Module: Additional Information -->

<!-- Module: Conditions of Application and Employment -->
<div id="stage8" class="stage8">
    <span class="eheader">Conditions of Application and Employment</span>
    <BR>
    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable">
        <TR>
            <TD colspan="2">
                I understand that any false statements in this application may be cause for rejection or termination of my employment with this Company. I also grant permission to this Company to investigate my former employment and references, to my former employers
                and references to release information about me to this Company. In consideration of my potential employment with this Company, I absolve this Company, former employers, and references from any liability with respect to providing information
                about me, including my employment and attendance records and reasons for termination. I understand that neither this document nor any offer of employment from the employer constitutes an employment contract, unless a specific document
                to that effect is executed by the Company and myself in writing.
            </TD>
        </TR>
        <TR>
            <TD width="50%">I agree to the statements of the authorization above. <span class="cssApplyHighlight">*</span>
                <BR><strong>$agreeauth_8474$</strong></TD>
            <TD>I hereby Authorize this electronic signature submittal to serve as my legal signature <span class="cssApplyHighlight">*</span>
                <BR><strong>$elecsign_8475$</strong></TD>
        </TR>
        <TR>
            <TD>Signature <span class="cssApplyHighlight">*</span>(enter full legal name)
                <BR><strong>$signature_8476$</strong></TD>
            <TD>Date <span class="cssApplyHighlight">*</span>(mm/dd/yyyy)
                <BR><strong>$date_8477$</strong></TD>
        </TR>
    </table>
</div>
<!-- End Module: Conditions of Application and Employment -->

<!-- Module: Pre-employment Authorization and Consent for Release of Personal Information -->
<div id="stage9" class="stage9">
    <span class="eheader">Pre-employment Authorization <BR>and Consent for Release of Personal Information</span>
    <BR>
    <table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable">
        <TR>
            <TD width="50%">I agree to the statements of the authorization above. <span class="cssApplyHighlight">*</span>
                <BR><strong>$preAgreeAuth_8480$</strong></TD>
            <TD>I hereby Authorize this electronic signature submittal to serve as my legal signature <span class="cssApplyHighlight">*</span>
                <BR><strong>$preElecSign_8481$</strong></TD>
        </TR>
        <TR>
            <TD>Signature (enter full legal name) <span class="cssApplyHighlight">*</span>
                <BR><strong>$preSignature_8482$</strong></TD>
            <TD>Date (mm/dd/yyyy) <span class="cssApplyHighlight">*</span>
                <BR><strong>$preDate_8483$</strong></TD>
        </TR>
        <TR>
            <TD>Present Phone Number <span class="cssApplyHighlight">*</span>(###-###-####)
                <BR><strong>$prePhone_8484$</strong></TD>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD>Social Security Number <span class="cssApplyHighlight">*</span>(###-##-####)
                <BR><strong>XXX-XX-XXXX</strong></TD>
            <TD>Date of Birth <span class="cssApplyHighlight">*</span>(yyyy/mm/dd)
                <BR><strong>XXXX/XX/XX</strong></TD>
        </TR>
        <TR>
            <TD>Driver''s License Number <span class="cssApplyHighlight">*</span>
                <BR>If you do not have a driver's license enter the word <i>none</i>, and select your current state of residence in the <i>Driver's License State</i> field.
                <BR><strong>XXXXXXXXXXXXXXX</strong></TD>
            <TD>Driver''s License State <span class="cssApplyHighlight">*</span>
                <BR>
                <strong>$DriversLicenseState_8488$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2">Sex: <span class="cssApplyHighlight">*</span><strong>$preSex_8489$</strong></TD>
        </TR>
        <TR>
            <TD colspan="2">Ethnicity: <span class="cssApplyHighlight">*</span><strong>$ethnicity_8510$</strong></TD>
        </TR>
    </table>
    <BR>
    <!-- table cellspacing="0" cellspacing="1" cellpadding="2" border="1" frame="box" rules="all" class="eborderedtable">
        <TR>
            <TD colspan="2">
                As a condition for my application being considered at Gristede’s, I understand and agree to undergo a drug test. I understand that if my test results are positive, I shall no longer be considered for employment at Gristedes. I hereby authorize Gristedes
                to take the necessary specimens; I authorize any medical professional to conduct such testing and to provide the results to Gristedes. I release Gristedes and the person and organization conducting the testing from any liability therefrom.
                <BR>
                <BR> I authorize Gristedes to procure a consumer report on me as part of the process of considering my application. In the event that information from the report is used in making an adverse decision, Gristedes will provide me with a copy
                of the report and a description of my rights under the Fair Credit Reporting Act. Further, I authorize Gristedes to obtain an investigative consumer report including information as to my character, general reputation, personal characteristics,
                criminal records and mode of living. This information may be obtained by contacting present and previous employers or references I have supplied, except as limited on my application.
                <BR>
                <BR> I have read and understood this agreement, and I sign this without any coercion or duress by any individual or institution. This release and authorization shall remain valid and in effect during the term of my employment. Gristedes reserves
                the right to run subsequent consumer reports and/or investigative consumer reports on an as-needed basis.
            </TD>
        </TR>
        <TR>
            <TD width="50%">Signature <span class="cssApplyHighlight">*</span>(enter full legal name)
                <BR><strong>$Signature2_8512$</strong></TD>
            <TD>Date <span class="cssApplyHighlight">*</span>(mm/dd/yyyy)
                <BR><strong>$Date2_8513$</strong></TD>
        </TR>
    </table -->
</div>
<!-- End Module: Pre-employment Authorization and Consent for Release of Personal Information -->

<script>
    if("$posfirstjob_8511$" == "Yes") {
        document.querySelectorAll('.emp-history').forEach(function(v,k) {
            v.style.display = 'none';
        });
    }
</script>
