<main class="container-fluid">
  <h3 class="text-center">
    New Hire Acknowledgement Form
  </h3>
  <p>
    By selecting the check box of each document, I acknowledge that I have read the document, understand how this information affects me and understand the guidelines and requirements of each.
  </p>
  <div class="help-block policy-link-list">
    <input type="checkbox">
    <a href="#">
      Code of Ethics
    </a>
  </div>
  <p>
    To the extent that any provision of these documents are inconsistent with State Board for Community Colleges and Occupational Education Policies (BP) or Colorado Community College System President’s Procedures (SP), the BP and SP shall supersede and control. BP and SP are subject to change throughout the year and are effective immediately upon adoption by the Board or System President, respectively. Employees are expected to be familiar with and adhere to the BP, SP as well as College directives and guidelines, including but not limited to the contents of these documents.
  </p>
  <p>
    I acknowledge that I have reviewed and understand the documents listed above. Further I understand that, as an employee of Community College of Denver, I am expected to comply fully with the policies set forth and any acknowledgment I have made are true and accurate to the best of my knowledge. Furthermore, I agree to notify Human Resources if, in the future, I become aware of a violation of any CCD directives and/or BP and SP. I realize that failure to observe and comply with this could result in disciplinary action, up to and including termination of employment. In addition to disciplinary actions, I realize violations may result in civil or criminal fines and/or imprisonment.
  </p>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
        Employee Name
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
        Electronic Signature
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
        <div>
          Date (mm/dd/yyyy)
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <div class="form-group">
        <input type="checkbox"> I agree
      </div>
    </div>
  </div>
  <p>
    If you are submitting this form electronically, type your name on the Electronic Signature line, enter or select today’s date and check the box to the left of “I agree”. This is your electronic signature. By electronically signing this form, you agree to all the terms contained herein.
  </p>
</main>
