<main class="container-fluid">
    <header class="row mb-40">
        <div class="img-wrapper">
            <img src="/assets/img/paypal_inline_icon.jpg" alt="" class="img-responsive">
        </div>
    </header>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <h3>Hardware Provisioning Form</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident doloribus accusamus, tempore soluta, perspiciatis, eaque laborum aliquid dolore voluptas corrupti exercitationem quis voluptates ipsa! Ea illo est nobis ad qui.
            </p>
        </div>
    </div>
</main>
