<main>
  <h4 class="text-center">
    <strong>Confidentiality Agreement</strong>
  </h4>
  <p>
    This Confidentiality Agreement (the "<strong>Agreement</strong>"), effective as of the date signed below (the "<strong>Effective Date</strong>"), is entered into by and between Harvard Management Company, Inc. ("<strong>HMC</strong>") and the undersigned below (the "<strong>Recipient</strong>"). HMC and Recipient are referred to individually herein as a "Party" and are collectively referred to herein as the "Parties".
  </p>
  <p class="text-indent">
    WHEREAS, in connection with a contemplated business transaction or relationship between the Parties, the Recipient has requested certain information or material from HMC that is non-public, confidential or proprietary in nature.
  </p>
  <p class="text-indent">
    NOW, THEREFORE, in consideration of the mutual covenants, terms and conditions set forth herein, the Parties agree as follows:
  </p>
  <ol>
    <li>
      <u>Confidential Information</u>.
      Except as set forth in Section 3 below, "<strong>Confidential Information</strong>" means all information disclosed by HMC to the Recipient or its affiliates, or to any of such Recipient’s or its affiliates’ employees, officers, directors, agents, attorneys, accountants or advisors (collectively, "<strong>Representatives</strong>").
    </li>
    <li>
      <u>Disclosure of Confidential Information</u>.
      The Recipient shall not (i) use Confidential Information for any purpose other than to evaluate the contemplated business transaction or relationship or (ii) disclose Confidential Information to anyone, except those of its Representatives who have a need to know such information. Recipient shall require all Representatives who have access to Confidential Information to execute a confidentiality agreement limiting their use of such information and prohibiting them from disclosing such information to third parties.
    </li>
    <li>
      <u>Exclusions from Confidential Information</u>.
      Except as required by applicable federal, state or local law or regulation, the term Confidential Information shall not include information that: (i) at the time of disclosure is, or thereafter becomes, generally available to and known by the public other than as a result of any material breach of this Agreement by the Recipient or any of its Representatives; (ii) at the time of disclosure is, or thereafter becomes, available to the Recipient or its Representatives on a non-confidential basis from a third-party source, provided that, to the Recipient’s knowledge, such third party is not and was not prohibited from disclosing such Confidential Information to the Recipient by any contractual obligation; (iii) was known by or in the possession of the Recipient or its Representatives prior to being disclosed by or on behalf of HMC pursuant to this Agreement; or (iv) was or is independently developed by the Recipient or its Representatives without reference to or use of any of HMC’s Confidential Information.
    </li>
    <li>
      <u>Disclosures Required by Law</u>.
      Notwithstanding the foregoing, the Recipient shall not be restricted from disclosing Confidential Information as required or requested by law or regulation, court of competent jurisdiction or by a regulatory (including self-regulated) or supervisory agency or authority, provided that: (i) the Recipient shall, to the extent permitted by law or regulation, notify HMC of such request and provide a reasonable opportunity for HMC to seek, at HMC’s sole expense, a protective order or to take other action to maintain confidentiality, and (ii) to the extent limited disclosure is required, Recipient shall use its reasonable efforts to limit such disclosure and the Parties’ obligations under this Agreement shall continue but for such required disclosure.
    </li>
    <li>
      <u>Use of Name</u>.
      Without the prior written consent of HMC, the Recipient shall not, and will cause its Representatives not to (i) disclose to any third party, the public or otherwise, the name or identity of HMC or any of its affiliates, the existence of this Agreement and the fact that certain information is being disclosed by HMC to the Recipient, the fact that discussions with respect to a potential business relationship are taking place or the nature of or outcome of such discussions, (ii) represent, directly or indirectly, whether orally or in writing, that any product or service provided by the Recipient has been approved or endorsed by HMC or any of its affiliates, or (iii) use, or permit the use of, the name of HMC or any of its affiliates or any derivative thereof, including but not limited to any logos or trademarks, for any promotional purpose or any other activities, including in any marketing materials, publications, advertising or press releases.
    </li>
    <li>
      <u>Return or Destruction of Confidential Information</u>.
      Upon request by HMC, the Recipient and its Representatives will promptly return or destroy all Confidential Information disclosed or made available to them in any form, including without limitation, all copies, summaries and abstracts thereof and will further deliver to HMC a certificate executed by one of the Recipient’s duly authorized executive officers indicating that the requirements of this sentence have been satisfied in full. Notwithstanding the return or destruction of Confidential Information, the Recipient and its Representatives will continue to be bound by the Recipient’s obligations of confidentiality and other obligations hereof.
    </li>
    <li>
      <p>
        <u>Massachusetts Privacy Laws</u>.
        The Massachusetts Data Privacy Standards (the "Regulation"), requires any organization that owns or licenses Personal Information about a Massachusetts resident to develop a comprehensive written security program (the "Program") to safeguard any electronic or paper record that contains such information.
      </p>
      <p>
        Personal Information is defined as a Massachusetts resident’s first name and last name or first initial and last name in combination with any one or more of the following data elements that relate to such resident: (a) Social Security number; (b) driver’s license number or state-issued identification card number; or (c) financial account number, or credit or debit card number, with or without any required security code, access code, personal identification number or password, that would permit access to a resident’s financial account; provided, however, that Personal Information shall not include information that is lawfully obtained from publicly available information, or from federal, state or local government records lawfully made available to the general public.
      </p>
      <p>
        Recipient represents, warrants and covenants that it does not have access to HMC employee Personal Information. In the event Recipient does receive HMC employee Personal Information during the term of this Agreement, Recipient shall protect and maintain the confidentiality, security and integrity of HMC employee Personal Information and comply with all applicable laws, regulations, rules and industry standards related to the handling of such Personal Information, including without limitation Massachusetts regulation 201 CMR 17.00.
      </p>
      <p>
        To the extent that Recipient’s affiliates or other permitted agents or subcontractors have access to Personal Information, Recipient shall require that such entities comply with all terms and conditions of this Agreement related to Personal Information. At all times, Recipient shall remain responsible and liable for such entities’ compliance with this Agreement.
      </p>
    </li>
    <li>
      <u>No Warranty; Obligations</u>.
      No representations, warranties or other assurances are given by HMC with respect to the completeness or accuracy of any information or materials provided to the Recipient. Except for the obligations of the Parties specifically set forth in this Agreement, neither Party shall have any obligation to enter into any discussions or agreement with respect to any transaction related to the Parties’ relationship or otherwise have any obligation with respect to any such transaction. Any obligations relating to the relationship of the Parties, in addition to those contained herein, if any, shall be set forth in one or more separate written agreements between the Parties.
    </li>
    <li>
      <u>Remedies.</u>
      The Recipient acknowledges that a violation of this Agreement by the Recipient may cause irreparable harm to HMC and that HMC may have no adequate remedy at law. Accordingly, each Party agrees that HMC shall have the right, in addition to any other rights and remedies it may have, at law, in equity or otherwise, to seek injunctive relief in any court of competent jurisdiction to restrain any breach or threatened breach of this Agreement or otherwise to specifically enforce any provision of this Agreement.
    </li>
    <li>
      <u>Governing Law</u>.
      This Agreement and all actions related hereto shall be governed by the laws of The Commonwealth of Massachusetts, excluding its choice of law principles. The Parties hereby consent to the jurisdiction of the federal and state courts in Massachusetts in respect of any matter relating to this Agreement and agree that any dispute relating to this Agreement shall be litigated exclusively in such courts.
    </li>
    <li>
      <u>Entire Agreement</u>.
      This Agreement expresses the entire agreement and understanding of the Parties with respect to the subject matter hereof and supersedes all prior oral or written agreements, commitments and understandings pertaining to the subject matter hereof. Any modifications of or changes to this Agreement shall be in writing and sign by both Parties.
    </li>
    <li>
      <u>Termination</u>.
      This Agreement shall remain in full force and effect for a period of five (5) years from the Effective Date.
    </li>
  </ol>
  <p>
    IN WITNESS WHEREOF, the undersigned have executed this Agreement as of the Effective Date herein.
  </p>
  <section>
    <div class="col-50 vertical-top col-padded">
      <p>
        HARVARD MANAGEMENT COMPANY, INC.
      </p>
      <div class="vspace clearfix">
        <div class="col-5">
          By:
        </div>
        <div class="col-95 pull-right">
          <$client.env.FormField.BySignature.HTML>
        </div>
      </div>
      <div class="vspace clearfix">
        <div class="col-15">
          Name:
        </div>
        <div class="col-85 pull-right">
          <$client.env.FormField.ByName.HTML>
        </div>
      </div>
      <div class="vspace clearfix">
        <div class="col-15">
          Title:
        </div>
        <div class="col-85 pull-right">
          <$client.env.FormField.ByTitle.HTML>
        </div>
      </div>
    </div>
    <div class="col-50 vertical-top">
      <p>
        [RECIPIENT]
      </p>
      <div class="vspace clearfix">
        <div class="col-5">
          By:
        </div>
        <div class="col-95 pull-right">
          <$client.env.FormField.Signature.HTML>
        </div>
      </div>
      <div class="vspace clearfix">
        <div class="col-15">
          Name:
        </div>
        <div class="col-85 pull-right">
          <$client.env.FormField.Name.HTML>
        </div>
      </div>
      <div class="vspace clearfix">
        <div class="col-15">
          Title:
        </div>
        <div class="col-85 pull-right">
          <$client.env.FormField.Title.HTML>
        </div>
      </div>
      <div class="vspace clearfix">
        <div class="col-25">
          Effective Date:
        </div>
        <div class="col-75 pull-right">
          <$client.env.FormField.Date.HTML>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="col-50">
      <div class="vspace clearfix">
        <div class="col-5">
          By:
        </div>
        <div class="col-95 pull-right">
          <$client.env.FormField.BySignature_2.HTML>
        </div>
      </div>
      <div class="vspace clearfix">
        <div class="col-15">
          Name:
        </div>
        <div class="col-85 pull-right">
          <$client.env.FormField.Name_2.HTML>
        </div>
      </div>
      <div class="vspace clearfix">
        <div class="col-15">
          Title:
        </div>
        <div class="col-85 pull-right">
          <$client.env.FormField.Title_2.HTML>
        </div>
      </div>
    </div>
  </section>
  <footer class="text-right">
    Revised as 12/2017
  </footer>
</main>
