<main>
  <header class="vspace">
    <div class="col-30">
      <img src="assets/img/hmc_logo.jpg" alt="" class="img-responsive">
    </div>
  </header>
  <h4 class="text-center vspace">
    T-PASS AND COMMUTER CHECK (Transit Benefit) ELECTION FORM
  </h4>
  <h5 class="text-center">
    <em>
      <strong>Please check the appropriate line:</strong>
    </em>
  </h5>
  <div class="vspace">
    <div class="col-5 invisible">&nbsp;</div>
    <div class="col-95">
      <u>New and/or Changed Election</u>
    </div>
  </div>
  <div class="vspace">
    <div class="col-5 vertical-middle">
      <$client.env.FormField.a01_authorize_to_deduct.HTML>
    </div>
    <div class="col-95 vertical-middle">
      I hereby authorize Harvard Management Company to <u>deduct</u> the amount indicated below from the first paycheck of each month to purchase a Transit Benefit. <u>Your forms are due by the 15<sup>th</sup> of the month prior of the desired benefit month.</u>
    </div>
  </div>
  <div class="vspace">
    <div class="col-5 invisible">&nbsp;</div>
    <div class="col-95">
      <u>Cancel Election</u>
    </div>
  </div>
  <div class="vspace">
    <div class="col-5 vertical-middle">
      <$client.env.FormField.a02_authorize_to_cancel.HTML>
    </div>
    <div class="col-95 vertical-middle">
      I hereby authorize Harvard Management Company to <u>cancel</u> my Transit Benefit.
    </div>
  </div>
  <div class="vspace">
    <h5 class="text-center">
      <em>
        <strong>Check off the appropriate Transit Benefit option or amount:</strong>
      </em>
    </h5>
  </div>
  <div class="checklist-block center-block vspace">
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a03_local_bus.HTML>
      </div>
      <div class="col-80 vertical-middle">
        LOCAL BUS
      </div>
      <div class="col-15 vertical-middle">
        $36.85
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a03_link_pass.HTML>
      </div>
      <div class="col-80 vertical-middle">
        LINKPASS
      </div>
      <div class="col-15 vertical-middle">
        $56.62
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a04_inner_express_bus.HTML>
      </div>
      <div class="col-80 vertical-middle">
        INNER EXPRESS BUS
      </div>
      <div class="col-15 vertical-middle">
        $85.76
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a05_outer_express_bus.HTML>
      </div>
      <div class="col-80 vertical-middle">
        OUTER EXPRESS BUS
      </div>
      <div class="col-15 vertical-middle">
        $112.56
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a06_zone_1a.HTML>
      </div>
      <div class="col-80 vertical-middle">
        ZONE 1A
      </div>
      <div class="col-15 vertical-middle">
        $56.62
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a07_zone_1.HTML>
      </div>
      <div class="col-80 vertical-middle">
        ZONE 1
      </div>
      <div class="col-15 vertical-middle">
        $134.17
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a08_zone_2.HTML>
      </div>
      <div class="col-80 vertical-middle">
        ZONE 2
      </div>
      <div class="col-15 vertical-middle">
        $145.89
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a09_zone_3.HTML>
      </div>
      <div class="col-80 vertical-middle">
        ZONE 3
      </div>
      <div class="col-15 vertical-middle">
        $163.65
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a10_zone_4.HTML>
      </div>
      <div class="col-80 vertical-middle">
        ZONE 4
      </div>
      <div class="col-15 vertical-middle">
        $176.21
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a11_zone_5.HTML>
      </div>
      <div class="col-80 vertical-middle">
        ZONE 5
      </div>
      <div class="col-15 vertical-middle">
        $195.31
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a12_zone_6.HTML>
      </div>
      <div class="col-80 vertical-middle">
        ZONE 6
      </div>
      <div class="col-15 vertical-middle">
        $213.06
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a13_zone_7.HTML>
      </div>
      <div class="col-80 vertical-middle">
        ZONE 7
      </div>
      <div class="col-15 vertical-middle">
        $225.46
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a14_zone_9.HTML>
      </div>
      <div class="col-80 vertical-middle">
        ZONE 9
      </div>
      <div class="col-15 vertical-middle">
        $243.21
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle">
        <$client.env.FormField.a15_boat.HTML>
      </div>
      <div class="col-80 vertical-middle">
        BOAT
      </div>
      <div class="col-15 vertical-middle">
        $206.36
      </div>
    </div>
    <div class="clearfix">
      <div class="col-5 vertical-middle invisible">
        <$client.env.FormField.a16_monthly_commuter.HTML>
      </div>
      <div class="col-80 vertical-middle">
        MONTHLY COMMUTER CHECK AMOUNT
      </div>
      <div class="col-15 vertical-middle">
        $
        <div class="inline-block col-80">
          <$client.env.FormField.a17_amount.HTML>
        </div>
      </div>
    </div>
  </div>
  <div class="signature-block center-block">
    <div class="vspace">
      <div class="col-30">
        NAME (please print):
      </div>
      <div class="col-70">
        <$client.env.FormField.a18_name.HTML>
      </div>
    </div>
    <div class="vspace">
      <div class="col-30">
        SIGNATURE:
      </div>
      <div class="col-70">
        <$client.env.FormField.a19_signature.HTML>
      </div>
    </div>
    <div class="vspace">
      <div class="col-30">
        DATE:
      </div>
      <div class="col-70">
        <$client.env.FormField.a20_date.HTML>
      </div>
    </div>
  </div>
  <footer>
    600 Atlantic Avenue &bull; Boston, MA 02210-2203 &bull; 617-523-4400 &bull; www.hmc.harvard.edu
  </footer>
</main>
