<div class="container-fluid main">
    <header class="row">
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
            <img src="/assets/img/enterprise_products_logo.jpg" alt="" class="img-responsive">
        </div>
    </header>
    <p class="text-center">
        <strong>
            ENTERPRISE PRODUCTS
        </strong><br>
        <strong>
            HOURLY NEW HIRE PERFORMANCE EVALUATION
        </strong>
    </p>
    <div class="row box vspace">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
            Name
            <input type="text" class="lifesuite__text-input">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
            Department
            <input type="text" class="lifesuite__text-input">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
            Position
            <input type="text" class="lifesuite__text-input">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
            Date
            <input type="text" class="lifesuite__text-input">
        </div>
        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-12">
            Evaluation
            <div class="col-lg-12">
                <div class="inline-block">
                    <input type="checkbox"> 45 Days
                </div>
                <div class="inline-block">
                    <input type="checkbox"> 90 Days
                </div>
                <div class="inline-block">
                    <input type="checkbox"> ADDITIONAL EVALUATION REQUIRED (120 DAYS)
                </div>
            </div>
        </div>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum vitae odio excepturi quidem cum, delectus minus culpa quam quasi qui rerum et inventore reprehenderit impedit quibusdam, laboriosam, enim. Quod, optio?
    </p>
</div>
