<main class="container-fluid">
    <header class="row">
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
            <img src="assets/img/enterprise_products_logo.jpg" alt="" class="img-responsive">
        </div>
    </header>
    <h5 class="text-center">
        <strong>
            ENTERPRISE PRODUCTS
        </strong><br>
        <strong>
            HOURLY NEW HIRE PERFORMANCE EVALUATION
        </strong>
    </h5>
    <div class="row box vspace">
        <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12 border-right col-padded">
            Employee Name and ID
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <$client.env.FormField.a01_Employee_Name.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <$client.env.FormField.a01_Employee_ID.HTML>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-right col-padded">
            Department
            <$client.env.FormField.a02_Department.HTML>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12 border-right col-padded">
            Position
            <$client.env.FormField.a03_Position.HTML>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-right col-padded">
            Date of Hire
            <$client.env.FormField.a04_Date_of_Hire.HTML>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
            Evaluation
            <div class="col-lg-12 small-checkboxes">
                <div class="inline-block">
                    <$client.env.FormField.a05_Evaluation_1.HTML>
                </div>
                <div class="inline-block">
                    <$client.env.FormField.a05_Evaluation_2.HTML>
                </div>
                <div class="inline-block">
                    <$client.env.FormField.a05_Evaluation_3.HTML>
                </div>
            </div>
        </div>
    </div>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 text-center border-right col-mid-padded">
               EVALUATION COMPONENT
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center border-right col-mid-padded hidden-sm hidden-xs">
                Unsatisfactory
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center border-right col-mid-padded hidden-sm hidden-xs">
                Marginal/Needs Improvement
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center border-right col-mid-padded hidden-sm hidden-xs">
                Meets Expectations
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center col-mid-padded hidden-sm hidden-xs">
                Exceeds Expectations
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                1. Learning Job Knowledge (learning and retaining all phases of job tasks)
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <span class="indent-1">
                    Current knowledge base
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-radio">
                <$client.env.FormField.a06_Current_Knowledge_Base.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <span class="indent-1">
                  Actions taken to learn/retain (example: takes notes/reviews)
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-radio">
                <$client.env.FormField.a07_Actions_Taken_to_Learn.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <span class="indent-1">
                    Knowledge retention and comprehension
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-radio">
                <$client.env.FormField.a08_Knowledge_Retention.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-12">
                Comments: <em>(maximum of 610 characters)</em>
                <$client.env.FormField.a09_Comments.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                2. Quantity and Quality of Work (output and performance of work meets standards)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-radio">
                <$client.env.FormField.a10_Quality_Quantity_of_Work.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-12">
                Comments: <em>(maximum of 610 characters)</em>
                <$client.env.FormField.a11_Comments.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                3. Initiative (thinks constructively and initiates actions; self-motivation)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-radio">
                <$client.env.FormField.a12_Initiative.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-12">
                Comments: <em>(maximum of 610 characters)</em>
                <$client.env.FormField.a13_Comments.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                4. Adaptability (ability to learn and meet changing conditions)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-radio">
                <$client.env.FormField.a14_Adaptability.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-12">
                Comments: <em>(maximum of 610 characters)</em>
                <$client.env.FormField.a15_Comments.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                5. Dependability/Attendance/Punctuality (demonstrates good attendance; is at the work station and ready to begin work; follows instructions)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-radio">
                <$client.env.FormField.a16_Dependability.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-12">
                Comments: <em>(maximum of 610 characters)</em>
                <$client.env.FormField.a17_Comments.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                6. Safety/Environmental/Housekeeping (demonstrates good safety, environmental, and housekeeping awareness)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-radio">
                <$client.env.FormField.a18_Safety_Environmental_Housekeeping.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-12">
                Comments: <em>(maximum of 610 characters)</em>
                <$client.env.FormField.a19_Comments.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                7. Communication (ability to clearly communicate ideas/issues)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-radio">
                <$client.env.FormField.a20_Communication.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-12">
                Comments: <em>(maximum of 610 characters)</em>
                <$client.env.FormField.a21_Comments.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                8. Collaboration/Teamwork (ability to get along with others and displays appropriate views of work, management, and feedback. Respectful toward co-workers and supervision)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-radio">
                <$client.env.FormField.a22_Collaboration.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-12">
                Comments: <em>(maximum of 610 characters)</em>
                <$client.env.FormField.a23_Comments.HTML>
            </div>
        </div>
        <div class="row border-bottom row-padded">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                9. Critical Thinking Skills (ability to reason and make appropriate decisions)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-radio">
                <$client.env.FormField.a24_Critical_Thinking.HTML>
            </div>
        </div>
        <div class="row row-padded">
            <div class="col-lg-12">
                Comments: <em>(maximum of 610 characters)</em>
                <$client.env.FormField.a25_Comments.HTML>
            </div>
        </div>
    </div>
    <div class="row vspace-lg">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="box vspace">
                <div class="row border-bottom">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                        <small>First Level Supervisor’s Signature</small>
                        <$client.env.FormField.a26_First_Level_Supervisors_Signature.HTML>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-right">
                        <small>Date</small>
                        <$client.env.FormField.a27_Date.HTML>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                        <small>Second Level Supervisor’s Signature</small>
                        <$client.env.FormField.a28_Second_Level_Supervisors_Signature.HTML>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <small>Date</small>
                        <$client.env.FormField.a29_Date.HTML>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                        <small>Third Level Supervisor’s Signature</small>
                        <$client.env.FormField.a30_Third_Level_Supervisors_Signature.HTML>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-right">
                        <small>Date</small>
                        <$client.env.FormField.a31_Date.HTML>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                        <small>Human Resource’s Signature</small>
                        <$client.env.FormField.a32_Human_Resources_Signature.HTML>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <small>Date</small>
                        <$client.env.FormField.a33_Date.HTML>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                        <small>Employee’s Signature</small>
                        <$client.env.FormField.a34_Employees_Signature.HTML>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-right">
                        <small>Date</small>
                        <$client.env.FormField.a35_Date.HTML>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <small>Employee Comments</small>
                        <div class="comment-container">
                            <$client.env.FormField.a36_Employee_Comments.HTML>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="box">
                <div class="border-bottom text-center row-padded">
                    <strong>
                        RATING DEFINITIONS:
                    </strong>
                </div>
                <div class="row border-bottom row-padded">
                    <strong>
                        Exceeds Expectations
                    </strong>
                    – Performance exceeds the requirements and expectations of the job.
                </div>
                <div class="row border-bottom row-padded">
                    <strong>
                        Meets Expectations
                    </strong>
                    – Performance meets the minimum requirements and expectations of the job.
                </div>
                <div class="row border-bottom row-padded">
                    <strong>
                        Marginal/Needs Improvement
                    </strong>
                    Performance does not meet the minimum requirements and expectations of the job, but with some immediate improvement he/she should meet expectations. Maintaining performance at this level can jeopardize continued employment.
                </div>
                <div class="row row-padded">
                    <strong>
                        Unsatisfactory
                    </strong>
                    - Performance is significantly below the minimum requirements and expectations of the job. Major and immediate improvement is required to meet expectations. Continued employment is in jeopardy if this level of performance is maintained.
                </div>
            </div>
        </div>
    </div>
    <footer>
        Version: Onboarding_2_June 2018
       <$client.env.FormField.Unsatisfactory.HTML>
    </footer>
    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="lifesuite__clearfix lifesuite__float-right">
            <$client.env.FormButtons>
        </div>
    </div>
</main>
