<main>
    <header class="clearfix">
        <span class="pull-right">
            <h2 class="border-bottom border-blue">
                Health &amp; Safety Evaluation Information
            </h2>
        </span>
        <div class="col-25">
            <img src="/assets/img/HFE_logo.jpg" alt="" class="img-responsive">
        </div>
    </header>
    <div class="vspace">
        <div class="col-60 vertical-middle">
           <small>
               You have been extended a conditional job offer. Herschend Family Entertainment needs the information on this form for several reasons, among them: (1) required reports to the Second Injury Fund; (2) to determine which jobs you can safely perform; (3) to safely perform essential job functions, (4) to monitor and understand prescription drug usage; and (5) in order to safely perform first aid on you or emergency contacts promptly.
           </small> 
        </div>
        <div class="col-40 box vertical-middle">
            <div class="col-50 vertical-top">
                <div class="col-40">
                   <small>
                       Work Site
                   </small> 
                </div>
                <div class="col-55">
                   <input type="text">
                </div>
                <div class="col-40">
                   <small>
                    Evaluator
                   </small> 
                </div>
                <div class="col-55">
                   <input type="text">
                </div>
                <div class="col-100">
                    <div class="inline-block">
                        <input type="checkbox"> 
                    </div>
                    <small>
                        160 Hour Placement
                    </small>
                </div>
                <div class="col-100">
                    <small>
                        M.S.P
                    </small>
                    <div class="inline-block vertical-middle">
                        <input type="radio" >1
                    </div>
                </div>
            </div>
            <div class="col-50 border-left">
                <div class="col-40">
                    <small>
                        Reviewed
                    </small>
                </div>
                <div class="col-55">
                   <input type="text">
                </div>
                <small>
                    160 Hour Concerns
                </small>
                <input type="text">
                <input type="text">
                Property:
                <div class="col-55">
                   <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="vspace">
        Name:
        <div class="col-35 vertical-middle">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        Date:
        <div class="col-20 vertical-middle">
            <input type="text">
        </div>
        SS:
        <div class="col-25 vertical-middle">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        <sup>
            REV: 201701
        </sup>
    </div>
    <div class="vspace">
        Age:
        <div class="col-15 vertical-middle">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        Date of Birth:
        <div class="col-20 vertical-middle">
            <input type="text">
        </div>
        Gender:
        <div class="col-15">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        Height:
        <div class="col-10">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        Weight:
        <div class="col-10">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="vspace">
        <div class="col-10 vertical-middle">
            Permanent Address:
        </div>
        <div class="col-30">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        City:
        <div class="col-10">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        State:
        <div class="col-10">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        Zip:       
        <div class="col-10">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        <div class="col-5">
            Primary Phone:
        </div>
        <div class="col-10">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        <div class="inline-block">
            <input type="checkbox"> Cell Phone
        </div>
    </div>
    <div class="vspace">
        <div class="col-10 vertical-middle">
            Temporary Address:
        </div>
        <div class="col-30">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        City:
        <div class="col-10">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        State:
        <div class="col-10">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        Zip:       
        <div class="col-10">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        <div class="col-5">
            Primary Phone:
        </div>
        <div class="col-10">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        <div class="inline-block">
            <input type="checkbox"> Cell Phone
        </div>
    </div>
    <div class="vspace">
        Email Address:
        <div class="inline-block col-30">
            <input type="text">
        </div>
    </div>
    <div class="vspace">
        <div class="col-25">
            Primary Emergency Contact:
        </div>
        <div class="col-35">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        <div class="col-10">
            Phone:
        </div>
        <div class="col-25">
            <input type="text">
        </div>
    </div>
    <div class="vspace">
        <div class="col-25">
            Secondary Emergency Contact:
        </div>
        <div class="col-35">
            <div class="col-95">
                <input type="text">
            </div>
        </div>
        <div class="col-10">
            Phone:
        </div>
        <div class="col-25">
            <input type="text">
        </div>
    </div>
    <div class="hr-bar center-block vspace"></div>
    <div class="vspace">
        Having reviewed the physical job description of the position offered, do you have any problems or concerns with regards to the physical and or psychological demands of the position?
        <div class="inline-block">
            <input type="checkbox"> YES
        </div>
        If so, please describe:
        <div class="col-40">
            <input type="text">
        </div>
    </div>
    <div class="vspace text-center">
        <h2>
            Please check the appropriate box if you now have or have had the following:
        </h2>
        <strong>
            <em>
                To make multiple selections within a sub-category hold down Ctrl on your keyboard
            </em>
        </strong>
    </div>
    <div class="vspace">
        <div class="col-30 vertical-top">
            <div class="vspace">
                <div class="indent-1">
                    <strong>
                        VISION
                    </strong>
                </div>
                <input type="checkbox"> Impaired or blurred vision
            </div>
            <div class="vspace">
                <div class="indent-1">
                    <strong>
                        EARS
                    </strong>
                </div>
            </div>
            <div class="vspace">
                <div class="col-100">
                    <div class="inline-block">
                        <input type="checkbox"> Hear Loss
                    </div>
                    <div class="inline-block">
                        <input type="text">
                    </div>
                    %
                </div> 
            </div>
            <div class="vspace">
                <div class="indent-1">
                    <strong>
                        RESPIRATORY
                    </strong>
                </div>
            </div>
            <div class="indent-1">
                <strong>
                    CARDIOVASCULAR
                </strong>
            </div>
        </div>
        <div class="col-30">
            <div class="vspace">
                <strong>
                    MUSCULOSKELETAL
                </strong>
                <div class="indent-1">
                    Pain / Swelling / Injury / Limited Motion / Weakness / Numbness or Tingling / Loss of Sensation to the following:
                </div>
            </div>
            <div class="vspace">
                <strong>
                    DISEASES
                </strong>
            </div>
            <div class="vspace">
                <strong>
                    SKIN
                </strong>
            </div>
        </div>
        <div class="col-30">
            <div class="vspace">
                <strong>
                    NEUROLOGICAL / BEHAVIORAL
                </strong>
            </div>
            <div class="vspace">
                <strong>
                    OTHER
                </strong>
            </div>
        </div>
    </div>
    <div class="box vspace">
        <div class="black-bg">
            <strong>
                Do you have any problems or concerns with any of the following functions or situations?
            </strong>
        </div>
        <div class="border-bottom clearfix">
            <div class="col-20 border-right clearfix">
                Standing
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-20 border-right clearfix">
                Pulling
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-20 clearfix">
                Crawling
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-35 clearfix border-left pull-right">
                Repetitive hand use
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
        </div>
        <div class="border-bottom clearfix">
            <div class="col-20 border-right clearfix">
                Walking
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-20 border-right clearfix">
                Pushing
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-20 clearfix">
                Reaching
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-35 clearfix border-left pull-right">
                Kneeling or squatting
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
        </div>
        <div class="border-bottom clearfix">
            <div class="col-20 border-right clearfix">
                Climbing
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-20 border-right clearfix">
                Bending
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-20 clearfix">
                Grasping
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-35 clearfix border-left pull-right">
                Working under pressure
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
        </div>
        <div class="border-bottom clearfix">
            <div class="col-20 border-right clearfix">
                Lifting
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-20 border-right clearfix">
                Stooping
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-20 clearfix">
                Carrying Objects
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-35 clearfix border-left pull-right">
                Jumping or Jarring
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
        </div>
        <div class="border-bottom clearfix">
            <div class="clearfix col-65">
                Remembering locations or work required procedures
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-35 clearfix border-left pull-right">
                Working in confined spaces
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
        </div>
        <div class="border-bottom clearfix">
            <div class="clearfix col-65">
                Understanding, remembering and carrying out very short and simple instructions
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-35 clearfix border-left pull-right">
                Working at heights
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
        </div>
        <div class="border-bottom clearfix">
            <div class="clearfix col-65">
                Understanding, remembering and carrying out detailed instructions
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-35 clearfix border-left pull-right">
                Working in or around water
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
        </div>
        <div class="border-bottom clearfix">
            <div class="clearfix col-65">
                Maintaining attention and concentration for extended periods of time
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-35 clearfix border-left pull-right">
                Working alone
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
        </div>
        <div class="border-bottom clearfix">
            <div class="clearfix col-65">
                Performing activities within a timetable
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-35 clearfix border-left pull-right">
                Staying awake during the day
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
        </div>
        <div class="border-bottom clearfix">
            <div class="clearfix col-65">
                Working in coordination with others without being distracted or distracting others
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-35 clearfix border-left pull-right">
                Working in stressful environments
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="clearfix col-65">
                Working with vibrating tools or in environments with vibrating surfaces
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
            <div class="col-35 clearfix border-left pull-right">
                Working with the public or in crowds
                <div class="pull-right">
                    <input type="radio"> YES
                </div>
            </div>
        </div>
    </div>
    <div class="indent-1">
        <div class="col-90 vertical-top">
            Have you been diagnosed as having any illness or injury for which you are not seeking treatment or taking medications? If yes, please describe:
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col-10">
            <input type="radio">YES
        </div>
    </div>
    <div class="indent-1">
        <div class="col-90 vertical-top">
            Have you taken any prescription medications in the last 30 days? If yes, please list:
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col-10">
            <input type="radio">YES
        </div>
    </div>
    <div class="indent-1">
        <div class="col-90 vertical-top">
            Do you have any medications prescribed by a physician or over the counter that may cause drowsiness or impair your ability to drive or operate machinery? (e.g. Benadryl or codeine) If yes, please describe:
            <input type="text">
        </div>
        <div class="col-10">
            <input type="radio">YES
        </div>
    </div>
    <div class="indent-1">
        <div class="col-90 vertical-top">
            Are you allergic to food / medication / insect stings / plants / animals? If yes, please list:
            <input type="text">
        </div>
        <div class="col-10">
            <input type="radio">YES
        </div>
    </div>
    <div class="indent-1 vspace">
        <div class="col-90 vertical-top">
            Are you currently under a doctor’s care? If yes, please list physician’s name, phone #, address and reason for care:
            <input type="text">
        </div>
        <div class="col-10">
            <input type="radio">YES
        </div>
    </div>
    <div class="box vspace">
        <div class="border-bottom text-center">
            LIST ALL HOSPITALIZATIONS / SURGERIES
        </div>
        <div class="border-bottom">
            <div class="col-10 text-center">
                YEAR
            </div>
            <div class="col-90 text-center">
                REASON
            </div>
        </div>
        <div class="border-bottom">
            <div class="col-10 text-center">
                <input type="text">
            </div>
            <div class="col-90 text-center">
                <input type="text">
            </div>
        </div>
        <div class="border-bottom">
            <div class="col-10 text-center">
                <input type="text">
            </div>
            <div class="col-90 text-center">
                <input type="text">
            </div>
        </div>
        <div class="border-bottom">
            <div class="col-10 text-center">
                <input type="text">
            </div>
            <div class="col-90 text-center">
                <input type="text">
            </div>
        </div>
        <div class="border-bottom">
            <div class="col-10 text-center">
                <input type="text">
            </div>
            <div class="col-90 text-center">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="indent-1">
        <div class="col-90 vertical-top">
            Do you have any current or permanent restrictions from a physician? If yes, please describe:
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col-10">
            <input type="radio"> YES
        </div>
    </div>
    <div class="indent-1">
        <div class="col-90 vertical-top">
            Do you have any physical or medical condition which would impact your ability to perform the job offered? If yes, please describe:
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col-10">
            <input type="radio"> YES
        </div>
    </div>
    <div class="indent-1">
        <div class="col-90 vertical-top">
            Do you need any assistive devices to allow you to perform the job offered? If yes, what?
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col-10">
            <input type="radio"> YES
        </div>
    </div>
    <div class="indent-1">
        <div class="col-90 vertical-top">
            Have you previously held physically demanding jobs? If yes, please explain:
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col-10">
            <input type="radio"> YES
        </div>
    </div>
    <div class="indent-1">
        <div class="col-90 vertical-top">
            Are you currently working a second job?
        </div>
        <div class="col-10">
            <input type="radio"> YES
        </div>
    </div>
    <div class="indent-1">
        <div class="col-90 vertical-top">
            If yes, will you continue to work there while employed at HFE?
        </div>
        <div class="col-10">
            <input type="radio"> YES
        </div>
    </div>
    <div class="indent-1">
        <div class="col-90 vertical-top">
            <div class="col-45">
                If yes, please list place of employment and address:
            </div>
            <div class="col-55 vertical-middle">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="indent-1 vspace">
        <div class="col-90 vertical-top">
            <div class="col-45">
                How many hours do you expect to work per week?
            </div>
            <div class="col-55 vertical-middle">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="black-bg center-block"></div>
    <div class="indent-1">
        NOTE: This information is important for proper job placement. By executing my signature to this form, I certify that the information which I have provided herein is truthful, accurate and complete. I understand that this information is important for Herschend Family Entertainment to make an informed determination as to whether I am fit to perform the work for which I have been hired. I understand that any false statement or material omission of factual information will be grounds for discipline up to and including termination.
    </div>
    <div class="black-bg center-block vspace"></div>
    <div class="indent-1">
        I consent to having Herschend Family Entertainment, or any agent contracted on its behalf, contact previous employers to investigate or verify the information which I have provided.
    </div>
    <div class="vspace">
        Signature:
        <div class="col-30 vertical-bottom">
            <input type="text">
        </div>
        /
        <div class="col-30 vertical-bottom">
            <input type="text">
        </div>
        Date:
        <div class="col-25 vertical-bottom">
            <input type="text">
        </div>
        <div class="col-100 text-center">
            <small>
                (Parent or guardian MUST sign next to employee if employee is under the age of 18)
            </small>
        </div>
    </div>
    <div class="clearfix">
        <span class="pull-right">
            <h1 class="border-bottom border-blue">
                Medical Services Placement
            </h1>
        </span>
    </div>
    <div class="vspace">
        <div class="col-60 vertical-top">
            <div class="col-10 vertical-bottom">
                Name:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
        </div>
        <div class="col-40">
            <div class="col-20 vertical-bottom">
                Position:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
            <div class="clearfix">
                M.S. P. Score
                <div class="pull-right">
                    <input type="radio">1
                </div>
            </div>
        </div>
    </div>
    <div class="box vspace">
        <div class="inner-wrapper">
            <div class="vspace">
                Vision:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Respiratory:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Cardiovascular:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Musculoskeletal:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Diseases:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Skin:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Neurological / Behavioral:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Other:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Functions / Situations:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Illness / Injury:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Medications:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Allergies:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Under a Doctor’s Care:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Hospitalizations or Surgeries:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
    <div class="box vspace">
        <div class="inner-wrapper">
            <div class="vspace">
                Restrictions / Assistive Devices:
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Physically Demanding Jobs:  
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="vspace">
                Working Second Job:  
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
    <div class="indent-1">
        <div class="col-20">
            Reviewed H&amp;S Note:
        </div>
        <div class="col-15">
            <input type="radio"> YES
        </div>
        <div class="col-65 clearfix">
            Doctor’s note requested:
            <div class="inline-block">
                <input type="radio"> YES
            </div>
            <div class="col-55 pull-right">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="indent-1">
        <div class="col-20">
            Safety Critical:
        </div>
        <div class="col-15">
            <input type="radio"> YES
        </div>
    </div>
    <div class="indent-1">
        <div class="col-20">
            Drug Screening:
        </div>
        <div class="col-15">
            <input type="radio"> YES
        </div>
        <div class="col-65 clearfix">
            160 hr Program:
            <div class="inline-block">
                <input type="radio"> YES
            </div>
            <div class="col-55 pull-right">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="indent-1">
        <div class="col-20">
            Hepatitis B Program:
        </div>
        <div class="col-15">
            <input type="radio"> YES
        </div>
    </div>
    <div class="indent-1">
        <div class="col-20">
            DOT Background:
        </div>
        <div class="col-15">
            <input type="radio"> YES
        </div>
    </div>
    <div class="indent-1">
        <div class="col-20">
            Minor Employee:
        </div>
        <div class="col-15">
            <input type="radio"> YES
        </div>
        <div class="col-65 clearfix">
            Medical Evaluator:
            <div class="col-75 pull-right">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="col-30 text-center">
        <div class="inline-block">
            <input type="radio"> H&amp;S
        </div>
        <div class="inline-block">
            <input type="radio"> PJD
        </div>
        <div class="inline-block">
            <input type="radio"> M/M
        </div>
    </div>
</main>
