<div id='container'>
    <div class="container-fluid">
        <div class="form-group">
         <div class='row '>
                <div class='col-md-10'>&nbsp; </div>
                <div class="pull-right"><img src="<$link;/local/SystemPages/LoginImages/logo_black.png>" width="60px" /></div>
            </div>
            <div class='row'>
                <h2 class='bold'>Apple Intern Corporate Housing Acknowledgements</h2>
            </div>
            <div class='padding'></div>
            <div class='row'>
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial.HTML>
                    </div>
                </div>
                <p class='bold'>Roommate/Housemate Assignments</p>
                <p>
                    You will be assigned roommates or housemates of your same gender and internship timeframe, and based on the profile you completed with Apple’s vendor, National Corporate Housing (NCH). Standard housing will be a shared bedroom and bathroom with one other person (traditional dorm style); graduate housing (master’s/MBA/PhD/JD) will be a shared two-bedroom unit with individual rooms; married couples/registered same-sex domestic partnership housing will be a one-bedroom/efficiency unit; and family housing will be a one-bedroom (with an infant) or two-bedroom (with a child) unit. Specific roommate/housemate requests cannot be guaranteed and we reserve the right to reassign you different roommates/housemates mid-internship if the need arises. If you have questions about your housing assignment, including gender identification–related concerns, please contact the Apple program manager.
                </p>
                <p>
                    Married couples/registered same-sex domestic partnership housing and family housing require the significant other and/or family to reside in corporate housing with the intern for the entire length of the internship. The significant other is required to pick up their key from the property management office separately.
                </p>
            </div>

            <div class='padding'></div>
            <div class='row'>
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_2.HTML>
                    </div>
                </div>
                <p class='bold'>Housing Assignments</p>
                <p>
                   Apple contracts with several apartment complexes typically within 5 miles of your work location or within 3 miles from an Apple shuttle stop. You will be assigned a unit based on availability. Air conditioning and washer/dryer units are not available in all apartment units. Please work with the Apple program manager regarding any accommodation requests you may have. We reserve the right to reassign you to a different unit mid-internship if the need arises and when we need to consolidate back to long-term leases.
                </p>
            </div>

            <div class='padding'></div>
            <div class='row'>
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_3.HTML>
                    </div>
                </div>
                <p class='bold'>Estimated Commute from Intern Corporate Housing</p>
                <p>
                   Even though corporate housing may be less than 5 or 10 miles from your work location, interns with cars can still expect traffic delays in the Bay Area. Rush-hour traffic can be unpredictable and frustrating, so you should always try to leave early to anticipate any possible weather or traffic delays. Interns without cars who rely on public transportation and/or the Apple shuttle system can expect on average a 60-minute door-to-door commute when you factor in the walk to the closest shuttle stop, the shuttle commute, and the walk to your building.
                </p>
            </div>

            <div class='padding'></div>
            <div class='row'>
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_4.HTML>
                    </div>
                </div>
                <p class='bold'>Beds for Future Roommates or Housemates</p>
                <p>
                    Prior to each new roommate/housemate arrival, NCH will prepare the vacant bed with new linens, a laundry basket, towels, bath soaps, and a goody bag. These items should not be tampered with by anyone other than the new arriving intern. NCH will return prior to the new intern’s scheduled arrival to confirm the setup. A reset fee of US$150.00 will be equally divided and charged to the current intern residents if the vacant bed and items have been tampered with.
                </p>
            </div>


           <div class='padding'></div>
            <div class='row'>
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_5.HTML>
                    </div>
                </div>
                <p class='bold'>Bikes</p>
                <p>
                    A bicycle will be available for you to purchase directly from a designated vendor at an Apple discount. This purchase is entirely optional and is at your sole discretion. If you purchase a bike through a designated vendor, you will be responsible for its repair and storage. A bicycle safety helmet will be provided free to you when you successfully complete the Apple Bike Rider safety compliance course through Apple Commute. Do not park bikes in apartment complex parking lots or store them on your back patio.
                </p>
            </div>


            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_6.HTML>
                    </div>
                </div>
                <p class='bold'>Parking</p>
                <p>
                    For interns with vehicles, each apartment is assigned one designated parking space. It is your responsibility to confirm the location of your designated parking space. If more than one intern in your apartment unit has a car, you  should work out a mutually agreeable parking space sharing agreement with your roommate. Cars will be subject to towing if parked illegally or in another resident’s parking space. Parking spaces should not be used for storage. Any property other than an automobile stored in your designated parking space will be considered trash and removed immediately by property management. Apple does not reimburse for additional assigned parking space fees. You are responsible for parking space fees or parking space fee policy changes made by individual apartment complexes during your stay in corporate housing. Additional spaces are available on a first-come, first-served basis and are not guaranteed. Pricing and availability vary by property.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_7.HTML>
                    </div>
                </div>
                <p class='bold'>Renter's and Personal Liability Insurance</p>
                <p>
                    We encourage you to purchase renter’s and personal liability insurance to cover your personal property and guests and visitors. Apple and NCH are not responsible for replacing personal belongings lost or stolen from the apartment unit, storage areas, lockers, or parking areas on or oﬀ Apple property.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_8.HTML>
                    </div>
                </div>
                <p class='bold'>Apartment Cleaning</p>
                <p>
                   Your apartment will be thoroughly cleaned, sanitized, and bedbug-free certified prior to your move-in date. You will be responsible for maintaining your apartment in good condition. This includes notifying NCH as soon as possible if you notice any leaks, mold, or other such issues. You may be charged for any damage and excessive cleaning fees after you move out. Failure to comply with scheduled cleaning, or failure to clean or remove trash from your room, may result in cleaning fees and/or your removal from corporate housing.
                </p>
                <p>
                    Biweekly maid service (light dusting, vacuuming, and bathroom and kitchen sanitizing) will be provided, and you will be notified of the housekeeping schedule upon arrival. NCH Housekeeping will not pick up or touch personal items that may prevent the team from completing the cleaning. Prior to the scheduled cleaning, floors and beds should be cleared to allow for proper vacuuming and linen changes. Do not mix personal linens (sheets, towels, pillow cases, and so on) with NCH linens. Apple University Relations will be notified if scheduled housekeeping cleanings are missed due to uncleared beds and floors or if excessive trash is not removed on a weekly basis. Additional cleaning fees may be equally charged to the intern residents if NCH Housekeeping is required to dispose of excessive trash.
                </p>
                <p>
                    Shared apartment units and bedrooms require diligent upkeep and cleaning between the biweekly housekeeping service, especially when new interns arrive; therefore, you are expected to keep your living quarters neat and tidy.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_9.HTML>
                    </div>
                </div>
                <p class='bold'>Apartment Entry and Housing Inspections</p>
                <p>
                    NCH reserves the right of entry to the apartments by authorized representatives for the purpose of inspection, establishment of order, repairs, maintenance, inventory correction, extermination, cleaning, or in case of emergency or other reasonable purposes.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_10.HTML>
                    </div>
                </div>
                <p class='bold'>Loss/Theft/Damage/Liability</p>
                <p>
                   NCH and Apple are not liable for any damages to or loss of personal property. Occupants are strongly advised to arrange for insurance coverage of property brought onto corporate housing property. Occupants are jointly and severally liable for all damage that is caused to the rooms or any furniture/furnishings/fixtures therein. Occupants are liable for the cost of repairing damage to the rooms and building in case of fire, smoke, and so forth if caused in violation of this agreement. Removal of common area or common-use furniture, equipment, fixtures, or other NCH property is forbidden. Apartments will be inspected for damage prior to move-in. Any damage noticed upon arrival must be notated and reported in a damage report within 4 hours of receiving keys.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_11.HTML>
                    </div>
                </div>
                <p class='bold'>Credit Card Authorization/Security Deposit</p>
                <p>
                   A credit card authorization addendum and personal guarantee (CCAA) provided by NCH is required to cover costs associated with damages, replacement, and cleaning beyond normal wear and tear as set forth on the CCAA. A security deposit check of US$250.00 will be required if there is no credit card. The amount will be returned to the intern after occupancy is over, less any amount needed to compensate NCH for those costs.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_12.HTML>
                    </div>
                </div>
                <p class='bold'>Keys, Fobs, Remotes, Parking Passes, and Lockouts</p>
                <p>
                    All keys, fobs, remotes, parking passes, and other items issued at move-in are required to be returned prior to move-out. You will be charged a replacement fee for any lost or unreturned item. Not all properties provide lockout service free of charge. You may be charged up to US$300.00 per each lockout incident.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_13.HTML>
                    </div>
                </div>
                <p class='bold'>Utility Bills</p>
                <p>
                    The maximum allowed is US$150.00 per month for a two-bedroom apartment and US$125.00 for a one-bedroom apartment. All residents will be equally responsible for any additional costs above the allowed maximum.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_14.HTML>
                    </div>
                </div>
                <p class='bold'>Smoke-Free Apartments</p>
                <p>
                    Smoking is prohibited inside the apartments and on balconies and at most apartment buildings. Check with the property office to see if there are any designated smoking areas.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_15.HTML>
                    </div>
                </div>
                <p class='bold'>Pets</p>
                <p>
                    Pets of any kind are not permitted inside the apartments.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_16.HTML>
                    </div>
                </div>
                <p class='bold'>Overnight Guests</p>
                <p>
                    Out of respect for all unit residents, overnight guests are not allowed at any time in corporate housing. Family and friends planning extended visits during your internship will be expected to make alternative overnight sleeping arrangements.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_17.HTML>
                    </div>
                </div>
                <p class='bold'>Notice to Vacate and Extensions</p>
                <p>
                   All interns are required to provide a vacate notice 30 days prior to their departure date. Failure to do so will require NCH to confirm the move-out date with Apple. Extensions are subject to availability and may require a move to another unit.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_18.HTML>
                    </div>
                </div>
                <p class='bold'>Safety and Security</p>
                <p>
                   For the safety and security of all residents, do not give anyone or allow anyone to borrow your keys/fobs/remotes. All residents are required to lock and secure all windows and doors before leaving the premises to ensure the safety and welfare of property and residents.
            </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_19.HTML>
                    </div>
                </div>
                <p class='bold'>Move-Out</p>
                <p>
                    All occupants are required to remove all refuse and discarded materials, leaving the rooms clean and furnished with the original furnishings. Refrigerators and stoves must be emptied and cleaned. All charges for additional required cleaning, removal of personal property, or loss or damage caused by the occupants will be billed equally to the occupants.
                </p>
                <p>
                    Belongings left behind after move-out will be considered abandoned and disposed of or donated to charity with no liability.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_20.HTML>
                    </div>
                </div>
                <p class='bold'>Prohibited Activities</p>
                <p>
                    Use or storage of dangerous substances and chemicals, including but not limited to automobile batteries, gasoline, acids, and similar materials, is prohibited. Fireworks and weapons, including but not limited to guns, BB guns, paint pellet guns, nunchucks, switchblades, explosives, ammunition, and dangerous and/or combustible chemicals, are not permitted in the apartments at any time. The use, possession, or distribution of narcotics or illegal drugs, and the use of alcohol by or supplying of alcohol to minors are prohibited.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_21.HTML>
                    </div>
                </div>
                <p class='bold'>Apartment Subletting</p>
                <p>
                    Subletting your assigned corporate housing unit is prohibited. This includes placing your apartment on a house-sharing website, like VRBO or Airbnb.
                </p>
            </div>

            <div class='padding'></div>
            <div class="row">
                <div class="col-lg-2 col-xs-12 pull-right">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
                        <strong>
                            Initial
                        </strong>
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <$client.env.FormField.Initial_22.HTML>
                    </div>
                </div>
                <p class='bold'>Be Respectful</p>
                <p>
                    You are a representative of Apple and will be living in a community of families. Please be respectful of the community’s quiet enjoyment hours (10:00 p.m.–6:00 a.m.). Please also refrain from loud parties, horseplay, and anything else that will disturb others.
                </p>
            </div>

            <div class='padding'></div>
            <div class='row'>
                <p class='bold'>
                  <strong>ACKNOWLEDGEMENT</strong>
                </p>
                <p>
                    <strong>
                        I understand and agree that any violation of the provisions of this Agreement may result in disciplinary action up to and including termination of employment and/or termination of your corporate housing privileges.
                    </strong>
                </p>
            </div>
            <div class='padding'></div>
            <div class='row'>
                <div class='col-md-12'>
                    I have read and agree to all of the housing information above.
                </div>
            </div>
            <div class='padding'></div>
            <div class='row'>
                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-3">
                    Print Name
                </div>
                <div class="col-lg-6 col-md-6 col-sm-9 col-xs-9">
                    <$client.env.FormField.Print_Name.HTML>
                </div>
            </div>
            <div class='row'>
                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-3">
                    Signature
                </div>
                <div class="col-lg-6 col-md-6 col-sm-9 col-xs-9">
                    <$client.env.FormField.Signature.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 col-md-2 col-sm-3 col-xs-3">
                    Date
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <$client.env.FormField.Signature_Date.HTML>
                </div>
            </div>
            <!--end form-group  -->
        </div>

        <!-- end container-fluid -->
    </div>
<!-- end container -->
</div>



<div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix">
        <div class="srt_eform_section">
            <div id="srt_form_btn_wrapper">
                <div class="srt_eform_row">
                    <div class="col-lg-12 srt_eform_module">
                        <$client.env.FormButtons>


                            <!--- BUTTONS BELOW ARE FOR OFFER LETTER ONLY --->
                        <!--
                        <div class="srt_eform_text_inner">
                            <input class="appInputButton RCappInputButtonBlue" id="buttonSaveAndComplete" name="buttonSaveAndComplete" type="button" onclick="void(funcSaveAndComplete());" value="Save and Complete" style="display: inline;">
                            <input class="appInputButton RCappInputButtonBlue" id="buttonPrint" name="buttonPrint" type="button" onclick="void(funcPrint());" value="Download PDF">
                            <input class="appInputButton RCappInputButtonOrange" id="buttonCancel" name="buttonCancel" type="button" onclick="void(funcCancel());" value="Cancel">
                        </div>
                        -->

                            <!-- end srt_eform_text_inner  -->
                    </div>
                    <!--end 12 -->
                </div>
                <!-- end srt_form_btn_wrapper  -->
            </div>
            <!--end row  -->
        </div>
        <!--end eform_section  -->
    </div>
</div>
