<div class="main">
    <header>
        <div class="col-20">
            <img src="/assets/img/pubmatic.jpg" alt="pubmatic" class="img-responsive">
        </div>
    </header>
    <h3 class="text-center">
        <strong>
            EDUCATION &amp; SKILLS<br>
        </strong>
        (Starting with the highest qualification)
    </h3>
    <ol>
        <li>
            <div class="col-20">
                INSTITUTION NAME:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
            <div class="col-20">
                LOCATION:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
            <div class="col-20">
                QUALIFICATION:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
            <div class="col-20">
                GRADE:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
        </li>
        <li>
            <div class="col-20">
                INSTITUTION NAME:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
            <div class="col-20">
                LOCATION:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
            <div class="col-20">
                QUALIFICATION:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
            <div class="col-20">
                GRADE:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
        </li>
        <li>
            <div class="col-20">
                INSTITUTION NAME:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
            <div class="col-20">
                LOCATION:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
            <div class="col-20">
                QUALIFICATION:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
            <div class="col-20">
                GRADE:
            </div>
            <div class="col-80">
                <input type="text">
            </div>
        </li>
    </ol>
    <h3 class="text-center">
        <strong>
            EMPLOYMENT HISTORY <br>
        </strong>
        List most recent employer first
    </h3>
    <ol>
        <li>
            <div class="wrapper-inner">
                <div class="col-15">
                    EMPLOYER:
                </div>
                <div class="col-85">
                    <input type="text">
                </div>
            </div>
            <div class="wrapper-inner">
                <div class="col-25">
                    DATES EMPLOYED: From
                </div>
                <div class="col-25">
                    <input type="text">
                </div>
                <div class="col-5">
                    To
                </div>
                <div class="col-25">
                    <input type="text">
                </div>
            </div>
        </li>
        <li>
            <div class="wrapper-inner">
                <div class="col-15">
                    EMPLOYER:
                </div>
                <div class="col-85">
                    <input type="text">
                </div>
            </div>
            <div class="wrapper-inner">
                <div class="col-25">
                    DATES EMPLOYED: From
                </div>
                <div class="col-25">
                    <input type="text">
                </div>
                <div class="col-5">
                    To
                </div>
                <div class="col-25">
                    <input type="text">
                </div>
            </div>
        </li>
        <li>
            <div class="wrapper-inner">
                <div class="col-15">
                    EMPLOYER:
                </div>
                <div class="col-85">
                    <input type="text">
                </div>
            </div>
            <div class="wrapper-inner">
                <div class="col-25">
                    DATES EMPLOYED: From
                </div>
                <div class="col-25">
                    <input type="text">
                </div>
                <div class="col-5">
                    To
                </div>
                <div class="col-25">
                    <input type="text">
                </div>
            </div>
        </li>
        <li>
            <div class="wrapper-inner">
                <div class="col-15">
                    EMPLOYER:
                </div>
                <div class="col-85">
                    <input type="text">
                </div>
            </div>
            <div class="wrapper-inner">
                <div class="col-25">
                    DATES EMPLOYED: From
                </div>
                <div class="col-25">
                    <input type="text">
                </div>
                <div class="col-5">
                    To
                </div>
                <div class="col-25">
                    <input type="text">
                </div>
            </div>
        </li>
    </ol>
    <h3 class="text-center">
        <strong>
            Invitation for Self-Identification
        </strong>
    </h3>
    <p>
        <em>
        PubMatic is an Equal Opportunity Employer and makes all employment-related decisions without regard to race, color, sex, age, national origin,  sexual orientation, marital status, veteran status, disability or any other classification protected by applicable anti-discrimination laws.
        </em>
    </p>
    <p>
        To assist us in maintaining accurate employment records, complying with federal government reporting requirements, and statistically evaluating our Equal Opportunity/Affirmative Action Programs, we invite you to provide the following information. This information is gathered in the interest of all applicants and employees of <em>InfoPartners</em>
    </p>
    <p>
        Providing this information is entirely voluntary and the information is held confidential. It will not be used in reaching a decision regarding your employment.
    </p>
    <div class="wrapper-inner">
        <div class="col-25 vertical-middle">
            GENDER - Please check one:
        </div>
        <div class="col-65 table-checkbox form-inline vertical-middle">
            <table>
                <tbody>
                    <tr>
                        <td class="instr">
                            <input type="radio">
                            <label for="">Male</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="instr">
                            <input type="radio">
                            <label for="">Female</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="wrapper-inner table-list">
        <table>
            <tbody>
                <tr>
                    <td class="instr">
                        <input type="radio">
                        <label for="">
                            African American (Black) - Not of Hispanic Origin. All persons having origins in any of the Black racial groups of Africa.
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="instr">
                        <input type="radio">
                        <label for="">
                            Asian - Persons having origins in any of the original peoples of the Far East, Southeast Asia, the Indian Subcontinent, or the Pacific Islands. This area includes, for example, China, Japan, Korea, the Philippine Islands and Samoa.
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="instr">
                        <input type="radio">
                        <label for="">
                            American Indian or Alaskan Native - Persons having origins in any of the original peoples of North America and who maintain cultural identification through tribal affiliation or community recognition.
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="instr">
                        <input type="radio">
                        <label for="">
                            Hispanic or Latino - Persons of Mexico, Puerto Rico, Cuba, Central or South America, or other Spanish Culture or origin, regardless of race.
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="instr">
                        <input type="radio">
                        <label for="">
                            White - (Not of Hispanic Origin) All persons having origins in any of the original peoples of Europe, North America, or the Middle East.
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="instr">
                        <input type="radio">
                        <label for="">
                            Hawaiian or Pacific Islander - Persons having origins in any of the original peoples Hawaii or the Pacific Islands
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="instr">
                        <input type="radio">
                        <label for="">
                            Two or More Races
                        </label>
                    </td>
                </tr>
                <tr>
                    <td class="instr">
                        <input type="radio">
                        <label for="">
                            I do not wish to specify
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
