<main class="container-fluid">
    <header class="row">
        <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4">
            <img src="/assets/img/homeaway-icon.jpg" alt="" class="img-responsive">
        </div>
    </header>
    <div class="section-heading main">
        <h3 class="text-center">
            <strong>
                EMPLOYEE INFORMATION FORM
            </strong>
        </h3>
    </div>
    <div class="section-heading bordered">
        <h4 class="text-center">
            <strong>
                PERSONAL INFORMATION
            </strong>
        </h4>
    </div>
    <div class="box">
        <div class="row border-bottom">
            <div class="col-lg-12 inner">
                <strong>
                    Full Name:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner border-right">
                <strong>
                    Address:
                </strong>
                <textarea name="" id="" cols="30" rows="2" class="lifesuite__text-input"></textarea>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner">
                <strong>
                    County/District:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner border-right">
                <strong>
                    Marital status:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner">
                <strong>
                    Mother's Maiden Name:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner border-right">
                <strong>
                    PPS Number:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner">
                <strong>
                    PRSI:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
    </div>
    <div class="box-thick">
        <div class="row section-heading border-bottom">
            <h4 class="text-center">
                <strong>
                    BANK ACCOUNT DETAILS
                </strong>
            </h4>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner border-right">
                <strong>
                    Bank Name:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner">
                <strong>
                    Account Name:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner border-right">
                <strong>
                    Bank Account Number:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner">
                <strong>
                    Sort Code:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner border-right">
                <strong>
                    SWIFT Code:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner">
                <strong>
                    IBAN Number:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner">
                <strong>
                    Address:
                </strong>
                <textarea name="" id="" cols="30" rows="2" class="lifesuite__text-input"></textarea>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner border-right">
                <strong>
                    County/District:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner">
                <strong>
                    Postal Code:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row section-heading border-bottom">
            <h4 class="text-center">
                <strong>
                    RIGHT TO WORK /ARBEITSERLAUBNIS
                </strong>
            </h4>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner">
                <strong>
                    Are there any restrictions on your residence in Ireland?
                </strong>
                <input type="radio"> Yes
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner">
                <strong>
                    Are there any restrictions on your continued freedom to take employment in Ireland?
                </strong>
                <input type="radio"> Yes
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner border-right">
                <strong>
                    ID/Passport number:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner">
                <strong>
                    Nationality:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner border-right">
                <strong>
                    Visa Number:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner">
                <strong>
                    Visa Type:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner border-right">
                <strong>
                    Issued Date:
                </strong><br>
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner">
                <strong>
                    Expiration Date:
                </strong><br>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row section-heading border-bottom">
            <h4 class="text-center">
                <strong>
                    ACKNOWLEDGEMENT AND SIGNATURE
                </strong>
            </h4>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner">
                <p>
                    <strong>
                        Please sign below in acknowledgement and agreement of the following statements:
                    </strong>
                </p>
                <p>
                    For the purposes of your employment, HomeAway SARL (“HomeAway”) may process and hold personal data and even sensitive personal data (together “data”) relating to you. Rest assured that HomeAway makes best effort to always keep your data safe and to comply with the European Directive on personal data EC 95/46 as well as applicable national laws.
                </p>
                <p>
                    By signing below, you agree to the Company transferring your data within the HomeAway group including outside of the European Economic Community and to third parties as necessary for any purpose which reasonably arises out of and/or in connection with your employment with HomeAway.
                </p>
                <p>
                    In order to maintain accurate personal information, you are required to notify the Company of changes to any personal data relating to you which HomeAway may hold or process including your name, address and emergency contact telephone numbers.
                </p>
                <p>
                    By signing below you further certify that you are permitted to work in Ireland and have supplied the appropriate documents. I understand that a copy will be taken and held on file.
                </p>
                <p>
                    I understand that by typing my full name and saving this form that I am electronically signing this document and that by doing so, that I acknowledge, agree and attest that the information provided on this form is true and correct. I also understand that my electronic signature carries the same legal effect and enforceability as my handwritten signature.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner border-right">
                <strong>
                    Signature:
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 inner">
                <strong>
                    Date:
                </strong><br>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
    </div>
</main>
