<main class="container-fluid">
  <header class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
      <img src="/assets/img/ccd_logo.jpg" alt="" class="img-responsive">
    </div>
    <address>
      Human Resources <br>
      Administrative Services Building, Suite 310 <br>
      Campus Box 240 P.O. Box 173363 <br>
      Denver, CO 80217 <br>
      Phone: 303-352-3042 Fax: 303-556-6557 <br>
      Website: www.CCD.edu/HR
    </address>
  </header>
  <h3 class="text-center">
    <strong>
      Work-Study Job Information Form
    </strong>
  </h3>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Employee S#:
        </label>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Employee Name (Last, First, Middle Initial):
        </label>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Division:
        </label>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="checkbox"> Administrative Services
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Department:
        </label>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-sm-12">
      <div class="form-group text-right">
        <label class="control-label">
          Title:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Campus Address w/ Campus Box #:
        </label>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Campus Phone #:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group text-right">
        <label class="control-label">
          Campus Fax #:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Office Location:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Timesheet Approver Name:
        </label>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Timesheet Approver S#:
        </label>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Timesheet Org:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Pay Rate:
        </label>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-sm-12">
      <div class="form-group text-right">
        <label class="control-label">
          Award:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Begin Date:
        </label>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-sm-12">
      <div class="form-group text-right">
        <label class="control-label">
          End Date:
        </label>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Initiated By:
        </label>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group text-right">
        <label class="control-label">
          Org Owner Name:
        </label>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row org-signature">
    <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          <strong>
            Org Owner Signature:
          </strong>
        </label>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-sm-12">
      <div class="form-group text-right">
        <label class="control-label">
          <strong>
            Date:
          </strong>
        </label>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <p>
    For internal use only:
  </p>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Banner FOAP:
        </label>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group">
        <label class="control-label">
          Position #:
        </label>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12">
      <div class="form-group text-right">
        <label class="control-label">
          Staff Initials:
        </label>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12">
      <div class="form-group">
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      Revised 06/25/17
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      Page 1 of 1
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      HR-16
    </div>
  </div>
  <div class="hidden-xs hidden-sm" style="width: 900px;">&nbsp;</div>
</main>
