<!-- Main QA Area --> 

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement --> 
<div class="modal" id="modal" style="display:none;"> 
              <div class="modal-content"> 
                             <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature1" class="input-sm lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
                             </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;"> 
                                                         <input type="button" class="lifesuite__button" value="Sign" onClick="validateSignature('signature','eSignature1','name','modal','over','sv');xbObj('eSignature1').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';"> 
                                           </div> 
                             </div> 
              </div> 
</div> 
<div id="over" style="display:none;"></div> 
<SCRIPT> 
    showScreen('over');
</SCRIPT> 
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
  
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!-- RESPONSIVE eFORM PAGE LOADER--> 
  
<div class="modal" style="display:block; background: #002E6D;"> 
              <div class="fb-spinner"> 
                             <i class="fa fa-2x fa-spinner fa-pulse"></i> 
              </div> 
</div> 
  
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
 
<form name="frmForm" action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);" role="form"> 

<div style="display:none;">
<$client.env.FormField.Form_Name.prompt>
<$client.env.FormField.Form_Name.HTML>
<$client.env.FormField.Form_Type.prompt>
<$client.env.FormField.Form_Type.HTML>
<$client.env.FormField.Form_Owner.prompt>
<$client.env.FormField.Form_Owner.HTML>
<$client.env.FormField.Form_CreateDate.prompt>
<$client.env.FormField.Form_CreateDate.HTML>
<$client.env.FormField.Form_Completed.prompt>
<$client.env.FormField.Form_Completed.HTML>
<$client.env.FormField.Form_Delivered.prompt>
<$client.env.FormField.Form_Delivered.HTML>
<$client.env.FormField.Form_TaskId.prompt>
<$client.env.FormField.Form_TaskId.HTML>
<$client.env.FormField.display_version.HTML>
<!-- Your Required/Validated Form Fields -->

<$client.env.FormField.Name.prompt>
<$client.env.FormField.alternate_contact_number.prompt>
<$client.env.FormField.cell_phone.prompt>
<$client.env.FormField.city_state_zip.prompt>
<$client.env.FormField.date.prompt>
<$client.env.FormField.employee_signature.prompt>
<$client.env.FormField.postal_code.prompt>
<$client.env.FormField.SignatureVerification.prompt>
<$client.env.FormField.street_address.prompt>

</div>

<input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">
<!-- Begin HTML Content -->
<div id="container">
    <div class="container-fluid">
        <div class="form-group">

            <div class="row ">
                <div class="col-md-10">&nbsp; </div>
                <div class="col-md-2">
                  <div class="img-wrapper pull-right">
                    <img src="<$link;/local/SystemPages/LoginImages/logo_black.png>" class="img-reponsive" />
                  </div>
                </div>
            </div>
            <div class="row">
                <h2>Apple At Home Advisor Program Agreement</h2>
                <p>
                  私は、Appleの従業員として、下記を含みますがこれらに限定されないAppleのガイドライン、ポリシーおよび手続に従うことに同意いたします。 <br>
                  <strong>企業行動基準<br>
                  従業員が使用する電子機器やコミュニケーションツール<br>
                  情報セキュリティ<br>
                  Environmental Health and Safety web site <br>
                  出勤 / 欠勤ポリシー <br>
                  就業規則 <br>
                  在宅勤務規定</strong>
                </p>
                <p>
                  契約条件
                </p>
            </div>
            <div>
                <br>
                <h4>契約条件</h4>
            </div>
            <div class="number_list">
                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">1.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>在宅勤務地：</strong> 
                      &nbsp;私は、下記の場所で、At Home Advisorとして業務に従事します。
                      <strong>私は、自己の勤務地を変更する場合には、必ず自己のマネージャーと事前に取り決めを行わなければならないことを了承します。</strong>
                    </div>

                </div>
                
                <div class="row">
                  <div class="col-md-12" style="padding-left:50px">
                      <p></p>
                      <p>名前:
                          <$client.env.FormField.Name.HTML>
                      </p>
                      <p class="__paragraph">自宅住所:
                          <$client.env.FormField.street_address.HTML>
                      </p>
                      <p class="__paragraph">郵便番号: &nbsp;
                          <$client.env.FormField.postal_code.HTML>
                      </p>
                      <p class="__paragraph">携帯電話: &nbsp;
                          <$client.env.FormField.cell_phone.HTML>
                      </p>
                      <p class="__paragraph">
                          私は、At Home Advisorとしての業務を開始する前に、私自身が直接研修への参加を要請される場合があることを了承します。私は、研修期間中は、Appleが指定した研修地が自己の勤務地となること、および同期間中は、当該研修地への通勤が必要となることに同意します。
                      </p>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">2.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11"> 
                      <strong>At Home Advisorのスケジュール：</strong> 
                      &nbsp; 私は、自己のスケジュールがEmpowerによって組まれること、およびスケジュール変更について知らせを受けることに同意します。また、私は、自己の勤務シフト中は、上記記 載の電話番号にて連絡可能となることに合意します。私は、業務上必要な場合、私のスケジュールが、自己 のマネージャーの直前の連絡により、変更または終了する場合があることを了承します。私は、食事・休憩時間、病欠、休暇その他の欠勤について、Appleのポリシーおよび手続に従わなければならないことを了承します。
                    </div>

                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">•</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>想定される業務：</strong> 
                      私は、在宅勤務地において業務に従事することが想定されていますが、場合により、研修またはその他業務に関連する目的のために、Appleが指定した場所への出勤が求められることを了承します。また、私は、業務上必要な場合、私の業務内容が随時変更される可能性があることを了承します。現時点に置ける業務内容は、下記を含みますがこれらに限定されるものではありません。
                      <ul>
                        <li>Apple製品に関するテクニカル、またアプリケーションに関する問い合せへの顧客対応業務</li>
                        <li>Appleの提供するApple Care製品の販売</li>
                      </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">3.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>モニタリング：</strong> 
                      &nbsp;私は、私がAt Home Advisorとしての業務に従事している間、Appleが、私の電話、Ｅメール、チャット、およびコンピュータのデスクトップをモニターする権利を有すること、およびAppleはその裁量により随時この権利を行使することを了承します。
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">4.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>備品および供給品：</strong> 
                      &nbsp;Appleは、在宅Advisorとしての業務を円滑に遂行できるようにするため、下記の備品および供給品を提供します。
                      <ul>
                        <li>備品（添付のリストを参照）</li>
                        <li>供給品：必要に応じて一般のオフィスにおける供給品</li>
                        <li>トレーニング期間中に前述以外のApple製品が提供された場合、これらの製品はAppleの指示に従い、トレーニング終了後あるいは退社時に速やかに返却します。</li>
                      </ul>
                      提供される備品の所有権は、Appleに留保され、その要請に応じてAppleへ返還されるものとします。私は、備品を正常に利用できる状態に保ち、メンテナンスや修理が必要な場合には、所定のAppleの手続に従います。備品やシステムに異常がある場合には、備品を交換すべきか代替システムを利用すべきかを判断する自己のマネージャーに、直ちに通知します。
                      <br>
                      <strong>私は、備品および関連システムの利用が自己のみに制限されていること、および、自己以外の家族およびゲストには備品の利用が認められないことを了承します。</strong>
                      <br>
                      備品および関連システム利用も、備品およびシステムにより保存されアクセス可能なデータの利用も、<strong>「従業員が使用する電子機器やコミュニケーションツール」</strong>および「<strong>情報セキュリティ</strong>」を含みますがこれらに限定されないAppleのポリシーに従って管理されます。
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">5.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>経費：</strong>
                      &nbsp;払戻し可能な経費には、下記の費用を含みますがこれらに限定されません。
                      <ul>
                        <li>当該業務に必要な基本的なオフィスにおける供給品</li>
                        <li>Appleが費用の払戻しを認めた備品および</li>
                        <li>業務上必要な出張に関する旅費</li>
                      </ul>
                      私は、事前に発生する可能性のあるその他の業務上の経費の払戻しを受けるために、費用負担する前に、自己のマネージャーによる承認を得る必要があることを了承します。備品サービスおよびオフィスの供給品の払戻しは、AppleのFinance Policyに従ってなされます。
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">6.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>ネットワークにかかる費用：</strong>
                      &nbsp;前述の経費の他、以下につき会社補助します。
                      <ul>
                        <li>17,000円を上限としたネットワーク（インターネット）初期設定費用（一括支払時のみ実費精算）</li>
                        <li>ネットワーク月額使用料補助として毎月6,000円を手当として給与支給（但し、入社・休職・退社時は日割計算とする）</li>
                      </ul>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">7.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>リスクマネジメント：</strong>
                      &nbsp;私は、自宅にあるApple所有の備品の盗難、紛失または損害に関連する請求はAppleの保険プログラムにより補填されないこと、および、これらに関する交換および修理費用は自己が所属する部署の予算によってなされることを了承します。また、私有の備品その他所有物の盗難、紛失又は損害に関連する請求および費用については、自己の責任であることを了承します。
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">8.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>仕事場/安全性：</strong>
                      &nbsp;私は、業務の効率が上がる仕事場を指定し、当該仕事場を安全で、障害物やその他の危険性がない状態に維持することに同意します。Appleは、いかなる場合も仕事場で就業時間外に私が負傷した場合、または業務上関係のないゲストが負傷した場合、責任を負うものではありません。
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">9.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>仕事場/環境：</strong>
                      &nbsp;私は、AHAとして自宅に以下の作業環境を準備することに同意します。
                      <ul>
                        <li>ドアがあり、閉めた際には外部からの騒音や妨害から遮断され、プライバシーの確保出来る作業スペース</li>
                        <li>Apple Environmental Health and Safety (EHS) が定めるガイドライン*を満たす机と椅子。*添付資料『ホームオフィスで使用する機材購入のヒント』を参照のこと</li>
                        <li>光ファイバーのインターネット固定回線で、カタログ値20Mbps以上のもの（WiFiは不可）</li>
                      </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">10.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>ポリシー：</strong>
                      &nbsp;私は、Appleの企業行動基準に規定されたポリシーおよび手続を含みますがこれらに限定されないすべてのAppleのポリシーおよび手続を理解し、これらを遵守する責任があることを了承します。Appleのポリシーに関する情報は、自己のマネージャーおよびApple Internal Webサイトから入手できることを了承します。
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">11.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>Appleの備品の返却：</strong>
                      &nbsp;本At Home Advisor Program AgreementまたはAppleによる私の雇用が終了した場合、私は、Apple所有の備品および/またはその所有物の一切を返却することに同意します。
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">12.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>雇用期間：</strong>
                      &nbsp;私は、本Agreementが、明示的にも黙示的にも雇用契約を構成するものではないことを了承します。また、私は、Appleとの雇用関係が終了する場合、本Agreementも自動的に終了することを了承します。なお、職場環境設定が所定の基準を満たさない場合、および、研修中に一定の基準を満たすパフォーマンスが発揮されない場合においては、雇用契約を解除されることがあります。
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">13.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>初期設定：</strong>
                      &nbsp;私は、自己の業務用コンピュータのMac OS Xの自動起動/シャットダウン機能を使用することに同意し、この機能の使用が義務付けられることを了承します。また、私は、Safari、SoftphoneおよびMailを含むがこれらに限定されない、自己が定期的に使用するすべてのアプリケーションが自己のコンピュータと自動起動されるよう設定することに同意します。
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">14.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>勤務時間の報告：</strong>
                      &nbsp;私は、すべての勤務時間を正確に記録する責任があり、またAppleの勤務時間外にいかなる業務（無報酬）も行ってはならないことを了承します。電話、Ｅメールまたはチャットに要した時間に加え、「勤務時間」には、コンピュータにログオンするなど電話対応の準備に要した時間、Appleアカウントのメールの閲読、その他関連する業務も含まれます。コンピュータのログオフに要する時間も含まれます。
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1">15.</div>
                    <div class="col-md-11 col-sm-11 col-xs-11">
                      <strong>第三者提供について：</strong>
                      &nbsp;私は、Appleが業務上必要とする場合に限り、私の個人情報（名前、住所、電話番号）をAppleがベンダー契約を締結しているパートナーに限り共有する場合があることに同意します。
                    </div>
                </div>
                <br>

            </div>
            <br>

            <div class="padding"></div>
            <div class="row">
                <div class="col-md-12">
                  私は、在宅Advisorとしての加入に関して、上記に記載された条件を了承し、同意します。
                </div>
            </div>
            <br>

            <div class="padding"></div>
            <div class="row">
                <div class="col-lg-12">
                    <$client.env.FormField.Signer.HTML>
                </div>
            </div>

            <div class="padding"></div>
            <div class="row mb-50">
                <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                     写し：HR記録用
                </div>
            </div>

            <!--end form-group  -->
        </div>

        <!-- end container-fluid -->
    </div>
    <!-- end container -->
</div>


<div class="row" id="formButtons" style="display: none;">
  <div class="lifesuite__clearfix">
    <div class="srt_eform_section">
      <div id="srt_form_btn_wrapper">
        <div class="srt_eform_row">
          <div class="col-lg-12 srt_eform_module">
            <$client.env.FormButtons>


              <!--- BUTTONS BELOW ARE FOR OFFER LETTER ONLY --->
              <!--
                        <div class="srt_eform_text_inner">
                            <input class="appInputButton RCappInputButtonBlue" id="buttonSaveAndComplete" name="buttonSaveAndComplete" type="button" onclick="void(funcSaveAndComplete());" value="Save and Complete" style="display: inline;">
                            <input class="appInputButton RCappInputButtonBlue" id="buttonPrint" name="buttonPrint" type="button" onclick="void(funcPrint());" value="Download PDF">
                            <input class="appInputButton RCappInputButtonOrange" id="buttonCancel" name="buttonCancel" type="button" onclick="void(funcCancel());" value="Cancel">
                        </div>
                        -->

              <!-- end srt_eform_text_inner  -->
          </div>
          <!--end 12 -->
        </div>
        <!-- end srt_form_btn_wrapper  -->
      </div>
      <!--end row  -->
    </div>
    <!--end eform_section  -->
  </div>
</div>
<!--end form-buttons  -->


<!-- End HTML -->
</form>


<SCRIPT>
ChangeCalendarIcons(); //for popup calendar
</SCRIPT>
 


<SCRIPT>  
  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
/* RESPONSIVE eFORM BUTTONS STYLE */ 
  
$(function(){
        $("#buttonCancel")
            .removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue")
            .addClass("lifesuite__button");

        $('#buttonCancel').attr('id', 'ButtonCancel');

        $("#buttonSave")
            .removeClass("appInputButton RCappInputButtonBlue")
            .addClass("lifesuite__button");

        $('#buttonSave').attr('id', 'ButtonSave');

        $("#buttonSaveAndComplete")
            .removeClass("appInputButton RCappInputButtonBlue")
            .addClass("lifesuite__button");

        $('#buttonSaveAndComplete').attr('id', 'ButtonSaveAndComplete');

        $("#buttonPrint")
            .removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue")
            .addClass("lifesuite__button");

        $('#buttonPrint').attr('id', 'ButtonPrint');

        $("#buttonPreviewDelete")
            .removeClass("appInputButton RCappInputButtonRed")
            .addClass("lifesuite__button");

        $('#buttonPreviewDelete').attr('id', 'ButtonPreviewDelete');

        $("#buttonPreviewSave")
            .removeClass("appInputButton RCappInputButtonBlue")
            .addClass("lifesuite__button");

        $('#buttonPreviewSave').attr('id', 'ButtonPreviewSave');

        document.getElementById('formButtons').style.display = "block";

        $("input[type=text]").addClass('lifesuite__text-input');
        $("input[type=text].hasDatepicker").addClass('dateField');
        $('.inputprompt').addClass('lifesuite__input-label lifesuite__input—block');
        
        $("body").addClass("apple_custom_theme");


        // Window Resize 
    //    $(window).resize(function() {
    //        adjustHeight();
    //    });

        //Adjust Height
        function adjustHeight() {
            $winHeight = $(window).height();

            $btn_container = $("#formButtons").height();
            $body_padding = parseFloat($('body').css('padding-top')) * 2;
            $srt_form_container_margin = parseFloat($('#container').css('margin-top')) * 2;

            console.log($body_padding);

            console.log($('body').innerHeight());
            $("#container").css({
                'height': $winHeight - ($btn_container + $body_padding + $srt_form_container_margin),
                'display': 'block',
            });


        }

   // adjustHeight();
  //  adjustHeight();

    });
    // $('canvas').parent().find('.lifesuite__p.ng-scope').text('従業員署名');
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
</SCRIPT>
