<div id="task_summary_outer">
    <div id="bg-image">.</div>
    <div id="EditProfile_container">
        <div id="EditProfile_wrapper">
            <div id="EditProfile">
                <h2>Launch Onboarding Event</h2>
                <h4>This page simplifies the process of launching an onboarding event.</h4>
                <div class="heading">
                    <span class="heading-inner">
                        POSITION INFORMATION
                    </span>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptBusiness_Title>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptBusiness_Title></span>
                    <$client.env.inputBusiness_Title>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptSystemTitle>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptSystemTitle></span>
                    <$client.env.inputSystemTitle>
                </div>
                <div class="merge">
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptSalaryGradeLvl>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptSalaryGradeLvl></span>
                        <$client.env.inputSalaryGradeLvl>
                    </div>
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptEmployee_Group_CD>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptEmployee_Group_CD></span>
                        <$client.env.inputEmployee_Group_CD>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptExempt>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptExempt></span>
                        <$client.env.inputExempt>
                    </div>
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptJobType>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptJobType></span>
                        <$client.env.inputJobType>
                    </div>
                </div>
                <div class="input_wrapper mb-18" data-fieldgroup-title="<$client.env.promptEnityName>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptEnityName></span>
                    <$client.env.inputEnityName>
                </div>
                <div class="input_wrapper mb-13" data-fieldgroup-title="<$client.env.promptManager>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Manager_label">
                    <label id="Manager_label">
                        <strong>Is this employee in a position of trust (Manager or Supervisor)?</strong>
                    </label>
                    <$client.env.inputManager>
                </div>
                <div class="heading">
                    <span class="heading-inner">
                        COMPENSATION
                    </span>
                </div>
                <div class="merge">
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptCurrency_Code_new>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptCurrency_Code_new></span>
                        <$client.env.inputCurrency_Code_new>
                    </div>
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptSalary_Amount>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptSalary_Amount></span>
                        <$client.env.inputSalary_Amount>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper mb-0 hidden-xs"></div>
                    <div class="input_wrapper mb-0" data-fieldgroup-title="<$client.env.promptSalaryOffered>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptSalaryOffered></span>
                        <$client.env.inputSalaryOffered>
                    </div>
                </div>
                <div class="input_wrapper mb-18" data-fieldgroup-title="<$client.env.prompteIP_Target_Pct>">
                    <span class="floating-label"><$client.env.prompteIP_Target_Pct></span>
                    <$client.env.inputeIP_Target_Pct>
                </div>
                <div class="heading" data-location-group="BRA">
                    <span class="heading-inner">
                        BRAZIL: ONBOARDING EVENT
                    </span>
                </div>
                <div class="merge mb-18" data-location-group="BRA">
                    <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptLabor_Booklet_no>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptLabor_Booklet_no></span>
                        <$client.env.inputLabor_Booklet_no>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptLabor_booklet_series>" data-fieldgroup-validation="required">
                        <span class="floating-label"><$client.env.promptLabor_booklet_series></span>
                        <$client.env.inputLabor_booklet_series>
                    </div>
                </div>
                <div class="input_wrapper mb-13" data-location-group="BRA" data-fieldgroup-title="<$client.env.promptBonus_Plan>" data-fieldgroup-validation="required" data-fieldgroup-targetlabel="#Bonus_Plan_label">
                    <label id="Bonus_Plan_label">
                        <strong>Does this employee qualify for a bonus plan?</strong>
                    </label>
                    <$client.env.inputBonus_Plan>
                </div>
                <div class="input_wrapper mb-13" data-location-group="BRA" data-fieldgroup-targetlabel="#Brazil_work_hours_label">
                    <label id="Brazil_work_hours_label">
                        <strong>Does the employee have a 36 or 40 hour work week?</strong>
                    </label>
                    <$client.env.inputBrazil_work_hours>
                </div>
                <div class="heading" data-location-group="BRA">
                    <span class="heading-inner">
                        BRAZIL: TRANSLATE TO PORTUGESE
                    </span>
                </div>
                <div class="input_wrapper" data-location-group="BRA" data-fieldgroup-title="<$client.env.promptJob_Title_PR>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptJob_Title_PR></span>
                    <$client.env.inputJob_Title_PR>
                </div>
                <div class="input_wrapper" data-location-group="BRA" data-fieldgroup-title="<$client.env.promptSystem_Title_pr>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptSystem_Title_pr></span>
                    <$client.env.inputSystem_Title_pr>
                </div>
                <div class="input_wrapper mb-18" data-location-group="BRA" data-fieldgroup-title="<$client.env.promptLong_Date_pr>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptLong_Date_pr></span>
                    <$client.env.inputLong_Date_pr>
                    <$client.env.inputLong_Date_pr_placeholder>
                </div>
                <div class="heading" data-location-group="MEX">
                    <span class="heading-inner">
                        MEXICO: ONBOARDING EVENT
                    </span>
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptDOB>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptDOB></span>
                    <$client.env.inputDOB>
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptGender>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptGender></span>
                    <$client.env.inputGender>
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptMaritalStatus>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptMaritalStatus></span>
                    <$client.env.inputMaritalStatus>
                </div>
                <div class="input_wrapper mb-18" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptTax_Payer_ID_English>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptTax_Payer_ID_English></span>
                    <$client.env.inputTax_Payer_ID_English>
                </div>
                <div class="heading" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptTest>">
                    <span class="heading-inner">
                        MEXICO: TRANSLATE TO SPANISH
                    </span>
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptJob_Title_mx>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptJob_Title_mx></span>
                    <$client.env.inputJob_Title_mx>
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptGender_mx>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptGender_mx></span>
                    <$client.env.inputGender_mx>
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptMarital_Status_mx>" data-fieldgroup-validation="required">
                    <span class="floating-label"><$client.env.promptMarital_Status_mx></span>
                    <$client.env.inputMarital_Status_mx>
                </div>
                
                <div class="button_group">
                    <div id="save"></div>
                    <div id="saveandcomplete"></div>
                    <div id="cancel"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    <$client.env.inputSalary_Currency>
    <$client.env.inputHoursPerWeek>
    <$client.env.inputage_english>
    <$client.env.inputage_spanish>
    <$client.env.inputCSIncentivePlan>
    <$client.env.inputCSIncentivePlan_fixed>
</div>

<style>
    .clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
    * html .clearfix { zoom: 1; }
    *:first-child+html .clearfix { zoom: 1; }
    body {color: #444;}
    input.dateField[required] {box-shadow: none;}
    select.lifesuite__select-input, input.lifesuite__select-input--small, input.lifesuite__select-input--large, input.lifesuite__text-input, input.lifesuite__textarea-input {margin: 0 !important; width: 100%; max-height: 40px; height: 100%;}
    select.lifesuite__select-input, select.lifesuite__select-input--small, select.lifesuite__select-input--large {padding: 0.8em; height: 145pt;}
    .lifesuite__text-input, .lifesuite__textarea-input {padding: 0.959em;}
    .input-error, .input-error:focus {outline: none; border: 1px solid rgb(255, 77, 77); border-radius: none !important; box-shadow: none !important; margin-bottom: -2px !important;}
    .input-error, .input-error:focus {outline: none; border: 1px solid rgba(255, 77, 77, 0.6) !important;box-shadow: none;}
    #EditProfile {text-align: left;}
    #EditProfile h2 {margin-bottom: 5px; color: #666666; font-family: "pp-sans-big-medium", Helvetica, Arial, sans-serif; font-size: 40px; font-weight: 500; line-height: 50px;}
    .date-label-focus, .input_wrapper input:focus ~ .floating-label, .input_wrapper select:focus ~ .floating-label, .input_wrapper input:not(:focus):valid ~ .floating-label, .input_wrapper select:not(:focus):valid ~ .floating-label {top: 5px !important; left: 20px; font-size: 12px; opacity: 0.5; font-weight: 600; font-size: 14px; font-weight: normal;}
    .input_wrapper .floating-label {position: absolute; pointer-events: none; transition: 0.2s ease all; font-family: "pp-sans-big-regular", Helvetica, Arial, sans-serif; z-index: 1;}
    input, select {font-family: "pp-sans-big-regular", Helvetica, Arial, sans-serif !important; background-color: #ffffff;}
    #EUPDefaultSaveButton {font-size: 14px;}
    #TaskSummary_ButtonSave:hover {background-color: #005ea6 !important;}
    .lifesuite__button.primary:hover, .lifesuite__ag-grid .ag-paging-button:hover {background-color: unset !important; -webkit-animation-name: unset !important; animation-name: unset !important; -webkit-animation-duration: unset !important; animation-duration: unset !important;}
    .red{ color: red!important;}
    .ui-datepicker .ui-datepicker-title select{padding: 0;}
    .ui-datepicker .ui-datepicker-header{position: relative; padding: 1em 0;}
    .ui-datepicker-month, .ui-datepicker-year {display: inline; padding: 1px !important; }
    body {color: #444;}
    input.dateField[required] {box-shadow: none;}
    select.lifesuite__select-input, input.lifesuite__select-input--small, input.lifesuite__select-input--large, input.lifesuite__text-input, input.lifesuite__textarea-input {margin: 0 !important; width: 100%; max-height: 40px; height: 100%;}
    select.lifesuite__select-input, select.lifesuite__select-input--small, select.lifesuite__select-input--large {padding: 0.8em; height: 145pt;}
    .lifesuite__text-input, .lifesuite__textarea-input {padding: 0.959em;}
    .input-error, .input-error:focus {outline: none; border: 1px solid rgb(255, 77, 77); border-radius: none !important; box-shadow: none !important; margin-bottom: -2px; !important;}
    .input-error, .input-error:focus {outline: none; border: 1px solid rgba(255, 77, 77, 0.6) !important;box-shadow: none;}
    .floating-label.label-focus {font-size: 12px !important; font-weight: 600 !important; top: 5px;}
    #TaskSummary_ButtonCancel, #TaskSummary_ButtonSave, #EUPDefaultSaveButton {display: none;}
    #EditProfile {align-items: stretch !important;}
    #EditProfile input[type="checkbox"], #EditProfile input[type="radio"] {width: auto;}
    #EditProfile .horizontal_checkbox_group, #EditProfile .horizontal_radio_group {margin-bottom: 5px;}
    #EditProfile .horizontal_checkbox_group label, #EditProfile .horizontal_radio_group label {margin: 0 0.5em;}
    #EditProfile ul.text-error li span {color: #fff !important;}
    #EditProfile h4 {margin-bottom: 2em; font-size: 18px; font-weight: 300; color: #666666; font-family: "pp-sans-big-light", Helvetica, Arial, sans-serif !important;}
    #EditProfile .hr-sect, #EditProfile .heading {margin-bottom: 7px; margin-top: 0; padding-top: 0;}
    #EditProfile .heading {background: url("<$link;/RedCarpet/Onboarding/Uploads/Images/skin/header-bg.jpg>") repeat-x;}
    #EditProfile .heading .heading-inner {padding-right: 5px; background: #f6f7f9;}
    #EditProfile .cal_and_button > tbody > tr > td > input:nth-child(1) {width: 100%; margin-right: 0;}
    #EditProfile .cal_and_button > tbody > tr > td > input:nth-child(3) {opacity: 0; width: 100%; position: absolute; top: 0; left: 0; right: 0;}
    #EditProfile .datepicker_button {max-height: 45px;}
    #EditProfile input[type="text"], #EditProfile select {margin-bottom: -2px !important; max-height: 44px; display: block;}
    #EditProfile .merge, #EditProfile .input_wrapper {margin-bottom: 7px;}
    #EditProfile .mb-0 {margin-bottom: 0;}
    #EditProfile .mb-13 {margin-bottom: 13px;}
    #EditProfile .mb-18 {margin-bottom: 18px;}
    #EditProfile ul.text-error {margin-bottom: -2px !important; margin-top: 0; padding-left: 0; font-size: 12px; font-family: "Open Sans", Arial;}
    #EUPDefaultSaveButton {margin-top: 25px;}
    @media screen and (-webkit-min-device-pixel-ratio:0) {  
        select {-webkit-appearance: none !important; -moz-appearance: none; -webkit-border-radius: 0px; background-image: url("<$link;/main/sitegen/Onboarding/content/Uploads/Images/skin/drop-down-arrow.png>"); background-position: 98% 50%; background-repeat: no-repeat; background-size: 8px;}
    }
    @media only screen and (max-width: 767px) {
        #EditProfile .merge {display: block; margin-bottom: 0;}
        #EditProfile .mb-0 {margin-bottom: 7px;}
        .hidden-xs {display: none;}
    }
</style>

<script type="text/javascript">
    /**
     * SERVICES-35390 | jjucutan | PayPal - Create Brazil Edit Profile Page
     * Define here functions that can be reused
     */
    var focusInputLabel = function(el, isFocused) {
        var label = el.closest('.input_wrapper')
            .find('span.floating-label')
            .removeClass('label-focus')
            .css({"color": "#666666"});
        if (el.val().trim().length > 0 || isFocused) {
            label.addClass('label-focus');
        }
        if (isFocused === true) {
            label.css({"color": "#0070BA"});
        }
    }
    var updateTargetOnChange = function(origin, target) {
        origin.on('change', function() {
            target.val(origin.val());
            if (origin.is(':checked')) {
                target.val(origin.val());
            }
            if (origin.hasClass('hasDatepicker')) {
                target.val(moment().diff(origin.val(), 'years'));
            }
        });
    }
    var fieldHasVal = function(el) {
        var hasVal = false;
        $.each(el, function(k, v) {
            if ($(v).val().length) {
                hasVal = true;
            }
        });
        return hasVal;
    }
    var isCheckboxChecked = function(el) {
        var hasChecked = false;
        $.each(el, function(k,v){
            if ($(v).is(':checked')) {
                hasChecked = true;
            }
        });
        return hasChecked;
    }
    var setDefaultValue = function(el, defaultValue) {
        if (el.is('input[type="checkbox"]') || el.is('input[type="radio"]')) {
            if (!isCheckboxChecked(el)) {
                $.each(el, function(k,v) {
                    if ($(v).val() === defaultValue) {
                        $(v).prop('checked', 'checked');
                    }
                });
            }
            el.val([defaultValue]);
        }
        if (el.is('input[type="text"]') && el.val().trim().length < 1) {
            el.val(defaultValue);
        }
    }
    $(window).on('load', function() {
        $('.floating-label span').css('color', 'rgb(102, 102, 102)');
        $('.cal_and_button').prop('cellpadding', 0).prop('cellspacing', 0);
        var isProfileCompleted = sTaskComplete;
        // replace default submit button with paypal styled
        $('#TaskSummary_ButtonCancel').appendTo('#cancel').show();
        if (!isProfileCompleted) {
            $('#TaskSummary_ButtonSave').appendTo('#saveandcomplete').prop('onclick', null).show().text('Continue');
            $('#EUPDefaultSaveButton').appendTo('#save').show();
        }

        // load form when all set
        $('#EditProfile_wrapper').fadeIn();
        
        // update hidden eup values on load and change event
        updateTargetOnChange($('[name$="Currency_Code_new"]'), $('[name$="SALARY_CURRENCY"]'));
        updateTargetOnChange($('[name$="Brazil_work_hours"]'), $('[name$="HoursPerWeek"]'));
        updateTargetOnChange($('[name$="DOB_display"]'), $('[name$="Age_English"], [name$="Age_Spanish"]'));
        $('[name$="DOB_display"]').trigger('change');

        if (!isCheckboxChecked($('[name$="Bonus_Plan"]'))) {
            if (fieldHasVal($('[name$="CSIncentivePlan"], [name$="CSIncentivePlan_fixed"]')) && !fieldHasVal($('[name$="eIP_Target_Pct"]'))) {
                setDefaultValue($('[name$="Bonus_Plan"]'), "CS Incentive Plan");
            }
            if (!fieldHasVal($('[name$="CSIncentivePlan"], [name$="CSIncentivePlan_fixed"]')) && fieldHasVal($('[name$="eIP_Target_Pct"]'))) {
                setDefaultValue($('[name$="Bonus_Plan"]'), "Annual Incentive Plan");
            }
            if ((!fieldHasVal($('[name$="CSIncentivePlan"], [name$="CSIncentivePlan_fixed"]')) && !fieldHasVal($('[name$="eIP_Target_Pct"]')))) {
                setDefaultValue($('[name$="Bonus_Plan"]'), "No");
            }
            if (fieldHasVal($('[name$="CSIncentivePlan"], [name$="CSIncentivePlan_fixed"]')) && fieldHasVal($('[name$="eIP_Target_Pct"]'))) {
                $('[name$="Bonus_Plan"]:checked').prop('checked', false);
            }
        }

        // set default value
        setDefaultValue($('[name$="Manager"]'), "No");
        setDefaultValue($('[name$="Job_Title_PR"]'), $('[name$="Business_Title"]').val());
        setDefaultValue($('[name$="job_title_mx"]'), $('[name$="Business_Title"]').val());
        setDefaultValue($('[name$="System_Title_pr"]'), $('[name$="SystemTitle"]').val());

        // add when requested
        // $('[name$="MaritalStatus"] > option:not([value=""]):not([value^="' + $("#Evt_Location_Code").val().substring(0,3) + '"])').remove();

        // custom datepicker 
        var monthsPortuguese = ["janeiro", "fevereiro", "março", "abril", "maio", "junho", "julho", "agosto", "setembro", "outubro", "novembro", "dezembro"];
        if ($('#Long_Date_pr_placeholder').val().length < 1) {
            $('#Long_Date_pr_placeholder').val("<$client.env.eval(client.tEventDates_8.Value.subString(8,9))>-<$client.env.eval(    client.tEventDates_8.Value.subString(5,6))>-<$client.env.eval(client.tEventDates_8.Value.subString(0,3))>");
        }
        $('#Long_Date_pr_placeholder') 
            .datepicker({"dateFormat": "dd-mm-yy"})
            .css({'position': 'absolute', 'top': 0, 'left': 0, 'opacity': 0})
            .on('change', function() {
                var dateArr = $(this).val().split("-");
                var datePortuguese = $(this).val() ? parseInt(dateArr[0], 10) + ' de ' + monthsPortuguese[parseInt(dateArr[1])-1] + ' de ' + dateArr[2] : "";
                $('[name$="Long_Date_pr"]').val(datePortuguese);
                validateField($('[name$="Long_Date_pr"]'));
            });
        setTimeout(function() {
            $('#Long_Date_pr_placeholder').datepicker().trigger('change');
        }, 500);

        // focus style text and select fields
        $('form').on('focus', 'input[type="text"], select', function() {
            focusInputLabel($(this), true);
        }).on('blur', 'input[type="text"], select', function() {
            focusInputLabel($(this));
        });
        // focus style date fields
        $('form').on('focus change', 'input.hasDatepicker', function() {
            focusInputLabel($(this), true);
        }).on('blur change', 'input.hasDatepicker', function() {
            focusInputLabel($(this));
        });
        $('form').on('focus change', '.datepicker_button', function() {
            focusInputLabel($(this).closest('.cal_and_button').find('input[type="text"]'), true);
        }).on('blur change', '.datepicker_button', function() {
            focusInputLabel($(this).closest('.cal_and_button').find('input[type="text"]'));
            $(this).parent().find('.hasDatepicker').trigger('change'); 
        });

        // hide sections not on event location
        $.each($('[data-location-group]'), function(k,v) {
            if($(v).data('location-group') !== $('#Evt_Location_Code').val().substring(0,3)) {
                $(v).hide().find('input[type="text"]').val("");
            }
        });

        // pass validation data to each fields
        $.each($('[data-fieldgroup-validation]'), function(k,v) {
            $(v).find('input:not(":hidden"):not("#Long_Date_pr_placeholder"), select:visible').data('validation', $(v).data('fieldgroup-validation'));
        });
        
        // pass target label to each radio or checkbox fields
        $.each($('[data-fieldgroup-targetlabel]'), function(k,v) {
            $(v).find('input[type="checkbox"]:not(":hidden"), input[type="radio"]:not(":hidden")').data('label', $(v).data('fieldgroup-targetlabel'));
        });

        // pass title data to each fields
        $.each($('[data-fieldgroup-title]'), function(k,v) {
            $(v).find('input:not(":hidden"), select').data('title', $(v).data('fieldgroup-title'));
        });

        // focus field labels
        $.each($('form input[type="text"]:not(":hidden"), form select'),function(k,v) {
            focusInputLabel($(v));
        });

        // validate each field
        $('form').on('blur click', 'input[type="text"]:not(":hidden"), select', function() {
            if(!validateField($(this))) {
                $(this).parent().find('.text-error').css({'display': 'block', 'margin-bottom': '-2px'}); // style hack since IE is such a reliable browser ;-)
            }
        });

        // validate each date fields
        $('form').on('change', 'input[name$="_display"]:not(":hidden")', function() {
            validateField($(this)); 
        });

        // submit the form if no errors
        $('form').on('click', '#TaskSummary_ButtonSave', function(e) {
            e.preventDefault();
            var formIsValid = true;
            $.each($('form input:not(":hidden"):not(".datepicker_button"), form select'), function(k,v) {
                if(!validateField($(v))) {
                    formIsValid = false;
                }
            })
            if (formIsValid) {
                doSave_Custom('refer-Complete');
            }
            else {
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
        });

    });
</script>
