<div id="task_summary_outer">
    <div id="bg-image">.</div>
    <div id="EditProfile_container">
        <div id="EditProfile_wrapper">
            <div id="EditProfile">
                <h2>Launch Onboarding Event</h2>
                <h4>This page simplifies the process of launching an onboarding event.</h4>
                <div class="hr-sect">
                    POSITION INFORMATION
                </div>
                <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptBusiness_Title>">
                    <span class="floating-label"><$client.env.promptBusiness_Title></span>
                    <$client.env.inputBusiness_Title>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptSystemTitle>">
                    <span class="floating-label"><$client.env.promptSystemTitle></span>
                    <$client.env.inputSystemTitle>
                </div>
                <div class="merge">
                    <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptSalaryGradeLvl>">
                        <$client.env.inputSalaryGradeLvl>
                        <span class="floating-label"><$client.env.promptSalaryGradeLvl></span>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptEmployee_Group_CD>">
                        <$client.env.inputEmployee_Group_CD>
                        <span class="floating-label"><$client.env.promptEmployee_Group_CD></span>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptExempt>" data-fieldgroup-validation="required">
                        <$client.env.inputExempt>
                        <span class="floating-label"><$client.env.promptExempt></span>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptJobType>" data-fieldgroup-validation="required">
                        <$client.env.inputJobType>
                        <span class="floating-label"><$client.env.promptJobType></span>
                    </div>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptEnityName>" data-fieldgroup-validation="required">
                    <$client.env.inputEnityName>
                    <span class="floating-label"><$client.env.promptEnityName></span>
                </div>
                <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptManager>">
                    <strong>Is this employee in a position of trust (Manager or Supervisor)?</strong>
                    <$client.env.inputManager>
                </div>
                <div class="hr-sect">
                    COMPENSATION
                </div>
                <div class="merge">
                    <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptCurrency_Code_new>">
                        <$client.env.inputCurrency_Code_new>
                        <span class="floating-label"><$client.env.promptCurrency_Code_new></span>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptSalary_Amount>">
                        <$client.env.inputSalary_Amount>
                        <span class="floating-label"><$client.env.promptSalary_Amount></span>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper">&nbsp;</div>
                    <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptSalaryOffered>">
                        <$client.env.inputSalaryOffered>
                        <span class="floating-label"><$client.env.promptSalaryOffered></span>
                    </div>
                </div>
                <div class="input_wrapper" data-location-group="BRA" data-fieldgroup-title="<$client.env.prompteIP_Target_Pct>">
                    <span class="floating-label"><$client.env.prompteIP_Target_Pct></span>
                    <$client.env.inputeIP_Target_Pct>
                </div>
                <div class="hr-sect" data-location-group="BRA">
                    BRAZIL: ONBOARDING EVENT
                </div>
                <div class="merge" data-location-group="BRA">
                    <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptLabor_Booklet_no>">
                        <$client.env.inputLabor_Booklet_no>
                        <span class="floating-label"><$client.env.promptLabor_Booklet_no></span>
                    </div>
                    <div class="input_wrapper" data-fieldgroup-title="<$client.env.promptLabor_booklet_series>">
                        <$client.env.inputLabor_booklet_series>
                        <span class="floating-label"><$client.env.promptLabor_booklet_series></span>
                    </div>
                </div>
                <div class="input_wrapper" data-location-group="BRA">
                    <strong>Does this employee qualify for a bonus plan?</strong>
                    <$client.env.inputBonus_Plan>
                </div>
                <div class="input_wrapper" data-location-group="BRA">
                    <strong>Does the employee have a 36 or 40 hour work week?</strong>
                    <$client.env.inputBrazil_work_hours>
                </div>
                <div class="hr-sect" data-location-group="BRA">
                    BRAZIL: TRANSLATE TO PORTUGESE
                </div>
                <div class="input_wrapper" data-location-group="BRA" data-fieldgroup-title="<$client.env.promptJob_Title_PR>">
                    <span class="floating-label"><$client.env.promptJob_Title_PR></span>
                    <$client.env.inputJob_Title_PR>
                </div>
                <div class="input_wrapper" data-location-group="BRA" data-fieldgroup-title="<$client.env.promptSystem_Title_pr>">
                    <span class="floating-label"><$client.env.promptSystem_Title_pr></span>
                    <$client.env.inputSystem_Title_pr>
                </div>
                <div class="input_wrapper" data-location-group="BRA" data-fieldgroup-title="<$client.env.promptLong_Date_pr>">
                    <span class="floating-label"><$client.env.promptLong_Date_pr></span>
                    <$client.env.inputLong_Date_pr>
                    <$client.env.inputLong_Date_pr_placeholder>
                </div>
                <div class="hr-sect" data-location-group="MEX">
                    Mexico: Onboarding Event Header
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptDOB>">
                    <span class="floating-label"><$client.env.promptDOB></span>
                    <$client.env.inputDOB>
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptGender>">
                    <$client.env.inputGender>
                    <span class="floating-label"><$client.env.promptGender></span>
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptMaritalStatus>">
                    <$client.env.inputMaritalStatus>
                    <span class="floating-label"><$client.env.promptMaritalStatus></span>
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptTax_Payer_ID_English>">
                    <span class="floating-label"><$client.env.promptTax_Payer_ID_English></span>
                    <$client.env.inputTax_Payer_ID_English>
                </div>
                <div class="hr-sect" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptTest>">
                    Mexico: Translate to Spanish
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptJob_Title_mx>">
                    <span class="floating-label"><$client.env.promptJob_Title_mx></span>
                    <$client.env.inputJob_Title_mx>
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptGender_mx>">
                    <$client.env.inputGender_mx>
                    <span class="floating-label"><$client.env.promptGender_mx></span>
                </div>
                <div class="input_wrapper" data-location-group="MEX" data-fieldgroup-title="<$client.env.promptMarital_Status_mx>">
                    <$client.env.inputMarital_Status_mx>
                    <span class="floating-label"><$client.env.promptMarital_Status_mx></span>
                </div>
                
                <div class="button_group">
                    <div id="save"></div>
                    <div id="saveandcomplete"></div>
                    <div id="cancel"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    <$client.env.inputSalary_Currency>
    <$client.env.inputHoursPerWeek>
    <$client.env.inputage_english>
    <$client.env.inputage_spanish>
    <$client.env.inputCSIncentivePlan>
    <$client.env.inputCSIncentivePlan_fixed>
</div>

<style>
    .error-message {display: block !important; width: 100%; font-size: 12px;}
    body {color: #444;}
    input.dateField[required] {box-shadow: none;}
    select.lifesuite__select-input, input.lifesuite__select-input--small, input.lifesuite__select-input--large, input.lifesuite__text-input, input.lifesuite__textarea-input {margin: 0 !important; width: 100%; max-height: 40px; height: 100%;}
    select.lifesuite__select-input, select.lifesuite__select-input--small, select.lifesuite__select-input--large {padding: 0.8em; height: 145pt;}
    .lifesuite__text-input, .lifesuite__textarea-input {padding: 0.959em;}
    .margin-bottom{margin-bottom: 40px;}
    .margin-bottom-2{margin-bottom: 80px;}
    .margin-top{margin-top: 80px;}
    .padding-top{padding-top: 5px;}
    .AlignMergeStringText{margin-top: 5px; text-align: left; }
    .input-error, .input-error:focus {outline: none; border: 1px solid rgb(255, 77, 77); border-radius: none !important; box-shadow: none !important; margin-bottom: 0 !important;}
    .input-error, .input-error:focus {outline: none; border: 1px solid rgba(255, 77, 77, 0.6) !important;box-shadow: none;}
    .first-name, .last-name, .first-name-allcaps, .last-name-allcaps, .preferred-first,.preferred-last,.email, .address1, .city, .state, .zip, .country, .phone-code, .primary-phone-type, .phone, .secondary-phone-type, .phone2 {display: none;color: #ffffff;background: #FF4D4D;list-style-type: none; color: #ffffff; line-height: 1.5em;width: 100%;margin-bottom: 10px;}
    #EditProfile {text-align: left;}
    #EditProfile h2 {margin-bottom: 5px; color: #666666; font-family: "pp-sans-big-medium", Helvetica, Arial, sans-serif; font-size: 40px; font-weight: 500; line-height: 50px;}
    .date-label-focus, .input_wrapper input:focus ~ .floating-label, .input_wrapper select:focus ~ .floating-label, .input_wrapper input:not(:focus):valid ~ .floating-label, .input_wrapper select:not(:focus):valid ~ .floating-label {top: 5px !important; left: 20px; font-size: 12px; opacity: 0.5; font-weight: 600;}
    .input_wrapper .floating-label {position: absolute; pointer-events: none; transition: 0.2s ease all; font-family: "pp-sans-big-regular", Helvetica, Arial, sans-serif; z-index: 1;}
    input, select {font-family: "pp-sans-big-regular" !important; background-color: #ffffff;}
    #EUPDefaultSaveButton {font-size: 14px;}
    #TaskSummary_ButtonSave:hover {background-color: #005ea6 !important;}
    .lifesuite__button.primary:hover, .lifesuite__ag-grid .ag-paging-button:hover {background-color: unset !important; -webkit-animation-name: unset !important; animation-name: unset !important; -webkit-animation-duration: unset !important; animation-duration: unset !important;}
    .red{ color: red!important;}
    .ui-datepicker .ui-datepicker-title select{padding: 0;}
    .ui-datepicker .ui-datepicker-header{position: relative; padding: 1em 0;}
    .ui-datepicker-month, .ui-datepicker-year {display: inline; padding: 1px !important; }
    body {color: #444;}
    input.dateField[required] {box-shadow: none;}
    select.lifesuite__select-input, input.lifesuite__select-input--small, input.lifesuite__select-input--large, input.lifesuite__text-input, input.lifesuite__textarea-input {margin: 0 !important; width: 100%; max-height: 40px; height: 100%;}
    select.lifesuite__select-input, select.lifesuite__select-input--small, select.lifesuite__select-input--large {padding: 0.8em; height: 145pt;}
    .lifesuite__text-input, .lifesuite__textarea-input {padding: 0.959em;}
    .margin-bottom{margin-bottom: 40px;}
    .margin-bottom-2{margin-bottom: 80px;}
    .margin-top{margin-top: 80px;}
    .padding-top{padding-top: 5px;}
    .AlignMergeStringText{margin-top: 5px; text-align: left; }
    .input-error, .input-error:focus {outline: none; border: 1px solid rgb(255, 77, 77); border-radius: none !important; box-shadow: none !important; margin-bottom: 0 !important;}
    .input-error, .input-error:focus {outline: none; border: 1px solid rgba(255, 77, 77, 0.6) !important;box-shadow: none;}
    .national-id-country, .national-id-type, .national-id-value, .national-id-invalid, .birth-country, .birth-date, .birth-date-invalid, .marital-status, .ethnicity, .gender, .ec-first-name, .ec-last-name, .ec-relationship, .ec-address1, .ec-city, .ec-state, .ec-zip, .ec-country, .ec-phone-code, .ec-phone-areacode, .ec-phone, .ec-phone2-areacode, .ec-phone2,#EC_State option:first-child, #ECHomePhoneCode option:first-child, #ECMobilePhoneCode option:first-child {
         display: none;
         color: #ffffff;background: #FF4D4D;list-style-type: none; color: #ffffff; line-height: 1.5em;width: 100%;margin-bottom: 10px;
    }
    .floating-label.label-focus {font-size: 12px; font-weight: 600px; top: 5px;}
    #TaskSummary_ButtonCancel, #TaskSummary_ButtonSave, #EUPDefaultSaveButton {display: none;}
    ul.text-error {margin-top: 0; padding-left: 0;}
    #EditProfile {align-items: stretch !important;}
    #EditProfile input[type="checkbox"], #EditProfile input[type="radio"] {width: auto;}
    #EditProfile .horizontal_checkbox_group, #EditProfile .horizontal_radio_group {margin-bottom: 5px;}
    #EditProfile .horizontal_checkbox_group label, #EditProfile .horizontal_radio_group label {margin: 0 0.5em;}
    #EditProfile ul.text-error li span {color: #fff !important;}
    #EditProfile h4 {margin-bottom: 2em;}
    #EditProfile .hr-sect {margin-bottom: 10px;}
    #EditProfile .cal_and_button {width: 100%; margin-bottom: -3px;}
    #EditProfile .cal_and_button > tbody > tr > td {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: ; -ms-flex-pack: ; justify-content: ;}
    #EditProfile .cal_and_button > tbody > tr > td > input:nth-child(1) {width: 70%; margin-right: 10px; margin-left: -3px; }
    #EditProfile .cal_and_button > tbody > tr > td > input:nth-child(3) {width: 40%; margin-right: -3px; margin-bottom: 0px !important;}
    #EditProfile .datepicker_button {max-height: 45px;}
    @media screen and (-webkit-min-device-pixel-ratio:0) {  
        select {-webkit-appearance: none !important; -moz-appearance: none; -webkit-border-radius: 0px; background-image: url("<$link;/main/sitegen/Onboarding/content/Uploads/Images/skin/drop-down-arrow.png>"); background-position: 98% 50%; background-repeat: no-repeat; background-size: 8px;}
    }
</style>

<script type="text/javascript">
    /**
     * SERVICES-35390 | jljucutan | PayPal - Create Brazil Edit Profile Page
     * Define here functions that can be reused
     */
    var focusInputLabel = function(el, isFocused) {
        el.closest('.input_wrapper').find('span.floating-label').removeClass('label-focus');
        if (el.val().trim().length > 0 || isFocused === true) {
            el.closest('.input_wrapper').find('span.floating-label').addClass('label-focus');
        }
    }
    var updateTargetOnChange = function(origin, target) {
        origin.on('change', function() {
            target.val(origin.val());
            if (origin.is(':checked')) {
                target.val(origin.val());
            }
            if (origin.hasClass('hasDatepicker')) {
                target.val(moment().diff(origin.val(), 'years'));
            }
        });
    }
    var isCheckboxChecked = function(el) {
        var hasChecked = false;
        $.each(el, function(k,v){
            if ($(v).is(':checked')) {
                hasChecked = true;
            }
        });
        return hasChecked;
    }
    var setDefaultValue = function(el, defaultValue) {
        if (el.is('input[type="checkbox"]') || el.is('input[type="radio"]')) {
            if (!isCheckboxChecked(el)) {
                $.each(el, function(k,v) {
                    if ($(v).val() === defaultValue) {
                        $(v).prop('checked', 'checked');
                    }
                });
            }
        }
        if (el.is('input[type="text"]') && el.val().trim().length < 1) {
            el.val(defaultValue);
        }
    }
    $(window).on('load', function() {
        $('.floating-label span').css('color', 'rgb(102, 102, 102)');
        // load form when all set
        $('#EditProfile_wrapper').fadeIn();
        var isProfileCompleted = sTaskComplete;
        // replace default submit button with paypal styled
        $('#TaskSummary_ButtonCancel').appendTo('#cancel').show();
        if (!isProfileCompleted) {
            $('#TaskSummary_ButtonSave').appendTo('#saveandcomplete').prop('onclick', null).show().text('Continue');
            $('#EUPDefaultSaveButton').appendTo('#save').show();
        }

        // update hidden eup values on load and change event
        updateTargetOnChange($('[name$="Currency_Code_new"]'), $('[name$="SALARY_CURRENCY"]'));
        updateTargetOnChange($('[name$="Brazil_work_hours"]'), $('[name$="HoursPerWeek"]'));
        updateTargetOnChange($('[name$="DOB_display"]'), $('[name$="Age_English"], [name$="Age_Spanish"]'));
        $('[name$="DOB_display"]').trigger('change');

        if (!isCheckboxChecked($('[name$="Bonus_Plan"]'))) {
            if ($('[name$="CSIncentivePlan"]').val().trim().length || $('[name$="CSIncentivePlan_fixed"]').val().trim().length) {
                $('[name$="Bonus_Plan"][value="No"]').prop('checked', null);
                $('[name$="Bonus_Plan"][value="CS Incentive Plan"]').prop('checked', 'checked');
            }
            if ($('[name$="eIP_Target_Pct"]').val().trim().length) {
                $('[name$="Bonus_Plan"][value="No"]').prop('checked', null);
                $('[name$="Bonus_Plan"][value="Annual Incentive Plan"]').prop('checked', 'checked');
            }
        }
        // set default value
        setDefaultValue($('[name$="Bonus_Plan"]'), "No");
        setDefaultValue($('[name$="Manager"]'), "No");
        setDefaultValue($('[name$="Job_Title_PR"]'), $('[name$="Business_Title"]').val());
        setDefaultValue($('[name$="job_title_mx"]'), $('[name$="Business_Title"]').val());
        setDefaultValue($('[name$="System_Title_pr"]'), $('[name$="SystemTitle"]').val());

        // group checkboxes
        $('[name$="Bonus_Plan"]').on('change', function() {
            if ($(this).val() === "No") {
                $('[name$="Bonus_Plan"]:not([value="No"])').prop('checked', null)
            } else {
                $('[name$="Bonus_Plan"][value="No"]').prop('checked', null)
            }
        });

        // custom datepicker 
        var monthsPortuguese = ["janeiro", "fevereiro", "março", "abril", "maio", "junho", "julho", "agosto", "setembro", "outubro", "novembro", "dezembro"];
        if ($('#Long_Date_pr_placeholder').val().length < 1) {
            $('#Long_Date_pr_placeholder').val("<$client.env.eval(client.tEventDates_8.Value.subString(8,9))>-<$client.env.eval(    client.tEventDates_8.Value.subString(5,6))>-<$client.env.eval(client.tEventDates_8.Value.subString(0,3))>");
        }
        $('#Long_Date_pr_placeholder') 
            .datepicker({"dateFormat": "dd-mm-yy"})
            .css({'position': 'absolute', 'top': 0, 'left': 0, 'opacity': 0})
            .on('change', function() {
                var dateArr = $(this).val().split("-");
                var datePortuguese = $(this).val() ? parseInt(dateArr[0], 10) + ' de ' + monthsPortuguese[parseInt(dateArr[1])-1] + ' de ' + dateArr[2] : "";
                $('[name$="Long_Date_pr"]').val(datePortuguese);
            });
        setTimeout(function() {
            $('#Long_Date_pr_placeholder').datepicker().trigger('change');
        }, 500);

        // focus field labels
        $.each($('input[type="text"]:not(":hidden"), select'),function(k,v) {
            focusInputLabel($(v));
        });
        $('form').on('focusin change', 'input[type="text"], select', function() {
            focusInputLabel($(this), true);
        }).on('focusout change', 'input[type="text"], select', function() {
            focusInputLabel($(this));
        });

        // hide section not on event location
        $.each($('[data-location-group]'), function(k,v) {
            if($(v).data('location-group') !== $('#Evt_Location_Code').val().substring(0,3)) {
                $(v).hide().find('input[type="text"]').val("");
            }
        });

        // pass validation data to each fields
        $.each($('[data-fieldgroup-validation]'), function(k,v) {
            $(v).find('input[type="text"]:not(":hidden"), select').data('validation', $(v).data('fieldgroup-validation'));
        });

        // pass title data to each fields
        $.each($('[data-fieldgroup-title]'), function(k,v) {
            $(v).find('input[type="text"]:not(":hidden"), select').data('title', $(v).data('fieldgroup-title'));
        });

        // validate each field
        $('form').on('blur', 'input[type="text"]:not(":hidden"), select', function() {
            validateField($(this));
        });

        // submit the form if no errors
        $('form').on('click', '#TaskSummary_ButtonSave', function(e) {
            e.preventDefault();
            var formIsValid = true;
            $.each($('form input[type="text"]:not(":hidden"), form select'), function(k,v) {
                if(!validateField($(v))) {
                    formIsValid = false;
                }
            })
            if (formIsValid) {
                doSave_Custom('refer-Complete');
            }
            else {
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
        });

        var isProfileCompleted = sTaskComplete;
    });
</script>
