<div id="task_summary_outer">
    <div id="bg-image">.</div>
    <div id="EditProfile_container">
        <div id="EditProfile_wrapper">
            <div id="EditProfile">
                <h2>Launch Onboarding Event</h2>
                <h4>This page simplifies the process of launching an onboarding event.</h4>
                <div class="hr-sect">
                    POSITION INFORMATION
                </div>
                <div class="input_wrapper">
                    <span class="floating-label"><$client.env.promptBusiness_Title></span>
                    <$client.env.inputBusiness_Title>
                </div>
                <div class="input_wrapper">
                    <span class="floating-label"><$client.env.promptSystemTitle></span>
                    <$client.env.inputSystemTitle>
                </div>
                <div class="merge">
                    <div class="input_wrapper">
                        <$client.env.inputSalaryGrade>
                        <span class="floating-label"><$client.env.promptSalaryGrade></span>
                    </div>
                    <div class="input_wrapper">
                        <$client.env.inputEmployee_Group_CD>
                        <span class="floating-label"><$client.env.promptEmployee_Group_CD></span>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper">
                        <$client.env.inputExempt>
                        <span class="floating-label"><$client.env.promptExempt></span>
                    </div>
                    <div class="input_wrapper">
                        <$client.env.inputJobType>
                        <span class="floating-label"><$client.env.promptJobType></span>
                    </div>
                </div>
                <div class="input_wrapper">
                    <$client.env.inputEnityName>
                    <span class="floating-label"><$client.env.promptEnityName></span>
                </div>
                <div class="input_wrapper">
                    <strong>Is this employee in a position of trust (Manager or Supervisor)?</strong>
                    <$client.env.inputManager>
                </div>
                <div class="hr-sect">
                    COMPENSATION
                </div>
                <div class="merge">
                    <div class="input_wrapper">
                        <$client.env.inputCurrency_Code_new>
                        <span class="floating-label"><$client.env.promptCurrency_Code_new></span>
                    </div>
                    <div class="input_wrapper">
                        <$client.env.inputSalary_Amount>
                        <span class="floating-label"><$client.env.promptSalary_Amount></span>
                    </div>
                </div>
                <div class="merge">
                    <div class="input_wrapper">&nbsp;</div>
                    <div class="input_wrapper">
                        <$client.env.inputSalaryOffered>
                        <span class="floating-label"><$client.env.promptSalaryOffered></span>
                    </div>
                </div>
                <div class="input_wrapper">
                    <span class="floating-label"><$client.env.promptIP_target_Pct></span>
                    <$client.env.inputIP_target_Pct>
                </div>
                <div class="hr-sect" data-location-group="BRA">
                    BRAZIL: ONBOARDING EVENT
                </div>
                <div class="merge" data-location-group="BRA">
                    <div class="input_wrapper">
                        <$client.env.inputLabor_Booklet_no>
                        <span class="floating-label"><$client.env.promptLabor_Booklet_no></span>
                    </div>
                    <div class="input_wrapper">
                        <$client.env.inputLabor_booklet_series>
                        <span class="floating-label"><$client.env.promptLabor_booklet_series></span>
                    </div>
                </div>
                <div class="input_wrapper" data-location-group="BRA">
                    <strong>Does this employee qualify for a bonus plan?</strong>
                    <$client.env.inputVariable_Bonus>
                </div>
                <div class="input_wrapper" data-location-group="BRA">
                    <strong>Does the employee have a 36 or 40 hour work week?</strong>
                    <$client.env.inputBrazil_work_hours>
                </div>
                <div class="input_wrapper" data-location-group="BRA">
                    <span class="floating-label"><$client.env.promptIP_target_Pct></span>
                    <$client.env.inputIP_target_Pct>
                </div>
                <div class="hr-sect" data-location-group="BRA">
                    BRAZIL: TRANSLATE TO PORTUGESE
                </div>
                <div class="input_wrapper" data-location-group="BRA">
                    <span class="floating-label"><$client.env.promptJob_Title_PR></span>
                    <$client.env.inputJob_Title_PR>
                </div>
                <div class="input_wrapper" data-location-group="BRA">
                    <span class="floating-label"><$client.env.promptSystem_Title_pr></span>
                    <$client.env.inputSystem_Title_pr>
                </div>
                <div class="input_wrapper" data-location-group="BRA">
                    <span class="floating-label"><$client.env.promptLong_Date_pr></span>
                    <$client.env.inputLong_Date_pr>
                </div>
                <div class="hr-sect" data-location-group="MEX">
                    Mexico: Onboarding Event Header
                </div>
                <div class="input_wrapper" data-location-group="MEX">
                    <span class="floating-label"><$client.env.promptDOB></span>
                    <$client.env.inputDOB>
                </div>
                <div class="input_wrapper" data-location-group="MEX">
                    <$client.env.inputGender>
                    <span class="floating-label"><$client.env.promptGender></span>
                </div>
                <div class="input_wrapper" data-location-group="MEX">
                    <$client.env.inputMaritalStatus>
                    <span class="floating-label"><$client.env.promptMaritalStatus></span>
                </div>
                <div class="input_wrapper" data-location-group="MEX">
                    <span class="floating-label"><$client.env.promptTax_Payer_ID_English></span>
                    <$client.env.inputTax_Payer_ID_English>
                </div>
                <div class="hr-sect" data-location-group="MEX">
                    Mexico: Translate to Spanish
                </div>
                <div class="input_wrapper" data-location-group="MEX">
                    <span class="floating-label"><$client.env.promptJob_Title_mx></span>
                    <$client.env.inputJob_Title_mx>
                </div>
                <div class="input_wrapper" data-location-group="MEX">
                    <$client.env.inputGender_mx>
                    <span class="floating-label"><$client.env.promptGender_mx></span>
                </div>
                <div class="input_wrapper" data-location-group="MEX">
                    <$client.env.inputMarital_Status_mx>
                    <span class="floating-label"><$client.env.promptMarital_Status_mx></span>
                </div>
                
                <div class="button_group">
                    <div id="save"></div>
                    <div id="saveandcomplete"></div>
                    <div id="cancel"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .error-message {display: block !important; width: 100%; font-size: 12px;}
    body {color: #444;}
    input.dateField[required] {box-shadow: none;}
    select.lifesuite__select-input, input.lifesuite__select-input--small, input.lifesuite__select-input--large, input.lifesuite__text-input, input.lifesuite__textarea-input {margin: 0 !important; width: 100%; max-height: 40px; height: 100%;}
    select.lifesuite__select-input, select.lifesuite__select-input--small, select.lifesuite__select-input--large {padding: 0.8em; height: 145pt;}
    .lifesuite__text-input, .lifesuite__textarea-input {padding: 0.959em;}
    .margin-bottom{margin-bottom: 40px;}
    .margin-bottom-2{margin-bottom: 80px;}
    .margin-top{margin-top: 80px;}
    .padding-top{padding-top: 5px;}
    .AlignMergeStringText{margin-top: 5px; text-align: left; }
    .input-error, .input-error:focus {outline: none; border: 1px solid rgb(255, 77, 77); border-radius: none !important; box-shadow: none !important; margin-bottom: 0 !important;}
    .input-error, .input-error:focus {outline: none; border: 1px solid rgba(255, 77, 77, 0.6) !important;box-shadow: none;}
    .first-name, .last-name, .first-name-allcaps, .last-name-allcaps, .preferred-first,.preferred-last,.email, .address1, .city, .state, .zip, .country, .phone-code, .primary-phone-type, .phone, .secondary-phone-type, .phone2 {display: none;color: #ffffff;background: #FF4D4D;list-style-type: none; color: #ffffff; line-height: 1.5em;width: 100%;margin-bottom: 10px;}
    #EditProfile {text-align: left;}
    #EditProfile h2 {margin-bottom: 5px; color: #666666; font-family: "pp-sans-big-medium", Helvetica, Arial, sans-serif; font-size: 40px; font-weight: 500; line-height: 50px;}
    .date-label-focus, .input_wrapper input:focus ~ .floating-label, .input_wrapper select:focus ~ .floating-label, .input_wrapper input:not(:focus):valid ~ .floating-label, .input_wrapper select:not(:focus):valid ~ .floating-label {top: 5px !important; left: 20px; font-size: 12px; opacity: 0.5; font-weight: 600;}
    .input_wrapper .floating-label {position: absolute; pointer-events: none; transition: 0.2s ease all; font-family: "pp-sans-big-regular", Helvetica, Arial, sans-serif;}
    input, select {font-family: "pp-sans-big-regular" !important; background-color: #ffffff;}
    #EUPDefaultSaveButton {font-size: 14px;}
    #TaskSummary_ButtonSave:hover {background-color: #005ea6 !important;}
    .lifesuite__button.primary:hover, .lifesuite__ag-grid .ag-paging-button:hover {background-color: unset !important; -webkit-animation-name: unset !important; animation-name: unset !important; -webkit-animation-duration: unset !important; animation-duration: unset !important;}
    .red{ color: red!important;}
    .ui-datepicker .ui-datepicker-title select{padding: 0;}
    .ui-datepicker .ui-datepicker-header{position: relative; padding: 1em 0;}
    .ui-datepicker-month, .ui-datepicker-year {display: inline; padding: 1px !important; }
    body {color: #444;}
    input.dateField[required] {box-shadow: none;}
    select.lifesuite__select-input, input.lifesuite__select-input--small, input.lifesuite__select-input--large, input.lifesuite__text-input, input.lifesuite__textarea-input {margin: 0 !important; width: 100%; max-height: 40px; height: 100%;}
    select.lifesuite__select-input, select.lifesuite__select-input--small, select.lifesuite__select-input--large {padding: 0.8em; height: 145pt;}
    .lifesuite__text-input, .lifesuite__textarea-input {padding: 0.959em;}
    .margin-bottom{margin-bottom: 40px;}
    .margin-bottom-2{margin-bottom: 80px;}
    .margin-top{margin-top: 80px;}
    .padding-top{padding-top: 5px;}
    .AlignMergeStringText{margin-top: 5px; text-align: left; }
    .input-error, .input-error:focus {outline: none; border: 1px solid rgb(255, 77, 77); border-radius: none !important; box-shadow: none !important; margin-bottom: 0 !important;}
    .input-error, .input-error:focus {outline: none; border: 1px solid rgba(255, 77, 77, 0.6) !important;box-shadow: none;}
    .national-id-country, .national-id-type, .national-id-value, .national-id-invalid, .birth-country, .birth-date, .birth-date-invalid, .marital-status, .ethnicity, .gender, .ec-first-name, .ec-last-name, .ec-relationship, .ec-address1, .ec-city, .ec-state, .ec-zip, .ec-country, .ec-phone-code, .ec-phone-areacode, .ec-phone, .ec-phone2-areacode, .ec-phone2,#EC_State option:first-child, #ECHomePhoneCode option:first-child, #ECMobilePhoneCode option:first-child {
         display: none;
         color: #ffffff;background: #FF4D4D;list-style-type: none; color: #ffffff; line-height: 1.5em;width: 100%;margin-bottom: 10px;
    }
    .floating-label.label-focus {font-size: 12px; font-weight: 600px; top: 5px;}
    #TaskSummary_ButtonCancel, #TaskSummary_ButtonSave, #EUPDefaultSaveButton {display: none;}
    ul.text-error {margin-top: 0; padding-left: 0;}
    #EditProfile input[type="radio"] {width: auto;}
    #EditProfile .horizontal_radio_group label {margin: 0 0.5em;}
    @media screen and (-webkit-min-device-pixel-ratio:0) {  
        select {-webkit-appearance: none !important; -moz-appearance: none; -webkit-border-radius: 0px; background-image: url("<$link;/main/sitegen/Onboarding/content/Uploads/Images/skin/drop-down-arrow.png>"); background-position: 98% 50%; background-repeat: no-repeat; background-size: 8px;}
    }
</style>

<script type="text/javascript">
    var focusInputLabel = function(el, isFocused) {
        el.parent().find('span.floating-label').removeClass('label-focus');
        if (el.val().trim().length > 0 || isFocused === true) {
            el.parent().find('span.floating-label').addClass('label-focus');
        }
    }
    $(window).on('load', function() {
        $('.floating-label span').css('color', 'rgb(102, 102, 102)');
        $('#EditProfile_wrapper').fadeIn();
        $('#TaskSummary_ButtonCancel').appendTo('#cancel').show();
        $('#TaskSummary_ButtonSave').appendTo('#saveandcomplete').prop('onclick', null).show().text('Continue');
        $('#EUPDefaultSaveButton').appendTo('#save').show();
        // focus fields
        $.each($('input[type="text"], select'),function(k,v) {
            focusInputLabel($(v));
        });
        $('input[type="text"], select').on('focusin', function() {
            focusInputLabel($(this), true);
        }).on('focusout', function() {
            focusInputLabel($(this));
        });
        $.each($('[data-location-group]'), function(k,v) {
            if($(v).data('location-group') !== $('#Evt_Location_Code').val().substring(0,3)) {
                $(v).hide();
            }
        });
        $('form').on('click', '#TaskSummary_ButtonSave', function(e) {
            e.preventDefault();
            doSave_Custom('refer-Complete');
        });
    });
</script>
