<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="fontweight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature','eSignature1','printName','modal','over','sv');xbObj('eSignature1').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';">
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal2" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="fontweight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignature2" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature2','eSignature2','printName2','modal2','over','sv1');xbObj('eSignature2').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature2').value='';showHide('modal2');showHide('over');xbObj('eSignature2').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal2');showHide('over');xbObj('eSignature2').value='';">
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal3" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="fontweight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignature3" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature3','eSignature3','printName3','modal3','over','sv2');xbObj('eSignature3').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature3').value='';showHide('modal3');showHide('over');xbObj('eSignature3').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal3');showHide('over');xbObj('eSignature3').value='';">
      </div>
    </div>
  </div>
</div>
<!-- Modal 4 E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal4" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="fontweight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignature4" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature4','eSignature4','printName4','modal4','over','sv3');xbObj('eSignature4').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature4').value='';showHide('modal4');showHide('over');xbObj('eSignature4').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal4');showHide('over');xbObj('eSignature4').value='';">
      </div>
    </div>
  </div>
</div>
<!-- Modal 5 E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal5" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="fontweight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignature5" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature5','eSignature5','printName5','modal5','over','sv4');xbObj('eSignature5').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature5').value='';showHide('modal5');showHide('over');xbObj('eSignature5').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal5');showHide('over');xbObj('eSignature5').value='';">
      </div>
    </div>
  </div>
</div>

<!-- Modal X E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modalX" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="fontweight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignatureX" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signatureX','eSignatureX','','modalX','over','svX');xbObj('eSignatureX').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signatureX').value='';showHide('modalX');showHide('over');xbObj('eSignatureX').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modalX');showHide('over');xbObj('eSignatureX').value='';">
      </div>
    </div>
  </div>
</div>

<div id="over" style="display:none;"></div>
<!-- RESPONSIVE eFORM PAGE LOADER-->
<div class="modal" style="display:block; background: #002E6D;">
  <div class="fb-spinner">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<form name="frmForm" action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);" role="form">
    <div style="display:none;">
    <$client.env.FormField.Form_Name.prompt>
    <$client.env.FormField.Form_Name.HTML>
    <$client.env.FormField.Form_Type.prompt>
    <$client.env.FormField.Form_Type.HTML>
    <$client.env.FormField.Form_Owner.prompt>
    <$client.env.FormField.Form_Owner.HTML>
    <$client.env.FormField.Form_CreateDate.prompt>
    <$client.env.FormField.Form_CreateDate.HTML>
    <$client.env.FormField.Form_Completed.prompt>
    <$client.env.FormField.Form_Completed.HTML>
    <$client.env.FormField.Form_Delivered.prompt>
    <$client.env.FormField.Form_Delivered.HTML>
    <$client.env.FormField.Form_TaskId.prompt>
    <$client.env.FormField.Form_TaskId.HTML>
    <$client.env.FormField.display_version.HTML>
    <!-- Replace With eForm Specific Data Field Prompts From Formalizer-->
    <$client.env.FormField.B01_By_my_signature.prompt>
    <$client.env.FormField.B02_Employee_of.prompt>
    <$client.env.FormField.B03_I_will_look.prompt>
    <$client.env.FormField.B04_Signature.prompt>
    <$client.env.FormField.B05_SignDate.prompt>
    <$client.env.FormField.C01_Signature.prompt>
    <$client.env.FormField.C02_SignDate.prompt>
    <$client.env.FormField.C03_Printed_Name.prompt>
    <$client.env.FormField.C04_Company_Name.prompt>
    <$client.env.FormField.D01_Signature.prompt>
    <$client.env.FormField.D02_Printed_Name.prompt>
    <$client.env.FormField.D03_SignDate.prompt>
    <$client.env.FormField.SignatureVerification0.prompt>
    <$client.env.FormField.SignatureVerification1.prompt>
    <$client.env.FormField.SignatureVerification2.prompt>
    <$client.env.FormField.SignatureVerification3.prompt>
    <$client.env.FormField.SignatureVerification4.prompt>
    <$client.env.FormField.a01_Employee.prompt>
    <$client.env.FormField.a02_Date.prompt>
    <$client.env.FormField.a03_Print_Name.prompt>
    <$client.env.FormField.a04_Signature.prompt>
    <$client.env.FormField.a05_Date.prompt>
    <$client.env.FormField.a06_By_Employer.prompt>
    <$client.env.FormField.a07_Employer_Title.prompt>
    <$client.env.FormField.a08_Inventions_Title.prompt>
    <$client.env.FormField.a09_Inventions_Date.prompt>
    <$client.env.FormField.a10_Inventions_Description.prompt>
    <$client.env.FormField.a11_No_Prior_Inventions.prompt>
    <$client.env.FormField.a12_Employee_Date.prompt>
    <$client.env.FormField.a13_Employee_Print_Name.prompt>
    <$client.env.FormField.a14_Employee_Signature.prompt>
    </div>
    <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">

<main class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <p class="text-center">
        <u>Confidentiality, Rights Ownership, and No Conflict Agreement <br class="hidden-xs hidden-sm"> for Temporary Assignment at a Mattel, Inc. Company</u>
      </p>
      <p class="text-justify">
        I 
        <span class="i-block">
          <$client.env.FormField.a01_Employee.HTML>
        </span>
        (hereinafter, "<strong>I</strong>" or "<strong>Employee</strong>") am entering into this Confidentiality, Rights Ownership, and No Conflict Agreement for Temporary Assignment at a Mattel, Inc. Company ("<strong>Confidentiality Agreement</strong>") in consideration of, among other things, my temporary assignment by <strong>[TAPFIN Process Solutions, a Manpower Group company][or CWV entity]</strong> ("<strong>Employer</strong>") to its account for Mattel, Inc. and/or Mattel, Inc.'s subsidiaries (collectively, "Client").
      </p>
      <p class="text-justify">
        Employee acknowledges that: (i) Client operates in a very competitive global business environment; (ii) Client's successes come from, among other things, the integrity of Client's intellectual property and Confidential Information (defined below), which are among Client's most valuable assets; and (iii) any compromise of these interests could result in significant adverse consequences to Client. In light of the foregoing, Employee accepts the position of trust that Client places in Employee as to Client's intellectual property and Confidential Information. In doing so, Employee agree that: (a) Employee will protect Client's intellectual property from misuse and Confidential Information from unauthorized disclosure; (b) Employee will use Client's intellectual property and Confidential Information for Client's exclusive benefit; and (c) when Employee's assignment by Employer to its Client account terminates, Employee will not use Employee's prior assignment to Client to Client's detriment.
      </p>
      <p class="text-justify">
        To the extent any provision(s) of this Confidentiality Agreement conflict(s) with any provision(s) of the "Assignment Confirmation" or "Employment Agreement Terms and Conditions" or any other similar agreement or understanding that Employee entered into or subsequently enters into with Employer for assignment to Client, the provisions of this Confidentiality Agreement shall prevail with respect to the subject matter set forth herein. Accordingly, this Confidentiality Agreement contains Employee's complete agreement with Employer as to its subject matter, and it supersedes all prior and contemporaneous agreements and understandings with Employer related to its subject matter. The terms of this Confidentiality Agreement cannot be modified, terminated, or amended unless such modification, termination, or amendment specifically references this "Confidentiality, Rights Ownership, and No Conflict Agreement for Temporary Assignment at a Mattel, Inc. Company" and is agreed to in writing by a Vice President (or above) of Client and an authorized officer of Employer.
      </p>
      <ol class="text-justify">
        <li>
          <p>
            <u>Intellectual Property.</u>
          </p>
          <p>
          </p>
          <ol class="alpharenthesis text-justify" type="a">
            <li>
              <p>
                <u>Disclosure of Inventions</u>. Employee agrees to communicate to Employer as promptly and fully as practicable all Inventions (defined below) that Employee creates, makes, conceives, develops, or reduces to practice (alone or jointly with others), at any time during Employee's Period of Temporary Assignment at Client (defined below). "<strong>Inventions</strong>" include, without limitation, discoveries, improvements, developments, designs, works of authorship, copyrightable subject matter, ideas, concepts, products, product names and identifiers, specifications, know-how, techniques, methods, formulas, processes, computer code, software programs, databases, and trade secrets whether or not developed in the course of Employee's assignment at Client and whether or not patentable, copyrightable, or protectable as trade secrets. "<strong>Period of Temporary Assignment at Client</strong>" means the entire duration of Employee's employment with Employer during which Employee is assigned to Client, including not only hours worked at Client's facilities and working on Client business at home, but also non-working off-hours such as weekends and other time spent outside of the office and not performing Client work (such as during leave, vacations, and sabbaticals).
              </p>
            </li>
            <li>
              <p>
                <u>Employer's Ownership of Employer Inventions.</u>
              </p>
              <ol class="romanthesis" type="i">
                <li>
                  <p>
                    <u>Works of Authorship in Employer Inventions</u>. Employee agrees and acknowledges that all works of authorship in the Employer Inventions (defined below) that will, through state and federal law (including copyright laws) and through Employee's relationship with Employer, constitute "works made for hire" and, as a consequence, all copyright rights therein will initially be owned exclusively by Employer. As a precaution against the event that any such works of authorship are by operation of law not considered to be "works made for hire," Employee hereby agrees to and does unconditionally and irrevocably transfer, convey, and assign to Employer in perpetuity and without any reservation of rights, all copyright rights therein throughout the universe (including all extensions, renewals, and reversions thereof). To the extent that any so-called "moral rights" cannot be assigned under applicable law, Employee agrees to, and does hereby, waive any and all moral rights in and to such works of authorship. "<strong>Employer Inventions</strong>" means Inventions that Employee creates, makes, conceives, develops, or reduces to practice during the Period of Temporary Assignment at Client.
                  </p>
                </li>
                <li>
                  <p>
                    <u>All Other Intellectual Property in Employer Inventions</u>. Employee agrees to assign to Employer, and does hereby assign to Employer, in perpetuity and without any limitation or reservation of rights, all of Employee's right, title, and interest in and to: (A) all worldwide patent rights, trademark rights, good will, trade secret rights, and other intellectual property rights in and to Employer Inventions, and (B) all moral rights in and to Employer Inventions. Employee agrees that Employer owns all rights in all Employer Inventions from the moment of their creation. Employee further agrees that Employer Inventions are the sole and exclusive property of Employer.
                  </p>
                </li>
                <li>
                  <p>
                    <u>Appointment of Employer and Client as Attorney-in-Fact</u>. Employee hereby irrevocably designates and appoints Employer and Client and each of their duly authorized officers and agents as Employee's agent and attorney-in-fact to act for and in Employee's behalf and stead to execute and file any document and to do all other lawfully permitted acts to further the prosecution, issuance, and enforcement of patents, copyrights, and other proprietary rights with the same force and effect as if executed and delivered by Employee.
                  </p>
                </li>
              </ol>
            </li>
            <li>
              <p>
                <u>Inventions Not Owned by Employer</u>. Any provision in this Confidentiality Agreement requiring Employee to assign Employee's rights in any Invention does not apply to any Invention that qualifies under the provisions of Section 2870 of the California Labor Code (a portion of which is attached hereto in Schedule A). That section provides that the requirement to assign "shall not apply to an invention that the employee developed entirely on his or her own time without using the employer's equipment, supplies, facilities or trade secret information except for those inventions that either: (1) relate at the time of conception or reduction to practice of the invention to the employer's business, or actual or demonstrably anticipated research or development of the employer; or (2) result from any work performed by the employee for the employer" (any such Invention is an "<strong>Excluded Invention</strong>"). Employee understands that Employee bears the burden of proving that an Invention qualifies under Section 2870 and is therefore an Excluded Invention.
              </p>
            </li>
            <li>
              <p>
                <u>Employee's Prior Inventions.</u>
              </p>
              <ol class="romanthesis">
                <li>
                  <p>
                    <u>Disclosure of Prior Inventions</u>. Employee hereby discloses to Employer in <u>Schedule A</u>, all Inventions (including, without limitation an identification of all patents, copyrights, and trademarks or applications for patents, copyrights, and trademarks, and a brief description of all unregistered Inventions) that Employee has (alone or jointly with others) created, made, conceived, developed, or reduced to practice before the commencement Employee's Period of Temporary Assignment at Client and that Employee considers to be owned or controlled in whole or in part by Employee (collectively, "<strong>Prior Inventions</strong>"). Employer's receipt of such disclosure from Employee does not constitute an acknowledgement that the Prior Invention is in any way novel, patentable, original, valuable, unique, or in any way legally protectable. If Employee's disclosure of Prior Inventions would breach an obligation of confidentiality to a third party, then Employee will describe the Invention generally without any breach of such obligation and Employee will list the party to whom Employee owes the obligation of confidentiality. Employee represents that the list set forth at <strong>Schedule A</strong> is complete and that if an item is not on the list, then Employee will not claim any right to such an Invention. If Employee does not disclose any Prior Inventions in <strong>Schedule A</strong>, then Employee hereby represents that Employee has no Prior Inventions.
                  </p>
                </li>
                <li>
                  <p>
                    <u>Use and License of Prior Inventions</u>. Employee will not use any Prior Inventions in the course of Employee's temporary assignment at Client. But if, in breach of the preceding sentence, Employee does use any Prior Inventions in the course of Employee's temporary assignment at Client, or include them in any product or service of Client, then Employee: (a) agrees to grant to Client, and does hereby irrevocably grant to Client, a perpetual, nonexclusive, world-wide, sublicensable, royalty-free right and license to use, disclose, make, have made, sell, offer for sale, import, copy, distribute, modify, create works based on, perform, display, and exploit such Prior Inventions; and (b) agrees to waive and does hereby unconditionally waive, and to never assert, any and all moral rights that Employee may have in or with respect to any such Prior Inventions.
                  </p>
                </li>
                <li>
                  <p>
                    <u>Notice of Conflict with Employee Claims in Inventions</u>. Employee agrees to notify Employer and Client in writing before making any disclosure or performing any work at or for Employer, or in connection with Employee's services to be provided to Client, which uses or appears to threaten or conflict with any proprietary rights Employee claims in any Invention. In the event of Employee's failure to give such notice, Employee will not make any claim against Employer or Client with respect to any such Invention. In addition, if Employee fails to disclose that Employee is working on an Invention during the Period of Temporary Assignment at Client as required under Paragraph 1(a), then that undisclosed Invention will be presumed not to be an Excluded Invention and therefore is assigned to Employer pursuant to Paragraph 1(b).
                  </p>
                </li>
              </ol>
            </li>
            <li>
              <p>
                <u>Client's Ultimate Ownership of All Intellectual Property in Inventions</u>. As a result of Employer's contractual relationship with Client, all such works of authorship, intellectual property, and rights described in subparagraphs (a) through (d) above (with the exception of the Prior Inventions and the Excluded Inventions) will be assigned in their entirety, without any reservation of rights, by Employer to Client, with the result that all such works of authorship, intellectual property, and rights will ultimately be owned by Client (and will not be owned by Employer, Employee, or any third party).
              </p>
            </li>
          </ol>
        </li>
        <li>
          <p>
            <u>Access; Use and Disclosure; and Maintenance of Confidential Information.</u>
          </p>
          <ol class="alpharenthesis">
            <li>
              <p>
                <u>Access</u>. Client takes steps to maintain the secrecy and confidential nature of the Confidential Information (as defined below) and, if a competitor of Client or any other unauthorized third party received any Confidential Information, it could significantly and irreparably damage Client. Employee's employment by Employer, and Employer's temporary assignment of Employee to Client, creates a relationship of confidence and trust with respect to Employee and its access to Confidential Information. Employee has access to Confidential Information, and Employee will continue to have access to Confidential Information, solely because of Employee's temporary assignment at Client.
              </p>
            </li>
            <li>
              <p>
                <u>Use and Disclosure</u>. Employee will keep Confidential Information confidential, and Employee may only use or disclose such information as necessary to perform Employee's job responsibilities in accordance with Client policies (collectively "<strong>Client Policies</strong>," which include, without limitation, Client's Policy Against Harassment, Information Technology and Security and Usage Policy, and Code of Conduct). Employee's obligation to keep the Confidential Information confidential will continue even after any termination of Employee's temporary assignment at Client for any reason. Employee will notify the General Counsel of Client in writing of any unauthorized use or disclosure by Employee of Confidential Information, whether during or after the Employee's Period of Temporary Assignment at Client. Employee must maintain the Confidential Information according to Client Policies, and Employee must not delete or impair any Confidential Information for any improper purpose. For avoidance of doubt, nothing in this Agreement limits Employee's obligation to comply with applicable trade secret laws. In order to protect Employer's and Client's rights under this Confidentiality Agreement (including, without limitation, as to Confidential Information and Employer Inventions), Employee should disclose the terms of this Confidentiality Agreement to appropriate future employers, investors, and other third parties so that they are aware of Employee's obligations to Client under this Confidentiality Agreement.
              </p>
            </li>
            <li>
              <p>
                <u>Scope of Confidential Information</u>. "<strong>Confidential Information</strong>" means any non-public information that relates to the business of Client or to the business of Client's customers, suppliers, contractors, licenses, or other business partners that Employee may learn, receive, or discover in the course of Employee's temporary assignment at Client. Confidential Information includes, without limitation, any non-public information relating to: (i) the names and addresses of, and information relating to, Client's customers, vendors, and suppliers; (ii) product research, design, and performance (including, without limitation, such information that relates to products that have not been and may never be sold to the public); (iii) marketing research, plans, and methods; (iv) business research and forecasts; (e) costs, budgets, pricing, credit terms, deal terms, and finances; (v) manufacturing, distribution, and sales methods and processes; (g) potential acquisitions or investments; (vi) business and legal strategies and plans; (vii) any such information that Employee may learn, receive, or discover prior to the start of the Employee's Period of Temporary Assignment at Client in connection with Employee's application and interview for employment; and (vii) any and all of the foregoing items that are created, conceived, developed, or reduced to practice by Employee during the Employee's Period of Temporary Assignment at Client (including, without limitation, Employer Inventions). Confidential Information, however, specifically excludes employee wages, hours, and terms and conditions of employment.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <p>
            <u>No Use or Disclosure of Unauthorized Third-Party Information</u>. In the performance of Employee's temporary assignment at Client: (a) Employee will not use or disclose any trade secrets, intellectual property, or other intangibles, or any materials or other items, that have not been legally obtained by Client or Employer (including, without limitation, any such intangibles or items that belong to one of Employee's former employers or clients); and (b) Employee will not breach any confidentiality obligation or other agreement that Employee may have with any third party (including, without limitation, any of Employee's former employers or clients).
          </p>
        </li>
        <li>
          <p>
            <u>Right to Use Name and Likeness</u>. If during the Employee's Period of Temporary Assignment at Client, Employee participates in any Client photo shoot, marketing event, industry event, company event, or other similar activity in which Employee is photographed or Employee's name is used in connection with marketing a product, then Employee agrees to grant to Client, and does hereby grant to Client, a perpetual, irrevocable, nonexclusive, world-wide, sublicense, royalty-free right and license to use, make, sell, copy, distribute, modify, create derivative works based on, perform, display, market, and otherwise exploit such image and name in any media now known or hereafter developed, for any purpose related to Client's business. Employee agrees to waive, and does hereby unconditionally waive, any claim that relates to or arises out of Client's exercise of the foregoing right and license (including, without limitation, any claim for monetary consideration, copyright infringement, or any claim related to invasion of privacy, right of publicity, or defamation).
          </p>
        </li>
        <li>
          <p>
            <u>No Conflicts</u>. Employee's assignment to Client requires Employee's undivided attention and effort. During Employee's assignment to Client: (a) Employee will fully comply with Client's Code of Conduct (as amended from time to time upon notice to me and including, without limitation, its Conflict of Interest Policy) as it applies to Employee's access to any of Client's real or personal property (including, without limitation, any intellectual property), and Employee's dealings with Client's employees, licensors, licensees, and contractors; and (b) Employee will not, without Client's express written consent (in a writing signed by a Vice President of Client), invest in or assist in any manner, any business competitive with the business or future business plans of Client or any business that could raise a potential conflict of interest.
          </p>
        </li>
        <li>
          <p>
            <u>Employee of Employer (and not Client)</u>. Employee acknowledges that: (a) Employee is an employee of Employer (not Client); (b) this agreement is not an employment contract between Employee and Client; and (c) Employee will look solely to Employer (and its parents, affiliates, or subsidiaries) for any compensation, employee benefits, and workers' compensation coverage to which Employee or Employee's successors, executors, heirs, and assigns (collectively, the "<strong>Employee Parties</strong>") might be entitled.
          </p>
        </li>
        <li>
          <p>
            <u>Applicable Work-Place Rules, Regulations, and Policies</u>. Employee shall be bound by any applicable rules, regulations or policies established by Client (including, without limitation, those identified in Paragraph 2(b) above), and any modifications thereto, as well as Employer's rules, regulations and policies.
          </p>
        </li>
        <li>
          <p>
            <u>Waiver of Claims Against Client</u>. To the extent permitted by law, Employee, on Employee's own behalf and on behalf of all Employee Parties, waives any and all rights Employee and all Employee Parties have, or may have, to claim or assert a claim, suit, action, or demand of any kind, nature, or description, including without limitation claims, suits, actions, or demands for personal injury or death, whether arising in tort, contract, or otherwise, against Client or Client's customers, contractors, subcontractors, representatives, agents, officers, directors, or employees (collectively referred to as "<strong>Client Parties</strong>") resulting from or arising directly or indirectly from Employee's employment with Employer. Employee recognizes and agrees that Employer provides workers' compensation coverage for such things as on-the-job injuries or occupational diseases, incurred while on Employee's temporary assignment at Client and agrees to look solely to the Employer and/or its insurer for damages and/or expenses for such illness, injury, or other claims incurred while on Employee's temporary assignment at Client covered by said workers' compensation policy. The extent and applicability of actual coverages shall be in accordance with applicable state law and policy terms and conditions. Employee agrees that such coverage is adequate and fully compensatory and, therefore, releases Employer and the Client Parties from any other liability.
          </p>
        </li>
        <li>
          <p>
            <u>Termination of Assignment to Client.</u>
          </p>
          <ol class="alpharenthesis">
            <li>
              <p>
                <u>Delivery of Materials; No Re-Creation of Materials</u>. Upon any termination of Employee's temporary assignment at Client or at any other time upon Employer's or Client's request, Employee will promptly deliver to Employer or Client all: (i) Confidential Information, files, memoranda, documents, and records; (ii) copies, summaries, and extracts of the foregoing; (iii) any other materials that pertain to Employee's temporary assignment at Client; (iv) laptops, tablets, mobile phones, electronic storage devices, and other electronic devices; and (v) badges, credit cards, keys, and any other property of Client in your possession or control. E mp l o y e e will not: (A) wipe, clean, or otherwise interfere with the protection of any Invention or Confidential Information that may exist on any electronic devices that Employee is obligated to return to Client; or (B) re-create any Confidential Information after returning it to Employer or Client.
              </p>
            </li>
            <li>
              <p>
                <u>Notice of Work with a Competitor; Notice to Third Parties</u>. If Employee intends to work for a competitor of Client within three years following any termination of Employee's temporary assignment at Client, then Employee will give the General Counsel of Mattel, Inc., written notice of such employment prior to Employee's commencement of any such employment. Client may notify any of Employee's potential or future employers or other third parties about Employee's obligations and Employer's and Client's rights under this Confidentiality Agreement.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <p>
            <u>Miscellaneous</u>
          </p>
          <ol class="alpharenthesis">
            <li>
              <p>
                The provisions of this Confidentiality Agreement are a material condition to Employee's assignment by Employer to Client's account. Employee agrees that Employee will not begin Employee's temporary assignment to Client until Employee has read and signed this Confidentiality Agreement. By signing below, Employee acknowledges that Employee has read Client's Policy Against Harassment, Client's Information Technology and Security Usage Policy, and Client's Code of Conduct. This Confidentiality Agreement is effective as of the earlier of the start of Employee's assignment by Employer to Client's account and Employee's first exposure to Confidential Information.
              </p>
            </li>
            <li>
              <p>
                No failure or delay by Client in exercising any of its rights, powers, or remedies under this Confidentiality Agreement will operate as a waiver of that or any other right, power, or remedy.
              </p>
            </li>
            <li>
              <p>
                Each provision of this Confidentiality Agreement is independent of all others, and the unenforceability of any one provision will in no way impair the enforceability of any other provision. If any provision is held by a court of competent jurisdiction to be unenforceable, then it must be construed by that court by limiting to the minimum extent necessary to make it legally enforceable.
              </p>
            </li>
            <li>
              <p>
                Employee's obligations under this agreement will survive the termination of Employee's temporary assignment by Employer to Client's account and Employee's relationship with Employer. Although Client will not countersign this agreement, this agreement is binding upon Employee according to its terms. Client is an express, intended third-party beneficiary of this Confidentiality Agreement for all purposes, including enforcement. This Confidentiality Agreement is binding upon Employee's successors, heirs, executors, and other legal representatives.
              </p>
            </li>
            <li>
              <p>
                Any breach of this Confidentiality Agreement likely will cause irreparable harm to Client for which money damages could not reasonably or adequately compensate Client. Therefore, Client will be entitled to obtain injunctive relief to enforce this Confidentiality Agreement.
              </p>
            </li>
            <li>
              <p>
                Employee agrees to execute and deliver such further documents and to perform such further acts as are reasonably requested by Employer and/or Client in order to implement, effectuate, execute, or carry out the terms or intent of this Confidentiality Agreement.
              </p>
            </li>
            <li>
              <p class="mb-20">
                This Confidentiality Agreement will be governed by and interpreted in accordance with the laws of the State of California.
              </p>
            </li>
          </ol>
          <p>
            ACCEPTED AND AGREED:
          </p>
          <div class="row">
            <div class="col-lg-offset-4 col-md-offset-4 col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <p>
                ("EMPLOYEE")
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
              Date:
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <$client.env.FormField.a02_Date.HTML>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="form-group">
                <$client.env.FormField.a03_Print_Name.HTML>
                Print Name
              </div>
              <div class="form-group">
                <$client.env.FormField.a04_Signature.HTML>
                Signature
              </div>
              <p>
                <strong>[TAPFIN Process Solutions, a Manpower Group company][or CWV entity]</strong>
              </p>
              <p>
                ("EMPLOYER")
              </p>
            </div>
          </div>
          <div class="row mb-30">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
              Date:
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <$client.env.FormField.a05_Date.HTML>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="form-group">
                <div class="i-block">
                  By:
                </div>
                <div class="i-block">
                  <$client.env.FormField.a06_By_Employer.HTML>
                </div>
              </div>
              <div class="form-group">
                <div class="i-block">
                  Title:
                </div>
                <div class="i-block">
                  <$client.env.FormField.a07_Employer_Title.HTML>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ol>
      <div class="mb-20 b-bottom">
        <p class="text-center">
          <strong>SCHEDULE A</strong>
        </p>
        <p class="text-center">
          Section 2870 of the California Labor Code
        </p>
        <ol class="alpharenthesis text-justify mb-30">
          <li>
            <p>
              Any provision in an employment agreement which provides that an employee shall assign or offer to assign any of his or her rights in an Invention to his or her employer shall not apply to an Invention that the employee developed entirely on his or her own time without using the employer's equipment, supplies, facilities, or trade secret information except for those Inventions that either:
            </p>
            <ol class="numberentheses">
              <li>
                <p>
                  Relate at the time of conception or reduction to practice of the Invention to the employers business, or actual or demonstrably anticipated research or development of the employer.
                </p>
              </li>
              <li>
                <p>
                  Result from any work performed by the employee for the employer.
                </p>
              </li>
            </ol>
          </li>
          <li>
            To the extent a provision in an employment agreement purports to require an employee to assign an Invention otherwise excluded from being required to be assigned under subdivision (a), the provision is against the public policy of this state and is unenforceable.
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="text-center">
        <strong>LIST OF PRIOR INVENTIONS</strong>
      </p>
    </div>
  </div>
  <div class="row mb-20">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <p>
        <strong>Title</strong>
      </p>
      <$client.env.FormField.a08_Inventions_Title.HTML>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <p>
        <strong>Date</strong>
      </p>
      <$client.env.FormField.a09_Inventions_Date.HTML>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p class="text-center">
        <strong>Identifying Number or Brief Description</strong>
      </p>
      <$client.env.FormField.a10_Inventions_Description.HTML>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <$client.env.FormField.a11_No_Prior_Inventions.HTML>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <p>
        ("EMPLOYEE")
      </p>
    </div>
  </div>
  <div class="row mb-20">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="i-block">
        Date:
      </div>
      <div class="i-block">
        <$client.env.FormField.a12_Employee_Date.HTML>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="form-group">
        <$client.env.FormField.a13_Employee_Print_Name.HTML>
        Print Name
      </div>
      <div class="form-group">
        <$client.env.FormField.a14_Employee_Signature.HTML>
        Signature of Employee
      </div>
    </div>
  </div>
  <div class="row mb-30">
    <div class="col-lg-12">
      <div class="inner-wrapper center-block">
        <p class="text-center">
          <strong>
            <em>Acknowledgment of Standards for Temporary Agency Employees (U.S.)</em>
          </strong>
        </p>
        <p>
          By my signature below, I 
          <span class="i-block">
            <$client.env.FormField.B01_By_my_signature.HTML>
          </span>
          [print name], acknowledge the following:
        </p>
        <ol class="numberenthesesright mb-20">
          <li>
            <p>
              I am not an employee of Mattel. I am an employee of 
              <span class="i-block">
                <$client.env.FormField.B02_Employee_of.HTML>
              </span>
              [insert name of provider/employer of record]. Neither this acknowledgement, nor anything in the Mattel's Standards for Temporary Employees (U.S.) creates an employment relationship between me and Mattel. I will look solely to
              <span class="i-block">
                <$client.env.FormField.B03_I_will_look.HTML>
              </span>
              [insert name of provider/employer of record] for any compensation, employee benefits, and workers' compensation coverage to which I may be entitled.
            </p>
          </li>
          <li>
            <p>
              I have received a copy of Mattel's Standards for Temporary Agency Employees, including the following documents:
            </p>
            <ol type="a">
              <li>
                <p>
                  <em>Mattel's Information Technology and Security and Usage Standards for Temporary Agency Employees (U.S.);</em>
                </p>
              </li>
              <li>
                <p>
                  <em>Mattel's Statement Against Harassment for Temporary Agency Employees (U.S.); and</em>
                </p>
              </li>
              <li>
                <p>
                  <em>Mattel's Code of Conduct.</em>
                </p>
              </li>
            </ol>
          </li>
          <li>
            <p>
              It is my responsibility to (1) read and familiarize myself with <em>Mattel's Standards for Temporary Agency Employees (U.S.)</em> as set forth in the documents identified above and (2) and comply with the standards and procedures set forth therein in connection with my assignment to provide services to Mattel.<sup>1</sup> I understand that the <em>Mattel's Standards for Temporary Agency Employees (U.S.)</em> supplement, but do not replace, the standards and procedures of my employer.
            </p>
          </li>
        </ol>
        <div class="row mb-30">
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            Signature
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <$client.env.FormField.B04_Signature.HTML>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            Date
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <$client.env.FormField.B05_SignDate.HTML>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-30">
    <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
      <sup>1</sup>
    </div>
    <div class="col-lg-11 col-md-11 col-xs-11 col-sm-11">
      <p>
        As used in this Acknowledgment, “Mattel” refers to Mattel, Inc. and its subsidiaries, including but not limited to, Fisher-Price, Inc., American Girl Brands, LLC, HIT Entertainment, Inc., MEGA Brands, Inc., and Sproutling, Inc.
      </p>
    </div>
  </div>
  <div class="b-box mb-30">
    <div class="row bg-black b-bottom">
      <div class="col-lg-6 col-sm-12 col-xs-12 bg-default pull-right">
        <div class="i-block">
          <strong>Form:</strong><br>
          <small>Date Modified:</small>
        </div>
        <div class="i-block">
          <strong>
            <u>SEC 7.4.1</u>
          </strong><br>
          <small>7/21/2011</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
        <img src="<$link;/main/RedCarpet/FormTemplates/Mattel_Client_Documents/mattel_logo128.jpg>" alt="" class="img-responsive">
      </div>
      <div class="col-lg-11 col-md-11 col-sm-9 col-xs-9 text-center">
        <h4>
          <strong>Global Security &amp; Investigations <br> Vendor/Contractor Badge Usage Guidelines </strong>
        </h4>
      </div>
    </div>
    <div class="row bg-grey">
      <div class="col-lg-12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="padded">
          <p>
             I have been authorized by representatives of Mattel, Inc. ("Mattel") to conduct work on Mattel property. in doing so I fully understand and agree to the following: 
          </p>
          <ol class="mb-30" type="1">
            <li>
              <p>
                  At the conclusion of the contractor's/vendor's work day, during the normal business hours, I will return my badge in the closest Mattel lobby in which my work is being done.
              </p>
            </li>
            <li>
              <p>
                The next business day, I will pick up the badge at the same lobby in which I dropped it off.
              </p>
            </li>
            <li>
              <p>
                In doing so, I will exchange with the security person a valid company ID, drivers license, government ID, etc.

              </p>
            </li>
            <li>
              <p>
                I will wear my badge at all times while on Mattel property, displayed clearly between my neckline and waist area.

              </p>
            </li>
            <li>
              <p>
                After normal business hours, I understand that my badge can be turned in at the north employee entrance of the Design Center or the second floor lobby of the Tower Building.

              </p>
            </li>
            <li>
              <p>
                If no one is available at those locations, I will contact the security communication center by calling 310-252-4500.

              </p>
            </li>
            <li>
              <p>
                Failure to return the badge as required at the end of the shift may result in my badge access being delayed requiring approval to reauthorize access.
              </p>
            </li>
            <li>
              <p>
                I am responsible for the badge and I am not permitted to loan it to anyone.
              </p>
            </li>
            <li>
              <p>
                If working weekends or non-business hours, I will ensure that the area is secure from non-authorized person by not propping doors open or leaving openings unsecure.
              </p>
            </li>
            <li>
              <p>
                If my badge is lost or stolen, I will call the Global Security Department at 310-252-4500.
              </p>
            </li>
            <li>
              <p>
                I understand that I am responsible to notify Global Security two weeks prior to badge expiration if I am to renew the badge.
              </p>
            </li>
          </ol>
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <div class="form-group">
                <$client.env.FormField.C01_Signature.HTML>
                Signature
              </div>
              <div class="form-group">
                <$client.env.FormField.C03_Printed_Name.HTML>
                Print Name
              </div>
              <div class="form-group">
                <$client.env.FormField.C04_Company_Name.HTML>
                Company Name
              </div>  
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
              <div class="form-group">
                <$client.env.FormField.C02_SignDate.HTML>
                Date
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-box mb-30">
    <div class="row">
      <div class="col-lg-12 text-center padded">
        <p class="text-right">
          <small>Form: SEC 7.4.2</small>
        </p>
        <div class="i-block wrapper-64 bottom">
          <img src="<$link;/main/RedCarpet/FormTemplates/Mattel_Client_Documents/mattel_logo128.jpg>" alt="" class="img-responsive">
        </div>
        <div class="i-block bottom">
          <h5 class="mattel-title">
            <strong>Global Security &amp; Investigations</strong>
          </h5>
        </div>
        <h5 class="mattel-title">
          <strong>Mattel Vendor/Contractor Security and Threat Awareness Notification </strong>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="bg-black">&nbsp;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="padded">
          <ul class="mb-20">
            <li>
              In 2002, Mattel joined with U.S. Customs and Border Protection to help secure our international supply chain. As a member of the Customs-Trade Partnership Against Terrorism (C-TPAT) program, Mattel has committed to a variety of security procedures throughout our operations. This security awareness notification/training is a mandatory part of the program.
            </li>
            <li>
              These basic security procedures are designed to enhance the security of our facilities, people, cargo shipping, cargo receiving and cargo tracking processes. Our goal in the participation of this program is to prevent cargo loss and cargo tampering including the introduction of illegal merchandise such as drugs and weapons of mass destruction into our cargo boxes and containers.
            </li>
            <li>
              <p>
                As a part of our commitment to supply chain security, we now require all of our employees, vendors, and contractors working on site to learn how supply chain security can significantly reduce risk to the Mattel business.
              </p>
              <p>
                <strong>
                  <u>Practices and Procedures:</u>
                </strong>
              </p>
              <ul class="mb-20">
                <li>
                  Bag checks will be done on all bags and containers leaving the facilities
                </li>
                <li>
                  Mattel ID Badges must be worn at all times and swiped when entering buildings
                </li>
                <li>
                  Parking rules and regulations are strictly enforced
                </li>
                <li>
                  Mattel Global Security Department 24 hour number: 310-252-4500
                </li>
                <li>
                  Property passes are required to remove Mattel finished property, works-in-progress, and personal property
                </li>
                <li>
                  Permanent property passes are issued to employees, contractors, vendors taking the same item(s) out daily
                </li>
                <li>
                  Personal property entering the building must be checked in and provided a property pass
                </li>
                <li>
                  Personally owned laptops for employees are generally not allowed; contractors/vendors can bring laptops into the facility by first getting a property pass upon check in
                </li>
              </ul>
              <p>
                <strong>
                  <u>Suspicious Persons:</u>
                </strong>
              </p>
              <ul class="mb-20">
                <li>
                  Look for any person without a Mattel badge, visitor badge, or uniform (DCs)
                  <ul>
                    <li>
                      Determine if the person is an employee, contractor, vendor, or a visitor
                    </li>
                    <li>
                      If an employee, contractor or vendor remind them always to display their ID badge and/or uniform/vest
                    </li>
                    <li>
                      If a visitor, escort them to the reception area or to the person with whom they are visiting
                    </li>
                    <li>
                      Report the incident to your immediate supervisor or Security
                    </li>
                  </ul>
                </li>
                <li>
                  Look for any person
                  <ul>
                    <li>
                      Waiting or loitering outside of a secured area or hallway (piggy-backing)
                    </li>
                    <li>
                      Asking for an unknown department, person or employee who seems not to belong in the area
                    </li>
                    <li>
                      Going door to door, office to office
                    </li>
                    <li>
                      Entering a private office unescorted
                    </li>
                    <li>
                      Selling items
                    </li>
                    <li>
                      Who seems lost
                    </li>
                    <li>
                      Tampering with somebody’s desk, boxes, personal items, equipment, vehicles, cameras, light, etc.
                    </li>
                    <li>
                      Hiding behind doors, fences, desks, etc.
                    </li>
                    <li>
                      <strong>Immediately report the incident to your immediate supervisor and Security</strong>
                    </li>
                  </ul>
                </li>
              </ul>
              <strong>
                <u>Visitor Controls:</u>
              </strong><br>
              <strong>Visitor Pre-meeting Requirements</strong>
              <ul class="mb-20">
                <li>
                  Inform your visitor Mattel’s visitor policies including photo identification, check in with security officer or receptionist prior to their visit
                </li>
              </ul>
              <strong>Visitor Entrance Requirements</strong>
              <ul class="mb-20">
                <li>
                  Ensure that your visitor has logged in and has been issued a visitor badge
                </li>
              </ul>
              <strong>Visitor Escort Requirements</strong>
              <ul class="mb-20">
                <li>
                  You must escort your visitors at <strong>ALL</strong> times
                </li>
                <li>
                  Do not leave your visitor unattended
                </li>
              </ul>
              <strong>Visitor Exit Requirements</strong>
              <ul class="mb-20">
                <li>
                  Ensure that your visitor has logged out and has returned the visitor badge to the security officer or receptionist
                </li>
              </ul>
              <strong>
                <u>Computer Security:</u>
              </strong>
              <ul class="mb-20">
                <li>
                  Do not share access to your computer with strangers
                </li>
                <li>
                  Log-off when you leave your computer
                </li>
                <li>
                  Mattel IT will prompt you to change your password
                </li>
                <li>
                  Do not share your password with <u>anyone</u>
                </li>
                <li>
                  Do not write down your password
                </li>
                <li>
                  Use hard-to-guess passwords
                </li>
                <li>
                  Do not use the same password in more than one place
                </li>
                <li>
                  A password should have a mix of letters, numbers and symbols
                </li>
                <li>
                  Do not use company e-mail for private business activities, amusement or entertainment
                </li>
                <li>
                  Do not send e-mail containing racist, sexist, threatening or other objectionable language
                </li>
                <li>
                  Do not join mailing lists
                </li>
                <li>
                  Do not open unknown or unexpected e-mail attachments
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 b-bottom bg-grey">&nbsp;</div>
    </div>
    <div class="row mb-30">
      <div class="col-lg-12 padded">
        <p class="text-center">
          I have read and understand the above Threat and Security Awareness notice and requirements.
        </p>
      </div>
    </div>
    <div class="inner-wrapper center-block">
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-center">
          X
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 text-center">
          <div class="form-group">
            <$client.env.FormField.D01_Signature.HTML>
            Signature
          </div>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 text-center">
          <$client.env.FormField.D02_Printed_Name.HTML>
          Print Name
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
          <$client.env.FormField.D03_SignDate.HTML>
          Date
        </div>
      </div>
    </div>
  </div>
    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="lifesuite__clearfix lifesuite__float-right">
            <$client.env.FormButtons>
        </div>
    </div>
</main>

<div class="hide">
  <$client.env.FormField.SignatureVerification0.HTML>
  <$client.env.FormField.SignatureVerification1.HTML>
  <$client.env.FormField.SignatureVerification2.HTML>
  <$client.env.FormField.SignatureVerification3.HTML>
  <$client.env.FormField.SignatureVerification4.HTML>
  <$client.env.FormField.SignatureVerificationX.HTML>
</div>

</form>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/bootstrap.min.js>"></script>
<script type="text/javascript">
showScreen('over');
ChangeCalendarIcons(); //for popup calendar
/* RESPONSIVE eFORM BUTTONS STYLE */
$(window).on('load', function() {
    "use strict";
    $("#buttonCancel").removeClass().addClass("lifesuite__button").prop('id','ButtonCancel');
    $("#buttonSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSave');
    $("#buttonSaveAndComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSaveAndComplete');
    $("#buttonPrint").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPrint');
    $("#buttonPreviewDelete").removeClass().addClass("lifesuite__button").prop('id','ButtonPreviewDelete');
    $("#buttonPreviewSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPreviewSave');
    $("#buttonComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonComplete');
    $('#formButtons').show();
    $("input[type=text]").addClass('lifesuite__text-input');
    $("input[type=text].hasDatepicker").addClass('dateField');
    $("select").addClass('lifesuite__select-input');
    $("input[type=radio]").addClass('lifesuite__radio');
    $("input[type=checkbox]").addClass('lifesuite__checkbox');
    $("textarea").addClass('lifesuite__textarea-input');
    $('label').addClass('lifesuite__input-label lifesuite__input—block');
});

function disableCalButton(el) {
    "use strict";
    el.parent().find('input').prop('disabled', 'disabled');
}

$(document).on('ready', function() {
    "use strict";
    $(".modal").hide();
});
</script>
