
<div class="container-fluid">
              <div class="form-group">

                  <!-- Replace With eForm Specific HTML -->

<div class='row'>
	<div class='col-lg-12'>
		<img src='images/bigsandylogo.png' alt='Big Sandy Logo' width='240px' height='120px'>
	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h1><strong>Milestone Four (Introductory) Assessment</strong></h1>
	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<p>The Mentor is assigned to the New hire by the General Manager. The Mentor’s responsibility is to work within the guidelines provided to ensure a successful transition for the newly hired Sales Associate Plus to a commissioned Sales Professional. The Mentor will be compensated, accordingly, based on the time it takes the new hire to move into the role of a commissioned Sales Professional.</p>

		<p>At the end of each milestone, the new hire will have a formal meeting with the General Manager and the mentor reviewing the milestone’s sales, milestone tasks and addressing their areas of improvements on the New Hire Assessment eForms. It is the General Manager's responsibility to confirm adequate completion and understanding of each milestone task.</p>

		<p><strong>The fourth milestone should not begin until all Milestone 3 tasks have been completed</strong>. Milestone four should see the new hire getting ready to go on commission. They should have a clear understanding of the entire sales process, and should require little or no assistance from the Mentor. While the Mentor will continue to monitor the new hire with guests, and will still verify that orders are done correctly, there should be a minimal number of mistakes this week. <strong>Write at least $10,000 in sales under the New Hire’s own number. Completion of the following BSU Boot Camp: Trial Close</strong>.</p>
	</div>
</div>
<div class='row'>
	<div class='col-lg-12'>
		<h3 class='header-background'>SECTION I - Employee Information</h3>
	</div>
</div>
<br>
<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Employee (New Hire) Name:</strong></h5><$client.env.FormField.a01_Employee_Name.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Mentor Name:</strong></h5><$client.env.FormField.a02_Mentor_Name.HTML>
	</div>
</div>
<br>

<div class='row'>
	<div class='col-lg-12'>
		<h3 class='header-background'>SECTION II - Mentor Milestone Feedback</h3>
	</div>
</div>

<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Mastery Sales Process Understanding</strong></h3>

		<h5><strong><em>Demonstrates the ability to complete the following tasks:</em></strong></h5>

		<ul class='with-bullets'>
			<li>Execute "Sales Process" with every guest, every time</li>
			<li>Utilizes management approve greeting <strong>UNAIDED</strong></li>
			<li>Utilizes "Key Qualifying Questions" to assist with fact finding <strong>UNAIDED</strong></li>
			<li>Competently conduct product demonstrations <strong>UNAIDED</strong></li>
			<li>Overcome objections <strong>UNAIDED</strong></li>
			<li>Successfully trial close customers to put them at ease <strong>UNAIDED</strong></li>
			<li>Successfully and properly close deals <strong>UNAIDED</strong></li>
			<li>Consistently making follow-up calls after deliveries/pickups <strong>UNAIDED</strong></li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.b01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.b02_Feedback.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Mastery POS+ Understanding</strong></h3>

		<h5><strong><em>Demonstrates the ability to complete the following tasks:</em></strong></h5>

		<ul class='with-bullets'>
			<li>Log into PoS+ <strong>UNAIDED</strong></li>
			<li>Navigate "Frequently Used" icons <strong>UNAIDED</strong></li>
			<li>Navigate "Daily Tasks" links (Inventory Lookup, Price Tags) <strong>UNAIDED</strong></li>
			<li>Write a sale in POS+ <strong>UNAIDED</strong></li>
			<li>Retrieve a sale in POS+ <strong>UNAIDED</strong></li>
			<li>Convert a sale to a Relationship in POS+ <strong>UNAIDED</strong></li>
      <li>Create a relationship in POS+ <strong>UNAIDED</strong></li>
      <li>Retrieve a relationship in POS+ <strong>UNAIDED</strong></li>
      <li>Convert relationship to sale in POS+ <strong>UNAIDED</strong></li>
      <li>Commit and Allocate Product <strong>UNAIDED</strong></li>
      <li>Set and schedule a Delivery and Pick-Up <strong>UNAIDED</strong></li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.c01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.c02_Feedback.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Mastery Special Order Understanding</strong></h3>

		<h5><strong><em>Demonstrates the ability to complete the following tasks:</em></strong></h5>

		<ul class='with-bullets'>
			<li>Access "Special Order" prompt in POS+ <strong>UNAIDED</strong></li>
			<li>Access and navigate BMS to proper price list <strong>UNAIDED</strong></li>
			<li>Properly price special order merchandise using the appropriate price list <strong>UNAIDED</strong></li>
			<li>Enter special order information into POS+ <strong>UNAIDED</strong></li>
			<li>Set proper expectations for estimated completion date <strong>UNAIDED</strong></li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.d01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.d02_Feedback.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Mastery Leads Process Understanding</strong></h3>

		<h5><strong><em>Demonstrates the ability to complete the following tasks:</em></strong></h5>

		<ul class='with-bullets'>
			<li>Execute the "Leads Process" <strong>UNAIDED</strong></li>
			<li>Execute "Power 5 Leads" process utilizing Google Sheets <strong>UNAIDED</strong></li>
			<li>Importance of social media in driving sales/leads <strong>UNAIDED</strong></li>
			<li>Close deals on Leads Days</li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.e01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.e02_Feedback.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Mastery Financing Understanding</strong></h3>

		<h5><strong><em>Demonstrates the ability to complete the following tasks:</em></strong></h5>

		<ul class='with-bullets'>
			<li>Differentiate and explain financing options and terms</li>
			<li>Differentiate "Same as Cash," "No Interest" and "Special Financing"</li>
			<li>Perform an Acceptance Now turnover <strong>UNAIDED</strong></li>
			<li>Pitch and process our Cross Check program <strong>UNAIDED</strong></li>
			<li>Process a credit application on kiosk from beginning to end <strong>UNAIDED</strong></li>
			<li>Pitch a process a financing conversion <strong>UNAIDED</strong></li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.f01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.f02_Feedback.HTML>
	</div>
</div>


<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Master Product Demonstration Understanding</strong></h3>

		<h5><strong><em>Demonstrates the ability to complete the following tasks:</em></strong></h5>

		<ul class='with-bullets'>
			<li><strong>Furniture:</strong></li>
			<li class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">Explain and Give a competent demonstration of Witmer product lines</li>
			<li class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">Competent Demonstration of Flexsteel product lines</li>
			<li class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">Competent demonstration of Craftmaster product lines</li>
			<li><strong>Appliances/Electronics:</strong></li>
			<li class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">Ability to explain and give a competent demonstration of Package selling</li>
			<li class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">Competently pitch and set proper installation expectations</li>
			<li class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">Competently qualify and demonstrate accessories</li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.g01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.g02_Feedback.HTML>
	</div>
</div>

<br>
<div class='row'>
	<div class='col-lg-12'>
		<h3 class='header-background'>SECTION III - Mentor Milestone Acknowledgment</h3>
	</div>
</div>

<div class='row form-horizontal'>
  <div class="col-lg-12">
    <div class="form-group">
    	<label class="col-lg-3 control-label">
    		<strong>Mentor Signature:</strong>
    	</label>
      <div class="col-lg-9">
        <$client.env.FormField.j01_Mentor_Signature.HTML>
      </div>
    </div>
  </div>
</div>

<div class='row form-horizontal'>
  <div class="col-lg-12">
    <div class="form-group">
    	<label class="col-lg-3 control-label">
    		<strong>Date:</strong>
    	</label>
      <div class="col-lg-9">
        <$client.env.FormField.j02_Date.HTML>
      </div>
    </div>
  </div>
</div>

<br>
<div class='row'>
	<div class='col-lg-12'>
		<h3 class='header-background'>SECTION III - Manager Milestone Feedback</h3>
	</div>
</div>

<div class='row'>
	<div class='col-lg-4 text-center'>
		<h5><strong>Sales Volume (Product):</strong></h5>
		<$client.env.FormField.k01_Sales_Volume.HTML>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Service Penetration</strong></h5>
		<$client.env.FormField.k02_Service_Penetration.HTML>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Boot Camp Completion</strong></h5>
		<$client.env.FormField.k03_BootCamp_Completion.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-8'>
		<h5><strong>Mastery Sales Process Understanding</strong></h5>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_1.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-8'>
		<h5><strong>Mastery POS+ Understanding</strong></h5>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_2.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-8'>
		<h5><strong>Mastery Special Order Understanding</strong></h5>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_3.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-8'>
		<h5><strong>Mastery Financing Understanding</strong></h5>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_4.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-8'>
		<h5><strong>Master Product Demonstration Understanding</strong></h5>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_5.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Strengths:</strong></h5>
		<$client.env.FormField.k05_Strengths.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Weaknesses:</strong></h5>
		<$client.env.FormField.k06_Weakness.HTML>
	</div>
</div>

<br>
<div class='row'>
	<div class='col-lg-12'>
		<h3 class='header-background'>SECTION III - Manager Milestone Acknowledgment</h3>
	</div>
</div>

<div class='row form-horizontal'>
	<div class='col-lg-12'>
    <div class="form-group">
  		<label class="control-label col-lg-3">
        <strong>Manager Signature:</strong>
      </label>
      <div class="col-lg-9">
        <$client.env.FormField.l01_Manager_Signature.HTML>
      </div>
    </div>
	</div>
</div>

<div class="row form-horizontal">
	<div class='col-lg-12'>
    <div class="form-group">
		  <label class="col-lg-3 control-label"><strong>Date:</strong></label>
      <div class="col-lg-9">
        <$client.env.FormField.l02_Date.HTML>
      </div>
    </div>
	</div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h5><strong>BY COMPLETION OF WEEK FOUR, THE NEW HIRE SHOULD BE ABLE TO:</strong></h5>
    <ul class="with-bullets">
      <li>Work their Unassigned Report with little to no assistance.</li>
      <li>Be able to fully serve a guest with no assistance from the Mentor.</li>
    </ul>
    <p>
      As a general guideline, the new hire should write $10,000 in Milestone Four.
    </p>
    <p>
      hire’s readiness to move to commission If, at the end of Milestone Four, the General Manager and mentor don’t feel the new hire is ready to move on to commission, a written summary of the new hire’s area of improvements must be documented in a formal meeting, signed off on by all parties, and submitted to the Director of Sales and Director of Stores. A weekly $10k quota must be put in place after the fourth milestone.
    </p>
    <p>
      <strong>
        A weekly $12,000 quota must be put in place after the fourth milestone. Failure to hit the $12,000 per week sales quota will result in further coaching and/or disciplinary action, up to and including termination.
      </strong>
    </p>
  </div>
</div>

                  <br><hr class="lifesuite__hr">
                  <div class="row" id="formButtons" style="display: none;">
                      <div class="lifesuite__clearfix lifesuite__float-right">
                              <$client.env.FormButtons>
                       </div>
                  </div>
              </div>
</div>
