<div class="container-fluid">
              <div class="form-group">

                  <!-- Replace With eForm Specific HTML -->

<div class='row'>
	<div class='col-lg-12'>
		<img src='images/bigsandylogo.png' alt='Big Sandy Logo' width='240px' height='120px'>
	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h1><strong>Milestone One (Introductory) Assessment</strong></h1>
	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<p>The Mentor is assigned to the New hire by the General Manager. The Mentor’s responsibility is to work within the guidelines provided to ensure a successful transition for the newly hired Sales Associate Plus to a commissioned Sales Professional. The Mentor will be compensated, accordingly, based on the time it takes the new hire to move into the role of a commissioned Sales Professional.</p>

		<p>At the end of each milestone, the new hire will have a formal meeting with the General Manager and the mentor reviewing the milestone’s sales, milestone tasks and addressing their areas of improvements on the New Hire Assessment eForms. It is the General Manager's responsibility to confirm adequate completion and understanding of each milestone task.</p>

		<p>The first milestone covers the operational tasks of a successful sale professional as well as shadowing the mentor during sales interactions. <strong>Completion of the following BSU Boot Camp: Point of Contact.</strong></p>
	</div>
</div>
<div class='row'>
	<div class='col-lg-12'>
		<h3 class='header-background'>SECTION I - Employee Information</h3>
	</div>
</div>
<br>
<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Employee (New Hire) Name:</strong></h5><$client.env.FormField.a01_Employee_Name.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Mentor Name:</strong></h5><$client.env.FormField.a02_Mentor_Name.HTML>
	</div>
</div>
<br>

<div class='row'>
	<div class='col-lg-12'>
		<h3 class='header-background'>SECTION II - Mentor Milestone Feedback</h3>
	</div>
</div>

<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Introductory POS+ Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class='with-bullets'>
			<li>Log into PoS+</li>
			<li>Navigate "Frequently Used" icons</li>
			<li>Navigate "Daily Tasks" links (Inventory Lookup, Price Tags)</li>
			<li>Knowledge of information contained in the "New & Updates" section</li>
			<li>Write a sale in POS+</li>
			<li>Retrieve a sale in POS+</li>
			<li>Convert a sale to a Relationship in POS+</li>
			<li>Create a relationship in POS+</li>
			<li>Retrieve a relationship in POS+</li>
			<li>Convert relationship to sale in POS+</li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.b01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.b02_Feedback.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Introductory System Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class='with-bullets'>
			<li>Navigate to BMS from the Big Sandy Intranet</li>
			<li>Log Into BMS</li>
			<li>Locate and view Price Lists</li>
			<li>Log into Big Sandy Superstore Gmail</li>
			<li>Send and receive email message</li>
			<li><strong>Appliances/Electronics:</strong> Ability to navigate reference files</li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.c01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.c02_Feedback.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Introductory Commission Dashboard Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class='with-bullets'>
			<li>Log into Commission Dashboard</li>
			<li>Navigate dashboard (Sales Issues, Open Sales, Commission, etc.)</li>
			<li>Ability to download "Unassigned" sales</li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.d01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.d02_Feedback.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Introductory Phone Etiquette Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class='with-bullets'>
			<li>Use of consistent script every call, every time</li>
			<li>Use of customer's name 3 times minimum during a phone interaction</li>
			<li>Collection of customer's name and phone number every call</li>
			<li>Asking for appointments when able</li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.e01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.e02_Feedback.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Introductory Service Work Order Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class='with-bullets'>
			<li>Navigate to the "Service Work Order Template" file on the Intranet</li>
			<li>Copying the template and completing with proper information</li>
			<li>Sending work order to proper service parties (Appliances or Furniture)</li>
			<li>Setting proper expectations with customers on service time frames</li>
			<li>Access and navigate Service DispatchTrack</li>
			<li>Lookup work order for customer</li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.f01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.f02_Feedback.HTML>
	</div>
</div>


<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Introductory Leads Process Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class='with-bullets'>
			<li>Understands the purpose of the leads process</li>
			<li>Understands the process of collecting leads and minimum standards</li>
			<li>Understands where to find leads flyer</li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.g01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.g02_Feedback.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Introductory Social Media Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class='with-bullets'>
			<li>How to to utilize Podium to invite customers to review.</li>
			<li>Leverage social media for increased sales</li>
			<li>Share Big Sandy Superstore Facebook posts</li>
			<li>Hashtag location for check ins and welcomes</li>
			<li>Use Facebook live to leverage event details</li>
			<li>Understands importance of Podium.</li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.h01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.h02_Feedback.HTML>
	</div>
</div>


<div class='row'>
	<div class='col-lg-9'>
		<h3><strong>Shop the Competition 1</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class='with-bullets'>
			<li>Completion of a comparison shop with associated summary report</li>
		</ul>
	</div>

	<div class='col-lg-3 text-center'>
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.i01_Current_Performance.HTML>

	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Summary Report:</strong></h5>
		<$client.env.FormField.i02_Summary_Report.HTML>
	</div>
</div>
<br>
<div class='row'>
	<div class='col-lg-12'>
		<h3 class='header-background'>SECTION III - Mentor Milestone Acknowledgment</h3>
	</div>
</div>

<div class='row form-horizontal'>
  <div class="col-lg-12">
    <div class="form-group">
    	<label class="col-lg-3 control-label">
    		<strong>Mentor Signature:</strong>
    	</label>
      <div class="col-lg-9">
        <$client.env.FormField.j01_Mentor_Signature.HTML>
      </div>
    </div>
  </div>
</div>

<div class='row form-horizontal'>
  <div class="col-lg-12">
    <div class="form-group">
    	<label class="col-lg-3 control-label">
    		<strong>Date:</strong>
    	</label>
      <div class="col-lg-9">
        <$client.env.FormField.j02_Date.HTML>
      </div>
    </div>
  </div>
</div>

<br>
<div class='row'>
	<div class='col-lg-12'>
		<h3 class='header-background'>SECTION III - Manager Milestone Feedback</h3>
	</div>
</div>

<div class='row'>
	<div class='col-lg-4 text-center'>
		<h5><strong>Sales Volume (Product):</strong></h5>
		<$client.env.FormField.k01_Sales_Volume.HTML>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Service Penetration</strong></h5>
		<$client.env.FormField.k02_Service_Penetration.HTML>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Boot Camp Completion</strong></h5>
		<$client.env.FormField.k03_BootCamp_Completion.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-8'>
		<h5><strong>Introductory POS+ Understanding</strong></h5>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_1.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-8'>
		<h5><strong>Introductory System Understanding</strong></h5>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_2.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-8'>
		<h5><strong>Introductory Commission Dashboard Understanding</strong></h5>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_3.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-8'>
		<h5><strong>Introductory Phone Etiquette Understanding</strong></h5>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_4.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-8'>
		<h5><strong>Introductory Service Work Order Understanding</strong></h5>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_5.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-8'>
		<h5><strong>Introductory Leads Process Understanding</strong></h5>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_6.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-8'>
		<h5><strong>Introductory Social Media Understanding</strong></h5>
	</div>

	<div class='col-lg-4 text-center'>
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_7.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Strengths:</strong></h5>
		<$client.env.FormField.k05_Strengths.HTML>
	</div>
</div>

<div class='row'>
	<div class='col-lg-12'>
		<h5><strong>Weaknesses:</strong></h5>
		<$client.env.FormField.k06_Weakness.HTML>
	</div>
</div>

<br>
<div class='row'>
	<div class='col-lg-12'>
		<h3 class='header-background'>SECTION III - Manager Milestone Acknowledgment</h3>
	</div>
</div>

<div class='row form-horizontal'>
	<div class='col-lg-12'>
    <div class="form-group">
  		<label class="control-label col-lg-3">
        <strong>Manager Signature:</strong>
      </label>
      <div class="col-lg-9">
        <$client.env.FormField.l01_Manager_Signature.HTML>
      </div>
    </div>
	</div>
</div>

<div class="row form-horizontal">
	<div class='col-lg-12'>
    <div class="form-group">
		  <label class="col-lg-3 control-label"><strong>Date:</strong></label>
      <div class="col-lg-9">
        <$client.env.FormField.l02_Date.HTML>
      </div>
    </div>
	</div>
</div>

                  <br><hr class="lifesuite__hr">
                  <div class="row" id="formButtons" style="display: none;">
                      <div class="lifesuite__clearfix lifesuite__float-right">
                              <$client.env.FormButtons>
                       </div>
                  </div>
              </div>
</div>
