<div class="container-fluid">
              <div class="form-group">

                  <!-- Replace With eForm Specific HTML -->

<div class="row">
	<div class="col-lg-12">
		<img src="images/bigsandylogo.png' alt="Big Sandy Logo' width="240px' height="120px">
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h1><strong>Milestone Two (Essentials) Assessment</strong></h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<p>The Mentor is assigned to the New hire by the General Manager. The Mentor’s responsibility is to work within the guidelines provided to ensure a successful transition for the newly hired Sales Associate Plus to a commissioned Sales Professional. The Mentor will be compensated, accordingly, based on the time it takes the new hire to move into the role of a commissioned Sales Professional.</p>

		<p>At the end of each milestone, the new hire will have a formal meeting with the General Manager and the mentor reviewing the milestone’s sales, milestone tasks and addressing their areas of improvements on the New Hire Assessment eForms. It is the General Manager's responsibility to confirm adequate completion and understanding of each milestone task.</p>

		<p><strong>The second milestone should not begin until Milestone 1 Tasks have been completed.</strong> This milestone will cover the first milestone’s tasks in greater detail as well as focused product training. The new hire associate should also begin guest interactions, in some capacities, as outlined in the Milestone 2 assessment. <strong>Completion of the following BSU Boot Camp: Fact Finding.</strong></p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h3 class="header-background">SECTION I - Employee Information</h5>
	</div>
</div>
<br>
<div class="row">
	<div class="col-lg-12">
		<h5><strong>Employee (New Hire) Name:</strong></h5><$client.env.FormField.a01_Employee_Name.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Mentor Name:</strong></h5><$client.env.FormField.a02_Mentor_Name.HTML>
	</div>
</div>
<br>

<div class="row">
	<div class="col-lg-12">
		<h3 class="header-background">SECTION II - Mentor Milestone Feedback</h5>
	</div>
</div>

<div class="row">
	<div class="col-lg-9">
		<h3><strong>Essential POS+ Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class="with-bullets">
			<li>Set and schedule a Delivery and Pick-Up</li>
			<li>Differentiate local, long run, and out of route delivery and their costs</li>
			<li>Properly process service local delivery credits</li>
		</ul>
	</div>

	<div class="col-lg-3 text-center">
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.b01_Current_Performance.HTML>

	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.b02_Feedback.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-9">
		<h3><strong>Essential Follow Up Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class="with-bullets">
			<li>Send "Thank You" email/card/etc. after each and every opportunity</li>
			<li>Utilize "Thank You" templates found on the Intranet</li>
			<li>Conduct delivery follow up calls after customer receives product</li>
			<li>Execute call-back process on Google Sheets</li>
		</ul>
	</div>

	<div class="col-lg-3 text-center">
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.c01_Current_Performance.HTML>

	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.c02_Feedback.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-9">
		<h3><strong>Essential Commission Dashboard Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class="with-bullets">
			<li>Execute the "Leads Process"</li>
			<li>Execute "Power 5 Leads" process utilizing Google Sheets</li>
			<li>Importance of social media in driving sales/leads</li>
		</ul>
	</div>

	<div class="col-lg-3 text-center">
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.d01_Current_Performance.HTML>

	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.d02_Feedback.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-9">
		<h3><strong>Essential Marketing Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class="with-bullets">
			<li>Locate product in current ad/circular</li>
			<li>Differentiate promotional codes (Doorbuster, Super Saver, North Carolina Closeout, Extreme Value)</li>
			<li>"Selling the Event" and building urgency to purchase</li>
		</ul>
	</div>

	<div class="col-lg-3 text-center">
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.e01_Current_Performance.HTML>

	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.e02_Feedback.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-9">
		<h3><strong>Essential Unassigned Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class="with-bullets">
			<li>Download "Open Sales" spreadsheet</li>
			<li>Manipulate data For use with Google Sheets</li>
			<li>Copy "Open Sales" data into Google Sheets</li>
			<li>Process contact updates and status updates on "Unassigned Sales" Google Sheet</li>
		</ul>
	</div>

	<div class="col-lg-3 text-center">
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.f01_Current_Performance.HTML>

	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.f02_Feedback.HTML>
	</div>
</div>


<div class="row">
	<div class="col-lg-9">
		<h3><strong>Essential Financing Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class="with-bullets">
			<li>Differentiate and explain financing options and terms</li>
			<li>Differentiate "Same as Cash," "No Interest" and "Special Financing"</li>
			<li>Explain and process a financing conversion</li>
			<li><strong>Appliances/Electronics:</strong> Explain HE savings</li>
		</ul>
	</div>

	<div class="col-lg-3 text-center">
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.g01_Current_Performance.HTML>

	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.g02_Feedback.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-9">
		<h3><strong>Essential Product Demonstration Understanding</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class="with-bullets">
			<li><strong>Furniture:</strong>
				<ul class="with-bullets">
					<li>Explain and Give a competent demonstration of iAmerica product lines</li>
					<li>Competent demonstration of the Upholstery "Frame Story”</li>
					<li>Competent demonstration of Power Motion Furniture</li>
				</ul>
			</li>

			<li><strong>Appliances/Electronics:</strong>
				<ul class="with-bullets">
					<li>Ability to explain and give a competent demonstration of <strong>OLED</strong> products</li>
					<li>Competently qualify and demonstrate refrigeration</li>
					<li>Purpose and execution of PoP</li>
				</ul>

			</li>
		</ul>
	</div>

	<div class="col-lg-3 text-center">
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.h01_Current_Performance.HTML>

	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Feedback:</strong></h5>
		<$client.env.FormField.h02_Feedback.HTML>
	</div>
</div>


<div class="row">
	<div class="col-lg-9">
		<h3><strong>Shop the Competition 2</strong></h3>

		<h5><strong>Demonstrates the ability to complete the following tasks:</strong></h5>

		<ul class="with-bullets">
			<li>Completion of a comparison shop with associated summary report</li>
		</ul>
	</div>

	<div class="col-lg-3 text-center">
		<h5><strong>Current Performance</strong></h5>
		<$client.env.FormField.i01_Current_Performance.HTML>

	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Summary Report:</strong></h5>
		<$client.env.FormField.i02_Feedback.HTML>
	</div>
</div>
<br>
<div class="row">
	<div class="col-lg-12">
		<h3 class="header-background">SECTION III - Mentor Milestone Acknowledgment</h5>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Mentor Signature:</strong></h5><$client.env.FormField.j01_Mentor_Signature.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Date:</strong></h5><$client.env.FormField.j02_Date.HTML>
	</div>
</div>

<br>
<div class="row">
	<div class="col-lg-12">
		<h3 class="header-background">SECTION III - Manager Milestone Feedback</h5>
	</div>
</div>

<div class="row">
	<div class="col-lg-4 text-center">
		<h5><strong>Sales Volume (Product):</strong></h5>
		<$client.env.FormField.k01_Sales_Volume.HTML>
	</div>

	<div class="col-lg-4 text-center">
		<h5><strong>Service Penetration</strong></h5>
		<$client.env.FormField.k02_Service_Penetration.HTML>
	</div>

	<div class="col-lg-4 text-center">
		<h5><strong>Boot Camp Completion</strong></h5>
		<$client.env.FormField.k03_BootCamp_Completion.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<h5><strong>Essential POS+ Understanding</strong></h5>
	</div>

	<div class="col-lg-4 text-center">
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_1.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<h5><strong>Essential Follow Up Understanding</strong></h5>
	</div>

	<div class="col-lg-4 text-center">
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_2.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<h5><strong>Essential Commission Dashboard Understanding</strong></h5>
	</div>

	<div class="col-lg-4 text-center">
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_3.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<h5><strong>Essential Marketing Understanding</strong></h5>
	</div>

	<div class="col-lg-4 text-center">
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_4.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<h5><strong>Essential Unassigned Understanding</strong></h5>
	</div>

	<div class="col-lg-4 text-center">
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_5.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<h5><strong>Essential Financing Understanding</strong></h5>
	</div>

	<div class="col-lg-4 text-center">
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_6.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<h5><strong>Essential Product Demonstration Understanding</strong></h5>
	</div>

	<div class="col-lg-4 text-center">
		<h5><strong>Milestone Task Rating</strong></h5>
		<$client.env.FormField.k04_Milestone_Rating_7.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Strengths:</strong></h5>
		<$client.env.FormField.k05_Strengths.HTML>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<h5><strong>Weaknesses:</strong></h5>
		<$client.env.FormField.k06_Weakness.HTML>
	</div>
</div>

<br>
<div class="row">
	<div class="col-lg-12">
		<h3 class="header-background">SECTION III - Manager Milestone Acknowledgment</h5>
	</div>
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
    <div class="form-group">
		  <label class="control-label col-lg-3"><strong>Manager Signature:</strong></label>
      <div class="col-lg-9">
        <$client.env.FormField.l01_Manager_Signature.HTML>
      </div>
    </div>
	</div>
</div>

<div class="row form-horizontal">
	<div class="col-lg-12">
    <div class="form-group">
		  <label class="control-label col-lg-3"><strong>Date:</strong></label>
      <div class="col-lg-9">
        <$client.env.FormField.l02_Date.HTML>
      </div>
    </div>
	</div>
</div>

                  <br><hr class="lifesuite__hr">
                  <div class="row" id="formButtons" style="display: none;">
                      <div class="lifesuite__clearfix lifesuite__float-right">
                              <$client.env.FormButtons>
                       </div>
                  </div>
              </div>
</div>
