<main class="container-fluid">
	<header class="row">
		<div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
			<img src="/assets/img/health_insurance_bc_logo.jpg" alt="" class="img-responsive">
		</div>
		<div class="col-lg-8 col-md-9 col-sm-8 col-xs-12">
			<h4 class="text-right">
				<strong>
					MEDICAL SERVICES PLAN (MSP)
				</strong>
			</h4>
			<h3 class="text-right">
				<strong>APPLICATION FOR GROUP ENROLLMENT</strong>
			</h3>
		</div>
	</header>
	<div class="row">
		<div class="col-lg-4 col-sm-12 col-xs-12 pull-right text-center">
			PLEASE PRINT IN CAPITAL LETTERS ONLY
			<div class="inline-block">
				<input type="text" readonly value="1 2 3 4 A B C D">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<p>
				Before completing this application, please read <strong>IMPORTANT INFORMATION</strong> page 2.
			</p>
			<p>
				Residents of BC are required, by law, to enrol themselves and to enrol their spouse and children who are residents of BC.
			</p>
			<p>
				<strong>RESIDENT</strong> means a person who is a citizen of Canada or is lawfully admitted to Canada for permanent residence, who makes his or her home in British Columbia, and is physically present in British Columbia at least 6 months in a calendar year, and includes a person who is deemed under the regulations to be a resident but does not include a tourist or visitor to British Columbia.
			</p>
		</div>
	</div>

	<div class="row stripe-black vspace">
		<div class="col-lg-12">
			<strong>
				<em>THIS SECTION FOR GROUP PLAN AUTHORIZATION ONLY - <small>TO BE COMPLETED BY YOUR PAY OR PENSION OFFICE OR UNION WELFACE PLAN</small></em>
			</strong>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-xs-12">
			<div class="vspace">
				GROUP NUMBER
				<input type="text">
			</div>
			<div class="vspace">
				COVERAGE IS REQUESTED THE FIRST DAY OF (MM/YYYY)
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="vspace">
				DEPARTMENT / PAYLIST NUMBER
				<input type="text">
			</div>
			<div class="vspace">
				EMPLOYEE / PENSION NUMBER
				<input type="text">
			</div>
		</div>
		<div class="col-lg-6 col-xs-12 text-center">
			<strong>AUTHORIZATION NAME OR STAMP</strong>
		</div>
	</div>

	<div class="row stripe-black vspace">
		<div class="col-lg-12">
			<strong>
				1 APPLICATION INFORMATION
			</strong>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-xs-12 vspace">
			APPLICANT LEGAL LAST NAME
			<input type="text">
		</div>
		<div class="col-lg-4 col-xs-12 vspace">
			APPLICANT LEGAL FIRST NAME
			<input type="text">
		</div>
		<div class="col-lg-4 col-xs-12 vspace">
			APPLICANT LEGAL SECOND NAME
			<input type="text">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-5 col-xs-12 vspace">
			As a person must be a resident of BC to qualify for provincial health care benefits, you current <strong>residential</strong> address is required.
		</div>
		<div class="col-lg-3 col-xs-12 vspace">
			BIRTHDATE (MM/DD/YYYY)
			<input type="text">
		</div>
		<div class="col-lg-1 col-xs-12 vspace">
			<div class="box inline-block">
				<input type="checkbox"> M <br>
				<input type="checkbox"> F
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 vspace">
			DAYTIME TELEPHONE NUMBER
			<input type="text">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-xs-12 vspace">
			RESIDENTIAL ADDRESS
			<input type="text">
		</div>
		<div class="col-lg-3 col-xs-12 vspace">
			CITY
			<input type="text">
		</div>
		<div class="col-lg-1 col-xs-12 vspace">
			PROV
			<input type="text">
		</div>
		<div class="col-lg-2 col-xs-12 vspace">
			POSTAL CODE
			<input type="text">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-xs-12 vspace">
			MAILING ADDRESS (IF DIFFERENT FROM RESIDENTIAL ADDRESS)
			<input type="text">
		</div>
		<div class="col-lg-3 col-xs-12 vspace">
			CITY
			<input type="text">
		</div>
		<div class="col-lg-1 col-xs-12 vspace">
			PROV
			<input type="text">
		</div>
		<div class="col-lg-2 col-xs-12 vspace">
			POSTAL CODE
			<input type="text">
		</div>
	</div>

	<div class="row stripe-black">
		<div class="col-lg-12">
			<strong>
				2 RESIDENCE AND CITIZENSHIP / IMMIGRATION INFORMATION
			</strong>
		</div>
	</div>

	<div class="box vspace">
		<div class="row border-bottom">
			<div class="col-lg-1-half col-xs-1 text-center">
				<h4>
					<strong>A</strong>
				</h4>
			</div>
			<div class="col-lg-11 col-xs-11 border-left">
				STATUS IN CANADA -
				<strong>
					<em>PROVIDE PHOTOCOPIES OF ALL AVAILABLE DOCUMENTS</em>
				</strong>
				(DO NOT SEND ORIGINALS)
				<div class="row">
					<div class="col-lg-4 col-xs-12">
						<input type="checkbox">
					</div>
					<div class="col-lg-4 col-xs-12">
						<input type="checkbox">
					</div>
					<div class="col-lg-4 col-xs-12">
						<input type="checkbox">
					</div>
				</div>
			</div>
		</div>
		<div class="row border-bottom">
			<div class="col-lg-1-half col-xs-1 text-center">
				<h4>
					<strong>B</strong>
				</h4>
			</div>
			<div class="col-lg-11 col-xs-11 border-left">
				<div class="row">
					<div class="col-lg-5 col-xs-12">
						HAVE YOU HAD MSP COVERAGE PREVIOUSLY?<br>
						<div class="inline-block vertical-middle">
							<input type="checkbox"> Yes
						</div>
						<div class="inline-block vertical-middle">
							(IF NO, GO TO "<strong>C</strong>")
						</div>
					</div>
					<div class="col-lg-7 col-xs-12">
						<div class="col-lg-5 col-xs-12">
							MOST RECENT MOVE TO BC ->
						</div>
						<div class="col-lg-7 col-xs-12">
							PERSONAL HEALTH (CARECARD) NUMBER
							<input type="text">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row border-bottom">
			<div class="col-lg-1-half col-xs-1">
				<h4 class="text-center">
					<strong>C</strong>
				</h4>
			</div>
			<div class="col-lg-11 col-xs-11 border-left">
				<div class="row">
					<div class="col-lg-4 col-xs-12">
						HAVE YOU LIVED IN BC SINCE BIRTH?<br>
						<div class="inline-block vertical-middle">
							<input type="checkbox"> Yes
						</div>
						<div class="inline-block vertical-middle">
							(IF NO, GO TO "<strong>C</strong>")
						</div>
					</div>
					<div class="col-lg-8 col-xs-12">
						<div class="row">
							<div class="col-lg-3 col-xs-12">
								MOST RECENT MOVE TO BC ->
							</div>
							<div class="col-lg-3 col-xs-12">
								(MM/DD/YYYY)
								<input type="text">
							</div>
							<div class="col-lg-3 col-xs-12">
								MOST RECENT MOVE TO CANADA ->
								<br>(IF DIFFERENT FROM DATE OF MOVE TO BC)
							</div>
							<div class="col-lg-3 col-xs-12">
								(MM/DD/YYYY)
								<input type="text">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-xs-12">
								IS THIS A PERMANENT MOVE?
								<input type="checkbox"> YES
							</div>
							<div class="col-lg-9 col-xs-12">
								PROVINCE OR COUNTRY MOVED FROM
								<input type="text">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row border-bottom">
			<div class="col-lg-1-half col-xs-1">
				<h4 class="text-center">
					<strong>D</strong>
				</h4>
			</div>
			<div class="col-lg-11 col-xs-11 border-left">
				<div class="row">
					<div class="col-lg-12 col-xs-12">
						<div class="inline-block">
							HAVE YOU OR ANY FAMILY MEMBER BEEN OUTSIDE BC FOR MORE THAN 30 DAYS IN TOTAL DURING THE PAST 12 MONTHS?
						</div>
						<div class="inline-block">
							<input type="checkbox"> Yes
						</div>
					</div>
					<div class="col-lg-12 col-xs-12">
						<div class="row">
							<div class="col-lg-3 col-xs-12">
								DEPARTURE DATE (MM/DD/YYYY)
								<input type="text">
							</div>
							<div class="col-lg-3 col-xs-12">
								RETURN DATE (MM/DD/YYYY)
								<input type="text">
							</div>
							<div class="col-lg-6 col-xs-12">
								FAMILY MEMBER NAME, REASON FOR DEPARTURE AND LOCATION
								<input type="text">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-1-half col-xs-1">
				<h4 class="text-center">
					<strong>E</strong>
				</h4>
			</div>
			<div class="col-lg-11 col-xs-11 border-left">
				<div class="row">
					<div class="col-lg-6 col-xs-12 border-right">
						<div class="col-lg-8 col-xs-12">
							WILL YOU OR ANY FAMILY MEMBER BE AWAY FROM BC FOR MORE THAN 30 DAYS IN TOTAL IN THE NEXT SIX MONTH? <br>
							IF YES, SEE <strong>RESIDENCY</strong>, PAGE 2.
						</div>
						<div class="col-lg-4 col-xs-12">
							<input type="checkbox">
						</div>
						<div class="col-lg-8 col-xs-12">
							ARE YOU A FULL-TIME STUDENT?
						</div>
						<div class="col-lg-4 col-xs-12">
							<input type="checkbox">
						</div>
						<div class="col-lg-8 col-xs-12">
							IF YES, WILL YOU RESIDE IN BC ON COMPLETION OF YOUR STUDIES?
						</div>
						<div class="col-lg-4 col-xs-12">
							<input type="checkbox">
						</div>
					</div>
					<div class="col-lg-6 col-xs-12 text-center">
						<p>
							IF ANYONE LISTED AS AN ACTIVE MEMBER OF, OR HAS BEEN RELEASED FROM, THE CANADIAN FORCES, RCMP OR AN INSTITUTION, PLEASE PROVIDE THE DISCHARGE DATE:
						</p>
						<div class="inline-block">
							(MM/DD/YYYY)
							<input type="text">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row vspace">
		<div class="col-lg-12">
			<em>
				<strong>IS THIS APPLICATION ALSO FOR A SPOUSE OR CHILD? IF YES, PLEASE COMPLETE PAGE 2.</strong>
			</em>
		</div>
	</div>

	<div class="row stripe-black vspace">
		<div class="col-lg-12">
			<strong>
				3 AUTHORIZATION - MUST BE SIGNED (DO NOT CHANGE THE TEXT OF AUTHORIZATION BELOW)
			</strong>
		</div>
	</div>

	<div class="row vspace">
		<div class="col-lg-12">
			<p>
				I have recieved information about MSP and agree to abide by the terms and conditions of MSP. I understand the information I have given is collected under the authority of the <em>Medicare Production Act</em> and may be used to assess eligibility for the Ministry of Health Services programs, and practitioners who provide service(s) under MSP are required under the <em>Medicare Protection Act</em> to release information relative to those services to MSP to support claims for benefits.
			</p>
			<p>
				I declare that all information provided is true and I undertand that the Ministry and/or Health Insurance may verify this information with immigration authorities, law enforement authorities and other public authorities, agencies and persons as appropriate. I declare that all persons listed are residents of British Columbia.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-xs-12 vspace">
			<small>
				SIGNATURE OF APPLICANT
			</small>
			<input type="text">
		</div>
		<div class="col-lg-2 col-xs-12 vspace">
			<small>
				DATE SIGNED (MM/DD/YYYY)
			</small>
			<input type="text">
		</div>
		<div class="col-lg-4 col-xs-12 vspace">
			<small>
				SIGNATURE OF SPOUSE
			</small>
			<input type="text">
		</div>
		<div class="col-lg-2 col-xs-12 vspace">
			<small>
				DATE SIGNED (MM/DD/YYYY)
			</small>
			<input type="text">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-9 col-xs-12 vspace">
			<p>
				Mailing Address: Health Insurance BC, Medical Services Plan, PO BOX 9679 Stn Prov Govt, Victoria BC V8W 9P7 <br>
				Tel: (Lower Mainland) 604 683-7520, (Rest of BC) 1 877 955-5656 Web: www.hibc.gov.bc.ca
			</p>
		</div>
		<div class="col-lg-3 col-xs-12 vspace">
			<img src="/assets/img/bc_barcode.jpg" alt="" class="img-responsive">
		</div>
	</div>

	<div class="row stripe-black vspace">
		<div class="col-lg-12">
			<strong>
				<em>THIS SECTION FOR GROUP PLAN AUTHORIZATION ONLY - <small>TO BE COMPLETED BY YOUR PAY OR PENSION OFFICE OR UNION WELFACE PLAN</small></em>
			</strong>
		</div>
	</div>

	<div class="square-top-left"></div>
	<div class="square-top-right"></div>
	<div class="square-bottom-left"></div>
	<div class="square-bottom-right"></div>
</main>
