<main class="container-fluid">
	<header class="row">
		<div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
			<img src="/assets/img/health_insurance_bc_logo.jpg" alt="" class="img-responsive">
		</div>
		<div class="col-lg-8 col-md-9 col-sm-8 col-xs-12">
			<h4 class="text-right">
				<strong>
					MEDICAL SERVICES PLAN (MSP)
				</strong>
			</h4>
			<h3 class="text-right">
				<strong>APPLICATION FOR GROUP ENROLLMENT</strong>
			</h3>
		</div>
	</header>
	<div class="row">
		<div class="col-lg-4 col-sm-12 col-xs-12 pull-right text-center">
			PLEASE PRINT IN CAPITAL LETTERS ONLY
			<div class="inline-block">
				<input type="text" readonly value="1 2 3 4 A B C D">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<p>
				Before completing this application, please read <strong>IMPORTANT INFORMATION</strong> page 2.
			</p>
			<p>
				Residents of BC are required, by law, to enrol themselves and to enrol their spouse and children who are residents of BC.
			</p>
			<p>
				<strong>RESIDENT</strong> means a person who is a citizen of Canada or is lawfully admitted to Canada for permanent residence, who makes his or her home in British Columbia, and is physically present in British Columbia at least 6 months in a calendar year, and includes a person who is deemed under the regulations to be a resident but does not include a tourist or visitor to British Columbia.
			</p>
		</div>
	</div>

	<div class="row stripe-black vspace">
		<div class="col-lg-12">
			<strong>
				<em>THIS SECTION FOR GROUP PLAN AUTHORIZATION ONLY - <small>TO BE COMPLETED BY YOUR PAY OR PENSION OFFICE OR UNION WELFACE PLAN</small></em>
			</strong>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-xs-12">
			<div class="vspace">
				GROUP NUMBER
				<input type="text">
			</div>
			<div class="vspace">
				COVERAGE IS REQUESTED THE FIRST DAY OF (MM/YYYY)
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="vspace">
				DEPARTMENT / PAYLIST NUMBER
				<input type="text">
			</div>
			<div class="vspace">
				EMPLOYEE / PENSION NUMBER
				<input type="text">
			</div>
		</div>
		<div class="col-lg-6 col-xs-12 text-center">
			<strong>AUTHORIZATION NAME OR STAMP</strong>
		</div>
	</div>

	<div class="row stripe-black vspace">
		<div class="col-lg-12">
			<strong>
				1 APPLICATION INFORMATION
			</strong>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-xs-12 vspace">
			APPLICANT LEGAL LAST NAME
			<input type="text">
		</div>
		<div class="col-lg-4 col-xs-12 vspace">
			APPLICANT LEGAL FIRST NAME
			<input type="text">
		</div>
		<div class="col-lg-4 col-xs-12 vspace">
			APPLICANT LEGAL SECOND NAME
			<input type="text">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-5 col-xs-12 vspace">
			As a person must be a resident of BC to qualify for provincial health care benefits, you current <strong>residential</strong> address is required.
		</div>
		<div class="col-lg-3 col-xs-12 vspace">
			BIRTHDATE (MM/DD/YYYY)
			<input type="text">
		</div>
		<div class="col-lg-1 col-xs-12 vspace">
			<div class="box inline-block">
				<input type="checkbox"> M <br>
				<input type="checkbox"> F
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 vspace">
			DAYTIME TELEPHONE NUMBER
			<input type="text">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-xs-12 vspace">
			RESIDENTIAL ADDRESS
			<input type="text">
		</div>
		<div class="col-lg-3 col-xs-12 vspace">
			CITY
			<input type="text">
		</div>
		<div class="col-lg-1 col-xs-12 vspace">
			PROV
			<input type="text">
		</div>
		<div class="col-lg-2 col-xs-12 vspace">
			POSTAL CODE
			<input type="text">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-xs-12 vspace">
			MAILING ADDRESS (IF DIFFERENT FROM RESIDENTIAL ADDRESS)
			<input type="text">
		</div>
		<div class="col-lg-3 col-xs-12 vspace">
			CITY
			<input type="text">
		</div>
		<div class="col-lg-1 col-xs-12 vspace">
			PROV
			<input type="text">
		</div>
		<div class="col-lg-2 col-xs-12 vspace">
			POSTAL CODE
			<input type="text">
		</div>
	</div>

	<div class="row stripe-black">
		<div class="col-lg-12">
			<strong>
				2 RESIDENCE AND CITIZENSHIP / IMMIGRATION INFORMATION
			</strong>
		</div>
	</div>

	<div class="box vspace">
		<div class="row border-bottom">
			<div class="col-lg-1-half col-xs-1 text-center">
				<h4>
					<strong>A</strong>
				</h4>
			</div>
			<div class="col-lg-11 col-xs-11 border-left">
				STATUS IN CANADA -
				<strong>
					<em>PROVIDE PHOTOCOPIES OF ALL AVAILABLE DOCUMENTS</em>
				</strong>
				(DO NOT SEND ORIGINALS)
				<div class="row">
					<div class="col-lg-4 col-xs-12">
						<input type="checkbox">
					</div>
					<div class="col-lg-4 col-xs-12">
						<input type="checkbox">
					</div>
					<div class="col-lg-4 col-xs-12">
						<input type="checkbox">
					</div>
				</div>
			</div>
		</div>
		<div class="row border-bottom">
			<div class="col-lg-1-half col-xs-1 text-center">
				<h4>
					<strong>B</strong>
				</h4>
			</div>
			<div class="col-lg-11 col-xs-11 border-left">
				<div class="row">
					<div class="col-lg-5 col-xs-12">
						HAVE YOU HAD MSP COVERAGE PREVIOUSLY?<br>
						<div class="inline-block vertical-middle">
							<input type="checkbox"> Yes
						</div>
						<div class="inline-block vertical-middle">
							(IF NO, GO TO "<strong>C</strong>")
						</div>
					</div>
					<div class="col-lg-7 col-xs-12">
						<div class="col-lg-5 col-xs-12">
							MOST RECENT MOVE TO BC ->
						</div>
						<div class="col-lg-7 col-xs-12">
							PERSONAL HEALTH (CARECARD) NUMBER
							<input type="text">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row border-bottom">
			<div class="col-lg-1-half col-xs-1">
				<h4 class="text-center">
					<strong>C</strong>
				</h4>
			</div>
			<div class="col-lg-11 col-xs-11 border-left">
				<div class="row">
					<div class="col-lg-4 col-xs-12">
						HAVE YOU LIVED IN BC SINCE BIRTH?<br>
						<div class="inline-block vertical-middle">
							<input type="checkbox"> Yes
						</div>
						<div class="inline-block vertical-middle">
							(IF NO, GO TO "<strong>C</strong>")
						</div>
					</div>
					<div class="col-lg-8 col-xs-12">
						<div class="row">
							<div class="col-lg-3 col-xs-12">
								MOST RECENT MOVE TO BC ->
							</div>
							<div class="col-lg-3 col-xs-12">
								(MM/DD/YYYY)
								<input type="text">
							</div>
							<div class="col-lg-3 col-xs-12">
								MOST RECENT MOVE TO CANADA ->
								<br>(IF DIFFERENT FROM DATE OF MOVE TO BC)
							</div>
							<div class="col-lg-3 col-xs-12">
								(MM/DD/YYYY)
								<input type="text">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-xs-12">
								IS THIS A PERMANENT MOVE?
								<input type="checkbox"> YES
							</div>
							<div class="col-lg-9 col-xs-12">
								PROVINCE OR COUNTRY MOVED FROM
								<input type="text">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row border-bottom">
			<div class="col-lg-1-half col-xs-1">
				<h4 class="text-center">
					<strong>D</strong>
				</h4>
			</div>
			<div class="col-lg-11 col-xs-11 border-left">
				<div class="row">
					<div class="col-lg-12 col-xs-12">
						<div class="inline-block">
							HAVE YOU OR ANY FAMILY MEMBER BEEN OUTSIDE BC FOR MORE THAN 30 DAYS IN TOTAL DURING THE PAST 12 MONTHS?
						</div>
						<div class="inline-block">
							<input type="checkbox"> Yes
						</div>
					</div>
					<div class="col-lg-12 col-xs-12">
						<div class="row">
							<div class="col-lg-3 col-xs-12">
								DEPARTURE DATE (MM/DD/YYYY)
								<input type="text">
							</div>
							<div class="col-lg-3 col-xs-12">
								RETURN DATE (MM/DD/YYYY)
								<input type="text">
							</div>
							<div class="col-lg-6 col-xs-12">
								FAMILY MEMBER NAME, REASON FOR DEPARTURE AND LOCATION
								<input type="text">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-1-half col-xs-1">
				<h4 class="text-center">
					<strong>E</strong>
				</h4>
			</div>
			<div class="col-lg-11 col-xs-11 border-left">
				<div class="row">
					<div class="col-lg-6 col-xs-12 border-right">
						<div class="col-lg-8 col-xs-12">
							WILL YOU OR ANY FAMILY MEMBER BE AWAY FROM BC FOR MORE THAN 30 DAYS IN TOTAL IN THE NEXT SIX MONTH? <br>
							IF YES, SEE <strong>RESIDENCY</strong>, PAGE 2.
						</div>
						<div class="col-lg-4 col-xs-12">
							<input type="checkbox">
						</div>
						<div class="col-lg-8 col-xs-12">
							ARE YOU A FULL-TIME STUDENT?
						</div>
						<div class="col-lg-4 col-xs-12">
							<input type="checkbox">
						</div>
						<div class="col-lg-8 col-xs-12">
							IF YES, WILL YOU RESIDE IN BC ON COMPLETION OF YOUR STUDIES?
						</div>
						<div class="col-lg-4 col-xs-12">
							<input type="checkbox">
						</div>
					</div>
					<div class="col-lg-6 col-xs-12 text-center">
						<p>
							IF ANYONE LISTED AS AN ACTIVE MEMBER OF, OR HAS BEEN RELEASED FROM, THE CANADIAN FORCES, RCMP OR AN INSTITUTION, PLEASE PROVIDE THE DISCHARGE DATE:
						</p>
						<div class="inline-block">
							(MM/DD/YYYY)
							<input type="text">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row vspace">
		<div class="col-lg-12">
			<em>
				<strong>IS THIS APPLICATION ALSO FOR A SPOUSE OR CHILD? IF YES, PLEASE COMPLETE PAGE 2.</strong>
			</em>
		</div>
	</div>

	<div class="row stripe-black vspace">
		<div class="col-lg-12">
			<strong>
				3 AUTHORIZATION - MUST BE SIGNED (DO NOT CHANGE THE TEXT OF AUTHORIZATION BELOW)
			</strong>
		</div>
	</div>

	<div class="row vspace">
		<div class="col-lg-12">
			<p>
				I have recieved information about MSP and agree to abide by the terms and conditions of MSP. I understand the information I have given is collected under the authority of the <em>Medicare Production Act</em> and may be used to assess eligibility for the Ministry of Health Services programs, and practitioners who provide service(s) under MSP are required under the <em>Medicare Protection Act</em> to release information relative to those services to MSP to support claims for benefits.
			</p>
			<p>
				I declare that all information provided is true and I undertand that the Ministry and/or Health Insurance may verify this information with immigration authorities, law enforement authorities and other public authorities, agencies and persons as appropriate. I declare that all persons listed are residents of British Columbia.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-xs-12 vspace">
			<small>
				SIGNATURE OF APPLICANT
			</small>
			<input type="text">
		</div>
		<div class="col-lg-2 col-xs-12 vspace">
			<small>
				DATE SIGNED (MM/DD/YYYY)
			</small>
			<input type="text">
		</div>
		<div class="col-lg-4 col-xs-12 vspace">
			<small>
				SIGNATURE OF SPOUSE
			</small>
			<input type="text">
		</div>
		<div class="col-lg-2 col-xs-12 vspace">
			<small>
				DATE SIGNED (MM/DD/YYYY)
			</small>
			<input type="text">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-9 col-xs-12 vspace">
			<p>
				Mailing Address: Health Insurance BC, Medical Services Plan, PO BOX 9679 Stn Prov Govt, Victoria BC V8W 9P7 <br>
				Tel: (Lower Mainland) 604 683-7520, (Rest of BC) 1 877 955-5656 Web: www.hibc.gov.bc.ca
			</p>
		</div>
		<div class="col-lg-3 col-xs-12 vspace text-right">
			<img src="/assets/img/bc_barcode.jpg" alt="" class="img-responsive">
			HLTH 167 V1 Rev. 2009/07/07
		</div>
	</div>

	<div class="row stripe-black vspace">
		<div class="col-lg-12">
			<strong>
				4 SPOUSE AND CHILD INFORMATION
			</strong>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<p>
				<strong>SPOUSE</strong> means a resident of BC who is either married to or living and cohabiting in a marriage-like relationship with the applicant and may be of the same gender as the applicant. <br>
				<strong>CHILD</strong> means a resident of BC who is the legal ward or child of the applicant, is supported by the applicant, is neither married nor living and cohabiting in a marriage-like relationship, <strong>and</strong> is either 18 or younger, <strong>or</strong> age 19 to 24 and attending school or university full time.
			</p>
			<p>
				<strong>
					<em>PHOTOCOPIES OR CURRENT CITIZENSHIP/IMMIGRATION DOCUMENTS MUST BE ATTACHED, USE LEGAL NAMES WHEN COMPLETING THIS FORM.</em>
				</strong>
			</p>
		</div>
	</div>

	<!-- Spouse -->
	<div class="row">
		<div class="col-lg-4 col-xs-12">
			<div class="hidden-xs">
				SPOUSE LEGAL LAST NAME
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<div class="hidden-xs">
				SPOUSE LEGAL FIRST NAME
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				SPOUSE LEGAL FIRST NAME
			</div>
		</div>
		<div class="col-lg-1 col-xs-12">
			<div class="hidden-xs">
				GENDER
			</div>
		</div>
	</div>
	<div class="row box box-lg vspace">
		<div class="col-lg-4 col-xs-12 border-right">
			<div class="visible-xs">
				SPOUSE LEGAL LAST NAME
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-4 col-xs-12 border-right">
			<div class="visible-xs">
				SPOUSE LEGAL FIRST NAME
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 border-right">
			<div class="visible-xs">
				SPOUSE LEGAL FIRST NAME
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-1 col-xs-12">
			<div class="visible-xs">
				GENDER
			</div>
			<div class="box-sm">
				<input type="checkbox"> M
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				BIRTHDATE (MM/DD/YYYY)
			</div>
		</div>
		<div class="col-lg-9 col-xs-12">
			<div class="hidden-xs">
				STATUS IN CANADA
			</div>
		</div>
	</div>
	<div class="row box box-lg vspace">
		<div class="col-lg-3 col-xs-12 border-right">
			<div class="visible-xs">
				BIRTHDATE (MM/DD/YYYY)
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-9 col-xs-12">
			<div class="visible-xs">
				STATUS IN CANADA
			</div>
			<div class="box-sm">
				<div class="col-lg-4 col-xs-12">
					<input type="checkbox">
				</div>
				<div class="col-lg-4 col-xs-12">
					<input type="checkbox">
				</div>
				<div class="col-lg-4 col-xs-12">
					<input type="checkbox">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-2 col-xs-12">
			<div class="hidden-xs">
				PERSONAL HEALTH (CARECARD) NUMBER
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				HAS SPOUSE LIVED IN BC SINCE BIRTH?
			</div>
		</div>
		<div class="col-lg-2 col-xs-12">
			<div class="hidden-xs text-center">
				MM/DD/YYYY
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				FROM (PROVINCE OR COUNTRY)
			</div>
		</div>
		<div class="col-lg-2 col-xs-12">
			<div class="hidden-xs">
				PREVIOUS HEALTH NUMBER
			</div>
		</div>
	</div>
	<div class="row box box-lg vspace box-thick">
		<div class="col-lg-2 col-xs-12 border-right">
			<div class="visible-xs">
				PERSONAL HEALTH (CARECARD) NUMBER
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 border-right">
			<div class="visible-xs">
				HAS SPOUSE LIVED IN BC SINCE BIRTH?
			</div>
			<div class="box-sm">
				<div class="inline-block vertical-middle">
					<input type="checkbox"> M
				</div>
				<div class="inline-block vertical-middle">
					IF NO, MOST RECENT <br>
					MOVE TO BC ->
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-xs-12 border-right">
			<div class="visible-xs">
				MM/DD/YYYY
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="visible-xs">
				FROM (PROVINCE OR COUNTRY)
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-2 col-xs-12 border-right">
			<div class="visible-xs">
				PREVIOUS HEALTH NUMBER
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
	</div>


	<!-- Child 1 -->
	<div class="row">
		<div class="col-lg-4 col-xs-12">
			<div class="hidden-xs">
				CHILD LEGAL LAST NAME
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<div class="hidden-xs">
				CHILD LEGAL FIRST NAME
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				CHILD LEGAL FIRST NAME
			</div>
		</div>
		<div class="col-lg-1 col-xs-12">
			<div class="hidden-xs">
				GENDER
			</div>
		</div>
	</div>
	<div class="row box box-lg vspace">
		<div class="col-lg-4 col-xs-12 border-right">
			<div class="visible-xs">
				CHILD LEGAL LAST NAME
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-4 col-xs-12 border-right">
			<div class="visible-xs">
				CHILD LEGAL FIRST NAME
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 border-right">
			<div class="visible-xs">
				CHILD LEGAL FIRST NAME
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-1 col-xs-12">
			<div class="visible-xs">
				GENDER
			</div>
			<div class="box-sm">
				<input type="checkbox"> M
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				BIRTHDATE (MM/DD/YYYY)
			</div>
		</div>
		<div class="col-lg-9 col-xs-12">
			<div class="hidden-xs">
				STATUS IN CANADA
			</div>
		</div>
	</div>
	<div class="row box box-lg vspace">
		<div class="col-lg-3 col-xs-12 border-right">
			<div class="visible-xs">
				BIRTHDATE (MM/DD/YYYY)
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-9 col-xs-12">
			<div class="visible-xs">
				STATUS IN CANADA
			</div>
			<div class="box-sm">
				<div class="col-lg-4 col-xs-12">
					<input type="checkbox">
				</div>
				<div class="col-lg-4 col-xs-12">
					<input type="checkbox">
				</div>
				<div class="col-lg-4 col-xs-12">
					<input type="checkbox">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-2 col-xs-12">
			<div class="hidden-xs">
				PERSONAL HEALTH (CARECARD) NUMBER
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				HAS CHILD LIVED IN BC SINCE BIRTH?
			</div>
		</div>
		<div class="col-lg-2 col-xs-12">
			<div class="hidden-xs text-center">
				MM/DD/YYYY
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				FROM (PROVINCE OR COUNTRY)
			</div>
		</div>
		<div class="col-lg-2 col-xs-12">
			<div class="hidden-xs">
				PREVIOUS HEALTH NUMBER
			</div>
		</div>
	</div>
	<div class="row box box-lg vspace box-thick">
		<div class="col-lg-2 col-xs-12 border-right">
			<div class="visible-xs">
				PERSONAL HEALTH (CARECARD) NUMBER
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 border-right">
			<div class="visible-xs">
				HAS CHILD LIVED IN BC SINCE BIRTH?
			</div>
			<div class="box-sm">
				<div class="inline-block vertical-middle">
					<input type="checkbox"> M
				</div>
				<div class="inline-block vertical-middle">
					IF NO, MOST RECENT <br>
					MOVE TO BC ->
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-xs-12 border-right">
			<div class="visible-xs">
				MM/DD/YYYY
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="visible-xs">
				FROM (PROVINCE OR COUNTRY)
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-2 col-xs-12 border-right">
			<div class="visible-xs">
				PREVIOUS HEALTH NUMBER
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
	</div>


	<!-- Child 2 -->
	<div class="row">
		<div class="col-lg-4 col-xs-12">
			<div class="hidden-xs">
				CHILD LEGAL LAST NAME
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<div class="hidden-xs">
				CHILD LEGAL FIRST NAME
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				CHILD LEGAL FIRST NAME
			</div>
		</div>
		<div class="col-lg-1 col-xs-12">
			<div class="hidden-xs">
				GENDER
			</div>
		</div>
	</div>
	<div class="row box box-lg vspace">
		<div class="col-lg-4 col-xs-12 border-right">
			<div class="visible-xs">
				CHILD LEGAL LAST NAME
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-4 col-xs-12 border-right">
			<div class="visible-xs">
				CHILD LEGAL FIRST NAME
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 border-right">
			<div class="visible-xs">
				CHILD LEGAL FIRST NAME
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-1 col-xs-12">
			<div class="visible-xs">
				GENDER
			</div>
			<div class="box-sm">
				<input type="checkbox"> M
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				BIRTHDATE (MM/DD/YYYY)
			</div>
		</div>
		<div class="col-lg-9 col-xs-12">
			<div class="hidden-xs">
				STATUS IN CANADA
			</div>
		</div>
	</div>
	<div class="row box box-lg vspace">
		<div class="col-lg-3 col-xs-12 border-right">
			<div class="visible-xs">
				BIRTHDATE (MM/DD/YYYY)
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-9 col-xs-12">
			<div class="visible-xs">
				STATUS IN CANADA
			</div>
			<div class="box-sm">
				<div class="col-lg-4 col-xs-12">
					<input type="checkbox">
				</div>
				<div class="col-lg-4 col-xs-12">
					<input type="checkbox">
				</div>
				<div class="col-lg-4 col-xs-12">
					<input type="checkbox">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-2 col-xs-12">
			<div class="hidden-xs">
				PERSONAL HEALTH (CARECARD) NUMBER
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				HAS CHILD LIVED IN BC SINCE BIRTH?
			</div>
		</div>
		<div class="col-lg-2 col-xs-12">
			<div class="hidden-xs text-center">
				MM/DD/YYYY
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				FROM (PROVINCE OR COUNTRY)
			</div>
		</div>
		<div class="col-lg-2 col-xs-12">
			<div class="hidden-xs">
				PREVIOUS HEALTH NUMBER
			</div>
		</div>
	</div>
	<div class="row box box-lg vspace box-thick">
		<div class="col-lg-2 col-xs-12 border-right">
			<div class="visible-xs">
				PERSONAL HEALTH (CARECARD) NUMBER
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 border-right">
			<div class="visible-xs">
				HAS CHILD LIVED IN BC SINCE BIRTH?
			</div>
			<div class="box-sm">
				<div class="inline-block vertical-middle">
					<input type="checkbox"> M
				</div>
				<div class="inline-block vertical-middle">
					IF NO, MOST RECENT <br>
					MOVE TO BC ->
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-xs-12 border-right">
			<div class="visible-xs">
				MM/DD/YYYY
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="visible-xs">
				FROM (PROVINCE OR COUNTRY)
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-2 col-xs-12 border-right">
			<div class="visible-xs">
				PREVIOUS HEALTH NUMBER
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
	</div>


	<!-- Child 3 -->
	<div class="row">
		<div class="col-lg-4 col-xs-12">
			<div class="hidden-xs">
				CHILD LEGAL LAST NAME
			</div>
		</div>
		<div class="col-lg-4 col-xs-12">
			<div class="hidden-xs">
				CHILD LEGAL FIRST NAME
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				CHILD LEGAL FIRST NAME
			</div>
		</div>
		<div class="col-lg-1 col-xs-12">
			<div class="hidden-xs">
				GENDER
			</div>
		</div>
	</div>
	<div class="row box box-lg vspace">
		<div class="col-lg-4 col-xs-12 border-right">
			<div class="visible-xs">
				CHILD LEGAL LAST NAME
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-4 col-xs-12 border-right">
			<div class="visible-xs">
				CHILD LEGAL FIRST NAME
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 border-right">
			<div class="visible-xs">
				CHILD LEGAL FIRST NAME
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-1 col-xs-12">
			<div class="visible-xs">
				GENDER
			</div>
			<div class="box-sm">
				<input type="checkbox"> M
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				BIRTHDATE (MM/DD/YYYY)
			</div>
		</div>
		<div class="col-lg-9 col-xs-12">
			<div class="hidden-xs">
				STATUS IN CANADA
			</div>
		</div>
	</div>
	<div class="row box box-lg vspace">
		<div class="col-lg-3 col-xs-12 border-right">
			<div class="visible-xs">
				BIRTHDATE (MM/DD/YYYY)
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-9 col-xs-12">
			<div class="visible-xs">
				STATUS IN CANADA
			</div>
			<div class="box-sm">
				<div class="col-lg-4 col-xs-12">
					<input type="checkbox">
				</div>
				<div class="col-lg-4 col-xs-12">
					<input type="checkbox">
				</div>
				<div class="col-lg-4 col-xs-12">
					<input type="checkbox">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-2 col-xs-12">
			<div class="hidden-xs">
				PERSONAL HEALTH (CARECARD) NUMBER
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				HAS CHILD LIVED IN BC SINCE BIRTH?
			</div>
		</div>
		<div class="col-lg-2 col-xs-12">
			<div class="hidden-xs text-center">
				MM/DD/YYYY
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="hidden-xs">
				FROM (PROVINCE OR COUNTRY)
			</div>
		</div>
		<div class="col-lg-2 col-xs-12">
			<div class="hidden-xs">
				PREVIOUS HEALTH NUMBER
			</div>
		</div>
	</div>
	<div class="row box box-lg vspace box-thick">
		<div class="col-lg-2 col-xs-12 border-right">
			<div class="visible-xs">
				PERSONAL HEALTH (CARECARD) NUMBER
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 border-right">
			<div class="visible-xs">
				HAS CHILD LIVED IN BC SINCE BIRTH?
			</div>
			<div class="box-sm">
				<div class="inline-block vertical-middle">
					<input type="checkbox"> M
				</div>
				<div class="inline-block vertical-middle">
					IF NO, MOST RECENT <br>
					MOVE TO BC ->
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-xs-12 border-right">
			<div class="visible-xs">
				MM/DD/YYYY
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12">
			<div class="visible-xs">
				FROM (PROVINCE OR COUNTRY)
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-2 col-xs-12 border-right">
			<div class="visible-xs">
				PREVIOUS HEALTH NUMBER
			</div>
			<div class="box-sm">
				<input type="text">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<input type="checkbox">
		</div>
	</div>

	<div class="row stripe-black vspace">
		<div class="col-lg-12">
			<strong>
				<em>IF ANY OF THE CHILDREN ARE 19 TO 24 YEARS OF AGE AND ATTENDING SCHOOL ON A FULL-TIME BASIS, PLEASE COMPLETE THE SECTION BELOW.</em>
			</strong>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-xs-12 vspace">
			STUDENT LEGAL LAST NAME
			<div class="box">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-4 col-xs-12 vspace">
			STUDENT LEGAL FIRST NAME
			<div class="box">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-4 col-xs-12 vspace">
			STUDENT LEGAL SECOND NAME
			<div class="box">
				<input type="text">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-xs-12 vspace">
			SCHOOL NAME AND FULL ADDRESS
			<div class="box">
				<textarea name="" id="" cols="30" rows="5"></textarea>
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 text-center vspace">
			STUDIES WILL BE FINISHED (MM/DD/YYYY)
			<div class="box">
				<input type="text">
			</div>
		</div>
		<div class="col-lg-3 col-xs-12 text-center vspace">
			IF SCHOOL IS OUTSIDE BC, ORIGINAL DEPARTURE DATE (MM/DD/YYYY)
			<div class="box">
				<input type="text">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<input type="checkbox">
		</div>
	</div>

	<div class="row stripe-black vspace">
		<div class="col-lg-12">
			<strong>
				5 IMPORTANT INFORMATION
			</strong>
		</div>
	</div>

	<div class="row vspace">
		<div class="col-lg-12">
			<ul>
				<li>
					<p>
						<strong>IDENTIFICATION:</strong> You must send with your application: photocopies of documents that support the name and Canadian citizanship or immigration status for all persons listed. Eligibility cannot be determined without this documentation. Canadian citizens and holders of permanent resident status (landed immigrants) returning from the USA may also be asked to provide evidence of having established residence in BC and/or having abandoned their status in the USA.
					</p>
					<p>
						If any person is not enrolling under the name shown on his/her citizenship or immigrant document, please also submit a photocopy of a legal document (for example, a marriage or name change certificate) that indicates the name shown on this application.
					</p>
				</li>
				<li>
					<p>
						<strong>RESIDENCY:</strong> If your expect to leave the province for more than 30 days in total during the next 6 months, a letter outlining your planned dates of departure and return, destination and the reason for your absence is required with this application. Failure to provide this information may affect eligibility for benefits.
					</p>
				</li>
				<li>
					<p>
						<strong>EFFECTIVE DATES OF BENEFITS:</strong> New and returning residents must complete a waiting period before health care benefits begin. Generally, this period is the balance of the month of arrival in BC, plus two months. If absences from Canada exceed a total of 30 days during the waiting period, eligibility may be affected. Applications should be submitted immediately on arrival in BC, not at the end of the wating period. If you apply late, the effective date of benefits will be determined by MSP and may result in premiums being charged retroactively.
					</p>
				</li>
				<li>
					<p>
						<strong>OUT-OF-PROVINCE STUDENTS:</strong> If studying outside BC, the absence must be temporary and solely for the purpose of attending full-time studies at an accredited educational facility in a program which leads to a degree or certificate recognized in Canada.
					</p>
				</li>
				<li>
					<p>
						<strong>CANCELLATION OF BENEFITS:</strong> Failure to remit premiums does not constitute notification to cancel benefits. If you will no longer be a resident of BC, you must notify Health Insurance BC that this is the case, and provide your date of departure from the province and your new address; otherwise, premium invoicing may occur.
					</p>
				</li>
				<li>
					<p>
						<strong>CHANGE OF NAME OR ADDRESS:</strong> Health Insurance BC must be notified immediately of any change of name or address.
					</p>
				</li>
				<li>
					<p>
						<strong>LEGISLATION:</strong> All information is subject to change in accordance to the <em>Medicare Protection Act</em> and Regulations and the <em>Hospital Insurance Act</em> and Regulations. If a discrepancy exists between the information Health Insurance BC has provided on this application and legislation, the legislation will prevail.
					</p>
				</li>
			</ul>
			<p>
				Personal information on this form is collected under the authority of the <em>Medicare Protection Act</em>. The information will be used to determine eligibility for provincial health care benefits. If you have questions about the collection of this information, contact Health Insurance BC at the address or telephone numbers on Page 1. Personal information is protected from unauthorized use and disclosure in accordance with the <em>Freedom of Information and Protection of Privary Act</em> and may be disclosed only as provided by that Act.
			</p>
		</div>
	</div>

	<footer class="row">
		<div class="col-lg-12 text-right">
			HLTH 167
		</div>
	</footer>

	<div class="square-top-left"></div>
	<div class="square-top-right"></div>
	<div class="square-bottom-left"></div>
	<div class="square-bottom-right"></div>
</main>
