<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement --> 
<div class="modal" id="modal" style="display:none;">
    <div class="modal-content">
        <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
        <p><$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten signature.':client.env.param.verbiage)></p>
        <div class="row">
            <div class="col-lg-12">
                <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp; 
                <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;"> 
                    <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature','eSignature1','full_name','modal','over','sv','date');xbObj('eSignature1').value='';document.getElementById('eSignature1').focus();">&nbsp; 
                    <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','date');}">&nbsp; 
                    <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';"> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal2" style="display:none;">
    <div class="modal-content">
        <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
        <p><$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten signature.':client.env.param.verbiage)></p>
        <div class="row">
            <div class="col-lg-12"> 
                <strong>Type your Name:</strong> <input type=text id="eSignature2" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp; 
                <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;"> 
                    <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature2','eSignature2','SignerMan','modal2','over','sv2','date2');xbObj('eSignature2').value='';document.getElementById('eSignature2').focus();">&nbsp; 
                    <input id="clear-sig-2" type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature2').value='';showHide('modal2');showHide('over');xbObj('eSignature2').value='';if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature2','date2');}">&nbsp; 
                    <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal2');showHide('over');xbObj('eSignature2').value='';"> 
                </div>
            </div>
        </div>
    </div>
</div>

<div id="over" style="display:none;"></div>
<!-- RESPONSIVE eFORM PAGE LOADER-->
<div class="modal" style="display:block; background: #002E6D;">
  <div class="fb-spinner">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<form id="netherlands-intern-agreement" name="frmForm" action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);" role="form">
    <div hidden>
        <$client.env.FormField.Form_Name.prompt>
        <$client.env.FormField.Form_Name.HTML>
        <$client.env.FormField.Form_Type.prompt>
        <$client.env.FormField.Form_Type.HTML>
        <$client.env.FormField.Form_Owner.prompt>
        <$client.env.FormField.Form_Owner.HTML>
        <$client.env.FormField.Form_CreateDate.prompt>
        <$client.env.FormField.Form_CreateDate.HTML>
        <$client.env.FormField.Form_Completed.prompt>
        <$client.env.FormField.Form_Completed.HTML>
        <$client.env.FormField.Form_Delivered.prompt>
        <$client.env.FormField.Form_Delivered.HTML>
        <$client.env.FormField.Form_TaskId.prompt>
        <$client.env.FormField.Form_TaskId.HTML>
        <$client.env.FormField.display_version.HTML>
        <!-- Replace With eForm Specific Data Field Prompts From Formalizer-->
    </div>
    <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">
<main class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="img-wrapper">
                <img src="<$link;/RedCarpet/Onboarding/Uploads/Images/paypal_logo.jpg>" alt="PayPal Logo" class="img-responsive">
            </div>
        </div>
    </div>
    <template id="fragment-1">
        <p>&nbsp;</p>
    </template>
    <template id="fragment-2">
        <p>&nbsp;</p>
        <p class="text-right">Amsterdam, <mark><%= Current_Date %></mark></p>
        <p>&nbsp;</p>
        <p class='center'><strong><u>INTERNSHIP AGREEMENT</u></strong></p>
        <p>&nbsp;</p>
        <p><strong>THE UNDERSIGNED:</strong>
        <p>1. <strong>PayPal PLC, Netherlands Branch</strong>, a public limited company formed under the laws of Ireland with its registered office at Ballycoolin Business Park, Ballycoolin Road, Blanchardstown, Dublin 15, D15 VNC4 and company number 646492, hereinafter to be referred to as the ‘Employer’ or the ‘Company’;
        <p><strong>and</strong></p>
        <p>2. <mark><$client.tForWhomUserInfo.First_Name> <$client.tForWhomUserInfo.Middle_Name><$client.env.eval(client.tForWhomUserInfo.Middle_Name.length()>0?' ':'')><$client.tForWhomUserInfo.Last_Name></mark>, residing at <mark><$client.tForWhomUserInfo.Address1></mark> <% if ('<$client.tForWhomUserInfo.Address2>'.length > 0) { %>&nbsp;<mark><$client.tForWhomUserInfo.Address2></mark><% } %> <% if ('<$client.tForWhomUserInfo.City>'.length > 0) { %>&nbsp;<mark><$client.tForWhomUserInfo.City></mark><% } %><% if ('<$client.tForWhomUserInfo.Zip>'.length > 0) { %>, <mark><$client.tForWhomUserInfo.Zip></mark>,<% } %> hereinafter referred to as “the intern”, </p>
        <p>&nbsp;</p>
        <p><strong>HAVE AGREED AS FOLLOWS:</strong>
        <p>&nbsp;</p>   
        <p><u>Article 1</u><br>
            The Company offers the intern the opportunity to gain practical experience of theoretical knowledge he or she has already acquired and to obtain new knowledge and skills. The purpose of the internship agreement is to remain involved in the labor market and to gain relevant practical experience that helps the intern to find work. The internship is for a definite period of time. The internship starts on <mark><%= Start_Date %></mark> and will end on <mark><%= ContractEndDate %></mark>.
        </p>

        <p><u>Article 2</u><br>
            The internship is not an employment contract within the meaning of article 7:610 of the Dutch Civil Code and is not intended as such. The internship provider (the Company) merely assigns the intern tasks with primarily a learning aspect. The Company is responsible that the activities serve the purpose of the intern agreement.
        </p>

        <p><u>Article 3</u><br>
            This agreement may be terminated by either party with due observance of the 1 week notice period.
        </p>

        <p><u>Article 4</u><br>
            This agreement ends automatically if an employment contract is concluded between the Company and the intern.
        </p>

        <p><u>Article 5</u><br>
            The tasks and responsibilities of the intern are chosen in consultation in such a way that they have learning objectives for the intern. The Company ensures that the level of duties meets the purpose of the internship agreement and competences of the intern.
        </p>

        <p><u>Article 6</u><br>
            The intern's working hours are for 40 hours, 5 days per week.
        </p>
        <% if ('<$client.tForWhomUserInfo.Workplace_Model>'=='In-Office') { %>
        <div class="marked">
            <div id="<%= makeid(); %>" data-toggle="popover" data-placement="top" data-content="Workplace Model = In Office"></div>
            <p>The Intern will perform his work at the Employer's office in Amsterdam, Barbara Strozzilaan 201, 1083 HN, The Netherlands. The Employer will be en-titled to relocate the Intern’s workplace if the Company's interests so reasonably require. In addition, the Intern may be required to travel to customers or other locations both within The Netherlands and abroad as required by the duties of the position. </p>
        </div>
        <% } %>
        <% if ('<$client.tForWhomUserInfo.Workplace_Model>'=='Virtual Flex') { %>
        <div class="marked">
            <div id="<%= makeid(); %>" data-toggle="popover" data-placement="top" data-content="Workplace Model = Virtual Flex"></div>
            <p>The Intern's role may be performed outside of a PayPal office part of the time with the use of virtual working tools the Employer provides. The Intern must work virtually from a location near to the <mark><$client.tEventCategories_Category_11.Value></mark> PayPal office within the Netherlands. In addition to any in-person working, the Intern may also be required to attend a PayPal office for in-person collaboration.  The Employer may amend or end the location of the Intern's role or remove the ability to work virtually at any time and will give the Intern notice (but will not provide any compensation) if the Employer does so. The Intern may find more details, including the Employer's expectations of the Intern, within the Employer's Offsite Working Policy and associated policies.</p>
        </div>
        <% } %>
        <% if ('<$client.tForWhomUserInfo.Workplace_Model>'=='Virtual') { %>
        <div class="marked">
            <div id="<%= makeid(); %>" data-toggle="popover" data-placement="top" data-content="Workplace Model = Virtual"></div>
            <p>The Intern's role may be performed outside of a PayPal office within the Netherlands with the use of virtual working tools the Employer provides. The Intern may also be required to attend a PayPal office for in-person collaboration. The Intern may find more details, including the Employer's expectations of the Intern, within the Employer's Offsite Working Policy and associated policies.</p>
        </div>
        <% } %>

        <p><u>Article 7</u><br>
            The intern is not entitled to work remuneration during the internship period.
        </p>

        <p><u>Article 8</u><br>
            The Company pays the intern a monthly allowance in amount of <mark><$client.tForWhomUserInfo.SalaryOffered></mark> EUR gross to reimburse the interns expenses (including travel expenses) to the extent that this allowance can be paid out tax-free pursuant to the applicable tax regulations.
        </p>

        <p><u>Article 9</u><br>
            The intern should comply with any established employees’ policies and regulations of the Company.
        </p>

        <p><u>Article 10</u><br>
            The Intern shall at all times during and after the term of the internship period accurately represent his/her position, title, role description and duties under the internship, including in any dealings with PayPal customers and suppliers and in his/her resume, social media profiles and pages (including without limitation any LinkedIn or Facebook profile), website, email signature and business card.
        </p>
        
        <p><u>Article 11</u><br>
            The Employer respects the privacy of all interns and will comply with all applicable laws regarding processing of  personal information. All such personal  information is processed in accordance with the PayPal Employee Privacy Statement, a copy of which has been given  to the intern in connection with this Agreement. The intern acknowledges that he/she has reviewed and understands the Employee Privacy Statement.
        </p>

        <p><u>Article 12</u><br>
            The intern declares that he has received a copy of the signed agreement.
        </p>

        <p>&nbsp;</p>
        <p class="text-justify">Yours sincerely,</p>
        <p class="text-justify mb-4">For PayPal PLC, Netherlands Branch<br><mark><%= signatory %></mark></p>
        <p class="hide"></p>
    </template>
    
    <div id="offer-letter-body" class="row">
        <div class="col-sm-2">
            <div id="incomplete">
                <div id="markup1"></div>
            </div>
            <div id="complete"></div>
        </div>
        <div class="col-sm-8">
            <div id="incomplete2">
                <div id="markup2"></div>
            </div>
            <div id="complete2"></div>
        </div>
    </div>
    <template id="fragment-3">
        <p class="ml-4">
            <strong>Employee:</strong>
        </p>
    </template>
    <div class="row">
        <div class="col-lg-12">
            <div id="incomplete3">
                <div id="markup3"></div>
            </div>
            <div id="complete3"></div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2 pt-2 text-sm-right">
            <label for="signature" class="control-label">Signature: <span class="text-danger">*</span></label>
        </div>
        <div class="col-sm-5">
            <$client.env.FormField.signature.HTML>
        </div>
        <div class="col-sm-1 pt-2 text-sm-right">
            <label class="control-label">Date:</label>
        </div>
        <div class="col-sm-3">
            <$client.env.FormField.date.HTML>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-2 pt-2 text-sm-right">
            <label for="full_name" class="control-label">Name:</label>
        </div>
        <div class="col-sm-5">
            <$client.env.FormField.name.HTML>
        </div>
    </div>

    <template id="fragment-4">
        <p class="ml-4">
            <strong>Employer:</strong>
        </p>
    </template>
    <div class="row">
        <div class="col-lg-12">
            <div id="incomplete4">
                <div id="markup4"></div>
            </div>
            <div id="complete4"></div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2 pt-2 text-sm-right">
            <label for="signature" class="control-label">Signature: <span class="text-danger">*</span></label>
        </div>
        <div class="col-sm-5">
            <$client.env.FormField.signature2.HTML>
        </div>
        <div class="col-sm-1 pt-2 text-sm-right">
            <label class="control-label">Date:</label>
        </div>
        <div class="col-sm-3">
            <$client.env.FormField.date2.HTML>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-2 pt-2 text-sm-right">
            <label for="full_name" class="control-label">Name:</label>
        </div>
        <div class="col-sm-5">
            <$client.env.FormField.name2.HTML>
        </div>
    </div>

    <template id="fragment-5">
        <p>&nbsp;</p>
        <p class="ml-4 fb-size9">
            PayPal PLC, Netherlands Branch - Barbara Strozzilaan 201, 1083 HN, Amsterdam, Netherlands<br>
            Registered Office: Ballycoolin Business Park, Ballycoolin Road, Blanchardstown, <br>
            Dublin 15. D15 VNC4.<br>
            Registered in Ireland No. 646492

        </p>
    </template>
    <div class="row">
        <div class="col-lg-12">
            <div id="incomplete5">
                <div id="markup5"></div>
            </div>
            <div id="complete5"></div>
        </div>
    </div>



    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="col-lg-12 clearfix">
            <div class="sign-btn-group">
                <$client.env.FormButtons>
            </div>
        </div>
    </div>
</main>

<div hidden>
    <$client.env.FormField.SignatureVerification.HTML>
    <$client.env.FormField.SignatureVerification2.HTML>
    <$client.env.FormField.hidden_pg1.HTML>
    <$client.env.FormField.hidden_pg2.HTML>     
    <$client.env.FormField.hidden_pg3.HTML>     
    <$client.env.FormField.hidden_pg4.HTML> 
    <$client.env.FormField.hidden_pg5.HTML>      
    <$client.env.formfield.EmployeeStamp.html>
    <$client.env.formfield.RecruiterStamp.html>
    <$client.env.formfield.SignatoryStamp.html>
    <$client.env.formfield.SignerMan.html>
    <$client.env.formfield.CoordinatorStamp.html>
    <$client.env.formfield.Current_Date.html>
    <$client.env.formfield.dummy_date.html>
</div>

</form>
<script src="<$link;/main/RedCarpet/FormTemplates/Netherlands_Intern_Agreement/js/bootstrap.min.js>"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/front_validator.js>"></script> 
<!--script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/moment.min.js>"></script--> 
<script src="<$link;/main/RedCarpet/FormTemplates/Netherlands_Intern_Agreement/js/ejs.min.js>"></script>
<script src="<$link;/main/RedCarpet/FormTemplates/Netherlands_Intern_Agreement/js/script.js>" defer></script>
<script>
showScreen('over');
ChangeCalendarIcons(); //for popup calendar
const thisForm = document.getElementById('netherlands-intern-agreement');
/* RESPONSIVE eFORM BUTTONS STYLE */
$(document).on('ready', function() {
  $("#buttonCancel").removeClass().addClass("lifesuite__button").prop('id','ButtonCancel');
  $("#buttonSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSave');
  $("#buttonSaveAndComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSaveAndComplete').prop('onclick', null);
  $("#buttonPrint").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPrint').prop('onclick', null);
  $("#buttonPreviewDelete").removeClass().addClass("lifesuite__button").prop('id','ButtonPreviewDelete');
  $("#buttonPreviewSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPreviewSave');
  $("#buttonComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonComplete');
  document.getElementById('formButtons').style.display = "block";
  $("input[type=text]").addClass('lifesuite__text-input');
  $("input[type=text].hasDatepicker").addClass('dateField');
  $("select").addClass('lifesuite__select-input');
  $("input[type=radio]").addClass('lifesuite__radio');
  $("input[type=checkbox]").addClass('lifesuite__checkbox');
  $("textarea").addClass('lifesuite__textarea-input');
  $('label').addClass('lifesuite__input-label lifesuite__input—block');
  $('.signDate, .dateField').parent().find('input').prop('disabled', true);
  $('#SignerMan').val("<$client.account.username_first> <$client.account.username>");



});

$(window).load(function() { 
    if (!$("input.calendar_button").length) {
        
            $("#ButtonSaveAndComplete").remove();
            $("input[type=text]").removeAttr('onfocus').attr("disabled", "disabled");
        
            $("mark").css({"background": "none", "color": "#444"});
      
    }

              //$(".modal").hide(); 

}); 

var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

var Start_Date_Day = "<$client.env.eval(Date.Format('<$client.env.eval(Date.parse(client.tEventDates_Date_2.Value))>','%d'))>";
var Start_Date_Month = "<$client.env.eval(Date.Format('<$client.env.eval(Date.parse(client.tEventDates_Date_2.Value))>','%m'))>";
var Start_Date_Year = "<$client.env.eval(Date.Format('<$client.env.eval(Date.parse(client.tEventDates_Date_2.Value))>','%Y'))>";

var ContractEndDate_Day = "<$client.env.eval(Date.Format('<$client.env.eval(Date.parse(client.tForWhomUserInfo.ContractEndDate))>','%d'))>";
var ContractEndDate_Month = "<$client.env.eval(Date.Format('<$client.env.eval(Date.parse(client.tForWhomUserInfo.ContractEndDate))>','%m'))>";
var ContractEndDate_Year = "<$client.env.eval(Date.Format('<$client.env.eval(Date.parse(client.tForWhomUserInfo.ContractEndDate))>','%Y'))>";

const data = {
    'Current_Date': document.getElementById('Current_Date').value,
    'Start_Date' :  parseInt(Start_Date_Day)  + " " + months[parseInt(Start_Date_Month) - 1] + " " + Start_Date_Year,
    'ContractEndDate' :  parseInt(ContractEndDate_Day)  + " " + months[parseInt(ContractEndDate_Month) - 1] + " " + ContractEndDate_Year,
    'signatory': ''
};
const isNewhire = $('#hidden_pg').prop('readonly') || <$client.env.eval((url.forWhom==account.userguid)?'true':'false')>;
// signature section clearing on task reopen variables
const isCoordinator = <$client.env.eval((client.role.rc_hrcoordinators==1)?'true':'false')>;
const isRecruiter = <$client.env.eval((client.tEventManagers_16.UserGuid==account.userguid)?'true':'false')>;
const isSignatory = <$client.env.eval((client.role.rc_netherlands_company_signatory>0)?'true':'false')>;
const isEmployee = <$client.env.eval((url.forWhom==account.userguid)?'true':'false')>;
const EmployeeStamp = "<$client.env.eval((url.forWhom==account.userguid)?'EmployeeStamp':'')>"; 

</script>
