<div class="container-fluid main">
    <div class="visible-sm visible-lg" style="width: 900px;">&nbsp;</div>
    <h3>New Employee Set Up eform</h3>
    <div class="box-gray">
        <div class="col-lg-12 col-md-12 blue-bg">
            <strong>EMPLOYEE INFORMATION</strong>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Name:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg border-left">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Preferred Name:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Start Date:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg border-left">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Position:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Department:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg border-left">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Manager:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Office Location:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col col-sm-6 col-xs-12 no-bg border-left">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    Territory:
                </div>
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 gray-bg">
                <strong>EQUIPMENT REQUEST – Complete by Manager</strong>
            </div>
        </div>
    </div>
    <div class="box-black box-gap">
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>New Position</strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Desktop
                    <em>(Dev and Finance only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Laptop
                    <em>(Sales, Service and Managers only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Docking Station
                    <em>(Managers only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>Monitor</strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Projector
                    <em>(Sales only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Mobile Phone
                    <em>(Sales and Managers only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>Mobile Phone area code</strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Desk Phone
                    <em>(Service only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Desk Phone Headset
                    <em>(Service only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Soft Phone – Jabber
                    <em>(Incl headset)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>HUB Access</strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    HUB Access Role
                    <em>(Provide name of current employee you would like new employee to have access similar to.)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    HUB Limit
                    <em>(Claims only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    CRM Access
                    <em>(Sales only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    CRM Territory
                    <em>(Sales only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Dev Access Required
                    <em>(Dev Only)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Specialized software request
                    <em>(Must be budgeted or special approval by IT Manager)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Direct Reports
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Equipment shipping address
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Shared Mailbox access
                    <em>(Provide list of additional mailboxes the user will need access to)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    File share access
                    <em>(Provide name of current employee you would like new employee to have access similar to.)</em>
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Additional Information/Requests
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
    </div>
    <div class="box-gray">
        <div class="row">
            <div class="col-lg-12 col-md-12 gray-bg">
                <strong>IT INFORMATION – Complete by IT</strong>
            </div>
        </div>
    </div>
    <div class="box-black">
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Active Directory Account
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Domain
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Copied Profile From
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Email Address
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Home Directory
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Phone Type
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Phone Headset
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Phone: Extension
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Phone: Direct Dial
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Mobile Number
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Additional Mailboxes
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Distribution Lists
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom-black">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Computer
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    VPN Access
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
    </div>
    <div class="box-gray">
        <div class="row">
            <div class="col-lg-12 col-md-12 gray-bg">
                <strong>HUB INFORMATION – Complete by Software Development</strong>
            </div>
        </div>
    </div>
    <div class="box-black">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 gray-bg-dark border-right">
                <strong>
                    Login Name
                </strong>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
    </div>
</div>
