  <main class="container-fluid">
    <header class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 imgr">
        <!--div class="brand-container"-->
          <img src="assets/img/paypal_logo.jpg" alt="Paypal" class="img-responsive" style="max-width:120px">
        </div>
      <!--/div-->
    </header>
    <div class="form-wrapper center-block">
      <div class="row vspace-md">
        <div class="col-lg-12">
          <h3>
            New Hire Form APAC
          </h3>
          <p class="vspace-md">
            All employees are obliged to provide documentary evidence of their right to work in <span data-html="event-country"></span> prior to commencing employment.
          </p>
        </div>
      </div>

      <div class="row vspace-md">
        <div class="col-lg-12">
          <p>
            <strong>CITIZENSHIP STATUS</strong>
          </p>
        </div>
      </div>
      <div class="row vspace-lg">
        <div class="col-lg-12">
          <label class="control-label text-left">
            Do you have citizenship in <span data-html="event-country"></span>? <span class="text-danger">*</span>
          </label>
          <div class="vspace">
            <$client.env.FormField.citizenship_status.HTML>
            <span class="help-block text-danger hide">Citizenship is required</span>
          </div>
        </div>
      </div>

      <div class="row vspace-md">
        <div class="col-lg-12">
          <p>
            <strong>NATIONAL ID &amp; PASSPORT</strong>
          </p>
        </div>
      </div>
      <div class="row vspace-md">
        <label class="col-lg-4 control-label">
          <strong>NATIONAL ID</strong>
        </label>
      </div>
      <div class="row vspace">
        <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
          Identification Type: <span class="text-danger required-by-citizenship">*</span>
        </label>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <$client.env.FormField.nid_type.HTML>
          <span class="help-block text-danger hide">Identification Type is required</span>
        </div>
      </div>
      <div class="row vspace">
        <label class="col-lg-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
          Identification Number: <span class="text-danger required-by-citizenship">*</span>
        </label>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <$client.env.FormField.nid_number.HTML>
          <span class="help-block text-danger hide">Identification Number is required</span>
        </div>
      </div>
      <div class="row vspace">
        <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
          Issued Date: <span class="text-danger required-by-citizenship">*</span>
        </label>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <$client.env.FormField.nid_issued.HTML>
          <span class="help-block text-danger hide">Issued Date is required</span>
        </div>
      </div>
      <div class="row vspace-md">
        <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
          Expiration Date: <span class="text-danger">&nbsp;&nbsp; </span>
        </label>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <$client.env.FormField.nid_expiration.HTML>
          <span class="help-block text-danger hide">Expiration Date is required</span>
        </div>
      </div>


      <div class="row vspace-md">
        <label class="col-lg-4 control-label">
          <strong>PASSPORT</strong>
        </label>
      </div>
      <div class="row vspace">
        <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
          Issuing Country: <span class="text-danger required-by-citizenship">*</span>
        </label>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <$client.env.FormField.passport_country.HTML>
          <span class="help-block text-danger hide">Issuing Country is required</span>
        </div>
      </div>
      <div class="row vspace">
        <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
          Identification Number: <span class="text-danger required-by-citizenship">*</span>
        </label>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <$client.env.FormField.passport_number.HTML>
          <span class="help-block text-danger hide">Identification Number is required</span>
        </div>
      </div>
      <div class="row vspace">
        <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
          Issued Date: <span class="text-danger required-by-citizenship">*</span>
        </label>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <$client.env.FormField.passport_issued.HTML>
          <span class="help-block text-danger hide">Issued Date is required</span>
        </div>
      </div>
      <div class="row vspace-lg">
        <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
          Expiration Date: <span class="text-danger required-by-citizenship">*</span>
        </label>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <$client.env.FormField.passport_expiration.HTML>
          <span class="help-block text-danger hide">Expiration Date is required</span>
        </div>
      </div>

      <div id="visa-information" class="hide">
        <div class="row vspace-md">
          <div class="col-lg-12">
            <p>
              <strong>VISA INFORMATION</strong>
            </p>
          </div>
        </div>
        <div class="row vspace">
          <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
            Issuing Country: <span class="text-danger">*</span>
          </label>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <$client.env.FormField.visa_country.HTML>
            <span class="help-block text-danger hide">Issuing Country is required</span>
          </div>
        </div>
        <div class="row vspace">
          <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
            Work Permit Type: <span class="text-danger">*</span>
          </label>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <$client.env.FormField.visa_permit.HTML>
            <span class="help-block text-danger hide">Work Permit Type is required</span>
          </div>
        </div>
        <div class="row vspace">
          <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
            Identification Number: <span class="text-danger">*</span>
          </label>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <$client.env.FormField.visa_number.HTML>
            <span class="help-block text-danger hide">Identification Number is required</span>
          </div>
        </div>
        <div class="row vspace">
          <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
            Issued Date: <span class="text-danger">*</span>
          </label>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <$client.env.FormField.visa_issued.HTML>
            <span class="help-block text-danger hide">Issued Date is required</span>
          </div>
        </div>
        <div class="row vspace-lg">
          <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
            Expiration Date: <span class="text-danger">*</span>
          </label>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <$client.env.FormField.visa_expiration.HTML>
            <span class="help-block text-danger hide">Expiration Date is required</span>
          </div>
        </div>
      </div>

      <div id="malaysia-specific-information" class="hide">
        <div class="row vspace-lg">
          <div class="col-lg-12">
            <p>
              <strong>MALAYSIA-SPECIFIC INFORMATION</strong>
            </p>
          </div>
        </div>
        <div class="row vspace">
          <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
            EPF Number: <span class="text-danger">*</span>
          </label>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <$client.env.FormField.mys_epf_number.HTML>
            <span class="help-block text-danger hide">EPF Number is required</span>
          </div>
        </div>
        <div class="row vspace">
          <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
            SOCSO Number: <span class="text-danger">*</span>
          </label>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <$client.env.FormField.mys_socso_number.HTML>
            <span class="help-block text-danger hide">SOCSO Number is required</span>
          </div>
        </div>
        <div class="row vspace-lg">
          <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">
            Tax Number: <span class="text-danger">*</span>
          </label>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <$client.env.FormField.mys_tax_number.HTML>
            <span class="help-block text-danger hide">Tax Number is required</span>
          </div>
        </div>
      </div>

      

    </div>

<div class="row vspace-lg2">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <label class="control-label">
            Signature: <span class="text-danger">*</span>
          </label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <div class="col-lg-11 col-sm-12 col-xs-12">
            <div id="signature-container" class="vspace">
              <$client.env.FormField.a18_Employee_Signature.HTML>
              <span class="help-block text-danger hide">Signature is required.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
          <label class="control-label">
            Date:
          </label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          
            <$client.env.FormField.a19_Date.HTML>
            
          
        </div>
      </div>
<div class=row>
<div class="col-sm-12">&nbsp;</div>
</div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <label class="control-label">
            Name:
          </label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <div class="col-lg-11 col-sm-12 col-xs-12">
            <div class="vspace">
              <$client.env.FormField.a20_Print_Employee_Name.HTML>
              <span class="help-block text-danger hide">Employee Name is required</span>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
      </div>
  
    <div class="filler hidden-sm hidden-xs">&nbsp;</div>
    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
      <div class="lifesuite__clearfix lifesuite__float-right">
        <$client.env.FormButtons>
      </div>
    </div>
  </main>
