<div class="main">
    <header class="vspaced">
        <div class="col-20">
            <img src="/assets/img/stcl.jpg" class="img-responsive" alt="">
        </div>
    </header>
    <table class="table table-bordered vspaced">
        <tbody>
            <tr>
                <td>
                    <div class="col-45">
                        Last Name
                        <input type="text">
                    </div>
                    <div class="col-45">
                        First
                        <input type="text">
                    </div>
                    <div class="col-10">
                        MI
                        <input type="text">
                    </div>
                </td>
                <td>
                    Social Security Number
                    <input type="text">
                </td>
                <td>
                    Date of Birth (MM/DD/YYYY)
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="col-40">
                        Home Address - No. and Street
                        <input type="text">
                    </div>
                    <div class="col-20">
                        City
                        <input type="text">
                    </div>
                    <div class="col-20">
                        State
                        <input type="text">
                    </div>
                    <div class="col-20">
                        Zip
                        <input type="text">
                    </div>
                </td>
                <td>
                    Home Telephone #
                    <input type="text">
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table-bordered table vspaced">
        <thead>
           <tr class="blue-bg text-center">
                <th>
                    BCBSTX Medical Plan Coverage Level
                </th>
                <th>
                    Guardian Dental Plan Coverage Level
                </th>
                <th>
                    United Healthcare Vision Plan Coverage Level
                </th>
            </tr> 
        </thead>
        <tbody>
            <tr>
                <td>
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        Waive Coverage
                   </label> 
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        EE Only
                   </label> 
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        EE &amp; Sp/Partner
                   </label> 
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        EE &amp; Child(en)
                   </label> 
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        EE &amp; Family
                   </label> 
                </td>
                <td>
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        Waive Coverage
                   </label> 
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        EE Only
                   </label> 
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        EE &amp; Sp/Partner
                   </label> 
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        EE &amp; Child(en)
                   </label> 
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        EE &amp; Family
                   </label> 
                </td>
                <td>
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        Waive Coverage
                   </label> 
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        EE Only
                   </label> 
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        EE &amp; Sp/Partner
                   </label> 
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        EE &amp; Child(en)
                   </label> 
                   <label class="indent-1 col-100">
                        <input type="checkbox">
                        EE &amp; Family
                   </label> 
                </td>
            </tr>
        </tbody>
    </table>

    <!-- spouse domestic partner -->
    <div class="table-header-top blue-bg col-40 clearfix">
        <div class="col-100">
            <label class="indent-1">
                <input type="checkbox">
                Spouse/Domestic Partner
            </label>
        </div>
        <div class="pull-right">
            <label class="indent-1">
                <input type="checkbox">
                Medical
            </label>
            <label class="indent-1">
                <input type="checkbox">
                Dental
            </label>
            <label class="indent-1">
                <input type="checkbox">
                Vision
            </label>
        </div>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="col-45">
                        Last Name
                        <input type="text">
                    </div>
                    <div class="col-45">
                        First
                        <input type="text">
                    </div>
                    <div class="col-10">
                        MI
                        <input type="text">
                    </div>
                </td>
                <td>
                    Sex (M/F)
                    <input type="text">
                </td>
                <td>
                    Date of Birth (MM/DD/YYYY)
                    <input type="text">
                </td>
                <td>
                    Social Security Number
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="col-50">
                        Home Address (if different from Employee)
                        <input type="text">
                    </div>
                    <div class="col-15">
                        Apartment Number
                        <input type="text">
                    </div>
                    <div class="col-15">
                        City
                        <input type="text">
                    </div>
                    <div class="col-15">
                        State
                        <input type="text">
                    </div>
                    <div class="col-10">
                        Zip
                        <input type="text">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- child 1-->
    <div class="table-header blue-bg col-40 clearfix">
        <div class="col-100">
            Child:
        </div>
        <div class="pull-right">
            <label class="indent-1">
                <input type="checkbox">
                Medical
            </label>
            <label class="indent-1">
                <input type="checkbox">
                Dental
            </label>
            <label class="indent-1">
                <input type="checkbox">
                Vision
            </label>
        </div>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="col-45">
                        Last Name
                        <input type="text">
                    </div>
                    <div class="col-45">
                        First
                        <input type="text">
                    </div>
                    <div class="col-10">
                        MI
                        <input type="text">
                    </div>
                </td>
                <td>
                    Sex (M/F)
                    <input type="text">
                </td>
                <td>
                    Date of Birth (MM/DD/YYYY)
                    <input type="text">
                </td>
                <td>
                    Social Security Number
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="col-50">
                        Home Address (if different from Employee)
                        <input type="text">
                    </div>
                    <div class="col-15">
                        Apartment Number
                        <input type="text">
                    </div>
                    <div class="col-15">
                        City
                        <input type="text">
                    </div>
                    <div class="col-15">
                        State
                        <input type="text">
                    </div>
                    <div class="col-10">
                        Zip
                        <input type="text">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- child 2 -->
    <div class="table-header blue-bg col-40 clearfix">
        <div class="col-100">
            Child:
        </div>
        <div class="pull-right">
            <label class="indent-1">
                <input type="checkbox">
                Medical
            </label>
            <label class="indent-1">
                <input type="checkbox">
                Dental
            </label>
            <label class="indent-1">
                <input type="checkbox">
                Vision
            </label>
        </div>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="col-45">
                        Last Name
                        <input type="text">
                    </div>
                    <div class="col-45">
                        First
                        <input type="text">
                    </div>
                    <div class="col-10">
                        MI
                        <input type="text">
                    </div>
                </td>
                <td>
                    Sex (M/F)
                    <input type="text">
                </td>
                <td>
                    Date of Birth (MM/DD/YYYY)
                    <input type="text">
                </td>
                <td>
                    Social Security Number
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="col-50">
                        Home Address (if different from Employee)
                        <input type="text">
                    </div>
                    <div class="col-15">
                        Apartment Number
                        <input type="text">
                    </div>
                    <div class="col-15">
                        City
                        <input type="text">
                    </div>
                    <div class="col-15">
                        State
                        <input type="text">
                    </div>
                    <div class="col-10">
                        Zip
                        <input type="text">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- child 3 -->
    <div class="table-header blue-bg col-40 clearfix">
        <div class="col-100">
            Child:
        </div>
        <div class="pull-right">
            <label class="indent-1">
                <input type="checkbox">
                Medical
            </label>
            <label class="indent-1">
                <input type="checkbox">
                Dental
            </label>
            <label class="indent-1">
                <input type="checkbox">
                Vision
            </label>
        </div>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <div class="col-45">
                        Last Name
                        <input type="text">
                    </div>
                    <div class="col-45">
                        First
                        <input type="text">
                    </div>
                    <div class="col-10">
                        MI
                        <input type="text">
                    </div>
                </td>
                <td>
                    Sex (M/F)
                    <input type="text">
                </td>
                <td>
                    Date of Birth (MM/DD/YYYY)
                    <input type="text">
                </td>
                <td>
                    Social Security Number
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="col-50">
                        Home Address (if different from Employee)
                        <input type="text">
                    </div>
                    <div class="col-15">
                        Apartment Number
                        <input type="text">
                    </div>
                    <div class="col-15">
                        City
                        <input type="text">
                    </div>
                    <div class="col-15">
                        State
                        <input type="text">
                    </div>
                    <div class="col-10">
                        Zip
                        <input type="text">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <!-- child 4 -->
    <div class="table-header blue-bg col-40 clearfix">
        <div class="col-100">
            Child:
        </div>
        <div class="pull-right">
            <label class="indent-1">
                <input type="checkbox">
                Medical
            </label>
            <label class="indent-1">
                <input type="checkbox">
                Dental
            </label>
            <label class="indent-1">
                <input type="checkbox">
                Vision
            </label>
        </div>
    </div>

    <table class="table table-bordered vspaced">
        <tbody>
            <tr>
                <td>
                    <div class="col-45">
                        Last Name
                        <input type="text">
                    </div>
                    <div class="col-45">
                        First
                        <input type="text">
                    </div>
                    <div class="col-10">
                        MI
                        <input type="text">
                    </div>
                </td>
                <td>
                    Sex (M/F)
                    <input type="text">
                </td>
                <td>
                    Date of Birth (MM/DD/YYYY)
                    <input type="text">
                </td>
                <td>
                    Social Security Number
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="col-50">
                        Home Address (if different from Employee)
                        <input type="text">
                    </div>
                    <div class="col-15">
                        Apartment Number
                        <input type="text">
                    </div>
                    <div class="col-15">
                        City
                        <input type="text">
                    </div>
                    <div class="col-15">
                        State
                        <input type="text">
                    </div>
                    <div class="col-10">
                        Zip
                        <input type="text">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Health care savings account -->
    <table class="table table-bordered vspaced">
        <thead>
            <tr>
                <th colspan="2" class="blue-bg">
                    Heath Savings Account (HAS): STCLH is contributing $900 towards the EE only deductible and &#36;1,800 towards the family deductible. 
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 50%;">
                    <label class="indent-1 multiline-checkbox">
                        <input type="checkbox">
                        <div class="col-50 vertical-top indent-1">
                            Health Savings Account Election
                            <em class="text-blue">(Must enroll in HDHP to be eligible)</em>
                        </div>
                    </label>
                </td>
                <td>
                    &#36; <div class="col-15"><input type="text"></div>&nbsp;Per Pay Period election amount <em>(Please refer to Benefit Summary Guide for maximum contribution amounts)</em>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Flexible spending accounts -->
    <table class="table table-bordered vspaced">
        <thead>
            <tr>
                <th colspan="2" class="blue-bg">
                    Heath Savings AFlexible spending accountsle. 
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 50%;">
                    <div class="col-100">
                        <label class="indent-1">
                            <input type="checkbox">
                            Health Care Reimbursement election
                        </label>
                    </div>
                    <div class="col-100">
                        <label class="indent-1">
                            <input type="checkbox">
                            Decline participation
                        </label>
                    </div>
                </td>
                <td>
                    &#36; <div class="col-15"><input type="text"></div>&nbsp;<u><strong>Plan Year</strong></u> election <em>(&#36;2,550 Max per year)</em>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;">
                    <div class="col-100">
                        <label class="indent-1">
                            <input type="checkbox">
                            Dependent Care Reimbursement election
                        </label>
                    </div>
                    <div class="col-100">
                        <label class="indent-1">
                            <input type="checkbox">
                            Decline participation
                        </label>
                    </div>
                </td>
                <td>
                    &#36; <div class="col-15"><input type="text"></div>&nbsp;<u><strong>Plan Year</strong></u> election <em>(&#36;5,000<sup>1</sup> Max per year)</em>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    Please read the Flexible Spending Account section before completing this section. The contribution amount deducted from each paycheck will be your annual election divided by 24 pay periods. If you are not eligible to participate until after the 1st pay period of the Plan year, your pay deduction will be pro-rated by dividing your annual election by the number of pay periods remaining in the Plan year. IRS regulations require that any FSA contributions not used to reimburse eligible expenses incurred during the Plan year must be forfeited. <br>
                    <sup>1</sup> Max &#36;2,500 if married and filling a separate tax return and max contribution of $250 per mo. for one child. Inquire about specific limitations if your spouse is a student or incapacitated.
                </td>
            </tr>
        </tfoot>
    </table>

    <!-- employee optional life insurance -->
    <h3 class="indent-1">Refer to Rate Tables for Optional Life and AD&amp;D that are in the Benefit Summary Booklet</h3>
    <table class="table table-bordered vspaced">
        <thead>
            <tr>
                <th class="blue-bg text-left">
                    Employee Optional Life Insurance**
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="col-100">
                        <label class="indent-1 multiline-checkbox">
                            <input type="checkbox">
                            <span class="indent-1"> I wish to elect the following amount of Optional Employee Life Insurance </span>
                        </label> 
                        (Increments of $10,000 up to $500,000). &#36;<div class="col-10"><input type="text"></div>
                        <div class="text-note-indent">
                        Note: For new hires, elected amounts greater than $100,000, will be subject to medical underwritting. Late enrollees are subject to medical underwritting for any additional amount. The maximum benefit amount is limited to the lesser of 5 times your salary or $500,000.
                        </div>
                        
                    </div>
                    <div class="col-100">
                        <label class="indent-1">
                            <input type="checkbox">
                            <div class="col-30 indent-1">
                                I wish to waive coverage.
                            </div>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Basic Dependent Life Benefit -->
    <table class="table table-bordered vspaced">
        <thead>
            <tr>
                <th class="blue-bg text-left">
                    Basic Dependent Life Benefit: $10,000 for spouse/partner and $5,000 for each child under age 19 or, if full-time student, age 25.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="col-100">
                        <label class="indent-1">
                            <input type="checkbox">
                            <div class="col-30 indent-1">
                                I wish to elect basic dependent life.
                            </div>
                        </label>
                    </div>
                    <div class="col-100">
                        <label class="indent-1">
                            <input type="checkbox">
                            <div class="col-30 indent-1">
                                I wish to waive coverage.
                            </div>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Spouse/Partner Optional Life Insurance -->
    <table class="table table-bordered vspaced">
        <thead>
            <tr>
                <th class="blue-bg text-left">
                    Spouse/Partner Optional Life Insurance** (Cannot exceed 100% of the Employee Optional Term Life amount)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="col-100">
                        <label class="indent-1 multiline-checkbox">
                            <input type="checkbox">
                            <span class="indent-1">I wish to elect the following amount of Optional Spouse Life Insurance</span>
                        </label> 
                        (Increments of $10,000 up to $250,000). &#36;<div class="col-10"><input type="text"></div>
                        <div class="text-note-indent">
                            Note: For new hires, elected amounts greater than $20,000, will be subject to medical underwritting. Late enrollees are subject to medical underwritting for <u>any</u> additional amount. <u>Spouse/Partner Optional Life Insurance cannot exceed 100% of the Employee Optional Life Amount.</u>
                        </div>
                    </div>
                    <div class="col-100">
                        <label class="indent-1">
                            <input type="checkbox">
                            <div class="col-30 indent-1">
                                I wish to waive coverage.
                            </div>
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="indent-1 vspaced">
        <small>
            **If you elect over the optional life guarantedd issue (GI) amount of $100,000 for Employee and/or $20,000 for Spouse/partner, you will be mailed an Evidence of Insurability form to provide proof of good health to the carrier. Your coverage, and the applicable premium, will be at the GI amount until the carrier approves a greater amount. If you elect any amount of optional life after your new hire eligibilty date, you must complete an Evidence of Insurabiltiy form and qualify for additional coverage.
        </small>
    </div>

    <!-- Beneficiary Designation -->
    <table class="table table-bordered vspaced">
        <thead>
            <tr>
                <th class="blue-bg text-left">
                    Beneficiary Designation - Basic Term Life &amp; AD&amp;D, Employee Optional Life
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>Complete this section even if you declined optional life coverage(s).</strong> You are automaticall y enrolled in employer-paid Basic Term Life and AD&amp;D and should designate a beneficiary for these plans. If more than one primary beneficiary is designated, please attach a separate page specifying all beneficiary information. Settlement will be made in equal shares to the designated primary beneficiaries who are then still living, unless their shares are specified. You are the beneficiary for any dependent coverage. If there is no named beneficiary, or no beneficiary survives the insured, settlement will be made in accordance with the terms of the group contract.
                </td>
            </tr>
            <tr>
                <td class="blue-bg">
                    Primary Beneficiary Designation
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-20">
                        (1) <span class="indent-3">Last Name</span>
                        <input type="text">
                    </div>
                    <div class="col-20">
                        First Name
                        <input type="text">
                    </div>
                    <div class="col-10">
                        M.I.
                        <input type="text">
                    </div>
                    <div class="col-20">
                        Social Security Number
                        <input type="text">
                    </div>
                    <div class="col-20">
                        Relationship
                        <input type="text">
                    </div>
                    <div class="col-10">
                        Percentage
                        <input type="text">
                    </div>
                    <div class="col-95">
                        Address
                        <input type="text">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="blue-bg">
                    Contingent Beneficiary Designation
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-20">
                        (1) <span class="indent-3">Last Name</span>
                        <input type="text">
                    </div>
                    <div class="col-20">
                        First Name
                        <input type="text">
                    </div>
                    <div class="col-10">
                        M.I.
                        <input type="text">
                    </div>
                    <div class="col-20">
                        Social Security Number
                        <input type="text">
                    </div>
                    <div class="col-20">
                        Relationship
                        <input type="text">
                    </div>
                    <div class="col-10">
                        Percentage
                        <input type="text">
                    </div>
                    <div class="col-95">
                        Address
                        <input type="text">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-20">
                        (2) <span class="indent-3">Last Name</span>
                        <input type="text">
                    </div>
                    <div class="col-20">
                        First Name
                        <input type="text">
                    </div>
                    <div class="col-10">
                        M.I.
                        <input type="text">
                    </div>
                    <div class="col-20">
                        Social Security Number
                        <input type="text">
                    </div>
                    <div class="col-20">
                        Relationship
                        <input type="text">
                    </div>
                    <div class="col-10">
                        Percentage
                        <input type="text">
                    </div>
                    <div class="col-95">
                        Address
                        <input type="text">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="indent-1 vspaced">
        I authorize South Texas College of Law Houston to deduct from my earnings the employee contributions listed above for coverage(s) that I have elected. I understand that medical, dental, vision and flexible spending account contributions are taken "before tax" which results in a tax advantage to me, thereby reducing my gross salary for FICA and possibly affecting my Social Security Retirement Benefit. These elections cannot be changed until the next open enrollment unless I have an IRS qualified change in status.
    </div>
    <div class="indent-1 vspaced">
        If I want to change my health care FSA election(s) due to qualified change in status, I must provide an enrollment change form to Human Resources within 31 days of the effective date of the status change.
    </div>
    <div class="signature-container">
        <div class="col-40 vertical-middle">
            Employee Name:
            <input type="text">
        </div>
        <div class="col-20 vertical-middle">
            Date:
            <input type="text">
        </div>
        <div class="col-40 vertical-middle">
            <div class="pull-right col-50">
                <img src="/assets/img/stcl.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
