<div class="container-fluid main">
    <header class="clearfix">
        <div class="pull-right">
            <img src="/assets/img/yume_logo.jpg" alt="" class="img-responsive" />
        </div>
        <h2 class="col-md-offset-1 col-lg-offset-1">
            <strong>
                New Hire Request Form 
            </strong>
        </h2>
    </header>
    <h4>
        IT Access Requests
    </h4>
    <div class="box">
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg">
                <strong>
                    Today's Date 
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg">
                <strong>
                    Requested Start Date
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg">
                <strong>
                    End Date (<em>For Contractor/Freelancer ONLY</em>)
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg">
                <strong>
                    Employee Name (First Name &amp; Last Name)
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg">
                <strong>
                    Title
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg">
                <strong>
                    Department
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg">
                <strong>
                    Manager
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg">
                <strong>
                    Office Address/Location
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg">
                <strong>
                    Desk Location
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom text-red">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg text-center">
                <strong>
                    Email Access
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg border-left text-center">
                <strong>
                    Comments
                </strong>
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg">
                Email Distribution Lists
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg">
                Shared Drive Access
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom gray-bg text-red text-center">   
            <div class="col-md-4 col-lg-4 col-sm-8 col-xs-8">
                <strong>
                    Hardware
                </strong>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-4 border-left">
                <strong>
                    Yes/No
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 border-left">
                <strong>
                    Comments
                </strong>
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-4 col-lg-4 col-sm-8 col-xs-8 no-bg">
                Laptop?
            </div>
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-4 border-left no-bg">
                <label for="">
                    <input type="radio"> No
                </label>
                <label for="">
                    <input type="radio"> Yes
                </label>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 border-left no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-4 col-lg-4 col-sm-8 col-xs-8 no-bg">
                Desk Phone?
            </div>
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-4 border-left no-bg">
                <label for="">
                    <input type="radio"> No
                </label>
                <label for="">
                    <input type="radio"> Yes
                </label>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 border-left no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-4 col-lg-4 col-sm-8 col-xs-8 no-bg">
                Monitor/Keyboard/Mouse?
            </div>
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-4 border-left no-bg">
                <label for="">
                    <input type="radio"> No
                </label>
                <label for="">
                    <input type="radio"> Yes
                </label>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 border-left no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-4 col-lg-4 col-sm-8 col-xs-8">
                Confluence? <br>
                <strong>
                    <em>
                        Provide the space names as applicable
                    </em>
                </strong>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-4 col-xs-4 border-left no-bg">
                <label for="">
                    <input type="radio"> No
                </label>
                <label for="">
                    <input type="radio"> Yes
                </label>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 border-left no-bg">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg">
                Additional Software Request
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
    </div>
    <h4>
        On-line Access Requests (PLEASE FOLLOW ALL INTRUCTIONS TO REQUEST ACCESS)
    </h4>
    <div class="box">
        <div class="row border-bottom text-red">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg text-center">
                <strong>
                    Application/Software Request
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg border-left text-center">
                <strong>
                    Comments
                </strong>
            </div>
        </div>
        <div class="border-bottom">
            <p class="text-center">
                Prior to start date, IT will send a notification of account and laptop activation with an assigned email address.
            </p>
            <p class="text-center">
                The hiring manager will need to submit a ticket to TSE requesting access to YFN
            </p>
            <p class="text-center">
                <strong>
                    Please send an email to <a href="mailto:yume_support@yume.com">yume_support@yume.com</a>. If you are looking to “mirror” someone else’s account please include the name and email address of the person that already has an existing account
                </strong>
            </p>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg">
                <h4>
                    <span class="text-red">
                        Oracle Access?
                    </span>
                    <small>
                        <em>
                            <strong>
                                See comments field for instructions
                            </strong>
                        </em>
                    </small>
                </h4>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 border-left text-center">
                Submit an email request to Oracle Support at <br>
                <a href="mailto:oraclesupport@yume.com">oraclesupport@yume.com</a>
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg">
                <h4>
                    <span class="text-red">
                        Cognos Access?
                    </span>
                    <small>
                        <em>
                            <strong>
                                See comments field for instructions
                            </strong>
                        </em>
                    </small>
                </h4>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 border-left text-center">
                Submit an email request to Oracle Support at <br>
                <a href="mailto:salesbusops@yume.com">salesbusops@yume.com</a>
            </div>
        </div>
        <div class="row border-bottom text-red">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg text-center">
                <strong>
                    Salesforce
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 gray-bg border-left text-center">
                <strong>
                    Comments
                </strong>
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               Setup “new hire” similar to current user? 
                <strong>If yes, provide current user’s name in the comments box</strong> 
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 border-left no-bg">
                <div class="col-md-1 col-lg-1">
                    <strong>Name:</strong>
                </div>
                <div class="col-md-11 col-lg-11">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
        <div class="row border-bottom">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg-multiline">
                <strong>
                    Sales Division, manager, profile, role?
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 border-left text-center no-bg-multiline">
                Submit an email request to Salesforce Support at <a href="mailto:sfsupport@yume.com">sfsupport@yume.com</a> with ALL appropriate information.
            </div>
        </div>
        <div class="row">   
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-bg-multiline">
                If Backfilling position, transfer records to “new hire” from which user?
                <strong>
                    Provide name in the comments box and select which info types to transfer
                </strong>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 border-left no-bg-multiline">
                <strong>Name:</strong>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <input type="checkbox"> Account
                    <input type="checkbox"> Account
                    <input type="checkbox"> Account
                </div>
            </div>
        </div>
    </div>
</div>
