<div class="container-fluid main">
    <header class="text-center">
        <div class="inline-block logo-wrapper">
            <img src="/assets/img/graebel_logo.jpg" alt="" class="img-responsive">
        </div>
    </header>
    <div class="row">
        <div class="inline-choices">
            <input type="checkbox">NEW HIRE
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
            <strong>
                (If you checked the new hire or rehire box, fill out sections 1, 2, &amp; 3. If you checked the change box, only fill out what’s changed.)
            </strong>
        </div>
    </div>
    <div class="thick-box vspace">
        <div class="thick-box-inner">
            <div class="row border-bottom">
                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 border-right">
                    <strong>
                        Employee Name 
                    </strong>
                    (As shown on Social Security Card)
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            First:
                            <input type="text" class="lifesuite__text-input">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            Middle:
                            <input type="text" class="lifesuite__text-input">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            Last:
                            <input type="text" class="lifesuite__text-input">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 border-right">
                    <strong>
                        Employee ID (HR to fill in)
                    </strong>
                    <div class="hidden-sm hidden-xs">&nbsp;</div>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Street Address 
                    </strong>
                    (Add mailing address if different from residence address)
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                    <strong>
                        City
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Country
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 border-right">
                    <strong>
                        State
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 border-right">
                    <strong>
                        Country
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 border-right">
                    <strong>
                        Providence
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 border-right">
                    <strong>
                        Zip Code
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 border-right">
                    <strong>
                        Phone Number Type
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <strong>
                        Phone Number
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <strong>
                        Relocating?
                    </strong>
                    <div class="inline-choices radio-checkbox">
                        <input type="checkbox"> Yes
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-right border-left">
                    <strong>
                        If yes, to which State?
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-right">
                    <strong>
                        Estimated month &amp; year of relocation:
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <strong>
                        Personal Email Address
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
    </div>
    <div class="thick-box vspace">
        <div class="thick-box-inner">
            <div class="row border-bottom">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong>
                        Ethnic Group
                    </strong>
                    <div class="inline-choices radio-checkbox label-normal">
                        <input type="checkbox"> White
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong>
                        Disability Status
                    </strong>
                    <div class="inline-choices radio-checkbox label-normal">
                        <input type="checkbox"> White
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    **For definitions for each of the above categories, please see the Invitation to Self Identify form.
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong>
                        Military Status
                    </strong>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="inline-choices radio-checkbox label-normal inline-block">
                        <input type="checkbox"> Disabled
                    </div>
                    <div class="inline-choices radio-checkbox label-normal inline-block">
                        <input type="checkbox"> Disabled
                    </div>
                    <div class="inline-choices radio-checkbox label-normal inline-block">
                        <input type="checkbox"> Disabled
                    </div>
                    <div class="inline-choices radio-checkbox label-normal inline-block">
                        <input type="checkbox"> Disabled
                    </div>
                    <div class="inline-choices radio-checkbox label-normal inline-block">
                        <input type="checkbox"> Disabled
                    </div>
                    <div class="inline-block">
                        (Date of Separation:
                        <div class="inline-block">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                    </div>
                    <div class="inline-choices radio-checkbox label-normal inline-block">
                        <input type="checkbox"> Disabled
                    </div>
                    <div class="inline-choices radio-checkbox label-normal inline-block">
                        <input type="checkbox"> Disabled
                    </div>
                    <div class="inline-choices radio-checkbox label-normal inline-block">
                        <input type="checkbox"> Disabled
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    **For definitions for each of the above categories, please see the Invitation to Self Identify form.
                </div>
            </div>
        </div>
    </div>
    <div class="thick-box vspace">
        <div class="thick-box-inner">
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <strong>
                        Emergency Contact Name
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 border-left">
                    <strong>
                        Emergency Contact Relationship:
                    </strong>
                    <div class="inline-choices radio-checkbox">
                        <input type="checkbox">Spouse
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong>
                        Emergency Contact Street Address
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Emergency Contact City
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Emergency Contact State
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <strong>
                        Emergency Contact Zip
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Emergency Contact Phone
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Emergency Contact Work Phone
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
    </div>
    <p class="text-center text-blue">
        TO BE COMPLETED BY HR CONTACT
    </p>
    <div class="box text-blue">
        <div class="row border-bottom">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                Branch Number
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                ADP Pay Group
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                Department Number
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                General Ledger Job Cost #
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-right">
                Tier
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                Job Title
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-right">
                Job Code
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 border-right">
                Job Grade
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                Employee Type
                <div class="hidden-sm hidden-xs">&nbsp;</div>
                <div class="radio-checkbox label-normal inline-choices">
                    <input type="checkbox"> Hourly
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-right">
                Supervisor
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                Hire/Rehire Date
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-right">
                <strong>
                    People Group 
                </strong>
                (select one)
                <div class="radio-checkbox label-normal inline-choices">
                    <input type="checkbox"> Administrative
                    <div class="inline-block">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                Eligible for Auto Allowance?
                <div class="radio-checkbox label-normal inline-choices">
                    <input type="checkbox"> No
                     If yes, amount:
                    <div class="inline-block">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12 border-right">
                <strong>
                    Employee’s Work Location 
                </strong>
                (select one):
                <div class="radio-checkbox label-normal inline-choices">
                    <input type="checkbox">
                    Graebel Facility:
                    <div class="inline-block">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                    <input type="checkbox">
                    Client Site:
                    <div class="inline-block">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                    <input type="checkbox">
                    Home
                    <div class="inline-block">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                Receive Paid Time Off?
                <div class="radio-checkbox label-normal inline-choices">
                    <input type="checbox"> Yes
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                <strong>
                    Employee Status 
                </strong>
                (select one)
                <div class="radio-checkbox label-normal inline-choices">
                    <input type="checkbox"> Regular Full Time
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <strong>
                    Residential Sales Draw Amount 
                </strong>
                (define below):
                <div class="radio-checkbox label-normal inline-choices">
                    <input type="checkbox">$
                    <div class="inline-block">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                    for
                    <div class="inline-block">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                    pay periods
                </div>
            </div>
        </div>
    </div>
    <div class="thicker-box row vspace">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                For New Hire/Rehire:This form Must Be Accompanied by a Compensation Committee Approved Personnel    Requisition. <br>
                For Change: This form must be accompanied by required supporting documentation.
        </div>
    </div>
    <footer class="text-center">
        Corporate Human Resources <br>
        REVISED July 2017
    </footer>
</div>
