<main>
  <header class="vspace">
    <strong>AGGREKO NORTH AMERICA</strong>
  </header>
  <h3 class="vspace text-center">
    <strong>
      TOOL POLICY<br>
      ACKNOWLEDGEMENT/ENROLLMENT FORM
    </strong>
  </h3>
  <div class="policy-wrapper vspace center-block">
    <$client.env.FormField.a01_BI0303.HTML>
    <a href="#" target="_blank">BI0303 Tool Policy Acknowledgement</a>
  </div>
  <p class="vspace">
    I,
    <span class="inline-block col-45">
      <$client.env.FormField.a01_full_name.HTML>
    </span>
    , have read the Aggreko Tool Policy and understand that I am responsible for all company issued tools. I understand that if any tool, be it company issued or personal, is lost or stolen, I must replace it at the current market value.
  </p>
  <p class="vspace">
    Tool insurance is provided, at no cost to the employee, to those employees who require certain tools to perform their job. These tools include both Aggreko issued and personal tools. There is a $100.00 deductible, which the employee is responsible for and this coverage is presently limited to $3,500.00. This policy pays only for tools stolen. A forced entry must be noted in the police report. The policy will not pay for tools lost or stolen without a forced entry.
  </p>
  <p class="vspace-lg">
    The employee should retain a list of the tools in his/her possession along with costs so that in the event of a claim being filed, there is confirmation of the tools and costs. The employee is also encouraged to retain the receipts of such tools so that claims are easier to process.
  </p>
  <div class="vspace-lg">
    <div class="col-70 vertical-top vspace">
      <$client.env.FormField.a02_signature.HTML>
      Signature
    </div>
    <div class="col-30 vertical-top vspace">
      <$client.env.FormField.a03_date.HTML>
      Date
    </div>
  </div>
  <footer>
    <div class="col-70 vertical-middle">
      Revision: 02/2014
    </div>
    <div class="col-30 vertical-middle text-right">
      BI 0303
    </div>
  </footer>
</main>
