<main>
    <header class="clearfix">
        <div class="col-30 pull-right">
            <img src="/assets/img/WH_logo.jpg" class="img-responsive" alt="">
        </div>
    </header>
    <section class="text-center">
        New Attorney Form
    </section>
    <h3 class="text-center">
        <u>
            Profile Information
        </u>
    </h3>
    <section>
        <div class="form-grp">
            First Name:
            <div class="col-30">
                <input type="text">
            </div>
            Middle Initial:
            <div class="col-10">
                <input type="text">
            </div>
            Last Name:
            <div class="col-30">
                <input type="text">
            </div>
        </div>
        <div class="form-grp">
            Preferred Name:
            <div class="col-40">
                <input type="text">
            </div>
        </div>
        <div class="form-grp clearfix">
            Date of Birth:
            <div class="col-30">
                <input type="text">
            </div>
            <div class="col-50 pull-right">
                SSN:
                <div class="col-90">
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="form-grp">
            Marital Status:
            <div class="col-40">
                <input type="text">
            </div>
        </div>
        <div class="form-grp">
            Email:
            <div class="col-40">
                <input type="text">
            </div>
        </div>
        <div class="form-grp">
            Address Line 1:
            <div class="col-85">
                <input type="text">
            </div>
        </div>
        <div class="form-grp">
            Address Line 2:
            <div class="col-85">
                <input type="text">
            </div>
        </div>
    </section>
</main>
