<div class="container-fluid main">
    <header class="row text-center">
        <div class="brand-logo center-block">
            <img src="/assets/img/graebel_logo.jpg" alt="" class="img-responsive">
        </div>
        <div class="form-type">
            <input type="checkbox">
            NEW HIRE
        </div>
        <h4>
            Ireland
        </h4>
        <em>
            (Employee to complete first four sections)
        </em>
    </header>
    <div class="thick-box vspace">
        <div class="thick-box-inner">
            <div class="row border-bottom">
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 border-right">
                    <div class="row">
                        <strong>
                            Employee Name
                        </strong>
                        (Legal)
                    </div>
                    First:
                    <div class="inline-block col-30">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                    Middle:
                    <div class="inline-block col-25">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                    Last:
                    <div class="inline-block col-25">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <strong>
                        Employee ID
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Street Address
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 border-right">
                    <strong>
                        City
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <strong>
                        Town
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Locality
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Country
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Providence
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Postal Code
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Phone Number Type
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <strong>
                        Phone Number
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                    <strong>
                        Non EEA Citizen
                    </strong>
                    <div class="row">
                        <div class="inline-choices">
                        <input type="checkbox">Y
                        If “N”, provide copy of 
                        <strong>
                            GNIBN
                        </strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 border-right border-left">
                    &nbsp;
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 border-left pull-right">
                    <strong>
                        Email Address
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
    </div>
    <div class="thick-box vspace">
        <div class="thick-box-inner">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Birth Date
                    </strong>
                    <div class="inline-block">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <strong class="label-inline">
                        Gender
                    </strong>
                    <div class="inline-choices inline-block">
                        <input type="checkbox">
                        Male
                    </div>
                    <strong class="label-inline">
                        Citizenship
                    </strong>
                    <div class="inline-block col-25">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                    <strong class="label-inline">
                        PPS #
                    </strong>
                    <div class="inline-block col-25">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thick-box vspace">
        <div class="thick-box-inner">
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Bank Account Name
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <strong>
                        Bank Account Number
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Bank Address
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        City
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <strong>
                        Town
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Locality
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Country
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Providence
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Postal Code
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                    <strong>
                        Bank Sort Code
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <strong>
                        BIC Code
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div> 
        </div>
    </div>
    <div class="thick-box">
        <div class="thick-box-inner">
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <strong>
                        Emergency Contact Name
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-left">
                    <strong>
                        Emergency Contact Relationship:
                    </strong>
                    <div class="inline-choices inline-block">
                        <input type="checkbox"> Spouse
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <strong>
                    Emergency Contact Street Address
                </strong>
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Emergency Contact City
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Emergency Contact Country
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <strong>
                        Emergency Contact Zip
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
                    <strong>
                        Emergency Contact Personal Phone
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <strong>
                        Emergency Contact Work Phone
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center text-blue">
        TO BE COMPLETED BY HR CONTACT
    </div>
    <div class="thick-box vspace">
        <div class="thick-box-inner">
            <div class="row border-bottom">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-right">
                    <strong class="text-blue">
                        Branch Number Transfer From (if applicable)
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-right">
                    <strong class="text-blue">
                        Branch Number Transfer To (New Hire/Rehire Branch)
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-right">
                    <strong class="text-blue">
                        ADP Pay Group
                    </strong>
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <strong class="text-blue">
                        Department Number
                    </strong>
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 border-right">
                    <strong class="text-blue">
                        Job Code
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 border-right">
                    <strong class="text-blue">
                        Job Grade
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <strong class="text-blue">
                        Employee Type
                    </strong>
                    <div class="inline-choices">
                        <input type="checkbox">
                        Hourly
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 border-left border-right">
                    <strong class="text-blue">
                        Supervisor
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <strong class="text-blue">
                        Hire/Rehire Date
                    </strong>
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="row border-bottom">
                <span class="text-blue">
                    <strong>
                        People Group
                    </strong>
                    (select one)
                </span>
                <div class="inline-choices">
                    <input type="checkbox">
                    Administrative
                    <div class="inline-block col-40">
                        <input type="text" class="lifesuite__text-input">
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <span class="text-blue">
                        <strong>
                            Rate of Pay
                        </strong>
                        (select one):
                    </span>
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <div class="inline-choices">
                        <input type="checkbox">
                        Perhour
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-left border-right">
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <strong class="text-blue">
                        Country Live In
                    </strong>
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <div class="hidden-xs hidden-sm">&nbsp;</div>
                    <input type="text" class="lifesuite__text-input">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <strong class="text-blue">
                        Place of Work
                    </strong>
                    <div class="inline-choices">
                        <input type="checkbox"> Grabel Facility:
                        <div class="inline-block col-40">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                    </div>
                    <div class="inline-choices">
                        <input type="checkbox"> Client Site:
                        <div class="inline-block col-40">
                            <input type="text" class="lifesuite__text-input">
                        </div>
                    </div>
                    <input type="checkbox"> Home
                </div>
            </div>
            <div class="row">
                <span class="text-blue">
                    <strong>
                        Employee Status
                    </strong>
                    (select one)
                </span>
                <div class="inline-choices">
                    <input type="checkbox">
                    Regular Full time
                </div>
            </div>
        </div>
    </div>
    <div class="thick-box">
        <div class="thick-box-inner">
            <div class="row">
                <strong class="text-red">
                    Notes:
                </strong>
                <div class="inline-block col-90">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            HR Contact Electronic Signature:
            <div class="inline-block col-60">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            Date:
            <div class="inline-block col-80">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
    </div>
    <footer class="text-right">
        Revised 10/3/2014 Corporate Human Resources
    </footer>
</div>
