<!-- Main QA Area --> 

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement --> 
<div class="modal" id="modal" style="display:none;"> 
  <div class="modal-content"> 
   <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
   <p style="fontweight:normal;padding:0px"> 
     <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
   </p> 
   <br> 
   <div class="row"> 
     <div class="lifesuite__clearfix"> 
      <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
    </div> 
  </div> 
  <div class="row"> 
   <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
     <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature','eSignature1','name','modal','over','sv','SignatureDate');xbObj('eSignature1').value='';document.getElementById('eSignature1').focus();">&nbsp; 
     <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','SignatureDate');}">&nbsp; 
     <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';">
   </div> 
 </div> 
</div> 
</div> 
<div class="modal" id="modal2" style="display:none;"> 
  <div class="modal-content"> 
   <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
   <p style="fontweight:normal;padding:0px"> 
     <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
   </p> 
   <br> 
   <div class="row"> 
     <div class="lifesuite__clearfix"> 
      <b>Type your Name:</b> <input type=text id="eSignature2" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
    </div> 
  </div> 
  <div class="row"> 
   <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
     <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature2','eSignature2','company-name','modal2','over','sv2','CompanySignatureDate');xbObj('eSignature2').value='';document.getElementById('eSignature2').focus();">&nbsp; 
     <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature2').value='';showHide('modal2');showHide('over');xbObj('eSignature2').value='';if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','CompanySignatureDate');}">&nbsp; 
     <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal2');showHide('over');xbObj('eSignature2').value='';"> 
   </div> 
 </div> 
</div> 
</div> 


<div class="modal" id="modal3" style="display:none;"> 
  <div class="modal-content"> 
   <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
   <p style="fontweight:normal;padding:0px"> 
     <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
   </p> 
   <br> 
   <div class="row"> 
     <div class="lifesuite__clearfix"> 
      <b>Type your Name:</b> <input type=text id="eSignature3" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
    </div> 
  </div> 
  <div class="row"> 
   <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
     <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature3','eSignature3','company-name-2','modal3','over','sv3','CompanySignatureDate2');xbObj('eSignature3').value='';document.getElementById('eSignature3').focus();">&nbsp; 
     <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature3').value='';showHide('modal3');showHide('over');xbObj('eSignature3').value='';if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','CompanySignatureDate2');}">&nbsp; 
     <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal3');showHide('over');xbObj('eSignature3').value='';"> 
   </div> 
 </div> 
</div> 
</div> 


<div class="modal" id="modal4" style="display:none;"> 
  <div class="modal-content"> 
   <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
   <p style="fontweight:normal;padding:0px"> 
     <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
   </p> 
   <br> 
   <div class="row"> 
     <div class="lifesuite__clearfix"> 
      <b>Type your Name:</b> <input type=text id="eSignature4" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
    </div> 
  </div> 
  <div class="row"> 
   <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
     <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature4','eSignature4','name2','modal4','over','sv4','SignatureDate2');xbObj('eSignature4').value='';document.getElementById('eSignature4').focus();">&nbsp; 
     <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature4').value='';showHide('modal4');showHide('over');xbObj('eSignature4').value='';if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature4','SignatureDate2');}">&nbsp; 
     <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal4');showHide('over');xbObj('eSignature4').value='';">
   </div> 
 </div> 
</div> 
</div> 



<div id="over" style="display:none;"></div> 
<SCRIPT> 
  showScreen('over') 
</SCRIPT>  
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!-- RESPONSIVE eFORM PAGE LOADER--> 

<div class="modal" style="display:block; background: #002E6D;"> 
  <div class="fb-spinner"> 
   <i class="fa fa-2x fa-spinner fa-pulse"></i> 
 </div> 
</div> 

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 

<form id='Non_Exhibit_A_Release_form' name='frmForm' action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);"> 

  <div style="display:none;">
    <$client.env.FormField.Form_Name.prompt>
    <$client.env.FormField.Form_Name.HTML>
    <$client.env.FormField.Form_Type.prompt>
    <$client.env.FormField.Form_Type.HTML>
    <$client.env.FormField.Form_Owner.prompt>
    <$client.env.FormField.Form_Owner.HTML>
    <$client.env.FormField.Form_CreateDate.prompt>
    <$client.env.FormField.Form_CreateDate.HTML>
    <$client.env.FormField.Form_Completed.prompt>
    <$client.env.FormField.Form_Completed.HTML>
    <$client.env.FormField.Form_Delivered.prompt>
    <$client.env.FormField.Form_Delivered.HTML>
    <$client.env.FormField.Form_TaskId.prompt>
    <$client.env.FormField.Form_TaskId.HTML>
    <$client.env.FormField.display_version.HTML>
    <!-- Your Required/Validated Form Fields -->

    <$client.env.formfield.CompanySignature.prompt>
    <$client.env.formfield.CompanySignatureDate.prompt>

    <$client.env.formfield.CompanySignature2.prompt>
    <$client.env.formfield.CompanySignatureDate2.prompt>

    <$client.env.formfield.Signature2.prompt>
    <$client.env.formfield.SignatureDate2.prompt>

    <$client.env.formfield.PrintedSignatoryName.prompt>
    <$client.env.formfield.Signature.prompt>
    <$client.env.formfield.SignatureDate.prompt>
    <$client.env.formfield.RevokingSig.prompt>
    <$client.env.formfield.PrintedEmployeeName.prompt>
  </div>

  <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">

  <!-- Begin HTML Content -->

  <main id='container'  class="container-fluid">
   <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 imgr mb-20">
     <div class="img-wrapper" style="max-width:120px;">
      <img src="<$link;/RedCarpet/Onboarding/Uploads/Images/paypal_logo.jpg>" class="img-responsive" >
    </div>
  </div>
</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
   <p style="font-size: 10px !important;">&nbsp;</p>
 </div>
 <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
   <div id='incomplete'> 
    <div id="markup"></div>
  </div>
  <div id='complete'></div>
</div>
</div>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
   <p style="font-size: 10px !important;">&nbsp;</p>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
   <div id='incomplete2'> 
    <div id="markup2"></div>
  </div>
  <div id='complete2'></div>
</div>
</div>
<div id='fields'>
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h5><span class="signature-section-title">Employer:</span></h5>
  </div>
</div>
<div class="row">
 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  <label class="control-label">Signature: <span class="font-red">*</span> </label> 
</div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  <div class="form-group">
   <$client.env.FormField.CompanySignature.html>
 </div>
</div>
<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
  <label class="control-label">Date: </label>
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  <div class="form-group" id="sign-date-container2">
   <$client.env.FormField.CompanySignatureDate.html>
 </div>
</div>
</div>
<div class="row">
 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  <label class="control-label">Name: </label>
</div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  <$client.env.FormField.CompanyName.html>
</div>
</div>
<br>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
   <p style="font-size: 10px !important;">&nbsp;</p>
 </div>
 <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
   <div id='incomplete3'> 
    <div id="markup3"></div>
  </div>
  <div id='complete3'></div>
</div>
</div>

<span id="emp-sig-section">
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h5><span class="signature-section-title">Employee:</span></h5>
</div>
</div>
<div class="row">
 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  <label class="control-label">Signature: <span class="font-red">*</span> </label> 
</div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  <div class="form-group">
   <$client.env.FormField.Signature.html>
 </div>
</div>
<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
  <label class="control-label">Date: </label>
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  <div class="form-group" id="sign-date-container">
   <$client.env.FormField.SignatureDate.html>
 </div>
</div>
</div>
<div class="row">
 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  <label class="control-label">Name: </label>
</div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  <$client.env.FormField.Name.html>
</div>
</div>
</span>

<br><br>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
   <p style="font-size: 10px !important;">&nbsp;</p>
 </div>
 <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
   <div id='incomplete6'> 
    <div id="markup6"></div>
  </div>
  <div id='complete6'></div>
</div>
</div>

<br>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
   <p style="font-size: 10px !important;">&nbsp;</p>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
   <div id='incomplete7'> 
    <div id="markup7"></div>
  </div>
  <div id='complete7'></div>
</div>
</div>




<span id="comp-sig-section-2">
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h5><span class="signature-section-title">Employer:</span></h5>
</div>
</div>
<div class="row">
 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  <label class="control-label">Signature: <span class="font-red">*</span> </label> 
</div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  <div class="form-group">
   <$client.env.FormField.CompanySignature2.html>
 </div>
</div>
<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
  <label class="control-label">Date: </label>
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  <div class="form-group" id="sign-date-container-3">
   <$client.env.FormField.CompanySignatureDate2.html>
 </div>
</div>
</div>
<div class="row">
 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  <label class="control-label">Name: </label>
</div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  <$client.env.FormField.CompanyName2.html>
</div>
</div>
</span>

<br>
<div class="row" style="margin-bottom: 20px;">
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
   <p style="font-size: 10px !important;">&nbsp;</p>
 </div>
 <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
   <div id='incomplete8'> 
    <div id="markup8"></div>
  </div>
  <div id='complete8'></div>
</div>
</div>

<span id="emp-sig-section-2">
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h5><span class="signature-section-title">Employee:</span></h5>
</div>
</div>
<div class="row">
 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  <label class="control-label">Signature: <span class="font-red">*</span> </label> 
</div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  <div class="form-group">
   <$client.env.FormField.Signature2.html>
 </div>
</div>
<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
  <label class="control-label">Date: </label>
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  <div class="form-group" id="sign-date-container-4">
   <$client.env.FormField.SignatureDate2.html>
 </div>
</div>
</div>
<div class="row">
 <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  <label class="control-label">Name: </label>
</div>
<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  <$client.env.FormField.Name2.html>
</div>
</div>
</span>



<hr class="lifesuite__hr">
<div class="row" id="formButtons" style="display: none;">
  <div class="lifesuite__clearfix lifesuite__float-right">                
   <$client.env.FormButtons> 
 </div>
</div>




 <!-- <div class="row revoke-section">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <$client.env.FormField.RevokingSig.html>
  </div>
</div>
<div class="row revoke-section2">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <$client.env.FormField.RevokingComment.html>
  </div>
</div> -->
<br><br>

</div>


</main> 

<div style="display:none;">
  <div id="markup4"></div>
  <div id="markup5"></div>
  <$client.env.formfield.headerpg1.html>
  <$client.env.formfield.hidden_pg.html>
  <$client.env.formfield.hidden_pg2.html>
  <$client.env.formfield.hidden_pg3.html>
  <$client.env.formfield.hidden_pg4.html>
  <$client.env.formfield.hidden_pg5.html>
  <$client.env.formfield.hidden_pg6.html>
  <$client.env.formfield.hidden_pg7.html>
  <$client.env.formfield.hidden_pg8.html>
  <$client.env.formfield.filler.html>
  <$client.env.formfield.SignatureVerification.html>
  <$client.env.formfield.SignatureVerification2.html>
  <$client.env.formfield.SignatureVerification3.html>
  <$client.env.formfield.SignatureVerification4.html>
  <$client.env.formfield.State.html>
  <$client.env.formfield.LaunchDate.html>
  <$client.env.formfield.Recruiter_Signature.html>
  <$client.env.formfield.EmployeeStamp.html>
  <$client.env.formfield.SignatoryStamp.html>

  <$client.env.formfield.EmployeeStamp2.html>
  <$client.env.formfield.SignatoryStamp2.html>
</div>

</form>

<script>

//Show populated form if already completed
var strCompletedForm = FORM_COMPLETED;
if (strCompletedForm != "")
{
//Gather the fields that need to be displayed
//For images we need to setup the image tag. 
var imgHeader = "<img src='<$client.env.formfield.headerpg1.value>' />";
var imgVPSignature = "<img src='<$client.env.formfield.vpsignature.value>' />";

//Create an array of info to pass to complete the offer letter
//0 for images sending an image tag, 1 for sections of text sneding the ID of the field that holds the HTML.
var arrParts = [
[1,'hidden_pg']
];
var arrParts2 = [
[1,'hidden_pg2']
];
var arrParts3 = [
[1,'hidden_pg3']
];

var arrParts6 = [
[1,'hidden_pg6']
];

var arrParts7 = [
[1,'hidden_pg7']
];

var arrParts8 = [
[1,'hidden_pg8']
];

//Send (ID of the div to hide,ID of the div to show,Parts to get the offer letter)
showCompletedOfferLetter('incomplete','complete',arrParts);
showCompletedOfferLetter('incomplete2','complete2',arrParts2);
showCompletedOfferLetter('incomplete3','complete3',arrParts3);
showCompletedOfferLetter('incomplete6','complete6',arrParts6);
showCompletedOfferLetter('incomplete7','complete7',arrParts7);
showCompletedOfferLetter('incomplete8','complete8',arrParts8);
} else {
//If the offer letter is not complete set up the logos and link field values.

//pickDivisionLogo();
//SetImageOnOfferLetter('headerpg1');
//SetImageOnOfferLetter('vpsignature');
}
</script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/bootstrap.min.js>"></script> 
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/front_validator_V2.js>"></script> 
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/date_formatter.js>"></script>
<script type="text/javascript" src="script_Version_5.js"></script>

<script> 

    const Extended_Separation_Date = '<$client.tForWhomUserInfo.Extended_Separation_Date>';
    function isTodayPastESD() {
      if (!Extended_Separation_Date.length) {
        return true;
      }
      if (moment(Extended_Separation_Date).isSame(new Date(), "day") || moment(Extended_Separation_Date).isBefore(new Date(), "day")) {
        return true;
      }
      return false;
    }
    ChangeCalendarIcons(); //for popup calendar  

    $(document).on('ready', function() { 
     var isNewhire = $('#hidden_pg').prop('readonly') || <$client.env.eval((url.forWhom==account.userguid)?'true':'false')>;
     $("#buttonCancel").removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue"); 
     $("#buttonCancel").addClass("lifesuite__button"); 
     $('#buttonCancel').attr('id','ButtonCancel'); 
     $("#buttonSave").removeClass("appInputButton RCappInputButtonBlue"); 
     $("#buttonSave").addClass("lifesuite__button primary"); 
     $('#buttonSave').attr('id','ButtonSave'); 
     $("#buttonSaveAndComplete").removeClass("appInputButton RCappInputButtonBlue"); 
     $("#buttonSaveAndComplete").addClass("lifesuite__button primary"); 
     $('#buttonSaveAndComplete').attr('id','ButtonSaveAndComplete'); 
     $("#buttonPrint").removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue"); 
     $("#buttonPrint").addClass("lifesuite__button"); 
     $('#buttonPrint').attr('id','ButtonPrint'); 
     $("#buttonPreviewDelete").removeClass("appInputButton RCappInputButtonRed"); 
     $("#buttonPreviewDelete").addClass("lifesuite__button"); 
     $('#buttonPreviewDelete').attr('id','ButtonPreviewDelete'); 
     $("#buttonPreviewSave").removeClass("appInputButton RCappInputButtonBlue"); 
     $("#buttonPreviewSave").addClass("lifesuite__button primary"); 
     $('#buttonPreviewSave').attr('id','ButtonPreviewSave'); 
     $("#buttonComplete").removeClass("appInputButton RCappInputButtonBlue"); 
     $("#buttonComplete").addClass("lifesuite__button primary"); 
     $('#buttonComplete').attr('id','ButtonComplete'); 

     document.getElementById('formButtons').style.display = "block"; 

     $("input[type=text]").addClass('lifesuite__text-input'); 
     $("input[type=text].hasDatepicker").addClass('dateField'); 
     $("select").addClass('lifesuite__select-input'); 
     $("input[type=radio]").addClass('lifesuite__radio'); 
     $("input[type=checkbox]").addClass('lifesuite__checkbox'); 
     $("textarea").addClass('lifesuite__textarea-input'); 
     $('label').addClass('lifesuite__input-label lifesuite__input—block'); 


     if (isNewhire) { 
      $('main').addClass('deactivate-highlight'); 
    }


    var loadFriendlyTexts = function() { 
      if (!isNewhire) { 
        setTimeout(function() { 
          $('.marked').popover({ 
            'trigger': 'manual' 
          }).popover('show'); 
          $('.popover-content').addClass('text-uppercase') 
        }, 500);  
      } 
    } 
    loadFriendlyTexts(); 
    $(window).on('resize', function() { 
      loadFriendlyTexts(); 
    }); 

    $('#Non_Exhibit_A_Release_form').on('click change', 'input:visible[type="radio"], textarea', function() {
      validateField($(this));
    });

    $('#Non_Exhibit_A_Release_form').on('change', 'input:visible:not(#signature):not(:button), select:visible, textarea', function() {
      validateField($(this));
    });

    $('#modal').on('click', 'input.lifesuite__button', function() {
      validateField($('#signature'));
      validateField($('#sign-date-container .cal_and_button input:not(:button)'), true);

    });

    $('#modal2').on('click', 'input.lifesuite__button', function() {
      validateField($('#signature2'));
      validateField($('#sign-date-container2 .cal_and_button input:not(:button)'), true);
    });

    $('#modal3').on('click', 'input.lifesuite__button', function() {
      validateField($('#signature3'));
      validateField($('#sign-date-container-3 .cal_and_button input:not(:button)'), true);
    });

    $('#modal4').on('click', 'input.lifesuite__button', function() {
      validateField($('#signature4'));
      validateField($('#sign-date-container-4 .cal_and_button input:not(:button)'), true);
    });

    $('#ButtonPrint, #buttonPrint, #ButtonSaveAndComplete, #buttonSaveAndComplete').on('click', function(e) {
      var formIsValid = true, btn = $(this);
      e.preventDefault();
      $.each($('#Non_Exhibit_A_Release_form input:visible:not(:button), #Non_Exhibit_A_Release_form select:visible, #Non_Exhibit_A_Release_form textarea'), function(k, v) {
        if (!$("input.calendar_button").length) formIsValid = true;
        else{
          if(false == validateField($(v)) && $(v).is(':visible')) {
            formIsValid = false;
          }
        }
      });
      if (formIsValid) {
        switch (btn.attr('id')) {
          case 'ButtonPrint':
// remove friendly text from print
$('.marked').popover('hide');
$('.popover').remove();
funcPrint();
break;
case 'ButtonSaveAndComplete':
completeStamp("<$client.env.eval((client.role.rc_offboarding_hrbp_na==1)?'SignatoryStamp':'')>");
completeStamp("<$client.env.eval((url.forWhom==account.userguid)?'EmployeeStamp':'')>");

completeStamp("<$client.env.eval((client.role.rc_offboarding_hrbp_na==1)?'SignatoryStamp2':'')>");
completeStamp("<$client.env.eval((url.forWhom==account.userguid)?'EmployeeStamp2':'')>");

$('.marked').popover('hide');
$('.popover').remove();

    
    
    
    if(isNewhire && !hideShowBasedOnExtendedSeparationDate() &&  $("#signature3").val().length != 0){
      alert('Cannot Save & Complete Task without a signature before the separation date.');
    }else{
      funcSaveAndComplete();
    }

break;
}
}else {
        $("html, body").animate({ scrollTop: 0 }, "slow");
    }
});

  // clearing fields after reopening task starts here
  var assignee = "<$client.account.username_first> <$client.account.username>";
  var recruiter_signature = document.getElementById('recruiter_signature');
  var rec_name =  document.getElementById('company-name');
  var rec_name2 =  document.getElementById('company-name-2');
  var emp_name = document.getElementById('name');
  var emp_name2 = document.getElementById('name2');

  var nowSepValidation = hideShowBasedOnExtendedSeparationDate();

   

  var isSignatory = <$client.env.eval((client.role.rc_offboarding_hrbp_na==1)?'true':'false')>;
  var isEmployee = <$client.env.eval((url.forWhom==account.userguid)?'true':'false')>;

// HRBP

if(!$('#signature2').val().length) {
    rec_name.value = <$client.env.eval((client.role.rc_offboarding_hrbp_na==1)?'assignee':'null')>;
  }

  if($('#signature').val().length != 0 && !$('#signature3').val().length) { // 2021-02-02 | SERVICES-41435 | CDY | V2 | removed && nowSepValidation == true from condition
     rec_name2.value = <$client.env.eval((client.role.rc_offboarding_hrbp_na==1)?'assignee':'null')>;
  }

   

  //Newhires
 if(!$('#signature').val().length) {
    emp_name.value = <$client.env.eval((url.forWhom==account.userguid)?'assignee':'null')>;
  }
 

  if(nowSepValidation == true && !$('#signature4').val().length && $('#signature3').val().length) {
    emp_name2.value = <$client.env.eval((url.forWhom==account.userguid)?'assignee':'null')>;
  }

  if ($('#company-name').val().length > 0) {
    $('#signDisplay2').append($('<mark2/>').append($('#company-name').val() +'<br>'));
    $('#signDisplay7').append($('<mark2/>').append($('#company-name').val() +'<br>'));
  }
  //var sigholder = document.getElementsByClassName('signDisplay2');
  //sigholder[0].innerHTML = rec_name.value + '<br>';

  var myVar = setInterval(function(){ 
    if(document.getElementById('modal2').style.display=='block') {
      //document.getElementById('ButtonPrint').focus()
      document.getElementById('eSignature2').focus()
      clearInterval(myVar) 
    }
  }, 500);

  var myVar2 = setInterval(function(){ 
    if(document.getElementById('modal').style.display=='block') {
      //document.getElementById('ButtonSaveAndComplete').focus()
      document.getElementById('eSignature1').focus()
      clearInterval(myVar2) 
    }
  }, 500);

  var myVar3 = setInterval(function(){ 
    if(document.getElementById('modal3').style.display=='block') {
     // document.getElementById('ButtonSaveAndComplete').focus()
      document.getElementById('eSignature3').focus()
      clearInterval(myVar3) 
    }
  }, 500);

  var myVar4 = setInterval(function(){ 
    if(document.getElementById('modal4').style.display=='block') {
      //document.getElementById('ButtonSaveAndComplete').focus()
      document.getElementById('eSignature4').focus()
      clearInterval(myVar4) 
    }
  }, 500);

  // Style modifiers
  //$('.cal_and_button td').prepend($('<span class="calendar-btn-container"/>').append($('<i class="fa fa-calendar"></i>')));

  $('mark2').each(function(x){
    if($('mark2').eq(x).html().length <= 0){
      $('mark2').eq(x).html('&nbsp;');
    }
  });  

  if (!strFormCompleted && !isNewhire) {

    $('mark2').css('background','#ffdc00');
    $('mark2').css('color','#665800');
  }else{
    $('mark2').css('background','none');
    $('mark2').css('color','inherit');
  }

}); 

$('#buttonSaveAndComplete').removeAttr('onclick');
$('#buttonPrint').removeAttr('onclick');
disableCalButton('signDate');
disableCalButton('signDate2');
disableCalButton('signDate3');
disableCalButton('signDate4');

//SERVICES-40449 | hide show sig after sep date | 2020-06-26
function hideShowBasedOnSeparationDate(){
  var serverside = "<$client.env.eval(date.now('%Y-%m-%d'))>";
  var date1 = moment(serverside); 
  var date2 = moment(employee.Separation_Date_Base); 
  return moment(date1).isSameOrAfter(date2, 'day');
}


//SERVICES-40449 | hide show sig after Extended_Separation_Date | 2020-07-30
function hideShowBasedOnExtendedSeparationDate(){
  var serverside = "<$client.env.eval(date.now('%Y-%m-%d'))>";
  var date1 = moment(serverside); 
  var date2 = moment(employee.Extended_Separation_Date);
  return moment(date1).isSameOrAfter(date2, 'day');
}



$(document).ready(function(){

/*if(hideShowBasedOnExtendedSeparationDate()){
  $("#comp-sig-section-2, #emp-sig-section-2").show();
}else{
  $("#comp-sig-section-2, #emp-sig-section-2").hide();
}2021-02-02 | SERVICES-41435 | CDY | V2 | Commented code as per request */


if($('#signature').val() == ''){
  setTimeout(function() {
    $('.signDate').val('')
  }, 400);
}
if($('#signature2').val() == ''){ 
  setTimeout(function() {
    $('.signDate2').val('')
  }, 400);
}

if($('#signature3').val() == ''){ 
  setTimeout(function() {
    $('.signDate3').val('')
  }, 400);
}

if($('#signature4').val() == ''){ 
  setTimeout(function() {
    $('.signDate4').val('')
  }, 400);
}

  //showHideRevokeCheckbox();
  setTimeout(function() {
    requireEmployerSignature();
    requireEmployeeSignature();
    if (isTodayPastESD()) {
    requireEmployerSignature2();
    }
    if (!isTodayPastESD()) {
      $("#signature3").prop( "disabled", true );
      $("#signature3").addClass("disableField");
      $("#signature3").css("background-color", "#ccc"); 
      $("#signature4").prop( "disabled", true );
      $("#signature4").addClass("disableField");
      $("#signature4").css("background-color", "#ccc"); 
    $('#ButtonPrint, #ButtonSaveAndComplete').hide();
    $('#ButtonPrint, #ButtonSaveAndComplete').hide();
    }
    requireEmployeeSignature2();
  }, 400); //2021-02-03 | SERVICES-41435 | CDY | V2 | Call new function

});


  //2021-02-03 | SERVICES-41435 | CDY | V2 | New function to require Employer Siganture2
  function requireEmployerSignature(){

    var isHRBP = <$client.env.eval((client.role.rc_offboarding_hrbp_na==1)?'true':'false')>;
    
    
    if(isHRBP && $("#signature").val().length != 0){
      $("#signature2").prop( "disabled", true );
      $("#signature2").addClass("disableField");
      $("#signature2").css("background-color", "#ccc"); 



    }
     
  }

  //2021-02-03 | SERVICES-41435 | CDY | V2 | New function to require Employer Siganture2
  function requireEmployeeSignature(){

    var isEmployee2 = <$client.env.eval((url.forWhom==account.userguid)?'true':'false')>;
    
    
    if((isEmployee2 && $("#signature3").val().length != 0) || !isTodayPastESD()){
      $("#signature").prop( "disabled", true );
      $("#signature").addClass("disableField");
      $("#signature").css("background-color", "#ccc"); 



    }
     
  }


  //2021-02-03 | SERVICES-41435 | CDY | V2 | New function to require Employer Siganture2
  function requireEmployerSignature2(){

    var isHRBP = <$client.env.eval((client.role.rc_offboarding_hrbp_na==1)?'true':'false')>;
    
    
    if(isHRBP && $("#signature").val().length != 0){
    validateField($("#signature3").data("validation", "required"), true);
    validateField($("#company-name-2").data("validation", "required"), true);
 
    $("#signature3").focus(function(){
      openESigCustom('modal3','over',this);
    }); 

    }else{
      validateField($("#signature3").data("validation", ""), true);
      validateField($("#company-name-2").data("validation", ""), true);
     
      $("#signature3").addClass("disableField");
      $("#signature3").css("background-color", "#ccc");
    }// code to require 2nd signature of employer | CDY
  }

  //2021-02-03 | SERVICES-41435 | CDY | V2 | New function to require Employer Siganture2
  function requireEmployeeSignature2(){

    var isEmployee2 = <$client.env.eval((url.forWhom==account.userguid)?'true':'false')>;
    
    
    if(isEmployee2 && hideShowBasedOnExtendedSeparationDate() &&  $("#signature3").val().length != 0){
    validateField($("#signature4").data("validation", "required"), true);
    validateField($("#name2").data("validation", "required"), true);
    
    $("#signature4").focus(function(){
      openESigCustom('modal4','over',this);
    }); 

    }else{
      validateField($("#signature4").data("validation", ""), true);
      validateField($("#name2").data("validation", ""), true);
      $("#signature4").addClass("disableField");
       $("#signature4").css("background-color", "#ccc");
    }// code to require 2nd signature of employer | CDY
  }

  function prepopNotificationDate(){
    $('.signDate2').val(employee.Event_Notification_Date_Base);
  }

   function prepopNotificationDate3(){
    $('.signDate3').val(employee.Event_Notification_Date_Base);
  }

</script>
