<main class="container-fluid">
    <header class="row">
        <div class="col-lg-12">
            <figure class="main-logo center-block">
                <img src="<$link;/main/RedCarpet/FormTemplates/Noncomp_Confidentiality_Agreement_FIELD_-_Nebraska/assets/img/ced_logo.jpg>" alt="CED" class="img-responsive">
            </figure>
        </div>
        <div class="col-lg-12">
            <h5 class="text-center">
                <strong>AGREEMENT REGARDING PROPRIETARY INFORMATION</strong>
            </h5>
        </div>
    </header>
    <div class="row vspace">
        <div class="col-lg-12">
            <p class="vspace text-justify">
                I acknowledge that in the course of my employment with Consolidated Electrical Distributors, Inc. and its affiliates (“CED”), I will be exposed to Proprietary Information (as defined below) concerning the business and financial affairs of CED. I recognize the value of such Proprietary Information to CED and in consideration of my employment or continued employment, I agree to the provisions set forth below.
            </p>
            <p class="vspace">
                <strong>1. Proprietary Information</strong>
            </p>
            <p class="vspace text-justify">
                As used in this Agreement, Proprietary Information means any information that derives independent economic value from not being generally known to the public or to other persons who can obtain economic value from its disclosure or use, and includes information of CED, its customers, suppliers, and other persons and entities with which CED does business. Proprietary Information need not be reduced to writing and includes, without limitation, the following: customer or vendor information, pricing information, sales records, financial information, distribution formulas, market analyses, customer lists, the equipment and methods used and preferred by CED’s customers, and the amounts paid by such customers.
            </p>
            <p class="vspace text-justify">
                I understand that CED possesses and will continue to develop and acquire valuable Proprietary Information, including information I may develop or discover as a result of my employment with CED. The value of that Proprietary Information depends on it remaining confidential. CED depends on me to maintain that confidentiality, and I accept that position of trust.
            </p>
            <p class="vspace text-justify">
                I will not disclose or use at any time, either during or after my employment with CED, any Proprietary Information except for the exclusive benefit of CED as required by my duties, or as CED expressly may consent to in writing. I will cooperate with CED and use my best efforts to prevent the unauthorized disclosure, use, or reproduction of all Proprietary Information.
            </p>
            <p class="vspace text-justify">
                I understand as a condition of my employment with CED, I will not disclose to CED, or use, or induce CED to use, any Proprietary Information of others. Any such actions will be considered out of the scope of my employment and will be cause for termination. I represent and warrant that I have returned all proprietary and confidential information belonging to all my prior employers and customers.
            </p>
            <p class="vspace text-justify">
                Upon leaving employment with CED for any reason, I immediately will deliver to CED all tangible, written, graphical, machine readable and other materials (including all copies) in my possession or under my control containing or disclosing Proprietary Information.
            </p>
            <p class="vspace">
                <strong>2. Company Employees</strong>
            </p>
            <p class="vspace text-justify">
                I agree during my employment with CED, and for one (1) year following its termination for any reason, I will not directly or indirectly contact or cause others with whom I am affiliated to contact or solicit employees of CED for the purpose of hiring them.
            </p>
            <p class="vspace">
                <strong>3. Company Customers</strong>
            </p>
            <p class="vspace text-justify">
                I agree that during my employment, and for one (1) year after my employment ends for any reason, I will not directly or indirectly solicit, contact, or attempt to solicit or contact CED's current, former, or prospective customers whom I had material contact with during my employment for the purpose of offering or accepting goods or services similar to or competitive with those offered by CED on behalf of any other individual or entity.
            </p>
            <p class="vspace text-justify">
                The non-solicitation terms contained in Sections 2 and 3 of this Agreement explicitly cover all forms of oral, written, or electronic communication that solicit CED customers or employees, including, but not limited to, communication by email, regular mail, express mail, telephone, fax, instant message, and social media.
            </p>
            <p class="vspace">
                <strong>4. Warranty</strong>
            </p>
            <p class="vspace text-justify">
                I represent and warrant that I am not a party to any non-compete, restrictive covenant, or related contractual limitation that would interfere with or hinder my ability to undertake the obligations and expectations of employment with the Employer.
            </p>
            <p class="vspace">
                <strong>5. Other</strong>
            </p>
            <p class="vspace text-justify">
                I understand this Agreement is not an employment contract, and my employment with CED is on an at-will basis, which means that it may be terminated with or without cause or notice at any time by me or by CED. I also understand the provisions of this Agreement are a material condition to my employment or continued employment with CED.
            </p>
            <p class="vspace text-justify">
                If I leave CED, for any reason, I acknowledge that CED may notify my new employer of this Agreement.
            </p>
            <p class="vspace text-justify">
                I acknowledge that if I violate any of the terms of the above-restrictive covenants in Sections 2 and 3 above, the restriction period for all such restrictions shall automatically be extended by the period I was in violation of them.
            </p>
            <p class="vspace text-justify">
                I acknowledge that any breach of this Agreement likely will cause irreparable harm to CED, for which money damages could not reasonably or adequately compensate it. Accordingly, I agree that CED will be entitled to injunctive relief to enforce this Agreement, in addition to damages, attorneys’ fees, and other available remedies.
            </p>
            <p class="vspace text-justify">
                My obligations under the Agreement may not be modified or terminated, in whole or in part, except in writing signed by the President of CED or his designee. Any waiver by CED of a breach of any provision of this Agreement will not operate as a waiver of any subsequent breach.
            </p>
            <p class="vspace text-justify">
                This agreement will be governed by the laws of Texas, without regard to conflicts of laws principles.
            </p>
            <p class="vspace text-justify">
                If it is determined that one or more of the provisions of this agreement are void by law, the remaining provisions will remain in full force and effect. Additionally, if any provision in this Agreement is determined to be unenforceable because it is overbroad, I agree that the provision should be narrowed to the extent necessary to make it enforceable.
            </p>
            <h5 class="text-center">
                <strong>THIS AGREEMENT CREATES IMPORTANT OBLIGATIONS OF TRUST</strong>
            </h5>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-6 col-xs-12">
            <$client.env.FormField.a01_Employee_Signature.HTML>
            Employee Signature
        </div>
        <div class="col-lg-6 col-xs-12">
            <$client.env.FormField.a02_Date.HTML>
            <br>Date
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-6 col-xs-12">
            <$client.env.FormField.a03_Print_Employee_Name.HTML>
            Print Employee Name
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-12">
            <h5>
                <strong>AGREED AND ACKNOWLEDGED:</strong>
            </h5>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-6 col-xs-12">
            <div class="col-lg-1 col-xs-12">
                By:
            </div>
            <div class="col-lg-11 col-xs-12">
                <div class="vspace">
                    <$client.env.FormField.a04_CED_Rep_Signature.HTML>
                    Signature of CED Representative
                </div>
                <$client.env.FormField.a06_CED_Rep_Name.HTML>
                Print Name of CED Representative
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <$client.env.FormField.a05_Date.HTML>
            <br>Date
        </div>
    </div>
    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="lifesuite__clearfix lifesuite__float-right">
            <$client.env.FormButtons>
        </div>
    </div>
</main>
