<main class="container-fluid">
    <header class="row">
        <div class="col-lg-12">
            <figure class="main-logo center-block">
                <img src="<$link;/main/RedCarpet/FormTemplates/Noncomp_Confidentiality_Agreement_FIELD_-_Illinois/assets/img/ced_logo.jpg>" alt="CED" class="img-responsive">
            </figure>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <h5 class="text-center vspace">
                <strong>
                    EMPLOYEE CONFIDENTIALITY, <br>
                    <u>NON-SOLICITATION AND NON-COMPETITION AGREEMENT</u>
                </strong>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                This Employee Confidentiality, Non-Competition and Non-Solicitation Agreement ("Agreement") is entered into by and between Consolidated Electrical Distributors, Inc., including any of its fictitious or assumed business names (collectively "CED" or "Employer"), and Employee ("Employee" or "You").
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                In consideration of (a) Employee’s employment in such capacity as may be determined by Employer, (b) the expense, time and effort involved in providing Employee with specialized and unique training, (c) the access Employer is providing Employee to certain trade secrets and confidential and proprietary information related to the business of Employer, and (d) any other consideration provided, which may include a promotion and corresponding compensation increase given with the promotion if that is when this Agreement is presented to Employee, and intending to be legally bound, Employer and Employee agree as set forth below.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                CED recognizes that its success depends upon the contributions of its employees, like You. An important goal of CED’s is to foster a work environment which will allow each of its employees to succeed. To that end, this Agreement protects both CED and its employees against unfair competition and other activities from former employees which, if unrestricted, would make it harder if not impossible for all of us to succeed. Because this is a legal document, You may wish to review it with Your legal advisor before signing it.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace">
                <strong>
                    1. <u>Employment</u>
                </strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (a) Employee desires to be employed by Employer and acknowledges that such employment, or continued employment, is conditioned upon Employee’s signing of this Agreement, the receipt of which is acknowledged.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (b) Employee understands that nothing in this Agreement modifies Employee’s at-will employment status. Either Employer or Employee can terminate the employment relationship at any time, for any reason or for no reason, and with or without prior notice.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (c) Employee represents and warrants to Employer that Employee has furnished Employer with copies of any and all agreements, documents or instruments, if any, to which Employee is a party or by which Employee is bound that may restrict Employee in the performance of his/her duties for Employer. Employee agrees not to divulge to Employer any information which would violate any such agreements, documents or instruments, nor to divulge to Employer any trade secrets, or confidential or proprietary information of his/her prior employers. Employee will indemnify and hold harmless Employer from any claims, liabilities, damages, costs and expenses (including legal fees) resulting from third-party claims of any such conflict or breach.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace">
                <strong>
                    2. <u>Proprietary Information and Confidentiality</u>
                </strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (a) As used in this Agreement, “Proprietary Information” means any information that derives independent economic value from not being generally known to the public or to other persons who can obtain economic value from its disclosure or use, and such information may also constitute one or more trade secrets, and includes information of CED, its customers, suppliers, and other persons and entities with which CED does business. Proprietary Information need not be reduced to writing and includes, without limitation, the following non-public information: customer or vendor information, pricing information, sales records, financial information, distribution formulas, market analyses, customer lists, the equipment and methods used and preferred by CED’s customers, and the amounts paid by such customers.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (b) Employee understands that CED possesses and will continue to develop and acquire valuable Proprietary Information, including information Employee may develop or discover as a result of employment with CED. The value of that Proprietary Information depends on it remaining confidential. CED depends upon Employee to maintain that confidentiality, and Employee accepts that position of trust.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (c) Employee will not disclose or use at any time, either during or after Employee’s employment with CED, any Proprietary Information except for the exclusive benefit of CED as required by Employee’s duties, or as CED expressly may consent to in writing. Employee will cooperate with CED and use Employee’s best efforts to prevent the unauthorized disclosure, use, or reproduction of all Proprietary Information.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (d) Employee understands that as a condition of Employee’s employment with CED, Employee will not disclose to CED, or use, or induce CED to use, any Proprietary Information of others. Any such actions will be considered out of the scope of Employee’s employment and will be cause for termination. Employee represents and warrants that Employee will not bring to CED, and will not use during Employee’s employment at CED, any proprietary and confidential information that does not belong to CED or which CED is not permitted to receive.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (e) Upon leaving employment with CED for any reason, Employee will immediately deliver to CED all tangible, written, graphical, machine readable and other materials (including all copies) in Employee’s possession or control containing or disclosing Proprietary Information.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (f) Employer discloses to Employee that the Federal Defend Trade Secrets Act provides that Employee may not be held criminally or civilly liable under any federal or state trade secret law for the disclosure of a trade secret where the disclosure (a) is made (1) in confidence to a federal, state, or local government official, either directly or indirectly, or to an attorney; and (2) solely for the purpose of reporting or investigating a suspected violation of law; or (b) is made in a complaint or other document filed in a lawsuit or other proceeding, if such filing is made under seal. Furthermore, an individual who files a lawsuit for retaliation by an employer for reporting a suspected violation of law may disclose the trade secret to the attorney of the individual and use the trade secret information in the court proceeding, if the individual (a) files any document containing the trade secret under seal, and (b) does not disclose the trade secret, except pursuant to court order.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace">
                <strong>
                    3. <u>Non-Solicitation and Non-Competition</u>
                </strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (a) For so long as You are employed by the Employer, You shall devote your full time and efforts to the Employer and shall not participate, directly or indirectly, in any capacity, in any business or activity that is in competition with the Employer in any way.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (b) For the six (6) month period after the cessation of such employment, regardless of the reason, Employee shall not, directly or indirectly, whether on Employee’s own behalf or the behalf of another, become affiliated in any capacity (including, but not limited to, as an employee, owner, partner, investor, director, officer, representative, manager, principal, agent, advisor, or consultant) with a business (or the division of a business) located within 100 miles of Employer’s location that Employee worked at during such employment that competes with the business of Employer (i) in a role or position substantially similar to any position that Employee held during the 12-month period immediately preceding termination of Your employment and which new position serves, in whole or in part, the same territory that Employee served for the Employer, or (ii) in a role or position where Employee would likely have to rely upon, account for, base judgments upon, or otherwise use or disclose in the course of his or her employment Proprietary Information as defined in this Agreement;
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (c) For the twelve (12) month period after the cessation of such employment, regardless of the reason, Employee shall not, directly or indirectly, whether on Employee’s own behalf or the behalf of another:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent col-lg-offset-1 col-xs-offset-1 col-md-offset-1 col-sm-offset-1">
                (i) induce, solicit, or encourage any prospective or current customer, vendor or supplier of Employer that Employee actually solicited or served for Employer in the 12 month period immediately preceding termination of his or her employment, and/or about which Employee obtained Proprietary Information which remains confidential, collectively “Customers,” to decrease their business, in whole or in part, with Employer;
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent col-lg-offset-1 col-xs-offset-1 col-md-offset-1 col-sm-offset-1">
                (ii) perform services that are the same as or similar to those that you performed while employed at Employer for Customers, during the 12-month period immediately preceding termination of Your employment, for Customers at your new employment; or
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent col-lg-offset-1 col-xs-offset-1 col-md-offset-1 col-sm-offset-1">
                (iii) encourage, contact, or attempt to induce any employees of Employer, with whom Employee had contact or about which Employee learned Proprietary Information that remains confidential, to terminate his or her employment relationship in order to become employed or otherwise affiliated with another entity.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (d) Employee agrees that these restrictions are reasonable under the applicable facts and circumstances of Employee’s employment. Employee and Employer agree that if any court or other decisional body were to find that any of the provisions of this Paragraph 3 exceeded the scope of permissible law, that such court on its own and/or with the agreement of the Parties, may modify any such overbroad provision in to the maximum scope permitted under the law.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (e) The Parties agree that any period of Employee’s non-performance of the limitations set forth in this Paragraph 3 shall be extended either by agreement and/or by court order in the event there is any such dispute so that Employer obtains the full benefit of the restrictions set forth herein.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p class="vspace">
                <strong>
                    4. <u>Injunctive Relief and Costs</u>
                </strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (a) Employee acknowledges that any violation of or failure to comply with the provisions of this Agreement may cause substantial and irreparable harm to Employer and that the nature and magnitude of the harm may be difficult or impossible to measure precisely or to compensate adequately with monetary damages.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (b) Employee agrees that Employer shall have the right to enforce Employee’s performance of and compliance with any and all provisions by obtaining a restraining order and/or an order of specific performance and/or other injunctive relief against Employee, at any time and from time to time, if it appears that Employee has violated or is about to violate any such provisions.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (c) Employee further agrees that Employee shall be liable for reimbursement of all attorneys’ fees, costs and expenses incurred by Employer in connection with any judicial proceeding arising out of any violation of or failure to comply with this Agreement.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (d) The provisions of this Section 4 are in addition to, and not in lieu of, any other rights and remedies that may be available to the Employer for breach of any portion of this Agreement.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace">
                <strong>
                    5. <u>Scope and Severability</u>
                </strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                If any part of this Agreement, except as provided for in Paragraph 3, is found to be in violation of, or unenforceable under, any state or federal law by the highest court to which the matter is litigated or appealed by any party, then that part alone shall be null and void, but the remaining provisions of this Agreement shall remain in full force and effect.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace">
                <strong>
                    6. <u>Inventions</u>
                </strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                All Inventions developed or discovered on behalf of or for Employer belong to and are the sole property of Employer and will be Inventions of Employer subject to this Agreement. Employee assigns to Employer all right, title, and interest Employee may have or may acquire in and to all Inventions including, without limitation, all patent rights, copyrights, trade secret rights, and all other intellectual property rights therein. Employee shall sign and deliver to Employer (during and after employment) any other documents that Employer considers desirable to provide evidence of (i) the assignment of all rights of Employee, if any, in any Inventions, and (ii) Employer’s ownership of such Inventions. Any Provision in this Agreement requiring Employee to assign rights to an invention does not apply to any invention that qualifies under the Illinois Employee Patent Act (the “Act”), and in connection with that Act, the following notice is provided:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify col-lg-offset-1 col-xs-offset-1 col-md-offset-1 col-sm-offset-1">
                This agreement to assign does not apply to an invention created in Illinois for which no equipment, supplies, facility, or trade secret information of Employer was used and which was developed entirely on Employee’s own time, unless (a) the invention relates (i) to the business of Employer, or (ii) to Employer’s actual or demonstrably anticipated research or development, or (b) the invention results from any work performed by Employee for Employer.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                Employee will assist Employer in applying for, prosecuting, obtaining, or enforcing any patent, copyright, or other right or protection relating to any Invention, all at Employer’s expense but without compensation to the Employee in excess of Employee’s salary or wages. If Employer requires any assistance after termination of Employee’s employment, Employee will be compensated for time actually spent providing that assistance at an hourly rate equivalent to Employee’s salary or wages during the last period of employment with Employer. If Employer is unable to secure Employee’s signature on any document necessary to apply for, prosecute, or obtain or enforce any patent, copyright, or other right or protection relating to any Invention, whether due to Employee’s mental or physical incapacity or any other cause, Employee irrevocably designates and appoints Employer and each of its duly authorized officers and agents as Employee’s agent and attorney-in-fact, to act for and on Employee’s behalf to execute and file any such document and to do all other lawfully permitted acts to further the prosecution, issuance, and enforcement of patents, copyrights, or other rights or protections, with the same force and effect as if executed and delivered by Employee.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace">
                <strong>
                    7. <u>Miscellaneous</u>
                </strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (a) Any and all notices required or permitted to be given under this Agreement shall be sufficient if furnished via e-mail to working e-mail addresses, or in writing and personally delivered or sent by mail, registered mail or certified mail to the last known address of Employee or to the Employer’s current address or such other place as Employee or the Employer may designate in writing for these purposes.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (b) This Agreement shall be governed in all respects by the laws of Illinois excluding application of any conflict of laws principles that might refer to the laws of another State or country. The parties agree that any disputes arising under this Agreement shall be litigated exclusively in the state courts with jurisdiction to hear cases in DuPage County, Illinois, or in the United States District Court for the Northern District of Illinois, Eastern Division (located in Chicago), if that federal court has subject matter jurisdiction to hear any such dispute and any party elects to file or remove any such dispute to that federal court. Employee consents to the personal jurisdiction and venue of such courts. Employer and Employee each waive their right to have a jury decide any jury-triable dispute that arises under this Agreement.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (c) No failure by either party hereto at any time to give notice of any breach by the other party of, or to require compliance with, any condition or provision of this Agreement shall be deemed a waiver of similar or dissimilar provisions or conditions at the same or at any prior or subsequent time.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                (d) This Agreement replaces and merges with any previous agreements and discussions pertaining to the subject matter covered herein. This Agreement constitutes the entire agreement of the Parties with regard to such subject matter, and contains all of the covenants, promises, representations, warranties, and agreements between the Parties with respect such subject matter. Each party to this Agreement acknowledges that no representation, inducement, promise, or agreement, oral or written, has been made by either party with respect to such subject matter, which is not embodied herein, and that no agreement, statement, or promise relating to the employment of Employee by Employer that is not contained in this Agreement shall be valid or binding. Any modification of this Agreement will be effective only if it is in writing and signed by each party whose rights hereunder are affected thereby.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h5 class="vspace text-center">
                <strong>
                    THIS AGREEMENT CREATES IMPORTANT OBLIGATIONS OF TRUST
                </strong>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="vspace text-justify text-indent">
                IN WITNESS WHEREOF, Employer and Employee have duly executed this Agreement in multiple originals to be effective on the date first stated above.
            </p>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-6 col-xs-12">
            <p>
               EMPLOYEE 
            </p>
        </div>
        <div class="col-lg-6 col-xs-12">
            <p>
               CED 
            </p>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-6 col-xs-12">
            <$client.env.FormField.a01_Full_Name.HTML>
        </div>
        <div class="col-lg-6 col-xs-12">
            By:
            <div class="inline-block vertical-middle">
                <$client.env.FormField.a02_By.HTML>
            </div>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-6 col-xs-12">
            Date:
            <div class="inline-block vertical-middle">
                <$client.env.FormField.a03_Date.HTML>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            Its:
            <div class="inline-block vertical-middle">
                <$client.env.FormField.a04_Its.HTML>
            </div>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-6 col-xs-12 pull-right">
            Date:
            <div class="inline-block vertical-middle">
                <$client.env.FormField.a05_Date.HTML>
            </div>
        </div>
    </div>
    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="lifesuite__clearfix lifesuite__float-right">
            <$client.env.FormButtons>
        </div>
    </div>
</main>
