<main>
    <header class="clearfix">
        <div class="col-45 pull-right">
            <img src="/assets/img/logo.png" alt="">
        </div>
    </header>
    <h2 class="text-center">
        <u>AT-WILL EMPLOYMENT AGREEMENT</u>
    </h2>
    <div class="section">
        THIS AT-WILL EMPLOYMENT AGREEMENT (the “<u>Agreement</u>”) is entered into by and between
        <div class="col-25">
            <input type="text">
        </div>
        (“<u>Employee</u>”) and Insight Global, LLC (“<u>Employer</u>”) on the date reflected on the last page of this Agreement.
    </div>
    <h2 class="text-center">
        <u>RECITALS</u>
    </h2>
    <div class="section clearfix">
        <div class="col-50 pull-right">
            <div class="fieldset">
                <strong>
                    <u>EMPLOYEE</u>:
                </strong>
            </div>
            <div class="fieldset clearfix">
                Signature:
                <div class="col-80 pull-right">
                    <input type="text">
                </div>
            </div>
            <div class="fieldset clearfix">
                Print Name:
                <div class="col-80 pull-right">
                    <input type="text">
                </div>
            </div>
            <div class="fieldset clearfix">
                Date:
                <div class="col-80 pull-right">
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="col-50"></div>
    </div>
    <div class="clearfix">
        <div class="col-50 pull-right section">
            <strong class="fieldset">
                <u>EMPLOYER:</u>
            </strong>
            <div class="clearfix fieldset">
                INSIGHT GLOBAL, LLC
            </div>
            <div class="clearfix fieldset">
                By:
                <div class="col-90 pull-right">
                    <input type="text">
                </div>
            </div>
            <div class="clearfix fieldset">
                Name:   Kevin M. Ingham
            </div>
            <div class="clearfix fieldset">
                Title: SVP, Human Resources
            </div>
        </div>
    </div>
</main>
