<main id="container">
    <div class="container-fluid inner-wrapper center-block">
        <header class="row mb-2">
            <div class="col-lg-12">
                <div class="img-wrapper pull-right">
                    <img src="<$link;/main/RedCarpet/FormTemplates/NZ_Personal_Information_Notice/img/apple_logo.jpg>" alt="Apple Logo" class="img-responsive">
                </div>
            </div>
        </header>
        <div class="row mb-2">
            <div class="col-lg-12">
                <h2>
                    <strong>Personal Information Notice</strong>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <strong>
                        <u>General Information</u>
                    </strong>
                </p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-12">
                Have you worked for Apple previously?
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 col-sm-12">
                <$client.env.FormField.a01_Worked_for_apple.HTML>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <p>
                    English First Name:
                </p>
                <$client.env.FormField.a02_First_Name.HTML>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <p>
                    English Last Name:
                </p>
                <$client.env.FormField.a03_Last_Name.HTML>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <p>
                    Preferred English First Name <br>(to appear in Apple directory):
                </p>
                <$client.env.FormField.a04_Preferred_Name.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <p>
                    Mobile Phone Number: <br> &nbsp;
                </p>
                <$client.env.FormField.a05_Mobile_Number.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <p>
                    Personal Email Address: <br> &nbsp;
                </p>
                <$client.env.FormField.a06_Email_Address.HTML>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <strong>
                        <u>Mailing Address (Mandatory)</u>
                    </strong>
                </p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-9 col-md-9 col-xs-12 col-xs-12">
                Address:
                <$client.env.FormField.a07_Address.HTML>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-3 col-md-3 col-xs-12 col-xs-12 mb-1">
                City:
                <$client.env.FormField.a08_City.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-xs-12 mb-1">
                State:
                <$client.env.FormField.a09_State.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-xs-12 mb-1">
                Postal Code:
                <$client.env.FormField.a10_Postal_Code.HTML>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <strong>
                        <u>Other Information</u>
                    </strong>
                </p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Date of Birth (DD/MM/YYYY):
                <$client.env.FormField.a11_Date_of_Birth.HTML>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="inline-block vertical-middle">
                    Gender:
                </div>
                <div class="inline-block vertical-middle">
                    <$client.env.FormField.a12_Gender.HTML>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Nationality
                <$client.env.FormField.a13_Nationality.HTML>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                IRD Number:
                <$client.env.FormField.a14_IRD_Number.HTML>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <strong>
                        <u>For Foreigner Only</u>
                    </strong>
                </p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Passport Number:
                <$client.env.FormField.a15_Passport_Number.HTML>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Visa Type:
                <$client.env.FormField.a16_Visa_Type.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Visa Number:
                <$client.env.FormField.a17_Visa_Number.HTML>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Visa Issue Date:
                <$client.env.FormField.a18_Visa_Issued_Date.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Visa Expiry Date:
                <$client.env.FormField.a19_Visa_Expiry_Date.HTML>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    <strong>
                        <u>Emergency Contact</u>
                    </strong>
                </p>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Contact Name:
                <$client.env.FormField.a20_Emergency_Contact.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Relationship:
                <$client.env.FormField.a21_Relationship.HTML>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Mobile Phone Number:
                <$client.env.FormField.a22_Mobile_Number.HTML>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-12">
                <p>
                    <strong>
                        <u>Acknowledgement</u>
                    </strong>
                </p>
                <p>
                    By completing this form, I declare that, to the best of my knowledge, any information that I have provided is true, correct and complete and that any falsification or misrepresentation of information that I have provided may be subject to disciplinary action including but not limited to termination of employment.
                </p>
                <p>
                    I acknowledge and, where necessary, under applicable local law consent to Apple collecting and processing my Personal Information/Data pursuant to Apple’s privacy policies and in accordance with the rights of workers enshrined in such applicable laws. I am aware that Apple will process this information in order to improve and maintain effective personnel administration, for general business management purposes, and to comply with obligations imposed by law including right to work and export control requirements. I have been provided a copy of Apple’s Employee Privacy Policy.
                </p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div class="form-group">
                    <$client.env.FormField.a23_Signature.HTML>
                    Candidate Signature
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="form-group">
                    <$client.env.FormField.a24_Date.HTML>
                    Date Signed
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-lg-12">
                <p>
                    <strong>
                        <u>Action to take on Day One of employment:</u>
                    </strong>
                </p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12">
                <p>
                    Log onto myPage (https://mypage.apple.com/): <br>
                    <span class="text-indent">&raquo; Review all data on myPage to check accuracy</span>
                </p>
                <p>
                    Please ensure you complete the bank information form and send to Payroll latest by first day of your employment.
                </p>
                <p>
                    *Failure to do so may result in delay of salary payment
                </p>
            </div>
        </div>
        <footer class="row">
            <div class="col-lg-12">
                NZL/ver18.1
            </div>
        </footer>
    </div>
    <hr class="lifesuite__hr">
    <div class="clearfix">
        <div id="formButtons" class="row" style="display: none;">
            <div class="lifesuite__clearfix">
                <div class="srt_eform_section">
                    <div id="srt_form_btn_wrapper">
                        <div class="srt_eform_row">
                            <div class="col-lg-12 srt_eform_module">
                                <$client.env.FormButtons>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
