<table border="0">
<tr>
			<td colspan="4" style="background-color:white; color:black; font-weight:bold;">Please review, confirm, and update as needed the below offer fields for
			<$client.tForWhomUserInfo.First_Name> <input type="hidden" size="40" name="First Name" value="<$client.tForWhomUserInfo.First_Name>" /> <$client.tForWhomUserInfo.Last_Name> <input type="hidden" size="40" name="Last Name" value="<$client.tForWhomUserInfo.Last_Name>" /></td>
</tr>

<tr>
     <td colspan="4" style="background-color:#00529B; color:white; font-weight:bold;">Offer Fields</td>
</tr>


 <tr>
			<td id='First_Name_prompt'>First Name</td>
			<td colspan="3"><input type="text" name="First_Name" value="<$client.tForWhomUserInfo.First_Name>" /></td>
		</tr>
		<tr>
			<td id='Middle_Name_prompt'>Middle Name</td>
			<td colspan="3"><input type="text" name="Middle_Name" value="<$client.tForWhomUserInfo.Middle_Name>" /></td>
		</tr>
		<tr>
			<td id='Last_Name_prompt'>Last Name</td>
			<td colspan="3"><input type="text" name="Last_Name" value="<$client.tForWhomUserInfo.Last_Name>" /></td>
		  </tr>
<tr>
			<td id='Hire_DT_prompt'>Hire Date</td>
			<input type="hidden" name="Hire_DT" value="<$client.env.eval(Date.Format('<$client.env.eval(Date.parse('<$client.tForWhomUserInfo.Hire_DT>'))>','%Y-%m-%d'))>" />
			<td colspan="3"><input type="date" data-target-date="Hire_DT" id="Hire_DT_display" value="<$client.env.eval(Date.Format('<$client.env.eval(Date.parse('<$client.tForWhomUserInfo.Hire_DT>'))>','%Y-%m-%d'))>" /></td>
		  </tr>
	
  <tr>
			<td id='Hire_Type_prompt'><$client.env.promptHire_Type></td>
			<td colspan="3"><$client.env.inputHire_Type></td>
		</tr>
<tr>
			<td id='Next_Review_Date_prompt'>Next Review Date</td>
			<td colspan="3"><input type="date" data-target-date="Next_Review_Date" id="Next_Review_Date_display" value="<$client.env.eval(Date.Format('<$client.env.eval(Date.parse('<$client.tForWhomUserInfo.Next_Review_Date>'))>','%Y-%m-%d'))>" /></td>
		</tr>
<tr>
			<td id='Hourly_Rate_prompt'><$client.env.promptHourly_Rate></td>
			<td colspan="3"><$client.env.inputHourly_Rate></td>
		</tr>
<tr>
			<td id='Salary_Amount_prompt'><$client.env.promptSalary_Amount></td>
			<td colspan="3"><$client.env.inputSalary_Amount></td>
		</tr>
<tr>
			<td id='Biweekly_Hours_prompt'><$client.env.promptBiweekly_Hours></td>
			<td colspan="3"><$client.env.inputBiweekly_Hours></td>
		</tr>
<tr>
			<td id='HealthWelfare_HourlyRate_prompt'>Health and Welfare Hourly Rate (If Applicable)</td>
			<td colspan="3"><$client.env.inputHealthWelfare_HourlyRate></td>
		</tr>
<tr>
			<td id='SignOnBonusAmt_prompt'>Sign-On Bonus Amount (If Applicable)</td>
			<td colspan="3"><$client.env.inputSignOnBonusAmt></td>
		</tr>
<tr>
			<td id='SignOnBonusDate_prompt'>Sign-On Bonus Payment Date (If Applicable)</td>
			<td colspan="3"><input id="SignOnBonusDate_display" type="date" value="<$client.tForWhomUserInfo.SignOnBonusDate>"></td>
		</tr>
<tr>
			<td id='Bonus_Perc_prompt'>Bonus (%) (If Applicable)</td>
			<td colspan="3"><$client.env.inputBonus_Perc></td>
		</tr>
<tr>
			<td id='Contingency_Clause_prompt'><$client.env.promptContingency_Clause></td>
		<td><$client.env.inputContingency_Clause></td>

   </tr>	
<tr>
			<td id='Supervisor_Manager_Name_prompt'>Supervisor/Manager Name</td>
			<td colspan="3"><$client.env.inputSupervisor_Manager_Name></td>
		</tr>
<tr>
			<td id='Supervisor_Manager_Title_prompt'>Supervisor/Manager Title</td>
			<td colspan="3"><$client.env.inputSupervisor_Manager_Title></td>
		</tr>
<tr>
			<td id='Offer_Date_prompt'>Offer Date</td>
			<td colspan="3"><input type="date" id="Offer_Date_display" value="<$client.tForWhomUserInfo.Offer_Date>"></td>
		</tr>
<tr>
			<td id='Auto_Allowance_prompt'>Auto Allowance (If Applicable)</td>
			<td colspan="3"><$client.env.inputAuto_Allowance></td>
		</tr>
		  <tr>
			<td id='Offer_Title_prompt'><span style="color: #ff0000;">Offer Signature Title* </span></td>
			<td colspan="3"><$client.env.inputOffer_Title></td>
		</tr>
<tr>
			<td id='Relocation_prompt'>Relocation (If Applicable)</td>
			<td colspan="3"><$client.env.inputRelocation></td>
		</tr>
<tr>
			<td id='Moving_Services_prompt'>Moving Services (If Applicable)</td>
			<td colspan="3"><$client.env.inputMoving_Services></td>
		</tr>
<tr>
			<td id='Vehicle_Transport_prompt'>Vehicle Transport (If Applicable)</td>
			<td colspan="3"><$client.env.inputVehicle_Transport></td>
		</tr>
<tr>
			<td id='Temporary_Housing_prompt'>Temporary Housing (If Applicable)</td>
			<td colspan="3"><$client.env.inputTemporary_Housing></td>
		</tr>
<tr>
			<td id='Pre_Move_prompt'>Pre-move House Hunting (If Applicable)</td>
			<td colspan="3"><$client.env.inputPre_Move></td>
		</tr>
<tr>

     <td>&nbsp;</td>
</tr>

</table>

<div hidden>
	<$client.env.inputNext_Review_Date>
	<$client.env.inputSignOnBonusDate>
	<$client.env.inputOffer_Date>
</div>

<!-- Format Dates on load -->
<script type="text/javascript">
   if(self.LoadCallback) {
      LoadCallback(document.forms['frmExtendedUserProfile']);
   }
</script>


<!-- SERVICES-38345 | 2019-07-30 | PSALUDARES | Added dynamic phone dashes while typing + maxlength of 12 script + disabled non-numeric input -->
<script>
// Adds phone dashes while typing + added maxlength of 12 + disables non-numeric input
$(function () {
            $('.dynamic-dashes').keydown(function (e) {
                var key = e.charCode || e.keyCode || 0;
                $text = $(this);
                if (key !== 8 && key !== 9) {
                    if ($text.val().length === 3) {
                        $text.val($text.val() + '-');
                    }
                    if ($text.val().length === 7) {
                        $text.val($text.val() + '-');
                    }
                }
                return (key == 8 || key == 9 || key == 46 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105));
            });
            $(".dynamic-dashes").attr('maxlength',12);
        });

// SERVICES-39715 | jjucutan | Geogroup -Updates to editprofile.html page
const doSave_x = function(btnType){
    document.getElementById('refer').value=document.getElementById(btnType).value;
    try {
        if(SessionIsBad()) { return false; }
    } 
    catch(e) {
        console.log(e);
    }
    if (!SubmitCallbackNoValidation(document.forms['frmExtendedUserProfile'])) {
        return false;
    }
    if(!SubmitCallback(document.forms['frmExtendedUserProfile'])) {
        return false;
	}
	const editProfileFrm = $('[name="frmExtendedUserProfile"]');
	let frmData = new FormData(document.forms['frmExtendedUserProfile']);
	$.ajax({
		url: editProfileFrm.prop('action'),
		type: editProfileFrm.prop('method'),
		contentType: false,
		data: frmData,
		processData: false
	});
    if (IsValidationEnabled() == false) {
		window.history.back();
    }
    return true;
}
// SERVICES-39715 | jjucutan | Geogroup -Updates to editprofile.html page
const validateAndSave = function() {
	"use strict";
	EnableValidation();
	doSave_x('refer-Save');
	if (g_HT.size() > 0) {
		return false;
	}
	window.history.back();
	return true;
}

// SERVICES-39715 | go back to previous page and not complete
$(document).on('ready', function() {
    $('#TaskSummary_ButtonSave, #EUPDefaultSaveButton').hide().parent().after(
        $('<button type="button" role="button" class="lifesuite__button" onClick="DisableValidation();doSave_x(\'refer-Save\');window.history.back();"/>').text('Save & Complete Later'),
        $('<button id="BtnSaveAndComplete" type="button" role="button" class="lifesuite__button primary" onClick="validateAndSave();"/>').text('Save & Complete Task')
    );
	$('#Hire_DT_display, #Next_Review_Date_display, #SignOnBonusDate_display, #Offer_Date_display').on('change', function() {
		$('[name$="' + $(this).data('target-date') + '"]').val(this.value);
		let datepickerField = $('[name$=".' + $(this).prop('id') + '"]');
		if(datepickerField) {
			datepickerField.datepicker('setDate', new Date(this.value));
		}
	});
});
</script>


