<div class="container-fluid main">
	<header class="row text-center">
		<img src="/assets/img/mclead_logo.jpg" alt="" class="img-responsive center-block">
	</header>
	<div class="text-center">
		<address>
			555 East Cheves street <br>
			Florence, SC 29506-2617 <br>
			(843) 777-5146
			OSHA Respirator Medical Evaluation Questionnaire (Mandatory)
		</address>
	</div>
	<p>
		Part A. Section 1. (Mandatory) Every employee who has been selected to use any type of respirator must provide the following information. (Please Print)
	</p>
	<section>
		1. Today's date:
		<span class="grid-30">
			<input type="text" class="lifesuite__text-input ng-invalid">
		</span>
		2. Your name:
		<span class="grid-40">
			<input type="text" class="lifesuite__text-input ng-invalid">
		</span>
		3. Your age to nearest year:
		<span class="grid-10">
			<input type="text" class="lifesuite__text-input ng-invalid">
		</span>
		4. Sex (circle one): Male/Female 5. Height:
		<span class="grid-5">
			<input type="text" class="lifesuite__text-input">
		</span>
		ft
		<span class="grid-5">
			<input type="text" class="lifesuite__text-input">
		</span>
		in. 6.Weight:
		<span class="grid-5">
			<input type="text" class="lifesuite__text-input">
		</span>
		7. Job Title:
		<span class="grid-20">
			<input type="text" class="lifesuite__text-input">
		</span> <br>
		8. A phone number where you can be reached by the health care professional who reviews this questionnaire (include area code):
		<span class="grid-20">
			<input type="text" class="lifesuite__text-input">
		</span>
		9. The best time to phone you at this number
		<span class="grid-20">
			<input type="text" class="lifesuite__text-input">
		</span> <br>
		10. Has your employer told you how to contact the health care professional who will review this questionnaire? (Circle one)
		<span class="grid-20">
			<label>
				<input type="radio">
				Yes
			</label>
			<label>
				<input type="radio">
				No
			</label>
		</span>	<br>
		11. Check the type of respirator you will use (you can check more than one category) <br>
		<ol type="A" class="list-offset-3">
			<li>
				<input type="checkbox">
				N (not resistant to oil), R (resistant to oil), or P (oil Proof) disposable respirator (filter mask, non-cartridge type only).
			</li>
			<li>
				<input type="checkbox">
				Other type (for example, half or full-face piece type, powered-air purifying, Supplied-air, self-contained breathing apparatus).
			</li>
		</ol>
		12. Have you worn a respirator (circle one)
		<span class="grid-20">
			<label>
				<input type="radio">
				Yes
			</label>
			<label>
				<input type="radio">
				No
			</label>
		</span>
		If "yes" what type(s):
		<span class="grid-30">
			<input type="text" class="lifesuite__text-input">
		</span> <br>
		13. Have you been assigned to wear a respirator within the last 12 months? (Circle one)
		<span class="grid-20">
			<label>
				<input type="radio">
				Yes
			</label>
			<label>
				<input type="radio">
				No
			</label>
		</span>
	</section>

	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<p>
				Part A. Section 2. (Mandatory) Questions 1 through 9 below must be answered by every employee who has been selected to use any type of respirator (please circle "yes" or "no"
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
	        <div class="diagnostic-list">
	            1. Do you currently smoke tobacco or have you smoked tobacco in the last month?
	    		<span class="grid-20">
	    			<label>
	    				<input type="radio">
	    				Yes
	    			</label>
	    			<label>
	    				<input type="radio">
	    				No
	    			</label>
	    		</span>
	        </div>
		</div>
	</div>
	<section>
		<div class="row">
			<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
				<div class="diagnostics-list">
					2. Have you ever had any of the following conditions?
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							A. Seizures (fits)
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							B. Diabetes (sugar disease)
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							C. Allergic reactions that interfere with your breathing
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							D. Claustrophobia (fear of closed-in places)
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							E. Trouble smelling odors
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
				</div>
				<div class="diagnostics-list">
					3. Have you ever had any of the following pulmonary or lung problems?
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							A. Asbestosis
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							B. Asthma
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							C. Chronic bronchitis
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							D. Emphysema
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							E. Pneumonia
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							F. Tuberculosis
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							G. Silicosis
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							H. Pneumothorax (collapsed lung)
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							I. Lung cancer
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							J. Broken ribs
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							K. Any chest injuries or surgeries
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							L. Any other lung problem that you've been told about
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
				</div>
				<div class="diagnostics-list">
				4. Do you currently have any of the following symptoms of pulmonary or lung illness?
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							A. Shortness of breath
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							B. Shortness of breath when walking fast on level ground or walking up a slight hill or incline
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							C. Shortness of breath when walking with other people at an ordinary pace on level ground
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							D. Have to stop for breath when walking at your own pace on level ground
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							E. Shortness of breath when washing or dressing yourself
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							F. Shortness of breath that interferes with your job
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							G. Coughing that produces phlegm (thick sputum)
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							H. Coughing that wakes you early in the morning
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							I. Coughing that occurs mostly when you are lying down
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							J. Coughing up blood in the last month
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							K. Wheezing
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							L. Wheezing that interferes with your job
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							M. Chest pain when you breathe deeply
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
					<div class="clearfix">
						<span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
							N. Any other symptoms that you think may be related to lung problems
						</span>
						<div class="pull-right">
							<label>
								<input type="radio">
								Yes
							</label>
							<label>
								<input type="radio">
								No
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            5. Have you ever had any of the following cardiovascular or heart problems?
				<div class="diagnostics-list">
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            A. Heart attack
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            B. Stroke
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            C. Angina
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            D. Heart failure
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            E. Swelling in your legs or feet not caused by walking
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            F. Heart arrhythmia (heart beating irregularly)
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            G. High blood pressure
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            H. Any other hear problems that you've been told about.
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
				</div>
                <div class="diagnostics-list">
                    6. Have you ever had any of the following cardiovascular or heart symptoms?
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            A. Frequent pain or tightness in your chest
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            B. Pain or tightness in your chest during physical activity
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            C. Pain or tightness in your chest that interferes with your job
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            D. In the past 2 years, have you noticed your heart skipping or missing a beat
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            E. Heartburn or indigestion that is not related to eating
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            F. Any other symptoms that you think may be related to to your heart
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="diagnostics-list">
                    7. Do you currently take medication for any of the following problems?
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            A. Breathing or lung problems
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            B. Heart trouble
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            C. Blood pressure
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            D. Seizures (fits)
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div start="8" class="diagnostics-list">
                    <ol start="8" class=" diagnostics-offset-1">
                        <li>
                            If you've used a respirator, have you ever had any of the following problems? (if you've never used a respirator, check the following space
                            <div class="grid-20">
                                <input type="text" class="lifesuite__text-input">
                            </div>
                            and go to question #9.)
                        </li>
                    </ol>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            A. Eye irritation
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            B. Skin allergies or rashes
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            C. Anxiety (due to wearing a respirator)
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            D. General weakness or fatigue
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            E. Any other problem that interferes with your use of a respirator
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="diagnostics-list">
                    <ol start="9" class=" diagnostics-offset-1">
                        <li>
                            Would you like to talk to the health care professional who will review this questionnaire about your answers?
                        </li>
                    </ol>
                    <div class="pull-right">
                        <label>
                            <input type="radio">
                            Yes
                        </label>
                        <label>
                            <input type="radio">
                            No
                        </label>
                    </div>
                </div>
			</div>
		</div>
	</section>
    <section>
        <p>
            Questions 10 to 15 below must be answered by every employee who has been selected to use either a full-facepiece respirator or a self -contained breathing apparatus (SCBA). For employees who have been selected to use other types of respirators, answering these questions is voluntary.
        </p>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="diagnostics-list">
                    <ol start="10" class=" diagnostics-offset-1">
                        <li>
                            Would you like to talk to the health care professional who will review this questionnaire about your answers?
                            <span class="pull-right">
                                <label>
                                    <input type="radio">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio">
                                    No
                                </label>
                            </span>
                        </li>
                    </ol>
                </div>
                <div class="diagnostics-list">
                    11. Do you currently have any of the following vision problems?
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            A. Wear contact lenses
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            B. Wear glasses
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            C. Color blind
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            D. Any other eye or vision problems
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="diagnostics-list">
                    <ol start="12" class=" diagnostics-offset-1">
                        <li>
                            Have you ever had an injury to your ears, including a broken ear drum?
                            <span class="pull-right">
                                <label>
                                    <input type="radio">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio">
                                    No
                                </label>
                            </span>
                        </li>
                    </ol>
                </div>
                <div class="diagnostics-list">
                    13. Do you currently have any of the following hearing problems?
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            A. Difficulty hearing
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            B. Wear a hearing aid
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            C. Any other hearing or ear problems
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="diagnostics-list">
                    <ol start="14" class=" diagnostics-offset-1">
                        <li>
                            Have you ever had a back injury?
                            <span class="pull-right">
                                <label>
                                    <input type="radio">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio">
                                    No
                                </label>
                            </span>
                        </li>
                    </ol>
                </div>

            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="diagnostics-list">
                    <ol start="15" class=" diagnostics-offset-1">
                        <li>
                            Do you currently have any of the following musculoskeletal problems?
                            <span class="pull-right">
                                <label>
                                    <input type="radio">
                                    Yes
                                </label>
                                <label>
                                    <input type="radio">
                                    No
                                </label>
                            </span>
                        </li>
                    </ol>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            A. Weakness in any of your arms, hands, legs or feet
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            B. Back pain
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            C. Difficulty fully moving your arms and legs
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            D. Pain or stiffness when you lean forward or backward at the waist
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            E. Difficulty fully moving your head up or down
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            F. Difficulty fully moving your head side to side
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            G. Difficulty bending at your knees
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            H. Difficulty squatting to the ground
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            I. Difficulty climbing a flight of stairs or a ladder carrying more more than 25 lbs
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            J. Any other muscle or skeletal problems that interferes with using a respirator
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <span class="col-xs-7 col-md-9 col-lg-9 diagnostics-label diagnostics-offset-1">
                            C. Any other hearing or ear problems
                        </span>
                        <div class="pull-right">
                            <label>
                                <input type="radio">
                                Yes
                            </label>
                            <label>
                                <input type="radio">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dotted-bottom">
        Comments on Positive Responses:
        <textarea class="lifesuite__text-input" id="" cols="30" rows="10"></textarea>
        <div class="row form-horizontal">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <label class="col-md-4 col-lg-4 control-label">
                    Employee's Signature:
                </label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" class="lifesuite__text-input ng-invalid">
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <label class="col-md-1 col-lg-1 control-label">
                    Date:
                </label>
                <div class="col-md-8 col-lg-8">
                    <input type="text" class="lifesuite__text-input ng-invalid">
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
            Further Studies Indicated?
        </div>
        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            <label>
                <input type="radio">
                Yes
            </label>
            <label>
                <input type="radio">
                No
            </label>
        </div>
    </section>
    <section class="row">
        <div class="col-lg-12 col-md-12">
            Comments:
            <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
        </div>
    </section>
    <div class="row form-horizontal">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <label class="col-md-1 col-lg-1 control-label">
                Signature:
            </label>
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                <input type="text" class="lifesuite__text-input">
            </div>
            <label class="col-md-2 col-lg-2 control-label text-left">
                (NP, RN, PA, MD/Do)
            </label>
        </div>
    </div>
</div>
