<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="font-weight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="sign-btn-group">
            <input type="button" class="lifesuite__button primary" value="Sign" onclick="validateSignature('signature','eSignature1','fullName','modal','over','sv', 'Date');xbObj('eSignature1').value='';document.getElementById('eSignature1').focus();">&nbsp;
            <input type="button" class="lifesuite__button" value="Clear" onclick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value=''; if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','Date');}">&nbsp;
            <input type="button" class="lifesuite__button" value="Cancel" onclick="showHide('modal');showHide('over');xbObj('eSignature1').value='';" style="margin-right: -8px;">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="over" style="display:none;"></div>
<!-- RESPONSIVE eFORM PAGE LOADER-->
<div class="modal" style="display:block; background: #002E6D;">
  <div class="fb-spinner">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<form name="frmForm" action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);" role="form">
    <div hidden>
        <$client.env.FormField.Form_Name.prompt>
        <$client.env.FormField.Form_Name.HTML>
        <$client.env.FormField.Form_Type.prompt>
        <$client.env.FormField.Form_Type.HTML>
        <$client.env.FormField.Form_Owner.prompt>
        <$client.env.FormField.Form_Owner.HTML>
        <$client.env.FormField.Form_CreateDate.prompt>
        <$client.env.FormField.Form_CreateDate.HTML>
        <$client.env.FormField.Form_Completed.prompt>
        <$client.env.FormField.Form_Completed.HTML>
        <$client.env.FormField.Form_Delivered.prompt>
        <$client.env.FormField.Form_Delivered.HTML>
        <$client.env.FormField.Form_TaskId.prompt>
        <$client.env.FormField.Form_TaskId.HTML>
        <$client.env.FormField.display_version.HTML>
        <!-- Replace With eForm Specific Data Field Prompts From Formalizer-->
        <$client.env.FormField.a01_FirstName.prompt>
        <$client.env.FormField.a02_LastName.prompt>
        <$client.env.FormField.a03_BirthDate.prompt>
        <$client.env.FormField.a04_Ssn.prompt>
        <$client.env.FormField.a05_Department.prompt>
    </div>
    <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">
<main class="container-fluid">
    <div class="row mb-4 mt-2">
        <div class="col-12 text-center">
            <strong>CLEVELAND CLINIC FOUNDATION <br>
            PHYSICIAN ASSISTANT SERVICES</strong>
        </div>  
    </div>

    <div class="row mb-4">
        <div class="col-12 text-center">
            <strong>STUDENT UNIFORM/SCRUBS AND LOCKER REQUEST <br>
            PHYSICIAN ASSISTANT STUDENTS</strong>
        </div>  
    </div>

    <div class="row mb-2">
        <div class="col-lg-2 col-sm-2 col-xs-12 mt-2">
            FIRST NAME:
        </div>
        <div class="col-lg-10 col-sm-10 col-xs-12">
            <div class="form-group">
                <$client.env.FormField.a01_FirstName.HTML>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-2 col-sm-2 col-xs-12 mt-2">
            LAST NAME:
        </div>
        <div class="col-lg-10 col-sm-10 col-xs-12">
            <div class="form-group">
                <$client.env.FormField.a02_LastName.HTML>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-2 col-sm-2 col-xs-12 mt-2">
            BIRTHDATE:
        </div>
        <div class="col-lg-10 col-sm-10 col-xs-12">
            <div class="form-group">
                <$client.env.FormField.a03_BirthDate.HTML>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-lg-4 col-sm-4 col-xs-12 mt-2">
            SOCIAL SECURITY NUMBER:
        </div>
        <div class="col-lg-8 col-sm-8 col-xs-12">
            <div class="form-group">
                <$client.env.FormField.a04_Ssn.HTML>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-2 col-sm-2 col-xs-12 mt-2">
            DEPARTMENT:
        </div>
        <div class="col-lg-10 col-sm-10 col-xs-12">
            <div class="form-group">
                <$client.env.FormField.a05_Department.HTML>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            AUTHORIZED BY: 
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-1 col-lg-4 col-sm-4 col-xs-12">
            <img src="<$link;/main/RedCarpet/FormTemplates/PA_Scrubs_eForm/img/jpagel_sign.jpg>" alt="Josanne K. Pagel Signature" class="img-fluid">
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            Josanne K. Pagel MPAS, PA-C, Executive Director, PA services
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="mb-3">
                COST CENTER: 000000905188 
            </p>
            <p class="mb-3">
                MAIL CODE: E-BASEMENT 116
            </p>
            <p>
                EXTENSION: 50626
            </p>
            <p class="mb-3 pb-3 border-bottom border-dark">
                <strong>PRECEPTOR IS REQUESTING STUDENT RECEIVE 2 PAIRS OF SCRUBS</strong>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>
                UNIFORM ROOM USE ONLY: H3-10 Jackie Bibb
            </p>
            <p>
                DIRECTIONS FOR PICKING UP SCRUBS/ACCESSING LOCKERS: H BLDG – MAIN FLOOR – GO THRU CAFETERIA TO THE BACK, GO THRU DOOR, TAKE ELEVATOR TO FLOOR 3S. GIVE THIS FORM TO ATTENDANT FOR SCRUBS AND LOCKER ACCESS
            </p>
        </div>
    </div>

    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="col-12">
            <div class="sign-btn-group">
                <$client.env.FormButtons>
            </div>
        </div>
    </div>
</main>

<div hidden>
    <$client.env.FormField.SignatureVerification.HTML>
</div>

</form>
<script src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/bootstrap.min.js>"></script>
<script>
showScreen('over');
ChangeCalendarIcons(); //for popup calendar
const thisForm = document.querySelector('[name="frmForm"]');
/* RESPONSIVE eFORM BUTTONS STYLE */
$(document).on('ready', function() {
    $("#buttonCancel").removeClass().addClass("lifesuite__button").prop('id','ButtonCancel');
    $("#buttonSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSave');
    $("#buttonSaveAndComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSaveAndComplete');
    $("#buttonPrint").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPrint');
    $("#buttonPreviewDelete").removeClass().addClass("lifesuite__button").prop('id','ButtonPreviewDelete');
    $("#buttonPreviewSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPreviewSave');
    $("#buttonComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonComplete');
    $('#formButtons').show();
    $("input[type=text]").addClass('lifesuite__text-input');
    $("input[type=text].hasDatepicker").addClass('dateField');
    $("select").addClass('lifesuite__select-input');
    $("input[type=radio]").addClass('lifesuite__radio');
    $("input[type=checkbox]").addClass('lifesuite__checkbox');
    $("textarea").addClass('lifesuite__textarea-input');
    $('label').addClass('lifesuite__input-label lifesuite__input—block');
});

const disableCalButton = function(el) {
    "use strict";
    el.parent().find('input').prop('disabled', 'disabled');
}

$(window).on('load', function() {
    $(".modal").hide();
});
angular.element(window).on('load', function() {
    setTimeout(function() {
        angular.element('#divLoader').hide();
    }, 800);
});
</script>
