<form name='frmForm' action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);">
  <div style="display:none;">
    <$client.env.FormField.Form_Name.prompt>
    <$client.env.FormField.Form_Name.HTML>
    <$client.env.FormField.Form_Type.prompt>
    <$client.env.FormField.Form_Type.HTML>
    <$client.env.FormField.Form_Owner.prompt>
    <$client.env.FormField.Form_Owner.HTML>
    <$client.env.FormField.Form_CreateDate.prompt>
    <$client.env.FormField.Form_CreateDate.HTML>
    <$client.env.FormField.Form_Completed.prompt>
    <$client.env.FormField.Form_Completed.HTML>
    <$client.env.FormField.Form_Delivered.prompt>
    <$client.env.FormField.Form_Delivered.HTML>
    <$client.env.FormField.Form_TaskId.prompt>
    <$client.env.FormField.Form_TaskId.HTML>
    <$client.env.FormField.display_version.HTML>





    <$client.env.FormField.a_address1.prompt>
    <$client.env.FormField.a_address2.prompt>
    <$client.env.FormField.a_alt_id.prompt>
    <$client.env.FormField.a_birth_date.prompt>
    <$client.env.FormField.a_business_email.prompt>
    <$client.env.FormField.a_city.prompt>
    <$client.env.FormField.a_county.prompt>
    <$client.env.FormField.a_ethnic_group.prompt>
    <$client.env.FormField.a_ethnicity_id.prompt>
    <$client.env.FormField.a_gender.prompt>
    <$client.env.FormField.a_home_email.prompt>
    <$client.env.FormField.a_home_phone.prompt>
    <$client.env.FormField.a_marital_status.prompt>
    <$client.env.FormField.a_military_status.prompt>
    <$client.env.FormField.a_name.prompt>
    <$client.env.FormField.a_other_email.prompt>
    <$client.env.FormField.a_other_phone.prompt>
    <$client.env.FormField.a_preferred_name.prompt>
    <$client.env.FormField.a_ps_empl_id.prompt>
    <$client.env.FormField.a_referral_source.prompt>
    <$client.env.FormField.a_ssn.prompt>
    <$client.env.FormField.a_state.prompt>
    <$client.env.FormField.a_zip.prompt>
    <$client.env.FormField.b_benefit_program.prompt>
    <$client.env.FormField.b_business_title.prompt>
    <$client.env.FormField.b_category.prompt>
    <$client.env.FormField.b_compensation_rate.prompt>
    <$client.env.FormField.b_department_code.prompt>
    <$client.env.FormField.b_department_name.prompt>
    <$client.env.FormField.b_effective_date.prompt>
    <$client.env.FormField.b_employee_type.prompt>
    <$client.env.FormField.b_expatriate.prompt>
    <$client.env.FormField.b_flsa.prompt>
    <$client.env.FormField.b_full_time.prompt>
    <$client.env.FormField.b_job_code.prompt>
    <$client.env.FormField.b_job_title.prompt>
    <$client.env.FormField.b_location_code.prompt>
    <$client.env.FormField.b_officer_code.prompt>
    <$client.env.FormField.b_people_soft.prompt>
    <$client.env.FormField.b_people_soft_reason_code.prompt>
    <$client.env.FormField.b_reg_temp.prompt>
    <$client.env.FormField.b_standard_hours.prompt>
    <$client.env.FormField.b_supervisor.prompt>
    <$client.env.FormField.b_supervisor_empl_id.prompt>
    <$client.env.FormField.b_work_phone.prompt>
    <$client.env.FormField.c_days_entitled_salary_continuation.prompt>
    <$client.env.FormField.c_effective_date.prompt>
    <$client.env.FormField.c_people_soft_action.prompt>
    <$client.env.FormField.c_people_soft_reason.prompt>
    <$client.env.FormField.c_pto_days_applied.prompt>
    <$client.env.FormField.d_contest_unemployment.prompt>
    <$client.env.FormField.d_pto_days.prompt>
    <$client.env.FormField.d_severance_details.prompt>
    <$client.env.FormField.d_termination_date.prompt>
    <$client.env.FormField.d_termination_status.prompt>
    <$client.env.FormField.e_comments.prompt>
    <$client.env.FormField.e_primary_name.prompt>
    <$client.env.FormField.e_primary_other_phone.prompt>
    <$client.env.FormField.e_primary_other_phone_type.prompt>
    <$client.env.FormField.e_primary_phone.prompt>
    <$client.env.FormField.e_primary_relationship.prompt>
    <$client.env.FormField.e_secondary_name.prompt>
    <$client.env.FormField.e_secondary_other_phone.prompt>
    <$client.env.FormField.e_secondary_other_phone_type.prompt>
    <$client.env.FormField.e_secondary_phone.prompt>
    <$client.env.FormField.e_secondary_relationship.prompt>
    <$client.env.FormField.f_date1.prompt>
    <$client.env.FormField.f_date2.prompt>
    <$client.env.FormField.f_date3.prompt>
    <$client.env.FormField.f_date4.prompt>
    <$client.env.FormField.f_entered_into_peoplesoft.prompt>
    <$client.env.FormField.f_finance.prompt>
    <$client.env.FormField.f_hr.prompt>
    <$client.env.FormField.f_supervisor.prompt>
    <$client.env.FormField.g_additional_approvals1.prompt>
    <$client.env.FormField.g_additional_approvals2.prompt>
    <$client.env.FormField.g_additional_approvals3.prompt>
    <$client.env.FormField.g_date1.prompt>
    <$client.env.FormField.g_date2.prompt>
    <$client.env.FormField.g_date3.prompt>
    <$client.env.FormField.h_date1.prompt>
    <$client.env.FormField.h_date2.prompt>
    <$client.env.FormField.h_payroll.prompt>
    <$client.env.FormField.h_scanned.prompt>





  </div>
  <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">


  <table  class=" tbl_outer" >
    <tr>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" valign="top" class="subheadblack">PERSONNEL ACTION REQUEST (PAR) FORM</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" valign="top" class="textitallic">This form is intended for use by Supervisors when communicating PeopleSoft Actions that are <span class="textunder">not</span> covered by the Employee Profile Change Form.</td>
    </tr>
    <tr>
      <td align="left" valign="top">&nbsp;</td>
    </tr>
    <tr>
      <td  valign="top"><table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#000000" >
        <tr>
          <td height="30"  valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="padding: 10px;"> <!--psaludares padding -->
            <tr>
              <td width="12%" align="left" valign="middle">&nbsp;</td>
              <td width="20%" align="left" valign="middle">&nbsp;</td>
              <td width="8%" align="left" valign="middle">&nbsp;</td>
              <td width="12%" align="left" valign="middle">&nbsp;</td>
              <td width="13%" align="left" valign="middle">&nbsp;</td>
              <td width="15%" align="left" valign="middle">&nbsp;</td>
              <td width="15%" align="left" valign="middle">&nbsp;</td>
              <td width="4%" align="left" valign="middle">&nbsp;</td>
              <td width="1%" align="left" valign="middle">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="8" align="left" valign="middle"><span class="smalltext2">PERSONAL DATA</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(For Hire, Rehire, and Change information not already present on the I-9, Employment Application, or other required forms.)</td>
            </tr>
            <tr>
              <td align="left" valign="middle">&nbsp;</td>
              <td align="left" valign="middle">&nbsp;</td>
              <td align="left" valign="middle">&nbsp;</td>
              <td align="left" valign="middle">&nbsp;</td>
              <td align="left" valign="middle">&nbsp;</td>
              <td align="left" valign="middle">&nbsp;</td>
              <td align="left" valign="middle">&nbsp;</td>
              <td align="left" valign="middle">&nbsp;</td>
            </tr>
            <tr>
              <td align="left" valign="middle" class="smalltext1">Name</td>
              <td colspan="2" align="left" valign="middle"><$client.env.FormField.a_name.HTML></td>
              <td align="left" valign="middle" class="smalltext1">&nbsp;</td>
              <td colspan="4" align="left" valign="middle"><span class="smalltext1">Social Security #&nbsp;</span>
                <$client.env.FormField.a_ssn.HTML>
                &nbsp;<span class="smalltext1">PS Empl ID</span>&nbsp;
                <$client.env.FormField.a_ps_empl_id.HTML></td>
              </tr>
              <tr>
                <td align="left" valign="middle">&nbsp;</td>
                <td align="left" valign="middle">&nbsp;</td>
                <td align="left" valign="middle">&nbsp;</td>
                <td align="left" valign="middle">&nbsp;</td>
                <td align="left" valign="middle">&nbsp;</td>
                <td align="left" valign="middle">&nbsp;</td>
                <td align="left" valign="middle">&nbsp;</td>
                <td align="left" valign="middle">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="4" align="left" valign="middle" class="smalltext1">Preferred Name&nbsp;<$client.env.FormField.a_preferred_name.HTML></td>
                <td colspan="4" align="left" valign="middle"><span class="smalltext1">Home Phone&nbsp;</span>
                  <$client.env.FormField.a_home_phone.HTML>
                  &nbsp;<span class="smalltext1">Alt. ID#</span>&nbsp;              <$client.env.FormField.a_alt_id.HTML></td>
                </tr>
                <tr>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="middle" class="smalltext1">Address 1</td>
                  <td colspan="3" align="left" valign="middle"><$client.env.FormField.a_address1.HTML></td>
                  <td align="left" valign="middle"><span class="smalltext1">Other Phone</span></td>
                  <td colspan="3" align="left" valign="middle"><$client.env.FormField.a_other_phone.HTML></td>
                </tr>
                <tr>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="middle" class="smalltext1">Address 2</td>
                  <td colspan="3" align="left" valign="middle"><$client.env.FormField.a_address2.HTML></td>
                  <td align="left" valign="middle"><span class="smalltext1">Business eMail</span></td>
                  <td colspan="3" align="left" valign="middle"><$client.env.FormField.a_business_email.HTML></td>
                </tr>
                <tr>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="middle" class="smalltext1">City</td>
                  <td align="left" valign="middle"><$client.env.FormField.a_city.HTML></td>
                  <td align="left" valign="middle" class="smalltext1">State</td>
                  <td align="left" valign="middle"><$client.env.FormField.a_state.HTML></td>
                  <td align="left" valign="middle" class="smalltext1">Home eMail</td>
                  <td colspan="3" align="left" valign="middle"><$client.env.FormField.a_home_email.HTML></td>
                </tr>
                <tr>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td colspan="4" align="left" valign="middle">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="middle" class="smalltext1">Zip Code</td>
                  <td align="left" valign="middle"><$client.env.FormField.a_zip.HTML></td>
                  <td align="left" valign="middle" class="smalltext1">County</td>
                  <td align="left" valign="middle"><$client.env.FormField.a_county.HTML></td>
                  <td align="left" valign="middle" class="smalltext1">Other eMail</td>
                  <td colspan="3" align="left" valign="middle"><$client.env.FormField.a_other_email.HTML></td>
                </tr>
                <tr>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="middle" class="smalltext1">Marital Status</td>
                  <td align="left" valign="middle"><$client.env.FormField.a_marital_status.HTML></td>
                  <td align="left" valign="middle" class="smalltext1">Birth Date</td>
                  <td align="left" valign="middle"><$client.env.FormField.a_birth_date.HTML></td>
                  <td colspan="2" align="left" valign="middle" class="smalltext1">Military Status&nbsp;
                    <$client.env.FormField.a_military_status.HTML></td>
                    <td align="left" valign="middle" class="smalltext1">Gender</td>
                    <td align="left" valign="middle"><$client.env.FormField.a_gender.HTML></td>
                  </tr>
                  <tr>
                    <td align="left" valign="middle">&nbsp;</td>
                    <td align="left" valign="middle">&nbsp;</td>
                    <td align="left" valign="middle">&nbsp;</td>
                    <td align="left" valign="middle">&nbsp;</td>
                    <td align="left" valign="middle">&nbsp;</td>
                    <td align="left" valign="middle">&nbsp;</td>
                    <td align="left" valign="middle">&nbsp;</td>
                    <td align="left" valign="middle">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="4" align="left" valign="middle" class="smalltext1">Ethnic Group
                      <$client.env.FormField.a_ethnic_group.HTML></td><td colspan="2">
                        &nbsp;Ethnicity Identified By&nbsp;
                        <$client.env.FormField.a_ethnicity_id.HTML> </td><td colspan="2" align="left" valign="middle" class="smalltext1"> Referral Source&nbsp; <$client.env.FormField.a_referral_source.HTML></td></tr>
                        <tr>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                        </tr>


                        <tr>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                        </tr>

                      </table></td>
                    </tr>

                  </table></td>
                </tr>
                <tr>
                  <td align="center" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td  valign="top"><table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#000000">
                    <tr>
                      <td height="30" align="center" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="padding: 10px;"> <!--psaludares padding -->
                        <tr>
                          <td width="13%" align="left" valign="middle">&nbsp;</td>
                          <td width="6%" align="left" valign="middle">&nbsp;</td>
                          <td width="8%" align="left" valign="middle">&nbsp;</td>
                          <td width="14%" align="left" valign="middle">&nbsp;</td>
                          <td width="24%" align="left" valign="middle">&nbsp;</td>
                          <td width="16%" align="left" valign="middle">&nbsp;</td>
                          <td width="7%" align="left" valign="middle">&nbsp;</td>
                          <td width="12%" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="left" valign="middle" class="smalltext2" colspan="2">JOB DATA</td>
                          <td colspan="6" align="left" valign="middle">(Use the <span class="smalltext1">Employee Profile Change Form</span> when Action = PAY, PRO, DEM, XFR, JRC, and DTA with Reasons LOC, ETN, NTE, or HRS.)</td>
                        </tr>
                        <tr>
                          <td colspan="8" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="left" valign="top" class="smalltext1">PeopleSoft Action:</td>
                          <td colspan="7" align="left" valign="top" ><$client.env.FormField.b_people_soft.HTML></td>
                        </tr>
                        <tr>
                          <td colspan="8" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="3" align="left" valign="middle" class="smalltext1">PeopleSoft Reason Code: <$client.env.FormField.b_people_soft_reason_code.HTML></td>
                          <td colspan="2" align="right" valign="middle" class="smalltext1">EFFECTIVE DATE (required)</td>
                          <td colspan="3" align="left" valign="middle"><$client.env.FormField.b_effective_date.HTML></td>
                        </tr>
                        <tr>
                          <td colspan="7" align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="left" valign="middle" class="smalltext1">Depart Name </td>
                          <td colspan="2"align="left" valign="middle"><$client.env.FormField.b_department_name.HTML></td>
                          <td align="left" valign="middle" class="smalltext1">Depart Code </td>
                          <td align="left" valign="middle"><$client.env.FormField.b_department_code.HTML></td>
                          <td align="left" valign="middle" class="smalltext1">Location Code </td>
                          <td colspan="2" align="left" valign="middle"><$client.env.FormField.b_location_code.HTML></td>
                        </tr>
                        <tr>
                          <td colspan="8" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="3" align="left" valign="middle" class="smalltext1">Supervisor <$client.env.FormField.b_supervisor.HTML></td>
                          <td colspan="5" align="left" valign="middle" class="smalltext1">Supervisor PS Empl ID:&nbsp;<$client.env.FormField.b_supervisor_empl_id.HTML></td>
                        </tr>
                        <tr>
                          <td colspan="8" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="2" align="left" valign="middle" class="smalltext1">Job Code</td>
                          <td align="left" valign="middle"><$client.env.FormField.b_job_code.HTML></td>
                          <td align="right" valign="middle" class="smalltext1">Job Title</td>
                          <td align="left" valign="middle"><$client.env.FormField.b_job_title.HTML></td>
                          <td colspan="2" align="right" valign="middle" class="smalltext1">Reg/Temp Status&nbsp;&nbsp;</td>
                          <td align="left" valign="middle"><$client.env.FormField.b_reg_temp.HTML></td>
                        </tr>
                        <tr>
                          <td colspan="8" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="2" align="left" valign="middle" class="smalltext1">Full/Part-time Status </td>
                          <td align="left" valign="middle"><$client.env.FormField.b_full_time.HTML></td>
                          <td colspan="2" align="left" valign="middle" class="smalltext1">Standard Hours/Wk <$client.env.FormField.b_standard_hours.HTML></td>
                          <td colspan="2" align="left" valign="middle" class="smalltext1">Check if employee is Expatriate</td>
                          <td align="left" valign="middle"><$client.env.FormField.b_expatriate.HTML></td>
                        </tr>
                        <tr>
                          <td colspan="8" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="3" align="left" valign="middle"><span class="smalltext1">Officer Code</span> (if applicable)&nbsp;<$client.env.FormField.b_officer_code.HTML></td>
                          <td align="left" valign="middle" class="smalltext1">Category</td>
                          <td align="left" valign="middle"><$client.env.FormField.b_category.HTML></td>
                          <td align="left" valign="middle" class="smalltext1">FLSA Status&nbsp;</td>
                          <td colspan="2" align="left" valign="middle"><$client.env.FormField.b_flsa.HTML></td>

                        </tr>
                        <tr>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="2" align="left" valign="middle" class="smalltext1">Employee Type </td>
                          <td colspan="2" align="left"><$client.env.FormField.b_employee_type.HTML></td>
                          <td align="right" valign="middle" class="smalltext1">Compensation Rate &nbsp;$&nbsp;</td>
                          <td align="left" valign="middle"><$client.env.FormField.b_compensation_rate.HTML></td>
                          <td align="left" valign="middle" class="smalltext1">Benefit Program </td>
                          <td align="left" valign="middle"><$client.env.FormField.b_benefit_program.HTML></td>



                        </tr>
                        <tr>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>

                          <td colspan="2" align="left" valign="middle" class="smalltext1">Business Title</td>
                          <td align="left" valign="middle"><$client.env.FormField.b_business_title.HTML></td>
                          <td colspan="2" align="right" valign="middle" class="smalltext1">Work Phone</td> 
                          <td align="left" valign="middle"><$client.env.FormField.b_work_phone.HTML></td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                          <td align="left" valign="middle">&nbsp;</td>
                        </tr>

                      </table></td>
                    </tr>

                  </table></td>
                </tr>
                <tr>
                  <td align="center" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td  valign="top"><table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#000000">
                    <tr>
                      <td align="center" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="padding: 10px;"> <!--psaludares padding -->
                        <tr>
                          <td width="356" align="left" valign="middle">&nbsp;</td>
                          <td width="574" align="left" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="left" valign="middle" class="smalltext2">LOA / SALARY CONTINUATION / DISABILITY</td>
                          <td align="left" valign="middle">(Do not key <span class="smalltext1">LTD</span> Actions. Submit this form to Omaha for data entry.)</td>
                        </tr>

                        <tr>
                          <td colspan="2" align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                              <td width="146" align="left" valign="middle">&nbsp;</td>
                              <td width="364" align="left" valign="middle">&nbsp;</td>
                              <td width="192" align="left" valign="middle">&nbsp;</td>
                              <td width="228" align="left" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="left" valign="middle" class="smalltext1">PeopleSoft Action</td>
                              <td colspan="3" align="left" valign="middle"><$client.env.FormField.c_people_soft_action.HTML></td>
                            </tr>
                            <tr>
                              <td align="left" valign="middle">&nbsp;</td>
                              <td align="left" valign="middle">&nbsp;</td>
                              <td align="left" valign="middle">&nbsp;</td>
                              <td align="left" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="left" valign="middle" class="smalltext1">PeopleSoft Reason</td>
                              <td align="left" valign="middle"><$client.env.FormField.c_people_soft_reason.HTML></td>
                              <td align="left" valign="middle" class="smalltext1">EFFECTIVE DATE (required)</td>
                              <td align="left" valign="middle"><$client.env.FormField.c_effective_date.HTML></td>
                            </tr>
                            <tr>
                              <td align="left" valign="middle" class="smalltext1">&nbsp;</td>
                              <td align="left" valign="middle">&nbsp;</td>
                              <td align="left" valign="middle">&nbsp;</td>
                              <td align="left" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                              <td colspan="2" align="left" valign="middle" class="smalltext1"># Days Entitled to Salary Continuation&nbsp;<$client.env.FormField.c_days_entitled_salary_continuation.HTML></td>
                              <td colspan="2" align="left" valign="middle" class="smalltext1"># PTO Days Applied to Unpaid Leave&nbsp;
                                <$client.env.FormField.c_pto_days_applied.HTML></td>
                              </tr>
                              <tr>
                                <td colspan="2" align="left" valign="middle" class="smalltext1">&nbsp;</td>
                                <td align="left" valign="middle" class="smalltext1">&nbsp;</td>
                                <td align="left" valign="middle">&nbsp;</td>
                              </tr>
                            </table></td>
                          </tr>


                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td  valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td  valign="top"><table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#000000">
                      <tr>
                        <td  valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="padding: 10px;"> <!--psaludares padding -->
                          <tr>
                            <td width="262" align="left" valign="middle">&nbsp;</td>
                            <td width="138" align="left" valign="middle">&nbsp;</td>
                            <td width="146" align="left" valign="middle">&nbsp;</td>
                            <td width="156" align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="2" align="left" valign="middle" class="smalltext2">TERMINATION / RETIREMENT / SEVERANCE DETAILS</td>
                            <td colspan="3" align="left" valign="middle">(Enter PeopleSoft Action, Reason, and Effective Date in the Job Data section above.)</td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td colspan="2" align="left" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle"><span class="smalltext1">Termination Date</span> (Last Day Worked)</td>
                            <td align="left" valign="middle"><$client.env.FormField.d_termination_date.HTML></td>
                            <td align="left" valign="middle" class="smalltext1">Termination Status:</td>
                            <td colspan="2" align="left" valign="middle" ><$client.env.FormField.d_termination_status.HTML></td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td colspan="2" align="left" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="2" align="left" valign="middle" class="smalltext1">PTO <span class="smalltext2">DAYS</span> Due&nbsp;              <$client.env.FormField.d_pto_days.HTML></td>
                            <td colspan="2" align="left" valign="middle"><span class="smalltext1">Contest Unemployment</span> (local office use only):</td>
                            <td width="228" align="left" valign="middle"><$client.env.FormField.d_contest_unemployment.HTML></td>
                          </tr>
                          <tr>
                            <td height="16" align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td colspan="2" align="left" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="5" align="left" valign="middle" class="smalltext1">Severance Details:&nbsp;              <$client.env.FormField.d_severance_details.HTML></td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td colspan="2" align="left" valign="middle">&nbsp;</td>
                          </tr>
                        </table></td>
                      </tr>

                    </table></td>
                  </tr>
                  <tr>
                    <td  valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td  valign="top"><table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#000000">
                      <tr>
                        <td  valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding: 10px;"> <!--psaludares padding -->
                          <tr>
                            <td width="72" align="left" valign="middle">&nbsp;</td>
                            <td width="96" align="left" valign="middle">&nbsp;</td>
                            <td width="124" align="left" valign="middle">&nbsp;</td>
                            <td width="40" align="left" valign="middle">&nbsp;</td>
                            <td width="136" align="left" valign="middle">&nbsp;</td>
                            <td width="87" align="left" valign="middle">&nbsp;</td>
                            <td width="102" align="left" valign="middle">&nbsp;</td>
                            <td width="120" align="left" valign="middle">&nbsp;</td>
                            <td width="41" align="left" valign="middle">&nbsp;</td>
                            <td width="112" align="left" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td colspan="6" align="left" valign="middle" class="smalltext2">EMERGENCY CONTACT INFORMATION</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle" class="smalltext1">Primary</td>
                            <td align="left" valign="middle" class="smalltext1">Name</td>
                            <td colspan="3" align="left" valign="middle"><$client.env.FormField.e_primary_name.HTML></td>
                            <td align="left" valign="middle" class="smalltext1">Secondary</td>
                            <td align="left" valign="middle" class="smalltext1">Name</td>
                            <td colspan="3" align="left" valign="middle"><$client.env.FormField.e_secondary_name.HTML></td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle" class="smalltext1">Relationship</td>
                            <td colspan="3" align="left" valign="middle"><$client.env.FormField.e_primary_relationship.HTML></td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle" class="smalltext1">Relationship</td>
                            <td colspan="3" align="left" valign="middle"><$client.env.FormField.e_secondary_relationship.HTML></td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle" class="smalltext1">Home Phone</td>
                            <td colspan="3" align="left" valign="middle"><$client.env.FormField.e_primary_phone.HTML></td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle"><span class="smalltext1">Home Phone</span></td>
                            <td align="left" valign="middle"><$client.env.FormField.e_secondary_phone.HTML></td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle" class="smalltext1">Other Phone</td>
                            <td align="left" valign="middle"><$client.env.FormField.e_primary_other_phone.HTML></td>
                            <td align="left" valign="middle" class="smalltext1">Type</td>
                            <td colspan="2" align="left" valign="middle"><$client.env.FormField.e_primary_other_phone_type.HTML></td>
                            <td align="left" valign="middle"><span class="smalltext1">Other Phone</span></td>
                            <td align="left" valign="middle"><$client.env.FormField.e_secondary_other_phone.HTML></td>
                            <td align="left" valign="middle" class="smalltext1">Type</td>
                            <td align="left" valign="middle"><$client.env.FormField.e_secondary_other_phone_type.HTML></td>
                          </tr>

                          <tr>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td  valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="left" valign="top"><table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#000000"> 
                      <tr>
                        <td height="30" align="left" valign="left" class="boldtext" style="padding: 10px;"><br />COMMENTS OR SPECIAL INSTRUCTIONS:<br /><$client.env.FormField.e_comments.HTML><br />&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td  valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="119" align="left" valign="middle">&nbsp;</td>
                        <td width="306" align="left" valign="middle">&nbsp;</td>
                        <td width="72" align="left" valign="middle">&nbsp;</td>
                        <td width="44" align="left" valign="middle">&nbsp;</td>
                        <td width="351" align="left" valign="middle">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle" class="smalltext2">APPROVALS</td>
                        <td align="left" valign="middle">Supervisor (if needed)                 ____________________</td>
                        <td align="left" valign="middle"><$client.env.FormField.f_supervisor.HTML></td>
                        <td align="left" valign="middle">Date</td>
                        <td align="left" valign="middle"><$client.env.FormField.f_date1.HTML></td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">Human Resources ____________________</td>
                        <td align="left" valign="middle"><$client.env.FormField.f_hr.HTML></td>
                        <td align="left" valign="middle">Date</td>
                        <td align="left" valign="middle"><$client.env.FormField.f_date2.HTML></td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">Finance or Other as needed       ____________________</td>
                        <td align="left" valign="middle"><$client.env.FormField.f_finance.HTML></td>
                        <td align="left" valign="middle">Date</td>
                        <td align="left" valign="middle"><$client.env.FormField.f_date3.HTML></td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="left" valign="middle">&nbsp;</td>
                        <td align="left" valign="middle">Entered into PeopleSoft by:        ____________________</td>
                        <td align="left" valign="middle"><$client.env.FormField.f_entered_into_peoplesoft.HTML></td>
                        <td align="left" valign="middle">Date</td>
                        <td align="left" valign="middle"><$client.env.FormField.f_date4.HTML></td>
                      </tr>

                    </table></td>
                  </tr>

                  <tr>
                    <td align="center" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="123" align="left" valign="top">&nbsp;</td>
                        <td width="827" align="left" valign="top">&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="30" align="left" valign="middle" class="smalltext1">Addt’l Approvals</td>
                        <td rowspan="2" align="center" valign="top"><table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
                          <tr>
                            <td width="264" height="30" align="left" valign="middle" class="textp"><$client.env.FormField.g_additional_approvals1.HTML></td>
                            <td width="272" height="30" align="left" valign="middle" class="textp"><$client.env.FormField.g_additional_approvals2.HTML></td>
                            <td width="276" height="30" align="left" valign="middle" class="textp"><$client.env.FormField.g_additional_approvals3.HTML></td>
                          </tr>
                          <tr>
                            <td height="30" align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                              <tr>
                                <td width="54" align="left" valign="middle"><span class="textp">Date:</span></td>
                                <td width="206" align="left" valign="middle"><$client.env.FormField.g_date1.HTML></td>
                              </tr>
                            </table></td>
                            <td height="30" align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                              <tr>
                                <td width="54" align="left" valign="middle"><span class="textp">Date:</span></td>
                                <td width="206" align="left" valign="middle"><$client.env.FormField.g_date2.HTML></td>
                              </tr>
                            </table></td>
                            <td height="30" align="center" valign="middle"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                              <tr>
                                <td width="54" align="left" valign="middle"><span class="textp">Date:</span></td>
                                <td width="206" align="left" valign="middle"><$client.env.FormField.g_date3.HTML></td>
                              </tr>
                              <tr></tr>
                            </table></td>
                          </tr>
                        </table></td>
                      </tr>

                      <tr valign="middle">
                        <td height="30" align="left" class="smalltext1">Date</td>
                      </tr>
                      <tr valign="middle">
                        <td height="30" align="left" class="smalltext1">&nbsp;</td>
                        <td align="center" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="18" align="left" valign="middle">&nbsp;</td>
                            <td width="180" align="left" valign="middle">&nbsp;</td>
                            <td width="145" align="left" valign="middle">&nbsp;</td>
                            <td width="100" align="left" valign="middle">&nbsp;</td>
                            <td width="23" align="left" valign="middle">&nbsp;</td>
                            <td width="165" align="left" valign="middle">&nbsp;</td>
                            <td width="189" align="left" valign="middle">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle"><$client.env.FormField.h_scanned.HTML></td>
                            <td align="left" valign="middle">SCANNED TO PAYROLL ON:</td>
                            <td colspan="2" align="left" valign="middle"><$client.env.FormField.h_date1.HTML></td>
                            <td align="left" valign="middle"><$client.env.FormField.h_payroll.HTML></td>
                            <td align="left" valign="middle">ENTERED BY PAYROLL ON:</td>
                            <td align="left" valign="middle"><$client.env.FormField.h_date2.HTML></td>
                          </tr>

                        </table></td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top">&nbsp;</td>
                  </tr>
                </table>






                <br><br>


                <$client.env.FormButtons>
              </form>
<div hidden>
    <input id="employee-type" type="text" value="<$client.tEventCategories_Category_22.Code>">
</div>
              <SCRIPT>
ChangeCalendarIcons(); //for popup calendar
</SCRIPT>
<script>
  /*psaludares SERVICES-34893 */

$(document).ready(function(){
    var m = $('#jobTitle').val();
    var l = $('#locationCode').val();
    //var f = $('#jobTitle').val();
    if(m == '') {//this is temp if they maintain the field to be edittable
      var x = "<$client.tEventCategories_Category_16.Value>";
      var xx = x.match(/(.*?);/);
      if(xx != null){
        $('#jobTitle').val(xx[1]);
      }
    }

    if(l == '') {//this is temp if they maintain the field to be edittable
      var f = "<$client.tEventCategories_Category_11.Code>";
      var ff = f.match(/(.*?)-/);
      if(!ff){
        $('#locationCode').val(f);
      }else{
        $('#locationCode').val(ff[1]);
      }
    }

    // SERVICES-39171 | McCann - RC - Advanced Validation Needed for eForm Field
    // if temporary is selected in the event then make reg/temp status is temporary
    if (['OP_A', 'OP_D', 'OP_H', 'OP_W'].indexOf(document.getElementById('employee-type').value) >= 0) {
      $('[name$=".b_reg_temp"][value="Temp"]').prop('checked', 'checked');
    }

});
</script>
