<main>
    <header class="text-center vspace">
        <h2 class="title">
            Payroll Authorization
        </h2>
        <strong>
            This form is to confirm the new hire’s salary and benefits for approval to forward to Payroll and Employee Support
        </strong>
    </header>
    <div class="vspace clearfix">
        <div class="col-40 clearfix">
            <div class="col-50">
                <strong>
                    Name:
                </strong>
            </div>
            <div class="col-50 pull-right">
                <input type="text">
            </div>
        </div>
        <div class="col-60 pull-right">
            <div class="col-50 clearfix">
                <div class="col-50">
                    <strong>
                        Date:
                    </strong>
                </div>
                <div class="col-50 pull-right">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="vspace">
        <div class="col-40 clearfix">
            <div class="col-50">
                <strong>
                    Address:
                </strong>
            </div>
            <div class="col-50 pull-right">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="vspace">
        <div class="col-40 clearfix">
            <div class="col-50">
                <strong>
                    City, State, Zip:
                </strong>
            </div>
            <div class="col-50 pull-right">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="vspace">
        <div class="col-40 clearfix">
            <div class="col-50">
                <strong>
                    Preferred Name:
                </strong>
            </div>
            <div class="col-50 pull-right">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="vspace clearfix">
        <div class="col-40 clearfix">
            <div class="col-50">
                <strong>
                    Group:
                </strong>
            </div>
            <div class="col-50 pull-right">
                <input type="text">
            </div>
        </div>
        <div class="col-60 pull-right">
            <div class="col-50 clearfix">
                <div class="col-50">
                    <strong>
                        WT Office Location:
                    </strong>
                </div>
                <div class="col-50 pull-right">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="vspace clearfix">
        <div class="col-40 clearfix">
            <div class="col-50">
                <strong>
                    Title:
                </strong>
            </div>
            <div class="col-50 pull-right">
                <input type="text">
            </div>
        </div>
        <div class="col-60 pull-right">
            <div class="col-50 clearfix">
                <div class="col-50">
                    <strong>
                        Grade:
                    </strong>
                </div>
                <div class="col-50 pull-right">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="vspace clearfix">
        <div class="col-40 clearfix">
            <div class="col-50">
                <strong>
                    Status:
                </strong>
            </div>
            <div class="col-50 pull-right">
                <input type="text">
            </div>
        </div>
        <div class="col-60 pull-right">
            <div class="col-50 clearfix">
                <div class="col-50">
                    <strong>
                        Type:
                    </strong>
                </div>
                <div class="col-50 pull-right">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="vspace">
        <div class="col-40 clearfix">
            <div class="col-90">
                <strong>
                    Years’ Experience in the Construction Industry:
                </strong>
            </div>
            <div class="col-10 pull-right">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="vspace clearfix">
        <div class="col-40 clearfix">
            <div class="col-50">
                <strong>
                    SSN:
                </strong>
            </div>
            <div class="col-50 pull-right">
                <input type="text">
            </div>
        </div>
        <div class="col-60 pull-right">
            <div class="col-50 clearfix">
                <div class="col-50">
                    <strong>
                        Gender:
                    </strong>
                </div>
                <div class="col-50 pull-right">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="vspace clearfix">
        <div class="col-40 clearfix">
            <div class="col-50">
                <strong>
                    Phone:
                </strong>
            </div>
            <div class="col-50 pull-right">
                <input type="text">
            </div>
        </div>
        <div class="col-60 pull-right">
            <div class="col-50 clearfix">
                <div class="col-50">
                    <strong>
                            Date Of Birth:
                    </strong>
                </div>
                <div class="col-50 pull-right">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="vspace">
        <div class="col-40 clearfix">
            <div class="col-50">
                <strong>
                    Email:
                </strong>
            </div>
            <div class="col-50 pull-right">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="vspace clearfix">
        <div class="col-40 clearfix">
            <div class="col-50">
                <strong>
                    Undergraduate College:
                </strong>
            </div>
            <div class="col-50 pull-right">
                <input type="text">
            </div>
        </div>
        <div class="col-60 pull-right clearfix">
            <div class="col-50 clearfix">
                <div class="col-50">
                    <strong>
                       Degree:
                    </strong>
                </div>
                <div class="col-50 pull-right">
                    <input type="text">
                </div>
            </div>
            <div class="col-50 pull-right">
                <div class="col-45">
                    <strong>
                        Graduation Year:
                    </strong>
                </div>
                <div class="col-55">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="vspace clearfix">
        <div class="col-40 clearfix">
            <div class="col-50">
                <strong>
                    Graduate College:
                </strong>
            </div>
            <div class="col-50 pull-right">
                <input type="text">
            </div>
        </div>
        <div class="col-60 pull-right clearfix">
            <div class="col-50 clearfix">
                <div class="col-50">
                    <strong>
                       Degree:
                    </strong>
                </div>
                <div class="col-50 pull-right">
                    <input type="text">
                </div>
            </div>
            <div class="col-50 pull-right">
                <div class="col-45">
                    <strong>
                        Graduation Year:
                    </strong>
                </div>
                <div class="col-55">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="vspace clearfix">
        <div class="col-40 clearfix">
            <div class="col-30">
                Effective Date:
            </div>
            <div class="col-70 pull-right">
                <div class="col-55">
                    <input type="text">
                </div>
                <div class="col-45">
                    (first day of work)
                </div>
            </div>
        </div>
    </div>
    <div class="vspace clearfix">
        <div class="col-40 clearfix">
            <div class="col-30">
                Annual Salary:
            </div>
            <div class="col-70 pull-right">
                <div class="col-55">
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="col-60 pull-right clearfix">
            <div class="clearfix">
                <div class="col-15 vertical-top">
                    Comments:
                </div>
                <div class="col-50">
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="vspace clearfix">
        <div class="col-40 clearfix">
            <div class="col-30">
                Hourly Salary:
            </div>
            <div class="col-70 pull-right">
                <div class="col-55">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="vspace clearfix">
        <div class="col-40 clearfix">
            <div class="col-40">
                Special Benefits (if any):
            </div>
            <div class="col-60 pull-right">
                <input type="checkbox"> Vehicle Allowance
                <input type="checkbox"> Vehicle Allowance
                <input type="checkbox"> Vehicle Allowance
            </div>
        </div>
        <div class="col-60 pull-right clearfix">
            <div class="clearfix">
                <div class="col-15 vertical-top">
                        Special Benefits Comments:
                </div>
                <div class="col-50">
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix vspace">
        <div class="col-15">
            <strong>
                <em>
                    Approvals:
                </em>
            </strong>
        </div>
        <div class="col-85 pull-right">
            <div class="col-80 clearfix">
                <div class="col-40">
                    Vice President:
                </div>
                <div class="col-60 clearfix">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix vspace">
        <div class="col-85 pull-right">
            <div class="col-80 clearfix">
                <div class="col-40">
                    Vice President Supervisor:
                </div>
                <div class="col-60 clearfix">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix vspace">
        <div class="col-85 pull-right">
            <div class="col-80 clearfix">
                <div class="col-40">
                    Vice President of Superintendents (Field):
                </div>
                <div class="col-60 clearfix">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix vspace">
        <div class="col-85 pull-right">
            <div class="col-80 clearfix">
                <div class="col-40">
                        Division Vice President:
                </div>
                <div class="col-60 clearfix">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix vspace">
        <div class="col-85 pull-right">
            <div class="col-80 clearfix">
                <div class="col-40">
                        Senior Vice President:
                </div>
                <div class="col-60 clearfix">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix vspace">
        <div class="col-85 pull-right">
            <div class="col-80 clearfix">
                <div class="col-40">
                        Executive Vice President:
                </div>
                <div class="col-60 clearfix">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
</main>
