<main>
  <header class="vspace">
    <div class="col-40">
      <img src="/assets/img/kc_logo.jpg" alt="kishwaukee" class="img-responsive">
    </div>
    <div class="col-60 text-right">
      <h2>
        <strong>Payroll Direct Deposit Form</strong>
      </h2>
    </div>
  </header>
  <div class="col-60 vertical-bottom">
    <br>
    I
    <div class="col-95 vertical-top">
      <input type="text">
      <div class="col-40">
        <small>(Last)</small>
      </div>
      <div class="col-40">
        <small>(First)</small>
      </div>
      <div class="col-20">
        <small>(Middle Initial)</small>
      </div>
    </div>
  </div>
  <div class="col-40 box vertical-top">
    <div class="text-center">
      Employee ID#
    </div>
    <div class="col-20 text-center">
      <u>OR</u>
      SSN
    </div>
    <div class="col-80">
      <input type="text">
    </div>
  </div>
  <p class="text-justify vspace">
    authorize Kishwaukee College to deposit my payroll earnings into the account listed below and if necessary, debit entries or adjustments for any deposits made in error to my account. This authority is to remain in full force and effect until written notice from me has been received by Kishwaukee College in such a manner as to afford reasonable time to act on it.
  </p>
  <strong>Please check one</strong>
  <div class="vspace">
    <input type="radio"> New to Direct Deposit
  </div>
  <div class="vspace box">
    <div class="col-45 padded-left vertical-top">
      <br>
      <div class="col-45">
        Financial Institution
      </div>
      <div class="col-55">
        <input type="text">
      </div>
      <div class="col-45">
        Address or Phone #:
      </div>
      <div class="col-55">
        <input type="text">
      </div>
      <div class="col-45">&nbsp;</div>
      <div class="col-55">
        <input type="text">
      </div>
      <div class="col-45">
        Routing Number
      </div>
      <div class="col-55">
        <input type="text">
      </div>
      <div class="col-50">
        <input type="checkbox"> Checking Account #
      </div>
      <div class="col-50">
        <input type="text">
      </div>
      <div class="col-50">
        <input type="checkbox"> Savings Account #
      </div>
      <div class="col-50">
        <input type="text">
      </div>
    </div>
    <div class="col-55 border-left padded-left vertical-top">
      <div class="text-center">
        <u>*Optional – Additional Account</u>
      </div>
      <div class="col-40">
        Financial Institution
      </div>
      <div class="col-60">
        <input type="text">
      </div>
      <div class="col-40">
        Address or Phone #:
      </div>
      <div class="col-60">
        <input type="text">
      </div>
      <div class="col-40">&nbsp;</div>
      <div class="col-60">
        <input type="text">
      </div>
      <div class="col-40">
        Routing Number
      </div>
      <div class="col-60">
        <input type="text">
      </div>
      <div class="col-40">
        <input type="radio"> Checking Account #
      </div>
      <div class="col-60">
        <input type="text">
      </div>
      <div class="col-70">
        Please specify $ amt you want sent to account
      </div>
      <div class="col-30 clearfix">
        $
        <div class="col-90 pull-right">
          <input type="text">
        </div>
      </div>
      <div class="col-40">
        <input type="radio"> Savings Account #
      </div>
      <div class="col-60">
        <input type="text">
      </div>
      <div class="col-70">
        Please specify $ amt you want sent to account
      </div>
      <div class="col-30 clearfix">
        $
        <div class="col-90 pull-right">
          <input type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="vspace">
    <div class="col-70">
      <div class="col-25">
        Employee Signature
      </div>
      <div class="col-75">
        <input type="text">
      </div>
    </div>
    <div class="col-30">
      <div class="col-15">
        Date:
      </div>
      <div class="col-85">
        <input type="text">
      </div>
    </div>
  </div>
  <div class="vspace">
    <div class="col-50 text-center">
      <h3>ATTACH A VOIDED CHECK HERE</h3>
      <img src="/assets/img/kc_cheque_sample.jpg" alt="" class="img-responsive">
      <u>SAMPLE CHECK</u>
    </div>
  </div>
  <div class="text-center">
    <u><strong>Instructions</strong></u>
  </div>
  <div class="vspace">
    <ol>
      <li>
        <strong>Enter your information in the fields above. Sign your name.</strong>
      </li>
      <li>
        <strong>Attach a VOIDED check above.</strong>
      </li>
      <li>
        <strong>Return completed form to Human Resources (C1100) or Business Office (C2140).</strong>
      </li>
      <li>
        <strong>Depending upon the timing of the receipt of this form your check may be mailed as usual.</strong>
      </li>
      <li>
        <strong>You will be able to view your check information on line through myKC, Kishwaukee College Self-Service, generallyavailable for viewing one day prior to pay day. See attached instructions for logging into Kishwaukee College Self-Service.</strong>
      </li>
    </ol>
  </div>
  <div class="vspace border-top-thick text-center">
    <h3>
      <strong>FIELD DESCRIPTIONS</strong>
    </h3>
  </div>
  <p class="vspace">
    <strong>Routing Number</strong>
    – The routing number must be nine digits. The first two digits must be 01 through 12 or 21 through 32. The routing number is 0719218095 on the sample check. Your check may state that it is payable through a bank different from the financial institution at which you have your checking account. If so, do not use the routing number on that check. Instead, contact your financial institution for the correct routing number to enter on this line.
  </p>
  <p class="vspace">
    <strong>Checking/Savings</strong>
    – Check whether account is checking or savings. Only one may be chosen.
  </p>
  <p class="vspace">
    <strong>Account Number</strong>
    – The account number can be up to 17 characters (both number and letters). Include hyphens but omit spaces and special symbols. On the sample check, the account number is 1348569770.
  </p>
  <p class="vspace">
    <strong>Payroll Office Use:</strong>
    &#9723;
    <strong>EPOV</strong>
  </p>
  <header class="vspace">
    <div class="col-40 vertical-top">
      <img src="/assets/img/kc_logo.jpg" alt="kishwaukee" class="img-responsive">
    </div>
    <div class="col-60 text-right vertical-top">
      <h3>
        <strong>Logging into Kishwaukee College Self-Service</strong>
      </h3>
      <h4>
        <strong>Viewing your Earning Statements Online</strong>
      </h4>
      <h4>
        <strong>Viewing your Leave Balances Online</strong>
      </h4>
    </div>
  </header>
  <u>
    <strong>Logging into Kishwaukee College Self-Service</strong>
  </u>
  <div class="inner vspace">
    <strong class="vspace">Log in to your myKC (portal)</strong>
    <ul>
      <li>
        Under the green Applications heading, click on Kishwaukee College Self-Service: <br>
        <div class="col-75">
          <img src="/assets/img/kc_college_step1.jpg" alt="" class="img-responsive">
        </div>
      </li>
      <li>
        Click on the Employee box. <br>
        <div class="col-75">
          <img src="/assets/img/kc_college_step2.jpg" alt="" class="img-responsive">
        </div>
      </li>
      <li>
        Click on the Earnings Statements box. <br>
        <div class="col-75">
          <img src="/assets/img/kc_college_step3.jpg" alt="" class="img-responsive">
        </div>
      </li>
      <li>
        You will then be able to select a year and then click on a pay date to view and download the statement as a PDF. <br>
        <div class="col-75">
          <img src="/assets/img/kc_college_step4.jpg" alt="" class="img-responsive">
        </div>
      </li>
    </ul>
  </div>
  <div class="vspace">
    <u>
      <strong>Leave Used</strong>
    </u>
    <div class="inner vspace">
      <ul>
        <li>Leave Used (In Hours): to view current information about your Vacation and Sick benefit hours balances. Note: hours used are inputted manually into the system; therefore, balances may not reflect hours taken recently.</li>
        <li>For Personal benefit hours, please contact the HR office.</li>
      </ul>
    </div>
  </div>
  <p class="vspace">
    Questions regarding myKC or Kishwaukee College Self-Service may be directed to the Help Desk, ext. 9888 or
    <a href="mailto:helpdesk@kish.edu">helpdesk@kish.edu</a>
  </p>
  <p class="vspace">
    Questions regarding leave balances may be directed to Human Resources, ext. 9370.
  </p>
  <p class="vspace">
    Questions regarding your current paycheck should first be directed to your supervisor and then Payroll Coordinator, ext. 9406.
  </p>
  <footer class="text-right">
    12.2017
  </footer>
</main>
