<main class="container-fluid form-horizontal">
  <header class="row vspace">
    <div class="col-lg-12">
      <div class="img-wrapper center-block">
        <img src="<$link;/main/RedCarpet/FormTemplates/Penhall_Direct_Deposit_Form/assets/img/penhall_logo.jpg>" alt="Penhall Company" class="img-responsive">
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-lg-2 col-xs-12">
      <label class="control-label">
        <strong>Employee Name:</strong>
      </label>
    </div>
    <div class="col-lg-5 col-xs-12 vspace">
      <$client.env.FormField.a01_Employee_Name.HTML>
    </div>
    <div class="col-lg-2 col-xs-12">
      <label class="control-label">
        <strong>Division #:</strong>
      </label>
    </div>
    <div class="col-lg-3 col-xs-12 vspace">
      <$client.env.FormField.a02_Division.HTML>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="text-justify">
        I hereby authorize Penhall Company to initiate credit entries to my account(s) indicated below and the depository(s) named below, hereinafter called DEPOSITORY, to credit the same such account(s), and in the event a credit is made to my account in error, I authorize Penhall Company to make a correcting entry under the condition that I am notified of said adjustment.
      </p>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12">
      <h5>
        <em>
          <u><strong>NOTE: YOU MUST ATTACH A VOIDED CHECK OR BANK STATEMENT FOR EACH ACCOUNT BEFORE
ANY DEPOSIT WILL BE MADE</strong></u>
        </em>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-xs-12">
      <label class="control-label">
        <strong>DEPOSITORY:</strong>
      </label>
    </div>
    <div class="col-lg-10 col-xs-12">
      <$client.env.FormField.a03_DEPOSITORY.HTML>
      <div class="text-center vspace">
        BANK NAME
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-xs-12">
      <$client.env.FormField.a04_Deposit_Type.HTML>
    </div>
    <div class="col-lg-4 col-xs-12">
      <$client.env.FormField.a05_ADDRESS.HTML>
      <div class="text-center vspace">
        ADDRESS
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <$client.env.FormField.a06_CITY_STATE.HTML>
      <div class="text-center vspace">
        CITY/STATE
      </div>
    </div>
    <div class="col-lg-2 col-xs-12">
      <$client.env.FormField.a07_ZIP.HTML>
      <div class="text-center vspace">
        ZIP
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-xs-12">
      <label class="control-label">
        Amount or Percentage to be Credited: $ / %:
      </label>
    </div>
    <div class="col-lg-7 col-xs-12 vspace">
      <$client.env.FormField.a08_Amount_or_Percentage_to_be_Credited.HTML>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-2 col-xs-12">
      <label class="control-label">
        Banking Transit/ABA:
      </label>
    </div>
    <div class="col-lg-5 col-xs-12 vspace">
      <$client.env.FormField.a09_Banking_Transit_ABA.HTML>
    </div>
    <div class="col-lg-1 col-xs-12">
      <label class="control-label">
        Acct No.
      </label>
    </div>
    <div class="col-lg-4 col-xs-12 vspace">
      <$client.env.FormField.a10_Acct_No.HTML>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12 col-xs-12">
      <div class="border-bottom">&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-xs-12">
      <label class="control-label">
        <strong>DEPOSITORY:</strong>
      </label>
    </div>
    <div class="col-lg-10 col-xs-12">
      <$client.env.FormField.a11_DEPOSITORY.HTML>
      <div class="text-center vspace">
        BANK NAME
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-xs-12">
      <$client.env.FormField.a12_Deposit_Type.HTML>
    </div>
    <div class="col-lg-4 col-xs-12">
      <$client.env.FormField.a13_ADDRESS.HTML>
      <div class="text-center vspace">
        ADDRESS
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <$client.env.FormField.a14_CITY_STATE.HTML>
      <div class="text-center vspace">
        CITY/STATE
      </div>
    </div>
    <div class="col-lg-2 col-xs-12">
      <$client.env.FormField.a15_ZIP.HTML>
      <div class="text-center vspace">
        ZIP
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-xs-12">
      <label class="control-label">
        Amount or Percentage to be Credited: $ / %:
      </label>
    </div>
    <div class="col-lg-7 col-xs-12 vspace">
      <$client.env.FormField.a16_Amount_or_Percentage_to_be_Credited.HTML>
    </div>
  </div>
  <div class="row vspace-lg">
    <div class="col-lg-2 col-xs-12">
      <label class="control-label">
        Banking Transit/ABA:
      </label>
    </div>
    <div class="col-lg-5 col-xs-12 vspace">
      <$client.env.FormField.a17_Banking_Transit_ABA.HTML>
    </div>
    <div class="col-lg-1 col-xs-12">
      <label class="control-label">
        Acct No.
      </label>
    </div>
    <div class="col-lg-4 col-xs-12 vspace">
      <$client.env.FormField.a18_Acct_No.HTML>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12 col-xs-12">
      <p class="text-justify">
        This authorization is to remain in full force and effect until Penhall Company has received written notification from me of its termination in such time and in such manner as to afford Penhall Company a reasonable opportunity to act on it, or I complete and sign a new Automatic Deposit Form.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-xs-12">
      <$client.env.FormField.a19_Printed_Name.HTML>
      <div class="text-center vspace">
        Printed Name
      </div>
    </div>
    <div class="col-lg-5 col-xs-12">
      <$client.env.FormField.a20_Signature.HTML>
      <div class="text-center vspace">
        Signature
      </div>
    </div>
    <div class="col-lg-2 col-xs-12">
      <$client.env.FormField.a21_Date.HTML>
      <div class="text-center vspace">
        Date
      </div>
    </div>
  </div>
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>
