<main>
  <header class="clearfix border-bottom vspace-md">
    <div class="col-20 vspace">
      <img src="<$link;/main/RedCarpet/FormTemplates/Personnel_Manual/assets/img/dhg_logo.jpg>" alt="" class="img-responsive">
    </div>
    <div class="col-70 pull-right vspace">
      <h1 class="text-blue">
        DIXON HUGHES GOODMAN LLP <br>
        PERSONNEL MANUAL
      </h1>
    </div>
  </header>
  <p class="vspace text-justify">
    <strong>Employee Acknowledgement</strong>
  </p>
  <p class="vspace text-justify">
    <u>
      THIS MANUAL, INCLUDING ANY APPLICABLE SUPPLEMENT, DESCRIBES IMPORTANT INFORMATION ABOUT DIXON HUGHES GOODMAN LLP (DHG) AND I UNDERSTAND THAT I SHOULD CONSULT THE HR SOLUTIONS CENTER REGARDING ANY QUESTIONS NOT ANSW ERED IN THE MANUAL.
    </u>
  </p>
  <p class="vspace text-justify">
    <u>
      SINCE THE INFORMATION, POLICIES AND BENEFITS DESCRIBED HERE ARE NECESSARILY SUBJECT TO CHANGE, I ACKNOWLEDGE THAT REVISIONS TO THE MANUAL MAY OCCUR, EXCEPT TO THE FIRM’S POLICY OF EMPLOYMENT-AT-WILL. ALL SUCH CHANGES WILL BE COMMUNICATED AND I UNDERSTAND THAT REVISED INFORMATION MAY SUPERSEDE, MODIFY OR ELIMINATE EXISTING POLICIES. ONLY THE EXECUTIVE COMMITTEE OF DHG HAS THE ABILITY TO ADOPT ANY REVISION TO THE POLICIES IN THIS MANUAL.
    </u>
  </p>
  <p class="vspace text-justify">
    <u>
      I HAVE ENTERED INTO MY EMPLOYMENT RELATIONSHIP WITH DHG VOLUNTARILY AND ACKNOWLEDGE THAT THERE IS NO SPECIFIED LENGTH OF EMPLOYMENT.
    </u>
  </p>
  <p class="vspace text-justify">
    <u>
      I ACKNOWLEDGE THAT THIS MANUAL IS NEITHER A CONTRACT OF EMPLOYMENT NOR A LEGAL DOCUMENT. I HAVE RECEIVED ACCESS TO THE MANUAL AND I UNDERSTAND THAT IT IS MY RESPONSIBILITY TO READ AND UNDERSTAND THE POLICIES CONTAINED IN THE MANUAL AND ANY REVISIONS TO IT.
    </u>
  </p>
  <p class="vspace-lg text-justify">
    <u>
        I ACKNOWLEDGE THAT I HAVE READ AND UNDERSTAND THIS EMPLOYEE ACKNOWLEDGEMENT FORM AND, IN PARTICULAR, UNDERSTAND THAT MY EMPLOYMENT IS AT WILL, WHICH MEANS THAT I OR THE FIRM CAN TERMINATE THE EMPLOYMENT RELATIONSHIP AT ANY TIME, FOR ANY REASON. I ACKNOWLEDGE THAT NO REPRESENTATIVE OF THE FIRM IS AUTHORIZED TO PROVIDE ANY EMPLOYEE, INDIVIDUALLY OR ON A COLLECTIVE BASIS, WITH AN EMPLOYMENT CONTRACT OR SPECIAL ARRANGEMENT CONCERNING THE TERMS OR CONDITIONS OF EMPLOYMENT, UNLESS THE CONTRACT OR AGREEMENT IS IN WRITING AND SIGNED BY THE CEO OF THE FIRM.
    </u>
  </p>
  <div class="clearfix vspace-md">
    <div class="col-50">
      <$client.env.FormField.Employee_Name.HTML>
      Employee’s Name (Please Print)
    </div>
    <div class="col-50 pull-right">
      <$client.env.FormField.signature.HTML>
      Employee’s Signature
    </div>
  </div>
  <div class="clearfix vspace">
    <div class="col-50">
      <$client.env.FormField.Date.HTML>
      <div class="vspace">
        Date
      </div>
    </div>
  </div>
  <div class="clearfix vspace-md">
    <div class="col-25 text-gray">
      <small>Dixon Hughes Goodman LLP</small>
    </div>
    <div class="col-50 text-gray text-center">
      <small>Personnel Manual</small>
    </div>
    <div class="col-25 text-gray text-right pull-right">
      <small>Issue Date: May 2018</small>
    </div>
  </div>
</main>
