<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="fontweight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
      </div>
    </div>
    <div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature','eSignature1','fullName','modal','over','sv', 'Date');xbObj('eSignature1').value='';document.getElementById('eSignature1').focus();">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','Date');}">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';">
      </div>
    </div>
  </div>
</div>
<div id="over" style="display:none;"></div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- RESPONSIVE eFORM PAGE LOADER-->
<div class="modal" style="display:block; background: #002E6D;">
  <div class="fb-spinner">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<form id="Philippines_New_Hire_Training_Policy" name="frmForm" action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);" role="form">
    <div style="display:none;">
        <$client.env.FormField.Form_Name.prompt>
        <$client.env.FormField.Form_Name.HTML>
        <$client.env.FormField.Form_Type.prompt>
        <$client.env.FormField.Form_Type.HTML>
        <$client.env.FormField.Form_Owner.prompt>
        <$client.env.FormField.Form_Owner.HTML>
        <$client.env.FormField.Form_CreateDate.prompt>
        <$client.env.FormField.Form_CreateDate.HTML>
        <$client.env.FormField.Form_Completed.prompt>
        <$client.env.FormField.Form_Completed.HTML>
        <$client.env.FormField.Form_Delivered.prompt>
        <$client.env.FormField.Form_Delivered.HTML>
        <$client.env.FormField.Form_TaskId.prompt>
        <$client.env.FormField.Form_TaskId.HTML>
        <$client.env.FormField.display_version.HTML>
        <!-- Replace With eForm Specific Data Field Prompts From Formalizer-->
        <$client.env.FormField.SignatureVerification.prompt>
        <$client.env.FormField.Name.prompt>
        <$client.env.FormField.Signature.prompt>
        <$client.env.FormField.Date.prompt>

    </div>
    <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">
<main class="container-fluid form-horizontal">
	<header class="row">
		<div class="col-lg-12">
			<div class="img-wrapper">
				<img class="img-responsive" src="<$link;/RedCarpet/Onboarding/Uploads/Images/paypal_logo.jpg>" alt="Paypal Logo">
			</div>
		</div>
	</header>
	<div class="row mb-20">
		<div class="col-lg-12">
			<div class="inner-wrapper center-block">
				<p class="mb-30">
					<strong>New Hire Training Policy</strong>
				</p>
				<p>
					This PayPal New Hire Training Policy (“Policy”) applies to all new employees of the Company from the first day of their training period and it shall be enforced and implemented by the Company’s Learning and Talent Development Division, mentors and leaders. PayPal reserves the right to modify, amend and update the Policy as needed.
				</p>
				<p>
					<strong>
						A. <u>Training Period</u>
					</strong><br>
					The Company’s training program shall be for a set period depending on the module and requirements of your position
				</p>
				<p>
					<strong>
						B. <u>Attendance</u>
					</strong><br>
					During the training period, all new hires are required to attend all training sessions and the Company expects 100% attendance from all of them. Requests for time off during training without justifiable cause will not be authorized and approved by the Company, unless these have been formally agreed upon during the interview stage. In case a new hire misses more than five (5) days of either training or mentoring due to sickness or family emergency, he or she shall be required to join again the next training program.
				</p>
				<p>
					<strong>
						C. <u>Tardiness</u>
					</strong><br>
					All new hires are required to attend each training day promptly and on time. The new employees are also expected to adhere to the break times set by the trainer.
				</p>
				<p>
					<strong>
						D. <u>Disruptive Behavior</u>
					</strong><br>
					Disruptive, inappropriate or unprofessional behavior will not be tolerated by the Company at any time. This includes, but is not limited to, verbal or nonverbal interruptions, surfing the internet during lectures or activities, disrespectful comments or attitudes toward fellow classmates, trainers or mentors, and sleeping or failure to pay attention during training. If a new hire exhibits such behavior, it will be considered in his evaluation for training certification.
				</p>
				<p>
					<strong>
						E. <u>Training Certification</u>
					</strong><br>
					The performance and behavior of all new hires will be continuously assessed throughout the training period. To be successful, an employee must reach a minimum score of 85%. In case of failure to achieve this score, the employee will be required to retake the Company’s training program. The trainer, mentor and team leader will discuss with the employee the reason for his or her failure to meet the minimum score and will suggest a catch-up plan prior to retaking the training. The failure to pass the training program for the second time will be a factor in the evaluation of overall work performance.
				</p>
				<p>
					<strong>
						F. <u>Employees under Probationary Employment</u>
					</strong><br>
					For new hires who are employed as probationary employees, they shall be placed under probation for a period of not more than 180 days from the commencement of their employment with the Company as stated in their employment contract or from their actual start date of work. During their probationary period, which includes the training period, their work performance and output, conduct, behaviour, professionalism, attendance, timekeeping, and relationships with their colleagues and superiors will be evaluated to ascertain their suitability for a continued role in the Company. For the avoidance of doubt, the successful completion of the training program by a probationary employee is not a guarantee that he/she will qualify as a regular employee if his/her work performance, conduct, behaviour and attendance after the training but during his/her probationary period show otherwise.
				</p>
				<p class="mb-40">
					As probationary employees, their employment may be terminated by the Company at any time during their probationary period for their failure to meet the standards set by the Company for their regularization, or for any of the just or authorized causes under the Labor Code upon observance of due process of law.
				</p>
				<p>
					Conforme:
				</p>
				<p class="mb-40">
					By signing below, you hereby acknowledge and agree with all the terms and conditions set forth above. If you are a probationary employee, you hereby confirm that you fully understand that your failure to meet the standards for your regularization at any time during your probationary employment may result in the termination of your employment.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<label class="control-label">
				Signature: <span class="font-red">*</span>
			</label>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
			<div class="form-group">
				<$client.env.FormField.Signature.HTML>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
			<label class="control-label">
				Date:
			</label>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div class="form-group">
				<$client.env.FormField.Date.HTML>
			</div>
		</div>
	</div>
	<div class="row mb-30">
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<label class="control-label">
				Name: <span class="font-red">*</span>
			</label>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
			<div class="form-group">
				<$client.env.FormField.Name.HTML>
			</div>
		</div>
	</div>
    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="lifesuite__clearfix lifesuite__float-right">
            <$client.env.FormButtons>
        </div>
    </div>
</main>

<div class="hide">
    <$client.env.FormField.SignatureVerification.HTML>
</div>

</form>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/bootstrap.min.js>"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/front_validator.js>"></script> 
<script type="text/javascript">
showScreen('over');
ChangeCalendarIcons(); //for popup calendar
/* RESPONSIVE eFORM BUTTONS STYLE */
$(window).on('load', function() {
	"use strict";
    $("#buttonCancel").removeClass().addClass("lifesuite__button").prop('id','ButtonCancel');
    $("#buttonSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSave');
    $("#buttonSaveAndComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSaveAndComplete');
    $("#buttonPrint").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPrint').prop('onclick', null);
    $("#buttonPreviewDelete").removeClass().addClass("lifesuite__button").prop('id','ButtonPreviewDelete');
    $("#buttonPreviewSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPreviewSave');
    $("#buttonComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonComplete');
    document.getElementById('formButtons').style.display = "block";
    $("input[type=text]").addClass('lifesuite__text-input');
    $("input[type=text].hasDatepicker").addClass('dateField');
    $("select").addClass('lifesuite__select-input');
    $("input[type=radio]").addClass('lifesuite__radio');
    $("input[type=checkbox]").addClass('lifesuite__checkbox');
    $("textarea").addClass('lifesuite__textarea-input');
    $('label').addClass('lifesuite__input-label lifesuite__input—block');

    // frontend validation
    $('#Philippines_New_Hire_Training_Policy').on('change blur', 'input:visible:not(#signature):not(:button):not(disabled):not(readonly)', function() {
      validateField($(this));
    });
    $('#modal').on('click', 'input.lifesuite__button', function() {
      validateField($('#signature'));
    });
    $('#Philippines_New_Hire_Training_Policy').on('click', '#ButtonPrint, #buttonPrint, #ButtonSaveAndComplete, #buttonSaveAndComplete', function(e) {
      "use strict";
      let formIsValid = true; 
      let btn = $(this);
      e.preventDefault();
      $.each($('#Philippines_New_Hire_Training_Policy input:visible:not(:button)'), function(k, v) {
        if (!$("input.calendar_button").length) formIsValid = true;
        else{
          if(false == validateField($(v)) && $(v).is(':visible')) {
            formIsValid = false;
          }
        }
      });
      if (formIsValid) {
        switch (btn.attr('id')) {
          case 'ButtonPrint':
            funcPrint();
          break;
          case 'ButtonSaveAndComplete':
            funcSaveAndComplete();
          break;
        }
      }
      else {
          $("html, body").animate({ scrollTop: 0 }, "slow");
      }
    });

    let focusSigFields = setInterval(function(){
      "use strict";
      if(document.getElementById('modal').style.display=='block') {
        document.getElementById('ButtonPrint').focus();
        document.getElementById('eSignature1').focus();
        clearInterval(focusSigFields);
      }
    }, 500);
});

const disableCalButton = function(el) {
	"use strict";
    el.parent().find('input').prop('disabled', 'disabled');
}

$(document).on('ready', function() {
	"use strict";
    $(".modal").hide();
    disableCalButton($('.disabled-date'));
});
</script>
