<main id="container">
    <section id="incomplete">
        <header>
            <p class="vspace">
                <$client.env.eval(date.now('%Y-%m-%d'))>
            </p>
            <p>
                <$client.tForWhomUserInfo.First_Name> <$client.tForWhomUserInfo.Middle_Initial><$client.env.eval(client.tForWhomUserInfo.Middle_Initial.length()>0?' ':'')><$client.tForWhomUserInfo.Last_Name>
            </p>
            <p class="vspace">
                Personal Email <$client.tForWhomUserInfo.Email>
            </p>
        </header>
        <p class="vspace">
            Dear <$client.tForWhomUserInfo.First_Name>,
        </p>
        <p class="vspace">
            We are pleased to offer you a position as a Playworks AmeriCorps Member for the <$client.tForWhomUserInfo.Program_year> program year. You will report to a Program Manager at the <$client.tEventCategories_11.Value> office. Your anticipated start date is <$client.tEventDates_Date_2.Value>.
        </p>
        <p class="vspace">
            Your living allowance will be <$client.tForWhomUserInfo.Living_Allowance> divided equally over the program year less tax withholding. If you begin service late or end service early, you will not be eligible to receive the living allowance payment for any period in which you do not serve. In addition, you will be eligible for up to <$client.tForWhomUserInfo.Education_Award> education award, processed and paid by the federal Corporation for National &amp; Community Service (CNCS), after the completion of <$client.tForWhomUserInfo.Service_Hours> hours of service. If you do not successfully finish your term of service, you may not be eligible for the education award. 
        </p>
        <p class="vspace">
            Your relationship with Playworks is at-will.  This means that neither you nor Playworks has entered into a contract regarding the duration of your service.  You are free to terminate your relationship with Playworks at any time, with or without reason.  Likewise, Playworks has the right to terminate your relationship, with or without reason or notice, at the discretion of Playworks.  We request that, in the event of resignation, you give Playworks at least two weeks notice.
        </p>
        <p class="vspace">
            You will receive a notification to complete your Background Check. Please immediately communicate with us if you anticipate any delays in completing your background check. You must complete your Background Check within 48 hours of this offer or you could jeopardize your service term with Playworks. Should your clearance status change while you are serving with Playworks, your term of service may be terminated according to state law mandates. If you have questions regarding this process please contact your hiring manager or Program Associate.
        </p>
        <p class="vspace">
            Your expected start date for your term of service is contingent on:
        </p>
        <ul class="vspace hspace">
            <li>
                Initiation of Criminal History Background Checks and in California only, results cleared
            </li>
            <li>
                Verification of your status as a U.S. citizen, U.S. national, or lawful permanent resident alien
            </li>
            <li>
                Playworks’ ability to secure the necessary number of schools
            </li>
        </ul>
        <p class="vspace">
            A representative of your regional office will contact you with instructions on how to complete the required Criminal History Background Check and provide your eligibility verification. You must complete these tasks within 48 hours or you could jeopardize your service term with Playworks. Please immediately communicate with us if you anticipate any delays or concerns with the timely completion of these tasks. Should your clearance status change while you are serving with Playworks, your term of service may be terminated according to state law mandates.
        </p>
        <p class="vspace">
            To verify your status as a U.S. citizen, U.S. national, or lawful permanent resident alien, you may be asked to provide one or more of the attached list of acceptable documents in order to avoid delays in your AmeriCorps enrollment and start of service.
        </p>
        <p class="vspace">
            In addition, continued service at your assigned school site will be contingent on successful completion of a Tuberculosis (TB) test and CPR &amp; First Aid certification (both of which must remain current for the entire program year). This is required before the first day you report to your school site. If you have current certification you must provide proof that is dated, on official letterhead, and meets Playworks requirements to your Regional Administrator before your first date of school service. Playworks will reimburse costs for new certifications required. Online courses will not satisfy this requirement. 
        </p>
        <p class="vspace">
            As a Playworks AmeriCorps Member, you will be expected to abide by company rules and standards. You will be required to sign an acknowledgment that you have received and read the Playworks AmeriCorps Member Handbook.
        </p>
        <p class="vspace">
            Your relationship with Playworks is at-will. This means that neither you nor Playworks has entered into a contract regarding the duration of your service. You are free to terminate your relationship with Playworks at any time, with or without reason. Likewise, Playworks has the right to terminate your relationship, with or without reason or notice, at the discretion of Playworks. We request that, in the event of resignation, you give Playworks at least two weeks notice.
        </p>
        <p class="vspace">
            If you accept our offer and your background check has been successfully completed, your service is expected to begin. To indicate your acceptance of this offer, please digitally sign this letter.
        </p>
        <p class="vspace">
            If you have questions regarding this process please contact your Hiring Manager, Regional Administrator, or Human Resources at <a href="mailto:hr@playworks.org">hr@playworks.org</a>.  We look forward to you joining our Playworks team and to a successful start of your service year.
        </p>
    </section>

    <section id="complete"></section>

    <p class="vspace">
        Sincerely,
    </p>

    <div class="vspace-md">
        <div class="col-50">
            <$client.env.formfield.HM_Signature.HTML>
            Hiring Manager Signature
        </div>
    </div>
    <div class="vspace-md">
        <div class="col-30">
            Signature Date <br>
            <$client.env.formfield.SignatureDate.HTML>
            <p>
                Signature Date
            </p>
        </div>
    </div>
    <div class="vspace">
       I have read and understood this letter and accept the offer of Playworks AmeriCorps service. 
    </div>

    <div class="vspace-md">
        <div class="col-50">
            <$client.env.formfield.Signature.HTML>
            Signature 
        </div>
    </div>
    <div class="vspace">
        <div class="col-30">
            <$client.env.formfield.SignatureDate2.HTML>
            <p>
                Signature Date
            </p>
        </div>
    </div>

    <h3>
        <strong>Required Government Authorized Documentation includes a signed Social Security Card and one of the following:</strong>
    </h3>

    <p class="hspace vspace-sm">
        <strong>The following are acceptable forms of primary documentation certifying status as a U.S. citizen or national:</strong>
    </p>
    <p class="hspace vspace-sm">
        (1) A birth certificate showing that the individual was born in one of the 50 states, the District of Columbia, Puerto Rico, Guam, the U.S. Virgin Islands, American Samoa, or the Northern Mariana Islands; 
    </p>
    <p class="hspace vspace-sm">
        (2) A United States passport; 
    </p>
    <p class="hspace vspace-sm">
        (3) A report of birth abroad of a U.S. Citizen (FS-240) issued by the State Department; 
    </p>
    <p class="hspace vspace-sm">
        (4) A certificate of birth-foreign service (FS 545) issued by the State Department; 
    </p>
    <p class="hspace vspace-sm">
        (5) A certification of report of birth (DS-1350) issued by the State Department; 
    </p>
    <p class="hspace vspace-sm">
        (6) A certificate of naturalization (Form N-550 or N-570) issued by the Immigration and Naturalization Service; or 
    </p>
    <p class="hspace vspace">
        (7) A certificate of citizenship (Form N-560 or N-561) issued by the Immigration and Naturalization Service. 
    </p>

    <p class="hspace vspace-sm">
        <strong>The following are acceptable forms of primary documentation certifying status as a lawful permanent resident alien of the United States:</strong>
    </p>
    <p class="hspace vspace-sm">
        (1) Permanent Resident Card, INS Form I-551; 
    </p>
    <p class="hspace vspace-sm">
        (2) Alien Registration Receipt Card, INS Form I-551; 
    </p>
    <p class="hspace vspace-sm">
        (3) A passport indicating that the INS has approved it as temporary evidence of lawful admission for permanent residence; or 
    </p>
    <p class="hspace vspace-sm">
        (4) A Departure Record (INS Form I-94) indicating that the INS has approved it as temporary evidence of lawful admission for permanent residence. 
    </p>

</main>
