<div class="main">
    <h2 class="text-center">PLANO DE PENSÕES GEII</h1>
    <h3 class="text-center">Ficha de Inclusão/ Alteração</h2>
    <div class="center-block form-inline ficha-wrapper clearfix">
        <table>
            <tbody>
                <tr>
                    <td class="instr"><input type="checkbox"><label for="">NOVO PARTICIPANTE</label></td>
                    <td class="instr"><input type="checkbox"><label for="">ALTERAÇÃO DE DADOS PESSOAIS E/OU BENEFICIÁRIOS</label></td>
                </tr>
            </tbody>
        </table>
        <small class="pull-right">Assinale com um &#x2612; a quadrícula respectiva</small>
    </div>

    <h3 class="title">1.INFORMAÇÃO RESUMO DO PLANO</h3>
    <p>São elegíveis como Participantes do Plano de Pensões, os Colaboradores do quadro permanente da GE International, Inc. – Representação Permanente em Portugal (GEII) que contribuam para o Plano. Cada empregado do quadro permanente da GE International, Inc. – Representação Permanente em Portugal tem, no Fundo de Pensões, no âmbito da adesão colectiva, duas contas de valor acumulado. Uma conta empresa onde se depositam as contribuições feitas pela empresa a seu favor e uma conta colaborador onde se depositam as contribuições obrigatórias e voluntárias do próprio Participante.</p>

    <!-- section 1 -->
    <table class="table table-informacao">
        <thead class="text-center">
            <tr>
                <th>&nbsp;</th>
                <th class="table-bordered-cell table-cell-grey">Benefícios</th>
                <th class="table-bordered-cell table-cell-grey">Direitos Adquiridos</th>
                <th class="table-bordered-cell table-cell-grey">Portabilidade</th>
                <th class="table-bordered-cell table-cell-grey">Contribuições</th>
            </tr>
        </thead>
        <tbody class="table-bordered-cell">
            <tr class="text-center table-cell-green">
                <td>
                    <strong>
                        Conta Empresa <span class="lead">(Contribuições da empresa)</span>
                    </strong>
                </td>
                <td>
                    O Capital acumulado, será pago em caso de reforma por velhice ou Pré-reforma e conforme o estipulado no Plano de Pensões.
                </td>
                <td>
                    O Participante terá direito à totalidade das Unidades de Participação existentes na Conta Empresa se a cessação de contrato de trabalho antes da data de reforma ocorrer por motivos diferentes da Reforma por Invalidez ou Morte.
                </td>
                <td>
                    Em caso de cessação do vínculo Laboral, o Participante terá de transferir os valores existentes nesta conta, que revistam a natureza de direito adquirido, para um contrato de adesão individual a um Fundo de Pensões Aberto, devendo este respeitar os termos do Plano actual quanto às condições de recebimento dos benefícios.
                </td>
                <td>
                    A empresa fará contribuições mensais, para cada participante, com 3% do Salário Mensal.
                </td>
            </tr>
            <tr class="table-cell-grey">
                <td>
                    <strong>Conta Colaborador <span class="lead">(Contribuições do Participante)</span></strong>
                </td>
                <td>
                    <p>
                    O Capital acumulado ser&aacute; pago em caso de:
                    </p>
                    <ul class="text-left">
                        <li>
                            Reforma por Velhice;
                        </li>
                        <li>
                            Pr&egrave;-reforma;
                        </li>
                        <li>
                            Reforma por Invalidez;
                        </li>
                        <li>
                            Morte;
                        </li>
                        <li>
                            Incapacidade Permanente para o trabalho;
                        </li>
                        <li>
                            Desemprego de longa duração;
                        </li>
                        <li>
                            Doença grave
                        </li>
                    </ul>
                    <p>
                        Conforme o estipulado no Plano de Pensões.
                    </p>
                </td>
                <td>
                    O Participante terá direito à totalidade das Unidades de Participação existentes na Conta Colaborador, no respectivo Fundo.
                </td>
                <td>
                    Em caso de cessação do vínculo Laboral, o Participante terá de transferir os valores existentes nesta conta, para um contrato de adesão individual a um Fundo de Pensões Aberto.
                </td>
                <td>
                    O participante contribuirá obrigatoriamente para este Plano de Pensões também com 3% do Salário Mensal.
                </td>
            </tr>
        </tbody>
    </table>
    <!-- section 1 end  -->

    <!-- section 2 -->
    <div class="box">
        <h3>2. IDENTIFICAÇÃO DO PARTICIPANTE</h3>
        <div class="form-field-wrapper">
            <div class="col-15">
                Nome Completo
            </div>
            <div class="col-85">
                <input type="text">
            </div>
        </div>
        <div class="form-field-wrapper">
            <div class="col-10">
                Morada
            </div>
            <div class="col-90">
                <input type="text">
            </div>
        </div>
        <div class="form-field-wrapper">
            <div class="col-15">
                C&oacute;digo Postal
            </div>
            <div class="col-20">
                <input type="text">
            </div>
            <div class="col-15 text-right">
                Localidade
            </div>
            <div class="col-40">
                <input type="text">
            </div>
        </div>
        <div class="form-field-wrapper">
            <div class="col-5">
                NIF
            </div>
            <div class="col-15">
                <input type="text">
            </div>
            <div class="col-5  text-right">
                BI
            </div>
            <div class="col-15">
                <input type="text">
            </div>
            <div class="col-15 text-right">
                Emitido em
            </div>
            <div class="col-15">
                <input type="text">
            </div>
            <div class="col-20 text-right">
                Data de Nascimento
            </div>
            <div class="col-15">
                <input type="text">
            </div>
        </div>
        <div class="form-field-wrapper">
            <div class="col-10">
                Telefone
            </div>
            <div class="col-20">
                <input type="text">
            </div>
            <div class="col-10 text-right">
                Telem&oacute;vel
            </div>
            <div class="col-20">
                <input type="text">
            </div>
            <div class="col-10 text-right">
                E-mail
            </div>
            <div class="col-30">
                <input type="text">
            </div>
        </div>
    </div>
    <!-- section 2 end  -->

    <!-- section 3 and 3.1 -->
    <h3 class="title">
        3.IDENTIFICAÇÃO DOS BENEFICIÁRIOS EM CASO DE MORTE
    </h3>
    <p>
        <strong class="indent-2 title">
            3.1 Conta Empresa, <span class="lead">pelos direitos adquiridos em caso de Pré-reforma ou por não ter exercido a portabilidade daqueles direitos.</span>
        </strong>
    </p>
    <table class="table indent-1 table-bordered table-grey">
        <thead>
            <tr>
                <th class="text-center table-cell-nomo">
                    <h3>
                        Nome Completo
                    </h3>
                </th>
                <th class="text-center">
                % de atribuiç&atilde;o do valor acumulado*
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
        </tbody>
    </table>
    <p class="indent-1 page-breaker">
        Nota: Os beneficiários deverão observar as regras estabelecidas para o regime geral da segurança social quando os titulares do direito à pensão de sobrevivência (cônjuge/filhos/ascendentes). Em caso de inexistência de benefícios elegíveis pelo regime geral de segurança social, o benefício será atribuído a outros herdeiros. * O somatório das percentagens deverá ser 100%.
    </p>
    <!-- section 3 end  -->
    
    <!-- section 3 and 3.2 -->
    <h2 class="title text-center">PLANO DE PENSÕES GEII</h2>
    <h3 class="title text-center">Ficha de Inclusão/ Alteração</h3>
    <h3 class="title">
        3.IDENTIFICAÇÃO DOS BENEFICIÁRIOS EM CASO DE MORTE
    </h3>
    <h3 class="indent-2 title">
        3.2 Conta Colaborador
    </h3>
    <table class="table indent-1 table-bordered table-grey">
        <thead>
            <tr>
                <th class="text-center table-cell-nomo">
                    <h3>
                        Nome Completo
                    </h3>
                </th>
                <th class="text-center">
                    % de atribuição do valor acumulado*
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
        </tbody>
    </table>
    <p class="indent-1">
        * O somatório das percentagens deverá ser 100%.
    </p>
    <!-- section 3 and 3.2 end  -->
    
    <!-- section signature -->
    <div class="signature-container">
        <p>
            O Participante abaixo-assinado declara conhecer o Regulamento de Gestão do Fundo de Pensões que financia o Plano de Pensões GEII, assim como o Contrato de Adesão Colectiva ao mesmo Fundo.
        </p>
        <div class="col-50 vertical-top">
            <div class="form-date-row">
                <div class="col-50">
                    Data de Início / Alteração
                </div>
                <div class="col-50">
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="col-50 vertical-top">
            <div class="form-signature-row">
                <input type="text">
                <p class="text-center">
                    Assinatura do Participante
                </p>
            </div>
            <div class="form-signature-row">
                <input type="text">
                <p class="text-center">
                    Assinatura do Associada/ GEII
                </p>
            </div>
        </div>
    </div>
    <!-- section signature end  -->
    
    <!-- section footer -->
    <footer>
        <p>
            <strong>
                A EMPRESA /ASSOCIADO DEVER&Aacute; IMPRIMIR DUAS C&Oacute;PIAS (PARA ESAF E PARTICIPANTE) E ENVIAR UMA DAS C&Oacute;PIAS ASSINADAS PELO PARTICIPANTE PARA A ESAF JUNTAMENTE COM UMA C&Oacute;PIA DO BI E DO NIF OU DOCUMENTOS QUE OS SUBSTITUA.
            </strong>
        </p>
    </footer>
    <!-- section footer end  -->
    
    
</div>
