<div style="margin: 25px 25px 50px 25px;">
<div class="main center-block">
    <div class="text-center">Nota: Antes de preencher leia atentamente as <span class="text-blue">instruções no verso</span></div>
    <div class="box center-block">
        <h3 class="text-center">DECLARAÇÃO</h3>
        <h3 class="text-center">(Art.º 99º do Código do IRS)</h3>

        <!-- table 1 -->
        <table class="table table-bordered table-section">
            <thead>
                <tr>
                    <th class="table-number">1</th>
                    <th><h3 class="text-center">CARACTERÍSTICAS DA DECLARAÇÃO</h3></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="form-inline center-block form-group-checkbox">
                            <input type="checkbox">
                            <label for="">1ª Declaração</label>
                            <input type="checkbox">
                            <label for="">De alterações</label>
                            <input type="checkbox">
                            <label for="">Quadros alterados</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- table 1 end -->

        <!-- table 2 -->
        <table class="table table-bordered table-section">
            <thead>
                <tr>
                    <th class="table-number">2</th>
                    <th><h3 class="text-center">IDENTIFICAÇÃO DO DECLARANTE – <span class="lead">(Titular de rendimentos de trabalho dependente)</span></h3></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="form-inline identificado-wrapper">
                            <div class="form-inline col-70 nome-wrapper">
                                <div class="col-10">
                                    <label for="">NOME</label>
                                </div>
                                <div class="col-90">
                                    <textarea rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-30 text-center fiscal-wrapper">
                                <label for="">Nº de Identificação fiscal</label>
                                <input type="text">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- table 2 -->

        <!-- table 3 -->
        <table class="table table-bordered table-section">
            <thead>
                <tr>
                    <th class="table-number">3</th>
                    <th><h3 class="text-center">DOMICÍLIO FISCAL</h3></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="form-inline domicilio-wrapper">
                            <div class="col-20">
                                <label for="">Rua. Praça. Av.</label>
                            </div>
                            <div class="col-40">
                                <input type="text" style="width: 100%;">
                            </div>
                            <div class="col-10 text-right">
                                <label for="">N.<sup>o</sup></label>
                            </div>
                            <div class="col-10">
                                <input type="text">
                            </div>
                            <div class="col-10 text-right">
                                <label for="">Andar</label>
                            </div>
                            <div class="col-10">
                                <input type="text">
                            </div>
                        </div>
                        <div class="form-inline domicilio-wrapper">
                            <div class="col-10">
                                <label for="">Localidade</label>
                            </div>
                            <div class="col-40">
                                <input type="text">
                            </div>
                            <div class="col-10 text-right">
                                <label for="">Cód.Postal</label>
                            </div>
                            <div class="col-20">
                                <input type="text"> 
                            </div>
                            <div class="col-20">
                                <input type="text">
                            </div>
                        </div>
                        <div class="form-inline domicilio-wrapper">
                            <div class="col-30">
                                <label for="">Serviço de Finanças/Bairro Fiscal</label>
                            </div>
                            <div class="col-30">
                                <input type="text">
                            </div>
                            <div class="col-20 text-right">
                                <label for="">Código Serv. Fin./B.F.</label>
                            </div>
                            <div class="col-20">
                                <input type="text">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- table 3 end -->

        <!-- table 4 -->
        <table class="table table-bordered table-section">
            <thead>
                <tr>
                    <th class="table-number">4</th>
                    <td>
                        <h3 class="text-center">ESTADO CIVIL</h3>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="form-inline wrapper-inner">
                            <label for="">Casado e não separado judicialmente de pessoas e bens ou unido de facto</label>
                            <input type="checkbox">
                            <label for="">Outro</label>
                            <input type="checkbox">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- table 4 end -->

        <!-- table 5 -->
        <table class="table table-bordered table-section">
            <thead>
                <tr>
                    <th class="table-number">5</th>
                    <th><h3 class="text-center">IDENTIFICAÇÃO DO CÔNJUGE</h3></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="form-inline identificado-wrapper">
                            <div class="form-inline col-70 nome-wrapper">
                                <div class="col-10">
                                    <label for="">NOME</label>
                                </div>
                                <div class="col-90">
                                    <textarea rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-30 text-center fiscal-wrapper">
                                <label for="">Nº de Identificação fiscal</label>
                                <input type="text">
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- table 5 end -->

        <!-- table 6 -->
        <table class="table table-bordered table-section">
            <thead>
                <tr>
                    <th class="table-number">6</th>
                    <th>
                        <h3 class="text-center">RELAÇÃO DOS DEPENDENTES <span class="lead">– (Art. 13º do Código do IRS)</span></h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <table class="table table-bordered table-inner">
                            <thead class="text-center">
                                <tr>
                                    <td>NOME</td>
                                    <td>Data de Nascimento</td>
                                    <td>NIF<br>BI<br>CP</td>
                                    <td>
                                        Nº de Identificação fiscal<br>
                                        N.º do Bilhete de Identidade<br>
                                        N.º da Cédula Pessoal
                                    </td>
                                </tr>
                            </thead>
                            <tbody class="dependentes-wrapper">
                                <tr>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                    <td><input type="text"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tfoot class="dependentes-wrapper-footer">
                <tr>
                    <td colspan="4">
                        <div class="wrapper-inner">
                            <div class="form-inline">
                                N.º de Dependentes <input type="text"> (Anexar relação no caso de não ter inscrito todos os dependentes)
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- table 6 end -->

        <!-- table 7 -->
        <table class="table table-bordered table-section">
            <thead>
                <tr>
                    <th class="table-number">7</td>
                    <th>
                        <h3 class="text-center">INFORMAÇÕES GERAIS</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <table class="table table-inner table-bordered">
                            <thead>
                                <tr>
                                    <th class="table-number">7.1</td>
                                    <th><h3 class="text-center">DEFICIENTES</h3></th>
                                    <th class="table-number">7.2</th>
                                    <th>
                                        <h3 class="text-center">
                                            TITULARIDADE DOS RENDIMENTOS<br>
                                            <span class="lead">(sendo casado e não separado judicialmente de pessoas e bens ou unido de facto)</span>
                                        </h3>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <div class="wrapper-inner">
                                            Elementos do agregado familiar com grau de deficiência igual ou superior a 60% (Art.º 4.º do Decreto-Lei n.º 42/91 de 22/1)
                                        </div>
                                        <div class="wrapper-inner clearfix">
                                            Declarante
                                            <span class="pull-right">
                                                <input type="checkbox">
                                            </span>
                                        </div>
                                        <div class="wrapper-inner clearfix">
                                            Cônjuge
                                            <span class="pull-right">
                                                <input type="checkbox">
                                            </span>
                                        </div>
                                        <div class="wrapper-inner clearfix">
                                            Dependentes (Número)
                                            <span class="pull-right">
                                                <input type="text">
                                            </span>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="col-70">
                                            <div class="wrapper-inner">
                                                1 - O declarante é o único titular do rendimento
                                            </div>
                                            <div class="wrapper-inner">
                                                2 - Ambos os cônjuges são titulares de rendimentos mas um deles aufere 95% ou mais do rendimento englobado
                                            </div>
                                            <div class="wrapper-inner">
                                                3 - Ambos os cônjuges são titulares de rendimentos e nenhum deles aufere 95% ou mais do rendimento englobado.
                                            </div>
                                        </div>
                                        <div class="col-30"><input type="checkbox"> (Um titular)</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- table 7 end -->

        <!-- table 8 -->
        <table class="table table-bordered table-section">
            <thead>
                <tr>
                    <th class="text-center">8</th>
                    <th>
                        <h3 class="text-center">OPÇÕES DO DECLARANTE</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="wrapper-inner form-inline clearfix">
                           1 - O declarante, estando nas condições legais, opta pela retenção como “casado único titular” (Circulares n.ºs 8/89, de 18/4 e 11/94, de 18/3)
                           <div class="pull-right"><input type="checkbox"></div>
                        </div>
                        <div class="wrapper-inner form-inline clearfix">
                            2 - O declarante opta pela taxa de retenção mensal de:
                           <div class="pull-right"><input type="text"></div>
                        </div>
                        <div class="wrapper-inner form-inline clearfix">
                            <div class="col-80">
                                3 - Para efeitos de retenção mensal sobre complemento de pensão, declara que a pensão mensal que lhe é paga por
                                <div class="col-40">
                                    <input type="text">
                                </div>
                                 &egrave; de:
                            </div>
                           <div class="pull-right col-20"><input type="text"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- table 8 end -->

        <!-- table 9 -->
        <table class="table table-bordered table-section">
            <thead>
                <tr>
                    <th class="table-number">9</th>
                    <th>
                        <h3 class="text-center">ASSINATURAS</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <table class="table table-inner">
                            <thead>
                                <tr>
                                    <td>
                                        <h3 class="text-center">DO DECLARANTE</h3>
                                    </td>
                                    <td>
                                        <h3 class="text-center">DA ENTIDADE PATRONAL</h3>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td valign="middle" class="text-center">A presente declaração corresponde à verdade<br>e não omite qualquer informação</td>
                                    <td valign="middle" class="text-center">Recebi o original</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Local e data</p>
                                        <div class="form-inline wrapper-inner">
                                            <div class="col-40">
                                                <input type="text">
                                            </div>
                                            <div class="col-60">
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-100">
                                            <p>Assinatura</p>
                                            <div class="form-inline wrapper-inner">
                                                <input type="text">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p>Local e data</p>
                                        <div class="form-inline wrapper-inner">
                                            <div class="col-40">
                                                <input type="text">
                                            </div>
                                            <div class="col-60">
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-100">
                                            <p>Assinatura</p>
                                            <div class="form-inline wrapper-inner">
                                                <input type="text">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- table 9 end -->

    </div>
    <div class="box center-block">
        <h3 class="text-center text-blue">INSTRUÇÕES</h3>
        <p> Esta declaração destina-se a facilitar o cumprimento do disposto no nº 2 do art. 99º do Código do IRS. </p>
        <p>Deverá ser entregue pelas pessoas singulares que aufiram rendimentos de trabalho e ou/pensões, à respetiva entidade pagadora de forma a possibilitar a retenção do imposto de harmonia com as correspondentes tabelas de retenção.</p>
        <p>Não sendo comunicada à entidade devedora dos rendimentos a situação pessoal e familiar do titular, aquela fica obrigada a efetuar a retenção de acordo com a tabela aplicável aos sujeitos passivos não casados sem dependentes.</p>
        <p class="text-blue">Qualquer alteração fiscalmente relevante ocorrida ao longo do ano, principalmente no caso dos quadros 4, 6 e 7, deverá ser comunicada de forma a poderem ser aplicadas as taxas de retenção correspondentes à nova situação.</p>
        <h3>1 - CARACTERÍSTICAS DA DECLARAÇÃO</h3>
        <p>Assinalar com “X” se se trata de 1ª declaração ou de uma declaração de alterações. Neste último caso deverá referir o número dos quadros que foram alterados.</p>
        <h3>2 - IDENTIFICAÇÃO DO DECLARANTE</h3>
        <p>Quadro reservado à identificação do declarante. Nele deverá constar o número fiscal atribuído pelo Ministério das Finanças.</p>
        <h3>3 - DOMICÍLIO FISCAL</h3>
        <p>Destina-se à inscrição do domicílio fiscal do declarante.<br> O Serviço de Finanças ou Bairro Fiscal correspondente bem como o respetivo código constam do cartão de contribuinte/cidadão.</p>
        <h3>4 - ESTADO CIVIL</h3>
        <p>Quadro reservado para referência do estado civil do declarante.</p>
        <h3>6 - RELAÇÃO DE DEPENDENTES</h3>
        <p>
            Quadro reservado para identificação dos dependentes.<br>
            <span class="text-blue" style="margin-left: 3em;">Consideram-se dependentes:</span>
            <ul style="margin-left: 3em;">
                <li>Os filhos, adotados e enteados, menores não emancipados, bem como os menores sob tutela; (Redação dada pela Lei nº 32-B/2002, de 30 de Dezembro)</li>
                <li>Os filhos, adotados e enteados, maiores, bem como aqueles que até à maioridade estiverem sujeitos à tutela de qualquer dos sujeitos a quem incumbe a direção do agregado familiar, que, não tendo mais de 25 anos nem auferindo anualmente rendimentos superiores ao valor da retribuição mínima mensal garantida, tenham frequentado no ano a que o imposto respeita o 11.º ou 12.º anos de escolaridade, estabelecimento de ensino médio ou superior; (Redação da Lei n.º 55-A/2010, de 31 de Dezembro)</li>
                <li>Os filhos, adotados, enteados e os sujeitos a tutela, maiores, inaptos para o trabalho e para angariar meios de subsistência, quando não aufiram rendimentos superiores ao salário mínimo nacional mais elevado. (Redação dada pela Lei nº 32-B/2002, de 30 de Dezembro)</li>
            </ul>
        </p>
        <h3>7 - INFORMAÇÕES GERAIS</h3>
        <p>
            <span style="margin-left: 2em;">
                <strong>7.1-</strong> Destina-se a quantificar os elementos do agregado familiar com grau de deficiência igual ou superior a 60% (art. 4.º Decreto-Lei n. 42/91, de 22/1)
                <ul style="margin-left: 3em;">
                    <li>
                        <span class="text-blue">Cada dependente</span> com grau de incapacidade permanente igual ou superior a 60% equivalerá, para efeitos de retenção na fonte <span class="text-blue">a quatro dependentes não deficientes;</span>
                    </li>
                    <li>
                        Na situação de <span class="text-blue">”casado único titular”</span>, o cônjuge que não auferindo rendimentos das categorias A ou H, seja portador de deficiência que lhe confira um grau de incapacidade permanente igual ou superior a 60%, equivalerá, para efeitos de retenção na fonte sobre rendimentos de trabalho dependente auferidos pelo outro cônjuge, <span class="text-blue">a cinco dependentes não deficientes;</span>
                    </li>
                    <li>
                        Na situação de <span class="text-blue">”casado único titular”</span>, sendo o cônjuge, que não aufere rendimentos das categorias A ou H, portador de deficiência que lhe confira um grau de incapacidade permanente igual ou superior a 60%, a taxa de retenção na fonte a aplicar aos rendimentos de pensões auferidos pelo outro cônjuge deverá ser reduzido de um ponto percentual.
                    </li>
                </ul>
            </span>
            <span style="margin-left: 2em;">
                <strong>7.2 -</strong> <span class="text-blue">Só deve preencher este quadro no caso de ser casado e não separado judicialmente de pessoas e bens ou unido de facto</span>, assinalar com “x” no quadro respetivo a distribuição dos rendimentos dento do agregado familiar.
            </span>
        </p>
        <h3>8 - OPÇÕES DO DECLARANTE</h3>
        <p>Destina-se a serem feitas as opções legalmente permitidas.<br> A taxa de opção para efeitos de retenção mensal tem de ser superior à que resulte da aplicação das tabelas de retenção segundo a situação pessoal e familiar, mas não pode exceder os 40%</p>
        <h3>9 – ASSINATURAS</h3>
        <p>Quadro reservado à assinatura do declarante e da entidade patronal.</p>
    </div>
</div>
</div>
