<table id="PositionReportsTo_EditProfile" border="0">
<tr class="exempt-from-hidden">
            <td colspan="4" style="background-color:white; color:black; font-weight:bold;">Please submit information for new hire
            <$client.tForWhomUserInfo.First_Name> <input type="hidden" size="40" name="First Name" value="<$client.tForWhomUserInfo.First_Name>" /> <$client.tForWhomUserInfo.Last_Name> <input type="hidden" size="40" name="Last Name" value="<$client.tForWhomUserInfo.Last_Name>" /></td>
</tr>
<tr class="exempt-from-hidden">
<td colspan="4">&nbsp;</td>
</tr>    
<tr class="exempt-from-hidden">
            <td id='Line_Mgr_Level_prompt'><$client.env.promptLine_Mgr_Level></td>
            <td colspan="3" style="position: relative;"><$client.env.inputLine_Mgr_Level><div class="cover"></div></td>
          </tr> 
<tr>
            <td id='PositionID_prompt'><$client.env.promptPositionID></td>
            <td colspan="3"><$client.env.inputPositionID></td>
          </tr> 
<tr>
            <td id='Position_Desc_prompt'><$client.env.promptPosition_Desc></td>
            <td colspan="3" style="position: relative;"><$client.env.inputPosition_Desc><div class="cover"></div></td>
          </tr> 
<tr>
            <td id='ReportsToID_prompt'><$client.env.promptReportsToID></td>
            <td colspan="3"><$client.env.inputReportsToID></td>
          </tr> 
<tr>
            <td id='ReportsToID_Desc_prompt'><$client.env.promptReportsToID_Desc></td>
            <td colspan="3" style="position: relative;"><$client.env.inputReportsToID_Desc><div class="cover"></div></td>
          </tr> 
</table>
<script src="<$link;/Onboarding/UnplacedPages/AddlEditProfilePages/PositionReportsTo_EditProfile/bluebird.js>"></script>
<script src="<$link;/Onboarding/UnplacedPages/AddlEditProfilePages/PositionReportsTo_EditProfile/script.js>" defer></script>
<script>
const $thisForm = document.querySelector('[name="frmExtendedUserProfile"]');
const CONFIG_PATH = '<$link;/Onboarding/UnplacedPages/AddlEditProfilePages/PositionReportsTo_EditProfile/config.json>';
</script>
<!-- Format Dates on load -->
<script type="text/javascript">
   if(self.LoadCallback) {
      LoadCallback(document.forms['frmExtendedUserProfile']);
   }
</script>
