<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal" style="display:none;">
  <div class="modal-content">
    <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
    <p style="font-weight:normal;padding:0px">
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="sign-btn-group">
            <input type="button" class="lifesuite__button primary" value="Sign" onclick="validateSignature('signature','eSignature1','fullName','modal','over','sv', 'a11_Date');xbObj('eSignature1').value='';document.getElementById('eSignature1').focus();">&nbsp;
            <input type="button" class="lifesuite__button" value="Clear" onclick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value=''; if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','a11_Date');}">&nbsp;
            <input type="button" class="lifesuite__button" value="Cancel" onclick="showHide('modal');showHide('over');xbObj('eSignature1').value='';" style="margin-right: -8px;">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="over" style="display:none;"></div>
<!-- RESPONSIVE eFORM PAGE LOADER-->
<div class="modal" style="display:block; background: #002E6D;">
  <div class="fb-spinner">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<form name="frmForm" action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);" role="form">
    <div hidden>
        <$client.env.FormField.Form_Name.prompt>
        <$client.env.FormField.Form_Name.HTML>
        <$client.env.FormField.Form_Type.prompt>
        <$client.env.FormField.Form_Type.HTML>
        <$client.env.FormField.Form_Owner.prompt>
        <$client.env.FormField.Form_Owner.HTML>
        <$client.env.FormField.Form_CreateDate.prompt>
        <$client.env.FormField.Form_CreateDate.HTML>
        <$client.env.FormField.Form_Completed.prompt>
        <$client.env.FormField.Form_Completed.HTML>
        <$client.env.FormField.Form_Delivered.prompt>
        <$client.env.FormField.Form_Delivered.HTML>
        <$client.env.FormField.Form_TaskId.prompt>
        <$client.env.FormField.Form_TaskId.HTML>
        <$client.env.FormField.display_version.HTML>
        <!-- Replace With eForm Specific Data Field Prompts From Formalizer-->
        <$client.env.FormField.SignatureVerification.prompt>
        <$client.env.FormField.a01_Date.prompt>
        <$client.env.FormField.a02_Address.prompt>
        <$client.env.FormField.a03_Greet.prompt>
        <$client.env.FormField.a04_content.prompt>
        <$client.env.FormField.a05_content.prompt>
        <$client.env.FormField.a06_Hourly_Amount.prompt>
        <$client.env.FormField.a07_Accrued_Hours.prompt>
        <$client.env.FormField.a07_Hourly_Amount_10_percent.prompt>
        <$client.env.FormField.a07_Hourly_Amount_15_percent.prompt>
        <$client.env.FormField.a08_Accrual_Footnote.prompt>
        <$client.env.FormField.a09_Content.prompt>
        <$client.env.FormField.Accept_Decline.prompt>
        <$client.env.FormField.a10_Signature.prompt>
        <$client.env.FormField.a11_Date.prompt>
        <$client.env.FormField.a12_Name.prompt>
    </div>
    <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">
<main class="container-fluid">
    <header class="row mb-20">
        <div class="col-lg-3 col-sm-4 col-xs-5">
            <img src="<$link;/main/RedCarpet/FormTemplates/Primary_Offer_Letter/img/PreciseLogo_v2.png>" alt="Precise Systems Logo" class="img-responsive">
        </div>
    </header>
    <div class="row mb-20">
        <div class="col-lg-12">
            <span id="heading-date"></span>
        </div>
    </div>
    <div class="row mb-20">
        <div id="heading-address" class="col-lg-12">
            <$client.tForWhomUserInfo.First_Name> <$client.tForWhomUserInfo.Middle_Name><$client.env.eval(client.tForWhomUserInfo.Middle_Name.length()>0?' ':'')><$client.tForWhomUserInfo.Last_Name>
            <br>
            <$client.tForWhomUserInfo.Address1>
            <br>
            <$client.tForWhomUserInfo.Address2>
            <$client.env.eval(client.tForWhomUserInfo.Address2.length()>0?'<br>':'')>
            <$client.tForWhomUserInfo.City>, <$client.tForWhomUserInfo.State> <$client.tForWhomUserInfo.Zip>
        </div>
    </div>
    <div class="row mb-20">
        <div class="col-lg-12">
            <p id="content-1">
                Dear <$client.tForWhomUserInfo.First_Name>,
            </p>
            <p id="content-2">
                It is my pleasure to extend to you a formal offer to join Precise Systems, Inc. ("Precise Systems") as <span class="article-content"><$client.tEventCategories_Category_16.Value></span> <$client.env.eval(client.tForWhomUserInfo.Functional_Role.length()>0?' - <$client.tForWhomUserInfo.Functional_Role>':'')>. Since 1990, Precise Systems has worked to establish a significant presence in the Defense industry.  We are extremely proud of our reputation for excellence among our customers and work diligently to guard it.  This superb reputation is directly linked to the outstanding quality of our work and our people.  Those who know you, or who have met you, are impressed with your achievements, credentials, and your potential to contribute to the future success of our company.  
            </p>
            <p id="content-3">
                When you join us, you will be reporting to <$client.tEventManagers_Person_1.First_Name> <$client.tEventManagers_Person_1.Last_Name>. Your base hourly rate will be $<$client.tForWhomUserInfo.Hourly_Rate> per hour and you will be compensated for every hour worked. In the event that you exceed forty (40) hours in a week you will be compensated at a time and a half rate. It is anticipated that you will work 40 hours per week.  Salary differentials apply to Shift 2 and Shift 3 for hours beyond normal business hours (6:00 a.m. through 6:00 p.m.)  You will work <$client.tForWhomUserInfo.Shift>. Your start date will be <span class="long-date"><$client.tEventDates_Date_2.Value></span>.  
            </p>
        </div>
    </div>
    <div class="row mb-10">
        <div class="col-lg-12 table-responsive">
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                        <td>
                            Shift
                        </td>
                        <td>
                            Shift Time
                        </td>
                        <td>
                            Hourly Rate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Shift 1
                        </td>
                        <td>
                            0600 - 1400
                        </td>
                        <td id="hourly-amount">
                            $<$client.tForWhomUserInfo.Hourly_Rate>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Shift 2
                        </td>
                        <td>
                            1400 - 2200
                        </td>
                        <td id="hourly-amount-10">
                            $<$client.env.eval(client.tForWhomUserInfo.Hourly_Rate * 1.10)>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Shift 3
                        </td>
                        <td>
                            2200 - 0600
                        </td>
                        <td id="hourly-amount-15">
                            $<$client.env.eval(client.tForWhomUserInfo.Hourly_Rate * 1.15)>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mb-10">
        <div class="col-lg-12">
            <p>
                Upon joining Precise Systems, you will be eligible for all employee benefits afforded by our personnel policy.  The key features of our benefits program specifically tailored for you are:
            </p>
            <ul class="mb-10 bullet-list">
                <li>
                    <span id="accrual-rate">
                        Employee Managed Leave accrued at the rate of <$client.tForWhomUserInfo.Accrual_Rate> hours per pay period. 
                    </span><sup style="font-size:100%">1</sup>
                </li>
                <li>
                    Holidays and Sick Leave per policy.
                </li>
                <li>
                    401(k) retirement plan with company contributions.
                </li>
                <li>
                    Medical, dental and vision insurance coverage.
                </li>
                <li>
                    Training/education benefit.
                </li>
                <li>
                    Group life insurance coverage. 
                </li>
                <li>
                    Accidental death and dismemberment insurance coverage.
                </li>
                <li>
                    Short-term disability insurance coverage.
                </li>
                <li>
                    Long-term disability insurance coverage.
                </li>
            </ul>
            <p>
                Upon your request, the provisions and eligibility requirements for each of our employee benefits (including our 401(k) retirement plan) will be explained to you in detail.  Your employment is contingent upon government funding, your ability to qualify to work on our customers’ contracts, your obtaining and maintaining the requisite DoD security clearances (within a reasonable time period), which will allow you to perform the duties for which you are being hired, and successfully passing all of Precise Systems’ pre-employment screening.  Additionally, your employment is contingent upon completing the I-9 Form (Employment Eligibility Verification) establishing your identity and legal right to work in the United States by your third day of employment.
            </p>
            <p id="expiration-date-content">
                You will be an "at will" employee, which means that either you or Precise Systems is free to terminate your employment at any time, with or without cause and with or without notice.  If we do not receive your signed acceptance by <span class="long-date"><$client.tForWhomUserInfo.Offer_Expiration_Date></span>, we will consider you to have declined and this offer will be rescinded.
            </p>
            <p>
                We look forward to having you as a member of the Precise Systems team.  We are certain that you will enjoy a very long and successful career with Precise Systems, and that we will benefit immensely from your service.
            </p>
            <p>
                Sincerely,
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-4 col-xs-12">
            <img src="<$link;/main/RedCarpet/FormTemplates/Primary_Offer_Letter/img/Christina_Signature.png>" alt="HR Signature" class="img-responsive" id="hr-signature">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p>
                Christina Payne, SHRM-CP, PHR <br>
                Vice President, Human Resources and Corporate Relations <br>
                Precise Systems, Inc.
            </p>
            <p>
                I have read and understand the provisions of this letter and intend to join Precise Systems, Inc. as proposed.
            </p>
        </div>
    </div>

    <div class="row mb-10">
        <div class="col-lg-12">
            <$client.env.FormField.Accept_Decline.HTML>
        </div>
    </div>

    <div class="row mb-10">
        <div class="col-lg-7 col-sm-7 col-xs-12 mb-10">
            <$client.env.FormField.a10_Signature.HTML>
            <div id="signature-name">
                Signature: <$client.tForWhomUserInfo.First_Name> <$client.tForWhomUserInfo.Middle_Name><$client.env.eval(client.tForWhomUserInfo.Middle_Name.length()>0?' ':'')><$client.tForWhomUserInfo.Last_Name>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-12 mb-10">
            <$client.env.FormField.a11_Date.HTML>
            Date:
        </div>
    </div>

    <div class="hr-short b-bottom">&nbsp;</div>

    <div class="row">
        <div class="col-lg-12">
            <small><sup>[1]</sup></small>
            <p class="mb-40">
                <small id="footnote">
                      You will accrue Employee Managed Leave at a rate of <$client.tForWhomUserInfo.Accrual_Rate> hours per pay period, the equivalent of <$client.tForWhomUserInfo.Accrual_Days> days per year. New Hires are subject to prorated accrual rates for the first year. New Hires not starting on the 1st or the 16th of the month will begin to accrue leave in the 2nd pay period following their start.    
                </small>
            </p>
            <p class="text-blue text-right">
                <small>
                    22290 EXPLORATION DRIVE, SUITE 400, LEXINGTON PARK, MD 20653 <br>
                    <span class="text-danger">PHONE</span> 301.737.7100 | <span class="text-danger">FAX</span> 301.862.1379 | WWW.GOPRECISE.COM
                </small>
            </p>
        </div>
    </div>

    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="sign-btn-group">
            <$client.env.FormButtons>
        </div>
    </div>
</main>

<div hidden>
    <$client.env.FormField.SignatureVerification.HTML>
    <$client.env.FormField.a01_Date.HTML>
    <$client.env.FormField.a02_Address.HTML>
    <$client.env.FormField.a03_Greet.HTML>
    <$client.env.FormField.a04_content.HTML>
    <$client.env.FormField.a05_content.HTML>
    <$client.env.FormField.a06_Hourly_Amount.HTML>
    <$client.env.FormField.a07_Hourly_Amount_10_percent.HTML>
    <$client.env.FormField.a07_Hourly_Amount_15_percent.HTML>
    <$client.env.FormField.a07_Accrued_Hours.HTML>
    <$client.env.FormField.a08_Accrual_Footnote.HTML>
    <$client.env.FormField.a09_Content.HTML>
    <$client.env.FormField.a12_Name.HTML>
    <$client.env.FormField.today.HTML>
    <$client.env.FormField.full_name.HTML>
</div>

</form>
<!--[if lt IE 9]> 
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/Primary_Offer_Letter/js/html5shiv.js>"></script> 
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/Primary_Offer_Letter/js/respond.min.js>"></script> 
<![endif]-->
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/Primary_Offer_Letter/js/bootstrap.min.js>"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/Primary_Offer_Letter/js/moment-with-locales.min.js>"></script>
<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/Primary_Offer_Letter/js/script_version_1.js>" defer></script>
<script type="text/javascript">
const CONFIG_PATH = '<$link;/main/RedCarpet/FormTemplates/Primary_Offer_Letter/js/config_version_1.json>';
showScreen('over');
ChangeCalendarIcons(); //for popup calendar
const thisForm = document.querySelector('[name="frmForm"]');
/* RESPONSIVE eFORM BUTTONS STYLE */
$(document).on('ready', function() {
    $("#buttonCancel").removeClass().addClass("lifesuite__button").prop('id','ButtonCancel');
    $("#buttonSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSave');
    $("#buttonSaveAndComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSaveAndComplete');
    $("#buttonPrint").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPrint');
    $("#buttonPreviewDelete").removeClass().addClass("lifesuite__button").prop('id','ButtonPreviewDelete');
    $("#buttonPreviewSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPreviewSave');
    $("#buttonComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonComplete');
    $('#formButtons').show();
    $("input[type=text]").addClass('lifesuite__text-input');
    $("input[type=text].hasDatepicker").addClass('dateField');
    $("select").addClass('lifesuite__select-input');
    $("input[type=radio]").addClass('lifesuite__radio');
    $("input[type=checkbox]").addClass('lifesuite__checkbox');
    $("textarea").addClass('lifesuite__textarea-input');
    $('label').addClass('lifesuite__input-label lifesuite__input—block');
});

$(window).resize(function() { 
    document.getElementById('over').style.width=''; 
});
(function(el) {
    "use strict";
    el.parent().find('input').prop('disabled', 'disabled');
})($('.disable-date'));

angular.element(window).on('load', function() {
    setTimeout(function() {
        angular.element('#divLoader').hide();
    }, 800);
});
</script>
