<main class="container-fluid">
    <h3 class="text-center">
        First Probationary Review Form 试用期评估表
    </h3>
    <div class="box">
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Staff name员工姓名：
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-left border-right">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Division(DD) 处别(DD):
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Job Title职位:
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-left border-right">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Job Grade级别:
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Staff ID: <br>
                员工编号:
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-left border-right">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Immediate Supervisor: <br>
                直属主管:
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Join Date: <br>
                入职日期:
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-left border-right">
                <input type="text" class="lifesuite__text-input">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                Probation End Date: <br>
                试用期完结日:
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                PART 1 – Orientation Program (1 day) <br>
                第一部分 – 入职培训 (1 天)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-left">
                Completed Date <br>
                完成日期: <br>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                PART 2 – First Probationary Performance Review <br>
                (30 days after on board date) <br>
                第二部分– 首次试用期表现评估（入职30天后
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-left">
                Completed Date <br>
                完成日期: <br>
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                Rating from 1 to 5: <br>
                分值1-5:
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                1 – Outstanding <br>
                1 – 优异
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                2 –Very Good <br>
                2 –优良
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                3 – Good <br>
                3 – 良好
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                4 – Marginal <br>
                4 –尚可
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 border-right">
                5 – Unacceptable <br>
                5 – 差劣
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                (To be completed by immediate supervisor) 由直属主管完成
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                Functional Skills and Knowledge 专业技能及知识
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                Effectiveness 成效
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                Efficiency 效率
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                Customer Services Excellence 优质的客户服务
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                Honesty and Integrity 诚信
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                Commitment 责任、承担
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                Communication 沟通
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                Teamwork 团队合作
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                Supervision and Leadership Effectiveness 领导及监督成效 <br>
                (for supervisory staff only) (仅管理岗位员工适用)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-left">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                Immediate supervisor’s comments 直属主管意见:
                <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                Staff’s comments 员工意见:
                <textarea name="" id="" cols="30" rows="10" class="lifesuite__text-input"></textarea>
            </div>
        </div>
    </div>
    <div class="hr-wide invisible hidden-xs hidden-sm"></div>
</main>
