<table border="0" style="width: 97%; margin-right: auto; margin-left:auto;">
    <tr>
        <td colspan="4" class="sectHeader">
            Employee's Current Information
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <em>Employee's current information cannot be updated on this page. Any changes must be updated directly on the employee's event.</em>
        </td>
    </tr>
    <tr>
        <td id="Preferred_First_Name_prompt">
            Preferred First Name 
        </td>
        <td colspan="3">
            <input readonly type="text" name="Preferred_First_Name" id="Preferred_First_Name" value="<$client.tForWhomUserInfo.Preferred_First_Name>">
        </td>
    </tr>
    <tr>
        <td id="Last_Name_prompt">
            Last Name
        </td>
        <td colspan="3">
            <input readonly type="text" name="Last_Name" id="Last_Name" value="<$client.tForWhomUserInfo.Last_Name>">
        </td>
    </tr>
    <tr>
        <td id="Employee_HRISID_prompt">
            Employee Number
        </td>
        <td colspan="3">
            <input readonly type="text" name="Employee_HRISID" id="Employee_HRISID" value="<$client.tForWhomUserInfo.Employee_HRISID>">
        </td>
    </tr>
    <tr>
        <td id="Current_Job_Level_prompt">
            Current Job Level
        </td>
        <td colspan="3">
            <input readonly type="text" name="Current_Job_Level" id="Current_Job_Level" value="<$client.tEventCategories_Category_34.Value>">
        </td>
    </tr>
    <tr>
        <td id="Current_Service_Line_prompt">
            Current Service Line
        </td>
        <td colspan="3">
            <input readonly type="text" name="Current_Service_Line" id="Current_Service_Line" value="<$client.tEventCategories_Category_18.Value>">
        </td>
    </tr>
    <tr>
        <td id="Current_Cost_Center_prompt">
            Current Cost Center
        </td>
        <td colspan="3">
            <input readonly type="text" name="Current_Cost_Center" id="Current_Cost_Center" value="<$client.tEventCategories_Category_25.Value>">
        </td>
    </tr>
    <tr>
        <td id="Current_Work_Location_prompt">
            Current Work Location
        </td>
        <td colspan="3">
            <input readonly type="text" name="Current_Work_Location" id="Current_Work_Location" value="<$client.tEventCategories_Category_17.Value>">
        </td>
    </tr>
    <tr>
        <td id="Current_Division_prompt">
            Current Division and Hourly/Salary
        </td>
        <td colspan="3">
            <input readonly type="text" name="Current_Division" id="Current_Division" value="<$client.tEventCategories_Category_35.Value>">
        </td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" class="sectHeader">
            Employee's New Information
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <em>Employee's new information cannot be updated on this page. Any changes must be updated directly on the employee's event.</em>
        </td>
    </tr>
    <tr>
        <td id="Effective_Date_prompt">
            Effective Date
        </td>
        <td colspan="3">
            <input readonly type="text" name="Effective_Date" id="Effective_Date" value="<$client.env.eval(client.tEventDates_Date_8.Value.subString(5,6))>/<$client.env.eval(client.tEventDates_Date_8.Value.subString(8,9))>/<$client.env.eval(client.tEventDates_Date_8.Value.subString(0,3))> ">
        </td>
    </tr>
    <tr>
        <td id="New_Job_Level_prompt">
            New Job Level
        </td>
        <td colspan="3">
            <input readonly type="text" name="New_Job_Level" id="New_Job_Level" value="<$client.tEventCategories_Category_36.Value>">
        </td>
    </tr>
    <tr>
        <td id="New_Service_Line_prompt">
            New Service Line
        </td>
        <td colspan="3">
            <input readonly type="text" name="New_Service_Line" id="New_Service_Line" value="<$client.tEventCategories_Category_37.Value>">
        </td>
    </tr>
    <tr>
        <td id="New_Cost_Center_prompt">
            New Cost Center
        </td>
        <td colspan="3">
            <input readonly type="text" name="New_Cost_Center" id="New_Cost_Center" value="<$client.tEventCategories_Category_38.Value>">
        </td>
    </tr>
    <tr>
        <td id="New_Work_Location_prompt">
            New Work Location
        </td>
        <td colspan="3">
            <input readonly type="text" name="New_Work_Location" id="New_Work_Location" value="<$client.tEventCategories_Category_47.Value>">
        </td>
    </tr>
    <tr>
        <td id="New_Division_prompt">
            New Division and Hourly/Salary
        </td>
        <td colspan="3">
            <input readonly type="text" name="New_Division" id="New_Division" value="<$client.tEventCategories_Category_48.Value>">
        </td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" class="sectHeader">
            Change in Scheduled Hours per Week (if applicable)
        </td>
    </tr>
    <tr>
        <td id="Current_Schedule_prompt">
            Current Schedule Hours per Week
        </td>
        <td colspan="3">
            <input readonly type="text" name="Current_Schedule" id="Current_Schedule" value="<$client.tForWhomUserInfo.Scheduled_Hours>">
        </td>
    </tr>
    <tr>
        <td id="New_Schdule_Hours_Per_Week_prompt">
            New Schedule Hours per Week
        </td>
        <td colspan="3">
            <$client.env.inputNew_Schdule_Hours_Per_Week>
        </td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" class="sectHeader">
            Change in Compensation (if applicable)
        </td>
    </tr>
    <tr>
        <td id="Salary_Amount_prompt">
            Current 
            <div class="i-block">
                <input type="text" id="Salary_Type_pseudo" name="Salary_Type_pseudo" readonly value="<$client.tForWhomUserInfo.Salary_Type>">
            </div>
            Amount
        </td>
        <td colspan="3">
            <$client.env.inputSalary_Amount>
        </td>
    </tr>
    <tr>
        <td id="New_Salary_Hourly_Amount_prompt">
            New 
            <div class="i-block">
                <$client.env.inputSalary_Type>
            </div> 
            Amount
        </td>
        <td colspan="3">
            <$client.env.inputNew_Salary_Hourly_Amount>
        </td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" class="sectHeader">
            Remote FWA Information (if applicable)
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <em>Please provide employee's home address where they will be working remotely from.</em>
        </td>
    </tr>
    <tr>
        <td id="FWA_Address_Line_1_prompt">
            Address 1
        </td>
        <td colspan="3">
            <$client.env.inputFWA_Address_Line_1>
        </td>
    </tr>
    <tr>
        <td id="FWA_Address_Line_2_prompt">
            Address 2
        </td>
        <td colspan="3">
            <$client.env.inputFWA_Address_Line_2>
        </td>
    </tr>
    <tr>
        <td id="FWA_City_prompt">
            City
        </td>
        <td colspan="3">
            <$client.env.inputFWA_City>
        </td>
    </tr>
    <tr>
        <td id="FWA_State_prompt">
            State
        </td>
        <td>
            <$client.env.inputFWA_State>
        </td>
        <td id="FWA_Zip_Code_prompt">
            Zip
        </td>
        <td>
            <$client.env.inputFWA_Zip_Code>
        </td>
    </tr>
</table>

<div hidden>
</div>

<script>
ChangeCalendarIcons(); //for popup calendar
if (window.NodeList && !NodeList.prototype.forEach) {
   NodeList.prototype.forEach = Array.prototype.forEach;
}
document.onreadystatechange = function() {
    if (!!sTaskComplete) {
        document.querySelectorAll('input[type="text"], select').forEach(function(f) {
            f.disabled = true;
        });
    }
};
</script>
