<main class="container-fluid">
  <header class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <img src="/assets/img/quebec-logo.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-6 text-right">
      TP-1015.3-V <br>
      2018-01 <br>
      1 of 6
    </div>
  </header>
  <div class="header-title-container">
    <div class="header-title">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
          <h3 class="text-blue">
            Source <br>
            Deductions Return
          </h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h1 class="text-blue text-lg">
            <strong>
              2018
            </strong>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>
        You must give this form, duly completed, to your employer or payer so that the income tax to be withheld from the amounts paid to you can be determined. Be sure to read the “Instructions” section before completing the form.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">1 Information about the employee or beneficiary</strong>
        <small>(please print)</small>
      </h4>
    </div>
  </div>
  <div class="bg-blue">
    <div class="row border-top border-left border-right bg-default">
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 border-bottom">
        <small>Last Name</small>
        <input type="text" class="lifesuite__text-input">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 border-bottom">
        <small>First Name</small>
        <input type="text" class="lifesuite__text-input">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        Employee or beneficiary number
        <input type="text" class="lifesuite__text-input">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <small>Date of birth</small>
        <input type="text" class="lifesuite__text-input">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <small>Social insurance number</small>
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">2 Amount used to determine the deduction code</strong>
      </h4>
    </div>
  </div>
  <div class="bg-blue">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>
          <strong>2.1 Calculation of the amount</strong>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom">
        <strong>Basic amount.</strong> Enter $15,012. If you have more than one employer and have already claimed the basic amount, do not complete lines 1 through 10 and enter O in the box marked “Code” below.
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        &nbsp;
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center lead">
            1
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <input type="text" class="lifesuite__text-input">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4>
          <strong>Amount transferred from one spouse to the other</strong>
        </h4>
      </div>
    </div>
    <div class="row indent-1">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom row-min-35">
          Maximum amount respecting a spouse
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 clearfix">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            &nbsp;
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 bg-blue-light border-left border-right border-bottom border-top row-min-35 lead">
            1a
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 bg-default border-left border-top border-bottom text-center row-min-35">
            <strong class="lead">$15,012</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row indent-1">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom row-min-35">
          Your spouse's estimated taxable income for 2018
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 clearfix">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            -
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 bg-blue-light border-left border-right border-bottom border-top row-min-35 lead">
            1b
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 bg-default border-left border-top border-bottom text-center">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
      </div>
    </div>
    <div class="row indent-1">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom row-min-35">
          Subtract line 1b from line 1a. If the result is negative, enter 0.
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 clearfix">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            =
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 bg-default border-left border-top border-bottom text-center">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <img src="/assets/img/plus_arrow.jpg" alt="" style="width: 15px; height: auto;">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center lead">
           2
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <input type="text" class="lifesuite__text-input">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
        <strong>Amount for a severe and prolonged impairment in mental or physical functions</strong>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 lead">
          +
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center lead">
            3
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <input type="text" class="lifesuite__text-input">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
        <strong>Amount for a severe and prolonged impairment in mental or physical functions</strong>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 lead">
          +
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center lead">
            4
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <input type="text" class="lifesuite__text-input">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
        <strong>Age amount, amount for a person living alone and amount for retirement income</strong> (Work Chart 2)
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 lead">
          +
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center lead">
            4
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <input type="text" class="lifesuite__text-input">
        </div>
      </div>
    </div>
  </div>
</main>
