<main class="container-fluid">
  <header class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <img src="assets/img/quebec-logo.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-6 text-right">
      TP-1015.3-V <br>
      2018-01 <br>
      1 of 6
    </div>
  </header>
  <div class="header-title-container vspace">
    <div class="header-title">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
          <h3 class="text-blue">
            Source <br>
            Deductions Return
          </h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h1 class="text-blue text-lg">
            <strong>
              2018
            </strong>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>
        You must give this form, duly completed, to your employer or payer so that the income tax to be withheld from the amounts paid to you can be determined. Be sure to read the “Instructions” section before completing the form.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">1 Information about the employee or beneficiary</strong>
        <small>(please print)</small>
      </h4>
    </div>
  </div>
  <div class="bg-blue">
    <div class="row border-top border-left border-right bg-default">
      <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 border-bottom">
        <small>Last Name</small>
        <$client.env.FormField.LastName.HTML>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 border-bottom">
        <small>First Name</small>
        <$client.env.FormField.FirstName.HTML>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
        Employee or beneficiary number
        <$client.env.FormField.EmployeeNumber.HTML>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <small>Date of birth</small>
        <$client.env.FormField.DateOfBirth.HTML>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <small>Social insurance number</small>
        <$client.env.FormField.SIN.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">2 Amount used to determine the deduction code</strong>
      </h4>
    </div>
  </div>
  <div class="bg-blue">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>
          <strong>2.1 Calculation of the amount</strong>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom">
        <strong>Basic amount.</strong> Enter $15,012. If you have more than one employer and have already claimed the basic amount, do not complete lines 1 through 10 and enter O in the box marked “Code” below.
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        &nbsp;
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            1
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line1.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h4>
          <strong>Amount transferred from one spouse to the other</strong>
        </h4>
      </div>
    </div>
    <div class="row indent-1">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom row-min-35">
          Maximum amount respecting a spouse
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 clearfix">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            &nbsp;
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 bg-blue-light border-left border-right border-bottom border-top row-min-35">
            1a
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 bg-default border-left border-top border-bottom text-center row-min-35">
            <h5>
              <strong>$15,012</strong>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row indent-1">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom row-min-35">
          Your spouse's estimated taxable income for 2018
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 clearfix">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            -
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 bg-blue-light border-left border-right border-bottom border-top row-min-35">
            1b
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 bg-default border-left border-top border-bottom text-center">
            <$client.env.FormField.Line1a.HTML>
          </div>
        </div>
      </div>
    </div>
    <div class="row indent-1">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom row-min-35">
          Subtract line 1b from line 1a. If the result is negative, enter 0.
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 clearfix">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            =
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 bg-default border-left border-top border-bottom text-center">
            <$client.env.FormField.Line1b.HTML>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <img src="assets/img/plus_arrow.jpg" alt="" style="width: 15px; height: auto;">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
           2
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line2.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
        <strong>Amount for dependants</strong>
        (Work Chart 1)
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          +
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            3
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line3.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
        <strong>Amount for a severe and prolonged impairment in mental or physical functions</strong>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          +
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            5
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line5.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
        <strong>Age amount, amount for a person living alone and amount for retirement income</strong> (Work Chart 2)
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          +
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            6
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line6.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
        Add lines 1 through 6.
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            7
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line7.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
        <strong>Amount for workers 62 or older</strong> (Work Chart 3)
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          +
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            9
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line9.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 border-bottom row-min-35">
        Add lines 7 and 9.
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom row-min-35 hidden-md hidden-lg">
        <strong>Amount</strong>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom row-min-35 text-right hidden-sm hidden-xs">
        <strong>Amount</strong>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            10
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line10.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <strong>2.2 Deduction code</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        Enter the deduction code for the amount on line 10.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
        If the amount on line 10 is over $44,000, enter the amount from line 10 rather than a deduction code.
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-right">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-9 bg-default inline-block">
          <$client.env.FormField.Code.HTML>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
          <span class="text-blue">Code</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">3 Additional income tax to be withheld</strong>
      </h4>
    </div>
  </div>
  <div class="bg-blue">
    <div class="row border-bottom">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        Enter the additional amount that you would like withheld from each paycheque.
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
        <strong>Additional income tax to be withheld</strong>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            11
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line11.HTML>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">4 Deductions</strong>
      </h4>
    </div>
  </div>
  <div class="bg-blue">
    <div class="row">
      <div class="col-lg-12">
        Enter the deductions to be taken into account by your employer or payer to calculate source deductions.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
        Housing deduction for residents of designated remote areas
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            14
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line14.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
        Deductible support payments
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          +
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            15
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line15.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        Add lines 14 and 15.
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 row-min-35">
        (Note that your employer or payer will distribute the amount evenly among the pay periods remaining in the year.)
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 row-min-35">
        <strong>Deductions</strong>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            19
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line19.HTML>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">5 Exemption</strong>
      </h4>
    </div>
  </div>
  <div class="bg-blue">
    <div class="row">
      <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
        Check box 20 to request an exemption from source deductions of income tax with respect to your employment income for 2018.
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            20
          </div>
        </div>
        <div class="inline-block">
          <$client.env.FormField.Exempt.HTML>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">6 Signature</strong>
      </h4>
    </div>
  </div>
  <div class="bg-blue">
    <div class="row">
      <div class="col-lg-12">
        I certify that the information provided in this return is accurate and complete.
      </div>
    </div>
    <div class="row form-horizontal">
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
        <label class="control-label">
          Signature
        </label>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <$client.env.FormField.signature.HTML>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
        <label class="control-label">
          Date
        </label>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <$client.env.FormField.DateSigned.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">Work Chart 1</strong>
        <strong>– Amount for dependants</strong>
        <small>
          (see the instructions for line 3)
        </small>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      If you are claiming an amount for more than two children under 18 enrolled in post-secondary studies or more than two other dependants, attach another sheet containing the requested information and enter the result of your calculations on line 52.
    </div>
  </div>
  <div class="bg-blue">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block valign-bottom">
        <div class="text-bottom border-bottom">
          Amount for children under 18 enrolled in post-secondary studies. Enter $2,884 per completed term that was started in 2018 (<strong>maximum: two terms per child</strong>).
        </div>
      </div><!--
      --><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-12 text-center">
            <strong>Children under 18</strong>
          </div>
          <div class="col-lg-12 text-center">
            on December 31, 2018
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
            &nbsp;
          </div>
          <div class="col-lg-5 border-top border-bottom border-left border-right text-center">
            1st child
          </div>
          <div class="col-lg-5 border-top border-bottom border-right text-center">
            2nd child
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 text-right">
            <div class="number-box border-top border-bottom border-left border-right text-center inline-block">
              40
            </div>
            &nbsp;
          </div>
          <div class="col-lg-5 border-top border-bottom border-left border-right text-center row-min-75">
            <$client.env.FormField.Line40a.HTML>
          </div>
          <div class="col-lg-5 border-top border-bottom border-right text-center row-min-75">
            <$client.env.FormField.Line40b.HTML>
          </div>
        </div>
      </div><!--
      --><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-12 text-center">
            <strong>Other dependants</strong>
          </div>
          <div class="col-lg-12 text-center">
            (18 or older)
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 border-top border-bottom border-left border-right text-center">
            1st person
          </div>
          <div class="col-lg-6 border-top border-bottom border-right text-center">
            2nd person
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 border-top border-bottom border-left border-right text-center row-min-75">
            <h3>
            $4,202
            </h3>
          </div>
          <div class="col-lg-6 border-top border-bottom border-right text-center row-min-75">
            <h3>
            $4,202
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block valign-top">
        <div class="text-bottom border-bottom">
          Estimated net income<sup>1</sup> of the child or dependant for 2018
        </div>
      </div><!--
      --><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block valign-top">
        <div class="row">
          <div class="col-lg-2 text-right">
            -
            <div class="number-box border-top border-bottom border-left border-right text-center inline-block">
              45
            </div>
            &nbsp;
          </div>
          <div class="col-lg-5 border-top border-bottom border-left border-right text-center">
            <$client.env.FormField.Line45a.HTML>
          </div>
          <div class="col-lg-5 border-top border-bottom border-right text-center">
            <$client.env.FormField.Line45b.HTML>
          </div>
        </div>
      </div><!--
      --><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-6 border-top border-bottom border-left border-right text-center">
            <$client.env.FormField.Line45c.HTML>
          </div>
          <div class="col-lg-6 border-top border-bottom border-right text-center">
            <$client.env.FormField.Line45d.HTML>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block valign-top">
        <div class="text-bottom">
          Subtract line 45 from line 40. <br>
          If the result is negative, enter 0.
        </div>
      </div><!--
      --><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block valign-top">
        <div class="row">
          <div class="col-lg-2 text-right">
            =
            <div class="number-box border-top border-bottom border-left border-right text-center inline-block">
              50
            </div>
            &nbsp;
          </div>
          <div class="col-lg-5 border-top border-bottom border-left border-right text-center">
            <$client.env.FormField.Line50a.HTML>
          </div>
          <div class="col-lg-5 border-top border-bottom border-right text-center">
            <$client.env.FormField.Line50b.HTML>
          </div>
        </div>
      </div><!--
      --><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-6 border-top border-bottom border-left border-right text-center">
            <$client.env.FormField.Line50c.HTML>
          </div>
          <div class="col-lg-6 border-top border-bottom border-right text-center">
            <$client.env.FormField.Line50d.HTML>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
        Add the amounts on line 50.
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            52
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line52.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        If any dependant for whom you are claiming an amount reaches the age of 18 in 2018, enter the result of the following calculation: $350 × number of months in the year up to and including the month of the dependant’s birthday. Otherwise, enter 0.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            55
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line55.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        <div class="col-lg-12">
          Subtract line 55 from line 52.
        </div>
        <div class="col-lg-9">
          If the result is negative, enter 0. Carry the result to line 3.
        </div>
        <div class="col-lg-3">
          <strong>Amount for dependants</strong>
        </div>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            60
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line60.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        1. Do not take into account the amount of the deduction for residents of designated remote areas or the amount of scholarships, bursaries or any similar financial assistance.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">Work Chart 2</strong>
        <strong>– Age amount, amount for a person living alone and amount for retirement income</strong>
        <small>
          (see the instructions for line 6)
        </small>
      </h4>
    </div>
  </div>
  <div class="bg-blue">
    <div class="row">
      <div class="col-lg-12">
        <strong>Age amount</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Enter $3,158 for each person (you and your spouse) that is 65 or older in 2018.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            70
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line70.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        <strong>Amount for a person living alone</strong>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-min-35 inline-block valign-bottom">
        &nbsp;
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            75
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line75.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Additional amount for a person living alone (single-parent family)
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            76
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line76.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        $177 × number of months in 2018 in which you are entitled to the child assistance payment
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          -
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            77
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line77.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 77 from line 76.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          =
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line78a.HTML>
        </div>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <img src="assets/img/plus_arrow.jpg" style="width: 15px; height: auto;" />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            78
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line78b.HTML>
        </div>
      </div>
    </div>
    <div class="row vspace">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Add lines 75 and 78.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          =
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line79a.HTML>
        </div>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <img src="assets/img/plus_arrow.jpg" style="width: 15px; height: auto;" />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            79
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line79b.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        <strong>Amount for retirement income</strong> (maximum: $2,805 for each person)
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          +
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            80
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line80.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Add lines 70, 79 and 80.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            85
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line85.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <strong>Estimated net family income</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Total of your estimated net income and that of your spouse on December 31, 2018
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            90
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line90.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 91 from line 90. If the result is negative, enter 0.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            -
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              91
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom text-center">
            <h5>
              <strong>$34,030</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            =
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              92
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
            <$client.env.FormField.Line92.HTML>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Multiply line 92 by 18.75%.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            x
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              93
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom text-center">
            <h5>
              <strong>18.75%</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            =
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
            <$client.env.FormField.Line95a.HTML>
          </div>
        </div>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <img src="assets/img/plus_arrow.jpg" alt="" style="width: 15px; height: auto;">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            95
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line95b.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 95 from line 85. If the result is negative, enter 0.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            96
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line96.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount from line 6 of your spouse’s TP-1015.3-V form
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          -
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            97
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line97.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        Subtract line 97 from line 96. Carry the result to line 6.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        <strong>
          Age amount, amount for a person living alone and amount for retirement income
        </strong>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            98
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line98.HTML>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">Work Chart 3</strong>
        <strong>– Amount for workers 62 or older</strong>
        <small>
          (see the instructions for line 9)
        </small>
      </h4>
    </div>
  </div>
  <div class="bg-blue vspace">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Estimated eligible work income
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            110
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line110.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount of income included on line 110 that you expect to earn before reaching the age of 62 or that is related to a previous year (retroactive amount)
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          -
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            111
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 111 from line 110. If you are 63, 64 or 65 on December 31, 2018, go to line 118. Otherwise, continue the calculation.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            112
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line112.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 114 from line 112 (<strong>maximum: $10,000</strong> if you are 66 or older on December 31, 2018, and <strong>$4,000</strong> if you are 62 on December 31, 2018). Carry the result to line 135 and continue on line 140.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            -
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              114
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            <h5 class="text-center">
              <strong>$5,000</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            =
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              115
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
            <$client.env.FormField.Line115b.HTML>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <strong>
          Complete lines 118 through 130 only if you are 63, 64 or 65 on December 31, 2018.
        </strong>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount from line 112
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            118
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount of income included on line 112 that you expect to earn before reaching the age of 63, 64 or 65, as applicable
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          -
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            119
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 119 from line 118.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            120
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount from line 119
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            &nbsp;
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              121
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            <h5 class="text-center">
              <strong>$5,000</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            -
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              122
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 122 from line 121. If the result is negative, enter 0.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            =
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            &nbsp;
          </div>
        </div>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <img src="assets/img/plus_arrow.jpg" alt="" style="width: 15px; height: auto;">
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              125
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 125 from line 120.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            126
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount from line 119
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            127
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 128 from line 127 (<strong>maximum: $8,000</strong> if you are 65 on December 31, 2018, <strong>$6,000</strong> if you are 64 on December 31, 2018, and <strong>$4,000</strong> if you are 63 on December 31, 2018). If the result is negative, enter 0.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block valign-bottom">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            -
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              128
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            <h5 class="text-center">
              <strong>$5,000</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            &nbsp;
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-75">
            &nbsp;
          </div>
        </div>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block valign-bottom">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <img src="assets/img/plus_arrow.jpg" alt="" style="width: 15px; height: auto;">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            129
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Add lines 126 and 129 (<strong>maximum: $10,000</strong> if you are 65 on December 31, 2018, <strong>$8,000</strong> if you are 64 on December 31, 2018, and <strong>$6,000</strong> if you are 63 on December 31, 2018).
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            130
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount from line 115 or line 130, as applicable. If you were born before January 1, 1951, and the amount on line 135 does not exceed $4,000, carry it to line 9. Otherwise, continue the calculation.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            135
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount from line 110
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            140
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 141 from line 140. If the result is negative, enter 0.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block valign-bottom">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            -
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              141
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            <h5 class="text-center">
              <strong>$34,030</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            =
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              142
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Multiply line 142 by 33.33%.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block valign-bottom">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            x
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            <h5 class="text-center">
              <strong>33.33%</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            =
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            &nbsp;
          </div>
        </div>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block valign-bottom">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <img src="assets/img/minus_arrow.jpg" alt="" style="width: 15px; height: auto;">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            144
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        Subtract line 144 from line 135. If the result is negative, enter 0. Carry the result to line 9, unless you were born before January 1, 1951, in which case you must carry either the amount from line 145 or $4,000, <strong>whichever is greater</strong>.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom text-right">
        <strong>Amount for workers 62 or older</strong>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            145
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12 text-center">
      <h3 class="text-blue">Instructions</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>
        <strong>Are you required to complete this form?</strong>
      </p>
      <p class="text-justify">
        You must give this form, duly completed, to your employer or payer so that the employer or payer can determine the income tax to be withheld from salaries, wages, commissions, pension income, parental insurance benefits, Employment Insurance benefits, wage loss replacement benefits oranyother remuneration paid to you. If you do not complete this form, your employer or payer will only take into account the basic amount to determine the income tax to be withheld. The deduction code will remain in effect until you give your employer or payer a new, duly completed copy of this form.
      </p>
      <p class="text-justify">
        Given that the annual indexation of the income tax system does not affect your deduction code, you are not required to complete this form each year.
      </p>
      <p class="text-justify">
        The personal tax credits and deductions that appear on this form may be subject to a limit if you are not resident in Canada or if you become a non-resident during the year. In such cases, contact us.
      </p>
      <p>
        This form is available on our website at www.revenuquebec.ca.
      </p>
      <p>
        <strong>
          Filing deadline
        </strong>
      </p>
      <p>
        You must give this form, duly completed, to your employer or payer:
      </p>
      <ul class="text-justify">
        <li>
          on the day you take up employment, if it is an employer who pays the remuneration;
        </li>
        <li>
          before you receive remuneration for a first time, if it is a payer (not an employer) who pays the remuneration;
        </li>
        <li>
          within 15 days after an event that results in a reduction of the amounts entered on the previously completed copy of form TP-1015.3-V. Do not complete another copyof form TP-1015.3-Vifthereduction of the amounts on lines 2 to 9 does not result in a change to the code corresponding to the amount on line 10.
        </li>
      </ul>
      <p>
        Furthermore, you can give a duly completed copy of this form to your employer or payer at any time to:
      </p>
      <ul class="text-justify">
        <li>
          have your employer or payer take into account any tax credits and deductions to which you are entitled when calculating the amount of income tax to withhold;
        </li>
        <li>
          have an additional amount of income tax withheld; or
        </li>
        <li>
          apply for an exemption from source deductions of Qu&eacute;bec income tax from your employment income.
        </li>
      </ul>
      <p>
        <strong>Reduction in source deductions of income tax</strong>
      </p>
      <p class="text-justify">
        If you are entitled to tax credits and deductions that do not appear on this form, complete the <em>Application for a Reduction in Source Deductions of Income Tax</em> (form TP-1016-V) so that we can authorize your employer or payer to reduce the income tax that is withheld.
      </p>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 2</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Amount transferred from one spouse to the other</strong>
        </div>
      </div>
      <p class="text-justify">
        If you expect to have a <strong>spouse on December 31, 2018</strong>, you can claim the amount transferred from one spouse to the other. However, you cannot claim the amount if your spouse receives indemnities further to an industrial accident, a precautionary cessation of work, a traffic accident or an act of good citizenship, or because he or she was the victim of a crime.
      </p>
      <p class="text-justify">
        To calculate your spouse’s estimated taxable income, refer to lines 101 through 299 in the guide to the income tax return for 2017. To claim the amount transferred from one spouse to the other, you and your spouse must each file an income tax return for 2018.
      </p>
      <div class="border-top border-bottom border-left border-right border-blue vspace box-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <p>
              <strong>Spouse</strong>
            </p>
            <p class="text-justify">
              The person to whom you are married, the person with whom you are living in a civil union or the person who is your de facto spouse.
            </p>
            <p>
              <strong>De facto spouse</strong>
            </p>
            <p class="text-justify">
              A person of the opposite sex or of the same sex who, at any time in 2018:
            </p>
            <ul class="text-justify">
              <li>
                is living in a conjugal relationship with you and is the biological or adoptive parent (legally or in fact) of at least one of your children; or
              </li>
              <li>
                has been living in a conjugal relationship with you for at least 12 consecutive months (the 12-month period is considered to have been uninterrupted if you live apart because of the breakdown of your relationship for a period of less than 90 days).
              </li>
            </ul>
            <p>
              <strong>Spouse on December 31, 2018</strong>
            </p>
            <p>
              A person who is, as applicable:
            </p>
            <ul class="text-justify">
              <li>
                your spouse at the end of that day: <br>
                – if you were not living apart at that time because of a breakdown of your relationship, <br>
                – if you were living apart at that time because of a breakdown of your relationship that lasted less than 90 days;
              </li>
              <li>
                your spouse at the time of that person’s death in 2018 if you were not living apart at that time for more than 90 days because of the breakdown of your relationship and you did not have a new spouse on December 31, 2018.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 3</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Amount for dependants</strong>
        </div>
      </div>
      <p>
        <strong>Amount for a child under 18 enrolled in post-secondary studies</strong>
      </p>
      <p class="text-justify">
        If you expect to be supporting at least one <strong>child under 18 enrolled in post-secondary studies</strong> on December 31, 2018, complete Work Chart 1.
      </p>
      <p class="text-justify">
        If the child transfers the unused portion of his or her credits to his or her spouse, you cannot claim the amount for a child under 18 enrolled in post-secondary studies with respect to that child.
      </p>
      <div class="border-top border-bottom border-left border-right border-blue vspace box-wrapper">
        <p class="text-justify">
          <strong>Child under 18 enrolled in post-secondary studies</strong>
        </p>
        <p class="text-justify">
          A person born after December 31, 2000, who, in 2018, is a full-time student pursuing vocational training at the secondary level or post- secondary studies, and whom you are supporting. The person may be:
        </p>
        <ul class="text-justify">
          <li>
            your or your spouse’s child;
          </li>
          <li>
            a person of whom you or your spouse hasthecustody and supervision (legally or in fact);
          </li>
          <li>
            your child’s spouse;
          </li>
          <li>
            the spouse of your spouse’s child.
          </li>
        </ul>
      </div>
      <p>
        <strong>Amount for other dependants</strong>
      </p>
      <p class="text-justify">
        If you support at least one <strong>other dependant</strong> who is 18 or older in 2018, complete Work Chart 1.
      </p>
      <div class="border-top border-bottom border-left border-right border-blue vspace box-wrapper">
        <p>
          <strong>Other dependant</strong>
        </p>
        <p class="text-justify">
          A person who meets all three of the following conditions:
        </p>
        <ul class="text-justify">
          <li>
            The person is 18 or older in 2018.
          </li>
          <li>
            The person is related to you by blood, marriage or adoption.
          </li>
          <li>
            The person <strong>ordinarily lives with you</strong> and is supported by you.
          </li>
        </ul>
        <p class="text-justify">
          The person is not your spouse, is not a person who transfers the unused portion of his or her credits to his or her spouse and is not a child who is transferring an amount for a child 18 or over enrolled in post-secondary studies.
        </p>
      </div>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 5</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Amount for a severe and prolonged impairment in mental or physical functions</strong>
        </div>
      </div>
      <p class="text-justify">
        If, in 2018, you or your spouse is entitled to claim the amount for a severe and prolonged impairment in mental or physical functions, you can enter <strong>$3,334</strong> for each person with such an impairment, as certified by a health professional. For more information, refer to the <em>Certificate Respecting an Impairment</em> (form TP-752.0.14-V).
      </p>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 6</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Age amount, amount for a person living alone and amount for retirement income</strong>
        </div>
      </div>
      <p class="text-justify">
        The age amount, amount for a person living alone and amount for retirement income can be reduced on the basis of your estimated net family income. To calculate your estimated net family income, refer to lines 101 through 275 on your 2017 income tax return and, if applicable, on your spouse’s return.
      </p>
      <p class="text-justify">
        Note that you cannot claim this amount if your estimated net family income is more than $72,784 and you have a spouse on December 31, 2018, or if your estimated net family income is more than $52,309 and you do not have a spouse on December 31, 2018.
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>
        <strong>Age amount</strong> (line 70 of Work Chart 2)
      </p>
      <p class="text-justify">
        Enter <strong>$3,158</strong> for each person (you and your spouse) that is 65 or older in 2018.
      </p>
      <p class="text-justify">
        <strong>Amount for a person living alone</strong> (line 75 of Work Chart 2)
      </p>
      <p class="text-justify">
        If, <strong>throughout 2018</strong>, you expect to maintain and ordinarily live in a <strong>dwelling</strong> in which you live <strong>alone</strong> or <strong>only</strong> with one or more persons under 18, or one or more of your children 18 or older who are full-time students pursuing vocational training at the secondary level or post-secondary studies, enter <strong>$1,721</strong>.
      </p>
      <p class="text-justify">
        <strong>
          Additional amount for a person living alone (single-parent family) [line 76 of Work Chart 2]
        </strong>
      </p>
      <p class="text-justify">
        You can enter <strong>$2,124</strong> if you are entitled, for 2018, to the amount for a person living alone and:
      </p>
      <ul class="text-justify">
        <li>
          you live, <strong>at some time in 2018</strong>, with one or more of your children 18 or older who are full-time students pursuing vocational training at the secondary level or post-secondary studies; and
        </li>
        <li>
          you are not entitled to the child assistance payment for the month of December 2018.
        </li>
      </ul>
      <p class="text-justify">
        <strong>Amount for retirement income</strong> (line 80 of Work Chart 2)
      </p>
      <p class="text-justify">
        If you or your spouse receives retirement income that qualifies for a tax credit in 2018, enter the lesser of the following amounts:
      </p>
      <ul class="text-justify">
        <li>
          the amount that you, your spouse or both of you receive during the year, multiplied by 1.25%;
        </li>
        <li>
          $2,805 for you or your spouse, or $5,610 for both of you.
        </li>
      </ul>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 9</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Amount for workers 62 or older</strong>
        </div>
      </div>
      <p class="text-justify">
        You can claim the amount for workers 62 or older if you meet the following conditions:
      </p>
      <ul class="text-justify">
        <li>
          You expect to be resident in Qu&eacute;bec on December 31, 2018.
        </li>
        <li>
          You will be 62 or older on December 31, 2018.
        </li>
        <li>
          Your estimated eligible work income is more than $5,000.
        </li>
      </ul>
      <p>
        To calculate the amount, complete Work Chart 3.
      </p>
      <div class="border-top border-bottom border-left border-right border-blue vspace box-wrapper">
        <p>
          <strong>Eligible work income</strong>
        </p>
        <p class="text-justify">
          Employment income, net business income, the net amount of research grants, Wage Earner Protection Program payments and amounts received under a work-incentive project. The following types of income are excluded:
        </p>
        <ul class="text-justify">
          <li>
            employment income that consists solely of taxable benefits relating to previous employment;
          </li>
          <li>
            employment income from an employer with whom you are not dealing at arm’s length, or from an employer that is a partnership in which you and one of the members are not dealing at arm’s length with each other;
          </li>
          <li>
            amounts deducted in the calculation of your taxable income (for example, theamountsdeductedonlines 293 and 297 of the income tax return).
          </li>
        </ul>
      </div>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 10</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Deduction code</strong>
        </div>
      </div>
      <div class="row vspace text-center">
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 border-top col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>
              Code
            </strong>
          </div>
          <div class="col-lg-6 col-md-7 border-top col-sm-8 col-xs-8 border-bottom border-right bg-gray">
            <strong>
              Amount ($)
            </strong>
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>O</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            Nil
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>A</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            1 – 15,012
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>B</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            15,013 – 17,000
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>C</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            17,001 – 20,000
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>D</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            20,001 – 24,000
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>E</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            24,001 – 25,000
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>F</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            25,001 – 26,000
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>G</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            26,001 – 27,000
          </div>
        </div>
      </div>

      <div class="row vspace text-center">
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 border-top col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>
              Code
            </strong>
          </div>
          <div class="col-lg-6 col-md-7 border-top col-sm-8 col-xs-8 border-bottom border-right bg-gray">
            <strong>
              Amount ($)
            </strong>
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>H</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            27,001 – 30,000
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>I</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            30,001 – 32,000
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>J</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            32,001 – 36,000
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>K</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            36,001 – 39,000
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>L</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            39,001 – 40,000
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>M</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            40,001 – 43,000
          </div>
        </div>
        <div class="clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 border-right border-bottom border-left bg-gray">
            <strong>N</strong>
          </div>
          <div class="col-lg-6 col-md-7 col-sm-8 col-xs-8 border-bottom border-right">
            43,001 – 44,000
          </div>
        </div>
      </div>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 11</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Additional income tax to be withheld</strong>
        </div>
      </div>
      <p class="text-justify">
        You can request that an additional amount of income tax be withheld to avoid owing an amount when you file your income tax return. Before you determine how much additional income tax should be withheld, you must estimate the amount that you will owe for the year. To do this, you can do one of the following:
      </p>
      <ul class="text-justify">
        <li>
          base your estimate on the amount you owed when you filed last year’s income tax return;
        </li>
        <li>
          use form TP-1026-V, <em>Calculation of Instalment Payments to Be Made by Individuals</em>;
        </li>
        <li>
          use the additional contribution calculator for subsidized childcare, which is available on the Minist&egrave;re des Finances website.
        </li>
      </ul>
      <p class="text-justify">
        Once you have estimated the amount you will owe, divide the amount by the number of pay periods left in the year. Note that if you use the calculator to determine the additional contribution for subsidized childcare, you do not have to divide the amount.
      </p>
      <p class="text-justify">
        If you would like to change or cancel the amount of additional income tax being withheld, you must complete a new copy of this form and give it to your employer or payer.
      </p>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 14</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Housing deduction for residents of designated remote areas</strong>
        </div>
      </div>
      <p class="text-justify">
        If you expect to live in a prescribed <strong>northern zone</strong> or a prescribed <strong>inter-mediate zone</strong> for a period of at least <strong>six consecutive months</strong> beginning or ending in 2018, you can enter the lesser of the following amounts:
      </p>
      <ul class="text-justify">
        <li>
          20% of your estimated net income for 2018;
        </li>
        <li>
          100% (50% for an intermediate zone) of one of the following amounts: <br>
          – $22 multiplied by the number of days in 2018 you expect to live in such a zone, if no other person living in the same dwelling claims this deduction, or <br>
          – $11 multiplied by the number of days in 2018 you expect to live in such a zone, in all other cases.
        </li>
      </ul>
      <p class="text-justify">
        For more information, consult the guide <em>Deduction for Residents of Designated Remote Areas</em> (TP-350.1.G-V).
      </p>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 15</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Deductible support payments</strong>
        </div>
      </div>
      <p class="text-justify">
        If, in 2018, you expect to make support payments to your spouse or former spouse, to the mother or father of your child, or to a third party for the benefit of your child or one of the aforementioned persons, you can enter the amount of support on line 15, provided, as a rule, you meet the following conditions:
      </p>
      <ul class="text-justify">
        <li>
          The support is paid as a periodic allowance further to an order or a written agreementforthemaintenanceoftherecipient, themaintenance of one of his or her children, or the maintenance of the recipient and the child, and you are living apart from the recipient at the time the payments are made.
        </li>
        <li>
          The support payments are not subject to the measures concerning the tax treatment of support payments.
        </li>
      </ul>
      <p class="text-justify">
        For further information, refer to the brochure <em>The Tax Effects of Separation and Divorce</em> (IN-128-V).
      </p>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Box 20</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Exemption from source deductions of income tax</strong>
        </div>
      </div>
      <p class="text-justify">
        You can ask your employer to not withhold income tax from your employment income if you expect the total of your income from all sources to be less than the result of the following calculation: the amount on line 10, <strong>plus</strong> the amount on line 19. Note that this exemption cannot be requested for remuneration that is not employment income. This request is valid only for 2018.
      </p>
    </div>
  </div>
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>