<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement --> 
<!--<div class="modal" id="modal" style="display:none;"> 
              <div class="modal-content"> 
                             <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten signature.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp; 
                             </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;"> 
                                                         <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature','eSignature1','fname,lname','over','modal','sv','DateSigned');xbObj('eSignature1').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','DateSigned');}">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';"> 
                                           </div> 
                             </div> 
              </div> 
</div> 
<div id="over" style="display:none;"></div> 
<SCRIPT> 
    showScreen('over');
</SCRIPT> -->
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!-- RESPONSIVE eFORM PAGE LOADER--> 
<div class="modal" style="display:block; background: #002E6D;"> 
              <div class="fb-spinner"> 
                             <i class="fa fa-2x fa-spinner fa-pulse"></i> 
              </div> 
</div> 
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<form name="frmForm" action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);" role="form"> 
    <div style="display:none;"> 
        <$client.env.FormField.Form_Name.prompt> 
        <$client.env.FormField.Form_Name.HTML> 
        <$client.env.FormField.Form_Type.prompt> 
        <$client.env.FormField.Form_Type.HTML> 
        <$client.env.FormField.Form_Owner.prompt> 
        <$client.env.FormField.Form_Owner.HTML> 
        <$client.env.FormField.Form_CreateDate.prompt> 
        <$client.env.FormField.Form_CreateDate.HTML> 
        <$client.env.FormField.Form_Completed.prompt> 
        <$client.env.FormField.Form_Completed.HTML> 
        <$client.env.FormField.Form_Delivered.prompt> 
        <$client.env.FormField.Form_Delivered.HTML> 
        <$client.env.FormField.Form_TaskId.prompt> 
        <$client.env.FormField.Form_TaskId.HTML> 
        <$client.env.FormField.display_version.HTML> 
        <!-- Replace With eForm Specific Data Field Prompts From Formalizer--> 
<$client.env.FormField.Code.prompt>
<$client.env.FormField.DateOfBirth.prompt>
<$client.env.FormField.DateSigned.prompt>
<$client.env.FormField.EmployeeNumber.prompt>
<$client.env.FormField.Exempt.prompt>
<$client.env.FormField.FirstName.prompt>
<$client.env.FormField.LastName.prompt>
<$client.env.FormField.Line1.prompt>
<$client.env.FormField.Line10.prompt>
<$client.env.FormField.Line11.prompt>
<$client.env.FormField.Line110.prompt>
<$client.env.FormField.Line112.prompt>
<$client.env.FormField.Line115a.prompt>
<$client.env.FormField.Line115b.prompt>
<$client.env.FormField.Line14.prompt>
<$client.env.FormField.Line15.prompt>
<$client.env.FormField.Line19.prompt>
<$client.env.FormField.Line1a.prompt>
<$client.env.FormField.Line1b.prompt>
<$client.env.FormField.Line2.prompt>
<$client.env.FormField.Line3.prompt>
<$client.env.FormField.Line40a.prompt>
<$client.env.FormField.Line40b.prompt>
<$client.env.FormField.Line45a.prompt>
<$client.env.FormField.Line45b.prompt>
<$client.env.FormField.Line45c.prompt>
<$client.env.FormField.Line45d.prompt>
<$client.env.FormField.Line5.prompt>
<$client.env.FormField.Line50a.prompt>
<$client.env.FormField.Line50b.prompt>
<$client.env.FormField.Line50c.prompt>
<$client.env.FormField.Line50d.prompt>
<$client.env.FormField.Line52.prompt>
<$client.env.FormField.Line55.prompt>
<$client.env.FormField.Line6.prompt>
<$client.env.FormField.Line60.prompt>
<$client.env.FormField.Line7.prompt>
<$client.env.FormField.Line70.prompt>
<$client.env.FormField.Line75.prompt>
<$client.env.FormField.Line76.prompt>
<$client.env.FormField.Line77.prompt>
<$client.env.FormField.Line78a.prompt>
<$client.env.FormField.Line78b.prompt>
<$client.env.FormField.Line79a.prompt>
<$client.env.FormField.Line79b.prompt>
<$client.env.FormField.Line80.prompt>
<$client.env.FormField.Line85.prompt>
<$client.env.FormField.Line9.prompt>
<$client.env.FormField.Line90.prompt>
<$client.env.FormField.Line92.prompt>
<$client.env.FormField.Line95a.prompt>
<$client.env.FormField.Line95b.prompt>
<$client.env.FormField.Line96.prompt>
<$client.env.FormField.Line97.prompt>
<$client.env.FormField.Line98.prompt>
<$client.env.FormField.SIN.prompt>
<$client.env.FormField.signature.prompt>


    </div> 
    <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>"> 
<main class="container-fluid">
  <header class="row">
    <div class="col-lg-2 col-md-3 col-sm-2 col-xs-6">
      <img src="<$link;/main/RedCarpet/FormTemplates/Quebec_Source_Deductions_Return/assets/img/quebec-logo.jpg>" alt="" class="img-responsive">
    </div>
    <div class="col-lg-10 col-md-9 col-sm-10 col-xs-6 text-right">
      TP-1015.3-V (2021-01)
    </div>
  </header>
  <div class="header-title-container vspace">
    <div class="header-title">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
          <h3 class="text-blue">
            Source <br>
            Deductions Return
          </h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h1 class="text-blue text-lg">
            <strong>
              2021
            </strong>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>
        Complete this form and give it to your employer or payer so that they can determine the income tax to withhold from the amounts they pay you. Be sure to read the instructions before you start.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">1 Information about the employee or beneficiary</strong>
        <small>(please print)</small>
      </h4>
    </div>
  </div>

  <div class="row border-top border-left border-right border-bottom bg-default">
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 border-bottom">
      <small>Last Name</small><br>
      <$client.env.FormField.LastName.HTML>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 border-bottom">
      <small>First Name</small><br>
      <$client.env.FormField.FirstName.HTML>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
      Employee or beneficiary number
      <$client.env.FormField.EmployeeNumber.HTML>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <small>Date of birth</small>
      <$client.env.FormField.DateOfBirth.HTML>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <small>Social insurance number</small>
      <$client.env.FormField.SIN.HTML>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">2 Personal tax credits</strong>
      </h4>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom">
      <strong>Basic personal amount.</strong> Enter $15,728. If you have more than one employer and have already claimed this amount,
go to line 10 and enter 0.
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      &nbsp;
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          1
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line1.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong>Amount transferred from one spouse to the other</strong>
      </h4>
    </div>
  </div>
  <div class="row indent-1">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom row-min-35">
        Maximum amount respecting a spouse
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 clearfix">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg-blue-light border-left border-right border-bottom border-top row-min-35">
          1a
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 bg-default border-left border-top border-bottom text-center row-min-35">
          <h5>
            <strong>$15,728</strong>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row indent-1">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom row-min-35">
        Your spouse's estimated taxable income for 2021
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 clearfix">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          -
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg-blue-light border-left border-right border-bottom border-top row-min-35">
          1b
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 bg-default border-left border-top border-bottom text-center">
          <$client.env.FormField.Line1a.HTML>
        </div>
      </div>
    </div>
  </div>
  <div class="row indent-1">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border-bottom row-min-35">
        Subtract line 1b from line 1a. If the result is negative, enter 0.
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 clearfix">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          =
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7 bg-default border-left border-top border-bottom text-center">
          <$client.env.FormField.Line1b.HTML>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="<$link;/main/RedCarpet/FormTemplates/Quebec_Source_Deductions_Return/assets/img/plus_arrow.jpg>" alt="" style="width: 15px; height: auto;">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
         2
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line2.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
      <strong>Amount for dependants</strong>
      (Work Chart 1)
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        +
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          3
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line3.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
      <strong>Amount for a severe and prolonged impairment in mental or physical functions</strong>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        +
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          5
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line5.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
      <strong>Age amount, amount for a person living alone and amount for retirement income</strong> (Work Chart 2)
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        +
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          6
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line6.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
      Add lines 1 through 6.
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        =
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          7
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line7.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
      <strong>Amount for career extension</strong> (Work Chart 3)
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        +
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          9
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line9.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 border-bottom row-min-35">
      Add lines 7 and 9.
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom row-min-35 hidden-md hidden-lg">
      <strong>Personal tax credits</strong>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-bottom row-min-35 text-right hidden-sm hidden-xs">
      <strong>Personal tax credits</strong>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        =
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          10
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line10.HTML>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">3 Additional income tax to be withheld</strong>
      </h4>
    </div>
  </div>

  <div class="row border-bottom">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      Enter the additional amount that you would like withheld from each paycheque.
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
      <strong>Additional income tax to be withheld</strong>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        &nbsp;
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          11
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line11.HTML>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">4 Deductions</strong>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      Enter the deductions that your employer or payer must take into account to calculate your source deductions.
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
      Housing deduction for residents of designated remote areas
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        &nbsp;
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          14
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line14.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
      Deductible support payments
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        +
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          15
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line15.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      Add lines 14 and 15.
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 row-min-35">
      (Note that your employer or payer will distribute the amount evenly among the pay periods remaining in the year.)
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 row-min-35">
      <strong>Deductions</strong>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        =
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          19
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line19.HTML>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">5 Exemption</strong>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
      Check box 20 to request an exemption from source deductions of income tax with respect to your employment income for 2021.
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          20
        </div>
      </div>
      <div class="inline-block">
        <$client.env.FormField.Exempt.HTML>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">6 Signature</strong>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      I certify that the information provided in this return is accurate and complete.
    </div>
  </div>
  <div class="row form-horizontal">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 lifesuite__clearfix text DT">
                        <$client.env.FormField.signer.HTML>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 lifesuite__clearfix text">
                        <!-- <b>It is a serious offence to make a false return.</b> -->
                    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">Work Chart 1</strong>
        <strong>– Amount for dependants</strong>
        <small>
          (see the instructions for line 3)
        </small>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      If you are claiming an amount for more than two children under 18 enrolled in post-secondary studies or more than two other dependants, attach another sheet containing the requested information and enter the result of your calculations on line 52.
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block valign-bottom">
      <div class="text-bottom border-bottom">
        Amount for children under 18 enrolled in post-secondary studies. Enter <Strong>$3,021</Strong> per completed term that was started in 2021 (<strong>maximum: two terms per child</strong>).
      </div>
    </div><!--
    --><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block">
      <div class="row">
        <div class="col-lg-12 text-center">
          <strong>Children under 18</strong>
        </div>
        <div class="col-lg-12 text-center">
          on December 31, 2021
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          &nbsp;
        </div>
        <div class="col-lg-5 bordered text-cente border-top">
          1st child
        </div>
        <div class="col-lg-5 bordered topN text-center border-top borderedLG-rignt">
          2nd child
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 text-right">
          <div class="bordered borderedLG-rl number-box text-center inline-block">
            40
          </div>
          &nbsp;
        </div>
        <div class="col-lg-5 bordered topY text-center row-min-75">
          <$client.env.FormField.Line40a.HTML>
        </div>
        <div class="col-lg-5 bordered borderedLG-rignt text-center row-min-75">
          <$client.env.FormField.Line40b.HTML>
        </div>
      </div>
    </div><!--
    --><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block">
      <div class="row">
        <div class="col-lg-12 text-center">
          <strong>Other dependants</strong>
        </div>
        <div class="col-lg-12 text-center">
          (18 or older)
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 border-top bordered text-center">
          1st person
        </div>
        <div class="col-lg-6 border-top topN bordered borderedLG-rignt text-center">
          2nd person
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 bordered topY bottomN text-center row-min-75 tpnone">
          <h3>
          $4,403
          </h3>
        </div>
        <div class="col-lg-6 bordered topY borderedLG-rignt text-center row-min-75">
          <h3>
          $4,403
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block valign-top">
      <div class="text-bottom border-bottom">
        Estimated net income<sup>1</sup> of the child or dependant for 2021
      </div>
    </div><!--
    --><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block valign-top">
      <div class="row">
        <div class="col-lg-2 text-right">
          -
          <div class="number-box bordered border-top borderedLG-rl text-center inline-block">
            45
          </div>
          &nbsp;
        </div>
        <div class="col-lg-5 bordered border-top text-center">
          <$client.env.FormField.Line45a.HTML>
        </div>
        <div class="col-lg-5 bordered border-top topN borderedLG-rignt text-center">
          <$client.env.FormField.Line45b.HTML>
        </div>
      </div>
    </div><!--
    --><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block">
      <div class="row">
        <div class="col-lg-6 bordered border-top topN text-center">
          <$client.env.FormField.Line45c.HTML>
        </div>
        <div class="col-lg-6 bordered border-top topN borderedLG-rignt text-center">
          <$client.env.FormField.Line45d.HTML>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block valign-top">
      <div class="text-bottom">
        Subtract line 45 from line 40. <br>
        If the result is negative, enter 0.
      </div>
    </div><!--
    --><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block valign-top">
      <div class="row">
        <div class="col-lg-2 text-right">
          =
          <div class="number-box bordered border-top borderedLG-rl text-center inline-block">
            50
          </div>
          &nbsp;
        </div>
        <div class="col-lg-5 bordered border-top text-center">
          <$client.env.FormField.Line50a.HTML>
        </div>
        <div class="col-lg-5 bordered border-top topN borderedLG-rignt text-center">
          <$client.env.FormField.Line50b.HTML>
        </div>
      </div>
    </div><!--
    --><div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 inline-block">
      <div class="row">
        <div class="col-lg-6 bordered border-top topN text-center">
          <$client.env.FormField.Line50c.HTML>
        </div>
        <div class="col-lg-6 bordered border-top topN borderedLG-rignt text-center">
          <$client.env.FormField.Line50d.HTML>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35">
      Add the amounts on line 50.
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        &nbsp;
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          52
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line52.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      If any dependant for whom you are claiming an amount is turning 18 in 2021, enter the result of the following
calculation: <strong>$367</strong> × number of months in the year up to and including the month of the dependant’s birthday. Otherwise, enter 0.
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        -
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          55
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line55.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      <div class="col-lg-12">
        Subtract line 55 from line 52.
      </div>
      <div class="col-lg-9">
        If the result is negative, enter 0. Carry the result to line 3.
      </div>
      <div class="col-lg-3">
        <strong>Amount for dependants</strong>
      </div>
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        =
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          60
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line60.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      1. Do not take into account the amount of the deduction for residents of designated remote areas or any scholarships, bursaries or similar financial assistance.
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">Work Chart 2</strong>
        <strong>– Age amount, amount for a person living alone and amount for retirement income</strong>
        <small>
          (see the instructions for line 6)
        </small>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <strong>Age amount</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      Enter $3,308 for each person (you and your spouse) who will be 65 or older in 2021.
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        &nbsp;
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          70
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line70.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      <strong>Amount for a person living alone</strong>
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-min-35 inline-block valign-bottom">
      &nbsp;
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        &nbsp;
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          75
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line75.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      Additional amount for a person living alone (single-parent family)
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        &nbsp;
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          76
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line76.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      <strong>$185</strong> × number of months in 2021 in which you are entitled to the family allowance
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        -
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          77
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line77.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      Subtract line 77 from line 76.
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        =
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line78a.HTML>
      </div>
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="<$link;/main/RedCarpet/FormTemplates/Quebec_Source_Deductions_Return/assets/img/plus_arrow.jpg>" style="width: 15px; height: auto;" />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          78
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line78b.HTML>
      </div>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      Add lines 75 and 78.
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        =
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line79a.HTML>
      </div>
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="<$link;/main/RedCarpet/FormTemplates/Quebec_Source_Deductions_Return/assets/img/plus_arrow.jpg>" style="width: 15px; height: auto;" />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          79
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line79b.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      <strong>Amount for retirement income</strong> (maximum: $2,939)
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        +
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          80
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line80.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      <strong>Amount for your spouse’s retirement income on December 31, 2021</strong> (maximum: $2,939)
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        +
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          81
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line81.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      Add lines 70, and 79 to 81.
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        =
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          85
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line85.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <strong>Estimated net family income</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      Add your estimated net income and that of your spouse on December 31, 2021.
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        &nbsp;
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          90
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line90.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      Subtract line 91 from line 90. If the result is negative, enter 0.
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          -
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            91
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom text-center">
          <h5>
            <strong>$35,650</strong>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            92
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line92.HTML>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      Multiply line 92 by <Strong>18.75%.</Strong>
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          x
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            93
          </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom text-center">
          <h5>
            <strong>18.75%</strong>
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          =
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line95a.HTML>
        </div>
      </div>
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <img src="<$link;/main/RedCarpet/FormTemplates/Quebec_Source_Deductions_Return/assets/img/minus_arrow.jpg>" alt="" style="width: 15px; height: auto;">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          95
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line95b.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      Subtract line 95 from line 85. If the result is negative, enter 0.
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        =
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          96
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line96.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      Amount from line 6 of your spouse’s TP-1015.3-V form
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        -
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          97
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line97.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      Subtract line 97 from line 96. Carry the result to line 6.
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
      <strong>
        Age amount, amount for a person living alone and amount for retirement income
      </strong>
    </div><!--
    --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        =
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
          98
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom">
        <$client.env.FormField.Line98.HTML>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>
        <strong class="text-blue">Work Chart 3 - </strong>
        <strong> Amount for career extension</strong>
        <small>
          (see the instructions for line 9)
        </small>
      </h4>
    </div>
  </div>
  <div class="vspace">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Estimated eligible work income
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            110
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line110.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
       Portion of the income on line 110 that you expect to earn before turning 60 <strong>or</strong> that is related to a previous year (retroactive amount)
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          -
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            111
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 111 from line 110. If you were born in 1956, go to line 118. Otherwise, continue the calculation.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            112
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom">
          <$client.env.FormField.Line112.HTML>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 114 from line 112 (<strong>maximum: $11,000 </strong>if you were born before January 1, 1956, or <Strong>$10,000</Strong> if you were born after 1956 but before 1962). Carry the result to line 135 and follow the instructions for that line.
        
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            -
          </div>
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              114
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            <h5 class="text-center">
              <strong>$5,000</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            =
          </div>
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              115
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom">
            <$client.env.FormField.Line115b.HTML>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <strong>
          Complete lines 118 through 130 only if you were born in 1956.
        </strong>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount from line 112
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            118
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Portion of the income on line 112 that you expect to earn before your 65th birthday
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          -
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            119
          </div>
        </div>
        <div class="col-lg-8 col-md-3 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 119 from line 118.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            120
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount from line 119
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            &nbsp;
          </div>
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              121
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            <h5 class="text-center">
              <strong>$5,000</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            -
          </div>
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              122
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 122 from line 121. If the result is negative, enter 0.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            =
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            &nbsp;
          </div>
        </div>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <img src="<$link;/main/RedCarpet/FormTemplates/Quebec_Source_Deductions_Return/assets/img/minus_arrow.jpg>" alt="" style="width: 15px; height: auto;">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              125
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 125 from line 120.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            126
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount from line 119
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            127
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 128 from line 127 (<strong>maximum: $10,000</strong>). If the result is negative, enter 0.
        
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block valign-bottom">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            -
          </div>
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              128
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            <h5 class="text-center">
              <strong>$5,000</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            &nbsp;
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-75">
            &nbsp;
          </div>
        </div>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block valign-bottom">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <img src="<$link;/main/RedCarpet/FormTemplates/Quebec_Source_Deductions_Return/assets/img/plus_arrow.jpg>" alt="" style="width: 15px; height: auto;">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            129
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Add lines 126 and 129 (<strong>maximum: $11,000</strong>).
        
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            130
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount from line 115 or line 130, as applicable. If you were born before January 1, 1951, and the amount on line 135 does not exceed $4,000, carry it to line 9. Otherwise, continue the calculation.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            135
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Amount from line 110
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          &nbsp;
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            140
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Subtract line 141 from line 140. If the result is negative, enter 0.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block valign-bottom">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            -
          </div>
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              141
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            <h5 class="text-center">
              <strong>$35,650</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            =
          </div>
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
            <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
              142
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom">
        Multiply line 142 by 33.33%.
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block valign-bottom">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            x
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            <h5 class="text-center">
              <strong>33.33%</strong>
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            =
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
            &nbsp;
          </div>
        </div>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block valign-bottom">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <img src="<$link;/main/RedCarpet/FormTemplates/Quebec_Source_Deductions_Return/assets/img/minus_arrow.jpg>" alt="" style="width: 15px; height: auto;">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            144
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        Subtract line 144 from line 135. If the result is negative, enter 0. Carry the result to line 9, <strong>unless</strong> you were born before January 1, 1951, in which case you must either carry the amount from line 145 or enter $4,000, <strong>whichever is greater</strong>.
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-bottom row-min-35 inline-block valign-bottom text-right">
        <strong>Amount for career extension</strong>
      </div><!--
      --><div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 inline-block">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
          =
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
          <div class="number-box bg-blue-light border-left border-right border-bottom border-top text-center">
            145
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9 bg-default border-bottom row-min-35">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12 text-center">
      <h3 class="text-blue">Instructions</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 box-wrapper">
      <p>
        <strong>Are you required to complete this form?</strong>
      </p>
      <p class="text-justify">
        Complete this form and give it to your employer or payer so that they can determine the income tax to withhold from the salaries, wages, commissions, pension income, parental insurance benefits, Employment Insurance benefits, wage loss replacement benefits or any other remuneration they pay you. If you do not complete this form, your employer or payer will only take into account the basic personal amount to determine the income tax to be withheld. The deduction code will remain in effect until you give your employer or payer a new duly completed copy of this form.
      </p>
      <p class="text-justify">
        You are not required to complete this form each year to benefit from the annual indexation of the income tax system.
      </p>
      <p class="text-justify">
        The personal tax credits and deductions that appear on this form may be subject to a limit if you are not resident in Canada or if you become a non-resident during the year. In such cases, contact us.
      </p>
      <p>
        This form is available on our website at <strong><a href="http://revenuquebec.ca" target="_blank">revenuquebec.ca</a></strong>.
      </p>
      <p>
        <strong>
          Filing deadline
        </strong>
      </p>
      <p>
        You must give this form, duly completed, to your employer or payer:
      </p>
      <ul class="text-justify">
        <li>
          on the day you take up employment, if it is an employer who pays the remuneration;
        </li>
        <li>
          before a payer (other than an employer) pays you remuneration for the first time;
        </li>
        <li>
          within 15 days after an event that results in a reduction of the amounts entered on the previously completed copy of form TP-1015.3-V.
        </li>
      </ul>
      <p>
        You can also give a duly completed copy of this form to your employer or payer at any time to:
      </p>
      <ul class="text-justify">
        <li>
          have your employer or payer take into account any tax credits and deductions to which you are entitled when calculating the amount of income tax to withhold;
        </li>
        <li>
          have an additional amount of income tax withheld; or
        </li>
        <li>
          apply for an exemption from source deductions of Qu&eacute;bec income tax from your employment income.
        </li>
      </ul>
      <p>
        <strong>Reduction in source deductions of income tax</strong>
      </p>
      <p class="text-justify">
        If you are entitled to tax credits and deductions that do not appear on this form, complete the <em>Application for a Reduction in Source Deductions of Income Tax </em>(form TP-1016-V) so that we can authorize your employer or payer to reduce the income tax that is withheld.
      </p>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 1</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Basic personal amount</strong>
        </div>
      </div>
      <p class="text-justify">
        If you are filing this form with a second employer or payer, enter “0” on line 10 so that the basic personal amount is not taken into account twice. However, if you no longer work for the employer or no longer receive amounts from the payer with whom you claimed this amount, file a new copy of this form with your current employer or payer.
      </p>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 2</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Amount transferred from one spouse to the other</strong>
        </div>
      </div>
      <p class="text-justify">
        If you expect to have a <Strong>spouse on December 31, 2021,</Strong> you can claim the amount transferred from one spouse to the other. However, you cannot claim the amount if your spouse receives indemnities further to an industrial accident, a precautionary cessation of work, a traffic accident or an act of good citizenship, or because he or she was the victim of a crime.
      </p>
      <p class="text-justify">
        To calculate your spouse’s estimated taxable income, refer to lines 101 through 299 of their income tax return for 2020. To claim the amount transferred from one spouse to the other, you and your spouse must each file an income tax return for 2021.
      </p>
      <div class="bg-yellow vspace box-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <p>
              <strong>Spouse</strong>
            </p>
            <p class="text-justify">
              The person to whom you are married, with whom you are living in a civil union or who is your de facto spouse.
            </p>
            <p>
              <strong>De facto spouse</strong>
            </p>
            <p class="text-justify">
              A person of the opposite sex or of the same sex who, at any time in 2021:
            </p>
            <ul class="text-justify">
              <li>
                is living in a conjugal relationship with you and is the biological
or adoptive parent (legally or in fact) of at least one of your
children; or
              </li>
              <li>
                has been living in a conjugal relationship with you for at least 12
consecutive months (the 12-month period is considered to have
been uninterrupted if you live apart because of the breakdown of
your relationship for a period of less than 90 days).
              </li>
            </ul>
            <p>
              <strong>Spouse on December 31, 2021</strong>
            </p>
            <p>
              The person who:
            </p>
            <ul class="text-justify">
              <li>
                who was your spouse at the end of that day and from whom you
were not living separate and apart at that time because of the
breakdown of your relationship. If, on December 31, 2021, you and
your spouse were separated because of the breakdown of your
relationship and your separation lasted fewer than 90 days, you
are considered to have had a spouse on December 31, 2021; or
              </li>
              <li>
                who was your spouse at the time of his or her death in 2021,
provided you and your spouse had not been living separate and
apart for 90 days or more at that time because of the breakdown
of your relationship and you did not have a new spouse on
December 31, 2021.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 3</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Amount for dependants</strong>
        </div>
      </div>
      <p>
        <strong>Amount for a child under 18 enrolled in post-secondary studies</strong>
      </p>
      <p class="text-justify">
        If you expect to be supporting at least one <Strong>child under 18 enrolled in
post-secondary studies</Strong> on December 31, 2021, complete Work Chart 1.
      </p>
      <p class="text-justify">
        If the child transfers the unused portion of his or her credits to his or her
spouse, you cannot claim the amount for a child under 18 enrolled in
post-secondary studies with respect to that child.
      </p>
      <div class="bg-yellow vspace box-wrapper">
        <p class="text-justify">
          <strong>Child under 18 enrolled in post-secondary studies</strong>
        </p>
        <p class="text-justify">
          A person born after December 31, 2003, who, in 2021, is a full-time
student pursuing vocational training at the secondary level or post-secondary
studies, and whom you are supporting. The person may be:
        </p>
        <ul class="text-justify">
          <li>
            your or your spouse’s child;
          </li>
          <li>
            a person of whom you or your spouse has the custody and supervision (legally or in fact);
          </li>
          <li>
            your child’s spouse;
          </li>
          <li>
            the spouse of your spouse’s child.
          </li>
        </ul>
      </div>
      <p>
        <strong>Amount for other dependants</strong>
      </p>
      <p class="text-justify">
        If you expect to be supporting at least one other dependant who is 18 or
older in 2021, complete Work Chart 1.
      </p>
      <div class="bg-yellow vspace box-wrapper">
        <p>
          <strong>Other dependant</strong>
        </p>
        <p class="text-justify">
          A person who meets <Strong>all three</Strong> of the following conditions:
        </p>
        <ul class="text-justify">
          <li>
            The person is 18 or older in 2021.
          </li>
          <li>
            The person is related to you by blood, marriage or adoption.
          </li>
          <li>
            The person <strong>ordinarily lives with you</strong> and is supported by you.
          </li>
        </ul>
        <p class="text-justify">
          The person is not your spouse, is not a person who transfers the
unused portion of his or her credits to his or her spouse and is not
a child who is transferring an amount for a child 18 or over enrolled
in post-secondary studies.
        </p>
      </div>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 5</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Amount for a severe and prolonged impairment
in mental or physical functions</strong>
        </div>
      </div>
      <p class="text-justify">
       If, in 2021, you or your spouse is entitled to claim the amount for a severe
and prolonged impairment in mental or physical functions, you can enter
<Strong>$3,492</Strong> for each person with such an impairment, as certified by a health
professional. For more information, refer to the <em>Certificate Respecting an
Impairment</em> (form TP-752.0.14-V).
      </p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 box-wrapper">
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 6</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Age amount, amount for a person living alone
and amount for retirement income</strong>
        </div>
      </div>
      <p class="text-justify">
        The age amount, amount for a person living alone and amount for retirement
income can be reduced on the basis of your estimated net family income.
To calculate your estimated net family income, refer to lines 101 through 275
on your income tax return and, if applicable, on your spouse’s return.
      </p>
      <p class="text-justify">
        Note that you cannot claim this amount if your estimated net family income
is more than $76,245 and you have a spouse on December 31, 2021, or
if your estimated net family income is more than $54,794 and you do not
have a spouse on December 31, 2021.
      </p>

      <p>
        <strong>Amount for a person living alone<br>
(line 75 of Work Chart 2)</strong>
      </p>
      <p class="text-justify">
        If, <strong>throughout 2021</strong>, you expect to maintain and ordinarily live in a <Strong>dwelling</Strong>
in which you live alone or only with one or more people under 18, or one
or more of your children, grandchildren or great-grandchildren 18 or over
who are full-time students pursuing vocational training at the secondary level
or post-secondary studies, enter <Strong>$1,802</Strong>.
      </p>
      <p class="text-justify">
        <strong>
          Additional amount for a person living alone
        </strong>
        (single-parent family) [line 76 of Work Chart 2]
      </p>
      <p class="text-justify">
        You can enter <Strong>$2,225</Strong> if you are entitled to the amount for a person living
alone for 2021 and
      </p>
      <ul class="text-justify">
        <li>
          you live, <strong>at some time in 2021,</strong> with one or more of your children 18
or older who are full-time students pursuing vocational training at the
secondary level or post-secondary studies; and
        </li>
        <li>
          you are not entitled to the family allowance for the month
of December 2021.
        </li>
      </ul>
      <p class="text-justify">
        <strong>Amount for retirement income</strong>
        <br>(line 80 of Work Chart 2)
      </p>
      <p class="text-justify">
        Enter the lesser of the following amounts:
      </p>
      <ul class="text-justify">
        <li>
          the amount of income you expect to receive in 2021 that qualifies for
the retirement income amount, multiplied by 1.25;
        </li>
        <li>
          $2,939.
        </li>
      </ul>
      <p class="text-justify">
        <strong>Amount for your spouse’s retirement income on December 31, 2021</strong>
        <br>(line 81 of Work Chart 2)
      </p>
      <p class="text-justify">
        Enter the lesser of the following amounts:
      </p>
      <ul class="text-justify">
        <li>
          the amount of income your spouse on December 31, 2021, expects
to receive in 2021 that qualifies for the retirement income amount,
multiplied by 1.25;
        </li>
        <li>
          $2,939.
        </li>
      </ul>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 9</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Amount for career extension</strong>
        </div>
      </div>
      <p class="text-justify">
        You can claim the amount for career extension if you meet the
following conditions:
      </p>
      <ul class="text-justify">
        <li>
          You expect to be resident in Qu&eacute;bec on December 31, 2021.
        </li>
        <li>
          You will be 60 or older on December 31, 2021.
        </li>
        <li>
          Your estimated eligible work income is more than $5,000.
        </li>
      </ul>
      <p>
        To calculate the amount, complete Work Chart 3.
      </p>
      <div class="bg-yellow vspace box-wrapper">
        <p>
          <strong>Eligible work income</strong>
        </p>
        <p class="text-justify">
          Employment income, net business income, the net amount of research
grants, Wage Earner Protection Program payments and amounts
received under a work-incentive project. The following types of
income are excluded:
        </p>
        <ul class="text-justify">
          <li>
            employment income that consists solely of taxable benefits
relating to previous employment;
          </li>
          <li>
            employment income from an employer with whom you are not
dealing at arm’s length, or from an employer that is a partnership
in which you and one of the members are not dealing at arm’s
length with each other;
          </li>
          <li>
            amounts deducted in the calculation of your taxable income
(for example, the amounts deducted on lines 293 and 297 of the
income tax return).
          </li>
        </ul>
      </div>

      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 11</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Additional income tax to be withheld</strong>
        </div>
      </div>
      <p class="text-justify">
        You can request that an additional amount of income tax be withheld to
avoid owing an amount when you file your income tax return. Before you
determine how much additional income tax should be withheld, you must
estimate the amount that you will owe for the year. To do this, you can:
      </p>
      <ul class="text-justify">
        <li>
          base your estimate on the amount you owed when you filed last year’s income tax return; or
        </li>
        <li>
          use form TP-1026-V, <em>Calculation of Instalment Payments to Be Made by Individuals</em>;
        </li>
        <!-- <li>
          use the additional contribution calculator for subsidized childcare, which is available on the Minist&egrave;re des Finances website.
        </li> -->
      </ul>
      <p class="text-justify">
        Once you have estimated the amount you will owe, divide it by the number
of pay periods left in the year.
      </p>
      <p class="text-justify">
        If you would like to change or cancel the amount of additional income tax
being withheld, you must complete a new copy of this form and give it to
your employer or payer.
      </p>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 14</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Housing deduction for residents of designated remote areas</strong>
        </div>
      </div>
      <p class="text-justify">
        If you expect to live in a prescribed <strong>northern zone</strong> or a prescribed <strong>intermediate zone</strong> for a period of at least <strong>six consecutive months</strong> beginning or ending in 2021, you can enter the lesser of the following amounts:
      </p>
      <ul class="text-justify">
        <li>
          20% of your estimated net income for 2021;
        </li>
        <li>
          100% (50% for an <strong>intermediate zone</strong>) of one of the following amounts: <br>
          – $22 multiplied by the number of days in 2021 you expect to live in
such a zone, if no other person living in the same dwelling claims
this deduction, or <br>
          – $11 multiplied by the number of days in 2021 you expect to live
in such a zone, in all other cases.
        </li>
      </ul>
      <p class="text-justify">
        For more information, consult guide TP-350.1.G-V, <em>Deduction for Residents
of Designated Remote Areas.</em>
      </p>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Line 15</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Deductible support payments</strong>
        </div>
      </div>
      <p class="text-justify">
        If, in 2021, you expect to make support payments to your spouse or
former spouse, to the mother or father of your child, or to a third party
for the benefit of your child or one of the aforementioned people, you can
enter the amount of support on line 15, provided, as a rule, you meet the
following conditions:
      </p>
      <ul class="text-justify">
        <li>
          The support is paid as a periodic allowance further to an order or a written
agreement for the maintenance of the recipient, the maintenance of one
of his or her children, or the maintenance of the recipient and the child,
and you are living apart from the recipient at the time the payments
are made.
        </li>
        <li>
          The support payments are not subject to the measures concerning the
tax treatment of support payments.
        </li>
      </ul>
      <p class="text-justify">
        For further information, refer to <em>The Tax Effects of Separation and Divorce</em> (IN-128-V).
      </p>
      <div class="border-bottom border-gray vspace">
        <div class="inline-block bg-gray line-box valign-middle">
          <strong>Box 20</strong>
        </div>
        <div class="inline-block valign-middle">
          <strong>Exemption from source deductions of income tax</strong>
        </div>
      </div>
      <p class="text-justify">
        You can ask your employer to not withhold income tax from your
employment income if you expect the total of your income from all sources
to be less than the result of the following calculation: the amount on
line 10, <Strong>plus</Strong> the amount on line 19. Note that this exemption cannot be
requested for remuneration that is not employment income. This request
is valid only for 2021.
      </p>
    </div>
  </div>
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>

<div class="hide">
  <$client.env.FormField.signatureverification.HTML>
  <$client.env.formfield.Login_ID.html>
  <$client.env.formfield.Auth_Param.html>
  <$client.env.formfield.EmployeeID.html>
</div>


</form> 
<SCRIPT> 
    ChangeCalendarIcons(); //for popup calendar  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
/* RESPONSIVE eFORM BUTTONS STYLE */ 
$(window).load(function() { 
        $("#buttonCancel").removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue"); 
        $("#buttonCancel").addClass("lifesuite__button"); 
        $('#buttonCancel').attr('id','ButtonCancel'); 
        $("#buttonSave").removeClass("appInputButton RCappInputButtonBlue"); 
        $("#buttonSave").addClass("lifesuite__button primary"); 
        $('#buttonSave').attr('id','ButtonSave'); 
        $("#buttonSaveAndComplete").removeClass("appInputButton RCappInputButtonBlue"); 
        $("#buttonSaveAndComplete").addClass("lifesuite__button primary"); 
        $('#buttonSaveAndComplete').attr('id','ButtonSaveAndComplete'); 
        $("#buttonPrint").removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue"); 
        $("#buttonPrint").addClass("lifesuite__button"); 
        $('#buttonPrint').attr('id','ButtonPrint'); 
        $("#buttonPreviewDelete").removeClass("appInputButton RCappInputButtonRed"); 
        $("#buttonPreviewDelete").addClass("lifesuite__button"); 
        $('#buttonPreviewDelete').attr('id','ButtonPreviewDelete'); 
        $("#buttonPreviewSave").removeClass("appInputButton RCappInputButtonBlue"); 
        $("#buttonPreviewSave").addClass("lifesuite__button primary"); 
        $('#buttonPreviewSave').attr('id','ButtonPreviewSave'); 
        $("#buttonComplete").removeClass("appInputButton RCappInputButtonBlue"); 
        $("#buttonComplete").addClass("lifesuite__button primary"); 
        $('#buttonComplete').attr('id','ButtonComplete'); 
       document.getElementById('formButtons').style.display = "block"; 
        $("input[type=text]").addClass('lifesuite__text-input'); 
        $("input[type=text].hasDatepicker").addClass('dateField'); 
        $("select").addClass('lifesuite__select-input'); 
        $("input[type=radio]").addClass('lifesuite__radio'); 
        $("input[type=checkbox]").addClass('lifesuite__checkbox'); 
        $("textarea").addClass('lifesuite__textarea-input'); 
        $('label').addClass('lifesuite__input-label lifesuite__input—block'); 
}); 
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
</SCRIPT>
