<main class="container-fluid">
    <header class="row">
        <div class="div col-lg-3 col-md-3 col-sm-5 col-xs-5">
            <img src="<$link;/main/RedCarpet/FormTemplates/Race_Ethnic_Status/img/anixter_logo.jpg>" alt="" class="img-responsive">
        </div>
    </header>
    <h5 class="text-center">
        <strong>RACE/ETHNIC SELF-IDENTIFICATION</strong>
    </h5>
    <h5 class="text-center vspace-md">
        COMPLETING THIS FORM IS VOLUNTARY AND IS NOT <br class="hidden-xs hidden-sm">A REQUIREMENT FOR EMPLOYMENT
    </h5>
    <div class="row vspace">
        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            <label class="control-label">
                Employee Name:
            </label>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
            <$client.env.FormField.Employee_Name.HTML>
        </div>
    </div>
    <div class="row vspace-md">
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label class="control-label">
                Job:
            </label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <$client.env.FormField.Job.HTML>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <label class="control-label">
                Date:
            </label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <$client.env.FormField.Date.HTML>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-12">
            <p>
                We believe that all persons are entitled to equal employment opportunities and we do not discriminate against our employees, applicants, or job seekers because of their race, color, gender, religion, national origin, disability, veteran status, age, marital status or any other protected group status as defined by law.
            </p>
        </div>
    </div>
    <div class="row vspace-md">
        <div class="col-lg-12">
            <p>
                The United States Government requires us to maintain information on applicants, including their race, sex and the type of position they apply for. To help us comply with this requirement, we encourage you to provide us with the following self-identification information. However, submission of this information is voluntary and refusal to provide it will not subject you to discharge, disciplinary or other adverse treatment. If you do submit this information, we will keep it confidential and separate from your application, and if you are hired, we will keep it separate from your personnel records.
            </p>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-12">
            <p>
                Please complete the self-identification form, which includes the option to choose not to self-identify.
            </p>
        </div>
    </div>
    <div class="row vspace-md">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
            <h5 class="vspace">
                <u>YOUR RACE/ETHNICITY:</u>
            </h5>
            <$client.env.FormField.Race.HTML>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vspace">
            <div class="vspace">
                <u>YOUR GENDER:</u>
            </div>
            <$client.env.FormField.Gender.HTML>
        </div>
    </div>
    <div class="vspace row">
        <div class="col-lg-12">
            <h5>
                <u>RACE/ETHNIC DEFINITIONS:</u>
            </h5>
            <p>
                <strong>Hispanic or Latino:</strong> A person of Cuban, Mexican, Puerto Rican, South or Central American, or other Spanish culture or origin regardless of race
            </p>
            <p>
                <strong>White (Not Hispanic or Latino):</strong> A person having origins in any of the original peoples of Europe, the Middle East, or North Africa
            </p>
            <p>
                <strong>Black or African American (Not Hispanic or Latino):</strong> A person having origins in any of the black racial groups of Africa
            </p>
            <p>
                <strong>Asian (Not Hispanic or Latino):</strong> A person having origins in any of the original peoples of the Far East, Southeast Asia, or the Indian Subcontinent including, for example, Cambodia, China, India, Japan, Korea, Malaysia, Pakistan, the Philippine Islands, Thailand, and Vietnam
            </p>
            <p>
                <strong>Native Hawaiian or Other Pacific Islander (Not Hispanic or Latino):</strong> A person having origins in any of the peoples of Hawaii, Guam, Samoa, or other Pacific Islands
            </p>
            <p>
                <strong>American Indian or Alaska Native (Not Hispanic or Latino):</strong> A person having origins in any of the original peoples of North and South America (including Central America) and who maintain tribal affiliation or community attachment
            </p>
            <p>
                <strong>Two or More Races (Not Hispanic or Latino):</strong> Persons who identify with two or more race/ethnic categories named above
            </p>
        </div>
    </div>
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>
