<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal" style="display:none;">
  <div class="modal-content">
    <p class="h5"><strong>Electronic Signature</strong></h2>
    <p>
    <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)>
    </p>
    <div class="row">
      <div class="col-lg-12">
        <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="sign-btn-group">
            <input type="button" class="lifesuite__button primary" value="Sign" onclick="validateSignature('signature','eSignature1','fullName','modal','over','sv', 'date');xbObj('eSignature1').value='';document.getElementById('eSignature1').focus();">&nbsp;
            <input type="button" class="lifesuite__button" value="Clear" onclick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value=''; if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','date');}">&nbsp;
            <input type="button" class="lifesuite__button" value="Cancel" onclick="showHide('modal');showHide('over');xbObj('eSignature1').value='';" style="margin-right: -8px;">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="over" style="display:none;"></div>
<!-- RESPONSIVE eFORM PAGE LOADER-->
<div class="modal" style="display:block; background: #002E6D;">
  <div class="fb-spinner">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
</div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<form name="frmForm" action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);" role="form">
    <div hidden>
        <$client.env.FormField.Form_Name.prompt>
        <$client.env.FormField.Form_Name.HTML>
        <$client.env.FormField.Form_Type.prompt>
        <$client.env.FormField.Form_Type.HTML>
        <$client.env.FormField.Form_Owner.prompt>
        <$client.env.FormField.Form_Owner.HTML>
        <$client.env.FormField.Form_CreateDate.prompt>
        <$client.env.FormField.Form_CreateDate.HTML>
        <$client.env.FormField.Form_Completed.prompt>
        <$client.env.FormField.Form_Completed.HTML>
        <$client.env.FormField.Form_Delivered.prompt>
        <$client.env.FormField.Form_Delivered.HTML>
        <$client.env.FormField.Form_TaskId.prompt>
        <$client.env.FormField.Form_TaskId.HTML>
        <$client.env.FormField.display_version.HTML>
        <!-- Replace With eForm Specific Data Field Prompts From Formalizer-->
        <$client.env.FormField.name.prompt>
        <$client.env.FormField.signature.prompt>
        <$client.env.FormField.date.prompt>
    </div>
    <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">
<main class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex justify-content-end">
                <div class="img-wrapper">
                    <img src="<$link;/main/RedCarpet/FormTemplates/Richards_Offer_Letter/img/richards-logo.png>" alt="Richards Electric Logo" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div id="offer-letter-body" class="row">
        <div class="col-sm-12">
            <div id="incomplete">
                <div id="markup1"></div>
            </div>
            <div id="complete"></div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-6">
            <div class="form-group pe-3">
                Name:
                <$client.env.FormField.name.HTML>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                Date:
                <$client.env.FormField.date.HTML>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="form-group">
                Signature:
                <$client.env.FormField.signature.HTML>
            </div>
        </div>
    </div>
    <hr class="lifesuite__hr">
    <div class="row" id="formButtons" style="display: none;">
        <div class="sign-btn-group">
            <$client.env.FormButtons>
        </div>
    </div>
</main>

<div hidden>
    <$client.env.FormField.SignatureVerification.HTML>
    <$client.env.FormField.hidden_pg1.HTML>
    <$client.env.FormField.Current_Date.HTML>
</div>

</form>
<script src="<$link;/main/RedCarpet/FormTemplates/Richards_Offer_Letter/js/bootstrap.min.js>"></script>
<script src="<$link;/main/RedCarpet/FormTemplates/Richards_Offer_Letter/js/moment-with-locales.min.js>"></script>
<script src="<$link;/main/RedCarpet/FormTemplates/Richards_Offer_Letter/js/ejs.min.js>"></script>
<script src="<$link;/main/RedCarpet/FormTemplates/Richards_Offer_Letter/js/script.js>" defer></script>
<script>
showScreen('over');
ChangeCalendarIcons(); //for popup calendar
/* RESPONSIVE eFORM BUTTONS STYLE */
$(document).on('ready', function() {
    $("#buttonCancel").removeClass().addClass("lifesuite__button").prop('id','ButtonCancel');
    $("#buttonSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSave');
    $("#buttonSaveAndComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSaveAndComplete');
    $("#buttonPrint").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPrint');
    $("#buttonPreviewDelete").removeClass().addClass("lifesuite__button").prop('id','ButtonPreviewDelete');
    $("#buttonPreviewSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPreviewSave');
    $("#buttonComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonComplete');
    $("input[type=text]").addClass('lifesuite__text-input');
    $("input[type=text].hasDatepicker").addClass('dateField');
    $("select").addClass('lifesuite__select-input');
    $("input[type=radio]").addClass('lifesuite__radio');
    $("input[type=checkbox]").addClass('lifesuite__checkbox');
    $("textarea").addClass('lifesuite__textarea-input');
    $('label').addClass('lifesuite__input-label lifesuite__input—block');
    $('#formButtons').show();
});
const data = {
    'Current_Date': document.getElementById('Current_Date').value,
    'First_Name': '<$client.tForWhomUserInfo.First_Name>',
    'Full_Name': '<$client.tForWhomUserInfo.Full_Name>',
    'Address1': '<$client.tForWhomUserInfo.Address1>',
    'City': '<$client.tForWhomUserInfo.City>',
    'State_Description': '<$client.tForWhomUserInfo.State_Description>',
    'Zip': '<$client.tForWhomUserInfo.Zip>',
    'Job_Template_Name': '<$client.tForWhomUserInfo.Job_Template_Name>',
    'Service_Center': '<$client.tForWhomUserInfo.Service_Center>',
    'Residential_Location': '<$client.tEventCategories_Category_22.Value>',
    'Salary_Type': '<$client.tForWhomUserInfo.Salary_Type>',
    'Salary_Amount': new Number('<$client.tForWhomUserInfo.Salary_Amount>'),
    'Annual_Salary': 0,
    'Remote': '<$client.tForWhomUserInfo.Remote>',
    'Salary_Type': '<$client.tForWhomUserInfo.Salary_Type>',
    'FLSA_Status': '<$client.tForWhomUserInfo.FLSA_Status>',
    'Bonus_General_Eligibility': '<$client.tForWhomUserInfo.Bonus_General_Eligibility>',
    'Bonus_General_Structure': '<$client.tForWhomUserInfo.Bonus_General_Structure>',
    'Frontloaded_Vacation_Days': '<$client.tForWhomUserInfo.Frontloaded_Vacation_Days>',
    'Frontloaded_Vacation_Hrs': '<$client.tForWhomUserInfo.Frontloaded_Vacation_Hrs>',
    'JobSubFamily_Driver': '<$client.tForWhomUserInfo.JobSubFamily_Driver>',
    'Hiring_Manager': '<$client.tForWhomUserInfo.Hiring_Manager>',
    'Hiring_Manager_Job_Template_Name': '<$client.tForWhomUserInfo.Hiring_Manager_Job_Template_Name>',
};
const TEMPLATE_PATH1 = '<$link;/main/RedCarpet/FormTemplates/Richards_Offer_Letter/js/templates/Richards_Offer_Letter.offerClause1_Version_1.ejs>'
</script>
