    <div class="container-fluid"> 
        <div class="form-group">
            <div class="row">
                <div class="image-container">
                    <img class="img-responsive" src="images/logo.png"> 
                </div>
                <div class="header-container">
                    <div class="header">QUEST FOR THE BEST</div>
                    <div class="header">EMPLOYEE REFERRAL BONUS FORM</div>
                    For questions, email <a href="mailto:HRSC@Rollins.com">HRSC@Rollins.com</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 lifesuite__clearfix text">
                    <div class="section-header-container">
                        <span class="section-header">Referral Bonus Guidelines</span>
                    </div>
                    <ul>
                        <li>
                            An eligible employee may earn up to $500 award for a full-time referral ($250 when hired; $250 after 4-months employment) and up to $250 for a part-time/seasonal referral ($125 when hired; $125 if promoted to full-time).
                        </li>
                        <li>
                            Referral Eligibility: All Rollins, Inc. employees, <u><strong>except</strong></u> employees involved in the hiring decision, Vice President and above, recruiters and hiring managers.
                        </li>
                        <li>
                            The referral date cannot be earlier than the date the job requisition is posted. The hiring of a referred employee must occur within 180 days (six months) of the initial referral date.
                        </li>
                        <li>
                            The first employee to refer a candidate will be the only referring employee eligible for payment.
                        </li>
                        <li>
                            Only candidates who meet the essential qualifications for the position will be considered.
                        </li>
                        <li>
                            Bonus payments are not paid if the new employee or the referring employee terminates before payment is earned.
                        </li>
                        <li>
                            The referral bonus program <u><strong>does not</strong></u> apply to applicants who were former employees (full/part-time, or seasonal) and are considered rehires, candidates submitted via a fee-based temporary agency, or internal candidates.
                        </li>
                        <li>
                            Referred candidates <u><strong>must</strong></u> indicate on their employment application the name of the Rollins, Inc. employee that referred them to the position.
                        </li>
                        <li>
                            <em><strong>Note:</strong></em> Submit the form after your referral is hired. Please allow 2-weeks for processing. All referral bonus payments are subject to payroll tax deductions.
                        </li>
                    </ul>
                </div> 
            </div>
            
            <div class="row">
                <div class="col-md-12 lifesuite__clearfix text">
                    <div class="section-header-container">
                        <span class="section-header">Employee Making Referral</span>
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-5 lifesuite__clearfix text">
                    <div>Employee Name (Print)</div>
                    <$client.env.FormField.B000_Employee_Name.HTML>
                </div>
                <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                    <div>Employee #</div>
                    <$client.env.FormField.B001_Employee_Number.HTML>
                </div>
                <div class="col-xs-6 col-md-3 lifesuite__clearfix text">
                    <div>Location #</div>
                    <$client.env.FormField.B002_Employee_Branch_Number.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 lifesuite__clearfix text">
                    <div>Employee Job Title</div>
                    <$client.env.FormField.B003_Employee_Job_Title.HTML>
                </div>
                <div class="col-xs-12 col-md-6 lifesuite__clearfix text">
                    <div>Employee Phone #</div>
                    <$client.env.FormField.B004_Employee_Phone_Number.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 lifesuite__clearfix text">
                    <div>Employee Signature</div>
                    <$client.env.FormField.B003_Signature.HTML>
                </div>
                <div class="col-xs-12 col-md-6 lifesuite__clearfix text">
                    <div>Date</div>
                    <$client.env.FormField.B004_Date.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 lifesuite__clearfix text">
                    <div>Referring Employee Manager Signature</div>
                    <$client.env.FormField.B005_Referring_Employee_Manager_Signature.HTML>
                </div>
                <div class="col-xs-6 col-md-6 lifesuite__clearfix text">
                    <div>Date</div>
                    <$client.env.FormField.B006_Date.HTML>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 lifesuite__clearfix text">
                    <div class="section-header-container">
                        <span class="section-header">Employee (New Hire) Referred</span>
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-5 lifesuite__clearfix text">
                    <div>New Hire Name</div>
                    <$client.env.FormField.A000_New_Hire_Name.HTML>
                </div>
                <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                    <div>New Hire Start Date</div>
                    <$client.env.FormField.A001_New_Hire_Start_Date.HTML>
                </div>
                <div class="col-xs-6 col-md-3 lifesuite__clearfix text">
                    <div>Location #</div>
                    <$client.env.FormField.A002_New_Hire_Branch_Number.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-4 lifesuite__clearfix text">
                    <div>New Hire Employee #</div>
                    <$client.env.FormField.A003_New_Hire_Employee_Number.HTML>
                </div>
                <div class="col-xs-12 col-lg-8 lifesuite__clearfix text">
                    <div class="inline-block vertical-top">
                        <$client.env.FormField.A004_FullTime.HTML>
                    </div>
                    <div class="inline-block vertical-top">
                        Veteran:
                    </div>
                    <div class="inline-block vertical-top">
                        <$client.env.FormField.A005_Veteran.HTML>
                    </div>
                    <div class="inline-block vertical-top">
                        Gender:
                    </div>
                    <div class="inline-block vertical-top">
                        <$client.env.FormField.A006_Gender.HTML>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 lifesuite__clearfix text">
                    <div class="section-header-container">
                        <span class="section-header">For HRSC/Payroll Use Only</span>
                    </div>
                </div> 
            </div>
            <div class="bordered-section blue">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 lifesuite__clearfix">
                        <div>Name of Employee Receiving Bonus</div>
                        <$client.env.FormField.C000_Employee_Receiving_Bonus.HTML>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 lifesuite__clearfix">
                        <div>Employee #</div>
                        <$client.env.FormField.C000_Employee_Number.HTML>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4 lifesuite__clearfix">
                        <div>Date 1<sup>st</sup> Installment Submitted</div>
                        <$client.env.FormField.C000_First_Installment_Date.HTML>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 lifesuite__clearfix">
                        <div>Amount</div>
                        <$client.env.FormField.C001_Amount.HTML>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 lifesuite__clearfix">
                        <div>Branch # Paying Bonus</div>
                        <$client.env.FormField.C002_Branch_Number.HTML>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-md-12 lifesuite__clearfix">
                            HR Approval:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3 lifesuite__clearfix">
                            <$client.env.FormField.C003_Administrator_Signature.HTML>
                            <div class="bottom-label">Administrator Signature</div>
                        </div>
                        <div class="col-xs-6 col-md-3 lifesuite__clearfix">
                            <$client.env.FormField.C004_Date.HTML>
                            <div class="bottom-label">Date</div>
                        </div>
                        <div class="col-xs-12 col-md-3 lifesuite__clearfix">
                            <$client.env.FormField.C005_Director_Signature.HTML>
                            <div class="bottom-label">Director Signature</div>
                        </div>
                        <div class="col-xs-6 col-md-3 lifesuite__clearfix">
                            <$client.env.FormField.C006_Date.HTML>
                            <div class="bottom-label">Date</div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-12">
                        ******************************
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4 lifesuite__clearfix">
                        <div>Date 2<sup>nd</sup> Installment Submitted</div>
                        <$client.env.FormField.D000_First_Installment_Date.HTML>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 lifesuite__clearfix">
                        <div>Amount</div>
                        <$client.env.FormField.D001_Amount.HTML>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-md-12 lifesuite__clearfix">
                            HR Approval:
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3 lifesuite__clearfix">
                            <$client.env.FormField.D003_Administrator_Signature.HTML>
                            <div class="bottom-label">Administrator Signature</div>
                        </div>
                        <div class="col-xs-6 col-md-3 lifesuite__clearfix">
                            <$client.env.FormField.D004_Date.HTML>
                            <div class="bottom-label">Date</div>
                        </div>
                        <div class="col-xs-12 col-md-3 lifesuite__clearfix">
                            <$client.env.FormField.D005_Director_Signature.HTML>
                            <div class="bottom-label">Director Signature</div>
                        </div>
                        <div class="col-xs-6 col-md-3 lifesuite__clearfix">
                            <$client.env.FormField.D006_Date.HTML>
                            <div class="bottom-label">Date</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="bordered-section-title-yellow-container">
                        <span class="bordered-section-title-yellow">For Payroll Department:</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 lifesuite__clearfix">
                        <div>Payment Date:</div>
                        <$client.env.FormField.E000_Payment_Date.HTML>
                    </div>
                    <div class="col-xs-12 col-md-6 lifesuite__clearfix">
                        <div>Payment #</div>
                        <$client.env.FormField.E001_Payment_Number.HTML>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 lifesuite__clearfix">
                        <div>Processed by:</div>
                        <$client.env.FormField.E002_Processed_By.HTML>
                    </div>
                    <div class="col-xs-12 col-md-6 lifesuite__clearfix">
                        <div>Verified by:</div>
                        <$client.env.FormField.E003_Verified_By.HTML>
                    </div>
                </div>
            </div>
            <hr class="lifesuite__hr">
            <div class="row" id="formButtons" style="display: none;">
                <div class="lifesuite__clearfix lifesuite__float-right">               
                    <$client.env.FormButtons>
                </div>             
            </div>
        </div>
    </div>
