<div class="container-fluid form-horizontal main">
    <h2 class="text-center">
        SilkRoad Integration Trigger
    </h2>
    <div class="center-block container-inner">
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    SSN:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    First name:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Middle name:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Last name:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Full Name:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Suffix:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Country:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Addr 1:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Addr 2:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Addr 3:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    City:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    State:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Region:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    District:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Postal Cd:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Gender:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Military Status:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Disability Date:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Disability:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Marital Status:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Citizen status:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Citizen proof:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Birth Date:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Ethnic Code:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Dept Id:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Building:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Bus Unit:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Loc Cd:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Acctg Dept:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Dir Indir:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Job Code:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Full Part:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Comp Rt Cd:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Comp Rate:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Currency Code:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Work Loc Cd:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Mail Code:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Eff Date:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    NID Country:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Home Phone:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Union Cd:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Manager Phone:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Int Ext:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Sign On Bonus:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Reloc Paid:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    PERNR:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Position Num:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Title:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Shift:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    Work Sched:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    First Work Day:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
                <label class="control-label">
                    HS Degree:
                </label>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="lifesuite__text-input">
            </div>
        </div>
    </div>
    <div class="hidden-sm hidden-xs" style="width: 920px;"></div>
</div>
