<main class="container-fluid">
    <header class="row vspace">
        <div class="col-lg-2 col-xs-12">
            <div class="img-wrapper center-block">
                <img src="assets/img/homeaway_icon.jpg" alt="Homeaway Logo" class="img-responsive">
            </div>
        </div>
    </header>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-12 blue-bg">
                <h4 class="text-center">
                    <strong>SINGAPORE MEDICAL INSURANCE FORM</strong>
                </h4>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12 light-blue-bg">
                <h5 class="text-center">
                    <strong>PERSONAL INFORMATION</strong> 
                </h5>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12">
                <label>Full Name:</label>
                <div class="vspace">
                    <$client.env.FormField.a01_Full_Name.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12">
                <label>Address:</label>
                <div class="vspace">
                    <$client.env.FormField.a02_Address_1.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12">
                <label>Address:</label>
                <div class="vspace">
                    <$client.env.FormField.a03_Address_2.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 border-right">
                <label>City:</label>
                <div class="vspace">
                    <$client.env.FormField.a04_City.HTML>
                </div>
            </div>
            <div class="col-lg-6">
                <label>Nationality:</label>
                <div class="vspace">
                    <$client.env.FormField.a05_Nationality.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 border-right">
                <label>Gender:</label>
                <div class="vspace">
                    <$client.env.FormField.a06_Gender.HTML>
                </div>
            </div>
            <div class="col-lg-6">
                <label>Date of Birth:</label>
                <div class="vspace">
                    <$client.env.FormField.a07_Date_of_Birth.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-6 border-right">
                <label>NRIC (for Locals / Perm Residents):</label>
                <div class="vspace">
                    <$client.env.FormField.a08_NRIC.HTML>
                </div>
            </div>
            <div class="col-lg-6">
                <label>FIN Number (Expatriate):</label>
                <div class="vspace">
                    <$client.env.FormField.a09_FIN_Number.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12">
                <label>Tier:</label>
                <div class="vspace">
                    <$client.env.FormField.a09_Tier.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12 light-blue-bg">
                <h5 class="text-center">
                    <strong>DEPENDANT DETAILS (ADDITIONAL COVER)</strong> 
                </h5>
            </div>
        </div>
        <div class="row border-bottom hidden-xs">
            <div class="col-lg-2 col-xs-12 border-right">
                <label>Tier:</label>
            </div>
            <div class="col-lg-5 col-xs-12 border-right">
                <label>Full Name:</label>
            </div>
            <div class="col-lg-2 col-xs-12 border-right">
                <label>Date of Birth:</label>
            </div>
            <div class="col-lg-3 col-xs-12">
                <label>Nationality:</label>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12 border-right">
                <label class="visible-xs">Tier:</label>
                <div class="vspace">
                    <$client.env.FormField.a10_Tier_1.HTML>
                </div>
            </div>
            <div class="col-lg-5 col-xs-12 border-right">
                <label class="visible-xs">Full Name:</label>
                <div class="vspace">
                    <$client.env.FormField.a11_Dependant_Full_Name_1.HTML>
                </div>
            </div>
            <div class="col-lg-2 col-xs-12 border-right">
                <label class="visible-xs">Date of Birth:</label>
                <div class="vspace">
                    <$client.env.FormField.a12_Dependant_Date_of_Birth_1.HTML>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12">
                <label class="visible-xs">Nationality:</label>
                <div class="vspace">
                    <$client.env.FormField.a13_Dependant_Nationality_1.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12 border-right">
                <label class="visible-xs">Tier:</label>
                <div class="vspace">
                    <$client.env.FormField.a14_Tier_2.HTML>
                </div>
            </div>
            <div class="col-lg-5 col-xs-12 border-right">
                <label class="visible-xs">Full Name:</label>
                <div class="vspace">
                    <$client.env.FormField.a15_Dependant_Full_Name_2.HTML>
                </div>
            </div>
            <div class="col-lg-2 col-xs-12 border-right">
                <label class="visible-xs">Date of Birth:</label>
                <div class="vspace">
                    <$client.env.FormField.a16_Dependant_Date_of_Birth_2.HTML>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12">
                <label class="visible-xs">Nationality:</label>
                <div class="vspace">
                    <$client.env.FormField.a17_Dependant_Nationality_2.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12 border-right">
                <label class="visible-xs">Tier:</label>
                <div class="vspace">
                    <$client.env.FormField.a18_Tier_3.HTML>
                </div>
            </div>
            <div class="col-lg-5 col-xs-12 border-right">
                <label class="visible-xs">Full Name:</label>
                <div class="vspace">
                    <$client.env.FormField.a19_Dependant_Full_Name_3.HTML>
                </div>
            </div>
            <div class="col-lg-2 col-xs-12 border-right">
                <label class="visible-xs">Date of Birth:</label>
                <div class="vspace">
                    <$client.env.FormField.a20_Dependant_Date_of_Birth_3.HTML>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12">
                <label class="visible-xs">Nationality:</label>
                <div class="vspace">
                    <$client.env.FormField.a21_Dependant_Nationality_3.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12 border-right">
                <label class="visible-xs">Tier:</label>
                <div class="vspace">
                    <$client.env.FormField.a22_Tier_4.HTML>
                </div>
            </div>
            <div class="col-lg-5 col-xs-12 border-right">
                <label class="visible-xs">Full Name:</label>
                <div class="vspace">
                    <$client.env.FormField.a23_Dependant_Full_Name_4.HTML>
                </div>
            </div>
            <div class="col-lg-2 col-xs-12 border-right">
                <label class="visible-xs">Date of Birth:</label>
                <div class="vspace">
                    <$client.env.FormField.a24_Dependant_Date_of_Birth_4.HTML>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12">
                <label class="visible-xs">Nationality:</label>
                <div class="vspace">
                    <$client.env.FormField.a25_Dependant_Nationality_4.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12 border-right">
                <label class="visible-xs">Tier:</label>
                <div class="vspace">
                    <$client.env.FormField.a26_Tier_5.HTML>
                </div>
            </div>
            <div class="col-lg-5 col-xs-12 border-right">
                <label class="visible-xs">Full Name:</label>
                <div class="vspace">
                    <$client.env.FormField.a27_Dependant_Full_Name_5.HTML>
                </div>
            </div>
            <div class="col-lg-2 col-xs-12 border-right">
                <label class="visible-xs">Date of Birth:</label>
                <div class="vspace">
                    <$client.env.FormField.a28_Dependant_Date_of_Birth_5.HTML>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12">
                <label class="visible-xs">Nationality:</label>
                <div class="vspace">
                    <$client.env.FormField.a29_Dependant_Nationality_5.HTML>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12 light-blue-bg">
                <h5>
                    <strong>ACKNOWLEDGMENT</strong> 
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 border-right">
                <label>Signature:</label>
                <div class="vspace">
                    <$client.env.FormField.a30_Signature.HTML>
                </div>
            </div>
            <div class="col-lg-6">
                <label>Date:</label>
                <div class="vspace">
                    <$client.env.FormField.a31_Date.HTML>
                </div>
            </div>
        </div>
    </div>
    <div class="invisibar hidden-xs hidden-sm">&nbsp;</div>
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>
