<div class="container-fluid main">
    <header class="row">
        <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
            <img src="/assets/img/energizer_holdings_logo.jpg" alt="" class="img-responsive">
        </div>
    </header>
    <h2 class="text-center">Medical Enrollment</h2>
    <ol class="medical-checklist">
        <li>
            Is
            <div class="col-40">
                <input class="lifesuite__text-input" type="text">
            </div>
            entitled to join the Medical plan?
            <div class="col-md-12 col-lg-12" data-radio="medical-plan">
                <input type="radio" name="medical_plan" value="1">
                <label for="">Yes</label>
                <input type="radio" name="medical_plan" value="2">
                <label for="">No</label>
            </div>
        </li>
        <li>
            Do you want to join Energizer’s Medical Plan?
            <div class="col-md-12 col-lg-12">
                <input type="radio">
                <label for="">Yes</label>
                <input type="radio">
                <label for="">No</label>
            </div>
        </li>
        <li>
            Do you already have a medical plan?
            <div class="col-md-12 col-lg-12">
                <input type="radio">
                <label for="">Yes</label>
                <input type="radio">
                <label for="">No</label>
            </div>
        </li>
        <li>
            Please upload proof of your current coverage here (link to employee upload page).
        </li>
        <li>
            Is your current plan with Discovery?
            <div class="col-md-12 col-lg-12">
                <input type="radio">
                <label for="">Yes</label>
                <input type="radio">
                <label for="">No</label>
            </div>
        </li>
    </ol>
    <p class="indent-4">
        Please print a copy of the Discovery Enrollment form and bring it with you on your first day of employment. Link to form. You will also need to provide a copy of your marriage certificate if you’re adding a spouse to coverage.
    </p>
    <p class="indent-4">
        Please print a copy of the Discovery Transfer form and bring it with you on your first day of employment. Link to form
    </p>
</div>
