<main class="container-fluid">
  <header class="row vspace">
    <div class="col-lg-2">
      <img src="/assets/img/dc_logo.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-lg-10">
      <h4 class="text-center">
        <div class="inline-block">
          <input type="text" class="lifesuite__text-input">
        </div>
        D-4 DC Withholding Allowance Certificate
      </h4>
    </div>
  </header>
  <div class="bg-teal">
    <div class="row vspace">
      <div class="col-lg-5">
        Taxpayer identification number (TIN) See instructions.
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="row vspace">
      <div class="col-lg-5">
        First Name
        <input type="text" class="lifesuite__text-input">
      </div>
      <div class="col-lg-2">
        M.I.
        <input type="text" class="lifesuite__text-input">
      </div>
      <div class="col-lg-5">
        Last Name
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="row vspace">
      <div class="col-lg-12">
        Home address (number, street and suite/apartment number if applicable)
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="row vspace">
      <div class="col-lg-5">
        City
        <input type="text" class="lifesuite__text-input">
      </div>
      <div class="col-lg-1">
        State
        <input type="text" class="lifesuite__text-input">
      </div>
      <div class="col-lg-3">
        Zip code +4
        <input type="text" class="lifesuite__text-input">
      </div>
      <div class="col-lg-3">
        &nbsp;
        <input type="text" class="lifesuite__text-input">
      </div>
    </div>
    <div class="row vspace">
      <div class="col-lg-3">
        1 Tax filing status (Fill in only one)
      </div>
      <div class="col-lg-9">
        <input type="checkbox"> Single
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        2 Total number of withholding allowances from worksheet below.
      </div>
    </div>
    <div class="row vspace">
      <div class="col-lg-12">
        <strong>Enter total from Sec. A, Line i</strong>
        <div class="inline-block wrapper-thin">
          <input type="text" class="lifesuite__text-input">
        </div>
        <strong>Enter total from Sec. B, Line m</strong>
        <div class="inline-block wrapper-thin">
          <input type="text" class="lifesuite__text-input">
        </div>
        <strong>Total number of withholding allowances , Line n</strong>
        <div class="inline-block wrapper-thin">
          <input type="text" class="lifesuite__text-input">
        </div>
      </div>
    </div>
    <div class="row vspace">
      <div class="col-lg-12">
        3 Additional amount, if any, you want withheld from each paycheck
        <div class="inline-block">
          $
          <div class="inline-block">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
      </div>
    </div>
    <div class="row vpsace">
      <div class="col-lg-12">
        4 Before claiming exemption from withholding, read below. If qualifi ed, write “EXEMPT” in this box.
        <div class="inline-block">
          &#9656;
          <div class="inline-block">
            <input type="text" class="lifesuite__text-input">
          </div>
        </div>
      </div>
    </div>
    <div class="row vspace">
      <div class="col-lg-12">
        5 My domicile is a state other than the District of Columbia
        <div class="inline-block">
          <input type="radio"> Yes
        </div>
        <div class="inline-block">
          <input type="text" class="lifesuite__text-input">
        </div>
      </div>
    </div>
    <div class="row vspace">
      <div class="col-lg-12">
        <p>
          I am exempt because: last year I did not owe any DC income tax and had a right to a full refund of all DC income tax withheld from me; and this year I do not expect to owe any DC income tax and expect a full refund of all DC income tax withheld from me; and I qualify for exempt status on federal Form W-4.
        </p>
      </div>
    </div>
  </div>

  <div class="row vspace">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quaerat eveniet consectetur cum at possimus qui aut quibusdam expedita, voluptate fuga ullam repellat non suscipit molestias facilis, quam beatae voluptas.
    </p>
  </div>
</main>
