<main class="container-fluid">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
			<div class="img-wrapper">
				<img src="<$link;/main/RedCarpet/FormTemplates/State_Withholding_MT/img/montana_dept_of_revenue_logo.jpg>" alt="" class="img-responsive">
			</div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<h3 class="text-center">
				<strong>Montana Employee’s Withholding Allowance<br class="hidden-xs">and Exemption Certificate</strong>

			</h3>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
			MONTANA <br>
			MW-4
		</div>
	</div>
	<div class="box mb-10">
		<div class="row b-bottom">
			<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 b-right">
				Employee’s first name and middle initial
				<div class="form-group">
					<$client.env.FormField.FirstNameMiddleInitial.HTML>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 b-right">
				Last name
				<div class="form-group">
					<$client.env.FormField.LastName.HTML>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				Social Security Number
				<div>
					<div class="inline-block form-group">
						<$client.env.FormField.SSN1.HTML>
					</div>
					<div class="inline-block form-group">
						<$client.env.FormField.SSN2.HTML>
					</div>
					<div class="inline-block form-group">
						<$client.env.FormField.SSN3.HTML>
					</div>
				</div>
			</div>
		</div>
		<div class="row b-bottom">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 b-right">
				Current mailing address
				<div class="form-group">
					<$client.env.FormField.Address.HTML>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				City, state and ZIP code
				<div>
					<div class="inline-block form-group">
						<$client.env.FormField.City.HTML>
					</div>
					<div class="inline-block form-group">
						<$client.env.FormField.State.HTML>
					</div>
					<div class="inline-block form-group">
						<$client.env.FormField.Zip.HTML>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p class="mb-20">
					Under penalty of false swearing, I declare that I have examined this certificate and, to the best of my knowledge and belief, it is true, correct, and complete.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label class="control-label">Employee’s signature</label>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<div class="form-group">
						<$client.env.FormField.Signature.HTML>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
					<label class="control-label">Date</label>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="form-group">
						<$client.env.FormField.DateSigned.HTML>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p>(This form is not valid unless you sign it.)</p>
			</div>
		</div>
	</div>
	<div class="indented-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<p>
					Complete Form MW-4 so that your employer can withhold the correct Montana income tax from your pay. See “Employee Instructions” on back of this form before beginning.
				</p>
				<h4>
					<strong>Section 1: Montana Allowances</strong>
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<ol type="A">
					<li>
						Enter “1” for <strong>yourself</strong>
					</li>
				</ol>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="inline-block v-middle invisible-xs">
					A.
				</div>
				<div class="inline-block v-middle form-group">
					<$client.env.FormField.PAWorksheetA.HTML>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<ol type="A" start="2">
					<li>
						Enter “1” if you have only one job
					</li>
				</ol>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="inline-block v-middle invisible-xs">
					B.
				</div>
				<div class="inline-block v-middle form-group">
					<$client.env.FormField.PAWorksheetB.HTML>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<ol type="A" start="3">
					<li>
						Enter “1” for your <strong>spouse</strong> if you expect to file as <strong>married filing jointly</strong> on your Montana tax return. But, you may choose to enter “-0-” if you have a working spouse. (Entering “-0-” may help you avoid having too little tax withheld.)
					</li>
				</ol>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="inline-block v-middle invisible-xs">
					C.
				</div>
				<div class="inline-block v-middle form-group">
					<$client.env.FormField.PAWorksheetC.HTML>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<ol type="A" start="4">
					<li>
						Enter the number of <strong>dependents</strong> (other than your spouse or yourself) you will claim on your Montana tax return
					</li>
				</ol>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="inline-block v-middle invisible-xs">
					D.
				</div>
				<div class="inline-block v-middle form-group">
					<$client.env.FormField.PAWorksheetD.HTML>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<ol type="A" start="5">
					<li>
						Enter “1” if you will file as <strong>head of household</strong> on your Montana tax return
					</li>
				</ol>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="inline-block v-middle invisible-xs">
					E.
				</div>
				<div class="inline-block v-middle form-group">
					<$client.env.FormField.PAWorksheetE.HTML>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<ol type="A" start="6">
					<li>
						Enter “1” if you expect to report large itemized deductions (medical, child and dependent care, etc.) (Caution: An additional allowance could result in tax due when you file your return.)
					</li>
				</ol>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="inline-block v-middle invisible-xs">
					F.
				</div>
				<div class="inline-block form-group">
					<$client.env.FormField.PAWorksheetF.HTML>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<ol type="A" start="7">
					<li>
						Add lines A through F and enter the total here. This is your <strong>total number of allowances</strong>. (Note: This number may be different from the number of exemptions you claim on your Montana tax return.)
					</li>
				</ol>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="inline-block v-middle invisible-xs">
					G.
				</div>
				<div class="inline-block form-group">
					<$client.env.FormField.PAWorksheetG.HTML>
				</div>
			</div>
		</div>
		<div class="row mb-10">
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<ol type="A" start="8">
					<li>
						Additional amount, if any, you want withheld from each paycheck or pension and annuity payment.
					</li>
				</ol>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="inline-block v-middle invisible-xs">
					H. $
				</div>
				<div class="inline-block form-group">
					<$client.env.FormField.PAWorksheetH.HTML>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h4>
					<strong>Section 2: Exemption from Montana Withholding for Tax Year <span id="year">2019</span></strong>
				</h4>
				<p>
					You may be entitled to claim an exemption from Montana income tax withholding. If applicable, mark one box below to indicate the reason why you believe you are exempt. See instructions for Section 2 on back of this form for more information.
				</p>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-lg-12">
				<div class="inline-block col-5 v-top form-group">
					<$client.env.FormField.registered_tribe_member.HTML>
				</div>
				<div class="inline-block col-95 v-top">
					a. I am an enrolled member of a registered tribe, I live on the reservation of that tribe, AND I claim exemption from withholding on the wages derived from work performed on the reservation where I live. <em>(You must also complete Section 1.)</em>
				</div>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-lg-12">
				<div class="inline-block col-5 v-top form-group">
					<$client.env.FormField.reserved_national_guard_member.HTML>
				</div>
				<div class="inline-block col-95 v-top">
					b. I am a member of the Reserve or National Guard, and I claim to be exempt from withholding on my compensation determined under USC Title 10. <em>(You must also complete Section 1.)</em>
				</div>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-lg-12">
				<div class="inline-block col-5 v-top form-group">
					<$client.env.FormField.north_dakota_resident.HTML>
				</div>
				<div class="inline-block col-95 v-top">
					c. I am a resident of North Dakota, and claim exemption from withholding on my wages.
				</div>
			</div>
		</div>
		<div class="row mb-10">
			<div class="col-lg-12">
				<div class="inline-block col-5 v-top form-group">
					<$client.env.FormField.another_state_resident.HTML>
				</div>
				<div class="inline-block col-95 v-top">
					d. I am a resident of another state living in Montana solely to be with my spouse, who is a resident of the same state and a member of the U.S. armed forces assigned to a military location in Montana, and I claim exemption from withholding on my wages.
				</div>
			</div>
		</div>
		<div class="box mb-15">
			<div class="row b-bottom">
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 b-right">
					Employer name
					<div class="form-group">
						<$client.env.FormField.EmployerName.HTML>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 b-right">
					Employer EIN
					<div>
						<div class="inline-block form-group">
							<$client.env.FormField.EIN1.HTML>
						</div>
						<div class="inline-block form-group">
							<$client.env.FormField.EIN2.HTML>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					Employer MT withholding account ID
					<div class="form-group">
						<$client.env.FormField.employer_mt_account_id.HTML>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 b-right">
					Employer address
					<div class="form-group">
						<$client.env.FormField.EmployerAddress.HTML>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					City, state and ZIP code
					<div>
						<div class="form-group inline-block">
							<$client.env.FormField.EmployerCity.HTML>
						</div>
						<div class="form-group inline-block">
							<$client.env.FormField.EmployerState.HTML>
						</div>
						<div class="form-group inline-block">
							<$client.env.FormField.EmployerZip.HTML>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col-lg-12 b-bottom-thick">
			<h4>
				<strong>Employee Instructions</strong>
			</h4>
		</div>
	</div>
	<div class="row mb-15">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="inner-wrapper">
				<div class="box info-box mb-5">
					<p>
						Due to changes in federal tax laws, the current federal Form W-4 should not be used for the calculation of Montana income tax withholding.
					</p>
					<p>
						This new Form MW-4 replaces the federal form for Montana employees.
					</p>
					<p>
						Employees who already claimed allowances in previous years do not have to submit this form unless they are claiming an exemption from withholding in Section 2.
					</p>
				</div>
				<p>
					<strong>Should I complete Form MW-4?</strong>
				</p>
				<p>
					Complete Form MW-4 and provide to your employer, if you:
				</p>
				<ul class="indented-list mb-5">
					<li>
						are a newly hired employee, or
					</li>
					<li>
						claim to be exempt from Montana income tax withholding. <em>See Section 2 instructions.</em>
					</li>
				</ul>
				<p>
					Consider completing a new Form MW-4 if your personal or financial situation changes. If you have not had sufficient income tax withheld from your wages, interest and/or penalties may be assessed when you file your individual income tax return.
				</p>
				<p class="mb-5">
					<strong>Section 1: Montana Allowances</strong>
				</p>
				<p>
					Complete this section to determine the number of withholding allowances to claim. Withholding on your wages is required unless you can claim an exemption from Montana withholding. <em>See Section 2 instructions.</em>
				</p>
				<p>
					<strong>C. Spouse</strong> – If you are married and planning to file your Montana income tax return jointly with your spouse, add an allowance to reduce the amount of withholding.
				</p>
				<p>
					In general, employees with a working spouse file their Montana return separately to lower their tax liability. If you are planning to file separately, enter zero on this line.
				</p>
				<p>
					<strong>E. Head of household.</strong> – Generally, you can claim head of household filing status on your tax return only if you are unmarried and pay more than 50 percent of the cost of keeping up a home for yourself and your dependent(s) or other qualifying individuals.
				</p>
				<p>
					<strong>F. Itemized deductions.</strong> – If your income mainly consists of wages or pensions, and you expect to report large itemized deductions, you may consider adding an additional allowance. Adding an allowance will reduce the amount of tax withheld. Caution: If you do not withhold enough to cover your income tax obligation, you may owe taxes and interest when you file your return. See Montana Publication 1 for more information.
				</p>
				<p>
					<strong>H. Additional amount withheld.</strong> – You may request to have an additional amount of taxes withheld from your paycheck on Line H. If you have a large amount of nonwage income, such as interest or dividends, consider making estimated tax payments.
				</p>
				<p>
					If you receive pensions or annuities, you may ask the payer to withhold a flat amount that you report on this line.
				</p>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h4>
				<strong>Section 2: Exemption from Montana Withholding</strong>
			</h4>
			<p>
				You must meet one of the following requirements to claim exemption:
			</p>
			<ol class="indented-list mb-10" type="a">
				<li>
					You are an enrolled member of an American Indian tribe living and working on the reservation of which you are an enrolled member. You must also complete Section 1 because your exemption may not cover all the wages you earned in Montana.
				</li>
				<li>
					You are a member of the Montana National Guard and are receiving pay or for active duty in the U.S. military under USC Title 10 orders. You must also complete Section 1 because your exemption only applies to your pay derived from your USC Title 10 orders.
				</li>
				<li>
					Your wages are exempt from withholding because you are a resident of North Dakota. This exemption is available for residents of North Dakota because of the reciprocity agreement in place between North Dakota and Montana.
				</li>
				<li>
					You are the spouse of a military member assigned to duty in Montana, you and your spouse are domiciled in another state (the same state as one another) and you are present in Montana solely to be with your spouse.
				</li>
			</ol>
			<p>
				<strong>To claim an exemption, give this form to your employer upon the start of your employment, or as soon as you qualify for an exemption.</strong> If it remains applicable, your exemption needs to be renewed before the beginning of the next year. Provide a new Form MW-4 to your employer each year or your employer will begin withholding. Do not forget to indicate the year.
			</p>
			<p>
				Montana does not recognize the federal exempt status available on the federal Form W-4. Therefore, exemption from withholding for federal purposes does not exempt you from Montana income tax withholding.
			</p>
			<p>
				An exemption from withholding is available only if the entire statement you checked in Section 2 is true. If your situation changes, and your exemption is no longer valid, you must provide a new Form MW-4 to your employer with Section 1 completed.
			</p>
			<p class="mb-10">
				If you claim one of the exemptions from withholding, an electronic copy of this form will be filed by your employer with the Department of Revenue.
			</p>
			<div class="thick-box mb-10">
				<p>
					<strong>An exemption from withholding is not an automatic exemption from filing a Montana income tax return.</strong>
				</p>
				<p>
					An exemption from withholding is not an automatic exemption from filing a Montana income tax return.
				</p>
			</div>
			<p>
				Employer instructions are on the next page.
			</p>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col-lg-12 b-bottom-thick">
			<h4>
				<strong>Employer Instructions</strong>
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="inner-wrapper">
				<p class="mb-10">
					Montana wage withholding is required when wages are earned in Montana. Employers are liable for Montana withholding taxes and are only relieved of that liability once they have withheld the correct amount of taxes from the employees’ wages for a given pay period.
				</p>
				<h4>
					<strong>Should my employee complete Form MW-4?</strong>
				</h4>
				<p>
					<strong>Your employee must complete Form MW-4</strong> if one or both of the following applies:
				</p>
				<ul class="indented-list mb-5">
					<li>
						They are a newly hired employee, or
					</li>
					<li>
						They are claiming to be exempt from Montana income tax withholding. <em>See Section 2 instructions.</em>
					</li>
				</ul>
				<p>
					Employees should also consider completing a new Form MW-4 if their personal or financial situation changes.
				</p>
				<p class="mb-10">
					<strong>Your employee is not required to complete Form MW-4</strong> if they are already employed and are not claiming exemption from Montana income tax withholding.
				</p>
				<h4>
					<strong>Do I need to file Form MW-4 with the department?</strong>
				</h4>
				<p>
					You must file your employee’s Form MW-4 with the Department of Revenue <em>only</em> if one or both of the following applies:
				</p>
				<ul class="indented-list mb-5">
					<li>
						The employee is claiming more than 10 allowances, or
					</li>
					<li>
						The employee is claiming one of the withholding exemptions listed in Section 2.
					</li>
				</ul>
				<p>
					If an employee provides you with a Form MW-4 that meets one or both of the conditions above, you must submit this form to the department by the last day of the payroll period in which the form was received.
				</p>
				<p>
					File online using the department’s TransAction Portal (TAP) at <em>https://tap.dor.mt.gov</em>. Simply click on “File Form MW-4.” For more information about this process, visit <em>revenue.mt.gov.</em>
				</p>
				<p>
					Do not mail the Form MW-4 to the department.
				</p>
				<p>
					You should keep a copy of all Forms MW-4 you receive from your employees with your records.
				</p>
				<h4>
					<strong>How should I determine Montana withholding for an employee that doesn’t complete Form MW-4?</strong>
				</h4>
				<p>
					Withhold Montana tax as if the employee is single with zero withholding allowances.
				</p>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<h4>
				<strong>Why must an employee complete Section 1 when claiming exemption 2(a) or 2(b)?</strong>
			</h4>
			<p>
				If an exemption is claimed under Section 2(a) or 2(b), you must withhold taxes on any wages paid that do not meet the requirements of these exemptions.
			</p>
			<p class="mb-10">
				<em>Example:</em> If (a) is marked, the exemption does not apply to wages earned from an enrolled member of a tribe, residing on his or her reservation, when the work is performed outside the reservation. Withholding is required on the wages derived from work performed outside the reservation, based on the number of allowances reported in Section 1. If Section 1 was not completed, the withholding is calculated using zero allowances until a new Form MW-4 is provided for the calculation of the withholding.
			</p>
			<h4>
				<strong>Invalid Forms MW-4</strong>
			</h4>
			<p>
				The following situations make the Form MW-4 invalid:
			</p>
			<ul class="indented-list mb-5">
				<li>
					The form is incomplete or lacks the necessary signatures, or
				</li>
				<li>
					The employer information is incomplete when the Form MW-4 is filed with the department.
				</li>
			</ul>
			<p>
				If, after a review of the Form MW-4, the department revises the number of allowances allowed for the employee or disallows an exemption claimed, you must withhold based on that determination for the remainder of the calendar year, unless:
			</p>
			<ul class="indented-list mb-5">
				<li>
					The employee subsequently files a new Form MW-4 with fewer than 11 allowances, or
				</li>
				<li>
					The department changes its initial determination based on justifications provided by the employee.
				</li>
			</ul>
			<h4>
				<strong>Questions?</strong>
			</h4>
			<p>
				Go to <em>revenue.mt.gov</em> for more information about the Form MW-4, or call our help line at (406) 444-6900.
			</p>
		</div>
	</div>
	<hr class="lifesuite__hr">
   	<div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
    	<$client.env.FormButtons>
    </div>
</main>
