<main class="container-fluid">
  <header class="row border-bottom vspace">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
        <h5><strong>MARYLAND <br class="hidden-xs" /> FORM</strong></h5>
        <h3>
          <strong>MW507</strong>
        </h3>
      </div>
    </div>
  </header>
  <div class="row border-bottom-dotted vspace">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 inner-wrapper col-left">
      <p class="text-justify">
        <strong>Purpose.</strong> Complete Form MW507 so that your employer can withhold the correct Maryland income tax from your pay. Consider completing a new Form MW507 each year and when your personal or financial situation changes.
      </p>
      <p class="text-justify">
        <strong>Basic Instructions.</strong> Enter on line 1 below, the number of personal exemptions you will claim on your tax return. However, if you wish to claim more exemptions, or if your adjusted gross income will be more than $100,000 if you are filing single or married filing separately ($150,000, if you are filing jointly or as head of household), you must complete the Personal Exemption Worksheet on page 2. Complete the Personal Exemption Worksheet on page 2 to further adjust your Maryland withholding based on itemized deductions, and certain other expenses that exceed your standard deduction and are not being claimed at another job or by your spouse. However, you may claim fewer (or zero) exemptions.
      </p>
      <p class="text-justify">
        <strong>Additional withholding per pay period under agreement with employer.</strong> If you are not having enough tax withheld, you may ask your employer to withhold more by entering an additional amount on line 2.
      </p>
      <p class="text-justify">
        Exemption from withholding. You may be entitled to claim an exemption from the withholding of Maryland income tax if:
      </p>
      <ol type="a" class="vspace">
        <li>
          Last year you did not owe any Maryland Income tax and had a right to a full refund of any tax withheld; AND,
        </li>
        <li>
          This year you do not expect to owe any Maryland income tax and expect to have a right to a full refund of all income tax withheld.
        </li>
      </ol>
      <p class="text-justify">
        If you are eligible to claim this exemption, complete Line 3 and your employer will not withhold Maryland income tax from your wages.
      </p>
      <p class="text-justify">
        Students and Seasonal Employees whose annual income will be below the minimum filing requirements should claim exemption from withholding. This provides more income throughout the year and avoids the necessity of filing a Maryland income tax return.
      </p>
      <p class="text-justify">
        <strong>Certification of nonresidence in the State of Maryland.</strong> Complete Line 4. This line is to be completed by residents of the District of Columbia, Virginia or West Virginia who are employed in Maryland and who do not maintain a place of abode in Maryland for 183 days or more.
      </p>
      <p class="text-justify">
        Residents of Pennsylvania who are employed in Maryland and who do not maintain a place of abode in Maryland for 183 days or more, should complete line 5 to exempt themselves from the state portion of the withholding tax. These employees are still liable for withholding tax at the rate in effect for the Maryland county in which they are employed, unless they qualify for an exemption on either line 6 or line 7. Pennsylvania residents of York and Adams counties may claim an exemption from the local withholding tax by completing line 6. Pennsylvania residents living in other local jurisdictions which do not impose an earnings or income tax on Maryland residents may claim an exemption by completing line 7. Employees qualifying for exemption under 6 or 7, should also write “EXEMPT” on line 4.
      </p>
      <p class="text-justify">
        Line 4 is <strong>NOT</strong> to be used by residents of other states who are working in Maryland, because such persons are liable for Maryland income tax and withholding from
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 inner-wrapper col-right">
      <p>
        their wages is required.
      </p>
      <p class="text-justify">
        If you are domiciled in the District of Columbia, Pennsylvania or Virginia and maintain a place of abode in Maryland for 183 days or more, you become a statutory resident of Maryland and you are required to file a resident return with Maryland reporting your total income. You must apply to your domicile state for any tax credit to which you may be entitled under the reciprocal provisions of the law. If you are domiciled in West Virginia, you are not required to pay Maryland income tax on wage or salary income, regardless of the length of time you may have spent in Maryland.
      </p>
      <p class="text-justify">
        Under the Servicemembers Civil Relief Act, as amended by the Military Spouses Residency Relief Act, you may be exempt from Maryland income tax on your wages if (i) your spouse is a member of the armed forces present in Maryland in compliance with military orders; (ii) you are present in Maryland solely to be with your spouse; and (iii) you maintain your domicile in another state. If you claim exemption under the SCRA enter your state of domicile (legal residence) on Line 8; enter “EXEMPT” in the box to the right on Line 8; and attach a copy of your spousal military identification card to Form MW507. <strong>In addition, you must also complete and attach Form MW507M</strong>.
      </p>
      <p class="text-justify">
        <strong>Duties and responsibilities of employer.</strong> Retain this certificate with your records. You are required to submit a copy of this certificate and accompanying attachments to the Compliance Division, Compliance Programs Section, 301 West Preston Street, Baltimore, MD 21201, when received if:
      </p>
      <ol type="1">
        <li>
          You have any reason to believe this certificate is incorrect;
        </li>
        <li>
          The employee claims more than 10 exemptions;
        </li>
        <li>
          The employee claims an exemption from withholding because he/she had no tax liability for the preceding tax year, expects to incur no tax liability this year and the wages are expected to exceed $200 a week;
        </li>
        <li>
          The employee claims an exemption from withholding on the basis of nonresidence; or
        </li>
        <li>
          The employee claims an exemption from withholding under the Military Spouses Residency Relief Act.
        </li>
      </ol>
      <p class="text-justify">
        Upon receipt of any exemption certificate (Form MW507), the Compliance Division will make a determination and notify you if a change is required.
      </p>
      <p class="text-justify">
        Once a certificate is revoked by the Comptroller, the employer must send any new certificate from the employee to the Comptroller for approval before implementing the new certificate.
      </p>
      <p class="text-justify">
        If an employee claims exemption under 3 above, a new exemption certificate must be filed by February 15th of the following year.
      </p>
      <p class="text-justify">
        <strong>Duties and responsibilities of employee.</strong> If, on any day during the calendar year, the number of withholding exemptions that the employee is entitled to claim is less than the number of exemptions claimed on the withholding exemption certificate in effect, the employee must file a new withholding exemption certificate with the employer within 10 days after the change occurs.
      </p>
    </div>
  </div>
  <header class="row vspace">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
        <h5><strong>FORM</strong></h5>
        <h3>
          <strong>MW507</strong>
        </h3>
      </div>
      <h3 class="header-title">
        <strong>
          Employee’s Maryland Withholding Exemption Certificate
        </strong>
      </h3>
    </div>
  </header>
  <div class="row border-top border-bottom border-left border-right">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-hidden-sm border-right inner-wrapper">
      Print full name
      <$client.env.FormField.FullName.HTML>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 inner-wrapper">
      Social Security Number
      <$client.env.FormField.SSN.HTML>
    </div>
  </div>
  <div class="row border-bottom border-left border-right">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-hidden-sm border-right inner-wrapper">
      Street Address, City, State, ZIP
      <div class="invisible">&bsp;</div>
      <div class="inline-block">
        <$client.env.FormField.Address.HTML>
      </div>
      <div class="inline-block">
        <$client.env.FormField.City.HTML>
      </div>
      <div class="inline-block">
        <$client.env.FormField.State.HTML>
      </div>
      <div class="inline-block">
        <$client.env.FormField.Zip.HTML>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 inner-wrapper">
      County of residence (Nonresidents enter Maryland county (or Baltimore City) where you are employed.)
      <$client.env.FormField.County.HTML>
    </div>
  </div>
  <div class="row border-bottom border-left border-right vspace">
    <div class="col-lg-12 text-center inner-wrapper">
      <div class="inline-block label-normal">
        <$client.env.FormField.FilingStatus.HTML>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ol type="1" class="list-no-margin">
        <li>
          <div class="inline-block col-80">
            Total number of exemptions you are claiming not to exceed line f in Personal Exemption Worksheet on page 2
          </div>
          <div class="inline-block col-20 text-right">
            1.
            <div class="inline-block">
              <$client.env.FormField.Exemptions.HTML>
            </div>
          </div>
        </li>
        <li>
          <div class="inline-block col-80">
            Additional withholding per pay period under agreement with employer
          </div>
          <div class="inline-block col-20 text-right">
            2.
            <div class="inline-block">
              <$client.env.FormField.AdditionalWithholding.HTML>
            </div>
          </div>
        </li>
        <li>
          <div class="inline-block">
            I claim exemption from withholding because I do not expect to owe Maryland tax. See instructions above and check boxes that apply.
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="indent-1 label-normal">
        <$client.env.FormField.ExemptA.HTML>
        <$client.env.FormField.ExemptB.HTML>
        <div class="inline-1">
          (This includes seasonal and student employees whose annual income will be below the minimum filing requirements).
        </div>
        <div class="inline-1 clearfix" style="padding-right: 10px;">
          If both a and b apply, enter year applicable
          <div class="inline-block">
            <$client.env.FormField.ExemptYear.HTML>
          </div>
          (year effective) Enter “EXEMPT” here
          <div class="inline-block col-20 text-right pull-right">
            3.
            <div class="inline-block">
              <$client.env.FormField.Exempt3.HTML>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ol type="1" class="list-no-margin" start="4">
        <li>
          <div class="inline-block col-80">
            I claim exemption from withholding because I am domiciled in one of the following states. Check state that applies.
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-no-margin">
        <li>
          <div class="inline-block label-normal">
            <$client.env.FormField.DC.HTML>
          </div>
          <div class="inline-block label-normal">
            <$client.env.FormField.VA.HTML>
          </div>
          <div class="inline-block label-normal">
            <$client.env.FormField.WV.HTML>
          </div>
        </li>
        <li>
          <div class="inline-block">
            I further certify that I do not maintain a place of abode in Maryland as described in the instructions above. Enter “EXEMPT” here
          </div>
          <div class="inline-block col-20 text-right">
            4.
            <div class="inline-block">
              <$client.env.FormField.Exempt4.HTML>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ol type="1" class="list-no-margin" start="5">
        <li>
          <div class="inline-block">
            I claim exemption from Maryland <strong>state</strong> withholding because I am domiciled in the Commonwealth of Pennsylvania and I do not <br>
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-no-margin">
        <li>
          <div class="inline-block col-80">
            maintain a place of abode in Maryland as described in the instructions on Form MW507. Enter “EXEMPT” here
          </div>
          <div class="inline-block col-20 text-right">
            5.
            <div class="inline-block">
              <$client.env.FormField.Exempt5.HTML>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ol type="1" class="list-no-margin" start="6">
        <li>
          <div class="inline-block">
            I claim exemption from Maryland <strong>local</strong> tax because I live in a local Pennysylvania jurisdiction within York or Adams counties.
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-no-margin">
        <li>
          <div class="inline-block col-80">
            Enter “EXEMPT” here and on line 4 of Form MW507
          </div>
          <div class="inline-block col-20 text-right">
            6.
            <div class="inline-block">
              <$client.env.FormField.Exempt6.HTML>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ol type="1" class="list-no-margin" start="7">
        <li>
          <div class="inline-block">
            I claim exemption from Maryland <strong>local</strong> tax because I live in a local Pennsylvania jurisdiction that does not impose an earnings or income
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-no-margin">
        <li>
          <div class="inline-block col-80">
            tax on Maryland residents. Enter “EXEMPT” here and on line 4 of Form MW507
          </div>
          <div class="inline-block col-20 text-right">
            7.
            <div class="inline-block">
              <$client.env.FormField.Exempt7.HTML>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ol type="1" class="list-no-margin" start="8">
        <li>
          <div class="inline-block">
            I certify that I am a legal resident of the state of
          </div>
          <div class="inline-block">
            <$client.env.FormField.StateOfResidence.HTML>
          </div>
          <div class="inline-block">
            and am not subject to Maryland withholding because l meet the requirements
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-no-margin">
        <li>
          <div class="inline-block col-80">
            set forth under the Servicemembers Civil Relief Act, as amended by the Military Spouses Residency Relief Act. Enter “EXEMPT” here
          </div>
          <div class="inline-block col-20 text-right">
            8.
            <div class="inline-block">
              <$client.env.FormField.Exempt8.HTML>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>
        <strong>Under the penalty of perjury</strong>, I further certify that I am entitled to the number of withholding allowances claimed on line 1 above, or if claiming exemption from withholding, that I am entitled to claim the exempt status on whichever line(s) I completed.
      </p>
    </div>
  </div>
  <div class="row border-top border-bottom">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 border-right border-hidden-sm inner-wrapper">
      Employee's signature
      <$client.env.FormField.Signature.HTML>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 inner-wrapper">
      Date
      <div>
        <$client.env.FormField.DateSigned.HTML>
      </div>
    </div>
  </div>
  <div class="row border-bottom vspace">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 border-right border-hidden-sm inner-wrapper">
      Employee's name and address including ZIP code (For employer use only)
      <div class="vspace">
        <$client.env.FormField.EmployerName.HTML>
      </div>
      <div class="inline-block">
        <$client.env.FormField.EmployerAddress.HTML>
      </div>
      <div class="inline-block">
        <$client.env.FormField.EmployerCity.HTML>
      </div>
      <div class="inline-block">
        <$client.env.FormField.EmployerState.HTML>
      </div>
      <div class="inline-block">
        <$client.env.FormField.EmployerZip.HTML>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 inner-wrapper">
      Federal Employer Identification Number
      <$client.env.FormField.EIN.HTML>
    </div>
  </div>
  <header class="row border-bottom vspace border-thick">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
        <h5><strong>MARYLAND</strong></h5>
        <h5><strong>FORM</strong></h5>
        <h3>
          <strong>MW507</strong>
        </h3>
      </div>
    </div>
    <div class="col-lg-12 border-top border-thick">
      <h3 class="header-title text-center">
        <strong>Personal Exemptions Worksheet</strong>
      </h3>
    </div>
  </header>
  <div class="row border-bottom border-thick vspace">
    <div class="col-lg-12">
      <p>
        <strong>Line 1</strong>
      </p>
    </div>
    <div class="col-lg-12 tri-col">
      <div class="inline-block">
        <strong>a.</strong>
      </div><!--
      --><div class="inline-block">
        Multiply the number of your personal exemptions by the value of each exemption from the table below. (Generally the value of your exemption will be $3,200; however, if your federal adjusted gross income is expected to be over $100,000, the value of your exemption may be reduced. <strong>Do not claim any personal exemptions you currently claim at another job, or any exemptions being claimed by your spouse</strong>. To qualify as your dependent, you must be entitled to an exemption for the dependent on your federal income tax return for the corresponding tax year. <strong>NOTE:</strong> Dependent taxpayers may not claim themselves as an exemption
      </div><!--
      --><div class="inline-block text-right">
        a.
        <div class="inline-block">
          <$client.env.FormField.a.HTML>
        </div>
      </div>
    </div>
    <div class="col-lg-12 tri-col">
      <div class="inline-block">
        <strong>b.</strong>
      </div><!--
      --><div class="inline-block">
        Multiply the number of additional exemptions you are claiming for dependents age 65 or over by the value of each exemption from the table below.
      </div><!--
      --><div class="inline-block text-right">
        b.
        <div class="inline-block">
          <$client.env.FormField.b.HTML>
        </div>
      </div>
    </div>
    <div class="col-lg-12 tri-col">
      <div class="inline-block">
        <strong>c.</strong>
      </div><!--
      --><div class="inline-block">
        Enter the estimated amount of your itemized deductions (excluding state and local income taxes) that exceed the amount of your standard deduction, alimony payments, allowable childcare expenses, qualified retirement contributions, business losses and employee business expenses for the year. Do not claim any additional amounts you currently claim at another job or any amounts being claimed by your spouse. <strong>NOTE:</strong> Standard deduction allowance is 15% of Maryland adjusted gross income with a minimum of $1,500 and a maximum of $2,000
      </div><!--
      --><div class="inline-block text-right">
        c.
        <div class="inline-block">
          <$client.env.FormField.c.HTML>
        </div>
      </div>
    </div>
    <div class="col-lg-12 tri-col">
      <div class="inline-block">
        <strong>d.</strong>
      </div><!--
      --><div class="inline-block">
        Enter $1,000 for additional exemptions for taxpayer and/or spouse age 65 or over and/or blind
      </div><!--
      --><div class="inline-block text-right">
        d.
        <div class="inline-block">
          <$client.env.FormField.d.HTML>
        </div>
      </div>
    </div>
    <div class="col-lg-12 tri-col">
      <div class="inline-block">
        <strong>e.</strong>
      </div><!--
      --><div class="inline-block">
        Add total of lines <strong>a</strong> through <strong>d</strong>
      </div><!--
      --><div class="inline-block text-right">
        e.
        <div class="inline-block">
          <$client.env.FormField.e.HTML>
        </div>
      </div>
    </div>
    <div class="col-lg-12 tri-col">
      <div class="inline-block">
        <strong>f.</strong>
      </div><!--
      --><div class="inline-block">
        Divide the amount on line e by $3,200. <strong>Drop any fraction. Do not round up.</strong> This is the maximum number of exemptions you may claim for withholding tax purposes
      </div><!--
      --><div class="inline-block text-right">
        f.
        <div class="inline-block">
          <$client.env.FormField.f.HTML>
        </div>
      </div>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="responsive-table vspace">
        <table class="table table-bordered border-thick table-hover block-center">
          <tbody>
            <tr class="border-thick">
              <td rowspan="2" valign="middle" class="text-center border-thick" colspan="2">
                <strong>
                  If your federal AGI is
                </strong>
              </td>
              <td class="text-center border-thick" colspan="2">
                <strong>If you will file your tax return</strong>
              </td>
            </tr>
            <tr class="border-thick">
              <td class="text-center border-thick">
                Single or Married Filing Separately <br>
                <strong>Your Exemption is</strong>
              </td>
              <td class="text-center border-thick">
                Joint, Head of Household or Qualifying Widow(er) <br>
                <strong>
                  Your Exemption is
                </strong>
              </td>
            </tr>
            <tr>
              <td class="text-center" colspan="2">
                <strong>$100,000 or less</strong>
              </td>
              <td class="text-center">
                <strong>$3,200</strong>
              </td>
              <td class="text-center">
                <strong>$3,200</strong>
              </td>
            </tr>
            <tr>
              <td class="text-center"><strong>Over</strong></td>
              <td class="text-center"><strong>But not over</strong></td>
              <td class="text-center bg-gray"><strong>&nbsp;</strong></td>
              <td class="text-center bg-gray"><strong>&nbsp;</strong></td>
            </tr>
            <tr>
              <td class="text-center"><strong>$100,000</strong></td>
              <td class="text-center"><strong>$125,000</strong></td>
              <td class="text-center"><strong>$1,600</strong></td>
              <td class="text-center"><strong>$3,200</strong></td>
            </tr>
            <tr>
              <td class="text-center"><strong>$125,000</strong></td>
              <td class="text-center"><strong>$150,000</strong></td>
              <td class="text-center"><strong>$800</strong></td>
              <td class="text-center"><strong>$3,200</strong></td>
            </tr>
            <tr>
              <td class="text-center"><strong>$150,000</strong></td>
              <td class="text-center"><strong>$175,000</strong></td>
              <td class="text-center"><strong>$0</strong></td>
              <td class="text-center"><strong>$1,600</strong></td>
            </tr>
            <tr>
              <td class="text-center"><strong>$175,000</strong></td>
              <td class="text-center"><strong>$200,000</strong></td>
              <td class="text-center"><strong>$0</strong></td>
              <td class="text-center"><strong>$800</strong></td>
            </tr>
            <tr>
              <td class="text-center" colspan="2"><strong>In excess of $200,000</strong></td>
              <td class="text-center"><strong>$0</strong></td>
              <td class="text-center"><strong>$0</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <header class="row border-top border-bottom vspace border-thick">
    <h4 class="header-title text-center">FEDERAL PRIVACY ACT INFORMATION</h4>
  </header>
  <div class="row border-bottom border-thick vspace">
    <div class="col-lg-12">
      <p class="text-justify">
        Social Security numbers must be included. The mandatory disclosure of your Social Security number is authorized by the provisions set forth in the Tax-General Article of the Annotated Code of Maryland. Such numbers are used primarily to administer and enforce the individual income tax laws and to exchange income tax information with the Internal Revenue Service, other states and other tax officials of this state. Information furnished to other agencies or persons shall be used solely for the purpose of administering tax laws or the specific laws administered by the person having statutory right to obtain it.
      </p>
    </div>
  </div>
  <footer class="row vspace">
    <div class="col-lg-12">
      COM/RAD-036 18-49
    </div>
  </footer>
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>
