<div class="container-fluid">
  <div class="row hide">
    <div class="col-lg-12">
      <h2 class="text-center">For Delaware Purposes Only</h2>
    </div>
  </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-md-12 lifesuite__clearfix text">
                    <div style="border-top: 2px solid #000000;" class="three-column">
                        <div style="font-size: 20px !important; border-bottom: 3px solid #000000;" class="bold larger-text">Form W-4 (2018)</div>
                        <div class="section">
                            <span class="bold">Future developments.</span> For the latest information about any future developments related to Form W-4, such as legislation enacted after it was published, go to <span class="italic">www.irs.gov/FormW4</span>.
                        </div>
                        <div class="section">
                            <span class="bold">Purpose.</span> Complete Form W-4 so that your employer can withhold the correct federal income tax from your pay. Consider completing a new Form W-4 each year and when your personal or financial situation changes.
                        </div>
                        <div class="section">
                            <span class="bold">Exemption from withholding.</span> You may claim exemption from withholding for 2018 if <span class="bold">both</span> of the following apply.
                            <ul>
                                <li>
                                    For 2017 you had a right to a refund of <span class="bold">all</span> federal income tax withheld because you had <span class="bold">no</span> tax liability, <span class="bold">and</span>
                                </li>
                                <li>
                                    For 2018 you expect a refund of <span class="bold">all</span> federal income tax withheld because you expect to have <span class="bold">no</span> tax liability.
                                </li>
                            </ul>
                            If you’re exempt, complete <span class="bold">only</span> lines 1, 2, 3, 4, and 7 and sign the form to validate it. Your exemption for 2018 expires February 15, 2019. See Pub. 505, Tax Withholding and Estimated Tax, to learn more about whether you qualify for exemption from withholding.
                        </div>
                        <div class="section">
                            <div class="bold larger-text">General Instructions</div>
                            If you aren’t exempt, follow the rest of these instructions to determine the number of withholding allowances you should claim for withholding for 2018 and any additional amount of tax to have withheld. For regular wages, withholding must be based on allowances you claimed and may not be a flat amount or percentage of wages.
                            <div class="indented-text">You can also use the calculator at <span class="bold italic">www.irs.gov/W4App</span> to determine your tax withholding more accurately. Consider using this calculator if you have a more complicated tax situation, such as if you have a working spouse, more than one job, or a large amount of nonwage income outside of your job. After your Form W-4 takes effect, you can also use this calculator to see how the amount of tax you’re having withheld compares to your projected total tax for 2018. If you use the calculator, you don’t need to complete any of the worksheets for Form W-4.</div>
                            <div class="indented-text">Note that if you have too much tax withheld, you will receive a refund when you file your tax return. If you have too little tax withheld, you will owe tax when you file your tax return, and you might owe a penalty.</div>
                        </div>
                        <div class="section">
                            <span class="bold">Filers with multiple jobs or working spouses.</span> If you have more than one job at a time, or if you’re married and your spouse is also working, read all of the instructions including the instructions for the Two-Earners/Multiple Jobs Worksheet before beginning.
                        </div>
                        <div class="section">
                            <span class="bold">Nonwage income.</span> If you have a large amount of nonwage income, such as interest or dividends, consider making estimated tax payments using Form 1040-ES, Estimated Tax for Individuals. Otherwise, you might owe additional tax. Or, you can use the Deductions, Adjustments, and Other Income Worksheet on page 3 or the calculator at <span class="italic">www.irs.gov/W4App</span> to make sure you have enough tax withheld from your paycheck. If you have pension or annuity income, see Pub. 505 or use the calculator at <span class="italic">www.irs.gov/W4App</span> to find out if you should adjust your withholding on Form W-4 or W-4P.
                        </div>
                        <div class="section">
                            <span class="bold">Nonresident alien.</span> If you’re a nonresident alien, see Notice 1392, Supplemental Form W-4 Instructions for Nonresident Aliens, before completing this form.
                        </div>
                        <div class="section">
                            <h3><strong>Specific Instructions</strong></h3>
                        </div>
                        <div class="section">
                            <div class="bold larger-text">Personal Allowances Worksheet</div> Complete this worksheet on page 3 first to determine the number of withholding allowances to claim.
                        </div>
                        <div class="section">
                            <span class="bold italic">Line C. Head of household please note:</span> Generally, you can claim head of household filing status on your tax return only if you’re unmarried and pay more than 50% of the costs of keeping up a home for yourself and a qualifying individual. See Pub. 501 for more information about filing status.
                        </div>
                        <div class="section">
                            <span class="bold">Line E. Child tax credit.</span> When you file your tax return, you might be eligible to claim a credit for each of your qualifying children. To qualify, the child must be under age 17 as of December 31 and must be your dependent who lives with you for more than half the year. To learn more about this credit, see Pub. 972, Child Tax Credit. To reduce the tax withheld from your pay by taking this credit into account, follow the instructions on line E of the worksheet. On the worksheet you will be asked about your total income. For this purpose, total income includes all of your wages and other income, including income earned by a spouse, during the year.
                        </div>
                        <div class="section">
                            <span class="bold">Line F. Credit for other dependents.</span> When you file your tax return, you might be eligible to claim a credit for each of your dependents that don’t qualify for the child tax credit, such as any dependent children age 17 and older. To learn more about this credit, see Pub. 505. To reduce the tax withheld from your pay by taking this credit into account, follow the instructions on line F of the worksheet. On the worksheet, you will be asked about your total income. For this purpose, total income includes all of
                        </div>
                    </div>
                </div>
            </div>
            <div style="min-height: 10px; height: 10px;"></div>
            <div class="row">
                <div class="col-xs-12 col-md-12 lifesuite__clearfix center bold text">
                    Separate here and give Form W-4 to your employer. Keep the worksheet(s) for your records.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-2 lifesuite__clearfix align-left tiny-text">
                    Form <span style="font-size: 25px;" class="bold">W-4</span><br>
                    Department of the Treasury<br>
                    Internal Revenue Service
                </div>
                <div class="col-xs-12 col-md-8 lifesuite__clearfix center bold smaller-text header">
                    <div style="margin-bottom: 5px;" class="larger-text">Employee’s Withholding Allowance Certificate</div>
                    ► Whether you’re entitled to claim a certain number of allowances or exemption from withholding is<br>
                    subject to review by the IRS. Your employer may be required to send a copy of this form to the IRS.
                </div>
                <div class="col-xs-12 col-md-2 lifesuite__clearfix center smaller-text">
                    OMB No. 1545-0074
                    <div style="font-size: 30px;"><span class="outlined-text">20</span>18</div>
                </div>
            </div>
            <div class="outer-border">
                <div class="row bordered">
                    <div class="col-xs-12 col-md-12 lifesuite__clearfix text bordered">
                        <table>
                            <tr>
                                <td><$client.env.formfield.NonResidentAlien.HTML></td>
                                <td><span class="bold">Nonresident aliens</span>, please check this box before continuing.</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row bordered">
                    <div class="col-xs-12 col-md-6 lifesuite__clearfix text bordered">
                        <div class="inner-border">
                            <div style="padding-left: 3px;" class="row bordered">
                                <div style="width: 59%" class="inline-block">
                                    <div class="bold list-item">1</div><div class="list-content">Your first name and middle initial</div>
                                    <$client.env.FormField.FirstNameMiddleInitial.HTML>
                                </div>
                                <div style="width: 40%" class="inline-block">
                                    Last name
                                    <$client.env.FormField.LastName.HTML>
                                </div>
                            </div>
                            <div style="padding-left: 3px;" class="row bordered">
                                Home address (number and street or rural route)
                                <$client.env.FormField.Address.HTML>
                            </div>
                            <div style="padding-left: 3px;" class="row bordered">
                                City or town, state, and ZIP code
                                <$client.env.FormField.CityStateZip.HTML>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 lifesuite__clearfix text bordered">
                        <div class="inner-border">
                            <div style="padding-left: 3px;" class="row bordered">
                                <div class="bold list-item">2</div><div class="bold list-content">Your social security number</div>
                                <$client.env.FormField.SSN.HTML>
                            </div>
                            <div style="padding-left: 3px;" class="row bordered">
                                <div class="bold list-item">3</div><div class="bold list-content"><$client.env.FormField.FilingStatus.HTML></div>
                                <span class="bold smaller-text">Note:</span> If married filing separately, check “Married, but withhold at higher Single rate.”
                            </div>
                            <div style="padding-left: 3px;" class="row bordered">
                                <div class="bold list-item">4</div>
                                <div class="bold list-content">
                                    <span style="width: 85%" class="inline-block">
                                        If your last name differs from that shown on your social security card, check here. You must call 800-772-1213 for a replacement card.
                                    </span>
                                    <span style="width: 5%" class="inline-block">►</span>
                                    <span style="width: 5%" class="inline-block"><$client.env.FormField.NameDiffers.HTML></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-9 lifesuite__clearfix text bordered adjust-height">
                        <div class="bold list-item">5</div><div class="list-content">Total number of allowances you’re claiming (from the applicable worksheet on the following pages)</div>
                    </div>
                    <div class="col-xs-6 col-md-3 lifesuite__clearfix text">
                        <span class="input-label-bordered">5</span><span class="input-field-bordered"><$client.env.FormField.Allowances.HTML></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-9 lifesuite__clearfix text adjust-height">
                        <div class="bold list-item">6</div><div class="list-content">Additional amount, if any, you want withheld from each paycheck</div>
                    </div>
                    <div class="col-xs-6 col-md-3 lifesuite__clearfix text">
                        <span class="input-label-bordered">6</span><!--
                      --><span class="input-label-bordered">
                        $
                      </span><!--
                      --><span class="input-field-bordered" style="width: 79%;">
                        <$client.env.FormField.AdditionalWithholding.HTML>
                      </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-9 lifesuite__clearfix text bordered adjust-height">
                        <div class="bold list-item">7</div>
                        <div class="list-content">
                            I claim exemption from withholding for 2018, and I certify that I meet <span class="bold">both</span> of the following conditions for exemption.
                            <ul>
                                <li>Last year I had a right to a refund of <span class="bold">all</span> federal income tax withheld because I had <span class="bold">no</span> tax liability, <span class="bold">and</span></li>
                                <li>This year I expect a refund of <span class="bold">all</span> federal income tax withheld because I expect to have <span class="bold">no</span> tax liability.</li>
                            </ul>
                            If you meet both conditions, write “Exempt” here
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 lifesuite__clearfix text bordered">
                        <span class="input-label-bordered">7</span><span class="input-field-bordered"><$client.env.FormField.Exempt.HTML></span>
                    </div>
                </div>
                <div class="row">
                    <div style="border-top: 1px solid #000000;" class="col-xs-12 col-md-12 lifesuite__clearfix text">
                        Under penalties of perjury, I declare that I have examined this certificate and, to the best of my knowledge and belief, it is true, correct, and complete.
                    </div>
                </div>
                <div style="min-height: 20px; height: 20px;"></div>
                <div class="row bordered">
                    <div class="col-xs-12 col-md-2 lifesuite__clearfix text">
                        <span class="bold">Employee’s signature</span><br>
                        (This form is not valid unless you sign it.) ►
                    </div>
                    <div class="col-xs-12 col-md-5 lifesuite__clearfix text">
                        <$client.env.FormField.Signature.HTML>
                    </div>
                    <div class="col-xs-12 col-md-1 lifesuite__clearfix text">
                        Date ►
                    </div>
                    <div class="col-xs-12 col-md-4 lifesuite__clearfix text">
                        <$client.env.FormField.DateSigned.HTML>
                    </div>
                </div>
                <div class="row bordered">
                    <div class="col-xs-12 col-md-7 lifesuite__clearfix text bordered">
                        <div class="bold list-item">8</div><div class="list-content">Employer’s name and address (<span class="bold">Employer:</span> Complete boxes 8 and 10 if sending to IRS and complete boxes 8, 9, and 10 if sending to State Directory of New Hires.)</div>
                        <$client.env.FormField.EmployerNameAddress.HTML>
                    </div>
                    <div class="col-xs-12 col-md-2 lifesuite__clearfix text bordered">
                        <div class="bold list-item">9</div><div class="list-content">First date of employment</div>
                        <$client.env.FormField.FirstDateEmployment.HTML>
                    </div>
                    <div class="col-xs-12 col-md-3 lifesuite__clearfix text bordered">
                        <div class="bold list-item">10</div><div class="list-content">Employer identification number (EIN)</div>
                        <$client.env.formfield.EIN.html>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 lifesuite__clearfix text">
                    <div class="three-column">
                        <div class="section">
                            your wages and other income, including income earned by a spouse, during the year.
                        </div>
                        <div class="section">
                            <span class="bold">Line G. Other credits.</span> You might be able to reduce the tax withheld from your paycheck if you expect to claim other tax credits, such as the earned income tax credit and tax credits for education and child care expenses. If you do so, your paycheck will be larger but the amount of any refund that you receive when you file your tax return will be smaller. Follow the instructions for Worksheet 1-6 in Pub. 505 if you want to reduce your withholding to take these credits into account.
                        </div>
                        <div class="section">
                            <div class="bold larger-text">Deductions, Adjustments, and Additional Income Worksheet</div>
                            Complete this worksheet to determine if you’re able to reduce the tax withheld from your paycheck to account for your itemized deductions and other adjustments to income such as IRA contributions. If you do so, your refund at the end of the year will be smaller, but your paycheck will be larger. You’re not required to complete this worksheet or reduce your withholding if you don’t wish to do so.
                            <div class="indented-text">You can also use this worksheet to figure out how much to increase the tax withheld from your paycheck if you have a large amount of nonwage income, such as interest or dividends.</div>
                            <div class="indented-text">Another option is to take these items into account and make your withholding more accurate by using the calculator at <span class="italic">www.irs.gov/W4App</span>. If you use the calculator, you don’t need to complete any of the worksheets for Form W-4.</div>
                        </div>
                        <div class="section">
                            <div class="bold larger-text">Two-Earners/Multiple Jobs Worksheet</div>
                            <div class="indented-text">Complete this worksheet if you have more than one job at a time or are married filing jointly and have a working spouse. If you don’t complete this worksheet, you might have too little tax withheld. If so, you will owe tax when you file your tax return and might be subject to a penalty.</div>
                            <div class="indented-text">Figure the total number of allowances you’re entitled to claim and any additional amount of tax to withhold on all jobs using worksheets from only one Form W-4. Claim all allowances on the W-4 that you or your spouse file for the highest paying job in your family and claim zero allowances on Forms W-4 filed for all other jobs. For example, if you earn $60,000 per year and your spouse earns $20,000, you should complete the worksheets to determine what to enter on lines 5 and 6 of your Form W-4, and your spouse should enter zero (“-0-”) on lines 5 and 6 of his or her Form W-4. See Pub. 505 for details.</div>
                            <div class="indented-text">Another option is to use the calculator at <span class="italic">www.irs.gov/W4App</span> to make your
withholding more accurate.</div>
                            <span class="bold">Tip:</span> If you have a working spouse and your incomes are similar, you can check the “Married, but withhold at higher Single rate” box instead of using this worksheet. If you choose this option, then each spouse should fill out the Personal Allowances Worksheet and check the “Married, but withhold at higher Single rate” box on Form W-4, but only one spouse should claim any allowances for credits or fill out the Deductions, Adjustments, and Additional Income Worksheet.
                        </div>
                        <div class="section">
                            <div class="bold larger-text">Instructions for Employer</div>
                            <div class="bold">Employees, do not complete box 8, 9, or 10. Your employer will complete these boxes if necessary.</div>
                        </div>
                        <div class="section">
                            <span class="bold">New hire reporting.</span> Employers are required by law to report new employees to a designated State Directory of New Hires. Employers may use Form W-4, boxes 8, 9, and 10 to comply with the new hire reporting requirement for a newly hired employee. A newly hired employee is an employee who hasn’t previously been employed by the employer, or who was previously employed by the employer but has been separated from such prior employment for at least 60 consecutive days. Employers should contact the appropriate State Directory of New Hires to find out how to submit a copy of the completed Form W-4. For information and links to each designated State Directory of New Hires (including for U.S. territories), go to <span class="bold italic">www.acf.hhs.gov/programs/css/employers</span>.
                            <div class="indented-text">If an employer is sending a copy of Form W-4 to a designated State Directory of New Hires to comply with the new hire reporting requirement for a newly hired employee, complete boxes 8, 9, and 10 as follows.</div>
                        </div>
                        <div class="section">
                            <span class="bold">Box 8.</span> Enter the employer’s name and address. If the employer is sending a copy of this form to a State Directory of New Hires, enter the address where child support agencies should send income withholding orders.
                        </div>
                        <div class="section">
                            <span class="bold">Box 9.</span> If the employer is sending a copy of this form to a State Directory of New Hires, enter the employee’s first date of employment, which is the date services for payment were first performed by the employee. If the employer rehired the employee after the employee had been separated from the employer’s service for at least 60 days, enter the rehire date.
                        </div>
                        <div class="section">
                            <span class="bold">Box 10.</span> Enter the employer’s employer identification number (EIN).
                        </div>
                    </div>
                </div>
            </div>
            <div style="min-height: 20px; height: 20px;"></div>
            <div class="bordered-left bordered-right bordered-top bordered-bottom">
                <div class="row bordered-bottom">
                    <div class="col-xs-12 col-md-12 lifesuite__clearfix center text">
                        <span class="bold">Personal Allowances Worksheet</span> (Keep for your records.)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">A</div><div class="list-content">Enter “1” for yourself</div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">A</span><span class="input-field"><$client.env.FormField.PAWorksheetA.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px;"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">B</div><div class="list-content">Enter “1” if you will file as married filing jointly</div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">B</span><span class="input-field"><$client.env.FormField.PAWorksheetB.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px;"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">C</div><div class="list-content">Enter “1” if you will file as head of household</div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">C</span><span class="input-field"><$client.env.FormField.PAWorksheetC.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px;"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">D</div>
                        <div class="list-content">
                            <div class="inline-block vertical-top col-15">Enter “1” if:</div>
                            <div class="col-100-sm col-85 vertical-top inline-block">
                                <div class="bracket2 inline-block col-5 col-15-sm vertical-top">{</div>
                                <div class="col-85 col-65-sm vertical-top inline-block">
                                    <ul>
                                        <li>You’re single, or married filing separately, and have only one job; or</li>
                                        <li>You’re married filing jointly, have only one job, and your spouse doesn’t work; or</li>
                                        <li>Your wages from a second job or your spouse’s wages (or the total of both) are $1,500 or less.</li>
                                    </ul>
                                </div>
                                <div class="bracket2 inline-block col-5 col-15-sm vertical-top">}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">D</span><span class="input-field"><$client.env.FormField.PAWorksheetD.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px;"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">E</div>
                        <div class="list-content">
                        <span class="bold">Child tax credit.</span> See Pub. 972, Child Tax Credit, for more information.
                        <ul>
                            <li>If your total income will be less than $69,801 ($101,401 if married filing jointly), enter “4” for each eligible child.</li>
                            <li>If your total income will be from $69,801 to $175,550 ($101,401 to $339,000 if married filing jointly), enter “2” for each
    eligible child.</li>
                            <li>If your total income will be from $175,551 to $200,000 ($339,001 to $400,000 if married filing jointly), enter “1” for
    each eligible child.</li>
                            <li>If your total income will be higher than $200,000 ($400,000 if married filing jointly), enter “-0-”</li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">E</span><span class="input-field"><$client.env.FormField.PAWorksheetE.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px;"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">F</div>
                        <div class="list-content">
                            <span class="bold">Credit for other dependents.</span>
                            <ul>
                                <li>If your total income will be less than $69,801 ($101,401 if married filing jointly), enter “1” for each eligible dependent.</li>
                                <li>If your total income will be from $69,801 to $175,550 ($101,401 to $339,000 if married filing jointly), enter “1” for every two dependents (for example, “-0-” for one dependent, “1” if you have two or three dependents, and “2” if you have four dependents).</li>
                                <li>If your total income will be higher than $175,550 ($339,000 if married filing jointly), enter “-0-”</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">F</span><span class="input-field"><$client.env.FormField.PAWorksheetF.HTML></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">G</div><div class="list-content"><span class="bold">Other credits.</span> If you have other credits, see Worksheet 1-6 of Pub. 505 and enter the amount from that worksheet here</div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">G</span><span class="input-field"><$client.env.FormField.PAWorksheetG.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px;"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">H</div><div class="list-content">Add lines A through G and enter the total here</div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">H</span><span class="input-field"><$client.env.FormField.PAWorksheetH.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px;"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 lifesuite__clearfix text">
                        <div class="bold list-item"></div>
                        <div class="list-content">
                            <div style="width: 10%; vertical-align: top;" class="inline-block">
                                <span class="smaller-text">For accuracy,<br>
                                <span class="bold smaller-text">complete all</span><br>
                                <span class="bold smaller-text">worksheets</span><br>
                                <span class="bold smaller-text">that apply.</span>
                            </div>
                            <div style="width: 80%;" class="inline-block indented smaller-text">
                                <ul>
                                    <li>If you plan to <span class="bold">itemize</span> or <span class="bold">claim adjustments to income</span> and want to reduce your withholding, or if you have a large amount of nonwage income and want to increase your withholding, see the <span class="bold">Deductions, Adjustments, and Additional Income Worksheet</span> below.</li>
                                    <li>If you <span class="bold">have more than one job at a time</span> or are <span class="bold">married filing jointly and you and your spouse both work</span>, and the combined earnings from all jobs exceed $52,000 ($24,000 if married filing jointly), see the <span class="bold">Two-Earners/Multiple Jobs Worksheet</span> on page 4 to avoid having too little tax withheld.</li>
                                    <li>If neither of the above situations applies, stop here and enter the number from line H on line 5 of Form W-4 above.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bordered-top bordered-bottom">
                    <div class="col-xs-12 col-md-12 lifesuite__clearfix center bold text">
                        Deductions, Adjustments, and Additional Income Worksheet
                    </div>
                </div>
                <div style="min-height: 5px; height: 5px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 lifesuite__clearfix text">
                        <span class="bold">Note:</span> Use this worksheet <span class="italic">only</span> if you plan to itemize deductions, claim certain adjustments to income, or have a large amount of nonwage income.
                    </div>
                </div>
                <div style="min-height: 5px; height: 5px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">1</div>
                        <div class="list-content">
                            Enter an estimate of your 2018 itemized deductions. These include qualifying home mortgage interest, charitable contributions, state and local taxes (up to $10,000), and medical expenses in excess of 7.5% of your income. See Pub. 505 for details
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">1</span><span class="currency">$</span><span class="input-field-currency"><$client.env.FormField.DAWorksheet1.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">2</div>
                        <div class="list-content">
                            <div class="col-15 inline-block vertical-top">Enter:</div>
                            <div class="col-100-sm col-85 inline-block vertical-top">
                                <div class="bracket inline-block vertical-top col-15-sm col-5">{</div>
                                <div class="inline-block vertical-top col-65-sm col-85">
                                    $24,000 if you’re married filing jointly or qualifying widow(er)<br>
                                    $18,000 if you’re head of household<br>
                                    $12,000 if you’re single or married filing separately<br>
                                </div>
                                <div class="bracket inline-block vertical-top col-15-sm col-5">}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">2</span><span class="currency">$</span><span class="input-field-currency"><$client.env.FormField.DAWorksheet2.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">3</div>
                        <div class="list-content">
                            <span class="bold">Subtract</span> line 2 from line 1. If zero or less, enter “-0-”
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">3</span><span class="currency">$</span><span class="input-field-currency"><$client.env.FormField.DAWorksheet3.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">4</div>
                        <div class="list-content">
                            Enter an estimate of your 2018 adjustments to income and any additional standard deduction for age or blindness (see Pub. 505 for information about these items)
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">4</span><span class="currency">$</span><span class="input-field-currency"><$client.env.FormField.DAWorksheet4.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">5</div>
                        <div class="list-content">
                            <span class="bold">Add</span> lines 3 and 4 and enter the total
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">5</span><span class="currency">$</span><span class="input-field-currency"><$client.env.FormField.DAWorksheet5.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">6</div>
                        <div class="list-content">
                            Enter an estimate of your 2018 nonwage income (such as dividends or interest)
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">6</span><span class="currency">$</span><span class="input-field-currency"><$client.env.FormField.DAWorksheet6.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">7</div>
                        <div class="list-content">
                            <span class="bold">Subtract</span> line 6 from line 5. If zero, enter “-0-”. If less than zero, enter the amount in parentheses
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">7</span><span class="currency">$</span><span class="input-field-currency"><$client.env.FormField.DAWorksheet7.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">8</div>
                        <div class="list-content">
                            <span class="bold">Divide</span> the amount on line 7 by $4,150 and enter the result here. If a negative amount, enter in parentheses. Drop any fraction
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">8</span><span class="currency"></span><span class="input-field-currency"><$client.env.FormField.DAWorksheet8.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">9</div>
                        <div class="list-content">
                            Enter the number from the <span class="bold">Personal Allowances Worksheet</span>, line H above
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">9</span><span class="currency"></span><span class="input-field-currency"><$client.env.FormField.DAWorksheet9.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">10</div>
                        <div class="list-content">
                            <span class="bold">Add</span> lines 8 and 9 and enter the total here. If zero or less, enter “-0-”. If you plan to use the <span class="bold">Two-Earners/Multiple Jobs Worksheet,</span> also enter this total on line 1, page 4. Otherwise, <span class="bold">stop here</span> and enter this total on Form W-4, line 5, page 1
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">10</span><span class="currency"></span><span class="input-field-currency"><$client.env.FormField.DAWorksheet10.HTML></span>
                    </div>
                </div>
                <div class="row bordered-top bordered-bottom">
                    <div class="col-xs-12 col-md-12 lifesuite__clearfix center bold text">
                        Two-Earners/Multiple Jobs Worksheet
                    </div>
                </div>
                <div style="min-height: 5px; height: 5px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 lifesuite__clearfix text">
                        <span class="bold">Note:</span> Use this worksheet <span class="italic">only</span> if the instructions under line H from the <span class="bold">Personal Allowances Worksheet</span> direct you here.
                    </div>
                </div>
                <div style="min-height: 5px; height: 5px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">1</div>
                        <div class="list-content">
                            Enter the number from the <span class="bold">Personal Allowances Worksheet,</span> line H, page 3 (or, if you used the <span class="bold">Deductions, Adjustments, and Additional Income Worksheet</span> on page 3, the number from line 10 of that worksheet)
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">1</span><span class="currency"></span><span class="input-field-currency"><$client.env.FormField.MJWorksheet1.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">2</div>
                        <div class="list-content">
                            Find the number in <span class="bold">Table 1</span> below that applies to the <span class="bold">LOWEST</span> paying job and enter it here. <span class="bold">However,</span> if you’re married filing jointly and wages from the highest paying job are $75,000 or less and the combined wages for you and your spouse are $107,000 or less, don’t enter more than “3”
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">2</span><span class="currency"></span><span class="input-field-currency"><$client.env.FormField.MJWorksheet2.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">3</div>
                        <div class="list-content">
                            If line 1 is <span class="bold">more than or equal to</span> line 2, subtract line 2 from line 1. Enter the result here (if zero, enter “-0-”) and on Form W-4, line 5, page 1. <span class="bold">Do not</span> use the rest of this worksheet
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">3</span><span class="currency"></span><span class="input-field-currency"><$client.env.FormField.MJWorksheet3.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 lifesuite__clearfix text">
                        <span class="bold">Note:</span> If line 1 is <span class="bold">less than</span> line 2, enter “-0-” on Form W-4, line 5, page 1. Complete lines 4 through 9 below to figure the additional withholding amount necessary to avoid a year-end tax bill.
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 lifesuite__clearfix text">
                        <div class="bold list-item">4</div>
                        <div class="list-content">
                            Enter the number from line 2 of this worksheet
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">4</span><span class="currency"></span><span class="input-field-currency"><$client.env.FormField.MJWorksheet4.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 lifesuite__clearfix text">
                        <div class="bold list-item">5</div>
                        <div class="list-content">
                            Enter the number from line 1 of this worksheet
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">5</span><span class="currency"></span><span class="input-field-currency"><$client.env.FormField.MJWorksheet5.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">6</div>
                        <div class="list-content">
                            <span class="bold">Subtract</span> line 5 from line 4
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">6</span><span class="currency"></span><span class="input-field-currency"><$client.env.FormField.MJWorksheet6.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">7</div>
                        <div class="list-content">
                            Find the amount in <span class="bold">Table 2</span> below that applies to the <span class="bold">HIGHEST</span> paying job and enter it here
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">7</span><span class="currency">$</span><span class="input-field-currency"><$client.env.FormField.MJWorksheet7.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">8</div>
                        <div class="list-content">
                            <span class="bold">Multiply</span> line 7 by line 6 and enter the result here. This is the additional annual withholding needed
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">8</span><span class="currency">$</span><span class="input-field-currency"><$client.env.FormField.MJWorksheet8.HTML></span>
                    </div>
                </div>
                <div style="min-height: 10px; height: 10px"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-8 lifesuite__clearfix text">
                        <div class="bold list-item">9</div>
                        <div class="list-content">
                            <span class="bold">Divide</span> line 8 by the number of pay periods remaining in 2018. For example, divide by 18 if you’re paid every 2 weeks and you complete this form on a date in late April when there are 18 pay periods remaining in 2018. Enter the result here and on Form W-4, line 6, page 1. This is the additional amount to be withheld from each paycheck
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 lifesuite__clearfix text">
                        <span class="input-label">9</span><span class="currency">$</span><span class="input-field-currency"><$client.env.FormField.MJWorksheet9.HTML></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding: 0px" class="col-xs-12 col-md-6 lifesuite__clearfix text">
                    <table class="matrix-table">
                        <tr>
                            <th colspan="4">Table 1</th>
                        </tr>
                        <tr>
                            <td colspan="2">Married Filing Jointly</td>
                            <td colspan="2">All Others</td>
                        </tr>
                        <tr>
                            <td>
                                If wages from <span class="bold">LOWEST</span><br>
                                paying job are—
                            </td>
                            <td>
                                Enter on<br>
                                line 2 above
                            </td>
                            <td>
                                If wages from <span class="bold">LOWEST</span><br>
                                paying job are—
                            </td>
                            <td>
                                Enter on<br>
                                line 2 above
                            </td>
                        </tr>
                        <tr>
                            <td>$0 - $5,000</td>
                            <td>0</td>
                            <td>$0 - $7,000</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>5,001 - 9,500</td>
                            <td>1</td>
                            <td>7,001 - 12,500</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>9,501 - 19,000</td>
                            <td>2</td>
                            <td>12,501 - 24,500</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>19,001 - 26,500</td>
                            <td>3</td>
                            <td>24,501 - 31,500</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>26,501 - 37,000</td>
                            <td>4</td>
                            <td>31,501 - 39,000</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>37,001 - 43,500</td>
                            <td>5</td>
                            <td>39,001 - 55,000</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>43,501 - 55,000</td>
                            <td>6</td>
                            <td>55,001 - 70,000</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>55,001 - 60,000</td>
                            <td>7</td>
                            <td>70,001 - 85,000</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>60,001 - 70,000</td>
                            <td>8</td>
                            <td>85,001 - 90,000</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>70,001 - 75,000</td>
                            <td>9</td>
                            <td>90,001 - 100,000</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>75,001 - 85,000</td>
                            <td>10</td>
                            <td>100,001 - 105,000</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>85,001 - 95,000</td>
                            <td>11</td>
                            <td>105,001 - 115,000</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>95,001 - 130,000</td>
                            <td>12</td>
                            <td>115,001 - 120,000</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>130,001 - 150,000</td>
                            <td>13</td>
                            <td>120,001 - 130,000</td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td>150,001 - 160,000</td>
                            <td>14</td>
                            <td>130,001 - 145,000</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>160,001 - 170,000</td>
                            <td>15</td>
                            <td>145,001 - 155,000</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>170,001 - 180,000</td>
                            <td>16</td>
                            <td>155,001 - 185,000</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>180,001 - 190,000</td>
                            <td>17</td>
                            <td>185,001 and over</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>190,001 - 200,000</td>
                            <td>18</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>200,001 and over</td>
                            <td>19</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div style="padding: 0px" class="col-xs-12 col-md-6 lifesuite__clearfix text">
                    <table class="matrix-table">
                        <tr>
                            <th colspan="4">Table 2</th>
                        </tr>
                        <tr>
                            <td colspan="2">Married Filing Jointly</td>
                            <td colspan="2">All Others</td>
                        </tr>
                        <tr>
                            <td>
                                If wages from <span class="bold">HIGHEST</span><br>
                                paying job are—
                            </td>
                            <td>
                                Enter on<br>
                                line 7 above
                            </td>
                            <td>
                                If wages from <span class="bold">HIGHEST</span><br>
                                paying job are—
                            </td>
                            <td>
                                Enter on<br>
                                line 7 above
                            </td>
                        </tr>
                        <tr>
                            <td>$0 - $24,375</td>
                            <td>$420</td>
                            <td>$0 - $7,000</td>
                            <td>$420</td>
                        </tr>
                        <tr>
                            <td>24,376 - 82,725</td>
                            <td>500</td>
                            <td>7,001 - 36,175</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td>82,726 - 170,325</td>
                            <td>910</td>
                            <td>36,176 - 79,975</td>
                            <td>910</td>
                        </tr>
                        <tr>
                            <td>170,326 - 320,325</td>
                            <td>1,000</td>
                            <td>79,976 - 154,975</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td>320,326 - 405,325</td>
                            <td>1,330</td>
                            <td>154,976 - 197,475</td>
                            <td>1,330</td>
                        </tr>
                        <tr>
                            <td>405,326 - 605,325</td>
                            <td>1,450</td>
                            <td>197,476 - 497,475</td>
                            <td>1,450</td>
                        </tr>
                        <tr>
                            <td>605,326 and over</td>
                            <td>1,540</td>
                            <td>497,476 and over</td>
                            <td>1,540</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div style="min-height: 10px; height: 10px"></div>
            <div class="row">
                <div class="col-xs-12 col-md-12 lifesuite__clearfix text">
                    <div class="bordered-top three-column">
                        <div class="section">
                            <span class="bold">Privacy Act and Paperwork Reduction Act Notice.</span> We ask for the information on this form to carry out the Internal Revenue laws of the United States. Internal Revenue Code sections 3402(f)(2) and 6109 and their regulations require you to provide this information; your employer uses it to determine your federal income tax withholding. Failure to provide a properly completed form will result in your being treated as a single person who claims no withholding allowances; providing fraudulent information may subject you to penalties. Routine uses of this information include giving it to the Department of Justice for civil and criminal litigation; to cities, states, the District of Columbia, and U.S. commonwealths and possessions for use in administering their tax laws; and to the Department of Health and Human Services for use in the National Directory of New Hires. We may also disclose this information to other countries under a tax treaty, to federal and state agencies to enforce federal nontax criminal laws, or to federal law enforcement and intelligence agencies to combat terrorism.
                            <div class="indented-text">You aren’t required to provide the information requested on a form that’s subject to the Paperwork Reduction Act unless the form displays a valid OMB control number. Books or records relating to a form or its instructions must be retained as long as their contents may become material in the administration of any Internal Revenue law. Generally, tax returns and return information are confidential, as required by Code section 6103.</div>
                            <div class="indented-text">The average time and expenses required to complete and file this form will vary depending on individual circumstances. For estimated averages, see the instructions for your income tax return.</div>
                            <div class="indented-text">If you have suggestions for making this form simpler, we would be happy to hear from you. See the instructions for your income tax return.</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="lifesuite__hr">
            <div class="row" id="formButtons" style="display: none;">
                <div class="lifesuite__clearfix lifesuite__float-right">
                    <$client.env.FormButtons>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none;">
        <$client.env.formfield.SignatureVerification.html>
        <$client.env.formfield.SSN1.html>
        <$client.env.formfield.SSN2.html>
        <$client.env.formfield.SSN3.html>
        <$client.env.formfield.EIN1.html>
        <$client.env.formfield.EIN2.html>
        <$client.env.formfield.Login_ID.html>
        <$client.env.formfield.Auth_Param.html>
        <$client.env.formfield.EmployeeID.html>
    </div>
