<main class="container-fluid">
    <div class="box inner-wrapper vspace-lg">
        <header class="row">
            <div class="col-lg-11 col-xs-12">
                <div class="row">
                    <div class="col-lg-1 col-xs-4">
                        <h5>
                            FORM M-4
                        </h5>
                    </div>
                    <div class="col-lg-1 col-xs-4 visible-xs">
                        <small>Rev. 1/12</small>
                    </div>
                    <div class="col-lg-1 col-xs-4 vspace pull-right visible-xs">
                        <img src="assets/img/ma_logo.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="col-lg-10 col-xs-12 text-center">
                        <h5>
                            <strong>MASSACHUSETTS EMPLOYEE’S WITHHOLDING EXEMPTION CERTIFICATE</strong>
                        </h5>
                    </div>
                    <div class="col-lg-1 col-xs-6 hidden-xs">
                        <small>Rev. 1/12</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-xs-12">
                        Print full name
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <$client.env.FormField.FullName.HTML>
                    </div>
                    <div class="col-lg-2 col-xs-12">
                        Social Security no.
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <$client.env.FormField.SSN.HTML>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-xs-4 vspace pull-right hidden-xs">
                <img src="assets/img/ma_logo.jpg" alt="" class="img-responsive">
            </div>
        </header>
        <div class="row">
            <div class="col-lg-2 col-xs-12">
                Print home address
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="vspace">
                    <$client.env.FormField.Address.HTML>
                </div>
            </div>
            <div class="col-lg-1 col-xs-12">
                City
            </div>
            <div class="col-lg-1 col-xs-12">
                <div class="vspace">
                    <$client.env.FormField.City.HTML>
                </div>
            </div>
            <div class="col-lg-1 col-xs-12">
                State
            </div>
            <div class="col-lg-1 col-xs-12">
                <div class="vspace">
                    <$client.env.FormField.State.HTML>
                </div>
            </div>
            <div class="col-lg-1 col-xs-12">
                Zip
            </div>
            <div class="col-lg-1 col-xs-12">
                <div class="vspace">
                    <$client.env.FormField.Zip.HTML>
                </div>
            </div>
        </div>
        <div class="row border-top border-bottom">
            <div class="col-lg-2 col-xs-12">
                <strong>Employee:</strong>
                <p>
                    File this form or Form W-4 with your employer. Otherwise, Massachusetts Income Taxes will be withheld from your wages without exemptions.
                </p>
                <strong>Employee:</strong>
                <p>
                    Keep this certificate with your records. If the employee is believed to have claimed excessive exemptions, the Massachusetts Department of Revenue should be so advised.
                </p>
            </div>
            <div class="col-lg-10 col-xs-12 border-left">
                <h5 class="text-center">
                    <strong>HOW TO CLAIM YOUR WITHHOLDING EXEMPTIONS</strong>
                </h5>
                <div class="vspace">
                    <div class="col-5 inline-block vertical-top">
                        1.
                    </div>
                    <div class="col-95 inline-block vertical-top">
                        <div class="col-90 col-100-sm inline-block vertical-top">
                            Your personal exemption. Write the figure “1.” If you are age 65 or over or will be before next year, write "2".
                        </div>
                        <div class="col-10 col-100-sm inline-block vertical-bottom">
                            <$client.env.FormField.Exemption1.HTML>
                        </div>
                    </div>
                </div>
                <div class="vspace">
                    <div class="col-5 inline-block vertical-top">
                        2.
                    </div>
                    <div class="col-95 inline-block vertical-top">
                        <div class="col-90 col-100-sm inline-block vertical-top">
                            If married and if exemption for spouse is allowed, write the figure “4.” If your spouse is age 65 or over or will be before next year and if otherwise qualified, write “5.” See Instruction C
                        </div>
                        <div class="col-10 col-100-sm inline-block vertical-bottom">
                            <$client.env.FormField.Exemption2.HTML>
                        </div>
                    </div>
                </div>
                <div class="vspace">
                    <div class="col-5 inline-block vertical-top">
                        3.
                    </div>
                    <div class="col-95 inline-block vertical-top">
                        <div class="col-90 col-100-sm inline-block vertical-top">
                            Write the number of your qualified dependents. See Instruction D
                        </div>
                        <div class="col-10 col-100-sm inline-block vertical-bottom">
                            <$client.env.FormField.Dependents.HTML>
                        </div>
                    </div>
                </div>
                <div class="vspace">
                    <div class="col-5 inline-block vertical-top">
                        4.
                    </div>
                    <div class="col-95 inline-block vertical-top">
                        <div class="col-90 col-100-sm inline-block vertical-top">
                            Add the number of exemptions which you have claimed above and write the total.
                        </div>
                        <div class="col-10 col-100-sm inline-block vertical-bottom">
                            <$client.env.FormField.Exemptions.HTML>
                        </div>
                    </div>
                </div>
                <div class="vspace">
                    <div class="col-5 inline-block vertical-top">
                        5.
                    </div>
                    <div class="col-95 inline-block vertical-top">
                        <div class="col-90 col-100-sm inline-block vertical-top">
                            <div class="inline-block vertical-top">
                                Additional withholding per pay period under agreement with employer
                            </div>
                            <div class="inline-block vertical-bottom">
                                <$client.env.FormField.AdditionalWithholding.HTML>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-indent">
                    A.
                    <div class="inline-block">
                        <$client.env.FormField.HeadOfHousehold.HTML>
                    </div>
                    Check if you will file as head of household on your tax return.
                </div>
                <div class="text-indent">
                    B.
                    <div class="inline-block">
                        <$client.env.FormField.Blind1.HTML>
                    </div>
                    Check if you are blind.
                    <div class="inline-block text-indent-lg">
                        C.
                        <div class="inline-block">
                            <$client.env.FormField.Blind2.HTML>
                        </div>
                        Check if spouse is blind and not subject to withholding.
                    </div>
                </div>
                <div class="text-indent">
                    D.
                    <div class="inline-block">
                        <$client.env.FormField.Student.HTML>
                    </div>
                    Check if you are a full-time student engaged in seasonal, part-time or temporary employment whose estimated annual income will not exceed $8,000.
                </div>
                <p class="text-center">
                    <strong>EMPLOYER: DO NOT withhold if Box D is checked.</strong>
                </p>
            </div>
        </div>
        <p>
            I certify that the number of withholding exemptions claimed on this certificate does not exceed the number to which I am entitled.
        </p>
        <div class="row">
            <div class="col-lg-1 col-xs-12">
                Date
            </div>
            <div class="col-lg-3 col-xs-12">
                <$client.env.FormField.DateSigned.HTML>
            </div>
            <div class="col-lg-1 col-xs-12">
                Signed
            </div>
            <div class="col-lg-7 col-xs-12">
                <$client.env.FormField.Signature.HTML>
            </div>
        </div>
        <h5 class="text-center">
            <strong>THIS FORM MAY BE REPRODUCED</strong>
        </h5>
    </div>
    <div class="border-bottom vspace-lg">&nbsp;</div>
    <div class="box vspace">
        <h5 class="text-center">
            THE COMMONWEALTH OF MASSACHUSETTS, DEPARTMENT OF REVENUE
        </h5>
        <div class="row">
            <div class="col-lg-6 col-xs-12 inner-wrapper">
                <p class="text-justify">
                    <strong>A. Number.</strong> If you claim <strong>more</strong> than the correct number of exemptions, civil and criminal penalties may be imposed. You may claim a smaller number of exemptions. If you do not file a certificate, your employer must withhold on the basis of no exemptions.
                </p>
                <p class="text-justify">
                    If you expect to owe more income tax than will be withheld, you may either claim a smaller number of exemptions or enter into an agreement with your employer to have additional amounts withheld.
                </p>
                <p class="text-justify">
                    You should claim the total number of exemptions to which you are entitled to prevent excessive overwithholding, unless you have a significant amount of other income.
                </p>
                <p class="text-justify">
                    <strong>If you work for more than one employer at the same time, you must not claim any exemptions with employers other than your principal employer.</strong>
                </p>
                <p class="text-justify">
                    If you are married and if your spouse is subject to withholding, each may claim a personal exemption.
                </p>
                <p class="text-justify">
                    <strong>B. Changes.</strong> You may file a new certificate at any time if the number of exemptions <strong>increases</strong>. You <strong>must</strong> file a new certificate within 10 days if the number of exemptions previously claimed by you <strong>decreases</strong>. For example, if during the year your dependent son’s income indicates that you will not provide over half of his support for the year, you must file a new certificate.
                </p>
            </div>
            <div class="col-lg-6 col-xs-12 inner-wrapper">
                <p class="text-justify">
                    <strong>C. Spouse.</strong> If your spouse is not working or if she or he is working but not claiming the personal exemption or the age 65 or over exemption, generally you may claim those exemptions in line 2. However, if you are planning to file separate annual tax returns, you should not claim withholding exemptions for your spouse or for any dependents that will not be claimed on your annual tax return.
                </p>
                <p class="text-justify">
                    If claiming a wife or husband, write “4” in line 2. Using “4” is the withholding
system adjustment for the $4,400 exemption for a spouse.
                </p>
                <p class="text-justify">
                    <strong>D. Dependent(s).</strong> You may claim an exemption in line 3 for each individual who qualifies as a dependent under the Federal Income Tax Law. In addition, if one or more of your dependents will be under age 12 at year end, add “1” to your dependents total for line 3.
                </p>
                <p class="text-justify">
                    <strong>You are not allowed to claim “federal withholding deductions and adjustments” under the Massachusetts withholding system.</strong>
                </p>
                <p class="text-justify">
                    <strong>If you have income not subject to withholding, you are urged to have additional amounts withheld to cover your tax liability on such income. See line 5.</strong>
                </p>
            </div>
        </div>
        <h5 class="text-center">
            <strong>IF THE ALLOWABLE MASSACHUSETTS WITHHOLDING EXEMPTIONS ARE THE SAME <br class="hidden-xs">AS YOU ARE CLAIMING FOR U.S. INCOME TAXES, COMPLETE U.S. FORM W-4 ONLY.</strong>
        </h5>
    </div>
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>
