<main class="container-fluid">
    <div class="inner-wrapper">
        <header class="row">
            <div class="col-lg-3 col-xs-12">
                <p class="text-indent">
                    <strong>Form G-4</strong> (Rev. 7/14)
                </p>
            </div>
            <div class="col-lg-6 col-xs-12">
                <figure class="barcode-wrapper center-block text-center">
                    <img src="assets/img/georgia_barcode.jpg" alt="" class="img-responsive">
                    <figcaption>
                        1 5 1 1 0 0 4 0 1 1
                    </figcaption>
                </figure>
            </div>
        </header>
        <h5 class="text-center">
            <strong>STATE OF GEORGIA EMPLOYEE’S WITHHOLDING ALLOWANCE CERTIFICATE</strong>
        </h5>

        <div class="box">
            <div class="row border-bottom">
                <div class="col-lg-6 col-xs-12 border-right">
                    1a. YOUR FULL NAME
                    <$client.env.FormField.FullName.HTML>
                </div>
                <div class="col-lg-6 col-xs-12">
                    1b. YOUR SOCIAL SECURITY NUMBER
                    <$client.env.FormField.SSN.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12 border-right">
                    2a. HOME ADDRESS <small>(Number, Street, or Rural Route)</small>
                    <$client.env.FormField.Address.HTML>
                </div>
                <div class="col-lg-6 col-xs-12">
                    2b. CITY, STATE AND ZIP CODE
                    <$client.env.FormField.CityStateZip.HTML>
                </div>
            </div>
        </div>
        <h5 class="text-center">
            <strong>PLEASE READ INSTRUCTIONS ON REVERSE SIDE BEFORE COMPLETING LINES 3 – 8</strong>
        </h5>

        <div class="row">
            <div class="col-lg-12 vspace">
                <strong>3. MARITAL STATUS</strong>
            </div>
            <div class="col-lg-12">
                (If you do not wish to claim an allowance, enter “0” in the brackets beside your marital status.)
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="col-lg-8 col-xs-12 vspace">
                    <div class="pull-left list-label">
                        A. Single: Enter 0 or 1
                    </div>
                    <div class="pull-right input-wrapper-sm">
                        <$client.env.FormField.MaritalStatusA.HTML>
                    </div>
                </div>
                <div class="col-lg-8 col-xs-12 vspace">
                    <div class="clearfix">
                        B. Married Filing Joint, both spouses working:
                    </div>
                    <div class="pull-left list-label">
                        <span class="text-indent">
                            Enter 0 or 1
                        </span>
                    </div>
                    <div class="pull-right input-wrapper-sm">
                        <$client.env.FormField.MaritalStatusB.HTML>
                    </div>
                </div>
                <div class="col-lg-8 col-xs-12 vspace">
                    <div class="clearfix">
                        C. Married Filing Joint, one spouse working:
                    </div>
                    <div class="pull-left list-label">
                        <span class="text-indent">
                            Enter 0 or 1 or 2
                        </span>
                    </div>
                    <div class="pull-right input-wrapper-sm">
                        <$client.env.FormField.MaritalStatusC.HTML>
                    </div>
                </div>
                <div class="col-lg-8 col-xs-12 vspace">
                    <div class="clearfix">
                        D. Married Filing Separate:
                    </div>
                    <div class="pull-left list-label">
                        <span class="text-indent">
                            Enter 0 or 1
                        </span>
                    </div>
                    <div class="pull-right input-wrapper-sm">
                        <$client.env.FormField.MaritalStatusD.HTML>
                    </div>
                </div>
                <div class="col-lg-8 col-xs-12 vspace">
                    <div class="clearfix">
                        E. Head of Household:
                    </div>
                    <div class="pull-left list-label">
                        <span class="text-indent">
                            Enter 0 or 1
                        </span>
                    </div>
                    <div class="pull-right input-wrapper-sm">
                        <$client.env.FormField.MaritalStatusE.HTML>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="clearfix vspace">
                    <div class="pull-left">
                        <h5>
                            <strong>4. DEPENDENT ALLOWANCES</strong>
                        </h5>
                    </div>
                    <div class="pull-right input-wrapper-sm">
                        <$client.env.FormField.Dependents.HTML>
                    </div>
                </div>
                <div class="clearfix vspace">
                    <div class="pull-left">
                        <h5>
                            <strong>5. ADDITIONAL ALLOWANCES</strong>
                            <br>(worksheet below must be completed)
                        </h5>
                    </div>
                    <div class="pull-right input-wrapper-sm">
                        <$client.env.FormField.AdditionalAllowances.HTML>
                    </div>
                </div>
                <div class="clearfix vspace">
                    <div class="pull-left">
                        <h5>
                            <strong>6. ADDITIONAL WITHHOLDING</strong>
                        </h5>
                    </div>
                    <div class="pull-right col-lg-3 col-xs-12">
                        $
                        <div class="inline-block">
                            <$client.env.FormField.AdditionalWithholding.HTML>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box padded vspace">
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="text-center">
                        <strong>WORKSHEET FOR CALCULATING ADDITIONAL ALLOWANCES</strong>
                        <br><strong>(Must be completed in order to enter an amount on step 5)</strong>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    1. COMPLETE THIS LINE ONLY IF USING STANDARD DEDUCTION:
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    Yourself:
                    <div class="inline-block vertical-middle">
                        <$client.env.FormField.YourselfAge.HTML>
                    </div>
                    <div class="inline-block vertical-middle">
                        <$client.env.FormField.YourselfBlind.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    Spouse:
                    <div class="inline-block vertical-middle">
                        <$client.env.FormField.SpouseAge.HTML>
                    </div>
                    <div class="inline-block vertical-middle">
                        <$client.env.FormField.SpouseBlind.HTML>
                    </div>
                </div>
                <div class="col-lg-8 col-xs-12">
                    Number of boxes checked
                    <div class="inline-block vertical-middle">
                        <$client.env.FormField.Boxes.HTML>
                    </div>
                    x 1300 ... %
                    <div class="inline-block vertical-middle">
                        <$client.env.FormField.Line1.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    2. ADDITIONAL ALLOWANCES FOR DEDUCTIONS:
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-xs-12">
                    <span class="list-label">
                        A. Federal Estimated Itemized Deductions
                    </span>
                </div>
                <div class="col-lg-3 col-xs-12">
                    $
                    <div class="inline-block">
                        <$client.env.FormField.Line2A.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    B. Georgia Standard Deduction (enter one):
                </div>
                <div class="col-lg-2 col-xs-4">
                    Single/Head of Household
                </div>
                <div class="col-lg-2 col-xs-2">
                    $2,300
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    <div class="list-label col-lg-offset-1 col-xs-offset-1">
                        Each Spouse
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <span class="list-label">
                        $1,500
                    </span>
                </div>
                <div class="col-lg-3 col-xs-12">
                    $
                    <div class="inline-block">
                        <$client.env.FormField.Line2B.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-xs-12">
                    C. Subtract Line B from Line A
                </div>
                <div class="col-lg-3 col-xs-12">
                    $
                    <div class="inline-block">
                        <$client.env.FormField.Line2C.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-xs-12">
                    D. Allowable Deductions to Federal Adjusted Gross Income
                </div>
                <div class="col-lg-3 col-xs-12">
                    $
                    <div class="inline-block">
                        <$client.env.FormField.Line2D.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-xs-12">
                    E. Add the Amounts on Lines 1, 2C, and 2D
                </div>
                <div class="col-lg-3 col-xs-12">
                    $
                    <div class="inline-block">
                        <$client.env.FormField.Line2E.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-xs-12">
                    F. Estimate of Taxable Income not Subject to Withholding
                </div>
                <div class="col-lg-3 col-xs-12">
                    $
                    <div class="inline-block">
                        <$client.env.FormField.Line2F.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-xs-12">
                    G. Subtract Line F from Line E (if zero or less, stop here)
                </div>
                <div class="col-lg-3 col-xs-12">
                    $
                    <div class="inline-block">
                        <$client.env.FormField.Line2G.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-xs-12">
                    H. Divide the Amount on Line G by $3,000. Enter total here and on Line 5 above
                </div>
                <div class="col-lg-3 col-xs-12">
                    $
                    <div class="inline-block">
                        <$client.env.FormField.Line2H.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        (This is the maximum number of additional allowances you can claim. If the remainder is over $1,500 round up)
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-xs-12 vspace">
                <strong>7. LETTER USED</strong> (Marital Status A, B, C, D, or E)
                <div class="inline-block vertical-middle">
                    <$client.env.FormField.MaritalStatus.HTML>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 vspace">
                <strong>TOTAL ALLOWANCES</strong> (Total of Lines 3 - 5)
                <div class="inline-block vertical-middle">
                    <$client.env.FormField.Allowances.HTML>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                (Employer: The letter indicates the tax tables in Employer’s Tax Guide)
            </div>
            <div class="col-lg-12 hr-thick vspace">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-lg-12 vspace">
                <strong>8. EXEMPT:</strong>
                (Do not complete Lines 3 - 7 if claiming exempt)
                <small>
                    <strong>Read the Line 8 instructions on page 2 before completing this section.</strong>
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 vspace">
                a) I claim exemption from withholding because I incurred no Georgia income tax liability last year <strong>and</strong> I do not expect to have a Georgia income tax liability this year.
                <div class="inline-block">
                    <strong>Check here</strong>
                    <div class="inline-block vertical-middle">
                        <$client.env.FormField.Line8a.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    b) I certify that I am not subject to Georgia withholding because I meet the conditions set forth under the Servicemembers Civil Relief Act as amended by the Military Spouses Residency Relief Act as provided on page 2. My state of residence is
                    <div class="inline-block">
                        <$client.env.FormField.MyState.HTML>
                    </div>.
                    My spouse’s (servicemember) state of residence is
                    <div class="inline-block">
                        <$client.env.FormField.SpouseState.HTML>
                    </div>.
                    The states of residence must be the same to be exempt.
                    <div class="inline-block">
                        <strong>Check here</strong>
                        <div class="inline-block vertical-middle">
                            <$client.env.FormField.Line8b.HTML>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 hr-thick vspace">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        I certify under penalty of perjury that I am entitled to the number of withholding allowances or the exemption from withholding status claimed on this Form G-4. Also, I authorize my employer to deduct per pay period the additional amount listed above.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-xs-12">
                    <span class="list-label">
                        Employee’s Signature
                    </span>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <$client.env.FormField.Signature.HTML>
                </div>
                <div class="col-lg-1 col-xs-12">
                    <span class="list-label">
                        Date
                    </span>
                </div>
                <div class="col-lg-3 col-xs-12">
                    <$client.env.FormField.DateSigned.HTML>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 hr-thick vspace">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        <strong>Employer: Complete Line 9 and mail entire form only if the employee claims over 14 allowances or exempt from withholding.</strong>
                    </p>
                    <p>
                        If necessary, mail form to: Georgia Department of Revenue, Withholding Tax Unit, P.O. Box 49432, Atlanta , GA 30359.
                    </p>
                </div>
                <div class="col-lg-6 col-xs-12 vspace">
                    <strong>9. EMPLOYER’S NAME AND ADDRESS:</strong>
                    <div class="text-indent">
                        <$client.env.FormField.EmployerName.HTML>
                    </div>
                    <div class="text-indent">
                        <$client.env.FormField.EmployerAddress.HTML>
                    </div>
                    <div class="text-indent">
                        <$client.env.FormField.EmployerCSZ.HTML>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="col-lg-4 col-xs-12">
                        <strong class="list-label">EMPLOYER’S FEIN:</strong>
                    </div>
                    <div class="col-lg-8 col-xs-12 vspace">
                        <$client.env.FormField.EIN.HTML>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <strong class="list-label">EMPLOYER’S WH#:</strong>
                    </div>
                    <div class="col-lg-8 col-xs-12 vspace">
                        <$client.env.FormField.EmployerWH.HTML>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-l2 col-xs-12">
                    <p>
                        <strong>Do not accept forms claiming additional allowances unless the worksheet has been completed. Do not accept forms claiming exempt if numbers are written on Lines 3 - 7.</strong>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p>
                    <strong>INSTRUCTIONS FOR COMPLETING FORM G-4</strong>
                </p>
                <p>
                    Enter your full name, address and social security number in boxes 1a through 2b.
                </p>
                <p>
                    Line 3: Write the number of allowances you are claiming in the brackets beside your marital status.
                </p>
                <ol type="A">
                    <li>
                        &#x025A1; Single – enter 1 if your are claiming yourself
                    </li>
                    <li>
                        &#x025A1; Married Filing Joint, both spouses working – enter 1 if you claim yourself
                    </li>
                    <li>
                        &#x025A1; Married Filing Joint, one spouse working – enter 1 if your claim yourself or 2 if you claim yourself and your spouse
                    </li>
                    <li>
                        &#x025A1; Married Filing Separate – enter 1 if you claim yourself
                    </li>
                    <li>
                        &#x025A1; Head of Household – enter 1 if you claim yourself
                    </li>
                </ol>
                <p>
                    Line 4: Enter the number of dependent allowances you are entitled to claim.
                </p>
                <p>
                    Line 5: Complete the worksheet on Form G-4 if you claim additional allowances. Enter the number on Line H here.
                </p>
                <p class="text-indent">
                    <strong>Failure to complete and submit the worksheet will result in automatic denial on your claim.</strong>
                </p>
                <p>
                    Line 6: Enter a specific dollar amount that you authorize your employer to withhold in addition to the tax withheld based on your marital status and number of allowances.
                </p>
                <p>
                    Line 7: Enter the letter of your marital status from Line 3. Enter total of the numbers on Lines 3-5.
                </p>
                <p>
                    Line 8:
                </p>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-offset-1 col-xs-offset-1">
                    <div class="inline-block col-5 col-10-sm vertical-top">
                        a) &#x025A1;
                    </div>
                    <div class="inline-block col-95 col-90-sm text-justify">
                        <p class="text-justify">
                            Check the first box if you qualify to claim exempt from withholding. You can claim exempt if you filed a Georgia income tax return last year and the amount of Line 4 of Form 500EZ or Line 16 of Form 500 was zero, and you expect to file a Georgia tax return this year and will not have a tax liability. You can not claim exempt if you did not file a Georgia income tax return for the previous tax year.
                            <strong>Receiving a refund in the previous tax year does not qualify you to claim exempt.</strong>
                        </p>
                        <p class="text-justify">
                            <strong>EXAMPLES:</strong> Your employer withheld $500 of Georgia income tax from your wages. The amount on Line 4 of Form 500EZ (or Line 16 of Form 500) was $100. Your tax liability is the amount on Line 4 (or Line 16); therefore, you <strong>do not qualify</strong> to claim exempt.
                        </p>
                        <p class="text-justify">
                            Your employer withheld $500 of Georgia income tax from your wages. The amount on Line 4 of Form 500EZ (or Line 16 of Form 500) was $0 (zero). Your tax liability is the amount on Line 4 (or Line 16) and you filed a prior year income tax return; therefore you <strong>qualify</strong> to claim exempt.
                        </p>
                    </div>
                    <div class="inline-block col-5 col-10-sm vertical-top">
                        b) &#x025A1;
                    </div>
                    <div class="inline-block col-95 col-90-sm text-justify">
                        <p class="text-justify">
                            Check the second box if you are not subject to Georgia withholding and meet the conditions set forth under the Servicemembers Civil Relief Act, as amended by the Military Spouses Residency Relief Act. Under the Act, a spouse of a servicemember may be exempt from Georgia income tax on income from services performed in Georgia if:
                        </p>
                        <ol class="text-indent vspace">
                            <li class="text-justify">
                                &#x025A1; The servicemember is present in Georgia in compliance with military orders;
                            </li>
                            <li class="text-justify">
                                &#x025A1; The spouse is in Georgia solely to be with the servicemember;
                            </li>
                            <li class="text-justify">
                                &#x025A1; The spouse maintains domicile in another state; and
                            </li>
                            <li class="text-justify">
                                &#x025A1; The domicile of the spouse is the same as the domicile of the servicemember.
                            </li>
                        </ol>
                    </div>
                    <p>
                        Additional information for employers regarding the Military Spouses Residency Relief Act:
                    </p>
                    <ol class="col-lg-offset-1 col-xs-offset-1 vspace">
                        <li class="text-justify">
                            &#x025A1; On the W-2 for 2010 and any year thereafter, the employer should not report any of the wages as Georgia wages on the W-2.
                        </li>
                        <li class="text-justify">
                            &#x025A1; If the spouse of a servicemember is entitled to the protection of the Military Spouses Residency Relief Act in another state and files a withholding exemption form in such other state, the spouse is required to submit a Georgia Form G-4 so that withholding will occur as is required by Georgia Law when a Georgia domiciliary works in another state and withholding is not required by such other state. If the spouse does not fill out the form, the employer shall withhold Georgia income tax as if the spouse is single with zero allowances.
                        </li>
                    </ol>
                    <p>
                        <strong>Worksheet for calculating additional allowances.</strong> Enter the information as requested by each line. For Line 2D, enter items such as Retirement Income Exclusion, U.S. Obligations, and other allowable deductions per Georgia Law, see the IT-511 booklet for more information.
                    </p>
                    <p>
                        <strong>Do not complete Lines 3-7 if claiming exempt.</strong>
                    </p>
                    <p class="text-justify">
                        <strong>O.C.G.A. &sect; 48-7-102</strong> requires you to complete and submit Form G-4 to your employer in order to have tax withheld from your wages. By correctly completing this form, you can adjust the amount of tax withheld to meet your tax liability. Failure to submit a properly completed Form G-4 will result in your employer withholding tax as though you are single with zero allowances.
                    </p>
                    <p class="text-justify vspace">
                        Employers are required to mail any Form G-4 claiming more than 14 allowances or exempt from withholding to the Georgia Department of Revenue for approval. Employers will honor the properly completed form as submitted pending notification from the Withholding Tax Unit. Upon approval, such forms remain in effect until changed or until February 15 of the following year. Employers who know that a G-4 is erroneous should not honor the form and should withhold as if the employee is single claiming zero allowances until a corrected form has been received.
                    </p>
                </div>
            </div>
        </div>
        <div class="black-box-top-left">&nbsp;</div>
        <div class="black-box-top-right">&nbsp;</div>
        <div class="black-box-bottom-right">&nbsp;</div>
    </div>

  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>
