<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement -->
<div class="modal" id="modal" style="display:none;">
  <div class="modal-content">
  <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2>
  
    <p style="font-weight:normal;padding:0px">
<$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten signature.':client.env.param.verbiage)></p>
    <br>
<div class="row">
      <div class="lifesuite__clearfix">
        <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp;
                  </div>
    </div>
<div class="row">
      <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;">
        <input type="button" class="lifesuite__button primary" value="Sign" onClick="validateSignature('signature','eSignature1','fullname','modal','over','sv','DateSigned');xbObj('eSignature1').value='';">&nbsp;
        <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';if (typeof targetdatecheckCLEAR == 'function' ){targetdatecheckCLEAR('signature','DateSigned');}">&nbsp;
        <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';">
      </div>
    </div>
  </div>
</div>
<div id="over" style="display:none;"></div>
<SCRIPT>
    showScreen('over')
</SCRIPT>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- RESPONSIVE eFORM PAGE LOADER-->

<div class="modal" style="display:block; background: #002E6D;">
  <div class="fb-spinner">
    <i class="fa fa-2x fa-spinner fa-pulse"></i>
  </div>
</div>

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<form name='frmForm'
action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave
?<$client.env.QUERY_STRING>" method="post" onSubmit="return SubmitCallback(this);">
<div style="display:none;">
<$client.env.FormField.Form_Name.prompt>
<$client.env.FormField.Form_Name.HTML>
<$client.env.FormField.Form_Type.prompt>
<$client.env.FormField.Form_Type.HTML>
<$client.env.FormField.Form_Owner.prompt>
<$client.env.FormField.Form_Owner.HTML>
<$client.env.FormField.Form_CreateDate.prompt>
<$client.env.FormField.Form_CreateDate.HTML>
<$client.env.FormField.Form_Completed.prompt>
<$client.env.FormField.Form_Completed.HTML>
<$client.env.FormField.Form_Delivered.prompt>
<$client.env.FormField.Form_Delivered.HTML>
<$client.env.FormField.Form_TaskId.prompt>
<$client.env.FormField.Form_TaskId.HTML>
<$client.env.FormField.display_version.HTML>

<$client.env.FormField.AdditionalWithholding1.prompt>
<$client.env.FormField.Address.prompt>
<$client.env.FormField.City.prompt>
<$client.env.FormField.DateSigned.prompt>
<$client.env.FormField.Election1.prompt>
<$client.env.FormField.Election2.prompt>
<$client.env.FormField.Election3.prompt>
<$client.env.FormField.ElectionRate1.prompt>
<$client.env.FormField.ElectionRate2.prompt>
<$client.env.FormField.ElectionRate3.prompt>
<$client.env.FormField.ElectionRate4.prompt>
<$client.env.FormField.ElectionRate5.prompt>
<$client.env.FormField.ElectionRate6.prompt>
<$client.env.FormField.ElectionRate7.prompt>
<$client.env.FormField.FullName.prompt>
<$client.env.FormField.SSN.prompt>
<$client.env.FormField.Signature.prompt>
<$client.env.FormField.State.prompt>
<$client.env.FormField.Zip.prompt>
<$client.env.FormField.CheckExtraAmount.prompt>

</div>
 
<input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">

<div class="container-fluid"> 
  <div class="form-group"> 

  
<div class='row' style='padding-bottom:0; margin-bottom:0;'>
  <div class='col-lg-2 text-center' style='background-color:black; color:white;'>
    Arizona Form
  </div>
</div>
<div class='row' style='padding-top:0; margin-top:0;'>
  <div class='col-lg-2 text-center' style='background-color:black; color:white;'>
     
      <span class='left-text-size' style='font-weight:bold;'>
      A-4</span>

  </div>
  <div class='col-lg-8 text-center'>
    <div class='col-lg-12'>
      
    <h3 class='center-text-size' style='padding-bottom:0; margin:0; padding-top:40px; display:inline; vertical-align:middle;'><strong>Employee’s Arizona Withholding Election</strong></h3> 
    </div>
    
  </div>
  
  <div class='col-lg-2 text-center' style='background-color:#DBDCDE;'><p class='right-text-size' style='font-weight:bold; padding-bottom:0;margin-bottom:0;'>

      2022</p></div>
<hr style='padding-top:0;margin-top:0; border:1px solid black;'>
</div>


<div class='row bordered'>
  <div class='col-lg-6 small bordered border-bottom-0 border-left-0 border-top-0 border-right-1'>Type or print your Full Name<$client.env.FormField.FullName.HTML></div>

  <div class='col-lg-6 small bordered border-right-0 border-bottom-0 border-left-0 border-top-0'>Your Social Security Number<$client.env.FormField.SSN.HTML></div>

</div>


<div class='row bordered border-top-0 border-bottom-0'>
  <div class='col-lg-12 small'>Home Address – number and street or rural route<$client.env.FormField.Address.HTML></div>
</div>

<div class='row bordered'>
  <div class='col-lg-7 small bordered border-top-0 border-bottom-0 border-left-0 border-right-1'>City or Town<br><$client.env.FormField.City.HTML></div>
  <div class='col-lg-2 small bordered border-top-0 border-bottom-0 border-left-0 border-right-1' >State<br><$client.env.FormField.State.HTML></div>
  <div class='col-lg-3 small' >ZIP Code<$client.env.FormField.Zip.HTML></div>
</div>

<div class='row'>
  <div class='col-lg-12'><h4><strong>Choose either box 1 or box 2:</strong></h4></div>
</div>

<div class='row'>
  <div class='col-lg-12'><$client.env.FormField.Election1.HTML></div>
</div>

<div class='row' style='text-indent: 20px;'>
  <div class='col-xs-12 col-sm-12 col-md-1 col-md-1 lgremoveindent'><$client.env.FormField.ElectionRate1.HTML></div>
  <div class='col-xs-12 col-sm-12 col-md-1 col-md-1 lgremoveindent'><$client.env.FormField.ElectionRate2.HTML></div>
  <div class='col-xs-12 col-sm-12 col-md-1 col-md-1 lgremoveindent'><$client.env.FormField.ElectionRate3.HTML></div>
  <div class='col-xs-12 col-sm-12 col-md-1 col-md-1 lgremoveindent'><$client.env.FormField.ElectionRate4.HTML></div>
  <div class='col-xs-12 col-sm-12 col-md-1 col-md-1 lgremoveindent'><$client.env.FormField.ElectionRate5.HTML></div>
  <div class='col-xs-12 col-sm-12 col-md-1 col-md-1 lgremoveindent'><$client.env.FormField.ElectionRate6.HTML></div>
  <div class='col-xs-12 col-sm-12 col-md-1 col-md-1 lgremoveindent'><$client.env.FormField.ElectionRate7.HTML></div>
</div>

<br>
<div class='row' style="text-indent: 20px;">
  <div class='col-xs-12 col-sm-12 col-md-6 col-lg-9 lgremoveindent'><$client.env.FormField.CheckExtraAmount.HTML></div>
  <div class='col-xs-1 col-sm-1 col-md-1 col-lg-1 dollars'>$</div>
  <div class='col-xs-11 col-sm-11 col-md-5 col-lg-2'><$client.env.FormField.AdditionalWithholding1.HTML></div>
</div>

<br>
<div class='row'>
  <div class='col-lg-12 inlineCheckBox'><$client.env.FormField.Election3.HTML></div>
</div>
<br>
<div class='row bordered'>
  <div class='col-lg-12'>I certify that I have made the election marked above.</div><br><br>
  
  <div class='row'>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'><$client.env.FormField.Signer.HTML></div>
  </div>
  
</div>
<br>
<div class='row text-center bordered' >
  <div class='col-lg-12' style='padding-top:0;margin-top:0;padding-bottom:0;margin-bottom:0;'><h4><strong>Employee's Instructions</strong></h4></div>
</div>
<br>
<div class='row' style='border-bottom:1px solid black;'>
  <div class='col-lg-6 last-col' style="text-align: justify; padding-right: 10px !important;">
  
    Arizona law requires your employer to withhold Arizona income tax from your wages for work done in Arizona. The amount
    withheld is applied to your Arizona income tax due when you file your tax return. The amount withheld is a percentage of
    your gross taxable wages from every paycheck. You may also have your employer withhold an extra amount from each
    paycheck. Complete this form to select a percentage and any extra amount to be withheld from each paycheck.<br><br>

    <span class='bold'>What are my “Gross Taxable Wages”?</span><br>
    For withholding purposes, your “gross taxable wages” are the
    wages that will generally be in box 1 of your federal Form W-2.
    It is your gross wages less any pretax deductions, such as your
    share of health insurance premiums.<br><br>

    <span class='bold'>New Employees</span><br>
    Complete this form within the first five days of your employment
    to select an Arizona withholding percentage. You may also
    have your employer withhold an extra amount from each
    paycheck. If you do not give this form to your employer the
    department requires your employer to withhold 2.7% of your
    gross taxable wages.<br><br>

    <span class='bold'>Current Employees</span><br>
    If you want to change your current amount withheld, you must
    file this form to change the Arizona withholding percentage or
    to change the extra amount withheld.<br><br>

    <span class='bold'>What Should I do With Form A-4?</span><br>
    Give your completed Form A-4 to your employer.

    <div class='row space'>&nbsp;</div>

  </div>

  
  <div class='col-lg-6' style='padding-top:0;margin-top:0;padding-bottom:0;margin-bottom:0; text-align: justify;  padding-left: 10px !important;'>
  
    <span class='bold'>Electing a Withholding Percentage of Zero</span><br>

    You may elect an Arizona withholding percentage of zero
    if you expect to have no Arizona income tax liability for the
    current year. Arizona tax liability is gross tax liability less any
    tax credits, such as the family tax credit, school tax credits, or
    credits for taxes paid to other states. If you make this election,
    your employer will not withhold Arizona income tax from your
    wages for payroll periods beginning after the date you file the
    form. To keep this election for the next calendar year, you must
    give your employer an updated Form A-4. If you do not, your
    employer may withhold Arizona income tax from your wages
    and salary until you submit an updated Form A-4.<br><br>

    Zero withholding does not relieve you from paying Arizona
    income taxes that might be due at the time you file your Arizona
    income tax return. If you have an Arizona tax liability when
    you file your return or if at any time during the current year
    conditions change so that you expect to have a tax liability, you
    should promptly file a new Form A-4 and choose a withholding
    percentage that applies to you. <br /><br />

    <span class='bold'>Voluntary Withholding Election by Certain
    Nonresident Employees</span><br>

    Compensation earned by nonresidents while physically
    working in Arizona for temporary periods is subject to Arizona
    income tax. However, under Arizona law, compensation paid
    to certain nonresident employees is not subject to Arizona
    income tax withholding. These nonresident employees need
    to review their situations and determine if they should elect to
    have Arizona income taxes withheld from their Arizona source
    compensation. Nonresident employees may request that their
    employer withhold Arizona income taxes by completing this
    form to elect Arizona income tax withholding.
  
  </div>

</div>

<div class='row'>

  <div class='col-lg-12 small'>
  ADOR 10121 (21)
  </div>
</div>

  </div>
</div>
      <hr class="lifesuite__hr">
<$client.env.FormButtons>
<div style="display:none">
<$client.env.FormField.SignatureVerification.HTML>
<$client.env.FormField.Login_ID.HTML>
<$client.env.FormField.Auth_Param.HTML>
<$client.env.FormField.EmployeeID.HTML>
</div>
</form>
<SCRIPT>
ChangeCalendarIcons(); //for popup calendar
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
<!-- RESPONSIVE eFORM FIELDS STYLE-->

$(window).load(function() {
       $("#buttonCancel").removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue");
        $("#buttonCancel").addClass("lifesuite__button");
        $('#buttonCancel').attr('id','ButtonCancel');
        $("#buttonSave").removeClass("appInputButton RCappInputButtonBlue");
        $("#buttonSave").addClass("lifesuite__button primary");
        $('#buttonSave').attr('id','ButtonSave');
        $("#buttonSaveAndComplete").removeClass("appInputButton RCappInputButtonBlue");
        $("#buttonSaveAndComplete").addClass("lifesuite__button primary");
        $('#buttonSaveAndComplete').attr('id','ButtonSaveAndComplete');
        $("#buttonPrint").removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue");
        $("#buttonPrint").addClass("lifesuite__button");
        $('#buttonPrint').attr('id','ButtonPrint');
        $("#buttonPreviewDelete").removeClass("appInputButton RCappInputButtonRed");
        $("#buttonPreviewDelete").addClass("lifesuite__button");
        $('#buttonPreviewDelete').attr('id','ButtonPreviewDelete');
        $("#buttonPreviewSave").removeClass("appInputButton RCappInputButtonBlue");
        $("#buttonPreviewSave").addClass("lifesuite__button primary");
        $('#buttonPreviewSave').attr('id','ButtonPreviewSave');    
        $("#buttonComplete").removeClass("appInputButton RCappInputButtonBlue"); 
        $("#buttonComplete").addClass("lifesuite__button primary"); 
        $('#buttonComplete').attr('id','ButtonComplete');
        
        /*document.getElementById('formButtons').style.display = "block";*/

        $("input[type=text]").addClass('lifesuite__text-input');
        $("input[type=text].hasDatepicker").addClass('dateField');
        $("select").addClass('lifesuite__select-input');
        $("input[type=radio]").addClass('lifesuite__radio');
        $("input[type=checkbox]").addClass('lifesuite__checkbox');
        $("textarea").addClass('lifesuite__textarea-input');
        $('label').addClass('lifesuite__input-label lifesuite__input—block');

        if (strFormCompleted == '') { // if eForm is incomplete 
            $("#ButtonPrint")[0].onclick = null; 
            $("#ButtonPrint").click(function() {  
                /* Add your code/function here */ 
                $('[name$=".SignatureVerification"]').val($('[ng-bind="signatureStatement"]').html());
                void(funcPrint()); // default print function 
            }); 
            if ($("#ButtonSaveAndComplete").length) {  
                $("#ButtonSaveAndComplete")[0].onclick = null; 
                $("#ButtonSaveAndComplete").click(function() {  
                    /* Add your code/function here */ 
                    $('[name$=".SignatureVerification"]').val($('[ng-bind="signatureStatement"]').html());
                    void(funcSaveAndComplete());  //default Save function 
                }); 
            } 
        }
});

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



if(strFormCompleted!=''){
    document.getElementById('actionButtons').style.display = 'none';
}

</SCRIPT>
