<main>
  <header class="text-center vspace">
    <strong>Steelcase Conflict<br>of Interest Policy</strong>
  </header>
  <div class="heading vspace">
    <strong>
      <em>Purpose</em>
    </strong>
  </div>
  <p class="vspace wrapper-inner">
    The Steelcase Inc. Conflict of Interest policy is founded on the belief that Temporary Workers shall perform the responsibilities of their position solely on the basis of what is in the best interest of the Company. The Conflict of Interest policy applies to all employees and temporary workers of Steelcase Inc. and its entities and affiliates.
  </p>
  <div class="heading vspace">
    <strong>
      <em>Overview</em>
    </strong>
  </div>
  <p class="vspace wrapper-inner">
    Temporary Workers must set aside personal considerations and relationships when making decisions or recommendations on behalf of the Company. Also, temporary workers should do their best to prevent the company from doing anything illegal or unethical. If a temporary workers has a question about a potential conflict of interest, he or she should contact their Steelcase Manager or the Director of Global Audit Services.
  </p>
  <div class="heading vspace">
    <strong>
      <em>Specifics</em>
    </strong>
  </div>
  <div class="wrapper-inner">
    <p class="vspace">
      <strong><u>Guidelines for Temporary Employees</u></strong>
    </p>
    <p class="vspace">
      As a guideline to completing the personal declaration form, certain practices are identified as presenting a high risk that may result in a conflict of interest. These <strong>PROHIBITED</strong> activities include,
    </p>
    <ul class="vspace">
      <li>
        <strong>Accepting entertainment, gifts, and/or free services</strong>
        from prospective or current vendors, suppliers, or distributors of products or services is prohibited. This includes gifts or payment for room/board, transportation, tickets, or admission to sporting and/or entertainment events. An occasional business meal is permissible. However, it is expected that the Steelcase employee would reciprocate as the opportunity arises.
      </li>
      <li>
        <strong>Accepting supplier provided transportation</strong>
        to visit a supplier should be declined where possible to avoid any appearance of conflict of interest. Exceptions to this might be for safety and security purposes in an unfamiliar region or a pressing business need that makes this necessary, ie. shutting down a production line or missing a critical deadline.
      </li>
      <li>
        <strong>Accepting payment</strong>
        of any nature that may influence Company business decisions.
      </li>
      <li>
        <strong>Misuse of confidential or propriety information</strong>
        to which employees, vendors, consultants, independent contractors, subcontractors, or other third parties have access to by reason of position in the Company. Such dealings could also violate the insider trading laws of the Securities and Exchange Commission, which if violated can result in substantial fines and/or imprisonment. (See the Insider Trading Policy, established by the Legal Department).
      </li>
      <li>
        <strong>Speculating or dealing</strong>
        in equipment, supplies, materials, or property purchased by the company, or products sold by the Company, for one's personal benefit.
      </li>
      <li>
        <strong>Borrowing money</strong>
        from, or engaging in transactions with, suppliers, customers, or competitors while employed by the Company (other than personal transactions conducted with banks or other financial institutions).
      </li>
      <li>
        <strong>Performing any activities</strong>
        for remuneration which:
        <ol>
          <li>Involve Company time, equipment, or facilities.</li>
          <li>Involve approaching co-workers to buy products or services.</li>
          <li>Involve services or work performed for any Steelcase entity, joint venture, dealer or customer.</li>
          <li>Involve working on Steelcase or any Steelcase entity related matters through a supplier or vendor (including a temporary employment agency).</li>
          <li>Otherwise conflicts with the employee's obligation to the Company.</li>
        </ol>
      </li>
      <li>
        <strong>Using or copying materials</strong>
        to promote any organization you own or are involved in without permission from management.
      </li>
      <li>
        <strong>Authorizing the use of company funds</strong>
        whether directly or indirectly, for the purpose of opposing or supporting any government, political party, candidate or committee.
      </li>
      <li>
        <div class="vspace">
          <strong>Using kickbacks and gratuities to obtain business.</strong>
          All activities that in any way are, or appear to be, offered to obtain contracts, subcontracts, or otherwise influence business decisions.
        </div>
        <strong>Note:</strong> The Anti-Kickback Act of 1986 prohibits kickbacks and gratuities involving government contracts or subcontracts. Violations of this act may result in the loss of government business by the company.
      </li>
      <li>
        <div class="vspace">
          <strong>Bribing a foreign government official</strong>,
          authorizing an "agent" of Steelcase to bribe a foreign government official, or possessing knowledge that an "agent" of Steelcase bribed a foreign government official, for the purpose of obtaining or retaining business abroad.
        </div>
        <p>
          <strong>Note:</strong> The Foreign Corrupt Practices Act of 1977 prohibits payment of a bribe by a U.S. Company to any foreign government official for the purpose of obtaining or retaining business. The Act was amended with the International Anti-Bribery and Fair Competition Act of 1998, which included provision of the Organization for Economic Cooperation and Development’s Convention on Combating Bribery of Foreign Public Officials in International Business Transactions. "U.S. Company" is very broadly defined to include U.S. companies, their employees, and agents (defined to include dealers or subcontractors) if Steelcase had knowledge of the payment before it was made by the agent, learns of the agent's payment after the fact but concludes the sale anyway, or had reason to suspect that a payment had been made by the agent and did not investigate before concluding the sale. "Foreign government official" is defined to include political figures, governmental officials, as well as officers, employees, and agents of commercial enterprises that are owned more than 50% by foreign governments, who have discretion over the business in question.
        </p>
      </li>
      <li>
        <strong>Significant investments</strong>
        in competitors need to be declared. Investments in vendors or companies that Steelcase is doing business with, where you have decision making influence, also need to be declared.
      </li>
    </ul>
  </div>
  <div class="wrapper-inner vspace">
    <p>
      <strong>
        <u>Related Parties</u>
      </strong>
    </p>
    <ol>
      <li>
        <p>
          In the U.S., providing products or services to Steelcase Inc. is prohibited within three months of one's termination from the company or for the length of time for which one received a severance from the company, whichever is longer. Any exception must have prior written approval from a member of the Steelcase Strategy Team (SST).
        </p>
        <strong>Note:</strong> A contract employee should not leave Steelcase with the expectation that they can provide goods or services to Steelcase after their termination of employment.
      </li>
      <li>
        Purchasing goods or services from friends or family members is a potential conflict of interest and should be reported on a Personal Declaration Form.
      </li>
      <li>
        If an employee or member of an employee's family has a financial or beneficial interest in a firm, corporation, partnership, trust, estate, or other business; which is involved in a business transaction with, or in competition with, Steelcase Inc., its subsidiaries and affiliates; this could be construed as a conflict of interest and should be declared.
      </li>
    </ol>
  </div>
  <p class="vspace">
    <strong>
      If you have any questions about this policy, please contact Bob Lowry at 616.890.5432 or
<a href="mailto:rlowry@steelcase.com">rlowry@steelcase.com</a>.
    </strong>
  </p>
  <p class="vspace">
    <strong>
      I have received, read, and understand the company’s policy with respect to conflict of interest. I will comply with the letter as well as the intent of the policy. To the best of my knowledge, my status with regard to the conflict of interest policy is as follows:
    </strong>
  </p>
  <div class="vspace">
    <div class="col-15">
      Signature:
    </div>
    <div class="col-50">
      <$client.env.FormField.c3_Signature.HTML>
    </div>
  </div>
  <div class="vspace">
    <div class="col-15">
      Date:
    </div>
    <div class="col-30">
      <$client.env.FormField.c2_Date.HTML>
    </div>
  </div>
  <div class="vspace">
    Potential Conflicts of Interest:
    <$client.env.FormField.b2_PotentialConflicts.HTML>
  </div>
  <div class="vspace text-center">
    <div class="col-25">
      <img src="assets/img/steelcase_logo.jpg" alt="" class="img-responsive">
    </div>
  </div>
  <p class="vspace">
    Welcome to Steelcase! We want to do everything possible to make your assignment here professionally rewarding. Our company core values are important to us. We would like to take this opportunity to share those with you.
  </p>
  <h4>
    <strong>
      <u>STEELCASE VALUES</u>
    </strong>
  </h4>
  <div class="wrapper-inner vspace">
    <ul>
      <li>
        Act with integrity
      </li>
      <li>
        Tell the truth
      </li>
      <li>
        Keep commitments
      </li>
      <li>
        Treat people with dignity and respect
      </li>
      <li>
        Promote positive relationships
      </li>
      <li>
        Protect the environment
      </li>
      <li>
        Excel
      </li>
    </ul>
  </div>
  <p class="vspace">
    We are here to assist and support you throughout your assignment at Steelcase. Therefore, ifyou have any questions or concems, please contact us. All Steelcase employees have the right to work in a professional atmosphere that promotes respect and responsibility and is free ofharassing and unduly offensive behavior.
  </p>
  <h4>
    <strong>
      <u>HARASSMENT POLICY</u>
    </strong>
  </h4>
  <p class="vspace">
    Harassment, in any form, by either management or co-workers, is unlawful and violates company policy of treating all people with respect. This includes but is not limited to harassment based on any status or class protected by law such as race, color, religion, national origin, sex, age, physical or mental disability, sexual orientation, or veteran/military status.
  </p>
  <p class="vspace">
    Management will strive to maintain a work environment free of harassment, will act promptly to investigate allegations of harassment, and will take disciplinary action when it is warranted. In no way will the filing of a good faith harassment complaint or the outcome of the investigation result in any loss ofjob security for the complainant.
  </p>
  <p>
    <strong>Harassment</strong> is defined as conduct which has the purpose or effect of
  </p>
  <div class="wrapper-inner">
    <div class="wrapper-inner">
      <ul class="vspace">
        <li>
          creating an intimidating , hostile, or offensive work environment;
        </li>
        <li>
          unreasonably interfering with an individual's work performance;
        </li>
        <li>
          otherwise affecting an individual's employment opportunities.
        </li>
      </ul>
    </div>
  </div>
  <p>
    According to the Civil Rights Act, (Section 703 of Title VII), <strong>sexual harassment</strong> is defìned as any unwanted sexual advance, request for sexual favors or other verbal or physical conduct ofa sexual nature when any ofthe following is true:
  </p>
  <div class="wrapper-inner vspace">
    <div class="wrapper-inner">
      <ol>
        <li>
          Submission to such conduct is made, either explicitly or implicitly, a term or condition of an individual's employment.
        </li>
        <li>
          Submission to or rejection ofsuch conduct by an individual is used as the basis for employment decisions affecting such indivi dual.
        </li>
        <li>
          Such conduct has the purpose or effect ofsubstantially interfering with an individual's work performance or creating an intimidating, hostile, or offensive working environment.
        </li>
      </ol>
    </div>
  </div>
  <p class="vspace">
    Prohibited conduct includes: offensive sexual flirtations, suggestive commsnts, sexual innuendo, unwanted physical contact, repeated requests or pressure for "dates", advances, propositions, insults or verbal abuse of a sexual nature, graphic verbal commentaries about an individual's body, use of sexually degrading words or vulgar words of a sexual nature, humor orjokes about sex or gender-specifìc traits, or the display ofsexually suggestive objects or pictures. Prohibited conduct also includes non-verbal, suggestive, or sexually insulting actions such as leering, whistling, suggestive sounds, and obscene gestures. Prohibited touching would include any unwelcome touching of a sexual nature, pinching, intentional brushing ofthe body, sexual assault, and coerced sexual acts.
  </p>
  <p>
    <strong>Other Types of Harassment</strong>
  </p>
  <p class="vspace">
    Examples of harassment which are inappropriate and will not be tolerated at Steelcase include but are not limited to the following:
  </p>
  <h4>
    <strong>
      <u>VERBAL HARASSMENT</u>
    </strong>
  </h4>
  <div class="wrapper-inner vspace">
    <ol>
      <li>
        <strong>Jokes:</strong> Telling offensive jokes; taunting co-workers ol employees; mimicking someone's speech or accent; singling out an employee or co-worker as the object ofjokes.
      </li>
      <li>
        <strong>Stereotypes:</strong> Making comments or remarks that perpetuate stereotypes and myths about an individual or group.
      </li>
      <li>
        <strong>Proselytizing:</strong> Imposing religious views on others, requiring or encouraging employees to attend meetings
that are, in paft, religious.
      </li>
      <li>
        <strong>Denigration:</strong> Directing slurs, epithets, insults, and derogatory comments toward an individual and/or that person's gloup.
      </li>
      <li>
        <strong>Name Calling:</strong> Refening to an employee or coworker by derogatory names; affording titles of respect to some but not all employees or co-workers; making an employee look like a poor worker.
      </li>
      <li>
        <strong>Threats:</strong> Making verbal threats, intimidating employees or co-workers, making harassing phone calls.
      </li>
      <li>
        <strong>Rumors:</strong> Creating or spreading false and/or malicious rumors about an individual.
      </li>
    </ol>
  </div>
  <h4>
    <strong>
      <u>NON-VERBAL HARASSMENT</u>
    </strong>
  </h4>
  <div class="wrapper-inner vspace">
    <ol>
      <li>
        <strong>Visual Displays:</strong> Displaying pomographic materials, lewd photographs, derogatory cartoons, graffiti or other graphic material in common areas or via computer.
      </li>
      <li>
        <strong>Hazing:</strong> Singling out an employee or co-worker and subjecting him or her to ridicule; subjecting anyone to pranks that have a discriminatory effect or meaning for some individuals.
      </li>
      <li>
        <strong>Touching:</strong> Touching the intimate or non-intimate body areas of an employee or co-worker.
      </li>
      <li>
        <strong>Segregation:</strong> Ostracizing, excluding, refusing to support or offer resources to, or blocking access to an employee or co-worker.
      </li>
      <li>
        <strong>Discipline</strong>
      </li>
      <li>
        Violations of this policy will subject an employee to disciplinary action up to and including termination of employment.
      </li>
    </ol>
  </div>
  <h4>
    <strong>
      <u>RESPONSIBILITIES</u>
    </strong>
  </h4>
  <p>
    <strong>All Employees</strong> must comply with this policy and are encouraged to report instances of harassment. An employee who believes he or she has been the victim of harassment should make his or her complaint known to the immediate supervisor, employee relations or human resources manager, or the EEO department. Any complaint should be reported as promptly as possible, preferably within one week of the incident. All complaints will be investigated, regardless of rvhen reported. but Steelcase's ability to investigate thoroughly and plovide timely follow-up may be hampered ifthe report ofthe incident is delayed.
  </p>
  <p>
    <strong>Supervisors</strong> must be certain their own acts respect the rights and dignity ofall their subordinates and co-workers and cannot be misconstrued as harassment. In addition, supervisors must act immediately on observation or allegations of harassment. The company may be held legally liable for the acts of its supervisory employees who engage in or condone harassment, either openly or through failure to act.
  </p>
  <p>
    <strong>All levels of management</strong> are responsible for:
  </p>
  <div class="wrapper-inner vspace">
    <div class="wrapper-inner">
      <ol>
        <li>
          Being alert to possible instances ofharassment by observing subordinates'interactions.
        </li>
        <li>
          Immediately addressing instances of potential harassment.
        </li>
        <li>
          Immediately implementing an investigation in response to alleged or observed harassment.
        </li>
      </ol>
    </div>
  </div>
  <p>
    <strong>Management/ Employee Relations/Human Resources/EEO</strong> are responsible for collecting data, verifing information pertinent to the harassment complaint and conferring regarding appropriate disciplinary action. Upon resolution of the harassment complaint all documentation should be forwarded to the EEO Administrator.
  </p>
  <p>
    <strong>The EEO Department must</strong> be contacted regarding harassment based upon any status or class protected by law.
  </p>
  <p class="vspace">
    The <strong>EEO Administrator</strong> maintains copies of the complaint documentation and results for all complaints filed in regards to this policy.
  </p>
  <p class="vspace">
    I have read and understand this policy.
  </p>
  <div class="vspace">
    <div class="col-5">
      Date:
    </div>
    <div class="col-20">
      <$client.env.FormField.d2_Date.HTML>
    </div>
    <div class="col-10 text-right">
      Signed:
    </div>
    <div class="col-60">
      <$client.env.FormField.d1_Signature.HTML>
    </div>
  </div>
  <h4 class="text-center">
    <strong><u>Violence in the Workplace</u></strong>
  </h4>
  <p class="vspace">
    <strong><u>Purpose:</u></strong> To provide a work environment free of violence, to assure all employees have the ability to communicate their concerns over workplace conditions, and to outline the appropriate action for management and employees to take when dealing with individuals who threaten or engage in violent behavior.
  </p>
  <p class="vspace">
    <strong><u>Overview:</u></strong> Steelcase maintains a policy of zero tolerance with regard to workplace violence and will not tolerate any threats, intimidation or acts against other employees, vendors or customers or any deliberate damage of company or personal property Employees may not bring weapons onto company property under any circumstances.
  </p>
  <p class="vspace">
    <strong><u>Violence Prevention:</u></strong> Employees are encouraged to discuss their concerns with supervision before problems escalate to potential violence. An employee who is uncomfortable discussing a concern with his or her supervisor may choose to meet with another member of management, employee relations or human resources. (Reference Human Resources Policy: Open Door).
  </p>
  <p class="vspace">
    The Company also encourages associates who need assistance with personal or emotional problems to contact their employer to see if there are Counseling Services or Employee Assistance Programs available.
  </p>
  <p class="vspace">
    <strong><u>Violent Acts:</u></strong> Any act, deed, threat, or insinuation to commit physical harm to an individual or damage or destruction of company or personal property will constitute a violent act and subject the employee to disciplinary action up to and including termination of employment.
  </p>
  <p class="vspace">
    Steelcase policy of zero tolerance extends to jokes, jests, horseplay and any acts of intimidation. As a result, any threat will be presumed to reflect the employee's intent to physically harm another employee or property and be treated seriously, regardless of whether the employee later claims he or she had no intention of acting on the threat. Steelcase reserves the right to notify the associate's employer for individuals who threaten or engage in workplace violence.
  </p>
  <p class="vspace">
    <strong><u>Possession of a Weapon:</u></strong> Employees may not bring guns, ammunition or any item classified as a weapon under state or local law onto company property unless specifically authorized by the Company. This ban applies to all employees regardless of whether they may have been issued any type of permit to carry a weapon. These items include but are not limited to rifles, shotguns, handguns, and switchblades. lf any employee is uncertain whether an item is considered a weapon, the employee should not bring it onto company property until he or she seeks clarification from protection services. Possession of a weapon on company property will result in disciplinary action up to and including termination of employment.
  </p>
  <p class="vspace">
    <strong><u>lnvestigations:</u></strong> Any act or threat of violence may result in an investigation of the employee's background, criminal history, weapons ownership or police reports. The company reserves the right to search any company property such as work areas, lockers, desks etc. or any personal property an employee brings onto company premises including bags, purses, automob¡les etc.
  </p>
  <p class="vspace">
    <strong><u>Emplovee and Management Responsibilities:</u></strong> All associates working on Steelcase property are responsible for complying with this policy and conducting themselves in a manner free of harassing, intimidating, threatening or violent behavior.
  </p>
  <p class="vspace">
    All employees have an obligation to immediately report any threat or act of violence they observe or are aware of against a coworker, supervisor, visitor or any other individual as well as any threat or action to damage or destroy company or personal property. The potential for injury or loss of life outweighs the obligation to preserve any confidence requested by the employee who issued or witnessed a threat. Employees should report such threats to their supervisor, employee relation's manager, security, or any member of management. Any employee who knowingly fails to report a threat or act of violence is subject to disciplinary act¡on up to and including termination of employment.
  </p>
  <p class="vspace">
    Employee reports will be held in confidence to the maximum possible extent. Steelcase will not condone any form of retaliation aga¡nst any employee for making a report under this policy.
  </p>
  <p class="vspace">
    I have read and agree to abide by this Violence in the Work place policy
  </p>
  <div class="vspace">
    <div class="col-10">
      Signature:
    </div>
    <div class="div col-60">
      <$client.env.FormField.e1_Signature.HTML>
    </div>
    <div class="col-5 text-right">
      Date:
    </div>
    <div class="col-25">
      <$client.env.FormField.e2_Date.HTML>
    </div>
  </div>
  <div class="vspace text-center">
    <strong>Substance Abuse</strong>
  </div>
  <p>
    <strong><em>Overview</em></strong>
  </p>
  <p class="vspace">
    Steelcase policy is to prevent substance abuse and to deal appropriately with abuse problems which arise. The contractor employee’s agency administers drug tests to all employment candidates if the plan is for them to work onsite at a designated Steelcase facility.
  </p>
  <p>
    Steelcase understands that persons who abuse drugs and alcohol are involved in incidents and are injured more frequently than non-drug users. As part of our effort to maintain a safe workplace, Steelcase may require testing as follows:
  </p>
  <div class="wrapper-inner vspace">
    <ul>
      <li>Upon a contractor’s involvement in an incident, the contractor receives a drug and alcohol test.</li>
      <li>
        Upon initial offer of employment or return from any leave of 30 or more days, the contractor receives a drug test.
      </li>
      <li>
        A health and safety professional may ask a contract employee to submit to a test when the contractor exhibits symptoms of being under the influence of drugs or alcohol.
      </li>
    </ul>
  </div>
  <p class="vspace">
    Any confirmed positive test will result in corrective and/or disciplinary action at the discretion of the company as described in this policy.
  </p>
  <p>
    <strong><em>Substance Abuse</em></strong>
  </p>
  <p class="vspace">
    Company policy prohibits contracted employees from possessing, using or being under the influence of a non-prescribed controlled substance or alcohol during work hours and/or on company property. "Under the influence" is defined as the presence of controlled substances or alcohol in a person's system. "Company property" includes, but is not limited to, any company facility, employer or contractor parking lots, company owned or leased vehicles and other equipment. Contract employees found selling or transferring any controlled substances on or off Steelcase property, based on reasonably objective evidence of such activity (regardless of whether an arrest and/or conviction for such activity occurs), or arrested and convicted for selling controlled substances, or any lesser included offense resulting from such activity (including, e.g., intent to distribute, possession, delivery, or use) are subject to suspension, possibly leading to discharge.
  </p>
  <p class="vspace">
    The contracted employee can refuse counseling, can refuse to submit to a substance abuse test, and can refuse permission to be searched or have his or her personal property searched. Such refusal, however, will result in discipline such as immediate suspension and possible termination of employment.
  </p>
  <p class="vspace">
    In addition, no contracted employee is to work at any time while using any medication that could impair the contracted employee's safe and effective job performance. This policy applies to both prescription and over-the-counter medications.
  </p>
  <p>
    <strong><em>Definitions</em></strong>
  </p>
  <p class="vspace">
    For purposes of this policy, an incident is any event that threatens or causes personal injury or property damage, reckless or unsafe behavior on the job, or other circumstances giving reason to suspect a violation of this policy.
  </p>
  <p>
    <strong><em>A positive test for alcohol is:</em></strong>
  </p>
  <p>A positive test for alcohol is:</p>
  <p>A blood or urine alcohol level of 0.05 dl or greater</p>
  <p class="vspace">
    <strong><em>A blood or urine alcohol level of 0.05 dl or greater</em></strong>
  </p>
  <p class="vspace">A blood or urine alcohol level of 0.05 dl or greater</p>
  <p>
    <strong><em>Use of Medications</em></strong>
  </p>
  <p class="vspace">
    Controlled Substances: Contract employees are not permitted to work while using a medication that contains a controlled substance, unless (1) the employee’s use is authorized by and consistent with a valid prescription from a licensed medical provider, and (2) the use of the medication will not impair the employee’s ability to perform his or her job duties safely and effectively.
  </p>
  <p class="vspace">
    All Medications: Contract employees using medications are responsible to determine whether the medication could impair their ability to meet the Company’s requirements for safety, performance, and conduct. Employees are encourages to consult their physician or other appropriate medical provider for answers to questions about this.
  </p>
  <p class="vspace text-right">
    Revised: August 20, 2015
  </p>
  <p>
    <strong><em>Employment</em></strong>
  </p>
  <p class="vspace">
    If a contracted employee under consideration for regular hire tests positive, the contracted employee will no longer be considered for regular hire. In addition, the temporary agency will be notified of the test results and the contracted employee will no longer be allowed to work at Steelcase as a contracted employee.
  </p>
  <p class="vspace">
    Depending on employment opportunities in effect at the time, the candidate may re-apply after one year and be considered for employment if positions are available and the candidate meets Steelcase requirements.
  </p>
  <p>
    <strong><em>Return from Leave</em></strong>
  </p>
  <p class="vspace">
    Contracted employees will be tested for drugs upon return from any leave of 30 days or more. Leaves are to include but are not limited to voluntary or involuntary layoff, personal or military. In the event of a confirmed positive test, the contracted employee will be discharged from the company.
  </p>
  <p class="vspace">
    Depending on employment opportunities in effect at the time, the former contracted employee may re-apply after one year and be considered for employment if positions are available and the individual meets Steelcase requirements.
  </p>
  <p>
    <strong>
      <em>Initial Visit to Medical Facility/ Involvement in Incident</em>
    </strong>
  </p>
  <p class="vspace">
    Contracted employees will be tested for alcohol and drugs prior to employment or upon involvement in an incident at a company provided medical facility. Contracted employees that bypass a safety device or when there is a safety violation with disabling injury imminent will be tested for alcohol and drugs.
  </p>
  <p class="vspace">
    City Fleet Drivers are subject to this policy if involved in an accident on company property. If involved in an accident while on the road, drivers are subject to substance abuse testing as required by Department of Transportation (DOT) regulations.
  </p>
  <p>
    <strong><em>Possession and/or Under the Influence</em></strong>
  </p>
  <p>
    If a contracted employee is suspected of being under the influence of and /or in possession of a controlled substance or alcohol during working hours and/or while on company property:
  </p>
  <ol class="vspace">
    <li>The supervisor reports the suspected violation to Corporate Security.</li>
    <li>
      Corporate Security, and contractor’s employer, will determine whether there are reasonable grounds to warrant testing or a search. If reasonable grounds exist to suspect a contracted employee is under the influence at work, he or she will be asked to take substance abuse tests.
      <ul>
        <li>
          Corporate Security will request permission from the contract employee to search him or her, or his or her property.
        </li>
      </ul>
    </li>
    <li>
      Corporate Security will assist, as requested, in procedures related to suspected possession or influence incidents.
    </li>
  </ol>
  <p>
    <strong>
      <em>Sale or Distribution</em>
    </strong>
  </p>
  <p class="vspace">
    If the contract employee is suspected of selling a controlled substance, the supervisor will contact Corporate Security and Human Resources for assistance.
  </p>
  <p>
    <strong>
      <em>Sale or Distribution</em>
    </strong>
  </p>
  <p class="vspace">
    If the contract employee is suspected of selling a controlled substance, the supervisor will contact Corporate Security and Human Resources for assistance.
  </p>
  <p>
    <strong>
      <em>Disciplinary Action</em>
    </strong>
  </p>
  <p>
    If the test is initially found positive for either a controlled substance or alcohol, the contracted employee will be immediately released from their assignment.
  </p>
  <p>
    Note: If an employee claims a positive test is the result of prescription medication or Medical Marijuana, the contractor should go to their physician and submit records/documents on physician letterhead stating the reason for the substance which will then be reviewed by the Steelcase Health and Safety team.
  </p>
  <div class="wrapper-inner vspace">
    <ul>
      <li>
        If the Steelcase Health and Safety Team verifies the usage of a prescription medication and determines a negative drug test, the employee will be allowed to return to work.
      </li>
    </ul>
  </div>
  <div class="vspace">
    <div class="col-10">
      Signature:
    </div>
    <div class="div col-60">
      <$client.env.FormField.f1_Signature.HTML>
    </div>
    <div class="col-5 text-right">
      Date:
    </div>
    <div class="col-25">
      <$client.env.FormField.f2_Date.HTML>
    </div>
  </div>
  <div class="vspace text-right">
    Revised: August 20, 2015
  </div>
  <h4 class="text-center vspace">
    <strong>GLOBAL BUSINESS STANDARDS</strong>
  </h4>
  <p class="vspace">
    A Message from Jim Keane
  </p>
  <figure class="vspace">
    <div class="col-15 vertical-top">
      <img class="img-responsive" src="assets/img/jim_keane.jpg" alt="">
    </div>
    <figcaption class="col-85 vertical-top">
      Trust, integrity and mutual respect are integral to our company's culture. Our core values of "Act with integrity" and "Tell the truth" have guided our behavior and business practices for over 100 years. We want to do not only what is right, but what is best. And we want everyone we deal with - customers, dealers, competitors - to know this is how we will do business.
    </figcaption>
  </figure>
  <p class="vspace">
    In today's business environment, it's important to stand behind our commitments. We ask all of our employees to go through training on these standards to demonstrate that we take these issues seriously. It boils down to this: Do what's right, and if you think something isn't right, say something. Talk to your leader, or use our integrity line.
  </p>
  <p class="vspace">
    We are in business together. Your reputation is our company's reputation. Thank you for all you do to uphold our high standards,
  </p>
  <div class="vspace wrapper-inner">
    <div class="col-30">
      <img class="img-responsive" src="assets/img/jim_keane_sig.jpg" alt="">
    </div>
  </div>
  <p>
    James P. Keane
  </p>
  <p class="vspace">
    President and Chief Executive Officer
  </p>
  <div class="wrapper-inner">
    <div class="col-15 wrapper-inner">
      <img class="img-responsive" src="assets/img/steelcase_logo_grey.jpg" alt="">
    </div>
  </div>
  <div class="vspace text-center">
    <strong>It's all about doing what's right.</strong>
  </div>
  <p class="vspace">
    As a Steelcase contract employee or resident vendor, you are expected to follow our corporate policies, practices, guides, handbooks, and the laws and regulations governing these areas where Steelcase Inc. does business. Being a global company means that the way we do business must recognize and comply with the laws and regulations of international commerce. It requires understanding the laws and culture of all countries in which we are located or serve customers.
  </p>
  <p class="vspace">
    And as a part of a law called The Sarbanes-Oxley act of 2002, Steelcase is required to train all employees on our legal and ethical guidelines. It's all about doing what's right.
  </p>
  <p class="vspace">
    These guidelines are called our Global Business Standards. They spell out what employees and vendors, including you, should do when confronted with serious or questionable situations at work, including harassment, theft, or misuse of company property. Obviously, some of these situations have legal and moral consequences, not just for the individual but for the company as a whole.
  </p>
  <p class="vspace">
    So, it's our responsibility to act lawfully, ethically, fairly, and in a manner that sustains healthy business relationships and instills loyalty with each other, our customers, our shareholders, and our business partners, all within the confines of the law. We want you to know how to handle potentially serious situations and who to go to with questions or concerns.
  </p>
  <p class="vspace">
    This document serves as your training on Steelcase's Global Business Standards. Please review the examples below so you'll know what to do if you ever witness or become involved in one of these situations.
  </p>
  <div class="wrapper-inner vspace">
    <ul>
      <li>
        <strong>Treat people with dignity and respect.</strong> The company will not tolerate discriminatory behaviors or practices within any of our work environments. Our people have the right to work in an atmosphere that is free from intimidation, threats, hostility, violence, harassment, or disruptions to work performance. You are expected to promptly report discriminatory or harassment behaviors to Human Resources or your supervisor.
      </li>
      <li>
        <strong>Provide a safe and healthy environment.</strong> Report all accidents, injuries, unsafe practices or conditions to your supervisor. All associates are expected to observe safety and health rules.
      </li>
      <li>
        <strong>Maintain accurate business records.</strong> You are expected to provide accurate and adequate information when disclosing financial information on these records. You are expected to follow all statutory and regulatory requirements, and obey all applicable rules of federal, state, and local governments.
      </li>
      <li>
        <strong>Disclosing information about Steel case Inc. Operations.</strong> All requests for financial data or information regarding the operations of Steelcase Inc. should be directed to the Investor Relations department.
      </li>
      <li>
        <strong>Responding to media requests or making public statements.</strong> Requests for information from the media should be cleared through the Public Relations/Corporate Communications Department.
      </li>
      <li>
        <strong>Avoid conflicts of interest.</strong> Employees must not allow personal considerations or relationships to influence their business-related decisions. Examples of conflicts of interest include outside financial interests; doing business with relatives; accepting or giving business gifts, money, or hospitality.
      </li>
      <li>
        <strong>Avoid gambling/loan activity.</strong> Gambling is not permitted on Steelcase time or property. While on company property, any exchange of money for leagues, pool, or games is gambling, even if you are on a break or lunch.
      </li>
      <li>
        <strong>Firearms and other items classified as weapons are not permitted on company property.</strong> Steelcase is responsible for maintaining a safe work environment, even if the employee has a license to carry a weapon. If you become aware of weapons present on Steelcase property, you should contact your supervisor, Protection Services, or HR immediately.
      </li>
      <li>
        <strong>Protect the environment.</strong> The goal is to be proactive and continually incorporate environmental, health and safety considerations into our products, activities, and services.
      </li>
    </ul>
  </div>
  <p class="vspace">
    You are expected to report suspicious activities or known violations of our Global Business Standards. The first place to go to is your supervisor or HR. But if you can't resolve a situation that way, call the North American Toll Free Integrity Line at 1-800-437-6167 or access the Integrity Line Website at <a href="https://www.compliance-helpline.com/welcomePageSteelcase.jsp">https://www.compliance-helpline.com/welcomePageSteelcase.jsp</a>. All inquires are confidential, and Steelcase policy protects employees from being threatened or punished in any way for reporting suspected violations. For a complete copy of the Global Business Standard policy, see your supervisor or agency contract manager.
  </p>
  <div class="vspace">
    <div class="col-10">
      Signature:
    </div>
    <div class="div col-60">
      <$client.env.FormField.g1_Signature.HTML>
    </div>
    <div class="col-5 text-right">
      Date:
    </div>
    <div class="col-25">
      <$client.env.FormField.g2_Date.HTML>
    </div>
  </div>
  <h4 class="vspace text-center">
    EMPLOYMENT RESTRICTIONS DISCLOSURE AND ACKNOWLEDGMENT AGREEMENT<br>FOR CONTRACT LABOR
  </h4>
  <p class="vspace">
    <u>Confidential and Proprietarv lnformation.</u>
  </p>
  <p class="vspace">
    Steelcase believes in competing fairly and honestly. During the course of your work for prior employers you may have had access to and control of documents and other information that your former employer considers to be confidential and proprietary information. Steelcase does not expect or want you to use such information for the benefit of Steelcase, yourself or any third party. Any violation by you of this obligation may result in Steelcase terminating our relationship with you.
  </p>
  <p class="vspace">
    <u>Post-Emplovment Restrictions.</u>
  </p>
  <p class="vspace">
    Steelcase takes post-employment restrictions with your prior employers seriously. As part of onboarding process, Steelcase needs to know if you are subject to any post-employment restrictions with any former employers that would prevent you from performing any work for or on behalf of Steelcase. These types of post-employment restrictions could be formalized in writing or be an oral agreement between you and your former employer. They would typically be expressed as "restrictive covenants", "non-compete or non-competition agreements", "non-solicit or non-solicitation agreements" and be located in documents such as employee handbooks, employment agreements, severance and other types of separation agreements, equity awards, partnership agreements and other types of business ownership documents, business purchase and sale documents, etc. lf you are subject to any such postemployment restrictions with any of your former employers you are required to advise Steelcase and provide us with copies of relevant documents immediately. Any offer is contingent on our review of the situation. lf we learn about any post-employment restrictions you are subject to after the fact or that you are somehow violating any post-employment restrictions you are subject to we may choose to terminate our relationship with you.
  </p>
  <div class="vspace">
    <div class="col-5">
      Name:
    </div>
    <div class="div col-60">
      <$client.env.FormField.h1_Name.HTML>
    </div>
    <div class="col-5 text-right">
      Date:
    </div>
    <div class="col-25">
      <$client.env.FormField.h2_Date.HTML>
    </div>
  </div>
</main>
