<main>
  <header class="vspace">
    <div class="col-30 vspace">
      <img src="assets/img/lw_logo.jpg" alt="" class="img-responsive">
    </div>
  </header>
  <h4 class="text-center vspace">
    <strong>Policy Acknowledgement Form</strong>
  </h4>
  <p class="vspace">
    By selecting the check box of each policy, I acknowledge that I have read the policy and understand how this policy affects me and understand the guidelines and requirements of each.
  </p>
  <div class="block-checkbox center-block">
    <div class="vspace">
      <div class="inline-block vertical-middle">
        <$client.env.FormField.a01_Confidentiality.HTML>
      </div>
      <div class="inline-block vertical-middle">
        <a target="_blank" href="<$link;/eprise/main/SiteGen/Onboarding/Content/Uploads/Unplaced_Documents/Confidentiality_of_Information_Policy.pdf>" onclick="getElementById('a01_Confidentiality').disabled=false;">
          Confidentiality of Information Policy
        </a>
      </div>
    </div>
    <div class="vspace">
      <div class="inline-block vertical-middle">
        <$client.env.FormField.a02_Equal_Employment.HTML>
      </div>
      <div class="inline-block vertical-middle">
        <a target="_blank" href="<$link;/eprise/main/SiteGen/Onboarding/Content/Uploads/Unplaced_Documents/Equal_Opportunities_Policy_2.13.2015.pdf>" onclick="getElementById('a02_Equal_Employment').disabled=false;">
          Equal Employment Opportunity
        </a>
      </div>
    </div>
    <div class="vspace">
      <div class="inline-block vertical-middle">
        <$client.env.FormField.a03_Harassment_Prevention.HTML>
      </div>
      <div class="inline-block vertical-middle">
        <a target="_blank" href="<$link;/eprise/main/SiteGen/Onboarding/Content/Uploads/Unplaced_Documents/Harassment_Prevention_Policy_2.13.2015.pdf>" onclick="getElementById('a03_Harassment_Prevention').disabled=false;">
          Harassment Prevention Policy
        </a>
      </div>
    </div>
    <div class="vspace">
      <div class="inline-block vertical-middle">
        <$client.env.FormField.a04_Nondiscrimination.HTML>
      </div>
      <div class="inline-block vertical-middle">
        <a target="_blank" href="<$link;/eprise/main/SiteGen/Onboarding/Content/Uploads/Unplaced_Documents/Nondiscrimination_on_Basis_of_Disabilities_Policy.pdf>" onclick="getElementById('a04_Nondiscrimination').disabled=false;">
          Nondiscrimination on Basis of Disabilities Policy
        </a>
      </div>
    </div>
  </div>
  <p class="vspace">
    I hereby acknowledge receipt of the preceding Firm policies, and have read and understood them. I understand that these policies do not, in any way whether express or implied, vary the “at-will” nature of my employment with Latham & Watkins LLP. I also understand that any rules, policies and benefits described in these policies may be modified or varied from by the Firm at any time. I understand any employee who engages in conduct prohibited by these or other Firm Policies may be subject to disciplinary action, up to and including termination of employment. In addition, I understand it is my obligation to report conduct that I believe violates Firm Policies, to enable the Firm to take action as appropriate.
  </p>
  <div class="vspace">
    <div class="col-50">
      <$client.env.FormField.a05_Employee_Name.HTML>
      Employee Name
    </div>
  </div>
  <div class="vspace">
    <div class="col-50 vertical-middle">
      <$client.env.FormField.a06_Signature.HTML>
      Electronic Signature
    </div>
    <div class="col-25 vertical-middle">
      <$client.env.FormField.a07_Date.HTML>
      <br>Date (mm/dd/yyyy)
    </div>
  </div>
  <div class="horizontal-line vspace">&nbsp;</div>
  <div class="block-checkbox center-block vspace">
    <p>
      <a target="_blank" href="<$link;/eprise/main/SiteGen/Onboarding/Content/Uploads/Unplaced_Documents/Name_Likeness_and_Image_Release.pdf>">
        Name, Likeness and Image Release
      </a>
    </p>
    <div class="inline-block vertical-middle">
      Do you agree to the policy?
    </div>
    <div class="inline-block vertical-middle">
      <$client.env.FormField.a08_Agree.HTML>
    </div>
  </div>
  <section id="likeness-section">
    <div class="vspace">
      <div class="col-50">
        <$client.env.FormField.a09_Employee_Name.HTML>
        Employee Name
      </div>
    </div>
    <div class="vspace">
      <div class="col-50 vertical-middle">
        <$client.env.FormField.a10_Signature.HTML>
        Electronic Signature
      </div>
      <div class="col-25 vertical-middle">
        <$client.env.FormField.a11_Date.HTML>
        <br>Date (mm/dd/yyyy)
      </div>
    </div>
  </section>
  <div class="block-checkbox center-block vspace">
    <p>
      <a target="_blank" href="<$link;/eprise/main/SiteGen/Onboarding/Content/Uploads/Unplaced_Documents/Name_Likeness_and_Image_Release.pdf>">
        Personal Information Release
      </a>
    </p>
    <div class="inline-block vertical-middle">
      Do you agree to the policy?
    </div>
    <div class="inline-block vertical-middle">
      <$client.env.FormField.a12_Agree.HTML>
    </div>
  </div>
  <section id="personal-section">
    <div class="vspace">
      <div class="col-50">
        <$client.env.FormField.a13_Employee_Name.HTML>
        Employee Name
      </div>
    </div>
    <div class="vspace">
      <div class="col-50 vertical-middle">
        <$client.env.FormField.a14_Signature.HTML>
        Electronic Signature
      </div>
      <div class="col-25 vertical-middle">
        <$client.env.FormField.a15_Date.HTML>
        <br>Date (mm/dd/yyyy)
      </div>
    </div>
  </section>
  <p class="vspace">
    If you are submitting this form electronically, type your name on the Electronic Signature line, enter or select today's date and check the box to the left of "I agree". This is your electronic signature. By electronically signing this form, you agree to all the terms contained herein.
  </p>
</main>

<script type="text/javascript">
$(document).ready(function() {
  function enableSection(dependent) {
    var disabled = true,
        dep = $('[data-depends="#' + dependent.attr('id') + '"]');
    if (dependent.val() == 'Yes') {
      var disabled = false;
    }
    dep.prop('disabled', disabled);
    setTimeout(function() {
      dep.parent().find('input.calendar_button').prop('disabled', disabled);
    }, 500);
  }
  $('#personal, #likeness').on('change', function() {
    enableSection($(this));
  });
  enableSection($('.likeness:checked'));
  enableSection($('.personal:checked'));
});
</script>
