<main class="container-fluid">
	<header class="row vspace-lg">
		<div class="col-lg-2 col-md-2 col-6 col-xs-6">
			<img src="assets/img/tiaa_logo.jpg" alt="Experis TIAA" class="img-responsive">
		</div>
	</header>
	<div class="row vspace">
		<div class="col-lg-12">
			<p class="vspace text-right">
				December 2017
			</p>
			<h4>
				<strong>Contingent Worker Program Policy Handbook and Non-Disclosure Agreement for Contingent Workers on Assignment to TIAA</strong>
			</h4>
		</div>
	</div>
	<div class="row vspace">
		<div class="col-lg-12">
			<div class="text-indent-lg">
				<p>
					The TIAA Organization (inclusive of Teachers Insurance and Annuity Association of America and any fund, subsidiary, and/or companion company of Teachers Insurance and Annuity Association of America, and collectively referred to here as “TIAA”) is dedicated to safeguarding its business interests and the assets and information of its customers, participants, and employees by continually reviewing and enhancing applicable policies and procedures. To that end, TIAA has prepared this Contingent Worker Program Policy Handbook (this “Handbook”) to provide TIAA’s vendors and contingent workers assigned to TIAA with summary statements of TIAA’s key policies, procedures, and expectations.
				</p>

					TIAA requires all vendors and contingent workers doing business with TIAA to comply with all policies and procedures set forth in this Handbook and any other policies and procedures of TIAA that the vendor and/or contingent worker is informed applies to TIAA’s business relationship with such vendor and/or contingent worker. It is especially important that vendors and contingent workers obey all applicable laws, rules, and regulations in addition to honoring and fully abiding by TIAA’s standards o f ethical business conduct and integrity. Vendors must maintain confidentiality of all TIAA confidential and proprietary information and records. As set forth in the “Non-Disclosure and Confidentiality Agreement, Affirmation, and Acknowledgement of Receipt and Understanding of Contingent Worker Program Policy Handbook” found at the end of this Handbook and that each contingent worker must sign, each contingent worker is also obligated to protect and not to disclose or use TIAA’s confidential and proprietary information and records, as defined there.

				<p>
					Vendors and contingent workers assigned to TIAA are expected to conduct business with TIAA in a highly ethical manner. Failure to do so may result in the termination of the vendor’s engagement with TIAA and/or a contingent worker’s assignment to TIAA by a TIAA vendor.
				</p>

				<p>
					<strong>Questions about any of the content of this Handbook, or suspected violations of any TIAA policies or procedures, should be raised or directed to a contingent worker’s assigned Project Contact; TIAA’s Contingent Worker Program Manager within TIAA’s Strategic Sourcing area; the TIAA Ethics HelpLine at 877-774-6492; and/or TIAA’s Contingent Worker Program Contacts – Mandy Swaim (<a href="mailto:Amims@tiaa.org">Amims@tiaa.org</a>) or Melissa St. Clair (Mst.clair2@tiaa.org).</strong>
				</p>

				<p>
					TIAA reserves the right to change, revise, or eliminate any polices and/procedures or this Handbook, at its sole discretion with or without notice.
				</p>

				<h5>
					<strong>TIAA’s CODE OF BUSINESS CONDUCT AND VENDOR CODE OF BUSINESS CONDUCT</strong>
				</h5>

				<p>
					TIAA is committed to the highest level of legal and ethical standards in the conduct of its business. This commitment extends to every action its takes in working with each other and with participants, client institutions, and other business or investment organizations. TIAA expects all vendors and their employees, agents, contingent workers, and subcontractors (collectively “Representatives”) to adhere to TIAA’s Code of Business Conduct and also the below provisions of TIAA’s Vendor Code of Business Conduct, when conducting business with or on behalf of TIAA. It is the responsibility of each vendor to educate its Representatives to ensure that they understand and comply with TIAA’s Code of Business Conduct and Vendor Code of Business Conduct. In addition to any specific obligations a vendor may owe to TIAA under the vendor’s contract with TIAA, each TIAA vendor and its Representatives shall comply with the following:
				</p>

				<p>
					<strong>Summary of TIAA’s Code of Business Conduct: Guiding Principles</strong>
				</p>

				<p>
					<strong>I. Be Honest and Fair:</strong> TIAA is committed to honesty and fair dealing. Transparency is critical to building and maintaining trust. All decisions should be reached with integrity. TIAA adheres to the highest standards of ethical business conduct.
				</p>

				<p>
					<strong>II. Use Good Judgment:</strong> TIAA expects the use of good judgment. Good judgment involves thinking things through, sharing information, working through ideas with others and sometimes holding off on taking an action to avoid a harmful outcome. TIAA also ensures that its employees, vendors, and contingent workers, among others, avoid actual or potential conflicts of interest.
				</p>

				<p>
					<strong>III. Be Accountable:</strong> TIAA employees, vendors, and contingent workers, among others, must be accountable for their words, whether oral or written, and their actions.
				</p>

				<p>
					<strong>IV. Be Respectful and Promote Inclusion:</strong> TIAA employees, vendors, and contingent workers, among others, must treat each other with respect and act in a professional manner. TIAA is committed to workplace diversity and inclusion.
				</p>

				<p>
					<strong>V. Comply with Laws and Regulations:</strong> TIAA is committed to conducting its business in a manner that complies with applicable laws and regulations.
				</p>

				<p>
					<strong>VI. Protect Customer and Company Information:</strong> TIAA is committed to protecting its customer and other non-public corporate information. Customer information only should be reviewed or shared to the extent permitted, required, and necessary to conduct TIAA business. Proprietary business information, such as client data, investment data, employee data, product information or company strategy, should be shared only with authorized parties on a need-to-know basis, and must not be retained or used by employees or contingent workers who are no longer providing services to TIAA.
				</p>

				<p>
					<strong>VII. Ask Questions and Speak Up:</strong> TIAA fosters a culture that encourages employees and contingent workers to ask questions and voice concerns. They are encouraged to ask questions and raise concerns in an appropriate forum. TIAA is committed to an inclusive work environment where employees and contingent workers may ask questions and speak up in good faith without fear of retaliation. Asking questions and raising concerns is fully supported and expected at TIAA.
				</p>

				<p>
					<strong>TIAA’s Vendor Code of Business Conduct:</strong>
				</p>

				<ul class="vspace-lg">
					<li>
						Conduct business consistent within the letter and the spirit of all applicable laws, rules, and regulations, which also includes honest, complete, and accurate recording of information and compliance with record retention standards.
					</li>
					<li>
						Maintain the highest standards of ethical business conduct and integrity and avoid the appearance of, or actual, conflicts of interest.
					</li>
					<li>
						Protect the confidentiality and privacy of all employee, client, proprietary, and third-party information and records of TIAA.
					</li>
					<li>
						Use TIAA-provided property, physical and intellectual assets, equipment, information technology and systems, and electronic communication facilities, including, but not limited to, laptops, mobile devices, e-mail, voice mail, fax, Intranet, and Internet, for authorized TIAA business- related purposes only. TIAA prohibits the use of these items or systems for illegal, fraudulent, or unethical activities or to create, access, store, print, solicit, or send any material that is, or may be perceived to be, obscene, harassing, threatening, malicious, derogatory, or otherwise offensive in any way. Users of these systems should have no expectation of privacy as TIAA consistently monitors and reviews electronic activity and communications through TIAA’s network and communication systems.
					</li>
					<li>
						Comply with TIAA’s password, confidentiality, information security, privacy, and safety standards and procedures.
					</li>
					<li>
						Comply with the intellectual property ownership rights of TIAA and others including but not limited to copyrights, trademarks, and trade secrets and use software, hardware, and content only in accordance with their associated license or terms of use.
					</li>
					<li>
						Comply with TIAA’s “brand” standards and expectations in any business interactions to ensure communications with others reflect positively on TIAA and protects the “TIAA” brand. This includes proper use of TIAA’s logo and other registered trademarks. TIAA’s relationships with its vendors require special attention to avoid implied endorsements, implied relationships, reputational risks, and brand dilution. Vendors and contingent workers should review TIAA’s <a href="http://sip.ops.tiaa-cref.org/pnp/Published%20Policies%20and%20Procedures/Governance%20of%20TIAA%20Brand%20Identity%20Policy.doc" target="_blank">Governance of TIAA Brand Identity Policy</a> and <a href="http://sip.ops.tiaa-cref.org/pnp/Published%20Policies%20and%20Procedures/Governance%20of%20TIAA%20Brand%20Identity%20SOP.doc">Standard Operating Procedure</a>, which collectively prohibit any use or representation of the “TIAA” name, addresses, logos, trademarks, trade names, etc., in press releases, promotional materials, advertising, marketing or business- generating efforts by third-party vendors. Any exceptions to this prohibition must be approved by TIAA’s Brand Strategy area in writing. These restrictions apply to all contingent workers assigned to TIAA.
					</li>
					<li>
						Conduct employment practices in compliance with all applicable laws and regulations and promote equal opportunity in the workplace. TIAA is an equal employment opportunity and affirmative action employer and is committed to fair dealing and maintaining a work environment free of bias, harassment, discrimination, and/or retaliation. TIAA does not, and expects that that vendors not, discriminate on the basis of race, creed, ethnicity, color, age, religion, sex, sex stereotype, pregnancy (including childbirth, breastfeeding or related medical conditions where applicable), sexual orientation, gender, gender identity, gender expression, transgender, marital status, national origin, ancestry, physical or mental disability, requesting a reasonable accommodation based on mental or physical disability, medical condition (as defined by applicable law), genetic history and information, citizenship status, military or veteran status, or any other status protected by federal, state, or local law or ordinance or regulation (collectively referred to here as “protected characteristics”).
					</li>
					<li>
						Identify and actively develop business relationships with vendors and contractors owned by historically underrepresented groups, including minorities and women.
					</li>
					<li>
						Use good judgment when offering gifts or entertainment to TIAA employees. Vendors must not offer gifts of cash or substantial value, or lavish entertainment, to TIAA employees and/or any other representative, including, among others, members of any TIAA Board.
					</li>
					<li>
						Maintain professional and respectful relationships with TIAA’s employees. Vendors should not conduct fundraising activities in the workplace or solicit charitable or non-charitable sales from employees unless specifically authorized by TIAA in advance.
					</li>
					<li>
						Prohibit the use, purchase, possession, sale, and/or distribution of controlled substances while conducting business on behalf of TIAA or on TIAA owned or leased property of any kind, including vehicles.
					</li>
					<li>
						Speak on behalf of TIAA in a public forum only if specifically authorized to do so in writing in advance by TIAA.
					</li>
					<li>
						All Occupants, Guests and Visitors must obey the posted speed limits while on campus at all times
					</li>
				</ul>

				<h5>
					<strong>CONFIDENTIALITY AND MATERIAL NON-PUBLIC INFORMATION (“MNPI”) POLICY</strong>
				</h5>

				<p>
					This Confidentiality MNPI Policy should be read in conjunction with the “Non-Disclosure and Confidentiality Agreement, Affirmation, and Acknowledgement of Receipt and Understanding of Contingent Worker Program Policy Handbook” that each contingent worker must sign at the conclusion of this Handbook. In the ordinary course of its business, TIAA obtains, develops, and maintains a broad variety of non-public personal, financial, and other proprietary information. TIAA’s policy prohibits the disclosure or use of any such non-public information (“Confidential Information”) that it obtains or develops except for clearly defined and authorized legitimate business purposes. Confidential Information is not to be used to the detriment of TIAA or for the personal gain of any individual. <strong>Vendors and their Representatives must comply with this Policy</strong>.
				</p>

				<p>
					Most businesses and individuals closely guard the confidentiality and privacy of their business and financial affairs. The trust placed in TIAA could be irreparably damaged if Confidential Information furnished to it by its constituents, including policyholders, participating institutions, borrowers, participants, clients, and employees, is disclosed to others. The protection of other Confidential Information of TIAA, including, but not limited to, business information, plans, and strategies developed within TIAA, is equally important. In the intensely competitive environment in which TIAA operates, the disclosure to outsiders of TIAA's strategic plans, new product development, and/or pricing policies, among other Confidential Information, could be damaging to TIAA. Vendors and contingent workers must constantly be aware of the importance or sensitive nature of the information they handle on TIAA’s behalf and the potential harm that could result from the inadvertent disclosure of that information.
				</p>

				<p>
					The following governs the use and disclosure of Confidential Information at TIAA:
				</p>

				<ul>
					<li>
						TIAA will not disclose Confidential Information to third-parties, except as authorized by the constituent, as legally required, and/or as necessary in the exercise of TIAA's legitimate business obligations.
					</li>
					<li>
						Confidential Information concerning TIAA's constituents or TIAA's business activities and plans will be used and/or disclosed only to those within TIAA who have a legitimate need to know or use such information in the performance of their jobs. Confidential Information should not be discussed by any TIAA employee with any third-party, including, but not limited to, family members and friends.
					</li>
					<li>
						TIAA has administrative procedures and physical safeguards to ensure that Confidential Information concerning its constituents or that it has obtained and/or developed is securely maintained, and that the custodians of such Confidential Information are aware that its confidentiality must be protected.
					</li>
					<li>
						Confidential Information maintained or developed by TIAA for its legitimate business purposes may not be used for the personal gain or benefit of any employee or any other entity or individual.
					</li>
				</ul>

				<p>
					Additionally, federal law prohibits the purchase or sale of securities by any entity or individual possessing MNPI. TIAA has established and maintains and enforces written procedures to prevent the misuse of MNPI. Contingent workers assigned to TIAA must not purchase or sell securities while in possession of MNPI relating to securities or proprietary funds and accounts. Additionally, contingent workers must comply with any and all “access person” requirements of TIAA and may not communicate such MNPI to others or cause others to trade based upon such MNPI. MNPI is defined as information that is both “Material” as it relates to a security and to TIAA’s proprietary funds and accounts, and “Nonpublic”. Information is deemed “Material” if:
				</p>

				<ul>
					<li>
						There is a substantial likelihood a “reasonable investor” would consider the information important in making an investment decision;
					</li>
					<li>
						Disclosure of the information would be viewed by reasonable investors as having significantly altered the “total mix” of information made available;
					</li>
					<li>
						Disclosure is reasonably certain to have a substantial effect on the market price of the security; or
					</li>
					<li>
						Disclosure is reasonably certain to have a substantial effect on the NAV/AUV of TIAA’s proprietary funds and accounts
					</li>
				</ul>

				<p>
					Information is deemed “Non-Public” if it has not been disseminated such that it is generally available to investors or the securities markets. Violations of these provisions will result in disciplinary action up to and including termination of assignment and/or engagement. Additionally, trading, “tipping” and/or aiding or abetting those trading on the basis of MNPI may subject the individual and/or any other third-party acting in concert with the individual to civil and criminal penalties such as injunctions, penalties, disgorgement of profits, fines, and jail sentences.
				</p>

				<p>
					Contingent workers in possession of MNPI or what he or she believes to be MNPI, shall:
				</p>

				<ul>
					<li>
						Immediately contact a compliance officer in TIAA’s Asset Management Compliance or an attorney in TIAA’s Law Department
					</li>
					<li>
						Not purchase or sell for themselves or others, any affected securities (including but not limited to, common stock, bonds, and other derivative or related securities such as options, warrants, rights, etc.) while in possession of MNPI
					</li>
					<li>
						Not purchase or sell for themselves or others, any affected TIAA proprietary funds and accounts
					</li>
					<li>
						Keep MNPI information confidential and not discuss or pass along such information or in any way “tip” others such that the recipient of the information might trade
					</li>
					<li>
						Comply with the appropriate guidelines and procedures for their assigned business area relating to MNPI
					</li>
				</ul>

				<h5>
					<strong>EQUAL EMPLOYMENT OPPORTUNITY AND NON-DISCRIMINATION, NON-RETALIATION, AND ANTI-HARASSMENT POLICY</strong>
				</h5>

				<p>
					TIAA is an equal employment opportunity employer, dedicated to maintaining a work environment free of bias, harassment, discrimination, and retaliation. TIAA does not discriminate on the basis of race, creed, ethnicity, color, age, religion, sex, sex stereotype, pregnancy (including childbirth, breastfeeding or related medical conditions where applicable), sexual orientation, gender, gender identity, gender expression, transgender, marital status, national origin, ancestry, physical or mental disability, requesting a reasonable accommodation based on mental or physical disability, medical condition (as defined by applicable law), genetic history and information, citizenship status, military or veteran status, or any other status protected by federal, state, or local law or ordinance or regulation (collectively referred to here as “protected characteristics”). Providing a safe, inclusive work environment for all is a priority at TIAA. Assuring the fair treatment of all is a corporate responsibility to be shared by all.
				</p>

				<p>
					TIAA is committed to providing equal employment opportunity as to all employment and workplace practices without regard to any individual’s protected characteristics. Discrimination or harassment based on any of these protected characteristics is illegal and will not be tolerated. TIAA will comply with all applicable federal, state and local equal employment opportunity laws and affirmative action regulations and executive orders.
				</p>

				<p>
					Harassment on the basis of any of the protected characteristics, individually or in combination, is prohibited and will not be tolerated. Unlawful harassment entails persistent and/or severe physical, emotional or verbal conduct on account of a person’s protected characteristic that is objectively and subjectively offensive and affects the victim’s terms and conditions of work and/or employment. Sexual harassment is one form of prohibited conduct; it is a form of gender-based discrimination and is illegal. The sexual harassment provisions and prohibitions here policy apply to men and women equally, and to same- and opposite-sex relationships or interactions. TIAA will not condone any conduct that constitutes harassment, and will not support any decisions based on illegal considerations. Specifically, sexual harassment involves unwelcome sexual advances, requests for sexual favors, or other verbal or physical conduct of a sexual nature when (a) submitting to such conduct is made a condition of work and/or employment, or (b) submission to or rejection of such conduct is the basis of any decision in the workplace, or (c) such conduct creates an intimidating, offensive or hostile work environment or interferes with an individual's work performance or other terms and conditions of work and/or employment.
				</p>

				<p>
					TIAA also prohibits any individual from taking adverse action or otherwise retaliating against anyone whose complaint of discrimination or harassment on the basis of an individual’s protected characteristic(s) is made in good faith. Retaliation will not be tolerated and is a form of discrimination. If an individual engages in retaliation, he or she will be subject to disciplinary action, up to and including termination of assignment and/or engagement. Similar disciplinary action may be also taken for such complaints, however, if not brought in good faith.
				</p>

				<p>
					Any individual who believes that he or she, or any other individual, may be the victim of discrimination, harassment, or retaliation is urged to take advantage of TIAA’s internal procedures and resources for registering, hearing and responding to such concerns and complaints. Complaints, concerns, questions and requests for advice regarding discrimination or harassment, including, but not limited to sexual harassment, should be brought promptly to the attention of any of the following:
				</p>

				<ul>
					<li>
						Your Human Resources contact at your employer (TIAA’s vendor); OR
					</li>
					<li>
						Your TIAA Project Contact ( if he/she is unavailable or if you believe it would be inappropriate or uncomfortable to contact that person) then: 
						<ul>
							<li>
								A member of TIAA’s Contingent Worker Program Management and/or Strategic Sourcing; OR
							</li>
							<li>
								The TIAA Ethics Helpline at 877-774-6492 (Toll Free number)
							</li>
						</ul>
					</li>
				</ul>

				<p>
					These provisions apply any relationship involving any TIAA employee and/or contingent worker or other non-employee assigned to or present at TIAA. Violation of this policy may result in disciplinary action up to and including termination of an assignment and/or engagement. TIAA expects all vendors doing business with TIAA, and their Representatives, to comply with these provisions and any other applicable provision of TIAA’s Equal Employment Opportunity Policy found here.
				</p>

				<h5>
					<strong>COMPLIANCE WITH LEAVE LAWS</strong>
				</h5>

				<p>
					TIAA engages in good faith efforts to comply fully with the federal Family and Medical Leave Act (FMLA), the Americans with Disabilities Act (ADA), and related regulations or state or local laws, including those involve leave of absence (“Leave Laws”). Because TIAA does not employ contingent workers, TIAA will comply with any obligation under any Leave Law to the fullest extent required by such Leave Law that may prohibit interference with or discouragement of any exercise of any entitlement under such Leave Law.
				</p>

				<h5>
					<strong>SUBSTANCE ABUSE POLICY</strong>
				</h5>

				<p>
					TIAA committed to maintaining a safe, healthful, and drug-free work environment. The use, purchase, sale, possession, or distribution of controlled substances and/or illegal drugs is unlawful and prohibited by TIAA. Contingent workers assigned to TIAA who engage in conduct prohibited by this Policy or is under the influence of any controlled substance, including alcohol and/or marijuana, while at the workplace or on TIAA premises (including, but not limited to, any vehicle) will be subject to immediate termination of assignment and/or engagement. TIAA cooperates with law enforcement agencies conducting investigations of alleged illegal activity involving employees and contingent workers assigned to TIAA. If a contingent worker is arrested and/or convicted for the use, possession, sale, or attempted sale of illegal drugs (either on or off premises), TIAA reserves the right to terminate the assignment and/or engagement.
				</p>

				<h5>
					<strong>Internal Social Media Policy</strong>
				</h5>

				<p>
					TIAA utlizes a social collaboration tool known as TIAA Chats (Yammer) to create an environment where employees and contingent workers (CWs) can share ideas, information and successes on the company network.
				</p>

				<p>
					TIAA is subject to FINRA and SEC rules requiring firms to retain records of communications that relate to their businesses, including postings on external and internal social media sites. This Policy recognizes the benefits and risks of social media among internal stakeholders.
				</p>

				<p>
					“Internal social media tools” are defined as all internal channels for electronic communication through social media sites. Misuse of social media could subject TIAA, to regulatory sanctions, reputational damage and monetary penalties. Content on social media tools will be monitored for regulatory compliance and to ensure that language is appropriate and confidential company information is not discussed openly.
				</p>

				<p>
					Internal social channels are considered business tools and should be treated as such.
				</p>

				<p>
					Use of TIAA Chats is subject to the following requirements to align with other company policies:
				</p>

				<ul class="list-compact vspace">
					<li>
						Highly Confidential and Confidential data and any Personally Identifiable Information (PII) cannot be disclosed (as defined in the <a href="http://silver-sp.tiaa-cref.org/sites/pnp/pnp/Published%20Policies%20and%20Procedures/Information%20Technology%20Policy.pdf" target="_blank">Information Technology Policy</a>).
					</li>
					<li>
						Information and documentation pertaining to confidential business or investments, strategies, trade secrets, processes or technology (as defined in the <a href="http://sip.ops.tiaa-cref.org/pnp/Published%20Policies%20and%20Procedures/Confidentiality%20Policy.pdf" target="_blank">Confidentiality Policy</a>) cannot be disclosed.
					</li>
					<li>
						Individuals cannot use social media in a manner that is harassing, retaliatory or discriminatory, or otherwise in violation of law or the TIAA Code of Business Conduct.
					</li>
					<li>
						Compliance with the TIAA <a href="http://sip.ops.tiaa-cref.org/pnp/Published%20Policies%20and%20Procedures/Solicitation%20Policy.pdf" target="_blank">Solicitation Policy</a> remains an ongoing expectation even through at- work social media communications. However, TIAA regards voluntary usage of certain internal social media tools (such as the TIAA Buy-Sell Community) as consistent with that policy’s support for company-sponsored programs and activities.
					</li>
				</ul>

				<p>
					<strong>Responsible usage</strong>
				</p>

				<ul class="list-compact vspace">
					<li>
						CWs who post content are responsible for any material they post.
					</li>
					<li>
						While it is acceptable to disagree with the views and statements of others, those who post must be considerate of their colleagues and determine whether their responses should be posted on internal social media or whether the information should be delivered in a more private manner, such as email.
					</li>
					<li>
						All information shared via internal social sites is considered “Internal-Use Only” and must not be shared outside of the TIAA network.
					</li>
					<li>
						Information posted should be relevant to TIAA employees and CWs, our business and the organization.
					</li>
					<li>
						CWs are prohibited from marketing or promoting products and services of TIAA and its affiliates on internal social media tools. This includes praising or speaking to the personal use of a product or service.
					</li>
				</ul>

				<p>
					<strong>Use of Photography, Video or Music</strong>
				</p>

				<ul class="list-compact vspace">
					<li>
						Appropriate photo/video content featuring work-related activities taken at work or during company-sponsored events can be posted.
					</li>
					<li>
						Individuals featured in photos or videos should be made aware of the fact that you are sharing content that features them at or during a work-related activity.
					</li>
					<li>
						Avoid posting photos of children who may be participating in company-sponsored events unless you have written parental consent to feature these children in our communications.
					</li>
					<li>
						If you are posting photos or videos, make sure that any background images or words do not reveal any confidential company or client information.
					</li>
					<li>
						Do not post copyrighted photography, video or music. If you are unsure whether items are or could be copyrighted, <strong>do not post</strong> such information.
					</li>
					<li>
						Do not post proprietary or confidential imagery pertaining to TIAA brands, trademarks or copyrights of other organizations.
					</li>
				</ul>

				<p>
					<strong>Policy Enforcement</strong>
				</p>

				<p>
					Internal social media outlets will undergo general monitoring to ensure adherence to this policy and our Code of Business Conduct. Failure to comply with this Policy may result in disciplinary action up to and including termination. This Policy will be reviewed annually.
				</p>

				<h5>
					<strong>INFORMATION TECHNOLOGY AND DATA PROTECTION POLICY</strong>
				</h5>

				<p>
					The effective use of information technology has allowed TIAA to improve service to its customers. TIAA’s information systems, including telephone, voice mail, e-mail, fax, Internet and Intranet, are provided for legitimate business use in the course of employee and contingent worker assigned duties only. All users of these systems must be aware that each plays an important role in maintaining the security of these systems. This Policy applies to all users of these information systems, including contingent workers and vendors.
				</p>

				<p>
					Authorized representatives of TIAA may monitor the use of TIAA’s information systems. Users of these systems shall have no expectation of privacy in the use of these information systems. Users waive any rights to privacy and consent to access and disclosure without notice by individuals authorized by TIAA.
				</p>

				<p>
					By accessing TIAA’s information systems, all users agree to comply with this policy. Improper use may result in termination of the engagement and/or criminal or civil proceedings. All questions should be referred to your Project Contact or TIAA’s Strategic Sourcing.
				</p>

				<p>
					<strong>Summary of Improper Conduct</strong>
				</p>

				<p>
					Improper use includes, but is not limited to:
				</p>

				<ul class="list-compact vspace">
					<li>
						Deliberately avoiding or probing security measures, including unauthorized disclosure/sharing of passwords, tokens (random password generators (RPGs)) or smart cards (SCS), failing to follow security procedures for external network access including attempting to access the Internet without going through a TIAA approved Internet firewall;
					</li>
					<li>
						Unauthorized disclosure of Confidential Information. Documents noted “for internal use,” “confidential,” etc., are not to be transmitted beyond the original distribution without the express permission of the creator or owner of the information;
					</li>
					<li>
						Using or duplicating proprietary or copyrighted software without authorization, or transferring purchased or licensed software to any third party, including a participating institution or a policyholder;
					</li>
					<li>
						Purposely accessing, downloading, or transmitting harassing, threatening, or indecent materials when using these systems;
					</li>
					<li>
						Deliberately causing congestion of a network, or interfering with the work of others, including transmitting or posting messages that are likely to interfere with the recipient’s work or systems, as well as accessing files or data created by others without a legitimate business purpose;
					</li>
					<li>
						Using our information systems in connection with any illegal, fraudulent, or unethical activities, or activities that would be inconsistent with TIAA’s policies or which may prove embarrassing to TIAA or detrimental to TIAA’s reputation;
					</li>
					<li>
						Failing to follow TIAA’s standard virus-checking procedures when uploading software or connecting laptops, or when loading or unloading diskettes; failing to immediately report to the area security administrator or your Project Contact any of the following – detection of a virus, unauthorized access attempts, or tampering with restricted files;
					</li>
					<li>
						Transmitting encrypted materials in violation of export laws;
					</li>
					<li>
						Failing to properly back up information or to comply with Business Area Records Retention requirements for similar information contained in paper records, or to follow requirements for managing unofficial records;
					</li>
					<li>
						Incorporating information from outside systems without adequately screening it for validity or propriety prior to its use.
					</li>
					<li>
						Contingent workers are restricted from forwarding TIAA documents, work or other information to any non-TIAA-issued (i.e., personal) computer or mobile device, such as a smartphone, home computer, USB or memory device.
					</li>
				</ul>

				<h5>
					<strong>SYSTEM ACCESS RESTRICTIONS</strong>
				</h5>

				<p>
					Contingent workers are not permitted to forward TIAA <em><strong>confidential</strong></em> or <em><strong>internal</strong></em> information to any non-TIAA-issued (i.e., personal) computing or mobile device including, but not limited to, personal laptops, smartphones, or portable computer storage media. This prohibition includes, but is not limited to, the forwarding of such information by email, facsimile or other electronic means.
				</p>

				<p>
					Contingent workers may only perform work for TIAA using TIAA-issued computing devices. They may not bring personal computing devices, including, but not limited to, laptops, or portable computer storage media onto company premises. Exceptions to any of these items require proper documentation and advance written approval by TIAA leadership.
				</p>

				<p>
					Contingent workers may be prohibited from remote access connectivity into the TIAA network. The work they are engaged to produce for TIAA may be required to be performed on premises.
				</p>

				<p>
					<strong>PASSWORDS</strong>
				</p>

				<p>
					All users must treat their personal passwords as Confidential Information. They may not share their passwords with anyone and should not write them down unless they can be stored securely. Users must change any password if they suspect it has been compromised. Users must not store passwords in any automated log-on process or keyboard macro.
				</p>

				<p>
					<strong>Password Rules for Users</strong>
				</p>

				<ul class="list-compact vspace">
					<li>
						A password cannot be the same as the corresponding UserID.
					</li>
					<li>
						Passwords must have a minimum length of 8 characters.
					</li>
					<li>
						Passwords must contain at least one letter and either one number or punctuation mark.
					</li>
					<li>
						Passwords must be changed at least every 90 days.
					</li>
				</ul>

				<p>
					<strong>ELECTRONIC COMMUNICATIONS POLICY</strong>
				</p>

				<p>
					<strong>E-M ail, Voice Mail, Fax, Intranet, and Internet Usage</strong>
				</p>

				<p>
					Electronic-based information exchange facilities, such as e-mail, voice mail, fax, the Intranet, and the Internet are provided to assist and facilitate business communications. Devices that support such communications include personal computers, laptops, wireless phones, smartphones and land lines. These information systems are provided for legitimate business use in the course of a contingent worker’s assigned duties only. Prohibited uses of these information systems include any illegal, fraudulent, or unethical activities, or activities that would be inconsistent with TIAA’s policies, Code of Business Conduct, and Vendor Code of Business Conduct, or that would not be in compliance with the TIAA’s Information Technology and Data Protection Policy. The transmission of obscene, harassing, or threatening messages, or messages which might prove embarrassing to TIAA or detrimental to the reputation of TIAA, or exchange of material in violation of copyright or other intellectual property rights, or violation of U.S. laws regarding export or import of technology, is prohibited. Improper use may result in loss of access privileges. Serious violations could result in criminal or civil proceedings against the individual.
				</p>

				<p>
					As a further reminder, an authorized TIAA representative may, at any time, review electronic mail, voice mail, fax communications, Web transactions; file uploads and/or downloads, multimedia data streams, or any other business communications to determine whether there have been any breaches of security, violations of company policy, or unauthorized actions. It should be understood that employees and contingent workers waive any and all, and should not have any, expectations of privacy with regard to these communications.
				</p>

				<p>
					These communications must be retained or purged in accordance with TIAA's records retention procedures. Please see your Project Contact if you have any questions regarding the retention or destruction of a communication.
				</p>

				<p>
					<strong>Telephone Usage</strong><br>
					Telephones are provided to assist contingent workers and facilitate business communications. Prohibited uses of the telephone system include any illegal, fraudulent, or unethical activities, or activities that would be inconsistent with TIAA’s policies, Code of Business Conduct, and/or Vendor Code of Business Conduct or that would not be in compliance with TIAA’s Information Technology and Data Protection Vendor Policy.
				</p>

				<h5>
					<strong>TIAA BRAND GUIDELINES FOR CONTINGENT WORKER E-MAIL AUTO-SIGNATURE AND VOICE MAIL SCRIPT</strong>
				</h5>

				<p>
					To further TIAA’s brand guidelines set forth above, the following guidelines for e-mail auto-signatures and voice mail scripts apply to contingent workers. <strong>Contingent Worker E-mail auto-signature</strong>
				</p>

				<p>
					The model below is what a contingent worker e-mail signature must look like. For technical direction on how to create a new signature, please see "<a href="http://intranet.ops.tiaa-cref.org/Marketing/Brand%20Central/Documents/TIAA_EE%20email%20autosig_voicemail_brand%20guidelines.pdf" target="_blank">Email Signature</a>" on the intranet.
				</p>

				<p>
					<strong>Onsite Contingent Worker E-mail auto-signature:</strong><br>
					<span class="text-blue">
						First Name Last Name<br>
						Non-Employee Contingent Worker | TIAA Company Area <br>
						<strong>Company Name | Service Provider and Contractor to TIAA</strong> <br>
					</span>
					Street | # floor City, state zip code <br>
					Tel: 000.000.0000 <br>
					Fax: 000.000.0000 <br>
					<u class="text-blue">yourE-mail@TIAA.org</u>
				</p>

				<p>
					<strong>Remote Contingent Worker E-mail auto-signature: <br>
					The e-mail auto-signature for contingent workers who work remotely does not require a TIAA address, however, a phone number must be provided (even if it is a personal cell phone that is being used for business purposes) and the fax number is optional.</strong>
				</p>

				<p>
					<span class="text-blue">
						First Name Last Name<br>
						Non-Employee Contingent Worker | TIAA Company Area <br>
						<strong>Employee of Company Name | Service Provider and Contractor to TIAA</strong> <br>
					</span>
					Tel: 000.000.0000 <br>
					Fax: 000.000.0000 <br>
					<u class="text-blue">yourE-mail@TIAA.org</u>
				</p>

				<p>
					<strong>Contingent Worker Voice Mail Script</strong><br>
					Contingent workers must follow the guideline script below for standard voice mail script. <strong>Please feel free to alter the <em>italicized</em> line to include variable information such as additional phone numbers, out-of-office greetings, vacations, others to contact, etc.):</strong>
				</p>

				<p>
					<strong>Voice mail script:</strong>
					“Hello, you have reached “person’s name.” I am a non-employee Contingent Worker at TIAA assigned by [INSERT VENDOR NAME]. <em>I’m not available to serve you at the moment. Please leave your message at the tone, and I’ll return your call as soon as possible.</em> Thank you for calling TIAA Financial Services.”
				</p>

				<p>
					For instructions on how to create a permanent personal greeting (including out-of-office greeting,) please see <span class="text-blue"><u>“Voice Mail Greeting”</u> on the intranet.</span>
				</p>

				<p>
					<strong>Please contact</strong> <span class="text-blue"><u>BrandStrategy@tiaa.org</u>, with any questions.</span>
				</p>

				<h5>
					<strong>NOTICE OF TIAA’S RELATIONSHIP DISCLOSURE POLICY</strong>
				</h5>

				<p>
					TIAA is committed to the highest level of legal, ethical, and moral standards in the conduct of its business. This policy was developed to ensure that any potential conflict of interest is avoided.
				</p>

				<p>
					The policy covers the following relationships (“covered relationships”):
				</p>

				<ul class="list-compact vspace">
					<li>
						Spouses and partners, parents, stepparents, children, stepchildren, siblings, mothers-in-law, fathers-in-law, daughters-in-law and sons-in-law; or
					</li>
					<li>
						Member of a household or the household of any of relatives listed above (excluding tenants or workers).
					</li>
				</ul>

				<p>
					Conflicts will be deemed to exist when an employee and/or contingent worker in a covered relationship is or may be involved in one of the following:
				</p>

				<ul class="list-compact vspace">
					<li>
						Is in a direct reporting (including “dotted line”) or other supervisory relationship with the employee;
					</li>
					<li>
						Whether as an employee or as a contingent worker providing services to TIAA, is in a role in which there is a strong possibility of interaction with the employee/contingent worker in the performance of job duties/assignment or whose job duties/assignment include direct oversight, input, or similar responsibilities over any aspect of the employee/contingent worker’s terms and conditions of employment or assignment;
					</li>
					<li>
						Is the CEO of TIAA or is a direct report to the CEO;
					</li>
					<li>
						Is a current non-employee trustee/director of TIAA; or
					</li>
					<li>
						Is associated with any TIAA vendor in any way where the individual has direct and material influence or control over the business relationship between the vendor and TIAA or would have a direct financial interest in the business relationship between the vendor and TIAA.
					</li>
				</ul>

				<p>
					To avoid even the appearance of impropriety, unfairness or possible conflict of interest, all contingent workers are considered advised of this policy. They are expected to disclose any relationship specified above to TIAA Strategic Sourcing. Failure to do so will result in the termination of engagement and/or assignment.
				</p>

				<h5>
					<strong>NOTICE TO VENDORS OF TIAA PERSONAL TRADING POLICY</strong>
				</h5>

				<p>
					TIAA’s Personal Trading Policies enable it to comply with industry laws and regulations. Contingent workers may be subject to one or more of TIAA’s Personal Trading Policies as noted above. These Policies will require the contingent worker to disclose and report certain investments that he/she and household members own. In addition, a contingent worker may be required to obtain approval prior to making certain investments. If a contingent worker receives notice that he/she is subject to a Personal Trading Policy, he/she must comply as a condition of assignment/engagement, and/or continuation of assignment/engagement.
				</p>

				<h5>
					<strong>REPORTING SUSPECTED FRAUD, MISCONDUCT OR DISHONESTY</strong>
				</h5>

				<p>
					TIAA is presented with the challenge of managing and mitigating risks from suspected fraud and other forms of misconduct and dishonesty. As with all business risks, TIAA must carefully manage these challenges and mitigate their potential impact in a professional, ethical and efficient manner. The goal is to establish and maintain a business environment of fairness, ethics and honesty for TIAA’s employees, contingent workers, customers, suppliers, and anyone else with whom TIAA has a relationship. To maintain such an environment requires the active assistance of every individual.
				</p>

				<p>
					It is each person’s responsibility to report suspected fraud, misconduct or dishonesty using the following options:
				</p>

				<p>
					Inform a member of his/her management team and/or the assigned TIAA Project Contact.
				</p>

				<p>
					Call the Toll-Free Ethics Helpline (877-774-6492). The toll-free Ethics Helpline is staffed 24/7 by a Communications Specialists trained specifically to handle information related to workplace concerns; concerns may be registered anonymously.
				</p>

				<p>
					Contact the TIAA Head of Internal Investigations.
				</p>

				<p>
					The identity of the individual(s) reporting a suspected fraud will be maintained in strict confidence to the extent reasonably possible if requested by the individual.
				</p>

				<p>
					Anonymity will be preserved to the extent reasonably possible for individuals who make concerns known but choose to withhold their identity.
				</p>

				<h5>
					<strong>ANTI-MONEY LAUNDERING POLICY</strong>
				</h5>

				<p>
					TIAA is committed to preventing its products and services from being used for illegal purposes. Money laundering poses a threat to all financial organizations and has become a potentially greater threat to TIAA in recent years with the addition of new TIAA products and services. TIAA has long had a policy of not accepting currency (bills or coins) for its products and services. However, the anti-money laundering laws and regulations are complex, with differing regulatory requirements applying to TIAA’s various companies and products. Responsibility for complying with these laws, resides with each TIAA company and product line.
				</p>

				<h5>
					<strong>I. TIAA Policy on Receipt of Currency</strong>
				</h5>

				<p>
					It is the policy of TIAA to not accept currency for any of its products or services. Cash equivalents (<em>e.g.</em>, cashiers’ checks, money orders or traveler’s checks) may be accepted only provided TIAA has in place policies and procedures that specifically address the risk that these instruments will be used for money laundering.
				</p>

				<h5>
					<strong>II. Identifying Unusual or Suspicious Activities or Transactions</strong>
				</h5>

				<p>
					Everyone must be vigilant for suspicious transactions that could involve money laundering. Special attention should be paid to all complex, unusually large transactions, unusual patterns of transactions and transactions that have no apparent economic or obvious lawful purpose. Such transactions should be immediately identified and reported to TIAA. Contingent workers should report any such transactions to their Project Contacts or one of the contact points identified above.
				</p>

				<h5>
					<strong>CLARITY – Timesheet Processing Policies and Deadlines</strong>
				</h5>

				<p>
					Contingent workers utilizing TIAA’s Clarity System for tracking billable time must follow the below schedule for entering time:
				</p>

				<p>
					Timesheet weekly processing schedule:
				</p>

				<div class="row vspace-sm">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right text-danger">
						<strong>1.</strong>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-11 col-xs-11">
						<em>Timesheet Submission:</em>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<em>Friday End-of Shift (usually 5:00 pm local)</em>
					</div>
				</div>

				<div class="row vspace-sm">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right text-danger">
						<strong>2.</strong>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-11 col-xs-11">
						<em>Timesheet Review/Return/Approval:</em>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<em>Monday 12:00 pm (noon local)</em>
					</div>
				</div>

				<div class="row vspace-sm">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right text-danger">
						<strong>3.</strong>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-11 col-xs-11">
						<em>Revised Timesheet Re-Submission:</em>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<em>Monday 5:00 pm ET</em>
					</div>
				</div>
				<div class="row vspace-sm">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right text-danger">
						<strong>4.</strong>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-11 col-xs-11">
						<em>Revised Timesheet Re-Review/Approval:</em>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<em>Tuesday 3:00 pm ET</em>
					</div>
				</div>
				<div class="row vspace">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right text-danger">
						<strong>5.</strong>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-11 col-xs-11">
						<em>Timesheets Posted to Projects:</em>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<em>(following Tuesday cutoff)</em>
					</div>
				</div>

				<p>
					With the implementation of the Contingent Worker Management System, an approved contingent worker timesheet is also an approval of the invoice.
				</p>

				<p>
					Adjustments can be made to the prior week timesheet only, after it has been posted.
				</p>

				<p>
					Timesheets can be saved and submitted up to two weeks in advance, to account for out-of-office time. By submitting timesheets for processing, Contingent workers are acknowledging and attesting that they are submitting a true and accurate time record and that the understand that submission of a false time record will subject them to disciplinary action up to and including termination of engagement and/or assignment.
				</p>

				<p>
					The timesheet week is Saturday through Friday. Shifts beginning on Friday and ending on Saturday should report time on Friday only.
				</p>

				<h5>
					<strong>CW TRAVEL POLICY AND BOOKING TOOL</strong>
				</h5>

				<p>
					All CWs must adhere to TIAA’s Travel Policy, which can be found on the intranet on the <a href="http://intranet.ops.tiaa-cref.org/TIAA-CREFGeneral/EmplToolsResources/Pages/plan_trip.aspx" target="_blank">Corporate Travel home page</a>, when booking reservations and traveling on behalf of TIAA. Travel Center Online (TCO) and/or Carlson Wagonlit Travel (CWT) must be used by all CWs for all business travel arrangements on behalf of TIAA. TCO is programmed to provide online self-service travel information and reservations applying negotiated discounted rates with preferred travel suppliers, for business reservations only.
				</p>

				Please see below for policy highlights.
				<ul class="list-compact vspace">
					<li>
						TCO online travel and CWT must be used for all business travel arrangements, including air, hotel and car.
					</li>
					<li>
						CWs must use TIAA preferred/negotiated suppliers (where provided) for airlines, hotels and car rentals.
					</li>
					<li>
						All travel must be booked 7 days prior to departure.
					</li>
					<li>
						All domestic air travel must be the lowest available coach fare.
					</li>
					<li>
						The maximum daily reimbursement for meals is $70 per day.
					</li>
					<li>
						CWs must use National or Enterprise which are the preferred suppliers for rental car reservations. <u>Optional insurance coverage in the U.S. must be declined</u> as loss or damage and liability insurance is included with the TIAA-CREF negotiated rate.
					</li>
					<li>
						CWs may use their personal vehicles on business trips. The reimbursable allowance is 53.5 cents per mile plus the cost of tolls and parking.
					</li>
				</ul>

				<h5 class="text-center">
					<strong>Non-Disclosure and Confidentiality Agreement, Affirmation, and Acknowledgement of Receipt and Understanding of Contingent Worker Program Policy Handbook</strong><br>
					(Revised July 2017)
				</h5>

				<div class="row vspace">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<strong>A.</strong>
					</div>
					<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
						<u>Confirmation of Receipt, Review, and Understanding of Handbook:</u>
					</div>
				</div>

				<p class="text-justify">
					I,
					<span class="inline-block">
						<$client.env.FormField.a01_FullName.HTML>
					</span>
					acknowledge that I received and reviewed the attached Contingent Worker Program Policy Handbook (the “Handbook”) prior to the commencement of my temporary assignment by my employer to provide services to Teachers Insurance and Annuity Association of America and/or its subsidiaries, related or companion companies, or affiliates (collectively “TIAA”). I acknowledge further that I have had an opportunity to ask questions about the Handbook and that I fully understand the contents of the Handbook. I agree to abide by and adhere to the terms and conditions of each of the policies contained and/or referenced in the Handbook. If I violate or breach, or if TIAA has reason to believe that I violated or breached, any of the policies contained and/or referenced in the Handbook or my non-disclosure and confidentiality obligations below, I understand that TIAA has, among other available remedies, the right to terminate my temporary assignment and any other engagement I may have with TIAA.
				</p>

				<div class="row vspace">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<strong>B.</strong>
					</div>
					<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
						<u>Contingent Worker Affirmation:</u> (<em>Please initial each blank</em>):
					</div>
				</div>

				<p class="text-justify">
					(i)
					<span class="inline-block">
						<$client.env.FormField.a02_Acknowledgement.HTML>
					</span>
					I understand that I have the freedom and availability to consider other assignments through my employer other than at TIAA and am under no obligation of exclusive service to TIAA.
				</p>


				<p class="text-justify">
					(ii)
					<span class="inline-block">
						<$client.env.FormField.a03_Acknowledgement.HTML>
					</span>
					I affirm that no representations or promises about employment by or other commitment from TIAA have been presented to me in connection with my temporary assignment to TIAA.
				</p>


				<p class="text-justify">
					(iii)
					<span class="inline-block">
						<$client.env.FormField.a04_Acknowledgement.HTML>
					</span>
					I understand that my employer is not, now, and will not be, TIAA during any period of any temporary assignment to TIAA.
				</p>


				<p class="text-justify">
					(iv)
					<span class="inline-block">
						<$client.env.FormField.a05_Acknowledgement.HTML>
					</span>
					I affirm that TIAA has not controlled my consideration of or availability for other assignments through my employer other than at TIAA.
				</p>


				<p class="text-justify">
					(v)
					<span class="inline-block">
						<$client.env.FormField.a06_Acknowledgement.HTML>
					</span>
					I affirm that I will report control, or attempted control, by TIAA over my consideration of or availability for other assignments through my employer other than at TIAA during any period of any temporary assignment to TIAA.
				</p>

				<div class="row vspace">
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
						<strong>C.</strong>
					</div>
					<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
						<u>Non-Disclosure and Confidentiality Agreement:</u>
					</div>
				</div>

				<p class="text-justify">
					This Non-Disclosure and Confidentiality Agreement is effective as the date I sign below. During my temporary assignment, I will receive, be exposed to, and have access to Confidential Information (as defined in the Handbook’s Confidentiality Policy). In consideration of my temporary assignment to TIAA by my employer and my being permitted access and exposure to Confidential Information by TIAA, and other good and valuable consideration exchanged, I agree as follows:
				</p>

				<p class="p-indent text-justify">
					1. Confidential Information shall be used solely for TIAA’s benefit and only as authorized and for the purposes intended by TIAA. During my temporary assignment and at all times after my temporary assignment concludes, regardless of the date, cause, or manner of the assignment conclusion (“Conclusion Date”), I shall not (a) directly or indirectly through others disclose or disseminate any Confidential Information to any third party for any purpose, or (b) directly or indirectly through others use any Confidential Information for any purpose, except if such disclosure, dissemination, or use is authorized in writing in advance by TIAA or is required in the ordinary course of my provision of services to TIAA during my temporary assignment. I also shall not use or disclose to TIAA during my temporary assignment any confidential or proprietary information belonging to any other third party.
				</p>

				<p class="p indent text-justify">
					2. I understand that federal law prohibits trading, tipping and/or aiding or abetting those trading on the basis of “Material Non-Public Information” (“MNPI”). As used here, information is deemed “Material” if: there is a substantial likelihood a reasonable investor would consider the information important in making an investment decision; disclosure of the information would be viewed by reasonable investors as having significantly altered the total mix of information made available; disclosure is reasonably certain to have a substantial effect on the market price of the security; or disclosure is reasonably certain to have a substantial effect on the values (NAV/AUV) of the TIAA’s proprietary funds and accounts. Information is deemed “Non-Public” if it has not been disseminated such that it is generally available to investors or the securities markets. I agree to cooperate fully with TIAA’s efforts to ensure lawful handling of MNPI that I may obtain during my temporary assignment to TIAA. I agree further to comply with notification, brokerage account disclosure, and other compliance requirements as may specified in applicable TIAA policies provided to me or as requested by TIAA to ensure lawful handling of MNPI.
				</p>

				<p class="p-indent text-justify">
					3. I agree not to remove any TIAA property, regardless of form and including, but not limited to, Confidential Information, from TIAA’s premises, except as authorized and required for me to provide services to TIAA during my temporary assignment. I agree to search for and promptly surrender to TIAA, upon request and immediately upon the Conclusion Date, any TIAA property existing in any form in or under my possession or control, including, but not limited to, Confidential Information and any equipment belonging to TIAA.
				</p>

				<p class="p-indent text-justify">
					4. I understand my actual or threatened breach of this Agreement entitles TIAA to temporary, emergency, preliminary, and permanent injunctive relief in a court of competent jurisdiction (regardless of any requirement to arbitrate such claims) to compel my specific performance of my obligations because any breach or threatened breach of this Agreement by me would cause immediate and irreparable injury to TIAA that could not be adequately compensated by money damages. I consent to the entry of an order granting any such injunctive relief, including an order for expedited discovery, without the necessity of a bond. TIAA shall not be prohibited from seeking any other equitable or legal remedies for such breach or threatened breach. I agree that this Agreement may be enforced by Teachers Insurance and Annuity Association of America or any one of its subsidiaries, related or companion companies, or affiliates about or from which I obtained Confidential Information or property.
				</p>

				<p class="p-indent text-justify vspace-lg">
					5. I agree that this Agreement does not alter my status as a non-employee contingent worker temporarily assigned by my employer to provide services to TIAA, or my or TIAA’s right to end my temporary assignment with or without cause at any time. This Agreement shall be interpreted under and governed by the law of the state or commonwealth in which I am located when I sign this Agreement. I have carefully read this Agreement, know and understand its terms and conditions, and have had the opportunity to ask any questions that I may have before signing it. My execution of this Agreement through my electronic signature confirms my voluntary intent to enter into and authenticate this Agreement by electronic means and creates the same binding effect as my actual written signature.
				</p>

				<div class="row vspace-lg">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<$client.env.FormField.a07_Printed_Name.HTML>
						[Printed name of Contingent Worker]
					</div>
				</div>

				<div class="row vspace-lg">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<$client.env.FormField.a08_Signature.HTML>
						[Signature of Contingent Worker]
					</div>
				</div>

				<div class="row vspace-lg">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<$client.env.FormField.a09_Date.HTML>
						<div class="vspace-lg">
							Date
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>
