<!-- Main QA Area --> 
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement --> 
<div class="modal" id="modal" style="display:none;"> 
              <div class="modal-content"> 
                             <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'By electronically signing this document by typing my full name below, I acknowledge and agree that&#58; i&#41; I am creating a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten signature; and ii&#41; I have read and understood the contents of this Offer Letter and agree to be bound by its terms.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
                             </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
                                                         <input type="button" class="lifesuite__button btn-sign" value="Sign" onClick="validateSignature('signature','eSignature1','Full_Name','modal','over','sv');xbObj('eSignature1').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';"> 
                                           </div> 
                             </div> 
              </div> 
</div> 
<div id="over" style="display:none;"></div> 
<SCRIPT> 
    showScreen('over') 
</SCRIPT> 
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 

<!--////////////////////////////////// Approver signature ///////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!--one -->
<div class="modal" id="modal2" style="display:none;"> 
              <div class="modal-content"> 
                             <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature2" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
                             </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
                                                         <input type="button" class="lifesuite__button btn-sign" value="Sign" onClick="validateSignature('signature2','eSignature2','','modal2','over','sv2');xbObj('eSignature2').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature2').value='';showHide('modal2');showHide('over');xbObj('eSignature2').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal2');showHide('over');xbObj('eSignature2').value='';"> 
                                           </div> 
                             </div> 
              </div> 
</div> 
<div id="over" style="display:none;"></div> 
<SCRIPT> 
    showScreen('over') 
</SCRIPT>
<!--End one -->
<!--Two -->
<div class="modal" id="modal3" style="display:none;"> 
              <div class="modal-content"> 
                             <h3 class="lifesuite__h3"><strong>Electronic Signature</strong></h3> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature3" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
                             </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
                                                         <input type="button" class="lifesuite__button btn-sign" value="Sign" onClick="validateSignature('signature3','eSignature3','','modal3','over','sv3');xbObj('eSignature3').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature3').value='';showHide('modal3');showHide('over');xbObj('eSignature3').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal3');showHide('over');xbObj('eSignature3').value='';"> 
                                           </div> 
                             </div> 
              </div> 
</div> 
<div id="over" style="display:none;"></div> 
<SCRIPT> 
    showScreen('over') 
</SCRIPT>
<!--End Two -->
<!--Three -->
<div class="modal" id="modal4" style="display:none;"> 
              <div class="modal-content"> 
                             <h4 class="lifesuite__h4"><strong>Electronic Signature</strong></h4> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature4" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
                             </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
                                                         <input type="button" class="lifesuite__button btn-sign" value="Sign" onClick="validateSignature('signature4','eSignature4','','modal4','over','sv4');xbObj('eSignature4').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature4').value='';showHide('modal4');showHide('over');xbObj('eSignature4').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal4');showHide('over');xbObj('eSignature4').value='';"> 
                                           </div> 
                             </div> 
              </div> 
</div> 
<div id="over" style="display:none;"></div> 
<SCRIPT> 
    showScreen('over') 
</SCRIPT>
<!--End Three -->
<!--Four -->
<div class="modal" id="modal5" style="display:none;"> 
              <div class="modal-content"> 
                             <h5 class="lifesuite__h5"><strong>Electronic Signature</strong></h5> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature5" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
                             </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
                                                         <input type="button" class="lifesuite__button btn-sign" value="Sign" onClick="validateSignature('signature5','eSignature5','','modal5','over','sv5');xbObj('eSignature5').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature5').value='';showHide('modal5');showHide('over');xbObj('eSignature5').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal5');showHide('over');xbObj('eSignature5').value='';"> 
                                           </div> 
                             </div> 
              </div> 
</div> 
<div id="over" style="display:none;"></div> 
<SCRIPT> 
    showScreen('over') 
</SCRIPT>
<!--End Four -->
<!--Five -->
<div class="modal" id="modal6" style="display:none;"> 
              <div class="modal-content"> 
                             <h5 class="lifesuite__h5"><strong>Electronic Signature</strong></h5> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature6" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
                             </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
                                                         <input type="button" class="lifesuite__button btn-sign" value="Sign" onClick="validateSignature('signature6','eSignature6','','modal6','over','sv6');xbObj('eSignature6').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature6').value='';showHide('modal6');showHide('over');xbObj('eSignature6').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal6');showHide('over');xbObj('eSignature6').value='';"> 
                                           </div> 
                             </div> 
              </div> 
</div> 
<!-- Seven -->
<div class="modal" id="modal7" style="display:none;"> 
              <div class="modal-content"> 
                             <h5 class="lifesuite__h5"><strong>Electronic Signature</strong></h5> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature7" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
                             </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
                                                         <input type="button" class="lifesuite__button btn-sign" value="Sign" onClick="validateSignature('signature7','eSignature7','','modal7','over','sv7');xbObj('eSignature7').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature7').value='';showHide('modal7');showHide('over');xbObj('eSignature7').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal7');showHide('over');xbObj('eSignature7').value='';"> 
                                           </div> 
                             </div> 
              </div> 
</div> 
<div id="over" style="display:none;"></div> 
<SCRIPT> 
    showScreen('over') 
</SCRIPT>
<!--End Five -->



<!--////////////////////////////////// End Approver signature ///////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!-- RESPONSIVE eFORM PAGE LOADER--> 
  
<div class="modal" style="display:block; background: #002E6D;"> 
              <div class="fb-spinner"> 
                             <i class="fa fa-2x fa-spinner fa-pulse"></i> 
              </div> 
</div> 
  
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
 
<form name='frmForm' action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);"> 

<div style="display:none;">
<$client.env.FormField.Form_Name.prompt>
<$client.env.FormField.Form_Name.HTML>
<$client.env.FormField.Form_Type.prompt>
<$client.env.FormField.Form_Type.HTML>
<$client.env.FormField.Form_Owner.prompt>
<$client.env.FormField.Form_Owner.HTML>
<$client.env.FormField.Form_CreateDate.prompt>
<$client.env.FormField.Form_CreateDate.HTML>
<$client.env.FormField.Form_Completed.prompt>
<$client.env.FormField.Form_Completed.HTML>
<$client.env.FormField.Form_Delivered.prompt>
<$client.env.FormField.Form_Delivered.HTML>
<$client.env.FormField.Form_TaskId.prompt>
<$client.env.FormField.Form_TaskId.HTML>
<$client.env.FormField.display_version.HTML>

<!-- Your Required/Validated Form Fields -->

<$client.env.formfield.Signature.prompt>
<$client.env.formfield.SignDate.prompt>
<$client.env.formfield.CommentFive.prompt>
<$client.env.formfield.AppFive.prompt>
<$client.env.formfield.RejFive.prompt>
<$client.env.formfield.AssigneeSignatureFive.prompt>
<$client.env.formfield.CommentOne.prompt>
<$client.env.formfield.AppOne.prompt>
<$client.env.formfield.RejOne.prompt>
<$client.env.formfield.AssigneeSignatureOne.prompt>
<$client.env.formfield.CommentTwo.prompt>
<$client.env.formfield.AppTwo.prompt>
<$client.env.formfield.RejTwo.prompt>
<$client.env.formfield.AssigneeSignatureTwo.prompt>
<$client.env.formfield.CommentThree.prompt>
<$client.env.formfield.AppThree.prompt>
<$client.env.formfield.RejThree.prompt>
<$client.env.formfield.AssigneeSignatureThree.prompt>
<$client.env.formfield.CommentFour.prompt>
<$client.env.formfield.AppFour.prompt>
<$client.env.formfield.RejFour.prompt>
<$client.env.formfield.AssigneeSignatureFour.prompt>
<$client.env.formfield.CommentFive.prompt>
<$client.env.formfield.AppFive.prompt>
<$client.env.formfield.RejFive.prompt>
<$client.env.formfield.AssigneeSignatureFive.prompt>



</div>

<input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">

<!-- Begin HTML Content -->

<div id='container'  >

  <div id='incomplete'> 
     <div class="srt_eform_row">
        <div class="col-lg-12"/>
          <div id="srt_eform_logo"/>
             <img class="srt_eform_logo" id='headerpg1_img' src="company_logo.png">
          </div>
        </div>
     </div>
     
     
     <div class="srt_eform_row" id="offer_letter_OfferClause">
      <div class="col-xs-12 srt_eform_module" id="inner-content">
          <div class="srt_eform_text_inner">
                    <div class="<$client.env.eval(client.tForWhomUserInfo.Main_Offer_Text.length()>0?'offerClause':'emptyEUP')>">
                        <!--Change the mergestring with your offer letter type-->
                        <$client.tForWhomUserInfo.Main_Offer_Text>
                     </div>
            <div id="markup1">
              <!--dynamic content will be inserted here-->
            </div>
            </div>
          </div><!-- end srt_eform_text_inner  -->
      </div><!--end row  -->


      <div class="srt_eform_row" id="offer_letter_text_area">
            <div class="col-lg-12 srt_eform_module">
                <div class="srt_eform_text_inner">
                    <div class="input-text">
                        <p>&nbsp;</p>
                            <$client.env.formfield.Offer_Letter_Text_1.html>
                    </div>
                </div>
                <!-- end srt_eform_text_inner  -->
            </div>
     </div><!--end row  -->

    </div><!--incomplete content ends-->
   <!-- The remainder of the letter pertains to all-->
  

<div id='complete'></div>

    <div id='fields'>

                <div class="srt_eform_row">
                  <div class="col-xs-12 srt_eform_module" id="inner-content">
                      <div class="srt_eform_text_inner">
                          <div id="markup2">
                          </div> 
                          <div id='complete'></div>
                          <table width="100%" class="text-center">
                            <tr>
                              <td>
                                <p style="display:<$client.env.eval(((client.tForWhomUserInfo.GTE_Year1 != '') || (client.tForWhomUserInfo.TGT_Year1 != '') || (client.tForWhomUserInfo.TGT_Rng_Year1 != '') || (client.tForWhomUserInfo.client.tForWhomUserInfo.SignOn != '') || (client.tForWhomUserInfo.SignOn_EOP != '') || (client.tForWhomUserInfo.SignOn_DCCP != '') || (client.tForWhomUserInfo.SignOnInLieuBon != '') || (client.tForWhomUserInfo.SuppCash != '') || (client.tForWhomUserInfo.Rplcmnt_Award_Notional_Share != '') || (client.tForWhomUserInfo.Rplcmnt_Award_Cash != '') || (client.tForWhomUserInfo.Buy_Out_Stock_Options != '') || (client.tForWhomUserInfo.BuyOut_Stk_Apr != '') || (client.tForWhomUserInfo.SignOn_Stock_Apr != '')) ? 'none' : 'block')>">
                                    <img id='asssignature_img' src="JasonSotoSignature.gif" class="hrsignature">
                                </p>
                                <p style="display:<$client.env.eval(((client.tForWhomUserInfo.GTE_Year1 != '') || (client.tForWhomUserInfo.TGT_Year1 != '') || (client.tForWhomUserInfo.TGT_Rng_Year1 != '') || (client.tForWhomUserInfo.client.tForWhomUserInfo.SignOn != '') || (client.tForWhomUserInfo.SignOn_EOP != '') || (client.tForWhomUserInfo.SignOn_DCCP != '') || (client.tForWhomUserInfo.SignOnInLieuBon != '') || (client.tForWhomUserInfo.SuppCash != '') || (client.tForWhomUserInfo.Rplcmnt_Award_Notional_Share != '') || (client.tForWhomUserInfo.Rplcmnt_Award_Cash != '') || (client.tForWhomUserInfo.Buy_Out_Stock_Options != '') || (client.tForWhomUserInfo.BuyOut_Stk_Apr != '') || (client.tForWhomUserInfo.SignOn_Stock_Apr != '')) ? 'block' : 'none')>">
                                    <img id='asssignature_img' src="MarcMontanaro_Signature_2.png" class="hrsignature">
                                </p>                                
                              </td>
                              <td>
                                <img id='disignature_img' src="JoAnnaSignature.png" class="hrsignature">
                              </td>
                            </tr>
                          </table>
                          <div id="markup3">
                          </div>      
                          <div id='complete'></div>
                        </div>
                      </div><!-- end srt_eform_text_inner  -->
                  </div><!--end row  -->
      

        <!-- Approver -->
           <div class="srt_eform_row">
                    <!-- approver One rule: appRoleOne--> 
                    <div class="col-lg-12 srt_eform_module" id="divOne" style="display:<$client.env.eval((client.role.appRoleOne)?'block':'none')>">
                        <div class="srt_eform_text_inner">
                            <div class="input-label"><br><br>Comment</div>
                            <div class="input-text">
                                    <$client.env.formfield.CommentOne.html>
                            </div>
                            <div>
                              <table width="100%" style="border:none;" class="table-responsive">
                                <tr>
                                  <td width="30%" style="border:none;">
                                    <$client.env.formfield.AppOne.html>
                                  </td>  
                                  <td style="border:none;">
                                    <$client.env.formfield.RejOne.html>
                                  </td>
                                </tr>
                              </table>    
                              <br>
                              <br>
                            </div>
                              <div class="col-lg-7 srt_eform_module">
                                  <div class="input-label">Recruiting Signature</div>
                                  <div class="input-text">
                                          <$client.env.formfield.AssigneeSignatureOne.html>
                                  </div>
                              </div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>

                    <!-- approver To rule: appRoleOne--> 
                    <div class="col-lg-12 srt_eform_module" id="divTo" style="display:<$client.env.eval((client.role.appRoleOne)?'block':'none')>">
                        <div class="srt_eform_text_inner">
                            <div class="input-label"><br><br>Comment</div>
                            <div class="input-text">
                                    <$client.env.formfield.CommentTo.html>
                            </div>
                            <div>
                              <table width="100%" style="border:none;" class="table-responsive">
                                <tr>
                                  <td width="30%" style="border:none;">
                                    <$client.env.formfield.AppTo.html>
                                  </td>  
                                  <td style="border:none;">
                                    <$client.env.formfield.RejTo.html>
                                  </td>
                                </tr>
                              </table>    
                              <br>
                              <br>
                            </div>
                              <div class="col-lg-7 srt_eform_module">
                                  <div class="input-label">Recruiting Signature</div>
                                  <div class="input-text">
                                          <$client.env.formfield.AssigneeSignatureTo.html>
                                  </div>
                              </div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!-- End approver One rule: appRoleTo--> 

                    <!-- approver Two rule: appRoleTwo--> 
                    <div class="col-lg-12 srt_eform_module" id="divTwo" style="display:<$client.env.eval((client.role.appRoleTwo)?'block':'none')>">
                        <div class="srt_eform_text_inner">
                            <div class="input-label"><br><br>Comment</div>
                            <div class="input-text">
                                    <$client.env.formfield.CommentTwo.html>
                            </div>
                            <div>
                              <table width="100%" style="border:none;" class="table-responsive">
                                <tr>
                                  <td width="30%" style="border:none;">
                                    <$client.env.formfield.AppTwo.html>
                                  </td>  
                                  <td style="border:none;">
                                    <$client.env.formfield.RejTwo.html>
                                  </td>
                                </tr>
                              </table>    
                              <br>
                              <br>
                            </div>
                            <div class="col-lg-7 srt_eform_module">
                            <div class="input-label">Reward Signature</div>
                            <div class="input-text">
                                    <$client.env.formfield.AssigneeSignatureTwo.html>
                            </div>
                          </div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!-- End approver Two rule: appRoleTwo--> 

                    <!-- approver Three rule: appRoleThree--> 
                    <div class="col-lg-12 srt_eform_module" id="divThree" style="display:<$client.env.eval((client.role.appRoleThree)?'block':'none')>">
                        <div class="srt_eform_text_inner">
                            <div class="input-label"><br><br>Comment</div>
                            <div class="input-text">
                                    <$client.env.formfield.CommentThree.html>
                            </div>
                            <div>
                              <table width="100%" style="border:none;" class="table-responsive">
                                <tr>
                                  <td width="30%" style="border:none;">
                                    <$client.env.formfield.AppThree.html>
                                  </td>  
                                  <td style="border:none;">
                                    <$client.env.formfield.RejThree.html>
                                  </td>
                                </tr>
                              </table>    
                              <br>
                              <br>
                            </div>
                            <div class="col-lg-7 srt_eform_module">
                            <div class="input-label">Legal Signature</div>
                            <div class="input-text">
                                    <$client.env.formfield.AssigneeSignatureThree.html>
                            </div>
                          </div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!-- End approver Three rule: appRoleThree-->
                    <!-- approver Four rule: appRoleFour--> 
                    <div class="col-lg-12 srt_eform_module" id="divFour" style="display:<$client.env.eval((client.role.appRoleFour)?'block':'none')>">
                        <div class="srt_eform_text_inner">
                            <div class="input-label"><br><br>Comment</div>
                            <div class="input-text">
                                    <$client.env.formfield.CommentFour.html>
                            </div>
                            <div>
                              <table width="100%" style="border:none;" class="table-responsive">
                                <tr>
                                  <td width="30%" style="border:none;">
                                    <$client.env.formfield.AppFour.html>
                                  </td>  
                                  <td style="border:none;">
                                    <$client.env.formfield.RejFour.html>
                                  </td>
                                </tr>
                              </table>    
                              <br>
                              <br>
                            </div>
                            <div class="col-lg-7 srt_eform_module">
                            <div class="input-label">Approval Signature</div>
                            <div class="input-text">
                                    <$client.env.formfield.AssigneeSignatureFour.html>
                            </div>
                          </div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!-- End approver Four rule: appRoleFour-->  
                    <!-- approver Five role: appRoleFive--> 
                    <div class="col-lg-12 srt_eform_module" id="divFive" style="display:<$client.env.eval((client.role.appRoleFive)?'block':'none')>">
                        <div class="srt_eform_text_inner">
                        <div class="input-label"><br><br>Comment</div>
                            <div class="input-text">
                                    <$client.env.formfield.CommentFive.html>
                            </div>
                            <div>
                               <table width="100%" style="border:none;" class="table-responsive">
                                <tr>
                                  <td width="30%" style="border:none;">
                                    <$client.env.formfield.AppFive.html>
                                  </td>  
                                  <td style="border:none;">
                                    <$client.env.formfield.RejFive.html>
                                  </td>
                                </tr>
                              </table>      
                              <br>
                              <br>
                            </div>
                            <div class="col-lg-7 srt_eform_module">
                            <div class="input-label">4EyeCheck Signature</div>
                            <div class="input-text">
                                    <$client.env.formfield.AssigneeSignatureFive.html>
                            </div>
                          </div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!-- End approver Five role: appRoleFive-->                                      
            </div>            
            <!-- end approver section -->
        <div>



            <div class="srt_eform_row">
                    <div class="col-lg-12 srt_eform_module">
                        <div class="srt_eform_text_inner">
                            <div class="offerClause4"> 
                            <br>
                            <p class="text-bold"><strong>BY ACCEPTING THIS OFFER OF EMPLOYMENT THROUGH MY SIGNATURE BELOW, I AM AGREEING TO BE BOUND BY THE ATTACHED ARBITRATION AGREEMENT, AND BY THE TERMS AND CONDITIONS SET FORTH IN THE COMPENSATION ADDENDUM; NOTICE OF TERMINATION, CONFIDENTIALITY, NON-SOLICITATION AND OTHER EMPLOYMENT TERMS ADDENDUM; AND THE AGREEMENT CONCERNING THE HANDLING OF CONFIDENTIAL INFORMATION AND THE ASSIGNMENT OF EMPLOYEE INVENTIONS, ALL OF WHICH ARE ATTACHED TO THIS OFFER LETTER.  I UNDERSTAND THAT THE ARBITRATION AGREEMENT REQUIRES THAT BOTH UBS (AS DEFINED IN THE ARBITRATION AGREEMENT) AND I RESOLVE ANY COVERED CLAIMS (AS DEFINED BY THE ARBITRATION AGREEMENT), IN FINAL AND BINDING ARBITRATION ON A NON-CLASS, NON-COLLECTIVE, AND NON-REPRESENTATIVE ACTION BASIS.  I ACKNOWLEDGE AND AGREE THAT I HAVE READ ALL OF THE ATTACHMENTS TO THIS OFFER LETTER, UNDERSTAND THEM, AND AGREE TO BE BOUND BY THEM.</strong></p>
                           
                            </div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!--end 12 -->
            </div>
            <!--end row  -->
        </div>


                <div class="srt_eform_row">
                  <p>&nbsp;</p>
                    <div class="col-lg-7 srt_eform_module">
                        <div class="srt_eform_text_inner">
                            <div class="input-text">
                                <$client.env.formfield.Signature.html>
                            </div>
                            <div class="input-label"><$client.tForWhomUserInfo.First_Name> <$client.tForWhomUserInfo.Last_Name> </div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!--end 8  -->
                    <div class="col-lg-5 srt_eform_module">
                        <div class="srt_eform_text_inner">
                            <div class="input-text">
                                    <$client.env.formfield.SignDate.html>
                            </div>
                            <div class="input-label">Signature Date</div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!--end 5  -->
                </div>
                <!--end row  -->

        <!-- end offer clause-->

    </div>
    <!-- end fields-->

</div> 
<!-- end container-->


<div style="display:none;">
<$client.env.formfield.headerpg1.html>
<$client.env.formfield.hidden_pg.html>
<$client.env.formfield.hidden_pg2.html>
<$client.env.formfield.hidden_pg3.html>
<$client.env.formfield.hidden_pg4.html>
<$client.env.formfield.hidden_pg5.html>
<$client.env.formfield.hidden_pg6.html>
<$client.env.formfield.disignature.html>
<$client.env.formfield.asssignature.html>
<$client.env.FormField.SignatureVerification.HTML>
<$client.env.FormField.SignatureVerification2.HTML>
<$client.env.FormField.SignatureVerification3.HTML>
<$client.env.FormField.SignatureVerification4.HTML>
<$client.env.FormField.SignatureVerification5.HTML>
<$client.env.FormField.SignatureVerification6.HTML>
<$client.env.FormField.SignatureVerification7.HTML>
<$client.env.formfield.Full_Name.html>
</div>

      <!--Form Buttons-->
      <div class="row" id="formButtons" style="display: none;">
        <div class="lifesuite__clearfix">
          <div class="srt_eform_section">
            <div id="srt_form_btn_wrapper">
              <div class="srt_eform_row">
                  <div class="col-lg-12 srt_eform_module">
                    <div class="srt_eform_text_inner">
                       <$client.env.FormButtons>
                    </div>
                    <!-- end srt_eform_text_inner  -->
                  </div>
                  <!--end 12 -->
              </div>
              <!-- end srt_form_btn_wrapper  -->
            </div>
            <!--end row  -->
          </div>
          <!--end eform_section  -->
        </div>
      </div>
      <!--end Form Buttons-->

</form>

<SCRIPT>
ChangeCalendarIcons(); //for popup calendar
</SCRIPT>



<SCRIPT> 
    ChangeCalendarIcons(); //for popup calendar  
  disableCalButton('disableDate');
  <$client.env.eval((client.role.HRops)?'showDiv(\'signature2\',\'divOne\');showDiv(\'signature3\',\'divTwo\');showDiv(\'signature5\',\'divFour\');showDiv(\'signature4\',\'divThree\')':'')>
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
/* RESPONSIVE eFORM BUTTONS STYLE */ 
  
$(function(){
        $("#buttonCancel")
            .removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue")
            .addClass("lifesuite__button");
        $('#buttonCancel').attr('id', 'ButtonCancel');
        $("#buttonSave")
            .removeClass("appInputButton RCappInputButtonBlue")
            .addClass("lifesuite__button");
        $('#buttonSave').attr('id', 'ButtonSave');
        $("#buttonSaveAndComplete")
            .removeClass("appInputButton RCappInputButtonBlue")
            .addClass("lifesuite__button");
        $('#buttonSaveAndComplete').attr('id', 'ButtonSaveAndComplete');
        $("#buttonPrint")
            .removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue")
            .addClass("lifesuite__button");
        $('#buttonPrint').attr('id', 'ButtonPrint');
        $("#buttonPreviewDelete")
            .removeClass("appInputButton RCappInputButtonRed")
            .addClass("lifesuite__button");
        $('#buttonPreviewDelete').attr('id', 'ButtonPreviewDelete');
        $("#buttonPreviewSave")
            .removeClass("appInputButton RCappInputButtonBlue")
            .addClass("lifesuite__button");
        $('#buttonPreviewSave').attr('id', 'ButtonPreviewSave');
        $("input[type=text]").addClass('lifesuite__text-input');
        $('.inputprompt').addClass('lifesuite__input-label lifesuite__input—block');
        document.getElementById('formButtons').style.display = "block";
        $("body").addClass("UBS_custom_theme");
       
    });
  
</SCRIPT>
<!--<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/Main_Offer_Letter/script.js>"></script>-->
<script type="text/javascript" src="script.js"></script>

<script>
//Show populated form if already completed
var strCompletedForm = FORM_COMPLETED;
console.log(FORM_COMPLETED);
if (strCompletedForm != "")
{
//Gather the fields that need to be displayed
//For images we need to setup the image tag. 
var imgHeader = "<img class='srt_eform_logo' src='<$client.env.formfield.headerpg1.value>' />";
//var imgDISignature = "<img src='<$client.env.formfield.disignature.value>' />";
var imgASSSignature = "<img class='hrsignature_JM' src='<$client.env.formfield.asssignature.value>' />";

//Create an array of info to pass to complete the offer letter
//0 for images sending an image tag, 1 for sections of text sneding the ID of the field that holds the HTML.
var arrParts = [
  [0,'imgHeader'],
  [0,'imgASSSignature'],
  [1,'hidden_pg']
];
//Send (ID of the div to hide,ID of the div to show,Parts to get the offer letter)
showCompletedOfferLetter('incomplete','complete',arrParts);
} else {
  //If the offer letter is not complete set up the logos and link field values.
  //<$client.env.eval((url.forWhom!=account.userguid)?'disableCalButton(\'signDate\')':'')> 
  pickDivisionLogo();
  SetImageOnOfferLetter('headerpg1');
  SetImageOnOfferLetter('disignature');
  SetImageOnOfferLetter('asssignature');
}
</script>
<script>

$(function(){
var Offer_Letter_Text_1 = "";
   $(".offerClause").each(function(){
       Offer_Letter_Text_1 = Offer_Letter_Text_1 + $(this).html();
    });

$('#Offer_Letter_Text_1').val(Offer_Letter_Text_1.trim());

autosize(document.getElementById("Offer_Letter_Text_1"));

function HideSection(sec){
    $('#'+sec).css('display', 'none');
}
var sigA = $("#signature2").val().length;
var sigB = $("#signature3").val().length;
var sigC = $("#signature4").val().length;
var sigD = $("#signature5").val().length;
var sigE = $("#signature6").val().length;
((employee.UserType == 'New Hire' || employee.UserTypeRole == 'Wrole')) ? HideSection('offer_letter_text_area') : '';
((employee.UserType == 'New Hire' && (sigA==0 || sigB==0 || sigC==0 || sigD==0 || sigE==0))) ? HideSection('ButtonPrint') : '';
//(employee.UserType == 'New Hire') ? HideSection('offer_letter_text_area') : HideSection('offer_letter_OfferClause');

});

</script>
