<main class="container-fluid">
  <header class="row">
    <h3 class="vspace">
      <strong>Enrollment Form - RPM Internal Inc.</strong>
    </h3>
    <p>
      <strong>
        Members of Local #1023 International Union, United Automobile, Aerospace and Agricultural Implement Workers of American (UAW) Locl #1023 (Testor Division)
      </strong>
    </p>
  </header>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="vspace">
        The Prudential Insurance Company of America
      </h3>
      <p>
        751 Broad Street, Newark, New Jersey 07102 <br>
        1- 877- 232- 3619
      </p>
    </div>
  </div>
  <div class="box vspace">
    <div class="row border-bottom bg-grey">
      <div class="col-lg-4 col-md-4 col-xs-12">
        General Information (Employee)
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12 border-left bg-normal">
        Effective Date of Coverage (for office use only)
        <div class="inline-block">
          <$client.env.FormField.a01_Coverage_Date.HTML>
        </div>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-lg-3 col-md-2 col-xs-12">
        Last Name
        <$client.env.FormField.a02_Last_Name.HTML>
      </div>
      <div class="col-lg-3 col-md-2 col-xs-12">
        First Name
        <$client.env.FormField.a03_First_Name.HTML>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12">
        Middle Initial
        <$client.env.FormField.a04_Middle_Initial.HTML>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12">
        Email
        <$client.env.FormField.a05_Email.HTML>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12">
        Phone
        <$client.env.FormField.a06_Phone.HTML>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-lg-5 col-md-5 col-xs-12">
        Address
        <$client.env.FormField.a07_Address.HTML>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12">
        City
        <$client.env.FormField.a08_City.HTML>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12">
        State
        <$client.env.FormField.a09_State.HTML>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12">
        Zip Code
        <$client.env.FormField.a10_Zip_Code.HTML>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-lg-3 col-md-3 col-xs-12">
        <p class="text-center">
          Social Security No.
        </p>
        <$client.env.FormField.a11_Social_Security_No.HTML>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 border-left">
        <p class="text-center">
          Marital Status
        </p>
        <div class="col-xs-6 border-right">
          <$client.env.FormField.a12_Marital_Status_S.HTML>
          <$client.env.FormField.a12_Marital_Status_D.HTML>
        </div>
        <div class="col-xs-6">
          <$client.env.FormField.a12_Marital_Status_M.HTML>
          <$client.env.FormField.a12_Marital_Status_W.HTML>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 border-left">
        <p class="text-center">
          Date of Birth
        </p>
        <div class="text-center">
          <div class="inline-block">
            Month
          </div>
          <div class="inline-block">
            Day
          </div>
          <div class="inline-block">
            Year
          </div>
        </div>
        <$client.env.FormField.a13_Date_Of_Birth.HTML>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-lg-9 col-md-9 col-xs-12 border-right">
        <p class="text-center">
          Date Employed
        </p>
        <div class="text-center">
          <div class="inline-block">
            Month
          </div>
          <div class="inline-block">
            Day
          </div>
          <div class="inline-block">
            Year
          </div>
          <br>
          <div class="inline-block">
            <$client.env.FormField.a13_Employment_Date.HTML>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12">
        <p class="text-center">
          (For Prudential Use Only)
        </p>
        <p class="text-center">
          Control # 51542
        </p>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-lg-12 bg-grey">
        Optional Term Life
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-lg-4 col-md-4 col-xs-12">
        Coverage amount chosen:
        <$client.env.FormField.a14_Coverage_Amount.HTML>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12 text-center">
        <div class="inline-block">
          Payroll deduction: $
        </div>
        <div class="inline-block">
          <$client.env.FormField.a14_Payroll_Deduction.HTML>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="vspace">
        Group Term Life and Disability coverages are issued by The Prudential Insurance Company of America, a Prudential Financial company, 751 Broad Street, Newark, NJ 07102. Life Claims: 800-524-0542, Disability Support: 800-842-1718. This brochure is intended to be a summary of your benefits and does not include all plan provisions, exclusions and limitations. Please refer to the Booklet-Certificate, which is made a part of the Group Contract, for all plan details, including any exclusions, limitations and restrictions which may apply. If there is a discrepancy between this document and the Booklet-Certificate/Group Contract issued by The Prudential Insurance Company of America, the Group Contract will govern.
        <br>
        Contract provisions may vary by state. Contract Series:83500. California COA # 1179 NAIC #68241
      </p>
      <p class="vspace">
        &copy; 2013 Prudential Financial, Inc., and its related entities.
      </p>
      <p class="vspace">
        Prudential, the Prudential logo, and the Rock symbol are service marks of Prudential Financial, Inc. and its related entities , registered in many jurisdictions worldwide.
      </p>
    </div>
  </div>
  <header class="row vspace">
    <h3 class="vspace">
      <strong>Enrollment Form - RPM Internal Inc.</strong>
    </h3>
    <p class="vspace">
      <strong>
        Members of Local #1023 International Union, United Automobile, Aerospace and Agricultural Implement Workers of American (UAW) Locl #1023 (Testor Division)
      </strong>
    </p>
  </header>
  <div class="box vspace">
    <div class="row border-bottom">
      <div class="col-lg-12 bg-grey">
        Employee General Information
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-lg-4 col-md-4 col-xs-12">
        Last Name
        <$client.env.FormField.a15_Last_Name.HTML>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        First Name
        <$client.env.FormField.a16_First_Name.HTML>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12 border-right">
        Middle Initial
        <$client.env.FormField.a17_Middle_Initial.HTML>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12">
        Social Security No.
        <$client.env.FormField.a18_Social_Security_No.HTML>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-lg-12 bg-grey">
        Acceptance or Waiver of Coverage
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="inline-block">
          <$client.env.FormField.a19_Waiver_of_Coverage_Y.HTML>
        </div>
        I am enrolling for coverage and I authorize RPM International Inc. to deduct from my earnings until further notice my contributions for insurance under a contract issued by The Prudential Insurance Company of America. I understand that if I desire to increase the amount of my insurance or add dependent coverage hereafter, I may be required to furnish evidence of insurability for myself and/or my dependents. To the best of my knowledge and belief, I declare the statement above is true and understand it is the basis for determining the monthly contribution for coverage. I al so understand that for coverage to become effective, I must be actively at work during the enrollment period and on the effective date of the plan. If I apply f or an amount that requires evidence of insurability satisfactory to The Prudential Insurance Company of America, I must be actively at work on the date of approval for the amount requiring satisfactory evidence of insurability.
      </div>
      <div class="col-lg-12 vspace">
        <div class="inline-block">
          <$client.env.FormField.a19_Waiver_of_Coverage_N.HTML>
        </div>
        I do not wish to enroll for any of the above optional coverages. I certify that I have been given the opportunity bymy above named employer to enroll for coverage. I understand that if I desire to enroll hereafter, I m ay be required to furnish satisfactory evidence of insurability to The Prudential Insurance Company of America for myself and/or my dependents.
      </div>
      <div class="col-lg-12">
        <p>
          <strong>FOR RESIDENTS OF ALL STATES EXCEPT ALABAMA, DISTRICT OF COLUMBIA, FLORIDA, KENTUCKY, MARYLAND, NEW JERSEY, NEW YORK, PENNSYLVANIA, RHODE ISLAND, UTAH, VERMONT, VIRGINIA AND WASHINGTON; WARNING</strong>'
          Any person who knowingly and with intent to injure, defraud, or decieve and insurance company or other person, or knowing that he is facilitating commission of a fraud, submits incomplete, false, fraudulent, deceptive or misleading facts of information when filing an insurance application or a statement of claim for payment of a loss or benefit commits a fraudulent insurance act, is/may be guilty of a crime and may be prosecuted and punished under state law. Penalties may include fines, civil damages and criminal penalties, including confinement in prison. In addition, an insurer may deny insurance benefits if false information materially related to a claim was provided by the applicant or if the applicant conceals, for the purpose of misleading, information concerning any fact material thereto.
        </p>
        <p>
          <strong>ALABAMA RESIDENTS</strong>
          - Any person who knowingly presents a false or fraudulent claim for payment of a loss or benefit or who knowingly presents false information in an application for insurance is guilty of a crime and may be subject to restitution fines or confinement in prison, or any combination thereof.
        </p>
        <p>
          <strong>DISTRICT OF COLUMBIA and RHODE ISLAND RESIDENTS --</strong>
          Any person who knowingly presents a false or fraudulent claim for payment of a loss or benefit or who knowingly presents false information in an application for insurance is guilty of a crime and may be subject to fines and confinement in prison.
        </p>
        <p>
          <strong>MARYLAND RESIDENTS - </strong>
          Any person who knowingly or willfully presents a false or fraudulent claim for payment of a loss or benefit or who knowingly or willfully presents false information in an application for insurance is guilty  of a crime and may be subject to fines and confinement and civil penalties.
        </p>
        <p>
          <strong>NEW JERSEY --</strong>
          Any person who includes any false or misleading information on an application for an insurance policy is subject to criminal and civil penalties.
        </p>
        <p>
          <strong>PENNSYLVANIA AND UTAH RESIDENTS --</strong>
          Any person who knowingly and with intent to defraud any insurance company or other person files and application for insurance or statement of claim containing any materially false information or conceals for the purpose of misleading, information concerning any material fact there to commits a fraudulent insurance act, which is a crime and subjects such person to criminal and civil penalties.
        </p>
        <p>
          <strong>VERMONT RESIDENTS --</strong>
          Any person who knowingly presents a false or fraudulent claim for payment of a loss or knowingly makes a false statement in an application for insurance may be guilty of a criminal offense under state law.
        </p>
        <p>
          <strong>VIRGINIA RESIDENTS --</strong>
          Any person who knowingly and with intent to injure, defraud, or deceive any insurance company or other person, or knowing that he is facilitating commission of a fraud, submits incomplete, false, fraudulent, deceptive or misleading facts or information when filing a statement of claim for payment of a loss or benefit may have violated state law, is guilty of a crime and may be prosecuted and punished under state law. Penalties may include fines, civil damages and criminal penalties, including confinement in prison. In addition, an insurer may deny insurance benefits if false information materially related to a claim was provided by the applicant or if the applicant conceals, for the purpose of misleading, information concerning any fact material thereto.
        </p>
        <p class="vspace">
          <strong>WASHINGTON RESIDENTS --</strong>
          Any person who knowingly provides false, incomplete, or misleading information to an insurance company for the purpose of defrauding the company commits a crime. Penalties include imprisonment, fines, and denial of insurance benefits.
        </p>
      </div>
    </div>
  </div>
  <header class="row vspace">
    <h3 class="vspace">
      <strong>Enrollment Form - RPM Internal Inc.</strong>
    </h3>
    <p class="vspace">
      <strong>
        Members of Local #1023 International Union, United Automobile, Aerospace and Agricultural Implement Workers of American (UAW) Locl #1023 (Testor Division)
      </strong>
    </p>
  </header>
  <div class="box vspace">
    <div class="row border-bottom">
      <div class="col-lg-12 bg-grey">
        Employee General Information
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-lg-4 col-md-4 col-xs-12">
        Last Name
        <$client.env.FormField.a20_Last_Name.HTML>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        First Name
        <$client.env.FormField.a21_First_Name.HTML>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12 border-right">
        Middle Initial
        <$client.env.FormField.a22_Middle_Initial.HTML>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12">
        Social Security No.
        <$client.env.FormField.a23_Social_Security_No.HTML>
      </div>
    </div>
    <div class="row vspace">
      <div class="col-lg-12 vspace-bg">
        <p>
          Receipt of accelerated death benefits may affect eligibility for public assistance programs and may be taxable. There is no administrative fee to accelerate death benefits. The accelerated amount is not discounted.
        </p>
        <p>
          <strong>FLORIDA RESIDENTS --</strong>
          Any person who knowingly and with intent to injure, defraud, or decieve any insurer files a statement of claim or an application containing false, incomlete, or misleading infomation is guilty of a felony of the third degree.
        </p>
        <p class="vspace">
          <strong>NEW YORK RESIDENTS -- Any person who knowingly and with intent to defraud any insurance company or other person files and with intent to defraud any insurance company or other person files an application for insurance or statement of claim containing any materially false information, or conceals for the purpose of misleading, information concerning any fact material thereto, commits a fraudulent insurance act, which is a crime, and shall also be subject to a civil penalty not to exceed five thousand dollars and the stated value of the claim for each such violation. This warning ONLY applies to accedent and disability coverage.
          </strong>
        </p>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12">
        Employee Signature
      </div>
      <div class="col-lg-5 col-md-5 col-xs-12">
        <$client.env.FormField.a24_Employee_Signature.HTML>
      </div>
      <div class="col-lg-2 col-md-2 col-xs-12 text-right">
        Date (Month/Day/Year)
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12 vspace-bg">
        <$client.env.FormField.a25_Signature_Date.HTML>
      </div>
    </div>
  </div>
  <div class="row vspace-bg">
    <div class="col-lg-12 text-center">
      <strong>You must also complete a separate beneficiary designation form.</strong>
    </div>
  </div>
  <footer class="row">
    <div class="col-lg-2 col-md-2 pull-right">
      <img src="assets/img/prudential_logo.jpg" alt="Prudential" class="img-responsive">
    </div>
    <div class="col-lg-12">
      G L . 2 0 1 2. 2 7 4 N Y
    </div>
  </footer>
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>
