<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 

<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement --> 

<div class="modal" id="modal" style="display:none;"> 
     <div class="modal-content"> 
          <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
          <p style="fontweight:normal;padding:0px"> 
          <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
          </p> 
          <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input ng-invalid" style="width: 99%">&nbsp; 
                             </div> 

                             </div> 

                             <div class="row"> 

                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px; width: 278px;"> 

                                                         <input id="signature-submit" type="button" class="lifesuite__button primary" value="Sign">&nbsp; 

                                                          <input  id="signature-clear" type="button" class="lifesuite__button" value="Clear">&nbsp;

                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';"> 

                                           </div> 

                             </div> 

              </div> 

</div> 

<div id="over" style="display:none;"></div> 

<SCRIPT> 

    showScreen('over') 

</SCRIPT> 

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 

<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 

<!-- RESPONSIVE eFORM PAGE LOADER--> 
<div class="modal" style="display:block; background: #002E6D;"> 
	<div class="fb-spinner"> 
		<i class="fa fa-2x fa-spinner fa-pulse"></i> 
	</div> 
</div> 

  
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 

  

<form id="united-kingdom-onboarding-application" name="frmForm" action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);" role="form"> 

    <div style="display:none;"> 

        <$client.env.FormField.Form_Name.prompt> 
        <$client.env.FormField.Form_Name.HTML> 
        <$client.env.FormField.Form_Type.prompt> 
        <$client.env.FormField.Form_Type.HTML> 
        <$client.env.FormField.Form_Owner.prompt> 
        <$client.env.FormField.Form_Owner.HTML> 
        <$client.env.FormField.Form_CreateDate.prompt> 
        <$client.env.FormField.Form_CreateDate.HTML> 
        <$client.env.FormField.Form_Completed.prompt> 
        <$client.env.FormField.Form_Completed.HTML> 
        <$client.env.FormField.Form_Delivered.prompt> 
        <$client.env.FormField.Form_Delivered.HTML> 
        <$client.env.FormField.Form_TaskId.prompt> 
        <$client.env.FormField.Form_TaskId.HTML> 
        <$client.env.FormField.display_version.HTML> 

        <!-- Replace With eForm Specific Data Field Prompts From Formalizer--> 
        <$client.env.FormField.a01_Medical_Application_Form.prompt>
        <$client.env.FormField.a02_Medical_Application_Form.prompt>
        <$client.env.FormField.a03_Complete_the_Medical_Application_Form.prompt>
        <$client.env.FormField.a04_Complete_the_dental_Application_Form.prompt>
        <$client.env.FormField.a05_Pension_Application_Form.prompt>
        <$client.env.FormField.a06_Complete_the_Pension_Application_Form.prompt>
        <$client.env.FormField.a07_Childcare_Voucher_Application_Form.prompt>
        <$client.env.FormField.a08_Complete_the_Childcare_Voucher_Application_Form.prompt>
    </div> 

    <input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>"> 

<main class="container-fluid">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 imgr mb-20">
         <img src="<$link;/RedCarpet/Onboarding/Uploads/Images/paypal_logo.jpg>" class="img-responsive" style="max-width: 120px;">
      </div>
   </div>
   <div class="row">
      <div class="center-block inner-wrapper wide-sm">
         <p>
            <strong>United Kingdom <br>
            Benefits Application Forms</strong>
         </p>
      </div>
   </div>
   <div class="row">
      <div class="center-block inner-wrapper wide-sm">
         <p class="mb-30">
            Review the information below and complete the application forms to enroll in the benefits.
         </p>
      </div>
   </div>

   <section class="margin-bottom">

      <div class="row">
         <div class="center-block inner-wrapper">
            <h5 class="mb-10 form-heading"><span class="text-uppercase">Medical and Dental Plans</span></h5>
            <p class="text-indent mb-20">
               The BUPA Medical and Dental Plan are available to all regular employees. The Plan is also extended to cover your immediate family.
            </p>
            <ul class="mb-20">
               <li>Spouse / Partner – Must reside in the same house as employee</li>
               <li>Children – Must reside in the same house as employee</li>
            </ul>
            <p class="text-indent">
               This benefit is 100% paid for by the company. It is a taxable benefit, which means that you will be liable to pay tax on the benefit.
            </p>
            <p class="text-indent mb-30">
               Download and complete the following application forms to sign up for these benefits. By selecting “yes” to the questions below, you will have an additional task added to upload the completed form.
            </p>
            <div class="fancybox-container mb-30 text-indent">
               <div class="row fancybox" data-document="<$link;/eprise/main/SiteGen/EMEA_Onboarding/Content/Uploads/Unplaced_Documents/2021/UK_-_BUPA_Medical_Application_Form_-_2021_Editable.pdf>">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                     <img class="invisible" src="<$link;/main/RedCarpet/FormTemplates/New_Hire_Policy_Acknowledgement/check-mark.png>">
                  </div>
                  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" id="a01_Medical_Application_Form_label">
                        Medical Application Form
                  </div>
                  <div class="hide"><$client.env.FormField.a01_Medical_Application_Form.HTML></div>
               </div>
               <div class="row fancybox" data-document="<$link;/eprise/main/SiteGen/EMEA_Onboarding/Content/Uploads/Unplaced_Documents/2021/UK_-_BUPA_Dental_Application_Form_-_2021_Editable.pdf>">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                     <img class="invisible" src="<$link;/main/RedCarpet/FormTemplates/New_Hire_Policy_Acknowledgement/check-mark.png>">
                  </div>
                  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" id="a02_Medical_Application_Form_label">
                        Dental Application Form
                  </div>
                  <div class="hide"><$client.env.FormField.a02_Medical_Application_Form.HTML></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top" id="a03_Complete_the_Medical_Application_Form_label">
                  <p class="text-indent">Do you intend to complete the Medical Application Form?</p>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="text-indent">
                     <$client.env.FormField.a03_Complete_the_Medical_Application_Form.HTML>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top" id="a04_Complete_the_dental_Application_Form_label">
                  <p class="text-indent">Do you intend to complete the Dental Application Form?</p>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="text-indent">
                     <$client.env.FormField.a04_Complete_the_dental_Application_Form.HTML>
                  </div>
               </div>
            </div>
         </div>
      </div>
   
      <div class="row">
         <div class="center-block inner-wrapper">
            <h5 class="mb-10 form-heading"><span class="text-uppercase">Pension</span></h5>
            <p class="text-indent">
               If you register for the pension, you should expect to receive a policy pack in approximately 14 working days after you join. Please note, if you join after the 13<sup>th</sup> of the month your pension deductions will not start until the following month.
            <p class="text-indent mb-30">
               Download and complete the following application forms to sign up for these benefits. By selecting “yes” to the questions below, you will have an additional task added to upload the completed form.
            </p>
            <div class="fancybox-container mb-30 text-indent">
               <div class="row fancybox" data-document="<$link;/eprise/main/SiteGen/EMEA_Onboarding/Content/Uploads/Unplaced_Documents/2021/UK_-_SW_Pension_Form_June_2021_Editable.pdf>">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                     <img class="invisible" src="<$link;/main/RedCarpet/FormTemplates/New_Hire_Policy_Acknowledgement/check-mark.png>">
                  </div>
                  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" id="a05_Pension_Application_Form_label">
                     Pension Application Form
                  </div>
                  <div class="hide"><$client.env.FormField.a05_Pension_Application_Form.HTML></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top" id="a06_Complete_the_Pension_Application_Form_label">
                  <p class="text-indent">Do you intend to complete the Pension Application Form?</p>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="text-indent">
                     <$client.env.FormField.a06_Complete_the_Pension_Application_Form.HTML>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </section>
   <hr class="lifesuite__hr">
   <div class="row" id="formButtons" style="display: none;">
      <div class="lifesuite__clearfix lifesuite__float-right">                
         <$client.env.FormButtons> 
      </div>
   </div>
</main>

</form> 

<script type="text/javascript" src="<$link;/main/RedCarpet/FormTemplates/FormSupport/js/front_validator.js>"></script> 
<script type="text/javascript"> 
    ChangeCalendarIcons(); //for popup calendar  
$(document).on('ready', function() { 
    $("#buttonCancel").removeClass().addClass("lifesuite__button").prop('id','ButtonCancel');
    $("#buttonSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSave');
    $("#buttonSaveAndComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonSaveAndComplete');
    $("#buttonPrint").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPrint');
    $("#buttonPreviewDelete").removeClass().addClass("lifesuite__button").prop('id','ButtonPreviewDelete');
    $("#buttonPreviewSave").removeClass().addClass("lifesuite__button primary").prop('id','ButtonPreviewSave');
    $("#buttonComplete").removeClass().addClass("lifesuite__button primary").prop('id','ButtonComplete');
    document.getElementById('formButtons').style.display = "block";
    $("input[type=text]").addClass('lifesuite__text-input');
    $("input[type=text].hasDatepicker").addClass('dateField');
    $("select").addClass('lifesuite__select-input');
    $("input[type=radio]").addClass('lifesuite__radio');
    $("input[type=checkbox]").addClass('lifesuite__checkbox');
    $("textarea").addClass('lifesuite__textarea-input');
    $('label').addClass('lifesuite__input-label lifesuite__input—block');


  // open linked document and click checkbox
  $('#united-kingdom-onboarding-application').on('click', '.fancybox', function() {
    window.open($(this).data('document'));
    $(this).find('img.invisible').removeClass('invisible');
    $(this).find('input[type="checkbox"]').prop('checked', true);
    if(!strFormCompleted) {
      validateField( $(this).find('input[type="checkbox"]'));
    }
  });
  $.each($('.fancybox input[type="checkbox"]'), function(k,v) {
    if($(v).is(':checked')) {
      $(v).closest('.fancybox').find('img.invisible').removeClass('invisible');
    }
  });

  $('#united-kingdom-onboarding-application').on('change', 'input[type="checkbox"], input[type="radio"]', function() {
    if(!strFormCompleted) {
      validateField($(this));
    }
  });

  $('#ButtonPrint, #buttonPrint, #ButtonSaveAndComplete, #buttonSaveAndComplete').on('click', function(e) {
    var formIsValid = true, btn = $(this);
    e.preventDefault();
    $.each($('#united-kingdom-onboarding-application input[type="checkbox"], #united-kingdom-onboarding-application input[type="radio"]'), function(k, v) {
      if(strFormCompleted) formIsValid = true;
      else{
            if(false == validateField($(v))) {
              formIsValid = false;
            }
      }
    });
    if (formIsValid) {
      switch (btn.attr('id')) {
        case 'ButtonPrint':
          funcPrint();
        break;
        case 'ButtonSaveAndComplete':
          funcSaveAndComplete();
        break;
      }
    }
    else {
        $("html, body").animate({ scrollTop: 0 }, "slow");
    }
  });
  $(".modal").hide(); 
}); 
$('#buttonPrint').removeAttr('onclick');
$('#buttonSaveAndComplete').removeAttr('onclick');
</script>
