<main class="container-fluid">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 imgr">
         <img src="<$link;/RedCarpet/Onboarding/Uploads/Images/paypal_logo.jpg>" class="img-responsive" style="max-width: 120px;">
      </div>
   </div>
   <div class="row margin-bottom">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
         <p>
            United Kingdom <br>
            Onboarding Applications Form
         </p>
      </div>
   </div>
   <div class="row margin-bottom">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
         <p>
            Review the information below and complete the application forms to enroll in the benefits.
         </p>
      </div>
   </div>

   <section class="margin-bottom">

      <div class="row margin-bottom">
         <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0 col-lg-8 col-md-8 col-sm-8 col-xs-12 inner-wrapper">
            <h5 class="margin-bottom form-heading"><span class="text-uppercase">Medical and Dental Plans</span></h5>
            <p class="mb-0 text-indent">
               The BUPA Medical and Dental Plan are available to all regular employees. The Plan is also extended to cover your immediate family.
            </p>
            <ul>
               <li>Spouse / Partner – Must reside in the same house as employee</li>
               <li>Children – Must reside in the same house as employee</li>
            </ul>
            <p class="text-indent">
               This benefit is 100% paid for by the company. It is a taxable benefit, which means that you will be liable to pay tax on the benefit.
            </p>
            <p class="text-indent">
               Download and complete the following application forms to sign up for these benefits. By selecting “yes” to the questions below, you will have an additional task added to upload the completed form.
            </p>
            <div class="fancybox-container text-indent">
               <div class="row fancybox" data-document="<$link;/eprise/main/SiteGen/Onboarding/Content/Uploads/Unplaced_Documents/BUPA_Medical_Application_Form.pdf>">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                     <img class="invisible" src="<$link;/main/RedCarpet/FormTemplates/New_Hire_Policy_Acknowledgement/check-mark.png>">
                  </div>
                  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" id="a01_Medical_Application_Form_label">
                        Medical Application Form
                  </div>
                  <div class="hide"><$client.env.FormField.a01_Medical_Application_Form.HTML></div>
               </div>
               <div class="row fancybox" data-document="<$link;/eprise/main/SiteGen/Onboarding/Content/Uploads/Unplaced_Documents/BUPA_Dental_Application_Form.pdf>">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                     <img class="invisible" src="<$link;/main/RedCarpet/FormTemplates/New_Hire_Policy_Acknowledgement/check-mark.png>">
                  </div>
                  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" id="a02_Medical_Application_Form_label">
                        Dental Application Form
                  </div>
                  <div class="hide"><$client.env.FormField.a02_Medical_Application_Form.HTML></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top" id="a03_Complete_the_Medical_Application_Form_label">
                  <p class="text-indent">Do you intend to complete the Medical Application Form?</p>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="text-indent">
                     <$client.env.FormField.a03_Complete_the_Medical_Application_Form.HTML>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top" id="a04_Complete_the_dental_Application_Form_label">
                  <p class="text-indent">Do you intend to complete the Dental Application Form?</p>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="text-indent">
                     <$client.env.FormField.a04_Complete_the_dental_Application_Form.HTML>
                  </div>
               </div>
            </div>
         </div>
      </div>
   
      <div class="row margin-bottom">
         <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0 col-lg-8 col-md-8 col-sm-8 col-xs-12 inner-wrapper">
            <h5 class="margin-bottom form-heading"><span class="text-uppercase">Pension</span></h5>
            <p class="text-indent">
               If you register for the pension, you should expect to receive a policy pack in approximately 14 working days after you join. Please note, if you join after the 13<sup>th</sup> of the month your pension deductions will not start until the following month.
            <p class="text-indent">
               Download and complete the following application forms to sign up for these benefits. By selecting “yes” to the questions below, you will have an additional task added to upload the completed form.
            </p>
            <div class="fancybox-container text-indent">
               <div class="row fancybox" data-document="<$link;/eprise/main/SiteGen/Onboarding/Content/Uploads/Unplaced_Documents/United_Kingdom_Zurich_Pension_Application_Form.pdf>">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                     <img class="invisible" src="<$link;/main/RedCarpet/FormTemplates/New_Hire_Policy_Acknowledgement/check-mark.png>">
                  </div>
                  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" id="a05_Pension_Application_Form_label">
                     Pension Application Form
                  </div>
                  <div class="hide"><$client.env.FormField.a05_Pension_Application_Form.HTML></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top" id="a06_Complete_the_Pension_Application_Form_label">
                  <p class="text-indent">Do you intend to complete the Pension Application Form?</p>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="text-indent">
                     <$client.env.FormField.a06_Complete_the_Pension_Application_Form.HTML>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row margin-bottom">
         <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-0 col-lg-8 col-md-8 col-sm-8 col-xs-12 inner-wrapper">
            <h5 class="margin-bottom form-heading"><span class="text-uppercase">Childcare Vouchers</span></h5>
            <p class="text-indent">
               If you register for the pension, you should expect to receive a policy pack in approximately 14 working days after you join. Please note, if you join after the 13<sup>th</sup> of the month your pension deductions will not start until the following month.
            <p class="text-indent">
               Download and complete the following application forms to sign up for these benefits. By selecting “yes” to the questions below, you will have an additional task added to upload the completed form.
            </p>
            <div class="fancybox-container text-indent">
               <div class="row fancybox" data-document="<$link;/eprise/main/SiteGen/Onboarding/Content/Uploads/Unplaced_Documents/United_Kingdom_Childcare_Voucher.pdf>">
                  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                     <img class="invisible" src="<$link;/main/RedCarpet/FormTemplates/New_Hire_Policy_Acknowledgement/check-mark.png>">
                  </div>
                  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" id="a07_Childcare_Voucher_Application_Form_label">
                        Childcare Voucher Application Form
                  </div>
                  <div class="hide"><$client.env.FormField.a07_Childcare_Voucher_Application_Form.HTML></div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top" id="a08_Complete_the_Childcare_Voucher_Application_Form_label">
                  <p class="text-indent">Do you intend to complete the Childcare Voucher Application Form?</p>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="text-indent">
                     <$client.env.FormField.a08_Complete_the_Childcare_Voucher_Application_Form.HTML>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </section>
   <hr class="lifesuite__hr">
   <div class="row" id="formButtons" style="display: none;">
      <div class="lifesuite__clearfix lifesuite__float-right">                
         <$client.env.FormButtons> 
      </div>
   </div>
</main>
