<main>
  <header class="vspace">
    <h5 class="text-center">
      STRICTLY PRIVATE-COMPANY CONFIDENTIAL EMPLOYEE <br>
      NON SOLICITATION AGREEMENT
    </h5>
  </header>
  <p class="vspace text-justify">
    I agree that during the term of my employment with Avionica LLC. or with the General Electric Company or any of its other affiliates or successors (the “Company”) and continuing for twelve (12) months after the date of my separation from employment with the Company, I will not, without prior written approval from a General Electric Company Senior Human Resources Manager for the component for which I most recently worked:
  </p>
  <div class="vspace">
    <div class="col-10 text-right vertical-top">
      *
    </div>
    <div class="col-90 vertical-top text-justify">
      Whether on my own behalf or in conjunction with any other person, directly or indirectly, solicit or encourageany person who is a Lead Professional Band or higher employee of the Company (hereinafter “Restricted Person”) toterminate his or her employment relationship with the Company or accept any other employment outside of theCompany;
    </div>
  </div>
  <div class="vspace">
    <div class="col-10 text-right vertical-top">
      *
    </div>
    <div class="col-90 vertical-top text-justify">
      Directly hire, or recommend or cause to be hired by an entity for which I work or with which I am otherwiseassociated or own more than a 1% ownership interest, any person who is, or was, within twelve (12) monthsbefore or after the date of my separation from employment, a Restricted Person; or
    </div>
  </div>
  <div class="vspace">
    <div class="col-10 text-right vertical-top">
      *
    </div>
    <div class="col-90 vertical-top text-justify">
      Provide any non-public information regarding any Restricted Person, including, but not limited to, compensationdata, performance evaluations, skill sets or qualifications, etc. to any external person, in connection withemployment outside the Company, including, but not limited to, recruiters and prospective employers.
    </div>
  </div>
  <p class="vspace text-justify">
    The above restrictions do not apply to any communications with or about, solicitation/encouraging of, or hiring of any Company employee who has been formally notified of his or her impending layoff from the Company (exception applies only after such formal layoff notification has occurred).
  </p>
  <p class="vspace text-justify">
    In any future dispute or actions concerning an alleged breach of this non-solicitation commitment, I understand and agree that I will be required to show my compliance. This Agreement is not a guarantee of employment for any fixed period of time. I also understand that I am an at-will employee, and that this Agreement does not alter my at-will status.
  </p>
  <p class="vspace text-justify">
    I agree that although the Company and I consider the restrictions set forth above to be reasonable, if a final determination is made by a duly appointed arbitrator or court of competent jurisdiction that any restriction contained in this Agreement is unenforceable, the provisions shall be considered amended to apply to such extent as the arbitrator or court may determine to be enforceable. Alternatively, if such an arbitrator or court finds that any restriction contained in this Agreement is unenforceable, and that restriction cannot be amended so as to make it enforceable, such provision shall be stricken from the Agreement and the finding shall not affect the enforceability of any other restriction contained in this Agreement. I further agree that any waiver by the Company of any breach or nonperformance of this Agreement shall not be deemed a waiver of any preceding or succeeding breach or nonperformance of this Agreement.
  </p>
  <p class="vspace text-justify">
    I recognize that breach of this Agreement may severely and irreparably injure the Company. Accordingly, I agree that the Company, in addition to any other remedies to which it may be entitled, may obtain expedited relief, including a temporary restraining order and/or preliminary injunction, from any court having personal jurisdiction over me, as well as reasonable attorney’s fees. To ensure uniformity of enforcement of this Agreement, such court shall apply the laws of the State of New York, without reference to its choice of law provisions unless I live and work in California at the time that I am hired and at the time when any dispute arises under this agreement, in which case that dispute will be governed by California law.
  </p>
  <p class="vspace">
    <strong>I ACKNOWLEDGE THAT I UNDERSTAND AND AGREE TO ABIDE BY THIS AGREEMENT AND INTEND TO BE LEGALLY BOUND BY IT.</strong>
  </p>
  <p class="vspace">
    EMPLOYEE:
  </p>
  <div class="vspace">
    <div class="col-50">
      <div class="col-25">
        Date of Birth:
      </div>
      <div class="col-75">
        <$client.env.FormField.a01_Date_of_Birth.HTML>
      </div>
    </div>
    <div class="col-50">
      <div class="col-10">
        Date:
      </div>
      <div class="col-90">
        <$client.env.FormField.a02_Date.HTML>
      </div>
    </div>
  </div>
  <div class="vspace">
    <div class="col-50">
      <div class="col-25">
        Print Name:
      </div>
      <div class="col-75">
        <$client.env.FormField.a03_Print_Name.HTML>
      </div>
    </div>
    <div class="col-50">
      <div class="col-20">
        Signature:
      </div>
      <div class="col-80">
        <$client.env.FormField.a04_Signature.HTML>
      </div>
    </div>
  </div>
</main>
