<div id='container'>
    <div class="container-fluid">
        <div class="form-group">
            <div class='row '>
                <div class='col-md-10'>&nbsp; </div>
                <div class="pull-right"><img src="<$link;/local/SystemPages/LoginImages/FileMaker_logo.png>" width="60px" /></div>
            </div>
             <div class='row'>
          <h3>U.S. Export Control Form</h3>
        </div>
        <div class='padding'></div>


        <div class='row col-md-12'>
          <p>FileMaker Inc. is legally required to comply with the U.S. Export Administration Regulations (EAR). Under these regulations, releasing technology or source code to a foreign national employee without first obtaining an export license is considered a violation of the Law. All new hires are required to complete this form. Information collected below is used only to determine export licensing requirements.</p>
        </div>

        <div class='row'>
          <div class='col-md-6'>
            <$client.env.FormField.last_name.HTML>
            <label class="control-label">Last name</label>
          </div>
          <div class='col-md-6'>
            <$client.env.FormField.first_name.HTML>
            <label class="control-label">First name</label>
          </div>
        </div>




        <div class='row'>
           <div class='col-md-12 '>
            <p><strong>Please select one of the following:</strong></p>
            <$client.env.FormField.choose_one.HTML>
           </div>

           <section id="citizen-other">
             <div class="col-lg-offset-1">If option C is selected, please specify all countries you have citizenship or permanent residency from, starting with the most recent.</div>
             <div class='padding'></div>
             <div class='col-md-8 col-sm-12 col-xs-12'>

              <table class='option_c table table-responsive table-borderless'>
                <tr>
                  <td width=5%>&nbsp;</td>
                  <td width=40%>&nbsp;</td>
                  <td class='center'>Citizen</td>
                  <td class='center'>Permanent Resident</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td><$client.env.FormField.country1.HTML></td>
                  <td class='center'><$client.env.FormField.citizen1.HTML></td>
                  <td class='center'><$client.env.FormField.resident1.HTML></td>
                </tr>

                <tr>
                  <td>2.</td>
                  <td><$client.env.FormField.country2.HTML></td>
                  <td class='center'><$client.env.FormField.citizen2.HTML></td>
                  <td class='center'><$client.env.FormField.resident2.HTML></td>
                </tr>

                <tr>
                  <td>3.</td>
                  <td><$client.env.FormField.country3.HTML></td>
                  <td class='center'><$client.env.FormField.citizen3.HTML></td>
                  <td class='center'><$client.env.FormField.resident3.HTML></td>
                </tr>
              </table>
           </section>

          </div>
        </div>


          <div class='padding'></div>
          <div class='row'>
            <div class='col-md-12'>
              <h4><strong>Letter of Assurance</strong></h4>

              <p>To Whom It May Concern:</p>

              <p>I hereby certify that I will not knowingly export or reexport, directly or indirectly, any technology or source code acquired from FileMaker Inc., or any direct product of that technology, to any national of a restricted or embargoed country for which the United States government or any agency thereof requires an export license or other government approval, without first obtaining such license or approval.</p>
            </div>
          </div>


          <div class='padding'></div>


          <div class='row'>
            <div class='col-md-5  col-sm-12  col-xs-12'>
                <$client.env.FormField.employee_signature.HTML>
                Signature
            </div>
            <div class='col-md-2 col-sm-12 col-xs-12'>&nbsp;</div>
            <div class='col-md-3 col-sm-12 col-xs-12'>
              <$client.env.FormField.date.HTML>
              Date
            </div>
          </div>



            <!--end form-group  -->
        </div>
        <!-- end container-fluid -->
    </div>




</div>
