<main id="container">
    <header class="vspace clearfix">
        <div class="col-20 pull-right">
            <img src="/assets/img/regus_logo.jpg" alt="Regus Logo" class="img-responsive">
        </div>
    </header>
    <p class="vspace">
        (TODAY’S DATE)
    </p>
    <p>
        Name
    </p>
    <p class="vspace">
        Address
    </p>
    <p class="vspace">
        Dear Name:
    </p>
    <p class="vspace">
        Welcome to Regus Management Group, LLC (Regus)! We are pleased to confirm your offer of employment as (POSITION), reporting to (HIRING MANAGER). Your compensation of $(RATE) hourly/salary rate will be paid bi-weekly based on 26 pay periods annually in accordance with the Company’s normal payroll policies and procedures, subject to applicable withholdings and payroll deductions. 
    </p>
    <p class="vspace">
        Please be advised that this offer is contingent upon timely completion of all onboarding tasks as well as successful completion of a background check.  This offer is not intended to be a contract of employment.  Employment with Regus is considered to be employment-at-will. Either you or the company may choose to terminate the employment relationship at any time. 
    </p>
    <p class="vspace">
        You may have discussed a tentative start date with your hiring manager; however, your actual start date will be determined upon completion of the items outlined above and will be communicated to you by your hiring manager.
    </p>
    <p class="vspace">
        On or before your first day of employment, you will receive your new hire information, which will contain information outlining the Company’s benefit plans. Please take some time to review this material, as benefits are an important part of your total compensation package. Any benefits for which you are eligible and in which you elect to participate will take effect on the first day of the month following 30 days of employment.
    </p>
    <p class="vspace">
        Your employment is also conditioned upon your ability to provide documentary evidence of your identity and eligibility for employment in the United States in accordance with employment eligibility verification laws on your first day of employment.  Please refer to the List of Acceptable Documents which can be found on the Form I-9 during your onboarding and bring your documents with you on your first day of employment.
    </p>
    <p class="vspace">
        We are pleased with your decision to join our team and are confident you will be a great asset to the company.
    </p>
    <p class="vspace md">
        We look forward to seeing you.
    </p>
    <p class="vspace">
        Sincerely,
    </p>
    <div class="vspace-sm">
        <div class="col-25">
            <img src="/assets/img/sedmondson_sig.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <p>
        Sharon Edmondson
    </p>
    <p class="vspace-md">
        Vice President, Human Resources
    </p>
    <div class="vspace clearfix">
        <div class="col-60 pull-right">
            <div class="col-60">
                <input type="text">
                <p class="text-center">
                    FIRSTNAME.LASTNAME
                </p>
            </div>
            <div class="col-40">
                <input type="text">
                <p class="text-center">
                    DATE
                </p>
            </div>
        </div>
    </div>
</main>
