<main class="container-fluid">
    <header class="text-center vspace">
        <h3 class="vspace">
            <strong>
            <u>
                FUJITSU AMERICA, INC. <br class="hidden-xs" />
                CHANGE OF EMPLOYER/NEW HIRE <br class="hidden-xs" />
                H-1B Processing Sheet—Part 1
            </u>
            </strong>
        </h3>
        <h5>
            <strong>
                <em>To be completed by candidate/employee</em>
            </strong>
        </h5>
        <h5 class="vspace">
            <strong>
                <em>Page 1 of 4</em>
            </strong>
        </h5>
    </header>
    <div class="row vspace">
        <div class="col-lg-12">
            <h5>
                <strong>A. GENERAL INFORMATION</strong>
            </h5>
        </div>
    </div>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12">
                Full Name
            </div>
            <div class="col-lg-10 col-xs-12 border-left">
                <div class="row border-bottom">
                    <div class="col-lg-4 col-xs-12">
                        <$client.env.FormField.a01_Last_Name.HTML>
                    </div>
                    <div class="col-lg-4 col-xs-12 border-left">
                        <$client.env.FormField.a02_First_Name.HTML>
                    </div>
                    <div class="col-lg-4 col-xs-12 border-left">
                        <$client.env.FormField.a03_Middle_Name.HTML>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xs-12">
                        LAST
                    </div>
                    <div class="col-lg-4 col-xs-12 border-left">
                        FIRST
                    </div>
                    <div class="col-lg-4 col-xs-12 border-left">
                        MIDDLE
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12">
                Date of Birth
            </div>
            <div class="col-lg-10 col-xs-12 border-left">
                <div class="row">
                    <div class="col-lg-4 col-xs-12 border-right">
                        <$client.env.FormField.a04_Birth_Date.HTML>
                    </div>
                    <div class="col-lg-2 col-xs-12">
                        Province of Birth
                    </div>
                    <div class="col-lg-6 col-xs-12 border-left">
                        <$client.env.FormField.a05_Province_of_Birth.HTML>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12">
                Country of Citizenship
            </div>
            <div class="col-lg-10 col-xs-12 border-left">
                <div class="row">
                    <div class="col-lg-4 col-xs-12 border-right">
                        <$client.env.FormField.a06_Country_of_Citizenship.HTML>
                    </div>
                    <div class="col-lg-2 col-xs-12">
                        Country of Birth
                    </div>
                    <div class="col-lg-6 col-xs-12 border-left">
                        <$client.env.FormField.a07_Country_of_Birth.HTML>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12">
                Social Security Number
            </div>
            <div class="col-lg-10 col-xs-12 border-left">
                <div class="row">
                    <div class="col-lg-4 col-xs-12">
                        <$client.env.FormField.a08_SSN.HTML>
                    </div>
                    <div class="col-lg-8 col-xs-12 border-left">
                        <div class="row border-bottom">
                            <div class="col-lg-4 col-xs-12">
                                Home Phone Number
                            </div>
                            <div class="col-lg-8 col-xs-12 border-left">
                                <$client.env.FormField.a09_Home_Phone_Number.HTML>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-xs-12">
                                Cell Phone Number
                            </div>
                            <div class="col-lg-8 col-xs-12 border-left">
                                <$client.env.FormField.a10_Cell_Phone_Number.HTML>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12">
                Gender
            </div>
            <div class="col-lg-10 col-xs-12 border-left">
                <$client.env.FormField.a11_Gender_Male.HTML>
                <$client.env.FormField.a11_Gender_Female.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12">
                Present Address
            </div>
            <div class="col-lg-10 col-xs-12 border-left">
                <$client.env.FormField.a12_Present_Address.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12">
                Overseas Address
            </div>
            <div class="col-lg-10 col-xs-12 border-left">
                <$client.env.FormField.a12_Overseas_Address.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-8 col-xs-12">
                <p>
                    Have you ever received a ticket or citation or been arrested for any reason in any country? If yes, please explain on a separate sheet of paper.
                </p>
            </div>
            <div class="col-lg-2 col-xs-12 border-left">
                <$client.env.FormField.a13_Received_Ticket_or_Arrested_Yes.HTML>
            </div>
            <div class="col-lg-2 col-xs-12 border-left">
                <$client.env.FormField.a13_Received_Ticket_or_Arrested_No.HTML>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-xs-12">
                <p>
                    Has your passport ever been lost or stolen?
                </p>
                <p>
                    If yes, please explain on a separate sheet of paper.
                </p>
            </div>
            <div class="col-lg-2 col-xs-12 border-left">
                <$client.env.FormField.a14_Passport_Stolen_Yes.HTML>
            </div>
            <div class="col-lg-2 col-xs-12 border-left">
                <$client.env.FormField.a14_Passport_Stolen_No.HTML>
            </div>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-12">
            <h5>
                <strong>B. EMPLOYMENT START DATE</strong>
            </h5>
        </div>
    </div>
    <div class="box vspace">
        <div class="row vspace-sm">
            <div class="col-lg-12">
                <div class="inline-block">
                    <$client.env.FormField.a15_Employment_Start.HTML>
                </div>
                <div class="inline-block">
                    Upon the filing of the H-1B petition evidenced by FedEx tracking number;
                </div>
            </div>
        </div>
        <div class="row vspace-sm">
            <div class="col-lg-12">
                <div class="inline-block">
                    <$client.env.FormField.a16_Employment_Start.HTML>
                </div>
                <div class="inline-block">
                    Upon the receipt of I-797 receipt notice (often takes 5-7 days from date petition is filed);
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="inline-block">
                    <$client.env.FormField.a17_Employment_Start.HTML>
                </div>
                <div class="inline-block">
                    Upon the filing of the H-1B petition <u>plus</u>
                </div>
                <div class="inline-block">
                    <$client.env.FormField.a17_Plus_Days.HTML>
                </div>
                <div class="inline-block">
                   days notice to current employer; 
                </div>
            </div>
        </div>
        <div class="row vspace-sm">
            <div class="col-lg-12">
                <div class="inline-block">
                    <$client.env.FormField.a18_Employment_Start.HTML>
                </div>
                <div class="inline-block">
                    Upon the receipt of the I-797 <u>plus</u>
                </div>
                <div class="inline-block">
                    <$client.env.FormField.a18_Plus_Days.HTML>
                </div>
                <div class="inline-block">
                    days notice to the current employer;
                </div>
            </div>
        </div>
        <div class="row vspace-sm">
            <div class="col-lg-12">
                <div class="inline-block">
                    <$client.env.FormField.a19_Employment_Start.HTML>
                </div>
                <div class="inline-block">
                    Immediately after the H-1B petition is approved; or
                </div>
            </div>
        </div>
        <div class="row vspace-sm">
            <div class="col-lg-12">
                <div class="inline-block">
                    <$client.env.FormField.a20_Employment_Start.HTML>
                </div>
                <div class="inline-block">
                    After the H-1B petition is approved <u>plus</u>
                </div>
                <div class="inline-block">
                    <$client.env.FormField.a20_Plus_Days.HTML>
                </div>
                <div class="inline-block">
                    days notice to the current employer.
                </div>
            </div>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-12">
            <h5>
                <strong>C. CURRENT IMMIGRATION INFORMATION (if applicable)</strong>
            </h5>
        </div>
    </div>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-6 col-xs-12">
                Current Status (H-1B, H-4, F-1, L-1, etc.)
            </div>
            <div class="col-lg-6 col-xs-12 border-left">
                <$client.env.FormField.a21_Current_Status.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-3 col-xs-12">
               Status Expiration Date (I-94 Expiration)
            </div>
            <div class="col-lg-3 col-xs-12 border-left border-right">
                <$client.env.FormField.a22_Status_Expiration_Date.HTML>
            </div>
            <div class="col-lg-3 col-xs-12">
                Date of Last Arrival
            </div>
            <div class="col-lg-3 col-xs-12 border-left">
                <$client.env.FormField.a23_Last_Arrival_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12">
                Passport Number 
            </div>
            <div class="col-lg-2 col-xs-12 border-right border-left">
                <$client.env.FormField.a24_Passport_Number.HTML>
            </div>
            <div class="col-lg-2 col-xs-12">
                Passport Issue Date
            </div>
            <div class="col-lg-2 col-xs-12 border-right border-left">
                <$client.env.FormField.a25_Passport_Issue_Date.HTML>
            </div>
            <div class="col-lg-2 col-xs-12">
                Passport Expiration Date
            </div>
            <div class="col-lg-2 col-xs-12 border-left">
                <$client.env.FormField.a26_Passport_Expiration_Date.HTML>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-xs-12">
                <p>
                    Has any employer or family member ever filed any application for permanent residence on your behalf? (Labor Cert., I-140, I-485) If yes, please explain.
                </p>
            </div>
            <div class="col-lg-2 col-xs-12 border-left">
                <$client.env.FormField.a27_Has_Family_Filed_For_Permanent_Residence.HTML>
            </div>
            <div class="col-lg-2 col-xs-12 border-left">
                <$client.env.FormField.a28_Has_Family_Filed_For_Permanent_Residence.HTML>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-xs-12">
                <p>
                    If you have an approved I-140, was it withdrawn?
                </p>
            </div>
            <div class="col-lg-2 col-xs-12 border-left">
                <$client.env.FormField.a29_Withdrawn_i140.HTML>
            </div>
            <div class="col-lg-2 col-xs-12 border-left">
                <$client.env.FormField.a30_Withdrawn_i140.HTML>
            </div>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-12">
            <h5>
                <strong>D. FAMILY INFORMATION (if applicable)</strong>
            </h5>
        </div>
    </div>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12">
                Name of Spouse
            </div>
            <div class="col-lg-10 col-xs-12 border-left">
                <$client.env.FormField.a31_Spouse_Name.HTML>
            </div>
        </div>  
        <div class="row border-bottom">
            <div class="col-lg-3 col-xs-12">
                Current status
            </div>
            <div class="col-lg-3 col-xs-12 border-left border-right">
                <$client.env.FormField.a32_Current_Status.HTML>
            </div>
            <div class="col-lg-3 col-xs-12">
                Status Expiration Date
            </div>
            <div class="col-lg-3 col-xs-12 border-left">
                <$client.env.FormField.a33_Status_Expiration_Date.HTML>
            </div>
        </div> 
        <div class="row border-bottom">
            <div class="col-lg-2 col-xs-12">
                Name(s) of Child
            </div>
            <div class="col-lg-10 col-xs-12 border-left">
                <$client.env.FormField.a34_Name_of_Children.HTML>
            </div>
        </div> 
        <div class="row border-bottom">
            <div class="col-lg-3 col-xs-12">
                Current status
            </div>
            <div class="col-lg-3 col-xs-12 border-left border-right">
                <$client.env.FormField.a35_Current_Status.HTML>
            </div>
            <div class="col-lg-3 col-xs-12">
                Status Expiration Date
            </div>
            <div class="col-lg-3 col-xs-12 border-left">
                <$client.env.FormField.a36_Status_Expiration_Date.HTML>
            </div>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-12">
            <h5>
                <strong>E. PRIOR PERIODS OF STAY IN THE UNITED STATES</strong>
            </h5>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-12">
            <strong>
            1. Petition Beneficiary (Please list <u>all periods</u> in which you were <u>physically present</u> in the U.S., along with appropriate <u>status</u>)
            </strong>
        </div>
    </div>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <u>Status</u>
                (H-1B, H-4, F-1, L-1, L-2, etc.)
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <u>Date of Entry (or Change of Status)</u>
            </div>
            <div class="col-lg-4 col-xs-12">
                <u>Date of Departure (or Change of Status)</u>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a37_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a38_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a39_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a40_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a41_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a42_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a43_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a44_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a45_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a46_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a47_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a48_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a49_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a50_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a51_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a52_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a53_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a54_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a55_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a56_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a57_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a58_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a59_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a60_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a61_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a62_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a63_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a64_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a65_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a66_Departure_Date.HTML>
            </div>
        </div>
    </div>
    <div class="row vspace">
        <div class="col-lg-12">
            <strong>
            1. Spouse/Children (Please list <u>all periods</u> in which the spouse or child was <u>physically present</u> in the U.S., along with appropriate <u>status</u>)
            </strong>
        </div>
    </div>
    <div class="box vspace">
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <u>Status</u>
                (H-1B, H-4, F-1, L-1, L-2, etc.)
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <u>Date of Entry (or Change of Status)</u>
            </div>
            <div class="col-lg-4 col-xs-12">
                <u>Date of Departure (or Change of Status)</u>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a67_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a68_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a69_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a70_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a71_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a72_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a73_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a74_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a75_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a76_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a77_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a78_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a79_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a80_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a81_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a82_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a83_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a84_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a85_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a86_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a87_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a88_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a89_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a90_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a91_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a92_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a93_Departure_Date.HTML>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a94_Status.HTML>
            </div>
            <div class="col-lg-4 col-xs-12 border-right">
                <$client.env.FormField.a95_Entry_Date.HTML>
            </div>
            <div class="col-lg-4 col-xs-12">
                <$client.env.FormField.a96_Departure_Date.HTML>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                <em>
                    All documents must be mailed to your HR Contact or Recruiter on 8 ½ x 11 paper with NO staples.
                </em>
            </p>
            <p>
                <em>
                    H petitions cannot be filed until ALL documents have been received
                </em>
            </p>
        </div>
    </div>
    <div class="row">
        <ul>
            <li class="vspace-sm">
                <strong>Form I-797 Approval Notices -</strong> Please forward a copy of all current and previous Forms I-797 approval notices and receipt notices for any petition submitted on your behalf. 
            </li>
            <li class="vspace-sm">
                <strong>Form I-94 -</strong> Please forward a legible copy of the Form I-94 card (front and back) that was issued to you at the time of your most recent entry into the United States. 
            </li>
            <li class="vspace-sm">
                <strong>Passport – every page -</strong> Please provide a legible copy of your entire passport, every page, including all blank pages, as well as visa and immigration stamps. 
            </li>
            <li class="vspace-sm">
                <strong>Pay statement not older than 30 days –</strong> Please provide a copy of your most recent pay statement as proof that you are currently employed. In order to be eligible for H-1B portability, this document is required. 
            </li>
            <li class="vspace-sm">
                <strong>Current employer-based resume -</strong> Clearly stating employer name(s) and date(s) of employment, not projects.
            </li>
            <li class="vspace-sm">
                <strong>Copies of college diploma and transcripts/grade sheets -</strong> If college diploma is not available, please send transcripts/grade sheets for any college coursework completed and high school diploma. If an education evaluation has been performed for you, please forward this document as well. 
            </li>
            <li class="vspace-sm">
                <strong>Recommendation/Experience letters –</strong> If available, please provide letters of recommendation and experience letters from former employers. The USCIS may require proof of prior employment experience. If you do not have experience letters, you may be required to secure these letters. Letters must be on company letterhead, issued by the appropriate authority and include your name, dates of employment, job title, job description, and specific computer skills used on the job.
            </li>
            <li class="vspace-sm">
                <strong>Other -</strong> If previously a student in the United States, copy of Form I-20 (front and back) and EAD card, or Form IAP-66 (front and back).
            </li>
        </ul>
    </div>
    <div class="row vspace">
        <div class="col-lg-12">
            <u>
                <strong>For Spouse and Children</strong>
            </u>
        </div>
    </div>
    <div class="vspace row">
        <div class="col-lg-12 vspace">
            <ul>
                <li class="vspace-sm">
                    Original completed and signed Form I-539.
                </li>
                <li class="vspace-sm">
                    Copy of Marriage Certificate.
                </li>
                <li class="vspace-sm">
                    Copy of all current and previous Forms I-797 approval notices and receipt notices for any petition filed on behalf of your family member(s).
                </li>
                <li class="vspace-sm">
                    Clear copy of spouse/children’s entire passport, every page including all visa and stamps.
                </li>
                <li class="vspace-sm">
                    Clear copies of spouse/children’s Form I-94 cards (front and back).
                </li>
            </ul>
        </div>
    </div>
    <footer class="row">
        <div class="col-lg-12 text-right">
            <em>Rev. 4/25/2014</em>
        </div>
    </footer>
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>
