<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <img src="/assets/img/afmc_logo.jpg" alt="" class="img-responsive" />
        </div>
    </div>
    <div class="row text-right">
        <em class="text-blue">An Equal Opportunity/Affirmative Action Employer</em>
    </div>
    <div class="box bottom-space">
        <div class="row text-center blue-bg bottom-border-white">
            <h4>
                <strong>
                    VOLUNTARY SELF-IDENTIFICATION
                </strong>
            </h4>
        </div>
        <div class="row text-center blue-bg">
            <h4>
                <strong>
                    NOTICE TO ALL EMPLOYEES AND PROSPECTIVE EMPLOYEES
                </strong>
            </h4>
        </div>
        <p class="inner-content text-justify">
            AFMC is an equal opportunity employer and does not discriminate in hiring or employment on the basis of race, color, religion, national origin, citizenship, gender, marital status, sexual orientation, age, disability, veteran status, gender identity, or any other characteristic protected by federal, state, or local law. To maintain accurate data, we request that you fill in the sections that apply to you. This information is being requested on a voluntary basis. You will not be subjected to adverse treatment either by providing the information or by failing to complete the sections. The only purpose for this information is to assist us in promoting equal employment opportunities throughout our organization. AFMC is a Government contractor or subcontractor subject to the Vietnam Era Veterans' Readjustment Assistance Act of 1974, as amended by the Jobs for Veterans Act of 2002, 38 U.S.C. 4212 (VEVRAA), which requires Government contractors to take affirmative action to employ and advance in employment “protected veterans": (1) disabled veterans; (2) recently separated veterans; (3) active duty wartime or campaign badge veterans; and (4) Armed Forces service medal veterans. Additionally, AFMC is subject to certain governmental recordkeeping and reporting requirements under VEVRAA. In order to comply with these requirements, we invite you to check the appropriate box below. Submission of this information is voluntary and refusal to provide it will not subject you to any adverse treatment. The information you provide will be kept confidential and will only be used in ways that are consistent with VEVRAA.
        </p>
    </div>
    <div class="box bottom-space form-horizontal">
        <div class="row border-bottom">
            <div class="inner-content col-lg-8 col-md-8 border-right">
                <div class="col-md-1">
                    <label class="control-label">
                        Name:
                    </label>
                </div>
                <div class="col-md-11">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
            <div class="inner-content col-lg-4 col-md-4">
                <div class="col-md-2">
                    <label class="control-label">
                        Date:
                    </label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="inner-content">
                <div class="col-lg-1 col-md-1">
                    <label class="control-label">
                        Position
                    </label>
                </div>
                <div class="col-lg-11 col-md-11">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="inner-content text-center">
                <strong>
                    (See reverse side for race/ethnicity and veteran definitions)
                </strong>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 border-right">
                <div class="inner-content">
                    <strong>
                        Race or Ethnic Identity:
                    </strong>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 border-right">
                <div class="inner-content">
                    <strong>
                        Gender:
                    </strong>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="inner-content">
                    <strong>
                        Veteran Status:
                    </strong>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 border-right">
                <div class="inner-content">
                    <input type="radio">
                    <label for="">Hispanic or Latino</label>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 border-right">
                <div class="inner-content">
                    <input type="radio">
                    <label for="">Male</label>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="inner-content">
                    <input type="radio">
                    <label for="">Disabled Veteran</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="inner-content">
                <div class="col-lg-1 col-md-3 col-sm-4 col-xs-12">
                    <label class="control-label">
                        Signature:
                    </label>
                </div>
                <div class="col-lg-11 col-md-8 col-sm-8 col-xs-12">
                    <input type="text" class="lifesuite__text-input">
                </div>
            </div>
        </div>
    </div>
</div>
