<div class="main">
    <div class="vspace">
        <h2 class="text-center">
            <u class="col-70">VOLUNTARY ELECTION TO SELF-IDENTIFY TO PARTICIPATE IN AFFINITY GROUP ACTIVITIES AND OTHER DIVERSITY PROGRAMS.</u>
        </h2>
    </div>
    <p>
        <span class="indent-1">
            If you are interested in participating in affinity group activities and other diversity programs, we invite you to complete this form. Your participation in these activities is voluntary. If you do complete this form, the information you submit will be shared with the Diversity Committee on an identified basis so that you may receive invitations to and notices about events sponsored by affinity groups. If you do not complete this form, you will not receive notices about events sponsored by affinity groups. (Please note, however, that even if you decide not to complete this form, you will still receive firm wide distributions about diversity and inclusion programs.) Your decision whether or not to complete this form will not have any impact on your employment or subject you to adverse treatment.
        </span>
    </p>

    <p>
        <span class="indent-1">
            If you have questions about this form, or would like additional information regarding the firm’s diversity efforts and affinity groups, please feel free to contact the Legal Personnel and Development Department.
        </span>
    </p>

    <div class="vspace">
        <div class="col-10 text-right">
            <strong>Name:</strong>
        </div>
        <div class="col-50">
            <input type="text">
        </div>
        <div class="col-10 text-right">
            <strong>Office:</strong>
        </div>
        <div class="col-30">
            <input type="text">
        </div>
    </div>

    <div class="vspace">
        <div class="inner-wrapper">
            <div class="indent-1 vspace table-inline-checkbox">
                <strong>
                    Election not to participate:
                </strong>
                <table>
                    <tbody>
                        <tr>
                            <td class="instr">
                                <label>
                                    <input type="checkbox">
                                    I prefer <strong> not </strong> to complete this form.
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table><br>
                <em>
                    (If you check this box, there is no need to complete the rest of the form.)
                </em>
            </div>
            <div class="indent-1 vspace">
                <label>
                    <strong>
                        Race/Ethnicity:
                    </strong>
                    <em>
                        (See definitions below; check any or all that apply.)
                    </em>
                </label>
                <ul class="list-unstyled indent-1">
                    <li>
                        <label class="table-inline-checkbox">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="instr">
                                            <input type="checkbox">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            American Indian or Alaskan Native
                        </label>
                    </li>
                    <li>
                        <label class="table-inline-checkbox">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="instr">
                                            <input type="checkbox">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            Asian
                        </label>
                    </li>
                    <li>
                        <label class="table-inline-checkbox">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="instr">
                                            <input type="checkbox">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            Hawaiian or Other Pacific Islander
                        </label>
                    </li>
                    <li>
                        <label class="table-inline-checkbox">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="instr">
                                            <input type="checkbox">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            Black or African American
                        </label>
                    </li>
                    <li>
                        <label class="table-inline-checkbox">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="instr">
                                            <input type="checkbox">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            White/Caucasian
                        </label>
                    </li>
                    <li>
                        <label class="table-inline-checkbox">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="instr">
                                            <input type="checkbox">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            Hispanic/Latino
                        </label>
                    </li>
                    <li>
                        <label class="table-inline-checkbox">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="instr">
                                            <input type="checkbox">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            I prefer not to provide this information.
                        </label>
                    </li>
                </ul>
            </div>
            <div class="indent-1 vspace">
                <strong><em><u>Ethnicity:</u></em></strong><br>
                <strong>Hispanic or Latino</strong>
                A person having origins of Cuban, Mexican, Puerto Rican, Central or South American or other Spanish culture or origin, regardless of race.
                <strong><em><u>Race:</u></em></strong><br>
                <strong>American Indian or Alaskan Native</strong>
                – A person having origins in any of the original peoples of North and South America (including Central America), and who maintains tribal affiliation or community attachment.
                <strong>Asian</strong>
                – A person having origins in any of the original peoples of the Far East, Southeast Asia, or the Indian subcontinent, including, for example, Cambodia, China, India, Japan, Korea, Malaysia, Pakistan, the Philippine Islands, Thailand, and Vietnam.
                <strong>Native Hawaiian or Other Pacific Islander</strong>
                – A person having origins in any of the peoples of Hawaii, Guam, Samoa, or other Pacific Islands.
                <strong>Black or African American</strong>
                – A person having origins in any of the Black racial groups of Africa.
                <strong>White/Caucasian</strong>
                – A person having origins in any of the original peoples of Europe, the Middle East or North Africa.
            </div>
            <div class="vspace table-inline-radio">
                <strong>
                    Openly Gay/lesbian/bisexual/transgender:
                </strong>
                <table>
                    <tbody>
                        <tr>
                            <td class="instr">
                                <label>
                                    <input type="radio" name="test">
                                    Yes
                                </label>
                            </td>
                            <td class="instr">
                                <label>
                                    <input type="radio" name="test">
                                    No
                                </label>
                            </td>
                            <td class="instr">
                                <label>
                                    <input type="radio" name="test">
                                    I prefer not to provide this information
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            ActiveUS 102733188v.1
        </div>
    </div>
</div>
