<main>
  <h5 class="vspace">
    <strong>New York State Wage Certification For 2017</strong>
  </h5>
  <p class="vspace">
    The New York State Department of Labor recently enacted a law whereby all employers are required to notify new hires of their wages in their primary language. New York State currently recognizes the below languages. Please select your primary language from the list below. You will then be directed to a new page where your wages will be presented in the language you have selected from the list.
  </p>
  <p class="vspace">
    If your primary language is not included in the recognized list of languages from the Department of Labor, please select “English” and indicate your primary where requested on the next page. We will retain your “Other” primary language in our database for possible future use.
  </p>
  <p class="vspace">
    <strong>Select Primary Language</strong>
  </p>
  <ol class="vspace">
    <li>
      <a href="#" data-target-lang="en">
        English
      </a>
    </li>
    <li>
      <a data-target-lang="cn" href="#">中文</a> Chinese
    </li>
    <li>
      <a data-target-lang="ht" href="#">Kreyòl Ayisyen</a> Hatian Creole
    </li>
    <li>
      <a data-target-lang="kr" href="#">한국어</a> Korean
    </li>
    <li>
      <a data-target-lang="pl" href="#">Polski</a> Polish
    </li>
    <li>
      <a data-target-lang="ru" href="#">Pусский язык</a> Russian
    </li>
    <li>
      <a data-target-lang="sp" href="#">Español</a> Spanish
    </li>
  </ol>

  <section id="en" class="hidden">
    <header class="vspace">
      <div class="col-25">
        <img src="assets/img/nyusoo.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-75 text-center">
        <h5>
          <strong>Notice and Acknowledgement of Pay Rate and Payday</strong>
        </h5>
        <h5>
          <strong>Under Section 195.1 of the New York State Labor Law</strong>
        </h5>
        <strong>
          Notice for Hourly Rate Employees
        </strong>
      </div>
    </header>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper box">
        <div class="vspace">
          <strong>
            1.Employer Information
          </strong>
        </div>
        <div class="vspace">
          Name:
          <$client.env.FormField.a01_EmployeeName.HTML>
        </div>
        <div class="vspace">
          Doing Business As (DBA) Name(s):
          <$client.env.FormField.a02_DBAName.HTML>
        </div>
        <div class="vspace">
          FEIN (optional):
          <$client.env.FormField.a03_FEIN.HTML>
        </div>
        <div class="vspace">
          Physical Address:
          <$client.env.FormField.a04_PhysicalAddress.HTML>
        </div>
        <div class="vspace">
          Mailing Address:
          <$client.env.FormField.a05_MailingAddress.HTML>
        </div>
        <div class="vspace">
          Phone:
          <$client.env.FormField.a06_Phone.HTML>
        </div>
      </div>
      <div class="inner-wrapper">
        <div class="vspace">
          <strong>2.Notice given:</strong>
        </div>
        <div class="vspace">
          <$client.env.FormField.a07_NoticesGiven1.HTML>
        </div>
      </div>
    </div>
    <div class="col-30 inner-wrapper vertical-top">
      <div class="vspace-sm">
        <strong>3.Employee’s rate of pay:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.a08_RatePerHr.HTML>
        </div>
        per hour
      </div>
      <div class="vspace-sm">
        <strong>4.Allowances taken:</strong>
      </div>
      <div class="vspace-sm">
        <div class="inline-block">
          <$client.env.FormField.a09_AllowancessTaken1.HTML>
        </div>
        None
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.a09_AllowancessTaken2.HTML>
        </div>
        Tips
        <div class="inline-block col-30">
          <$client.env.FormField.a09a_AllowancesTaken_Tips.HTML>
        </div>
        per hour
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.a09_AllowancessTaken3.HTML>
        </div>
        Meals
        <div class="inline-block col-30">
          <$client.env.FormField.a09b_AllowancesTaken_Meals.HTML>
        </div>
        per meal
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.a09_AllowancessTaken4.HTML>
        </div>
        Lodging
        <div class="inline-block vertical-middle">
          <$client.env.FormField.a09c_AllowancesTaken_Lodging.HTML>
        </div>
      </div>
      <div class="vspace">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.a09_AllowancessTaken5.HTML>
        </div>
        Other
        <div class="inline-block vertical-middle">
          <$client.env.FormField.a09d_AllowancesTaken_Other.HTML>
        </div>
      </div>
      <div class="vspace-sm">
        <strong>5.Regular payday:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.a10_RegularPayDay.HTML>
      </div>
      <div class="vspace-sm">
        <strong>6. Pay is:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.a11_Payis.HTML>
      </div>
      <div class="vspace-sm">
        <strong>7. Overtime Pay Rate:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.a12_OvertimePayRate.HTML>
        </div>
        per hour (This must be at least 1&half; times the worker’s regular rate with fewexceptions.)
      </div>
    </div>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper">
        <div class="vspace-sm">
          <strong>8. Employee Acknowledgement:</strong>
        </div>
        <p class="vspace">
          On this day I have been notified of my pay rate, overtime rate (if eligible), allowances, and designated pay day on the date given below. I told my employer what my primary language is.
        </p>
        <div class="vspace-sm">
          <strong>Check one:</strong>
        </div>
        <div class="vspace">
          <$client.env.FormField.a13_EmployeeAcknowledgement.HTML>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.a14_PrintEmployeeName.HTML>
        </div>
        <div class="vspace">
          Print Employee Name
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.a15_EmployeeSignature.HTML>
        </div>
        <div class="vspace">
          Employee Signature
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.a16_Date.HTML>
        </div>
        <div class="vspace">
          Date
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.a17_PreparersNameTitle.HTML>
        </div>
        <div class="vspace">
          Preparer's Name and Title
        </div>
        <div class="vspace">
          <strong>
            The employee must receive a signed copy of this form. The employer must keep the original for 6 years.
          </strong>
        </div>
        <div class="vspace">
          <strong>
            Please note: It is unlawful for an employee to be paid less than an employee of the opposite sex for equal work. Employers also may not prohibit employees from discussing wages with their co-workers.
          </strong>
        </div>
      </div>
    </div>
  </section> <!-- end en section -->

  <section id="cn" class="hidden">
    <header class="vspace">
      <div class="col-25">
        <img src="assets/img/nyusoo.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-75 text-center">
        <h5>
          <strong>Notice and Acknowledgement of Pay Rate and Payday / 薪資及發薪日通知</strong>
        </h5>
        <h5>
          <strong>Under Section 195.1 of the New York State Labor Law / 紐約州勞工法第 195.1 條款</strong>
        </h5>
        <strong>
          Notice for Hourly Rate Employees / 時薪員工的通知
        </strong>
      </div>
    </header>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper box">
        <div class="vspace">
          <strong>
            1. Employer Information/雇主資料
          </strong>
        </div>
        <div class="vspace">
          Name/名字:
          <$client.env.FormField.b01_EmployeeName.HTML>
        </div>
        <div class="vspace">
          Doing Business As (DBA) Name(s)/ 招牌名:
          <$client.env.FormField.b02_DBAName.HTML>
        </div>
        <div class="vspace">
          FEIN (optional)/聯邦報稅號 (可選擇的):
          <$client.env.FormField.b03_FEIN.HTML>
        </div>
        <div class="vspace">
          Physical Address/公司所在地址:
          <$client.env.FormField.b04_PhysicalAddress.HTML>
        </div>
        <div class="vspace">
          Mailing Address/郵政地址:
          <$client.env.FormField.b05_MailingAddress.HTML>
        </div>
        <div class="vspace">
          Phone/電話::
          <$client.env.FormField.b06_Phone.HTML>
        </div>
      </div>
      <div class="inner-wrapper">
        <div class="vspace">
          <strong>2.Notice given/給予員工的通知:</strong>
        </div>
        <div class="vspace">
          <$client.env.FormField.b07_NoticesGiven1.HTML>
        </div>
      </div>
    </div>
    <div class="col-30 inner-wrapper vertical-top">
      <div class="vspace-sm">
        <strong>3.Employee’s rate of pay/員工的薪資標準:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.b08_RatePerHr.HTML>
        </div>
        per hour/每小時
      </div>
      <div class="vspace-sm">
        <strong>4.Allowances taken/所取津貼:</strong>
      </div>
      <div class="vspace-sm">
        <div class="inline-block">
          <$client.env.FormField.b09_AllowancessTaken.HTML>
        </div>
        None/無
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.b09_AllowancessTaken1.HTML>
        </div>
        Tips/每小時
        <div class="inline-block col-30">
          <$client.env.FormField.b09a_AllowancesTaken_Tips.HTML>
        </div>
        per hour/每小時
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.b09_AllowancessTaken2.HTML>
        </div>
        Meals/餐飲
        <div class="inline-block col-30">
          <$client.env.FormField.b09b_AllowancesTaken_Meals.HTML>
        </div>
        per meal/每餐
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle col-30">
          <$client.env.FormField.b09_AllowancessTaken3.HTML>
        </div>
        Lodging /住宿
        <div class="inline-block vertical-middle">
          <$client.env.FormField.i173486.b09c_AllowancesTaken_Lodging.HTML>
        </div>
      </div>
      <div class="vspace">
        <div class="inline-block vertical-middle col-30">
          <$client.env.FormField.b09_AllowancessTaken4.HTML>
        </div>
        Other/其他
        <div class="inline-block vertical-middle col-30">
          <$client.env.FormField.b09d_AllowancesTaken_Other.HTML>
        </div>
      </div>
      <div class="vspace-sm">
        <strong>5.Regular payday/正常發薪日:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.b10_RegularPayDay.HTML>
      </div>
      <div class="vspace-sm">
        <strong>6. Pay is/發薪頻率::</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.b11_Payis.HTML>
      </div>
      <div class="vspace-sm">
        <strong>7. Overtime Pay Rate/加班費標準:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.b12_OvertimePayRate.HTML>
        </div>
        per hour/每小時 (This must be at least 1&half; times the worker’s regular rate with fewexceptions.)/此加班費必須最少是員工正常時 薪的 1.5 倍(極少例外).
      </div>
    </div>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper">
        <div class="vspace-sm">
          <strong>8. Employee Acknowledgement/員工認知:</strong>
        </div>
        <p class="vspace">
          On this day I have been notified of my pay rate, overtime rate (if eligible), allowances, and designated pay day on the date given below. I told my employer what my primary language is <strong>Chinese</strong>./此日我 收到薪資, 加班費, 發薪日, 以及津貼的中英通知.我已告訴雇主 我的母語是中文
        </p>
        <div class="vspace-sm">
          <$client.env.FormField.b14_PrintEmployeeName.HTML>
        </div>
        <div class="vspace">
          Print Employee Name/請正楷書寫員工姓名
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.b15_EmployeeSignature.HTML>
        </div>
        <div class="vspace">
          Employee Signature/員工簽名
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.b16_Date.HTML>
        </div>
        <div class="vspace">
          Date/日期
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.b17_PreparersNameTitle.HTML>
        </div>
        <div class="vspace">
          Preparer's Name and Title/填表人名字及頭銜
        </div>
        <div class="vspace">
          <strong>
            The employee must receive a signed copy of this form. The employer must keep the original for 6 years. 員工必須收到此簽名表格 的複印本. 雇主並須保存此表格正本6年.
          </strong>
        </div>
        <div class="vspace">
          <strong>
            Please note: It is unlawful for an employee to be paid less than an employee of the opposite sex for equal work. Employers also may not prohibit employees from discussing wages with their co-workers. 一名雇员的工资少于一名异性的雇员，是非法的。 雇主也不能禁止员工与同事讨论工资
          </strong>
        </div>
      </div>
    </div>
  </section> <!-- end cn section -->

  <section id="ht" class="hidden">
    <header class="vspace">
      <div class="col-25 vertical-middle">
        <img src="assets/img/nyusoo.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-75 text-center vertical-middle">
        <strong>Notice and Acknowledgement of Pay Rate and Payday /
          <em>
            Avi ak Rekonesans Jou Pèyman ak To Pèyman
          </em>
        </strong> <br>
        <strong>
          Under Section 195.1 of the New York State Labor Law /
          <em>Sou Seksyon 195.1 nan Lwa Travay Eta Nouyòk la</em>
        </strong> <br>
        Notice for Hourly Rate Employees /
        <em>Avi pou Anplwaye k ap Touche Chak Èdtan yo</em>
      </div>
    </header>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper box">
        <div class="vspace">
          <strong>
            1.Employer Information/
            <em>Enfòmasyon SouAnplwayè</em>
          </strong>
        </div>
        <div class="vspace">
          Name/
          <em>Non</em>:
          <$client.env.FormField.c01_EmployeeName.HTML>
        </div>
        <div class="vspace">
          Doing Business As (DBA) Name(s)/
          <em>
            Non Komèsyal:
          </em>
          <$client.env.FormField.c02_DBAName.HTML>
        </div>
        <div class="vspace">
          FEIN (optional)/
          <em>Nimewo Idantifikasyon Federal (opsyonèl)</em>
          :
          <$client.env.FormField.c03_FEIN.HTML>
        </div>
        <div class="vspace">
          Physical Address/
          <em>Adrès Fizik</em>:
          <$client.env.FormField.c04_PhysicalAddress.HTML>
        </div>
        <div class="vspace">
          Mailing Address/
          <em>Adrès Postal</em>:
          <$client.env.FormField.c05_MailingAddress.HTML>
        </div>
        <div class="vspace">
          Phone/
          <em>Telefòn</em>:
          <$client.env.FormField.c06_Phone.HTML>
        </div>
      </div>
      <div class="inner-wrapper">
        <div class="vspace">
          <strong>2.Notice given/
            <em>Yo bay avi a</em>:</strong>
        </div>
        <div class="vspace">
          <$client.env.FormField.c07_NoticesGiven1.HTML>
        </div>
      </div>
    </div>
    <div class="col-30 inner-wrapper vertical-top">
      <div class="vspace-sm">
        <strong>3.Employee’s rate of pay/
          <em>To Pèyman Anplwaye a</em>:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.c08_RatePerHr.HTML>
        </div>
        per hour/
        <em>pa èdtan</em>
      </div>
      <div class="vspace-sm">
        <strong>4.Allowances taken/
          <em>Alokasyon li pran</em>:</strong>
      </div>
      <div class="vspace-sm">
        <div class="inline-block">
          <$client.env.FormField.c09_AllowancessTaken1.HTML> 
        </div>
        None/
        <em>Okenn</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.c09_AllowancessTaken2.HTML>  
        </div>
        Tips/
        <em>Poubwa </em>
        <div class="inline-block col-30">
          <$client.env.FormField.c09a_AllowancesTaken_Tips.HTML>
        </div>
        per hour/
        <em>pa èdtan</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.c09_AllowancessTaken3.HTML> Meals/
          <em>Repa</em>
        </div>
        <div class="inline-block col-30">
          <$client.env.FormField.c09b_AllowancesTaken_Meals.HTML>
        </div>
        per meal/
        <em>pa repa</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.c09_AllowancessTaken4.HTML> 
        </div>
        Lodging/
        <em>Lojman</em>
        <div class="inline-block vertical-middle">
          <$client.env.FormField.c09c_AllowancesTaken_Lodging.HTML>
        </div>
      </div>
      <div class="vspace">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.c09_AllowancessTaken5.HTML> Other/
          <em>Lòt bagay</em>
        </div>
        <div class="inline-block vertical-middle">
          <$client.env.FormField.tesc09d_AllowancesTaken_Othertname.HTML>
        </div>
      </div>
      <div class="vspace-sm">
        <strong>5.Regular payday/
          <em>Jou pèyman regilye</em>:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.c10_RegularPayDay.HTML>
      </div>
      <div class="vspace-sm">
        <strong>6. Pay is/
          <em>Pèyman an fèt</em>:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.c11_Payis.HTML>
      </div>
      <div class="vspace-sm">
        <strong>7. Overtime Pay Rate/
          <em>To Pèyman Pou TravaySiplemantè (travay ki depase 40 èdtan nan yon semèn)</em>:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.c12_OvertimePayRate.HTML>
        </div>
        per hour
        <em>pa èdtan</em> (This must be at least 1&half; times the worker’s regular rate with fewexceptions.)/
        <em>(Sa sipoze omwen 1 ½ fwa to regilye travayè a, ak kèk eksepsyon</em>
      </div>
    </div>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper">
        <div class="vspace-sm">
          <strong>8. Employee Acknowledgement/
            <em>RekonesansAnplwaye</em>:</strong>
        </div>
        <p class="vspace">
          On this day I have been notified of my pay rate, overtime rate (if eligible), allowances, and designated pay day on the date given below. I told my employer what my primary language is <strong>Haitian Creole</strong>./
          <em>Nan jou sa a, mwen te resevwa yon avi sou to pèyman mwen, to travay siplemantè (si m kalifye), alokasyon, ak jou ki chwazi pèyman mwen ann Angle ak lang manman mwen. Mwen te di anplwayè mwen lang manman mwen se <strong>Kreyòl Ayisyen</strong>.</em>
        </p>
        <div class="vspace-sm">
          <$client.env.FormField.c14_PrintEmployeeName.HTML>
        </div>
        <div class="vspace">
          Print Employee Name/
          <em>Ekri non anplwaye a ak lèt yo dekole</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.c15_EmployeeSignature.HTML>
        </div>
        <div class="vspace">
          Employee Signature/
          <em>Siyati Anplwaye a</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.c16_Date.HTML>
        </div>
        <div class="vspace">
          Date/
          <em>Dat</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.c17_PreparersNameTitle.HTML>
        </div>
        <div class="vspace">
          Preparer's Name and Title/
          <em>Non ak Tit moun kap prepare dokiman an</em>
        </div>
        <div class="vspace">
          <strong>
            The employee must receive a signed copy of this form. The employer must keep the original for 6 years./
            <em>Anplwaye a dwe resevwa yon kopi fòm sa a ki siyen. Anplwayè a dwe kenbe orijinal la pandan 6 ane.</em>
          </strong>
        </div>
        <div class="vspace">
          <strong>
            Please note: It is unlawful for an employee to be paid less than an employee of the opposite sex for equal work. Employers also may not prohibit employees from discussing wages with their co-workers./
            <em>Li ilegal pou yon anplwaye yo pral peye mwens pase yon anplwaye nan fè sèks opoze a pou travay egal-ego. Anplwayè tou pa pouvwa entèdi anplwaye yo sòti de diskite sou salè ak yo ko-travayè</em>
          </strong>
        </div>
      </div>
    </div>
  </section> <!-- end ht section -->

  <section id="kr" class="hidden">
    <header class="vspace">
      <div class="col-25">
        <img src="assets/img/nyusoo.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-75 text-center">
        <p>
          <strong>Notice and Acknowledgement of Pay Rate and Payday/<em>노동의 시간당수당과임금수령일에대한 알림과 통지문 </em></strong>
        </h5>
        <p>
          <strong>Under Section 195.1 of the New York State Labor Law/<em>뉴욕주 노동법 섹션 195.1 에 의거</em></strong>
        </p>
        <strong>
          Notice for Hourly Rate Employees/<em>시간 당수당을받는노동자를위한통지문</em>
        </strong>
      </div>
    </header>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper box">
        <div class="vspace">
          <strong>
            1.Employer Information/
            <em>고용주에 대한정보</em>
          </strong>
        </div>
        <div class="vspace">
          Name/
          <em>이름</em>:
          <$client.env.FormField.d01_EmployeeName.HTML>
        </div>
        <div class="vspace">
          Doing Business As (DBA) Name(s)/
          <em>
            상호명:
          </em>
          <$client.env.FormField.d02_DBAName.HTML>
        </div>
        <div class="vspace">
          FEIN (optional)/
          <em>납세자 번호(선택적인)</em>
          :
          <$client.env.FormField.d03_FEIN.HTML>
        </div>
        <div class="vspace">
          Physical Address/
          <em>실재 주소</em>:
          <$client.env.FormField.d04_PhysicalAddress.HTML>
        </div>
        <div class="vspace">
          Mailing Address/
          <em>우편물주소</em>:
          <$client.env.FormField.d05_MailingAddress.HTML>
        </div>
        <div class="vspace">
          Phone/
          <em>전화</em>:
          <$client.env.FormField.d06_Phone.HTML>
        </div>
      </div>
      <div class="inner-wrapper">
        <div class="vspace">
          <strong>2.Notice given/
            <em>알림</em>:</strong>
        </div>
        <div class="vspace">
          <$client.env.FormField.d07_NoticesGiven1.HTML>
        </div>
      </div>
    </div>
    <div class="col-30 inner-wrapper vertical-top">
      <div class="vspace-sm">
        <strong>3.Employee’s rate of pay/
          <em>노동자의 임금율</em>:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.d08_RatePerHr.HTML>
        </div>
        per hour/
        <em>시간 당</em>
      </div>
      <div class="vspace-sm">
        <strong>4.Allowances taken/
          <em>수당 지급</em>:</strong>
      </div>
      <div class="vspace-sm">
        <div class="inline-block">
          <$client.env.FormField.d09_AllowancessTaken1.HTML> 
        </div>
        None/
        <em>없음</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.d09_AllowancessTaken2.HTML> 
        </div>
        Tips/
        <em>팁</em>
        <div class="inline-block col-30">
          <$client.env.FormField.d09b_AllowancesTaken_Meals.HTML>
        </div>
        per hour/
        <em>시간</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.d09_AllowancessTaken4.HTML> 
        </div>
        Meals/
        <em>식사 </em>
        <div class="inline-block col-30">
          <$client.env.FormField.d09b_AllowancesTaken_Meals.HTML>
        </div>
        per meal/
        <em>끼</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.d09_AllowancessTaken4.HTML> 
        </div>
        Lodging/
        <em>숙소 제공</em>
        <div class="inline-block vertical-middle">
          <$client.env.FormField.d09c_AllowancesTaken_Lodging.HTML>
        </div>
      </div>
      <div class="vspace">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.d09_AllowancessTaken5.HTML> Other/
          <em>기타 </em>
        </div>
        <div class="inline-block vertical-middle">
          <$client.env.FormField.d09d_AllowancesTaken_Other.HTML>
        </div>
      </div>
      <div class="vspace-sm">
        <strong>5.Regular payday/
          <em>정규 임금 지급일</em>:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.d10_RegularPayDay.HTML>
      </div>
      <div class="vspace-sm">
        <strong>6. Pay is/
          <em>임금은</em>:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.d11_Payis.HTML>
      </div>
      <div class="vspace-sm">
        <strong>7. Overtime Pay Rate/
          <em>초과 근무 수당</em>:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.d12_OvertimePayRate.HTML>
        </div>
        per hour
        <em>시간당</em> (This must be at least 1&half; times the worker’s regular rate with fewexceptions.)/
        <em>몇 가지 예외를 제외하고는, 노동자들의 평균 임금 지급 율보다 최소한 1.5 배 이상이어야 합니다</em>
      </div>
    </div>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper">
        <div class="vspace-sm">
          <strong>8. Employee Acknowledgement/
            <em>노동자 에게 알림</em>:</strong>
        </div>
        <p class="vspace">
          On this day I have been notified of my pay rate, overtime rate (if eligible), allowances, and designated pay day on the date given below. I told my employer what my primary language is <strong>Korean</strong>./
          <em>노동자인 나는 오늘 나의 시간 당 수당, 적용이 될 경우 받는 초과 근무 수당, 책정수당 및 지정된 임금 지급 일에 대하여 나의 모국어인 한국어로 통지 받았습니다. 나는 나의 고용주에게 나의 모국어는 한국어라고 밝혔습니다.</em>
        </p>
        <div class="vspace-sm">
          <$client.env.FormField.d14_PrintEmployeeName.HTML>
        </div>
        <div class="vspace">
          Print Employee Name/
          <em>직원성함</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.d15_EmployeeSignature.HTML>
        </div>
        <div class="vspace">
          Employee Signature/
          <em>노동자의 서명</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.d16_Date.HTML>
        </div>
        <div class="vspace">
          Date/
          <em>일 시</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.d17_PreparersNameTitle.HTML>
        </div>
        <div class="vspace">
          Preparer's Name and Title/
          <em>서류 준비자의 이름과 직위</em>
        </div>
        <div class="vspace">
          <strong>
            The employee must receive a signed copy of this form. The employer must keep the original for 6 years./
            <em>노동자는 서명된 이 서류의 사본을 반드시 LS 54K (03/11)	받아야 하며, 고용주는 이 원본을 6 년간 반드시 보관해야합니다.</em>
          </strong>
        </div>
        <div class="vspace">
          <strong>
            Please note: It is unlawful for an employee to be paid less than an employee of the opposite sex for equal work. Employers also may not prohibit employees from discussing wages with their co-workers./
            <em>동등한 고용을 위해 이성을 가진 근로자보다 적은 보수를 지급받는 것은 불법 입니다. 고용주는 직원들이 동료들과 임금을 논의하는 것을 금지해서는 안됩니다</em>
          </strong>
        </div>
      </div>
    </div>
  </section> <!-- end kr section -->

  <section id="pl" class="hidden">
    <header class="vspace">
      <div class="col-25 vertical-middle">
        <img src="assets/img/nyusoo.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-75 text-center vertical-middle">
        <strong>Notice and Acknowledgement of Pay Rate and Payday /
          <em>
            Zawiadomienie i potwierdzenie stawki wynagrodzenia oraz daty wypłaty
          </em>
        </strong> <br>
        <strong>
          Under Section 195.1 of the New York State Labor Law /
          <em>zgodnie z paragrafem 195.1 Prawa Pracy stanu Nowy Jork</em>
        </strong> <br>
        Notice for Hourly Rate Employees /
        <em>Informacje dla pracowników otrzymujących wynagrodzenie według stawki godzinowej</em>
      </div>
    </header>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper box">
        <div class="vspace">
          <strong>
            1.Employer Information/
            <em>Informacje dotyczące pracodawcy</em>
          </strong>
        </div>
        <div class="vspace">
          Name/
          <em>Nazwa</em>:
          <$client.env.FormField.e01_EmployeeName.HTML>
        </div>
        <div class="vspace">
          Doing Business As (DBA) Name(s)/
          <em>
            Działający(a) pod nazwą(ami)
          </em>:
          <$client.env.FormField.e02_DBAName.HTML>
        </div>
        <div class="vspace">
          FEIN (optional)/
          <em>Fed. Numer Identy- fikacyjny pracodawcy (nieobowiązkowy)</em>:
          <$client.env.FormField.e03_FEIN.HTML>
        </div>
        <div class="vspace">
          Physical Address/
          <em>Adres fizyczny</em>:
          <$client.env.FormField.e04_PhysicalAddress.HTML>
        </div>
        <div class="vspace">
          Mailing Address/
          <em>Adres korespondencyjny</em>:
          <$client.env.FormField.e05_MailingAddress.HTML>
        </div>
        <div class="vspace">
          Phone/
          <em>Nr. telefonu</em>:
          <$client.env.FormField.e06_Phone.HTML>
        </div>
      </div>
      <div class="inner-wrapper">
        <div class="vspace">
          <strong>2.Notice given/
            <em>Informacje udostępniono</em>:</strong>
        </div>
        <div class="vspace">
          <$client.env.FormField.e07_NoticesGiven1.HTML>
        </div>
      </div>
    </div>
    <div class="col-30 inner-wrapper vertical-top">
      <div class="vspace-sm">
        <strong>3.Employee’s rate of pay/
          <em>Stawka wynagrodzeniapracownika</em>:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.e08_RatePerHr.HTML>
        </div>
        per hour/
        <em>na godzinę</em>
      </div>
      <div class="vspace-sm">
        <strong>4.Allowances taken/
          <em>Pobrane dodatki</em>:</strong>
      </div>
      <div class="vspace-sm">
        <div class="inline-block">
          <$client.env.FormField.e09_AllowancessTaken1.HTML> 
        </div>
        None/
        <em>Żadne</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.e09_AllowancessTaken2.HTML> 
        </div>
        Tips/
        <em>Napiwki</em>
        <div class="inline-block col-30">
          <$client.env.FormField.e09a_AllowancesTaken_Tips.HTML>
        </div>
        per hour/
        <em>na godz</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.e09_AllowancessTaken3.HTML> 
        </div>
        Meals/
        <em>Posiłki</em>
        <div class="inline-block col-30">
          <$client.env.FormField.e09b_AllowancesTaken_Meals.HTML>
        </div>
        per meal/
        <em>za każdy posiłek</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.e09_AllowancessTaken4.HTML> 
        </div>
        Lodging/
        <em>Noclegi</em>
        <div class="inline-block vertical-middle">
          <$client.env.FormField.e09c_AllowancesTaken_Lodging.HTML>
        </div>
      </div>
      <div class="vspace">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.e09_AllowancessTaken5.HTML> Other/
          <em>Inne </em>
        </div>
        <div class="inline-block vertical-middle">
          <$client.env.FormField.e09d_AllowancesTaken_Other.HTML>
        </div>
      </div>
      <div class="vspace-sm">
        <strong>5.Regular payday/
          <em>Regularny dzień wypłaty</em>:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.e10_RegularPayDay.HTML>
      </div>
      <div class="vspace-sm">
        <strong>6. Pay is/
          <em>Wypłata dokonywana jest</em>:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.e11_Payis.HTML>
      </div>
      <div class="vspace-sm">
        <strong>7. Overtime Pay Rate/
          <em>Stawka wynagrodzeniaza nadgodziny (powyżej 40 godzin na tydzień)</em>:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.e12_OvertimePayRate.HTML>
        </div>
        per hour
        <em>na godzinę</em> (This must be at least 1&half; times the worker’s regular rate with fewexceptions.)/
        <em>Poza paroma wyjątkami, stawka ta musi wynosić co najmniej 1½ normalnej stawki godzinowej pracownika.</em>
      </div>
    </div>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper">
        <div class="vspace-sm">
          <strong>8. Employee Acknowledgement/
            <em>Potwierdzenie ze strony pracownika</em>:</strong>
        </div>
        <p class="vspace">
          On this day I have been notified of my pay rate, overtime rate (if eligible), allowances, and designated pay day on the date given below. I told my employer what my primary language is <strong>Polish</strong>./
          <em>W dniu dzisiejszym zostałem(am) poinformowany(a) o mojej stawce wynagrodzenia, stawce wynagrodzenia za nadgodziny, jeśli się na nie zakwalifikuję, dodatkach oraz wyznaczonym dniu wypłaty w języku angielskim i języku ojczystym. Poinformowałem mojego pracodawcę, żę językiem tym jest <strong>polski</strong>.</em>
        </p>
        <div class="vspace-sm">
          <$client.env.FormField.e14_PrintEmployeeName.HTML>
        </div>
        <div class="vspace">
          Print Employee Name/
          <em>Imię i nazwisko pracownika drukiem</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.e15_EmployeeSignature.HTML>
        </div>
        <div class="vspace">
          Employee Signature/
          <em>Podpis pracownika</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.e16_Date.HTML>
        </div>
        <div class="vspace">
          Date/
          <em>Data</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.e17_PreparersNameTitle.HTML>
        </div>
        <div class="vspace">
          Preparer's Name and Title/
          <em>Imię, nazwisko i stanowisko osoby przygotowującej dokument</em>
        </div>
        <div class="vspace">
          <strong>
            The employee must receive a signed copy of this form. The employer must keep the original for 6 years./
            <em>Pracownik musi otrzymać podpisaną kopię niniejszego dokumentu. Pracodawca winien jest zachować oryginał dokumentu przez okres 6 lat.</em>
          </strong>
        </div>
        <div class="vspace">
          <strong>
            Please note: It is unlawful for an employee to be paid less than an employee of the opposite sex for equal work. Employers also may not prohibit employees from discussing wages with their co-workers./
            <em>Nielegalne jest, aby pracownik był płacony mniej niż pracownik płci przeciwnej za taką samą pracę. Pracodawcy również nie mogą zabronić pracownikom rozmawiania o wynagrodzeniach ze współpracownikami.</em>
          </strong>
        </div>
      </div>
    </div>
  </section> <!-- end pl section -->

  <section id="ru" class="hidden">
    <header class="vspace">
      <div class="col-25 vertical-middle">
        <img src="assets/img/nyusoo.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-75 text-center vertical-middle">
        <strong>Notice and Acknowledgement of Pay Rate and Payday /
          <em>
            Уведомление о тарифной ставке и дне выдачи заработной платы и подтверждение о получении уведомления
          </em>
        </strong> <br>
        <strong>
          Under Section 195.1 of the New York State Labor Law /
          <em>В соответствии с разделом 195.1 трудового права штата Нью-Йорк</em>
        </strong> <br>
        Notice for Hourly Rate Employees /
        <em>Уведомление для работников с почасовой оплатой</em>
      </div>
    </header>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper box">
        <div class="vspace">
          <strong>
            1.Employer Information/
            <em>Сведения о работодателе</em>
          </strong>
        </div>
        <div class="vspace">
          Name/
          <em>Имя</em>:
          <$client.env.FormField.f01_EmployeeName.HTML>
        </div>
        <div class="vspace">
          Doing Business As (DBA) Name(s)/
          <em>
            Название компании (компаний)
          </em>:
          <$client.env.FormField.f02_DBAName.HTML>
        </div>
        <div class="vspace">
          FEIN (optional)/
          <em>Федеральный идентификационный номер работодателя (необязательно)</em>:
          <$client.env.FormField.f03_FEIN.HTML>
        </div>
        <div class="vspace">
          Physical Address/
          <em>Фактическое местонахождение</em>:
          <$client.env.FormField.f04_PhysicalAddress.HTML>
        </div>
        <div class="vspace">
          Mailing Address/
          <em>Почтовый адрес</em>:
          <$client.env.FormField.f05_MailingAddress.HTML>
        </div>
        <div class="vspace">
          Phone/
          <em>Телефон</em>:
          <$client.env.FormField.f06_Phone.HTML>
        </div>
      </div>
      <div class="inner-wrapper">
        <div class="vspace">
          <strong>2.Notice given/
            <em>Уведомление вручено</em>:</strong>
        </div>
        <div class="vspace">
          <$client.env.FormField.f07_NoticesGiven1.HTML>
        </div>
      </div>
    </div>
    <div class="col-30 inner-wrapper vertical-top">
      <div class="vspace-sm">
        <strong>3.Employee’s rate of pay/
          <em>Тарифная ставка зарплаты работника</em>:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.f08_RatePerHr.HTML>
        </div>
        per hour/
        <em>в час</em>
      </div>
      <div class="vspace-sm">
        <strong>4.Allowances taken/
          <em>Дополнительные начисления</em>:</strong>
      </div>
      <div class="vspace-sm">
        <div class="inline-block">
          <$client.env.FormField.f09_AllowancessTaken1.HTML> 
        </div>
        None/
        <em>Нет</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.f09_AllowancessTaken2.HTML> Tips/
          <em>Чаевые </em>
        </div>
        <div class="inline-block col-30">
          <$client.env.FormField.f09a_AllowancesTaken_Tips.HTML>
        </div>
        per hour/
        <em>в час</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.f09_AllowancessTaken3.HTML> 
        </div>
        Meals/
        <em>Питание</em>
        <div class="inline-block col-30">
          <$client.env.FormField.f09b_AllowancesTaken_Meals.HTML>
        </div>
        per meal/
        <em>за завтрак/обед/ужин</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.f09_AllowancessTaken4.HTML> 
        </div>
        Lodging/
        <em>Проживание</em>
        <div class="inline-block vertical-middle">
          <$client.env.FormField.f09c_AllowancesTaken_Lodging.HTML>
        </div>
      </div>
      <div class="vspace">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.f09_AllowancessTaken5.HTML> Other/
          <em>Другое</em>
        </div>
        <div class="inline-block vertical-middle">
          <$client.env.FormField.f09d_AllowancesTaken_Other.HTML>
        </div>
      </div>
      <div class="vspace-sm">
        <strong>5.Regular payday/
          <em>Фиксированный день выдачи зарплаты</em>:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.f10_RegularPayDay.HTML>
      </div>
      <div class="vspace-sm">
        <strong>6. Pay is/
          <em>Оплата производится</em>:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.f11_Payis.HTML>
      </div>
      <div class="vspace-sm">
        <strong>7. Overtime Pay Rate/
          <em>Сверхурочный тариф</em>:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.f12_OvertimePayRate.HTML>
        </div>
        per hour
        <em>в час</em> (This must be at least 1&half; times the worker’s regular rate with fewexceptions.)/
        <em>(За некоторыми исключениями, сверхурочный тариф должен составлять как минимум 1½ обычной ставки заработной платы работника)</em>
      </div>
    </div>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper">
        <div class="vspace-sm">
          <strong>8. Employee Acknowledgement/
            <em>Подтверждение о получении уведомления</em>:</strong>
        </div>
        <p class="vspace">
          On this day I have been notified of my pay rate, overtime rate (if eligible), allowances, and designated pay day on the date given below. I told my employer what my primary language is <strong>Russian</strong>./
          <em>Сегодня я получил(а) уведомление о моей тарифной ставке, сверхурочном тарифе (если полагается), дополнительных начислениях и назначенном дне выдачи зарплаты по-английски и на моем родном языке. Я сообщил(а) своему работодателю, что моим родным языком является <strong>русский язык</strong>.</em>
        </p>
        <div class="vspace-sm">
          <$client.env.FormField.f14_PrintEmployeeName.HTML>
        </div>
        <div class="vspace">
          Print Employee Name/
          <em>Имя работника печатными буквами</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.f15_EmployeeSignature.HTML>
        </div>
        <div class="vspace">
          Employee Signature/
          <em>Подпись работника</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.f16_Date.HTML>
        </div>
        <div class="vspace">
          Date/
          <em>Дата</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.f17_PreparersNameTitle.HTML>
        </div>
        <div class="vspace">
          Preparer's Name and Title/
          <em>Имя и должность сотрудника, подготовившего этот документ</em>
        </div>
        <div class="vspace">
          <strong>
            The employee must receive a signed copy of this form. The employer must keep the original for 6 years./
            <em>Работник должен получить подписанную копию настоящего документа. Работодатель должен хранить оригинал в течение 6 лет.</em>
          </strong>
        </div>
        <div class="vspace">
          <strong>
            Please note: It is unlawful for an employee to be paid less than an employee of the opposite sex for equal work. Employers also may not prohibit employees from discussing wages with their co-workers./
            <em>Недопустимо, чтобы работник был оплачен меньше, чем работник противоположного пола за равный труд. Работодатели также не могут запрещать сотрудникам обсуждать заработную плату со своими сотрудниками.</em>
          </strong>
        </div>
      </div>
    </div>
  </section> <!-- end ru section -->

  <section id="sp" class="hidden">
    <header class="vspace">
      <div class="col-25 vertical-middle">
        <img src="assets/img/nyusoo.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-75 text-center vertical-middle">
        <strong>Notice and Acknowledgement of Pay Rate and Payday /
          <em>
            Aviso y Acuse de Recibo de Tasa de Pago y Día de Cobro
          </em>
        </strong> <br>
        <strong>
          Under Section 195.1 of the New York State Labor Law /
          <em>Bajo la Sección 195.1 de La Ley de Trabajo del Estado de Nueva York</em>
        </strong> <br>
        Notice for Hourly Rate Employees /
        <em>Aviso para empleados con tasa de pago por hora</em>
      </div>
    </header>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper box">
        <div class="vspace">
          <strong>
            1.Employer Information/
            <em>Información del Empleador</em>
          </strong>
        </div>
        <div class="vspace">
          Name/
          <em>Nombre</em>:
          <$client.env.FormField.g01_EmployeeName.HTML>
        </div>
        <div class="vspace">
          Doing Business As (DBA) Name(s)/
          <em>
            Nombre(s) comercial(es)
          </em>:
          <$client.env.FormField.g02_DBAName.HTML>
        </div>
        <div class="vspace">
          FEIN (optional)/
          <em>Número de Identificación Federal (opcional)</em>:
          <$client.env.FormField.g03_FEIN.HTML>
        </div>
        <div class="vspace">
          Physical Address/
          <em>Dirección Física</em>:
          <$client.env.FormField.g04_PhysicalAddress.HTML>
        </div>
        <div class="vspace">
          Mailing Address/
          <em>Dirección postal u oficial</em>:
          <$client.env.FormField.g05_MailingAddress.HTML>
        </div>
        <div class="vspace">
          Phone/
          <em>Teléfono</em>:
          <$client.env.FormField.g06_Phone.HTML>
        </div>
      </div>
      <div class="inner-wrapper">
        <div class="vspace">
          <strong>2.Notice given/
            <em>Aviso emitido</em>:</strong>
        </div>
        <div class="vspace">
          <$client.env.FormField.g08_RatePerHr.HTML> At Hiring/ Przy przyjęciu do pracy
        </div>
      </div>
    </div>
    <div class="col-30 inner-wrapper vertical-top">
      <div class="vspace-sm">
        <strong>3.Employee’s rate of pay/
          <em>Tasa de pago del empleado</em>:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.g08_RatePerHr.HTML>
        </div>
        per hour/
        <em>por hora</em>
      </div>
      <div class="vspace-sm">
        <strong>4.Allowances taken/
          <em>Créditos tomados</em>:</strong>
      </div>
      <div class="vspace-sm">
        <div class="inline-block">
          <$client.env.FormField.g09_AllowancessTaken1.HTML> 
        </div>
        None/
        <em>ninguno</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.g09_AllowancessTaken2.HTML> Tips/
          <em>Propinas</em>
        </div>
        <div class="inline-block col-30">
          <$client.env.FormField.g09a_AllowancesTaken_Tips.HTML>
        </div>
        per hour/
        <em>por hora</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.g09_AllowancessTaken3.HTML> Meals/
          <em>Comidas </em>
        </div>
        <div class="inline-block col-30">
          <$client.env.FormField.g09b_AllowancesTaken_Meals.HTML>
        </div>
        per meal/
        <em>por comida</em>
      </div>
      <div class="vspace-sm">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.g09_AllowancessTaken4.HTML> Lodging/
          <em>Hospedaje</em>
        </div>
        <div class="inline-block vertical-middle">
          <$client.env.FormField.g09c_AllowancesTaken_Lodging.HTML>
        </div>
      </div>
      <div class="vspace">
        <div class="inline-block vertical-middle">
          <$client.env.FormField.g09_AllowancessTaken5.HTML> Other/
          <em>Otra </em>
        </div>
        <div class="inline-block vertical-middle">
          <$client.env.FormField.g09d_AllowancesTaken_Other.HTML>
        </div>
      </div>
      <div class="vspace-sm">
        <strong>5.Regular payday/
          <em>Día de Cobro Regular</em>:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.g10_RegularPayDay.HTML>
      </div>
      <div class="vspace-sm">
        <strong>6. Pay is/
          <em>El pago es</em>:</strong>
      </div>
      <div class="vspace">
        <$client.env.FormField.g11_Payis.HTML>
      </div>
      <div class="vspace-sm">
        <strong>7. Overtime Pay Rate/
          <em>Tasa de Pago de Horas Extras (más de 40 horas trabajadas en una semana)</em>:</strong>
      </div>
      <div class="vspace">
        $
        <div class="inline-block col-30">
          <$client.env.FormField.g12_OvertimePayRate.HTML>
        </div>
        per hour
        <em>por horaс</em> (This must be at least 1&half; times the worker’s regular rate with fewexceptions.)/
        <em>Con pocas excepciones, esta tasa debe ser por lo menos 1½ veces la tasa de pago regular para el trabajador.</em>
      </div>
    </div>
    <div class="col-35 vertical-top">
      <div class="inner-wrapper">
        <div class="vspace-sm">
          <strong>8. Employee Acknowledgement/
            <em>Acuse de Recibo del Empleado</em>:</strong>
        </div>
        <p class="vspace">
          On this day I have been notified of my pay rate, overtime rate (if eligible), allowances, and designated pay day on the date given below. I told my employer what my primary language is <strong>Spanish</strong>./
          <em>En esta fecha, se me ha informado de mi tasa de pago, mi tasa de pago de horas extras (si elegible), créditos, y del día de cobro en inglés y en mi lengua materna. Le indiqué al empleador de que mi lengua materna es <strong>español</strong>.</em>
        </p>
        <div class="vspace-sm">
          <$client.env.FormField.g14_PrintEmployeeName.HTML>
        </div>
        <div class="vspace">
          Print Employee Name/
          <em>Escriba el nombre del empleado en letra de imprenta</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.g15_EmployeeSignature.HTML>
        </div>
        <div class="vspace">
          Employee Signature/
          <em>Firma del Empleado</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.g16_Date.HTML>
        </div>
        <div class="vspace">
          Date/
          <em>Fecha</em>
        </div>
        <div class="vspace-sm">
          <$client.env.FormField.g17_PreparersNameTitle.HTML>
        </div>
        <div class="vspace">
          Preparer's Name and Title/
          <em>Nombre y Título del Preparador de este Documento</em>
        </div>
        <div class="vspace">
          <strong>
            The employee must receive a signed copy of this form. The employer must keep the original for 6 years./
            <em>El empleado debe recibir una copia firmada, de este documento. El original debe permanecer con el empleador por 6 años.</em>
          </strong>
        </div>
        <div class="vspace">
          <strong>
            Please note: It is unlawful for an employee to be paid less than an employee of the opposite sex for equal work. Employers also may not prohibit employees from discussing wages with their co-workers./
            <em>Es ilegal que un empleado sea pagado menos que un empleado del sexo opuesto por un trabajo igual. Los empleadores también no pueden prohibir a los empleados discutir los salarios con sus compañeros de trabajo.</em>
          </strong>
        </div>
      </div>
    </div>
  </section> <!-- end sp section -->

</main>
