<!-- Main QA Area --> 
 
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!-- Modal E-Signature box: Note there is a DIV below that is also needed to implement --> 
<div class="modal" id="modal" style="display:none;"> 
              <div class="modal-content"> 
                             <h2 class="lifesuite__h2"><strong>Electronic Signature</strong></h2> 
                             <p style="fontweight:normal;padding:0px"> 
                                           <$client.env.eval(client.env.param.verbiage.length()==0? 'I understand that by electronically signing this document by typing my full name below, that I acknowledge, agree and attest that the information provided by me is true and correct and I am freely intending to create and adopt as my own a legally binding electronic signature that carries the same legal effect and enforceability as my handwritten.':client.env.param.verbiage)> 
                             </p> 
                             <br> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix"> 
                                                          <b>Type your Name:</b> <input type=text id="eSignature1" class="lifesuite__text-input lifesuite__button.primary:hover ng-invalid" style="width: 99%">&nbsp; 
                             </div> 
                             </div> 
                             <div class="row"> 
                                           <div class="lifesuite__clearfix lifesuite__float-right" style="margin-right:-15px;"> 
                                                         <input type="button" class="lifesuite__button btn-sign" value="Sign" onClick="validateSignature('signature','eSignature1','PrintName','modal','over','sv');xbObj('eSignature1').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Clear" onClick="xbObj('signature').value='';showHide('modal');showHide('over');xbObj('eSignature1').value='';">&nbsp; 
                                                          <input type="button" class="lifesuite__button" value="Cancel" onClick="showHide('modal');showHide('over');xbObj('eSignature1').value='';"> 
                                           </div> 
                             </div> 
              </div> 
</div> 
<div id="over" style="display:none;"></div> 
<SCRIPT> 
    showScreen('over') 
</SCRIPT> 
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
  
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
<!-- RESPONSIVE eFORM PAGE LOADER--> 
  
<div class="modal" style="display:block; background: #002E6D;"> 
              <div class="fb-spinner"> 
                             <i class="fa fa-2x fa-spinner fa-pulse"></i> 
              </div> 
</div> 
  
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// --> 
 
<form name='frmForm' action="<$link;config.path.RCFolder_FormTemplates>/<$name;<$client.current.parent>>/doSave?<$client.env.QUERY_STRING>" method="post" onsubmit="return SubmitCallback(this);"> 

<div style="display:none;">
<$client.env.FormField.Form_Name.prompt>
<$client.env.FormField.Form_Name.HTML>
<$client.env.FormField.Form_Type.prompt>
<$client.env.FormField.Form_Type.HTML>
<$client.env.FormField.Form_Owner.prompt>
<$client.env.FormField.Form_Owner.HTML>
<$client.env.FormField.Form_CreateDate.prompt>
<$client.env.FormField.Form_CreateDate.HTML>
<$client.env.FormField.Form_Completed.prompt>
<$client.env.FormField.Form_Completed.HTML>
<$client.env.FormField.Form_Delivered.prompt>
<$client.env.FormField.Form_Delivered.HTML>
<$client.env.FormField.Form_TaskId.prompt>
<$client.env.FormField.Form_TaskId.HTML>
<!-- Your Required/Validated Form Fields -->

<$client.env.formfield.CompanySignDate.prompt>
<$client.env.formfield.Signature.prompt>
<$client.env.formfield.SignDate.prompt>
<$client.env.formfield.PrintName.prompt>
<$client.env.formfield.Address.prompt>

</div>

<input type="hidden" name="tagparamlist" value="<$client.env.tagparamlist>">

<!-- Begin HTML Content -->

<div id='container'  >
<div id='incomplete'> 
 <div class="srt_eform_row">
                    <div class="col-xs-12 srt_eform_module" id="inner-content">
                        <div class="srt_eform_text_inner">
<div id="markup"></div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!--end 12  -->
    </div>
                <!--end row  -->
<!-- The remainder of the letter pertains to all-->
</div><!--incomplete content ends-->
<div id='complete'></div>
<div id='fields'>
                <div class="srt_eform_row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 srt_eform_module">
                        <div class="srt_eform_text_inner">
                            <div style="border-bottom: 1px solid #000000; margin-right: 5%;" class="text-left">
                              <img src="img/HeidiSignature.png" style="width:220px">
                            </div>
                            <div class="offerClause2">Heidi Holter, Senior Director, Compensation, Apple Inc.
                              <br><br>
                            </div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!--end 8 -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 srt_eform_module companySignDate">
                        <div class="srt_eform_text_inner">
                            <div class="input-text">
                              <$client.env.formfield.CompanySignDate.html>
                            </div>
                            <div class="input-label">Date<br><br></div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                 </div>
                <!--end row  -->
                <div class="srt_eform_row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 srt_eform_module">
                        <div class="srt_eform_text_inner">
                            <div class="input-text forSigner">
                             <$client.env.FormField.Signer.Html><br><br>
                            </div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!--end 8 -->
                </div>
                <!--end row  -->   
                <!--end row  -->
                <div class="srt_eform_row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 srt_eform_module">
                        <div class="srt_eform_text_inner">
                            <div class="input-text">
                                <$client.env.formfield.Address.html>
                            </div>
                            <div class="input-label">Addresse | Address</div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!--end 8 -->
                </div>
                <!--end row  -->

                <div class="srt_eform_row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 srt_eform_module">
                        <div class="srt_eform_text_inner">
                            <div class="offerClause3"><p> </p><p>Document confidentiel d’Apple | Apple Confidential </p><p>Révisée en 2022 | Revised 2022</p></div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!--end 8 -->
                </div>
                <!--end row  -->
</div>
<!-- end fields-->

<div id='incomplete3'> 
 <div class="srt_eform_row">
                    <div class="col-xs-12 srt_eform_module" id="inner-content">
                        <div class="srt_eform_text_inner">
<div id="markup3"></div>
                        </div>
                        <!-- end srt_eform_text_inner  -->
                    </div>
                    <!--end 12  -->
    </div>
                <!--end row  -->
 
<!-- The remainder of the letter pertains to all-->
</div><!--incomplete content ends-->
<div id='complete3'></div>

</div> 


<div style="display:none;">
<$client.env.formfield.hidden_pg.html>
<$client.env.formfield.hidden_pg2.html>
<$client.env.formfield.hidden_pg3.html>
<$client.env.FormField.SignatureVerification.HTML>
<$client.env.formfield.PrintName.html>
<$client.env.formfield.SignDate.html>
</div>

            <div class="lifesuite__clearfix">

<div id="formButtons" class="row" style="display: none;">
    <div class="lifesuite__clearfix">
        <div class="srt_eform_section">
            <div id="srt_form_btn_wrapper" style="background-color: #eee!important;">
                <div class="srt_eform_row">
                    <div class="col-lg-12 srt_eform_module">
                        <$client.env.FormButtons>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

    <!--end eform_section  -->
<div style="display:none;">
                <!--<$client.env.FormButtons>-->
<$client.env.formfield.DateCompleted.html>
</div>
            
        <!--</div>-->
        <!--end form-buttons  -->
</form>



<SCRIPT>
ChangeCalendarIcons(); //for popup calendar

</SCRIPT>

<script>

//Show populated form if already completed
var strCompletedForm = FORM_COMPLETED;
if (strCompletedForm != "")
{
//Gather the fields that need to be displayed
//For images we need to setup the image tag. 
var imgHeader = "<img src='<$client.env.formfield.headerpg1.value>' />";
var imgVPSignature = "<img src='<$client.env.formfield.vpsignature.value>' />";

//Create an array of info to pass to complete the offer letter
//0 for images sending an image tag, 1 for sections of text sneding the ID of the field that holds the HTML.
var arrParts = [
  [1,'hidden_pg']
];
//Send (ID of the div to hide,ID of the div to show,Parts to get the offer letter)
showCompletedOfferLetter('incomplete','complete',arrParts);
} 
</script>


<SCRIPT> 
    ChangeCalendarIcons(); //for popup calendar  
  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
/* RESPONSIVE eFORM BUTTONS STYLE */ 
  
$(function(){
        $("#buttonCancel")
            .removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue")
            .addClass("lifesuite__button");

        $('#buttonCancel').attr('id', 'ButtonCancel');

        $("#buttonSave")
            .removeClass("appInputButton RCappInputButtonBlue")
            .addClass("lifesuite__button");

        $('#buttonSave').attr('id', 'ButtonSave');

        $("#buttonSaveAndComplete")
            .removeClass("appInputButton RCappInputButtonBlue")
            .addClass("lifesuite__button");

        $('#buttonSaveAndComplete').attr('id', 'ButtonSaveAndComplete');

        $("#buttonPrint")
            .removeClass("appInputButton RCappInputButtonOrange RCappInputButtonBlue")
            .addClass("lifesuite__button");

        $('#buttonPrint').attr('id', 'ButtonPrint');

        $("#buttonPreviewDelete")
            .removeClass("appInputButton RCappInputButtonRed")
            .addClass("lifesuite__button");

        $('#buttonPreviewDelete').attr('id', 'ButtonPreviewDelete');

        $("#buttonPreviewSave")
            .removeClass("appInputButton RCappInputButtonBlue")
            .addClass("lifesuite__button");

        $('#buttonPreviewSave').attr('id', 'ButtonPreviewSave');

        document.getElementById('formButtons').style.display = "block";

        $("input[type=text]").addClass('lifesuite__text-input');
        $('.inputprompt').addClass('lifesuite__input-label lifesuite__input—block');
        

        $("body").addClass("apple_custom_theme");
    });
  
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
  disableCalButton('disableDate');
</SCRIPT>

<script type="text/javascript" src="js/script_Version_01.js"></script>


<script>
/*Hide Compensation and Benefits lines when employee is intern and below 19 work hours*/
if(("<$client.tEventCategories_23.Code>" == 'INT') && ("<$client.tForWhomUserInfo.Weekly_Hours>" < 19)){
setTimeout(function(){ $('.InternLess').hide(); }, 1000);
}

</script>
