<table id="SelfIDEPtable" border="0">
  <!-- tr>
    <td id="National_ID_Type_USA_promptx">National ID Type:</td>
    <td><$client.env.inputNational_ID_Type_USA></td>
  </tr -->
  <tr>
    <td id="DOB_promptx">Date of Birth:</td>
    <td><$client.env.inputDOB></td>
  </tr>
  <tr>
    <td id="National_ID_Number_promptx">Social Security Number:</td>
    <td><$client.env.inputNational_ID_Number></td>
  </tr>
  <tr>
    <td id="WD_Gender_promptx">Gender:</td>
    <td><$client.env.inputWD_Gender></td>
  </tr>
</table>
<div id="label-container" hidden></div>

<script src="<$link;/Onboarding/UnplacedPages/js/WD_USA_CompleteEditProfile.js>" defer></script>
<script>
if(self.LoadCallback) {
  LoadCallback(document.forms['frmExtendedUserProfile']);
}
</script>
