<main class="container-fluid">
  <header class="row">
    <div class="col-lg-12">
      <p class="vspace">
        Paramount Group, Inc.
      </p>
      <p class="vspace text-center">
        1899 Pennsylvania Avenue
      </p>
      <h5 class="text-center">
        AGREEMENT REGARDING USE OF THE FITNESS <br>
        FACILITY AND <br>
        WAIVER OF LIABILITY
      </h5>
    </div>
  </header>
  <div class="row vspace">
    <div class="col-lg-12">
      <p>
        I hereby agree that in exchange for my access to and my use of the fitness facility at 1899 Pennsylvania Avenue (“the Facility”), I will comply with the following terms:
      </p>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12">
      <ol class="text-justify">
        <li>
          At all times when using the Facility, I will be in good physical condition sufficient to use theFacility and equipment and to participate in the exercise and fitness activities available. Iunderstand and agree that there are is no on-site staffing for the Facility and that if I needtraining guidance regarding the use of the Facility or equipment, it is my responsibility toobtain that training or guidance elsewhere. I agree not to use the Facility if I am not insufficient condition to use the Facility safely.
        </li>
        <li>
          I understand that I will use the Facility at my own risk and that there is a possibility ofphysical injury or death arising out of my use of the Facility and the equipment in theFacility. <u>I AGREE TO ASSUME THE RISK OF SUCH INJURY AND IDEMNIFY “1899PENN OWNER LP” , THE OWNER OF THE BUILIDNG, ITS LENDERS, PARTNERS,SHAREHOLDERS, EMPLOYEES, PERSONNEL OR AGENTS, FROM LIABILITY FORANY AND ALL INJURY, ILLNESS, HARM OR DAMAGE RESULTING FROM MY USE OFTHE FACILITY OF THE EQUIPMENT, UNLESS THE INJURY, ILLNESS, HARM, ORDAMAGE IS DIRECTLY CAUSED BY THE GROSS NEGLIGENCE OR WILLFULMISCONDUCT OF SUCH PARTIES.</u>
        </li>
        <li>
          I understand that there is no surveillance or security provided inside the Facility and that Ienter and use the Facility (including the equipment and locker rooms) at my own risk.
        </li>
        <li>
          I will observe and follow the rules and regulations governing the use of the Facility,including all warning signs and equipment instructions posted in the Facility.
        </li>
        <li>
          I will not lend my security card to anyone and I will not grant access to the Facility toanyone. I agree that if I do lend my card or grant access contrary to this Agreement, myright of access may be immediately cut off without notification.
        </li>
      </ol>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-6">
      USER OF FACILITY:
    </div>
    <div class="col-lg-6">
      WITNESS:
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-6">
      <$client.env.FormField.a01_Signature.HTML>
      Signature
    </div>
    <div class="col-lg-6">
      <$client.env.FormField.a02_Signature.HTML>
      Signature
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-6">
      <$client.env.FormField.a03_Printed_Name.HTML>
      Printed Name
    </div>
    <div class="col-lg-6">
      <$client.env.FormField.a04_Printed_Name.HTML>
      Printed Name
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-6">
      <$client.env.FormField.a05_Date.HTML>
      <br>Date
    </div>
    <div class="col-lg-6">
      <$client.env.FormField.a06_Date.HTML>
      <br>Date
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-6">
      <$client.env.FormField.a07_Access_FOB_Card_Number.HTML>
      Access Fob/Card Number:
    </div>
    <div class="col-lg-6">
      <$client.env.FormField.a08_Gender.HTML>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-6">
      <$client.env.FormField.a09_Company_Name.HTML>
      Company Name
    </div>
    <div class="col-lg-6">
      <$client.env.FormField.a10_Suite_Number.HTML>
      Suite Number
    </div>
  </div>
</main>
