<main>
    <h1 class="heading">
        <u>
            DIRECT DEPOSIT AUTHORIZATION AGREEMENT
        </u>
    </h1>
    <p>
        <strong>
            SECTION 1: PERSONAL REIMBURSEMENT
        </strong>
    </p>
    <p>
        <strong>
            SECTION 2: PAYROLL
        </strong>
    </p>
    <hr>
    <div class="inline-block vspace">
        <strong>
            PARTNER/ EMPLOYEE NAME
        </strong>
        (print)
    </div>
    <div class="inline-block col-70">
        <input type="text">
    </div>
    <ul class="arrow-list indent-4">
        <li>
            <strong>
                Processing of form will be delayed if both sections are not completed by at least marking one selection (i.e. "Use Payroll bank &#9744; ").
            </strong>
        </li>
    </ul>
    <hr>
    <h2 class="heading">
        SECTION 1: PERSONAL REIMBURSEMENT
        <small>
            - Choose one account.
        </small>
    </h2>
    <div class="inline-block col-15 vspace-sm">
        <strong>
            <u>
                Please select:
            </u>
        </strong>
    </div>
    <div class="inline-block col-85">
        User Payroll back 
        <input type="checkbox">
    </div>
    <div class="clearfix vspace-sm">
        DEPOSITORY/BANK NAME
        <div class="col-80 pull-right">
            <input type="text">
        </div>
    </div>
    <div class="clearfix vspace-sm">
        Bank Transit ABA Number (first nine digits of your check code)
        <div class="col-50 pull-right">
            <input type="text">
        </div>
    </div>
    <div class="clearfix vspace-sm">
        Bank Account Number
        <div class="col-50 inline-block">
            <input type="text">
        </div>
        <div class="col-35 inline-block">
            checking
            <input type="checkbox">
        </div>
    </div>
    <hr>
    <h2 class="heading">
        SECTION 2: PAYROLL
        <small>
            - Choose up to three accounts.
        </small>
    </h2>
    <div class="inline-block col-15 vspace-sm">
        <strong>
            <u>
                Please select:
            </u>
        </strong>
    </div>
    <div class="inline-block col-85">
        User Payroll back 
        <input type="checkbox">
    </div>
    <div class="clearfix vspace-sm">
        DEPOSITORY/BANK NAME
        <div class="col-80 pull-right">
            <input type="text">
        </div>
    </div>
    <div class="clearfix vspace-sm">
        Bank Transit ABA Number (first nine digits of your check code)
        <div class="col-50 pull-right">
            <input type="text">
        </div>
    </div>
    <div class="clearfix vspace-sm">
        Bank Account Number
        <div class="col-50 inline-block">
            <input type="text">
        </div>
        <div class="col-35 inline-block">
            checking
            <input type="checkbox">
        </div>
    </div>
    <div class="inline-block col-40">
        Full Deposit <input type="checkbox">
    </div>
    <div class="inline-block col-30">
        &#36;
        <div class="col-95 inline-block">
            <input type="text">
        </div>
    </div>
    <hr>
    <div class="vspace-sm">
        Establish New Account <input type="checkbox">
    </div>
    <div class="clearfix vspace-sm">
        DEPOSITORY/BANK NAME
        <div class="col-80 pull-right">
            <input type="text">
        </div>
    </div>
    <div class="clearfix vspace-sm">
        Bank Transit ABA Number (first nine digits of your check code)
        <div class="col-50 pull-right">
            <input type="text">
        </div>
    </div>
    <div class="clearfix vspace-sm">
        Bank Account Number
        <div class="col-50 inline-block">
            <input type="text">
        </div>
        <div class="col-35 inline-block">
            checking
            <input type="checkbox">
        </div>
    </div>
    <div class="inline-block col-40">
        Full Deposit <input type="checkbox">
    </div>
    <div class="inline-block col-30">
        &#36;
        <div class="col-95 inline-block">
            <input type="text">
        </div>
    </div>
    <hr>
    <div class="vspace-sm">
        Establish New Account <input type="checkbox">
    </div>
    <div class="clearfix vspace-sm">
        DEPOSITORY/BANK NAME
        <div class="col-80 pull-right">
            <input type="text">
        </div>
    </div>
    <div class="clearfix vspace-sm">
        Bank Transit ABA Number (first nine digits of your check code)
        <div class="col-50 pull-right">
            <input type="text">
        </div>
    </div>
    <div class="clearfix vspace-sm">
        Bank Account Number
        <div class="col-50 inline-block">
            <input type="text">
        </div>
        <div class="col-35 inline-block">
            checking
            <input type="checkbox">
        </div>
    </div>
    <div class="inline-block col-40">
        Full Deposit <input type="checkbox">
    </div>
    <div class="inline-block col-30">
        &#36;
        <div class="col-95 inline-block">
            <input type="text">
        </div>
    </div>
    <hr>
    <p class="vspace">
        I hereby authorize Winston &amp; Strawn LLP, hereinafter called Firm, to initiate credit entries to my checking or savings account(s) indicated above and the depository names above, hereinafter called Depository, to credit the same to such account. This authorization is to remain in full force and effect until the Firm has received written notification from me of its termination in such time and in such manner as to afford Firm a reasonable opportunity to act on it.
    </p>
    <div class="vspace">
        PARTNER/ EMPLOYEE SIGNATURE
        <div class="inline-block col-40">
            <input type="text">
        </div>
        DATE
        <div class="col-25 inline-block">
            <input type="text">
        </div>
    </div>
    <footer>
        <small>
            Form Revised October 2017
        </small>
    </footer>
</main>
