<main class="container-fluid">
  <header class="row border-bottom border-thick vspace">
    <div class="col-lg-offset-1">
      <div class="col-lg-2 col-md-2 bg-black text-center vmin">
        Arizona Form
        <h3 class="padding-less">
          <strong>WEC</strong>
        </h3>
      </div>
      <div class="col-lg-8 col-md-8 text-center border-top vmin">
        <h4 class="">
          <strong>Employee Withholding Exemption Certificate</strong>
        </h4>
      </div>
      <div class="col-lg-2 col-md-2 border-top border-left text-center vmin bg-gray">
        <h2 class="padding-less">
          <strong>2018</strong>
        </h2>
    </div>
  </header>

  <div class="box vspace">
    <div class="row border-bottom">
      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 border-right">
        Type or print your Full Name
        <$client.env.FormField.a01_FullName.HTML>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        Your Social Security Number
        <$client.env.FormField.a02_SocialSecurityNumber.HTML>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-lg-12 col-md-12 col-xs-12">
        Home Address – number and street or rural route
        <$client.env.FormField.a03_HomeAddress.HTML>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        City or Town
        <$client.env.FormField.a05_CityOrTown.HTML>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 border-left border-right">
        State
        <$client.env.FormField.a06_State.HTML>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        ZIP Code
        <$client.env.FormField.a07_ZipCode.HTML>
      </div>
    </div>
  </div>

  <div class="row border-bottom border-thick">
    <div class="col-lg-1 col-md-1 bg-black">
      <h5 class="padding-less">
        <strong>Part 1</strong>
      </h5>
    </div>
    <div class="col-lg-11 col-md-11">
      <strong>Native American Withholding Exemption</strong>
    </div>
  </div>
  <div class="row">
    <div class="help-block">
      <$client.env.FormField.part1_chkbx.HTML>
    </div>
  </div>

  <div class="row vspace">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indent-1">
      1 I am a Native American — Enter your Tribal Census Number:
      <div class="inline-block">
        <$client.env.FormField.part1_TCN.HTML>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indent-1">
      2 I reside on the
      <div class="inline-block">
        <$client.env.FormField.part1_IndianReservation.HTML>
      </div>
      Indian Reservation.
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indent-1">
      3 I am an enrolled member of the tribe for which that reservation was established.
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indent-1">
      4 All my services as an employee of
      <div class="inline-block">
        <$client.env.FormField.part1_companyName.HTML>
      </div>
      are performed within the boundaries of the reservation named above.
    </div>
  </div>
  <div class="row border-bottom border-thick">
    <div class="col-lg-1 col-md-1 bg-black">
      <h5 class="padding-less">
        <strong>Part 2</strong>
      </h5>
    </div>
    <div class="col-lg-11 col-md-11">
      <strong>Nonresident Military Spouse Withholding Exemption</strong>
    </div>
  </div>
  <div class="row">
    <div class="help-block">
      <$client.env.FormField.part2_chkbx.HTML>
    </div>
  </div>
  <div class="row vspace">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indent-1">
      1 I am the spouse of an active duty servicemember.
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indent-1">
      2 Both my spouse and I are Arizona nonresidents. My state of residence is
      <div class="inline-block">
        <$client.env.FormField.part2_stateResidence.HTML>
      </div>
      and my military spouse's state of residence is
      <div class="inline-block">
        <$client.env.FormField.part2_spouseStateResidence.HTML>
      </div>
      (must be the same state).
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indent-1">
      3 My active duty military spouse is in Arizona in compliance with military orders.
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indent-1">
      4 I am present in Arizona solely to be with my military spouse. <br>
      My Military ID Number is:
      <div class="inline-block">
        <$client.env.FormField.part2_militaryIDNumber.HTML>
      </div>
      Date Issued:
      <div class="inline-block">
        <$client.env.FormField.part2_dateIssued.HTML>
      </div>
    </div>
  </div>
  <div class="box vspace">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center bg-gray">
        You must include a copy of your military spouse ID and your spouse's last Leave and Earnings Statement (LES).
      </div>
    </div>
  </div>
  <div class="row border-bottom border-thick">
    <div class="col-lg-1 col-md-1 bg-black">
      <h5 class="padding-less">
        <strong>Part 3</strong>
      </h5>
    </div>
    <div class="col-lg-11 col-md-11">
      <strong>Nonresident Withholding Exemption</strong>
    </div>
  </div>
  <div class="row">
    <div class="help-block">
      <$client.env.FormField.part3_chkbx.HTML>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 indent-1">
      1 I am an Arizona nonresident, and I am a resident of:
    </div>
    <div class="col-lg-12 col-md-12 indent-1">
      <div class="indent-1">
        <$client.env.FormField.part3_residentOf.HTML>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 indent-1">
      2 I am allowed a tax credit against my Arizona taxes for taxes paid to the state checked above.
    </div>
  </div>
  <div class="row border-bottom border-thick">
    <div class="col-lg-1 col-md-1 bg-black">
      <h5 class="padding-less">
        <strong>Part 4</strong>
      </h5>
    </div>
    <div class="col-lg-11 col-md-11">
      <strong>Termination</strong>
    </div>
  </div>
  <div class="row">
    <div class="inline-checkbox help-block">
      <$client.env.FormField.part4_chkbx.HTML>
    </div>

  </div>
  <div class="row border-bottom">
    <div class="col-lg-1 col-md-1 bg-black">
      <h5 class="padding-less">
        <strong>Part 5</strong>
      </h5>
    </div>
    <div class="col-lg-11 col-md-11">
      <strong>Signatures</strong>
    </div>
  </div>
  <div class="box">
    <div class="row border-bottom">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right border-thick text-center bg-gray">
        <h5 class="padding-less">EMPLOYEE</h5>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center bg-gray">
        <h5 class="padding-less hidden-xs hidden-sm">EMPLOYER</h5>
      </div>
    </div>
    <div class="row border-bottom">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right border-thick vmin-12">
        <p class="text-justify">
          Under penalty of perjury, I certify that I am entitled to the exemption from withholding as claimed above.
        </p>
        <div class="form-group bottom">
          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <$client.env.FormField.a10_Signature.HTML>
            Employee's Signature
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <$client.env.FormField.a11_Date.HTML>
            DATE
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 vmin-12">
        <p class="text-justify">
          I have reviewed all documentation required to be submitted with this request and confirm that if the employee is claiming the exemption under Part 1, that the employee's place of employment is located on the reservation named in Part 1.
        </p>
        <div class="form-group bottom">
          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <$client.env.FormField.a09_Employer.HTML>
            Employee's Signature
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <$client.env.FormField.a12_Date.HTML>
            DATE
          </div>
        </div>
      </div>
    </div>
  </div>
  ADOR 10125 (17)
  <hr class="lifesuite__hr">
  <div class="row" id="formButtons" style="display: none;">
    <div class="lifesuite__clearfix lifesuite__float-right">
      <$client.env.FormButtons>
    </div>
  </div>
</main>
